﻿/** Vista theme **/

.t-widget,
.t-input
{
    border-color: #a7bac5;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #fff;
}

/* since vista is a theme, based on an operating system, it has a custom font-family */
.t-widget,
.t-widget button,
.t-widget input,
.t-widget select,
.t-button,
.t-formatted-value
{    
    font-family: "Segoe UI", Arial, sans-serif;
}

/* .small .t-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.t-header,
.t-grid-header
{
    border-color: #a7bac5;
    background: #a6d9f4 url('Vista/sprite.png') repeat-x 0 -752px;
}

.t-icon { background-image: url('Vista/sprite.png'); }
.t-editor .t-tool-icon { background-image: url('Vista/editor.png'); }

.t-loading,
.t-widget .t-loading { background: transparent url('Vista/loading.gif') no-repeat 0 0; }

.t-widget,
.t-link:link,
.t-link:active,
.t-link:visited,
.t-popup
{
    color: #000;
}

.t-group,
.t-content,
.t-editable-area
{
    border-color: #a7bac5;
    background-color: #fff;
}

.t-colorpicker .t-arrow-down
{
    border-color: #a7bac5;
}

.t-separator
{
    border-color: #eaf6fd;
    background-color: #a7bac5;
}

.t-alt
{
    background-color: #f7f7f7;
}

.t-state-default
{
    border-color: #a7bac5;
}

.t-active-filter
{
    background-color: #ceeefd;
}

.t-state-hover,
.t-state-hover:hover
{
    background-color: #e3f4fc;
    border-color: #a7bac5;
}

.t-state-active
{
    background-color: #fff;
    border-color: #a7bac5;
}

.t-state-selected
{
    background-color: #c8e8f8;
}

.t-state-focused
{
    background-color:#90c5e1;
}

.t-state-error
{
    border-color: #f00;
    background-color: #ffc0cb;
}

.t-button
{
	border-color: #a7bac5;
    color: #333;
}

.t-button,
button.t-button.t-state-disabled:hover,
a.t-button.t-state-disabled:hover,
.t-state-disabled .t-button:hover
{
    background: #d1d1d1 url('Vista/sprite.png') repeat-x 0 -560px;
}

.t-button:hover
{
    background-position: 0 -624px;
    background-color: #a7daf4;
}

.t-state-disabled,
.t-state-disabled .t-link,
.t-state-disabled .t-button
{
    color: #999;
    border-color: #bbb;
}

.t-toolbar,
.t-grouping-header,
.t-grid-pager,
.t-widget .t-status
{
    border-color: #bbb;
    background-color: #eff7fc;
}

.t-grid td
{
    border-color: #ddd;
}

.t-grouping-row td
{
    background: #fff url('Vista/sprite.png') repeat-x 0 -48px;
}

.t-footer-template td
{
    background-color: #e0e5f5;
    border-color: #aec5d1 #e0e5f5 #fff;
}

.t-group-footer td
{
    background-color: #e0e5f5;
    border-color: #aec5d1;
}

.t-grid-footer,
.t-grid-footer-wrap table
{
    background-color: #e0e5f5;
    border-color: #aec5d1;
}

.t-grouping-header .t-group-indicator
{
    color: #333;
    border-color: #ccc;
}

.t-grouping-dropclue
{
    background: url('Vista/sprite.png') no-repeat -48px -288px;
}

.t-grouping-row .t-group-cell,
.t-grouping-row p
{
    background: #fff;
}

.t-grouping-row p
{
    margin-left: -.6em;
    padding-left: .6em;
}

.t-treeview .t-drop-clue
{
    background-image: url('Vista/sprite.png');
    background-position: 0 -358px;
}

.t-treeview .t-state-selected
{
    border-color: #99defd;
}

.t-panelbar .t-link,
.t-panelbar .t-group,
.t-panelbar .t-content
{
    border-color: #aaa;
    font-weight:bold;
}

.t-calendar th
{
    border-color: #e0e0e0;
}

.t-other-month .t-link
{
    color: #777;
    font-weight:bold;
}

.t-editor-button .t-state-hover
{
    border-color: #ebf6fd #88a1af #88a1af #ebf6fd;
    background-color: #c9e8fa;
}

.t-editor-button .t-state-active
{
    border-color: #809eae #bae1f5 #bae1f5 #809eae;
    background-color: #95cfec;
}

/*Slider*/

.t-slider .t-draghandle
{
	background-image:url('Vista/sprite.png');
	color:#333;
}

.t-slider-track
{
	border-color:#d3dce2;
}

.t-slider-horizontal .t-slider-track,
.t-slider-horizontal .t-slider-selection
{
	background-image:url('Vista/sprite.png');
}

.t-slider-vertical .t-slider-track,
.t-slider-vertical .t-slider-selection
{
	background-image:url('Vista/sprite-vertical.png');
}

.t-slider-horizontal .t-tick
{
    background-image:url('Vista/slider-h.gif');
}

.t-slider-vertical .t-tick
{
    background-image:url('Vista/slider-v.gif');
}

/*Tooltip*/

.t-tooltip
{
    border-color:#767676;
	background:#e4e5f0 0 -96px repeat-x url('Vista/sprite.png');
}

.t-callout
{
	background-image:url('Vista/sprite.png');
}

/* Splitter */

.t-splitbar-vertical,
.t-ghost-splitbar-vertical
{
    background-image: url('Vista/sprite.png');
}

.t-splitbar-horizontal,
.t-ghost-splitbar-horizontal
{
    background-image: url('Vista/sprite-vertical.png');
}

/* Upload */

.t-dropzone-active,
.t-upload-files
{
    border-color: #d2dfe6;
}

.t-dropzone-hovered,
.t-upload-files
{
    background-color: #eff7fc;    
}

.t-dropzone em
{
    color: #a7bac5;
}

.t-progress,
.t-progress-status
{
    background-image: url('Vista/sprite.png');
}

.t-progress
{
    background-position: 0 -467px;
    border-color: #bfd0da #c4d4dd;
}

.t-progress-status
{
    background-position: 0 -471px;
    border-color: #1db2ee transparent #0067c2;
}

/* ImageBrowser */

.t-imagebrowser .t-content
{
    background: #f1f1f1;
}

.t-breadcrumbs .t-link
{
    color: #666;
    font-weight:bold;
}

.t-breadcrumbs .t-link:hover
{
    color: #06c;
}

.t-breadcrumbs .t-first,
.t-breadcrumbs .t-first:hover,
.t-search-wrap label
{
    color: #777d81;
}

.t-tiles
{
    border-color: #a7bac5;
    background: #fff;
}

.t-tile
{
    border-color: #fff;
    background:0 100px repeat-x url('Vista/imagebrowser.png');
}

.t-tiles li.t-state-hover
{
    border-color: #99defd;
    background-position: 0 0;
}

.t-tiles li.t-state-selected
{
    border-color: #9bd3f0;
    background-position: 0 -100px;
}

.t-tile .t-folder
{
    background-image:url('Vista/imagebrowser.png');
}

.t-tile em,
.t-tile .t-filesize
{
    color: #767d80;
}

.t-tile-empty strong
{
    color: #a7bac5;
}