﻿body
{
}
img
{
    border: 0px;
}
.ArchiveLink
{
    font-size: 13px;
    color: #0B55C4;
    text-decoration: underline;
    font-weight: bold;
}
.ArchiveLink:hover
{
    text-decoration: underline;
    cursor: pointer;
}

input[type="submit"]
{
    border: -1px;
}

.imgCommon
{
    padding: 3px;
}
.imgCommon:hover
{
    cursor: pointer;
    background-color: #ccc;
    padding:3px;
}
.btnSaveDrug
{
    background-color: transparent;
    background-image: url('../../content/themes/base/images/save_order.png');
    background-repeat: no-repeat;
    height: 22px;
    width: 66px;
}
.imgbtnClasspnl
{ border: 0px;
    padding: 1px 1px 1px 1px;
    background-color: transparent;
    background-image: url('../../content/themes/base/images/save_button.png');
    background-repeat: no-repeat;
    height: 45px;
    width: 50px;
}
.imgbtnClasspnl:hover
{ border: 0px;
    cursor: pointer;
    background-color: #ccc;
    background-image: url('../../content/themes/base/images/save_button.png');
    background-repeat: no-repeat;
    height: 45px;
    width: 50px;
}

.imgbtnClasspnlSavetoall
{ border: 0px;
    padding: 1px 1px 1px 1px;
    background-color: transparent;
    background-image: url('../../content/themes/base/images/savetoall.gif');
    background-repeat: no-repeat;
    height: 50px;
    width: 65px;
}
.imgbtnClasspnlSavetoall:hover
{ border: 0px;
    cursor: pointer;
    background-color: #ccc;
    background-image: url('../../content/themes/base/images/savetoall.gif');
    background-repeat: no-repeat;
    height: 50px;
    width: 65px;
}



.imgbtnSendEmail
{
    cursor: pointer;
    padding: 1px 1px 1px 1px;
    background-color: transparent;
    background-image: url('../../Content/themes/base/images/ControlPanel/images/toolbar/email-icon.png');
    background-repeat: no-repeat;
    height: 45px;
    width: 41px;
}
.btnAddNew
{
    cursor: pointer;
    width: 70px;
    height: 18px;
    background-image: url("../../Content/themes/base/images/addNew.png");
}
.imgCallLog
{
    padding: 0px 0px 0px 25px;
    background-color: transparent;
    height: 16px;
    width: 15px;
    background-image: url('../../Content/themes/base/images/call-log-icon.png');
    background-repeat: no-repeat;
}


