﻿body {
}
img
{
    border: 0px;
}
.imgbtnClasspnl
{
    padding: 1px 1px 1px 1px;
    background-color: transparent;
    background-image: url('../../content/themes/base/images/save_button.png');
    background-repeat: no-repeat;
    height: 45px;
    width: 50px;
}
.imgbtnClasspnl:hover
{
    cursor: pointer;
    background-color: #ccc;
    background-image: url('../../content/themes/base/images/save_button.png');
    background-repeat: no-repeat;
    height: 45px;
    width: 50px;
}
.st_filestarted
    {
        background-color: #b4b4b3;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
  .st_proposalout
    {
        background-color: #e5b227;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    
    .st_agreementout
    {
        background-color: #d62e36;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }   
    
    .st_proposalin
    {
        background-color: #2c55ee;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }  
    .st_newprospectus
    {
        background-color: #b4b4b3;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }  
    .st_callback
    {
        background-color: #e5b227;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }  
    .st_badlead
    {
        background-color: #000000;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }   
    .st_notinterested
    {
        background-color: #d62e36;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }  
     .statuscompleted    
{
    background-color: green;
    border-radius: 3px;
    color: white;
    padding: 1px 5px;
    border-radius: 3px;
    align-content:center;
    align-items:center;
    width:80px;
    display: inline-block;
}
.statuspending   
{
    background-color: #FF4500;
    border-radius: 3px;
    color: white;
    padding: 1px 5px;
    border-radius: 3px;
    align-content:center;
    align-items:center;
    width:80px;
    display: inline-block;
}
.statusrescheduled    
{
    background-color: #cccc00;
    border-radius: 3px;
    color: white;
    padding: 1px 5px;
    border-radius: 3px;
    align-content:center;
    align-items:center;
    width:80px;
    display: inline-block;
}
.statuscancelled   
{
    background-color: black;
    border-radius: 3px;
    color: white;
    padding: 1px 5px;
    border-radius: 3px;
    align-content:center;
    align-items:center;
    width:80px;
    display: inline-block;
}
.statusundefined   
{
    background-color: red;
    border-radius: 3px;
    color: white;
    padding: 1px 5px;
    border-radius: 3px;
    align-content:center;
    align-items:center;
    width:80px;
    display: inline-block;
}