﻿Body
{
    padding: 0px;
    margin-top: 0px;
    width: 100%;
}
#ctl00_ContentPlaceHolder1_tdPrintReport
{
    padding: 0px;
    display: none;
}
#Report_Menu
{
    padding: 0px;
    display: none;
}
#Report_Footer
{
    padding: 0px;
    display: none;
}
#Report_Welcome_Note
{
    padding: 0px;
    display: none;
}
#toolbar-box
{
    padding: 0px;
    display: none;
}
#tr_header
{
    padding: 0px;
    display: none;
}
#tr_Menu
{
    padding: 0px;
    display: none;
}
#clr_start
{
    padding: 0px;
    display: none;
}
#clr_End
{
    padding: 0px;
    display: none;
}
#padding
{
    padding: 0px;
    margin: 0px;
}
#element-box .t
{
    padding: 0px;
    display: none;
}

#element-box .m
{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

#element-box .b
{
    padding: 0px;
    display: none;
}
#ctl00_tdGeneral
{
    padding: 0px;
    display: none;
}
#tblStatement
{
    padding: 0px;
    margin: 0px;
}

#repTotal
{
    background-color: Red;
}

#test
{
    border: 0px;
}
#top
{
    display: none;
}
#bottom
{
    display: none;
}

#info
{
    display: none;
}
#flyout
{
    display: none;
}
#tdphReports
{
    padding: 0px;
    margin: 0px;
}
#ctl00_tdAdmin
{
    display: none;
}
#popSPE
{
    display: none;
}
#ctl00_ContentPlaceHolder1_viewReport_ModalWindow1
{
    display: none;
}
#SEPPop_backgroundElement
{
    display: none;
}
#tt
{
    border: 0px;
}
#Maintab
{
    border: 0px;
}
.tabs-header
{
    border: 0px;
}
.tabs-panels
{
    border: 0px;
}
.ReviewDisclaimer
{
    /*border:2px solid red;    */
    background-color: #e03625;
    color: #fff;
}


#tblsummary
{
    border: 1px solid #999999;
}


#popupEmail
{
    display: none !important;
}

.mc-column
{
    display: none;
}

#CompleteButtonDiv
{
    display: none;
}

.tempborder
{
    border: 1px solid #999999;
}
#img1
{
    display: none;
}
.plus_btn
{
    display: none;
}
td.matchmeter
{
    width: 32%;
    
}
td.column1
{
    width: 33%;
    
}
td.column2
{
    width: 33%;
    
}
.matchblue
{
    display: none;
}
.matchblue2
{
    display: block;
    margin-left: 5%;
}
.matchgreen
{
    display: none;
}
.matchyellow
{
    display: none;
}
.matchred
{
    display: none;
}
.matchgray
{
    display: none;
}
.matchgreen2
{
    display: block;
    margin-left: 5%;
}
.matchyellow2
{
    display: block;
    margin-left: 5%;
}
.matchred2
{
    display: block;
    margin-left: 5%;
}
.matchgray2
{
    display: block;
    margin-left: 5%;
}
.width_class
{
    display: block;
}
.StatusLogSection
{
    display:none;
    }
     .actionbtn
    {
        display:none;
        }
