@charset "utf-8";
/* CSS Document */

.Center_ImgMVC {
    background-color: #0078bd !important;
    background-image: none !important;
	height: 80px !important;
	margin-bottom:-10px !important;
}

tr .ncr_header_data  span {
    float:left;
}

.Center_ImgMVC ul li a {
    margin-top: -22px !important;
}
