﻿@{
    ViewBag.Title = "Account History";
}

<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>


<link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet"
      type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet"
      type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet"
      type="text/css" />
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/KendoJS/kendo.web.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/gen_validatorv4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=06052015")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Pages/NewReport.js?v=06052015")" type="text/javascript"></script>

<link href="@Url.Content("~/Design2/Css/main-bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design2/Css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design2/Css/Selectyze.jquery.css")" rel="stylesheet" type="text/css" />


<script src="@Url.Content("~/Design2/Js/jquery.js")" type="text/javascript"></script>

@*<script src="@Url.Content("~/Design2/Js/bootstrap-min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Design2/Js/a-doc.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("res.axd?v=49.0")"></script>


<link href="@Url.Content("~/newfavicon.gif")" rel="shortcut icon" type="image/x-icon" />

<script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=5")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet"
      type="text/css" />

<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet" type="text/css" />

<script src="../../Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ZeroClipboard.js")" type="text/javascript"></script>

@Html.Hidden("PageSize")
@Html.Hidden("PageNo")
<div id="content-box" class="white-bg">

    <div id="toolbar-box" class="white-bg">

        <table width="100%">
            <tr>
                <td class="padding-header">
                    <div id="radiobotton" style="margin-top:50px; margin-bottom:0px;">
                        <table>
                            <tr style="height: 10px;">
                                <td style="text-align: right;">
                                    <input type="radio" name="SelectCreteria" value="1" class="target" id="showallrbtn" />
                                </td>
                                <td style="width: 20%; text-align: left; font-size: 14px;"><font>Show All</font></td>
                                <td style="text-align: right">
                                    <input type="radio" name="SelectCreteria" value="2" class="target" id="invoicesbtn" />
                                </td>
                                <td style="width: 20%; text-align: left; font-size: 14px;"><font>Invoices</font></td>
                                <td style="text-align: right">
                                    <input type="radio" name="SelectCreteria" value="3" class="target" id="paymentsbtn" />
                                </td>
                                <td style="width: 20%; text-align: left; font-size: 14px;"><font>Payments</font></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>


    </div>
    <div class="alert alert-success manage-alert" id="NoRecordsMessages" style="display: none; margin-top: 16px;">
        Currently there is no Invoice Data available.
    </div>
    <div id="element-box">
        <div class="white-bg">
            <div style="clear: both; padding: 10px 10px 10px 10px;">
                <table align="center" border="0" style="width: 100%">
                    <tr>
                        <td align="center" valign="middle">
                            @*<div id="NoRecordsMessages" class="displaysuccessmsg" style="display: none; width: 250px">
                                    Currently, there is no data available.
                                </div>*@
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div id="ShowallGrid">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div id="PaymentsGrid" style="display: none">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" >
                            <div id="InvoiceGrid" style="display: none;text-align:left;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
@*<div id="divPayInvoice" style="border-color: Black; width: 600px; border-width: 1px;
    position: fixed; top: 0%; border-style: solid; overflow-x: hidden; background-color: White;
    display: none;">*@
<div id="divPayInvoice" style="display: none; height: 430px; width: 620px;">
    <div>
        @* <img onclick="CloseWindow()" style="float:right;padding:5px;" src="@Url.Content("~/Content/themes/base/images/close_off.gif")" alt="Close" />*@
    </div>
    <table id="tblResult" style="height: 250px; width: 100%; display: none;" border="0">
        <tr>
            <td align="center" valign="top" colspan="3">
                <img src="@Url.Content("~/Content/themes/base/images/PaymentPB3.png")" alt="" title="" />
            </td>
        </tr>
        <tr bgcolor="#D4DFEB">
            <td align="left" valign="middle" height="26px" colspan="3">
                <b><span class="text">Payment Information - Step 3 of 3</span></b>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td valign="top" align="center" style="height: 130px;">
                <table cellpadding="3" cellspacing="0">
                    <tr>
                        <td align="center">
                            <label id="lblMessageBox">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <label id="lblMessage">
                            </label>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <div id="DivLoading" style="display: none; position: absolute;">
                    <img src="@Url.Content("~/Content/themes/base/images/ajax-loading.gif")" alt="loader" />
                </div>
            </td>
        </tr>
    </table>
    @* @using (Html.BeginForm("MakePayment", "Control"))*@
    @using (Ajax.BeginForm("MakeInvoicePayment", "Payment", new AjaxOptions { OnSuccess = "MakePaymentSucess", LoadingElementId = "DivLoading" }))
    {
        <table id="Table1" width="100%" style="height: 270px;" border="0">
            <tr>
                <td align="center" valign="top" colspan="3">
                    <img src="@Url.Content("../Content/themes/base/images/PaymentPB1.png")" alt="" title="" />
                </td>
            </tr>
            <tr bgcolor="#D4DFEB">
                <td style="padding: 0 10px;" align="left" valign="middle" height="26px" colspan="3">
                    <b><span class="text">Payment Information - Step 1 of 3</span></b>
                </td>
            </tr>
            <tr>
                <td valign="top" align="center" colspan="3" style="height: 150px; padding-top: 10px;">
                    <table cellpadding="2" cellspacing="2" width="100%" border="0">
                        <tr>
                            <td class="alt_column" style="width: 130px;" align="right" valign="top">
                                <span class="star">*</span>Payment Amount :
                            </td>
                            <td align="left" style="width: 400px;" valign="top" style="font-size: 11px;">
                                <input id="StatementBalance" checked="checked" name="rdbPaymentType" onclick="GetSelectedColumn(this.id);"
                                       type="radio" value="1" />Statement Balance
                                <input id="OutStandingBalance" name="rdbPaymentType" type="radio" onclick="GetSelectedColumn(this.id);"
                                       value="2" />Outstanding Balance
                                <input id="OtherAmount" name="rdbPaymentType" type="radio" onclick="GetSelectedColumn(this.id);"
                                       value="3" />Other Amount
                            </td>
                            <td align="left" valign="top">
                                <img id="ImgProcess" style="display: none;" src="../Content/themes/base/images/ajax-loader3.gif"
                                     alt="Processing" />
                            </td>
                        </tr>
                    </table>
                    <table cellpadding="2" cellspacing="2" width="100%" border="0">
                        <tr id="trStatementBalance">
                            <td style="width: 130px;" class="alt_column" align="right" valign="top">
                                <span class="star">*</span>Statement Balance :
                            </td>
                            <td align="left" valign="top" style="font-size: 11px; color: #CB842E; width: 400px;">
                                <div id="StatementList">
                                </div>
                            </td>
                            <td></td>
                        </tr>
                        <tr id="trOutStandingBalance" style="display: none;">
                            <td style="width: 130px;" class="alt_column" align="right" valign="top">
                                <span class="star">*</span>Outstanding Balance :
                            </td>
                            <td align="left" valign="top">
                                <label id="lblOutstandingAmount">
                                </label>
                                <input type="hidden" id="OutStandingAmount" name="OutStandingAmount" value="" />
                                <input type="hidden" id="CompanyId" name="CompanyId" value="" />
                            </td>
                            <td></td>
                        </tr>
                        <tr id="trOtherAmount" style="display: none;">
                            <td style="width: 130px;" class="alt_column" align="right" valign="top">
                                <span class="star">*</span>Other Amount :
                            </td>
                            <td style="padding-left: 10px;" align="left" colspan="2" valign="top">
                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                    <tr>
                                        <td style="width: 80px;" align="left" valign="top">
                                            <input type="text" id="txtOtherAmount" name="txtOtherAmount" style="width: 80px;"
                                                   onkeypress="return AllowNumbers(event);" />
                                        </td>
                                        <td align="left" valign="top">
                                            Apply To:
                                            <select id="ddlOpenInvoice" name="ddlOpenInvoice" style="width: 100px;"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="left"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 15px 0;" colspan="3" align="center">
                                <input class="mainclass-button" type="button" value="Submit" onclick="UserInfoView()" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <label id="lblPayMsg">
                                </label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <table id="Table2" style="height: 520px; width: 100%; display: none;" border="0">
            <tr>
                <td align="center" valign="top">
                    <img src="@Url.Content("~/Content/themes/base/images/PaymentPB2.png")" alt="" title="" />
                </td>
            </tr>
            <tr bgcolor="#D4DFEB">
                <td align="left" valign="middle" height="26px">
                    <b><span class="text">Payment Information - Step 2 of 3</span></b>
                </td>
            </tr>
            <tr>
                <td valign="top" align="center">
                    <table width="100%" cellpadding="2" cellspacing="2" border="0">
                        <tr>
                            <td style="width: 140px;" class="alt_column">
                                <span class="star">*</span>Card Number :
                            </td>
                            <td align="left">
                                <input type="text" id="txtCardumber" name="txtCardumber" style="width: 180px" class="k-textbox"
                                       required validationmessage="Please enter card number" />@*maxlength="16"*@
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="alt_column">
                                    <span class="star">*</span>Exp. Date :
                                </td>
                                <td align="left">
                                    <select id="ddlCardExpiryMonth" name="ddlCardExpiryMonth" style="width: 81px">
                                        <option value="-1">Month</option>
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                    <select id="ddlCardExpiryYear" name="ddlCardExpiryYear" style="width: 81px">
                                        <option value="-1">Year</option>
                                        @for (int j = DateTime.Now.Year; j <= DateTime.Now.Year + 10; j++)
                                        {
                                            <option value="@j">@j</option>
                                        }
                                    </select>
                                    @*    <asp:dropdownlist id="ddlCardExpiryMonth" runat="server" width="81px">
                                                                    </asp:dropdownlist>
                                        &nbsp;&nbsp;<asp:dropdownlist id="ddlCardExpiryYear" width="81px" runat="server">
                                                                    </asp:dropdownlist>
                                        <asp:comparevalidator id="CmpMonth" runat="server" controltovalidate="ddlCardExpiryMonth"
                                            valuetocompare="-1" cssclass="ValidatorStyle1" operator="NotEqual" display="Dynamic"
                                            setfocusonerror="true" errormessage="Select month" validationgroup="Add"></asp:comparevalidator>
                                        <asp:comparevalidator id="CmpYear" runat="server" controltovalidate="ddlCardExpiryYear"
                                            valuetocompare="-1" cssclass="ValidatorStyle1" operator="NotEqual" display="Dynamic"
                                            setfocusonerror="true" errormessage="Select year" validationgroup="Add"></asp:comparevalidator>*@
                                </td>
                            </tr>
                            <tr>
                                <td class="alt_column">
                                    <span class="star">*</span>First Name :
                                </td>
                                <td align="left">
                                    <input type="text" id="txtFname" name="txtFname" style="width: 180px" class="k-textbox"
                                           required validationmessage="Please enter first name" />
                                </td>
                            </tr>
                            <tr>
                                <td class="alt_column">
                                    <span class="star">*</span>Last Name :
                                </td>
                                <td align="left">
                                    <input type="text" id="txtLname" name="txtLname" style="width: 180px" class="k-textbox"
                                           required validationmessage="Please enter last name" />
                                </td>
                            </tr>
                            <tr>
                                <td class="alt_column" valign="top">
                                    Company :
                                </td>
                                <td align="left" valign="top">
                                    <input type="text" id="txtComapny" name="txtComapny" style="width: 180px" />
                                </td>
                            </tr>
                            <tr>
                                <td class="alt_column" valign="top">
                                    <span class="star">*</span>Address :
                                </td>
                                <td align="left">
                                    <textarea id="txtAddress" name="txtAddress" style="width: 180px" class="k-textbox"
                                              required validationmessage="Please enter address"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="alt_column">
                                    <span class="star">*</span>City :
                                </td>
                                <td align="left">
                                    <input type="text" id="txtCity" name="txtCity" style="width: 180px" class="k-textbox"
                                           required validationmessage="Please enter city" />
                                </td>
                            </tr>
                            <tr>
                                <td class="alt_column">
                                    <span class="star">*</span>State :
                                </td>
                                <td align="left">
                                    @*<select id="ddlState" name="ddlState" style="width: 184px">
                                        </select>*@
                                    <select id="ddlState" name="ddlState" style="width: 184px">
                                        <option value="AL">Alabama</option>
                                        <option value="AK">Alaska</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="CA">California</option>
                                        <option value="CO">Colorado</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="DC">District Of Columbia</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="ID">Idaho</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IN">Indiana</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NV">Nevada</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="OH">Ohio</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="OR">Oregon</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="TX">Texas</option>
                                        <option value="UT">Utah</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WA">Washington</option>
                                        <option value="WV">West Virginia</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="WY">Wyoming</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="alt_column">
                                    <span class="star">*</span>Zip :
                                </td>
                                <td align="left">
                                    <input type="text" id="txtZip" name="txtZip" style="width: 180px" class="k-textbox"
                                           required validationmessage="Please enter zip" />
                                </td>
                            </tr>
                            <tr>
                                <td class="alt_column">
                                    <span class="star">*</span>Country :
                                </td>
                                <td align="left">
                                    <select id="ddlCountry" name="ddlCountry" style="width: 184px">
                                        <option value="US">United States</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="alt_column">
                                    <span class="star">*</span>Email :
                                </td>
                                <td align="left">
                                    <input type="email" id="txtEmail" name="txtEmail" style="width: 180px" class="k-textbox"
                                           required validationmessage="Please enter email" required data-email-msg="Email format is not valid" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding-left: 150px;">
                                    <input type="submit" onclick="return CheckValidation();" id="btnSubmit" value="Submit" style="width: 60px;" />
                                    <input type="button" id="btnClearPopup" onclick="ClearPaymentInformation();" value="Clear" style="width: 60px;" />
                                    <input type="button" id="btnBackButton" value="Back" onclick="FirstView()" style="width: 60px;" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

    }
</div>
<style>
    .displaysuccessmsg {
        font-size: 11px;
        background-position: left;
        background-repeat: no-repeat;
        border: solid 1px #106110;
        color: #3D993D;
        font-weight: bold;
        display: inline-block;
        background-color: #E7FBE7;
        background-image: url('../Content/themes/base/images/tick.png');
        padding: 5px 5px 5px 20px;
    }

    .target {
    }

    .k-header .k-link {
        text-align: left;
    }
</style>
<script>
    var selectList = '<span style="width:500px;text-align:right;float:right;">    Page Size: <select id="ddlPageSize" onchange="ChangePageSize(this.value);" style="width:50px;" id="mySelect"><option value="25">25</option><option value="50">50</option><option  value="75">75</option><option value="100">100</option></select></span>';
    var pageSize = $("PageSize").val();


    document.getElementById("showallrbtn").checked = true;
    $("#radiobotton .target").change(function () {


        var selectedvalue = $(this).attr("value");

        if (selectedvalue == 1) {
            document.getElementById("ShowallGrid").style.display = "block";
            document.getElementById("PaymentsGrid").style.display = "none";
            document.getElementById("InvoiceGrid").style.display = "none";
        }
        else if (selectedvalue == 2) {
            document.getElementById("ShowallGrid").style.display = "none";
            document.getElementById("PaymentsGrid").style.display = "none";
            document.getElementById("InvoiceGrid").style.display = "block";
        }
        else if (selectedvalue == 3) {
            document.getElementById("ShowallGrid").style.display = "none";
            document.getElementById("PaymentsGrid").style.display = "block";
            document.getElementById("InvoiceGrid").style.display = "none";
        }

    });
    $(document).ready(function () {

        $("#PageSize").val(25);
        $("#PageNo").val(1);

        $(".k-grid-pager").append(selectList);

        var PageSize = $("#PageSize").val();
        var ddlPageSize = $("#ddlPageSize");
        ddlPageSize.val(PageSize);
    });

    //To Clear Payment wizard 2/3 Information.
    //function ClearPaymentInformation() {
    //    $('#txtCardumber').val('');
    //    $('select[id^="ddlCardExpiryMonth"] option[value="-1"]').attr("selected", "selected");
    //    $('select[id^="ddlCardExpiryYear"] option[value="-1"]').attr("selected", "selected");
    //    $('#txtFname').val('');
    //    $('#txtLname').val('');
    //    $('#txtComapny').val('');
    //    $('#txtAddress').val('');
    //    $('#txtCity').val('');
    //    $('select[id^="ddlState"] option[value="0"]').attr("selected", "selected");
    //    $('#txtZip').val('');
    //    $('#txtEmail').val('');
    //}

    $("#ShowallGrid").kendoGrid({
        pageable: true,
        scrollable: false,
        navigatable: true,
        sortable: false,
        columns: [
           { field: "Item", title: " Item", width: 10 },
        //{ field: "Date", title: "Invoice Month-Year", width: 20, template: '#= kendo.toString(Date,"y") #' },
            { field: "Date", title: "Date", width: 20, template: '#= kendo.toString(Date,"MM/dd/yyyy") #' },                                                                            //<input type="checkbox" id="#=pkCompanyUserId#" class="chkunchk" "checked=checked" : "" />  <input id="#=pkCompanyUserId#" class="chkunchk" type="checkbox" />
            { field: "InvoiceNumber", title: "Invoices #", width: 30 },
            { field: "DueDate", title: "Due Date", width: 150, template: '#= kendo.toString(DueDate,"MM/dd/yyyy") #' },
            { field: "InvoiceAmount", title: "Invoice Amount", width: 100, format: "{0:c}" },
           { field: "Adjustment", title: "Adjustment", width: 100, sortable: false, format: "{0:c}" },
           { field: "Discount", title: "Discount", width: 100, sortable: false, format: "{0:c}" },
            { field: "AmountPaid", title: "Amount Paid", width: 100, format: "{0:c}" },
             { field: "RemainingBalance", title: "Balance", width: 100, format: "{0:c}" },
           { field: "TransactionId", title: " TransactionId", width: 30 },
              { field: "PaymentStatus", title: "Action", width: 50 }


        ],
        editable: false,


        dataBound: function () {
            var takeTotal = this.dataSource.total();
            var gridRows = $("#ShowallGrid tbody tr");
            var takeGrid = $("#ShowallGrid").data("kendoGrid");
            var length = gridRows.length;
            var currentdate = new Date();


            var todaydate = kendo.toString(currentdate, "MM/dd/yyyy")

            var totalremeingbalance = 0;
            var remaingBalance = 0;
            if (length == 0) {
                document.getElementById("NoRecordsMessages").style.display = "block";
                document.getElementById("NoRecordsMessages").innerHTML = "Currently, there is no data available.";
            }

            for (i = 0; i < length; i++) {
                var dataItem = takeGrid.dataItem(gridRows[i]);
                var duedate1 = dataItem.DueDate;

                var row = gridRows[i];
                var Status = dataItem.PaymentStatus;
                var duedate = kendo.toString(dataItem.DueDate, "MM/dd/yyyy")

                var invoicedate = kendo.toString(dataItem.Date, "MM/dd/yyyy");
                var ddue = new Date(duedate);
                var tday = new Date(todaydate);
                if (invoicedate == '01/01/1900') {
                    row.cells[1].innerHTML = '-';
                }

                var type = dataItem.Type;
                if (row.cells[5].innerHTML == "$0.00") {
                    row.cells[5].innerHTML = "-";
                }
                row.cells[4].style.textAlign = "left";
                row.cells[5].style.textAlign = "left";
                row.cells[6].style.textAlign = "left";
                row.cells[7].style.textAlign = "left";
                row.cells[8].style.textAlign = "left";

                if (type == "1") {

                    var value = dataItem.Adjustment;
                    if (Status != "1") {
                        if (invoicedate != '01/01/1900') {
                            row.cells[10].innerHTML = '<img src= "@Url.Content("~/Content/themes/base/images/Payinvoice1.png")" Title="Pay Invoice" onclick="OpenPayInvoice( ' + i + ')" />'
                            //gridRows[i].style.backgroundColor = "#FFFFDD"

                        }
                        else {
                            row.cells[10].innerHTML = '-'
                        }
                        if (duedate != '01/01/1900') {

                            //if (duedate <= todaydate) {
                            if (ddue <= tday) {


                                row.cells[3].innerHTML = duedate + "<span style='color:red'>  [Past Due]</span> ";

                                var StatementList = $('#StatementList');
                                var id = "chck_" + i;

                                StatementList.append("<input id='" + id + "' name='chckPayment' type='checkbox' checked='false' value='" + dataItem.pkInvoiceId + "'/>" + "Statement Balance " + "(#" + dataItem.InvoiceNumber + ")" + " :" + "$" + dataItem.RemainingBalance + ",  due" + duedate + "<span style='color:red'>  [Past Due]</span> " + "<br/>");
                                remaingBalance = remaingBalance + dataItem.RemainingBalance;
                                var ddlOpenInvoice = $('#ddlOpenInvoice');
                                totalremeingbalance = totalremeingbalance + dataItem.RemainingBalance;
                                ddlOpenInvoice.append($('<option/>').attr('value', dataItem.pkInvoiceId).text(dataItem.InvoiceNumber));
                                document.getElementById("lblOutstandingAmount").innerHTML = "$" + totalremeingbalance;
                            }
                            else {
                                row.cells[3].innerHTML = duedate;
                            }
                        }
                        else {
                            row.cells[3].innerHTML = '-';
                        }
                    }
                    else {
                        row.cells[10].innerHTML = "-";

                    }

                }
                else if (type == "2") {
                    row.cells[10].innerHTML = "-";
                    row.cells[4].innerHTML = "-";
                    row.cells[6].innerHTML = "-";
                    row.cells[6].innerHTML = "-";
                    row.cells[3].innerHTML = "-";
                    row.cells[8].innerHTML = "-";

                }
            }
        },

        // specify toolbar commands
        dataSource: {
            page: 1,
            pageSize: 50,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,

            schema: {
                data: "Reclist",
                total: "TotalRec",
                model: {
                    fields: {
                        DueDate: { type: "date" },
                        Date: { type: "date" }
                    }
                }
            },

            batch: true,
            transport: {

                read: {
                    url: '@Url.Action("GetAllAccountHistory", "Corporate")',
                    // data: { pkid: id, stats: Status },
                    type: "POST"
                },
                pageSize: $("#PageSize").val(), //set page size
                page: $("#PageNo").val(),
                serverPaging: true, //enable server paging
                serverSorting: true,
                serverFiltering: true,
                parameterMap: function (options) {
                    var data = options;
                    if (options.filter) {
                        var filters = options.filter.filters;
                        for (var i = 0; i < filters.length; i++) {
                            data["filters[" + i + "].Field"] = filters[i].field;
                            data["filters[" + i + "].Operator"] = filters[i].operator;
                            data["filters[" + i + "].Value"] = filters[i].value;
                        }
                    }
                    if (options.sort) {
                        for (var i = 0; i < options.sort.length; i++) {
                            data["sort[" + i + "].Field"] = options.sort[i].field;
                            data["sort[" + i + "].Dir"] = options.sort[i].dir;
                        }
                    }
                    return data;
                }

            }

        }

    });


    $("#PaymentsGrid").kendoGrid({

        pageable: true,
        scrollable: false,
        navigatable: true,
        sortable: true,
        columns: [
           { field: "TransactionId", title: "Transaction Id", attributes: { style: "text-align:LEFT;" }, width: 10 },
            { field: "PaidAmount", title: "Paid Amount", attributes: { style: "text-align:LEFT;" }, width: 20, format: "{0:c}" },
        //           { field: "AdjustmentAmount", title: "Adjustment", width: 20, format: "{0:c}" },
        //            { field: "DiscountAmount", title: "Discount", width: 20, format: "{0:c}" },
            { field: "PaidBy", title: "Paid By", width: 30 },
            { field: "PaidDate", title: "Paid Date", width: 30, attributes: { style: "text-align:LEFT;" }, template: '#= kendo.toString(PaidDate,"MM/dd/yyyy") #' },
            { field: "LastName", title: "Billing Name", attributes: { style: "text-align:LEFT;" }, width: 30 },
           { field: "Email", title: "Email", attributes: { style: "text-align:LEFT;" }, width: 50, }
        ],
        editable: false,

        dataBound: function () {
            var takeTotal = this.dataSource.total();
            $("#lblTotalRecords").html(takeTotal);
            //  document.getElementById("kendoGrid").style.visibility = "visible";
            //document.getElementById("norecord").style.display = 'none';
            var gridRows = $("#PaymentsGrid tbody tr");
            var takeGrid = $("#PaymentsGrid").data("kendoGrid");




            var length = gridRows.length;
            //  alert(length);
            if (length == 0) {
                document.getElementById("NoRecordsMessages").style.display = "block";
                document.getElementById("NoRecordsMessages").innerHTML = "Currently, there is no Payment data available.";
            }
            else {
                for (i = 0; i < length; i++) {
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];




                }
            }
        },

        // specify toolbar commands
        dataSource: {
            page: 1,
            pageSize: 50,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,

            schema: {
                data: "Reclist",
                total: "TotalRec",
                model: {
                    fields: {
                        PaidDate: { type: "date" },
                        Date: { type: "date" }
                    }
                }
            },

            batch: true,
            transport: {

                read: {
                    url: '@Url.Action("GetPaymentHistory", "Corporate")',
                    // data: { pkid: id, stats: Status },
                    type: "POST"
                },
                pageSize: $("#PageSize").val(), //set page size
                page: $("#PageNo").val(),
                serverPaging: true, //enable server paging
                serverSorting: true,
                serverFiltering: true,
                parameterMap: function (options) {
                    var data = options;
                    if (options.filter) {
                        var filters = options.filter.filters;
                        for (var i = 0; i < filters.length; i++) {
                            data["filters[" + i + "].Field"] = filters[i].field;
                            data["filters[" + i + "].Operator"] = filters[i].operator;
                            data["filters[" + i + "].Value"] = filters[i].value;
                        }
                    }
                    if (options.sort) {
                        for (var i = 0; i < options.sort.length; i++) {
                            data["sort[" + i + "].Field"] = options.sort[i].field;
                            data["sort[" + i + "].Dir"] = options.sort[i].dir;
                        }
                    }
                    return data;
                }

            }

        }

    });



    $("#InvoiceGrid").kendoGrid({

        pageable: true,
        scrollable: false,
        navigatable: true,
        sortable: true,
        columns: [
        //<input type="checkbox" id="#=pkCompanyUserId#" class="chkunchk" "checked=checked" : "" />  <input id="#=pkCompanyUserId#" class="chkunchk" type="checkbox" />
            { field: "InvoiceNumber", style: "text-align:LEFT;", title: "Invoice #", width: 30 },
        //            { field: "InvoiceDate", title: "Invoice Month-Year", width: 30, template: '#= kendo.toString(InvoiceDate,"y") #' },
            { field: "InvoiceDate", title: "Date", width: 30, style: "text-align:LEFT;", template: '#= kendo.toString(InvoiceDate,"MM/dd/yyyy") #' },
            { field: "InvoiceDueDate", title: "Due Date", style: "text-align:LEFT;", width: 150, template: '#= kendo.toString(InvoiceDueDate,"MM/dd/yyyy") #' },
            { field: "TotalInvoiceAmount", style: "text-align:LEFT;", title: "Invoice Amount", width: 100, format: "{0:c}" },
            { field: "AmountPaid", title: "Amount Paid", style: "text-align:LEFT;", width: 100, format: "{0:c}" },
            { field: "RemainingBalance", title: "Balance", style: "text-align:LEFT;", width: 100, format: "{0:c}" },
            { field: "PaymentStatus", style: "text-align:LEFT;", title: "Action", width: 50 }


        ],
        editable: false,

        dataBound: function () {
            var takeTotal = this.dataSource.total();

            var gridRows = $("#InvoiceGrid tbody tr");
            var takeGrid = $("#InvoiceGrid").data("kendoGrid");
            var length = gridRows.length;
            var currentdate = new Date();
            var todaydate = kendo.toString(currentdate, "MM/dd/yyyy")

            if (length == 0) {
                document.getElementById("NoRecordsMessages").style.display = "block";
                document.getElementById("NoRecordsMessages").innerHTML = "Currently, there is no Invoice data available.";

            }
            else {
                $('#StatementList').html('');
                for (i = 0; i < length; i++) {
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var Status = dataItem.PaymentStatus;
                    var duedate = kendo.toString(dataItem.InvoiceDueDate, "MM/dd/yyyy")
                    var invoicedate = kendo.toString(dataItem.InvoiceDate, "MM/dd/yyyy");
                    var ddue = new Date(duedate);
                    var tday = new Date(todaydate);

                    if (invoicedate == '01/01/1900') {
                        row.cells[1].innerHTML = '-';

                    }
                    row.cells[0].style.textAlign = "LEFT";
                    row.cells[1].style.textAlign = "LEFT";
                    row.cells[2].style.textAlign = "LEFT";
                    row.cells[3].style.textAlign = "LEFT";
                    row.cells[4].style.textAlign = "LEFT";
                    row.cells[5].style.textAlign = "LEFT";
                    row.cells[6].style.textAlign = "LEFT";
                    if (Status == '1') {
                        row.cells[6].innerHTML = '<img src= "@Url.Content("~/Content/themes/base/images/paymentstatus1.png")" Title="Paid" />'
                    }
                    else if (Status == "2") {
                        row.cells[6].innerHTML = '<img src= "@Url.Content("~/Content/themes/base/images/Payinvoice1.png")" Title="Pay Invoice" onclick="OpenPayInvoice( ' + i + ')" />'
                        var StatementList = $('#StatementList');
                        var id = "chck_" + i;
                        StatementList.append("<input id='" + id + "' name='chckPayment' type='checkbox' checked='false' value='" + dataItem.pkInvoiceId + "'/>" + "Statement Balance " + "(#" + dataItem.InvoiceNumber + ")" + " :" + "$" + dataItem.RemainingBalance + ",  due" + duedate + "<span style='color:red'>  [Past Due]</span> " + "<br/>");
                        var remaingBalance = remaingBalance + dataItem.RemainingBalance;
                        var ddlOpenInvoice = $('#ddlOpenInvoice');
                        var totalremeingbalance = totalremeingbalance + dataItem.RemainingBalance;
                        ddlOpenInvoice.append($('<option/>').attr('value', dataItem.pkInvoiceId).text(dataItem.InvoiceNumber));
                        document.getElementById("lblOutstandingAmount").innerHTML = "$" + totalremeingbalance;
                    }
                    else if (Status == "3") {
                        row.cells[6].innerHTML = '<img src= "@Url.Content("~/Content/themes/base/images/paymentstatus3.png")" Title="Un paid" />'
                    }

                    else {
                        row.cells[6].innerHTML = '-';
                    }

                    if (status != 1) {

                        gridRows[i].style.backgroundColor = "#FFFFDD"
                        if (duedate != '01/01/1900') {
                            if (ddue <= tday) {
                                row.cells[2].innerHTML = duedate + "<span style='color:red'>  [Past Due]</span> ";
                            }
                            else {
                                row.cells[2].innerHTML = duedate;
                            }
                        }
                        else {
                            row.cells[2].innerHTML = '-';
                        }
                    }
                    else {

                    }



                }
            }
        },

        // specify toolbar commands
        dataSource: {
            page: 1,
            pageSize: 50,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,

            schema: {
                data: "Reclist",
                total: "TotalRec",
                model: {
                    fields: {
                        InvoiceDueDate: { type: "date" },
                        InvoiceDate: { type: "date" }
                    }
                }
            },

            batch: true,
            transport: {

                read: {
                    url: '@Url.Action("GetInvoiceHistory", "Corporate")',
                    // data: { pkid: id, stats: Status },
                    type: "POST"
                },
                pageSize: $("#PageSize").val(), //set page size
                page: $("#PageNo").val(),
                serverPaging: true, //enable server paging
                serverSorting: true,
                serverFiltering: true,
                parameterMap: function (options) {
                    var data = options;
                    if (options.filter) {
                        var filters = options.filter.filters;
                        for (var i = 0; i < filters.length; i++) {
                            data["filters[" + i + "].Field"] = filters[i].field;
                            data["filters[" + i + "].Operator"] = filters[i].operator;
                            data["filters[" + i + "].Value"] = filters[i].value;
                        }
                    }
                    if (options.sort) {
                        for (var i = 0; i < options.sort.length; i++) {
                            data["sort[" + i + "].Field"] = options.sort[i].field;
                            data["sort[" + i + "].Dir"] = options.sort[i].dir;
                        }
                    }
                    return data;
                }

            }

        }

    });





</script>
<script type="text/javascript">




    function OpenPayInvoice(No) {
        $("#divPayInvoice").css("display", "block");
        var windowOpenLayout = $("#divPayInvoice").kendoWindow({
            actions: ["Close"],
            draggable: true,
            height: "450px",
            modal: true,
            resizable: false,
            title: "Payment",
            width: "630px"
        }).data("kendoWindow");
        windowOpenLayout.center();
        windowOpenLayout.open();
        OpenPaymentWizard(No)
    }




    function OpenPaymentWizard(No) {
        var chckPayment = document.getElementsByName("chckPayment");

        for (var i = 0; i < chckPayment.length; i++) {

            chckPayment[i].checked = false;
        }

        // document.getElementById("divPayInvoice").style.display='block';
        //var lft=((screen.width)-600)/2;
        //document.getElementById("divPayInvoice").style.left=lft+'px';

        document.getElementById("Table1").style.display = '';
        document.getElementById("Table2").style.display = 'none';
        document.getElementById("tblResult").style.display = 'none';

        if (No == '-1') {

            document.getElementById("OutStandingBalance").checked = true;
            GetSelectedColumn("OutStandingBalance");
        }
        else {

            var Control = document.getElementById("chck_" + No);

            // Control.checked=true;

            document.getElementById("StatementBalance").checked = true;

            GetSelectedColumn("StatementBalance");
        }
    }



    function loadOpenInvoices() {
        var IsAdminPage = '0';
        var cmpId = 0;
        if ($("#hdPageFor").val() == '') {
            IsAdminPage = '1';
        }
        document.getElementById("CompanyId").value = $("#hdnCompanyId").val();
        if ($("#hdnCompanyId").val() != null) {
            cmpId = $("#hdnCompanyId").val();
        }

        $.post('@Url.Action("GetOpenInvoiceAndRemainingBalance", "Corporate")', { CompanyId: cmpId, PageType: IsAdminPage }, function (result) {
            var StatementList = $('#StatementList');
            for (var i = 0; i < result.chkStatementBalance.length; i++) {

                var splitvar = result.chkStatementBalance[i].split('_');
                var id = 'chck_' + i;
                StatementList.append("<input id='" + id + "' name='chckPayment' type='checkbox' value='" + splitvar[0] + "'/>" + splitvar[1] + "<br/>");
            }


            document.getElementById("lblOutstandingAmount").innerHTML = "$" + result.RemainingBalance + ".";
            document.getElementById("lblOutstandingAmount").style.color = "red";
            if (document.getElementById("OutstandingAmount") != null) {
                document.getElementById("OutstandingAmount").value = "$" + result.RemainingBalance;

            }
        });
    }



    function CloseWindow() {
        document.getElementById("divPayInvoice").style.display = 'none';
    }
    function UserInfoView() {
        var StatementBalance = document.getElementById("StatementBalance").checked;
        var OtherAmount = document.getElementById("OtherAmount").checked;
        if (StatementBalance == true) {
            var count = 0;
            var chckPayment = document.getElementsByName("chckPayment");
            for (var i = 0; i < chckPayment.length; i++) {
                if (chckPayment[i].checked) {
                    count++;
                }
            }
            if (count == 0) {
                alert('Please select atleast one statement balance for payment.');
            }
            else {
                NextView();
            }

        }
        else if (OtherAmount == true) {
            var txtOtherAmount = document.getElementById("txtOtherAmount").value;
            if (txtOtherAmount == '') {
                alert('Please enter amount');
            }
            else {
                NextView();
            }
        }
        else {
            NextView();
        }
    }


    function NextView() {
        $.post("@Url.Action("GetBillingCompanyInfo", "Corporate")", {}, function (result) {


            $("#txtFname").val(result.ObjDbCollection[0].FirstName);
            $("#txtLname").val(result.ObjDbCollection[0].LastName);
            $("#txtComapny").val(result.ObjDbCollection[0].CompanyName);
            $("#txtAddress").val(result.ObjDbCollection[0].Address);
            $("#txtCity").val(result.ObjDbCollection[0].City);
            $("#txtZip").val(result.ObjDbCollection[0].Zipcode);
            $("#txtEmail").val(result.ObjDbCollection[0].Email);
            $("#ddlState").val(result.ObjDbCollection[0].fkStateId);
            try {
                $("#ddlCardExpiryMonth").val(result.ObjDbCollection[0].CardExpiryMonth);
                $("#ddlCardExpiryYear").val(result.ObjDbCollection[0].CardExpiryYear);
            } catch (e) {

            }
        });
        document.getElementById("Table1").style.display = 'none';
        document.getElementById("Table2").style.display = '';

    }
    function MakePaymentSucess(Message) {

        document.getElementById("divPayInvoice").style.display = 'block';
        document.getElementById("tblResult").style.display = '';
        document.getElementById("lblMessage").innerHTML = Message;
        document.getElementById("Table1").style.display = 'none';
        document.getElementById("Table2").style.display = 'none';
        return false;

    }

    function CheckValidation() {
        var validator = $("#Table2").kendoValidator().data("kendoValidator");
        if (validator.validate()) {
            return true;
        } else {
            return false;
        }
    }

    function FirstView() {
        document.getElementById("Table1").style.display = '';
        document.getElementById("Table2").style.display = 'none';
    }
    function GetSelectedColumn(id) {

        document.getElementById("trStatementBalance").style.display = 'none';
        document.getElementById("trOutStandingBalance").style.display = 'none';
        document.getElementById("trOtherAmount").style.display = 'none';

        var tr = document.getElementById("tr" + id);

        tr.style.display = 'block';

    }

    function ChangePageSize(val) {
        debugger;

        var selectedBtn = "#ShowallGrid";
        if ($("#showallrbtn").is(":checked"))
            selectedBtn = "#ShowallGrid";
        if ($("#paymentsbtn").is(":checked"))
            selectedBtn = "#PaymentsGrid";

        if ($("#invoicesbtn").is(":checked"))
            selectedBtn = "#InvoiceGrid";



        var ds = $(selectedBtn).data("kendoGrid").dataSource;
        var newPageSize = parseInt(val);
        ds.pageSize(newPageSize);
    }
    function AllowNumbers(e) {
        var keycode = 0;
        if (window.event) {
            keycode = window.event.keyCode;
        } else if (e) {
            keycode = e.which;
        }

        if ((keycode >= 48 && keycode <= 57) || keycode == 46 || keycode == 8 || keycode == 0) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
