﻿@{
    ViewBag.Title = "BillingStatement";
}
<style>
.go_button
{
     background-color: transparent;
    background-image: url("../../Content/themes/base/images/go_button.png");
    background-repeat: no-repeat;
    border: 0 none;
    color: transparent;
    height: 20px;
    width: 36px;
    }

</style>
<input type="hidden" id="txtEmHeader_Subject" runat="server" value="" />



<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet" type="text/css" />

<table align="center" border="0" width="100%">
    <tr>
        <td>
            <div id="content-box" style="padding-top: 45px;">
                <div id="padding" class="padding">
                    <div id="toolbar-box">
                        <div class="t" id="top">
                            <div class="t">
                                <div class="t">
                                </div>
                            </div>
                        </div>
                        <div class="m">
                            <div style="padding: 0px 0px 0px 0px;">
                                <div style="float: left; width: 100%">
                                    <table border="0" width="100%" style="padding-left: 05px;">
                                        <tr>
                                            <td align="right" valign="top">
                                                <b>Month :&nbsp;</b>
                                            </td>
                                            <td align="left" valign="top">
                                                @Html.DropDownList("ddl", ViewData["listData"] as IEnumerable<SelectListItem>)
                                                @*      <asp:dropdownlist id="ddlMonth" runat="server" width="90px" autopostback="false"
                                            onselectedindexchanged="ddlMonth_SelectedIndexChanged" />*@
                                            </td>
                                            <td align="right" valign="top">
                                                <b>Company :&nbsp;</b>
                                            </td>
                                            <td align="left" valign="top">
                                                @Html.DropDownList("ddl", ViewData["listData"] as IEnumerable<SelectListItem>)
                                                @*    <asp:dropdownlist id="ddlCompany" runat="server" autopostback="true" width="168px"
                                            onselectedindexchanged="ddlCompany_SelectedIndexChanged">
                                                            </asp:dropdownlist>*@
                                            </td>
                                            <td align="right" valign="top">
                                                <b>Users :&nbsp;</b>
                                            </td>
                                            <td align="left" valign="top">
                                                @Html.DropDownList("ddl", ViewData["listData"] as IEnumerable<SelectListItem>)
                                                @*  <asp:dropdownlist id="ddlUsers" enabled="false" runat="server" width="168px" autopostback="True"
                                            onselectedindexchanged="ddlUsers_SelectedIndexChanged" />*@
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                            <td valign="top" align="right" style="display: none;">
                                                <b>Sales Rep :&nbsp;</b>
                                            </td>
                                            <td valign="top" align="left" style="display: none;">
                                                @Html.DropDownList("ddl", ViewData["listData"] as IEnumerable<SelectListItem>)
                                                @*    <asp:dropdownlist id="ddlSalesRep" runat="server" autopostback="true" onselectedindexchanged="ddlSalesRep_SelectedIndexChanged"
                                            width="168px">
                                                            </asp:dropdownlist>*@
                                            </td>
                                            <td align="right">
                                                <table border="0" style="padding-right: 5px;">
                                                    <tr>

                                                        <td style="padding-right: 10px; width: 60px;" align="left">
                                                            <a> <img src="../../Content/themes/base/images/accounthistory.png" /></a>
                                                            @*  <asp:imagebutton id="ImgBtnAccountHistory" style="display: none;" runat="server"
                                                        imageurl="~/" alternatetext="Account History"
                                                        onclick="ImgBtnAccountHistory_Click" />*@
                                                        </td>
                                                        <td style="padding-right: 10px; width: 60px" align="left" valign="top">
                                                            <a> <img src="../../Content/themes/base/images/email_small_icon.png" /></a>
                                                            @* <asp:imagebutton id="btnEmail" runat="server" style="" imageurl="~/Resources/Images/email_small_icon.png"
                                                        alternatetext="Email Pdf" onclientclick="TabSelectionEmail(true);return false;" />*@

                                                        </td>
                                                        <td style="padding-right: 10px; width: 60px" align="left" valign="top">
                                                            <a> <img src="../../Content/themes/base/images/print_report.png" /></a>
                                                            @*  <asp:imagebutton id="btnPrint" runat="server" onclick="btnPrint_Click" imageurl="~/Resources/Images/print_report.png"
                                                        alternatetext="Generate Pdf" />*@
                                                        </td>
                                                        <td align="right">
                                                            <a> <img src="../../Content/themes/base/images/pdf_report.png" /></a>
                                                            @*<asp:imagebutton id="BtnPdf" runat="server" onclientclick="TabSelectionSave(true);return false;"
                                                        imageurl="~/Resources/Images/pdf_report.png" alternatetext="Generate Pdf" />*@

                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" valign="top">
                                                <b>Year :&nbsp;</b>
                                            </td>
                                            <td valign="top" align="left">
                                                @Html.DropDownList("ddlYear", ViewData["listData"] as IEnumerable<SelectListItem>)
                                                @*    <asp:dropdownlist id="ddlYear" runat="server" width="90px" autopostback="false" onselectedindexchanged="ddlYear_SelectedIndexChanged" />*@
                                            </td>
                                            <td align="right" valign="top">
                                                <b>Locations :&nbsp;</b>
                                            </td>
                                            <td align="left" valign="top">
                                                @Html.DropDownList("ddlLocation", ViewData["listData"] as IEnumerable<SelectListItem>)
                                                @*<asp:dropdownlist id="ddlLocation" enabled="false" runat="server" autopostback="True"
                                            width="168px" onselectedindexchanged="ddlLocation_SelectedIndexChanged" />*@
                                            </td>
                                            <td align="right" valign="top">
                                                <b>Reference # :&nbsp;</b>
                                            </td>
                                            <td align="left" valign="top">
                                                @Html.DropDownList("ddlCompanyReferenceNo", ViewData["listData"] as IEnumerable<SelectListItem>)
                                                @*<asp:dropdownlist id="ddlCompanyReferenceNo" width="168px" runat="server" autopostback="false"
                                            onselectedindexchanged="ddlCompanyReferenceNo_SelectedIndexChanged">
                                                            </asp:dropdownlist>*@
                                            </td>
                                            <td valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td>
                                                            <input type="submit" class="go_button" value="Go" />
                                                            @*    <a><img src="../../Content/themes/base/images/go_button.png" /></a>*@
                                                            @*<asp:imagebutton id="btnGo" alternatetext="Go" imageurl="~/Resources/Images/go_button.png"
                                                        runat="server" onclick="btnGo_Click" />*@
                                                        </td>
                                                        <td style="min-width: 20px;">
                                                            @* <asp:updateprogress id="UpdateProgress1" associatedupdatepanelid="updTopFilter" runat="server"
                                                        displayafter="0">
                                                                            <ProgressTemplate>
                                                                                <img alt="Loading..." src="../Resources/Images/ajax-loader3.gif" />
                                                                            </ProgressTemplate>
                                                                        </asp:updateprogress>*@
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td align="right" valign="top">
                                                <div style="display: none;">
                                                    <table border="0" style="padding-right: 5px;" cellpadding="0" cellspacing="5">
                                                        <tr>
                                                            <td align="right">
                                                                <b>Auto Pay </b>
                                                                <a><img src="../../Content/themes/base/images/icon_questionmark.gif" /></a>
                                                                @* <asp:imagebutton id="imgDesc" tooltip="Description" alternatetext="Description" runat="server"
                                                            onmouseout="exit()" onmouseover="tooltipLiveRunner1('Auto Pay','By selecting YES for the Auto Pay feature, your invoice will be charged automatically on the 5th of every month onto the credit card on file.')"
                                                            imageurl="~/Resources/Images/icon_questionmark.gif" width="10px" height="10px" />*@
                                                                <b>: </b>
                                                            </td>
                                                            <td align="center">
                                                                @Html.CheckBox("chk")
                                                                <asp:checkbox runat="server" id="chkboxToggle" chk="tog" />
                                                                <asp:label runat="server" id="lblCompanyId" style='display: none;'></asp:label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div>
                                    <div style="float: left;">
                                    </div>
                                </div>
                            </div>
                            <div class="clr">
                            </div>
                        </div>

                        <div class="b">
                            <div class="b">
                                <div class="b">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id="element-box1" style="display: none;">
                            <div class="t">
                                <div class="t">
                                    <div class="t">
                                    </div>
                                </div>
                            </div>
                            <div class="m">
                                <div style="padding: 0px 0px 0px 0px; display: block">
                                    <table cellpadding="0" cellspacing="2" width="100%" border="0">
                                        <tr></tr>
                                    </table>
                                </div>
                            </div>
                            <div class="b">
                                <div class="b">
                                    <div class="b">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div id="clr_start" class="clr">
                    </div>
                    <div id="element-box">
                        <div class="t">
                            <div class="t">
                                <div class="t">
                                </div>
                            </div>
                        </div>
                        <div class="m">
                            @* <asp:updatepanel id="udpPDF" runat="server" updatemode="Always">
                            <ContentTemplate>
                                <asp:Literal ID="LtDynamic" runat="server" Visible="false" />
                                <div id="divbillpdf">
                                    <ViewPDF:ShowPdf ID="pdfBilling" runat="server" BorderStyle="Inset" BorderWidth="2px"
                                        Width="100%" Height="700px" Visible="false" />
                                </div>
                            </ContentTemplate>
                        </asp:updatepanel>*@
                            <div class="clr">
                            </div>
                        </div>
                        <div class="b" id="bottom">
                            <div class="b">
                                <div class="b">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="clr_End" class="clr">
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">

    function TabSelectionEmail(value) {

        display();

        var tabEmail = $find('<%=TabPnlEmail.ClientID %>');
        var tabSave = $find('<%=TabPnlSave.ClientID %>');
        tabEmail._set_active(true);
        tabSave._set_active(false);
        if (value == true) {
            mPopShow();
            return false;
        }
    }
    function TabSelectionSave(value) {

        display();

        var tabSave = $find('<%=TabPnlSave.ClientID %>');
        var tabEmail = $find('<%=TabPnlEmail.ClientID %>');
        tabSave._set_active(true);
        tabEmail._set_active(false);
        if (value == true) {
            mPopShow();
            return false;
        }
    }

    function mPopShow() {
        $find("SEPPop").show();
        var pop = document.getElementById('ctl00_ContentPlaceHolder1_ModalWindow1');
        pop.style.display = 'block';
        var pop1 = document.getElementById('ctl00_ContentPlaceHolder1_ModalWindow1_divPop');
        pop1.style.display = 'block';
        var pdfBilling = document.getElementById('divbillpdf');
        pdfBilling.style.display = 'none';
    }

    function display() {
        var pop_DIS = document.getElementById('SEPPop_backgroundElement');
        pop_DIS.style.display = 'block';
    }

    function CloseWindow() {
        var pdfBilling = document.getElementById('divbillpdf');
        pdfBilling.style.display = 'block';
        var pop = $find('SEPPop'); if (pop == null) return; pop.hide();
    }

    function pageLoad() {
        InitJQuery();
    }

    function InitJQuery() {

        $(document).ready(function () {
            $("span[chk='tog'] :checkbox").iButton({ easing: "easeOutBounce", duration: 1000, labelOn: "Yes", labelOff: "No" })
        });

        $("span[chk='tog']").change(function () {
            var lblId = $(this).find(":checkbox").attr('id');
            lblId = lblId.replace("chkboxToggle", "lblCompanyId")
            var SelCompanyId = document.getElementById(lblId).innerHTML;
            var abc = $(this).find(":checkbox").attr('checked');


            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "../WebService/SiteGeneralSvr.asmx/ToggleAutoPayStatus",
                success: function (msg) {
                    //alert(msg.d);
                },
                // Supply the prameters necessary to retrieve the suspend data.
                data: "{ 'pkCompanyId': '" + SelCompanyId + "', 'Status': '" + abc + "'}",
                // Error!
                error: function (xhr, status, error) {
                    // Boil the ASP.NET AJAX error down to a true JSON object.
                    //var err = eval('(' + xhr.responseText + ')');

                    // Display the specific error raised by the server (e.g. database
                    //   error, timeout, bad argument).
                    //alert("Error Message: " + err.Message + "\r\nStack Trace: " + err.StackTrace);

                }
            });

        });
    }
     
</script>
