    @{
    ViewBag.Title = "Billing Statements";
   // Layout = "~/Views/Shared/_Layout2.cshtml";
}
@if (false)
{
    <div style="padding: 90px 0px 0px 160px;">
     <b>Billing Statements are temporarily unavailable. Please contact Intelifiís billing department for access to current invoice at 888-409-1819.</b>
     </div>
}
else
{
    <div id="content-box" style="padding-top: 50px;">
        <div id="padding" class="padding">
            <div style="padding: 0px 0px 0px 0px;">
                @{Html.RenderAction("PartialDropDownsData", "Common");}
                <div>
                    <div style="float: left;">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="report" style=" margin: auto; width: 98%;">
        @Html.Partial("../Common/PartialBillingStatements")
    </div>

    <script type="text/javascript">

       // setTimeout('loadReport()', 5000);

    </script>
}