﻿@{
    ViewBag.Title = "CustomDeadLockMsg";
}
<style>
.deadlockDiv
{
     margin-bottom: 25.8%;
    margin-left: 30%;
    margin-top: 17%;
   
    }

</style>
<div class="deadlockDiv" style=" float:inherit">
   <h1> Oops! This page has timed out and generated an error.</h1><br />
   <p style=" font-family:Arial; font-size:16px">
    This does not mean that your report has not generated, or that something went wrong.<br />

    Please access your Archives from the following link, and check to see if your report went through: <a href="SavedReports">Archives</a><br />

    If you were not generating an order, you can access the New Reports page here:<a href="NewReport">New Reports</a> <br />

    If you require further assistance, please contact support at 888-409-1819. Thank you!<br />
    </p>
</div>
<script>
    $(document).ready(function () {
        Pageload();


        function Pageload() {
            document.getElementById("tdAdmin").style.display = 'none';
            document.getElementById("tr_header").style.display = 'none';
            document.getElementById("tr_Menu").style.display = 'none';
        }
    });
</script>