﻿@{
    ViewBag.Title = "My Forms";
}

<script type="text/javascript">

    //document.getElementById('tdAdmin').style.display = 'none';
</script>
<div>
    @Html.Partial("../Common/PartialMyForms")
</div>
