﻿@{
    ViewBag.Title = "My Reports";
   
}


<script src="@Url.Content("~/Scripts/gen_validatorv4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=06052015")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Pages/NewReport.js?v=06052015")" type="text/javascript"></script>

    <link href="@Url.Content("~/Design2/Css/main-bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    
    <link href="@Url.Content("~/Design2/Css/Selectyze.jquery.css")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Design2/Js/jquery.js")" type="text/javascript"></script>
   
    @*<script src="@Url.Content("~/Design2/Js/bootstrap-min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Design2/Js/a-doc.js")" type="text/javascript"></script>


<link href="/Content/CompressedCombined(Admin).css?v=2" rel="stylesheet" type="text/css" />
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/CSS/Control.css" rel="stylesheet" type="text/css" />
    <link href="/Content/chat.css" rel="stylesheet" type="text/css" />
    <link href="/Content/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/kendo.common.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ui-lightness/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript"></script>
    <script src="/Scripts/jquery-1.7.1.js" type="text/javascript"></script>
    <script src="/Scripts/Json2.js" type="text/javascript"></script>
    <script src="/Scripts/EmergeCompressedJavascript.js?V=19" type="text/javascript"></script>
    <script src="/Scripts/chat.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-online-1.6.2.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-ui-1.8.2.custom.min.js" type="text/javascript"></script>
    <script src="/Scripts/kendo.all.min.js?v=1.0" type="text/javascript"></script>
    <script src="~/Scripts/tooltip.js" type="text/javascript"></script>
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "EMEdit.js")" type="text/javascript"></script>
<style>
    .report-table {
        margin-bottom:5px;
    }
    .report-table tr:first-child {
        background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #ededed 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #ededed 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    width: 98%;
    border: 1px solid #c1c1c1 !important;
    font-weight: bold;
    font-size: 12px;
    width: auto;
    padding: 10px .5% !important;
    margin: 0 !important;
                color:#575656;

    }
     .report-table tr:first-child td {
    padding: 7px .7% !important;
            font-weight:normal;
            color:#575656;

    }
    .ProductCategoryHeader {
        background-color: #0078bd;
        height:30px;
        color:#fff;
        padding-left:.7%;
        font-weight:normal;

    }
    #tblMyReports > tbody > tr:nth-child(even),
    .table-repeat-block > table:nth-child(even) {
        background:#f5f9ff;
    }
    #tblMyReports > tbody > tr:nth-child(odd),
    .table-repeat-block > table:nth-child(odd) {
        background:#fff;
    }
    #tblMyReports > tbody > tr:hover,
    .table-repeat-block > table:hover {
        background:#fffedc;
    }
    .report-table-inner tr td {
    padding: 14px .5% !important;
    margin: 0 !important;
    border-bottom: 1px solid #c1c1c1;
    font-size:14px;
    }
    #myTab li a:hover {
        color:#fff !important;
    }
    #myTab li.active a {
        color:#fff !important;
    }
    .reporttab li a {
    height: 40px;
    width:90px;
}
    .reporttab li a:focus {
    padding: 10px 15px !important;
    width:90px !important;
    height: 40px;
}

</style>
<input type="hidden" id="txtEmHeader_Subject" runat="server" value="" />
<div class="fixed-margin ">
    <div class="center-application" style="padding-bottom: 60px; padding-top: 55px; ">
        <ul class="nav nav-tabs reporttab" id="myTab">
            <li class="active"><a data-toggle="tab" href="#report" style="margin-left: 0 !important; line-height: 17px;">Report</a></li>
            <li class="" style="margin-left: 0px !important;"><a data-toggle="tab" href="#packages">Packages</a></li>
            <li class="" style="margin-left: 0px !important;"><a data-toggle="tab" href="#products">Products</a></li>
        </ul><br />
        <div class="tab-content" id="myTabContent">
            <div id="report" class="tab-pane fade active in">
               
                <div style="width: 100%; min-height: 400px;">
                    @Html.Partial("../Common/PartialProducts")
                </div>
            </div>
            <div id="packages" class="tab-pane fade">
               
                <div style="width: 100%; min-height: 400px;">
                    @Html.Partial("../Common/PartialPackages")
                </div>
            </div>
            <div id="products" class="tab-pane fade">
               
                <div style="width: 100%; min-height: 400px;">
                    @Html.Partial("../Common/PartialDrugtestingProducts")
                </div>
            </div>


        </div>
    </div>
</div>

