﻿@model Emerge.Models.NewReportModel
@{
    ViewBag.Title = "Report Search";
    Layout = "~/Views/Shared/_LayoutNewReports.cshtml";
}
<script type="text/javascript">

   // document.getElementById('tdAdmin').style.display = 'none';
</script>
<div onmouseout="exit();">
    @Html.Partial("../Common/PartialNewReports")
</div>

