﻿@model Emerge.Models.NewReportModel
@{
    ViewBag.Title = "Report Search";
        //  Layout = "~/Views/Shared/_Adminlayout.cshtml";
}
<script type="text/javascript">

   
</script>
<div onmouseout="exit();">
    @Html.Partial("../Common/PartialNewReport")
</div>

