﻿@model Emerge.Models.SavedReportModel
@{
    Layout = null;
}
<div id="content_left">
    <div id="content_left_menu">
        <table cellpadding="0" cellspacing="0">
            @*<tr>
                <td>
                    <span style="font-weight: bold; color: #0b55c4;">Open Search</span>
                    <br />
                    <table class="RoundBorder">
                        <tr>
                            <td>
                                <div class="textFiel    dWrapper1">
                                    @Html.TextBoxFor(model => Model.Keyword, new { @class = "textField1", onkeypress = "GetControlId(this.id) ; Button_Click(event);", style = "width:140px;height:16px;" })
                                </div>
                            </td>
                            <td>
                                <img id="imgOpenSerch" src="@Url.Content("~/Content/themes/base/images/searchSmall.png")" title="Search" alt="Search"
                                                            style="cursor: pointer" onclick="GetControlId(this.id); BindGrid(0,'AllReports');" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                    <span style="font-weight: bold; color: #0b55c4;">Last 4 of SSN</span>
                    <br />
                    <table class="RoundBorder">
                        <tr>
                            <td>
                                <div class="textFiel    dWrapper1">
                                    <input type="text" class="textField1" id="Keyword2" maxlength="4" onkeypress="GetControlId(this.id);Button_Click(event);"
                                        style="width: 140px; height: 16px;" />
                                </div>
                            </td>
                            <td>
                                <img id="ssnSerch" src="@Url.Content("~/Content/themes/base/images/searchSmall.png")" title="Search" alt="Search"
                                                            style="cursor: pointer" onclick="GetControlId(this.id); BindGrid(0,'AllReports');" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>*@
            <tr style="display: none;">
                <td>
                    <br />
                    <span style="font-weight: bold; color: #0b55c4;">Folders</span>
                    <br />
                </td>
            </tr>
            <tr>
                <td>
                    <div id="DivLoading" style="display: none; position: absolute;">
                        <img src="@Url.Content("~/Content/themes/base/images/ajax-loading.gif")" alt="loader" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                    <span style="font-weight: bold; color: #0b55c4;">Filters</span>
                    <br />
                    <table class="RoundBorder" width="100%">
                        <tr>
                            <td>
                                Folders<br />
                                <div class='container' style="margin-top: 0.9%; margin-left: 1%;">
                                </div>
                                <div id="lblFolder" style="display: none;">
                                </div>
                                @Html.HiddenFor(m => m.ReportCount)
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                Order Date<br />
                                <div class="textFieldWrapper1">
                                    @Html.DropDownListFor(model => model.pkOrderDateId, new SelectList(Model.OrderDateColl, "key", "value"), new { @class = "ddlField1", onchange = "BindGrid(0,'AllReports')" })
                                </div>
                            </td>
                        </tr>
                        <tr id="trMonth" style="display: none;">
                            <td align="left">
                                <div class="textFieldWrapper1">
                                    @Html.DropDownListFor(x => x.Month, new SelectList(new List<object> 
                                                           {                                                                       
                                                                  new{value="January",text="1"},
                                                                  new{value="February",text="2"},
                                                                  new{value="March",text="3"},
                                                                  new{value="April",text="4"},
                                                                  new{value="May",text="5"},
                                                                  new{value="June",text="6"},
                                                                  new{value="July",text="7"},
                                                                  new{value="August",text="8"},
                                                                  new{value="September",text="9"},
                                                                  new{value="October",text="10"},
                                                                  new{value="November",text="11"},
                                                                  new{value="December",text="12"}                                                              
                                                           }, "text", "value"
                                                                                  ), new { @class = "ddlFieldMonth" })
                                </div>
                                <div class="textFieldWrapper1">
                                    @Html.DropDownListFor(model => Model.Year, new SelectList(Model.DictYear, "key", "value"), new { @class = "ddlFieldMonth" })
                                </div>
                            </td>
                        </tr>
                        <tr id="trSpecificDate" style="display: none;">
                            <td>
                                @Html.TextBoxFor(m => m.txtSpecificDate)
                            </td>
                        </tr>
                        <tr id="trSpecificDateRange" style="display: none;">
                            <td>
                                <div class="textFieldWrapper1">
                                    @Html.TextBoxFor(m => m.txtSpecificFrom, new { style = "width:100px" })
                                </div>
                                <div class="textFieldWrapper1">
                                    @Html.TextBoxFor(m => m.txtSpecificTo, new { style = "width:100px" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label id="msgval" style="color: Red; font-size: 92%;">
                                </label>
                            </td>
                        </tr>
                        <tr id="trSearch" style="display: none;">
                            <td>
                                <input class="valclass" type="button" value="Search" onclick="BindGrid(-1,'AllReports')" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Choose Data Sources<br />
                                <div class="textFieldWrapper1">
                                    @Html.DropDownListFor(model => Model.pkProductApplicationId, new SelectList(Model.ObjProductsEmerge, "pkProductApplicationId", "ProductDisplayName"), new { @class = "ddlField1", onchange = "BindGrid(0,'AllReports')" })
                                </div>
                            </td>
                        </tr>
                        @if (Model.UserRoles.Contains("SystemAdmin"))
                        {
                            <tr>
                                <td>
                                    <span>Choose Company</span>
                                    <br />
                                    <div class="textFieldWrapper1">
                                        @Html.DropDownListFor(model => Model.pkCompanyId, new SelectList(Model.ObjCompanyList, "pkCompanyId", "CompanyName"), new { @class = "ddlField1", onchange = "BindGrid(1,'AllReports')" })
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {                                                     
                            @Html.DropDownListFor(model => Model.pkCompanyId, new SelectList(Model.ObjCompanyList, "pkCompanyId", "CompanyName"), new { @class = "ddlField1", onchange = "BindGrid(1,'AllReports')", style = "display:none;" })
                        }
                        @if (Model.UserRoles.Contains("SystemAdmin") || Model.UserRoles.Contains("CorporateManager") || Model.UserRoles.Contains("SupportManager") || Model.UserRoles.Contains("SupportTechnician") || Model.UserRoles.Contains("BasicUser") || Model.UserRoles.Contains("BranchManager") || Model.UserRoles.Contains("ViewOnlyUser"))
                        {
                            if (Model.UserRoles.Contains("BasicUser"))
                            {
                            <tr>
                                <td>
                                    Choose Location<br />
                                    <div class="textFieldWrapper1">
                                        @Html.DropDownListFor(model => Model.LocationId, new SelectList(Model.LocationList, "LocationId", "DisplayLocation"), new { @class = "ddlField1", onchange = "BindGrid(2,'AllReports')", disabled = "disabled" })
                                    </div>
                                </td>
                            </tr>
                            }
                            else
                            {
                            <tr>
                                <td>
                                    Choose Location<br />
                                    <div class="textFieldWrapper1">
                                        @Html.DropDownListFor(model => Model.LocationId, new SelectList(Model.LocationList, "LocationId", "DisplayLocation"), new { @class = "ddlField1", onchange = "BindGrid(2,'AllReports')" })
                                    </div>
                                </td>
                            </tr>
                            }
                        }
                        else
                        {
                            @Html.DropDownListFor(model => Model.LocationId, new SelectList(Model.LocationList, "LocationId", "DisplayLocation"), new { @class = "ddlField1", onchange = "BindGrid(2,'AllReports')", style = "display:none;" })
                        }
                        @if (Model.UserRoles.Contains("SystemAdmin") || Model.UserRoles.Contains("CorporateManager") || Model.UserRoles.Contains("BranchManager") || Model.UserRoles.Contains("SupportManager") || Model.UserRoles.Contains("SupportTechnician"))
                        {
                            <tr>
                                <td>
                                    Choose User<br />
                                    @Html.DropDownListFor(model => Model.CompanyUserId, new SelectList(Model.UserList, "CompanyUserId", "UserEmail"), new { @class = "ddlField1", onchange = "BindGrid(0,'AllReports')" })
                                </td>
                            </tr>
                        }
                        else if (Model.UserRoles.Contains("BasicUser"))
                        {
                            @Html.DropDownListFor(model => Model.CompanyUserId, new SelectList(Model.UserList, "CompanyUserId", "UserEmail"), new { @class = "ddlField1", onchange = "BindGrid(0,'AllReports')", style = "display:none;" })
                        }
                        else
                        {
                            @Html.DropDownListFor(model => Model.CompanyUserId, new SelectList(Model.UserList, "CompanyUserId", "UserEmail"), new { @class = "ddlField1", onchange = "BindGrid(0,'AllReports')", style = "display:none;" })
                        }
                        @Html.HiddenFor(m => m.pkCompanyUserId)
                        <tr>
                            <td>
                                Choose Reference
                                <br />
                                @Html.DropDownListFor(model => Model.pkReferenceCodeId, new SelectList(Model.RefenceCodeList, "ReferenceCode", "ReferenceCode"), new { @class = "ddlField1", onchange = "BindGrid(0,'AllReports')" })
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @* <img src="@Url.Content("~/Content/themes/base/images/Reset all filters.png")" title="Reset"
                                                            alt="Search" style="cursor: pointer" onclick="EmptyGrid();" />*@
                                @*<input type="button" value="Reset" title="Search" style="background-color: Black;
                                                        cursor: pointer; border: 1px solid black; color: White;" onclick="EmptyGrid();" />*@
                                <img src="@Url.Content("~/Content/themes/base/images/Reset all filters.png")" title="Reset All Filter" alt="Search" style="cursor: pointer" onclick="EmptyGrid();ResetDrop();">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>