﻿@model Emerge.Models.NewReportModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        .error_strings
        {
            font-family: Verdana;
            font-size: 11px;
            color: red;
        }
        .Product
        {
            width: 50%;
            color: black;
            border-bottom-color: #E0E0E0;
            padding: 2px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            cursor: pointer;
            font-size: 12px;
        }
        .Product:hover
        {
            background-color: #9dcbe1;
            background-image: url("../Content/textures/highlight.png");
            background-position: 0 center;
            background-position-y: center;
        }
        .ReportColor
        {
            color: #0B55C4;
        }
        .ReportBorder
        {
            border: 1px solid #94c0d2;
            border-top-left-radius: 5px;
            background-color: #DAECF4;
            border-top-right-radius: 5px;
            background-image: url("../Content/textures/highlight.png");
            background-position: 0 center;
            background-position-y: center;
        }
        .ReportBorderRightView
        {
            border-left: 1px solid #94c0d2;
            border-right: 1px solid #94c0d2;
            border-bottom: 1px solid #94c0d2;
            width: 100%;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .ReportBorderRightViewOpen
        {
            border-left: 1px solid #94c0d2;
            border-right: 1px solid #94c0d2;
            border-bottom: 1px solid #94c0d2;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .ReportLeft
        {
            width: 100%;
            border-left: 1px solid #94c0d2;
            border-right: 1px solid #94c0d2;
            border-bottom: 1px solid #94c0d2;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .tblRightPanel
        {
            width: 100%;
            height: 30px;
            cursor: pointer;
            border: 1px solid #94c0d2;
            margin-top: 6px;
            background-color: #DAECF4;
            border-top-right-radius: 5px;
            background-image: url("../Content/textures/highlight.png");
            background-position: 0 center;
            background-position-y: center;
            border-top-left-radius: 5px;
        }
        .tdRightPanel
        {
            padding-left: 5px;
            color: #0b55c4;
            font-weight: bold;
        }
        .beginSearch
        {
            background: url('../Content/themes/base/images/beginsearchbtn.png');
            width: 99px;
            height: 54px;
        }
        .gearImg
        {
            background: url(../Content/themes/base/images/emerge_sprites.png) no-repeat -203px -10px;
            width: 78px;
            height: 73px;
        }
        .ddlField
        {
            border: 1px solid #A7D2E4;
        }
        .TextAreaBorder
        {
            border: #A7D2E4 1px solid;
        }
        .Hinttxt
        {
            font-size: 10px;
            color: #9E3A40;
        }
        .HeaderRow
        {
            background-color: #9ccde0;
            background-image: url('../Content/textures/highlight.png');
            background-position: 0 center;
            background-position-y: center;
        }
        .TopHeaderRow
        {
            background-color: #429cc4;
            background-image: url('../Content/textures/highlight.png');
            background-position: 0 center;
            background-position-y: center;
        }
    </style>
    <link href="@Url.Content("~/Content/CompressedCombined(Admin).css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/gen_validatorv4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/CSSNErrors.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.21.custom.min.js")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.blueopal.min.css")" rel="stylesheet"
    type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet"
    type="text/css" />
    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js")" type="text/javascript"></script>
</head>
<body>
    <div>
        @using (Html.BeginForm("SubmitReport", "CommonNewReport", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
        {          
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr class="HeaderRow" style="height: 15px;">@* bgcolor="#cccccc"*@@* class="TopHeaderRow" *@
                    <td colspan="3" align="right">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <div class="menu_seperator_container">
                                        <div class="menu_bartop">
                                            <ul>
                                                <li class="support"><span>Support</span>
                                                    <ul class="supportUL">
                                                        <table width="100%" style="border-right: 2px solid #c0c0c0;" cellpadding="0" cellspacing="0"
                                                            id="tblSupport">
                                                            <tr>
                                                                <td width="28px" align="left" class="support_btmBorder">
                                                                    <span>CHAT</span>
                                                                </td>
                                                                <td class="support_btmBorder">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="28px" class="support_btmBorder" align="center" valign="middle">
                                                                    <img src="@Url.Content("~/Content/themes/base/images/man.gif")" alt="" />
                                                                </td>
                                                                <td align="left" class="support_btmBorder">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" class="support_btmBorder">
                                                                    <span>EMAIL</span>
                                                                </td>
                                                                <td class="support_btmBorder">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" class="support_btmBorder">
                                                                </td>
                                                                <td align="left" class="support_btmBorder">
                                                                    <a href="mailto:support@intelifi.com">SUPPORT@INTELIFI.COM</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" class="support_btmBorder">
                                                                    <span>PHONE</span>
                                                                </td>
                                                                <td class="support_btmBorder">
                                                                </td>
                                                            </tr>
                                                            <tr style="height: 23px;">
                                                                <td>
                                                                </td>
                                                                <td align="left" class="tdtxt">
                                                                    888.409.1819
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </ul>
                                                </li>
                                                <li class="Logout"><a href="../Default">Login</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <script src="@Url.Content("~/Scripts/KendoJS/kendo.web.min.js")" type="text/javascript"></script>
                    @Html.Partial("Userinfo")
                </tr>
            </table>    
            <table width="100%">
                <tr>
                    <td style="width: 27%; padding-top: 7px; padding-left: 9px; vertical-align: top;">
                        <table onclick="OpenPackage(0)" style="width: 100%; height: 27px; cursor: pointer;"
                            class="ReportBorder" cellpadding="0" cellspacing="0">
                            <tr class="ReportColor">
                                <td style="padding-left: 5px; font-weight: bold;">
                                    <img id="img-0"  src="@Url.Content("~/Content/themes/base/images/arrowcollaspe.png")" alt="expand" />
                                    Packages
                                </td>
                            </tr>
                        </table>
                        <div id="tblPackageList-0">
                            <table cellpadding="0" cellspacing="0" class="ReportLeft">
                                @for (int iRow = 0; iRow < Model.EmergeProductPackagesList.Count; )
                                {
                                    <tr>
                                        @for (int iCol = 1; iCol <= 2; iCol++)
                                        { 
                                            <td class="Product">
                                                @if (@Model.EmergeProductPackagesList.ElementAt(iRow).IsTiered2 == "1")
                                                {
                                                    <table cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td>
                                                                <a id="@Model.EmergeProductPackagesList.ElementAt(iRow).include.Replace(" ", "")" onclick="enableDisableValidators(this.id,@Model.EmergeProductPackagesList.ElementAt(iRow).pkPackageId,@Model.EmergeProductPackagesList.ElementAt(iRow).IsTiered2)" href="#"
                                                         style="text-decoration: none; color: black;width:100%;display:inline-block;" onmouseover="GetAllReports(@Model.EmergeProductPackagesList.ElementAt(iRow).pkPackageId)" onmouseout="exit();">
                                                                    @Model.EmergeProductPackagesList.ElementAt(iRow).PackageName</a>
                                                            </td>
                                                            <td>
                                                                <img id="imgTired" src="@Url.Content("~/Content/themes/base/images/Tiered2.png")" alt="Tiered2"
                                                                alt="" height="12" width="12" style="border: 0px" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                            
                                                }
                                                else
                                                {
                                                    <a id="@Model.EmergeProductPackagesList.ElementAt(iRow).include.Replace(" ", "")" onclick="enableDisableValidators(this.id,@Model.EmergeProductPackagesList.ElementAt(iRow).pkPackageId,@Model.EmergeProductPackagesList.ElementAt(iRow).IsTiered2)" href="#" 
                                            style="text-decoration: none; color: black;width:100%;display:inline-block;" onmouseover="GetAllReports(@Model.EmergeProductPackagesList.ElementAt(iRow).pkPackageId);" onmouseout="exit();">
                                                        @Model.EmergeProductPackagesList.ElementAt(iRow).PackageName</a>
                                                }
                                            </td>
               
                                                if (iRow < Model.EmergeProductPackagesList.Count)
                                                {
                                                    iRow++;

                                                    if (iRow == Model.EmergeProductPackagesList.Count) { break; }
                                                }
                                        }
                                    </tr>
           
                                }
                            </table>
                        </div>
                        <table onmouseover="exit();" onclick="OpenPackage(1)" style="width: 100%; height: 33px;
                            padding-top: 6px; cursor: pointer;" cellpadding="0" cellspacing="0">
                            <tr class="ReportColor">
                                <td style="padding-left: 5px; font-weight: bold;" class="ReportBorder">
                                    <img id="img-1" src="@Url.Content("~/Content/themes/base/images/arrowexpand.gif")" alt="expand" />
                                    Reports
                                </td>
                            </tr>
                        </table>
                        <div id="tblPackageList-1">
                            <table cellpadding="0" width="100%" cellspacing="0" class="ReportLeft">
                                @for (int iRow = 0; iRow < Model.LandingReports.Count; )
                                {
                                    <tr style="width: 100%">
                                        @for (int iCol = 1; iCol <= 2; iCol++)
                                        { 
                                            <td class="Product">
                                                @if (Model.LandingReports.ElementAt(iRow).IsLiveRunnerLocation == true && Model.LandingReports.ElementAt(iRow).IsLiveRunnerProduct == true)
                                                {
                                                    if (Model.LandingReports.ElementAt(iRow).ProductCode.Contains("CCR"))
                                                    {
                                                        Model.hdnIsSCRLiveRunnerLocation = "0";
                                                    }
                                                    else
                                                    {
                                                        Model.hdnIsSCRLiveRunnerLocation = "1";
                                                    }
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <a onclick="enableDisableValidators(this.id,0,0)" id="@Model.LandingReports.ElementAt(iRow).ProductCode" style="text-decoration: none; color: black;width:100%;display:inline-block;">
                                                                    @Model.LandingReports.ElementAt(iRow).ProductDisplayName
                                                                    <img src="@Url.Content("~/Content/themes/base/images/LiveRunnerSmallLogo.png")" onmouseover="tooltipLiveRunner();"
                                                                    onmouseout="exit();" alt="img" height="12" width="12" style="border: 0px" />
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                            
                                            
                                                }
                                                else
                                                {
                                                    string ProductCode = Model.LandingReports.ElementAt(iRow).ProductCode;
                                                    if (ProductCode == "NCR+")
                                                    {
                                                        ProductCode = "NCRPLUS";
                                                    }
                                                    <a onclick="enableDisableValidators(this.id,0,0)" id="@ProductCode" style="text-decoration: none; color: black;width:100%;display:inline-block;">
                                                        @Model.LandingReports.ElementAt(iRow).ProductDisplayName</a>
                                                }
                                            </td>
               
                                                if (iRow < Model.LandingReports.Count)
                                                {
                                                    iRow++;

                                                    if (iRow == Model.LandingReports.Count) { break; }
                                                }
                                        }
                                    </tr>
                                }
                            </table>
                        </div>
                    </td>
                    <td onmouseover="exit();" style="width: 73%; padding-left: 9px; vertical-align: top;">
                        <table onclick="OpenApplicant(1)" class="tblRightPanel">
                            <tr class="ReportColor">
                                <td class="tdRightPanel">
                                    <img id="imgApplicant1" src="@Url.Content("~/Content/themes/base/images/arrowcollaspe.png")"
                                alt="expand" />
                                    Applicant Information
                                </td>
                            </tr>
                        </table>
                        <div id="tblApplicant1">
                            <table style="width: 100%;" class="ReportBorderRightViewOpen">
                                <tr>
                                    <td>
                                        <table border="0" width="100%">
                                            <tr>
                                                <td width="20%" align="left">
                                                    Last Name
                                                </td>
                                                <td width="15%">
                                                    First Name
                                                </td>
                                                <td width="5%">
                                                    MI
                                                </td>
                                                <td width="7%">
                                                    Suffix
                                                </td>
                                                <td width="15%">
                                                    Social <span id="lbl_SocialOptional" style="color: red"></span>
                                                </td>
                                                <td width="130px">
                                                    D.O.B.<span class="Hinttxt">(mm/dd/yyyy)</span>
                                                </td>
                                                <td>
                                                    Phone
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    @Html.TextBoxFor(m => m.LastName, new { style = "width:95%;", onKeyPress = "return NotAllowNumbers(event);" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.FirstName, new { style = "width:95%;", onKeyPress = "return NotAllowNumbers(event);" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.MI, new { style = "width:95%;", maxlength = "20", onKeyPress = "return NotAllowNumbers(event);" })
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(m => m.SuffixValue, new SelectList(Model.SuffixList, "key", "value"), new { style = "width:95%", @class = "ddlField" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.Social, new { style = "width:95%;", maxlength = "11", onkeypress = "return SSNcheck(event);", onkeydown = "javascript: MaskSSN(this.value,event);" })
                                                </td>
                                                <td>
                                                    <div style="height: 20px">
                                                        @Html.TextBoxFor(m => m.DOB, new { style = " width:95%", maxlength = "10", onkeypress = "return DOBcheck(event);", onkeydown = "javascript: MaskDOB(this,event);" })
                                                    </div>
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.Phone, new { style = "width:85%", maxlength = "14", onkeydown = "javascript:backspacerDOWN(this,event);", onkeyup = "javascript:backspacerUP(this,event);" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div id='form1_LastName_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div id='form1_FirstName_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div id='form1_MI_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td>
                                                    &nbsp;
                                                </td>
                                                <td>
                                                    <div id='form1_Social_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div id='form1_DOB_errorloc' class="error_strings">
                                                    </div>
                                                    <div id="DivNullDOB" style="float: left; display: none">
                                                        <div style="float: left">
                                                            @Html.CheckBoxFor(m => m.chkIsNullDOB)
                                                        </div>
                                                        <div style="float: left; margin-left: 2px; margin-top: 2px; color: #6D6968">
                                                            Null DOB included</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div id='form1_Phone_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <table width="100%">
                                                        <tr>
                                                            <td width="50%">
                                                                Street Number
                                                            </td>
                                                            <td>
                                                                Direction
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    Street Name
                                                </td>
                                                <td>
                                                    Type
                                                </td>
                                                <td>
                                                    Apt #
                                                </td>
                                                <td>
                                                    City
                                                </td>
                                                <td colspan="2">
                                                    <table>
                                                        <tr>
                                                            <td id="tdState" align="left" style="width: 130px">
                                                                State
                                                            </td>
                                                            <td width="65px" align="left">
                                                                Zip
                                                            </td>
                                                            <td width="120px" align="left">
                                                                <div id="DivJuriHeader" style="visibility: hidden">
                                                                    Jurisdiction
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <table width="100%">
                                                        <tr>
                                                            <td width="50%">
                                                                @Html.TextBoxFor(m => m.Address, new { style = "width:90px;", maxlength = "12" })
                                                            </td>
                                                            <td>
                                                                @Html.DropDownListFor(m => m.DirectionValue, new SelectList(Model.DirectionList, "key", "value"), new { style = "width:95%;", @class = "ddlField" })
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.Street, new { style = "width:95%;" })
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(m => m.TypeValue, new SelectList(Model.TypeList, "key", "value"), new { style = "width:100px;", @class = "ddlField" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.Apt, new { style = "width:90%;" })
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.City, new { style = "width:95%;", onKeyPress = "return NotAllowNumbers(event);" })
                                                </td>
                                                <td colspan="2">
                                                    <table>
                                                        <tr>
                                                            <td width="130px" align="left">
                                                                @Html.DropDownListFor(m => m.State, new SelectList(Model.StateList, "pkStateId", "StateName"), new { onchange = "CheckConditionsOnState(this.value);ConsentChange();", style = "width:95%;", @class = "ddlField" })
                                                            </td>
                                                            <td width="55px" align="left">
                                                                @Html.TextBoxFor(m => m.Zip, new { style = "width:95%;", maxlength = "5" })
                                                            </td>
                                                            <td width="130px" align="left">
                                                                <div id="DivJurisdiction" style="visibility: hidden">
                                                                    @Html.DropDownListFor(m => m.Jurisdiction, new SelectList(Model.JurisdictionList, "pkJurisdictionId", "JurisdictionName"), new { style = "width:95%;", @class = "ddlField" })
                                                                    @Html.HiddenFor(m => m.JurisdictionText)
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <table width="100%">
                                                        <tr>
                                                            <td width="50%">
                                                                <div id='form1_Address_errorloc' class="error_strings">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <div id='form1_Street_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td>
                                                    &nbsp;
                                                </td>
                                                <td>
                                                    &nbsp;
                                                </td>
                                                <td>
                                                    <div id='form1_City_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td colspan="2">
                                                    <table>
                                                        <tr>
                                                            <td width="130px" align="left">
                                                                &nbsp;
                                                            </td>
                                                            <td width="55px" align="left">
                                                                <div id='form1_Zip_errorloc' class="error_strings">
                                                                </div>
                                                            </td>
                                                            <td width="130px" align="left">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3">
                                                                <div id="trStateLiveRunner" style="display: none">
                                                                    <div style="float: left; font-size: 13px">
                                                                        <span style="color: #209E0C">Available!</span> Faster response time provided by
                                                                    </div>
                                                                    <div style="float: left; margin-top: 2px; margin-left: 3px">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/LiveRunnerFasterResponse.png")" height="13px"
                                                                alt="" /></div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table onclick="OpenApplicant(2)" class="tblRightPanel">
                            <tr class="ReportColor">
                                <td class="tdRightPanel">
                                    <img id="imgApplicant2" src="@Url.Content("~/Content/themes/base/images/arrowcollaspe.png")"
                                alt="expand" />
                                    County Information
                                </td>
                            </tr>
                        </table>
                        <div id="tblApplicant2">
                            <table style="width: 100%;" class="ReportBorderRightViewOpen">
                                <tr>
                                    <td style="width: 100%;">
                                        <table style="width: 100%;">
                                            <tr>
                                                <td style="width: 160px;" align="left">
                                                    State
                                                </td>
                                                <td style="width: 180px;" align="left">
                                                    County
                                                </td>
                                                <td align="left">
                                                    &nbsp
                                                </td>
                                            </tr>
                                        </table>
                                        <table id="tblStateList" style="width: 100%;">
                                            <tr>
                                                <td style="width: 160px;" align="left">
                                                    @Html.DropDownListFor(m => m.CountyInfoState, new SelectList(Model.ObjStateList, "pkStateId", "StateName"), new { onchange = "BindCounty(this.id,'CountyInfoCounty');", style = "width:150px", @class = "ddlField" })
                                                </td>
                                                <td style="width: 180px;" align="left">
                                                    @Html.DropDownListFor(m => m.CountyInfoCounty, new SelectList(Model.ObjCountyList, "pkCountyId", "CountyName"), new { style = "width:250px", @class = "ddlField" })
                                                </td>
                                                <td>
                                                    <label id="lblIsRcxCountyMsg">
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 160px;" align="left">
                                                </td>
                                                <td style="width: 180px;" align="left">
                                                    <div id='form1_CountyInfoCounty_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </table>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a onclick="AddToCounty()">
                                                        <img src="@Url.Content("~/Content/themes/base/images/addNew.png")" alt="AddNew" title="Add New" style="cursor: pointer;" /></a>
                                                </td>
                                                <td>
                                                    <img alt="loader" id="Countyloader" style="display:none;" src="@Url.Content("~/Content/themes/base/images/ajax-loader3.gif")" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table onclick="OpenApplicant(3)" class="tblRightPanel">
                            <tr class="ReportColor">
                                <td class="tdRightPanel">
                                    <img id="imgApplicant3" src="@Url.Content("~/Content/themes/base/images/arrowexpand.gif")" alt="expand" />
                                    Automotive Information
                                </td>
                            </tr>
                        </table>
                        <div id="tblApplicant3" style="display: none;">
                            <table class="ReportBorderRightView">
                                <tr>
                                    <td width="20%" align="left">
                                        DL State
                                    </td>
                                    <td width="20%" align="left">
                                        Driver's License #
                                    </td>
                                    <td width="20%" align="left">
                                        Vehicle Vin #
                                    </td>
                                    <td width="10%" align="left">
                                        Sex
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DropDownListFor(m => m.DLState, new SelectList(Model.StateListMVR, "pkStateId", "StateName"), new { onchange = "StateLicensevalidation(this.value);", style = "width:200px", @class = "ddlField" })
                                        @*   <asp:dropdownlist id="ddlDLState" onchange="State(this.value);"  width="95%" />*@
                                    </td>
                                    <td align="left">
                                        @Html.TextBoxFor(mbox => mbox.DriverLicense, new { style = "width:94%" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(mbox => mbox.VehicleVin, new { style = "width:94%" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(m => m.Sex, new SelectList(Model.GenderList, "key", "value"), new { style = "width:90px;", @class = "ddlField" })
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                    </td>
                                    <td align="left">
                                        <label id="lblLicenseFormat">
                                        </label>
                                        <div id='form1_DriverLicense_errorloc' class="error_strings">
                                        </div>
                                    </td>
                                    <td align="left">
                                        <div id='form1_VehicleVin_errorloc' class="error_strings">
                                        </div>
                                    </td>
                                    <td align="left">
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table onclick="OpenApplicant(4)" class="tblRightPanel">
                            <tr class="ReportColor">
                                <td class="tdRightPanel">
                                    <img id="imgApplicant4" src="@Url.Content("~/Content/themes/base/images/arrowexpand.gif")" alt="expand" />
                                    Employment Information
                                </td>
                            </tr>
                        </table>
                        <div id="tblApplicant4" style="display: none;">
                            <table class="ReportBorderRightView">
                                <tr>
                                    <td width="20%" align="left">
                                        Company Name
                                    </td>
                                    <td width="20%" align="left">
                                        Company State
                                    </td>
                                    <td width="20%" align="left">
                                        Company City
                                    </td>
                                    <td width="19%" align="left">
                                        Company Phone
                                    </td>
                                    <td width="18%" align="left">
                                        Alias Name
                                    </td>
                                    <td width="3%" align="left">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table id="tblEmplyomentInfo" width="100%">
                                            <tr>
                                                <td width="20%" align="left">
                                                    @*  <asp:label id="lblID"  text='<%#Eval("pkOrderSearchedEmpId") %>' visible="false" />*@
                                                    @Html.TextBoxFor(mbox => mbox.CompanyName, new { style = "width:95%" })
                                                </td>
                                                <td width="20%" align="left">
                                                    @Html.DropDownListFor(m => m.CompanyState, new SelectList(Model.ObjStateList, "pkStateId", "StateName"), new { style = "width:200px", @class = "ddlField" })
                                                </td>
                                                <td width="20%" align="left">
                                                    @Html.TextBoxFor(mbox => mbox.CompanyCity, new { style = "width:95%", onKeyPress = "return NotAllowNumbers(event);" })
                                                </td>
                                                <td width="19%" align="left">
                                                    @Html.TextBoxFor(mbox => mbox.CompanyPhone, new { style = "width:95%", maxlength = "14", onkeydown = "javascript:backspacerDOWN(this,event);", onkeyup = "javascript:backspacerUP(this,event);" })
                                                </td>
                                                <td width="18%" align="left">
                                                    @Html.TextBoxFor(mbox => mbox.AliasName, new { style = "width:95%", onKeyPress = "return NotAllowNumbers(event);" })
                                                </td>
                                                <td width="3%">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <div id='form1_CompanyName_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td align="left">
                                                </td>
                                                <td align="left">
                                                    <div id='form1_CompanyCity_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td align="left">
                                                    <div id='form1_CompanyPhone_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td align="right">
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a onclick="AddToEmployment()">
                                            <img src="@Url.Content("~/Content/themes/base/images/addNew.png")" alt="AddNew" title="Add New"  style="cursor: pointer;" /></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table onclick="OpenApplicant(5)" class="tblRightPanel">
                            <tr class="ReportColor">
                                <td class="tdRightPanel">
                                    <img id="imgApplicant5" src="@Url.Content("~/Content/themes/base/images/arrowexpand.gif")" alt="expand" />
                                    Education Information
                                </td>
                            </tr>
                        </table>
                        <div id="tblApplicant5" style="display: none;">
                            <table class="ReportBorderRightView">
                                <tr>
                                    <td width="20%" align="left">
                                        Institution Name
                                    </td>
                                    <td width="20%" align="left">
                                        Institution State
                                    </td>
                                    <td width="20%" align="left">
                                        Institution City
                                    </td>
                                    <td width="19%" align="left">
                                        Institution Phone
                                    </td>
                                    <td width="18%" align="left">
                                        Alias Name
                                    </td>
                                    <td width="3%">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table id="tblEducationInfo" width="100%">
                                            <tr>
                                                <td width="20%" align="left">
                                                    @Html.TextBoxFor(mbox => mbox.SchoolName, new { style = "width:95%", id = "SchoolName_1111" })
                                                </td>
                                                <td width="20%" align="left">
                                                    @Html.DropDownListFor(m => m.InstituteState, new SelectList(Model.ObjStateList, "pkStateId", "StateName"), new { style = "width:200px", @class = "ddlField" })
                                                </td>
                                                <td width="20%" align="left">
                                                    @Html.TextBoxFor(mbox => mbox.SchoolCity, new { style = "width:95%", onKeyPress = "return NotAllowNumbers(event);" })
                                                </td>
                                                <td width="19%" align="left">
                                                    @Html.TextBoxFor(mbox => mbox.SchoolPhone, new { style = "width:95%", maxlength = "14", onkeydown = "javascript:backspacerDOWN(this,event);", onkeyup = "javascript:backspacerUP(this,event);" })
                                                </td>
                                                <td width="18%" align="left">
                                                    @Html.TextBoxFor(mbox => mbox.InstituteAlias, new { style = "width:95%", onKeyPress = "return NotAllowNumbers(event);" })
                                                </td>
                                                <td width="3%">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <div id='form1_SchoolName_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td align="left">
                                                </td>
                                                <td align="left">
                                                    <div id='form1_SchoolCity_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td align="left">
                                                </td>
                                                <td align="right">
                                                </td>
                                                <td width="3%">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a onclick="AddToEducation()">
                                            <img src="@Url.Content("~/Content/themes/base/images/addNew.png")" alt="AddNew" title="Add New"  style="cursor: pointer;" /></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table onclick="OpenApplicant(6)" class="tblRightPanel">
                            <tr class="ReportColor">
                                <td class="tdRightPanel">
                                    <img id="imgApplicant6" src="@Url.Content("~/Content/themes/base/images/arrowexpand.gif")" alt="expand" />
                                    Personal Information
                                </td>
                            </tr>
                        </table>
                        <div id="tblApplicant6" style="display: none;">
                            <table class="ReportBorderRightView">
                                <tr>
                                    <td width="20%">
                                        Reference Name
                                    </td>
                                    <td width="20%">
                                        Reference Phone
                                    </td>
                                    <td width="20%">
                                    </td>
                                    <td width="40%">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <table id="tblPersonalInfo" width="100%">
                                            <tr>
                                                <td width="20%" align="left">
                                                    @Html.TextBoxFor(mbox => mbox.ReferenceName, new { style = "width:95%", onKeyPress = "return NotAllowNumbers(event);" })
                                                </td>
                                                <td width="20%" align="left">
                                                    @Html.TextBoxFor(mbox => mbox.ReferencePhone, new { style = "width:95%", maxlength = "14", onkeydown = "javascript:backspacerDOWN(this,event);", onkeyup = "javascript:backspacerUP(this,event);" })
                                                </td>
                                                <td align="left">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" align="left">
                                                    <div id='form1_ReferenceName_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td width="20%" align="left">
                                                    <div id='form1_ReferencePhone_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td align="left">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a onclick="AddToPersonalInfo()">
                                            <img src="@Url.Content("~/Content/themes/base/images/addNew.png")" alt="AddNew" title="Add New"  style="cursor: pointer;" /></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table onclick="OpenApplicant(7)" class="tblRightPanel">
                            <tr class="ReportColor">
                                <td class="tdRightPanel">
                                    <img id="imgApplicant7" src="@Url.Content("~/Content/themes/base/images/arrowexpand.gif")" alt="expand" />
                                    Licence Information
                                </td>
                            </tr>
                        </table>
                        <div id="tblApplicant7" style="display: none;">
                            <table class="ReportBorderRightView">
                                <tr>
                                    <td width="20%" align="left">
                                        License Type
                                    </td>
                                    <td width="20%" align="left">
                                        License State
                                    </td>
                                    <td width="20%" align="left">
                                        License #
                                    </td>
                                    <td width="19%" align="left">
                                        License Date
                                    </td>
                                    <td width="18%" align="left">
                                        Alias Name
                                    </td>
                                    <td width="3%">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <table id="tblLicenseInfo" width="100%">
                                            <tr>
                                                <td width="20%" align="left">
                                                    @Html.TextBoxFor(mbox => mbox.LicenseType, new { style = "width:95%" })
                                                </td>
                                                <td width="20%" align="left">
                                                    @Html.DropDownListFor(m => m.LicenseState, new SelectList(Model.ObjStateList, "pkStateId", "StateName"), new { style = "width:200px", @class = "ddlField" })
                                                </td>
                                                <td width="20%" align="left">
                                                    @Html.TextBoxFor(mbox => mbox.LicenseNumber, new { style = "width:95%" })
                                                </td>
                                                <td width="19%" align="left">
                                                    @Html.TextBoxFor(mbox => mbox.LicenseIssueDate, new { style = "width:95%", maxlength = "10", onkeypress = "return DOBcheck(event);", onkeydown = "javascript: MaskDOB(this,event);" })
                                                </td>
                                                <td width="18%" align="left">
                                                    @Html.TextBoxFor(mbox => mbox.LicenseAlias, new { style = "width:95%", onKeyPress = "return NotAllowNumbers(event);" })
                                                </td>
                                                <td width="3%">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <div id='form1_LicenseType_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td align="left">
                                                </td>
                                                <td align="left">
                                                </td>
                                                <td align="left">
                                                    <div id='form1_LicenseIssueDate_errorloc' class="error_strings">
                                                    </div>
                                                </td>
                                                <td align="left">
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a onclick="AddToLicenseInfo()">
                                            <img src="@Url.Content("~/Content/themes/base/images/addNew.png")" alt="AddNew" title="Add New"  style="cursor: pointer;" /></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table onclick="OpenApplicant(8)" class="tblRightPanel">
                            <tr class="ReportColor">
                                <td class="tdRightPanel">
                                    <img id="imgApplicant8" src="@Url.Content("~/Content/themes/base/images/arrowexpand.gif")" alt="expand" />
                                    Business Information
                                </td>
                            </tr>
                        </table>
                        <div id="tblApplicant8" style="display: none;">
                            <table border="0" class="ReportBorderRightView">
                                <tr>
                                    <td width="20%" align="left">
                                        Business Name
                                    </td>
                                    <td width="20%" align="left">
                                        City
                                    </td>
                                    <td width="20%" align="left">
                                        State
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        @Html.TextBoxFor(mbox => mbox.BusinessName, new { style = "width:95%", onKeyPress = "return NotAllowNumbers(event);" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(mbox => mbox.BusinessCity, new { style = "width:95%", onKeyPress = "return NotAllowNumbers(event);" })
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(m => m.BusinessState, new SelectList(Model.ObjStateList, "pkStateId", "StateName"), new { style = "width:200px", @class = "ddlField" })
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <div id='form1_BusinessName_errorloc' class="error_strings">
                                        </div>
                                    </td>
                                    <td>
                                        <div id='form1_BusinessCity_errorloc' class="error_strings">
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table onclick="OpenApplicant(9)" class="tblRightPanel">
                            <tr class="ReportColor">
                                <td class="tdRightPanel">
                                    <img id="imgApplicant9" src="@Url.Content("~/Content/themes/base/images/arrowexpand.gif")" alt="expand" />
                                    Tracking Information
                                </td>
                            </tr>
                        </table>
                        <div id="tblApplicant9" style="display: none;">
                            <table class="ReportBorderRightView">
                                <tr>
                                    <td width="12%" align="left">
                                        Reference Code
                                    </td>
                                    <td width="10%">
                                    </td>
                                    <td width="55%" align="left">
                                        Notes
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        @Html.DropDownListFor(mbox => mbox.TrackingRefCode, new SelectList(Model.ReferenceCodeList, "pkReferenceCodeId", "ReferenceCode"), new { onchange = "GetReferenceNote(this.id);", style = "width:160px;", @class = "ddlField" })
                                        @Html.HiddenFor(mbox => mbox.TrackingRefCodeText)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(mbox => mbox.TrackingRefCodeValue, new { style = "width:90%;display:none;" })
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(mbox => mbox.TrackingNotes, new { style = "width:90%;" })
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr id="trConsent" style="display: none;">
                                    <td colspan="3">
                                        <table border="0" width="100%">
                                            <tr id="trDocumentation">
                                                <td colspan="2">
                                                    Documentation
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" style="width: 15%">
                                                    <b>Report Type</b>
                                                </td>
                                                <td align="left" style="width: 30%">
                                                    <b>State/County/Jurisdiction</b>
                                                </td>
                                                <td align="left" style="width: 35%">
                                                    <b>Upload Document</b>
                                                </td>
                                                <td align="left" style="width: 20%">
                                                </td>
                                            </tr>
                                        </table>
                                        <table id="tblConsent" border="0" width="100%">
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table>
                            <tr>
                                <td valign="top">
                                    <span style="color: #000; font-size: 11px;">
                                        @Html.CheckBoxFor(m => m.chkFCRA, new { onclick = "return false;" })
                                        By performing each search, I acknowledge that I have read and agree to the guidelines
                                        of <a rel="nofollow" class="term_Condition" target="_blank" href="http://www.ftc.gov/os/statutes/031224fcra.pdf">
                                            The Fair Credit Reporting Act (FCRA)</a> and to the <a rel="nofollow" target="_blank"
                                                href="http://usaintel.com/terms-of-use.html" class="term_Condition">Terms & Conditions</a>
                                        related to the proper use and security of all services available through USAintel.com
                                        and eMerge Solutions&trade;.</span> <span style="color: #000; font-size: 11px;">
                                            <br />
                                            @Html.CheckBoxFor(m => m.chkFCRA, new { onclick = "return false;" })
                                            I also agree and understand that I will be charged for each search click performed
                                            and all third party additional fees, even if there are no results. </span>
                                </td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="gearImg">
                                                </div>
                                            </td>
                                            <td>
                                                <input id="inpusub" type="submit" class="beginSearch" value="" title="Search" style="cursor: pointer;"
                                                    onclick="return CheckSubmit();" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="height: 20px;">
                                    &nbsp;
                                </td>
                            </tr>
                        </table>
                        <br />
                        @*  <input id="inpusub" type="button" value="Add Validation" onclick="CheckRule()" />
                <input id="inpusub" type="button" value="Remove Validation" onclick="Remove()" />*@
                    </td>
                </tr>
            </table>
            @Html.HiddenFor(m => m.ProductsSelected)
            @Html.HiddenFor(m => m.hdnSyncpodImage)
            @Html.HiddenFor(m => m.hdnFaceImage)
            @Html.HiddenFor(m => m.hdnIsSyncpod)
            @Html.HiddenFor(m => m.hdnIsSCRLiveRunnerLocation) 
            @Html.HiddenFor(m => m.fkLocationId) 
            @Html.HiddenFor(m => m.pkCompanyId) 
            @Html.HiddenFor(m => m.pkCompanyUserId)
            @Html.HiddenFor(m => m.OrderType)
        }
        <div style="display: none;">
            <div id="DivNewReportSuggestion" style="border-color: Black; border-width: 0px; border-style: solid;
                display: block; overflow-x: hidden;">
                <table width="100%" border="0" style="height: 280px; width: 370px;" id="tblSuggestionForm">
                    <tr>
                        <td>
                            <label id="lblEMMessage">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">
                            <table width="100%" cellpadding="2" cellspacing="2">
                                <tr>
                                    <td align="left" colspan="2">
                                        <b>Make a suggestion on how to improve this section of Emerge.</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        From:
                                    </td>
                                    <td align="left">
                                        <label id="lblFromEmail">
                                            @Model.lblFrom
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        To:
                                    </td>
                                    <td>
                                        <label id="lblTo">@Model.lblTo
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        Subject:
                                    </td>
                                    <td>
                                        <label id="lblSuggestionSubject">
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td valign="top" align="left">
                                        Suggestions:
                                    </td>
                                    <td>
                                        @Html.TextAreaFor(m => m.Suggestions, new { style = "width:240px;height:100px;" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td align="left">
                                        <table>
                                            <tr>
                                                <td>
                                                    <img  id="btnNewReportSuggestios" onclick="NewReportSuggestios()" src="@Url.Content("~/Content/themes/base/images/email-send-icon.png")" alt="Send" title="Send" style="cursor:pointer;" />
                                                    <img id="imgNewReportLoader" src="@Url.Content("~/Content/themes/base/images/beginsearchbtn_clicked.gif")"
                                    alt="loader" style="display: none;" />
                                                </td>
                                                <td>
                                                    <label id="lblSuggValidator" style="color: Red;">
                                                    </label>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    @*  <input type="button" id="btnNewReportSuggestios" value="Send" onclick="NewReportSuggestios()" />*@
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table id="tblSuggestionMsg" width="100%" height="260px" style="display: none; font-size: 14px;
                    vertical-align: top">
                    <tr>
                        <td height="50px">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">
                            <label id="lblSuggestionMsg" height="30">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            @*   <asp:button id="btnOk"  text="OK" onclientclick="CloseWindowReport_sendEMmail();return false;" />*@
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="display: none;">
            <div id="DivNewReportmessage" style="height: 100px; width: 310px; background-color: White;">
                <table width="100%" style="font-size: 14px; vertical-align: top">
                    <tr>
                        <td height="26px" align="left" style="color: Red; font-weight: bold;">
                            Please select at least one report to run.
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="divSync" style="display: none;">
            <div id="scanImage">
                <img id="image" alt="" src="@Url.Content("~/Content/themes/base/images/cardDemo.jpg")" />
            </div>
            <div id="faceImage">
                <img alt="" src="@Url.Content("~/Content/themes/base/images/faceDemo.jpg")" />
            </div>
            <div id="sigImage">
                <img alt="" src="@Url.Content("~/Content/themes/base/images/signatureDemo.jpg")" />
            </div>
            <div id="text" />
        </div>
        <input type="hidden" id="txtEmHeader_Subject" value="" />
        <input type="hidden" id="hidInActiveReport" value="" />
        <input type="hidden" id="hidSelectedCounty" value="" />
        <input type="hidden" id="hidIsRcxSelected" value="false" />
        <input type="hidden" id="hdnIsTiered" value="0" />
        @*<input type="hidden" id="hdnSyncpodImage" value="" />
<input type="hidden" id="hdnFaceImage" value="" />
<input type="hidden" id="hdnIsSyncpod" value="" />*@
        <input type="hidden" id="hdnZip" value="" />
        <input type="hidden" id="hdnState" value="" />
        <input type="hidden" id="hdnCity" value="" />
        <input type="hidden" id="hdnAddress" value="" />
        <input type="hidden" id="hdnStreet" value="" />
        <input type="hidden" id="hdnDrivingLic" value="" />
        <input type="hidden" id="hdnSex" value="" />
        <script type="text/javascript">


            var count = 1;
            var Ecount = 1;

            $('.removedel').live('click', function () {
                count = Number(count) - 1;
                $(this).closest('tr').remove();

            });

            var frmvalidator = new Validator("form1");
            frmvalidator.EnableOnPageErrorDisplay(); frmvalidator.EnableMsgsTogether();

            function CheckRule() {
                frmvalidator.addValidation("City", "req", "Required City");
            }

            function AddRule(control) {
                frmvalidator.addValidation(control, "req", "*Required*");

            }
            function AddDDLRule(control) {
                frmvalidator.addValidation(control, "dontselect=-1", "*Required*");
            }
            function AddDOBRule(control) {
                frmvalidator.addValidation(control, "minlen=10", "*Invalid Format*");
            }


            frmvalidator.setAddnlValidationFunction(CheckLicenseDateFormat);
            frmvalidator.setAddnlValidationFunction(CheckDOBDateFormat);

            function CheckLicenseDateFormat() {
                var enterdDate = document.getElementById('LicenseIssueDate').value;
                if (enterdDate == '') {
                    return true;
                }
                else {
                    var Datefilled = enterdDate.split("/");
                    if (Datefilled.length > 2) {
                        var CurrntDate = new Date();
                        var TodayDate = parseInt(CurrntDate.getMonth() + 1) + "/" + CurrntDate.getDate() + "/" + CurrntDate.getFullYear();
                        var newDatefilled = new Date(Datefilled[2], parseInt(Datefilled[1]) - 1, Datefilled[0]);
                        var dtDatefilled = Date.parse(newDatefilled); var dtToday = Date.parse(TodayDate)

                        if (dtDatefilled > dtToday || Datefilled[2] < 1930 || Datefilled[0] > 12 || Datefilled[1] > 31) {
                            sfm_show_error_msg("*lies between 1930 to current year*", document.getElementById('LicenseIssueDate'));
                            return false;
                        }
                        else {
                            return true;
                        }
                    }
                    else {
                        sfm_show_error_msg("*Invalid DOB*", document.getElementById('LicenseIssueDate'));
                        return false;
                    }
                }
            }


            function CheckDOBDateFormat() {
                var enterdDate = document.getElementById('DOB').value;
                if (enterdDate == '') {
                    return true;
                }
                else {
                    var Datefilled = enterdDate.split("/");
                    if (Datefilled.length > 2) {
                        var CurrntDate = new Date();
                        var TodayDate = parseInt(CurrntDate.getMonth() + 1) + "/" + CurrntDate.getDate() + "/" + CurrntDate.getFullYear();
                        var newDatefilled = new Date(Datefilled[2], parseInt(Datefilled[1]) - 1, Datefilled[0]);
                        var dtDatefilled = Date.parse(newDatefilled); var dtToday = Date.parse(TodayDate)

                        if (dtDatefilled > dtToday || Datefilled[2] < 1900 || Datefilled[0] > 12 || Datefilled[1] > 31) {
                            sfm_show_error_msg("*Invalid DOB*", document.getElementById('DOB'));
                            return false;
                        }
                        else {
                            return true;
                        }
                    }
                    else {
                        sfm_show_error_msg("*Invalid DOB*", document.getElementById('DOB'));
                        return false;
                    }
                }
            }

            function NewReportSuggestios() {
                document.getElementById("lblSuggValidator").innerHTML = "";
                if (document.getElementById("Suggestions").value == "") {
                    document.getElementById("lblSuggValidator").innerHTML = "Please input your suggestions";

                }
                else {
                    document.getElementById("imgNewReportLoader").style.display = 'block';
                    document.getElementById("btnNewReportSuggestios").style.display = 'none';

                    var lblFromEmail = document.getElementById("lblFromEmail");
                    var lblSuggestionSubject = document.getElementById("lblSuggestionSubject");
                    $.post('@Url.Action("SendSuggestionEmail", "CommonNewReport")', { Suggestions: $("#Suggestions").val(), From: lblFromEmail.innerHTML, SuggestionSubject: lblSuggestionSubject.innerHTML }, function (Message) {
                        document.getElementById("imgNewReportLoader").style.display = 'none';

                        document.getElementById("lblSuggestionMsg").innerHTML = Message;
                        document.getElementById("tblSuggestionForm").style.display = 'none';
                        document.getElementById("tblSuggestionMsg").style.display = 'block';
                        var kendoWindow = $("#DivNewReportSuggestion").data("kendoWindow");
                        var windowTitle = kendoWindow.title("Message");

                    });
                }
            }

            function RemoveRule() {
                frmvalidator.clearAllValidations();
            }
            function BindCounty(CountyInfoState, CountyInfoCounty) {

                var selObj = document.getElementById(CountyInfoState);
                var num = selObj.selectedIndex;
                var value = selObj.options[num].value;
                var CountyInfoCounty = $('#' + CountyInfoCounty);
                CountyInfoCounty.empty();
                BindCounties(value, CountyInfoCounty);
            }

            function BindCountyWithJson(CountyInfoState) {
                var No = CountyInfoState.split('_');
                var selObj = document.getElementById(CountyInfoState);
                var num = selObj.selectedIndex;
                var value = selObj.options[num].value;
                var CountyInfoCounty = $('#c_' + No[1]);
                CountyInfoCounty.empty();
                BindCounties(value, CountyInfoCounty);
            }

            function BindCounties(value, CountyInfoCounty) {
                document.getElementById("Countyloader").style.display = 'block';
                $.post('@Url.Action("BindCounty", "CommonNewReport")', { StateId: value }, function (result) {

                    $.each(result.CountryList, function (index, coll) {
                        CountyInfoCounty.append(
                        $('<option/>')
                            .attr('value', coll.pkCountyId)
                            .text(coll.CountyName)
                    );
                    });
                    document.getElementById("Countyloader").style.display = 'none';
                });
            }
            function GetReferenceNote(Reference) {
                var selObj = document.getElementById(Reference);
                var num = selObj.selectedIndex;
                var value = selObj.options[num].value;
                if (Number(value) == -3) {
                    document.getElementById("TrackingRefCodeValue").style.display = 'block';
                }
                else {
                    $.post('@Url.Action("GetReferenceNote", "CommonNewReport")', { ReferenceCodeId: value }, function (Note) {

                        document.getElementById("TrackingNotes").value = Note;
                    });
                }
            }



            function WillFaxEmail(ChckId, no) {
                var ChckValue = document.getElementById(ChckId).checked;
                var FileValue = document.getElementById('file' + no);
                alert
                if (ChckValue) {
                    FileValue.style.background = 'white';
                }
                else {
                    FileValue.style.background = '#ffffaa';
                }
            }

            function StateLicensevalidation(stateid) {
                $(document).ready(function () {
                    if (stateid == -1) {
                        document.getElementById("lblLicenseFormat").innerHTML = '';
                        document.getElementById("lblLicenseFormat").style.color = '#1e1b1d';
                        document.getElementById("DriverLicense").value = '';
                    }
                    StateValues = stateid.split('_');
                    StateIDValue = StateValues[0];
                    $.ajax({
                        type: "GET",
                        dataType: "xml",
                        url: "../Content/ProductXml/StateValidation.xml",
                        success: function (xml) {
                            $(xml).find("state").each(function () {
                                var id = $(this).find("id").text();
                                if (id == StateIDValue) {
                                    var expr = $(this).find("regularexpression").text();


                                    // frmvalidator.addValidation("DriverLicense", "regexp=" + expr, "*Invalid Format*");
                                    var LicenseFormatText = $(this).find("LicenseFormat").text();
                                    document.getElementById("lblLicenseFormat").innerHTML = LicenseFormatText;
                                    document.getElementById("lblLicenseFormat").style.color = '#1e1b1d';
                                    document.getElementById("DriverLicense").value = '';
                                }
                            });
                        }
                    });

                    //            var nr_txtSocial = $("txtSocial");
                    //            var nr_VDtxtSocial = document.getElementById("VDtxtSocial");
                    //            var ProductsSelected = $('#ProductsSelected');
                    //            if (ProductsSelected != null) {
                    //                if (ProductsSelected.val().indexOf('MVR') != -1) {
                    //                    if (nr_txtSocial != null && nr_VDtxtSocial != null) {
                    //                        if (StateIDValue == '47') { nr_VDtxtSocial.enabled = true; nr_txtSocial.css("background-color", "#FFFFAA"); } else { nr_VDtxtSocial.enabled = false; nr_txtSocial.css("background-color", "#FFFFFF"); }
                    //                    }
                    //                }
                    //            }
                });
            }



         
        </script>
        <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Pages/NewReport.js")" type="text/javascript"></script>
    </div>
</body>
</html>
