﻿@model Emerge.Models.SearchingModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Searching</title>
      <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/CompressedCombined(Admin).css")" rel="stylesheet" type="text/css" />

   
</head>
<body>
@Html.HiddenFor(m => m.IsAdditionalReport)
   <script>
       CloseCurrentWindow();
       function CloseCurrentWindow() {
           var IsAdditional = document.getElementById("IsAdditionalReport");
           if (IsAdditional != null) {
               var IsAdditionalReport = document.getElementById("IsAdditionalReport").value;
               if (IsAdditionalReport != "false" && IsAdditionalReport == "true") {
                   if (typeof window.opener != 'undefined')
                       self.close();
                   window.opener.location.href = 'Searching';
                   IsAdditional = null;
               }
           }
       }

</script>
    <div>        
        @Html.Partial("../Common/PartialSearching")
    </div>
</body>
</html>
