﻿@{
    ViewBag.Title = "View Report";
}
<script type="text/javascript">
   // document.getElementById('tdAdmin').style.display = 'none';
</script>
<style type="text/css">
    #user
    {
        height: 31px;
        width: 156px;
    }
    
    #btnSubmit
    {
        height: 31px;
        width: 103px;
    }
</style>
<script type="text/javascript">

    


    function echeck(str) {
//        var email = $('#usremail').val();
//        var at = "@@"
//        var dot = "."
//        var lat = str.indexOf(at)
//        var lstr = str.length
//        var ldot = str.indexOf(dot)
//        if (str.indexOf(at) == -1) {
//            alert("Invalid E-mail ID")
//            return false
//        }
//        if (str == email) {
//            alert("Enter another E-mail")
//            return false
//        }

//        if (str.indexOf(at) == -1 || str.indexOf(at) == 0 || str.indexOf(at) == lstr) {
//            alert("Invalid E-mail ID")
//            return false
//        }

//        if (str.indexOf(dot) == -1 || str.indexOf(dot) == 0 || str.indexOf(dot) == lstr) {
//            alert("Invalid E-mail ID")
//            return false
//        }

//        if (str.indexOf(at, (lat + 1)) != -1) {
//            alert("Invalid E-mail ID")
//            return false
//        }

//        if (str.substring(lat - 1, lat) == dot || str.substring(lat + 1, lat + 2) == dot) {
//            alert("Invalid E-mail ID")
//            return false
//        }

//        if (str.indexOf(dot, (lat + 2)) == -1) {
//            alert("Invalid E-mail ID")
//            return false
//        }

//        if (str.indexOf(" ") != -1) {
//            alert("Invalid E-mail ID")
//            return false
//        }

//        return true
    }



    $(document).ready(function () {
        $('.btn-view').next().addClass('emerge_div');

//        if ($("#tblNullDOB").length > 0) {

//            if ($('#report_ncr1').length > 0) {
//                if ($('#report_ncr1').find('p').text() == "*** Clear ***") {
//                    return;
//                }
//                else {
//                    $("#MainReprtSection").find('div[id^=NCR]').parent().parent().hide()
//                    $("<tr id ='email'><td style='text-align:center;border-bottom:0px solid black;'>&nbsp;<input placeholder='Applicant E-mail Required' required='true' id='user' type ='text'/> <span style='text-align:left;'>&nbsp;<input type='button' id='btnSubmit'  value='View Records' /></span> </td></tr>").insertBefore("#MainReprtSection:first");
//                }
//            }
//            else {
//                $("#MainReprtSection").find('div[id^=NCR]').parent().parent().hide()
//                $("<tr id ='email'  ><td style='text-align:center;border-bottom:0px solid black;'>&nbsp;<input placeholder='Applicant E-mail Required' required='true' id='user' type ='text'/> <span style='text-align:left;'>&nbsp;<input type='button' id='btnSubmit'  value='View Records' /></span> </td></tr>").insertBefore("#MainReprtSection:first");
//            }
//        }


//        CheckViewReportForBlockContent();



//        $('#btnSubmit').live('click', function () {
//            var name = $('#user').val();
//            if (echeck(name)) {
//                checkCurrentUSerEmailId(name);
//            }
//            else {
//                $('#user').val('');
//                $('#user').focus();
//            }
//        });
    })

    //To check if entered email address is logged on user id.
    function checkCurrentUSerEmailId(email) {
//        $.ajax({
//            type: "POST",
//            url: "../CommonViewReport/CheckEnteredEmailIdWithLoggedOnUser",
//            data: { emailId: email },
//            success: function (result) {
//                if (result.CheckEmailId) {
//                    alert("Please enter another email id.");
//                    $('#user').val('');
//                    $('#user').focus();
//                }
//                else {
//                    CheckViewReportForBlockContent();
//                }
//            }
//        });

    }

    function CheckViewReportForBlockContent() {
//        var name = $('#user').val();
//        var OrderId = $("#OrderId").val();
//        $.post('@Url.Action("AddEmailForViewBlockRecords", "CommonViewReport")', { orderId: OrderId, email: name }, function (data) {
//            if (data.IsCheckViewReportForBlock) {
//                $("#email").css('display', 'none');
//                $("#MainReprtSection").find('div[id^=NCR]').parent().parent().show()
//            }
//            else {
//                if ($("#tblNullDOB").length > 0) {
//                    $("#MainReprtSection").find('div[id^=NCR]').parent().parent().hide()
//                    $("#email").remove();
//                    $("<tr id ='email'><td style='text-align:center;border-bottom:0px solid black;'>&nbsp;<input placeholder='Applicant E-mail Required' required='true' id='user' type ='text'/> <span style='text-align:left;'>&nbsp;<input type='button' id='btnSubmit'  value='View Records' /></span> </td></tr>").insertBefore("#MainReprtSection:first");
//                }
//            }
//        });
    }

</script>

@Html.Partial("../Common/PartialViewReports")
