﻿@{
    ViewBag.Title = "View Escreen Report";
}

@model Emerge.Models.ViewEscreenReportModel
@using System.Xml
@using Lib.Web.Mvc.Html
<link href="@Url.Content("~/Content/CSS/Report.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/CSS/Report_Style.css")" rel="stylesheet" type="text/css" />
@{
    var message = "<p>Between our software, and our vendor&#39s record feeds, there is a programming space where information is sent and received. Here, we have installed a proprietary filtration algorithm of our own called Match Meter.</p> Match Meter scrubs every single record that enters Emerge from our vendors. All criteria within each record is scrubbed and cross-referenced, and assigned a color based on the records relevancy. As a result of Match Meters&#39s response to each record, actions are taken to properly display these records to the user in such a way that is clear and inclusive of all pertinent records. To find out more about Match Meter, please contact our support team.";

}
@{
    string ExistCounty = string.Empty;
    string Last_Name = string.Empty;
    int Order_Id = 0;
    try
    {

    }
    catch
    {


    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- CSS files -->

    <link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet"
          type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/gen_validatorv4.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Design2/Css/main-bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/Selectyze.jquery.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Design2/Js/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Design2/Js/bootstrap-dropdown.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/newfavicon.gif")" rel="shortcut icon" type="image/x-icon" />

    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=2.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=06052015")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Pages/NewReport.js?v=06052015")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=5")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ZeroClipboard.js")" type="text/javascript"></script>


    <style type="text/css">
        #popupEmail div.k-window-content {
            padding: 0px;
        }
    </style>

</head>

<body>
    <div class="main-menu-bar">
        <div class="left-ch-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle report-head" data-toggle="dropdown">Archives <span></span></a>
                    <ul class="dropdown-menu">

                        @{string[] rolechk = new string[0];}
                        @if (Session["UserRoles"] != null)
                        {
                            rolechk = (string[])(Session["UserRoles"]);
                            if (!rolechk.Contains("ViewOnlyUser"))
                            {
                                if (!rolechk.Contains("BillingUser"))
                                {

                                    <li><a href="../Corporate/NewReport">New Report </a></li>
                                    <li><a href="../Corporate/NewBatch">New Batch </a></li>
                                }
                            }
                        }



                        @{string[] UserRoles = new string[0];}
                        @if (Session["UserRoles"] != null)
                        {
                            UserRoles = (string[])(Session["UserRoles"]);
                            if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                            {

                                <li id="liArchives"><a href="../Control/SavedReports">Archives </a></li>
                                <li><a href="../Control/EmergeReviews">Emerge Reviews  </a></li>
                                <li><a href="../Office/Leads">Office </a></li>
                            }
                            else
                            {

                                if (UserRoles.Contains("DataEntry"))
                                {
                                    <li id="liArchives"><a href="javascript:void(0);">Archives </a></li>

                                }
                                else
                                {


                                    <li id="liArchives"><a href="../Corporate/SavedReports">Archives </a></li>

                                }
                            }
                        }
                        else
                        {

                            MembershipUser objMembership = Membership.GetUser();
                            if (objMembership != null)
                            {
                                UserRoles = Roles.GetRolesForUser(User.Identity.Name);
                                Session["UserRoles"] = UserRoles;
                            }
                            <li id="liArchives"><a href="../Corporate/SavedReports">Archives </a></li>
                        }

                        @if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                        {
                            <li id="liAdmin" runat="server">
                                <a href="../Control/AdminSearch">
                                    Admin
                                </a>
                            </li>
                        }
                        <li><a href="../Corporate/MyAccount">My Account </a></li>


                    </ul>
                </li>
            </ul>
        </div>


    </div>



    <div id="content-box">
        <div class="padding">
            <div id="toolbar-box">

                <div class="m">
                    <div style="padding: 0px 0px 0px 0px;">
                        <table border="0" width="100%">
                            <tr>
                                <td>
                                    <iframe id="iframe" frameborder="0" src="@Model.SchedReturnURL" style="width: 100%; height: 560px;"></iframe>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
