﻿
#tblsummary
{
    background-image: none;
    width: 100%;
    border: 1px solid black;
    padding: 0px; /*      border: 2px solid black;     width: 879px;     height: 176px;     background-repeat: no-repeat;*/
}



#tblsummary .Report_Header
{
    font-size: 14px;
    font-weight: bold;
    padding-top: 0px;
}

.Align_Center
{
    width: 100%;
}

#tblsummary .Report_Combined_Info
{
    padding: 4px;
    width: 100%;
    margin: 0px;
    border: 1px solid black;
}
/*.Report_Combined_Info
{
	background-image:none; 
     border: 1px solid black;
       width:100%;      
}*/
#tblsummary .Report_Sub_info_left
{
    font-size: 11px;
    font-weight: bold;
    padding-top:3px;
    vertical-align: top;
}

#tblsummary .Report_Sub_info_right
{
    font-size: 11px;
    width: 82%;
    padding: 0px;
}
.Report_Sub_info_middle
{
    padding-left: 2px;
    padding-right: 3px;
    margin: 0px;
}
/*.Report_Sub_info_left
{
    text-align: left;
     padding: 0px;
    font-family: Lucida Grande,Arial,Helvetica,sans-serif;
    width:50%;
}*/
/*.Report_Sub_info_right
{
    text-align: left;
    font-family: Lucida Grande,Arial,Helvetica,sans-serif;
    width:100%;
    
}*/

#tblsummary img
{
    display: none;
}
.middle_left
{
    background-image: none;
}


table.reporttable tbody td.begin
{
    border-left: 0px;
    border-right: 0px;
}
/*.space
{
    height: 30px;
}*/
.uspeople
{
    text-align: left;
    padding-left: -10px;
    font-family: Lucida Grande,Arial,Helvetica,sans-serif;
    font-size: medium;
    vertical-align: middle;
}
.plus_btn
{
    background-image: none;
    width: 1px;
}

.tblcollapse
{
    width: 98%;
    border-collapse: collapse;
}

/*table
{
    padding:0px;
}*/

.back_top_center
{
    width: 100% !important;
    border-bottom: 1px dashed #000;
}
element.style
{
    font-weight: bold;
    padding-left: 0px;
}
.sectionbgfooter
{
    background-image: none;
    border-bottom: 1px solid black;
}
/*.bottom_center {
    background-image:none; 
     
    height:8px;
}*/



.report .graphheader
{
    background-color: #0099CC;
    color: #FFFFFF;
    font-family: Arial,Verdana;
    font-size: 10pt;
    font-weight: bold;
}
#Table1
{
    width: 96%;
    border: 1px solid black;
}
#Table1 img
{
    display: none;
}

#firstinfo
{
    display: inline;
}
.fnt
{
    width: 100%;
    font-family: Lucida Grande,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.middle_right
{
    background-image: none;
}
table.reporttable tfoot td.end
{
    background-image: none;
}
table.reporttable tbody td.end
{
    border-right: 0px;
}
.gap
{
    padding-left: 0px;
    font-weight: bold;
}
/*.Report_Sub_info_left
{
    text-align: left;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 2px 2px 0px;
    font-family: Lucida Grande,Arial,Helvetica,sans-serif;
    vertical-align:top;  
}*/
.PS_SSN_DEATH_TOP
{
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
}
#TDDecision
{
    width: 1px;
}





/** rounded corners **/
div#toolbar-box
{
    background: #fff;
}

div#element-box
{
    background: #fff;
}

div#element-box div.section-box div.m
{
    background: #fff;
}

div.t, div.b
{
    height: 6px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

div.m
{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding: 0 8px;
}

div#toolbar-box div.m
{
    padding: 0;
}

div#element-box div.m
{
    padding: 5px 10px;
}

div#submenu-box div.t
{
    background: none;
}

div#submenu-box div.t div.t
{
    background: none;
}

div#submenu-box div.t div.t div.t
{
    background: none;
}

div#submenu-box div.b
{
    background: none;
}

div#submenu-box div.b div.b
{
    background: none;
}

div#submenu-box div.b div.b div.b
{
    background: none;
}

div#toolbar-box, div#element-box div.section-box
{
    background: #fff;
}

div#toolbar-box div.t, div#element-box div.section-box div.t
{
    background: none;
}

div#toolbar-box div.t div.t, div#element-box div.section-box div.t div.t
{
    background: none;
}

div#toolbar-box div.t div.t div.t, div#element-box div.section-box div.t div.t div.t
{
    background: none;
}

div#toolbar-box div.b, div#element-box div.section-box div.b
{
    background: none;
}

div#toolbar-box div.b div.b, div#element-box div.section-box div.b div.b
{
    background: none;
}

div#toolbar-box div.b div.b div.b, div#element-box div.section-box div.b div.b div.b
{
    background: none;
}

div#element-box div.t
{
    background: none;
}

div#element-box div.t div.t
{
    background: none;
}

div#element-box div.t div.t div.t
{
    background: none;
}

div#element-box div.b
{
    background: none;
}

div#element-box div.b div.b
{
    background: none;
}

div#element-box div.b div.b div.b
{
    background: none;
}
/** rounded corners **/


.MainBorder
{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.Hide_While_Print
{
    display: none;
}
div#toolbar-box,tr#tr_header,tr#tr_Menu
{
    display:none;
}

.ReviewDisclaimer
{
    /*border:2px solid red;    */
    background-color:#a0a0a0;/*:#e03625*/
    color:#fff;
}