﻿

#firstinfo
{
    display: none;     
      
}

.gap
{
	padding-left:0px;
	font-weight:bold;   
}
.MainBorder
{
    border-left: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9; 
    border-bottom: 1px solid #b9b9b9;
}

.Report_Combined_Info
{
    color: #000;
    background-color: #DADADA;
    padding: 5px 5px 5px 5px;
    font-family: Lucida Grande,Arial,Helvetica,sans-serif;
    text-align: left;
}
.Report_Header
{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 8px 8px 0px;
    font-family: Lucida Grande,Arial,Helvetica,sans-serif;
    text-align: left;
}
.Report_Sub_info_left
{
    text-align: left;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 2px 2px 0px;
    font-family: Lucida Grande,Arial,Helvetica,sans-serif;
    vertical-align:top;  
}
.Report_Sub_info_middle
{
        	  
}
.Report_Sub_info_right
{
    text-align: left;
    color: #000;
    font-size: 12px;
    font-weight: normal;
    padding: 2px 2px 2px 0px;
    font-family: Lucida Grande,Arial,Helvetica,sans-serif;
    width:90%;
    text-transform:capitalize;
}

#tblsummary
{
	border:0;
	width:96%;
}

h3
{
    font-size: 11px;
    font-weight: bold;
    display: inline;
    /*line-height: 2em;*/
}
h4
{
    font-size: 11px;
    font-weight: normal;
    display: inline;
    line-height: 2em;
}
.clearAll
{
    clear: both;
}

div.reportheader
{
    background-image: url('../../Content/themes/base/images/logo.jpg');
    background-repeat: no-repeat;
    width: 968px;
    height: 90px;
    cursor: pointer;
}
div.reportheader_nologo
{
    width: 968px;
    height: 90px;
    cursor: pointer;
}

div.reportheader div.slogan
{
    position: absolute;
    left: 170px;
    top: 50px;
}

div.reportdetails
{
    float: right;
    margin-right: 10px;
}

div.reportdetails p
{
    display: inline;
    color: #9b0000;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.5em;
}
div.reportdetails p.black
{
    color: black;
}
div.reportdetails p.small
{
    font-weight: normal;
    font-size: 12px;
}
div.toolbar
{
    float: right;
    margin: 5px 5px 0 0;
}

div.mainbgheader
{
    background-image: url('../../Content/themes/base/images/mainbgheader.png');
    background-repeat: no-repeat;
    height: 8px;
    width: 968px;
}

div.mainbgbody
{
    background-image: url('../../Content/themes/base/images/mainbgbody.png');
    background-repeat: repeat-y;
    width: 968px;
    text-align: center;
}

div.mainbgfooter
{
    background-image: url('../../Content/themes/base/images/mainbgfooter.png');
    background-repeat: no-repeat;
    height: 14px;
    width: 968px;
}

div.summary
{
    background-image: url('../../Content/themes/base/images/summarybg.png');
    background-repeat: no-repeat;
    height: 143px;
    width: 949px;
    margin: 0px auto;
    text-align: left;
    padding-bottom: 1em;
}

div.summary_content
{
    font-size: 12px;
    width: 300px;
    float: left;
    padding: 0.5em;
}

div.summary_content_short
{
    font-size: 12px;
    width: 200px;
    float: left;
    padding: 0.5em;
}

div.border_left
{
    border-left: 1px solid black;
}

div.sectionheader
{
    background-image: url('../../Content/themes/base/images/sectionheader.png');
    background-repeat: no-repeat;
    height: 34px;
    /*width: 898px;*/
    text-align: left;
    text-transform: uppercase;
    padding-left: 50px;
    color: White;
    padding-top: .1em;
    font-size: 20px;
    font-weight: bold;
    margin: 0px auto;
}

div.sectionbgheader
{
    background-image: url('../../Content/themes/base/images/sectionbgheader.png');
    background-repeat: no-repeat;
    height: 10px;
    /*width: 949px;*/
    margin: 0px auto;
}

div.sectionbgbody
{
    background-image: url('../../Content/themes/base/images/sectionbgbody.png');
    background-repeat: repeat-y;
    /*width: 949px;*/
    margin: 0px auto;
}

div.sectionbgfooter
{
    background-image: url('../../Content/themes/base/images/sectionbgfooter.png');
    background-repeat: no-repeat;
    height: 11px;
    /*width: 949px;*/
    margin: 0px auto;
    padding-bottom: 0.5em;
}

div.sectionbodycontent
{
    width: 95%;
    text-align: left;
    margin: 0px auto;
}

table.reporttable
{
    width: 100%;
}

table.reporttable thead th.begin
{
    background-image: url('../../Content/themes/base/images/tableheaderbegin.png');
    background-repeat: no-repeat;
    width: 29px;
    height: 30px;
    padding: 0;
}

table.reporttable thead
{
    /*background-image: url('../Images/tableheaderbody.png');*/
    background-repeat: repeat-x;
    height: 30px;
}

table.reporttable thead th
{
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    background-image: url('../../Content/themes/base/images/tableheaderbody.png');
    background-repeat: repeat-x;
}



table.reporttable tbody td.begin
{
    background-color: #fcfcfc;
    border-left: .09em solid #c2c2c2;
    text-align: center;
    vertical-align: top;
    padding: 0;
    padding-top: 10px;
}

table.reporttable tbody td
{
    background-color: #dcdcdc;
    vertical-align: top;
    text-align: left;
    color: black;
    font-size: 11px;
    font-family: Lucida Grande,Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

table.reporttable thead th.end
{
    background-image: url('../../Content/themes/base/images/tableheaderend.png');
    background-repeat: no-repeat;
    width: 11px;
    height: 30px;
    padding: 0;
}

table.reporttable tbody td.end
{
    /*background-color: #dcdcdc;*/ /*border-right: .09em solid #fcfcfc;*/
    border-right: .09em solid #dcdcdc;
    padding: 0;
}

table.reporttable tfoot td.end
{
    background-image: url('../../Content/themes/base/images/tablefooterend.png');
    background-repeat: no-repeat;
    border-right: none;
    height: 12px;
}

table.reporttable tfoot td.begin
{
    background-image: url('../../Content/themes/base/images/tablefooterbegin.png');
    background-repeat: no-repeat;
    height: 12px;
    width: 29px;
    border: none;
}

table.reporttable tfoot td
{
    background-image: url('../../Content/themes/base/images/tablefooterbody.png');
    background-repeat: repeat-x; /*border-right: .15em solid #eef3fd; 	*/
    height: 30px;
}



div.sectionsummary
{
    font-size: 13px;
    text-align: left;
    /*padding-bottom: 10px;*/
}

div.sectionsummary h3
{
    font-size: 13px;
    color: #9b0000;
    margin: 0;
}

table.reporttable tbody table
{
    width: 100%;
}

table.reporttable tbody table tr, table.reporttable tbody tr
{
    vertical-align: top;
}

table.reporttable tbody table tr td
{
    vertical-align: top;
    border: 0;
    padding-left: 0;
    margin-left: 0;
}

p.indent
{
    text-indent: 0.5em;
    padding: 0;
    margin: 0;
}
p.indent_more
{
    text-indent: 1em;
    padding: 0;
    margin: 0;
}
p.indent_more_more
{
    text-indent: 1.5em;
    padding: 0;
    margin: 0;
}
p.header
{
    font-weight: bold;
}
.content
{
    /*background-color:#cacaca; 	width:100%; 	padding-bottom:10px; 	margin-bottom:2%;*/
}
#TDDecision
{
	width:1px; 
}



























/* MAIN */
div.tabs
{
    clear: both;
    font-size: 67.5%;
}

div.header
{
    padding: 10px 0px 50px 0px;
    width: 80%;
    float: left;
}

div.reportSummary
{
    float: right;
    width: 20%;
    font-weight: normal;
    text-align: center;
}

div.reportSummary table
{
    font-size: 12px;
    text-align: right;
    vertical-align: top;
}

div.support
{
    font-size: 13px;
    font-family: Verdana;
    vertical-align: top;
}

div.errorSection
{
}

div.errorSection a
{
    color: red;
}

div.errorSection a:hover
{
    color: yellow;
}

/* NATIONAL CRIMINAL REPORT */

div.searchSummary
{
    width: 99%;
    text-align: left;
    font-size: 12px;
    padding-bottom: 20px;
}

div.ncr
{
    text-align: left;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.ncr img
{
    float: right;
}

div.case
{
    width: 90%;
    border: 1px solid black;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 0px;
}

div.case h3
{
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 15px;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 0px;
}

div.case h3.division
{
    clear: both;
    background-color: gray;
    color: white;
    text-align: center;
    font-size: 14px;
    width: 60%;
    padding-bottom: 3px;
    padding-top: 3px;
}

span.caseInformation
{
    width: 40%;
    padding-bottom: 10px;
}

span.leftSide
{
    float: left;
}

span.rightSide
{
    float: right;
}

div.caseDetails
{
    clear: both;
    width: 100%;
    padding: 3px 0px 3px 0px;
}

table.ncr
{
    table-layout: fixed;
    width: 100%;
    font-size: 12px;
}

table.ncr td.header
{
    width: 150px;
    vertical-align: top;
}

table.ncr td.data
{
    font-weight: bold;
    text-transform: capitalize;
}

table.ncr td.remark
{
    font-weight: 100;
    font-style: italic;
}

table.ncr td.namealias
{
    font-weight: 100;
    font-style: italic;
    text-transform: capitalize;
}

div.noRecords
{
    width: 90%;
    text-align: center;
    font-size: 18px;
    font-family: Verdana;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}

div.ofacList
{
    width: 70%;
    text-align: left;
    font-size: 12px;
    font-family: Verdana;
    font-weight: normal;
    padding-bottom: 10px;
    padding-top: 10px;
}

/*   PEOPLE SEARCH */

table.srchResults
{
    font-size: 12px;
    color: black;
    line-height: 12pt;
    font-family: Arial;
    table-layout: fixed;
    text-decoration: none;
}

table.srchResults td.cHB
{
    background-color: gray;
    font-size: 13px;
    color: white;
    font-weight: bold;
}
.srchBorder
{
    border-left: 1px dotted #D5D5D5;
}
.srchBorderHorz
{
    border-top: 1px dotted #D5D5D5;
}
.srchCol
{
    font-weight: bold;
    font-size: 9pt;
    color: black;
    line-height: 12pt;
    font-family: Arial;
    background-color: #D5D5D5;
    text-decoration: none;
}
.srchAltRow0
{
    background-color: #F5F5F5;
}
.srchAltRow1
{
    background-color: #FFFFFF;
}
.srchAltCol0
{
    color: #F5F5F5;
}
.srchAltCol1
{
    color: #FFFFFF;
}
.srchWarning
{
    font-weight: bold;
    font-size: 9pt;
    color: #6A76AB;
    line-height: 12pt;
    font-family: Arial;
    text-decoration: none;
}

table.srchSummary
{
    font-size: 12px;
}

table.srchSummary table.content
{
    font-size: 12px;
}


/*   SEX OFFENDER */

table.inputtable
{
    width: 100%;
    font-size: 12px;
}

table.inputtable td.nameHeader
{
    font-weight: bold;
    font-size: 18px;
    background-color: gray;
    color: white;
    padding: 5px 0px 5px 10px;
}

table.inputtable span.idHeader
{
    font-weight: 100;
    font-style: italic;
    font-size: 12px;
    color: white;
}

table.inputtable td
{
    vertical-align: top;
}

table.inputtable img
{
    margin-right: 20px;
}

table.tableddata
{
    table-layout: fixed;
}

table.tableddata th
{
    text-align: left;
    width: 150px;
}

div.sorRecord
{
    margin-top: 20px;
    border-top-color: black;
    border-top-style: dashed;
    border-top-width: 1px;
}

div.sorRecord table
{
    text-align: left;
    font-size: 14px;
    text-indent: 20px;
}

/* TRACE DETAIL REPORT */
table.report
{
}

table.report td.acc, table.report td.acc1, table.report td.acc2, table.report td.nonacc, table.report td.wtab, table.report td.wtab2, table.report td.wtab3, table.report td.wtd
{
    line-height: 16px;
}

table.report td.acc
{
    font-family: Verdana,Arial;
    font-size: 9pt;
    font-weight: bold;
    color: black;
    text-indent: 20px;
    padding-right: 5px;
    padding-left: 0px;
    padding-top: 10px;
}
table.report td.acc1
{
    font-family: Verdana,Arial;
    font-size: 8pt;
    font-weight: bold;
    color: black;
    text-indent: 20px;
    padding-right: 5px;
    padding-left: 10px;
}
table.report td.acc2
{
    font-family: Verdana,Arial;
    font-size: 8pt;
    font-weight: bold;
    color: black;
    text-indent: 20px;
    padding-right: 5px;
    padding-left: 40px;
}
table.report td.nonacc
{
    font-family: Verdana,Arial;
    font-size: 8pt;
    font-weight: normal;
    color: black;
    text-indent: 20px;
    padding-right: 0px;
    padding-left: 20px;
}
table.report td.wtab
{
    font-family: Verdana,Arial;
    font-size: 8pt;
    font-weight: normal;
    color: black;
    padding-right: 0px;
    text-indent: 20px;
    padding-left: 20px;
}
table.report td.wtab2
{
    font-family: Verdana,Arial;
    font-size: 8pt;
    font-weight: normal;
    color: black;
    padding-right: 0px;
    text-indent: 20px;
    padding-left: 30px;
}
table.report td.wtab3
{
    font-family: Verdana,Arial;
    font-size: 8pt;
    font-weight: normal;
    color: black;
    padding-right: 0px;
    text-indent: 20px;
    padding-left: 50px;
}


table.report td.externalborder
{
    border: 1px dashed black;
}

.report
{
    table-layout: fixed;
}
.report TD
{
    font-family: Verdana,Arial;
    font-size: 8pt;
    font-weight: normal;
    color: black;
    line-height: 12pt;
}
.report .graphheader
{
    font-family: Arial, Verdana;
    font-size: 10pt;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #0099CC;
}
.report .sectiontitle
{
    font-family: Arial,Verdana;
    font-size: 12pt;
    font-weight: bold;
    color: black;
    padding-bottom: 5px;
}
.report .xsmall
{
    font-family: Verdana;
    font-size: 6pt;
    line-height: 8pt;
}
.report .SubSectiontitle
{
    font-family: Verdana;
    font-size: 10pt;
    font-weight: bold;
    color: #0099CC;
    padding-bottom: 3px;
}
.report .SubSectiontitleLR
{
    font-family: Verdana;
    font-size: 10pt;
    font-weight: bold;
    color: #0099CC;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    border-left: 3px solid #0099CC;
    border-right: 3px solid #0099CC;
}
.report .leftmargin
{
    padding-left: 3px;
    border-left: 3px solid #0099CC;
}
.report .leftrightmargin
{
    padding-left: 3px;
    padding-right: 3px;
    border-left: 3px solid #0099CC;
    border-right: 3px solid #0099CC;
}
.report .rightmargin
{
    padding-right: 3px;
    border-right: 3px solid #0099CC;
}
.report .bottommargin
{
    border-top: 3px solid #0099CC;
}
.report .topmargin
{
    border-bottom: 3px solid #0099CC;
}
.report .underl
{
    font-weight: bold;
}
.report .bolded
{
    font-weight: bold;
    font-size: 11pt;
}
.report1
{
    table-layout: fixed;
}
.report1 TD
{
    font-family: Verdana,Arial;
    font-size: 8pt;
    font-weight: normal;
    color: black;
    line-height: 14.5pt;
}
.report1 .graphheader
{
    font-family: Arial, Verdana;
    font-size: 10pt;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #0099CC;
}
.report1 .profileSubSectiontitle
{
    font-family: Verdana;
    font-size: 10pt;
    font-weight: bold;
    color: #0099CC;
    padding-bottom: 3px;
}
.report1 .underl
{
    font-weight: bold;
}
.externalborder TD
{
    font-family: Verdana,Arial;
    font-size: 8pt;
    font-weight: normal;
    color: black;
    line-height: 8pt;
}
.report .title4
{
    font-weight: bold;
    font-size: 8pt;
    padding-bottom: 3px;
    padding-top: 7px;
}
.imp
{
    font-family: Verdana,Arial;
    font-size: 8pt;
    font-weight: normal;
    color: black;
    text-indent: 0px;
    padding-top: 20px;
}

.report .ftitle
{
    font-family: Verdana,Arial;
    font-size: 9pt;
    font-weight: bold;
    color: black;
    text-indent: 0;
    padding-top: 20px;
}
.report .ftitleM
{
    font-family: Verdana,Arial;
    font-size: 10pt;
    font-weight: bold;
    color: black;
    text-indent: 0;
}
.report .fspace
{
    font-family: Verdana,Arial;
    font-size: 1pt;
    color: white;
}
.report .fheader
{
    background-color: #F0F0F0;
}
.report .fpair
{
    background-color: #F8F8F8;
}
.report .wtd
{
    font-family: Verdana,Arial;
    font-size: 8pt;
    font-weight: normal;
    color: black;
    padding-left: 20px;
}
.report .requestl
{
    color: blue;
}

/* SSN VALIDATION */
div.reportName
{
    width: 100%;
    text-align: right;
    padding-top: 10px;
    color: gray;
    font-family: Verdana;
    font-size: 12px;
}

div.reportName h3
{
    color: black;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

table.content
{
    /*  	table-layout: fixed;  DO I NEED THIS */
    width: 95%;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    padding-bottom: 40px;
}

table.content thead th
{
    padding-bottom: 10px;
    border-bottom: 1px dashed black;
}

table.content thead td
{
    padding-bottom: 15px;
    padding-top: 10px;
    border-bottom: 1px dashed black;
}

table.content th
{
    width: 25%;
    font-weight: bold;
    vertical-align: top;
}

table.content td
{
    vertical-align: top;
    width: 25%;
}

table.content td.header
{
    font-weight: bold;
    text-decoration: underline;
    padding-top: 30px;
}

table.content td.seperator
{
    padding: 10px;
}

table.content td.recordHeader
{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

table.mvr
{
    width: 100%;
}
table.mvr th
{
    width: 5%;
}

table.mvr td
{
    width: 15%;
}

table.mvr td.history
{
    width: 50%;
}

div.resultsHeader
{
    width: 100%;
    margin-left: 0;
    margin-right: auto;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

div.requestId
{
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px dashed black;
}
.Sample_Report_MVR_Tables
{
    border-collapse: collapse;
    border-color: Black;
    border-width: 1px;
    border-style: solid;
    padding: 5px 5px 5px 5px;
}
.CCR1_Sample_Report_Image
{
    background-image: url('../../Content/themes/base/sample1.jpg');
    background-repeat: no-repeat;
    height: 240px;
    width: 192px;
    border: none;
}

.ViewSampleReportNonMember
{
}
.tdSampleReportNonMember
{
}



/* ER Reports */

.report
{
    table-layout: fixed;
}
.report td
{
    font-family: Verdana,Arial;
    font-size: 8pt;
    font-weight: normal;
    color: black;
    line-height: 12pt;
    vertical-align: top;
}
.reportInner
{
    table-layout: fixed;
}
.reportInner td
{
    font-family: Verdana,Arial;
    font-size: 8pt;
    font-weight: normal;
    color: black;
    padding-right: 10px;
    padding-left: 5px;
    line-height: 12pt;
}
.reportList
{
    table-layout: fixed;
}
.reportList td
{
    font-family: Verdana,Arial;
    line-height: 10pt;
    font-size: 8pt;
    font-weight: normal;
    color: black;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.report .ftitle
{
    font-family: Verdana,Arial;
    font-size: 10pt;
    font-weight: normal;
    color: black;
    font-weight: bold;
}
.report .ftitle2
{
    font-family: Verdana,Arial;
    font-size: 10pt;
    font-weight: normal;
    color: white;
    font-weight: bold;
}
.report .ftitle3
{
    font-family: Verdana,Arial;
    font-size: 10pt;
    font-weight: normal;
    color: #000066;
    font-weight: bold;
     vertical-align:top;  
}
.report .ftitle1
{
    font-family: Verdana,Arial;
    font-size: 9pt;
    font-weight: normal;
    color: blue;
    font-weight: bold;
}

.report .warning
{
    font-family: Verdana,Arial;
    font-size: 11pt;
    font-weight: bold;
    color: red;
}

.report .underl
{
    font-weight: bold;
    padding-left: 5px;
}
H2
{
    font-family: Verdana;
    font-size: 12pt;
    font-weight: bold;
    color: black;
    width: 100%;
    border-bottom: black 1px solid;
}
.sectionlabel
{
    font-family: Arial;
    font-size: 10pt;
    font-weight: bold;
    color: black;
    width: 100%;
    height: 24px;
    text-align: center;
    padding-top: 3px;
    border-top: gray 1px dotted;
    border-bottom: gray 1px dotted;
}
.fspace
{
    font-family: Verdana,Arial;
    font-size: 1pt;
    color: white;
}
.fheader
{
    font-family: Verdana,Arial;
    font-size: 8pt;
    font-weight: normal;
    color: black;
    padding-right: 5px;
    padding-left: 2px;
    background-color: #F0F0F0;
}
.srchAltRow0
{
    background-color: #FFFFFF;
}
.srchAltRow1
{
    background-color: #FFFFFF;
}
.fpair
{
    font-family: Verdana,Arial;
    font-size: 8pt;
    font-weight: normal;
    color: black;
    padding-right: 5px;
    padding-left: 2px;
    background-color: #F8F8F8;
}
.rcolor1
{
    background-color: #FFFFFF;
}
.rcolor2
{
    background-color: #F5F5F5;
}
.rcolor3
{
    background-color: #000066;
}
.rcolor4
{
    background-color: #F0F0F0;
}
.underl
{
    font-weight: bold;
}
pre {
margin-bottom: 10px;
margin-top:-2px;
white-space: pre; /* CSS2 */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -hp-pre-wrap; /* HP printers */
white-space: -o-pre-wrap; /* Opera 7 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: pre-wrap; /* CSS 2.1 */
white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
word-wrap: break-word; /* IE */
style="table-layout: fixed;"
width: 99%;
}

.tblcollapse
{
    width:98%;
    border-collapse: collapse;
}

.plus_btn
        {
            background-image: url('../../Content/themes/base/images/plus_symbol.png');
            background-repeat: no-repeat;
             background-position:right;
             width:50px !important;
             height:34px;  
        }

.plus_btnSmall
        {
            background-image: url('../../Content/themes/base/images/plus_symbolSmall.png');
            background-repeat: no-repeat;
             background-position:right;
               width:35px !important;
             height:25px; 
        }
        .back_top_center
        {
            background-image: url('../../Content/themes/base/images/top_center.png');
            background-repeat: repeat-x;
            width:95%;
        }
        .back_top_right
        {
            background-image: url('../../Content/themes/base/images/top_right_corner.png');
            background-repeat: no-repeat;background-position:left;
        }
        .middle_left
        {
            background-image: url('../../Content/themes/base/images/center_left2.png');
            background-repeat: repeat-y;
           background-position:right;
        }
        .middle_right
        {
            background-image: url('../../Content/themes/base/images/center_right.png');
            background-repeat: repeat-y; background-position:left;
        }
        .bottom_left
        {
            vertical-align:top;
            background-image: url('../../Content/themes/base/images/botom_left_corner2.png');
            background-repeat: no-repeat;          
            background-position:right;
        }
        .bottom_center
        {
            background-image: url('../../Content/themes/base/images/botton_center_part.png');
            background-repeat: repeat-x;
            height:8px;
        }
        .bottom_right
        {
             background-position:left;
            vertical-align:top;
            background-image: url('../../Content/themes/base/images/bottom_right_corner.png');
            background-repeat: no-repeat;
        }
       . sectionbgbody { 
 margin: 0px auto;width:90%;
}
/*
.sectionbgfooter {
 
 height: 13px; 
 margin: 0px auto;
 padding-bottom: 0.5em;
}*/
.sectionheader1 {
 
 height: 34px;
 width:90%;
 text-align: left;
 text-transform: uppercase;
 padding-left: 50px;
 color:white;
 padding-top: .1em;
 font-size: 20px;
 font-weight: bold;
 margin: 0px auto;
}

.PS_usaintel_header
			{
				font-size: 20px;
				font-weight: bold;
				text-align: center;								
			}
			.PS_usaintel_Registered
			{
				text-align: center;
				font-size: 18px;
			}
			.PS_float_left
			{
				text-align: left;
			}
			.PS_float_right
			{
				text-align: right;
			}
			.PS_main
			{
				border: 2px solid black;
				margin:10px 0px 10px 0px;
				width:98%;
				/*border-collapse:collapse;*/
			}
			.PS_Column_Header
			{
				text-decoration:underline;
			}
			.PS_SSN_DEATH_TOP
			{
				font-size: 15px;
				font-weight: bold;
				text-decoration:underline;
			}
			.PS_SSN_DEATH_BOTTOM
			{
				
				font-size: 14px;
			}
			.PS_BORDER
			{
				border: 1px solid black;
				padding:0px 0px 0px 10px;				
			}
    .uspeople
    {
         vertical-align:middle;  
    }
   
#tblNCR td{   background-color:#fff;} 
#tblNCRPLUS td{   background-color:#fff;} 
#tblRCX td{   background-color:#fff;} 
    

.ReviewDisclaimer
{
    /*border:2px solid red;    */
    background-color:#a0a0a0;/*#e03625*/
    color:#fff;
}
