﻿@charset "utf-8";
/* CSS Document */

#NCR1_1_b, #PS_0_b {
    border: 1px solid rgb(204, 204, 204) !important;
    display: block !important;
    margin-left: 19px !important;
    padding: 10px 25px 10px 10px !important;
}

#tblNCR thead tr td:nth-child(2) b {
    background: #f5f5f5 none repeat scroll 0 0 !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    display: block !important;
    height: 80px !important;
    padding: 10px !important;
    width: 500px !important;
}

.main-box {
    border: 0 solid #c1c1c1;
    margin-bottom: 0;
    padding-bottom: 0px;
    width: 98.3%;
	margin-left: 19px;
}

.Center_ImgMVC ul {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    float: left;
    height: 34px;
    margin-top: 16px;
    padding-bottom: 4px;
    padding-left: 0;
    padding-top: 4px;
    text-align: center;
    width: auto;
}
ul li{list-style-type:none;}
body {
    font-family: Arial;
    font-weight: normal;
}
.pad-bot10 {
    margin: -10px;
    width: 95.5%;
}
#tblNCR thead .begin {
    width: 5px !important;
}
#PS_0_b {
    border: 1px solid rgb(204, 204, 204) !important;
    display: block !important;
    margin-left: 0 !important;
    padding: 10px 25px 10px 10px !important;
    width: 97%;
}
.people-search .PS_SSN_DEATH_TOP {
    color: black;
    display: block;
    text-align: left;
    text-decoration: none;
}
#NCR1_1_b table{width:100% !important;}



#peopleTable .ncr_header_top th:nth-child(1) {
    width: 10px !important ;
}
#peopleTable .ncr_header_top th:nth-child(2) {
    float: none !important;
    line-height: 31px !important;
    padding-bottom: 4px ;
    text-align:left !important;
}
.psdisplay {
        visibility: hidden !important;
        display :none !important;
    }

.Center_ImgMVC {
    color: rgb(0, 120, 189);
}
 
.Center_ImgMVC #tabsDemo1 > .current a, .Center_ImgMVC #tabsDemo2 > .current a {
    border: 1px solid #ccc;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    height: 32px !important;
	background-color: rgb(0, 120, 189) !important;
	color: #fff !important;
}

.reporttable {
    color: #575656;
    font-family: segoeui !important;
	width:100%;
}
table.reporttable thead th.begin {
    background: #EAE9E9 none repeat scroll 0% 0% !important;
    /*background-image: url("http://localhost:54530/Resources/../content/themes/base/images/tableheaderbegin.png");*/
    background-repeat: no-repeat;
    width: 29px;
    height: 30px;
    padding: 0px;
}

table.reporttable thead th {
    padding-left: 10px;
    padding-right: 10px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
	background: #EAE9E9 none repeat scroll 0% 0% !important;
    /*background-image: url("http://localhost:54530/Resources/../content/themes/base/images/tableheaderbody.png");*/
    background-repeat: repeat-x;
}

table.reporttable thead th.end {
    /*background-image: url("http://localhost:54530/Resources/../content/themes/base/images/tableheaderend.png");*/
	background: #EAE9E9 none repeat scroll 0% 0% !important;
    background-repeat: no-repeat;
    width: 11px;
    height: 30px;
    padding: 0px;
}

.ncr_header_data {
    height: 30px;
    padding: 5px 10px;
    background: #EAE9E9 none repeat scroll 0% 0% !important;
    line-height: 23px;
    color: #232323;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align:left !important;
}

table.reporttable tbody td {
	background-color: #FFFFFF;
    /*background-color: #DCDCDC;*/
    vertical-align: top;
    text-align: left;
    color: #000;
    font-size: 11px;
    font-family: Lucida Grande,Arial,Helvetica,sans-serif;
    text-transform: uppercase;
    padding: 5px 10px;
}

h4 {
    font-size: 13px !important;
    font-weight: normal;
    display: inline;
    line-height: 2em;
}

