﻿@model Emerge.Models.UsersModel
@{
    
    if (Model.IsEdit)
    {
        ViewBag.Title = "Edit User";
    }
    else
    {
        ViewBag.Title = "Add User";

    }
}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="@Url.Content("~/Scripts/ui_widget_multiselect.js?V23112016")" type="text/javascript"></script>
<style type="text/css">
    div.header1
    {
        cursor: default;
    }
    
    input
    {
        margin-right: 10px;
    }
    
    .k-dropdown
    {
        margin-right: 10px;
        width: 224px;
        float: left;
    }
    
    .k-invalid-msg, .k-textbox
    {
        float: left;
    }
    
    .divisions_dd
    {
    }
    
    /* one */
    .ui-multiselect
    {
        padding: 2px 0 2px 4px;
        text-align: left;
        width:224px;
    }
    
    .ui-multiselect span.ui-icon
    {
        float: right;
    }
    
    .ui-multiselect-single .ui-multiselect-checkboxes input
    {
        position: absolute !important;
        top: auto !important;
        left: -9999px;
    }
    
    .ui-multiselect-single .ui-multiselect-checkboxes label
    {
        padding: 5px !important;
    }
    
    .ui-multiselect-header
    {
        margin-bottom: 3px;
        padding: 3px 0 3px 4px;
    }
    
    .ui-multiselect-header ul
    {
        font-size: 12px;
    }
    
    .ui-multiselect-header ul li
    {
        float: left;
        padding: 0 10px 0 0;
    }
    
    .ui-multiselect-header a
    {
        text-decoration: none;
    }
    
    .ui-multiselect-header a:hover
    {
        text-decoration: underline;
    }
    
    .ui-multiselect-header span.ui-icon
    {
        float: left;
    }
    
    .ui-multiselect-header li.ui-multiselect-close
    {
        float: right;
        text-align: right;
        padding-right: 0;
    }
    
    .ui-multiselect-menu
    {
        display: none;
        padding: 3px;
        position: absolute;
        z-index: 10000;
        width:220px !important;
    }
    
    .ui-multiselect-checkboxes
    {
        position: relative /* fixes bug in IE6/7 */;
        overflow-y: scroll;
    }
    
    .ui-multiselect-checkboxes label
    {
        cursor: default;
        display: block;
        border: 1px solid transparent;
        padding: 3px 1px;
    }
    
    .ui-multiselect-checkboxes label input
    {
        position: relative;
        top: 1px;
    }
    
    .ui-multiselect-checkboxes li
    {
        clear: both;
        font-size: 13px;
        padding-right: 3px;
    }
    
    .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label
    {
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid;
    }
    
    .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a
    {
        display: block;
        padding: 3px;
        margin: 1px 0;
        text-decoration: none;
    }
    
    /* remove label borders in IE6 because IE6 does not support transparency */
    * html .ui-multiselect-checkboxes label
    {
        border: none;
    }
    .successmsg {
        color:#fff;
    }
 
</style>

<div id="content-box">
    @using (Html.BeginForm("AddUpdateUser", "Control", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="padding">
            @*<div id="toolbar-box">
                <div class="m" style="margin-top: 50px;">
                    <div class="toolbar" id="toolbar">
                        <table class="toolbar">
                            <tr>
                                <td>
                                    <asp:imagebutton class="imgbtnClasspnl" runat="server" id="btnAddNew" visible="false"
                                    imageurl="~/Resources/Images/ControlPanel/images/toolbar/icon-32-add.png" tooltip="Add New User"
                                    onclick="btnAddNew_Click" />
                                </td>
                                <td>
                                    <input class="btn btn-default" id="imgbtnSave" style="margin-top: 0px;" type="submit" value="Save" title="Save User info"
                                        onclick="return CheckValidations();" />
                                </td>
                                <td>
                                    <a href="GetEmergeUsers">
                                        <input class="btn btn-danger" type="submit" value="Cancel" title="Cancel" /></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="header icon-48-user" style="padding: 0px 0px 0px 55px; width: 100%">
                        User
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            <div class="clr">
            </div>*@
            <div id="element-box">
                <div style="width: 100%; text-align: center; margin-top: 50px;">                
                <div id="divMSG" style="margin-top: 20px; display: block; width: 88%; position: absolute;">
                @Html.HiddenFor(m => m.strResult)
                </div>
                </div>
                <div class="" id="tickets">
                    <div id="element-box" style="padding-top: 1px;">
                        <div class="m">
                            <div class="header" style="padding: 0px 0px 10px 0px; width: 100%">
                                <i class="profile"></i><font color="white">User</font>                                
                                <table style="float:right;">
                                <tr>
                                <td>
                                    @*<asp:imagebutton class="imgbtnClasspnl" runat="server" id="btnAddNew" visible="false"
                                    imageurl="~/Resources/Images/ControlPanel/images/toolbar/icon-32-add.png" tooltip="Add New User"
                                    onclick="btnAddNew_Click" />*@
                                </td>
                                <td style="">
                                    <input class="btn btn-default" id="imgbtnSave" style="display: block; float:right; margin-top: 17px;" type="submit" value="Save" title="Save User info"
                                        onclick="return CheckValidations();" />
                                </td>
                                <td style="">
                                   <a href="GetEmergeUsers">
                                        <input class="btn btn-danger" type="button" style="display: block; float:right; margin-top: 17px;" value="Cancel" title="Cancel" /></a>
                                </td>
                            </tr>
                           </table>
                          </div>
                            <div id="DivUsers" class="expand">
                                <div class="col-sm-3" style="">
                                    @if (@Model.ViewImage != null)
                                    {
                                        <div class="image-area">
                                            <input id="OldUserImage" name="OldUserImage" type="hidden" value="">
                                            <img src="@Model.ViewImage" alt="User Image" title="User Image" width="150px" height="150px">
                                        </div>
                                        <div style="overflow:hidden; margin-left: 38px; border: 1px solid #ccc; width: 195px; padding: 4px; margin-top: 10px;"><input id="UserImage" name="UserImage" type="file" value=""></div>
                                    }
                                    else
                                    {
                                    }
                                </div>
                                <div class="col-sm-4" style="margin-left: 31px;">
                                    <div class="form-group">
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span class="star">*</span>First Name :</label>
                                      <div class="col-md-6">
                                          <input type="text" id="FirstName" name="FirstName" class="form-control" style="width:224px;" value="@Model.FirstName" required validationmessage="Please enter First Name"  />
                                              <span></span>@*<asp:textbox id="txtFirstName" runat="server" class="TextBoxStyle" width="196px"></asp:textbox>
                                          <asp:requiredfieldvalidator id="rfcompanyName" runat="server" controltovalidate="txtFirstName"
                                              validationgroup="UserRegistration" display="Dynamic" setfocusonerror="True" errormessage="Enter First Name."></asp:requiredfieldvalidator>
                                          <ajaxctrl:filteredtextboxextender id="fetxtFirstName" targetcontrolid="txtFirstName"
                                              runat="server" invalidchars="1234567890" filtermode="InvalidChars">
                                                                      </ajaxctrl:filteredtextboxextender>*@
                                      </div>
                                      <div class="clearfix"></div>
                                  </div>
			                      
			                      <div class="form-group">
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span class="star">*</span>Last Name :</label>
                                      <div class="col-md-6">
			                      		<input type="text" id="LastName" name="LastName" class="form-control" style="width:224px;" value="@Model.LastName" required validationMessage="Please enter Last Name" />
                                              @* <asp:textbox id="txtLastName" runat="server" class="TextBoxStyle" width="196px"></asp:textbox>
                                          <asp:requiredfieldvalidator id="rfLastName" runat="server" controltovalidate="txtLastName"
                                              validationgroup="UserRegistration" display="Dynamic" setfocusonerror="True" errormessage="Enter Last Name."></asp:requiredfieldvalidator>
                                          <ajaxctrl:filteredtextboxextender id="fetxtLastName" targetcontrolid="txtLastName"
                                              runat="server" invalidchars="1234567890" filtermode="InvalidChars">
                                                      </ajaxctrl:filteredtextboxextender>*@
                                      </div>
                                      <div class="clearfix"></div>
                                  </div>  
                                     <div class="form-group">
                                         <label class="col-md-4 control-label help-col-md4" for="name"><span class="RequiredFieldsIndicator" style="font-size: 14px;"></span>Email / User Name :</label>
                                         <div class="col-md-6">
                                             @Html.HiddenFor(m => m.OldUserEmail)
                                             <input type="email" id="UserEmail" name="UserEmail" class="form-control" placeholder="e.g. myname@example.net" style="width:224px"
                                             required validationmessage="Please enter Email" required data-email-msg="Email format is not valid" value="@Model.UserEmail" />
                                                   @* <asp:textbox id="txtEmail" runat="server" class="TextBoxStyle" width="196px"></asp:textbox>
                                               <asp:requiredfieldvalidator id="rfEmail" runat="server" controltovalidate="txtEmail"
                                                   validationgroup="UserRegistration" display="Dynamic" setfocusonerror="True" errormessage="Enter Email Id."></asp:requiredfieldvalidator>
                                               <asp:RegularExpressionValidator ID="RegularExpressionValidator1" runat="server" ValidationGroup="UserRegistration"
                                                               Display="Dynamic" SetFocusOnError="True" ErrorMessage="Enter Valid Email." ControlToValidate="txtEmail"
                                                               ValidationExpression="\w+([-+.']\w+)\w+([-.]\w+)*\.\w+([-.]\w+)*"></asp:regularexpressionvalidator>*@
                                         </div>
                                         <div class="clearfix"></div>
                                     </div>
                                     <div class="form-group">
                                         <label class="col-md-4 control-label help-col-md4" for="name"><span style="font-size: 14px;"></span>User Email-2 :</label>
                                         <div class="col-md-6">
                                             <input type="email" id="UserEmailOne" name="UserEmailOne" class="form-control" value="@Model.UserEmailOne" style="width:224px"  />
                                         </div>
                                         <div class="clearfix"></div>
                                     </div>
                                      <div class="form-group">
                                         <label class="col-md-4 control-label help-col-md4" for="name"><span style="font-size: 14px;"></span>User Email-3 :</label>
                                         <div class="col-md-6">
                                             <input type="email" id="UserEmailTwo" name="UserEmailTwo" class="form-control" value="@Model.UserEmailTwo" style="width:224px"  />
                                         </div>
                                         <div class="clearfix"></div>
                                     </div>
                                  <div class="form-group">
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span class="star"></span>User Note :</label>
                                      <div class="col-md-6">
                                          <textarea style="height: 60px; width: 224px;" cols="20" rows="2" id="UserNote" name="UserNote"
                                                                  class="form-control valid">@Model.UserNote</textarea>
                                      </div>
                                      <div class="clearfix"></div>
                                  </div>
			                      @if (@Model.LastLoginByUser != null)
                                   {
			                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star"></span>Last Login :</label>
			                      	 <div class="col-md-6" style="margin-top:5px; margin-bottom:15px;">
                                          @Model.LastLoginByUser
                                      </div>  
			                      	<div class="clearfix"></div>
                                   }
                                   else
                                   {
                                  
                                   }				
                                   <div class="form-group">
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span class="star"></span>Enabled ?</label>
                                      <div class="col-md-6" style="margin-top:3px;">
                                        @*  @Html.CheckBoxFor(m => m.IsEnabled)*@
                                          <input data-val="true" data-val-required="The IsEnabled field is required." checked="@Model.IsEnabled" id="IsEnabled" name="IsEnabled" type="checkbox" value="true" class="valid css-checkbox chk-style">
                                            <label for="IsEnabled" class="css-label">
                                            </label>


                                          @* <asp:checkbox id="ckbisEnable" runat="server" checked="true" />*@
                                      </div>
                                      <div class="clearfix"></div>
                                  </div>
                                  
                                  <div class="form-group">
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span class="star"></span>Signed FCRA & Received Forms ?</label>
                                      <div class="col-md-6" style="margin-top:3px;">
                                          @*@Html.CheckBoxFor(m => m.IsSignedFcra)*@

                                          <input data-val="true" data-val-required="The IsSignedFcra field is required." checked="@Model.IsSignedFcra" id="IsSignedFcra" name="IsSignedFcra" type="checkbox" value="true" class="valid css-checkbox chk-style">
                                            <label for="IsSignedFcra" class="css-label">
                                            </label>

                                          @Html.HiddenFor(m => m.pkCompanyUserId)
                                          @Html.HiddenFor(m => m.fkUserId)
                                          @Html.HiddenFor(m => m.OldUserPassword)
                                          @Html.HiddenFor(m => m.QueryStringUserId)
                                          @Html.HiddenFor(m => m.QueryStringCompanyId)
                                          @Html.HiddenFor(m => m.CurrentEditUserRoleName)
                                          @Html.HiddenFor(m => m.CurrentLoginUserRoleName) @Html.HiddenFor(m => m.IsAdmin)@Html.HiddenFor(m => m.IsRootCompany)
                                          @Html.HiddenFor(m => m.Initials)
                                          @Html.HiddenFor(m => m.IsEdit)
                                          @*  <asp:checkbox id="ckbSignedFCRA" runat="server" />*@

                                          
                                      </div>
                                      <div class="clearfix"></div>
                                  </div>
                                                
                                  <div class="form-group">
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span class="star"></span>Automatic Emerge Review :</label>
                                      <div class="col-md-6" style="margin-top:4px;">
			                      		@*@Html.CheckBoxFor(m => m.IsAutoEmergeReview)*@
                                          <input data-val="true" data-val-required="The IsAutoEmergeReview field is required." checked="@Model.IsAutoEmergeReview" id="IsAutoEmergeReview" name="IsAutoEmergeReview" type="checkbox" value="true" class="valid css-checkbox chk-style">
                                            <label for="IsAutoEmergeReview" class="css-label">
                                            </label>

                                      </div>
                                      <div class="clearfix"></div>
                                  </div>
                                   <div class="form-group">
                                      <label class="col-md-4 control-label help-col-md4" for="name">LiveRunner Enabled :</label>
                                      <div class="col-md-6" style="margin-top:4px;">
                                         @* @Html.CheckBoxFor(m => m.IsLiveRunnerEnabled)*@
                                          <input data-val="true" data-val-required="The IsLiveRunnerEnabled field is required." checked="@Model.IsLiveRunnerEnabled" id="IsLiveRunnerEnabled" name="IsLiveRunnerEnabled" type="checkbox" value="true" class="valid css-checkbox chk-style">
                                            <label for="IsLiveRunnerEnabled" class="css-label">
                                            </label>
                                      </div>
                                      <div class="clearfix"></div>
                                  </div>
			                      
			                      @*<div class="form-group">
                                      <label class="col-md-4 control-label help-col-md4" for="name">User Image :</label>
                                      <div class="col-md-6">
                                          @Html.TextBoxFor(m => m.UserImage, new { type = "file" })
                                              @Html.HiddenFor(m => m.OldUserImage)
                                              @* <asp:fileupload id="fuUserImage" runat="server" width="283px" />
                                          <asp:regularexpressionvalidator id="revfuUserImage" runat="server" display="Dynamic"
                                              errormessage="Only .jpg,.gif,.png,.jpeg are allowed." controltovalidate="fuUserImage"
                                              validationexpression="^.+\.((jpg)|(gif)|(jpeg)|(png)|(JPG)|(PNG)|(GIF)|(JPEG))$"
                                              validationgroup="UserRegistration"></asp:regularexpressionvalidator>*
                                      </div>
                                      <div class="clearfix"></div>
                                  </div>*@			                                                                        
                                </div>

                                <div class="col-sm-5 pull-right" style="margin-left: -96px;">                                                                        
                                     <div class="form-group">
                                         <label class="col-md-4 control-label help-col-md4" for="name"><span class="RequiredFieldsIndicator" style="font-size: 14px;">*</span> Password :</label>
                                         <div class="col-md-6">
                                             <input  style="width:224px" id="UserPassword" name="UserPassword" class="form-control"  maxlength="18" required pattern="^\S{1}(?:.){4,}\S$" value="@Model.UserPassword" validationMessage="Password length must be greater than 6." @(Model.txtPasswordMode == "password" ? "type=password" : "type=text") @(Model.txtPasswordReadOnly == "readonly" ? "readonly=readonly" : "")   />
                                               @*INT-210 Password Generate*@                                             
                                               <div>
                                                   <button type="button" id="Passwordgenerate"  title="PasswordGenerate" onclick="GeneratePassword();"
                                                       class="ConnectDel btn btn-default" style="cursor: pointer; font-family: Arial; font-size: 13px; margin-top: 10px; text-align: center;">
                                                       Generate Password</button>
                                               </div>
                                         </div>
                                         <div class="clearfix"></div>
                                     </div>
                                    @if (ViewBag.UserStatus != "")
                                    {
				                       <div class="form-group">
				                       
                                         <label class="col-md-4 control-label help-col-md4" for="name"><span style="font-size: 14px;"></span></label>
                                         <div class="col-md-6">
                                             <button type="button" id="btnresendmail" title="resendmail" onclick="Resendmail();"
                                                  class="ConnectDel btn btn-default" style="cursor: pointer; text-align: center; font-family: Arial; font-size: 13px; margin-top: -5px; width: 224px;">
                                                  Send New User Registration E-mail</button>
                                         </div>				                       
                                       <div class="clearfix"></div>
                                     </div>
                                    }
				                    <div class="form-group">                                                                                  
                                        @Html.HiddenFor(m => m.fkStateId, new { id = "hdfkStateId" })
                                        <label class="col-md-4 control-label help-col-md4" for="name"><span class="RequiredFieldsIndicator" style="font-size: 14px;">*</span>State :</label>
                                      <div class="col-md-6">
                                          <select id="fkStateId" name="fkStateId"  validationmessage="Please select State" class="k-dropdown" value="@Model.fkStateId">
                                                </select>
                                          <span class="k-invalid-msg" data-for="fkStateId"></span>
                                      </div>
                                      <div class="clearfix"></div>
                                   </div>
				                    
				                    <div class="form-group">
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span style="font-size: 14px;"></span>County :</label>
				                    	@Html.HiddenFor(m => m.fkCountyId, new { id = "hdfkCountyId", name = "hdfkCountyId" })                                           
                                      <div class="col-md-6">
                                          <select id="fkCountyId" name="fkCountyId"   class="k-dropdown" value="@Model.fkCountyId" >
                                                              </select>
                                      </div>
                                      <div class="clearfix"></div>
                                   </div>
				                    
				                    <div class="form-group">
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span style="font-size: 14px;"></span>Address1 :</label>
                                      <div class="col-md-6">
                                          <input type="text" id="UserAddressLine1" name="UserAddressLine1" style="width:224px;" class="form-control" value="@Model.UserAddressLine1"  />
                                      </div>
                                      <div class="clearfix"></div>
                                   </div>
				                    
				                    <div class="form-group">
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span style="font-size: 14px;"></span>Address2 :</label>
                                      <div class="col-md-6">
                                          <input type="text" id="UserAddressLine2" style="width:224px;" name="UserAddressLine2" class="form-control" value="@Model.UserAddressLine2" />
                                      </div>
                                      <div class="clearfix"></div>
                                   </div>
				                    
				                    <div class="form-group">
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span style="font-size: 14px;"></span>Zip Code :</label>
                                      <div class="col-md-6">
                                          <input type="text" id="ZipCode" name="ZipCode" style="width:224px;" class="form-control" value="@Model.ZipCode" maxlength="5" pattern="\d{5}" validationmessage="Please enter valid Zip Code"   />
                                                   @*<asp:textbox id="txtZipCode" runat="server" class="TextBoxStyle" width="196px" maxlength="5" />
                                               <ajaxctrl:filteredtextboxextender id="fetxtZipCode" targetcontrolid="txtZipCode"
                                                   runat="server" validchars="1234567890" filtermode="ValidChars">
                                                           </ajaxctrl:filteredtextboxextender>
                                               <asp:customvalidator id="CustomValidator1" runat="server" display="Dynamic" setfocusonerror="true"
                                                   validationgroup="UserRegistration" clientvalidationfunction="ValidateZip" errormessage="Enter Valid Zip Code."
                                                   controltovalidate="txtZipCode">
                                                           </asp:customvalidator>*@
                                      </div>
                                      <div class="clearfix"></div>
                                   </div>
				                    
				                    <div class="form-group">
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span style="font-size: 14px;"></span>Phone No :</label>
                                      <div class="col-md-6">
                                          <input type="text" id="PhoneNo" name="PhoneNo" style="width:224px;" class="form-control" value="@Model.PhoneNo"  pattern="((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}" validationmessage="Please enter valid Phone No"   onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                                                  @*<asp:textbox id="txtPhone" runat="server" class="TextBoxStyle" width="196px" maxlength="14"
                                                  onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                                              <asp:customvalidator id="csttxtphone" runat="server" display="Dynamic" setfocusonerror="true"
                                                  errormessage="Enter Valid No." validationgroup="UserRegistration" clientvalidationfunction="ValidatePhone"
                                                  controltovalidate="txtPhone">
                                                          </asp:customvalidator>*@
                                      </div>
                                      <div class="clearfix"></div>
                                   </div>
				                    
				                    <div class="form-group">
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span style="font-size: 14px;"></span>Taleo User Key :</label>
                                      <div class="col-md-6">
                                          <label>@Model.TaleoApiKey</label>
                                          @*<button type="button" id="btnLinkedInJoinIntelifi1" class="btn btn-primary" title="Genrate Taleo Access Key"
                                              onclick="TaleoWebApiKeyGenrate()" style="cursor: pointer; text-align: center;
                                              font-family: Arial; font-size: 12px;">
                                              Regenerate</button>*@
                                      </div>
                                      <div class="clearfix"></div>
                                   </div>

                                    <div class="form-group">
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span style="font-size: 14px;"></span></label>
                                      <div class="col-md-6">
                                          @*<label>@Model.TaleoApiKey</label>*@
                                          <button type="button" id="btnLinkedInJoinIntelifi1" class="btn btn-primary" title="Genrate Taleo Access Key"
                                              onclick="TaleoWebApiKeyGenrate()" style="cursor: pointer; text-align: center;
                                              font-family: Arial; font-size: 12px;">
                                              Regenerate</button>
                                      </div>
                                      <div class="clearfix"></div>
                                   </div>
                                </div>

                                @*<table border="0" width="96%">
                                    @if (@Model.ViewImage != null)
                                    {
                                        <tr id="trUserImage">
                                            <td colspan="2" align="left">
                                                <img src="@Model.ViewImage" alt="User Image" title="User Image"   width="60px" height="68px"/>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                    }
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4" width="15%">
                                            User Note :
                                        </td>
                                        <td align="left" width="85%">
                                            <textarea style="height: 60px; width: 224px;" cols="20" rows="2" id="UserNote" name="UserNote"
                                                class="form-control valid">@Model.UserNote</textarea>
                                            @* <input type="text" id="UserNote" name="UserNote" class="k-textbox" value=""  />*
                                        </td>
                                    </tr>
                                    @if (@Model.LastLoginByUser != null)
                                    {
                                        <tr id="trLastLogin">
                                            <td class="col-md-4 control-label help-col-md4">
                                                Last Login
                                            </td>
                                            <td align="left">
                                                @Model.LastLoginByUser
                                            </td>
                                        </tr>
                                    
                                    }
                                    else
                                    {

                                    }
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            Enabled ?
                                        </td>
                                        <td align="left">
                                            @Html.CheckBoxFor(m => m.IsEnabled)
                                            @* <asp:checkbox id="ckbisEnable" runat="server" checked="true" />*
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            Signed FCRA & Received Forms ?
                                        </td>
                                        <td align="left">
                                            @Html.CheckBoxFor(m => m.IsSignedFcra)
                                            @Html.HiddenFor(m => m.pkCompanyUserId)
                                            @Html.HiddenFor(m => m.fkUserId)
                                            @Html.HiddenFor(m => m.OldUserPassword)
                                            @Html.HiddenFor(m => m.QueryStringUserId)
                                            @Html.HiddenFor(m => m.QueryStringCompanyId)
                                            @Html.HiddenFor(m => m.CurrentEditUserRoleName)
                                            @Html.HiddenFor(m => m.CurrentLoginUserRoleName) @Html.HiddenFor(m => m.IsAdmin)@Html.HiddenFor(m => m.IsRootCompany)
                                            @Html.HiddenFor(m => m.Initials)
                                            @Html.HiddenFor(m => m.IsEdit)
                                            @*  <asp:checkbox id="ckbSignedFCRA" runat="server" />*
                                        </td>
                                    </tr>
                                    @*INT-202*
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            Automatic Emerge Review
                                        </td>
                                        <td align="left">
                                            @Html.CheckBoxFor(m => m.IsAutoEmergeReview)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            LiveRunner Enabled
                                        </td>
                                        <td align="left">
                                            @Html.CheckBoxFor(m => m.IsLiveRunnerEnabled)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            User Image :
                                        </td>
                                        <td align="left">
                                            @Html.TextBoxFor(m => m.UserImage, new { type = "file" })
                                            @Html.HiddenFor(m => m.OldUserImage)
                                            @* <asp:fileupload id="fuUserImage" runat="server" width="283px" />
                                        <asp:regularexpressionvalidator id="revfuUserImage" runat="server" display="Dynamic"
                                            errormessage="Only .jpg,.gif,.png,.jpeg are allowed." controltovalidate="fuUserImage"
                                            validationexpression="^.+\.((jpg)|(gif)|(jpeg)|(png)|(JPG)|(PNG)|(GIF)|(JPEG))$"
                                            validationgroup="UserRegistration"></asp:regularexpressionvalidator>*
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            <span class="RequiredFieldsIndicator">*</span>First Name :
                                        </td>
                                        <td align="left">
                                            <input type="text" id="FirstName" name="FirstName" class="k-textbox" value="@Model.FirstName" required validationmessage="Please enter First Name"  />
                                            <span></span>@*<asp:textbox id="txtFirstName" runat="server" class="TextBoxStyle" width="196px"></asp:textbox>
                                        <asp:requiredfieldvalidator id="rfcompanyName" runat="server" controltovalidate="txtFirstName"
                                            validationgroup="UserRegistration" display="Dynamic" setfocusonerror="True" errormessage="Enter First Name."></asp:requiredfieldvalidator>
                                        <ajaxctrl:filteredtextboxextender id="fetxtFirstName" targetcontrolid="txtFirstName"
                                            runat="server" invalidchars="1234567890" filtermode="InvalidChars">
                                                    </ajaxctrl:filteredtextboxextender>*
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            <span class="RequiredFieldsIndicator">*</span>Last Name :
                                        </td>
                                        <td align="left">
                                            <input type="text" id="LastName" name="LastName" class="k-textbox" value="@Model.LastName" required validationMessage="Please enter Last Name" />
                                            @* <asp:textbox id="txtLastName" runat="server" class="TextBoxStyle" width="196px"></asp:textbox>
                                        <asp:requiredfieldvalidator id="rfLastName" runat="server" controltovalidate="txtLastName"
                                            validationgroup="UserRegistration" display="Dynamic" setfocusonerror="True" errormessage="Enter Last Name."></asp:requiredfieldvalidator>
                                        <ajaxctrl:filteredtextboxextender id="fetxtLastName" targetcontrolid="txtLastName"
                                            runat="server" invalidchars="1234567890" filtermode="InvalidChars">
                                                    </ajaxctrl:filteredtextboxextender>*
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            <span class="RequiredFieldsIndicator">*</span>Email / User Name :
                                        </td>
                                        <td align="left">
                                            @Html.HiddenFor(m => m.OldUserEmail)
                                            <input type="email" id="UserEmail" name="UserEmail" class="k-textbox" placeholder="e.g. myname@example.net" style="width:220px"
                                      required validationmessage="Please enter Email" required data-email-msg="Email format is not valid" value="@Model.UserEmail" />
                                            @* <asp:textbox id="txtEmail" runat="server" class="TextBoxStyle" width="196px"></asp:textbox>
                                        <asp:requiredfieldvalidator id="rfEmail" runat="server" controltovalidate="txtEmail"
                                            validationgroup="UserRegistration" display="Dynamic" setfocusonerror="True" errormessage="Enter Email Id."></asp:requiredfieldvalidator>
                                        <asp:RegularExpressionValidator ID="RegularExpressionValidator1" runat="server" ValidationGroup="UserRegistration"
                                                        Display="Dynamic" SetFocusOnError="True" ErrorMessage="Enter Valid Email." ControlToValidate="txtEmail"
                                                        ValidationExpression="\w+([-+.']\w+)\w+([-.]\w+)*\.\w+([-.]\w+)*"></asp:regularexpressionvalidator>*
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            User Email-2 :
                                        </td>
                                        <td align="left">
                                            <input type="email" id="UserEmailOne" name="UserEmailOne" class="k-textbox" value="@Model.UserEmailOne" style="width:220px"  />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            User Email-3 :
                                        </td>
                                        <td align="left">
                                            <input type="email" id="UserEmailTwo" name="UserEmailTwo" class="k-textbox" value="@Model.UserEmailTwo" style="width:220px"  />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            <span class="RequiredFieldsIndicator">*</span>Password :
                                        </td>
                                        <td align="left">
                                            <input  style="width:220px" id="UserPassword" name="UserPassword" class="k-textbox"  maxlength="18" required pattern="^\S{1}(?:.){4,}\S$" value="@Model.UserPassword" validationMessage="Password length must be greater than 6." @(Model.txtPasswordMode == "password" ? "type=password" : "type=text") @(Model.txtPasswordReadOnly == "readonly" ? "readonly=readonly" : "")   />
                                            @*INT-210 Password Generate*
                                            <div>
                                                <button type="button" id="Passwordgenerate" title="PasswordGenerate" onclick="GeneratePassword();"
                                                    class="ConnectDel" style="cursor: pointer; text-align: center; font-family: Arial;
                                                    font-size: 13px;">
                                                    Generate Password</button>
                                            </div>
                                        </td>
                                    </tr>
                                    @*//INT-210 Resend mail *
                                    @if (ViewBag.UserStatus != "")
                                    {
                                        <tr>
                                            <td class="col-md-4 control-label help-col-md4" width="15%">
                                            </td>
                                            <td align="left" width="85%">
                                                <button type="button" id="btnresendmail" title="resendmail" onclick="Resendmail();"
                                                    class="ConnectDel" style="cursor: pointer; text-align: center; font-family: Arial;
                                                    font-size: 13px;">
                                                    Send New User Registration E-mail</button>
                                            </td>
                                        </tr>
                                    }
                                    @*//INT-210 Resend mail *
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4" width="15%">
                                            @Html.HiddenFor(m => m.fkStateId, new { id = "hdfkStateId" })
                                            <span class="RequiredFieldsIndicator">*</span>State :
                                        </td>
                                        <td align="left" width="85%">
                                            <select id="fkStateId" name="fkStateId" required validationmessage="Please select State" 
                                                class="k-dropdown" value="@Model.fkStateId">
                                            </select>
                                            <span class="k-invalid-msg" data-for="fkStateId"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            @Html.HiddenFor(m => m.fkCountyId, new { id = "hdfkCountyId", name = "hdfkCountyId" })
                                            County :
                                        </td>
                                        <td align="left">
                                            <select id="fkCountyId" name="fkCountyId"   class="k-dropdown" value="@Model.fkCountyId" >
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            Address1 :
                                        </td>
                                        <td align="left">
                                            <input type="text" id="UserAddressLine1" name="UserAddressLine1" class="k-textbox" value="@Model.UserAddressLine1"  />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            Address2 :
                                        </td>
                                        <td align="left">
                                            <input type="text" id="UserAddressLine2" name="UserAddressLine2" class="k-textbox" value="@Model.UserAddressLine2" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            Zip Code :
                                        </td>
                                        <td align="left">
                                            <input type="text" id="ZipCode" name="ZipCode" class="k-textbox" value="@Model.ZipCode" maxlength="5" pattern="\d{5}" validationmessage="Please enter valid Zip Code"   />
                                            @*<asp:textbox id="txtZipCode" runat="server" class="TextBoxStyle" width="196px" maxlength="5" />
                                        <ajaxctrl:filteredtextboxextender id="fetxtZipCode" targetcontrolid="txtZipCode"
                                            runat="server" validchars="1234567890" filtermode="ValidChars">
                                                    </ajaxctrl:filteredtextboxextender>
                                        <asp:customvalidator id="CustomValidator1" runat="server" display="Dynamic" setfocusonerror="true"
                                            validationgroup="UserRegistration" clientvalidationfunction="ValidateZip" errormessage="Enter Valid Zip Code."
                                            controltovalidate="txtZipCode">
                                                    </asp:customvalidator>*
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            Phone No :
                                        </td>
                                        <td align="left">
                                            <input type="text" id="PhoneNo" name="PhoneNo" class="k-textbox" value="@Model.PhoneNo"  pattern="((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}" validationmessage="Please enter valid Phone No"   onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                                            @*<asp:textbox id="txtPhone" runat="server" class="TextBoxStyle" width="196px" maxlength="14"
                                            onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                                        <asp:customvalidator id="csttxtphone" runat="server" display="Dynamic" setfocusonerror="true"
                                            errormessage="Enter Valid No." validationgroup="UserRegistration" clientvalidationfunction="ValidatePhone"
                                            controltovalidate="txtPhone">
                                                    </asp:customvalidator>*
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            Taleo User Key :
                                        </td>
                                        <td align="left">
                                            <label>@Model.TaleoApiKey</label>
                                            <button type="button" id="btnLinkedInJoinIntelifi1" title="Genrate Taleo Access Key"
                                                onclick="TaleoWebApiKeyGenrate()" style="cursor: pointer; text-align: center;
                                                font-family: Arial; font-size: 12px;">
                                                Regenerate</button>
                                        </td>
                                    </tr>
                                </table>*@
                            </div>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                        @*<div class="m">
                              <div class="plus_btn" onclick="ExpdnColps613Notice()"  ></div>
                        </div>*@
                        <div class="m">
                            <div class="header" style="padding: 0px 0px 10px 0px; width: 100%">
                                <i class="location"></i><font color="white">Location</font>
                            </div>
                            <div id="DivLocation" class="expand">
                                <div class="width38">
                                  <div class="form-group">
                                      @Html.HiddenFor(m => m.PkCompanyId, new { id = "hdPkCompanyId" })
                                      @Html.HiddenFor(m => m.SelectedCompanyName)
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span class="star RequiredFieldsIndicator">*</span>Company :</label>
                                      <div class="col-md-6">
                                          @if (Model.ddlCompanyEnabled == "disabled")
                                            {

                                                @Html.DropDownListFor(m => m.PkCompanyId, Model.ListCompany_Id, new { @class = "k-dropdown", @name = "PkCompanyId", @validationmessage = "Please select Company", @required = "", @disabled = "disabled", @onchange = "bindlocation()" })

                                            }
                                            else
                                            { 
                                                @Html.DropDownListFor(m => m.PkCompanyId, Model.ListCompany_Id, new { @class = "k-dropdown", @name = "PkCompanyId", @validationmessage = "Please select Company", @required = "", @onchange = "bindlocation()" })
                                        
                                            }
                                            <span class="k-invalid-msg" data-for="PkCompanyId"></span>@*<select id="PkCompanyId" name="PkCompanyId"  required validationmessage="Please select Company"  class="k-dropdown" value="@Model.PkCompanyId" @(Model.ddlCompanyEnabled == "disabled" ? "disabled=disabled" : "")>
                                            </select>*@
                                            <script type="text/javascript">
                                                Binddropdown();
                                                function Binddropdown() {
                                                    $("#PkCompanyId").kendoDropDownList({});
                                                    var PkCompanyId = $("#hdPkCompanyId").val();
                                                    if (PkCompanyId != 0) {
                                                        var ddlCompany = $("#PkCompanyId").data("kendoDropDownList");
                                                        ddlCompany.value(PkCompanyId);
                                                        var SelectedCompanyName = $("#SelectedCompanyName").val();
                                                        ddlCompany.text(SelectedCompanyName);
                                                    }
                                                }
                                            </script>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                                    <div class="form-group">                                      
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span class="star RequiredFieldsIndicator">*</span>Location :</label>
                                      <div class="col-md-6">
                                          @Html.HiddenFor(m => m.fkLocationId, new { id = "hdfkLocationId" })
                                            <select id="fkLocationId" name="fkLocationId"  required validationmessage="Please select Location"  class="k-dropdown" value="@Model.fkLocationId" @(Model.ddlLocationEnabled == "disabled" ? "disabled=disabled" : "")>
                                            </select>
                                            <span class="k-invalid-msg" data-for="fkLocationId"></span>
                                      </div>
                                      <div class="clearfix"></div>
                                  </div>
                                 </div>
                                 <div class="width38 pull-right">
                                    <div class="form-group">                                      
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span class="star"></span>Other Locations :</label>
                                      <div class="col-md-6">
                                          <div style="float: left">
                                                @Html.HiddenFor(m => m.SelectedLocationId, new { id = "hdnSelectedLocationId" })
                                                <div id="multiselect_dd" style='display: none'>
                                                </div>
                                            </div>
                                            <div style="float: left; margin-top: 5px;">
                                                View in archives only
                                            </div>
                                      </div>
                                      <div class="clearfix"></div>
                                   </div>
                                  </div>
                                </div>
                                

                                @*<table width="96%">
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4" width="15%">
                                            @Html.HiddenFor(m => m.PkCompanyId, new { id = "hdPkCompanyId" })@Html.HiddenFor(m => m.SelectedCompanyName)
                                            <span class="RequiredFieldsIndicator">*</span>Company :
                                        </td>
                                        <td align="left" width="85%">
                                            @if (Model.ddlCompanyEnabled == "disabled")
                                            {

                                                @Html.DropDownListFor(m => m.PkCompanyId, Model.ListCompany_Id, new { @class = "k-dropdown", @name = "PkCompanyId", @validationmessage = "Please select Company", @required = "", @disabled = "disabled", @onchange = "bindlocation()" })

                                            }
                                            else
                                            { 
                                                @Html.DropDownListFor(m => m.PkCompanyId, Model.ListCompany_Id, new { @class = "k-dropdown", @name = "PkCompanyId", @validationmessage = "Please select Company", @required = "", @onchange = "bindlocation()" })
                                        
                                            }
                                            <span class="k-invalid-msg" data-for="PkCompanyId"></span>@*<select id="PkCompanyId" name="PkCompanyId"  required validationmessage="Please select Company"  class="k-dropdown" value="@Model.PkCompanyId" @(Model.ddlCompanyEnabled == "disabled" ? "disabled=disabled" : "")>
                                            </select>*
                                            <script type="text/javascript">
                                                Binddropdown();
                                                function Binddropdown() {
                                                    $("#PkCompanyId").kendoDropDownList({});
                                                    var PkCompanyId = $("#hdPkCompanyId").val();
                                                    if (PkCompanyId != 0) {
                                                        var ddlCompany = $("#PkCompanyId").data("kendoDropDownList");
                                                        ddlCompany.value(PkCompanyId);
                                                    }
                                                    var SelectedCompanyName = $("#SelectedCompanyName").val();
                                                    ddlCompany.text(SelectedCompanyName);
                                                }
                                            </script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            <span class="RequiredFieldsIndicator">*</span>Location :
                                        </td>
                                        <td align="left">
                                            @Html.HiddenFor(m => m.fkLocationId, new { id = "hdfkLocationId" })
                                            <select id="fkLocationId" name="fkLocationId"  required validationmessage="Please select Location"  class="k-dropdown" value="@Model.fkLocationId" @(Model.ddlLocationEnabled == "disabled" ? "disabled=disabled" : "")>
                                            </select>
                                            <span class="k-invalid-msg" data-for="fkLocationId"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-4 control-label help-col-md4">
                                            Other Locations :
                                        </td>
                                        <td align="left">
                                            <div style="float: left">
                                                @Html.HiddenFor(m => m.SelectedLocationId, new { id = "hdnSelectedLocationId" })
                                                <div id="multiselect_dd" style='display: none'>
                                                </div>
                                            </div>
                                            <div style="float: left; margin-top: 5px; margin-left: 10px;">
                                                View in archives only
                                            </div>
                                        </td>
                                    </tr>
                                </table>*@
                            
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div id="element-box" style="margin-top: 10px; margin-bottom: 40px;">
                        @*<div class="m">
                              <div class="plus_btn" onclick="ExpdnColps613Notice()"  ></div>
                        </div>*@
                        <div class="m">
                            <div class="header" style="padding: 0px 0px 10px 0px; width: 100%">
                                <i class="restriction"></i><font color="white">Restrictions</font>
                            </div>
                            <div id="DivRestrictions" class="expand">
                                 <div class="width38">
                                    <div class="form-group">                                      
                                      <label class="col-md-4 control-label help-col-md4" for="name"><span class="star RequiredFieldsIndicator">*</span>Status :</label>
                                      <div class="col-md-6">
                                           @Html.HiddenFor(m => m.RoleId, new { id = "hdRoleId" }) @Html.HiddenFor(m => m.Description)
                                            <select id="RoleId" name="RoleId" required validationmessage="Please select Status"   class="k-dropdown" value="@Model.RoleId"  @(Model.ddlStatusEnabled == "disabled" ? "disabled=disabled" : "") >
                                            </select>
                                            <span class="k-invalid-msg" data-for="RoleId"></span>
                                      </div>
                                      <div class="clearfix"></div>
                                   </div>
                                  </div>

                                @*<table width="96%">
                                    <tr>
                                        <td width="15%" class="col-md-4 control-label help-col-md4">
                                            <span class="RequiredFieldsIndicator">*</span>Status :
                                        </td>
                                        <td align="left" width="85%">
                                            @Html.HiddenFor(m => m.RoleId, new { id = "hdRoleId" }) @Html.HiddenFor(m => m.Description)
                                            <select id="RoleId" name="RoleId" required validationmessage="Please select Status"   class="k-dropdown" value="@Model.RoleId"  @(Model.ddlStatusEnabled == "disabled" ? "disabled=disabled" : "") >
                                            </select>
                                            <span class="k-invalid-msg" data-for="RoleId"></span>
                                        </td>
                                    </tr>
                                </table>*@
                            </div>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    @*   <table cellpadding="3" cellspacing="3" class="AdminAddInformation">
                        <tr>
                            <td colspan="3" align="center">
                               
                            </td>
                        </tr>
                        <tr>
                            
                        </tr>
                        <tr>
                            <td colspan="4" align="center">
                           
                            </td>
                        </tr>
                        <tr>
                            
                        </tr>
                        <tr>
                            <td colspan="4" align="center">
                               
                            </td>
                        </tr>
                        <tr>
                             
                        </tr>
                        <tr>
                            <td colspan="4" align="center">
                             
                            </td>
                        </tr>
                    </table>*@
                    <div class="clr">
                    </div>
                </div>
                @* <div class="b">
                    <div class="b">
                        <div class="b">
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="clr">
            </div>
        </div>
    }
</div>
<script type="text/javascript">

    //INT-210 Resend mail 
    function Resendmail() {
        var Email = $("#UserEmail").val();
        var password = $("#UserPassword").val();
        var oldpassword = $("#OldUserPassword").val();
        $.post('@Url.Action("ReSendmailToExistUser", "Control")', { UserEmail: Email, NewUserPassword: password, OldUserPassword: oldpassword }, function (result) {
            alert(result);
        });
    }

    //INT-210 Generate Password
    function GeneratePassword() {

        $.post('@Url.Action("RandomPasswordGeneration", "Control")', function (result) {
            $("#UserPassword").val(result);
        });
    }
    GetResult();



    function CheckValidations() {
        //        var value = document.getElementById("OtherLocationId").value;
        var divisionidstring = $("#OtherLocationId").val();
        document.getElementById("hdnSelectedLocationId").value = divisionidstring;
        var validator = $("#tickets").kendoValidator().data("kendoValidator");

        if (validator.validate()) {
            return true;
        } else {
            return false;
        }

    }

    function CheckPasswordLength() {
        var RetypeUserPassword = $("#RetypeUserPassword").val();
        var UserPassword = $("#UserPassword").val();

        if (UserPassword.length < 6 || RetypeUserPassword.length < 6) {
            return false;
        }
    }

    function ValidatePhone() {
        var PhoneNo = $("#PhoneNo").val();
        if (PhoneNo.length < 14) {
            return false;
        }

    }

    function GetResult() {

        var divMSG = document.getElementById('divMSG');
        var strResult = document.getElementById('strResult');

        if (strResult != 'null' || strResult.value != '') {
            divMSG.style.display = "block";
            divMSG.innerHTML = strResult.value;
        }
    }
    function Multiselect() {
        var PkCompanyId = $("#hdPkCompanyId").val();
        var IsEdit = document.getElementById("IsEdit").value;
        var IsHome = '';
        var pkCompanyUserId = document.getElementById("pkCompanyUserId").value;

        if (IsEdit == true || IsEdit == "True") {

            IsHome = false;
        }
        else {
            IsHome = true;
        }

        $.post('@Url.Action("BindLocationsByCompanyId", "Control")', { CompanyId: PkCompanyId, IsHome: IsHome, pkCompanyUserId: pkCompanyUserId }, function (data) {

            document.getElementById("multiselect_dd").style.display = "block";
            document.getElementById("multiselect_dd").innerHTML = data.ResultList;

            $("#OtherLocationId").multiselect({

                selectedText: "# Location(s) selected",
                noneSelectedText: "Select Locations",

                minWidth: 200

            });

        });

    }



    Multiselect();


    $(document).ready(function () {

        $("#fkStateId").kendoDropDownList({

            dataTextField: "StateName",
            dataValueField: "pkStateId",
            optionLabel: "Select",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("BindStateKendo", "Corporate")',
                        type: "POST"
                    }
                }
            },
            change: function (e) {
                $("#hdfkStateId").val(this.value());

                var stateid = this.value();
                $("#fkCountyId").css("display", "block");
                $("#fkCountyId").kendoDropDownList({

                    dataTextField: "CountyName",
                    dataValueField: "pkCountyId",

                    optionLabel: "Select",
                    dataSource: {
                        serverFiltering: true,

                        transport: {
                            read: {
                                url: '@Url.Action("GetCountiesByStateId", "Corporate")',
                                data: { StateId: stateid },
                                type: "POST"
                            }
                        }
                    },
                    change: function (e) {
                        $("#hdfkCountyId").val(this.value());
                    }

                });
            }
        });
        var fkStateId = $("#hdfkStateId").val();
        var ddlState = $("#fkStateId").data("kendoDropDownList");
        ddlState.value(fkStateId);


    });

    $(document).ready(function () {
        var fkStateId = $("#hdfkStateId").val();

        $("#fkCountyId").css("display", "block");
        $("#fkCountyId").kendoDropDownList({
            dataTextField: "CountyName",
            dataValueField: "pkCountyId",
            optionLabel: "Select",
            dataSource: {
                serverFiltering: true,

                transport: {
                    read: {
                        url: '@Url.Action("GetCountiesByStateId", "Corporate")',
                        data: { StateId: fkStateId },
                        type: "POST"
                    }
                }
            },
            change: function (e) {
                $("#hdfkCountyId").val(this.value());


            }
        });
        var fkCountyId = $("#hdfkCountyId").val();
        var ddlCounty = $("#fkCountyId").data("kendoDropDownList");
        ddlCounty.value(fkCountyId);

    });


    function TaleoWebApiKeyGenrate() {
        var UserEmail = $("#UserEmail").val();
        $.post('@Url.Action("TaleoWebApiKeyGenrate", "Control")', { UserEmail: UserEmail }, function (data) {
            if (data.Fname != null) {


            }
        })

    }
    function bindlocation() {
        var JselObj = document.getElementById('PkCompanyId');
        var Jnum = JselObj.selectedIndex;
        var Jvalue = JselObj.options[Jnum].value;
        var Jtext = JselObj.options[Jnum].text;


        var companyid = Jvalue;

        var IsHomefklocationId = '';

        $("#hdPkCompanyId").val(Jvalue);

        document.getElementById("SelectedCompanyName").value = Jtext;



        $("#fkLocationId").css("display", "block");

        $("#fkLocationId").kendoDropDownList({

            dataTextField: "City",
            dataValueField: "pkLocationId",
            optionLabel: "Select",
            dataSource: {
                serverFiltering: true,

                transport: {
                    read: {
                        url: '@Url.Action("BindLocationsByCompanyId", "Corporate")',
                        data: { CompanyId: companyid },
                        type: "POST"
                    }
                }
            },
            change: function (e) {
                //  alert("second");
                $("#hdfkLocationId").val(this.value());

            }
        });


        var IsEdit1 = document.getElementById("IsEdit").value;
        var IsHome1 = '';

        if (IsEdit1 == true || IsEdit1 == "True") {

            IsHome1 = false;
        }
        else {
            IsHome1 = true;
        }
        var pkCompanyUserId = document.getElementById("pkCompanyUserId").value;




        $.post('@Url.Action("BindLocationsByCompanyId", "Control")', { CompanyId: companyid, IsHome: IsHome1, pkCompanyUserId: pkCompanyUserId }, function (data) {

            document.getElementById("multiselect_dd").style.display = "block";
            document.getElementById("multiselect_dd").innerHTML = data.ResultList;

            $("#OtherLocationId").multiselect({

                selectedText: "# Location(s) selected",
                noneSelectedText: "Select Location",


                minWidth: 200

            });

        });




    }







    function RemoveHomeLocation() {

    }


    $(document).ready(function () {
        var PkCompanyId = $("#hdPkCompanyId").val();

        $("#fkLocationId").css("display", "block");

        $("#fkLocationId").kendoDropDownList({

            dataTextField: "City",
            dataValueField: "pkLocationId",
            optionLabel: "Select",
            dataSource: {
                serverFiltering: true,

                transport: {
                    read: {
                        url: '@Url.Action("BindLocationsByCompanyId", "Corporate")',
                        data: { CompanyId: PkCompanyId },
                        type: "POST"
                    }
                }
            },
            change: function (e) {

                $("#hdfkLocationId").val(this.value());


            }
        });
        var fkLocationId = $("#hdfkLocationId").val();
        var ddlLocation = $("#fkLocationId").data("kendoDropDownList");
        ddlLocation.value(fkLocationId);
    });



    var IsUsaIntelCmp = 'false';

    $(document).ready(function () {
        var companyId = $("#hdPkCompanyId").val();
        $("#RoleId").kendoDropDownList({
            dataTextField: "Description",
            dataValueField: "RoleId",
            optionLabel: "Select",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("BindStatusForAdminSection1", "Control")',
                        data: { IsRoot: $('#IsRootCompany').val().toLowerCase(), EditUserRole: $('#CurrentEditUserRoleName').val().toLowerCase(), CurrentRole: $('#CurrentLoginUserRoleName').val().toLowerCase() },
                        type: "POST"
                    }
                }
            },
            change: function (e) {

                $("#hdRoleId").val(this.value());
                $("#Description").val(this.text());

            }
        });

        if ("@Model.IsEdit" == true || "@Model.IsEdit" == "True") {
            var RoleId = $("#hdRoleId").val();
            var RoleDescription = $("#Description").val();
            var ddlStatus = $("#RoleId").data("kendoDropDownList");
            ddlStatus.value(RoleId);
            ddlStatus.text(RoleDescription);
        }
        else {

        }
    });


</script>
