﻿@model Emerge.Models.LocationModel

<style type="text/css">
    
    div.header1 { 
    cursor:default; 
     }
    
    input
    {
        margin-right: 10px;
    }
    .k-dropdown
    {
        margin-right: 10px;
        width: 224px;
        float: left;
    }
    .k-invalid-msg, .k-textbox
    {
        float: left;
    }
    .k-scrollbar-vertical {
        top: 0;
        right: 0;
        width: 17px;
        height: 98.9%;
        overflow-y: scroll;
        overflow-x: hidden;
        overflow: scroll;
    }
    
#kendoGrid .tbCompanyPrice { width:50px;}
#kendoGrid .tbDefaultPrice{ width:50px;}
</style>
@{
    if (Model.IsEdit)
    {
        ViewBag.Title = "Edit Location";
    }
    else
    {
        ViewBag.Title = "Add Location";
    }
}
@using (Ajax.BeginForm("SaveLocation", "Control", new AjaxOptions { OnSuccess = "SubmitChanges", LoadingElementId = "DivLoading" }))
{ 
    @Html.HiddenFor(m => m.LocationId, new { id = "hdnLocationId" })
    <div class="buttons-bar" style="margin-top: 58px;">
        <img id="imgApplicant15" class="plus-minus" src="~/Content/themes/base/images/mastercard.jpg" alt="expand" style="width: 48px; height: 30px; margin-left: 15px; margin-top: 12px; float: left">
        <div>
            @if (Model.IsEdit)
            {
                <div style="float: left; margin-left: 12px; margin-top: 15px; font-size: 17px; font-weight: bold;">@Model.CompanyName&#32;&#91;@Model.CityName&#44;@Model.State_Code&#93;</div>
                     }
            else
            { 
                <div style="float: left; margin-left: 12px; margin-top: 14px; font-size: 17px; font-weight: bold; color:#575656;">Company</div>
                      
                     }
        </div>

        <div class="horiz-ch-menu hori-btns">
            <ul>
                <li>
                    <button class="btn btn-default" type="button" title="AddUser" onclick="AddUser();" style="width: 74px; margin-top: -30px;">User</button>
                        @*<img class="imgCommon" alt="" src="@Url.Content("~/Content/themes/base/images/user_icon.png")" title="AddUser" onclick="AddUser();" />*@

                </li>

                <li>
                    <button class="btn btn-default" id="imgbtnSave" type="submit" title="Update Location" style="width: 74px; margin-top: -30px;" onclick="return CheckValidations();">Save</button>
                        @*<input class="btn btn-default imgbtnClasspnl" id="imgbtnSave" type="submit" value="" title="Update Location" onclick="return CheckValidations();" />*@

                </li>

                <li>
                     <button class="btn btn-danger" type="button" title="Cancel" id="imgCancel" style="width: 74px; margin-top: -30px;" onclick="CancelUpdate();">Cancel</button>
                        @*<img class="imgCommon" alt="" src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/cancel_button.png")" title="Cancel" onclick="CancelUpdate();" id="imgCancel" />*@

                </li>
            </ul>                                   
        </div>
    </div>
        
    <div id="content-box">
        <div class="padding">               
            <div id="divMSG" style="text-align:center;">
                                    @Html.Raw(@ViewBag.Message)
                                </div>

             <div id="element-box" style="padding-top: 1px; margin-bottom:40px; background-color:#fff;">
            @* <div class="m">
           <div class="plus_btn" onclick="ExpdnColps613Notice()"  ></div>
            </div>*@
            <div>                                      
                 <div id="tabstrip" style="margin-bottom: -10px;">
                  <ul class="nav nav-tabs" id="Mytab">
                      <li id="liLocation" class="active"><a id="lnkLocation" href="AddCompanyLocation?lid=@Model.LocationId" title="Location">
                          Location<span id="spanET"></span></a> </li>
                      <li id="liUsers"><a id="lnkUsers"  href="GetUsersUnderLocation?pkLocationId=@Model.LocationId" title="Users">
                          Users<span id="spanST"></span></a></li>
                      <li id="liPricing"><a id="lnkPricing" href="PricebyLocationId?pkLocationId=@Model.LocationId" title="Pricing">
                          Pricing <span id="spanMT"></span></a></li>
                      <li id="liPreferences"><a id="lnkPreferences" href="RefernceCodeByLocation?pkLocationId=@Model.LocationId" title="Preferences">
                          Preferences<span id="spanNL"></span></a></li>                               
                  </ul>
                 </div>
                <br />
                 <div id="DivLocation" class="main-box expand" style="width:auto; padding:10px; box-sizing:border-box;"> 
                     <div class="col-sm-6" style="margin-left: 73px;">
                         <div class="form-group">                                      
                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star"></span>Location Note :</label>
                           <div class="col-md-6">
                                <textarea style="height: 60px; width: 224px;" cols="20" rows="2" id="LocationNote" name="LocationNote"
                                                class="form-control valid">@Model.LocationNote</textarea>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="form-group">                                      
                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star"></span>Enabled ?</label>
                           <div class="col-md-6" style="margin-top: 3px;">                                
                                @*@Html.CheckBoxFor(m => m.Enabled, new { @id = "Enabled", @name = "Enabled"})*@
                               <input id="Enabled" name="Enabled" class="css-checkbox chk-style" type="checkbox" checked="@Model.Enabled" data-val="true" data-val-required="The Enabled field is required." value="true">
                               <label for="Enabled" class="css-label"></label>                                                                                                                              
                           </div>                           
                           <div class="clearfix"></div>
                        </div>
                        <div class="form-group">                                      
                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star RequiredFieldsIndicator">*</span>Company :</label>
                           <div class="col-md-6">
                                @Html.HiddenFor(m => m.pkCompanyId, new { id = "hdPkCompanyId" })@Html.HiddenFor(m => m.CompanyName)
                                <select id="pkCompanyId" name="pkCompanyId"  required validationmessage="Company is required."  class="k-widget k-dropdown k-header" value="@Model.pkCompanyId" @(Model.ddlCompanyEnabled == "disabled" ? "disabled=disabled" : "")>
                                </select>
                                <span class="k-invalid-msg" data-for="pkCompanyId"></span>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="form-group">                                      
                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star RequiredFieldsIndicator">*</span>Address1 :</label>
                           <div class="col-md-6">
                                <input type="text" id="Address1" name="Address1" style="width:224px;" class="form-control valid" value="@Model.Address1" required validationmessage="Please enter Address"  />
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="form-group">                                      
                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star"></span>Address2 :</label>
                           <div class="col-md-6">
                                @Html.TextBoxFor(m => m.Address2, new { @id = "Address2", @name = "Address2", @class = "form-control valid", style="width:224px;" })
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="form-group">                                      
                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star RequiredFieldsIndicator">*</span>State :</label>
                           <div class="col-md-6">
                                @Html.HiddenFor(m => m.fkStateId, new { id = "hdnfkStateId" })
                                <select id="fkStateId" name="fkStateId" class="k-dropdown" required validationmessage="Please Select State"  value="@Model.fkStateId">
                                </select>
                                <span class="k-invalid-msg" data-for="fkStateId"></span>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="form-group">                                      
                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star RequiredFieldsIndicator">*</span>City :</label>
                           <div class="col-md-6">
                                @Html.HiddenFor(m => m.CityName, new { id = "hdnCityName" })
                                @Html.HiddenFor(m => m.IsCustomCity)
                                <select id="CityName" name="CityName" class="k-dropdown" required validationmessage="Please Select City" value="@Model.CityName">
                                </select><span class="k-invalid-msg" data-for="CityName"></span>                               
                           </div>                           
                           <div class="clearfix"></div>
                        </div>
                         <div class="form-group">                                      
                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star RequiredFieldsIndicator"></span></label>
                           <div class="col-md-6">                               
                               <input type="text" id="CustomCityName" name="CustomCityName" style="width:224px;" class="form-control valid" style="display: none; margin-left: 3px;" value="@Model.CustomCityName"  />                           
                           </div>                           
                           <div class="clearfix"></div>
                        </div>

                      </div>

                     <div class="col-sm-6 pull-right" style="margin-left: -75px;">
                         <div class="form-group">                                      
                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star RequiredFieldsIndicator">*</span>Zipcode :</label>
                           <div class="col-md-6">
                                <input type="text" id="ZipCode" name="ZipCode" style="width:224px;" class="form-control valid" pattern="\d{5}" maxlength="5" value="@Model.ZipCode" required validationmessage="Please enter valid ZipCode"  />
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="form-group">                                      
                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star RequiredFieldsIndicator"></span>Location Contact :</label>
                           <div class="col-md-6">
                                @Html.TextBoxFor(m => m.LocationContact, new { @id = "LocationContact", @name = "LocationContact", @class = "form-control valid", style="width:224px;" })
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="form-group">                                      
                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star RequiredFieldsIndicator">*</span>Phone Number :</label>
                           <div class="col-md-6">
                                <input type="text" id="PhoneNo" name="PhoneNo" style="width:224px;" class="form-control valid" required validationmessage="Please enter PhoneNo" value="@Model.PhoneNo"  pattern="((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}"  onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="form-group">                                      
                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star"></span>Phone Number 2 :</label>
                           <div class="col-md-6">
                                <input type="text" id="PhoneNo2" name="PhoneNo2" style="width:224px;" class="form-control valid" value="@Model.PhoneNo2"  pattern="((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}"  onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="form-group">                                      
                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star"></span>Fax Number :</label>
                           <div class="col-md-6">
                                <input type="text" id="FaxNumber" name="FaxNumber" style="width:224px;" class="form-control valid" value="@Model.FaxNumber"  pattern="((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}"  onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="form-group">                                      
                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star"></span>Report Email Notification :</label>
                           <div class="col-md-6">
                                @Html.TextBoxFor(m => m.ReportEmailNotification, new { @id = "ReportEmailNotification", @name = "ReportEmailNotification", @class = "form-control valid", style="width:224px;" })
                                @*@Html.CheckBoxFor(m => m.IsReportEmailActivated, new { @id = "IsReportEmailActivated", @name = "IsReportEmailActivated" })*@
                                <input id="IsReportEmailActivated" name="Enabled" class="css-checkbox chk-style" type="checkbox">
                                <label for="IsReportEmailActivated" class="css-label" style="margin-top:8px;"></label>                                                                     
                           </div>
                           <div class="clearfix"></div>
                        </div>
                        <div class="form-group">                                      
                           <label class="col-md-4 control-label help-col-md4" for="name"><span class="star"></span>SYNCPOD ?</label>
                           <div class="col-md-6" style="margin-top: 3px;">
                                @*@Html.CheckBoxFor(m => m.Syncpod, new { @id = "Syncpod", @name = "Syncpod", })*@
                               <input id="Syncpod" name="Enabled" class="css-checkbox chk-style" type="checkbox">
                               <label for="Syncpod" class="css-label"></label>
                           </div>
                           <div class="clearfix"></div>
                        </div>
                    </div>

                  @*<table cellpadding="2" cellspacing="2" style="margin: 0px; width: 96%;">
                                        <tr>
                                            <td class="col-md-4 control-label help-col-md4">
                                                Location Note :
                                            </td>
                                            <td colspan="3">
                                                <textarea style="height: 60px; width: 224px;" cols="20" rows="2" id="LocationNote" name="LocationNote"
                                                class="form-control valid">@Model.LocationNote</textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 control-label help-col-md4">
                                                Enabled ?
                                            </td>
                                            <td  colspan="3">
                                                @Html.CheckBoxFor(m => m.Enabled, new { @id = "Enabled", @name = "Enabled", })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 control-label help-col-md4">
                                                <span class="RequiredFieldsIndicator">*</span>Company :
                                            </td>
                                            <td colspan="3">
                                             @Html.HiddenFor(m => m.pkCompanyId, new { id = "hdPkCompanyId" })@Html.HiddenFor(m => m.CompanyName)
                                            <select id="pkCompanyId" name="pkCompanyId"  required validationmessage="Company is required."  class="k-widget k-dropdown k-header" value="@Model.pkCompanyId" @(Model.ddlCompanyEnabled == "disabled" ? "disabled=disabled" : "")>
                                            </select>
                                            <span class="k-invalid-msg" data-for="pkCompanyId"></span>
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td class="col-md-4 control-label help-col-md4">
                                                <span class="RequiredFieldsIndicator">*</span>Address1 :
                                            </td>
                                            <td colspan="3">
                                                <input type="text" id="Address1" name="Address1" style="width:224px;" class="form-control valid" value="@Model.Address1" required validationmessage="Please enter Address"  />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 control-label help-col-md4">
                                                Address2 :
                                            </td>
                                            <td colspan="3">
                                                @Html.TextBoxFor(m => m.Address2, new { @id = "Address2", @name = "Address2", @class = "form-control valid", style="width:224px;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 control-label help-col-md4">
                                                <span class="RequiredFieldsIndicator">*</span>State :
                                            </td>
                                            <td colspan="3">
                                                @Html.HiddenFor(m => m.fkStateId, new { id = "hdnfkStateId" })
                                                <select id="fkStateId" name="fkStateId" class="k-dropdown" required validationmessage="Please Select State"  value="@Model.fkStateId">
                                                </select>
                                                <span class="k-invalid-msg" data-for="fkStateId"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 control-label help-col-md4">
                                                <span class="RequiredFieldsIndicator">*</span>City :
                                            </td>
                                            <td>
                                                @Html.HiddenFor(m => m.CityName, new { id = "hdnCityName" })
                                                @Html.HiddenFor(m => m.IsCustomCity)
                                                <select id="CityName" name="CityName" class="k-dropdown" required validationmessage="Please Select City" value="@Model.CityName">
                                                </select><span class="k-invalid-msg" data-for="CityName"></span>
                                            </td>
                                            <td colspan="2">
                                                <input type="text" id="CustomCityName" name="CustomCityName" style="width:224px;" class="form-control valid" style="display: none; margin-left: 3px;" value="@Model.CustomCityName"  />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 control-label help-col-md4">
                                                <span class="RequiredFieldsIndicator">*</span>Zipcode :
                                            </td>
                                            <td colspan="3">
                                                <input type="text" id="ZipCode" name="ZipCode" style="width:224px;" class="form-control valid" pattern="\d{5}" maxlength="5" value="@Model.ZipCode" required validationmessage="Please enter valid ZipCode"  />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 control-label help-col-md4">
                                                Location Contact :
                                            </td>
                                            <td colspan="3">
                                                @Html.TextBoxFor(m => m.LocationContact, new { @id = "LocationContact", @name = "LocationContact", @class = "form-control valid", style="width:224px;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 control-label help-col-md4">
                                                <span class="RequiredFieldsIndicator">*</span>Phone Number :
                                            </td>
                                            <td colspan="3">
                                                <input type="text" id="PhoneNo" name="PhoneNo" style="width:224px;" class="form-control valid" required validationmessage="Please enter PhoneNo" value="@Model.PhoneNo"  pattern="((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}"  onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 control-label help-col-md4">
                                                Phone Number 2 :
                                            </td>
                                            <td colspan="3">
                                                <input type="text" id="PhoneNo2" name="PhoneNo2" style="width:224px;" class="form-control valid" value="@Model.PhoneNo2"  pattern="((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}"  onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 control-label help-col-md4">
                                                Fax Number :
                                            </td>
                                            <td>
                                                <input type="text" id="FaxNumber" name="FaxNumber" style="width:224px;" class="form-control valid" value="@Model.FaxNumber"  pattern="((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}"  onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 control-label help-col-md4">
                                                Report Email Notification :
                                            </td>
                                            <td colspan="3">
                                                @Html.TextBoxFor(m => m.ReportEmailNotification, new { @id = "ReportEmailNotification", @name = "ReportEmailNotification", @class = "form-control valid", style="width:224px;" })
                                                @Html.CheckBoxFor(m => m.IsReportEmailActivated, new { @id = "IsReportEmailActivated", @name = "IsReportEmailActivated", })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-4 control-label help-col-md4">
                                                SYNCPOD ?
                                            </td>
                                            <td colspan="3">
                                                @Html.CheckBoxFor(m => m.Syncpod, new { @id = "Syncpod", @name = "Syncpod", })
                                            </td>
                                        </tr>
                                    </table>*@               
                <div class="clr">
               </div>
              </div>
            </div>
        </div>
      <div class="clr">
      </div>
    </div>
    </div>
    @Html.HiddenFor(m => m.IsGlobalCredential)
}
<div id="divManageCustomPackages">
</div>
<script type="text/javascript">

    function CheckValidations() {
        var validator = $("#DivLocation").kendoValidator().data("kendoValidator");

        if (validator.validate()) {
            return true;
        } else {
            return false;
        }
    }

    Pageload();

    function Pageload() {

        if ("@Model.fkStateId" != '' && "@Model.fkStateId" != null) {
            BindCity("@Model.fkStateId");

        }
        else {
            $("#CityName").kendoDropDownList();
        }
    }

    var TotalModifiedGridCount = 0;
    var Counter = 0;

    function SubmitChanges(result) {
        if (result.Save == '1') {
            $("[data-role='grid']").each(function () {
                counter++;
            });
            $("[data-role='grid']").each(function () {
                TotalModifiedGridCount++;
                if ($(this).attr("id").indexOf("dvid_") != -1 || $(this).attr("id").indexOf("UniversalPackages") != -1) {
                    $(this).data("kendoGrid").dataSource.sync();
                }
            });
            //         var divMSG = document.getElementById("divMSG");
            //         divMSG.style.display = "block";
            //         divMSG.innerHTML = Result.strResult;
            window.location.href = '../Control/AddCompanyLocation?lid=' + result.Id + '&_al=' + result.Action;
        }
        else {
            alert("An error occured!")
        }

    }


    function AddUser() {
        var CompanyId = $("#hdPkCompanyId").val();
        self.location = "AddCompanyUser?_c=" + CompanyId;

    }

    function CancelUpdate() {

        self.location = "GetAllLocations";

    }


    function Deletecustom(pkPackageId) {
        if (confirm('Are you sure you want to delete this package?')) {
            $.post('@Url.Action("DeleteCustomPackages", "control")', { Ids: pkPackageId }, function () {
                var grid = $("#ProductPackages").data("kendoGrid");
                grid.dataSource.read();
                grid.refresh();
            });
            return true;
        }
        else {
            return false;
        }
    }


    function AddNewPackage() {
        var PkCompanyId = $("#hdPkCompanyId").val();
        var PkLocationId = $("#hdnLocationId").val();

        var pkPackageId = -1;

        $("#divManageCustomPackages").load('@Url.Action("PartialAddEditCustomPackages", "Control")', { _a: pkPackageId, _companyid: PkCompanyId, _locationid: PkLocationId });
        var window = $("#divManageCustomPackages").kendoWindow({
            modal: true,
            height: "530px",
            width: "800px"
        }).data("kendoWindow");
        window.center();
        window.open();
    }

    function EditPackage(pkPackageId) {
        var PkCompanyId = $("#hdPkCompanyId").val();
        var PkLocationId = $("#hdnLocationId").val();

        $("#divManageCustomPackages").load('@Url.Action("PartialAddEditCustomPackages", "Control")', { _a: pkPackageId, _companyid: PkCompanyId, _locationid: PkLocationId });
        var window = $("#divManageCustomPackages").kendoWindow({
            modal: true,
            height: "530px",
            width: "800px"
        }).data("kendoWindow");
        window.center();
        window.open();

    }


    $(document).ready(function () {
        $("#pkCompanyId").kendoDropDownList({
            dataTextField: "CompanyName",
            dataValueField: "pkCompanyId",
            optionLabel: "Select",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("BindCompanyKendo", "Corporate")',
                        type: "POST"
                    }
                }
            },
            change: function (e) {
                document.getElementById("hdPkCompanyId").value = this.value();
                document.getElementById("CompanyName").value = this.text();

            }
        });
        var PkCompanyId = $("#hdPkCompanyId").val();
        var PkLocationId = $("#hdnLocationId").val();
        var ddlCompany = $("#pkCompanyId").data("kendoDropDownList");
        ddlCompany.value(PkCompanyId);


        $("#Usergrid").kendoGrid({
            sortable: true,
            scrollable: {
                virtual: true
            },
            height: 410,
            columns: [
                { field: "RowNo", sortable: false, title: "#", width: "5%" },
                { field: "FirstName", title: "Name", width: "15%" },
                { field: "Email", title: "Email/UserName", width: "25%" },
                { field: "UserDisplayRole", title: "User Type", width: "15%" },
                { field: "CompanyName", title: "Company", width: "15%" },
                { field: "City", title: "Location", width: "10%" },
                { field: "IsEnabledUser", sortable: false, title: "Active", width: "5%", template: '#  if (IsEnabledUser==true) {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/tick.png")" id="mainimage" value="#=IsEnabledUser#"/> #} else {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/publish_x.png")" id="mainimage2" value="#=IsEnabledUser#"/> #} #' },
                { field: "pkCompanyUserId", title: "Action", width: "10%", sortable: false, template: "<input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/edit.png")' + " id='imgEdit_#=pkCompanyUserId#' title='Edit' value='#=pkCompanyUserId#' style='width:21px; height:20px' onclick='UpdateUser(\"#=pkCompanyUserId#\",\"#=pkCompanyId#\");return false;'  />#if(UserRole!='SystemAdmin' && UserRole!='SupportManager' && UserRole!='SupportTechnician' ){#<input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/delete.png")' + " id='imgDel_#=pkCompanyUserId#' title='Delete' value='#=pkCompanyUserId#' onclick='deleteUser(\"#=pkCompanyUserId#\")' style='width:21px; height:23px' />#}#" },
               ],
            editable: false,
            dataBound: function () {
                var takeTotal = this.dataSource.total();
                if (takeTotal == 0) {
                    document.getElementById("Usergrid").style.display = "none";
                    document.getElementById("Usergrid").style.visibility = "hidden";
                    document.getElementById("nullUser").style.visibility = "visible";
                    document.getElementById("nullUser").style.display = "block";
                }
                else {
                    var gridRows = $("#grid tbody tr");
                    var takeGrid = $("#grid").data("kendoGrid");
                    var lengeth = gridRows.length;
                }
            },
            dataSource: {

                type: "json",
                pageSize: 10,
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                schema: { data: "Reclist", total: "TotalRec",
                    model: {
                        fields: {

                        }
                    }
                },



                batch: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetAllUsersByLocation", "Control")',
                        dataType: "json",
                        async: true,
                        data: { fkCompanyId: PkCompanyId, fkLocationId: PkLocationId }

                    }
                }

            }

        });

    });

    function UpdateUser(pkCompanyUserId, CompanyId) {
        window.location = "AddCompanyUser?_a=" + pkCompanyUserId + "&_c=" + CompanyId;
    }

    function deleteUser(companyuserid) {
        if (confirm('Are you sure you want to delete this Record?')) {
            $.post('@Url.Action("DeleteUser", "Control")', { companyserid: companyuserid }, function (data) { });
            var CompaniesuserGrid = $("#Usergrid").data("kendoGrid");
            CompaniesuserGrid.dataSource.read();
            CompaniesuserGrid.refresh();
        }
    }


    $("#GridReferenceCode").kendoGrid({
        sortable: true,
        pageable: true,
        scrollable: false,
        navigatable: true,
        columns: [
            { field: "ReferenceCode", title: "Reference Code", width: "20%", sortable: false },
            { field: "ReferenceNote", title: "Notes", width: "60%", sortable: false },
            { command: ["edit", "destroy"], title: "Action", width: "20%" }
           ],
        editable: "inline",
        toolbar: ["create"],
        dataBound: function () {
            var takeTotal = this.dataSource.total();
            if (takeTotal == 0) {
                document.getElementById("nullReference").style.visibility = "visible";
                document.getElementById("nullReference").style.display = "block";
            }
        },
        dataSource: {
            page: 1,
            pageSize: 25,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            schema: {
                model: { id: "pkReferenceCodeId",
                    fields: {
                        pkReferenceCodeId: { editable: false },
                        ReferenceCode: { nullable: false, validation: { required: true} },
                        ReferenceNote: { nullable: false, validation: { required: true} }
                    }
                }
            },
            batch: true,
            transport: {
                create: {
                    url: '@Url.Action("Add_ReferenceCode", "Control", new { CompanyId = @ViewData["PkCompanyId"] })',
                    type: "POST"
                },
                read: {
                    url: '@Url.Action("Get_ReferenceNote", "Control", new { CompanyId = @ViewData["PkCompanyId"] })',
                    type: "POST"
                },
                update: {
                    url: '@Url.Action("Update_ReferenceCode", "Control")',
                    type: "POST"
                },
                destroy: {
                    url: '@Url.Action("Delete_ReferenceCode", "Control", new { CompanyId = @ViewData["PkCompanyId"] })',
                    type: "POST"
                },
                parameterMap: function (data, operation) {

                    if (operation != "read") {

                        var result = {};

                        for (var i = 0; i < data.models.length; i++) {
                            var refcode = data.models[i];

                            for (var member in refcode) {
                                result["referencecodes[" + i + "]." + member] = refcode[member];
                            }
                        }
                        return result;
                    }

                }

            }

        }

    });


    if ("@Model.IsGlobalCredential" == "True") {
        $("#UniversalPackages").kendoGrid({
            sortable: true,
            pageable: false,
            scrollable: false,
            navigatable: true,
            columns: [
        { field: "IsEnableUniversalPackage", title: " ", sortable: false, template: '<input class="chkIsDefault" type="checkbox" #=IsEnableUniversalPackage == true ? "checked=true" : "" # id="IsDefault_#=pkPackageId#" disabled="disabled" />' },
            { field: "PackageDisplayName", sortable: false, sortable: false, title: "Packages", width: 150, editable: false },
            { field: "PackageCode", sortable: false, title: "Code", width: 50, editable: false },
            { field: "include", sortable: false, title: "DataSources", width: 170, editable: false },
            { field: "PackagePrice", sortable: false, title: "Price" }
            ],
            editable: false,
            dataBound: function () {
                var takeTotal = this.dataSource.total();

                var gridHeaderRows = $("#UniversalPackages tbody th");
                var gridRows = $("#UniversalPackages tbody tr");
                var takeGrid = $("#UniversalPackages").data("kendoGrid");
                var length = gridRows.length;

                $(".chkIsDefault").on("click", function (e) {
                    var row = $(e.target).closest("tr");
                    var model = $("#UniversalPackages").data("kendoGrid").dataItem(row);
                    model.set("IsEnableUniversalPackage", this.checked);
                });

                for (i = 0; i < length; i++) {

                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var categaryname = dataItem.PackageDisplayName;
                    var ProductCode = dataItem.PackageCode;
                    var Price = dataItem.PackagePrice;
                    var IsDefault = dataItem.IsDefault;
                    var include = dataItem.include;
                    var categaryID = dataItem.pkPackageId;

                }
            },
            dataSource: {
                serverPaging: false,
                serverSorting: false,
                serverFiltering: false,

                schema: {
                    model: { id: "pkPackageId",
                        fields: {
                            IsEnableUniversalPackage: { type: "boolean", editable: true, nullable: true },
                            PackageAccessId: { editable: false, nullable: true, editable: false, type: "string" },
                            pkPackageId: { editable: false, nullable: true, editable: false, type: "int" },
                            PackageCode: { type: "string", editable: false },
                            include: { nullable: true, editable: false, type: "string" },
                            PackageDisplayName: { editable: false, nullable: true, type: "string" },
                            PackagePrice: { editable: false, nullable: true, type: "string" }
                        }
                    }
                },
                batch: true,
                change: function (e) {
                },
                transport: {
                    read: {
                        url: '@Url.Action("GetAllPackageRecords", "Control", new { CompanyId = @ViewData["PkCompanyId"] })',
                        type: "POST"
                    },
                    update: {
                        url: '../Control/UpdateUniversalPackages',
                        type: "POST",
                        complete: function (jqXHR, textStatus) {
                            if (counter < TotalModifiedGridCount) counter++;
                            else {
                                var grid = $("#UniversalPackages").data("kendoGrid");
                                grid.dataSource.read();
                                grid.refresh();
                            }
                        }
                    },
                    parameterMap: function (data, operation) {

                        if (operation != "read") {

                            var result = {};

                            for (var i = 0; i < data.models.length; i++) {
                                var product = data.models[i];

                                for (var member in product) {
                                    result["products[" + i + "]." + member] = product[member];
                                }
                            }
                            return result;
                        }
                    }
                }
            }
        });
    }
    else {
        $("#UniversalPackages").kendoGrid({
            sortable: true,
            pageable: false,
            scrollable: false,
            navigatable: true,
            columns: [
        { field: "IsEnableUniversalPackage", title: " ", sortable: false, template: '<input class="chkIsDefault" type="checkbox" #=IsEnableUniversalPackage == true ? "checked=true" : "" # id="IsDefault_#=pkPackageId#"  />' },
            { field: "PackageDisplayName", sortable: false, sortable: false, title: "Packages", width: 150, editable: false },
            { field: "PackageCode", sortable: false, title: "Code", width: 50, editable: false },
            { field: "include", sortable: false, title: "DataSources", width: 170, editable: false },
            { field: "PackagePrice", sortable: false, title: "Price" }
            ],
            editable: true,
            dataBound: function () {
                var takeTotal = this.dataSource.total();

                var gridHeaderRows = $("#UniversalPackages tbody th");
                var gridRows = $("#UniversalPackages tbody tr");
                var takeGrid = $("#UniversalPackages").data("kendoGrid");
                var length = gridRows.length;

                $(".chkIsDefault").on("click", function (e) {
                    var row = $(e.target).closest("tr");
                    var model = $("#UniversalPackages").data("kendoGrid").dataItem(row);
                    model.set("IsEnableUniversalPackage", this.checked);
                });

                for (i = 0; i < length; i++) {

                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var categaryname = dataItem.PackageDisplayName;
                    var ProductCode = dataItem.PackageCode;
                    var Price = dataItem.PackagePrice;
                    var IsDefault = dataItem.IsDefault;
                    var include = dataItem.include;
                    var categaryID = dataItem.pkPackageId;

                }
            },
            dataSource: {
                serverPaging: false,
                serverSorting: false,
                serverFiltering: false,

                schema: {
                    model: { id: "pkPackageId",
                        fields: {
                            IsEnableUniversalPackage: { type: "boolean", editable: true, nullable: true },
                            PackageAccessId: { editable: false, nullable: true, editable: false, type: "string" },
                            pkPackageId: { editable: false, nullable: true, editable: false, type: "int" },
                            PackageCode: { type: "string", editable: false },
                            include: { nullable: true, editable: false, type: "string" },
                            PackageDisplayName: { editable: false, nullable: true, type: "string" },
                            PackagePrice: { editable: false, nullable: true, type: "string" }
                        }
                    }
                },
                batch: true,
                change: function (e) {
                },
                transport: {
                    read: {
                        url: '@Url.Action("GetAllPackageRecords", "Control", new { CompanyId = @ViewData["PkCompanyId"] })',
                        type: "POST"
                    },
                    update: {
                        url: '../Control/UpdateUniversalPackages',
                        type: "POST",
                        complete: function (jqXHR, textStatus) {
                            if (counter < TotalModifiedGridCount) counter++;
                            else {
                                var grid = $("#UniversalPackages").data("kendoGrid");
                                grid.dataSource.read();
                                grid.refresh();
                            }
                        }
                    },
                    parameterMap: function (data, operation) {

                        if (operation != "read") {

                            var result = {};

                            for (var i = 0; i < data.models.length; i++) {
                                var product = data.models[i];

                                for (var member in product) {
                                    result["products[" + i + "]." + member] = product[member];
                                }
                            }
                            return result;
                        }
                    }
                }
            }
        });
    }

    $(document).ready(function () {

        if ("@Model.IsGlobalCredential" == "True") {
            $("#CustomPackages").kendoGrid({
                sortable: true,
                pageable: false,
                scrollable: false,
                navigatable: true,
                columns: [
              { field: "IsDefault", sortable: false, title: " ", template: '<input type="checkbox" #=IsDefault == true ? "checked=true" : "" # id="IsDefault_Product#=pkPackageId#" disabled="disabled" >' },
              { field: "PackageDisplayName", sortable: false, title: "Packages", width: 150 },
              { field: "PackageCode", sortable: false, title: "Code", width: 50 },
              { field: "include", sortable: false, title: "DataSources", width: 170 },
              { field: "PackagePrice", sortable: false, title: "Price" },
              { field: "pkPackageId", sortable: false, title: "Action", width: 100, template: '<input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/edit.png")" id="image1" value="#=pkPackageId#" style="width:15; height:18px" title="Edit" disabled="disabled" onclick="EditPackage(this.value); return false;" /> <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/delete.png")" id="image1" title="Delete" disabled="disabled" value="#=pkPackageId#" onclick="return Deletecustom(this.value);" style="width:15px; height:18px" />' },
              ],

                editable: false,
                dataBound: function () {
                    var takeTotal = this.dataSource.total();

                    var gridHeaderRows = $("#ProductPackages tbody th");
                    var gridRows = $("#ProductPackages tbody tr");
                    var takeGrid = $("#ProductPackages").data("kendoGrid");
                    var length = gridRows.length;


                    for (i = 0; i < length; i++) {
                        var dataItem = takeGrid.dataItem(gridRows[i]);
                        var row = gridRows[i];
                        var categaryname = dataItem.PackageDisplayName;
                        var ProductCode = dataItem.PackageCode;
                        var Price = dataItem.PackagePrice;
                        var include = dataItem.include;
                        var categaryID = dataItem.pkPackageId;
                        var IsDefault = dataItem.IsDefault;
                    }
                },
                dataSource: {
                    serverPaging: false,
                    serverSorting: true,
                    serverFiltering: true,
                    schema: {
                        model: { id: "pkPackageId",
                            fields: {
                                pkPackageId: { editable: false, nullable: true },
                                PackageAccessIdIsDefault: { type: "boolean", editable: false },
                                Include: { editable: false, nullable: true },
                                PackageDisplayName: { type: "string", editable: false },
                                PackageCode: { type: "string", editable: false },
                                PackagePrice: { type: "number", editable: true, required: true },
                                Include: { type: "boolean", editable: false },
                                IsDefault: { type: "boolean", editable: false }
                            }
                        }
                    },
                    batch: true,
                    change: function (e) {
                    },
                    transport: {
                        read: {
                            url: '../Control/GetCustomPackages?LocationId=@ViewBag.locationid&CompanyId=' + $("#hdPkCompanyId").val(),
                            type: "POST"
                        },
                        update: {
                            url: '@Url.Action("UpdateDataSource", "Control")',
                            type: "POST"
                        },
                        parameterMap: function (data, operation) {

                            if (operation != "read") {

                                var result = {};

                                for (var i = 0; i < data.models.length; i++) {
                                    var product = data.models[i];

                                    for (var member in product) {
                                        result["products[" + i + "]." + member] = product[member];
                                    }
                                }
                                return result;
                            }

                        }

                    }

                }

            });
        }
        else {
            $("#CustomPackages").kendoGrid({
                sortable: true,
                pageable: false,
                scrollable: false,
                navigatable: true,
                columns: [
              { field: "IsDefault", sortable: false, title: " ", template: '<input type="checkbox" #=IsDefault == true ? "checked=true" : "" # id="IsDefault_Product#=pkPackageId#" >' },
              { field: "PackageDisplayName", sortable: false, title: "Packages", width: 150 },
              { field: "PackageCode", sortable: false, title: "Code", width: 50 },
              { field: "include", sortable: false, title: "DataSources", width: 170 },
              { field: "PackagePrice", sortable: false, title: "Price" },
              { field: "pkPackageId", sortable: false, title: "Action", width: 100, template: '<input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/edit.png")" id="image1" value="#=pkPackageId#" style="width:15; height:18px" title="Edit" onclick="EditPackage(this.value); return false;" /> <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/delete.png")" id="image1" title="Delete" value="#=pkPackageId#" onclick="return Deletecustom(this.value);" style="width:15px; height:18px" />' },
              ],

                editable: true,
                dataBound: function () {
                    var takeTotal = this.dataSource.total();

                    var gridHeaderRows = $("#ProductPackages tbody th");
                    var gridRows = $("#ProductPackages tbody tr");
                    var takeGrid = $("#ProductPackages").data("kendoGrid");
                    var length = gridRows.length;


                    for (i = 0; i < length; i++) {
                        var dataItem = takeGrid.dataItem(gridRows[i]);
                        var row = gridRows[i];
                        var categaryname = dataItem.PackageDisplayName;
                        var ProductCode = dataItem.PackageCode;
                        var Price = dataItem.PackagePrice;
                        var include = dataItem.include;
                        var categaryID = dataItem.pkPackageId;
                        var IsDefault = dataItem.IsDefault;
                    }
                },
                dataSource: {
                    serverPaging: false,
                    serverSorting: true,
                    serverFiltering: true,
                    schema: {
                        model: { id: "pkPackageId",
                            fields: {
                                pkPackageId: { editable: false, nullable: true },
                                PackageAccessIdIsDefault: { type: "boolean", editable: false },
                                Include: { editable: false, nullable: true },
                                PackageDisplayName: { type: "string", editable: false },
                                PackageCode: { type: "string", editable: false },
                                PackagePrice: { type: "number", editable: true, required: true },
                                Include: { type: "boolean", editable: false },
                                IsDefault: { type: "boolean", editable: false }
                            }
                        }
                    },
                    batch: true,
                    change: function (e) {
                    },
                    transport: {
                        read: {
                            url: '../Control/GetCustomPackages?LocationId=@ViewBag.locationid&CompanyId=' + $("#hdPkCompanyId").val(),
                            type: "POST"
                        },
                        update: {
                            url: '@Url.Action("UpdateDataSource", "Control")',
                            type: "POST"
                        },
                        parameterMap: function (data, operation) {

                            if (operation != "read") {

                                var result = {};

                                for (var i = 0; i < data.models.length; i++) {
                                    var product = data.models[i];

                                    for (var member in product) {
                                        result["products[" + i + "]." + member] = product[member];
                                    }
                                }
                                return result;
                            }

                        }

                    }

                }

            });
        }

    });

    $("#fkStateId").kendoDropDownList({
        optionLabel: "Select",
        dataTextField: "StateName",
        dataValueField: "pkStateId",

        dataSource: {
            serverFiltering: true,
            transport: {
                read: {
                    url: '@Url.Action("GetStateList", "Control")',
                    type: "POST"
                }
            }
        },
        change: function (e) {
            document.getElementById("hdnfkStateId").value = this.value();
            $("#CityName").css("display", "block");
            var id = this.value();
            if (this.value() != "") {
                BindCity(id);
            }
            else {
                $("#CityName").kendoDropDownList();
                $("#CustomCityName").css("display", "none");
            }
        }
    });
    var pkStateId = $("#hdnfkStateId").val();
    var Statedropdownlist = $("#fkStateId").data("kendoDropDownList");
    Statedropdownlist.value(pkStateId);

    function BindCity(id) {
        $("#CityName").kendoDropDownList({

            optionLabel: "Select",
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: { serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetCities", "Control")',
                        type: 'POST',
                        data: { fkStateId: id }
                    }
                }
            },
            change: function (e) {
                document.getElementById("hdnCityName").value = this.value();
                if (this.value() == "-3") {
                    $("#CustomCityName").css("display", "block");
                }
                else if (this.value() == "-2") {
                    $("#CustomCityName").css("display", "none");
                    alert("Please select City!");
                }
                else {
                    $("#CustomCityName").css("display", "none");
                }
            }
        });
        var CityName = $("#hdnCityName").val();
        var Citydropdownlist = $("#CityName").data("kendoDropDownList");
        if ("@Model.IsCustomCity" == "True") {
            Citydropdownlist.value("-3");
            $("#CustomCityName").css("display", "block");
        }
        else {
            Citydropdownlist.value(CityName);
            $("#CustomCityName").css("display", "none");
        }
    }

    $("#kendoGrid").kendoGrid({
        sortable: true,
        scrollable: false,
        navigatable: true,
        columns: [
        "CategoryName"
    ],
        editable: true,
        detailInit: detailInit,
        dataBound: function () {
            $("a.k-plus").trigger("click");
        },
        dataSource: {
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            schema: {
                model: { // define the model of the data source. Required for validation and property types.
                    id: "pkReportCategoryId",
                    fields: {
                        pkReportCategoryId: { editable: false },
                        CategoryName: { editable: false }
                    }
                }
            },
            batch: true,
            transport: {
                read: {
                    url: '@Url.Action("GetCategoryList", "Control")',
                    type: "POST"
                }
            }
        }
    });

    function detailInit(e) {
        newid = e.data.pkReportCategoryId;
        var CompanyId = '@ViewBag.CompanyId';
        if ("@Model.IsGlobalCredential" == "True") {
            $("<div/>").attr("id", "dvid_" + newid).appendTo(e.detailCell).kendoGrid({
                sortable: true,
                scrollable: false,
                navigatable: true,
                columns: [
                        { field: "IsDefault", sortable: false, title: "Default", width: 55, template: '<input class="chkDefault" type="checkbox" #= IsDefault ? "checked=checked" : "" # disabled="disabled" ></input>' },
                        { field: "ProductDisplayName", sortable: false, title: "Appear AS", width: 120 },
                        { field: "ProductCode", sortable: false, title: "Code", width: 50 },
                        { field: "CompanyPrice", sortable: false, title: "Price", width: 50 },
                        { field: "IsLiveRunnerLocation", sortable: false, width: 20, title: '<img src="@Url.Content("~/Content/themes/base/images/LiveRunnerSmallLogo.png")"/  id="LiveRunnerImage" style="height:20px" title="Is Live Runner"', template: '#  if (ProductCode == "CCR1" || ProductCode == "CCR2" || ProductCode == "SCR") {# <input class="chkLiveRunner" type="checkbox" #=IsLiveRunnerLocation ? "checked=checked" : "" # disabled="disabled" ></input>#} #' },
                        { field: "AutoReviewStatusForLocation", sortable: false, title: '<img src="@Url.Content("~/Content/themes/base/images/emerge-review-button-small.png")"/ style="height:20px" title="Enable/Disable Review"', width: 20, template: '#  if (AutoReviewStatusForLocation == "0" || AutoReviewStatusForLocation == null ){#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/0.bmp")" disabled="disabled" /> #} else if(AutoReviewStatusForLocation=="1"){#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/1.bmp")" disabled="disabled" /> #} else{#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/2.bmp")" disabled="disabled" /> #} #' },
                    ],

                editable: false,
                dataBound: function (e) {
                    var gridId = this.table.parent().attr("id");
                    this.expandRow(this.tbody.find("tr.k-master-row"));
                    var takeTotal = this.dataSource.total();
                    this.tbody.find("tr td").each(function () {
                        $(this).on("click", function (e) {
                            return false;
                        });
                    });
                    for (i = 0; i < takeTotal; i++) {
                        var ProductCode = this._data[i].ProductCode;
                    }

                    $(".chkDefault").on("click", function (e) {

                        var row = $(e.target).closest("tr");
                        var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                        model.set("IsDefault", this.checked);
                    });

                    $(".chkLiveRunner").on("click", function (e) {

                        var row = $(e.target).closest("tr");
                        var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                        model.set("IsLiveRunnerLocation", this.checked);
                    });

                    //                    $(".imgAutoReview").on("click", function (e) {

                    //                        var row = $(e.target).closest("tr");
                    //                        var model = $("#" + gridId).data("kendoGrid").dataItem(row);

                    //                        var imgArr = $(this).attr("src").split('/');
                    //                        var img = imgArr[parseInt(imgArr.length) - 1];
                    //                        if (img == "0.bmp") {
                    //                            $(this).prop('src', "../Content/themes/base/images/CheckBox/1.bmp");
                    //                            model.set("AutoReviewStatusForLocation", "1");

                    //                        }
                    //                        else if (img == "1.bmp") {
                    //                            $(this).prop("src", "../Content/themes/base/images/CheckBox/2.bmp");
                    //                            model.set("AutoReviewStatusForLocation", "2");
                    //                        }
                    //                        else if (img == "2.bmp") {
                    //                            $(this).prop("src", "../Content/themes/base/images/CheckBox/0.bmp");
                    //                            model.set("AutoReviewStatusForLocation", "0");
                    //                        }
                    //                    });
                },
                scrollable: false,
                navigatable: true,
                dataSource: {
                    batch: true,
                    schema: {
                        model: {
                            id: "pkProductId",
                            fields: {
                                IsDefault: { type: "boolean", nullable: true },
                                ProductAccessId: {},
                                pkProductId: { editable: false, type: "string", nullable: true },
                                ProductDisplayName: { editable: false, type: "string", nullable: true },
                                ProductCode: { editable: false, type: "string", nullable: true },
                                CompanyPrice: { editable: true, type: "number", nullable: true },
                                ReportsLinked: { editable: false, type: "string", nullable: true },
                                IsLiveRunnerLocation: { type: "boolean", editable: true, nullable: true },
                                AutoReviewStatusForLocation: { type: "string", nullable: false }
                            }
                        }
                    },
                    transport: {
                        read: {
                            url: '@Url.Action("GetReportsByLocationId", "Control", new { LocationId = ViewBag.locationid })',
                            data: { CategoryId: newid, CompanyId: CompanyId },
                            type: "Post"
                        },
                        update: {
                            url: '@Url.Action("UpdateReportperLocation", "Control", new { CID = @ViewBag.CompanyId, LocationId = @ViewBag.locationid })',
                            type: "POST",
                            complete: function (jqXHR, textStatus) {
                                if (counter < TotalModifiedGridCount) counter++;
                                else {
                                    var grid = $("#kendoGrid").data("kendoGrid");
                                    grid.dataSource.read();
                                    grid.refresh();
                                }
                            }
                        },
                        parameterMap: function (options, operation) {
                            if (operation != "read") {
                                var result = {};
                                for (var i = 0; i < options.models.length; i++) {
                                    var products = options.models[i];
                                    for (var member in products) {
                                        result["Detail[" + i + "]." + member] = products[member];
                                    }
                                }
                                return result;
                            }
                            else {
                                return options;
                            }
                        }

                    }

                }

            });
        }
        else {
            $("<div/>").attr("id", "dvid_" + newid).appendTo(e.detailCell).kendoGrid({
                sortable: true,
                scrollable: false,
                navigatable: true,
                columns: [
                        { field: "IsDefault", sortable: false, title: "Default", width: 55, template: '<input class="chkDefault" type="checkbox" #= IsDefault ? "checked=checked" : "" #  ></input>' },
                        { field: "ProductDisplayName", sortable: false, title: "Appear AS", width: 120 },
                        { field: "ProductCode", sortable: false, title: "Code", width: 50 },
                        { field: "CompanyPrice", title: "Price", width: 70, template: "<div style='float:left;'></div><div style='width: 73px;float:left' id='divPrice_#= Index#" + newid + "'>$<input type='text' id='txtProductPrice_#= Index#" + newid + "' class='tbCompanyPrice' value=\"#= kendo.toString(CompanyPrice,'0.00') #\" /> </div>" },
                        { field: "IsLiveRunnerLocation", sortable: false, width: 20, title: '<img src="@Url.Content("~/Content/themes/base/images/LiveRunnerSmallLogo.png")"/  id="LiveRunnerImage" style="height:20px" title="Is Live Runner"', template: '#  if (ProductCode == "CCR1" || ProductCode == "CCR2" || ProductCode == "SCR") {# <input class="chkLiveRunner" type="checkbox" #=IsLiveRunnerLocation ? "checked=checked" : "" #  ></input>#} #' },
                        { field: "AutoReviewStatusForLocation", sortable: false, title: '<img src="@Url.Content("~/Content/themes/base/images/emerge-review-button-small.png")"/ style="height:20px" title="Enable/Disable Review"', width: 20, template: '#  if (AutoReviewStatusForLocation == "0" || AutoReviewStatusForLocation == null ){#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/0.bmp")" /> #} else if(AutoReviewStatusForLocation=="1"){#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/1.bmp")" /> #} else{#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/2.bmp")" /> #} #' },
                    ],

                editable: true,
                dataBound: function (e) {
                    var gridId = this.table.parent().attr("id");
                    this.expandRow(this.tbody.find("tr.k-master-row"));
                    var takeTotal = this.dataSource.total();
                    this.tbody.find("tr td").each(function () {
                        $(this).on("click", function (e) {
                            return false;
                        });
                    });
                    for (i = 0; i < takeTotal; i++) {
                        var ProductCode = this._data[i].ProductCode;
                    }

                    $(".chkDefault").on("click", function (e) {

                        var row = $(e.target).closest("tr");
                        var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                        model.set("IsDefault", this.checked);
                    });

                    $(".chkLiveRunner").on("click", function (e) {

                        var row = $(e.target).closest("tr");
                        var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                        model.set("IsLiveRunnerLocation", this.checked);
                    });

                    $(".imgAutoReview").on("click", function (e) {

                        var row = $(e.target).closest("tr");
                        var model = $("#" + gridId).data("kendoGrid").dataItem(row);

                        var imgArr = $(this).attr("src").split('/');
                        var img = imgArr[parseInt(imgArr.length) - 1];
                        if (img == "0.bmp") {
                            $(this).prop('src', "../Content/themes/base/images/CheckBox/1.bmp");
                            model.set("AutoReviewStatusForLocation", "1");

                        }
                        else if (img == "1.bmp") {
                            $(this).prop("src", "../Content/themes/base/images/CheckBox/2.bmp");
                            model.set("AutoReviewStatusForLocation", "2");
                        }
                        else if (img == "2.bmp") {
                            $(this).prop("src", "../Content/themes/base/images/CheckBox/0.bmp");
                            model.set("AutoReviewStatusForLocation", "0");
                        }
                    });

                    $(".tbCompanyPrice").on("change", function (e) {
                        var common = $(this).attr("id").split('_')[1];
                        var row = $(e.target).closest("tr");
                        var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                        if ($(this).val() == '') {
                            model.set("IsDefaultPrice", true);
                        }
                        else {
                            var Price = parseFloat($(this).val());
                            model.set("IsDefaultPrice", false);
                            model.set("CompanyPrice", Price);
                        }
                    });
                },
                scrollable: false,
                navigatable: true,
                dataSource: {
                    batch: true,
                    schema: {
                        model: {
                            id: "pkProductId",
                            fields: {
                                IsDefault: { type: "boolean", nullable: true },
                                ProductAccessId: {},
                                pkProductId: { editable: false, type: "string", nullable: true },
                                ProductDisplayName: { editable: false, type: "string", nullable: true },
                                ProductCode: { editable: false, type: "string", nullable: true },
                                CompanyPrice: { editable: true, type: "number", nullable: true },
                                ReportsLinked: { editable: false, type: "string", nullable: true },
                                IsLiveRunnerLocation: { type: "boolean", editable: true, nullable: true },
                                AutoReviewStatusForLocation: { type: "string", nullable: false }
                            }
                        }
                    },
                    transport: {
                        read: {
                            url: '@Url.Action("GetReportsByLocationId", "Control", new { LocationId = ViewBag.locationid })',
                            data: { CategoryId: newid, CompanyId: CompanyId },
                            type: "Post"
                        },
                        update: {
                            url: '@Url.Action("UpdateReportperLocation", "Control", new { CID = @ViewBag.CompanyId, LocationId = @ViewBag.locationid })',
                            type: "POST",
                            complete: function (jqXHR, textStatus) {
                                if (counter < TotalModifiedGridCount) counter++;
                                else {
                                    var grid = $("#kendoGrid").data("kendoGrid");
                                    grid.dataSource.read();
                                    grid.refresh();
                                }
                            }
                        },
                        parameterMap: function (options, operation) {
                            if (operation != "read") {
                                var result = {};
                                for (var i = 0; i < options.models.length; i++) {
                                    var products = options.models[i];
                                    for (var member in products) {
                                        result["Detail[" + i + "]." + member] = products[member];
                                    }
                                }
                                return result;
                            }
                            else {
                                return options;
                            }
                        }

                    }

                }

            });
        }
    }

    $("#kendoGrid table thead").hide(); 

</script>
