﻿@model Emerge.Models.AddCompanyUser
@{
    ViewBag.Title = "AddUser";
}
@using (Html.BeginForm("Save", "control"))
{ 
    <div style="height: 20px">
    </div>
    <div style="border-bottom-style: ridge; border-top-style: ridge; border-left-style: ridge;
        border-right-style: ridge; -moz-border-radius: 10px; -webkit-border-radius: 10px;
        border-radius: 10px; border: 1px solid;">
        <div style="height: 5px">
            <div class="header icon-48-user" style="padding: 0px 0px 0px 55px; width: 40%">
                User
            </div>
        </div>
       <div style="margin-left: 1135px; border: 2px">
         <div class="command">
            <input type="image" src="../../Content/themes/base/images/ControlPanel/images/toolbar/save_button.png" />
            <img src="../../Content/themes/base/images/ControlPanel/images/toolbar/cancel_button.png" /></div>
    </div> 
    </div>
  
    <div style="margin-top: 7px">
    </div>
    <div style="border-bottom-style: ridge; border-top-style: ridge; border-left-style: ridge;
        border-right-style: ridge; -moz-border-radius: 10px; -webkit-border-radius: 10px;
        border-radius: 10px; border: 1px solid;">
        <div style="margin-left: 1200px; margin-top: 3px">
        </div>
        <div style="margin-left: 1277px; margin-top: 5px">
        </div>
        <div style="margin-top: 15px;">
        </div>
        <div class="main">
            <div id="tickets">
                <div class="BlackHeader">
                    User</div>
                <div class="UserI">
                    <div class="labelImage">
                        <div class="labelunderImage">
                            <div class="User icon-48-user" style="width: 10%">
                                User
                            </div>
                        </div>
                    </div>
                </div>
                <div class="locationnote">
                    <div class="locationlabel">
                        <div class="locationlabelunder">
                            User Note:</div>
                    </div>
                    <div class="locationtextbox">
                        <div class="locationtextboxunder">
                            <textarea name="foo" class="textarea"></textarea>
                        </div>
                    </div>
                </div>
                <div class="lines">
                    <div class="label">
                        <div class="labelunder">
                            Last Login</div>
                    </div>
                    <div class="textbox">
                        <div class="textboxunder">
                        
                            <label for="LastLogin">@Model.LastLogin</label>
                        </div>
                    </div>
                </div>
                <div class="lines">
                    <div class="label">
                        <div class="labelunder">
                            Enabled?</div>
                    </div>
                    <div class="textbox">
                        <div class="textboxunder">
                            <input type="checkbox" name="Accept"  checked="@Model.IsEnabled" />
                        </div>
                    </div>
                </div>
                <div class="lines">
                    <div class="label">
                        <div class="labelunder">
                            Signed FCRA?</div>
                    </div>
                    <div class="textbox">
                        <div class="textboxunder">
                            <input type="checkbox" name="Accept" checked="@Model.IsSignedFcra"/>
                        </div>
                    </div>
                </div>
                <div class="lines">
                    <div class="label">
                        <div class="labelunder">
                            User Image :</div>
                    </div>
                    <div class="textbox">
                        <div class="textboxunder">
                            <input name="photos[]" id="photos" type="file" />
                        </div>
                    </div>
                </div>
                <div class="lines">
                    <div class="label">
                        <div class="labelunder">
                            <span style='color: red;'>*</span>First Name :</div>
                    </div>
                    <div class="textbox">
                        <div class="textboxunder">
                            <input type="text" id="FirstName" name="FirstName" class="k-textbox" required validationmessage="Enter First Name." value="@Model.FirstName"/><span
                                class="k-invalid-msg" data-for="FirstName"></span>
                        </div>
                    </div>
                </div>
                <div class="lines">
                    <div class="label">
                        <div class="labelunder">
                            <span style='color: red;'>*</span>Last Name :</div>
                    </div>
                    <div class="textbox">
                        <div class="textboxunder">
                            <input type="text" id="LastName" name="LastName" class="k-textbox" required validationmessage="Enter Last Name." value="@Model.LastName"/><span
                                class="k-invalid-msg" data-for="LastName"></span>
                        </div>
                    </div>
                </div>
                <div class="lines">
                    <div class="label">
                        <div class="labelunder">
                            Email/UserName :</div>
                    </div>
                    <div class="textbox">
                        <div class="textboxunder">
                            <input type="email" id="email" name="Email" class="k-textbox" placeholder="e.g. myname@example.net"
                                required validationmessage="Enter Email." required data-email-msg="Email format is not valid" value="@Model.email" />
                        </div>
                    </div>
                </div>
                <div class="lines">
                    <div class="label">
                        <div class="labelunder">
                            <span style='color: red;'>*</span>Password :</div>
                    </div>
                    <div class="textbox">
                        <div class="textboxunder">
                            <input type="text" id="Password" name="Password" class="k-textbox" required validationmessage="Enter Password."  value="@Model.Password"/><span
                                class="k-invalid-msg" data-for="Password"></span>
                        </div>
                    </div>
                </div>
                <div class="lines">
                    <div class="label">
                        <div class="labelunder">
                            <span style='color: red;'>*</span>State :</div>
                    </div>
                    <div class="textbox">
                        <div class="textboxunder">
                          @Html.HiddenFor(m => m.pkStateId, new { id = "hdnpkStateId" })
                            <select id="State" name="State" class="k-dropdown" required validationmessage="State is required." value="@Model.pkStateId" >
                            </select>
                            <span class="k-invalid-msg" data-for="State"></span>
                        </div>
                    </div>
                </div>
                <div class="lines">
                    <div class="label">
                        <div class="labelunder">
                            County :</div>
                    </div>
                    <div class="textbox">
                        <div class="textboxunder">
                       
                         @Html.HiddenFor(m => m.pkCountyId, new { id = "hdnpkCountyId" })
                            <select id="County" name="County" class="k-dropdown" value="@Model.pkCountyId">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="lines">
                    <div class="label">
                        <div class="labelunder">
                            Address1 :</div>
                    </div>
                    <div class="textbox">
                        <div class="textboxunder">
                            <input type="text" id="Address1" name="Address1" class="k-textbox" value="@Model.Address1" />
                        </div>
                    </div>
                </div>
                <div class="lines">
                    <div class="label">
                        <div class="labelunder">
                            Address2 :</div>
                    </div>
                    <div class="textbox">
                        <div class="textboxunder">
                            <input type="text" id="Address2" name="Address2" class="k-textbox" value="@Model.Address1" />
                        </div>
                    </div>
                </div>
                <div class="lines">
                    <div class="label">
                        <div class="labelunder">
                            ZipCode :</div>
                    </div>
                    <div class="textbox">
                        <div class="textboxunder">
                            <input type="text" id="ZipCode" name="ZipCode" class="k-textbox" value="@Model.ZipCode" />
                        </div>
                    </div>
                </div>
                <div class="lines">
                    <div class="label">
                        <div class="labelunder">
                            Phone No :</div>
                    </div>
                    <div class="textbox">
                        <div class="textboxunder">
                            <input type="text" id="PhoneNo" name="PhoneNo" class="k-textbox" value="@Model.PhoneNo" />
                        </div>
                    </div>
                </div>
                <div class="BlackHeader">
                    Location</div>
                <div class="locationdropdownblock">
                    <div class="lines">
                        <div class="label">
                            <div class="labelunder">
                                <span style='color: red;'>*</span>Company :</div>
                        </div>
                        <div class="textbox">
                            @Html.HiddenFor(m => m.pkCompanyId, new { id = "hdnCompanyId" })
                             
                            <div class="textboxunder">
                               @* <select id="Company" name="Company" class="k-dropdown" required validationmessage="Select Company." Value="@Model.pkCompanyId" Text="@Model.CompanyName">
                                </select><span class="k-invalid-msg" data-for="Company"></span>*@
                            </div>
                        </div>
                    </div>
                    <div class="lines">
                        <div class="label">
                            <div class="labelunder">
                                <span style='color: red;'>*</span>Location :</div>
                        </div>
                        <div class="textbox">
                            <div class="textboxunder">
                            @Html.HiddenFor(m => m.pkLocationId, new { id = "hdnLocationId" })
                                <select id="Location" name="Location" class="k-dropdown" required validationmessage="Select Location." value="@Model.pkLocationId" >
                                </select>
                                <span class="k-invalid-msg" data-for="Location"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="BlackHeader">
                    Restrictions</div>
                <div class="restrictionsblock">
                    <div class="lines">
                        <div class="label">
                            <div class="labelunder">
                                <span style='color: red;'>*</span>Status :</div>
                        </div>
                        <div class="textbox">
                            <div class="textboxunder">
                              @Html.HiddenFor(m => m.RoleId, new { id = "hdnRoleId" })
                           
                                <select id="Status" name="Status" class="k-dropdown" required validationmessage="Select Status." value="@Model.RoleId">
                                </select>
                                <span class="k-invalid-msg" data-for="Status"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 10px;">
        </div>

    
    </div>
     

}
<style scoped>
    div.User
    {
        background-repeat: no-repeat;
        color: #0B55C4;
        font-size: 22px;
        font-weight: bold;
        line-height: 48px;
        margin-left: 10px;
        padding-left: 55px;
        width: 10px;
    }
    .UserI
    {
        width: 96%;
        height: 57px;
    }
    
     .command
    {
        width: 163px;
    }
    .main
    {
        font-size: 12px;
        width: 100%;
        height: 738px;
        background-color: #f2f7fb;
    }
    
    .space
    {
        background-color: #eef3fa;
        width: 100%;
        height: 12px;
    }
    
    .BlackHeader
    {
        margin-top: 10px;
        width: 99%;
        height: 27px;
        color: #fff;
        font-weight: bold;
        font-size: 13px;
        background-image: url('../../Content/themes/base/images/strip_black.jpg');
        background-repeat: repeat-x;
        padding: 4px 0px 0px 10px;
    }
    
    .companyinformation
    {
        width: 100%;
        height: 99px;
        background-color: #eef3fa;
    }
    
    .lines
    {
        margin-bottom: 3px;
        width: 100%;
        height: 26px;
        background-color: #f2f7fb;
    }
    
    .locationnote
    {
        margin-bottom: 3px;
        background-color: #f2f7fb;
        width: 100%;
        height: 57px;
    }
    
    
    .locationlabel
    {
        float: left;
        width: 12%;
        height: 57px;
        background-color: #f2f7fb;
    }
    
    
    
    .locationtextbox
    {
        width: 70%;
        float: left;
        height: 56px;
        background-color: #f2f7fb;
    }
    
    .locationtextboxunder
    {
        margin-left: 3px;
        height: 56px;
        width: 70%;
        background-color: #f2f7fb;
    }
    
    .textboxunder .k-tooltip-validation
    {
        background-color: #FFF4C9;
        background-image: url("../../content/images/sign.png");
        background-position: 3px center;
        background-repeat: no-repeat;
        border-color: #FFE79E;
        border-radius: 4px 4px 4px 4px;
        border-width: 1px;
        color: #635145;
        display: inline-block;
        float: left;
        font-size: 11px;
        height: 17px;
        padding: 4px 8px 2px 0;
        position: static;
    }
    
    .labelImage
    {
        float: left;
        width: 30%;
        height: 26px;
        background-color: #f2f7fb;
    }
    
    .labelunderImage
    {
        float: left;
        height: 35px;
        width: 70%;
        padding-top: 0px;
        float: right;
        text-align: left;
        background-color: #f2f7fb;
        padding-right: 75px;
    }
    
    
    
    
    
    .label
    {
        float: left;
        width: 12%;
        height: 26px;
        background-color: #f2f7fb;
    }
    .textbox
    {
        margin-left: 3px;
        width: 40%;
        float: left;
        height: 26px;
        background-color: #f2f7fb;
    }
    
    .labelunder
    {
        height: 22px;
        width: 70%;
        padding-top: 5px;
        float: right;
        text-align: right;
        background-color: #d5dbd8;
    }
    
    .locationlabelunder
    {
        background-color: #D5DBD8;
        float: right;
        height: 35px;
        padding-top: 23px;
        text-align: right;
        width: 70%;
    }
    
    
    
    .textboxunder
    {
        height: 26px;
        width: 70%;
    }
    
    
    
    .locationaccesscode
    {
        width: 100%;
        height: 225px;
        background-color: #eef3fa;
    }
    .billingInformation
    {
        width: 100%;
        height: 125px;
        background-color: #eef3fa;
    }
    
    
    .locationdropdownblock
    {
        height: 52px;
        width: 100%;
        background-color: #f2f7fb;
    }
    
    .restrictionsblock
    {
        height: 26px;
        width: 100%;
        background-color: Red;
    }
    
    
    
    
    .textareawidth
    {
        width: 500px;
    }
    .k-textbox
    {
        float: left;
        width: 48%;
    }
    
    #tickets
    {
        width: 99%;
        margin-left: 5px;
        height: 738px;
        background: url('../../content/web/validator/ticketsOnline.png') transparent no-repeat 0 0;
    }
    
    #tickets h3
    {
        font-weight: normal;
        font-size: 1.4em;
        border-bottom: 1px solid #ccc;
    }
    
    #tickets ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #tickets li
    {
        margin: 10px 0 0 0;
    }
    
    .required
    {
    }
    
    .accept, .status
    {
        padding-left: 90px;
    }
    
    .valid
    {
        color: green;
    }
    
    .invalid
    {
        color: red;
    }
    span.k-tooltip
    {
        margin-left: 6px;
    }
    .textarea
    {
        width: 100%;
        min-height: 48px;
    }
    
    
    .k-dropdown
    {
        float: left;
        width: 50%;
    }
</style>
<script type="text/javascript">


    $(document).ready(function () {
       
    $(document).ready(function () {
            $("#State").kendoDropDownList({
                optionLabel: "Select",

                dataTextField: "StateName",
                dataValueField: "pkStateId",


                dataSource: {
                    serverFiltering: true,

                    transport: {
                        read: {
                            url: '@Url.Action("GetState", "control")',

                            type: "POST"
                        }

                    }
                },


                change: function (e) {
                    document.getElementById("hdnpkStateId").value = this.value();
                    $("#County").css("display", "block");
                    var value = this.value();


                    $("#County").kendoDropDownList({
                        

                        dataTextField: "CountyName",
                        dataValueField: "pkCountyId",

                        dataSource: {
                            serverFiltering: true,

                            transport: {
                                read: {
                                    url: '@Url.Action("GetCounty", "Control")',
                                    data: { StateId: value },
                                    type: "POST"
                                }

                            }

                        },
                        change: function (e) {



                            document.getElementById("hdnpkCountyId").value = this.value();




                        }

                    });


                }



            });

            var pkStateId = $("#hdnpkStateId").val();
            var dropdownlist3 = $("#State").data("kendoDropDownList");
            dropdownlist3.value(pkStateId);


        });










        $(document).ready(function () {

            var pkStateId = $("#hdnpkStateId").val();
            if (pkStateId == 0)
             {

                pkStateId = 1;

            }
            $("#County").css("display", "block");
            $("#County").kendoDropDownList({
               

                dataTextField: "CountyName",
                dataValueField: "pkCountyId",


                dataSource: {
                    serverFiltering: true,

                    transport: {
                        read: {
                            url: '@Url.Action("GetCounty", "control")',
                            data: { StateId: pkStateId },
                            type: "POST"
                        }

                    }
                },
                change: function (e) {



                    document.getElementById("hdnpkCountyId").value = this.value();




                }




            });
            var pkCountyId = $("#hdnpkCountyId").val();
            var dropdownlist5 = $("#County").data("kendoDropDownList");
            dropdownlist5.value(pkCountyId);



        });


        $(document).ready(function () {

            $("#Company").kendoDropDownList({
                optionLabel: "Select",

                dataTextField: "CompanyName",
                dataValueField: "pkCompanyId",


                dataSource: {
                    serverFiltering: true,

                    transport: {
                        read: {
                            url: '@Url.Action("GetCompany", "control")',

                            type: "POST"
                        }

                    }
                },
                change: function (e) {

                    document.getElementById("hdnCompanyId").value = this.value();
                    document.getElementById("hdnCompanyName").value = this.text();


                }
            });
            var companyId = $("#hdnCompanyId").val();
            var dropdownlist = $("#Company").data("kendoDropDownList");
            dropdownlist.value(companyId);
        });

        $(document).ready(function () {




            $("#Location").kendoDropDownList({
                optionLabel: "Select",

                dataTextField: "City",
                dataValueField: "pkLocationId",


                dataSource: {
                    serverFiltering: true,

                    transport: {
                        read: {

                            url: '@Url.Action("GetLocation1", "control", new {CompanyId= ViewBag.data})',

                            type: "POST"



                        }

                    }
                },
                change: function (e) {


                    document.getElementById("hdnLocationId").value = this.value();


                }
            });

            var LocationId = $("#hdnLocationId").val();
            var dropdownlist1 = $("#Location").data("kendoDropDownList");
            dropdownlist1.value(LocationId);


        });




        $(document).ready(function () {
            $("#Status").kendoDropDownList({
                optionLabel: "Select",

                dataTextField: "RoleName",
                dataValueField: "RoleId",


                dataSource: {
                    serverFiltering: true,

                    transport: {
                        read: {
                            url: '@Url.Action("GetStatus", "control")',
                            data: { IsUsaIntelCompany: false },
                            type: "POST"
                        }

                    }
                },

                change: function (e) {


                    document.getElementById("hdnRoleId").value = this.value();


                }


            });


            var RoleId = $("#hdnRoleId").val();
            var dropdownlist2 = $("#Status").data("kendoDropDownList");
            dropdownlist2.value(RoleId);

        });


        $(document).ready(function () {
            $("#photos").kendoUpload();

        });




        var validator = $("#tickets").kendoValidator().data("kendoValidator"),
                    status = $(".status");

        $("button").click(function () {
            if (validator.validate()) {
                status.text("Hooray! Your tickets has been booked!").addClass("valid");
            } else {
                status.text("Oops! There is invalid data in the form.").addClass("invalid");
            }
        });
    });
</script>
