﻿@model Emerge.Models.AdminSearchModel
@{
    ViewBag.Title = "Admin Search";
}
<style type="text/css">
    
    .expand
    {
        }
        .colapse
        {
            }

.plus_btn
        {
            background-image: url('../../content/themes/base/images/plus_symbol.png');
            background-repeat: no-repeat;
             background-position:right;
              cursor:pointer;
             width:50px !important;
             height:34px;  
             color:transparent;
        }

        
      
       @* .plus_btn1
        {
           / background-image: url('../../content/themes/base/images/plus_symbol.png');
           @* background-repeat: no-repeat;*@
            @* background-position:right;
               width:50px !important;
             height:34px;
            }*@

    .k-grid .centeralign
    {
        text-align: center;
    }
    
    .Pending
    {
        background-color: #0B55C4;
        border-radius: 3px 3px 3px 3px;
        color: white;
        padding: 2px 11px;       
    }
    
    .Completed
    {
        background-color: #6CC525;
        color: white;
        padding: 2px 12px 2px 4px;
        border-radius: 3px;
    }
    .btnComplete
    {
        padding: 2px 5px 4px;
    }
    .btnNewAccount
    {
        padding:2px 5px 4px;
    }
     .btnUpdate
    {
        padding: 2px 15px 4px 4px;
    }
    .InReview
    {
        background-color: Red;
        color: white;
        padding: 1px 4px;
        border-radius: 3px;
    }
    
    .InComplete
    {
        background-color: #E68C13;
        color: white;
        padding: 1px 2px 2px 4px;
        border-radius: 3px;
    }
    .st_active
    {
        background-color: #059a02;
        color: white;
        padding: 1px 14px 3px 15px;
        border-radius: 3px;
    }
    
    .st_inactive
    {
        background-color: #7c7b7b;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_helwithorders
    {
        background-color: #914848;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    
    .st_locked
    {
        background-color: #ff6600;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_pastdue
    {
        background-color: #990099;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_incollections
    {
        background-color: #000000;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    
       
     .k-scrollbar-vertical {
        top: 0;
        right: 0;
        width: 17px;
        height:100%;
        copyhistory:no;
        overflow-y:scroll;
        overflow-x:hidden;
        overflow:scroll;
         screenX:150;screenY:150;
         top:150;left:150;
 
 
}
.ArchiveLink {
    color: #0B55C4;
    font-size: 13px;
    font-weight: bold;
    margin-top: -6%;
    text-decoration: underline;
}
    .successmsg {
    color: #52A614 !important;
}
</style>

<div id="content-box" style="margin-top: 42px; margin-bottom: 23px;">
    <div class="container-fluid admin">
        <div class="admin-sectiond">
            <div id="element-box" class="admin-textbox col-sm-12">
                <div class="m" style="margin-top: 10px">
                    
                    <div class="expand" style="padding: 10px; margin-top: -15px;">
                        <table width="100%">
                            <tr>
                                <td colspan="2" align="center">
                                    <div id="lblAdminSearchMsg"  style="margin: 11px auto -20px;">
                                    </div>
                                </td>
                            </tr>
                            @*<tr>
                            <td></td>
                            <td align="left">
                                <div class="header1" style="padding: 0px 0px 15px 0px;">
                                    System Notification
                                </div>
                            </td>
                        </tr>*@
                            <tr>
                                <td style="width: 45%" align="left">
                                    <div class="header" style=" margin-top: 15px; padding: 0px; margin-bottom: -20px;">Admin Search</div><br />
                                    <!---span style="float:left;">Filter : </!--span----->
                                    <input type="text" placeholder="Filter" style="float: left;" class="form-control valid" id="txtAdminSearch" onkeypress="AdminSearch_Enter(event,this)" />
                                    <select style="float: left; width: 180px; margin-left: 6px;" class="form-control valid" id="ddlFilter">
                                        <option>Companies</option>
                                        <option>Locations</option>
                                        <option>Users</option>
                                    </select>
                                    <input type="button" style="margin-left: 8px; float: left;" value="Go" class="btn btn-primary" onclick="AdminSearchFilter();" />
                                    <input type="button" style="margin-left: 8px; float: left;" value="Reset" class="btn btn-default" onclick="ResetSearch();" />
                                </td>
                                <td>
                                    <div class="header" style="width: 100%; padding-left: 0px; margin-top: 14px; margin-bottom: 6px; text-align:left;">
                        System Notification
                    </div>
                    <table>
                        <tr>
                            <td align="left">
                                <!---span style="float:left;">Title : </!--span---->
                                <input type="text" placeholder="Title" id="txtSystemTitle" style="float: left;" class="form-control valid" name="txtSystemTitle" value="@Model.SystemNotificationTitle" />
                                @Html.HiddenFor(m => m.SystemNotificationStatus)
                                &nbsp;<!--span style="float: left;">Details : </!--span--->
                                <input type="text" placeholder="Details" id="txtSystemDetails" style="float: left; margin-left:6px;" class="form-control valid" name="txtSystemDetails" style='' value="@Model.SystemNotificationContent" />
                                <input type="button" value="Save" id="btnSaveSystemNotification" class="btn btn-primary" style="margin-left: 2px;" name="btnSaveSystemNotification"
                                    onclick="SaveSystemNotification();" />
                                <input type="button" value="Clear" id="btnClearSystemNotification" class="btn btn-default" style="margin-left: 5px;" name="btnClearSystemNotification"
                                    onclick="ClearSystemNotification();" />
                                <label id="Saved" style="display: none;">
                                    Saved
                                </label>
                            </td>
                        </tr>
                    </table>
                                </td>
                                @*<td align="left">
                                <span style="float:left;">Title: </span>
                                <input type="text" id="txtSystemTitle" style="float: left; margin-left: 5px;" class="form-control valid" name="txtSystemTitle" value="@Model.SystemNotificationTitle" />
                                @Html.HiddenFor(m => m.SystemNotificationStatus)
                                &nbsp;<span style="float: left; margin-left: 10px;">Details: </span>
                                <input type="text" id="txtSystemDetails" style="float: left; margin-left: 5px;" class="form-control valid" name="txtSystemDetails" style='width: 430px' value="@Model.SystemNotificationContent" />
                                <input type="button" value="Save" id="btnSaveSystemNotification" class="btn btn-primary" name="btnSaveSystemNotification"
                                       style='width: 80px' onclick="SaveSystemNotification();" />
                                <input type="button" value="Clear" id="btnClearSystemNotification" name="btnClearSystemNotification"
                                       style='width: 80px' onclick="ClearSystemNotification();" />
                                <label id="Saved" style="display: none;">
                                    Saved
                                </label>
                            </td>*@
                            </tr>
                            <tr>
                                <td colspan="2" class="fontstyle" align="left">
                                    <div id="divCompanies" style="margin-top:10px;">
                                    </div>
                                    <div id="divLocations" style="margin-top:10px;">
                                    </div>
                                    <div id="divUsers" style="margin-top:10px;">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
           @* <div id="element-box" class="syst-notify col-sm-6">
                <div class="m">
                    <div class="header" style="width: 100%; padding-left: 0px;">
                        System Notification
                    </div>
                    <table>
                        <tr>
                            <td align="left">
                                <!---span style="float:left;">Title : </!--span---->
                                <input type="text" placeholder="Title" id="txtSystemTitle" style="float: left;" class="form-control valid" name="txtSystemTitle" value="@Model.SystemNotificationTitle" />
                                @Html.HiddenFor(m => m.SystemNotificationStatus)
                                &nbsp;<!--span style="float: left;">Details : </!--span--->
                                <input type="text" placeholder="Details" id="txtSystemDetails" style="float: left; margin-left:6px;" class="form-control valid" name="txtSystemDetails" style='' value="@Model.SystemNotificationContent" />
                                <input type="button" value="Save" id="btnSaveSystemNotification" class="btn btn-primary" name="btnSaveSystemNotification"
                                    onclick="SaveSystemNotification();" />
                                <input type="button" value="Clear" id="btnClearSystemNotification" class="btn btn-default" name="btnClearSystemNotification"
                                    onclick="ClearSystemNotification();" />
                                <label id="Saved" style="display: none;">
                                    Saved
                                </label>
                            </td>
                        </tr>
                    </table>
                    <div class="clr">
                    </div>
                </div>
            </div>*@
        </div>
    </div>
    <div class="container-fluid admin-search-icon">
        <div class="admin-dash-icons">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#Home">
                    <img src='../Content/themes/base/images/new-account.png' onclick="newAccount();"><br />
                    <span class="text-center">New Accounts</span> </a></li>
                <li><a data-toggle="tab" href="#menu1">
                    <img src='../Content/themes/base/images/manual-report.png' onclick="openMenual();"><br />
                    <span class="text-center">Manual Reports </span></a></li>
                <li><a data-toggle="tab" href="#menu2">
                    <img src='../Content/themes/base/images/emereg-review.png' onclick="emergeReview();"><br />
                    <span class="text-center">Emerge Review </span></a></li>
                <li><a data-toggle="tab" href="#menu3">
                    <img src='../Content/themes/base/images/notice.png' onclick="Notice();"><br />
                    <span class="text-center">613 Notice </span></a></li>
                <li><a data-toggle="tab" href="#menu1">
                    <img src='../Content/themes/base/images/quality-control.png' onclick="qualityControl();"><br />
                    <span class="text-center">Quality Control Survey</span> </a></li>
                <li><a data-toggle="tab" href="#menu2">
                    <img src='../Content/themes/base/images/help-order.png' onclick="helpWithOrder();"><br />
                    <span class="text-center">Help With Order </span></a></li>
                <li><a data-toggle="tab" href="#menu3">
                    <img src='../Content/themes/base/images/batch-order.png' onclick="batchOrders();"><br />
                    <span class="text-center">Batch Orders  </span></a></li>
                <li><a data-toggle="tab" href="#menu1">
                    <img src='../Content/themes/base/images/pending-report.png' onclick="pendingReports();"><br />
                    <span class="text-center">Pending Reports </span></a></li>
                <li><a data-toggle="tab" href="#menu2">
                    <img src='../Content/themes/base/images/incomplte-report.png' onclick="incompleteReports();"><br />
                    <span class="text-center">Incomplete Reports  </span></a></li>
                <li><a data-toggle="tab" href="#menu3">
                    <img src='../Content/themes/base/images/drug-testing.png' onclick="drugTesting();"><br />
                    <span class="text-center">Drug Testing </span></a></li>
            </ul>

            @*   <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>HOME</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
                <div id="menu3" class="tab-pane fade">
                    <h3>Menu 3</h3>
                    <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>*@
        </div>

    </div>
    <div class="">
        <div id="element-box" style="background-color:#FFF;">
            <div class="m" id="newAccountHeader"  style="width: 98%; padding: 0px; margin: auto;">
                <div class="header" style="width: 100%;" onclick="ExpdnColpsNewAccount()" >
                    New Accounts
                    <input type="hidden" id="hdnNewAccountContetns" value="@ViewBag.NewAccountContetns" />
                </div>
                <div id="NewAccountContetnsDiv" class="expand" style="padding: 10px; margin-top: -33px;">
                    @Html.Partial("PartialNewAccounts")
                </div>
                <div class="clr">
                </div>
            </div>
        </div>
        <div id="element-box">
           
            <div class="m" id="manualReportsHeader" style="width: 98%; padding: 0px; margin: auto; margin-top: 10px;">
                <div class="header" style="width: 100%;" onclick="ExpdnColpsMannualRepoets()">
                    Manual Reports
                    <input type="hidden" id="hdnMannualReportContent" value="@ViewBag.MannualReportContent" />
                </div>
                <div id="MannualReportContentDiv" class="expand" style="padding: 10px; margin-top: -35px; overflow: visible !important;">
                    @Html.Partial("PartialAdminConsent")
                </div>
                <div class="clr">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>

        <div id="element-box">
            <div class="m" id="emergeReviewHeader" style="width: 98%; padding: 0px; margin: auto; margin-top: 10px;">
                <div class="header" style="width: 100%;" onclick="ExpdnColpsPendingReviewReport()">
                    Emerge Review
                    <input type="hidden" id="hdnPendingReviewReportContent" value="@ViewBag.PendingReviewReportContent" />

                </div>
                <div id="PendingReviewReportContentDiv" class="expand" style="padding: 10px; margin-top: -25px; overflow: visible !important;">
                    @Html.Partial("PartialPendingReviewReport")
                </div>
                <div class="clr">
                </div>
            </div>
        </div>

        

        <div id="element-box">
            <div class="m" id="613NoticeHeader" style="width: 98%; padding: 0px; margin: auto; margin-top: 10px;">
                <div class="header" style="width: 100%" onclick="ExpdnColps613Notice()">
                    613 Notice
                    <input type="hidden" id="hdnNoticeContent123" value="@ViewBag.NoticeContent" />
                    <input type="hidden" id="NoticeContentDivhdn" value="@ViewBag.NoticeContentDiv" />
                </div>
                &nbsp;
                <div id="613NoticeContentDiv" class="expand" style="padding: 10px; margin-top: -35px;  overflow: visible !important;">
                    @Html.Partial("PartialNotice613")
                </div>
                <div class="clr">
                </div>
            </div>
        </div>


        <div class="clr">
        </div>
        <div id="element-box">
            <div class="m" id="qualityControlHeader" style="width: 98%; padding: 0px; margin: auto; margin-top: 10px;">
                <div class="header" style="width: 100%" onclick="ExpdnColpsQualityControl()">
                    Quality Control Survey
                    <input type="hidden" id="hdnQualityContent" value="@ViewBag.QualityContent" />
                </div>
                &nbsp;
                <div id="QualityContentDiv" class="expand" style="padding: 10px; margin-top: -44px; display:none">
                    @Html.Partial("partialquality")
                </div>
                <div class="clr">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            <div class="m" id="helpWithOrderHeader" style="width: 98%; padding: 0px; margin: auto; margin-top: 10px;">

                <div class="header" style="width: 100%" onclick="ExpdnColpsHelpWithOrders()">
                    Help With Order
                    <input type="hidden" id="hdnHelpWithOrdersContent" value="@ViewBag.HelpWithOrdersContent" />
                </div>
                <div id="HelpWithOrdersContentDiv" class="expand" style="padding: 10px; margin-top: -27px; overflow: visible !important;">
                    @Html.Partial("PartialHelpWithOrders")
                </div>
                <div class="clr">
                </div>
            </div>
        </div>

        <div id="element-box">
            <div class="m" id="batchOrdersHeader" style="width: 98%; padding: 0px; margin: auto; margin-top: 10px;">

                <div class="header" style="width: 100%" onclick="ExpdnColpsBatchOrders()">
                    Batch Orders
                    <input type="hidden" id="hdnBatchOrderContent" value="@ViewBag.BatchOrdersContent" />
                </div>
                &nbsp;
                <div id="BatchOrdersContentDiv" class="expand" style="padding: 10px; margin-top: -43px; display:none;">
                    @Html.Partial("PartialBatchOrders")
                </div>
                <div class="clr">
                </div>
            </div>
        </div>

        <div class="clr">
        </div>
        <div id="element-box">
            <div class="m" id="pendingReportsHeader" style="width: 98%; padding: 0px; margin: auto; margin-top: 10px;">
                <div class="header" style="width: 100%" onclick="ExpdnColpsPendingReports()">
                    Pending Reports
                    <input type="hidden" id="hdnPendingReportsContent" value="@ViewBag.PendingReportsContent" />
                </div>
                &nbsp;
                <div id="PendingReportsContentDiv" class="expand" style="padding: 10px; margin-top: -43px; display:none;">
                    @Html.Partial("PartialPendingReportsForAdmin")
                </div>
                <div class="clr">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            <div class="m" id="incompleteReportsHeader" style="width: 98%; padding: 0px; margin: auto; margin-top: 10px;">
                <div class="header" style="width: 100%" onclick="ExpdnColpsIncompleteReports()">
                    Incomplete Reports
                    <input type="hidden" id="hdnIncompleteReportsContent" value="@ViewBag.IncompleteReportsContent" />
                </div>
                &nbsp;
                <div id="IncompleteReportsContentDiv" class="expand" style="padding: 10px; margin-top: -44px; display:none;">
                    @Html.Partial("PartialIncompleteReports")
                </div>
                <div class="clr">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            <div class="m" id="drugTestingHeader" style="width: 98%; padding: 0px; margin: auto; margin-top: 10px;">

                <div class="header" style="width: 100%" onclick="ExpdnColpsDrugTestingOrders()">
                    Drug Testing
                    <input type="hidden" id="hdnDrugTestingOrdersContent" value="@ViewBag.DrugTestingOrdersContent" />
                </div>
                <div id="DrugTestingOrdersContentDiv" class="expand" style="padding: 10px; margin-top: -27px;  overflow: visible !important;">
                    @Html.Partial("PartialDrugTestingOrders")
                </div>
            </div>
            <div class="clr">
            </div>

        </div>        
    </div>
    <div class="clr">
    </div>
</div>

<script type="text/javascript">
    function onpagelaod() {

        var flag = document.getElementById("hdnNewAccountContetns").value;

        if (flag == "expand") {
            $("#NewAccountContetnsDiv").slideDown(200, "linear", "SaveSlideChages");
            $("#NewAccountContetnsDiv").addClass("colapse").removeClass("expand");

        }
        else if (flag == "colapse") {

            $("#NewAccountContetnsDiv").slideUp(200, "linear", "SaveSlideChages");
            $("#NewAccountContetnsDiv").addClass("expand").removeClass("colapse");

        }

        var hdnMannualReportContent = document.getElementById("hdnMannualReportContent").value;

        if (hdnMannualReportContent == "expand") {
            $("#MannualReportContentDiv").slideDown(200, "linear", "SaveSlideChages");
            $("#MannualReportContentDiv").addClass("colapse").removeClass("expand");

        }
        else if (hdnMannualReportContent == "colapse") {

            $("#MannualReportContentDiv").slideUp(200, "linear", "SaveSlideChages");
            $("#MannualReportContentDiv").addClass("expand").removeClass("colapse");

        }



        var PendingReviewReportContent = document.getElementById("hdnPendingReviewReportContent").value;

        if (PendingReviewReportContent == "expand") {
            $("#PendingReviewReportContentDiv").slideDown(200, "linear", "SaveSlideChages");
            $("#PendingReviewReportContentDiv").addClass("colapse").removeClass("expand");

        }
        else if (PendingReviewReportContent == "colapse") {

            $("#PendingReviewReportContentDiv").slideUp(200, "linear", "SaveSlideChages");
            $("#PendingReviewReportContentDiv").addClass("expand").removeClass("colapse");

        }

        var NoticeContentDivhdn = document.getElementById("NoticeContentDivhdn").value;
        var NoticeContentDivhdn123 = document.getElementById("hdnNoticeContent123").value;

        if (NoticeContentDivhdn == "expand" || NoticeContentDivhdn123 == "expand") {
            $("#613NoticeContentDiv").slideDown(200, "linear", "SaveSlideChages");
            $("#613NoticeContentDiv").addClass("colapse").removeClass("expand");

        }
        else if (NoticeContentDivhdn == "colapse" || NoticeContentDivhdn123 == "colapse") {
            $("#613NoticeContentDiv").slideUp(200, "linear", "SaveSlideChages");
            $("#613NoticeContentDiv").addClass("expand").removeClass("colapse");

        }


        var QualityContent = document.getElementById("hdnQualityContent").value;

        if (QualityContent == "expand") {
            $("#QualityContentDiv").slideDown(200, "linear", "SaveSlideChages");
            $("#QualityContentDiv").addClass("colapse").removeClass("expand");

        }
        else if (QualityContent == "colapse") {
            $("#QualityContentDiv").slideUp(200, "linear", "SaveSlideChages");
            $("#QualityContentDiv").addClass("expand").removeClass("colapse");

        }

        var HelpWithOrdersContent = document.getElementById("hdnHelpWithOrdersContent").value;

        if (HelpWithOrdersContent == "expand") {
            $("#HelpWithOrdersContentDiv").slideDown(200, "linear", "SaveSlideChages");
            $("#HelpWithOrdersContentDiv").addClass("colapse").removeClass("expand");

        }
        else if (HelpWithOrdersContent == "colapse") {
            $("#HelpWithOrdersContentDiv").slideUp(200, "linear", "SaveSlideChages");
            $("#HelpWithOrdersContentDiv").addClass("expand").removeClass("colapse");

        }

        var BatchOrdersContent = document.getElementById("hdnBatchOrderContent").value;

        if (BatchOrdersContent == "expand") {
            $("#BatchOrdersContentDiv").slideDown(200, "linear", "SaveSlideChages");
            $("#BatchOrdersContentDiv").addClass("colapse").removeClass("expand");

        }
        else if (BatchOrdersContent == "colapse") {
            $("#BatchOrdersContentDiv").slideUp(200, "linear", "SaveSlideChages");
            $("#BatchOrdersContentDiv").addClass("expand").removeClass("colapse");

        }


        var PendingReportsContent = document.getElementById("hdnPendingReportsContent").value;

        if (PendingReportsContent == "expand") {
            $("#PendingReportsContentDiv").slideDown(200, "linear", "SaveSlideChages");
            $("#PendingReportsContentDiv").addClass("colapse").removeClass("expand");

        }
        else if (PendingReportsContent == "colapse") {
            $("#PendingReportsContentDiv").slideUp(200, "linear", "SaveSlideChages");
            $("#PendingReportsContentDiv").addClass("expand").removeClass("colapse");

        }

        var IncompleteReportsContent = document.getElementById("hdnIncompleteReportsContent").value;

        if (IncompleteReportsContent == "expand") {
            $("#IncompleteReportsContentDiv").slideDown(200, "linear", "SaveSlideChages");
            $("#IncompleteReportsContentDiv").addClass("colapse").removeClass("expand");

        }
        else if (IncompleteReportsContent == "colapse") {
            $("#IncompleteReportsContentDiv").slideUp(200, "linear", "SaveSlideChages");
            $("#IncompleteReportsContentDiv").addClass("expand").removeClass("colapse");

        }

        var DrugTestingOrdersContent = document.getElementById("hdnDrugTestingOrdersContent").value;

        if (DrugTestingOrdersContent == "expand") {
            $("#DrugTestingOrdersContentDiv").slideDown(200, "linear", "SaveSlideChages");
            $("#DrugTestingOrdersContentDiv").addClass("colapse").removeClass("expand");

        }
        else if (DrugTestingOrdersContent == "colapse") {
            $("#DrugTestingOrdersContentDiv").slideUp(200, "linear", "SaveSlideChages");
            $("#DrugTestingOrdersContentDiv").addClass("expand").removeClass("colapse");

        }
    }


    function ExpdnColps613Notice() {
        var flag = document.getElementById("613NoticeContentDiv").className;
        var SectionId = "613NoticeContentDiv";

        if (flag == "expand") {
            $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "true" }, function (NotificationResult) {
                $("#613NoticeContentDiv").slideDown(200, "linear", "SaveSlideChages");
                $("#613NoticeContentDiv").addClass("colapse").removeClass("expand");
            });


        }
        else if (flag == "colapse") {
            $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "false" }, function (NotificationResult) {
                $("#613NoticeContentDiv").slideUp(200, "linear", "SaveSlideChages");
                $("#613NoticeContentDiv").addClass("expand").removeClass("colapse");
            });

        }


}


function ExpdnColpsPendingReviewReport() {

    var flag = document.getElementById("PendingReviewReportContentDiv").className;
    var SectionId = "PendingReviewReportContentDiv";

    if (flag == "expand") {
        $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "true" }, function (NotificationResult) {

                $("#PendingReviewReportContentDiv").slideDown(200, "linear", "SaveSlideChages");
                $("#PendingReviewReportContentDiv").addClass("colapse").removeClass("expand");
            });

        }
        else if (flag == "colapse") {
            $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "false" }, function (NotificationResult) {

                $("#PendingReviewReportContentDiv").slideUp(200, "linear", "SaveSlideChages");
                $("#PendingReviewReportContentDiv").addClass("expand").removeClass("colapse");
            });

        }
}
function ExpdnColpsMannualRepoets() {

    var flag = document.getElementById("MannualReportContentDiv").className;
    var SectionId = "MannualReportContentDiv";

    if (flag == "expand") {
        $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "true" }, function (NotificationResult) {

            $("#MannualReportContentDiv").slideDown(200, "linear", "SaveSlideChages");
            $("#MannualReportContentDiv").addClass("colapse").removeClass("expand");
        });
    }
    else if (flag == "colapse") {
        $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "false" }, function (NotificationResult) {

                $("#MannualReportContentDiv").slideUp(200, "linear", "SaveSlideChages");
                $("#MannualReportContentDiv").addClass("expand").removeClass("colapse");
            });
        }

}
function ExpdnColpsNewAccount() {

    var flag = document.getElementById("NewAccountContetnsDiv").className;
    var SectionId = "NewAccountContetnsDiv";
    if (flag == "expand") {
        $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "true" }, function (NotificationResult) {

            $('#NewAccountContetnsDiv').slideDown(200, "linear", "SaveSlideChages");
            $('#NewAccountContetnsDiv').addClass("colapse").removeClass("expand");
        });
    }
    else if (flag == "colapse") {
        $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "false" }, function (NotificationResult) {

                $('#NewAccountContetnsDiv').slideUp(200, "linear", "SaveSlideChages");
                $('#NewAccountContetnsDiv').addClass("expand").removeClass("colapse");
            });
        }
}


function ExpdnColpsQualityControl() {

    var flag = document.getElementById("QualityContentDiv").className;
    var SectionId = "QualityContentDiv";
    if (flag == "expand") {
        $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "true" }, function (NotificationResult) {

            $('#QualityContentDiv').slideDown(200, "linear", "SaveSlideChages");
            $('#QualityContentDiv').addClass("colapse").removeClass("expand");
        });
    }
    else if (flag == "colapse") {
        $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "false" }, function (NotificationResult) {

                $('#QualityContentDiv').slideUp(200, "linear", "SaveSlideChages");
                $('#QualityContentDiv').addClass("expand").removeClass("colapse");
            });
        }

}

function ExpdnColpsHelpWithOrders() {
    var flag = document.getElementById("HelpWithOrdersContentDiv").className;
    var SectionId = "HelpWithOrdersContentDiv";
    if (flag == "expand") {
        $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "true" }, function (NotificationResult) {

            $('#HelpWithOrdersContentDiv').slideDown(200, "linear", "SaveSlideChages");
            $('#HelpWithOrdersContentDiv').addClass("colapse").removeClass("expand");
        });

    }
    else if (flag == "colapse") {
        $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "false" }, function (NotificationResult) {

                $('#HelpWithOrdersContentDiv').slideUp(200, "linear", "SaveSlideChages");
                $('#HelpWithOrdersContentDiv').addClass("expand").removeClass("colapse");
            });
        }

}

function ExpdnColpsBatchOrders() {

    var flag = document.getElementById("BatchOrdersContentDiv").className;
    var SectionId = "BatchOrdersContentDiv";
    if (flag == "expand") {
        $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "true" }, function (NotificationResult) {

            $('#BatchOrdersContentDiv').slideDown(200, "linear", "SaveSlideChages");
            $('#BatchOrdersContentDiv').addClass("colapse").removeClass("expand");
        });

    }
    else if (flag == "colapse") {
        $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "false" }, function (NotificationResult) {

                  $('#BatchOrdersContentDiv').slideUp(200, "linear", "SaveSlideChages");
                  $('#BatchOrdersContentDiv').addClass("expand").removeClass("colapse");
              });
          }
  }

  function ExpdnColpsPendingReports() {

      var flag = document.getElementById("PendingReportsContentDiv").className;
      var SectionId = "PendingReportsContentDiv";
      if (flag == "expand") {
          $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "true" }, function (NotificationResult) {

              $('#PendingReportsContentDiv').slideDown(200, "linear", "SaveSlideChages");
              $('#PendingReportsContentDiv').addClass("colapse").removeClass("expand");
          });

      }
      else if (flag == "colapse") {
          $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "false" }, function (NotificationResult) {

                  $('#PendingReportsContentDiv').slideUp(200, "linear", "SaveSlideChages");
                  $('#PendingReportsContentDiv').addClass("expand").removeClass("colapse");
              });

          }

  }

  function ExpdnColpsIncompleteReports() {

      var flag = document.getElementById("IncompleteReportsContentDiv").className;
      var SectionId = "IncompleteReportsContentDiv";
      if (flag == "expand") {
          $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "true" }, function (NotificationResult) {

              $('#IncompleteReportsContentDiv').slideDown(200, "linear", "SaveSlideChages");
              $('#IncompleteReportsContentDiv').addClass("colapse").removeClass("expand");
          });

      }
      else if (flag == "colapse") {
          $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "false" }, function (NotificationResult) {

                  $('#IncompleteReportsContentDiv').slideUp(200, "linear", "SaveSlideChages");
                  $('#IncompleteReportsContentDiv').addClass("expand").removeClass("colapse");
              });

          }


  }

  function ExpdnColpsDrugTestingOrders() {
      var flag = document.getElementById("DrugTestingOrdersContentDiv").className;
      var SectionId = "DrugTestingOrdersContentDiv";
      if (flag == "expand") {
          $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "true" }, function (NotificationResult) {

              $('#DrugTestingOrdersContentDiv').slideDown(200, "linear", "SaveSlideChages");
              $('#DrugTestingOrdersContentDiv').addClass("colapse").removeClass("expand");
          });

      }
      else if (flag == "colapse") {
          $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "false" }, function (NotificationResult) {

                  $('#DrugTestingOrdersContentDiv').slideUp(200, "linear", "SaveSlideChages");
                  $('#DrugTestingOrdersContentDiv').addClass("expand").removeClass("colapse");

              });

          }


  }

    GetSystemNotificationStatus();

  function GetSystemNotificationStatus() {
      if ($('#SystemNotificationStatus').val().toLowerCase() == 'true') {
          $('#btnSaveSystemNotification').hide();
          $('#btnClearSystemNotification').show();
      }
      else {
          $('#btnSaveSystemNotification').show();
          $('#btnClearSystemNotification').hide();
      }
  }


  function SaveSystemNotification() {

      $.post('@Url.Action("SaveSystemNotificationDetails", "Control")', { Title: $('#txtSystemTitle').val(), Details: $('#txtSystemDetails').val() }, function (NotificationResult) {
          if (NotificationResult != null) {
              $('#lblAdminSearchMsg').show();
              $('#lblAdminSearchMsg').html(NotificationResult.Message);
              $('#btnSaveSystemNotification').hide();
              $('#btnClearSystemNotification').show();
              window.location.reload()
          }
      });
  }

  function ClearSystemNotification() {

      $.post('@Url.Action("ClearSystemNotificationDetails", "Control")', {}, function (NotificationClearResult) {

            if (NotificationClearResult != null) {
                $('#lblAdminSearchMsg').show();
                $('#lblAdminSearchMsg').html(NotificationClearResult.Message);
                $('#btnSaveSystemNotification').show();
                $('#btnClearSystemNotification').hide();
                window.location.reload()
            }
        });
    }

    var CompanyId = "7dc87d77-6bb5-4bb3-9837-fa861f36f281";
    var comflag = false;
    var locflag = false;
    var userflag = false;

    function BindLocationGrid() {
        var dataSourceLoc = new kendo.data.DataSource({
            page: 1,
            pageSize: 10,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            schema: {
                data: "Reclist",
                total: "TotalRec"
            },
            transport: {
                read: {
                    url: '@Url.Action("GetSearchedLocations", "Control")',
                    data: { Searchstring: $('#txtAdminSearch').val() },
                    type: "POST"
                },
                parameterMap: function (options) {
                    var data = options;
                    if (options.filter) {
                        var filters = options.filter.filters;
                        for (var i = 0; i < filters.length; i++) {
                            data["filters[" + i + "].Field"] = filters[i].field;
                            data["filters[" + i + "].Operator"] = filters[i].operator;
                            data["filters[" + i + "].Value"] = filters[i].value;
                        }
                    }
                    return data;
                }
            }
        });

        $("#divLocations").kendoGrid({
            dataSource: dataSourceLoc,
            sortable: true,
            height: 250,
            scrollable: {
                virtual: true
            },
            columns: [
            { field: "RowNo", title: "#", width: 30, sortable: false },
            { field: "CompanyName", title: "Company", width: 130 },
            { field: "City", title: "Location", width: 100, template: '<div style="text-align:center;"><div style="float: left ;text-align:left; width:80%">#=City#</div><div style="float: right ;text-align:center; width:18%"># if(pkCompanyId=="' + CompanyId + '" && IsHome==true){#<input type="IMAGE" title="Root Company" SRC="../Content/themes/base/images/small_intel_icon.png" />#}if(pkCompanyId!="' + CompanyId + '" && IsHome==true){#<input title="Home Location" style="cursor:default" type="IMAGE" src="../Content/themes/base/images/Home.png"/>#}#</div></div>' },
            { field: "CompanyAccountNumber", title: "Account#", width: 100 },
            { field: "LocationContact", title: "Location Contact", width: 150 },
            { field: "PhoneNo1", title: "Location #", width: 100, sortable: false },
            { field: "TotalUsers", title: "# Of Users", width: 100 },
            { field: "IsEnabledLocation", sortable: false, title: "Active", width: 50, template: '#  if (IsEnabledLocation==true) {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/tick.png")" id="mainimage" value="#=IsEnabledLocation#"/> #} else {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/publish_x.png")" id="mainimage2" value="#=IsEnabledLocation#"/> #} #' },
            { field: "StatusText", title: "Status", width: 100, sortable: false, template: "# if(StatusText == 'InActive'){#<span class='st_inactive' > IN ACTIVE </span># } else if(StatusText == 'Active'){#<span class='st_active' > ACTIVE </span>#} else if(StatusText == 'Locked'){#<span class='st_locked' > LOCKED </span>#} else if(StatusText == 'PastDue'){#<span class='st_pastdue' > PAST DUE </span>#}  else if(StatusText == 'InCollections'){#<span class='st_incollections' > IN COLLECTIONS </span>#}#" },
            { field: "SaleRepInitial", title: "Rep", width: 30, sortable: false },
            { field: "pkLocationId", sortable: false, title: "Action", width: 200, template: '<input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/edit.png")" id="image1" title="Edit" value="#=pkLocationId#" style="width:15; height:18px" onclick="Updatelocation(this.value)" /> # if(IsHome==false){# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/delete.png")" id="image1" title="Delete" value="#=pkLocationId#" style="width:15px; height:18px" onclick="return DeletelocationbyId(this.value)" /> #} #' },
            ],
            editable: false,
            dataBound: function (e) {
                var takeTotal = this.dataSource.total();
                if (takeTotal == 0) {
                }
                var gridRows = $("#divLocations tbody tr");
                var takeGrid = $("#divLocations").data("kendoGrid");

                var lengeth = gridRows.length;
                for (i = 0; i < lengeth; i++) {

                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var Status = dataItem.StatusText
                    row.cells[9].style.color = 'black';
                    GridEffect("divLocations", dataItem)
                }
                $("tr").css("text-align", "center");
            }
        });
    }

    function BindCompanyGrid() {
        var dataSourceCom = new kendo.data.DataSource({
            page: 1,
            pageSize: 10,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            schema: {
                data: "Reclist",
                total: "TotalRec"
            },
            transport: {
                read: {
                    url: '@Url.Action("GetSearchedCompanies", "Control")',
                    data: { Searchstring: $('#txtAdminSearch').val() },
                    type: "POST"
                },
                parameterMap: function (options) {
                    var data = options;
                    if (options.filter) {
                        var filters = options.filter.filters;
                        for (var i = 0; i < filters.length; i++) {
                            data["filters[" + i + "].Field"] = filters[i].field;
                            data["filters[" + i + "].Operator"] = filters[i].operator;
                            data["filters[" + i + "].Value"] = filters[i].value;
                        }
                    }
                    return data;
                }
            }
        });

        $("#divCompanies").kendoGrid({
            dataSource: dataSourceCom,
            sortable: true,
            height: 250,
            scrollable: {
                virtual: true
            },
            columns: [
            { field: "RowNo", title: "#", width: 30, sortable: false },
            { field: "CompanyName", title: "Company", width: 130 },
            { field: "City", title: "Location", width: 100, template: '<div style="text-align:center;"><div style="float: left ;text-align:left; width:80%">#=City#</div><div style="float: right ;text-align:center; width:18%"># if(pkCompanyId=="' + CompanyId + '" && IsHome==true){#<input type="IMAGE" title="Root Company" SRC="../Content/themes/base/images/small_intel_icon.png" />#}if(pkCompanyId!="' + CompanyId + '" && IsHome==true){#<input title="Home Location" style="cursor:default" type="IMAGE" src="../Content/themes/base/images/Home.png"/>#}#</div></div>' },
            { field: "CompanyAccountNumber", title: "Account", width: 60 },
            { field: "CompanyType", filterable: false, title: "Company Type", width: 150 },
            { field: "MainContactPersonName", title: "Main Contact", width: 130 },
            { field: "PhoneNo1", filterable: false, title: "Company #", width: 100 },
            { field: "TotalLocations", filterable: false, title: "# Of Location", width: 80 },
            { field: "TotalUsers", filterable: false, title: "# Of Users", width: 80 },
            { field: "Isenabled", filterable: false, title: "Active", width: 50, template: '#  if (Isenabled==true) {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/status.png")" id="mainimage" style="height:16px;" value="#=Isenabled#"/> #} else {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/cross.png")" id="mainimage2" style="height:16px;" value="#=Isenabled#"/> #} #' },
            { field: "StatusText", filterable: false, title: "Status", width: 100, template: "# if(StatusText == 'InActive'){#<span class='st_inactive' > IN ACTIVE </span># } else if(StatusText == 'Active'){#<span class='st_active' > ACTIVE </span>#} else if(StatusText == 'Locked'){#<span class='st_locked' > LOCKED </span>#} else if(StatusText == 'PastDue'){#<span class='st_pastdue' > PAST DUE </span>#}  else if(StatusText == 'InCollections'){#<span class='st_incollections' > IN COLLECTIONS </span>#}#" },
            { field: "SaleRepInitial", sortable: false, filterable: false, title: "Rep", width: 50, template: '#if(SaleRepInitial!=null){# #=SaleRepInitial# #}#' },
            { field: "pkCompanyId", sortable: false, filterable: false, title: "Action", width: 100, template: "<input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/edit.png")' + " id=\"image1\" value=\"#=pkLocationId#\" title=\"Edit\" style=\"width:15; height:18px\" onclick=\"EditCompany(this.value)\" /> <input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/delete.png")' + " id=\"image1\" title=\"Delete\" value=\"#=pkCompanyId#\" style=\"width:15px; height:18px\" onclick=\"return DeleteCompanybyId(this.value);\" />#  if (EnableAPI==true) {# <img src='../Content/themes/base/images/APIcircle.png' title='API Service Activated' alt='API'/>#} #" },
            ],
            editable: false,
            dataBound: function () {
                var takeTotal = this.dataSource.total();
                var gridRows = $("#divCompanies tbody tr");
                var takeGrid = $("#divCompanies").data("kendoGrid");
                var length = gridRows.length;
                for (i = 0; i < length; i++) {

                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var Status = dataItem.StatusText;
                    var Status = dataItem.StatusText;
                    row.cells[11].style.color = 'black';
                    GridEffect("divCompanies", dataItem)



                }
                $("tr").css("text-align", "left");
            }
        });
    }

    function BindUserGrid() {
        var dataSourceUser = new kendo.data.DataSource({
            page: 1,
            pageSize: 10,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            schema: {
                data: "Reclist",
                total: "TotalRec"
            },
            transport: {
                read: {
                    url: '@Url.Action("GetSearchedUsers", "Control")',
                    data: { Searchstring: $('#txtAdminSearch').val() },
                    type: "POST"
                },
                parameterMap: function (options) {
                    var data = options;
                    if (options.filter) {
                        var filters = options.filter.filters;
                        for (var i = 0; i < filters.length; i++) {
                            data["filters[" + i + "].Field"] = filters[i].field;
                            data["filters[" + i + "].Operator"] = filters[i].operator;
                            data["filters[" + i + "].Value"] = filters[i].value;
                        }
                    }
                    return data;
                }
            }
        });

        $("#divUsers").kendoGrid({
            dataSource: dataSourceUser,
            sortable: true,
            height: 250,
            scrollable: {
                virtual: true
            },
            columns: [
            { field: "RowNo", title: "#", width: "2%", sortable: false },
            { field: "FirstName", title: "Name", width: "13%", template: '<label>#=FirstName#<label> <label>#=LastName#<label>' },
            { field: "Email", title: "Email/UserName", width: "18%" },
            { field: "UserDisplayRole", title: "User Type", width: "12%", filterable: false },
            { field: "CompanyName", title: "Company", width: "15%" },
            { field: "City", title: "Location", width: "15%", template: '<div style="text-align:center;"><div style="float: left ;text-align:left; width:80%">#=City#</div><div style="float: right ;text-align:center; width:18%"># if(pkCompanyId=="' + CompanyId + '" && IsHome!=""){#<input type="IMAGE" title="Root Company" SRC="../Content/themes/base/images/small_intel_icon.png" />#}if(pkCompanyId!="' + CompanyId + '" && IsHome!=""){#<input title="Home Location" style="cursor:default" type="IMAGE" src="../Content/themes/base/images/Home.png"/>#}#</div></div>' },
            { field: "IsEnabledUser", title: "Active", width: "4%", filterable: false, template: '<div class="centeralign"># if (IsEnabledUser==true) {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/tick.png")" title="Active" id="mainimage" value="#=IsEnabledUser#"/> #} else {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/publish_x.png")" id="mainimage2" title="InActive" value="#=IsEnabledUser#"/> #} #</div>' },
            { field: "pkCompanyUserId", title: "Action", width: "5%", filterable: false, sortable: false, template: "<input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/edit.png")' + " id='imgEdit_#=pkCompanyUserId#' title='Edit' value='#=pkCompanyUserId#' style='width:21px; height:20px' onclick='UpdateUser(\"#=pkCompanyUserId#\",\"#=pkCompanyId#\")'  />#if(UserRole!='SystemAdmin' && UserRole!='SupportManager' && UserRole!='SupportTechnician' ){#<input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/delete.png")' + " id='imgDel_#=pkCompanyUserId#' value='#=pkCompanyUserId#' title='Delete' onclick='deleteUser(\"#=pkCompanyUserId#\")' style='width:21px; height:23px' />#}#" },
            ],
            editable: false,
            dataBound: function () {
                var gridHeaderRows = $("#divUsers tbody th");
                var gridRows = $("#divUsers tbody tr");
                var takeGrid = $("#divUsers").data("kendoGrid");
                var length = gridRows.length;
                for (i = 0; i < length; i++) {
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    GridEffect("divUsers", dataItem)
                }

                $("tr").css("text-align", "center");
            }
        });
    }

    function AdminSearch_Enter(e, txtSearch) {
        var evt = e ? e : window.event;
        if (evt.keyCode == 13) {
            AdminSearchFilter();
            return false;
        }
    }

    function AdminSearchFilter() {
        var Keyword = $('#txtAdminSearch').val();
        var txtid = document.getElementById('txtAdminSearch');
        if (txtid.value == '') {
            alert('Enter here some text for search');
            txtid.focus();
            return false;
        }
        else {
            var filter = $('#ddlFilter').val();
            if (filter == 'Companies') {
                $("#divLocations").hide();
                $("#divUsers").hide();
                $("#divCompanies").show();
                if (comflag == false) {
                    BindCompanyGrid();
                    FilterComGrid(Keyword);
                }
                else {
                    FilterComGrid(Keyword);
                }
                comflag = true;
            }
            if (filter == 'Locations') {
                $("#divCompanies").hide();
                $("#divUsers").hide();
                $("#divLocations").show();
                if (locflag == false) {
                    BindLocationGrid();
                    FilterLocGrid(Keyword);
                }
                else {
                    FilterLocGrid(Keyword);
                }
                locflag = true;
            }
            if (filter == 'Users') {
                $("#divLocations").hide();
                $("#divCompanies").hide();
                $("#divUsers").show();
                if (userflag == false) {
                    BindUserGrid();
                    FilterUserGrid(Keyword);
                }
                else {
                    FilterUserGrid(Keyword);
                }
                userflag = true;
            }
        }
    }

    function FilterLocGrid(Keyword) {
        var grid = $("#divLocations").data("kendoGrid");
        grid.dataSource.filter([
                                    { field: "Searchstring", operator: "", value: Keyword }
        ]
                            );
    }

    function FilterComGrid(Keyword) {
        var grid = $("#divCompanies").data("kendoGrid");
        grid.dataSource.filter([
                                    { field: "Searchstring", operator: "", value: Keyword }
        ]
                            );
    }

    function FilterUserGrid(Keyword) {
        var grid = $("#divUsers").data("kendoGrid");
        grid.dataSource.filter([
                                    { field: "Searchstring", operator: "", value: Keyword }
        ]
                            );
    }

    function UpdateUser(pkCompanyUserId, CompanyId) {

        self.location = "AddCompanyUser?_a=" + pkCompanyUserId + "&_c=" + CompanyId;

    }


    function deleteUser(companyserid) {
        if (confirm('Are you sure you want to delete this Record?')) {

            $.post('@Url.Action("DeleteUser", "Control")', { companyserid: companyserid }, function (data) { });
            var CompaniesuserGrid = $("#divUsers").data("kendoGrid");
            CompaniesuserGrid.dataSource.read();
            CompaniesuserGrid.refresh();
        }

    }

    function Updatelocation(pkLocationId) {

        self.location = 'AddCompanyLocation?lid=' + pkLocationId;

    }

    function DeletelocationbyId(pkLocationId) {
        if (confirm("Are you sure you want to delete this Location?")) {
            $.post('@Url.Action("DeleteLocationById", "Control")', { pkLocationId: pkLocationId }, function (data) { });

            var Locationgrid = $("#divLocations").data("kendoGrid");
            Locationgrid.dataSource.read();
            Locationgrid.refresh();
            return true;
        }
        else {
            return false;
        }
    }

    function EditCompany(pkCompanyId) {

        window.location.href = 'AddCompanies?Id1=' + pkCompanyId;

    }

    function DeleteCompanybyId(pkCompanyId) {
        if (confirm("Are you sure you want to delete this Company?")) {
            $.post('@Url.Action("DeleteCompanyById", "Control")', { pkCompanyId: pkCompanyId }, function (data) { });

            var CompaniesGrid = $("#divCompanies").data("kendoGrid");
            CompaniesGrid.dataSource.read();
            CompaniesGrid.refresh();
            return true;
        }
        else {
            return false;
        }
    }
    onpagelaod();
    function ResetSearch() {
        $('#txtAdminSearch').val('');
        $('#ddlFilter').val('Companies');
        $("#divLocations").hide();
        $("#divUsers").hide();
        $("#divCompanies").hide();
    }

    /************************** Dashboard header functionality **************************************/

    function newAccount() {
        $('box1').css("display", "block");
        $('box2').css("display", "none");
        $('box3').css("display", "none");

        $('#newAccountHeader').css("display", "block");
        $('#NewAccountContetnsDiv').css("display", "block");

        $('#manualReportsHeader').css("display", "none");
        $('#MannualReportContentDiv').css("display", "none");

        $('#emergeReviewHeader').css("display", "none");
        $('#PendingReviewReportContentDiv').css("display", "none");

        $('#613NoticeHeader').css("display", "none");
        $('#613NoticeContentDiv').css("display", "none");

        $('#qualityControlHeader').css("display", "none");
        $('#QualityContentDiv').css("display", "none");

        $('#helpWithOrderHeader').css("display", "none");
        $('#HelpWithOrdersContentDiv').css("display", "none");

        $('#batchOrdersHeader').css("display", "none");
        $('#BatchOrdersContentDiv').css("display", "none");

        $('#pendingReportsHeader').css("display", "none");
        $('#PendingReportsContentDiv').css("display", "none");

        $('#incompleteReportsHeader').css("display", "none");
        $('#IncompleteReportsContentDiv').css("display", "none");

        $('#drugTestingHeader').css("display", "none");
        $('#DrugTestingOrdersContentDiv').css("display", "none");
    }

    function openMenual() {
        $('#newAccountHeader').css("display", "none");
        $('#NewAccountContetnsDiv').css("display", "none");

        $('#manualReportsHeader').css("display", "block");
        $('#MannualReportContentDiv').css("display", "block");

        $('#emergeReviewHeader').css("display", "none");
        $('#PendingReviewReportContentDiv').css("display", "none");

        $('#613NoticeHeader').css("display", "none");
        $('#613NoticeContentDiv').css("display", "none");

        $('#qualityControlHeader').css("display", "none");
        $('#QualityContentDiv').css("display", "none");

        $('#helpWithOrderHeader').css("display", "none");
        $('#HelpWithOrdersContentDiv').css("display", "none");

        $('#batchOrdersHeader').css("display", "none");
        $('#BatchOrdersContentDiv').css("display", "none");

        $('#pendingReportsHeader').css("display", "none");
        $('#PendingReportsContentDiv').css("display", "none");

        $('#incompleteReportsHeader').css("display", "none");
        $('#IncompleteReportsContentDiv').css("display", "none");

        $('#drugTestingHeader').css("display", "none");
        $('#DrugTestingOrdersContentDiv').css("display", "none");
    }

    function emergeReview() {
        $('#newAccountHeader').css("display", "none");
        $('#NewAccountContetnsDiv').css("display", "none");

        $('#manualReportsHeader').css("display", "none");
        $('#MannualReportContentDiv').css("display", "none");

        $('#emergeReviewHeader').css("display", "block");
        $('#PendingReviewReportContentDiv').css("display", "block");

        $('#613NoticeHeader').css("display", "none");
        $('#613NoticeContentDiv').css("display", "none");

        $('#qualityControlHeader').css("display", "none");
        $('#QualityContentDiv').css("display", "none");

        $('#helpWithOrderHeader').css("display", "none");
        $('#HelpWithOrdersContentDiv').css("display", "none");

        $('#batchOrdersHeader').css("display", "none");
        $('#BatchOrdersContentDiv').css("display", "none");

        $('#pendingReportsHeader').css("display", "none");
        $('#PendingReportsContentDiv').css("display", "none");

        $('#incompleteReportsHeader').css("display", "none");
        $('#IncompleteReportsContentDiv').css("display", "none");

        $('#drugTestingHeader').css("display", "none");
        $('#DrugTestingOrdersContentDiv').css("display", "none");
    }

    function Notice() {
        $('#newAccountHeader').css("display", "none");
        $('#NewAccountContetnsDiv').css("display", "none");

        $('#manualReportsHeader').css("display", "none");
        $('#MannualReportContentDiv').css("display", "none");

        $('#emergeReviewHeader').css("display", "none");
        $('#PendingReviewReportContentDiv').css("display", "none");

        $('#613NoticeHeader').css("display", "block");
        $('#613NoticeContentDiv').css("display", "block");

        $('#qualityControlHeader').css("display", "none");
        $('#QualityContentDiv').css("display", "none");

        $('#helpWithOrderHeader').css("display", "none");
        $('#HelpWithOrdersContentDiv').css("display", "none");

        $('#batchOrdersHeader').css("display", "none");
        $('#BatchOrdersContentDiv').css("display", "none");

        $('#pendingReportsHeader').css("display", "none");
        $('#PendingReportsContentDiv').css("display", "none");

        $('#incompleteReportsHeader').css("display", "none");
        $('#IncompleteReportsContentDiv').css("display", "none");

        $('#drugTestingHeader').css("display", "none");
        $('#DrugTestingOrdersContentDiv').css("display", "none");
    }

    function qualityControl() {
        $('#newAccountHeader').css("display", "none");
        $('#NewAccountContetnsDiv').css("display", "none");

        $('#manualReportsHeader').css("display", "none");
        $('#MannualReportContentDiv').css("display", "none");

        $('#emergeReviewHeader').css("display", "none");
        $('#PendingReviewReportContentDiv').css("display", "none");

        $('#613NoticeHeader').css("display", "none");
        $('#613NoticeContentDiv').css("display", "none");

        $('#qualityControlHeader').css("display", "block");
        $('#QualityContentDiv').css("display", "block");

        $('#helpWithOrderHeader').css("display", "none");
        $('#HelpWithOrdersContentDiv').css("display", "none");

        $('#batchOrdersHeader').css("display", "none");
        $('#BatchOrdersContentDiv').css("display", "none");

        $('#pendingReportsHeader').css("display", "none");
        $('#PendingReportsContentDiv').css("display", "none");

        $('#incompleteReportsHeader').css("display", "none");
        $('#IncompleteReportsContentDiv').css("display", "none");

        $('#drugTestingHeader').css("display", "none");
        $('#DrugTestingOrdersContentDiv').css("display", "none");
    }

    function helpWithOrder() {
        $('#newAccountHeader').css("display", "none");
        $('#NewAccountContetnsDiv').css("display", "none");

        $('#manualReportsHeader').css("display", "none");
        $('#MannualReportContentDiv').css("display", "none");

        $('#emergeReviewHeader').css("display", "none");
        $('#PendingReviewReportContentDiv').css("display", "none");

        $('#613NoticeHeader').css("display", "none");
        $('#613NoticeContentDiv').css("display", "none");

        $('#qualityControlHeader').css("display", "none");
        $('#QualityContentDiv').css("display", "none");

        $('#helpWithOrderHeader').css("display", "block");
        $('#HelpWithOrdersContentDiv').css("display", "block");

        $('#batchOrdersHeader').css("display", "none");
        $('#BatchOrdersContentDiv').css("display", "none");

        $('#pendingReportsHeader').css("display", "none");
        $('#PendingReportsContentDiv').css("display", "none");

        $('#incompleteReportsHeader').css("display", "none");
        $('#IncompleteReportsContentDiv').css("display", "none");

        $('#drugTestingHeader').css("display", "none");
        $('#DrugTestingOrdersContentDiv').css("display", "none");
    }

    function batchOrders() {
        $('#newAccountHeader').css("display", "none");
        $('#NewAccountContetnsDiv').css("display", "none");

        $('#manualReportsHeader').css("display", "none");
        $('#MannualReportContentDiv').css("display", "none");

        $('#emergeReviewHeader').css("display", "none");
        $('#PendingReviewReportContentDiv').css("display", "none");

        $('#613NoticeHeader').css("display", "none");
        $('#613NoticeContentDiv').css("display", "none");

        $('#qualityControlHeader').css("display", "none");
        $('#QualityContentDiv').css("display", "none");

        $('#helpWithOrderHeader').css("display", "none");
        $('#HelpWithOrdersContentDiv').css("display", "none");

        $('#batchOrdersHeader').css("display", "block");
        $('#BatchOrdersContentDiv').css("display", "block");

        $('#pendingReportsHeader').css("display", "none");
        $('#PendingReportsContentDiv').css("display", "none");

        $('#incompleteReportsHeader').css("display", "none");
        $('#IncompleteReportsContentDiv').css("display", "none");

        $('#drugTestingHeader').css("display", "none");
        $('#DrugTestingOrdersContentDiv').css("display", "none");
    }

    function pendingReports() {
        $('#newAccountHeader').css("display", "none");
        $('#NewAccountContetnsDiv').css("display", "none");

        $('#manualReportsHeader').css("display", "none");
        $('#MannualReportContentDiv').css("display", "none");

        $('#emergeReviewHeader').css("display", "none");
        $('#PendingReviewReportContentDiv').css("display", "none");

        $('#613NoticeHeader').css("display", "none");
        $('#613NoticeContentDiv').css("display", "none");

        $('#qualityControlHeader').css("display", "none");
        $('#QualityContentDiv').css("display", "none");

        $('#helpWithOrderHeader').css("display", "none");
        $('#HelpWithOrdersContentDiv').css("display", "none");

        $('#batchOrdersHeader').css("display", "none");
        $('#BatchOrdersContentDiv').css("display", "none");

        $('#pendingReportsHeader').css("display", "block");
        $('#PendingReportsContentDiv').css("display", "block");

        $('#incompleteReportsHeader').css("display", "none");
        $('#IncompleteReportsContentDiv').css("display", "none");

        $('#drugTestingHeader').css("display", "none");
        $('#DrugTestingOrdersContentDiv').css("display", "none");
    }

    function incompleteReports() {
        $('#newAccountHeader').css("display", "none");
        $('#NewAccountContetnsDiv').css("display", "none");

        $('#manualReportsHeader').css("display", "none");
        $('#MannualReportContentDiv').css("display", "none");

        $('#emergeReviewHeader').css("display", "none");
        $('#PendingReviewReportContentDiv').css("display", "none");

        $('#613NoticeHeader').css("display", "none");
        $('#613NoticeContentDiv').css("display", "none");

        $('#qualityControlHeader').css("display", "none");
        $('#QualityContentDiv').css("display", "none");

        $('#helpWithOrderHeader').css("display", "none");
        $('#HelpWithOrdersContentDiv').css("display", "none");

        $('#batchOrdersHeader').css("display", "none");
        $('#BatchOrdersContentDiv').css("display", "none");

        $('#pendingReportsHeader').css("display", "none");
        $('#PendingReportsContentDiv').css("display", "none");

        $('#incompleteReportsHeader').css("display", "block");
        $('#IncompleteReportsContentDiv').css("display", "block");

        $('#drugTestingHeader').css("display", "none");
        $('#DrugTestingOrdersContentDiv').css("display", "none");
    }

    function drugTesting() {
        $('#newAccountHeader').css("display", "none");
        $('#NewAccountContetnsDiv').css("display", "none");

        $('#manualReportsHeader').css("display", "none");
        $('#MannualReportContentDiv').css("display", "none");

        $('#emergeReviewHeader').css("display", "none");
        $('#PendingReviewReportContentDiv').css("display", "none");

        $('#613NoticeHeader').css("display", "none");
        $('#613NoticeContentDiv').css("display", "none");

        $('#qualityControlHeader').css("display", "none");
        $('#QualityContentDiv').css("display", "none");

        $('#helpWithOrderHeader').css("display", "none");
        $('#HelpWithOrdersContentDiv').css("display", "none");

        $('#batchOrdersHeader').css("display", "none");
        $('#BatchOrdersContentDiv').css("display", "none");

        $('#pendingReportsHeader').css("display", "none");
        $('#PendingReportsContentDiv').css("display", "none");

        $('#incompleteReportsHeader').css("display", "none");
        $('#IncompleteReportsContentDiv').css("display", "none");

        $('#drugTestingHeader').css("display", "block");
        $('#DrugTestingOrdersContentDiv').css("display", "block");
    }
</script>
