﻿@{
    ViewBag.Title = "Billing";
}
<style>
    #tabsDemo1 a {
        background: transparent none repeat scroll 0 0 !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #666 !important;
        font-size: 14px;
        font-weight: normal;
        height: 40px;
        padding: 9px 8px !important;
    }
    #tabsDemo1 > li:nth-child(n+2) a {
        margin-left: -7px !important;
    }
</style>
<div id="content-box" style="padding-top: 47px;">
    <div id="padding" class="padding">
        <div id="toolbar-box">
            @Html.Partial("PartialBillingMenu")

            <div class="">
                <div style="padding: 0px 0px 0px 0px;">
                    <input type="hidden" id="hdPageFor" value="" />
                    @{Html.RenderAction("PartialDropDownsData", "Common", new { PType = "1" });}
                </div>
                <div class="clr">
                </div>
            </div>

        </div>
        <div id="element-box">

            <div class="m" style="margin-bottom:38px;">
                <div id="divbillpdf">
                    <div id="PartialContent">
                        @Html.Partial("PartialBillingReport")
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>

        </div>
        <div id="clr_End" class="clr">
        </div>
    </div>
</div>
<script type="text/javascript">

    //setTimeout('loadReport()', 2000);

    function loadReport() {
        $("#dvLoader").css("display", "block");
        if('@Session["Admin"]'==null)
        {
        location.href='../Default/LogOut';
        }
        $('#PartialContent').load('@Url.Action("PartialBillingReport", "Control")', {
            Month: $("#ddlMonth").val(),
            Year: $("#ddlYear").val(),
            ReferenceNo: $("#ddlCompanyReferenceNo").val(),
            CompanyUserId: $("#ddlUsers").val(),
            LocationId: $("#ddlLocation").val(),
            SalesRep: $("#ddlSalesRep").val(),
            CompanyId: $("#ddlCompany").val()
        },
        function (responseText, textStatus, XMLHttpRequest) {
            if (textStatus == "success") {
                $("#dvLoader").css("display", "none");
                //alert("hi");
            }
            if (textStatus == "error") {
                //alert("error");
            }
        });
    }
</script>
