@{
    ViewBag.Title = "Billing Statements";
}
<style>
    #tabsDemo1 a {
        background: transparent none repeat scroll 0 0 !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #666 !important;
        font-size: 14px;
        font-weight: normal;
        height: 40px;
        padding: 10px 40px !important;
    }
    #tabsDemo1 > li:nth-child(n+2) a {
        margin-left: -7px !important;
    }
</style>
<div id="content-box" style="padding-top: 47px;">
    <div id="padding" class="padding">
        <div id="toolbar-box">
            @Html.Partial("PartialBillingMenu")
           
            <div class="">
                <div style="padding-bottom: 0px !important;">
                    @{Html.RenderAction("PartialDropDownsData", "Common");}
                    <div>
                        <div style="float: left;">
                            <input type="hidden" id="hdPageFor" />
                            &nbsp;
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>
           
        </div>
        @Html.Partial("../Common/PartialBillingStatements")
    </div>
</div>
<script type="text/javascript">
    
    setTimeout('loadReport()', 5000);
    $(document).ready(function () {

        $(".m").css("margin-bottom", "38px");
    });
   
</script>
