﻿@{
    ViewBag.Title = "ContentManagement";
}
<table width="100%">
    <tr id="tr_Menu">
        <td colspan="2" class="menu_seperator" valign="bottom">
            <table width="100%" cellpadding="0" cellspacing="0" style="padding: 0px 0px 0px 0px;
                height: 35px;">
                <tr>
                    @*  <td align="right" style="width: 9px; height: 36px;">
                        <div class="left_BorderImg">
                        </div>
                    </td>*@
                    <td valign="bottom">
                        <div class="manage-tabs">
                            <ul id="tabsDemo1">
                                <li id="liReport"><a id="lnkEmailTemplate" href="EmailTemplate" title="Email Templates" style="line-height: 29px;">
                                    Email Templates<span id="spanET"></span></a> </li>
                                <li id="liPackage"><a id="lnkSystemTemplate" href="NewSystemTemplates" title="System Templates">
                                    System Templates<span id="spanST"></span></a></li>
                                <li id="liProduct"><a id="lnkMarketingTool" href="MarketingTools" title="Marketing Tools">
                                    Marketing Tools<span id="spanMT"></span></a></li>
                                <li id="liNewsletters"><a id="lnkNewsletters" href="Newsletters" title="Newsletters">
                                    Newsletters<span id="spanNL"></span></a></li>
                                <li id="liReviewStatusLog"><a id="lnkReviewStatusLogs" href="ReviewStatusLog" title="Review Status Log">
                                    Review Status Log<span id="spanReviewStatus"></span></a></li>
                                     <li id="liForms"><a id="lnkForms" href="Forms" title="Forms">Forms<span id="spanFM"></span></a></li>
                                     <li id="liReportComments"><a id="lnkReportComments" href="ReportComments" title="Report Comments">Report Comments<span id="spanRC"></span></a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </td>
                    @* <td align="left" style="width: 9px; height: 36px;">
                        <div class="right_BorderImg">
                        </div>
                    </td>*@
                </tr>
            </table>
        </td>
    </tr>
</table>
<script type="text/javascript">
    Tab_Selection();

    function Tab_Selection() {
        var liReport = document.getElementById('liReport');
        var liPackage = document.getElementById('liPackage');
        var liProduct = document.getElementById('liProduct');
        var liNewsletters = document.getElementById('liNewsletters');
        var liForms = document.getElementById('liForms');
        var liReviewStatusLog = document.getElementById('liReviewStatusLog');
        var liReportComments = document.getElementById('liReportComments');
        var lnkMenuContent = $("#lnkMenuContent");

        var loc = window.location.href;

        if (loc.indexOf("EmailTemplate") != -1) {
            $(liReport).addClass('current');
        }
        if (loc.indexOf("SystemTemplates") != -1) {
            $(liPackage).addClass('current');
        }
        if (loc.indexOf("MarketingTools") != -1) {
            $(liProduct).addClass('current');
        }
        if (loc.indexOf("Newsletters") != -1) {
            $(liNewsletters).addClass('current');
        }
        if (loc.indexOf("ReviewStatusLog") != -1) {
            $(liReviewStatusLog).addClass('current');
        }
        if (loc.indexOf("Forms") != -1) {
            $(liForms).addClass('current');
        }
        if (loc.indexOf("ReportComments") != -1) {
            $(liReportComments).addClass('current');
        }
        lnkMenuContent.addClass('active');
    }
 
      
</script>
