﻿@{
    ViewBag.Title = "User Chat Log";
}
@model Emerge.Models.MangoChatSessionModel
<div id="UserChatPopup" >
    <div style="width: 400px; height: 400px; overflow: scroll;
        overflow-x: hidden; clear: both;">
        <div id="divdisplayChatinfo" style="margin-left: 10px;">
        </div>
    </div>
</div>
<div id="content-box">
    <div class="padding">
        <div id="toolbar-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
                <div class="toolbar" id="toolbar" style="vertical-align: top">
                </div>
                <table width="100%">
                    <tr>
                        <td width="50%">
                            <div class="header icon-48-user" style="padding: 0px 0px 0px 55px; width: 40%">
                                Chat Log Of @ViewBag.ChatUserName
                            </div>
                        </td>
                        <td align="right">
                            <div style="margin-right: 15px">
                                <img class="imgCommon" src="../Content/themes/base/images/icon-32-back.png" title="Back"
                                    onclick="history.back();" alt="Back" />
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
                <table width="100%">
                    <tr>
                        <td style="width: 40%" align="left">
                            <span align="center" style="font-size: 16px; width: 60px; font-weight: bold; color: #0b55c4;">
                                <label id="lblTotalRecords">
                                </label>
                            </span>
                        </td>
                        <td style="width: 20%" align="center">
                            @if (Model.SuccessMsg != "!deleted")
                            {
                                <div id="divMSG" class='successmsg'>
                                    @Model.SuccessMsg
                                </div>
                            }
                        </td>
                        <td align="right" style="width: 40%">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td class="fontstyle" align="left" colspan="3">
                        </td>
                    </tr>
                    <tr>
                        <td colspan='10'>
                            <table cellspacing="2" cellpadding="2" width="100%" style="height: 30px; font-weight: bold;"
                                class="Center_ImgMVC">
                                <tr>
                                    <td style="width: 15%;">
                                        Start Time
                                    </td>
                                    <td style="width: 15%;">
                                        End Time
                                    </td>
                                    <td style="width: 20%;">
                                        User
                                    </td>
                                    <td style="width: 15%;">
                                        Chat Duration
                                    </td>
                                    <td style="width: 15%">
                                        No of Messages
                                    </td>
                                    <td style="width: 10%; text-align: right;">
                                        View Chat
                                    </td>
                                    <td style="width: 10%; text-align: right;">
                                        Delete
                                    </td>
                                </tr>
                            </table>
                            @for (int i = 0; i < Model.GetChatHistorybySessionId.Count; i++)
                            {
                                string color = color = "#ebebeb";
                                <table cellspacing="2" cellpadding="2" width="100%" style="height: 30px; font-weight: bold;"
                                    class="">
                                    @if (i % 2 == 0)
                                    {
                                        color = "white";
                                    }
                                    <tr style="background-color:@color">
                                        <td style="width: 15%;">
                                            @Model.GetChatHistorybySessionId.ElementAt(i).StarTime
                                        </td>
                                        <td style="width: 15%;">
                                            @Model.GetChatHistorybySessionId.ElementAt(i).EndTime
                                        </td>
                                        <td style="width: 20%;">
                                            @Model.GetChatHistorybySessionId.ElementAt(i).UserName
                                        </td>
                                        <td style="width: 15%;">
                                            @Model.GetChatHistorybySessionId.ElementAt(i).Chat_Duration
                                        </td>
                                        <td style="width: 15%">
                                            @Model.GetChatHistorybySessionId.ElementAt(i).Number_of_Message
                                        </td>
                                        <td style="width: 10%; text-align: right;">
                                            <input type="button" value="View Detail" id="@Model.GetChatHistorybySessionId.ElementAt(i).ChatSession" onclick="GetUserinfoByUserId(this)" />
                                        </td>
                                        <td style="width: 10%; text-align: right;">
                                            <input type="button" value="Delete" id="@Model.GetChatHistorybySessionId.ElementAt(i).ChatSession" name="@Model.GetChatHistorybySessionId.ElementAt(i).ChatSession" onclick="DeleteChatSession(this)" />
                                        </td>
                                    </tr>
                                </table>
                            }
                        </td>
                    </tr>
                </table>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>
        <div class="b">
            <div class="b">
                <div class="b">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#UserChatPopup").kendoWindow();
        $("#UserChatPopup").data("kendoWindow").close();
    });
    function DeleteChatSession(e) {
        var ChatSessionId = e.id;
        var location = window.location.href;
        var newloc = location.split("=");
        var clientid = newloc[1];
        var recdelted = "done";


        if (confirm('Are you sure you want to delete this Chat Log ?')) {

            $.post('@Url.Action("DeleteChatSessionfromDb", "Control")', { ChatSessionId: ChatSessionId }, function (data) {
                window.location.href = '../Control/DisiplayUsersChat?UserId=' + clientid + "&Status=" + recdelted;
            });
        }
    }
    function GetUserinfoByUserId(e) {
        var ChatSessionId = e.id;

        $.post('@Url.Action("GetUserChatbySessionId", "Control")', { ChatSessionId: ChatSessionId }, function (data) {


            $("#UserChatPopup").data("kendoWindow").open();
            $("#divdisplayChatinfo").html(data.finalinput);
            $("#UserChatPopup").data("kendoWindow").center();


        });
    }

</script>
<style>
    .Center_ImgMVC1
    {
        background-color: #CCCCCC;
        background-image: url("../Content/textures/highlight.png");
        background-position: 0 center;
        border: 1px solid #979797;
        border-radius: 5px 5px 5px 5px;
        padding: 0;
      
        padding: 5px;
    }
</style>
