﻿@model Emerge.Models.AdCompanyModel1
@{
    ViewBag.Title = "Company Documents";
}

<style>
    .offbtnclass {
    }

    .onbtnclass {
    }

    .simpleTooltip3 {
        font-family: inherit;
        font-size: 13px;
    }

    .main {
        font-size: 14px;
        width: 100%;
        /*background-color: #f2f7fb;*/
    }

    .nav > li > a:hover, .nav > li > a:focus {
        color: #fff !important;
    }

    .add_newBtn {
        margin: 15px 0px;
        /*background: transparent linear-gradient(to bottom, #FBFBFB 0%, #E3E1E1 100%) repeat scroll 0% 0% !important;
        width: 120px;
        text-align: center;
        padding: 5px;
        border: 1px solid #A4A4A4;
        border-radius: 5px;
        margin-top: 10px;*/
    }

    .AddNew {
        width: 71px;
        background-image: url("../Content/themes/base/images/addNew.png");
    }

    .Editbtn {
        height: 24px;
        width: 75px;
        padding: 0 7px 1px;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        background-color: rgb(227, 227, 227);
        background-image: url("../Content/textures/highlight.png");
        background-position: 0 center;
        background-position-y: center;
    }

    .EditDel {
        height: 24px;
        width: 75px;
        padding: 0 7px 1px;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        background-color: rgb(227, 227, 227);
        background-image: url("../Content/textures/highlight.png");
        background-position: 0 center;
        background-position-y: center;
    }

    /*---- 04-11-2015-----*/
    .green-input,
    .grey-input,
    .red-input {
        width: 147.5px;
        float: left;
        margin: 12px 7px;
        text-align: left;
    }

    .fill-green,
    .fill-grey,
    .fill-red {
        padding: 6px 7px!important;
    }

    .green-input,
    .grey-input,
    .input-group .form-control,
    .red-input {
        text-align: left;
    }

    .green-input {
        border: 1px solid #5db21f;
        height: 25px;
    }

    .fill-green,
    .green-btn-area {
        border-radius: 0;
        height: 25px;
    }

    .fill-green {
        background-color: #5db21f;
    }

    .green-btn-area {
        font-size: 12px;
        color: #4b9714;
    }

    .red-input {
        border: 1px solid #d53a2c;
        height: 25px;
    }

    .fill-red,
    .red-btn-area {
        border-radius: 0;
        height: 25px;
    }

    .fill-red {
        background-color: #d53a2c;
    }

    .red-btn-area {
        font-size: 12px;
        color: #d53a2c;
    }

    .grey-input {
        border: 1px solid #9d9d9d;
        height: 25px;
    }

    .fill-grey,
    .grey-btn-area {
        border-radius: 0;
        height: 25px;
    }

    .fill-grey {
        background-color: #9d9d9d;
    }

    .grey-btn-area {
        font-size: 12px;
        color: #9d9d9d;
    }

    .AdminAddInformation .k-grid-header-wrap table th {
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #ededed 100%) repeat scroll 0 0 !important;
        line-height: 11px;
    }

    .AdminAddInformation .k-grid-header-wrap {
        border-radius: 0;
    }

    .documentHeader {
        background-color: #0078bd;
    }

    span.successmsg {
        color: #fff;
    }
</style>

<div class="buttons-bar" style="margin-top: 58px;">
    <img id="imgApplicant15" class="plus-minus" src="~/Content/themes/base/images/mastercard.jpg" alt="expand" style="width: 48px; height: 30px; margin-left: 15px; margin-top: 12px; float: left">

    <div>
        @if (ViewBag.CompanyId != 0)
        {
            var cityNAME = Model.City;
            if (Model.City == "-3")
            {
                cityNAME = Model.CityName;
            }
                                       
            <div style="float: left; margin-left: 12px; margin-top: 15px; font-size: 17px; font-weight: bold;">@Model.CompanyName&#32;&#91;@cityNAME&#44;@Model.State_Code&#93;</div>
        }
        else
        { 
            <div style="float: left; margin-left: 12px; margin-top: 15px; font-size: 17px; font-weight: bold;">
                Company
            </div>
                               
        }
    </div>
    <div class="horiz-ch-menu hori-btns">
        <ul>
            <li>
                <a href="../Control/GetAllCompanies" class="btn btn-danger" style="width: 74px; margin-top: -37px; height: 35px; line-height: 1px; font-weight: normal; color: #fff !important;">Cancel
                </a>
            </li>


        </ul>
    </div>
</div>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td width="25%" valign="top">
            <div style="width: 100%; height: 100%; overflow: hidden; margin-top: 10px;">
                <div id="content-box1">
                    <div class="padding1">
                        <div id="toolbar-box">
                            <div class="m m_padd0">
                                <div class="header1" style="padding: 15px; padding: 10px 0px; margin: 0px 10px; border-bottom: 1px solid rgb(221, 221, 221);">
                                    <img src="@Url.Content("~/Content/themes/base/images/call-log-icon.png")" alt="" style="border: none; height: 20px; width: 18px;" />
                                    <span style="color: #010102">Call Log</span>
                                </div>
                                <div class="" id="Div3">
                                    <table width="100%">
                                        <tr>
                                            <td width="100%" style="padding: 0px 10px;">
                                                @* @Html.TextAreaFor(n => n.TxtCallLog, new { @style = "height: 60px; width: 98%;" })*@
                                                <div class="col-sm-6">
                                                    <div class="input-group" style="margin: 12px 5px 12px 0px;">
                                                        <input type="hidden" value="@ViewBag.Status" id="hdnleadstatus" />
                                                        <input type="hidden" value="@ViewBag.MilestoneStatus" id="CurrentMileStoneStatus" />
                                                        @if (ViewBag.IsActive == 1)
                                                        { 
                                                            <img id="imgbtn_6" alt="" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-5-on.png")" style="float:left; width:100%;" onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" />
                                            
                                                        }
                                                        else if (ViewBag.IsActive == 2)
                                                        { 
                                                            <img id="imgbtn_6" alt="" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")" style="float:left; width:100%;" onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" />
                                            
                                                        }
                                                        else
                                                        { 
                                                            <img id="imgbtn_6" alt="" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-off.png")" style="float:left; width:100%;" onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" />
                                            
                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-group" style="margin: 12px 0px 12px 5px;">
                                                        <img id="imgbtn_7" alt="" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-off.png")" style="float:left; width:100%;" onclick="ShowReasionWindow(this.id);" onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" />
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="input-group" style="margin: 12px 5px 12px 0px;">
                                                        <img id="imgbtn_8" class="offbtnclass" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-off.png")" style="float:left; width:100%;"  onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)"  onclick="UpdateStatus(this.id);" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-group" style="margin: 12px 0px 12px 5px;">
                                                        <img id="imgbtn_9" class="offbtnclass" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-off.png")" style="float:left; width:100%;"   onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" onclick="UpdateStatus(this.id);" />
                                                    </div>
                                                </div>
                                                <div style="float: left;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td align="center"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

                                                <table style="height: auto;" class="form-grid-head" cellpadding="2" cellspacing="2" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 50%;">Date
                                                            </td>

                                                            <td style="width: 50%; text-align: left;">Rep
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="100%" class="align-boxes" style="border: 0px solid #ffffff; background-color: #ffffff; padding: 0 0 0 10px;">
                                                    @if (Model.CollGetCommentsForLeadResult != null)
                                                    {
                                                        for (int i = 0; i < Model.CollGetCommentsForLeadResult.Count; i++)
                                                        {
                                                            string Date = "f";
                                                            string Time = Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate.Date.ToString("hh:MM");
                                                            string Space = " ";
                                                            string Date_disp = Date;
                                                        <tr style="background-color: #ffffff">
                                                            <td style="padding-left: 10px; width: 147.5px; height: 20px;" align="left">

                                                                <span id="LblDate-@i">@Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate.ToString("MM/dd/yyyy, hh:mm tt").Replace(",", " ")</span>
                                                                <label style="margin-left: 3px">
                                                                    @Model.CollGetCommentsForLeadResult.ElementAt(i).FirstName.Substring(0, 1).ToUpper()@Model.CollGetCommentsForLeadResult.ElementAt(i).LastName.Substring(0, 1).ToUpper()
                                                                </label>

                                                            </td>
                                                            <td style="width: 147.5px; height: 25px;" align="left">
                                                                @{int a;
                                                                  if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#').Count() < 2) { a = 0; } else { a = 1; }
                                                                  switch (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[a])
                                                                  {

                                                                      case "1":

                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-1-on.png")" class="simple_Tooltip1" style="width:100%;" title="File Started" alt="File Started" />
                                                                        @*<input class="form-control grey-btn-area" id="inputGroupSuccess6" aria-describedby="inputGroupSuccess3Status" value="File Started" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      case "2":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-2-on.png")" class="simple_Tooltip1" style="width:100%;" title="Proposal Out" alt="Proposal Out" />
                                                                        @*<input class="form-control grey-btn-area" id="inputGroupSuccess5" aria-describedby="inputGroupSuccess3Status" value="Proposal Out" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      case "3":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-3-on.png")" class="simple_Tooltip1" style="width:100%;" title="Agreement Out" alt="Agreement Out" />
                                                                        @*<input class="form-control grey-btn-area" id="inputGroupSuccess4" aria-describedby="inputGroupSuccess3Status" value="Agreement Out" type="button">*@
                                                                    </div>																			  
                                                                          break;

                                                                      case "4":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-4-on.png")" class="simple_Tooltip1" style="width:100%;" title="Agreement In" alt="Agreement In" />
                                                                        @*<input class="form-control grey-btn-area" id="inputGroupSuccess8" aria-describedby="inputGroupSuccess3Status" value="Agreement In" type="button">*@
                                                                    </div>                                      
                                                                          break;

                                                                      case "5":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-5-on.png")" class="simple_Tooltip1" style="width:100%;" title="Activated" alt="Activated" />
                                                                        @*<input class="form-control grey-btn-area" id="inputGroupSuccess9" aria-describedby="inputGroupSuccess3Status" value="Activated" type="button">*@
                                                                    </div>                                      
                                                                          break;

                                                                      case "10":
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/demo_scheduled.png")" class="simple_Tooltip1" style="width:100%;" title="Demo Scheduled[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].AsDateTime().Date.ToString("dd/MM/yyyy hh:MM tt"),@Model.CompanyName,@Model.MainPhone]" alt="" onclick="ShowDemoSchedule()" />
                                                                        <input type="hidden" id="hdnDemosendid" value="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" />
                                                                    </div>
                                                                          break;

                                                                      case "11":                                                                                           
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/document_sent.png")" class="simple_Tooltip1" style="width:100%;" onclick="DocumentSentf(this.id)" id="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" title="Document Sent[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].Remove(0, 2)]" alt="" />
                                                                        @*<input class="form-control grey-btn-area simple_Tooltip1" onclick="DocumentSentf(this.id)" id="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" title="Document Sent[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].Remove(0, 2)]" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      case "12":                                                                            
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/QualityControlSurvey.png")" class="simple_Tooltip1" style="width:100%;" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2]" alt="Quality Control Survey" />
                                                                        @*<input class="form-control grey-btn-area simple_Tooltip1" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2]" value="Quality Control Survey" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      case "13":                                                                          
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/Demo_Completed.png")" class="simple_Tooltip1" style="width:100%;" title="Demo Completed" alt="Demo Completed" />
                                                                        @*<input class="form-control grey-btn-area simple_Tooltip1" id="inputGroupSuccess10" aria-describedby="inputGroupSuccess3Status" value="Demo Completed" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      case "6":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")" class="simple_Tooltip1" style="width:100%;" title="Account Inactive" alt="Account Inactive" />
                                                                        @*<input class="form-control grey-btn-area simple_Tooltip1" id="inputGroupSuccess7" aria-describedby="inputGroupSuccess3Status" value="Account Inactive" type="button">*@
                                                                    </div>    
                                                                          break;

                                                                      case "7":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-on.png")" class="simple_Tooltip1" style="width:100%;" title="Locked" alt="Locked" />
                                                                        @*<input class="form-control grey-btn-area simple_Tooltip1" id="inputGroupSuccess11" aria-describedby="inputGroupSuccess3Status" value="Locked" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      case "8":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-on.png")"  class="simple_Tooltip1" style="width:100%;" title="Past Due" alt="Past Due" />
                                                                        @*<input class="form-control grey-btn-area simple_Tooltip1" id="inputGroupSuccess12" aria-describedby="inputGroupSuccess3Status" value="Past Due" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      case "9":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-on.png")" class="simple_Tooltip1" style="width:100%;" title="In Collections" alt="In Collections" />
                                                                        @*<input class="form-control grey-btn-area simple_Tooltip1" id="inputGroupSuccess13" aria-describedby="inputGroupSuccess3Status" value="In Collections" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      default:
                                                                          break;
                                                                  }
                                                                }
                                                            </td>
                                                        </tr>

                                                        <tr style="background-color: #ffffff">
                                                            <td colspan="2" style="text-align: left; font-size: 10px">
                                                                @if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments != null)
                                                                {

                                                                    string[] stringSeparators = new string[] { "##" };
                                                                    if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Contains("##"))
                                                                    {

                                                                    }
                                                                    else
                                                                    {
                                                                    <div style="padding: 10px; font-size: 10px">
                                                                        <label class="simpleTooltip3" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")">@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")</label>
                                                                    </div>
                                                                    }

                                                                }
                                                            </td>
                                                        </tr>
                                                        }
                                                    }

                                                </table>
                                                <div class="call_logtextarea" style="padding: 10px 0px; border-top: 1px solid rgb(221, 221, 221); margin-left: 10px; margin-right: 10px;">
                                                    @Html.TextAreaFor(n => n.TxtCallLog, new { @style = "height: 60px; width: 100%;" })
                                                </div>
                                                <div style="margin-right: 10px; float: right;">
                                                    <label style="color: Red; margin-right: 4px;" id="validation"></label>
                                                    <input type="button" value="Submit" onclick="SaveCallLog()" style="background: rgb(0, 120, 189) none repeat scroll 0% 0%; color: rgb(255, 255, 255); height: 35px; width: 70px; border-radius: 5px; border: 0px none; margin-bottom: 15px;" />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <script type="text/javascript">
                                    function ImgOver(imgId) {


                                        var img = document.getElementById(imgId);
                                        var currntistone = imgId.split("_")[1];
                                        var hdnleadstatus = document.getElementById("CurrentMileStoneStatus").value;

                                        if (hdnleadstatus != currntistone) {

                                            if (document.getElementById(imgId).src.indexOf("milestone-5-on") == -1 && document.getElementById(imgId).src.indexOf("milestone-6-on") == -1) {
                                                if (img != null) {
                                                    //alert(img.src);
                                                    var path = img.src;
                                                    path = path.replace('off.png', 'on.png')
                                                    img.src = path;
                                                }
                                                return false;
                                            }

                                        }
                                    }
                                    function ImgOut(imgId) {
                                        var hdnleadstatus = document.getElementById("CurrentMileStoneStatus").value;
                                        var currntistone = imgId.split("_")[1];

                                        if ((hdnleadstatus != currntistone)) {
                                            if (document.getElementById(imgId).src.indexOf("milestone-5-on") == -1 && document.getElementById(imgId).src.indexOf("milestone-6-on") == -1) {
                                                var img = document.getElementById(imgId);
                                                if (img != null) {
                                                    var path = img.src;
                                                    path = path.replace('on.png', 'off.png')
                                                    img.src = path;
                                                }
                                                SetCurrentCompanyStatus(hdnleadstatus);
                                                return false;
                                            }

                                        }

                                    }


                                    function SetCurrentCompanyStatus(CompanyStatus) {
                                        if (CompanyStatus == 7) {
                                            //locked
                                            var IconLockedSrc = document.getElementById("imgbtn_7").src;
                                            var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                                            document.getElementById("imgbtn_7").src = NewIconLockedSrc;
                                        }

                                        if (CompanyStatus == 6) {

                                            //active
                                            var IconActivatedSrc = document.getElementById("imgbtn_6").src;

                                            var NewIconActivated = '';
                                            if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {
                                                NewIconActivated = IconActivatedSrc.replace("6-off.", "5-on.");
                                            }
                                            else if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {

                                                NewIconActivated = IconActivatedSrc.replace("6-off.", "6-on.");
                                            }
                                            else {
                                                NewIconActivated = IconActivatedSrc.replace("5-off.", "5-on.");
                                            }
                                            document.getElementById("imgbtn_6").src = NewIconActivated;
                                        }
                                        else if (CompanyStatus == 8) {
                                            // pASTDUE
                                            var IconPastDueSrc = document.getElementById("imgbtn_8").src;
                                            var NewIconPastDueSrc = IconPastDueSrc.replace("off.", "on.");
                                            document.getElementById("imgbtn_8").src = NewIconPastDueSrc;
                                        }
                                        else if (CompanyStatus == 9) {
                                            //InCollection
                                            var IconInCollectionSrc = document.getElementById("imgbtn_9").src;
                                            var NewIconInCollectionSrc = IconInCollectionSrc.replace("off.", "on.");
                                            document.getElementById("imgbtn_9").src = NewIconInCollectionSrc;
                                        }
                                        else if (CompanyStatus == 10) {
                                            // iNACTIVE
                                            var IconActivatedSrc = document.getElementById("imgbtn_6").src;
                                            var NewIconActivated = '';
                                            if (IconActivatedSrc.indexOf("milestone-1-off") != -1) {
                                                NewIconActivated = IconActivatedSrc.replace("1-off.", "6-on.");
                                            }
                                            else if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {
                                                NewIconActivated = IconActivatedSrc.replace("6-off.", "6-on.");
                                            }
                                            else {
                                                NewIconActivated = IconActivatedSrc.replace("5-off.", "6-on.");
                                            }

                                            document.getElementById("imgbtn_6").src = NewIconActivated;
                                        }

                                    }

                                </script>
                                <div class="clr">
                                </div>
                            </div>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>

            </div>
        </td>
        <td width="75%" valign="top">
            <div style="width: 100%; height: 100%; overflow: hidden;">
                <div id="content-box" style="margin-top: 10px;">
                    <div style="width: 100%; text-align: center;">
                        <div id="dvMsg">
                            @Html.Raw(@ViewBag.Message)
                        </div>
                    </div>
                    <div class="padding">
                        <div id="element-box" style="background-color: #fff;">
                            <div id="tabstrip" style="margin-bottom: 10px;">
                                <ul class="nav nav-tabs" id="Mytab">
                                    <li id="liProfile"><a id="lnkProfile" href="AddCompanies?Id1=@Model.ObjCompLocationId" title="Profile ">Profile<span id="spanPL"></span></a> </li>
                                    <li id="liLocation"><a id="lnkLocation"  href="LocationByCompanyId?Id1=@Model.ObjCompLocationId" title="Location">Location<span id="spanET"></span></a> </li>
                                    <li id="liUsers"><a id="lnkUsers"  href="UsersByCompanyId?Id1=@Model.ObjCompLocationId" title="Users">Users<span id="spanST"></span></a></li>
                                    <li id="liPricing"><a id="lnkPricing" href="PriceByCompanyId?Id1=@Model.ObjCompLocationId" title="Pricing">Pricing <span id="spanMT"></span></a></li>
                                    <li id="liPreferences"><a id="lnkPreferences" href="ReferenceByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">Preferences<span id="spanpre"></span></a></li>
                                    <li id="liDocuments" class="active"><a id="lnkDocuments" href="DocumentsByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">Documents<span id="spandd"></span></a></li>
                                    <li id="liAPI"><a id="lnkAPI" href="APIByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">API<span id="spanapi"></span></a></li>
                                    <li id="liSales"><a id="lnkSales" href="SalesByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">Sales<span id="spansale"></span></a></li>
                                    <li id="liInvoice"><a id="lnkInvoice" href="InvoiceByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">Invoice<span id="spaninvo"></span></a></li>
                                </ul>
                            </div>
                            <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation" align="left" style="border: 1px solid #CCC;">
                                <tr>
                                    <td align="center" class="documentHeader">
                                        @Html.Raw(Model.Message)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="k-grid-header-wrap k-border">
                                            <table cellspacing="0" width="100%" style="background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #ededed 100%) repeat scroll 0 0 !important">
                                                <colgroup>
                                                    <col style="width: 23%;" />
                                                    <col style="width: 15%" />
                                                    <col style="width: 50%" />
                                                    <col style="width: 12%" />
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th data-title="Title" data-field="Title" data-role="sortable" class="k-header" style="padding: 15px;"><a class="k-link" href="#">Title</a></th>
                                                        <th data-title="View" data-field="View" data-role="sortable" class="k-header"><a class="k-link" href="#" style="margin-left: 6px;">View</a></th>
                                                        <th data-field="Documents" data-title="Documents" data-role="sortable" class="k-header" style="line-height: 41px; width: 342px; float: left;"><a class="k-link" href="#" style="margin-left: 20px;">Documents</a></th>
                                                        <th data-field="Action" data-title="Action" data-role="sortable" class="k-header" style="float: left; line-height: 40px; width: 112px;"><a class="k-link" href="#">Action</a></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>

                                        <div class="ReportLeft" style="background-color: white;">
                                            @for (int i = 0; i < @Model.CompnayDocList.Count; i++)
                                            {
                                                string color = "rgb(245, 245, 245)";
                                                if (i % 2 == 0)
                                                {
                                                    color = "white";
                                                }
                                                <div style="background-color:@color">
                                                    <form method="post" action="UpdateDocuments" enctype="multipart/form-data" id="frmEditDocument_@i">
                                                        <table cellspacing="2" cellpadding="2" width="100%">
                                                            <tr style="height: 25px;">
                                                                <td style="width: 20%; padding: 5px 0px 5px 15px;">
                                                                    <input type="text" id="Title_@i" style="width:100%" name="Title" class="form-control valid"  required validationMessage="Please enter title" value="@Model.CompnayDocList.ElementAt(i).DocumentTitle"/>
                                                                    <span></span>
                                                                </td>
                                                                <td style="width: 17%; text-align: center;">
                                                                    @{string filepath = Model.CompnayDocList.ElementAt(i).DocumentName + "_" + Model.CompnayDocList.ElementAt(i).DocumentTitle;
                                                                      if (File.Exists(Request.PhysicalApplicationPath + "Resources/Upload/CompanyPDF/" + Model.CompnayDocList.ElementAt(i).DocumentName))
                                                                      {
                                                                        <a title="View" id="aDownload" href="DownloadCompanyDocumentsFile/?FPathTitle=@filepath">
                                                                            <img id="search" alt="View" class="search-img" src="~/Content/themes/base/images/search-sec.png" style="cursor: pointer" /></a>
                                                                      }
                                                                    }
                                                                </td>
                                                                <td style="width: 200px">
                                                                    <input type="file" id="File_" name="fileupl" style="margin-left: 35px;" />
                                                                </td>
                                                                <td style="width: 60px; text-align: center;"></td>
                                                                <td style="width: 60px; text-align: center;">
                                                                    <input type="hidden" id="hdCompanyId1" name="pkCompanyId" value="@ViewBag.CompanyId" />
                                                                    <input type="hidden" name="pkDocumentId" value="@Model.CompnayDocList.ElementAt(i).pkCompanyDocumentId" />
                                                                    <input type="hidden" name="DocumentPath" value="@Model.CompnayDocList.ElementAt(i).DocumentName" />
                                                                </td>
                                                                <td style="width: 230px; text-align: center;">
                                                                    @{
                                                                      bool IsUserAgreement = (Model.CompnayDocList.ElementAt(i).IsUserAgreement != null) ? Convert.ToBoolean(Model.CompnayDocList.ElementAt(i).IsUserAgreement) : false;
                                                                        <table>
                                                                            <tr>
                                                                                <td style="padding-left: 10px;">
                                                                                    @if (!IsUserAgreement)
                                                                                    {
                                                                                        <input id="Edit_@i" onclick="return CheckEditValidation(this.id);" type="image" src="../Design2/img/edit.png" style="width:15; height:18px" />
                                                                                    }
                                                                                </td>
                                                                                <td>
                                                                                    @if (!IsUserAgreement)
                                                                                    {
                                                                                        <input type="image" onclick="return DeleteDocuments(this.id)" id="@Model.CompnayDocList.ElementAt(i).pkCompanyDocumentId" title="Delete" style="width:15px; height:18px" value="7989" title="Delete" src="../Design2/img/delete.png">
                                                                                    }
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </form>
                                                </div>
                                            }

                                            <form method="post" action="AddDocuments" enctype="multipart/form-data" id="frmAddDocument">
                                                <table id="tblValidate" cellspacing="2" cellpadding="2" width="100%">

                                                    <tr style="border-top: 1px solid rgb(221, 221, 221);">
                                                        <td style="width: 20%; padding-left: 15px;">
                                                            <input type="text" id="Title_" style="margin-top: 5px; margin-bottom: 5px; width: 100%;" name="Title" class="form-control valid"
                                                                required validationmessage="Please enter title" value="" />
                                                            <span></span>
                                                        </td>
                                                        <td style="width: 17%; text-align: center;">
                                                            <img id="search" alt="View" class="search-img" style="cursor: pointer" src="~/Content/themes/base/images/search-sec.png"></td>
                                                        <td style="width: 200px">
                                                            <input id="AddFileUpload" required type="file" name="fileupload" validationmessage="Please upload file" style="margin-left: 35px; margin-bottom: 5px;" />
                                                        </td>
                                                        <td style="width: 60px; text-align: center;">
                                                            <input type="hidden" id="hdCompanyId2" name="pkCompanyId" value="@Model.pkCompanyId" />
                                                        </td>
                                                        <td style="width: 60px; text-align: center;"></td>
                                                        <td style="width: 230px; text-align: center;"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div style="margin: 5px 15px 5px;">
                                                                <input type="image" onclick="return CheckValidationForAdd();" src="~/Content/themes/base/images/add-new.png" style="border: 0px solid white; cursor: pointer;" />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="clr">
                            </div>
                        </div>

                    </div>
                    <div>
                        <input type="hidden" id="hdCompanyId" value="@ViewBag.CompanyId" />
                    </div>
                </div>
            </div>
            </div>
                </div>
        </td>
    </tr>
</table>
<div id="popupReasionContainer" style="display: none;">
    <div id="popupReasion">
        <table border="0" id="tableReason" style="width: 300px;" cellpadding="0" cellspacing="0">
            <tr>
                <td></td>
            </tr>
            <tr>
                <td width="100%">
                    <table width="100%" cellpadding="0" style="text-align: left;" cellspacing="0">
                        <tr>
                            <td align="right">Reason :
                            </td>
                            <td align="left">
                                @Html.TextBox("txtReasion", "Reason for Testing")
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="center">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <input type="button" value="Save" onclick="LockCompany();" />
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

@Html.HiddenFor(m => m.IsEdit)
@Html.HiddenFor(m => m.pkCompanyId)
@Html.HiddenFor(m => m.MainEmail)
<input type="hidden" id="hiddenLocation" name="hiddenLocation" value="@ViewBag.hiddenLocation" />

<script>

    $(document).ready(function () {

        if ("@Model.IsEdit" == "True" || "@Model.IsEdit" == true) {
            Pageload();
        }

        function Pageload() {
            document.getElementById("tdAdmin").style.display = 'none';

            $("#popupReasion").kendoWindow();
            $("#popupReasion").data("kendoWindow").close();

            if ("@ViewBag.Status" == "8") {
                $("#imgbtn_8").prop("src", "../Content/themes/base/Images/emerge-office-milestone-8-on.png");
                $("#imgbtn_8").prop("class", "onbtnclass");
            }
            else if ("@ViewBag.Status" == "9") {

                $("#imgbtn_9").prop("src", "../Content/themes/base/Images/emerge-office-milestone-9-on.png");
                $("#imgbtn_9").prop("class", "onbtnclass");
            }
            /****lock/unlock****/
            if ("@ViewBag.IsEnabled" == "False") {
                $("#imgbtn_7").prop("src", "../Content/themes/base/Images/emerge-office-milestone-7-on.png");
            }

        }
    });


    function CheckEditValidation(id) {
        var common = id.split('_')[1];
        var validator = $("#frmEditDocument_" + common).kendoValidator().data("kendoValidator");

        if (validator.validate()) {
            return true;
        } else {
            return false;
        }
    }

    function DeleteDocuments(pkDocumentsId) {

        if (confirm("Are you sure to delete Documents?")) {
            $.post('@Url.Action("DeleteDocuments", "Control")', { pkDocumentsId: pkDocumentsId }, function (data) {
                window.location.href = '../Control/DocumentsByCompanyId?Id1=' + data.Id1 + "&Status=" + data.Status;
            });
        }
        else {
            return false;
        }

    }

    function CheckValidationForAdd() {
        var validator = $("#frmAddDocument").kendoValidator().data("kendoValidator");

        if (validator.validate()) {
            return true;
        } else {
            return false;
        }

    }

    function ShowReasionWindow(id) {

        $("popupReasionContainer").show();
        $("#popupReasion").data("kendoWindow").center();
        $("#popupReasion").data("kendoWindow").open();
    }

    function UpdateStatus(id) {
        $("#imgLoader").show();

        var idd = id;
        var st = id.split("_")[1];
        var cmpId = "@ViewBag.CompanyId";
        var cName = "@Model.CompanyName";
        var emailId = "@Model.MainEmail";
        var enable = "@Model.IsEnabled";
        var img = $("#" + id).attr("src");
        cName = cName.replace("&#39;", "");
        var currentclass = $("#" + id).attr("class");
        //alert(id + "st" + st + "cmpId" + cmpId + "cName" + cName + "emailId" + emailId + "enable" + enable + "img" + img);

        if (currentclass == "offbtnclass") {

            $.post('@Url.Action("UpdateCompanyStatus", "Control")', { IsEnable: "false", Status: st, CompanyId: cmpId, CompanyName: cName, EmailId: emailId, ButtonId: st }, function (data) {
                $("#dvMsg").html(data.Msg);
                $("#dvMsg").addClass(data.css);
                location.reload();

            });

        }
        else {

            $.post('@Url.Action("UpdateCompanyStatus", "Control")', { IsEnable: "true", Status: "0", CompanyId: cmpId, CompanyName: cName, EmailId: emailId, ButtonId: st }, function (data) {
                $("#dvMsg").html(data.Msg);
                $("#dvMsg").addClass(data.css);
                location.reload();

            });
        }
    }
    function LockCompany() {
        $("#imgLoader").show();

        if ($("#txtReasion").val() == "") {
            $("#vldReasion").show();
            return false;
        }
        var cmpId = "@ViewBag.CompanyId";
        var cName = "@Model.CompanyName";
        cName = cName.replace("&#39;", "'");
        var emailId = "@Model.MainEmail";
        var enable = "@Model.IsEnabled";
        var img = $("#imgbtn_7").attr("src");
        //alert(id + "st" + st + "cmpId" + cmpId + "cName" + cName + "emailId" + emailId + "enable" + enable + "img" + img);
        if (img.indexOf("-off.png") != -1) {

            $.post('@Url.Action("SetLock", "Control")', { IsEnable: "false", Reason: $("#txtReasion").val(), CompanyId: cmpId, CompanyName: cName, EmailId: emailId }, function (data) {
                $("#dvMsg").html(data.Msg);
                $("#dvMsg").addClass(data.css);
                if (data.rslt == "1") {
                    $("#imgbtn_7").prop("src", "../Content/themes/base/Images/emerge-office-milestone-7-on.png");
                    $("#popupReasion").data("kendoWindow").close();
                }
                $("#imgLoader").hide();

            });

        }
        else {
            //  alert("-on");
            $.post('@Url.Action("SetLock", "Control")', { IsEnable: "true", Reason: $("#txtReasion").val(), CompanyId: cmpId, CompanyName: cName, EmailId: emailId }, function (data) {
                $("#dvMsg").html(data.Msg);
                $("#dvMsg").addClass(data.css);
                if (data.rslt == "1") {
                    $("#imgbtn_7").prop("src", "../Content/themes/base/Images/emerge-office-milestone-7-off.png");
                    $("#popupReasion").data("kendoWindow").close();
                }
                $("#imgLoader").hide();

            });
        }
    }


    /****kendo windo***/
    $("#popupReasion").kendoWindow();
    $("#popupReasion").data("kendoWindow").close();


    // call log

    function SaveCallLog() {
        if (document.getElementById("TxtCallLog").value == "") {
            document.getElementById("validation").innerHTML = "Please Enter Text.";

        }
        else {

            var Comment = document.getElementById("TxtCallLog").value;
            var pkcompanyid = $("#pkCompanyId").val();
            $.post('@Url.Action("SaveCallLogo", "Control")', { Comment: Comment, pkcompanyid: pkcompanyid }, function (data) {

                if (data.Message != "") {
                    if ('@ViewBag.LocationId' != null) {
                        self.location = "LocationByCompanyId?Id1=" + '@ViewBag.locationid';

                    }
                    else {
                        location.href = "../Control/AddCompanies";
                    }
                }
            });
        }
    }
</script>
