﻿@model Emerge.Models.EditDrugTestingModel

@{
    
    ViewBag.Title = "Edit DrugTesting Order";
}

<script type="text/javascript">
   // document.getElementById('tdAdmin').style.display = 'none';
</script>

<link href="~/Content/style.css" rel="stylesheet" type="text/css" />

<style type="text/css">

    .SuccessMsg
{
    font-size: 12px;
    font-weight: bold;
    color: #4F8A10;
    background-image: url('images/SuccessMessage.gif');
    float: left;
    width: 99.5%;
    background-color: #F4F4F4;
    background-position: 7px 3px;
    background-repeat: no-repeat;
    font-family: Tahoma;
    font-size: 11px;
    margin: -15px 0 0 -13px;
    padding: 5px 5px 5px 30px;
}
.ErrorMsg
{
    font-size: 12px;
    font-weight: bold;
    color: red;
    background-image: url('images/ErrorMessage.gif');
    float: left;
    width: 99.5%;
    background-color: #F4F4F4;
    background-position: 7px 3px;
    background-repeat: no-repeat;
    font-family: Tahoma;
    font-size: 11px;
    margin: -15px 0 0 -13px;
    padding: 5px 5px 5px 30px;
}

.simpleTooltip3
    {
       font-family:inherit;
        font-size:13px;
        }
 
.lnk-user
{
border-width:0px;text-decoration:none;border-style:none;
}
.offbtnclass
{
}
.onbtnclass
{

}

.img-user
{
border-width:0px;border-color:transparent;
}
.img-user:hover
{
border-width:0px;border-color:transparent;background-color:#ccc;
}
.lnk-location
{
border-width:0px;text-decoration:none;
}
.img-location
{
border-width:0px;border-color:transparent;
}
.img-location:hover
{
border-width:0px;border-color:transparent;background-color:#ccc;
}
.lnk-cancel
{
border-width:0px;text-decoration:none;
}
.img-cancel
{
border-width:0px;border-color:transparent;
}
.img-cancel:hover
{
border-width:1px;border-color:transparent;
}
.k-dropzone
{
border-style: solid;
border-width: 0;
padding: 4px;
background-color: transparent;
float: left;
}
.k-reset
{
margin: 0;
padding: 0;
border: 0;
outline: 0;
text-decoration: none;
font-size: 12px;
list-style: none;
float: right;
}
 input
    {
        margin-right: 10px;
    }
    .k-dropdown
    {
        margin-right: 10px;
        float: left;
        width:227px;
    }
    .k-invalid-msg, .k-textbox
    {
        float: left;
    }

.k-list
{
width: 220px;
}
.AddNew
    {
        width: 71px;
        background-image: url("../Content/themes/base/images/addNew.png");
    }
    .chkDefaultsc{}
    .Editbtn
    {
        height: 24px;
        width: 75px;
        padding: 0 7px 1px;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        background-color: rgb(227, 227, 227);
        background-image: url("../Content/textures/highlight.png");
        background-position: 0 center;
        background-position-y: center;
    }
    
    .EditDel
    {
        height: 24px;
        width: 75px;
        padding: 0 7px 1px;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        background-color: rgb(227, 227, 227);
        background-image: url("../Content/textures/highlight.png");
        background-position: 0 center;
        background-position-y: center;
    }
    rate_widget {  
        
    }  
    .saveimage {
     background-image:url(~/Content/themes/base/images/save_button.png);

    }
   .chkIsDefault{}
     .chkDefault{}
      .imgAutoReview{}
      .chkLiveRunner{}
      .spRowIndex{}
      .spRowNo{}
       #kendoGrid .tbCompanyPrice { width:50px;background-color: #ffffaa;}
       #kendoGrid .tbDefaultPrice{ width:50px;}
 
    .ratings_stars   
    {
        float:left;
        height:12px;
        width:15px;
         background-image:url(~/Content/themes/base/images/EmptyStar.png);
     
    }  
    .ratings_vote {  
        background: url(~/Content/themes/base/images/SavedStar.png) no-repeat;  
       float:left;
        height:12px;
        width:14px;
    }  
  
   
   

   
    .RowStyle
    {
        color: Black;
        text-decoration: none;
        vertical-align: top;
        height: 20px;
    }
    .RowStyle:hover
    {
        color: Black;
        text-decoration: none;
        vertical-align: top;
        height: 20px;
        cursor: pointer;
    }
   

    .textarea
    {
        width: 100%;
    }
        .main
        {
            font-size: 12px;
            width: 100%;
            /*background-color: #f2f7fb;*/
        }
        .graphtextcolor
        {
            color: Green;
            margin-left: 80px;
        }
        .nullgridvalue
        {
            background-color: #e7fbe7;
            border-bottom-color: #529052;
            border-bottom-style: solid;
            border-left-color: #529052;
            border-left-style: solid;
            border-right-color: #529052;
            border-right-style: solid;
            border-top-color: #529052;
            border-top-style: solid;
        }
        .salessnapshotblock
        {
            width: 100%;
            background-color: #ffffff;
        }
        .ratingimg
        {
        }
        @*.OpenInvoices
        {
            width: 100%;
            background-color: #ffffff;
        }*@
        .graphreport
        {
            margin-left: 10px;
            margin-bottom: 20px;
        }
        .space
        {
         /*   background-color: #eef3fa;*/
            width: 100%;
            height: 12px;
        }
        
        .BlackHeader
        {
            margin-bottom: 10px;
            margin-top: 10px;
            width: 99%;
            height: 27px;
            color: #fff;
            font-weight: bold;
            font-size: 13px;
            background-image: "@Url.Content("~/Content/themes/base/images/strip_black.jpg")";
            background-repeat: repeat-x;
            padding: 4px 0px 0px 10px;
        }
        .BlackHeader1
        {
            margin-bottom: 10px;
            width: 99%;
            height: 27px;
            color: #fff;
            font-weight: bold;
            font-size: 13px;
            background-image: "@Url.Content("~/Content/themes/base/images/strip_black.jpg")";
            background-repeat: repeat-x;
            padding: 4px 0px 0px 10px;
        }
        
        .SavePriceImage
        {
            margin-top: 0px;
            width: 50px;
            height: 47px; @*"@Url.Content('~/Content/themes/base/images/save_button.png')";*@
            background-color:transparent;
        }
        .Datasoucesgrid
        {
            height: 150px;
            width: 100%;
        }
        .Datasources
        {
            margin-top: 10px;
            width: 100%;
            height: 27px;
            color: #fff;
            font-weight: bold;
            font-size: 13px;            
        }
        .documentblock
        {
            width: 99%;
        }
        .datasorceblock1
        {
            float: left;
            height: 22px;
            width: 20%;
            padding: 2px 0px 0px 10px;
        }
        
        
        .datasorceblock2
        {
            float: left;
            height: 22px;
            width: 6%;
            padding-top: 4px;
            text-align: left;
        }
        
        
        .submit_application
        {
            background-image: "@Url.Content("~/Content/themes/base/images/save_button.png")";
        }
        
        .stripimage1
        {
            float: left;
            padding: 4px 0px 0px 10px;
            height: 22px;
            width: 5%;
        }
        
        
        .stripspace
        {
            float: left;
            height: 22px;
            width: 6%;
            padding-top: 4px;
        }
        
        .companyinformation
        {
            width: 100%;
            height: 99px;
            background-color: #eef3fa;
        }
        
        .lines
        {
            float: left;
            margin-bottom: 1px;
            width: 100%;
           /* background-color: #f2f7fb;*/
        }
        
        .locationnote
        {
            margin-bottom: 3px;
            float: left;
          /*  background-color: #f2f7fb;*/
            width: 100%;
        }
        .locationgridblock
        {
            width: 100%;
           /*background-color: #f2f7fb;*/
        }
        
        .usersgridblock
        {
            width: 100%;
        }
        
        .textboxunder .k-tooltip-validation
        {
            background-color: #FFF4C9;
            background-image: "@Url.Content("~/content/images/sign.png")";
            background-position: 3px center;
            background-repeat: no-repeat;
            border-color: #FFE79E;
            border-radius: 4px 4px 4px 4px;
            border-width: 1px;
            color: #635145;
            display: inline-block;
            float: left;
            font-size: 13px;
            height: 17px;
            padding: 4px 8px 2px 0;
            position: static;
        }
        
        
        .textboxunder .k-icon k-warning
        {
            background-image: "@Url.Content("~/content/images/sign.png")";
        }
        
        
        .locationlabel
        {
            float: left;
            width: 17%;
            height: 57px;
            /*background-color: #f2f7fb;*/
        }
        
        
        
        .locationtextbox
        {
            width: 62%;
            float: left;
            height: 62px;
         /*   background-color: #f2f7fb;*/
        }
        
        .locationtextboxunder
        {
            margin-left: 3px;
            height: 56px;
            width: 62%;
            /*background-color: #f2f7fb;*/
        }
        
        .label
        {
            float: left;
            width: 17%;
            /*background-color: #f2f7fb;*/
        }
        .textbox1
        {
            width: 17%;
            float: left;
            height: 22px;
            /*background-color: #f2f7fb;*/
        }
        
        .labelunder
        {
            height: 25px;
            width: 78%;
            padding-top: 5px;
            float: right;
            text-align: right;
            background-color: rgb(213, 219, 216);
        }
        
        .locationlabelunder
        {
            width: 78%;
            padding-top: 23px;
            float: right;
            text-align: right;
            background-color: rgb(213, 219, 216);
            height: 40px;
        }
        
        
        
        .textboxunder1
        {
            margin-top: 5px;
            margin-left: 3px;
            width: 90%;
                height: 25px;
           /* background-color: #f2f7fb;*/
        }
        
        
        .textboxunder
        {
            height: 22px;
            width: 70%;
        }
        
        
        .textbox
        {
            margin-left: 3px;
            width: 70%;
            float: left;
            height: 29px;
          /*  background-color: #f2f7fb;*/
        }
        
        .locationaccesscode
        {
            width: 100%;
            height: 225px;
            background-color: #eef3fa;
        }
        .billingInformation
        {
            width: 100%;
            height: 125px;
            background-color: #eef3fa;
        }
        
        
        .locationdropdownblock
        {
            height: 52px;
            width: 100%;
           /* background-color: #f2f7fb;*/
        }
        
        .restrictionsblock
        {
            height: 26px;
            width: 100%;
            background-color: Red;
        }
        
        .clr
        {
            clear: both;
        }
        
        
        .textarea
        {
            width: 100%;
            min-height: 48px;
        }
        /*.k-textbox
        {
            float: left;
            width: 35%;
        }*/
        
        
        #tickets
        {
            width: 99%;
            margin-left: 5px;
            background: "@Url.Content("~/content/web/validator/ticketsOnline.png")" transparent no-repeat 0 0;
        }
        
        #tickets h3
        {
            font-weight: normal;
            font-size: 1.4em;
            border-bottom: 1px solid #ccc;
        }
        
        #tickets ul
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        #tickets li
        {
            margin: 10px 0 0 0;
        }
        
        .required
        {
        }
        
        .accept, .status
        {
            padding-left: 90px;
        }
        
        .valid
        {
            color: green;
        }
        
        .invalid
        {
            color: red;
        }
        span.k-tooltip
        {
            margin-left: 6px;
        }
        
        
        .padding {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

        .jquery-ratings-star 
 {
      font-size: 0pt;
 width: 13px;
  height: 12px;
  background-image: url('@Url.Content("~/Content/themes/base/images/EmptyStar.png")');
 margin: 0px;
  padding: 0px;
     cursor: pointer;
        display: block;
        background-repeat: no-repeat;
  float: left;
 
}

.jquery-ratings-full {
  background-image: url('@Url.Content("~/Content/themes/base/images/FilledStar.png")');
}
    
  
 
  
    .ratings_over {  
       background-image: url('@Url.Content("~/Content/themes/base/images/SavedStar.png")');  
      
    }  
   
   #kendoGrid .k-grid td {
border-style: solid;
border-width: 0 0 0 1px;
padding: 0px 0px 0px 5px;
overflow: hidden;
line-height: 1.6em;
vertical-align: middle;
text-overflow: ellipsis;
font-size: 11px;
}
#kendoGrid .k-grid-header .k-header {
overflow: hidden;
border-style: solid;
border-width: 0 0 1px 1px;
padding: 1px 5px;
font-weight: bold;
font-size: 11px;
white-space: nowrap;
text-overflow: ellipsis;
}



 .k-scrollbar-vertical {
top: 0;
right: 0;
width: 17px;
height:100%;
overflow-y:scroll;
overflow-x:hidden;
overflow:scroll;

 
 
}
.AdminAddInformation {
    background-color:transparent;
    width: 100%;
}

div.header1 { 
    cursor:default; 
}
.textboxapi {
    float: left;
    height: 29px;
    margin-left: 3px;
    width: 80%;
    
}
.textboxunderapi {
    height: 22px;
    width: 100%;
}
.tool_tip_1
    {
       
        background-color: #f5f6fa;
        position: absolute;
        z-index: 1000000;
        max-width: 300px;
        -webkit-box-shadow: 0 0 5px #aaa;
        font-size: 12px;
        border-radius: 3px;
        border: 1px solid #767676;
        padding: 4px;
        font-color: #575757;
        font: Arial;
        box-shadow: 0 0 5px #aaa;
    }

    .clsheading
    {
    font-size: 88%;
    
    }
    </style>

@using (Ajax.BeginForm("UpdateDrugTestingOrder", "Control", new AjaxOptions { OnSuccess = "GetResultsUpdateDrugOrder" }))
{
    <div id="EditDruggform">
        <div id="content-box">
            <div class="padding">

                <div id="toolbar-box">
                    <div class="t">
                        <div class="t">
                            <div class="t">
                            </div>
                        </div>
                    </div>
                    <div class="m">
                        <div class="toolbar" id="toolbar" style="vertical-align: top">
                        </div>
                        <table width="100%">
                            <tr>
                                <td width="75%">
                                    <div class="header icon-48-categories" style="padding: 0px 0px 0px 55px; width: 40%">
                                        Update Drug testing order
                                    </div>
                                </td>
                                <td align="right">
                                    <div style="margin-right: 15px">
                                        <img src="@Url.Content("~/content/themes/base/images/save_button.png")" class="savebtn"  onclick="return Check_Validations();" />
                                        <input type="submit" style="display: none;" id="sbmtbtn" onclick="CheckValidations();" />
                                    </div>
                                </td>
                                <td align="right" width="1%">
                                    <div style="margin-right: 15px">
                                        <img src="@Url.Content("~/content/themes/base/images/icon-32-back.png")" class="backbtn" id="@Model.OrderId"  onclick="BackToDrugViewPage(this.id)" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="clr">
                        </div>
                    </div>
                    <div class="b">
                        <div class="b">
                            <div class="b">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
                <div id="divMSG" style="text-align: center; margin-bottom: 0.7%;"></div>

                <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                    <div class="t">
                        <div class="t">
                            <div class="t">
                            </div>
                        </div>
                    </div>
                    <div class="m">
                        <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                            <div class="clsheading">
                                Product Information
                            </div>
                        </div>
                        <div id="Location_AccessCode" class="expand">
                            @*<div class="lines">
                                <div class="label">
                                    <div class="labelunder">
                                        Product Image :
                                    </div>
                                </div>                                
                            </div>
                            <div class="lines">                                
                                <div style="margin: 1% 0 1% 3.8%;">
                                    <div>

                                        @if (Model.ProductImagePath != null)
                                        {
                                            @Html.Raw(Model.ProductImagePath)
                                        }
                                        else
                                        {
                                            <img src="@Url.Content("~/content/themes/base/images/no_image.jpg")" width="130" height="150" /> 
                                        }
                                    </div>
                                </div>
                            </div>*@
                            <div class="lines">
                                <div class="label">
                                    <div class="labelunder">
                                        <span style='color: red;'>*</span>Product Name :
                                    </div>
                                </div>
                                <div class="textbox">
                                    <div class="textboxunder">
                                        <input type="text" id="ProductDisplayName" name="ProductDisplayName" class="k-textbox" value="@Model.ProductDisplayName" readonly="readonly" />
                                    </div>
                                </div>
                            </div>
                            <div class="lines">
                                <div class="label">
                                    <div class="labelunder">
                                        <span style='color: red;'>*</span>Price :
                                    </div>
                                </div>
                                <div class="textbox">
                                    <div class="textboxunder">
                                        <input type="text" id="ReportAmount" name="ReportAmount" class="k-textbox" value="@Model.ReportAmount" required validationmessage="Please Enter Report amount" onblur ="CalculateOrderAmount()" />

                                    </div>
                                </div>
                            </div>
                            <div class="lines">
                                <div class="label">
                                    <div class="labelunder">
                                        <span style='color: red;'>*</span>Quantity
                                    </div>
                                </div>
                                <div class="textbox">
                                    <div class="textboxunder">
                                        <input type="text" id="ProductQty" name="ProductQty" class="k-textbox" value="@Model.ProductQty" onblur ="CalculateOrderAmount()" required validationmessage="Please Enter product quantity" />

                                    </div>
                                </div>
                            </div>
                            <div class="lines">
                                <div class="label">
                                    <div class="labelunder">
                                        <span style='color: red;'>*</span>Shipping Cost
                                    </div>
                                </div>
                                <div class="textbox">
                                    <div class="textboxunder">
                                        <input type="text" id="ShippingCost" name="ShippingCost" class="k-textbox" value="@Model.ShippingCost" onblur ="CalculateOrderAmount()"  required validationmessage="Please Enter additional fee" />

                                    </div>
                                </div>
                            </div>
                            <div class="lines">
                                <div class="label">
                                    <div class="labelunder">
                                        Order Amount
                                    </div>
                                </div>
                                <div class="textbox">
                                    <div class="textboxunder">
                                        <input type="text" id="OrderAmount" name="OrderAmount" class="k-textbox" value="@Model.OrderAmount" readonly="readonly" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                    <div class="b">
                        <div class="b">
                            <div class="b">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="element-box1" style="margin-top: 10px; padding-top: 1px;">
                    <div class="t">
                        <div class="t">
                            <div class="t">
                            </div>
                        </div>
                    </div>
                    <div class="m">
                        <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                            <div class="clsheading">
                                Address Information
                            </div>
                        </div>
                        <div id="Location_AccessCode1" class="expand">
                            <div class="lines">
                                <div class="label">
                                    <div class="labelunder">
                                        <span style='color: red;'>*</span>Company Name :
                                    </div>
                                </div>
                                <div class="textbox">
                                    <div class="textboxunder">
                                        <input type="text" id="CompanyName" name="CompanyName" class="k-textbox" value="@Model.CompanyName" required validationmessage="Please Enter Company Name"  />

                                    </div>
                                </div>
                            </div>
                            <div class="lines">
                                <div class="label">
                                    <div class="labelunder">
                                        <span style='color: red;'>*</span>Address1 :
                                    </div>
                                </div>
                                <div class="textbox">
                                    <div class="textboxunder">
                                        <input type="text" id="Address1" name="Address1" class="k-textbox" value="@Model.Address1" required validationmessage="Please Enter Address1"  />

                                    </div>
                                </div>
                            </div>
                            <div class="lines">
                                <div class="label">
                                    <div class="labelunder">
                                        Address2 :
                                    </div>
                                </div>
                                <div class="textbox">
                                    <div class="textboxunder">
                                        @Html.TextBoxFor(m => m.Address2, new { @id = "Address2", @name = "Address2", @class = "k-textbox" })&nbsp;&nbsp;
                                                                        
                                    </div>
                                </div>
                            </div>
                            <div class="lines">
                                <div class="label">
                                    <div class="labelunder">
                                        <span style='color: red;'>*</span>State :
                                    </div>
                                </div>
                                <div class="textbox">
                                    <div class="textboxunder">
                                        <input type="text" id="StateCode" name="StateCode" class="k-textbox" value="@Model.StateCode" required validationmessage="Please Enter State code"  />
                                    </div>
                                </div>
                            </div>
                            <div class="lines">
                                <div class="label">
                                    <div class="labelunder">
                                        <span style='color: red;'>*</span>City :
                                    </div>
                                </div>
                                <div class="textbox">
                                    <div class="textboxunder">
                                        <input type="text" id="City" name="City" class="k-textbox" value="@Model.City" required validationmessage="Please Enter City" />
                                    </div>
                                </div>
                            </div>
                            <div class="lines">
                                <div class="label">
                                    <div class="labelunder">
                                        <span style='color: red;'>*</span>Zip Code :
                                    </div>
                                </div>
                                <div class="textbox">
                                    <div class="textboxunder">
                                        <input type="text" id="ZipCode" name="ZipCode" class="k-textbox" value="@Model.ZipCode" required validationmessage="Please Enter Valid Zip Code" maxLength="5"  />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="clr">
                        </div>
                    </div>
                    <div class="b">
                        <div class="b">
                            <div class="b">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.OrderId);
    @Html.HiddenFor(m => m.CompanyUserId);
    @Html.HiddenFor(m => m.LocationId);
}

<script type="text/javascript">

    function CalculateOrderAmount() {
        debugger;

        var orderAmount = '';
        var reportAmount = $("#ReportAmount").val();
        var quantity = $("#ProductQty").val();
        var shippingCost = $("#ShippingCost").val();
        shippingCost = parseFloat(shippingCost);
        orderAmount = reportAmount * quantity;

        if (!isNaN(shippingCost)) {

            orderAmount += shippingCost;
        }
        $("#OrderAmount").val(orderAmount);
    }
    function Check_Validations() {
        $("#sbmtbtn").click();
    }

    function CheckValidations() {
        var validator = $("#EditDruggform").kendoValidator().data("kendoValidator");
        if (validator.validate()) { return true; } else { return false; }
    }


    function GetResultsUpdateDrugOrder(Result) {
        if (Result != null) {
            $("#divMSG").css('display', 'block');
            $("#divMSG").html(Result.Msg);
            $("#divMSG").addClass(Result.Css);
            location.reload();
        }
    }

    function BackToDrugViewPage(orderId) {
        debugger;
        window.location = "ViewDrugTestingReports?_OId=" + orderId;
    }
</script>
