﻿@model Emerge.Models.EmailSystemTemplatesModel
@{
    ViewBag.Title = "Email Templates";

    <link href="@Url.Content("~/Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.2.712/telerik.windows7.min.css")" rel="stylesheet" type="text/css" />
}


<style>
    .manage-tabs > ul .current a {
        line-height: 20px !important;
    }
    #tabsDemo1 a {
        background: transparent none repeat scroll 0 0 !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #666 !important;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px !important;
        padding: 9px 15px !important;
    }

    #tabsDemo1 > li:nth-child(n+2) a {
        margin-left: -7px !important;
    }

    .special-button {
        background: #adadad url('../Content/2011.2.712/Default/sprite.png') repeat-x 0 -752px;
        margin: 0;
        padding: 2px 6px;
        border-width: 1px;
        border-style: solid;
        font-family: inherit;
        font-size: 100%;
        line-height: 1.435;
        text-align: center;
        cursor: pointer;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

        .special-button:hover {
            background-position: 0 -624px;
            background-color: #C9C9C9;
        }

    label {
        font-size: 14px;
    }

    .text-label {
        text-align: right;
        padding-right: 9px;
        
    }
    .successmsg {
        float:right;
        color:#fff !important;
    }
/*.left-portion-style {
    width: 100% !important;
}
.col-md-3 {
    width: 19% !important;
}*/
</style>
@using (Ajax.BeginForm("AddUpdateTemplate", "Control", new AjaxOptions { OnSuccess = "GetAddUpdateResult", LoadingElementId = "DivLoading" }))
{
    @Html.Hidden("App_Path", @Emerge.Common.ApplicationPath.GetApplicationPath())
    <div id="content-box" class="cntbx-style">
        <div class="padding">
            <div id="element-box">
                @*<div class="t">
                        <div class="t">
                            <div class="t">
                            </div>
                        </div>
                    </div>*@
                <div style="margin-bottom: 100px;">
                    @Html.Partial("ContentManagement")

                    <div id="element-box" class="margint10">
                        <div class="m">
                            <div id="divMSG" style="display: block; width: 58%; text-align: center; position: absolute; margin-top: 15px;"></div>
                            <div id="toolbar-box">
                                <div class="">
                                    <div class="toolbar" id="toolbar">
                                        <table class="toolbar">
                                            <tr>
                                                <td>
                                                    @*<img alt="All Bookmarks" class="imgCommon" src="@Url.Content("~/Content/themes/base/images/bookmarks.png")"
                                                        title="All Bookmarks" onclick="func_bookmark();" />*@

                                                    <input type="button" style="margin-right: 5px;" value="Codes" onclick="func_bookmark();" class="btn btn-default margint5" />





                                                    <div id="Div_bookmark" style="z-index:1">
                                                        <table border="0" id="tableBookmark" class="width300" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td colspan="2" style="text-align: center;">
                                                                    List of all Bookmarks
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %ApplicantName%
                                                                </td>
                                                                <td>
                                                                    ApplicantName
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %BillingContact%
                                                                </td>
                                                                <td>
                                                                    BillingContact
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %BillingEmail%
                                                                </td>
                                                                <td>
                                                                    BillingEmail
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %BillingPhone%
                                                                </td>
                                                                <td>
                                                                    BillingPhone
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %CompanyName%
                                                                </td>
                                                                <td>
                                                                    CompanyName
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %CompanyAddress%
                                                                </td>
                                                                <td>
                                                                    CompanyAddress
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %CompanyAddress2%
                                                                </td>
                                                                <td>
                                                                    CompanyAddress2
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %CompanyCity%
                                                                </td>
                                                                <td>
                                                                    CompanyCity
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %CompanyState%
                                                                </td>
                                                                <td>
                                                                    CompanyState
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %CompanyZipcode%
                                                                </td>
                                                                <td>
                                                                    CompanyZipcode
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %EmergeLogo%
                                                                </td>
                                                                <td>
                                                                    EmergeLogo
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %EmergeIcon%
                                                                </td>
                                                                <td>
                                                                    EmergeIcon
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %EmergeBacksideLogo%
                                                                </td>
                                                                <td>
                                                                    EmergeBacksideLogo
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %EmergeOfficeLogo%
                                                                </td>
                                                                <td>
                                                                    EmergeOfficeLogo
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %EmergeEditLogo%
                                                                </td>
                                                                <td>
                                                                    EmergeOfficeLogo
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %EmergeEditIcon%
                                                                </td>
                                                                <td>
                                                                    EmergeEditIcon
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %EmergeAssistIcon%
                                                                </td>
                                                                <td>
                                                                    EmergeAssistIcon
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %EmergeAssistComment%
                                                                </td>
                                                                <td>
                                                                    EmergeAssistComment
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %EmergeAssistSubject%
                                                                </td>
                                                                <td>
                                                                    EmergeAssistSubject
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %EmergeReviewComment%
                                                                </td>
                                                                <td>
                                                                    EmergeReviewComment
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %EmergeReviewSubject%
                                                                </td>
                                                                <td>
                                                                    EmergeReviewSubject
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %LocationPhone%
                                                                </td>
                                                                <td>
                                                                    LocationPhone
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %LocationCity%
                                                                </td>
                                                                <td>
                                                                    LocationCity
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %LiveRunnerLogo%
                                                                </td>
                                                                <td>
                                                                    LiveRunnerLogo
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %LiveRunnerIcon%
                                                                </td>
                                                                <td>
                                                                    LiveRunnerIcon
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %LocationState%
                                                                </td>
                                                                <td>
                                                                    LocationState
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %LoginLink%
                                                                </td>
                                                                <td>
                                                                    LoginLink
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %MainContact%
                                                                </td>
                                                                <td>
                                                                    MainContact
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %MainEmail%
                                                                </td>
                                                                <td>
                                                                    MainEmail
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %MainPhone%
                                                                </td>
                                                                <td>
                                                                    MainPhone
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %OrderNumber%
                                                                </td>
                                                                <td>
                                                                    OrderNumber
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %OrderQuantity%
                                                                </td>
                                                                <td>
                                                                    OrderQuantity
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %ProductName%
                                                                </td>
                                                                <td>
                                                                    ProductName
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %ReportName%
                                                                </td>
                                                                <td>
                                                                    ReportName
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %ReportCode%
                                                                </td>
                                                                <td>
                                                                    ReportCode
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %ReportDescription%
                                                                </td>
                                                                <td>
                                                                    ReportDescription
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %PackageName%
                                                                </td>
                                                                <td>
                                                                    PackageName
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %ProductType%
                                                                </td>
                                                                <td>
                                                                    ProductType
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %ReportPrice%
                                                                </td>
                                                                <td>
                                                                    ReportPrice
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %Subject%
                                                                </td>
                                                                <td>
                                                                    Subject
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %Suggestion%
                                                                </td>
                                                                <td>
                                                                    Suggestion
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %TotalPrice%
                                                                </td>
                                                                <td>
                                                                    TotalPrice
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %UnitPrice%
                                                                </td>
                                                                <td>
                                                                    UnitPrice
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %UsaintelLogo%
                                                                </td>
                                                                <td>
                                                                    UsaintelLogo
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %UsaintelIcon%
                                                                </td>
                                                                <td>
                                                                    UsaintelIcon
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %UserPicture%
                                                                </td>
                                                                <td>
                                                                    UserPicture
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %UserFirstName%
                                                                </td>
                                                                <td>
                                                                    UserFirstName
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %UserLastName%
                                                                </td>
                                                                <td>
                                                                    UserLastName
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %UserEmail%
                                                                </td>
                                                                <td>
                                                                    UserEmail
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %UserPassword%
                                                                </td>
                                                                <td>
                                                                    UserPassword
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %UserLocation%
                                                                </td>
                                                                <td>
                                                                    UserLocation
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %UserCompany%
                                                                </td>
                                                                <td>
                                                                    UserCompany
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %OrderType%
                                                                </td>
                                                                <td>
                                                                    OrderType
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %DOB%
                                                                </td>
                                                                <td>
                                                                    DOB
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %SSN%
                                                                </td>
                                                                <td>
                                                                    SSN
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    %DLNumber%
                                                                </td>
                                                                <td>
                                                                    DL Number
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td>
                                                    @*<input class="imgbtnClasspnl" id="imgbtnSave" type="submit" value="" />*@
                                                    <input id="imgbtnSave" type="submit" value="Save" class="btn btn-default margint5" />
                                                </td>
                                                <td>
                                                    @*<img id="imgbtnDelete" class="imgCommon" src="@Url.Content("~/Content/themes/base/images/icon-32-delete.png")"
                                                        style="display: none" title="Delete Template" onclick="return ConfirmDelete();" />*@
                                                    <input style="display: none" type="button" value="Delete" onclick="return ConfirmDelete();" class="btn btn-default" />

                                                </td>
                                                <td>

                                                    <input type="button" value="Back" onclick="history.back();" class="btn btn-default margint5" /> 
                                                    @*<img class="imgCommon" src="@Url.Content("~/Content/themes/base/images/icon-32-back.png")" title="Back to locations"
                                                        onclick="history.back();" />*@
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="header icon-48-massemail heading-style">
                                        <img class="image-position" src="../Content/themes/base/images/ControlPanel/images/header/email-template.png" /> email templates
                                    </div>
                                    <div style="width:100%; text-align:center; padding-bottom:2%;">
                                    @*<div id="divMSG" style="display: none; width: 100%; text-align: center;"></div>*@
                                    </div>
                                    <div class="clr">
                                    </div>
                                </div>
                                <div class="">
                                    <div class="">
                                        <div class="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="DivEmailTemplates" class="expand">                                
                                <div class="ModalPopupTable">

                                    <div class="col-md-6">
                                        <div class="left-portion-style">
                                            <div class="form-inline form-cnt margin-top40 errormes">
                                                <label class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-0 text-label"><span class="star">*</span>Select Template:</label>
                                                @Html.DropDownListFor(m => m.ddlTemplateSubject, new SelectList(Model.EmailTemplatesList, "pkTemplateId", "TemplateSubject"), new { onchange = "GetTemplateContents();", style = "width:300px;", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.ddlTemplateSubject)
                                                <input type="hidden" id="hdEmailTemplate" name="hdEmailTemplate" value="EmailTemplate" />
                                            </div>
                                            <div class="form-inline form-cnt errormes">
                                                <label class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-0 text-label"><span class="star">*</span>Template Name:</label>
                                                @Html.TextBoxFor(m => m.TemplateName, new { style = "width:300px;", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.TemplateName)
                                            </div>
                                            <div class="form-inline form-cnt errormes">
                                                <label class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-0 text-label"><span class="star">*</span>Template Type:</label>
                                                @Html.DropDownListFor(m => m.TemplateType, new SelectList(Model.ddlTemplateType, "Value", "Text"), new { style = "width:300px;", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.TemplateType)
                                                @* @Html.DropDownList("ddlTemplateType", (ViewData["TemplateType"] as IEnumerable<SelectListItem>), new { style = "width:190px", onchange = "BindLeadsGrid(0);" })*@
                                            </div>
                                            <div class="form-inline form-cnt errormes">
                                                <label class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-0 text-label"><span class="star">*</span>Subject :</label>
                                                @Html.TextBoxFor(m => m.TemplateSubject, new { style = "width:300px;", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.TemplateSubject)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        @{ Html.Telerik().EditorFor(model => model.TemplateContent)
                        .HtmlAttributes(new { style = "width:90%;height:300px; margin:auto;" })
                         .FileBrowser(t => t.Browse("Browse", "ImageBrowser")
                          .Thumbnail("Thumbnail", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                          .DeleteFile("DeleteFile", "ImageBrowser")
                          .DeleteDirectory("DeleteDirectory", "ImageBrowser")
                          .CreateDirectory("CreateDirectory", "ImageBrowser")).Encode(false)
                        .Value(@<text>
                        </text>)
                                             //.StyleSheets(styleSheets => styleSheets.Add("~/Content/style.min.css"))
                        .Tools(tools => tools


                            .Separator()
                              .Clear()
               .Bold().Italic().Underline().Strikethrough().Separator()

               .FontColor().BackColor().Separator()
               .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull().Separator()
               .InsertUnorderedList().InsertOrderedList().Separator()
               .Indent().Outdent().Separator()
               .CreateLink().Unlink().Separator()
               .InsertImage()
               .FormatBlock()
               .Styles(styles => styles
                   .Add("Highlight", "highlight")
                   .Add("Code block", "code")
               )
                .Custom(settings => settings.HtmlAttributes(new { @class = "t-html", onclick = "viewSource(event)" }))
                        )
                        .Render();
                                        }
                                        @*  @Html.ValidationMessageFor(model => model.TemplateContent, "", new { @class = "error" })
                                            @*  @Html.TextAreaFor(m => m.TemplateContent,   )*@
                                    </div>
                                </div>
                                <!--
                                                    <table class="ModalPopupTable" cellpadding="2" cellspacing="0" border="0">
                                                        @* <tr>
                                    <td colspan="2" align="center">
                                        <asp:label id="lblPopmsg" runat="server" visible="false"></asp:label>
                                    </td>
                                </tr>*@
                                                                    <tr class="form-group">
                                                                        <td align="right" style="width: 45%; padding: 5px;">
                                                                            <span class="star" style="padding-bottom:9px;">*</span>Select Template :

                                                                        </td>
                                                                        <td align="left" style="padding:5px;">
                                                                            @*@Html.DropDownListFor(m => m.ddlTemplateSubject, new SelectList(Model.EmailTemplatesList, "pkTemplateId", "TemplateSubject"), new { onchange = "GetTemplateContents();", style = "width:172px;", @class = "form-control" })
                                                                            @Html.ValidationMessageFor(m => m.ddlTemplateSubject)
                                                                            <input type="hidden" id="hdEmailTemplate" name="hdEmailTemplate" value="EmailTemplate" />
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td align="right" style="width: 45%; padding: 5px;">
                                                                            <span class="star">*</span>Template Name:
                                                                        </td>
                                                                        <td align="left" style="padding:5px;">
                                                                            @Html.TextBoxFor(m => m.TemplateName, new { style = "width:170px;", @class = "form-control" })
                                                                            @Html.ValidationMessageFor(m => m.TemplateName)
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td align="right" style="width: 45%; padding: 5px;">
                                                                            <span class="star">*</span>Template Type:
                                                                        </td>
                                                                        <td align="left" style="padding:5px;">
                                                                            @Html.DropDownListFor(m => m.TemplateType, new SelectList(Model.ddlTemplateType, "Value", "Text"), new { style = "width:172px;", @class = "form-control" })
                                                                            @Html.ValidationMessageFor(m => m.TemplateType)
                                                                            @* @Html.DropDownList("ddlTemplateType", (ViewData["TemplateType"] as IEnumerable<SelectListItem>), new { style = "width:160px", onchange = "BindLeadsGrid(0);" })*@
                                                                        </td>
                                                                    </tr>
                                                                    <tr class="form-group">
                                                                        <td align="right" style="padding:5px;">
                                                                            <span class="star">*</span>Subject :
                                                                        </td>
                                                                        <td align="left" style="padding:5px;">
                                                                            @*@Html.TextBoxFor(m => m.TemplateSubject, new { style = "width:172px; ", @class = "form-control" })
                                                                            @Html.ValidationMessageFor(m => m.TemplateSubject)
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" style="padding:10px;" colspan="2">
                                                                            <strong style="font-size:14px;">Content</strong>
                                                                        </td>

                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2" align="center">
                                                                            <table style="width: 100%">
                                                                                <tr>
                                                                                    <td align="center" valign="top">
                                                                                        @{ Html.Telerik().EditorFor(model => model.TemplateContent)
                                                    .HtmlAttributes(new { style = "width:80%;height:400px;" })
                                                     .FileBrowser(t => t.Browse("Browse", "ImageBrowser")
                                                      .Thumbnail("Thumbnail", "ImageBrowser")
                                                      .Upload("Upload", "ImageBrowser")
                                                      .DeleteFile("DeleteFile", "ImageBrowser")
                                                      .DeleteDirectory("DeleteDirectory", "ImageBrowser")
                                                      .CreateDirectory("CreateDirectory", "ImageBrowser")).Encode(false)
                                                    .Value(@<text>
                                                        </text>)
                                                                                             //.StyleSheets(styleSheets => styleSheets.Add("~/Content/style.min.css"))
                                                    .Tools(tools => tools


                                                        .Separator()
                                                          .Clear()
                                           .Bold().Italic().Underline().Strikethrough().Separator()

                                           .FontColor().BackColor().Separator()
                                           .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull().Separator()
                                           .InsertUnorderedList().InsertOrderedList().Separator()
                                           .Indent().Outdent().Separator()
                                           .CreateLink().Unlink().Separator()
                                           .InsertImage()
                                           .FormatBlock()
                                           .Styles(styles => styles
                                               .Add("Highlight", "highlight")
                                               .Add("Code block", "code")
                                           )
                                            .Custom(settings => settings.HtmlAttributes(new { @class = "t-html", onclick = "viewSource(event)" }))
                                                    )
                                                    .Render();
                                                                                        }
                                                                                        @*  @Html.ValidationMessageFor(model => model.TemplateContent, "", new { @class = "error" })
                                                                @*  @Html.TextAreaFor(m => m.TemplateContent,   )*@
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table> -->

                            </div>
                            <div class="clr">
                            </div>
                        </div>

                    </div>


                    <div class="clr">
                    </div>
                </div>

            </div>
            <div class="clr">
            </div>
        </div>
    </div>

}

<div id="divLoading" class="progress" style="font-weight: normal; font-size: 12px; text-align: left; display: none">
    Processing...
</div>

@*<script src="../Scripts/2011.2.712/telerik.common.min.js" type="text/javascript"></script>
    <script src="../Scripts/2011.2.712/telerik.editor.min.js" type="text/javascript"></script>*@


<link href="@Url.Content("~/Content/2011.2.712/telerik.default.min.css")" rel="stylesheet" type="text/css" />
@Html.Telerik().ScriptRegistrar().DefaultGroup(group => group

              .Add("~/Scripts/2011.2.712/telerik.common.min.js")
               .Add("~/Scripts/2011.2.712/telerik.editor.min.js")



             .Compress(true))






<style type="text/css">
    .t-editor .t-html {
        width: 66px;
        background-image: url("../Content/themes/base/images/add_html.png");
    }
</style>
<script type="text/javascript">

    //$("#TemplateType").kendoDropDownList({});
    var htmlSourcePopup;
    function viewSource(e) {
        e.stopPropagation();
        e.preventDefault();

        var editor = $('#TemplateContent').data('tEditor');
        var html = editor.value();

        if (!htmlSourcePopup) {
            htmlSourcePopup =
                   $('<div  class="html-view" style=" top: 150px;bottom:5px">' +
                          '<div style="width:1100px !important; height:300px" ><textarea style="width:1094px !important; height:250px"></textarea></div>' +
                          '<div class="t-button-wrapper">' +
                              '<button id="htmlCancel" class="t-button t-state-default" style="margin-left: 20px; margin-bottom: 15px;">Cancel</button>' +
                              '<button id="htmlUpdate" class="t-button t-state-default"  style="margin-left: 20px; margin-bottom: 15px;">Update</button>' +
                          '</div>' +
                      '</div>')
                    .css('display', 'none')
                  .tWindow({
                      title: '<span id="SetPopUpMainHeader">Type or Paste the Contents</span>',
                      modal: true,
                      resizable: false,
                      draggable: true,
                      width: 1100,
                      onLoad: function () {
                          var $popup = $(this);
                          $popup.find('.textarea')
                                    .css('width', function () {
                                        return 1100 - (this.offsetWidth - $(this).width());
                                    })
                                    .focus()
                                  .end()
                                  .find('#htmlCancel')
                                    .click(function () {
                                        htmlSourcePopup.close();
                                    })
                                  .end()
                                  .find('#htmlUpdate')
                                    .click(function () {
                                        var value = $popup.find('textarea').val();
                                        editor.value(value);
                                        htmlSourcePopup.close();
                                    });
                      },
                      onClose: function () {
                          editor.focus();
                      },
                      effects: $.telerik.fx.toggle.defaults()
                  })
                .data('tWindow');
        }

        $(htmlSourcePopup.element).find('textarea').text(html);
        htmlSourcePopup.center().open();
        $(".html-view").css("margin-top", "140px");
        $(".html-view").css("margin-bottom", "20px");
    }
</script>
<script language="javascript" type="text/javascript">
    //    $(document).ready(function () {
    //        var PageEditor = $("#TemplateContent").kendoEditor().data("kendoEditor");
    //    });
    $(document).ready(function () {
        $(".t-editable-area").css("border-style", "none");
    });
    function func_bookmark() {
        var v = document.getElementById('Div_bookmark');
        if (v != null) {
            $(v).toggle('slow');
        }
    }

    var TemplateName = document.getElementById("TemplateName");
    var TemplateSubject = document.getElementById("TemplateSubject");

    var divMSG = document.getElementById("divMSG");
    var imgbtnDelete = document.getElementById("imgbtnDelete");


    function GetTemplateContents() {


        divMSG.style.display = "none";
        var TemplateValue = GetCurrentSelectedValue();

        if (TemplateValue != "-1") {
            $.post('@Url.Action("GetTemplateContents", "Control")', { pkTemplateId: TemplateValue, IsSystemTemplate: "false" }, function (Result) {

                if (Result != null) {

                    TemplateName.value = Result.TempName;
                    TemplateSubject.value = Result.TempSub;
                    var TemplteType = Result.TemplateType;
                    var ddlTemplateType = $('#TemplateType');
                    ddlTemplateType.val(TemplteType);
                    var Contents = Result.TempCont.replace("#gearlogo", "<img alt='' title='' src='https://www.usaintel.com/emerge/Resources/Images/right_logos.png' height='384px' width='208'/>").
                    replace("#footerlogo", "<img alt='' title='' src='https://www.usaintel.com/emerge/Resources/Images/temp_footer.jpg' width='760' height='80'/>");

                    var PageEditor1 = $('#TemplateContent').data('tEditor');
                    //  var PageEditor1 = $("#TemplateContent").data("kendoEditor");
                    PageEditor1.value(Contents);


                    imgbtnDelete.style.display = "block";

                }
                else {
                    ClearTextbox();
                    imgbtnDelete.style.display = "none";
                }
            });
        }
        else {

            ClearTextbox();
            imgbtnDelete.style.display = "none";
        }
    }
    function ClearTextbox() {
        var PageEditor1 = $("#TemplateContent").data("tEditor");
        // var TemplateContent = $('#TemplateContent').data('tEditor');
        TemplateName.value = "";
        TemplateSubject.value = "";
        PageEditor1.value("");
    }
    function ConfirmDelete() {

        if (confirm("Are you sure want to delete this record") == true) {

            var TemplateValue = GetCurrentSelectedValue();

            $.post('@Url.Action("DeleteTemplateById", "Control")', { TemplateId: TemplateValue }, function (Result) {

                if (Result != null) {
                    if (Result.DeleteMessage != "") {

                        divMSG.style.display = "block";
                        divMSG.innerHTML = Result.DeleteMessage;
                        ClearTextbox();

                        if (Result.Templates != null) {

                            ddlLoadTemplate(Result.Templates);
                        }
                    }
                    else {
                        ClearTextbox();
                        imgbtnDelete.style.display = "none";
                    }
                }
            });
            return true;
        }
        else {
            return false;
        }
    }
    function GetAddUpdateResult(Result) {

        if (Result != null) {
            divMSG.style.display = "block";
            divMSG.innerHTML = Result.Message;
            var ddlTemplateType = $('#TemplateType');
            ddlTemplateType.val(' ');
            ddlLoadTemplate(Result.Templates);

            if (Result.StatusAddUpdate != "") {

                ClearTextbox();
            }
            else {
            }
        }
    }

    function ddlLoadTemplate(Collection) {
        var ddlTemplateSubject = $('#ddlTemplateSubject');
        ddlTemplateSubject.empty();

        $.each(Collection, function (index, coll1) {
            ddlTemplateSubject.append(
            $('<option/>').attr('value', coll1.pkTemplateId)
              .text(coll1.TemplateSubject)
          );
        });
    }


    function GetCurrentSelectedValue() {

        var EmailTemplateID = document.getElementById("ddlTemplateSubject");
        var num = EmailTemplateID.selectedIndex;
        var EmailTemplatevalue = EmailTemplateID.options[num].value;
        return EmailTemplatevalue;
    }


    var readyCheckInterval = setInterval(function () {
        if (document.readyState == "complete") {
            if ($("#t-editor-image-url").is(':visible')) {
                $('button.t-dialog-insert.t-button').after("<button class='special-button t-button'>Insert</button>");
                $('button.t-dialog-insert.t-button').attr("style", "visibility:hidden");
                $('button.special-button.t-button').click(function (e) {
                    var str = $("#App_Path").val();
                    $("#t-editor-image-url").val(str + $("#t-editor-image-url").val().slice(1));
                    $('button.t-dialog-insert.t-button').click();

                });
                clearInterval(readyCheckInterval);
            }
        }
    }, 10);





</script>



@(Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Combined(true).Compress(true)))


<link href="@Url.Content("~/Content/kendo.common.min.css")" rel="stylesheet"
      type="text/css" />
<script src="@Url.Content("~/Scripts/KendoJS/kendo.all.min.js")" type="text/javascript"></script>



<style type="text/css">
    div.header1 {
        cursor: default;
    }
</style>