﻿@model Emerge.Models.SavedReportModel
@{
    ViewBag.Title = "EmergeReviews";
}
<style type="text/css">
    .IncArchiveLink {
        font-size: 13px;
        color: #0B55C4;
        text-decoration: underline;
        font-weight: bold;
    }

        .IncArchiveLink:hover {
            text-decoration: underline;
            cursor: pointer;
        }

    span.tool {
        position: absolute; /* this is key */
        cursor: pointer;
        color: #096FE6;
        text-decoration: underline;
        font-size: 12px;
        font-weight: bold;
        margin-top: -12px;
        margin-left: 5px;
        text-decoration: none;
    }

        span.tool span.tip {
            display: none; /* so is this */
            text-decoration: none;
        }

        /* tooltip will display on :hover event */

        span.tool:hover span.tip {
            color: #000;
            display: block;
            z-index: 100;
            position: absolute;
            top: 0em;
            left: 0;
            margin-left: -222px;
            width: 200px;
            padding: 10px;
            border: 1px solid #000;
            background-color: #fff;
            font: normal 0.9em/1.2em arial, helvetica, sans-serif;
            text-align: left;
            font-weight: bold;
            text-decoration: none;
        }

    #content span.tool::after {
        padding-left: 2px; /* content: url(/img/bubble.gif);*/
    }

    .ddlField1 {
        /*border: 1px solid #A7D2E4;*/
        padding-bottom: 2px;
        margin: 0px;
        padding-left: 3px;
        padding-right: 3px;
        background: url(../Content/themes/base/images/TextBox_Background.png) repeat-x 0px 0px;
        height: 22px;
        padding-top: 2px;
        width: 172px;
    }

    .ddlFieldMonth {
        border-bottom: #b8b8b8 1px solid;
        border-left: #b8b8b8 1px solid;
        padding-bottom: 3px;
        margin: 0px;
        padding-left: 5px;
        padding-right: 5px;
        background: url(../Content/themes/base/images/TextBox_Background.png) repeat-x 0px 0px;
        height: 24px;
        border-top: #b8b8b8 1px solid;
        border-right: #b8b8b8 1px solid;
        padding-top: 3px;
        width: 110px;
        float: left;
    }

    .textField1 {
        border-bottom: #b8b8b8 1px solid;
        border-left: #b8b8b8 1px solid;
        padding-bottom: 3px;
        margin: 0px;
        padding-left: 5px;
        padding-right: 5px;
        background: url(../Content/themes/base/images/TextBox_Background.png) repeat-x 0px 0px;
        height: 17px;
        border-top: #b8b8b8 1px solid;
        border-right: #b8b8b8 1px solid;
        padding-top: 3px;
        width: 150px;
        float: left;
    }

    .textFieldWrapper1 {
        float: left;
        width: 100%;
    }

    .update-button {
        color: Red;
    }

    .chk-head-style {
        margin: 0px;
        padding-left: 0px;
    }

    .chk-style {
        padding-left: 0px;
        margin: 0px;
    }

    #popupEmail div.k-window-content {
        padding: 0px;
    }

    .RoundBorder {
        border: 1px solid #cdc3b7;
        border-radius: 5px;
        padding: 2px;
    }

    .k-grid .centeralign {
        text-align: center;
    }

    .Completed {
        background-color: #6CC525;
        color: white;
        padding: 1px 2px;
        border-radius: 3px;
    }

    .InComplete {
        background-color: #E68C13;
        color: white;
        padding: 1px 2px;
        border-radius: 3px;
    }

    .Pending {
        background-color: #0b55c4;
        color: white;
        padding: 1px 4px;
        border-radius: 3px;
    }

    .InReview {
        background-color: Red;
        color: white;
        padding: 1px 4px;
        border-radius: 3px;
    }
</style>

<link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Json2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=19")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-online-1.6.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>






<script type="text/javascript">
    $(document).ready(function () {
        // $("#pkOrderDateId").kendoDropDownList();
        //  $("#pkProductApplicationId").kendoDropDownList();
        //   $("#pkCompanyId").kendoDropDownList();
        //  $("#LocationId").kendoDropDownList();
        // $("#CompanyUserId").kendoDropDownList();

        $("#txtSpecificDate").kendoDatePicker();
        $("#txtSpecificFrom").kendoDatePicker();
        $("#txtSpecificTo").kendoDatePicker();
        // document.getElementById('tdAdmin').style.display = 'none';
    });
</script>


<script type="text/javascript">
    // document.getElementById('tdAdmin').style.display = 'none';
</script>

<div id="content-box" style="background-color: #ffffff; margin: 20px 0 15px 0;">
    <div class="filters-ch clearfix" style="padding: 15px 10px; margin-top: 4%;">
        <ul class="search-block-1 search-block-new clearfix" style="margin-bottom: 7px;">
            <li>
                <div>
                    <label style="margin-bottom: 5px;">Open Search</label>
                    @if (Model.UserRoles.Contains("SystemAdmin"))
                    {
                        <input type="hidden" value="SystemAdmin" id="CurrentUserRole" />
                    }
                    else
                    {
                        <input type="hidden" value="OtherUser" id="CurrentUserRole" />
                    }
                    @Html.TextBoxFor(model => Model.Keyword, new { @class = "form-control remove-border-radius-right fleft contorl-header", placeholder = "Search Application", onkeypress = "Button_Click(event);", })
                    <div class="btn btn-default ch-button color-btn-ch filter-search"><i id="AppSearch" class="search-ch-icon" style="cursor: pointer" onclick="BindReviewGrid(0,'AllReports');"></i></div>
                </div>
            </li>
            <li>
                <button type="submit" id="advFilters" class="btn btn-default" data-toggle="modal" data-target="#myModal" style="margin-top: 28px; height: 33px; line-height: 17px;">
                    Show Advanced Filters
                </button>
            </li>
            <li>
                <div style="display: none;">
                    <span style="font-weight: bold; color: #0b55c4;">Folders</span>
                </div>
                <div id="DivLoading" style="display: none; position: absolute;">
                    <img src="@Url.Content("~/Content/themes/base/images/ajax-loading.gif")" alt="loader" />
                </div>
            </li>
        </ul>

        <ul style="display:none;" class="search-block-2">
            <li>
                <label style="display: none;">Folders</label>
                <div id="lblFolder" style="display: none;"></div>
                @Html.HiddenFor(m => m.ReportCount)
            </li>
            <li>
                <div>
                    <label>Choose Locations</label>
                    @if (Model.UserRoles.Contains("SystemAdmin") || Model.UserRoles.Contains("CorporateManager") || Model.UserRoles.Contains("SupportManager") || Model.UserRoles.Contains("SupportTechnician") || Model.UserRoles.Contains("BasicUser") || Model.UserRoles.Contains("BranchManager") || Model.UserRoles.Contains("ViewOnlyUser"))
                    {
                        if (Model.UserRoles.Contains("BasicUser"))
                        {
                        @Html.DropDownListFor(model => Model.LocationId, new SelectList(Model.LocationList, "LocationId", "DisplayLocation"), new { @class = "form-control", onchange = "BindReviewGrid(2,'AllReports')", disabled = "disabled" })                            
                        }
                        else
                        {
                        @Html.DropDownListFor(model => Model.LocationId, new SelectList(Model.LocationList, "LocationId", "DisplayLocation"), new { @class = "form-control", onchange = "BindReviewGrid(2,'AllReports')" })                            
                        }
                    }
                    else
                    {
                        @Html.DropDownListFor(model => Model.LocationId, new SelectList(Model.LocationList, "LocationId", "DisplayLocation"), new { @class = "form-control", onchange = "BindReviewGrid(2,'AllReports')", style = "display:none;" })                        
                    }
                </div>

            </li>
            <li>
                <div>
                    <label>Choose Data Sources</label>
                    @Html.DropDownListFor(model => Model.pkProductApplicationId, new SelectList(Model.ObjProductsEmerge, "pkProductApplicationId", "ProductDisplayName"), new { @class = "form-control", onchange = "BindReviewGrid(0,'AllReports')" })
                </div>


            </li>
            <li>
                <div>

                    @if (Model.UserRoles.Contains("SystemAdmin"))
                    {
                        <label>Choose Company</label>
                        @Html.DropDownListFor(model => Model.pkCompanyId, new SelectList(Model.ObjCompanyList, "pkCompanyId", "CompanyName"), new { @class = "form-control", onchange = "BindReviewGrid(1,'AllReports')" })                        

                    }
                    else
                    {
                        @Html.DropDownListFor(model => Model.pkCompanyId, new SelectList(Model.ObjCompanyList, "pkCompanyId", "CompanyName"), new { @class = "form-control", onchange = "BindReviewGrid(1,'AllReports')", style = "display:none;" })                        
                    }
                </div>
            </li>
            <li>
                <div>
                    <label>Choose User</label>
                    @if (Model.UserRoles.Contains("SystemAdmin") || Model.UserRoles.Contains("CorporateManager") || Model.UserRoles.Contains("BranchManager") || Model.UserRoles.Contains("SupportManager") || Model.UserRoles.Contains("SupportTechnician"))
                    {
                        @Html.DropDownListFor(model => Model.CompanyUserId, new SelectList(Model.UserList, "CompanyUserId", "UserEmail"), new { @class = "form-control", onchange = "BindReviewGrid(0,'AllReports')" })                                                  
                    }
                    else if (Model.UserRoles.Contains("BasicUser"))
                    {
                        @Html.DropDownListFor(model => Model.CompanyUserId, new SelectList(Model.UserList, "CompanyUserId", "UserEmail"), new { @class = "form-control", onchange = "BindReviewGrid(0,'AllReports')", style = "display:none;" })                        
                    }
                    else
                    {
                        @Html.DropDownListFor(model => Model.CompanyUserId, new SelectList(Model.UserList, "CompanyUserId", "UserEmail"), new { @class = "form-control", onchange = "BindReviewGrid(0,'AllReports')", style = "display:none;" })                        
                    }
                    @Html.HiddenFor(m => m.pkCompanyUserId)


                </div>
            </li>
        </ul>

        <ul style="display:none;" class="search-block-2">
            <li>
                <div>
                    <label>Choose Reference</label>
                    @Html.DropDownListFor(model => Model.pkReferenceCodeId, new SelectList(Model.RefenceCodeList, "ReferenceCode", "ReferenceCode"), new { @class = "form-control", onchange = "BindReviewGrid(0,'AllReports')" })
                </div>
            </li>
            <li>
                <label>Order Date</label>
                <div>
                    @Html.DropDownListFor(model => model.pkOrderDateId, new SelectList(Model.OrderDateColl, "key", "value"), new { @class = "form-control", onchange = "BindReviewGrid(0,'AllReports')" })
                </div>
            </li>
            <li style="width: auto;">

                <ul style="margin: 0;">
                    <li id="dropdownlist_month" style="width: 410px; margin-top: 27px;">

                        <div id="trMonth" class="select-block" style="display: none; margin-top: -5px;">
                            @Html.DropDownListFor(x => x.Month, new SelectList(new List<object>
                                                       {
                                                              new{value="January",text="1"},
                                                              new{value="February",text="2"},
                                                              new{value="March",text="3"},
                                                              new{value="April",text="4"},
                                                              new{value="May",text="5"},
                                                              new{value="June",text="6"},
                                                              new{value="July",text="7"},
                                                              new{value="August",text="8"},
                                                              new{value="September",text="9"},
                                                              new{value="October",text="10"},
                                                              new{value="November",text="11"},
                                                              new{value="December",text="12"}
                                                       }, "text", "value"
                                                                              ), new { @class = "dateselection" })
                            @Html.DropDownListFor(model => Model.Year, new SelectList(Model.DictYear, "key", "value"), new { @class = "dateselection" })
                        </div>
                        <div id="trSpecificDate" class="textFieldWrapper1" style="display: none;">@Html.TextBoxFor(m => m.txtSpecificDate, new { style = "width:200px; float:left; margin-right:5px;" })</div>
                        <div id="trSpecificDateRange" style="display: none; width: 420px;">
                            <div class="textFieldWrapper1" style="width: auto;">
                                @Html.TextBoxFor(m => m.txtSpecificFrom, new { style = "width:200px; float:left; margin-right:5px;" })
                            </div>
                            <div class="textFieldWrapper1" style="width: auto;">
                                @Html.TextBoxFor(m => m.txtSpecificTo, new { style = "width:200px; float:left; margin-right:5px;" })
                            </div>
                        </div>
                    </li>


                    <li>
                        <div id="lblFolder" style="display: none;"></div>
                        <label id="msgval" style="color: Red; font-size: 92%;"></label>
                        @*<img src="@Url.Content("~/Content/themes/base/images/Reset all filters.png")" title="Reset All Filter" alt="Search" style="cursor: pointer" onclick="EmptyGrid();ResetDrop();">*@
                        <button type="submit" id="ResetAll" onclick="EmptyGrid();ResetDrop();" class="btn btn-default" data-toggle="modal" data-target="#myModal" style="margin-top: 20px;">
                            Reset
                        </button>
                        <div id="trsearch" style="display: inline-block;">
                            <input class="valclass btn btn-default search-btn" type="button" value="Search" onclick="BindReviewGrid(-1, 'AllReports')" style="margin-top: 20px;" />
                        </div>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
    <div class="clr">
    </div>
    <div class="padding">
        <div id="toolbar-box">
        </div>
        <div class="clr">
        </div>
        <div id="element-box" style="margin-top: -15px; background-color: rgb(255, 255, 255);">
            <div class="show-record" style="padding: 0px 1px 15px;">
                Showing <span id="recordsShow">
                    <label id="lblTotalRecords">@Model.TotalRecords</label></span> Records
            </div>
            <table align="center" border="0" style="width: 100%">
                <tr>
                    <td style="vertical-align: top; width: 88%">
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="right">
                                    @if (Model.UserRoles.Contains("SystemAdmin"))
                                    {
                                        @*<input id="chkIsIncomplete" name="chkIsIncomplete" type="checkbox" /> 
                                        <span style="font-weight: bold; color: #0b55c4;">Show Incomplete Reports</span>*@
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Content/themes/base/images/hit_green_dot.png")" title="Records Clear" alt="Search" style="cursor: pointer;margin-bottom:-2px;" > <span
                                            style="font-weight: bold">: No records found</span>
                                        <img src="@Url.Content("~/Content/themes/base/images/miss_red_dot.png")" title="Records Matched" alt="Search" style="cursor: pointer;margin-bottom:-2px;" > <span
                                            style="font-weight: bold">: Possible records found</span>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="kendoGrid1">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="2">
                                    <input id="hdnIncArchive" type="hidden" />
                                    <div id="divArchive" style="display: none;">
                                        <a name='IncompleteArchive' class="IncArchiveLink" id="IncompleteArchive" onclick='BindReviewGrid(0,this.id)'
                                            style='cursor: pointer;'>Archive</a>
                                    </div>
                                    <div id="divBack" style="display: none;">
                                        <a name='IncompleteArchive' class="IncArchiveLink" id="Back" onclick='BindReviewGrid(0,this.id)'
                                            style='cursor: pointer;'>Back</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="trResult" style="background: white;">
                    <td colspan="3">
                        <div id="divSavedReportLogWindow">
                            <div id="divSavedReportLog" style="display: none; background-color: white; border: 1px solid black;">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="clr">
        </div>
    </div>
</div>

@Html.HiddenFor(m => m.Role)
<input type="hidden" value="@Model.UserRoles" id='UserRoles' />
<a id="lnkAuthform" style="color: #000000; display: none;">rertrt</a>
@Html.HiddenFor(m => m.PageSize)
@Html.HiddenFor(m => m.PageNo)
<link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet"
    type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
<script type="text/javascript">




    document.getElementById("lblFolder").innerHTML = document.getElementById("ReportCount").value;
    var dropdownlist = $(document.getElementById("lblFolder").innerHTML).appendTo($('.container'));
    $('.container').find('select[id=kendodropdownlist]').find('option').attr('style', 'color:black;');
    function onChanged() {

        var value = $("#lblFolder").find('select[id=kendodropdownlist]');
        var arrar = $("#kendodropdownlist").val().split("(");
        $("#lblFolder").find('select[id=kendodropdownlist]').removeAttr("onChanged");
        var comarrar = arrar[0].replace(/\s/g, '');
        switch (comarrar) {
            case 'All': $('option[id=AllReports]').click(); break
            case 'Read': $('option[id=ReadReports]').click(); break
            case 'Unread': $('option[id=UnreadReports]').click(); break
            case 'Pending': $('option[id=PendingReports]').click(); break
            case 'InReview': $('option[id=InReviewReports]').click(); break
            case 'Incomplete': $('option[id=IncompleteReports]').click(); break
            case 'Submit': $('option[id=Submitted]').click(); break
            case 'Complete': $('option[id=CompleteReports]').click(); break
        }
        $('.container').find('select[id=kendodropdownlist]').find('option').attr('style', 'color:black;');
    }

    function ResetDrop() {
        var desiredValue = "AllReports";
        var el = document.getElementById("kendodropdownlist");
        for (var i = 0; i < el.options.length; i++) {
            if (el.options[i].id == desiredValue) {
                el.selectedIndex = i;
                break;
            }
        }

    }


    //$("#popup_Mark").kendoWindow();
    //$("#popup_Mark").data("kendoWindow").close();
    $("#tabstrip").kendoTabStrip({
        animation: {
            open: {
                effects: "fadeIn"
            }
        }

    });
    //   $("#popupEmail").kendoWindow({ title:"Report Order" });
    //$("#popupEmail").data("kendoWindow").close();

    var selectList = '<span style="width:500px;text-align:right;float:right; display:none;">    Page Size: <select id="ddlPageSize" onchange="ChangePageSize1(this.value);" style="width:50px;" id="mySelect"><option value="25">25</option><option value="50">50</option><option  value="75">75</option><option value="100">100</option></select></span>';
    var divTotal = '<div id="divTotal" ></div>';

    var dataSource = new kendo.data.DataSource({
        batch: true,
        transport: {
            read: {
                url: "@Url.Action("GetListofInReviewReports", "Control")", type: "POST",
                data: {
                    PkCompanyId: $('#pkCompanyId').val(), LocationId: $('#LocationId').val(),
                    CompanyUserId: $('#pkCompanyUserId').val(), Keyword: $('#Keyword').val(), pkProductApplicationId: $('#pkProductApplicationId').val(),
                    ShowIncomplete: $('input[name=chkIsIncomplete]').is(':checked')
                },
                complete: function (Message, textStatus) {
                }
            },
            parameterMap: function (options) {
                var data = options;
                if (options.filter) {
                    var filters = options.filter.filters;
                    for (var i = 0; i < filters.length; i++) {
                        data["filters[" + i + "].Field"] = filters[i].field;
                        data["filters[" + i + "].Operator"] = filters[i].operator;
                        data["filters[" + i + "].Value"] = filters[i].value;
                    }
                }
                if (options.sort) {
                    for (var i = 0; i < options.sort.length; i++) {
                        data["sort[" + i + "].Field"] = options.sort[i].field;
                        data["sort[" + i + "].Dir"] = options.sort[i].dir;
                    }
                }
                return data;
            }
        },
        schema: {
            data: "Products", total: function (e) {
                if (e.ReportCounts != '') {
                    document.getElementById("lblFolder").innerHTML = e.ReportCounts;
                }
                var anchorfolder = document.getElementsByName("anchorfolder");


                for (var i = 0; i < anchorfolder.length; i++) {
                    anchorfolder[i].style.color = 'black';
                }
                var Id = document.getElementById(e.ReportName);
                if (Id != null) {
                    Id.style.color = 'red';
                }
                var IncompleteArchive = document.getElementById("IncompleteArchive");
                IncompleteArchive.style.color = '#0B55C4';
                total = e.TotalCount;
                return total;
            },
            model: {
                fields: {
                    OrderDt: { type: "date" }
                }
            }
        },
        pageSize: $("#PageSize").val(), //set page size
        page: $("#PageNo").val(),
        serverPaging: true, //enable server paging
        serverSorting: true,
        serverFiltering: true
    });


    function ChangePageSize1(val) {
        var ds = $("#kendoGrid1").data("kendoGrid").dataSource;
        var newPageSize = parseInt(val);
        ds.pageSize(newPageSize);
        //  $("#ddlPageSizeTop").val(val);
        //  $("#ddlPageSizeBottom").val(val);
    }


</script>
<script src="@Url.Content("~/Scripts/Pages/SavedReport.js?v21")" type="text/javascript" language="javascript"></script>
<script type="text/javascript" language="javascript">


    $(document).ready(function () {




        $(".k-grid-pager").append(selectList);

        var PageSize = $("#PageSize").val();
        var ddlPageSize = $("#ddlPageSize");
        ddlPageSize.val(PageSize);

        //                .delegate(".pagesize input", "change", function () {
        //                    dataSource.page(parseInt(this.value, 25));
        //                }) ;          
        //    $(".k-grid-pager").append(divTotal);

    });

    function CheckedAll() {
        $("#kendoGrid .chk-style").each(function () {
            if (document.getElementById("chkLead_head").checked) {
                $(this).prop("checked", true);
            }
            else {
                $(this).prop("checked", false);
            }
        });
    }


    function SendNoResponseEmail(chk) {
        var IsEnable = $(chk).is(":checked");
        var OrderId = chk.id;
        $.post('@Url.Action("EnableDisableNoResponseEmail", "Control")', { OrderId: OrderId, IsEnable: IsEnable }, function (data) {

            if (IsEnable == true) {
                alert("No response email will be send shortly");
            }

        });

    }

    function ShowPopup(Type) {
        var Ids = '';
        $("#kendoGrid .chk-style").each(function () {
            if ($(this).prop("checked")) {
                Ids = Ids + ($(this).prop("id")).split('_')[1] + ",";
            }
        });
        if (Ids == '') {
            alert("Please select at least one Order!");
        }
        else {
            if (Type == 1) {

                $("#popup_Mark").kendoWindow();
                $("#popup_Mark").data("kendoWindow").close();
                $("popup_MarkContainer").show();
                $("#popup_Mark").data("kendoWindow").center();
                $("#popup_Mark").data("kendoWindow").open();
            }
            else {

                $("#popupEmail").kendoWindow({ title: "Report Order" });
                $("#popupEmail").data("kendoWindow").close();
                //                if(Type==2)
                //                {
                //                $("#tabstrip").data("kendoTabStrip").select(0);
                //                }
                if (Type == 3) {
                    $("#tabstrip").data("kendoTabStrip").select(0);
                }
                else {
                    $("#tabstrip").data("kendoTabStrip").select(1);
                }
                $("#popupEmailContainer").show();
                $("#popupEmail").data("kendoWindow").center();
                $("#popupEmail").data("kendoWindow").open();
            }
        }
    }

    function MarkOrder() {
        var Ids = '';
        $("#kendoGrid .chk-style").each(function () {
            if ($(this).prop("checked")) {
                Ids = Ids + ($(this).prop("id")).split('_')[1] + ",";
            }
        });
        if ($("#ddlMarkAs").val() == "-1") {
            $("#vldMark").show();
        }
        else {
            $("#vldMark").hide();
            $.post("../Corporate/Mark", { pkIds: Ids, MarkAs: $("#ddlMarkAs").val() }, function (data) {
                var grid = $("#kendoGrid").data("kendoGrid");
                grid.dataSource.read();
                grid.refresh();
                $("#popup_Mark").data("kendoWindow").close();
            });
        }
    }
</script>
<script type="text/javascript">
    $("#Keyword").autocomplete({
        source: function (request, response) {
            $.getJSON('@Url.Action("AutoCompleteResult", "CommonSavedReport")', { searchText: request.term }, function (data) {
                response(data);
            });
        },
        minLength: 2
    });


</script>
<script type="text/javascript" language="javascript">

    function SelectReport(option) {
        var orderId = '';
        $("#kendoGrid .chk-style").each(function () {
            if ($(this).prop("checked")) {
                orderId = orderId + ($(this).prop("id")).split('_')[1] + ",";
            }
        });

        orderId = orderId.slice(0, -1);
        if (orderId.length > 0) {
            if (option == 'EM') {
                $("#btnSendMail").hide();
                $("#lblSending").show();
                $("#imgSending").show();
                //                document.getElementById('btnSendMail').style.visibility = "hidden";
                //                document.getElementById('lblSending').style.visibility = "visible";
                //                document.getElementById('imgSending').style.visibility = "visible";
                var EmailTo = document.getElementById('txtMailto').value;
                var CC = document.getElementById('txtCC').value;
                if (EmailTo != null) {
                    $.ajax({
                        type: "POST",
                        url: "../ProcessPrinting.aspx?_O=" + orderId + "&EM=" + EmailTo + "&cc=" + CC,
                        async: false,
                        error: function (responseText) {
                            alert("Some error occurred while sending email. Please try again later!");
                            $("#btnSendMail").show();
                            $("#lblSending").hide();
                            $("#imgSending").hide();
                        },
                        success: function (responseText) {
                            alert("Email sent successfully!");
                            $("#btnSendMail").show();
                            $("#lblSending").hide();
                            $("#imgSending").hide();
                        }
                    });
                    //                        window.open('ProcessPrinting.aspx?_O=' + orderId + '&SP=' + option + '&EM=' + EmailTo + '&cc=' + CC + '', 'mywindow', 'location=0,status=0,scrollbars=0,width=10,height=10,left=0,top=0');
                }
                else {
                    alert("Please enter Email to address.");
                }
            }
            else {
                var FileName = $("#txtSaveReport").val();
                if (option == 'SV') {
                    if (FileName == '') {
                        $("#reqtxtSave").show();
                    }
                    else {
                        $("#reqtxtSave").hide();
                        window.open('../ProcessPrinting.aspx?_O=' + orderId + '&SP=' + option + '&FN=' + FileName + '', 'mywindow', 'location=0,status=0,scrollbars=0,width=10,height=10,left=0,top=0');
                    }
                }
                else {

                    window.open('../ProcessPrinting.aspx?_O=' + orderId + '&SP=' + option + '&FN=' + FileName + '', 'mywindow', 'location=0,status=0,scrollbars=0,width=10,height=10,left=0,top=0');
                }
            }
        }
        else {
            alert("Please select at least one report.");
        }
        return false;
    }


    $("#kendoGrid").delegate(".downloadbtn", "click", function (e) {

        $("#lnkAuthform").attr("href", "GenerateAuthorizationform/?OrderId=" + this.id);
        $("a[id=lnkAuthform]")[0].click();

    });




</script>



<script>

    $("#kendoGrid1").kendoGrid({
        dataSource: dataSource,
        height: 540,
        sortable: true,
        pageable: true,
        resizable: false,
        columns: [
                           { field: "IsNoResponse", sortable: false, width: 70, title: "Auto Email", template: "#if(IsNoResponse == true){# <div class='centeralign'><input type='checkbox' id='#=OrderId#' onChange='SendNoResponseEmail(this)' checked='unchecked'   class='chk-style' /></div>#}else{# <div class='centeralign'><input type='checkbox' id='#=OrderId#' onChange='SendNoResponseEmail(this)'  class='chk-style' /></div>#}#" },
                            { field: "ApplicantName", title: "Applicant Name", width: 135 },
                           { field: "ApplicantDOB+OrderType+IsSubmitted+OrderStatus", title: "DOB", width: 78, template: "#if(ApplicantDOB!=null){# #=ApplicantDOB#  #}#" },
                            { field: "OrderNo", title: "Order No", width: 123, template: "# if(!IsDrugTestingOrder){#<a class='clsorder' href='ViewReportReview?_OId=#=OrderId#'>#=OrderNo#</a> #}else{#<a class='clsorder' href='ViewDrugTestingReports?_OId=#=OrderId#'>#=OrderNo#</a> #}#" },
                           // { field: "TrackingReferenceCode", title: "Reference", width: 70 },
                            { field: "ReportIncludes", title: "Data Sources", width: 95, template: "#if(ReportIncludes!=null){# #=ReportIncludes#  #}#" },
                            { field: "CompanyName", title: "Company Name", width: 121 },
                            { field: "Location", title: "Location", width: 85 },
                            { field: "UserEmail", title: "User", width: 150 },
                            { field: "OrderDt", title: "Order Date", width: 78, format: "{0:MM/dd/yyyy}" },

                          //   { field: "OrderNo", title: "Update", width: 50,
                          //       template: "# if(OrderStatusDisplay=='Pending') { if(PendingOrderUpdateNote!='') {# <span class='tool'><input style='padding-bottom:5px;' id='I_#=OrderId#' type='image' src='../Content/themes/base/images/update_icon.png' /><span class='tip'>#=PendingOrderUpdateNote#</span></span>#} } #"
                            // },
                             { field: "OrderNo", title: "Log", width: 40, sortable: false, template: "# if(!IsDrugTestingOrder){#<img  style='display:none;' id='img_#=OrderId#'  src='../Content/themes/base/images/smallloader.gif' > <input  onclick='OpenNewReportLog(this.id);' type='IMAGE'  id='#=OrderId#'  SRC='../Content/themes/base/images/ErrorlogSmall.png'  /> #}#" },
                            // { field: "HitStatus", title: "Hit", width: 40, template: "# if(HitStatus==1){#<img  src='../Content/themes/base/images/miss_red_dot.png' style='padding-left: 5px;'/> #}else if(HitStatus==2){#<img  src='../Content/themes/base/images/hit_green_dot.png' style='padding-left: 5px;'/> #} else{}#" },
                             { field: "OrderStatusDisplay", title: "Status ",class:'centeralign', width: 282 },



        ],
        dataBound: onRowDataBound

      //.find("th").addClass("centeralign");
    }).find("th").css("text-align", "left");



    function onRowDataBound(arg) {

        var OrderNo = '';
        cellno = 10;
        var takeTotal = this.dataSource.total();
        $("#lblTotalRecords").html(takeTotal); //for ticket #83
        var gridHeaderRows = $("#kendoGrid1 tbody th");
        var gridRows = $("#kendoGrid1 tbody tr");
        var takeGrid = $("#kendoGrid1").data("kendoGrid");
        var CurrentUserRole = document.getElementById("CurrentUserRole").value;

        for (i = 0; i < gridRows.length; i++) {
            var dataItem = takeGrid.dataItem(gridRows[i]);
            var row = gridRows[i];
            var Status = dataItem.OrderStatusDisplay;
            var IsSyncpod = dataItem.IsSyncpod;
            var OrderType = dataItem.OrderType;
            var IsSubmitted = dataItem.IsSubmitted;
            var FirstName = dataItem.FirstName;
            var OrderId = dataItem.OrderId;
            var OrderStatus = dataItem.OrderStatus;



            if (FirstName != '') {
                FirstName = FirstName.charAt(0).toUpperCase() + FirstName.substring(1, FirstName.length).toLowerCase();
            }
            var LastName = dataItem.LastName;
            if (LastName != '') {
                LastName = LastName.charAt(0).toUpperCase() + LastName.substring(1, LastName.length).toLowerCase();
            }

            if (LastName != '' && FirstName != '') {
                row.cells[1].innerHTML = LastName + ', ' + FirstName;
            }
            else {
                row.cells[1].innerHTML = LastName + FirstName;
            }
            if (IsSyncpod == true) {

                OrderNo = row.cells[3].innerHTML;
                OrderNo = OrderNo + '<img src="../Content/themes/base/images/syncpod_order_icon.png"/>';
                row.cells[3].innerHTML = OrderNo;
            }
            else if (OrderType == 2 || OrderType == 3) {
                OrderNo = row.cells[3].innerHTML;
                OrderNo = OrderNo + '<img src="../Content/themes/base/images/APIcircle.png" title="API Order" alt="API"/>';
                row.cells[3].innerHTML = OrderNo;
            }


            if (dataItem.IsViewed == false) {
                row.cells[0].style.background = '#ffffdd';
            }

            if (IsSubmitted == false && OrderType == 2 && OrderStatus != 2) {

                row.cells[cellno].innerHTML = "<input type='button' id='" + OrderId + "' value='Submit' class='sbmtbtn'  /><input type='button' id='" + OrderId + "' value='Review' class='downloadbtn'  />";


            }
            else {

                if (Status == 'In Review_0' || Status == 'In Review_1') {
                    // add code for split in review check 
                    var splitword_0 = Status.split('_');
                    var Status = splitword_0[0];
                    var rowvalue = row.cells[cellno].innerHTML.split('_')
                    row.cells[cellno].innerHTML = rowvalue[0]

                }


                if (Status == 'In Review' || Status == 'Pending' || Status == 'Incomplete') {
                    if (Status == 'In Review' || Status == 'Pending')
                    {
                        row.cells[0].style.ffffdd = '#ddffaa';
                        if (Status == 'In Review')
                        {
                            if (splitword_0[1] == '1') {
                                // add purple color in review 

                                row.cells[cellno].innerHTML = '<span style="background-color: purple; color: white;padding: 1px 4px;border-radius: 3px;">' + row.cells[cellno].innerHTML + '</span>' + ' <input type="button"  id=' + OrderId + ' value="No Response" class="btn btn-default" onclick="UpdateReportReviewToNoResponse(this.id)" />  <input type="button" id=' + OrderId + ' onclick="UpdateReportReviewStatus1(this.id)" value="Complete" class="btn btn-default" />'



                            }
                            else {
                                row.cells[cellno].innerHTML = '<span class="InReview">' + row.cells[cellno].innerHTML + '</span>' + ' <input type="button"  id=' + OrderId + ' value="No Response" class="btn btn-default" onclick="UpdateReportReviewToNoResponse(this.id)" />  <input type="button" id=' + OrderId + ' onclick="UpdateReportReviewStatus1(this.id)" value="Complete" class="btn btn-default" />'

                            }
                        }
                        else {
                            row.cells[cellno].innerHTML = '<span class="Pending">' + row.cells[cellno].innerHTML + '</span>' + ' <input type="button"  id=' + OrderId + ' value="No Response" class="btn btn-default" onclick="UpdateReportReviewToNoResponse(this.id)" />  <input type="button" id=' + OrderId + ' onclick="UpdateReportReviewStatus1(this.id)" value="Complete" class="btn btn-default"/>'
                        }
                    }
                    else if (Status == 'Complete *') {
                        row.cells[cellno].innerHTML = '<span class="InReview">' + row.cells[cellno].innerHTML + '</span>'
                    }
                    else {
                        row.cells[cellno].innerHTML = '<span class="InComplete">' + row.cells[cellno].innerHTML + '</span>'
                    }
                    //row.cells[cellno].style.background = '#0b55c4';
                }
                else {


                    row.cells[cellno].innerHTML = '<span class="Completed">' + row.cells[cellno].innerHTML + '</span>'
                }
            }
            //var CodeImage = '';
            //var CodeString = row.cells[5].innerHTML;
            //var PCodeArray = CodeString.split(',');

            //for (num = 0; num < PCodeArray.length; num++) {

            //if (num > 0) {
            //CodeImage += ", ";
            //}
            //var PCode = PCodeArray[num].split('_')
            // CodeImage += PCode[0];


            //if (PCode[1] == 1) {
            //CodeImage += '<img src="../Content/themes/base/images/LiveRunnerSmallLogo.png" height="11px" width="11px"/>';
            //}
            //}

            //if (CodeImage.length > 0) {
            // CodeImage = CodeImage.substring(0, CodeImage.length - 2);
            //}
            //row.cells[5].innerHTML = CodeImage;
            GridEffect("kendoGrid1", dataItem)
        }
    }



    function UpdateReportReviewStatus1(Orderid) {

        var pkorderid = Orderid;

        $.post('@Url.Action("UpdateReviewReport", "Control")', { OrderId: pkorderid }, function (data) {
            if (data == 0) {//INT-114 "Complete" button on Emerge Review View Report Page (Admin)
                alert("Report has been completed.");
                window.location.href = window.location.href;
            }
            else {
                alert("Report has not been completed.");
                return false;
            }
        });
    }

    function UpdateReportReviewToNoResponse(OrderId) {
        $.post('@Url.Action("UpdateReviewReportToNoResponse", "Control")', { OrderId: OrderId }, function (data) {
        window.location.href = window.location.href;

    });
}


function BindReviewGrid(ChangedCompany, Report) {

    var Keyword = $('#Keyword').val();
    var pkOrderDateId = $('#pkOrderDateId').val();
    var pkProductApplicationId = $('#pkProductApplicationId').val();
    var pkCompanyId = $('#pkCompanyId').val();
    var LocationId = $('#LocationId').val();
    var CompanyUserId = $('#CompanyUserId').val();
    var TrackingReferenceCode = $('#pkReferenceCodeId').val();

    var Month = $('#Month').val();
    var Year = $('#Year').val();
    var txtSpecificDate = $('#txtSpecificDate').val();
    var txtSpecificFrom = $('#txtSpecificFrom').val();
    var txtSpecificTo = $('#txtSpecificTo').val();
    var value = $("#lblFolder").find('select[id=kendodropdownlist]');
    //    var arrar = $("#kendodropdownlist").val().split("(");
    //    var com_array = arrar[0].replace(/\s/g, '');
    //    switch (com_array) {
    //        case 'All': Report = "AllReports"; break
    //        case 'Read': Report = "ReadReports"; break
    //        case 'Unread': Report = "UnreadReports"; break
    //        case 'Pending': Report = "PendingReports"; break
    //        case 'InReview': Report = "InReviewReports"; break
    //        case 'Incomplete': Report = "IncompleteReports"; break
    //        case 'Submit': Report = "Submitted"; break
    //        case 'Complete': Report = "CompleteReports"; break
    //    }


    var trMonth = document.getElementById("trMonth");
    var trSpecificDate = document.getElementById("trSpecificDate");
    var trSpecificDateRange = document.getElementById("trSpecificDateRange");
    var trSearch = document.getElementById("trSearch");
    var divArchive = document.getElementById("divArchive");
    var divBack = document.getElementById("divBack");
    var hdnIncArchive = $('#hdnIncArchive');
    //var hdnIncArchive = document.getElementById("hdnIncArchive");
    if (Report == "IncompleteReports") {
        divArchive.style.display = 'block';
        divBack.style.display = 'none';
        hdnIncArchive.val('');
    }
    else if (Report == "IncompleteArchive") {
        divArchive.style.display = 'none';
        divBack.style.display = 'block';
        hdnIncArchive.val('IncompleteArchive');
        $('input[name=chkIsIncomplete]').attr('checked', true);
    }
    else if (Report == "Back") {
        divArchive.style.display = 'none';
        divBack.style.display = 'none';
        hdnIncArchive.val('');
        Report = "AllReports";
        $('input[name=chkIsIncomplete]').attr('checked', false);
    }
    else {
        divArchive.style.display = 'none';
    }
    var IncArchive = $('#hdnIncArchive').val();
    if (IncArchive != '') {
        Report = "IncompleteArchive";
    }
    var ShowIncomplete = $('input[name=chkIsIncomplete]').is(':checked')



    if (pkOrderDateId < 4) {
        trMonth.style.display = 'none';
        trSpecificDate.style.display = 'none';
        trSpecificDateRange.style.display = 'none';
        if (trSearch != null) {
            trSearch.style.display = 'none';
        }
        //LoadGrid(pkOrderDateId, pkProductApplicationId, pkCompanyId, Keyword, ChangedCompany, LocationId, CompanyUserId,Month, Year, txtSpecificDate, txtSpecificFrom, txtSpecificTo, Report);
        FilterReviewGrid(pkOrderDateId, pkProductApplicationId, pkCompanyId, Keyword, ChangedCompany, LocationId, CompanyUserId, Month, Year, txtSpecificDate, txtSpecificFrom, txtSpecificTo, Report, ShowIncomplete, TrackingReferenceCode);
    }
    else {
        if (trSearch != null) {
            trSearch.style.display = 'block';
        }

        if (pkOrderDateId == 4) {

            if (trMonth.style.display == 'block') {
                FilterReviewGrid(pkOrderDateId, pkProductApplicationId, pkCompanyId, Keyword, ChangedCompany, LocationId, CompanyUserId, Month, Year, txtSpecificDate, txtSpecificFrom, txtSpecificTo, Report, ShowIncomplete, TrackingReferenceCode);
            }

            trMonth.style.display = 'block';
            trSpecificDate.style.display = 'none';
            trSpecificDateRange.style.display = 'none';

        }
        else if (pkOrderDateId == 5) {

            if (trSpecificDate.style.display == 'block') {
                FilterReviewGrid(pkOrderDateId, pkProductApplicationId, pkCompanyId, Keyword, ChangedCompany, LocationId, CompanyUserId, Month, Year, txtSpecificDate, txtSpecificFrom, txtSpecificTo, Report, ShowIncomplete, TrackingReferenceCode);
            }

            trSpecificDate.style.display = 'block';
            trMonth.style.display = 'none';
            trSpecificDateRange.style.display = 'none';

        }
        else if (pkOrderDateId == 6) {
            if (trSpecificDateRange.style.display == 'block') {
                FilterReviewGrid(pkOrderDateId, pkProductApplicationId, pkCompanyId, Keyword, ChangedCompany, LocationId, CompanyUserId, Month, Year, txtSpecificDate, txtSpecificFrom, txtSpecificTo, Report, ShowIncomplete, TrackingReferenceCode);
            }
            trSpecificDateRange.style.display = 'block';
            trSpecificDate.style.display = 'none';
            trMonth.style.display = 'none';
        }

        //        if (ChangedCompany == -1) {
        //            FilterReviewGrid(pkOrderDateId, pkProductApplicationId, pkCompanyId, Keyword, ChangedCompany, LocationId, CompanyUserId, Month, Year, txtSpecificDate, txtSpecificFrom, txtSpecificTo, Report, ShowIncomplete);
        //        }
    }

    if (ChangedCompany == 1) { //company Changed then bind location dropdown and User dropdown

        $("#LocationId").css("display", "block");
        $.getJSON("../CommonSavedReport/GetCompanyLocationsByCompanyId", { CompanyId: pkCompanyId }, function (data) {
            var LocationId = $("#LocationId");
            LocationId.empty();

            $.each(data, function (index, coll) {
                LocationId.append(
                            $('<option/>')
                                .attr('value', coll.LocationId)
                                .text(coll.DisplayLocation)
                        );
            });
        });
        //        $("#LocationId").kendoDropDownList({

        //            dataTextField: "DisplayLocation",
        //            dataValueField: "LocationId",

        //            dataSource: {


        //                transport: {
        //                    read: {
        //                        url: '../CommonSavedReport/GetCompanyLocationsByCompanyId',
        //                        data: { CompanyId: pkCompanyId },
        //                        type: "POST"
        //                    }
        //                }
        //            }

        //        });

        var Role = $("#Role").val();
        if (Role == 5) {// For Basic Users
            $("#CompanyUserId").css("display", "none");
        }
        else {
            $("#CompanyUserId").css("display", "block");
            $.getJSON("../CommonSavedReport/GetUserAsPerLocation", { CompanyId: pkCompanyId, pkLocationId: LocationId }, function (data) {
                var CompanyUserId = $('#CompanyUserId');
                CompanyUserId.empty();

                $.each(data, function (index, coll) {
                    CompanyUserId.append(
                            $('<option/>')
                                .attr('value', coll.CompanyUserId)
                                .text(coll.UserEmail)
                        );
                });
            });
            //            $("#CompanyUserId").kendoDropDownList({

            //                dataTextField: "UserEmail",
            //                dataValueField: "CompanyUserId",

            //                dataSource: {


            //                    transport: {
            //                        read: {
            //                            url: '../CommonSavedReport/GetUserAsPerLocation',
            //                            data: { CompanyId: pkCompanyId, pkLocationId: LocationId },
            //                            type: "POST"
            //                        }
            //                    }
            //                }

            //            });
        }

        //        $.getJSON("../CommonSavedReport/GetCompanyLocationsByCompanyId", { CompanyId: pkCompanyId }, function (data) {
        //            var LocationId = $("#LocationId");
        //            LocationId.empty();

        //            $.each(data, function (index, coll) {
        //                LocationId.append(
        //                    $('<option/>')
        //                        .attr('value', coll.LocationId)
        //                        .text(coll.DisplayLocation)
        //                );
        //            });
        //        });

        //        $.getJSON("../CommonSavedReport/GetUserAsPerLocation", { CompanyId: pkCompanyId, pkLocationId: LocationId }, function (data) {
        //            var CompanyUserId = $('#CompanyUserId');
        //            CompanyUserId.empty();

        //            $.each(data, function (index, coll) {
        //                CompanyUserId.append(
        //                    $('<option/>')
        //                        .attr('value', coll.CompanyUserId)
        //                        .text(coll.UserEmail)
        //                );
        //            });
        //        });
    }
    if (ChangedCompany == 2) { //If Locaation Changed then bind Users dropdown

        //        $.getJSON("../CommonSavedReport/GetUserAsPerLocation", { CompanyId: pkCompanyId, pkLocationId: LocationId }, function (data) {
        //            var CompanyUserId = $('#CompanyUserId');
        //            CompanyUserId.empty();

        //            $.each(data, function (index, coll) {
        //                CompanyUserId.append(
        //                    $('<option/>')
        //                        .attr('value', coll.CompanyUserId)
        //                        .text(coll.UserEmail)
        //                );
        //            });

        //        });

        var Role = $("#Role").val();
        if (Role == 5) {// For Basic Users
            $("#CompanyUserId").css("display", "none");
        }
        else {

            $("#CompanyUserId").css("display", "block");
            $.getJSON("../CommonSavedReport/GetUserAsPerLocation", { CompanyId: pkCompanyId, pkLocationId: LocationId }, function (data) {
                var CompanyUserId = $('#CompanyUserId');
                CompanyUserId.empty();

                $.each(data, function (index, coll) {
                    CompanyUserId.append(
                            $('<option/>')
                                .attr('value', coll.CompanyUserId)
                                .text(coll.UserEmail)
                        );
                });
            });
            //            $("#CompanyUserId").kendoDropDownList({

            //                dataTextField: "UserEmail",
            //                dataValueField: "CompanyUserId",

            //                dataSource: {


            //                    transport: {
            //                        read: {
            //                            url: '../CommonSavedReport/GetUserAsPerLocation',
            //                            data: { CompanyId: pkCompanyId, pkLocationId: LocationId },
            //                            type: "POST"
            //                        }
            //                    }
            //                }

            //            });
        }
    }
}





function FilterReviewGrid(pkOrderDateId, pkProductApplicationId, pkCompanyId, Keyword, ChangedCompany, LocationId, CompanyUserId,
            Month, Year, txtSpecificDate, txtSpecificFrom, txtSpecificTo, Report, ShowIncomplete, TrackingReferenceCode) {
    var grid = $("#kendoGrid1").data("kendoGrid");


    grid.dataSource.filter([
                                    { field: "pkOrderDateId", operator: "", value: pkOrderDateId },
                                    { field: "pkProductApplicationId", operator: "", value: pkProductApplicationId },
                                    { field: "CompanyUserId", operator: "", value: CompanyUserId },
                                    { field: "pkCompanyId", operator: "", value: pkCompanyId },
                                    { field: "LocationId", operator: "", value: LocationId },
                                    { field: "Keyword", operator: "", value: Keyword },
                                    { field: "Month", operator: "", value: Month },
                                    { field: "Year", operator: "", value: Year },
                                    { field: "txtSpecificDate", operator: "", value: txtSpecificDate },
                                    { field: "txtSpecificFrom", operator: "", value: txtSpecificFrom },
                                    { field: "txtSpecificTo", operator: "", value: txtSpecificTo },
                                    { field: "Report", operator: "", value: Report },
                                    { field: "ChangedCompany", operator: "", value: ChangedCompany },
                                    { field: "ShowIncomplete", operator: "", value: ShowIncomplete },
                                    { field: "TrackingReferenceCode", operator: "", value: TrackingReferenceCode }
    ]
                            );
}





</script>
