﻿@model Emerge.Models.PenalCodeModel
@{
    ViewBag.Title = "Filters";
}

<style type="text/css">
    

    .k-input[type="text"] {
        height: 25px;
    }

    .padding > #toolbar-box {
        border-bottom: 1px solid #ccc;
    }
     input[type="submit"] {
        border: 1px solid #C5C5C5;
    }

    .table_Main {
        margin-bottom: -15%;
        width: 100%;
    }
    .center-application {
        width: 100%;
    }
</style>
@using (Ajax.BeginForm("SaveFilters", "Control", new AjaxOptions { OnSuccess = "GetResults" }))
{
    <div id="content-box" style="margin-top: 51px; margin-bottom: 24px;">
        <div class="padding">
            <div id="toolbar-box" style="background-color: #fff; margin-top: -13px;">
                <div class="toolbar" id="toolbar" style="vertical-align: top">
                    </div>
                    <table width="100%">
                        <tr>
                            <td width="100%">
                                <div class="header" style="padding: 0px 0px 0px 4px; width: 100%">
                                    <i class="filter"></i> Filters
                                </div>
                            </td>
                        </tr>
                    </table>
                <div class="" style="margin-top: -15px;">                    
                    <div id="element-box">
                        @Html.Partial("ProductManagement")
                            <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation" style="display: none;">
                                <tr>
                                    <td align="left" colspan="3">
                                        <table style="margin-left: 3%;">
                                            <tr>
                                                <td>
                                                    <div style="width: 100px; text-align: left;">Keywords :</div>
                                                </td>
                                                <td>
                                                    <input type="hidden" value="@Model.Keywords" name="checkfield" />
                                                    @Html.TextAreaFor(m => m.Keywords, new { @name = "keywords", @class = "k-textbox", @style = "width:220px; height:30px" })
                                                    @Html.ValidationMessageFor(m => m.Keywords)
                                                </td>

                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <div style="margin-top: 2%; margin-left: 36%;">
                                                        <input type="submit" value="Save" />
                                                    </div>
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>

                                <tr>

                                    <td>
                                        <div style="height: 275px;">
                                        </div>

                                    </td>
                                </tr>

                            </table>
                            <table border="0" style="width: 100%">

                                <tr>
                                    <td align="center">
                                        <div id="divUpdMSG" style="display: none">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <div id="filters">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="clr">
                            </div>
                    </div>
                    <div class="clr">
                    </div>
                </div>

            </div>
            <div class="clr">
            </div>
        </div>
    </div>
}
<script>
    var divMSG = document.getElementById("divMSG");
    function GetResults(Result) {
        if (Result != null) {

            divMSG.style.display = "block";
            divMSG.innerHTML = Result.Message;


        }
    }

    $("#DivComments").hide();
    $("#filters").kendoGrid({
        sortable: true,


        dataSource: {
            type: "json",
            serverPaging: true,
            serverSorting: true,
            pageSize: 15,
            transport: {
                read: { url: '@Url.Action("filtersBind", "Control")', dataType: "json", async: true }
            },
            schema: {
                data: "Products", total: "TotalCount",
                model: {
                    fields: {
                        NewAccountCreatedDate: { type: "date" }
                    }
                }
            }

        },
        height: 402,
        scrollable: {
            virtual: true
        },
        sortable: true,
        columns: [

         { field: "FilterName", title: "Filter Name", width: "18%", margin: "10px 0px 10px" },
         { field: "ReportType", title: "Report Types", width: "17%" },
        //               { field: "States", title: "States", width: "10%" },
        //               { field: "Counties", title: "Counties", width: "8%" },
           { field: "Coundition1", title: "If", width: "28%" },
           { field: "Coundition2", title: "Then", width: "13%" },
           { field: "Users", title: "Users", width: "15%" },
          { field: "Packages", title: "Packages", width: "7%", template: '<input class="css-checkbox" disabled="disabled" type="checkbox" #= Packages ? "checked=checked" : "" #  ></input> <label class="css-label"></label>' },
          { field: "Enabled", title: "Enabled", width: "7%", template: '<input class="css-checkbox"  disabled="disabled" type="checkbox" #= Enabled ? "checked=checked" : "" #  ></input></input> <label class="css-label"></label>' },
            { field: "fkFilterId", title: "Action", width: "7%", template: "<input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/edit.png")' + " id='imgEdit_#=fkFilterId#' value='#=fkFilterId#' style='width:15; height:18px' title='Edit' onclick='UpdateFilter(\"#=fkFilterId#\")'  /> " },


            ],
        editable: "inline",
        dataBound: function () {

            var gridHeaderRows = $("#filters tbody th");
            var gridRows = $("#filters tbody tr");
            var takeGrid = $("#filters").data("kendoGrid");
            var length = gridRows.length;



            for (i = 0; i < length; i++) {

                var dataItem = takeGrid.dataItem(gridRows[i]);
                var row = gridRows[i];
                var Report_Type = dataItem.ReportType;
                var Coundition2 = dataItem.Coundition2;
                var Coundition1 = dataItem.Coundition1;
                var ReportType = Report_Type.replace(/,/g, ', ')
                row.cells[1].innerHTML = ReportType;
                row.cells[2].innerHTML = Coundition1;
                row.cells[3].innerHTML = Coundition2;
                GridEffect("filters", dataItem)

            }


        }

    }).find("th").addClass("centeralign");

          function UpdateFilter(filterid) {
              self.location = "UpdateFilters?_a=" + filterid;
          }








</script>
