﻿@model Emerge.Models.MyFormModel
@{
    ViewBag.Title = "Forms";
    <link href="@Url.Content("~/Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.2.712/telerik.windows7.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.2.712/telerik.windows7.min.css")" rel="stylesheet" type="text/css" />
}

<style type="text/css">
    #tabsDemo1 a {
        background: transparent none repeat scroll 0 0 !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #666 !important;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px !important;
        padding: 9px 15px !important;
    }

    #tabsDemo1 > li:nth-child(n+2) a {
        margin-left: -7px !important;
    }
    .UploadBtn
    {
    background-image: url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "addDocBtn.png")');
    width: 128px;
    height: 35px;
    background-position: 0;
    background-repeat: no-repeat;
    border:0;
    text-decoration:none;
    background-color: #FAFAFA;
    }
    .CountinueBtn
    {
        background-image: url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "BtnCountinue.jpg")');
        height: 24px;
        width: 78px;
        background-repeat: no-repeat;
    }
    .k-input[type="text"]
    {
        height: 25px;
    }
    input[type="submit"] {
    border: 1px solid #C5C5C5;
}
.table_Main {
    margin-bottom: -15%;
    width: 100%;
}

.Center_ImgMVC {
background-color: #CCC;
padding: 0px;
border: 1px solid #979797;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
background-image: url("../Content/textures/highlight.png");
background-position: 0 center;
background-position-y: center;
}
 .w
    {
        color: #FFFFFF;
    }
    .k-input[type="text"]
    {
        height: 25px;
        width: 96%;
    }
    .selctone
    {
    }
    .selctoneOption
    {
    }
   .ReportLeft {
border-left: 1px solid #C5C5C5;
border-right: 1px solid #C5C5C5;
border-bottom: 1px solid #C5C5C5;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}
    .AddNew
    {
        width: 71px;
        background-image: url("../Content/themes/base/images/addNew.png");
    }
    input[type="submit"]
    {
        border: 1px solid #C5C5C5;
    }
    .EditDel
    {
        height: 24px;
        width: 75px;
        padding: 0 7px 1px;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        background-color: #e6e6e6;
        background-image: url("../Content/textures/highlight.png");
        background-position: 0 center;
        background-position-y: center;
    }

    .DeleteForm
    {   
        background-image: url("../Content/themes/base/images/delete.png");        
        width: 25px;
        height: 25px;
        background-position: center top;
    }
    .EditForm
    {   
        background-image: url("../Content/themes/base/images/edit.png");        
        width: 25px;
        height: 25px;
        background-position: center top;
    }


    .k-colorpicker-popup .k-item div {
    float:left;
    width:12px;
    height:12px;
    }
    .power_by
    {
    float:right;
    margin-top:6px;
    }
    .newfature
    {
     float:left;
     font-family:arial;
     font-size:16px;
     color:#fff;
    margin-top:.1%;
    font-weight:bold;
    
    }
div#colorpicker
{
    width: 191px;
    height: 164px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom:0;
    padding-right:0;
    position: absolute;
    top: 22px;
    left: 0px;
    background-color: #EEE;
    border: 1px solid #BBB;
    display: none;
    z-index: 200;
}
div#colorpicker div
{
    float: left;
    padding:0;
}
div#colorpicker div.clear
{
    float: none;
    clear: both;
    border: 0;
    overflow:hidden;
    height:0;
    font-size:0;
}
        
div#colorpicker div#colorContainer
{
    float: left;
    border:0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}
div#colorContainer div
{
    border:0;
    border-top: solid 1px black;
    border-left: solid 1px black;
    width:9px;
    height:9px;
    overflow:hidden;/*for IE6*/
}
div#colorpicker div#hexBox, div#colorpicker div#bgBox
{
    border: 1px solid #999;
    font: normal 9px verdana;
    height: 16px;
    margin-bottom: 4px;
}
div#colorpicker div#hexBox
{
    width: 60px;
    padding-left: 3px;
    color: Black;
    line-height: 16px;
}
div#colorpicker div#bgBox
{
    width: 110px;
    margin-left: 4px;
    clear: right;
}

div.transChooser
{
    background:  transparent url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "transChooser.gif")');
}     
span.colorChooser
{
    width: 37px;
    height: 20px;
    background:   transparent url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "colorChooser.gif")');
    margin-left: 1px;
    margin-bottom: 4px;
    position: relative;
    display: inline-block;
    overflow: visible;
    vertical-align: middle;
    z-index:1;
}     
 
 .AdminAddInformation {
    background-color:transparent; 
    width: 100%;
}
div.header1 { 
    cursor:default; 
}
.descriptionclass
{
margin-left:6%;
}
.viewclass
{
margin-left:8%;
}
    input   {
    background:none;
    }
</style>

<div id="content-box" class="manage-space cntbx-style">
    <div class="padding">

        <div id="element-box">
            @*<div class="t">
                    <div class="t">
                        <div class="t">
                        </div>
                    </div>
                </div>*@
            <div class="">
                @Html.Partial("ContentManagement")
                @*<div style="text-align: center; padding-bottom: 2%;">
                        <div id="divSettinngMsg" style="display: none">
                        </div>

                    </div>*@
			
                <div id="element-box" style="margin-top: 15px; padding-top: 1px;">
                    <div class="">
					<div class="header icon-48-categories heading-style">
                       <div class="col-sm-4"> <img class="image-position" src="../Content/themes/base/images/ControlPanel/images/header/forms.png">

                        Forms</div>
                        <div class="col-sm-4">
                        
                             <div id="successMsg" style="text-align: center; display: none;"><span class='successmsg' style="color:#fff;"></span></div>
                            <div id="errorMsg" style="text-align: center; display: none;"><span class='successmsg'  style="color:#fff;"></span></div></div>
                        <div class="col-sm-4">
                        <div class="toolbar" id="toolbar">
                            <table class="toolbar">
                                <tr>
                                    <td></td>
                                    <td>
                                        @*<img class="imgCommon" src="@Url.Content("~/Content/themes/base/images/icon-32-back.png")" title="Back to locations"
                                             onclick="history.back();" alt="Back" style="margin-top: -22px;" />*@
                                        <button onclick="history.back();" class="btn btn-default" style="margin-top: -22px;" title="Back to locations">Back </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                     
                        <button onclick="AddForm()" class="btn btn-default" style="margin-top: 12px; float: right;" >Add Documents </button>
</div>
                    </div>
                        @*<div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                                Forms
                            </div>*@
                        <div id="DivUsers" class="expand">
                           
                            <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation">
                                <tr>
                                    <td>
                                        <table cellspacing="2" cellpadding="2" width="100%" style="height: auto;"
                                               class="form-grid-head">
                                            <tr>
                                                <td style="width: 25%;">
                                                    Title
                                                </td>
                                                <td style="width: 50%;">
                                                    <div class="descriptionclass">Description</div>
                                                </td>
                                                <td style="width: 12.5%; text-align: center;">
                                                    View
                                                </td>
                                                <td style="width: 12.5%; text-align: center;">
                                                    Action
                                                </td>
                                            </tr>
                                        </table>
                                        <form>
                                            <div class="ReportLeft">
                                                @for (int i = 0; i < Model.Collection.Count; i++)
                                                {
                                                    string color = "#f5f5f5";
                                                    if (i % 2 == 0)
                                                    {
                                                        color = "white";
                                                    }
                                                    <div style="background-color:@color">

                                                        <table cellspacing="0" cellpadding="0" width="100%" class="form-grid-tbody">
                                                            <tr>
                                                                <td style="width: 25%;">
                                                                    <input type="text" id="Title_@i" style="width:100%" name="Title_@i" class="k-textbox valid" required="" validationmessage="Please enter title" value="@Model.Collection.ElementAt(i).Title" />
                                                                </td>
                                                                <td style="width: 50%;">
                                                                    <div class="descriptionclass">
                                                                        <input type="text" id="Description_@i" style="width:100%" name="description_@i" class="k-textbox valid" required="" validationmessage="*" value="@Model.Collection.ElementAt(i).Description">
                                                                    </div>
                                                                </td>
                                                                <td style="width: 12.5%; text-align: center;">
                                                                    <a href="DownloadMyForms/?FPathTitle=@Model.Collection.ElementAt(i).Path"><img alt="Download" type="image" src="../Design2/Img/download.png" id="@i" /></a>
                                                                </td>
                                                                <td style="width: 12.5%; text-align: center;">
                                                                    <input type="hidden" name="Path_@i" id="Path_@i" value="@Model.Collection.ElementAt(i).Path" />
                                                                    <input type="text" name="EditCheckF_@i" id="EditCheckF_@i" style="display:none;" />
                                                                    <input type="text" id="FormId_@i" name="FormId_@i" style="display:none;" value="@Model.Collection.ElementAt(i).pkformId" />
                                                                    <input id="EditF_@i" onclick="CheckEditValidation(this.id);"  value="" title="Edit" class="EditForm" style="cursor: pointer; border: none; height: 21px; width: 21px;" />
                                                                    &nbsp;&nbsp;
                                                                    <input id="DeleteF_@i" onclick="CheckDeleteValidation(this.id);"  value="" title="Delete" class="DeleteForm" style="cursor: pointer; border: none; height: 21px; width: 21px;" />
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </div>

                                                }
                                                <table id="tblValidate" cellspacing="2" cellpadding="2" width="100%">
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="clr">
                        </div>
                    </div>

                    <div class="clr">
                    </div>
                    <div class="m" style="margin-top: 10px;">
                        <div class="header icon-48-categories heading-style">
                            <div class="col-sm-4"><img class="image-position" src="../Content/themes/base/images/ControlPanel/images/header/custom-forms.png">

                            Custom Forms</div>
                            <div class="col-sm-4"><div id="successMsg1" style="text-align: center; display: none;"><span class='successmsg' style="color:#fff;"></span></div></div>
                        </div>
                        <div id="DivUsers1" class="expand margint10">                            
                            <table cellpadding="0" cellspacing="0" width="100%" class="AdminAddInformation">
                                <tr>
                                    <td>
                                        <table cellspacing="2" cellpadding="2" width="100%" style="height: auto;"
                                               class="form-grid-head">
                                            <tr>
                                                <td style="width: 25%;">
                                                    Title
                                                </td>
                                                <td style="width: 50%;">
                                                    <div class="descriptionclass">Description</div>
                                                </td>
                                                <td style="width: 12.5%; text-align: center;">
                                                    View
                                                </td>
                                                <td style="width: 12.5%; text-align: center;">
                                                    Action
                                                </td>
                                            </tr>
                                        </table>
                                        <form>
                                            <div class="ReportLeft">
                                                @for (int i = 0; i < Model.CustomFormCollection.Count; i++)
                                                {
                                                    string color = "#f5f5f5";
                                                    if (i % 2 == 0)
                                                    {
                                                        color = "white";
                                                    }
                                                    <div style="background-color:@color">

                                                        <table cellspacing="0" cellpadding="0" width="100%" class="form-grid-tbody">
                                                            <tr style="height: 25px;">
                                                                <td style="width: 25%;">
                                                                    <input type="text" id="Title_@i@i" style="width:100%" name="Title_@i@i" class="k-textbox valid" required="" validationmessage="Please enter title" value="@Model.CustomFormCollection.ElementAt(i).Title" />
                                                                </td>
                                                                <td style="width: 50%;">
                                                                    <div class="descriptionclass">
                                                                        <input type="text" id="Description_@i@i" style="width:100%" name="description_@i@i" class="k-textbox valid" required="" validationmessage="*" value="@Model.CustomFormCollection.ElementAt(i).Description">
                                                                    </div>
                                                                </td>
                                                                <td style="width: 12.5%; text-align: center;">
                                                                    <a href="DownloadCustomForms/?FPathTitle=@Model.CustomFormCollection.ElementAt(i).Path"><img alt="Download" type="image" src="../Design2/Img/download.png" id="@i" /></a>
                                                                </td>
                                                                <td style="width: 12.5%; text-align: center;">
                                                                    <input type="hidden" name="Path_@i@i" id="Path_@i@i" value="@Model.CustomFormCollection.ElementAt(i).Path" />
                                                                    <input type="text" name="EditCheckCF_@i@i" id="EditCheckCF_@i@i" style="display:none;" />
                                                                    @*<input type="text" id="FormId_@i@i" name="FormId_@i@i" style="display:block;" value="@Model.CustomFormCollection.ElementAt(i).PkCustomFormId"/>*@
                                                                    <input type="hidden" id="CustomFormId_@i@i" name="FormId_@i@i" style="display:block;" value="@Model.CustomFormCollection.ElementAt(i).PkCustomFormId" />

                                                                    <input id="EditCF_@i@i" onclick="CheckEditValidation(this.id);"  value="" title="Edit" class="EditForm" style="cursor:pointer;border:none;height:21px;width:21px;" />
                                                                    &nbsp;&nbsp;
                                                                    <input id="DeleteCF_@i@i" onclick="CheckDeleteValidation(this.id);" value="" title="Delete" class="DeleteForm" style="cursor: pointer; border: none; height: 21px; width: 21px;" />
                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </div>

                                                }
                                                <table id="tblValidate1" cellspacing="2" cellpadding="2" width="100%">
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="DivForm" style="visibility: hidden; display: none;">
    @using (Html.BeginForm("SaveFormDetails", "Control", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table width="100%" border="0" style="background-color: #ffffff; display: block;padding-left: 45px;" >
            <tr>
                <td align="left" colspan="2" style="font-weight: bold">
                    Please upload the my forms. The my Forms must be in PDF / Doc format.
                </td>
            </tr>
            <tr>
              <td colspan="2" style="height:5px;"></td>
            </tr>
            <tr>
                <td width="32%" style="text-align:right;">
                    Description : 
                </td>
                <td style="text-align:left;padding-left:2px;">                  
                    @Html.TextBoxFor(m => m.CustomFormDescription)
                    @Html.ValidationMessageFor(m => m.CustomFormDescription)
                </td>
            </tr>
            <tr>
              <td colspan="2" style="height:5px;"></td>
            </tr>
            <tr>

                <td style="text-align:right;">
                    Document Title : 
                </td>
                <td style="text-align:left;padding-left:2px;">                    
                    <input type="hidden" value="Forms" name="txtDocumentTitle1" id="txtDocumentTitle1" />
                    <input type="text" value="Forms" name="txtDocumentName1" id="txtDocumentName1" />
                </td>
            </tr>
             <tr>
              <td colspan="2" style="height:5px;"></td>
            </tr>
         <tr>
              <td style="text-align:right;vertical-align:top;">Upload Document : </td>
                <td style="text-align:left;vertical-align:top;padding-left:2px;">                    
                    @Html.TextBoxFor(m => m.PDFfileName, new { type = "file" })
                    @Html.ValidationMessageFor(m => m.PDFfileName)
                </td>
            </tr>
            <tr>
              <td colspan="2" style="height:5px;"></td>
            </tr>
            <tr>
            <td></td>
                <td>
                    <input type="submit" value="Continue" class="btn btn-primary" />
                </td>
            </tr>
        </table>        
    }
</div>

<script>
    function AddForm() {
        document.getElementById("DivForm").style.visibility = "visible";
        document.getElementById("DivForm").style.display = "block";

        var windowOpen = $("#DivForm").kendoWindow({
            actions: ["Close"],
            draggable: true,
            modal: true,
            resizable: true,
            title: "Upload My Form",
            height: "185px",
            width: "600px"

        }).data("kendoWindow");

        windowOpen.center();
        windowOpen.open();
        $('#txtDocumentName1').attr("disabled", true);
        $('#txtDocumentName1').val("My Form");
    }

    function CheckEditValidation(Formid) {
        
        var no = Formid.split('_')[1];
        var CheckAction = Formid.split('_')[0];
        if (CheckAction == "EditF") {
            var id = document.getElementById("FormId_" + no).value;
            var Title = document.getElementById("Title_" + no).value;
            var Description = document.getElementById("Description_" + no).value;
            //document.getElementById("EditCheckF_" + no).value = "EditCheckF";
        }
        else if (CheckAction == "EditCF") {
            var id = document.getElementById("CustomFormId_" + no).value;
            var Title = document.getElementById("Title_" + no).value;
            var Description = document.getElementById("Description_" + no).value;
            //document.getElementById("EditCheckCF_" + no).value = "EditCheckCF";
        }
        DisplayMessage(Title, Description);

        var dt = { id: id, title: Title, descritption: Description, action: CheckAction }

        $.ajax({
            url: "../Control/EditFormOrCustomForm",
            type: "POST",
            data: JSON.stringify(dt),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result.action == "EditF") {
                    $("#successMsg").css('display', 'block');
                    $(".successmsg").html(result.Msg);
                }
                else {
                    $("#successMsg1").css('display', 'block');
                    $(".successmsg").html(result.Msg);
                }

                window.location = "Forms";
            },
            error: function (responseText, ab, jh) {

                console.log(responseText.status + ' - ' + ab + ' - ' + jh);
            }
        });
    }

    function CheckDeleteValidation(Formid) {
        
        var no = Formid.split('_')[1];
        var CheckAction = Formid.split('_')[0];
        if (CheckAction == "DeleteF") {
            var id = document.getElementById("FormId_" + no).value;
            var Title = document.getElementById("Title_" + no).value;
            var Description = document.getElementById("Description_" + no).value;
        }
        else if (CheckAction == "DeleteCF") {
            var id = document.getElementById("CustomFormId_" + no).value;
            var Title = document.getElementById("Title_" + no).value;
            var Description = document.getElementById("Description_" + no).value;
        }
        var dt = { id: id, action: CheckAction }

        if (confirm("Are you sure to delete Documents?")) {
            $.ajax({
                url: "../Control/DeleteFormOrCustomForm",
                type: "POST",
                data: JSON.stringify(dt),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log(result.Msg);
                    if (result.action == "DeleteF") {
                        $("#successMsg").css('display', 'block');
                        $(".successmsg").html(result.Msg);
                    }
                    else {
                        $("#successMsg1").css('display', 'block');
                        $(".successmsg").html(result.Msg);
                    }
                    window.location = "Forms";
                },
                error: function (responseText, ab, jh) {

                    console.log(responseText.status + ' - ' + ab + ' - ' + jh);
                }
            });
        }
        else {
            return false;
        }
    }


    function DisplayMessage(Title, Description) {
        var Msg = '';
        if (Title == '') {
            Msg = "Please enter title";
        }
        if (Description == '') {
            Msg += "\nPlease enter description";
        }


        if (Msg == '') {
            return true;
        }
        else {
            alert(Msg);
            return false;
        }
    }


</script>
