﻿@model Emerge.Models.CompanyModel
@{
    ViewBag.Title = "GetAllUsers";
}

@using (Ajax.BeginForm("GetAllUsers", "Control", null, new AjaxOptions() { }))
{
          <div style="height: 20px">
        </div>
     <div style="border-bottom-style:ridge; border-top-style:ridge; border-left-style:ridge; border-right-style:ridge;-moz-border-radius: 10px;-webkit-border-radius: 10px; border-radius: 10px;border: 1px solid;">  
    <div style="height: 5px">
        <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/header/icon-48-user.png")" style="margin-left: 10px" />
       <span style="font-family: Arial; font-size: x-large; color: #1d4fa5; margin-left: 10px">
            Users</span>
    </div>
    <div style="margin-left: 1160px; border: 2px">
        <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-add.png")"  onclick="AddUser();" />
        <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-publish.png")"
            onclick="EnableCmpny(this)" id="#=pkCompanyId1#" class="chkunchk" />
        <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-publish_delete.png")"
            onclick="DisableCmpny(this)" id="#=pkCompanyUserId#" class="chkunchk" />
        <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-delete.png")" />
        <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-back.png")" /></div>
        </div>
    <div style="margin-top:7px"></div>
       <div style="border-bottom-style:ridge; border-top-style:ridge; border-left-style:ridge; border-right-style:ridge;-moz-border-radius: 10px;-webkit-border-radius: 10px; border-radius: 10px;border: 1px solid;">  
    <div style="margin-left: 1200px; margin-top:3px">
        @*@Html.DropDownListFor(m => m.pkCompanyTypeId, new SelectList(Model.GetConpanyType, "pkCompanyTypeId", "CompanyType"), "Select", new { @id = "pkCompanyTypeId", style = "width:100px" })*@
        @Html.DropDownListFor(m => m.pkLocationId, new SelectList(Model.GetLocation, "pkLocationId", "City"), "Select", new { @id = "pkLocationId" })
        </div>
    
      <div style="margin-left: 1277px; margin-top:5px">
        @Html.DropDownListFor(x => x.Country, new SelectList(Model.CountryName, "value", "text"), "Select", new { @name = "country", @id = "country", style = "width:100px;" })
    </div>
    <div style="margin-top: 15px;"></div>
    <div id="grid"></div>
    <div style="margin-top: 10px;"></div>
    </div> 
}



<script>

   
    function EnableCmpny(t) {
        alert("hello");
        var test = '';
        $(".chkunchk").each(function () {
          // alert($(this).attr("id"));
            if ($(this).attr("checked") == true) {
              var test2 = $(this).attr("id");
                //alert(test2);
                test = test + "#" + test2;
            }
            alert(test);
        });
        $.post('@Url.Action("UpdateEnableUser", "Control")', { pkid: test }, function (data) { });

        var CompaniesGrid = $("#grid").data("kendoGrid");
        CompaniesGrid.dataSource.read();
        CompaniesGrid.refresh();
    }


    function DisableCmpny(t) {
        alert("hello");
        var test = '';
        $(".chkunchk").each(function () {
           
         if ($(this).attr("checked") == true) {

            var test2 = $(this).attr("id");

            test = test + "#" + test2;
             }
            alert(test);
        });
        $.post('@Url.Action("UpdateDisableUser", "Control")', { pkid: test }, function (data) { });

        var CompaniesGrid = $("#grid").data("kendoGrid");
        CompaniesGrid.dataSource.read();
        CompaniesGrid.refresh();
    }


    function tickUntick(t) {
        //alert($(t).attr("checked"));
        $(".chkunchk").each(function () {
           // alert($(this).attr("id"));
            
            if ($(t).attr("checked") == true) {
           // alert('1');
                $(this).attr("checked", "checked");
            }
            else {
              //  alert('2');
                $(this).attr("checked", "");
            }
        });
    }
     function AddUser() {
     var CompanyId = 0;
      self.location = "AddCompanyUser?_c=" + CompanyId;
   
    }
    

    function UpdateUser(pkCompanyUserId, CompanyId) {
      self.location = "AddCompanyUser?_a=" + pkCompanyUserId + "&_c=" + CompanyId;
   
    }



    $("#grid").kendoGrid({
        sortable: true,
        pageable: true,
        scrollable: false,
        navigatable: true,
        columns: [
           { field: "Isenabled", width: 300, title: "<input id='chk' type='checkbox' onclick='tickUntick(this)' # />", width: 30, template: '<input type="checkbox" id="#=pkCompanyUserId#" class="chkunchk" "checked=checked" : "" />',sortable: false, },
            { field: "UserName", title: "Name", width: 100 },                                                                            //<input type="checkbox" id="#=pkCompanyUserId#" class="chkunchk" "checked=checked" : "" />  <input id="#=pkCompanyUserId#" class="chkunchk" type="checkbox" />
            { field: "Email", title: "Email/UserName", width: 30 },
            { field: "UserRole", title: "User Type", width: 100 },
            { field: "CompanyName", title: "Company", width: 220 },
           { field: "City", title: "Location", width: 80 },
            { field: "IsEnabledUser", title: "Active", width: 10, template: '#  if (IsEnabledUser==true) {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/tick.png")" id="mainimage" value="#=IsEnabledUser#"/> #} else {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/publish_x.png")" id="mainimage2" value="#=IsEnabledUser#"/> #} #' },
            { field: "pkCompanyUserId", title: "Action", width: 100, template: "<input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/edit.png")'+ " id='imgEdit_#=pkCompanyUserId#' value='#=pkCompanyUserId#' style='width:15; height:18px' onclick='UpdateUser(\"#=pkCompanyUserId#\",\"#=pkCompanyId#\")'  /> <input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/delete.png")' + " id='imgDelete_#=pkCompanyUserId#' value='#=pkCompanyUserId#' style='width:15px; height:18px' />" },
           ],
        editable: false, // enable editing
        // detailTemplate: kendo.template($("#template").html()),
        // detailInit: detailInit,
      //  dataBound: function () { },

        toolbar: ["save"], // specify toolbar commands
        dataSource: {
           page:1,
            pageSize: 10,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,

            schema: {
                data: "Reclist",
                total: "TotalRec"
            },

            batch: true,
            transport: {
                create: {
                    url: '@Url.Action("Create", "Control")',
                    type: "POST"
                },
                read: {
                    url: '@Url.Action("GetAllEmergeUser", "Control")',
                    // data: { pkid: id, stats: Status },
                    type: "POST"
                },

                update: {
                    url: '@Url.Action("UpdateStateFee", "Control")',
                    type: "POST"
                }

            }

        }

    });

    


</script>
<script>
   // document.getElementById('tdAdmin').style.display = 'none';


    
</script>
<style scoped="scoped">
    .chkunchk
    {
    }
    #grid .k-toolbar
    {
        min-height: 27px;
    }
    .companytype-label
    {
        vertical-align: middle;
        padding-right: .5em;
    }
    #companytype
    {
        vertical-align: middle;
    }
    .companystatus-label
    {
        vertical-align: middle;
        padding-right: .5em;
    }
    #companystatus
    {
        vertical-align: middle;
    }
    .toolbar
    {
        float: right;
        margin-right: .8em;
    }
    .company-details ul
    {
        list-style: none;
        font-style: italic;
        margin-bottom: 20px;
    }
    
    .company-details label
    {
        display: inline-block;
        width: 90px;
        font-style: normal;
        font-weight: bold;
    }
    
    .location-details ul
    {
        list-style: none;
        font-style: italic;
        margin-bottom: 20px;
    }
    
    .location-details label
    {
        display: inline-block;
        width: 90px;
        font-style: normal;
        font-weight: bold;
    }
</style>
