﻿@model Emerge.Models.CompanyModel
@{
    ViewBag.Title = "Locations List";
}
<style type="text/css">
    .st_inactive
    {
        background-color: #7c7b7b;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
       
    }
    .btn.btn-default.margint1.disable {
        margin-top: 0 !important;
    }
    .st_active
    {
        background-color: #059a02;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_locked
    {
        background-color: #ff6600;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_pastdue
    {
        background-color: #990099;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_incollections
    {
        background-color: #000000;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .k-grid .centeralign
    {
        text-align: left;
    }
    .top-btn-strip {
        margin-top: 59px;
        background-color: rgb(248, 248, 248);
        height: 59px;
        border-bottom: 1px solid rgb(204, 204, 204);
      
    }
    .margint1 {
        margin-top: 1px;
    }
    .hori-btns {
        width: 100% !important;
    }
    .AdminAddInformation {
        background-color: #fff !important;
    }
    .k-detail-row:hover {
    background: transparent none repeat scroll 0 0 !important;
}
</style>
<div id="content-box">
    <div class="buttons-bar">
    <div class="horiz-ch-menu hori-btns top-btn-strip">
      <ul style="float:right;">
        <li>
          <button class="btn btn-default margint1" type="button" title="Back" onclick="history.back();">Back</button>
        </li>
        <li>
          <button class="btn btn-default margint1" type="button" title="Add" onclick="Addlocation()" id="imgadd">New</button>
        </li>
        <li>
          <button class="btn btn-default margint1" type="button" title="Enable" onclick="Enablelocation()" id="imgenable"  >Enable</button>
        </li>
        <li>
          <button class="btn btn-default margint1 disable" type="button" title="Disable" onclick="Disablelocation()" id="imgdisable">Disable</button>
        </li>
        <li>
          <button class="btn btn-danger margint1" type="button" title="Delete"
                                    onclick="return Deletelocation()" id="imgdelete"> Delete </button>
        </li>
      </ul>
    </div>
  </div>




    <div class="padding">
        
       
        <div id="element-box" style="margin-bottom:40px; background-color:#fff;">
          
            <div class="">
                <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation">
                    <tr style="height:60px;">
                        <td style="width: 40%; font-size:14px"; align="left">
                            Showing <span align="center" style="font-size: 14px; width: 60px; font-weight: bold;
                                color: #0b55c4;">
                                <label id="lblTotalRecords">
                                    @Model.TotalRecords
                                </label>
                            </span>records
                        </td>
                        <td style="width: 20%" align="center">
                            <div id="divMSG" style="display: none">
                            </div>
                        </td>
                        <td align="right" style="width: 40%">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td align="left" colspan="3">
                            <div id="Locationgrid">
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="clr">
                </div>
            </div>
            @*<div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>*@
        </div>
        <div class="clr">
        </div>
    </div>
</div>
<script type="text/javascript">


    function Updatelocation(pkLocationId) {

        self.location = 'AddCompanyLocation?lid=' + pkLocationId;

    }

    function DeletelocationbyId(pkLocationId) {
        if (confirm("Are you sure you want to delete this Location?")) {
            $.post('@Url.Action("DeleteLocationById", "Control")', { pkLocationId: pkLocationId }, function (data) { });

            var Locationgrid = $("#Locationgrid").data("kendoGrid");
            Locationgrid.dataSource.read();
            Locationgrid.refresh();
            return true;
        }
        else {
            return false;
        } 
    }

    function Addlocation() {

        self.location = 'AddCompanyLocation';

    }

    function Enablelocation() {
        var LocationIds = '';
        $("#Locationgrid .chkunchk").each(function () {
            if ($(this).attr("checked") == 'checked') {

                var pkLocationId = $(this).attr("id");

                LocationIds = LocationIds + "#" + pkLocationId;
            }

        });
        if (LocationIds == '') {
            alert("Please select at least one Location!");
        }
        else {
            $.post('@Url.Action("EnableLocation", "Control")', { pkLocationIds: LocationIds }, function (data) { });

            var Locationgrid = $("#Locationgrid").data("kendoGrid");
            Locationgrid.dataSource.read();
            Locationgrid.refresh();
        }
    }


    function Disablelocation() {
        var LocationIds = '';
        $("#Locationgrid .chkunchk").each(function () {
            if ($(this).attr("checked") == 'checked') {

                var pkLocationId = $(this).attr("id");

                LocationIds = LocationIds + "#" + pkLocationId;
            }

        });
        if (LocationIds == '') {
            alert("Please select at least one Location!");
        }
        else {
            $.post('@Url.Action("DisableLocation", "Control")', { pkLocationIds: LocationIds }, function (data) { });

            var Locationgrid = $("#Locationgrid").data("kendoGrid");
            Locationgrid.dataSource.read();
            Locationgrid.refresh();
        }
    }

    function Deletelocation() {
        var LocationIds = '';
        $("#Locationgrid .chkunchk").each(function () {
            if ($(this).attr("checked") == 'checked') {

                var pkLocationId = $(this).attr("id");

                LocationIds = LocationIds + "#" + pkLocationId;
            }

        });
        if (LocationIds == '') {
            alert("Please select at least one Location!");
        }
        else {
            if (confirm("Are you sure you want to delete selected Locations?")) {
                $.post('@Url.Action("DeleteLocation", "Control")', { pkLocationIds: LocationIds }, function (data) { });

                var Locationgrid = $("#Locationgrid").data("kendoGrid");
                Locationgrid.dataSource.read();
                Locationgrid.refresh(); return true;
            }
            else {
                return false;
            }
        }
    }

    function selectunselect() {
        $("#Locationgrid .chkunchk").each(function () {
            if (document.getElementById("chk").checked) {
                $(this).prop("checked", true);
            }
            else {
                $(this).prop("checked", false);
            }
        });
    }

    function UpdateUser(pkCompanyUserId, CompanyId) {
        self.location = "AddCompanyUser?_a=" + pkCompanyUserId + "&_c=" + CompanyId;

    }

    function deleteUser(companyserid) {
        if (confirm('Are you sure you want to delete this User?')) {

            $.post('@Url.Action("DeleteUser", "Control")', { companyserid: companyserid }, function (data) { });
            var Locationgrid = $("#Locationgrid").data("kendoGrid");
            Locationgrid.dataSource.read();
            Locationgrid.refresh();
            return true;
        }
        else {
            return false;
        }
    }

    $(document).ready(function () {
        var CompanyId = "7dc87d77-6bb5-4bb3-9837-fa861f36f281";
        var selectList = '<span style="width:500px;text-align:right;float:right;">    Page Size: <select onchange="ChangePageSize(this.value);" style="width:50px;" id="mySelect"><option>25</option><option>50</option><option>100</option></select></span>';
        $("#Locationgrid").kendoGrid({

            sortable: true,
            pageable: true,
            scrollable: false,
            navigatable: true,
            filterable: true,
            columns: [
                       { field: "IsEnabledLocation", width: 300, filterable: false, sortable: false, title: "<input id='chk' class='css-checkbox chk-head-style' type='checkbox' onclick='selectunselect()'# /><label for='chk' class='css-label'></label>", width: 30, template: '#if(pkCompanyId!="' + CompanyId + '" && IsHome==false ){#<input id="#=pkLocationId#" class="chkunchk css-checkbox" type="checkbox" /><label for="#=pkLocationId#" class="css-label"></label>#}else {# <input id="#=pkLocationId#" class="chkunchk css-checkbox" type="checkbox" disabled="disabled" /> <label for="#=pkLocationId#" class="css-label"></label>#} #', sortable: false },
                       { field: "CompanyName", title: "Company", width: 200,
                           filterable: {
                               extra: false, //do not show extra filters
                               operators: { // redefine the string operators
                                   string: {
                                       contains: "Contains",
                                       startswith: "Starts with",
                                       endswith: "Ends with"
                                   }
                               }
                           }
                       },
                       { field: "City", title: "Location", width: 130, template: '<div style="text-align:center;"><div style="float: left ;text-align:left; width:80%">#=City#</div><div style="float: right ;text-align:center; width:18%"># if(pkCompanyId=="' + CompanyId + '" && IsHome==true){#<input type="IMAGE" title="Root Company" SRC="../Content/themes/base/images/small_intel_icon.png" />#}if(pkCompanyId!="' + CompanyId + '" && IsHome==true){#<input title="Home Location" style="cursor:default" type="IMAGE" src="../Content/themes/base/images/Home.png"/>#}#</div></div>',
                           filterable: {
                               extra: false, //do not show extra filters
                               operators: { // redefine the string operators
                                   string: {
                                       contains: "Contains",
                                       startswith: "Starts with",
                                       endswith: "Ends with"
                                   }
                               }
                           }
                       },
                       { field: "CompanyAccountNumber", title: "Account#", width: 80,
                           filterable: {
                               extra: false, //do not show extra filters
                               operators: { // redefine the string operators
                                   string: {
                                       contains: "Contains",
                                       startswith: "Starts with",
                                       endswith: "Ends with"
                                   }
                               }
                           }
                       },
                       { field: "LocationContact", title: "Location Contact", width: 100,
                           filterable: {
                               extra: false, //do not show extra filters
                               operators: { // redefine the string operators
                                   string: {
                                       contains: "Contains",
                                       startswith: "Starts with",
                                       endswith: "Ends with"
                                   }
                               }
                           }
                       },
                       { field: "PhoneNo1", title: "Location #", filterable: false, width: 110 },
                       { field: "TotalUsers", title: "# Of Users", filterable: false, width: 80 },
                       { field: "IsEnabledLocation", title: "Active", filterable: false, width: 50, template: '#  if (IsEnabledLocation==true) {# <input type="IMAGE" style="height:16px;" SRC="@Url.Content("~/Design2/img/status.png")" id="mainimage" value="#=IsEnabledLocation#"/> #} else {# <input type="IMAGE" style="height:16px;" SRC="@Url.Content("~/Design2/img/cross.png")" id="mainimage2" value="#=IsEnabledLocation#"/> #} #' },
                       { field: "StatusText", title: "Status", filterable: false, width: 80, template: "# if(StatusText == 'InActive'){#<span class='milestone default-grey' > IN ACTIVE </span># } else if(StatusText == 'Active'){#<span class='milestone green' > ACTIVE </span>#} else if(StatusText == 'Locked'){#<span class='milestone orange' > LOCKED </span>#} else if(StatusText == 'PastDue'){#<span class='milestone purple' > PAST DUE </span>#}  else if(StatusText == 'InCollections'){#<span class='milestone purple' > IN COLLECTIONS </span>#}#" },
                       { field: "SaleRepInitial", title: "Rep", sortable: false, filterable: false, width: 30, template: '#if(SaleRepInitial!=null){# #=SaleRepInitial# #}#' },
                       { field: "pkLocationId", title: "Action", sortable: false, filterable: false, width: 60, template: '<input type="IMAGE" SRC="@Url.Content("~/Design2/img/edit.png")" id="image1" title="Edit" value="#=pkLocationId#" style="width:15; height:18px" onclick="Updatelocation(this.value)" /> # if(IsHome==false){# <input type="IMAGE" SRC="@Url.Content("~/Design2/img/delete.png")" id="image1" title="Delete" value="#=pkLocationId#" style="width:15px; height:18px" onclick="return DeletelocationbyId(this.value)" /> #} #' },
            ],
            editable: false,
            detailInit: detailInit,
            dataBound: function () {
                var takeTotal = this.dataSource.total();
                $("#lblTotalRecords").html(takeTotal);
                var gridRows = $("#Locationgrid tbody tr");
                var takeGrid = $("#Locationgrid").data("kendoGrid");
                var lengeth = gridRows.length;
                for (i = 0; i < lengeth; i++) {
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var Status = dataItem.StatusText
                    row.cells[9].style.color = 'black';
                    GridEffect("Locationgrid", dataItem)
//                    row.cells[9].style.border = 'solid 1px #94c0d2';
//                    if (Status == 'InActive') {
//                        row.cells[9].style.background = '#7c7b7b';
//                    }
//                    else if (Status == "Active") {
//                        row.cells[9].style.background = '#059a02';
//                    }
//                    else if (Status == "Locked") {
//                        row.cells[9].style.background = '#ff6600';
//                    }
//                    else {
//                        row.cells[9].style.background = '#969DD5';
//                    }
                }
            },
            dataSource: {
                page: 1,
                pageSize: 25,
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,

                schema: {
                    data: "Reclist",
                    total: "TotalRec"
                },
                batch: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetLocation", "Control")',
                        type: "POST"
                    },
                    parameterMap: function (options) {
                        var data = options;
                        if (options.filter) {
                            var filters = options.filter.filters;
                            for (var i = 0; i < filters.length; i++) {
                                data["filters[" + i + "].Field"] = filters[i].field;
                                data["filters[" + i + "].Operator"] = filters[i].operator;
                                data["filters[" + i + "].Value"] = filters[i].value;
                            }
                        }
                        if (options.sort) {
                            for (var i = 0; i < options.sort.length; i++) {
                                data["sort[" + i + "].Field"] = options.sort[i].field;
                                data["sort[" + i + "].Dir"] = options.sort[i].dir;
                            }
                        }
                        return data;
                    }
                }

            }

        }).find("th").addClass("centeralign");

        $(".k-grid-pager").append(selectList);
    });

    function detailInit(e) {
        var fkid = e.data.pkCompanyId;
        var fkloc = e.data.pkLocationId;
        var detailRow = e.detailRow;

        $("<div/>").attr("id", "div_" + fkloc + fkid).appendTo(e.detailCell).kendoGrid({
            scrollable: true,
            sortable: true,
            filterable: false,
            pageable: true,
            columns: [
                            { field: "FirstName", title: "Name", width: 170 },
                            { field: "UserName", title: "UserName" },
                            { field: "UserDisplayRole", title: "User Type" },
                            { field: "IsEnabledUser", title: "Active", template: '#  if (IsEnabledUser==true) {# <input type="IMAGE" style="height:16px;" SRC="@Url.Content("~/Design2/img/status.png")" id="mainimage" value="#=IsEnabledUser#"/> #} else {# <input type="IMAGE" style="height:16px;" SRC="@Url.Content("~/Design2/img/cross.png")" id="mainimage2" value="#=IsEnabledUser#"/> #} #' },
                            { field: "pkCompanyUserId", sortable: false, title: "Action", width: 100, template: "<input type='IMAGE' SRC=" + '@Url.Content("~/Design2/img/edit.png")' + " id='imgEdit_#=pkCompanyUserId#' title='Edit' value='#=pkCompanyUserId#' style='width:21px; height:20px' onclick='UpdateUser(\"#=pkCompanyUserId#\",\"#=pkCompanyId#\")'  />#if(UserRole!='SystemAdmin' && UserRole!='SupportManager' && UserRole!='SupportTechnician' ){#<input type='IMAGE' SRC=" + '@Url.Content("~/Design2/img/delete.png")' + " id='imgDel_#=pkCompanyUserId#' title='Delete' value='#=pkCompanyUserId#' onclick='return deleteUser(\"#=pkCompanyUserId#\")' style='width:21px; height:23px' />#}#" },
                        ],
            editable: false,
            dataBound: function () {

                var gridId = this.table.parent().attr("id");
                var gridRows = $("#" + gridId + " tbody tr");
                var takeGrid = $("#" + gridId).data("kendoGrid");
                var length = gridRows.length;
                for (i = 0; i < length; i++) {
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    GridEffect(gridId, dataItem)
                }


            },
            scrollable: false,
            navigatable: true,
            dataSource: {

                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                schema: {
                    data: "Reclist",
                    total: "TotalRec"
                },
                batch: true,
                transport: {
                    read: {

                        url: '@Url.Action("ReadUser", "Control")',
                        type: "POST",
                        data: { fkCompanyId: fkid, fkLocationId: fkloc }
                    }
                },
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                pageSize: 6,
                filter: { field: "fkCompanyId", operator: "eq", value: e.data.fkCompanyId }
            }

        });
    }

    function ChangePageSize(val) {
        var ds = $("#Locationgrid").data("kendoGrid").dataSource;
        var newPageSize = parseInt(val);
        ds.pageSize(newPageSize);
    }
    
</script>
<style type="text/css">
    .chkunchk
    {
    }
    #grid .k-toolbar
    {
        min-height: 27px;
    }
</style>
