<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "EMEdit.js")" type="text/javascript"></script>
@model Emerge.Models.CompanyModel
@{
    ViewBag.Title = "Companies List";
}
<style type="text/css">
    
    .CountinueBtn
    {
        background-image: url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "BtnCountinue.jpg")');
        height:23px;
        width:75px;
    }
    .st_inactive
    {

        background-color: #7c7b7b;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
       
    }
    .st_active
    {
        background-color: #059a02;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_locked
    {
        background-color: #ff6600;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_pastdue
    {
        background-color: #990099;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_incollections
    {
        background-color: #000000;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .k-grid .centeralign
    {
        text-align: left;
    }
    .scroll-div {top: 117px;}
</style>

<div id="content-box" style="padding-bottom:40px;">
    
     <div class="buttons-bar">
    <div class="horiz-ch-menu hori-btns martp0">
      <ul>
        <li>
          <button class="btn btn-default" type="button" title="Back" onclick="history.back();" style="margin-top:0px;">Back</button>
        </li>
        <li>
          <button class="btn btn-default" type="button"title="Add" onclick="UploadAgreementDocument()" id="imgadd" style="margin-top:0px;">New</button>
        </li>
        <li>
          <button class="btn btn-default" type="button" title="Enable" onclick="EnableCompany()" id="imgenable" style="margin-top:0px;">Enable</button>
        </li>
        <li>
          <button class="btn btn-default" type="button" title="Disable" onclick="DisableCompany()" id="imgdisable" style="margin-top:0px;">Disable</button>
        </li>
        <li>
          <button class="btn btn-danger" type="button" title="Delete" onclick="return DeleteCompany()" id="imgdelete" style="margin-top:0px;"> Delete </button>
        </li>
      </ul>
    </div>
  </div>


    <div class="padding" style="margin-right: 13px; width: 96.5%;">
       
        <div class="clr">
        </div>
        <div id="element-box" style="background:none;">
            
            <div class="" style="margin-left: -20px;">
                <table  width="100%">
                    <tr>
                        <td style="width: 30%; padding:8px 0 20px 0;" align="left" class="showing" valign="top">
                            Showing <span>
                                <label id="lblTotalRecords">
                                    @Model.TotalRecords
                                </label>
                            </span>records
                        </td>
                        <td style="width: 15%" align="center">
                            @Html.HiddenFor(m => m.strResult)
                            <div id="divMSG">
                            </div>
                        </td>
                        <td align="right" style="width: 15%" class="company-btn">
                           
                            
                           </td>
                        <td align="right" class="company-btn">
                            @{
                                List<SelectListItem> list2 = new List<SelectListItem>();
                                list2.Add(new SelectListItem { Text = "Company Type", Value = "" });
                                list2.Add(new SelectListItem { Text = "Value", Value = "1" });

                                @Html.DropDownListFor(x => x.pkCompanyTypeId, list2, new { @class = "right-margin10",style = ";", onchange = "BindCompanyGrid()" });
                            }
                            @{
                                List<SelectListItem> list = new List<SelectListItem>();
                                list.Add(new SelectListItem { Text = "Company Status", Value = "SelectStatus" });
                                list.Add(new SelectListItem { Text = "Active", Value = "Active" });
                                list.Add(new SelectListItem { Text = "InActive", Value = "InActive" });
                                list.Add(new SelectListItem { Text = "Locked", Value = "Locked" });
                                list.Add(new SelectListItem { Text = "PastDue", Value = "PastDue" });
                                list.Add(new SelectListItem { Text = "InCollection", Value = "InCollections" });

                                @Html.DropDownListFor(m => m.StatusText, list, new { @class = "",style = "", onchange = "BindCompanyGrid()"  });
                            }
                        </td>
                    </tr>
                    <tr>
                        <td align="left" colspan="4">
                            <div id="CompanyGrid" style="border:none;">
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="clr">
                </div>
            </div>
            
        </div>
        <div class="clr">
        </div>
    </div>
</div>

<div id="DivUserAgreement" style="visibility: hidden; display: none;">
    @using (Html.BeginForm("SaveDocumentDetailsToSession", "Control", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table width="100%" border="0" style="background-color: #ffffff; display: block"
            cellpadding="5">
            <tr>
                <td align="left" colspan="2" style="font-weight: bold">
                    Please upload the company User Agreement to get started. The User Agreement must
                    be signed and completed properly and must be in PDF format
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height:5px;"></td>
            </tr>
            <tr>
                <td align="right" style="width: 30%;margin-top:6px;">
                    Document Title&nbsp;&nbsp;
                </td>
                <td align="left" >
                    <input type="hidden" value="User Agreement" name="txtDocumentTitle" id="txtDocumentTitle" />
                    <input type="text" value="User Agreement" name="txtDocumentName" id="txtDocumentName" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height:5px;"></td>
            </tr>
            <tr>
                <td align="right">
                    Upload Document&nbsp;&nbsp;
                </td>
                <td align="left">
                    @Html.TextBoxFor(m => m.PDFfileName, new { type = "file" })
                    @Html.ValidationMessageFor(m => m.PDFfileName)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height:5px;"></td>
            </tr>
            <tr>
                <td></td>
                <td align="left">
                    <input type="submit" value="Continue " class="btn btn-primary" />
                </td>
            </tr>
        </table>
    }
</div>
<div id="example" class="k-content">
    @*<script type="text/x-kendo-template" id="filtertemplate">
                <div class="toolbar">
                    <label class="companytype-label" for="companytype">Company Type:</label>
                    <input type="search" id="companytype" ></input>
                    <label class="companystatus-label" for="companystatus">Company Status:</label>
                    <input type="search" id="companystatus" ></input>
                </div>
    </script>*@
    <script type="text/x-kendo-template" id="template">

                <div class="tabstrip">
                    <ul>
                        <li class="k-state-active">
                           Locations
                        </li>
                        <li>
                            Company Information
                        </li>
                    </ul>
                    <div>
                        <div class="locations"></div>
                    </div>
                    <div>
                        <div class='company-details'>
                            <ul>
                                <li><label>Status:</label>#= StatusText #</li>
                                <li><label>No of Users:</label>#= TotalUsers #</li>
                                <li><label>Active:</label>#= Isenabled #</li>
                                <li><label>Home Phone:</label>#if(PhoneNo1!=null){##=PhoneNo1# #}#</li>
                            </ul>
                        </div>
                    </div>
                </div>

    </script>
    <script type="text/x-kendo-template" id="template1">
                <div class="tabstrip1">
                    <ul>
                        <li class="k-state-active">
                           Users
                        </li>
                        <li>
                            Location Information
                        </li>
                    </ul>
                    <div>
                        <div class="users"></div>
                    </div>
                    <div>
                        <div class='location-details'>
                            <ul>
                                <li><label>Location Phone:</label>#if(PhoneNo1!=null){# #=PhoneNo1# #}#</li>
                            </ul>
                        </div>
                    </div>
                </div>

    </script>
</div>
<script type="text/javascript">

    

    var CompanyId = "7dc87d77-6bb5-4bb3-9837-fa861f36f281";

    GetfileuploadResult();

    function GetfileuploadResult() {

        var divMSG = document.getElementById('divMSG');
        var strResult = document.getElementById('strResult');

        if (strResult != 'null' || strResult.value != '') {
            divMSG.style.display = "block";
            divMSG.innerHTML = strResult.value;
        }
    }

    function EnableCompany() {
        var CompanyIds = '';
        $("#CompanyGrid .chkunchk").each(function () {
            if ($(this).attr("checked") == 'checked') {

                var pkCompanyId = $(this).attr("id");

                CompanyIds = CompanyIds + "#" + pkCompanyId;
            }

        });
        if (CompanyIds == '') {
            alert("Please select at least one Company!");
        }
        else {
            $.post('@Url.Action("EnableCompany", "Control")', { pkCompanyIds: CompanyIds }, function (data) { });

            var CompaniesGrid = $("#CompanyGrid").data("kendoGrid");
            CompaniesGrid.dataSource.read();
            CompaniesGrid.refresh();
        }
    }


    function DisableCompany() {
        var CompanyIds = '';
        $("#CompanyGrid .chkunchk").each(function () {
            if ($(this).attr("checked") == 'checked') {

                var pkCompanyId = $(this).attr("id");

                CompanyIds = CompanyIds + "#" + pkCompanyId;
            }

        });
        if (CompanyIds == '') {
            alert("Please select at least one Company!");
        }
        else {
            $.post('@Url.Action("DisableCompany", "Control")', { pkCompanyIds: CompanyIds }, function (data) { });

            var CompaniesGrid = $("#CompanyGrid").data("kendoGrid");
            CompaniesGrid.dataSource.read();
            CompaniesGrid.refresh();
        }
    }

    function DeleteCompany() {
        var CompanyIds = '';
        $("#CompanyGrid .chkunchk").each(function () {
            if ($(this).attr("checked") == 'checked') {

                var pkCompanyId = $(this).attr("id");

                CompanyIds = CompanyIds + "#" + pkCompanyId;
            }

        });
        if (CompanyIds == '') {
            alert("Please select at least one Company!");
        }
        else {
            if (confirm("Are you sure you want to delete selected Companies?")) {
                $.post('@Url.Action("DeleteCompany", "Control")', { pkCompanyIds: CompanyIds }, function (data) { });

                var CompaniesGrid = $("#CompanyGrid").data("kendoGrid");
                CompaniesGrid.dataSource.read();
                CompaniesGrid.refresh(); return true;
            }
            else {
                return false;
            }
        }
    }

    function selectunselect() {
        $("#CompanyGrid .chkunchk").each(function () {
            if (document.getElementById("chk").checked) {
                $(this).prop("checked", true);
            }
            else {
                $(this).prop("checked", false);
            }
        });
    }
    
    function UploadAgreementDocument() {
        document.getElementById("DivUserAgreement").style.visibility = "visible";
        document.getElementById("DivUserAgreement").style.display = "block";

        var windowOpen = $("#DivUserAgreement").kendoWindow({
            actions: ["Close"],
            draggable: true,
            modal: true,
            resizable: true,
            title: "New Company User Agreement",
            height: "170px",
            width: "600px"

        }).data("kendoWindow");

        windowOpen.center();
        windowOpen.open();
        $('#txtDocumentName').attr("disabled", true);
        $('#txtDocumentName').val("User Agreement");
    }


    function EditCompany(pkCompanyId) {

        window.location.href = 'AddCompanies?Id1=' + pkCompanyId;

    }

    function DeleteCompanybyId(pkCompanyId) {
        if (confirm("Are you sure you want to delete this Company?")) {
            $.post('@Url.Action("DeleteCompanyById", "Control")', { pkCompanyId: pkCompanyId }, function (data) { });

            var CompaniesGrid = $("#CompanyGrid").data("kendoGrid");
            CompaniesGrid.dataSource.read();
            CompaniesGrid.refresh();
            return true;
        }
        else {
            return false;
        }
    }

    function Updatelocation(pkLocationId) {

        self.location = 'AddCompanyLocation?lid=' + pkLocationId;

    }

    function DeletelocationbyId(pkLocationId) {
        if (confirm("Are you sure you want to delete this Location?")) {
            $.post('@Url.Action("DeleteLocationById", "Control")', { pkLocationId: pkLocationId }, function (data) { });

            var CompaniesGrid = $("#CompanyGrid").data("kendoGrid");
            CompaniesGrid.dataSource.read();
            CompaniesGrid.refresh();
            return true;
        }
        else {
            return false;
        }
    }

    function UpdateUser(pkCompanyUserId, CompanyId) {
        self.location = "AddCompanyUser?_a=" + pkCompanyUserId + "&_c=" + CompanyId;

    }

    function deleteUser(companyserid) {
        if (confirm('Are you sure you want to delete this User?')) {

            $.post('@Url.Action("DeleteUser", "Control")', { companyserid: companyserid }, function (data) { });
            var CompaniesGrid = $("#CompanyGrid").data("kendoGrid");
            CompaniesGrid.dataSource.read();
            CompaniesGrid.refresh();
            return true;
        }
        else {
            return false;
        }
    }

    function OpenCallLog(CompanyId) {
        var window = $("#CallLog").kendoWindow({}).data("kendoWindow");
        if (typeof window != 'undefined') {
            window.close();
            window.element.remove();
            window.destroy();
        }
        $.post('@Url.Action("setProfileCallLogCompany", "Common")', { CallLogCompanyId: CompanyId }, function (data) {
            if (data != null) {
                $("#divLog").load("../Common/LoadCallLog", { PageType: "", pkCompanyId: CompanyId }, function () {
                });

            }
            
        });

    }

    $("#StatusText").kendoDropDownList({});

    $("#pkCompanyTypeId").kendoDropDownList({
        optionLabel: "Company Type",
        dataTextField: "CompanyType",
        dataValueField: "pkCompanyTypeId",
        dataSource: {
            transport: {
                read: {
                    url: '@Url.Action("GetCompanyType", "Control")',
                    type: 'POST'
                }
            }
        },
        change: function (e) {
        }
    });


    function BindCompanyGrid() {
        var pkCompanyTypeId = $('#pkCompanyTypeId').val();
        var StatusText = $('#StatusText').val();
        FilterCompanyGrid(StatusText, pkCompanyTypeId);
    }


    function FilterCompanyGrid(StatusText, pkCompanyTypeId) {
        //alert(pkCompanyTypeId + '' + StatusText);
        var grid = $("#CompanyGrid").data("kendoGrid");
        grid.dataSource.filter([
                           { field: "fkCompanyTypeId", operator: "eq", value: pkCompanyTypeId },
                           { field: "StatusText", operator: "eq", value: StatusText }
                         ]);
    }

      Gridbind();
function Gridbind() {
    var selectList = '<span style="width:500px;text-align:right;float:right;">    Page Size : <select onchange="ChangePageSize(this.value);" style="width:50px; height:25px; margin-left:6px" id="mySelect"><option>25</option><option>50</option><option>100</option></select></span>';
        var element = $("#CompanyGrid").kendoGrid({
            dataSource: {
                page: 1,
                pageSize: 25,
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                schema: {
                    data: "Reclist",
                    total: "TotalRec"
                },
                batch: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetCompanylist", "Control")',
                        type: "POST"
                    },
                    parameterMap: function (options) {
                        var data = options;
                        if (options.filter) {
                            var filters = options.filter.filters;
                            for (var i = 0; i < filters.length; i++) {
                                data["filters[" + i + "].Field"] = filters[i].field;
                                data["filters[" + i + "].Operator"] = filters[i].operator;
                                data["filters[" + i + "].Value"] = filters[i].value;
                            }
                        }
                        if (options.sort) {
                            for (var i = 0; i < options.sort.length; i++) {
                                data["sort[" + i + "].Field"] = options.sort[i].field;
                                data["sort[" + i + "].Dir"] = options.sort[i].dir;
                            }
                        }
                        return data;
                    }
                }
            },
            //toolbar: kendo.template($("#filtertemplate").html()),
            filterable: true,
            detailTemplate: kendo.template($("#template").html()),
            detailInit: detailInit,
            dataBound: function () {
                var takeTotal = this.dataSource.total();
                $("#lblTotalRecords").html(takeTotal);
                var gridRows = $("#CompanyGrid tbody tr");
                var takeGrid = $("#CompanyGrid").data("kendoGrid");
               
                var length = gridRows.length;
                for (i = 0; i < length; i++) {

                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var Status = dataItem.StatusText;
                    var Status = dataItem.StatusText;
                    row.cells[11].style.color = 'black';
                    GridEffect("CompanyGrid", dataItem)
                    //                    if (Status == 'InActive') {
                    //                        //                     row.cells[11].style.background = '#7c7b7b';
                    //                         row.cells[11].innerHTML= "";
                    //                    }
                    //                    else if (Status == "Active") {
                    //                        row.cells[11].style.background = '#059a02';
                    //                    }
                    //                    else if (Status == "Locked") {
                    //                        row.cells[11].style.background = '#ff6600';
                    //                    }
                    //                    else {
                    //                        row.cells[11].style.background = '#969DD5';
                    //                    }
                }
            },

            sortable: true,
            pageable: true,
            scrollable: false,
            navigatable: true,

            columns: [
            { field: "Isenabled", width: 300, sortable: false, filterable: false, title: "<input type='checkbox' id='chk' class='css-checkbox chk-head-style' onclick='selectunselect();'><label for='chk' class='css-label'></label>", width: 30, template: '#if(pkCompanyId!="' + CompanyId + '" ){#<input type="checkbox" id="#=pkCompanyId#" class="css-checkbox chkunchk" ><label for="#=pkCompanyId#" class="css-label"></label>#}else {# <input type="checkbox" disabled="disabled">#} #', sortable: false },
            { field: "CompanyName", title: "Company", width: 130,
                filterable: {
                    extra: false, //do not show extra filters
                    operators: { // redefine the string operators
                        string: {
                            contains: "Contains",
                            startswith: "Starts with",
                            endswith: "Ends with"
                        }
                    }
                }
            },
            { field: "City", title: "Location", width: 100, template: '<div style="text-align:center;"><div style="float: left ;text-align:left; width:80%">#=City#</div><div style="float: right ;text-align:center; width:18%"># if(pkCompanyId=="' + CompanyId + '" && IsHome==true){#<input type="IMAGE" title="Root Company" SRC="../Content/themes/base/images/small_intel_icon.png" />#}if(pkCompanyId!="' + CompanyId + '" && IsHome==true){#<input title="Home Location" style="cursor:default" type="IMAGE" src="../Content/themes/base/images/Home.png"/>#}#</div></div>',
                filterable: {
                    extra: false, //do not show extra filters
                    operators: { // redefine the string operators
                        string: {
                            contains: "Contains",
                            startswith: "Starts with",
                            endswith: "Ends with"
                        }
                    }
                }
            },
            { field: "CompanyAccountNumber", title: "Account", width: 60,
                filterable: {
                    extra: false, //do not show extra filters
                    operators: { // redefine the string operators
                        string: {
                            contains: "Contains",
                            startswith: "Starts with",
                            endswith: "Ends with"
                        }
                    }
                }
            },
            { field: "CompanyType", filterable: false, title: "Company Type", width: 150 },
            { field: "MainContactPersonName", title: "Main Contact", width: 130,
                filterable: {
                    extra: false, //do not show extra filters
                    operators: { // redefine the string operators
                        string: {
                            contains: "Contains",
                            startswith: "Starts with",
                            endswith: "Ends with"
                        }
                    }
                }
            },
            { field: "PhoneNo1", filterable: false, title: "Company #", width: 100 },
            { field: "TotalLocations", filterable: false, title: "# Of Location", width: 80 },
            { field: "TotalUsers", filterable: false, title: "# Of Users", width: 80 },
            { field: "Isenabled", filterable: false, title: "Active", width: 50, template: '#  if (Isenabled==true) {# <input type="IMAGE" style="height:16px;" SRC="@Url.Content("~/Design2/img/status.png")" id="mainimage" value="#=Isenabled#"/> #} else {# <input type="IMAGE" style="height:16px;" SRC="@Url.Content("~/Design2/img/cross.png")" id="mainimage2" value="#=Isenabled#"/> #} #' },
            { field: "StatusText", filterable: false, title: "Status", width: 100, template: "# if(StatusText == 'InActive'){#<span class='milestone default-grey' > IN ACTIVE </span># } else if(StatusText == 'Active'){#<span class='milestone green' > ACTIVE </span>#} else if(StatusText == 'Locked'){#<span class='milestone orange' > LOCKED </span>#} else if(StatusText == 'PastDue'){#<span class='milestone purple' > PAST DUE </span>#}  else if(StatusText == 'InCollections'){#<span class='milestone purple' > IN COLLECTIONS </span>#}#" },
            { field: "SaleRepInitial", sortable: false, filterable: false, title: "Rep", width: 30, template: '#if(SaleRepInitial!=null){# #=SaleRepInitial# #}#' },
            { field: "pkCompanyId", sortable: false, filterable: false, title: "Action", width: 100, template: "<input type=\"IMAGE\" SRC=" + '@Url.Content("~/Design2/img/edit.png")' + " id=\"image1\" value=\"#=pkLocationId#\" title=\"Edit\" style=\"width:15; height:18px\" onclick=\"EditCompany(this.value)\" /> <input type=\"IMAGE\" SRC=" + '@Url.Content("~/Design2/img/call.png")' + " value=\"#=pkCompanyId#\" onmouseover=\"CallLogRollOver('Call Log','#=pkCompanyId#');\" onmouseout=\"exit();\" style=\"width:15px; height:18px\" onclick=\"OpenCallLog(this.value)\" /> <input type=\"IMAGE\" SRC=" + '@Url.Content("~/Design2/img/delete.png")' + " id=\"image1\" title=\"Delete\" value=\"#=pkCompanyId#\" style=\"width:15px; height:18px\" onclick=\"return DeleteCompanybyId(this.value);\" />#  if (EnableAPI==true) {# <img src='@Url.Content("~/Design2/img/api.png")' title='API Service Activated' alt='API'/>#} #" },
           ]





        }).find("th").addClass("centeralign");
        $(".k-grid-pager").append(selectList);
    }


    function detailInit(e) {
        newid = e.data.pkCompanyId;
        var detailRow = e.detailRow;
        detailRow.find(".tabstrip").kendoTabStrip({ animation: { open: { effects: "fadeIn"}} });
        $("<div/>").attr("id", "div_" + newid).appendTo(e.detailCell).kendoGrid({
            sortable: true,
            scrollable: false,
            pageable: true,
            navigatable: true,
            columns: [
                            { field: "City+IsHome", title: "Location", width: 270, template: '<div style="text-align:center;"><div style="float: left ;text-align:left; width:80%">#=City#</div><div style="float: right ;text-align:center; width:18%"># if(pkCompanyId=="' + CompanyId + '" && IsHome==true){#<input type="IMAGE" title="Root Company" SRC="../Content/themes/base/images/small_intel_icon.png" />#}if(pkCompanyId!="' + CompanyId + '" && IsHome==true){#<input title="Home Location" style="cursor:default" type="IMAGE" src="../Content/themes/base/images/Home.png"/>#}#</div></div>' },
                            { field: "LocationContact", title: "Location Contact" },
                            { field: "TotalUsers", title: "User #" },
                            { field: "IsEnabledLocation", title: "Active", width: 100, template: '#  if (IsEnabledLocation==true) {# <input type="IMAGE" style="height:16px;" SRC="@Url.Content("~/Design2/img/status.png")" id="mainimage" value="#=IsEnabledLocation#"/> #} else {# <input type="IMAGE" style="height:16px;" SRC="@Url.Content("~/Design2/img/cross.png")" id="mainimage2" value="#=IsEnabledLocation#"/> #} #' },
                            { field: "StatusText", title: "Status", width: 100, template: "# if(StatusText == 'InActive'){#<span class='milestone default-grey' > IN ACTIVE </span># } else if(StatusText == 'Active'){#<span class='milestone green' > ACTIVE </span>#} else if(StatusText == 'Locked'){#<span class='milestone orange' > LOCKED </span>#} else if(StatusText == 'PastDue'){#<span class='milestone purple' > PAST DUE </span>#}  else if(StatusText == 'InCollections'){#<span class='milestone purple' > IN COLLECTIONS </span>#}#" },
                            { field: "pkLocationId", sortable: false, title: "Action", width: 60, template: '<input type="IMAGE" SRC="@Url.Content("~/Design2/img/edit.png")" id="image1" title="Edit" value="#=pkLocationId#" style="width:15; height:18px" onclick="Updatelocation(this.value)" /> # if(IsHome==false){# <input type="IMAGE" SRC="@Url.Content("~/Design2/img/delete.png")" id="image1" title="Delete" value="#=pkLocationId#" style="width:15px; height:18px" onclick="return DeletelocationbyId(this.value)" /> #} #' },
                        ],

            editable: false,
            detailTemplate: kendo.template($("#template1").html()),
            detailInit: detailInitUser,
            dataBound: function () {
                var gridId = this.table.parent().attr("id");
                var gridRows = $("#" + gridId + " tbody tr");
                var takeGrid = $("#" + gridId).data("kendoGrid");
                var length = gridRows.length;
                for (i = 0; i < length; i++) {
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var Status = dataItem.StatusText
                    row.cells[5].style.color = 'black';
                    GridEffect(gridId, dataItem)
//                    row.cells[5].style.border = 'solid 1px #94c0d2';
//                    if (Status == 'InActive') {
//                        row.cells[5].style.background = '#7c7b7b';
//                    }
//                    else if (Status == "Active") {
//                        row.cells[5].style.background = '#059a02';
//                    }
//                    else if (Status == "Locked") {
//                        row.cells[5].style.background = '#ff6600';
//                    }
//                    else {
//                        row.cells[5].style.background = '#969DD5';
//                    }
                }
            },
            scrollable: false,
            navigatable: true,

            dataSource: {

                batch: true,
                transport: {

                    read: {

                        url: '@Url.Action("ReadLocation", "Control")',
                        data: { pkCompanyId: newid },
                        type: "Post"
                    }

                }

            }

        });


        function detailInitUser(e) {
            var fkid = e.data.fkCompanyId;
            var fkloc = e.data.pkLocationId;
            var detailRow = e.detailRow;

            detailRow.find(".tabstrip1").kendoTabStrip({
                animation: {
                    open: { effects: "fadeIn" }
                }
            });

            $("<div/>").attr("id", "div_" + fkloc + fkid).appendTo(e.detailCell).kendoGrid({
                scrollable: true,
                sortable: true,
                filterable: false,
                pageable: true,
                columns: [
                         { field: "FirstName", title: "Name", width: 170 },
                        { field: "UserName", title: "UserName" },
                         { field: "UserDisplayRole", title: "User Type" },
                         { field: "IsEnabledUser", title: "Active", width: 10, template: '#  if (IsEnabledUser==true) {# <input type="IMAGE" style="height:16px;" SRC="@Url.Content("~/Design2/img/status.png")" id="mainimage" value="#=IsEnabledUser#"/> #} else {# <input type="IMAGE" style="height:16px;" SRC="@Url.Content("~/Design2/img/cross.png")" id="mainimage2" value="#=IsEnabledUser#"/> #} #' },
                         { field: "pkCompanyUserId", sortable: false, title: "Action", width: 100, template: "<input type='IMAGE' SRC=" + '@Url.Content("~/Design2/img/edit.png")' + " id='imgEdit_#=pkCompanyUserId#' title='Edit' value='#=pkCompanyUserId#' style='width:21px; height:20px' onclick='UpdateUser(\"#=pkCompanyUserId#\",\"#=pkCompanyId#\")'  />#if(UserRole!='SystemAdmin' && UserRole!='SupportManager' && UserRole!='SupportTechnician' ){#<input type='IMAGE' SRC=" + '@Url.Content("~/Design2/img/delete.png")' + " id='imgDel_#=pkCompanyUserId#' title='Delete' value='#=pkCompanyUserId#' onclick='return deleteUser(\"#=pkCompanyUserId#\")' style='width:21px; height:23px' />#}#" },
                        ],
                editable: false,
                dataBound: function () {
                    //this.expandRow(this.tbody.find("tr.k-master-row").first());
                    var gridId = this.table.parent().attr("id");
                    var gridRows = $("#" + gridId + " tbody tr");
                    var takeGrid = $("#" + gridId).data("kendoGrid");
                    var length = gridRows.length;
                    for (i = 0; i < length; i++) {
                        var dataItem = takeGrid.dataItem(gridRows[i]);
                        GridEffect(gridId, dataItem)
                    }
                },
                scrollable: false,
                navigatable: true,
                dataSource: {

                    serverPaging: true,
                    serverSorting: true,
                    serverFiltering: true,
                    schema: {
                        data: "Reclist",
                        total: "TotalRec"
                    },
                    batch: true,
                    transport: {
                        read: {

                            url: '@Url.Action("ReadUser", "Control")',
                            type: "POST",
                            data: { fkCompanyId: fkid, fkLocationId: fkloc }
                        }
                    },
                    filter: { field: "fkCompanyId", operator: "eq", value: e.data.fkCompanyId }
                }

            });
        }
    }

    function ChangePageSize(val) {
        var ds = $("#CompanyGrid").data("kendoGrid").dataSource;
        var newPageSize = parseInt(val);
        ds.pageSize(newPageSize);
    }
</script>
<style type="text/css">
    .chkunchk
    {
    }
    #grid .k-toolbar
    {
        min-height: 27px;
    }
    .companytype-label
    {
        vertical-align: middle;
        padding-right: .5em;
    }
    #companytype
    {
        vertical-align: middle;
    }
    .companystatus-label
    {
        vertical-align: middle;
        padding-right: .5em;
    }
    #companystatus
    {
        vertical-align: middle;
    }
    .toolbar
    {
        float: right;
        margin-right: .8em;
    }
    .company-details ul
    {
        list-style: none;
        font-style: normal;
        margin-bottom: 20px;
    }
    
    .company-details label
    {
        display: inline-block;
        width: 90px;
        font-style: normal;
        font-weight: bold;
    }
    
    .location-details ul
    {
        list-style: none;
        font-style: normal;
        margin-bottom: 20px;
    }
    
    .location-details label
    {
        display: inline-block;
        width: 90px;
        font-style: normal;
        font-weight: bold;
    }
</style>
