﻿@model Emerge.Models.CompanyModel
@{
    ViewBag.Title = "Users List";
}
<style type="text/css">
    .k-grid .centeralign
    {
        text-align: left;
    }
    .CountinueBtn
    {
        background-image: url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "BtnCountinue.jpg")');
        height:23px;
        width:75px;
    }
    label {
    margin-top: 0px !important;
}
</style>

<div id="ExportToCSVpopUp" style="visibility: hidden; display: none;">
     <table width="100%" border="0" style="background-color: #ffffff; display: block"
            cellpadding="5">
            <tr>
                <td align="center" colspan="3" style="font-weight: bold">
                   
                </td>
            </tr>
            <tr>
                <td align="right" style="width: 40%;">
                    <b style="margin:5px; color:#575656;">Please Enter Password :</b>
                </td>&nbsp;
                <td align="left" style="width: 60%;">
                   
                    <input type="password" class="form-control" style="height:30px;" name="txtDocumentName" id="UserPassword" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td align="right">
                    <b></b>
                </td>
                <td align="left">
                   
                </td>
            </tr>
            <tr>
                <td align="center" colspan="3">
                   
                  <span align="center" style="font-size: 16px; width: 60px; font-weight: bold;
                                color: #0b55c4;">  <button href='ExportUsersInfoToCSV' id='export23' class="btn btn-default" style="margin-top:10px;" onclick='return CheckUserPassword()'  >Submit</button></span>
                </td>
            </tr>
        </table>
   
</div>

<div style="height: 1px">
</div>
<div id="content-box" style="margin-top: 56px;">
    <div class="buttons-bar">
    <div class="horiz-ch-menu hori-btns martp0">
      <ul>
        <li>
          <button class="btn btn-default" type="button" title="Back" onclick="history.back();" style="margin-top:0px;">Back</button>
        </li>
        <li>
          <button class="btn btn-default" type="button"title="Add" onclick="AddUser()" style="margin-top:0px;">New</button>
        </li>
        <li>
          <button class="btn btn-default chkunchk" type="button" title="Enable" onclick="EnableCmpny()" id="#=pkCompanyId1#" style="margin-top:0px;">Enable</button>
        </li>
        <li>
          <button class="btn btn-default chkunchk" type="button" title="Disable" onclick="DisableCmpny()" id="#=pkCompanyUserId#" style="margin-top:0px;">Disable</button>
        </li>
        <li>
          <button class="btn btn-danger chkunchk" type="button" title="Delete" onclick="DeleteCmpny(this)" id="#=pkCompanyUserId#" style="margin-top:0px;"> Delete </button>
        </li>
      </ul>
    </div>
  </div>        
    <div class="padding">
         @*<div id="toolbar-box">
           <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m" style="margin-top: 40px;">
                <div class="toolbar" id="toolbar" style="vertical-align: top">
                </div>
                <table width="100%">
                    <tr>
                        <td width="50%">
                            <div class="header icon-48-user" style="padding: 0px 0px 0px 55px; width: 40%">
                                Users
                            </div>
                        </td>
                        <td align="right">
                            <div style="margin-right: 15px">
                                <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-add.png")" title="Add New User" alt="Add" onclick="AddUser();" />
                                <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-publish.png")" title="Enable User" alt="Enable"  onclick="EnableCmpny()" id="#=pkCompanyId1#" class="chkunchk" />
                                <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-publish_delete.png")" title="Disable User" alt="Disable"   onclick="DisableCmpny()" id="#=pkCompanyUserId#" class="chkunchk" />
                                <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-delete.png")"  title="Delete User"  alt="Delete" onclick="DeleteCmpny(this)" id="#=pkCompanyUserId#" class="chkunchk" />
                                <img class="imgCommon" src="../Content/themes/base/images/icon-32-back.png" title="Back" onclick="history.back();" alt="Back" />
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="clr">
                </div>
            </div>
            @*<div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>*@
        <div class="clr">
        </div>
        <div id="element-box" style="background:none;">
            @*<div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>*@
            <div class="" style="margin-bottom: 40px; font-size:14px; margin-top: -90px; line-height: 70px;">
                <table width="100%">
                    <tr>
                        <td style="width: 40%" align="left">
                            Showing <span align="center" style="font-size: 14px; width: 60px; font-weight: bold;
                                color: #0b55c4;">
                                <label id="lblTotalRecords">
                                    @Model.TotalRecords
                                </label>
                            </span>records
                        </td>
                        <td style="width: 20%" align="center">
                            <div id="divMSG" style="display: none">
                            </div>
                        </td>
                        <td align="right" style="width: 40%">
                         <span align="center" style="font-size: 16px; width: 60px; font-weight: bold;
                                color: #0b55c4;">  <button href='#' id='export2' class="btn btn-default" style="margin-top:5px;" type="Submit" onclick='CheckPassword()' >Export to CSV</button>

                                </span>
                        </td>
                    </tr>&nbsp;&nbsp;&nbsp;
                    <tr>
                        <td class="fontstyle" align="left" colspan="3">
                            <div id="grid">
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="clr">
                <input type="hidden" value="@ViewBag.PwdToExport" id="hdnPwdToExport" />
                </div>
            </div>
            @*<div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>*@
        </div>
        <div class="clr">
        </div>
    </div>
</div>
<script type="text/javascript">

var CheckPWD="";
function CheckUserPassword()
{
var UserPwd =document.getElementById("UserPassword").value;
var PwdSetByAdmin= document.getElementById("hdnPwdToExport").value;

if(UserPwd == PwdSetByAdmin)
{

$("#ExportToCSVpopUp").data("kendoWindow").close();
return true;

 
}
else
{
alert("Wrong Password");
return false;
CheckPWD = false;
}
}

function CheckPassword()
{
       document.getElementById("ExportToCSVpopUp").style.visibility = "visible";
        document.getElementById("ExportToCSVpopUp").style.display = "block";

        var windowOpen = $("#ExportToCSVpopUp").kendoWindow({
            actions: ["Close"],
            draggable: true,
            modal: true,
            resizable: true,
            title: "Export to CSV",
            height: "140px",
            width: "420px"

        }).data("kendoWindow");

        windowOpen.center();
        windowOpen.open();
       
      return false;
}
var CompanyId="7dc87d77-6bb5-4bb3-9837-fa861f36f281";
 var selectList = '<span style="width:500px;text-align:right;float:right;">    Records Per Page: <select onchange="ChangePageSize(this.value);" style="width:50px;" id="mySelect"><option>25</option><option>50</option><option>75</option><option>100</option></select></span>';
function AddUser() {
     var CompanyId = 0;
      self.location = "AddCompanyUser?_c=" + CompanyId;
   
    }

    function EnableCmpny() {
        var fkUserIds = '';
        $("#grid .chkunchk").each(function () {
            if ($(this).attr("checked") == 'checked') {

                var fkUserId = $(this).attr("id");

                fkUserIds =fkUserIds + "#" + fkUserId;
            }

        });
        if (fkUserIds == '') {
            alert("Please select atleast one User");
        }
        else{
       $.post('@Url.Action("UpdateEnableUser", "Control")', { UserId: fkUserIds }, function (data) { });
     
        var CompaniesUserGrid = $("#grid").data("kendoGrid");
        CompaniesUserGrid.dataSource.read();
        CompaniesUserGrid.refresh();
        }
        
      
    }

   function DisableCmpny()
   {
   
    var fkUserIds = '';
        $("#grid .chkunchk").each(function () {
            if ($(this).attr("checked") == 'checked') {

                var fkUserId = $(this).attr("id");

                fkUserIds =fkUserIds + "#" + fkUserId;
            }

        });
        if (fkUserIds == '') {
            alert("Please select atleast one User");
        }
        else{
       $.post('@Url.Action("UpdateDisableUser", "Control")', { UserId: fkUserIds }, function (data) { });
     
        var CompaniesUserGrid = $("#grid").data("kendoGrid");
        CompaniesUserGrid.dataSource.read();
        CompaniesUserGrid.refresh();
        }
   
   }


  function DeleteCmpny() {
        var fkUserIds = '';
        $("#grid .chkunchk").each(function () {
            if ($(this).attr("checked") == 'checked') {

                var fkUserId = $(this).attr("id");

                fkUserIds =fkUserIds + "#" + fkUserId;
            }

        });
        if (fkUserIds == '') {
            alert("Please select atleast one User");
        }
        else{
         if (confirm('Are you sure to delete User(s) ?')) {
       $.post('@Url.Action("DeleteSelectedUser", "Control")', { UserId: fkUserIds }, function (data) { });
     
        var CompaniesUserGrid = $("#grid").data("kendoGrid");
        CompaniesUserGrid.dataSource.read();
        CompaniesUserGrid.refresh();
        }
        }
    }


 function tickUntick(t) {
 if (t == true)
            {
 $('.chkunchk').each(function(){ this.checked = true; });

 }
 else{
 
  $('.chkunchk').each(function(){ this.checked = false; });
 
 }
 }

     function UpdateUser(pkCompanyUserId, CompanyId) {
    
      self.location = "AddCompanyUser?_a=" + pkCompanyUserId + "&_c=" + CompanyId;
   
    }


    function deleteUser(companyserid)
    {
     if (confirm('Are you sure you want to delete this Record?')) {
    
    $.post('@Url.Action("DeleteUser", "Control")', { companyserid: companyserid }, function (data) { });
     var CompaniesuserGrid = $("#grid").data("kendoGrid");
         CompaniesuserGrid.dataSource.read();
         CompaniesuserGrid.refresh();
    }
    
    }


   $("#grid").kendoGrid({
        sortable: true,
        pageable: true,
        scrollable: false,
        navigatable: true,
        filterable: true,    
                                                                                             
        columns: [
            { field: "fkUserId", width: 300, filterable: false, title: "<input id='chk' class='css-checkbox chk-head-style' type='checkbox' onclick='tickUntick(this.checked)' # /> <label for='chk' class='css-label'></label>", width: "4%", template: '#if(UserRole!="SystemAdmin" && UserRole!="SupportManager" && UserRole!="SupportTechnician" ){#<input type="checkbox" id="#=fkUserId#" class="chkunchk css-checkbox" /><label for="#=fkUserId#" class="css-label"></label>#}else {# <input type="checkbox" disabled="disabled">#} #', sortable: false },
            { field: "FirstName", title: "Name", width: "11%" ,  template:'<label>#=FirstName#<label> <label>#=LastName#<label>',
                           filterable: {
                               extra: false, //do not show extra filters
                               operators: { // redefine the string operators
                                   string: {
                                       contains: "Contains",
                                       startswith: "Starts with",
                                       endswith: "Ends with"
                                   }
                               }
                           }
                       },   
            { field: "UserName", title: "Email/UserName", width: "18%" ,
                           filterable: {
                               extra: false, //do not show extra filters
                               operators: { // redefine the string operators
                                   string: {
                                       contains: "Contains",
                                       startswith: "Starts with",
                                       endswith: "Ends with"
                                   }
                               }
                           }
                       },
            { field: "UserDisplayRole", title: "User Type", width: "12%", filterable: false, },
            { field: "CompanyName", title: "Company", width: "12%"  ,
                           filterable: {
                               extra: false, //do not show extra filters
                               operators: { // redefine the string operators
                                   string: {
                                       contains: "Contains",
                                       startswith: "Starts with",
                                       endswith: "Ends with"
                                   }
                               }
                           }
                       },
            { field: "City", title: "Location", width: "15%", template:'<div style="text-align:center;"><div style="float: left ;text-align:left; width:80%">#=City#</div><div style="float: right ;text-align:center; width:18%"># if(pkCompanyId=="'+CompanyId+'" && IsHome!=""){#<input type="IMAGE" title="Root Company" SRC="../Content/themes/base/images/small_intel_icon.png" />#}if(pkCompanyId!="'+CompanyId+'" && IsHome!=""){#<input title="Home Location"  style="cursor:default" type="IMAGE" src="../Content/themes/base/images/Home.png"/>#}#</div></div>',
                           filterable: {
                               extra: false, //do not show extra filters
                               operators: { // redefine the string operators
                                   string: {
                                       contains: "Contains",
                                       startswith: "Starts with",
                                       endswith: "Ends with"
                                   }
                               }
                           }
                       },
            { field: "IsEnabledUser", title: "Active", width: "4%", filterable: false, template: '<div class="centeralign"># if (IsEnabledUser==true) {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/status.png")" title="Active" style="height:16px;" id="mainimage" value="#=IsEnabledUser#"/> #} else {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/cross.png")" id="mainimage2" style="height:16px;" title="InActive" value="#=IsEnabledUser#"/> #} #</div>' },
            { field: "pkCompanyUserId", title: "Action", width: "8%", filterable: false,sortable:false, template: "<input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/edit.png")'+ " id='imgEdit_#=pkCompanyUserId#' title='Edit' value='#=pkCompanyUserId#' style='width:21px; height:20px' onclick='UpdateUser(\"#=pkCompanyUserId#\",\"#=pkCompanyId#\")'  />#if(UserRole!='SystemAdmin' && UserRole!='SupportManager' && UserRole!='SupportTechnician' ){#<input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/delete.png")'+ " id='imgDel_#=pkCompanyUserId#' value='#=pkCompanyUserId#' title='Delete' onclick='deleteUser(\"#=pkCompanyUserId#\")' style='width:21px; height:23px' />#}# #if(IsMIEnable == true){# <input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/mi_enabled.png")'+ " id='imgDel_#=pkCompanyUserId#' value='#=pkCompanyUserId#' title='Enable MI' onclick='DisableMIfiled(\"#=pkCompanyUserId#\")' style='width:21px; height:23px' />#}else{# <input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/mi_disabled.png")'+ " id='imgDel_#=pkCompanyUserId#' value='#=pkCompanyUserId#' title='Disabled MI' onclick='EnableMIfiled(\"#=pkCompanyUserId#\")' style='width:21px; height:23px' />#}#" },
           ],

        editable: false,
        dataBound: function () {
                var takeTotal = this.dataSource.total();
                $("#lblTotalRecords").html(takeTotal);
                var gridHeaderRows = $("#grid tbody th");
        var gridRows = $("#grid tbody tr");
        var takeGrid = $("#grid").data("kendoGrid");
        var length = gridRows.length;
        for (i = 0; i < length; i++) {
        var dataItem = takeGrid.dataItem(gridRows[i]);
            var row = gridRows[i];
            GridEffect("grid",dataItem)

        }
        }, 
        dataSource: {
           page:1,
            pageSize: 25,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,

            schema: {
                data: "Reclist",
                total: "TotalRec"
            },

            batch: true,
            transport: {
                
                read: {
                    url: '@Url.Action("GetAllEmergeUser", "Control")',
                    type: "POST"
                }, 
                parameterMap: function (options) {
                            var data = options;
                            if (options.filter) {
                                var filters = options.filter.filters;
                                for (var i = 0; i < filters.length; i++) {
                                    data["filters[" + i + "].Field"] = filters[i].field;
                                    data["filters[" + i + "].Operator"] = filters[i].operator;
                                    data["filters[" + i + "].Value"] = filters[i].value;
                                }
                            }
                            if (options.sort) {
                                for (var i = 0; i < options.sort.length; i++) {
                                    data["sort[" + i + "].Field"] = options.sort[i].field;
                                    data["sort[" + i + "].Dir"] = options.sort[i].dir;
                                }
                            }
                            return data;
                        }

            }

        }
         
    }).find("th").addClass("centeralign");
    $(".k-grid-pager").append(selectList);
    


     
     function ChangePageSize(val)
          {
                var ds = $("#grid").data("kendoGrid").dataSource;
                var newPageSize = parseInt(val);
                    ds.pageSize(newPageSize);
            }

    function EnableMIfiled(pkuserid)
    {
    var enable= true;
    $.post('@Url.Action("EnabledDisableMIfield", "Control")', { pkCompanyUserId: pkuserid,Enable:enable }, function (data) {
    var CompaniesuserGrid = $("#grid").data("kendoGrid");
         CompaniesuserGrid.dataSource.read();
         CompaniesuserGrid.refresh();
    
     });
    }
    function DisableMIfiled(pkuserid)
    {
    var enable= false;
     $.post('@Url.Action("EnabledDisableMIfield", "Control")', { pkCompanyUserId: pkuserid,Enable:enable }, function (data) {
    var CompaniesuserGrid = $("#grid").data("kendoGrid");
         CompaniesuserGrid.dataSource.read();
         CompaniesuserGrid.refresh();
    
     });
    }

   
</script>
