﻿@model Emerge.Models.LocationModel
@{
    ViewBag.Title = "Location Users";
    
@*    <link href="@Url.Content("~/Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.2.712/telerik.windows7.min.css")" rel="stylesheet" type="text/css" />*@
}
<style>
    
</style>

<div class="buttons-bar" style="margin-top: 58px;">
        <img id="imgApplicant15" class="plus-minus" src="~/Content/themes/base/images/mastercard.jpg" alt="expand" style="width: 48px; height: 30px; margin-left: 15px; margin-top: 12px; float: left">
        <div>
            @if (Model.IsEdit)
            {
                <div style="float: left; margin-left: 12px; margin-top: 15px; font-size: 17px; font-weight: bold;">@Model.CompanyName&#32;&#91;@Model.CityName&#44;@Model.State_Code&#93;</div>
                     }
            else
            { 
                <div style="float: left; margin-left: 6px; margin-top: 16px; font-weight: bold;">Company</div>
                      
                     }
        </div>

        <div class="horiz-ch-menu hori-btns">
            <ul>
                <li>                    
                    @if (Model.IsEdit)
                            {
                                <button class="btn btn-default" type="button" title="AddUser" onclick="AddUser();" style="width: 74px; margin-top: -36px;">User</button>
                                @*<img class="imgCommon" alt="" src="@Url.Content("~/Content/themes/base/images/user_icon.png")" title="AddUser" onclick="AddUser();" />*@
                            }
                </li>
                <li>
                     <button class="btn btn-danger" type="button" title="Cancel" id="imgCancel" style="width: 74px; margin-top: -36px;" onclick="CancelUpdate();">Cancel</button>
                        @*<img class="imgCommon" alt="" src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/cancel_button.png")" title="Cancel" onclick="CancelUpdate();" id="imgCancel" />*@

                </li>
            </ul>                                   
        </div>
    </div>        
<div id="content-box">
    <div class="padding" style="margin-bottom: 40px;">
        <div id="element-box" style="padding-top: 1px; background-color: #fff;">
         <div id="tabstrip">
                <ul class="nav nav-tabs" id="Mytab">
                    <li id="liLocation"><a id="lnkLocation" href="AddCompanyLocation?lid=@Model.LocationId" title="Location">Location<span id="spanET"></span></a> </li>
                    <li id="liUsers" class="active"><a id="lnkUsers" href="GetUsersUnderLocation?pkLocationId=@Model.LocationId" title="Users">Users<span id="spanST"></span></a></li>
                    <li id="liPricing"><a id="lnkPricing" href="PricebyLocationId?pkLocationId=@Model.LocationId" title="Pricing">Pricing <span id="spanMT"></span></a></li>
                    <li id="liPreferences"><a id="lnkPreferences" href="RefernceCodeByLocation?pkLocationId=@Model.LocationId" title="Preferences">Preferences<span id="spanNL"></span></a></li>
                </ul>
            </div>
        @*</div>*@
        <div id="DivLocation" class="expand" style="width: auto; box-sizing: border-box;margin-top: 10px;">
            @if (Model.IsEdit)
            { 
                    <div id="grid">
                </div>
            }
            else
            {
                <div style="">
                    <h4>
                        <span class="infomessage">Please ADivLocationd Location First </span>
                    </h4>
                </div> 
            }
            <div style="margin-top: 10px;">
            </div>
        </div>
        <div class="clr">
        </div>
   </div>
  </div>
 </div>
<input type="hidden" value="@Model.LocationId" id="hdnlocationid" />
<input type="hidden" value="@ViewBag.CompanyId" id="hdPkCompanyId" />
<script>
    function CancelUpdate() {

        self.location = "GetAllLocations";

    }

    function AddUser() {

        var CompanyId = $("#hdPkCompanyId").val();
        self.location = "AddCompanyUser?_c=" + CompanyId;

    }


    function UpdateUser(pkCompanyUserId, CompanyId) {
        window.location = "AddCompanyUser?_a=" + pkCompanyUserId + "&_c=" + CompanyId;
    }

    function deleteUser(companyuserid) {
        if (confirm('Are you sure you want to delete this Record?')) {
            $.post('@Url.Action("DeleteUser", "Control")', { companyserid: companyuserid }, function (data) { });
            var CompaniesuserGrid = $("#grid").data("kendoGrid");
            CompaniesuserGrid.dataSource.read();
            CompaniesuserGrid.refresh();
        }
    }



        var hdnlocationid = document.getElementById("hdnlocationid").value;
        $("#grid").kendoGrid({
        sortable: true,
        pageable: true,
        resizable: false,
        columns: [
          { field: "Isenabled", width: 300, title: "<input id='chk' type='checkbox' class='css-checkbox chk-head-style' onclick='tickUntick(this)' # /><label for='chk' class='css-label'></label>", width: "8%", template: '<input type="checkbox" id="#=pkCompanyUserId#" class="css-checkbox chkunchk" "checked=checked" : "" /><label for="#=pkCompanyUserId#" class="css-label"></label>', sortable: false, },
            { field: "UserName", title: "Name", width: "15%" },                                                                            //<input type="checkbox" id="#=pkCompanyUserId#" class="chkunchk" "checked=checked" : "" />  <input id="#=pkCompanyUserId#" class="chkunchk" type="checkbox" />
            { field: "Email", title: "Email/UserName", width: "23%" },
            { field: "RoleName", title: "User Type" },
            { field: "CompanyName", title: "Company" },
           { field: "City", title: "Location", width: "13%" },
            { field: "IsEnabledUser", title: "Active", width: 50, template: '#  if (IsEnabledUser==true) {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/status.png")" id="mainimage" style="height:16px" value="#=IsEnabledUser#"/> #} else {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/cross.png")" id="mainimage2" style="height:16px" value="#=IsEnabledUser#"/> #} #' },
          { field: "pkCompanyUserId", title: "Action", width: 100, sortable: false, template: "<input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/edit.png")' + " id='imgEdit_#=pkCompanyUserId#' title='Edit' value='#=pkCompanyUserId#' style='width:21px; height:20px' onclick='UpdateUser(\"#=pkCompanyUserId#\",\"#=pkCompanyId#\");return false;'  />#if(RoleName!='SystemAdmin' && RoleName!='SupportManager' && RoleName!='SupportTechnician' ){#<input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/delete.png")' + " id='imgDel_#=pkCompanyUserId#' title='Delete' value='#=pkCompanyUserId#' onclick='deleteUser(\"#=pkCompanyUserId#\")' style='width:21px; height:23px' />#}#" },
           ],
        editable: false, // enable editing
        dataBound: function () {
      var gridRows = $("#grid tbody tr");
                var takeGrid = $("#grid").data("kendoGrid");
                var lengeth = gridRows.length;
                for (i = 0; i < lengeth; i++) {

                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    GridEffect("grid", dataItem)
                }
       },

         // specify toolbar commands
        dataSource: {
            pageSize: 15,
            serverPaging: true,
            serverSorting: false,
            serverFiltering: false,

            schema: {
                data: "Reclist",
                total: "TotalRec"
            },

            batch: true,
            transport: {

                read: {
                    url: '@Url.Action("GetEmergeUserByLocationId", "Control")',
                    data: { pkLocationId: hdnlocationid },
                    type: "POST"
                }



            }

        }

    });

    function tickUntick() {
        $("#grid .chkunchk").each(function () {
            if (document.getElementById("chk").checked) {
                $(this).prop("checked", true);
            }
            else {
                $(this).prop("checked", false);
            }
        });
    }



</script>
