﻿@model Emerge.Models.GlobleFilterModel
@{
    ViewBag.Title = "Globle Filters";
}

<style type="text/css">
    #DivLocation td #ReportType {
    margin-bottom: 5px;
    width: 300px;
}
 
    .width38 {
    float: left;
    width: 25%;
    padding-left: 1%;
}

.center-application {
    width: 100%;
    margin-top: -15px;
}
    .k-input[type="text"] {
        height: 25px;
    }

    input[type="submit"] {
        border: none;
    }

    .table_Main {
        margin-bottom: -15%;
        width: 100%;
    }

    .btnAddNewGlobleFilter {
        background-image: url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "add-new.png")');
        background-repeat: no-repeat;
        width: 115px;  
        height: 40px;    
        margin-right:30px;  

       
        }
</style>

<div id="content-box">
    <div class="padding" style="margin-top: 50px;">
        <div id="toolbar-box" style="margin-top: -12px; background-color: rgb(255, 255, 255);">
            <div class="toolbar" id="toolbar" style="vertical-align: top">
            </div>
            <table width="100%">
                <tr>
                    <td>
                        <div class="header" style="padding: 0px 0px 0px 4px; width: 100%;">
                            <i class="glbfilter"></i>Globle Filters
                        </div>
                    </td>                   
                </tr>
            </table>
            <div class="clr">
            </div>
                <div id="element-box">
                    @Html.Partial("ProductManagement")
                    <div class="" style="background-color: rgb(255, 255, 255);">
                        

                        @using (Ajax.BeginForm("AddGlobleFilters", "Control", new AjaxOptions { OnBegin = "CheckValidation", OnSuccess = "GetResults" }))
                        {   
                             <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation" style="display: block;background-color: transparent !important;margin-bottom:8px;">
                        <tr>                            
                            <td>
                                <table>
                                    <tr>
                                        <td>Source</td>
                                        <td style="padding-left:29px;">                                            
                                            Docket Number
                                        </td>
                                       <td style="padding-left:30px;">    
                                       Delivery Address</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            
                                            @Html.TextBoxFor(m => m.Source, new { @style = "width:365px;;", @class = "form-control valid" })                                           
                                        </td>
                                        <td>                                            
                                            @Html.TextBoxFor(m => m.DocketNumber, new { @style = "margin-left: 29px", @class = "form-control valid" })                                      
                                        </td>
                                        <td>                                            
                                            @Html.TextBoxFor(m => m.DeliveryAddress, new { @style = "margin-left: 29px", @class = "form-control valid" })                                        
                                        </td>
                                        <td>
                                            <input type="submit" value="" id="btnAddGlobleFilter" class="btnAddNewGlobleFilter" style="margin-left:29px;" />
                                        </td>
                                    </tr>
                                    <tr>    
                                        <td></td>                                    
                                        <td id="divMSG">                                                                                       
                                        </td>                                   
                                        <td></td>                                    
                                    </tr>
                                </table>
                            </td>
                        </tr>

                    </table>
                        }
                        <table border="0" style="width: 100%; margin-bottom: 25px;">
                            <tr>
                                <td align="center">
                                    <div id="divUpdMSG" style="display: none">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <div id="filters">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="clr">
                        </div>
                    </div>
                </div>
        </div>
        <div class="clr">
        </div>
    </div>
</div>

<script type="text/javascript">

    function GetResults(Result) {
        if (Result != null) {
            $("#divMSG").css('display', 'block');
            $("#divMSG").html(Result.Message);
            $("#divMSG").addClass(Result.Css);
            $("#DocketNumber").empty();
            $("#Source").empty();
            location.reload();
            $("#DocketNumber").empty();
            $("#Source").empty();
        }
    }

    $("#DivComments").hide();
    $("#filters").kendoGrid({
        sortable: true,


        dataSource: {
            type: "json",
            serverPaging: true,
            serverSorting: true,
            pageSize: 15,
            transport: {
                read: { url: '@Url.Action("BindGlobleFilter", "Control")', dataType: "json", async: true }
            },
            schema: {
                data: "FilterValue", total: "TotalCount",
                model: {
                    fields: {
                        NewAccountCreatedDate: { type: "date" }
                    }
                }
            }

        },
        height: 405,
        scrollable: {
            virtual: true
        },
        sortable: true,
        columns: [
        // { field: "FilterName", title: "Filter Name", width: "6%" },
         { field: "ReportType", title: "Report Types", width: "6%"},
         { field: "Keywords", title: "Keywords", width: "45%" },
         { //field: "IsEnable", title: "Enabled", width: "4%", template: '<input class="chkDefault"  disabled="disabled" type="checkbox" #= IsEnable ? "checked=checked" : "" #  ></input>' },
            field: "IsEnable", title: "Enabled", width: "4%", template: '<input class="css-checkbox"  disabled="disabled" type="checkbox" #= IsEnable ? "checked=checked" : "" #  ></input><label class="css-label"></label>' },
         { field: "GlobleFilterId", title: "Action", width: "4%", template: "<input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/edit.png")' + " id='imgEdit_#=GlobleFilterId#' style='width:15; height:18px' title='Edit' onclick='UpdateFilter(\"#=GlobleFilterId#\")'  />  <input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/deleterow.png")' + " id='imgDelete_#=GlobleFilterId#' style='width:15; height:18px' title='Delete' onclick='DeleteGlobleFilter(\"#=GlobleFilterId#\")'  /> " },
        ],
        editable: "inline",
        dataBound: function () {

            var gridHeaderRows = $("#filters tbody th");
            var gridRows = $("#filters tbody tr");
            var takeGrid = $("#filters").data("kendoGrid");
            var length = gridRows.length;
            for (i = 0; i < length; i++) {

                var dataItem = takeGrid.dataItem(gridRows[i]);
                var row = gridRows[i];
                var Report_Type = dataItem.ReportType;
                //var Coundition2 = dataItem.IsEnable;
                var Coundition1 = dataItem.Keywords;
                var ReportType = Report_Type.replace(/,/g, ', ')
                row.cells[0].innerHTML = ReportType;
                row.cells[1].innerHTML = Coundition1;
                //row.cells[3].innerHTML = Coundition2;
                GridEffect("filters", dataItem)
            }
        }

    }).find("th").addClass("centeralign");

     function UpdateFilter(filterid) {
         self.location = "UpdateGlobleFilters?_a=" + filterid;
     }

     function DeleteGlobleFilter(filterid) {
         $.post("../Control/DeleteGlobleFilters", { GloblefilterId: filterid }, function (Result) {
             if (Result != null) {
                 $("#divMSG").css('display', 'block');
                 $("#divMSG").html(Result.Msg);
                 $("#divMSG").addClass(Result.css);
                 location.reload();

             }
         });
     }

     function CheckValidation() {
         var ret = false;
         if ($("#Source").val() == "" && $("#DocketNumber").val() == "" && $("#DeliveryAddress").val() == "") {
             alert("Please enter at least one field");
             ret = false;
         }
         else {
             ret = true;
         }
         return ret;
     }

</script>
