﻿<div id="grid"></div>
 <script src="../../Scripts/KendoJS/jquery.min.js" type="text/javascript"></script>
    <script src="../../Scripts/KendoJS/kendo.all.min.js" type="text/javascript"></script>
    <script src="../../Scripts/KendoJS/kendo.web.min.js" type="text/javascript"></script>
    <link href="../../Content/kendo.common.min.css" rel="stylesheet" rel="stylesheet" />
    <link href="../../Content/kendo.default.min.css" rel="stylesheet" rel="stylesheet" />

 <script type="text/javascript">



     $(document).ready(function () {
         var employeeTerritoriesDS = $("#grid").kendoGrid({
             dataSource: {
                 type: "json",
                 serverPaging: true,
                 serverSorting: true,
                 pageSize: 15,

                 transport: { read: { url: '@Url.Action("testadminPendingReportsForAdmin", "Control")', dataType: "json", async: true} },
                 schema: { data: "Products", total: "TotalCount" }

             },
             height: 280,
             scrollable: {
                 virtual: true
             },
             sortable: true,
             columns: [
               { field: "ApplicantName", title: "Applicant Name" },
               { field: "OrderNo", title: "Order No" },
               { field: "ReportIncludes", title: "Data Sources" },
               { field: "CompanyName", title: "Company Name" },
               { field: "Location", title: "Location" },
               { field: "UserEmail", title: "UserEmail" },
               { field: "OrderDt", title: "Order Date", format: "{0:dd/MM/yyyy}" },
               { field: "OrderStatusDisplay", title: "Status" },
               { field: "OrderId", title: "Update", template: "<input type='IMAGE' src='../../Content/themes/base/images/update_icon.png' id='image1' value='#=PendingOrderUpdateNote#' onclick='edit(this.value)'/>" }
             ]
         });
     });

            
            </script>