﻿@{
    ViewBag.Title = "Jurisdiction Fee";
}

@using (Ajax.BeginForm("../Control/UpdateJurisdictionfee", "", new AjaxOptions { OnSuccess = "getResult" }, new { id = "frmStateCountyFee" }))
{
<div id="content-box">
    <div class="padding">
        <div id="toolbar-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
                <div class="toolbar" id="toolbar">
                    <table class="toolbar">
                        <tr>
                            <td>
                                <input class="imgbtnClasspnl" title="Save fee" type="submit" style="background-image: url('../../Content/themes/base/images/ControlPanel/images/toolbar/save_button.png');
                                    color: transparent; border-bottom-width: 0px; background-color: transparent;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="header icon-48-user" style="padding: 0px 0px 0px 55px;">
                    Jurisdiction Fee
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
                <center>
                    <table width="80%" class="AdminAddInformation">
                        <tr>
                            <td colspan="3" align="center">
                                <div id="dvMsg">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <table border="0" class="tbl_layout" cellspacing="0">
                                    <tr class="ProductsTd">
                                        <td align="left" width="300px">
                                            &nbsp;Jurisdiction Name
                                        </td>
                                        <td align="left" id="thFees" runat="server">
                                            &nbsp;Fees
                                        </td>
                                        <td align="center" id="thConsentForm" runat="server">
                                            &nbsp;Consent Form
                                        </td>
                                         <td align="center" id="thDisclaimer" runat="server">
                                            &nbsp;Disclaimer Data
                                        </td>
                                    </tr>
                                    @if (ViewData["FeeData"] != null)
                                    {
                                        if ((ViewData["FeeData"] as List<Emerge.Data.tblJurisdiction>).Count > 0)
                                        {
                                            List<Emerge.Data.tblJurisdiction> Obj = (ViewData["FeeData"] as List<Emerge.Data.tblJurisdiction>);
                                            for (var i = 0; i < Obj.Count; i++)
                                            {
                            
                                        <tr>
                                            <td align="left" width="200px">
                                                @Obj.ElementAt(i).JurisdictionName
                                                <input name="pkJurisdictionId_@i" type="hidden" value="@Obj.ElementAt(i).pkJurisdictionId" />
                                            </td>
                                            <td align="left" id="tdFees" runat="server">
                                                <input type="text" name="txtJurisdictionFee_@i" value="@Obj.ElementAt(i).JurisdictionFee" style="width: 80px;" />
                                            </td>
                                            <td align="center" id="tdConsentForm" runat="server">
                                                @if (Obj.ElementAt(i).IsConsentForm)
                                                {
                                                    <input type="checkbox" name="chkConsentForm_@i" checked="checked" />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="chkConsentForm_@i"  />
                                                }
                                            </td>
                                             <td align="center" id="tdDisclaimer" runat="server">
                                              <input type="text" name="txtDisclaimerData_@i" value="@Obj.ElementAt(i).DisclaimerData" style="width:400px" />
                                             </td>
                                        </tr>
                                            }
                                        }
                                    }
                                </table>
                            </td>
                        </tr>
                    </table>
                </center>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
</div>
}


<script type="text/javascript">
    function getResult(result) {
        $("#dvMsg").html(result.Msg);
        $("#dvMsg").addClass(result.css);
    }
</script>
