﻿@model Emerge.Models.AdCompanyModel1
@{
    ViewBag.Title = "Company Locations";
}

<style>
    .offbtnclass {
    }

    .onbtnclass {
    }

    .simpleTooltip3 {
        font-family: inherit;
        font-size: 13px;
    }

    .main {
        font-size: 14px;
        width: 100%;
        /*background-color: #f2f7fb;*/
    }

    .nav > li > a:hover, .nav > li > a:focus {
        color: #fff !important;
    }

    /*---- 04-11-2015-----*/
    .green-input,
    .grey-input,
    .red-input {
        width: 147.5px;
        float: left;
        margin: 12px 7px;
        text-align: left;
    }

    .fill-green,
    .fill-grey,
    .fill-red {
        padding: 6px 7px!important;
    }

    .green-input,
    .grey-input,
    .input-group .form-control,
    .red-input {
        text-align: left;
    }

    .green-input {
        border: 1px solid #5db21f;
        height: 25px;
    }

    .fill-green,
    .green-btn-area {
        border-radius: 0;
        height: 25px;
    }

    .fill-green {
        background-color: #5db21f;
    }

    .green-btn-area {
        font-size: 12px;
        color: #4b9714;
    }

    .red-input {
        border: 1px solid #d53a2c;
        height: 25px;
    }

    .fill-red,
    .red-btn-area {
        border-radius: 0;
        height: 25px;
    }

    .fill-red {
        background-color: #d53a2c;
    }

    .red-btn-area {
        font-size: 12px;
        color: #d53a2c;
    }

    .grey-input {
        border: 1px solid #9d9d9d;
        height: 25px;
    }

    .fill-grey,
    .grey-btn-area {
        border-radius: 0;
        height: 25px;
    }

    .fill-grey {
        background-color: #9d9d9d;
    }

    .grey-btn-area {
        font-size: 12px;
        color: #9d9d9d;
    }
</style>

<div class="buttons-bar" style="margin-top: 58px;">
    <img id="imgApplicant15" class="plus-minus" src="~/Content/themes/base/images/mastercard.jpg" alt="expand" style="width: 48px; height: 30px; margin-left: 15px; margin-top: 12px; float: left">

    <div>
        @if (ViewBag.CompanyId != 0)
        {
            var cityNAME = Model.City;
            if (Model.City == "-3")
            {
                cityNAME = Model.CityName;
            }
                                       
            <div style="float: left; margin-left: 12px; margin-top: 15px; font-size: 17px; font-weight: bold;">@Model.CompanyName&#32;&#91;@cityNAME&#44;@Model.State_Code&#93;</div>
        }
        else
        { 
            <div>
                Company
            </div>
                               
        }
    </div>
    <div class="horiz-ch-menu hori-btns">
        <ul>
            <li>
                @if (ViewBag.CompanyId != 0)
                {
                    <a href="../Control/AddCompanyLocation?_c=@ViewBag.CompanyId" class="btn btn-default location-btn" style="width: 98px; margin-top: -36px; height: 37px; font-weight:normal; line-height: 1px;"><i class="plus-icon"></i>Location</a>
@*<img id="imgApplicant13" class="plus-minus" src="/Content/themes/base/images/arrowexpand.png" alt="expand" style="margin-top: -5px;">&nbsp;Location</a>*@
                }
                else
                { 
                    <a href="../Control/AddCompanyLocation" class="btn btn-default location-btn" style="width: 98px; margin-top: -36px; height: 37px; font-weight: normal; line-height: 1px;"><i class="plus-icon"></i>Location</a>
@*<img id="imgApplicant14" class="plus-minus" src="/Content/themes/base/images/arrowexpand.png" alt="expand" style="margin-top: -5px;">&nbsp;Location</a>*@
                            
                }
            </li>
            <li>

                <a href="../Control/GetAllCompanies" class="btn btn-danger" style="width: 74px; margin-top: -37px; height: 35px; line-height: 1px; font-weight: normal; color: #fff !important;">Cancel
                </a>
            </li>


        </ul>
    </div>
</div>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <div style="height: 1px;">
    </div>
    <tr>
        <td width="25%" valign="top">
            <div style="width: 100%; height: 100%; overflow: hidden; margin-top: 10px;">
                <div id="content-box1">
                    <div class="padding1">
                        <div id="toolbar-box">
                            @*                            <div class="t">
                                <div class="t">
                                    <div class="t">
                                    </div>
                                </div>
                            </div>*@
                            <div class="m m_padd0">
                                <div class="header1" style="padding: 15px; padding: 10px 0px; margin: 0px 10px; border-bottom: 1px solid rgb(221, 221, 221);">
                                    <img src="@Url.Content("~/Content/themes/base/images/call-log-icon.png")" alt="" style="border: none; height: 20px; width: 18px;" />
                                    <span style="color: #010102">Call Log</span>
                                </div>
                                <div class="" id="Div3">
                                    <table width="100%">
                                        <tr>
                                            <td width="100%" style="padding: 0px 10px;">
                                                @* @Html.TextAreaFor(n => n.TxtCallLog, new { @style = "height: 60px; width: 98%;" })*@

                                                <div class="col-sm-6">
                                                    <div class="input-group" style="margin: 12px 5px 12px 0px;">
                                                        <input type="hidden" value="@ViewBag.Status" id="hdnleadstatus" />
                                                        <input type="hidden" value="@ViewBag.MilestoneStatus" id="CurrentMileStoneStatus" />
                                                        @if (ViewBag.IsActive == 1)
                                                    { 
                                                        <img id="imgbtn_6" alt="" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-5-on.png")" style="float:left; width:100%;" onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" />
                                            
                                                    }
                                                    else if (ViewBag.IsActive == 2)
                                                    { 
                                                        <img id="imgbtn_6" alt="" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")" style="float:left; width:100%;" onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" />
                                            
                                                    }
                                                    else
                                                    { 
                                                        <img id="imgbtn_6" alt="" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-off.png")" style="float:left; width:100%;" onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" />
                                            
                                                    }
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-group" style="margin: 12px 0px 12px 5px;">                                                        
                                                        <img id="imgbtn_7" alt="" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-off.png")" style="float:left; width:100%;" onclick="ShowReasionWindow(this.id);" onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" />
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="input-group" style="margin: 12px 5px 12px 0px;">                                                        
                                                        <img id="imgbtn_8" class="offbtnclass" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-off.png")" style="float:left; width:100%;"  onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)"  onclick="UpdateStatus(this.id);" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-group" style="margin: 12px 0px 12px 5px;">                                                        
                                                         <img id="imgbtn_9" class="offbtnclass" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-off.png")" style="float:left; width:100%;"   onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" onclick="UpdateStatus(this.id);" />
                                                    </div>
                                                </div>
                                                <div style="float: left;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td align="center"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

                                                <table style="height: auto;" class="form-grid-head" cellpadding="2" cellspacing="2" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 50%;">Date
                                                            </td>

                                                            <td style="width: 50%; text-align: left;">Rep
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="100%" class="align-boxes" style="border: 0px solid #ffffff; background-color: #ffffff; padding: 0 0 0 10px;">
                                                    @if (Model.CollGetCommentsForLeadResult != null)
                                                    {
                                                        for (int i = 0; i < Model.CollGetCommentsForLeadResult.Count; i++)
                                                        {
                                                            string Date = "f";
                                                            string Time = Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate.Date.ToString("hh:MM");
                                                            string Space = " ";
                                                            string Date_disp = Date;
                                                        <tr style="background-color: #ffffff">
                                                            <td style="padding-left: 10px; width: 147.5px; height: 20px;" align="left">

                                                                <span id="LblDate-@i">@Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate.ToString("MM/dd/yyyy, hh:mm tt").Replace(",", " ")</span>
                                                                <label style="margin-left: 3px">
                                                                    @Model.CollGetCommentsForLeadResult.ElementAt(i).FirstName.Substring(0, 1).ToUpper()@Model.CollGetCommentsForLeadResult.ElementAt(i).LastName.Substring(0, 1).ToUpper()
                                                                </label>

                                                            </td>
                                                            <td style="width: 147.5px; height: 25px;" align="left">
                                                                @{int a;
                                                                  if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#').Count() < 2) { a = 0; } else { a = 1; }
                                                                  //string z = Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[a];
                                                                  switch (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[a])
                                                                  {

                                                                      case "1":

                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-1-on.png")" class="simple_Tooltip1" style="width:100%;" title="File Started" alt="File Started" />
                                                                        @*<input class="form-control grey-btn-area" id="inputGroupSuccess6" aria-describedby="inputGroupSuccess3Status" value="File Started" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      case "2":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-2-on.png")" class="simple_Tooltip1" style="width:100%;" title="Proposal Out" alt="Proposal Out" />
                                                                        @*<input class="form-control grey-btn-area" id="inputGroupSuccess5" aria-describedby="inputGroupSuccess3Status" value="Proposal Out" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      case "3":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-3-on.png")" class="simple_Tooltip1" style="width:100%;" title="Agreement Out" alt="Agreement Out" />
                                                                        @*<input class="form-control grey-btn-area" id="inputGroupSuccess4" aria-describedby="inputGroupSuccess3Status" value="Agreement Out" type="button">*@
                                                                    </div>																			  
                                                                          break;

                                                                      case "4":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-4-on.png")" class="simple_Tooltip1" style="width:100%;" title="Agreement In" alt="Agreement In" />
                                                                        @*<input class="form-control grey-btn-area" id="inputGroupSuccess8" aria-describedby="inputGroupSuccess3Status" value="Agreement In" type="button">*@
                                                                    </div>                                      
                                                                          break;

                                                                      case "5":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">                                                                        
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-5-on.png")" class="simple_Tooltip1" style="width:100%;" title="Activated" alt="Activated" />
                                                                        @*<input class="form-control grey-btn-area" id="inputGroupSuccess9" aria-describedby="inputGroupSuccess3Status" value="Activated" type="button">*@
                                                                    </div>                                      
                                                                          break;

                                                                      case "10":
                                                                      <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/demo_scheduled.png")" class="simple_Tooltip1" style="width:100%;" title="Demo Scheduled[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].AsDateTime().Date.ToString("dd/MM/yyyy hh:MM tt"),@Model.CompanyName,@Model.MainPhone]" alt="" onclick="ShowDemoSchedule()" />
                                                                        <input type="hidden" id="hdnDemosendid" value="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" />
                                                                      </div>
                                                                          break;

                                                                      case "11":                                                                                           
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/document_sent.png")" class="simple_Tooltip1" style="width:100%;" onclick="DocumentSentf(this.id)" id="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" title="Document Sent[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].Remove(0, 2)]" alt="" />
                                                                        @*<input class="form-control grey-btn-area simple_Tooltip1" onclick="DocumentSentf(this.id)" id="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" title="Document Sent[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].Remove(0, 2)]" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      case "12":                                                                            
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/QualityControlSurvey.png")" class="simple_Tooltip1" style="width:100%;" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2]" alt="Quality Control Survey" />
                                                                        @*<input class="form-control grey-btn-area simple_Tooltip1" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2]" value="Quality Control Survey" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      case "13":                                                                          
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                        <img src="@Url.Content("~/Content/themes/base/images/Demo_Completed.png")" class="simple_Tooltip1" style="width:100%;" title="Demo Completed" alt="Demo Completed" />
                                                                        @*<input class="form-control grey-btn-area simple_Tooltip1" id="inputGroupSuccess10" aria-describedby="inputGroupSuccess3Status" value="Demo Completed" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      case "6":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">                                                                        
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")" class="simple_Tooltip1" style="width:100%;" title="Account Inactive" alt="Account Inactive" />
                                                                        @*<input class="form-control grey-btn-area simple_Tooltip1" id="inputGroupSuccess7" aria-describedby="inputGroupSuccess3Status" value="Account Inactive" type="button">*@
                                                                    </div>    
                                                                          break;

                                                                      case "7":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">                                                                        
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-on.png")" class="simple_Tooltip1" style="width:100%;" title="Locked" alt="Locked" />
                                                                        @*<input class="form-control grey-btn-area simple_Tooltip1" id="inputGroupSuccess11" aria-describedby="inputGroupSuccess3Status" value="Locked" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      case "8":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">                                                                        
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-on.png")"  class="simple_Tooltip1" style="width:100%;" title="Past Due" alt="Past Due" />
                                                                        @*<input class="form-control grey-btn-area simple_Tooltip1" id="inputGroupSuccess12" aria-describedby="inputGroupSuccess3Status" value="Past Due" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      case "9":                                                                        
                                                                    <div class="input-group" style="margin: 10px 0px 10px 5px;">                                                                        
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-on.png")" class="simple_Tooltip1" style="width:100%;" title="In Collections" alt="In Collections" />
                                                                        @*<input class="form-control grey-btn-area simple_Tooltip1" id="inputGroupSuccess13" aria-describedby="inputGroupSuccess3Status" value="In Collections" type="button">*@
                                                                    </div>
                                                                          break;

                                                                      default:
                                                                          break;
                                                                  }
                                                                }
                                                            </td>
                                                        </tr>
                                                                                                               
                                                        <tr style="background-color: #ffffff">
                                                            <td colspan="2" style="text-align: left; font-size: 10px">
                                                                @if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments != null)
                                                                {

                                                                    string[] stringSeparators = new string[] { "##" };
                                                                    if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Contains("##"))
                                                                    {

                                                                    }
                                                                    else
                                                                    {
                                                                    <div style="padding: 10px; font-size: 10px">
                                                                        <label class="simpleTooltip3" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")">@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")</label>
                                                                    </div>
                                                                    }

                                                                }
                                                            </td>
                                                        </tr>
                                                        }
                                                    }

                                                </table>

                                                <div class="call_logtextarea" style="padding: 10px 0px; border-top: 1px solid rgb(221, 221, 221); margin-left: 10px; margin-right: 10px;">
                                                    @Html.TextAreaFor(n => n.TxtCallLog, new { @style = "height: 60px; width: 100%;" })
                                                </div>
                                                <div style="float: right; margin-right: 11px">                                                    
                                                    <label style="color: Red;margin-right:10px;" id="validation"></label>
                                                    <input type="button" value="Submit" onclick="SaveCallLog()" style="background: rgb(0, 120, 189) none repeat scroll 0% 0%; color: rgb(255, 255, 255); height: 38px; width: 77px; border-radius: 5px; border: 0px none; margin-bottom: 15px; margin-left: -7px;" />                                                                                                        
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <script type="text/javascript">
                                    function ImgOver(imgId) {


                                        var img = document.getElementById(imgId);
                                        var currntistone = imgId.split("_")[1];
                                        var hdnleadstatus = document.getElementById("CurrentMileStoneStatus").value;

                                        if (hdnleadstatus != currntistone) {

                                            if (document.getElementById(imgId).src.indexOf("milestone-5-on") == -1 && document.getElementById(imgId).src.indexOf("milestone-6-on") == -1) {
                                                if (img != null) {
                                                    //alert(img.src);
                                                    var path = img.src;
                                                    path = path.replace('off.png', 'on.png')
                                                    img.src = path;
                                                }
                                                return false;
                                            }

                                        }
                                    }
                                    function ImgOut(imgId) {
                                        var hdnleadstatus = document.getElementById("CurrentMileStoneStatus").value;
                                        var currntistone = imgId.split("_")[1];

                                        if ((hdnleadstatus != currntistone)) {
                                            if (document.getElementById(imgId).src.indexOf("milestone-5-on") == -1 && document.getElementById(imgId).src.indexOf("milestone-6-on") == -1) {
                                                var img = document.getElementById(imgId);
                                                if (img != null) {
                                                    var path = img.src;
                                                    path = path.replace('on.png', 'off.png')
                                                    img.src = path;
                                                }
                                                SetCurrentCompanyStatus(hdnleadstatus);
                                                return false;
                                            }

                                        }

                                    }


                                    function SetCurrentCompanyStatus(CompanyStatus) {
                                        if (CompanyStatus == 7) {
                                            //locked
                                            var IconLockedSrc = document.getElementById("imgbtn_7").src;
                                            var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                                            document.getElementById("imgbtn_7").src = NewIconLockedSrc;
                                        }

                                        if (CompanyStatus == 6) {

                                            //active
                                            var IconActivatedSrc = document.getElementById("imgbtn_6").src;

                                            var NewIconActivated = '';
                                            if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {
                                                NewIconActivated = IconActivatedSrc.replace("6-off.", "5-on.");
                                            }
                                            else if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {

                                                NewIconActivated = IconActivatedSrc.replace("6-off.", "6-on.");
                                            }
                                            else {
                                                NewIconActivated = IconActivatedSrc.replace("5-off.", "5-on.");
                                            }
                                            document.getElementById("imgbtn_6").src = NewIconActivated;
                                        }
                                        else if (CompanyStatus == 8) {
                                            // pASTDUE
                                            var IconPastDueSrc = document.getElementById("imgbtn_8").src;
                                            var NewIconPastDueSrc = IconPastDueSrc.replace("off.", "on.");
                                            document.getElementById("imgbtn_8").src = NewIconPastDueSrc;
                                            //                                                                            var IconLockedSrc = document.getElementById("imgbtn_7").src;
                                            //                                                                            var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                                            //                                                                            document.getElementById("imgbtn_7").src = NewIconLockedSrc;
                                        }
                                        else if (CompanyStatus == 9) {
                                            //InCollection
                                            var IconInCollectionSrc = document.getElementById("imgbtn_9").src;
                                            var NewIconInCollectionSrc = IconInCollectionSrc.replace("off.", "on.");
                                            document.getElementById("imgbtn_9").src = NewIconInCollectionSrc;
                                            //                                                                            var IconLockedSrc = document.getElementById("imgbtn_7").src;
                                            //                                                                            var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                                            //                                                                            document.getElementById("imgbtn_7").src = NewIconLockedSrc;
                                        }
                                        else if (CompanyStatus == 10) {
                                            // iNACTIVE

                                            var IconActivatedSrc = document.getElementById("imgbtn_6").src;
                                            var NewIconActivated = '';
                                            if (IconActivatedSrc.indexOf("milestone-1-off") != -1) {
                                                NewIconActivated = IconActivatedSrc.replace("1-off.", "6-on.");
                                            }
                                            else if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {
                                                NewIconActivated = IconActivatedSrc.replace("6-off.", "6-on.");
                                            }
                                            else {
                                                NewIconActivated = IconActivatedSrc.replace("5-off.", "6-on.");
                                            }

                                            document.getElementById("imgbtn_6").src = NewIconActivated;
                                        }

                                    }

                                </script>
                                <div class="clr">
                                </div>
                            </div>
                            @*<div class="b">
                                <div class="rightBottomRptHdrBorder">
                                </div>
                                <div class="leftBottomRptHdrBorder">
                                </div>
                            </div>*@
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>

            </div>
        </td>

        @*<td width="20%" valign="top">
            <div style="width: 100%; height: 100%; overflow: hidden;">
                <div id="content-box1">
                    <div class="padding1">
                        <div id="toolbar-box">
                            @*<div class="t">
                                <div class="t">
                                    <div class="t">
                                    </div>
                                </div>
                            </div>*
                            <div class="m">
                                <div class="header1" style="padding: 10px 0px 0px 0px;">
                                    <img src="@Url.Content("~/Content/themes/base/images/call-log-icon.png")" alt="" style="border: none; height: 20px; width: 18px;" />
                                    Call Log
                                </div>
                                <div class="" id="Div3">
                                    <table width="100%">
                                        <tr>
                                            <td width="95%">
                                                @* <textarea id="TxtCallLog" style="height: 60px; width: 98%;" cols="20" rows="2" name="TxtCallLog"></textarea>*
                                                @Html.TextAreaFor(n => n.TxtCallLog, new { @style = "height: 60px; width: 98%;" })
                                                <br />
                                                <input type="button" value="Submit" onclick="SaveCallLog()" /><label style="color: Red;"
                                                    id="validation">
                                                </label>
                                                <div style="float: left;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td align="center">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid #cdcdcd;">
                                                <div class="BlackHeader" style="width: 97%;">
                                                    &nbsp; &nbsp;Date <span style="margin-left: 76px">Rep</span>
                                                </div>
                                                <table width="100%" style="border: 0px solid #ffffff; background-color: #ffffff;
                                                    padding: 0 0 0 10px;">
                                                    @if (Model.CollGetCommentsForLeadResult != null)
                                                    {
                                                        for (int i = 0; i < Model.CollGetCommentsForLeadResult.Count; i++)
                                                        {
                                                            string Date = Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate.Date.ToString("dd/MM/yyyy").Replace(" ", "");
                                                            string Time = Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate.Date.ToString("hh:MM tt");
                                                            string Space = " ";
                                                            string Date_disp = Date + Space + Time;
                                                        <tr style="background-color: #f5f5f5">
                                                            <td width="60%" height="20px;" align="left">
                                                                <span  id="LblDate-@i">@Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate.ToString("MM/dd/yyyy, hh:mm tt").Replace(","," ")</span>
                                                                <label style="margin-left:3px">
                                                                    @Model.CollGetCommentsForLeadResult.ElementAt(i).FirstName.Substring(0, 1).ToUpper()@Model.CollGetCommentsForLeadResult.ElementAt(i).LastName.Substring(0, 1).ToUpper()</label>
                                                            </td>
                                                            <td width="40%" height="20px;" align="left">
                                                                <div style="width: 100%; height: 100%; overflow: hidden;">
                                                                    @{int a;
                                                                      if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#').Count() < 2) { a = 0; } else { a = 1; }

                                                                      switch (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[a])
                                                                      {
                                                                          case "1":
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-1-on.png")" class="simple_Tooltip1" title="File Started" alt="File Started" />
                                                                             break;
                                                                          case "2":
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-2-on.png")" class="simple_Tooltip1" title="Proposal Out" alt="Proposal Out" />
                                                                             break;
                                                                          case "3":
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-3-on.png")" class="simple_Tooltip1" title="Agreement Out" alt="Agreement Out" />
                                                                             break;
                                                                          case "4":
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-4-on.png")" class="simple_Tooltip1" title="Agreement In" alt="Agreement In" />
                                                                             break;
                                                                          case "5":
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-5-on.png")" class="simple_Tooltip1" title="Activated" alt="Activated" />
                                                                             break;
                                                                          case "10":
                                                                        <img src="@Url.Content("~/Content/themes/base/images/demo_scheduled.png")" class="simple_Tooltip1" title="Demo Scheduled[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].AsDateTime().Date.ToString("dd/MM/yyyy hh:MM tt"),@Model.CompanyName,@Model.MainPhone]" alt=""  onclick="ShowDemoSchedule()" />
                                                                        <input type="hidden" id="hdnDemosendid"  value="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" />                                                                         break;

                                                                          case "11":
               
                                                                        <img src="@Url.Content("~/Content/themes/base/images/document_sent.png")" class="simple_Tooltip1" onclick="DocumentSentf(this.id)" id="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" title="Document Sent[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].Remove(0, 2)]" alt="" />
                                                                                                                                                                                                                                                                                                                               break;


                                                                          case "12":
                                                                        <img src="@Url.Content("~/Content/themes/base/images/QualityControlSurvey.png")" class="simple_Tooltip1" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2]" alt="Quality Control Survey" />
                                                                                                                                                                                   break;
                                                                          case "13":
                                                                        <img src="@Url.Content("~/Content/themes/base/images/Demo_Completed.png")" class="simple_Tooltip1" title="Demo Completed" alt="Demo Completed" />
                                                                             break;

                                                                          case "6":
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")" class="simple_Tooltip1" title="Account Inactive" alt="Account Inactive" />
                                                                             break;
                                                                          case "7":
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-on.png")" class="simple_Tooltip1" title="Locked" alt="Locked" />
                                                                             break;
                                                                          case "8":
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-on.png")"  class="simple_Tooltip1" title="Past Due" alt="Past Due" />
                                                                             break;

                                                                          case "9":
                                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-on.png")" class="simple_Tooltip1" title="In Collections" alt="In Collections" />
                                                                             break;
                                                                          default:



                                                                             break;
                                                                      }
                                                                    }
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        
                                                        <tr style="background-color: #e0eef5; min-height: 60px;">
                                                            <td colspan="2" align="left" style="">
                                                                @if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments != null)
                                                                {

                                                                    string[] stringSeparators = new string[] { "##" };
                                                                    if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Contains("##"))
                                                                    {



                                                                    }
                                                                    else
                                                                    {
                                                                    <div style="padding: 5px">
                                                                        <label class="simpleTooltip3" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")">@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")</label></div>
                                                                    }

                                                                }
                                                            </td>
                                                        </tr>
                                                        }
                                                    }
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                   <script type="text/javascript">
                                       function ImgOver(imgId) {


                                           var img = document.getElementById(imgId);
                                           var currntistone = imgId.split("_")[1];
                                           var hdnleadstatus = document.getElementById("CurrentMileStoneStatus").value;

                                           if (hdnleadstatus != currntistone) {

                                               if (document.getElementById(imgId).src.indexOf("milestone-5-on") == -1 && document.getElementById(imgId).src.indexOf("milestone-6-on") == -1) {
                                                   if (img != null) {
                                                       //alert(img.src);
                                                       var path = img.src;
                                                       path = path.replace('off.png', 'on.png')
                                                       img.src = path;
                                                   }
                                                   return false;
                                               }

                                           }
                                       }
                                       function ImgOut(imgId) {
                                           var hdnleadstatus = document.getElementById("CurrentMileStoneStatus").value;
                                           var currntistone = imgId.split("_")[1];

                                           if ((hdnleadstatus != currntistone)) {
                                               if (document.getElementById(imgId).src.indexOf("milestone-5-on") == -1 && document.getElementById(imgId).src.indexOf("milestone-6-on") == -1) {
                                                   var img = document.getElementById(imgId);
                                                   if (img != null) {
                                                       var path = img.src;
                                                       path = path.replace('on.png', 'off.png')
                                                       img.src = path;
                                                   }
                                                   SetCurrentCompanyStatus(hdnleadstatus);
                                                   return false;
                                               }

                                           }

                                       }


                                       function SetCurrentCompanyStatus(CompanyStatus) {
                                           if (CompanyStatus == 7) {
                                               //locked
                                               var IconLockedSrc = document.getElementById("imgbtn_7").src;
                                               var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                                               document.getElementById("imgbtn_7").src = NewIconLockedSrc;
                                           }

                                           if (CompanyStatus == 6) {

                                               //active
                                               var IconActivatedSrc = document.getElementById("imgbtn_6").src;

                                               var NewIconActivated = '';
                                               if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {
                                                   NewIconActivated = IconActivatedSrc.replace("6-off.", "5-on.");
                                               }
                                               else if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {

                                                   NewIconActivated = IconActivatedSrc.replace("6-off.", "6-on.");
                                               }
                                               else {
                                                   NewIconActivated = IconActivatedSrc.replace("5-off.", "5-on.");
                                               }
                                               document.getElementById("imgbtn_6").src = NewIconActivated;
                                           }
                                           else if (CompanyStatus == 8) {
                                               // pASTDUE
                                               var IconPastDueSrc = document.getElementById("imgbtn_8").src;
                                               var NewIconPastDueSrc = IconPastDueSrc.replace("off.", "on.");
                                               document.getElementById("imgbtn_8").src = NewIconPastDueSrc;
                                               //                                                                            var IconLockedSrc = document.getElementById("imgbtn_7").src;
                                               //                                                                            var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                                               //                                                                            document.getElementById("imgbtn_7").src = NewIconLockedSrc;
                                           }
                                           else if (CompanyStatus == 9) {
                                               //InCollection
                                               var IconInCollectionSrc = document.getElementById("imgbtn_9").src;
                                               var NewIconInCollectionSrc = IconInCollectionSrc.replace("off.", "on.");
                                               document.getElementById("imgbtn_9").src = NewIconInCollectionSrc;
                                               //                                                                            var IconLockedSrc = document.getElementById("imgbtn_7").src;
                                               //                                                                            var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                                               //                                                                            document.getElementById("imgbtn_7").src = NewIconLockedSrc;
                                           }
                                           else if (CompanyStatus == 10) {
                                               // iNACTIVE

                                               var IconActivatedSrc = document.getElementById("imgbtn_6").src;
                                               var NewIconActivated = '';
                                               if (IconActivatedSrc.indexOf("milestone-1-off") != -1) {
                                                   NewIconActivated = IconActivatedSrc.replace("1-off.", "6-on.");
                                               }
                                               else if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {
                                                   NewIconActivated = IconActivatedSrc.replace("6-off.", "6-on.");
                                               }
                                               else {
                                                   NewIconActivated = IconActivatedSrc.replace("5-off.", "6-on.");
                                               }

                                               document.getElementById("imgbtn_6").src = NewIconActivated;
                                           }

                                       }
                                                                    
                                                                </script>
                                <div class="clr">
                                </div>
                            </div>
                            <div class="b">
                                <div class="rightBottomRptHdrBorder">
                                </div>
                                <div class="leftBottomRptHdrBorder">
                                </div>
                            </div>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>
        </td>*@
        <td width="75%" valign="top">
            <div style="width: 100%; height: 100%; overflow: hidden; margin-top: 10px;">
                <div id="content-box">
                    <div class="padding">

                        <div class="clr">
                        </div>
                        <div class="clr">
                        </div>
                        <div class="clr">
                        </div>
                        <div style="width: 100%; text-align: center;">
                            <div id="dvMsg">
                                @Html.Raw(@ViewBag.Message)
                            </div>
                        </div>

                        @*    <div class="tabs_wrapperc">
	<!-- Original tabs START -->
    <div class="bckimage1loc">
	<div class="original_tabsloc">
		<ul>
			<li id="liProfile" class="lnkProfile"><a id="lnkProfile" href="AddCompanies?Id1=@Model.ObjCompLocationId" title="Profile ">
                                                        Profile<span id="spanPL"></span></a> </li>
                                                    <li id="liLocation" class="liLocation active"><a id="lnkLocation"  href="LocationByCompanyId?Id1=@Model.ObjCompLocationId" title="Location">
                                                        Location<span id="spanET"></span></a> </li>
                                                     <li id="liUsers" class="liUsers" ><a id="lnkUsers"  href="UsersByCompanyId?Id1=@Model.ObjCompLocationId" title="Users">
                                                        Users<span id="spanST"></span></a></li>
                                                   <li id="liPricing"  class="liPricing"><a id="lnkPricing" href="PriceByCompanyId?Id1=@Model.ObjCompLocationId" title="Pricing">
                                                        Pricing <span id="spanMT"></span></a></li>
                                                    <li id="liPreferences" class="liPreferences"><a id="lnkPreferences" href="ReferenceByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">
                                                        Preferences<span id="spanpre"></span></a></li>
                                                    <li id="liDocuments" class="liDocuments"><a id="lnkDocuments" href="DocumentsByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">
                                                        Documents<span id="spandd"></span></a></li>
                                                    <li id="liAPI" class="liAPI"><a id="lnkAPI" href="APIByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">
                                                        API<span id="spanapi"></span></a></li>
                                                    <li id="liSales" class="liSales"><a id="lnkSales" href="SalesByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">
                                                        Sales<span id="spansale"></span></a></li>
                                                    <li id="liInvoice" class="liInvoice"><a id="lnkInvoice" href="InvoiceByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">
                                                        Invoice<span id="spaninvo"></span></a></li>
		</ul>
	</div>
    <!-- Original tabs END -->
    </div>
	<div class="original_tabs_contentloc">
    <div class="innercontent">*@
                        <div id="element-box">

                            <div class="">
                                <div class="main" style="background-color: #fff;">
                                    <div id="element-boxloction" style="margin-bottom: 60px;">
                                        @*<div class="m">*@
                                        @*<div class="Center_ImgMVC" style="padding: 0px 0px 10px 0px; width: 100%; height: 17px;
                                                                padding-top: 3px;">*@
                                        <div id="tabstrip">
                                            <ul id="Mytab" class="nav nav-tabs">
                                                <li id="liProfile"><a id="lnkProfile" href="AddCompanies?Id1=@Model.ObjCompLocationId" title="Profile " style="margin-left: 0px;">Profile<span id="spanPL"></span></a> </li>
                                                <li id="liLocation" class="active"><a id="lnkLocation"  href="LocationByCompanyId?Id1=@Model.ObjCompLocationId" title="Location">Location<span id="spanET"></span></a> </li>
                                                <li id="liUsers"><a id="lnkUsers"  href="UsersByCompanyId?Id1=@Model.ObjCompLocationId" title="Users">Users<span id="spanST"></span></a></li>
                                                <li id="liPricing"><a id="lnkPricing" href="PriceByCompanyId?Id1=@Model.ObjCompLocationId" title="Pricing">Pricing <span id="spanMT"></span></a></li>
                                                <li id="liPreferences"><a id="lnkPreferences" href="ReferenceByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">Preferences<span id="spanpre"></span></a></li>
                                                <li id="liDocuments"><a id="lnkDocuments" href="DocumentsByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">Documents<span id="spandd"></span></a></li>
                                                <li id="liAPI"><a id="lnkAPI" href="APIByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">API<span id="spanapi"></span></a></li>
                                                <li id="liSales"><a id="lnkSales" href="SalesByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">Sales<span id="spansale"></span></a></li>
                                                <li id="liInvoice"><a id="lnkInvoice" href="InvoiceByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">Invoice<span id="spaninvo"></span></a></li>
                                            </ul>
                                        </div>
                                        @*</div>*@
                                        <div id="LocationbyCompanyId" class="expand" style="margin-top: 10px;">
                                            <div>
                                                <div id="nullLocation" style="display: none; margin-left: 400px">
                                                    <h4>
                                                        <span class="infomessage">Currently
                                                                There is no Location Avaliable For This Company </span>
                                                    </h4>
                                                </div>
                                                <div id="Locations">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clr">
                                        </div>
                                        @*</div>
                                        <div class="b">
                                            <div class="b">
                                                <div class="b">
                                                </div>
                                            </div>
                                        </div>*@
                                    </div>
                                    <div>
                                        <input type="hidden" id="hdCompanyId" value="@ViewBag.CompanyId" />
                                    </div>
                                </div>
                            </div>
                            @*  <div class="b">
                                <div class="rightBottomRptHdrBorder">
                                </div>
                                <div class="leftBottomRptHdrBorder">
                                </div>
                            </div>*@
                        </div>
                        @* </div>
	</div>
	<!-- Original tabs END -->*@
                    </div>






                </div>
            </div>
        </td>
    </tr>
</table>
<div id="popupReasionContainer" style="display: none;">
    <div id="popupReasion">
        <table border="0" id="tableReason" style="width: 300px;" cellpadding="0" cellspacing="0">
            <tr>
                <td></td>
            </tr>
            <tr>
                <td width="100%">
                    <table width="100%" cellpadding="0" style="text-align: left;" cellspacing="0">
                        <tr>
                            <td align="right">Reason :
                            </td>
                            <td align="left">
                                @Html.TextBox("txtReasion", "Reason for Testing")
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="center">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <input type="button" value="Save" onclick="LockCompany();" />
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

@Html.HiddenFor(m => m.IsEdit)
@Html.HiddenFor(m => m.pkCompanyId)
@Html.HiddenFor(m => m.MainEmail)

<script>



    $(document).ready(function () {
        //document.getElementById("tdAdmin").style.display = 'none';
    });

</script>
<script>

    var LocId = "@ViewBag.LocationId";
    $(document).ready(function () {


        if ("@Model.IsEdit" == "True" || "@Model.IsEdit" == true) {
            Pageload();
        }

        function Pageload() {

            $("#popupReasion").kendoWindow();
            $("#popupReasion").data("kendoWindow").close();

            if ("@ViewBag.Status" == "8") {
                $("#imgbtn_8").prop("src", "../Content/themes/base/Images/emerge-office-milestone-8-on.png");
                $("#imgbtn_8").prop("class", "onbtnclass");
            }
            else if ("@ViewBag.Status" == "9") {

                $("#imgbtn_9").prop("src", "../Content/themes/base/Images/emerge-office-milestone-9-on.png");
                $("#imgbtn_9").prop("class", "onbtnclass");
            }
            /****lock/unlock****/
            if ("@ViewBag.IsEnabled" == "False") {
                $("#imgbtn_7").prop("src", "../Content/themes/base/Images/emerge-office-milestone-7-on.png");
            }

        }




        var CompanyId = "7dc87d77-6bb5-4bb3-9837-fa861f36f281";
        $("#Locations").kendoGrid({
            height: 390,
            sortable: true,
            pageable: true,
            resizable: false,
            columns: [
            { field: "RowNo", width: 300, title: "#", width: "5%", sortable: false },
            { field: "City", title: "Location", width: "18%", template: ' <div style="text-align:center;"><div style="float: left ;text-align:left; width:80%">#=City#, #=StateCode#</div><div style="float: right ;text-align:center; width:18%"># if(pkCompanyId=="' + CompanyId + '" && IsHome==true){#<input type="IMAGE" title="Root Company" SRC="../Content/themes/base/images/small_intel_icon.png" />#}if(pkCompanyId!="' + CompanyId + '" && IsHome==true){#<input title="Home Location" type="IMAGE"  style="cursor:default" src="../Content/themes/base/images/Home.png"/>#}#</div></div>' },
            { field: "CompanyAccountNumber", title: "Account#", width: "8%" },
            { field: "LocationContact", title: "Location Contact", width: "13%" },
            { field: "PhoneNo1", title: "Location #", width: "10%", sortable: false },
            { field: "TotalUsers", title: "# Of Users", width: "10%" },
            { field: "StatusText", title: "Status", width: "8%", sortable: false },
            { field: "SaleRepInitial", title: "Rep", width: "8%", sortable: false },
            { field: "IsEnabledLocation", sortable: false, title: "Active", width: "10%", template: '#  if (IsEnabledLocation==true) {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/status.png")" id="mainimage" style="height: 16px;" value="#=IsEnabledLocation#"/> #} else {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/cross.png")" id="mainimage2" style="height: 16px;" value="#=IsEnabledLocation#"/> #} #' },
            { field: "pkLocationId", sortable: false, title: "Action", width: "10%", template: '<input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/edit.png")" id="image1" title="Edit" value="#=pkLocationId#" style="width:15; height:18px" onclick="Updatelocation(this.value)" /> # if(IsHome==false){# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/delete.png")" id="image1" title="Delete" value="#=pkLocationId#" style="width:15px; height:18px" onclick="return DeletelocationbyId(this.value)" /> #} #' },
            ],
            editable: "inline", // enable editing            
            dataBound: function (e) {
                var takeTotal = this.dataSource.total();
            
                if (takeTotal == 0) {
                    $("#Locations").show();
                    $("#nullLocation").show();

                }
                var gridRows = $("#Locations tbody tr");
                var takeGrid = $("#Locations").data("kendoGrid");
                var lengeth = gridRows.length;
                for (i = 0; i < lengeth; i++) {

                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    row.cells[1].value = 'black';                    
                    GridEffect("Locations", dataItem)
                }
            },
            dataSource: {
                type: "json",
                pageSize: 10,
                serverPaging: true,
                schema: {
                    data: "Reclist", total: "TotalRec",
                    model: {
                        fields: {

                        }
                    }
                },
                transport: {
                    read: {
                        url: '@Url.Action("GetLocations", "Control", new { CompanyId = @ViewBag.CompanyId })',
                        dataType: "json",
                        async: true,
                        data: { LocationId: LocId }
                    }
                }

            }

        });
    });
    function Updatelocation(pkLocationId) {

        self.location = 'AddCompanyLocation?lid=' + pkLocationId;

    }

    function ShowReasionWindow(id) {

        $("popupReasionContainer").show();
        $("#popupReasion").data("kendoWindow").center();
        $("#popupReasion").data("kendoWindow").open();
    }

    function UpdateStatus(id) {
        $("#imgLoader").show();

        var idd = id;
        var st = id.split("_")[1];
        var cmpId = "@ViewBag.CompanyId";
        var cName = "@Model.CompanyName";
        var emailId = "@Model.MainEmail";
        var enable = "@Model.IsEnabled";
        var img = $("#" + id).attr("src");
        cName = cName.replace("&#39;", "");
        var currentclass = $("#" + id).attr("class");
        //alert(id + "st" + st + "cmpId" + cmpId + "cName" + cName + "emailId" + emailId + "enable" + enable + "img" + img);

        if (currentclass == "offbtnclass") {

            $.post('@Url.Action("UpdateCompanyStatus", "Control")', { IsEnable: "false", Status: st, CompanyId: cmpId, CompanyName: cName, EmailId: emailId, ButtonId: st }, function (data) {
                $("#dvMsg").html(data.Msg);
                $("#dvMsg").addClass(data.css);
                location.reload();

            });

        }
        else {

            $.post('@Url.Action("UpdateCompanyStatus", "Control")', { IsEnable: "true", Status: "0", CompanyId: cmpId, CompanyName: cName, EmailId: emailId, ButtonId: st }, function (data) {
                $("#dvMsg").html(data.Msg);
                $("#dvMsg").addClass(data.css);
                location.reload();

            });
        }
    }




    function LockCompany() {
        $("#imgLoader").show();

        if ($("#txtReasion").val() == "") {
            $("#vldReasion").show();
            return false;
        }
        var cmpId = "@ViewBag.CompanyId";
        var cName = "@Model.CompanyName";
        cName = cName.replace("&#39;", "'");
        var emailId = "@Model.MainEmail";
        var enable = "@Model.IsEnabled";
        var img = $("#imgbtn_7").attr("src");
        //alert(id + "st" + st + "cmpId" + cmpId + "cName" + cName + "emailId" + emailId + "enable" + enable + "img" + img);
        if (img.indexOf("-off.png") != -1) {

            $.post('@Url.Action("SetLock", "Control")', { IsEnable: "false", Reason: $("#txtReasion").val(), CompanyId: cmpId, CompanyName: cName, EmailId: emailId }, function (data) {
                $("#dvMsg").html(data.Msg);
                $("#dvMsg").addClass(data.css);
                if (data.rslt == "1") {
                    $("#imgbtn_7").prop("src", "../Content/themes/base/Images/emerge-office-milestone-7-on.png");
                    $("#popupReasion").data("kendoWindow").close();
                }
                $("#imgLoader").hide();

            });

        }
        else {
            //  alert("-on");
            $.post('@Url.Action("SetLock", "Control")', { IsEnable: "true", Reason: $("#txtReasion").val(), CompanyId: cmpId, CompanyName: cName, EmailId: emailId }, function (data) {
                $("#dvMsg").html(data.Msg);
                $("#dvMsg").addClass(data.css);
                if (data.rslt == "1") {
                    $("#imgbtn_7").prop("src", "../Content/themes/base/Images/emerge-office-milestone-7-off.png");
                    $("#popupReasion").data("kendoWindow").close();
                }
                $("#imgLoader").hide();

            });
        }
    }


    /****kendo windo***/
    $("#popupReasion").kendoWindow();
    $("#popupReasion").data("kendoWindow").close();


    // call log

    function SaveCallLog() {
        if (document.getElementById("TxtCallLog").value == "") {
            document.getElementById("validation").innerHTML = "Please Enter Text.";

        }
        else {

            var Comment = document.getElementById("TxtCallLog").value;
            var pkcompanyid = $("#pkCompanyId").val();
            $.post('@Url.Action("SaveCallLogo", "Control")', { Comment: Comment, pkcompanyid: pkcompanyid }, function (data) {

                if (data.Message != "") {
                    if ('@ViewBag.LocationId' != null) {
                        self.location = "LocationByCompanyId?Id1=" + '@ViewBag.locationid';

                    }
                    else {
                        location.href = "../Control/AddCompanies";
                    }
                }



            });




        }


    }

    $(document).ready(function () {
        $("#Locations .k-grid-content").css("height", "292px")
    });
</script>
