@model Emerge.Models.DrugTestingProductModel
@{
    ViewBag.Title = "Manage Products";
}
<style type="text/css">
    .mes-clr > span {
        color: #fff !important;
    }
    .AdminAddInformation div#divMSG {
        color: #fff !important;
        margin-top: -62px;
    }
    .k-select {
        border-left: 1px solid #ccc !important;
        width: 26px !important;
    }
   
    .AdminAddInformation div#divMSG span {
        color: #fff !important;
    }
    .k-focusable textarea {
        font-size: 11px;
        overflow: inherit;
        width: 288px !important;
    }
    #trAddNew input {
        border-radius: 5px;
        height: 30px;
    }
    #trAddNew img {
        height: 34px;
        margin-top: 13px;
        width: auto;
    }
    
     .k-focusable input[type="text"] {
        background: #feffd1 none repeat scroll 0 0;
        border-radius: 5px;
        height: 30px;
    }
        .AdminAddInformation; {
        background-color: transparent;
        width: 100%;
    }

    .k-grid .centeralign {
        text-align: center;
    }

    .DivDesc {
        background-color: #D3E3F1;
        border: 1px solid gray;
        display: block;
        margin-top: 5px;
        position: absolute;
        width: 260px;
        display: none;
    }

    .DivPhoto {
        background-color: #D3E3F1;
        border: 1px solid gray;
        display: block;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -100px;
        position: fixed;
        width: 270px;
        padding: 6px;
    }

    .DivPhotoUpdate {
        background-color: #D3E3F1;
        border: 1px solid gray;
        display: block;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -100px;
        position: fixed;
        width: 270px;
        height:100px;
    }

    .DivQty {
        background-color: #D3E3F1;
        border: 1px solid gray;
        display: block;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -100px;
        position: fixed;
        width: 300px;
    }

    .center-application {
        width: 100% !important;
    }

    .main-box1 {
        border: 1px solid #C1C1C1;
        width: 100%;
        margin-bottom: 15px;
        background-color: #FFF;
    }

    .k-widget {
        border-style: none !important;
    }
</style>
<div id="content-box" style="margin-top: 51px; margin-bottom: 24px;">
    <div class="padding">
        <div id="toolbar-box" style="background-color: #fff;">
            <div class="toolbar" id="toolbar" style="vertical-align: top">
                <table class="toolbar">
                    <tr>
                        <td>
                            @*<img class="imgCommon" src="@Url.Content("~/Content/themes/base/images/icon-32-back.png")" title="Back"
                                    onclick="history.back();" />*@
                            <button class="btn btn-default" type="button" onclick="history.back();" style="margin-top:5px;">Back</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="header" style="padding: 0px 0px 0px 4px; width: 100%; margin-bottom: 0px;">
                <i class="products"></i> Products
            </div>
            <div class="clr">
            </div>
        </div>
        <div id="element-box" class="blue-trip" style="background-color: #FFF;">
            <div>
                @Html.Partial("ProductManagement")
                <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                    <div class="main-box1">
                        <div class="header icon-48-categories" style="padding: 0px 0px 0px 55px; width: 100%; margin-bottom: 10px;">
                            Drug Testing Kits
                        </div>
                        <div id="DrugTestingKitsDiv" class="expand">
                            <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation">                               
                                <tr>
                                    <td align="center">
                                        @Html.HiddenFor(m => m.strResult)
                                        <div id="divMSG">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3">
                                        <div id="gridDrugTest">
                                        </div>
                                        <div id="ProdDescription" style="visibility: hidden; display: none">
                                            <textarea id="desctxtbox" rows="10" cols="50" name="desctxtbox"></textarea><br />
                                            <input type="button" id="savebtn" name="Submitbtn" value="Update" onclick="savedesc()" />
                                            <input id="hdnpkProductId" type="hidden" />
                                        </div>
                                        <div id="divQtyBox" class="DivQty" style="z-index:99; display: none; width: 332px; padding: 0px 0px 20px; background: rgb(245, 249, 255) none repeat scroll 0% 0%;">
                                            <table id="tblQuantity" align="center" cellpadding="2" cellspacing="0" border="0"
                                                   style="padding: 10px; width: 100%;">
                                                <tr>
                                                    <td colspan="3" align="left">
                                                        <span style="float: left; padding-left: 2px; font-weight:bold;">Select Quantity List</span>
                                                        <input id="hdnqtypkId" type="hidden" />
                                                    </td>
                                                    <td colspan="2" align="right">
                                                        <img src="../Content/themes/base/images/close_off.gif" onclick="ClosePopUp('divQtyBox');"
                                                             style="cursor: pointer; margin-top: -9px;" title="Close" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 20%; padding-left: 3px;" align="left">
                                                        <input type="checkbox" style=" vertical-align: -2px;" value="1" id="chk_1" name="qty" onchange="SelectQty(this.value);" /> 1
                                                    </td>
                                                    <td style="width: 20%; padding-left: 3px;" align="left">
                                                        <input type="checkbox" style=" vertical-align: -2px;" value="2" id="chk_2" name="qty" onchange="SelectQty(this.value);" /> 2
                                                    </td>
                                                    <td style="width: 20%; padding-left: 3px;" align="left">
                                                        <input type="checkbox" value="3" id="chk_3" name="qty" style=" vertical-align: -2px;" onchange="SelectQty(this.value);" /> 3
                                                    </td>
                                                    <td style="width: 20%; padding-left: 3px;" align="left">
                                                        <input type="checkbox" value="4" id="chk_4" name="qty" style=" vertical-align: -2px;" onchange="SelectQty(this.value);" /> 4
                                                    </td>
                                                    <td style="width: 20%; padding-left: 3px;" align="left">
                                                        <input type="checkbox" value="5" id="chk_5" style=" vertical-align: -2px;" name="qty" onchange="SelectQty(this.value);" /> 5
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" style="width: 20%; padding-left: 3px;">
                                                        <input type="checkbox" value="10" style=" vertical-align: -2px;" id="chk_10" name="qty" onchange="SelectQty(this.value);" /> 10
                                                    </td>
                                                    <td align="left" style="width: 20%; padding-left: 3px;">
                                                        <input type="checkbox" value="25" id="chk_25" style=" vertical-align: -2px;" name="qty" onchange="SelectQty(this.value);" /> 25
                                                    </td>
                                                    <td align="left" style="width: 20%; padding-left: 3px;">
                                                        <input type="checkbox" value="50" id="chk_50" style=" vertical-align: -2px;" name="qty" onchange="SelectQty(this.value);" /> 50
                                                    </td>
                                                    <td align="left" style="width: 20%; padding-left: 3px;">
                                                        <input type="checkbox" value="75" id="chk_75" style=" vertical-align: -2px;" name="qty" onchange="SelectQty(this.value);" /> 75
                                                    </td>
                                                    <td align="left" style="width: 20%; padding-left: 3px;">
                                                        <input type="checkbox" value="100" id="chk_100" style=" vertical-align: -2px;" name="qty" onchange="SelectQty(this.value);" /> 100
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" style="width: 20%; padding-left: 3px;">
                                                        <input type="checkbox" value="150" id="chk_150" style=" vertical-align: -2px;" name="qty" onchange="SelectQty(this.value);" /> 150
                                                    </td>
                                                    <td align="left" style="width: 20%; padding-left: 3px;">
                                                        <input type="checkbox" value="200" id="chk_200" style=" vertical-align: -2px;" name="qty" onchange="SelectQty(this.value);" /> 200
                                                    </td>
                                                    <td align="left" style="width: 20%; padding-left: 3px;">
                                                        <input type="checkbox" value="250" id="chk_250" style=" vertical-align: -2px;" name="qty" onchange="SelectQty(this.value);" /> 250
                                                    </td>
                                                    <td align="left" style="width: 20%; padding-left: 3px;">
                                                        <input type="checkbox" value="500" id="chk_500" style=" vertical-align: -2px;" name="qty" onchange="SelectQty(this.value);" /> 500
                                                    </td>
                                                    <td align="left" style="width: 20%; padding-left: 3px;">
                                                        <input type="checkbox" value="750" id="chk_750" style=" vertical-align: -2px;" name="qty" onchange="SelectQty(this.value);" /> 750
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" style="width: 20%; padding-left: 3px;">
                                                        <input type="checkbox" value="1000" id="chk_1000" style=" vertical-align: -2px;" name="qty" onchange="SelectQty(this.value);" /> 1000
                                                    </td>
                                                    <td align="left" style="width: 20%; padding-left: 3px;">
                                                        <input type="checkbox" value="2500" id="chk_2500" style=" vertical-align: -2px;" name="qty" onchange="SelectQty(this.value);" /> 2500
                                                    </td>
                                                    <td align="left" style="width: 20%; padding-left: 3px;">
                                                        <input type="checkbox" value="5000" id="chk_5000" style=" vertical-align: -2px;" name="qty" onchange="SelectQty(this.value);" /> 5000
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" colspan="3">
                                        @using (Html.BeginForm("AddDrugTestingProduct", "Control", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <table cellspacing="0" border="0" width="100%" style="padding-right: 17px;">
                                                <tr>
                                                    <td>
                                                        <div id="trAddNew" class="k-focusable" style="display: none; margin-top:20px;">
                                                            <table cellspacing="0" border="0" width="100%">
                                                                <tr>
                                                                    <td width="5%" align="left">
                                                                        <input type="checkbox" name="chk_IsGlobal" id="chk_IsGlobal" />
                                                                    </td>
                                                                    <td width="5%" align="left">
                                                                        <input type="checkbox" name="chk_IsEnabled" id="chk_IsEnabled" />
                                                                    </td>
                                                                    <td width="4%" align="left">
                                                                        <input type="checkbox" name="chk_IsDefault" id="chk_IsDefault" />
                                                                    </td>
                                                                    <td width="15%" align="left" style="padding-left: 14px;">
                                                                        <input type="text" name="txtProductDisplayName" id="txtProductDisplayName" style="width: 150px"
                                                                            required="required" />&nbsp;<span style="font-size: 11px; color: red">*</span>
                                                                    </td>
                                                                    <td width="5%" valign="top">
                                                                        <img alt="" width="50px" height="50px" src="../Content/themes/base/images/no_image.jpg"
                                                                            onclick="disp('divphoto');" />&nbsp;<span style="font-size: 11px; color: red">*</span>
                                                                        <div id="divphoto" class="DivPhoto" style="display: none; width: 350px; z-index:99">
                                                                            <table cellpadding="0" cellspacing="0" width="100%" border="0" style="padding: 10px">
                                                                                <tr>
                                                                                    <td align="right" style="padding-top: 3px; padding-right: 0px;">
                                                                                        <img src="../Content/themes/base/images/close_off.gif" onclick="ClosePopUp('divphoto');"
                                                                                            style="cursor: pointer; margin-top: -12px !important; height: 12px !important;" title="Close" />
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="left">
                                                                                        <span style="float: left; padding: 6px 4px 6px 1px; font-size: 13px; ">Upload Image: </span>
                                                                                        <input type="file" id="fpAddProductImage" name="fpAddProductImage" required="required" />
                                                                                        <span>Required size ( 250 x 250 )</span>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                    <td width="25%" style="padding-left: 11px; padding-right: 0;">
                                                                        <textarea id="txtDescription" name="txtDescription" rows="2" cols="10" required="required" style='height: 60px; width: 283px'></textarea>&nbsp;<span style="font-size: 11px; color: red">*</span>
                                                                    </td>
                                                                    <td width="10%" align="left">
                                                                        <select id="ddlProductCategory1" class='dropdown1' name="ddlProductCategory" style="width: 100px"></select>
                                                                    </td>
                                                                    <td width="7%" align="left">
                                                                        <input type="text" name="txtAddProductCode" required="required" id="txtAddProductCode" style="width: 60px" />&nbsp;<span style="font-size: 11px; color: red">*</span>
                                                                    </td>
                                                                    <td width="7%" align="left">
                                                                        <input type="text" name="txtPrice" required="required" id="txtPrice" style="width: 60px" />&nbsp;<span style="font-size: 11px; color: red">*</span>
                                                                    </td>
                                                                    <td width="5%" align="left">
                                                                        <img src="../Content/themes/base/images/checklist-icon.png" style=" vertical-align: super; width: 21px; height: 20px; margin-top: 5px; cursor: pointer"
                                                                            onclick="AddQuantity('divQtyBox');" alt="" />
                                                                        <input type='hidden' id="hdAddQuantity" name="hdAddQuantity" />
                                                                        <input type='hidden' id="hdAddMode" name="hdAddMode" />
                                                                    </td>
                                                                    <td width="6%">
                                                                        @*//INT-179 drug testing product upload*@
                                                                        <button onclick="validation();" class="btn btn-default">
                                                                            <!-----img src="~/Content/themes/base/images/save_btn_center.png" /---->Save
                                                                        </button>
                                                                        @*//INT-179 drug testing product upload*@
                                                                    </td>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="12">
                                                        <img src="~/Content/themes/base/images/add-new.png" onclick="return AddNewValidations()" alt="" style="cursor: pointer; margin-top: 18px; margin-left: 10px; margin-bottom:10px;" />
                                                    </td>
                                                </tr>
                                            </table>
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
                <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                    @*<div class="t">
                    <div class="t">
                        <div class="t">
                        </div>
                    </div>
                </div>*@
                    <div class="">
                    </div>
                    <div class="m">
                        <div class="header icon-48-categories" style="padding: 0px 0px 10px 55px; width: 100%">
                           <span style="float: left; color: rgb(255, 255, 255); padding-top: 3px;"> In-House Drug Testing Kits</span>

                            <div id="divMSG_G" class="mes-clr" style="text-align: center; float: left; color: rgb(255, 255, 255) !important; width: 65%;">
                            </div>
                        </div>
                        <div id="DivLocation" class="expand">
                            <div class="width38">
                                <div class="form-group">
                                    <label class="col-md-4 control-label help-col-md4" for="name"><span style="font-size: 14px; padding-right: 13px;">Saliva Test Kits :</span></label>
                                    <div class="col-md-6" style="width: 280px; margin-left: -9px;">
                                        @Html.TextBoxFor(model => model.SalivaPrice, new { @class = "form-control", @id = "SalivaPrice", @onkeypress = "validate(event)" })
                                        <span id="spansprice" style="visibility: hidden;" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                                            <div>
                                                <div style="float: left;">
                                                    <span class="k-icon k-warning"></span>
                                                </div>
                                                <div id="valSalivaPrice" style="float: left;">
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="width38 pull-left" style="margin-left: 180px;">
                                <div class="form-group">
                                    <label class="col-md-4 control-label help-col-md4" for="name"><span style="font-size: 14px;">EZ cup Test Kits :</span></label>
                                    <div class="col-md-6" style="width: 280px;">
                                        @Html.TextBoxFor(model => model.EZcupPrice, new { @class = "form-control", @id = "EZcupPrice", @onkeypress = "validate(event)" })
                                        <span id="spanezprice" style="visibility: hidden;" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                                            <div>
                                                <div style="float: left;">
                                                    <span class="k-icon k-warning"></span>
                                                </div>
                                                <div id="valEZcupPrice" style="float: left;">
                                                </div>
                                            </div>
                                        </span>                                        
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                           <button class="btn btn-default" type="button" onclick="Saveprice()">Save</button>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>

        </div>
        <div class="clr">
            <input type="hidden" id="LblHdnDiv" />
        </div>
    </div>
</div>

<div id="UploadProductImage" style="display: none" class="DivPhotoUpdate">
    @using (Html.BeginForm("UploadDrugProductImage", "Control", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table align="center" cellpadding="2" cellspacing="0" border="0" style="padding: 10px 0px 10px 10px; width:100%;">
            <tr>
                <td align="right">
                    <img src="../Content/themes/base/images/close_off.gif" onclick="ClosePopUp('UploadProductImage');"
                        style="cursor: pointer; display:block;" title="Close" />
                </td>
            </tr>
            <tr>
                <td align="left">Upload Image:
                    <input type="hidden" name="hdProductIdimage" id="hdProductIdimage" />
                    <input type="hidden" name="hdPreviousimageFile" id="hdPreviousimageFile" />
                </td>
            </tr>
            <tr>
                <td align="left">
                    @Html.TextBoxFor(m => m.ProductImage, new { type = "file" })
                    @Html.ValidationMessageFor(m => m.ProductImage)
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="submit" value="Upload" />
                </td>
            </tr>
        </table>
    }
</div>
<script type="text/javascript">
    GetfileuploadResult();

    // Begin INT-179 drug testing product upload
    function validation() {
        if ($('#txtProductDisplayName').val() != '' && $('#fpAddProductImage').val() == '') {
            document.getElementById('divphoto').style.display = "block";
        }
        else if ($('#txtProductDisplayName').val() != '' && $('#txtDescription').val() != '' && $('#fpAddProductImage').val() == '' && $('#txtAddProductCode').val() != '' && $('#txtPrice').val() != '') {
            document.getElementById('divphoto').style.display = "block";
        }
    }

    // End INT-179 drug testing product upload
    function AddNewValidations() {

        if (document.getElementById('trAddNew').style.display == "none") {

            document.getElementById('trAddNew').style.display = "block";
            return false;
        }

    }


    function ClosePopUp(id) {
        $('#' + id).hide("slow");
    }

    function disp(id) {
        $('#' + id).show("slow");
    }

    function AddQuantity(id) {
        document.getElementById("hdnqtypkId").value = '';
        document.getElementById("hdAddQuantity").value = '';

        var qty = document.getElementsByName("qty");
        for (i = 0; i < qty.length; i++) {
            qty[i].checked = false;
        }
        $('#' + id).show("slow");
    }

    function GetfileuploadResult() {
        var divMSG = document.getElementById('divMSG');
        var strResult = document.getElementById('strResult');

        if (strResult != 'null' || strResult.value != '') {
            divMSG.style.display = "block";
            divMSG.innerHTML = strResult.value;
        }
    }

    function UploadProductImage(ProductCode, ProductId, ProductImage) {

        disp("UploadProductImage");

        var ProductImage = document.getElementById('ProductImage');
        ProductImage.value = '';

        var hdProductIdimage = document.getElementById('hdProductIdimage');
        hdProductIdimage.value = ProductCode + "##" + ProductId;
        var hdPreviousimageFile = document.getElementById('hdPreviousimageFile');
        hdPreviousimageFile.value = ProductImage;

    }


    function CheckUncheck(id) {
        var my_array = id.split("_");
        if (my_array[0] == 'IsGlobal') {
            if (document.getElementById('IsGlobal_' + my_array[1]).checked == true) {
                document.getElementById('IsGlobal_' + my_array[1]).checked = true;
            }
            else {
                document.getElementById('IsGlobal_' + my_array[1]).checked = false;
            }
        }
        if (my_array[0] == 'IsEnabled') {
            if (document.getElementById('IsEnabled_' + my_array[1]).checked == true) {
                document.getElementById('IsEnabled_' + my_array[1]).checked = true;
            }
            else {
                document.getElementById('IsEnabled_' + my_array[1]).checked = false;
            }
        }
        if (my_array[0] == 'IsDefault') {
            if (document.getElementById('IsDefault_' + my_array[1]).checked == true) {
                document.getElementById('IsDefault_' + my_array[1]).checked = true;
            }
            else {
                document.getElementById('IsDefault_' + my_array[1]).checked = false;
            }
        }

    }

    function savedesc() {
        var desc = document.getElementById("desctxtbox").value;
        var pkProductId = document.getElementById("hdnpkProductId").value;

        $.post('@Url.Action("SaveDesc", "Control")', { pkid: pkProductId, descrption: desc }, function (data) { });
        $("#ProdDescription").data("kendoWindow").close();
    }


    function OpenDiv(DrugTestQtyPkid) {
        var DrugArr = DrugTestQtyPkid.split('_');
        var DrugTestQty = DrugArr[0];
        var pkprodId = DrugArr[1];
        var qty = document.getElementsByName("qty");
        for (i = 0; i < qty.length; i++) {
            qty[i].checked = false;
        }
        var hdnQty = '';
        var qtyArray = DrugTestQty.split(',');


        disp("divQtyBox");
        document.getElementById("hdAddQuantity").value = '';

        for (num = 0; num < qtyArray.length; num++) {
            Qtyvalue = qtyArray[num].replace(" ", "");
            if (document.getElementById("chk_" + Qtyvalue) != null) {
                document.getElementById("chk_" + Qtyvalue).checked = true;
                hdnQty = hdnQty + "#" + Qtyvalue + "#";
            }
        }

        document.getElementById("hdnqtypkId").value = pkprodId;
        document.getElementById("hdnqty_" + pkprodId).value = hdnQty;
    }

    function SelectQty(val) {
        var pkprodId = document.getElementById("hdnqtypkId").value;
        var selectedQty = '';
        var AddselectedQty = '';

        if (pkprodId != '') {

            selectedQty = document.getElementById("hdnqty_" + pkprodId).value;

            if (selectedQty.indexOf("#" + val + "#") >= 0) {
                selectedQty = selectedQty.replace("#" + val + "#", "");
            }
            else {
                selectedQty = selectedQty + "#" + val + "#";
            }

            document.getElementById("hdnqty_" + pkprodId).value = selectedQty;
        }
        else {

            AddselectedQty = document.getElementById("hdAddQuantity").value;

            if (AddselectedQty.indexOf("#" + val + "#") >= 0) {
                AddselectedQty = AddselectedQty.replace("#" + val + "#", "");
            }
            else {
                AddselectedQty = AddselectedQty + "#" + val + "#";
            }

            document.getElementById("hdAddQuantity").value = AddselectedQty;
        }
    }

    function DeleteProduct(ProductId) {

        if (confirm("Are you sure to delete this record?")) {

            $.post('@Url.Action("DeleteDrugProduct", "Control")', { pkProductId: ProductId }, function (data) {

                if (data != null) {
                    if (data.Message != "") {
                        $('#divMSG').html(data.Message);
                        $('#divMSG').show();

                        var grid = $("#gridDrugTest").data("kendoGrid");
                        grid.dataSource.read();
                        grid.refresh();
                    }
                    else {
                    }
                }
            });
            return true;
        }
        else {
            return false;
        }


    }


    function ChangeSortOrder(pkProductId, SortOrder, IsUp) {
        $.post('@Url.Action("ChangeSortOrder", "Control")', { pkProductId: pkProductId, SortOrder: SortOrder, IsUP: IsUp }, function (data) { });
        var DrugTestGrid = $("#gridDrugTest").data("kendoGrid");
        DrugTestGrid.dataSource.read();
        DrugTestGrid.refresh();
    }

    function UpdateProduct(pkProductId) {

        var IsGlobal = document.getElementById("IsGlobal_" + pkProductId).checked;
        var IsEnabled = document.getElementById("IsEnabled_" + pkProductId).checked;
        var IsDefault = document.getElementById("IsDefault_" + pkProductId).checked;
        var ProductName = document.getElementById("txtProductName_" + pkProductId).value;
        var ProductCode = document.getElementById("txtProductCode_" + pkProductId).value;
        var PPPrice = document.getElementById("txtPPPrice_" + pkProductId).value;
        var DrugTestQty = document.getElementById("hdnqty_" + pkProductId).value;
        var DrugTestCat = document.getElementById("ddlCat_" + pkProductId).value;
        var txtDescription = document.getElementById("txtDescription_" + pkProductId).value;

        DrugTestQty = DrugTestQty.replace(/##/g, ",");
        DrugTestQty = DrugTestQty.replace(/#/g, "");

        $.post('@Url.Action("UpdateDrugProduct", "Control")', { pkProductId: pkProductId, IsGlobal: IsGlobal, IsEnabled: IsEnabled, IsDefault: IsDefault, ProductName: ProductName, ProductCode: ProductCode, PPPrice: PPPrice, DrugTestQty: DrugTestQty, DrugTestCat: DrugTestCat, Description: txtDescription }, function (data) {

            if (data != null) {
                if (data.Message != "") {
                    $('#divMSG').html(data.Message);
                    $('#divMSG').show();

                    var grid = $("#gridDrugTest").data("kendoGrid");
                    grid.dataSource.read();
                    grid.refresh();
                }
                else {
                }
            }
        });
    }

    var catdataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: '@Url.Action("GetDrugTestCategories", "control")',
                type: "POST"
            }
        }
    });


    $("#ddlProductCategory").kendoDropDownList({
        dataTextField: "DrugTestCategoryName",
        dataValueField: "DrugTestCategoryId",
        dataSource: catdataSource
    });
</script>
<script type="text/javascript">

    $("#gridDrugTest").kendoGrid({
        height: 565,
        pageable: true,
        sortable: true,
        serverPaging: true,
        columns: [  
                    { field: "IsGlobal", title: "Global",  sortable:false, width: "5%", template: '<input type="checkbox" #=IsGlobal ? "checked=true" : "" # id="IsGlobal_#=pkProductId#" onchange="CheckUncheck(this.id)" ></input><input type="hidden" name="hdnall_#=pkProductId#" value="#=pkProductId#" />' },
                    { field: "IsEnabled", title: "Active", sortable:false, width: "5%", template: '<input type="checkbox" #=IsEnabled ? "checked=true" : "" # id="IsEnabled_#=pkProductId#" onchange="CheckUncheck(this.id)" ></input>' },
                    { field: "IsDefault", title: "Default", sortable:false, width: "5%", template: '<input type="checkbox" #=IsDefault ? "checked=true" : "" # id="IsDefault_#=pkProductId#" onchange="CheckUncheck(this.id)" ></input>' },
                    { field: "ProductDisplayName", title: "Product Name", sortable: false, width: "14%", template: "<input type=\"text\" id=\"txtProductName_#=pkProductId#\" value=\"#=ProductDisplayName#\"style=\"width: 150px;padding-left: 8px;\" />" },
                    { field: "ProductImage", title: "Image", sortable: false, width: "6%", template: "<input type=\"IMAGE\" SRC=\"#=ProductImagepath#\" id=\"img_#=pkProductId#\" value=\"#=pkProductId#\" width=\"35px\" height=\"35x\" onclick=\"UploadProductImage('#=ProductCode#','#=pkProductId#','#=ProductImage#')\" />" },
                    { field: "LongDescription", title: "Description", sortable: false, width: "25%", template: "<textarea id=\"txtDescription_#=pkProductId#\" rows=\"2\" cols=\"10\"  style='height:60px; width:350px'>#=LongDescription#</textarea>" },
                    { field: "DrugTestCategoryId", title: "Category", sortable:false, width: "10%", template: "<input class='dropdown1' id\='ddlCat_#=pkProductId#' value\='#=DrugTestCategoryId #' style=\"width:100px;\"></input>" },
                    { field: "ProductCode", title: "Code", width: "7%", sortable: false, template: "<input type=\"text\" id=\"txtProductCode_#=pkProductId#\" value=\"#=ProductCode#\" style=\"width: 60px;;padding-left: 8px;\"/>" },
                    { field: "ProductPerApplicationPrice", title: "Price", sortable: false, width: "7%", format: "{0:c}", template: "<input type='text' id='txtPPPrice_#=pkProductId#' value='#=ProductPerApplicationPrice#' style='width: 60px;padding-left: 8px;'/>" },
                    { field: "DrugTestQty", title: "Qty", width: "5%", sortable: false, template: "<input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/checklist-icon.png")' + " style='width:21px; height:20px' value='#=DrugTestQty#_#=pkProductId#' onclick='OpenDiv(this.value)'  /><input type='hidden' id='hdnqty_#=pkProductId#' value='#=DrugTestQty#' />" },
                    { field: "SortOrder", title: "Sort", width: "5%", sortable: false, template: ' <a href="\\" ><img src="@Url.Content("~/Content/themes/base/images/up.png")" class="up-arrow" id="#=pkProductId#" value="#=SortOrder#" style="width:15px;height:20px;cursor:not-allowed;" reportid="#=fkReportCategoryId#" /></a>&nbsp;<a href="\\" ><img src="@Url.Content("~/Content/themes/base/images/down.png")" class="down-arrow" id="#=pkProductId#" value="#=SortOrder#" style="width:15px;height:20px;cursor:not-allowed;" reportid="#=fkReportCategoryId#" /></a>' },
                     {
                     field: "pkProductId", title: "Action", width: "6%", sortable: false,
                     template: "<input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/edit.png")' + " id=\"imgedit_#=pkProductId#\" value=\"#=pkProductId#\" style=\"width:21px; height:20px\" onclick=\"UpdateProduct(this.value)\"  /> <input onclick='DeleteProduct(this.value)' type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/delete.png")' + " id='imgdel_#=pkProductId#' value='#=pkProductId#' style='width:21px; height:23px; margin-right:5px !important;' />"
                     }

        ],
        editable: true,
        //toolbar: ["create", "cancel"], 

        dataBound: function () {
            $(".dropdown1").kendoDropDownList({
                dataTextField: "DrugTestCategoryName",
                dataValueField: "DrugTestCategoryId",
                dataSource: catdataSource
            });
        },
        dataSource: {
            schema: {
                error: function (e) {
                    var ResponseData = JSON.parse(e.responseText);
                    $('#divMSG').html(ResponseData.Message);
                    $('#divMSG').show();

                    var grid = $("#gridDrugTest").data("kendoGrid");
                    grid.dataSource.read();
                    grid.refresh();
                },
                model: {
                    id: "pkProductId",
                    fields: {
                        pkProductId: { editable: false, nullable: false },
                        pkProductApplicationId: { editable: false, nullable: false },
                        ProductDisplayName: { editable: false, nullable: true },
                        ProductImage: { editable: false },
                        ProductPerApplicationPrice: { editable: true },
                        LongDescription: { editable: false, validation: { required: true } },
                        ProductCode: { validation: { required: true } },
                        DrugTestCategoryId: { editable: false, validation: { required: true } },
                        DrugTestQty: { validation: { required: true }, editable: false },
                        SortOrder: { editable: false },
                        IsEnabled: { type: "boolean", editable: true },
                        IsDefault: { type: "boolean", editable: true },
                        IsGlobal: { type: "boolean", editable: true },
                        IsDeleted: { type: "boolean", editable: true },
                        ProductImage: { editable: false },
                        fkReportCategoryId: { editable: false },
                        ProductImagepath: { editable: false }
                    }
                }
            },
            batch: true,
            transport: {
                read: {
                    url: "@Url.Action("GetDrugProducts", "Control")",
                    type: "POST"
                },
                parameterMap: function (data, operation) {
                    if (operation != "read") {
                    }
                }
            }
        }
    }).find("th").css("text-align", "left");//.find("th").addClass("centeralign"); 

    $("#gridDrugTest").on("click", ".up-arrow", function (e) {
        var SortOrder = $(this).attr("value");
        var pkProductID = $(this).attr("id");
        var Reportcatid = $(this).attr("reportid");
        var IsUp = 0;

        $.post('@Url.Action("SortOrderChange", "Control")', { pkProductId: pkProductID, SortOrder: SortOrder, IsUP: IsUp, Reportcatid: Reportcatid }, function (data) {
            var DrugTestGrid = $("#gridDrugTest").data("kendoGrid");
            DrugTestGrid.dataSource.read();
            DrugTestGrid.refresh();
        });

    });
    $("#gridDrugTest").on("click", ".down-arrow", function (e) {
        var SortOrder = $(this).attr("value");
        var pkProductID = $(this).attr("id");
        var Reportcatid = $(this).attr("reportid");
        var IsUp = 1;

        $.post('@Url.Action("SortOrderChange", "Control")', { pkProductId: pkProductID, SortOrder: SortOrder, IsUP: IsUp, Reportcatid: Reportcatid }, function (data) {
            var DrugTestGrid = $("#gridDrugTest").data("kendoGrid");
            DrugTestGrid.dataSource.read();
            DrugTestGrid.refresh();
        });

    });


    var decimalOnly = /^\s*-?[1-9]\d*(\.\d{1,2})?\s*$/;
    function Saveprice() {

        var SalivaPrice = $("#SalivaPrice").val();
        var EZcupPrice = $("#EZcupPrice").val();
        var flag1 = 1;
        var flag2 = 1;
        if (decimalOnly.test(SalivaPrice)) {
            $("#spansprice").attr("style", "visibility:hidden;");


        }
        else {


            flag1 = 2;


        }

        if (decimalOnly.test(EZcupPrice)) {


            $("#spanezprice").attr("style", "visibility:hidden;");
        }
        else {


            flag2 = 2;


        }

        if (flag1 == 1 && flag2 == 1) {
            $.post('@Url.Action("SaveDrugprice", "Control")', { SalivaPrice: SalivaPrice, EZcupPrice: EZcupPrice }, function (data) {
            if (data != null) {
                if (data.Message != "") {

                    $('#divMSG_G').html(data.Message);
                    $('#divMSG_G').show();
                }
            }

        });
    }
    else {

        if (flag2 == 2) {
            $('#divMSG_G').html("");
            if ($("#EZcupPrice").val() == "") {

                $("#valEZcupPrice").html("");
                $("#valEZcupPrice").html("Please Enter EZ cup Test Kits Price.");
                $("#spanezprice").attr("style", "visibility:visible;");
            }
            if ($("#EZcupPrice").val() != "") {
                $("#valEZcupPrice").html("");
                $("#valEZcupPrice").html("Please Enter Valid Decimal or Number.");
                $("#spanezprice").attr("style", "visibility:visible;");
            }
        }

        if (flag1 == 2) {
            $('#divMSG_G').html("");
            if ($("#SalivaPrice").val() == "") {
                $("#valSalivaPrice").html("");

                $("#valSalivaPrice").html("Please Enter Saliva Test Kits Price.");
                $("#spansprice").attr("style", "visibility:visible;");
            }

            if ($("#SalivaPrice").val() != "") {
                $("#valSalivaPrice").html("");
                $("#valSalivaPrice").html("Please Enter Valid Decimal or Number.");
                $("#spansprice").attr("style", "visibility:visible;");
            }
        }



    }


}

function validate(evt) { var theEvent = evt || window.event; var key = theEvent.keyCode || theEvent.which; var keychar = String.fromCharCode(key); var keycheck = /[0-9]|\-/; if (!(key == 8 || key == 27 || key == 46 || key == 37 || key == 39)) { if (!keycheck.test(keychar)) { theEvent.returnValue = false; if (theEvent.preventDefault) theEvent.preventDefault(); } } }

</script>
