﻿@model Emerge.Models.ManageVendorsModel
@{
    ViewBag.Title = "ManageVendors";
}
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js")" type="text/javascript"></script>
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "jquery-1.7.1.js")" type="text/javascript"></script>
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "KendoJS/kendo.web.js")" type="text/javascript"></script>

<style type="text/css">
    .k-grid .centeralign {
        text-align: center;
    }
    .k-input[type="text"] {
        height: 25px;
    }
    .div#element-box {
        background: none;
    }

    div#element-box div.t {
        background: none;
    }

    div.m {
        border-left: 0;
        border-right: 0;
        padding: 0;
        background-color: transparent;
    }

    div.t, div.b {
        height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        border-bottom-color: transparent;
    }

    div#element-box div.m {
        padding: 0;
    }

    .k-focusable tr td {
        background-color: transparent !important;
    }

    #content-box {
        margin: 15px 0 40px 0;
    }

    .k-numeric .k-link, .k-numeric .k-state-active {
        padding: 0px 8px !important;
        line-height: 22px !important;
        vertical-align: top;
        background-color: #dbdbdb;
        margin: 2px 2px 5px 2px;
        display: inline-block;
        border: 1px solid #bababa !important;
    }


    .k-numeric .k-state-active, .k-numeric .k-state-hover {
        padding: 0px 8px !important;
        line-height: 22px !important;
        background-color: #0078bd !important;
        color: #fff;
        margin: 2px 2px 5px 2px;
        border-radius: 0px !important;
    }

    #gvwEmergeUser .k-grid-header {
        padding-right: 24px !important;
    }

    #gvwEmergeUser .k-focusable tr td {
        padding: 10px 5px !important;
    }

    .k-grid-header .k-header .k-link {
        margin: 0 !important;
        padding: 0 !important;
    }

    #element-box .k-grid-header .k-header {
        padding: 10px 8px !important;
    }
    .k-focusable tr:nth-child(odd) {
         background-color:none;
    }
    .k-alt{background-color:#fff !important;}
</style>
<div id="content-box" class="manage-space cntbx-style">
    <div class="padding">
       
        <div id="toolbar-box">

            <div class="">
                <div class="toolbar" id="toolbar" style="vertical-align: top">
                </div>
                <div class="header icon-48-categories" style="padding: 0px 0px 0px 55px;">
                    <img class="image-position" src="../Content/themes/base/images/ControlPanel/images/header/vendor.png">

                    Vendors
                    <div class="toolbar" id="toolbar">
                        <table class="toolbar">
                            <tr>
                                <td></td>
                                <td>
                                    @*<input type="image" alt="Save" src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/Save_button.png")" title="Save" id="imgSave" onclick="return saveall();" />*@
                                    <button onclick="return saveall();" class="btn btn-default" style="margin-top:-9px;" id="imgSave" title="Save">Save </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
              
          
                <table width="100%">
                    <tr>
                        <td align="center">
                            <div id="divMSG" style="display: none">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div id="kendoGrid">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div>
                                <table style="width: 100%;" id="tblMVRDetails" class="Grid" cellspacing="0" cellpadding="4"
                                       align="center">
                                    <tbody>
                                        <tr class="GridRowAlt" valign="center" align="left">
                                            <td class="ProductCategoryHeader" width="16%" style=" font-size: 14px;">
                                                Mvr (CA) Password:
                                                <table style="margin-right:588px; float: right; width: 16px; font-size: 14px;" border="0" cellspacing="0" cellpadding="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                @if (ViewData["secondarypassword"] != null)
                                                                {
                                                                    <input id="txtMvrCaPassword" type="text" width="120px" value="@ViewData["secondarypassword"].ToString()" />
                                                                }
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="middle" style="width: 190px;">
                                                                <span id="spnReqMVR" style="color:Red; display: none;">Required</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            @*<td class="ProductCategoryHeader" align="middle" width="15%">
                                                
                                            </td>*@
                                            <td class="ProductCategoryHeader" align="middle" width="15%">
                                                <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                &nbsp;
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="clr">
                </div>
            </div>
            
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            
            @*<div class="m">

                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>*@
        </div>
        <div class="clr">
        </div>
    </div>
</div>
<script type="text/javascript">

    var TotalModifiedGridCount = 0;
    var Counter = 0;
    function saveall() {
        var spnReqMVR = document.getElementById("spnReqMVR");
        var mvrpassword = document.getElementById("txtMvrCaPassword").value;
        if (mvrpassword != '') {
            $.post('@Url.Action("UpdateMvrPassword", "Control")', { MvrPassword: mvrpassword }, function (data) { });
            $("[data-role='grid']").each(function () {
                counter ++;
            });
            $("[data-role='grid']").each(function () {
                TotalModifiedGridCount++;
                $(this).data("kendoGrid").dataSource.sync(); 
            });
//            $("[data-role='grid']").each(function () {
//                $(this).data("kendoGrid").dataSource.sync();
//            });
            var grid = $("#kendoGrid").data("kendoGrid");
            grid.dataSource.read();
            grid.refresh();
            spnReqMVR.style.display = "none";
            return true;
        }
        else {
            spnReqMVR.style.display = "block";
            return false;
        }
    }

    var dataSource = new kendo.data.DataSource({
        schema: {
            model: {
                id: "pkVendorId",
                fields: {
                    pkVendorId: { type: "number", editable: false, nullable: true },
                    VendorName: { type: "string", editable: false },
                    ServiceUrl: { type: "string", editable: true, validation: { required: true} },
                    ServiceUserId: { type: "string", editable: true, validation: { required: true} },
                    ServicePassword: { type: "string", editable: true, validation: { required: true} }
                }
            }
        },
        pageSize: 25,
        batch: true,
        editable: true,
        serverPaging: false, //enable server paging
        serverSorting: false,
        serverFiltering: false,
        transport: {
            read: { url: '@Url.Action("GetVendorDetails", "Control")', type: "POST" },
            update: { url: '@Url.Action("UpdateVendorDetails", "Control")',
                      type: "POST",
                      complete: function (jqXHR, textStatus) {
                          if (counter < TotalModifiedGridCount) counter++;
                          else { 
                            var grid = $("#kendoGrid").data("kendoGrid");
                            //grid.dataSource.read();
                            //grid.refresh();
                         }
                      } 
                  },
            parameterMap: function (options, operation) {
                if (operation != "read") {
                    var result = {};
                    for (var i = 0; i < options.models.length; i++) {
                        var vendors = options.models[i];
                        for (var member in vendors) {
                            result["ObjVendors[" + i + "]." + member] = vendors[member];
                        }
                    }
                    return result;
                }
                else {
                    return options;
                }
            }
        }
    });

    $(document).ready(function () {
        
        $("#kendoGrid").kendoGrid({
            dataSource: dataSource,
            height: 1840,
            sortable: false,
            pageable: false,
            navigatable: true,
            editable: true,
            columns: [{ field: "VendorName", title: "VendorName", width: 150 },
                        { field: "ServiceUrl", title: "ServiceUrl", width:600 },
                        { field: "ServiceUserId", title: "ServiceUserId", width: 180 },
                        { field: "ServicePassword", title: "ServicePassword", width: 150 },
                        { field: "", title: "", width: 50, template: "<input id='#=pkVendorId#' type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/PendingReport.png")' + " value='#=pkVendorId#' style='width:14px; height:15px' />" }
                        ],
            detailInit: detailInit,
            dataBound: function () {
                $("a.k-plus").trigger("click");
                //this.expandRow(this.tbody.find("tr.k-master-row").first());
            }
        });
    });

    function detailInit(e) {
        newid = e.data.pkVendorId;
        $("<div/>").appendTo(e.detailCell).kendoGrid({
            sortable: false,
            columns: [
                    { field: "IsGlobal", title: "Global", width: 50, template: '<input type="checkbox" #=IsGlobal ? "checked=checked" : "" # disabled="disabled" ></input>' },
                    { field: "IsEnabled", title: "Active", width: 50, template: '<input type="checkbox" #=IsEnabled ? "checked=checked" : "" # disabled="disabled" ></input>' },
                    { field: "IsDefault", title: "Default", width: 55, template: '<input type="checkbox" #=IsDefault ? "checked=checked" : "" # disabled="disabled" ></input>' },
                    { field: "ProductName", title: "Product", width: 150 },
                    { field: "ProductDisplayName", title: "Appear AS", template: "<input type='text' id='txtProductDesc' value='#=ProductDisplayName#' name='ProductDesc' disabled='disabled' />", width: 100 },
                    { field: "ProductCode", title: "Code", width: 50 },
                    { field: "ProductVendorPrice", title: "Vendor Price", width: 140, format: "{0:c}" },
                    { field: "ProductPerApplicationPrice", format: "{0:c}", template: "<input type='textbox' id='txtPPPrice' value='#=ProductPerApplicationPrice#' width='50px'disabled='disabled' />", title: "Price", width: 140 }, ],

            editable: true,
            scrollable: false,
            navigatable: true,
            dataSource: {
                schema: {
                    model: {
                        id: "pkProductApplicationId",
                        fields: {
                            IsGlobal: { type: "boolean", editable: false, nullable: true },
                            IsEnabled: { type: "boolean", editable: false, nullable: true },
                            IsDefault: { type: "boolean", editable: false, nullable: true },
                            ProductName: { type: "string", editable: false },
                            ProductDisplayName: { type: "string", editable: false },
                            ProductCode: { type: "string", editable: false },
                            ProductVendorPrice: { type: "number", editable: true, validation: { required: true} },
                            ProductPerApplicationPrice: { type: "number", editable: false }
                        }
                    }
                },
                batch: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetReportsByVendorId", "Control")',
                        data: { pkVendorId: newid },
                        type: "Post"
                    },
                    update: {
                        url: '@Url.Action("UpdateVendorPrice", "Control")',
                        type: "POST",
                        complete: function (jqXHR, textStatus) {
                            if (counter < TotalModifiedGridCount) { counter++; }
                            else { 
                                var grid = $("#kendoGrid").data("kendoGrid");
                                //grid.dataSource.read();
                                //grid.refresh(); 
                            } 
                        }
                    },
                    parameterMap: function (options, operation) {
                        if (operation != "read") {
                            var result = {};
                            for (var i = 0; i < options.models.length; i++) {
                                var vendors = options.models[i];
                                for (var member in vendors) {
                                    result["ObjVendorsPrice[" + i + "]." + member] = vendors[member];
                                }
                            }
                            return result;
                        }
                        else {
                            return options;
                        }
                    }
                }
            }
        });
        $('[data-field=ServiceUserId],[data-field=ServicePassword]').css("padding", "0");
        $('.k-grid-header').first().css("padding", "0");
    }


</script>
