﻿@model Emerge.Models.ManageReportModel
@{
    ViewBag.Title = "Manage Reports";

}
<style>
    .k-input[type="text"]
    {
        height: 25px;
        width: 96%;
    }
    .k-grid .centeralign
    {
        text-align: center;
    }
    .blue-trip .k-focusable .k-master-row, .blue-trip .k-focusable .k-master-row:hover 
    {
         background-color: #0078BD !important;
    }
    .k-detail-row:hover 
    {
        background: transparent none repeat scroll 0px 0px !important;
    }
    .center-application 
    {
        width: 100% !important;
    }
    div.toolbar 
    {
        margin: -3px 5px 0px 0px !important;
    }

    .down-arrow
    {
    }
       .chkGlobal{} 
         .chkDefault{}
         .chkEnabled{}
         .chkDoNotShow{}
        .IsEnableReview{}
         .IsLiveRunner{}
         
    .up-arrow
    {
    }
</style>
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "EMEdit.js")" type="text/javascript"></script>
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "tooltip.js")" type="text/javascript"></script>
<div id="content-box" style="margin-top: 52px; margin-bottom: 35px;">
    <div class="padding">
        <div id="toolbar-box" style="background-color:#fff; margin-bottom:5px;">
            @*<div class="t">
                    <div class="t">
                        <div class="t">
                        </div>
                    </div>
                </div>*@
            <div class="">
                <div class="toolbar" id="toolbar">
                    <table class="toolbar">
                        <tr>
                            <td style="padding:12px 0px;">

                                @*<input type="image" alt="Save Products info" src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/save_button.png")" title="Save Products info" id="imgSave" onclick="SaveallRecord();" />*@

                                <button type="button" class="btn btn-default" title="Save Products info" id="imgSave" onclick="SaveallRecord();">Save</button>

                            </td>
                            <td>
                                @*<img class="imgCommon" src="@Url.Content("~/Content/themes/base/images/icon-32-back.png")" title="Back"
                                    onclick="history.back();" />*@

                                <button class="btn btn-default" type="button" onclick="history.back();" style="margin-left:6px;">Back</button>

                            </td>
                        </tr>
                    </table>
                </div>
                <div class="header icon-48-categories" style="padding: 4px; width: 100%; margin-bottom: 0px;">
                    <i class="profile"></i>  Reports
                </div>
                <div class="clr">
                </div>
            </div>
            @*<div class="b">
                    <div class="b">
                        <div class="b">
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="clr">
        </div>
        <div id="element-box" class="blue-trip" style="background-color:#FFF;">
            <div>
                @Html.Partial("ProductManagement")
                <table cellpadding="5" cellspacing="5" width="100%">
                    <tr>
                        <td align="center">
                            <div id="divMSG" style="display: none">
                                @Html.HiddenFor(m => m.strMessage)
                        </div>
                    </td>
                </tr>

                <tr>
                    <td align="left">
                        <div id="kendoGrid">
                        </div>
                    </td>
                </tr>
            </table>
            <div class="clr">
            </div>
        </div>

    </div>
    <div class="clr">
    </div>
</div>
</div>
<div id="window" style="visibility: hidden;display:none">
    <table width="100%" border="0" style="height: 290px">
        <tr>
            <td align="left" colspan="2">
                Description:
            </td>
        </tr>
        <tr>
            <td align="center" colspan="2">
                <textarea id="desctxtbox" name="Descrptiontxt" style="height: 200px; width: 340px"
                    cols="20" rows="2"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="button" id="savebtn" name="Submitbtn" value="Update" onclick="savedesc()" />
            </td>
        </tr>
    </table>
</div>
<div id="SampleReport" style="visibility: hidden;display:none;overflow: scroll;
                                    overflow-x: hidden; ">
    <table border="0" cellpadding="0" cellspacing="0" width="635px" align="center" class="form_main_tbl">
        <tr>
            <td valign="top">
                <div style="width: 675px; border: 1px solid #696866;">
                    <table style="border: 0px solid #696866; background-color: #F0F0F0; margin-left: 0px;overflow: scroll;
                                    overflow-x: hidden; "
                        width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td id="Td1">
                                <span id="SampleText"></span>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="coverge" style="visibility: hidden;display:none">
    @using (Html.BeginForm("UploadCoveragePDF", "Control", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table width="100%" border="0" style="height: 140px;">
            <tr>
                <td valign="top">
                    <table width="100%" cellpadding="2">
                        <tr>
                            <td align="right" id="tdViewPDF">
                                <a id="ancViewPDF">
                                    <img src="../../Content/themes/base/images/pdf_report.png" alt="View PDF" title="View PDF" /></a>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                Upload Coverage PDF file:
                                <input type="hidden" name="hdProductIdPDF" id="hdProductIdPDF" />
                                <input type="hidden" name="hdPreviousPDFFile" id="hdPreviousPDFFile" />
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                @Html.TextBoxFor(m => m.CoveragePDFFile, new { type = "file" })
                                @Html.ValidationMessageFor(m => m.CoveragePDFFile)
                            </td>
                        </tr>
                        <tr>
                            <td align="right" style="padding-right: 10px">
                                <input type="submit" value="Upload" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }
</div>

<script type="text/javascript">

    GetResultMessage();
    function GetResultMessage() {
        if ($('#strMessage').val() != '') {
            $('#divMSG').html($('#strMessage').val());
            $('#divMSG').show();
        }
        else {
            $('#divMSG').hide();
        }
    }



    var TotalModifiedGridCount = 0;
    var Counter = 0;
    function SaveallRecord() {

        $("[data-role='grid']").each(function () {
            counter++;
        });


        $("[data-role='grid']").each(function () {
            TotalModifiedGridCount++;
            $(this).data("kendoGrid").dataSource.sync();
        });
    }


    function UpArrow() {
        alert("uparrow");
    }


    function DownArrow() {
        alert("DownArrow");
    }
    $(document).ready(function () {

        $("#kendoGrid").kendoGrid({

            sortable: true,
            scrollable: false,
            navigatable: true,
            columns: [
            "CategoryName"

        ],

            editable: true, // enable editing
            //     dataBound: onDataBound,
            detailInit: detailInit,
            dataBound: function () {
                $("a.k-plus").trigger("click");
            },

            // specify toolbar commands
            dataSource: {
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                schema: {
                    model: { // define the model of the data source. Required for validation and property types.
                        id: "pkReportCategoryId",
                        fields: {
                            pkReportCategoryId: { editable: false },
                            CategoryName: { editable: false }
                        }
                    }
                },

                batch: true,
                transport: {

                    read: {
                        url: '@Url.Action("BindProductCategories", "Control")',
                        type: "POST"
                    },
                    parameterMap: function (options, operation) {
                        if (operation != "read") {
                            
                            var result = {};
                            for (var i = 0; i < options.models.length; i++) {
                                var vendors = options.models[i];
                                for (var member in vendors) {
                                    result["ObjVendorsPrice[" + i + "]." + member] = vendors[member];
                                }
                            }
                            return result;
                        }
                        else {
                            return options;
                        }
                    }

                }

            }
        });

    });
    function detailInit(e) {

        newid = e.data.pkReportCategoryId;
        //     alert(newid);
        
        $("<div/>").attr("id", "dvid_" + newid).appendTo(e.detailCell).kendoGrid({
            sortable: true,
            scrollable: false,
            navigatable: true,
            columns: [
               { field: "IsGlobal", title: "Global", width: 45, template: '<input class="chkGlobal" type="checkbox" #=IsGlobal ? "checked=checked" : "" #  ></input>' },
              { field: "IsEnabled", title: "Active", width: 45, template: '<input class="chkEnabled" type="checkbox" #=IsEnabled ? "checked=checked" : "" #  ></input>' },
               { field: "IsDefault", title: "Default", width: 45, template: '<input class="chkDefault" type="checkbox" #=IsDefault ? "checked=checked" : "" #  ></input>' },
                { field: "DoNotShow", title: "DNS", width: 40, template: '<input  class="chkDoNotShow" type="checkbox" #=DoNotShow ? "checked=checked" : "" #  ></input>' },
                //{ field: "IsGlobal", title: "Global", width: 45, template: '<input class="css-checkbox" type="checkbox" #=IsGlobal ? "checked=checked" : "" #  ></input><label class="css-label"></label>' },
              //{ field: "IsEnabled", title: "Active", width: 45, template: '<input class="css-checkbox" type="checkbox" #=IsEnabled ? "checked=checked" : "" #  ></input><label class="css-label"></label>' },
               //{ field: "IsDefault", title: "Default", width: 45, template: '<input class="css-checkbox" type="checkbox" #=IsDefault ? "checked=checked" : "" #  ></input><label class="css-label"></label>' },
                //{ field: "DoNotShow", title: "DNS", width: 40, template: '<input  class="css-checkbox" type="checkbox" #=DoNotShow ? "checked=checked" : "" #  ></input><label class="css-label"></label>' },
                { field: "ProductName", title: "Product", width: 170, editable: false },
                 { field: "ProductDisplayName", title: "Appear AS", width: 170 },
                  { field: "ProductCode", title: "Code", width: 50, editable: false },
                  { field: "pkProductId", title: "Description", width: 72, template: "<input type=\"IMAGE\" tooltip=\"description\" SRC=" + '@Url.Content("~/Content/themes/base/images/PDescription.png")' + " value=\"#=pkProductId#\" onmouseover=\"tooltipLiveRunner1('#=ProductName#','#=ProductDescription#');\" onmouseout=\"exit()\" onclick=\"UpdateDescription('#=pkProductId#','#=ProductName#')\" />" }, // Temporary DATA
            // {field: "pkProductId", title: "Sample", width: 58, template: "#= kendo.toString(\'<input type=IMAGE SRC=\"~/Content/themes/base/images/PSample.png\"\id=\"image3\" value=\"'+pkProductId+'\" onclick=\"ShowSampleReport(\"#=ProductCode# \",\"#=ProductDisplayName#\") />\') #" }, // Temporary DATA
                          {field: "pkProductId", title: "Sample", width: 58, template: "#if(IsSampleReportExist=='1'){#<input type=\"IMAGE\" tooltip=\"description\" SRC=" + '@Url.Content("~/Content/themes/base/images/PSample.png")' + " value=\"#=pkProductId#\" onclick=\"ShowSampleReport('#=ProductCode#','#=ProductDisplayName#');\" />#}#" }, // Temporary DATA
                  {field: "pkProductId", title: "Coverege", width: 62, template: "<input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/PCoverage.png")' + " id=\"imgCoverage_#=pkProductId#\" value=\"#=pkProductId#\" onclick=\"UploadCoveragePDF('#=ProductName#','#=ProductCode#','#=pkProductId#','#=CoveragePDFPath#')\"  />" }, // Temporary DATA
                   {field: "VendorName", title: "Vendor Name", width: 40, editable: false },
                    { field: "ProductPerApplicationPrice", format: "{0:c}", title: "Price", width: 100, editable: true },
            // { field: "ProductCode", template: '#  if (ProductCode == "CCR1" || ProductCode == "CCR2" || ProductCode == "SCR" || ProductCode == "MVR" || ProductCode =="WCV") {# <input type="IMAGE" SRC="~/Content/themes/base/images/icon-finance.png" id="mainimage" value="#=ProductCode#" onclick="StateFee(this.value)"/> #} #', title: "Fees", width: 50 },
                    {field: "ProductCode", template: '#  if (ProductCode == "CCR1" || ProductCode == "CCR2" || ProductCode == "SCR" || ProductCode == "MVR" || ProductCode =="WCV" ||  ProductCode =="RCX" ||  ProductCode =="FCR") {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/icon-finance.png")" id="mainimage" title="#=ProductCode#" value="#=ProductCode#" onclick="StateFee(this.value)"/> #} #', title: "Fees", width: 50 },
                     { field: "IsEnableReview", title: '<img src="@Url.Content("~/Content/themes/base/images/emerge-review-button-small.png")"/ style="height:20px" title="Emerge Review" ', width: 20, template: '<input  class="IsEnableReview" type="checkbox" #=IsEnableReview ? "checked=checked" : "" #  ></input>' },
                      //{ field: "IsEnableReview", title: '<img src="@Url.Content("~/Content/themes/base/images/emerge-review-button-small.png")"/ style="height:20px" title="Emerge Review" ', width: 20, template: '<input  class="css-checkbox" type="checkbox" #=IsEnableReview ? "checked=checked" : "" #  ></input><label class="css-label"></label>' },
                      { field: "IsLiveRunner", width: 20, title: '<img src="@Url.Content("~/Content/themes/base/images/LiveRunnerSmallLogo.png")"/  id="LiveRunnerImage" title="Is Live Runner" style="height:20px" ', template: '#  if (ProductCode == "CCR1" || ProductCode == "CCR2" || ProductCode == "SCR" ){# <input class="IsLiveRunner" type="checkbox" #=IsLiveRunner ? "checked=checked" : "" #  ></input> #} #' },
                      //{ field: "IsLiveRunner", width: 20, title: '<img src="@Url.Content("~/Content/themes/base/images/LiveRunnerSmallLogo.png")"/  id="LiveRunnerImage" title="Is Live Runner" style="height:20px" ', template: '#  if (ProductCode == "CCR1" || ProductCode == "CCR2" || ProductCode == "SCR" ){# <input class="css-checkbox" type="checkbox" #=IsLiveRunner ? "checked=checked" : "" #  ></input><label class="css-label"></label> #} #' },
                      {field: "SortOrder", title: "Action", width: 100, template: ' <img src="@Url.Content("~/Content/themes/base/images/up.png")" class="up-arrow" id="#=pkProductId#" value="#=SortOrder#" style="width:15px;height:20px;cursor:not-allowed;" reportid="#=ReportCategoryId#" />&nbsp;<img src="@Url.Content("~/Content/themes/base/images/down.png")" class="down-arrow" id="#=pkProductId#" value="#=SortOrder#" style="cursor:not-allowed;width:15px;height:20px" reportid="#=ReportCategoryId#" />' }
                      ],

            editable: true,

            dataBound: function () {
                var gridId = this.table.parent().attr("id");
               
                this.expandRow(this.tbody.find("tr.k-master-row"));
                this.expandRow(this.tbody.find("tr.k-master-row"));
                var GridId = "dvid_" + newid;
                var totatamount = 0;

                var gridRows = $("#" + GridId + " tbody tr");
                var takeGrid = $("#" + GridId).data("kendoGrid");
                var data = this._data;
                 $.each(data, function (i, row) 
                       {
                           var ProductCode = row.ProductCode; 
                          
                                         
                        });
                        
            },
            scrollable: false,
            navigatable: true,

            dataSource: {
                error: function (e) {
                    var ResponseData = JSON.parse(e.responseText);
                    $('#divMSG').html(ResponseData.Message);
                    $('#divMSG').show();

                    var grid = $("#kendoGrid").data("kendoGrid");
                    grid.dataSource.read();
                    grid.refresh();
                },
                schema: {
                    model: { // define the model of the data source. Required for validation and property types.
                        id: "pkProductId",
                        fields: {
                            pkProductId: { editable: false },
                            ProductPerApplicationPrice: { type: "number" },
                            ProductName: { editable: false },
                            ProductCode: { editable: false },
                            VendorName: { editable: false },
                            IsGlobal: { editable: true, type: "boolean" },
                            IsEnabled: { editable: true, type: "boolean" },
                            IsDefault: { editable: true, type: "boolean" },
                            DoNotShow: { editable: true, type: "boolean" },
                            ProductDisplayName: { editable: true },
                            IsEnableReview: { editable: true, type: "boolean" },
                            IsLiveRunner: { editable: true, type: "boolean" },
                            SortOrder: { editable: false },
                            ReportCategoryId: {}
                        }
                    }
                },

                batch: true,
                transport: {

                    read: {

                        url: '@Url.Action("GetReportslist", "Control")',
                        data: { pkCompanyId: newid },
                        type: "Post"
                    },
                    update: {
                        url: '@Url.Action("UpdateReports", "Control")',
                        type: "POST",
                        complete: function (jqXHR, textStatus) {
                           
                            if (counter < TotalModifiedGridCount) { counter++; }
                            else {
                                var grid = $("#kendoGrid").data("kendoGrid");
                                grid.dataSource.read();
                                grid.refresh();
                            }
                        }
                    },
                    parameterMap: function (options, operation) {
                        if (operation != "read") {
                            
                            var result = {};
                            for (var i = 0; i < options.models.length; i++) {
                                var vendors = options.models[i];
                                for (var member in vendors) {
                                    result["ObjReportsUpdate[" + i + "]." + member] = vendors[member];
                                }
                            }
                            return result;
                        }
                        else {
                            return options;
                        }
                    }

                }

            }

        }).find("th").css("text-align", "left");//.find("th").addClass("centeralign"); 
    }



    $("#kendoGrid").on("click", ".up-arrow", function (e) {
        var SortOrder = $(this).attr("value");
        var pkProductID = $(this).attr("id");
        var Reportcatid = $(this).attr("reportid");
        var IsUp = 0;
        $.post('@Url.Action("SortOrderChange", "Control")', { pkProductId: pkProductID, SortOrder: SortOrder, IsUP: IsUp, Reportcatid: Reportcatid }, function (data) {
            var DrugTestGrid = $("#kendoGrid").data("kendoGrid");
            DrugTestGrid.dataSource.read();
            DrugTestGrid.refresh();
            $('#divMSG').html('');
            $('#divMSG').hide();
        });


    });
    $("#kendoGrid").on("click", ".down-arrow", function (e) {
        var SortOrder = $(this).attr("value");
        var pkProductID = $(this).attr("id");
        var Reportcatid = $(this).attr("reportid");
        var IsUp = 1;
        $.post('@Url.Action("SortOrderChange", "Control")', { pkProductId: pkProductID, SortOrder: SortOrder, IsUP: IsUp, Reportcatid: Reportcatid }, function (data) {
            var DrugTestGrid = $("#kendoGrid").data("kendoGrid");
            DrugTestGrid.dataSource.read();
            DrugTestGrid.refresh();
            $('#divMSG').html('');
            $('#divMSG').hide();
        });

    });
    
</script>
<script type="text/javascript">

    var id = "";
    var id2 = " ";
    var code = "";
    var newid = ""

    function UploadCoveragePDF(ProductName, ProductCode, ProductId, CoveragePDFPath) {
        $('#divMSG').html('');
        $('#divMSG').hide();

        document.getElementById("coverge").style.visibility = "visible";
        document.getElementById("coverge").style.display = "block";
        var windowOpen = $("#coverge").kendoWindow({
            actions: ["Close"],
            draggable: true,
            height: "160px",
            modal: true,
            resizable: true,
            title: ProductName,
            width: "410px"


        }).data("kendoWindow");

        windowOpen.center();
        windowOpen.open();

        var CoveragePDFFile = document.getElementById('CoveragePDFFile');
        CoveragePDFFile.value = '';


        var kendoWindow = $("#coverge").data("kendoWindow");
        var windowTitle = kendoWindow.title(ProductName);

        var hdProductIdPDF = document.getElementById('hdProductIdPDF');
        hdProductIdPDF.value = ProductCode + "##" + ProductId;

        var tdViewPDF = document.getElementById('tdViewPDF');
        var hdPreviousPDFFile = document.getElementById('hdPreviousPDFFile');



        if (CoveragePDFPath == 'null') {

            $('#ancViewPDF').attr("onclick", "");
            tdViewPDF.style.display = "none";
            hdPreviousPDFFile.value = '';

        }
        else {

            tdViewPDF.style.display = 'block';
            hdPreviousPDFFile.value = CoveragePDFPath;
            $('#ancViewPDF').attr("onclick", "window.open('../AdverseCoveragePDF.aspx?PDF=" + CoveragePDFPath + "');");

        }
    }


    function savedesc() {
        var desc = document.getElementById("desctxtbox").value;

        $.post('@Url.Action("SaveDesc", "Control")', { pkid: id2, descrption: desc }, function (data) {


        });
        document.getElementById("window").style.visibility = "hidden";
        var windowOpen = $("#window").kendoWindow({ modal: false }).data("kendoWindow");


        windowOpen.close();
        var grid = $("#kendoGrid").data("kendoGrid");
        grid.dataSource.read();
        grid.refresh();

    }

    function StateFee(productCode) {

        if (productCode == "SCR" || productCode == "MVR" || productCode == "WCV") {
            location.href = "../Control/StateFee?Page=1&cd=" + productCode;
        }
        if (productCode == "CCR1" || productCode == "CCR2") {
            location.href = "../Control/StateCountyFee?Page=1&cd=" + productCode;
        }
        if (productCode == "RCX") {
            location.href = "../Control/StateCountyFee?Page=1&cd=" + productCode;
        }
        if (productCode == "FCR") {
            location.href = "../Control/JurisdictionFees";
        }

    }


    function UpdateDescription(productId, ProductName) {

        id2 = productId;

        $.post('@Url.Action("GetDescrption", "Control")', { pkid: productId }, function (data) {

            document.getElementById("desctxtbox").value = data.Deccrption;

        });
        document.getElementById("window").style.visibility = "visible";
        document.getElementById("window").style.display = "block";
        var windowOpen = $("#window").kendoWindow({
            actions: ["Close"],
            draggable: false,
            height: "320px",
            modal: false,
            resizable: false,
            title: ProductName,
            width: "410px"
        }).data("kendoWindow");

        windowOpen.center();
        windowOpen.open();

        var kendoWindow = $("#window").data("kendoWindow");
        var windowTitle = kendoWindow.title(ProductName);

    }

    function ShowSampleReport(SampleCode, ProductDisplayName) {


        $.post('@Url.Action("GetSampleReport", "Control")', { ProductCode: SampleCode, ReportName: ProductDisplayName }, function (Result) {

            if (Result != null) {
                if (Result.SampleReport != "") {

                    document.getElementById("SampleReport").style.visibility = "visible";
                    document.getElementById("SampleReport").style.display = "block";
                    var windowOpen = $("#SampleReport").kendoWindow({
                        actions: ["Close"],
                        draggable: true,
                        height: "600px",
                        modal: true,

                        title: "Sample Report",
                        width: "745px"


                    }).data("kendoWindow");
                    $('#SampleText').html(Result.SampleReport);
                    $('#SampleText').show();

                    windowOpen.center();
                    windowOpen.open();
                }
                else {

                }
            }
        });

    }



    $("#kendoGrid").delegate(".chkGlobal", "click", function (e) {
        var id = $(e.target).closest("div").attr("id");
        var row = $(e.target).closest("tr");
        var model = $("#" + id).data("kendoGrid").dataItem(row);
        model.set("IsGlobal", this.checked);
    });

     $("#kendoGrid").delegate(".chkDefault", "click", function (e) {
        var id = $(e.target).closest("div").attr("id");
        var row = $(e.target).closest("tr");
        var model = $("#" + id).data("kendoGrid").dataItem(row);
        model.set("IsDefault", this.checked);
    });

    $("#kendoGrid").delegate(".chkEnabled", "click", function (e) {
        var id = $(e.target).closest("div").attr("id");
        var row = $(e.target).closest("tr");
        var model = $("#" + id).data("kendoGrid").dataItem(row);
        model.set("IsEnabled", this.checked);
    });

    $("#kendoGrid").delegate(".chkDoNotShow", "click", function (e) {
        var id = $(e.target).closest("div").attr("id");
        var row = $(e.target).closest("tr");
        var model = $("#" + id).data("kendoGrid").dataItem(row);
        model.set("DoNotShow", this.checked);
    });

    $("#kendoGrid").delegate(".IsEnableReview", "click", function (e) {
        var id = $(e.target).closest("div").attr("id");
        var row = $(e.target).closest("tr");
        var model = $("#" + id).data("kendoGrid").dataItem(row);
        model.set("IsEnableReview", this.checked);
    });

    $("#kendoGrid").delegate(".IsLiveRunner", "click", function (e) {
        var id = $(e.target).closest("div").attr("id");
        var row = $(e.target).closest("tr");
        var model = $("#" + id).data("kendoGrid").dataItem(row);
        model.set("IsLiveRunner", this.checked);
    });


    


</script>

