﻿@model Emerge.Models.PackagesModel
@{
    ViewBag.Title = "Manage Packages";
}
<style>
    .center-application {
        width: 100%;
    }
</style>
<div id="content-box">
    @using (Ajax.BeginForm("AddUpdateUniversalPackageDetails", "Control", new AjaxOptions { OnBegin = "PkgMustTwo", OnSuccess = "GetAddUpdateResult", LoadingElementId = "DivLoading" }))
    {
        <div class="padding" style="margin-top: 50px;">
            <div id="toolbar-box">
                <div class="">
                    <div class="toolbar" id="toolbar">
                        <table class="toolbar">
                            <tr>
                                <td>
                                    @*<input class="imgbtnClasspnl" id="imgbtnSave" type="submit" value="" />*@
                                    <button class="btn btn-default" id="imgbtnSave" type="submit" title="Save" style="margin-top:5px;">Save</button>
                                    @*<asp:ImageButton class="imgbtnClasspnl" runat="server" ID="imgbtnAdd" ImageUrl="~/Resources/Images/ControlPanel/images/toolbar/save_button.png"
                                                ToolTip="Save Package info" OnClientClick="return PkgMustTwo();" ValidationGroup="vgPackages"
                                                OnClick="imgbtnAdd_Click" />*@
                                </td>
                                <td>
                                @*<img class="imgCommon" src="../Content/themes/base/images/ControlPanel/images/toolbar/cancel_button.png" onclick="OnPackages();" title="Cancel"
                                   alt="Cancel" />*@
                                <button class="btn btn-danger" type="button" onclick="OnPackages();" title="Cancel" style="margin-top:5px; margin-left: 5px;">Back</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <i class="packages"></i>
                    <div class="header icon-48-categories" style="padding: 0px 0px 0px 55px; width: 100%; margin-bottom:0px;">
                        Packages
                    </div>
                    <div class="clr">
                    </div>
                </div>
            </div>
            <div class="clr">
            </div>
            <div id="element-box">
                <div class="">
                    @Html.Partial("ProductManagement")
                    <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation" style="margin-bottom: 40px;">
                        <tr>
                            <td class="custom-Package-header" style="padding-bottom: 4px;">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="50%">
                                            Packages
                                        </td>
                                        <td align="right" width="44%">
                                        </td>
                                        <td align="center">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <table width="96%">
                                    <tr>
                                        <td colspan="4" align="center">
                                            <div id="divMSG" style="display: none">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="align-package-label" width="170px">
                                            Global ?
                                        </td>
                                        <td align="left">
                                            @Html.CheckBoxFor(m => m.IsPublic)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="align-package-label" width="170px">
                                            Active ?
                                        </td>
                                        <td align="left">
                                            @Html.CheckBoxFor(m => m.IsEnabled)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="align-package-label">
                                            Set As Default
                                        </td>
                                        <td align="left">
                                            @Html.CheckBoxFor(m => m.IsDefault)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="align-package-label">
                                            <span class="RequiredFieldsIndicator">*</span>Package Name :
                                        </td>
                                        <td align="left">
                                            @Html.TextBoxFor(m => m.PackageName, new { style = "width:200px; margin-top: 5px;", maxlength = 15 })
                                            @Html.ValidationMessageFor(m => m.PackageName)
                                            @Html.HiddenFor(m => m.QueryStringPackageId)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="align-package-label">
                                            <span class="RequiredFieldsIndicator">*</span>Package Display Name :
                                        </td>
                                        <td align="left">
                                            @Html.TextBoxFor(m => m.PackageDisplayName, new { style = "width:200px; margin-top:5px;", maxlength = 15 })
                                            @Html.ValidationMessageFor(m => m.PackageDisplayName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="170px" class="align-package-label">
                                            <span class="RequiredFieldsIndicator">*</span>Package Code :
                                        </td>
                                        <td align="left">
                                            @Html.TextBoxFor(m => m.PackageCode, new { style = "width:200px; margin-top:5px;", maxlength = 5 })
                                            @Html.ValidationMessageFor(m => m.PackageCode)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="170px" class="align-package-label">
                                            <span class="RequiredFieldsIndicator">*</span>Package Price :
                                        </td>
                                        <td align="left">
                                            @Html.TextBoxFor(m => m.PackagePrice, new { style = "width:200px; margin-top:5px;" })
                                            @Html.ValidationMessageFor(m => m.PackagePrice)
                                            @* <span style="font-size: 16px; background-color: #D6D6D6; border-bottom: 1px solid #D6D6D6">
                                                        $</span><asp:TextBox ID="txtPackagePrice" runat="server" class="TextBoxStyle" Width="167"></asp:TextBox>
                                                    <AjaxCtrl:FilteredTextBoxExtender ID="fltrTextprice" runat="server" TargetControlID="txtPackagePrice"
                                                        FilterMode="ValidChars" ValidChars="0123456789.">
                                                    </AjaxCtrl:FilteredTextBoxExtender>
                                                    <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="txtPackagePrice"
                                                        Display="Dynamic" SetFocusOnError="True" ErrorMessage="Enter Package Price."
                                                        ValidationGroup="vgPackages"></asp:RequiredFieldValidator>
                                                   *@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="align-package-label" valign="top">
                                            Description:
                                        </td>
                                        <td align="left">
                                            @Html.TextAreaFor(m => m.PackageDescription, new { style = "width: 300px; height: 80px; margin-bottom: 5px; margin-top: 5px;" })
                                            @Html.ValidationMessageFor(m => m.PackageDescription)
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="custom-Package-header" style="padding-bottom: 4px;">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td>
                                            Data Sources
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="left">
                                <table id="tblReports" cellpadding="0" cellspacing="0" width="80%">
                                    <tr style="height: 20px;">
                                        <th align="left" valign="top">
                                            <input type="checkbox" id="chkSelectAll" onclick="SelectUnSelectGV(this.checked);" />
                                        </th>
                                        <th align="left" valign="top">
                                            Product
                                        </th>
                                        <th align="left" valign="top">
                                            Code
                                        </th>
                                    </tr>
                                    @for (int iProd = 0; iProd < Model.lstProductsByPackageId.Count; iProd++) 
                                    {
                                        int id = iProd + 1;
                                   
                                        <tr>
                                            <td style="padding: 0px" width="3%">
                                                <input type="hidden" name="hd_ProductApplicationId_@id.ToString()" id="hd_ProductApplicationId_@id.ToString()" value="@Model.lstProductsByPackageId.ElementAt(iProd).pkProductApplicationId" />
                                                <input type="hidden" name="hd_PackageReportId_@id.ToString()" id="hd_PackageReportId_@id.ToString()" value="@Model.lstProductsByPackageId.ElementAt(iProd).PackageReportId" />
                                                <input type="hidden" name="hd_ProductPerApplicationIsEnabled_@id.ToString()" id="hd_ProductPerApplicationIsEnabled_@id.ToString()" value="@Model.lstProductsByPackageId.ElementAt(iProd).ProductPerApplicationIsEnabled.ToString()" />
                                                <input type="checkbox" name="chkReport_@id.ToString()"  id="chkReport_@id.ToString()" />
                                            </td>
                                            <td align="left" width="50%">
                                                <input type="hidden" id="hdProductDisplayName_@id.ToString()" name="hdProductDisplayName_@id.ToString()" value="@Model.lstProductsByPackageId.ElementAt(iProd).ProductDisplayName" />
                                                @Model.lstProductsByPackageId.ElementAt(iProd).ProductDisplayName
                                            </td>
                                            <td align="left">
                                                <input type="hidden" id="hdProductCode_@id.ToString()" name="hdProductCode_@id.ToString()"  value="@Model.lstProductsByPackageId.ElementAt(iProd).ProductCode" />
                                                @Model.lstProductsByPackageId.ElementAt(iProd).ProductCode
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="clr">
                    </div>
                </div>
            </div>
            <div class="clr">
            </div>
        </div>
    }
    <div id="divLoading" class="progress" style="font-weight: normal; font-size: 12px;
        text-align: left; display: none">
        Processing...
    </div>
</div>
<script type="text/javascript">

    ProductsInitialization();       // on databound

    EmptyPackagePrice();


    function OnPackages() {
        self.location = 'PackagesList';
    }

    function EmptyPackagePrice() {

        if (document.getElementById('PackagePrice').value == 0) {

            document.getElementById('PackagePrice').value = '';
        }
    }

    function PkgMustTwo() {

        var count = 0;
        var ret = false;
        var GV = document.getElementById('tblReports');
        if (GV != null) {
            var rwlen = GV.rows.length - 1;

            for (i = 1; i <= rwlen; i++) {

                var GVChkID = '';
                GVChkID = 'chkReport_' + i;

                if (document.getElementById(GVChkID).checked == true) {
                    count++;
                    if (count > 1) {
                        ret = true;
                        break;
                    }
                    else {
                        ret = false;
                    }
                }
            }
           
        }
        if (!ret) {
            alert('Package must include a minimum of two products');
        }
        return ret;
    }


    function SelectUnSelectGV(val) {
        var GV = document.getElementById('tblReports');
        if (GV != null) {
            var rwlen = GV.rows.length;
            for (i = 1; i < rwlen; i++) {

                var GVChkID = '';
                GVChkID = 'chkReport_' + i;

                document.getElementById(GVChkID).checked = val;
            }
        }
    }
    function ProductsInitialization() {
        var GV = document.getElementById('tblReports');

        if (GV != null) {
            var rwlen = GV.rows.length;

            for (i = 1; i < rwlen; i++) {

                var GVChkID = ''; var hd_PackageReportId = ''; var hd_ProductPerApplicationIsEnabled = '';

                GVChkID = 'chkReport_' + i;
                hd_PackageReportId = 'hd_PackageReportId_' + i;
                hd_ProductPerApplicationIsEnabled = 'hd_ProductPerApplicationIsEnabled_' + i;


                var hdPackageReportId = document.getElementById(hd_PackageReportId);
                var chkReportId = document.getElementById(GVChkID);
                var ProductPerApplicationIsEnabledID = document.getElementById(hd_ProductPerApplicationIsEnabled);

                if (hdPackageReportId.value != 0) {
                    if (chkReportId != null) {
                        chkReportId.checked = true;
                    }
                }
                if (ProductPerApplicationIsEnabledID.value == 'True') {
                    chkReportId.disabled = false;
                }
                else {
                    chkReportId.disabled = true;
                }


            }
        }
    }
    var divMSG = document.getElementById('divMSG');
    function GetAddUpdateResult(Result) {


        if (Result != null) {
           
            divMSG.style.display = "block";
            divMSG.innerHTML = Result.Message;

            //            if (Result.StatusAddUpdate != "") {

            //                ClearTextbox();
            //            }
            //            else {
            //            }
        }
    }
</script>
