﻿@{
    ViewBag.Title = "Marketing Tools";
   
    <link href="@Url.Content("~/Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.2.712/telerik.windows7.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.2.712/telerik.windows7.min.css")" rel="stylesheet" type="text/css" />
}
@{
    
    
    var Collection = ViewBag.Collection;
    
    
}
<style type="text/css">
    #tabsDemo1 a {
        background: transparent none repeat scroll 0 0 !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #666 !important;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px !important;
        padding: 9px 15px !important;
    }

    #tabsDemo1 > li:nth-child(n+2) a {
        margin-left: -7px !important;
    }
    .desc
    {
        font-size: 120%;
        margin: 0% 2% 2% 0%;
    }
    .header
    {
        font-size: 120%;
        margin: 1% 2% 1% 0%;
    }
    
    
    .div_main
    {
     width:100%;height:30px;
        
    }
   
    .HelpHeader
    {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        background-color: #cccccc;
        color: #3b55d2;
    }
    .HelpNormal
    {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        background-color: #ededed;
        color: #00007D;
    }
    .tooltipret
    {
        display: none;
        background-color: white;
        position: absolute;
        z-index: 9999;
        max-width: 530px;
        -webkit-box-shadow: 0 0 5px #aaa;
        font-size: 12px;
        border-radius: 1px;
        border: 1px solid #767676;
        padding: 2px;
    }
    .chkdesign{  width: 80%;}
    .w
    {
        color: #FFFFFF;
    }
    .k-input[type="text"]
    {
        height: 25px;
        width: 96%;
    }
    .selctone
    {
    }
    .selctoneOption
    {
    }
    .ReportLeft
    {
        border-left: 1px solid #C5C5C5;
        border-right: 1px solid #C5C5C5;
        border-bottom: 1px solid #C5C5C5;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .AddNew
    {
        width: 71px;
        background-image: url("../Content/themes/base/images/addNew.png");
    }
    input[type="submit"]
    {
        border: 1px solid #C5C5C5;
    }
    .EditDel
    {
        height: 24px;
        width: 75px;
        padding: 0 7px 1px;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        background-color: #e6e6e6;
        background-image: url("../Content/textures/highlight.png");
        background-position: 0 center;
        background-position-y: center;
    }

      .DeleteForm
    {   
        background-image: url("../Content/themes/base/images/delete.png");        
        width: 21px;
        height: 21px;
        background-position: center top;
    }
    .EditForm
    {   
        background-image: url("../Content/themes/base/images/edit.png");        
        width: 21px;
        height: 21px;
        background-position: center top;
    }
    .k-colorpicker-popup .k-item div {
    float:left;
    width:12px;
    height:12px;
    }
    .power_by
    {
    float:right;
    margin-top:6px;
    }
    .newfature
    {
     float:left;
     font-family:arial;
     font-size:16px;
     color:#fff;
    margin-top:.1%;
    font-weight:bold;
    
    }
div#colorpicker
{
    width: 191px;
    height: 164px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom:0;
    padding-right:0;
    position: absolute;
    top: 22px;
    left: 0px;
    background-color: #EEE;
    border: 1px solid #BBB;
    display: none;
    z-index: 200;
}
div#colorpicker div
{
    float: left;
    padding:0;
}
div#colorpicker div.clear
{
    float: none;
    clear: both;
    border: 0;
    overflow:hidden;
    height:0;
    font-size:0;
}
        
div#colorpicker div#colorContainer
{
    float: left;
    border:0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}
div#colorContainer div
{
    border:0;
    border-top: solid 1px black;
    border-left: solid 1px black;
    width:9px;
    height:9px;
    overflow:hidden;/*for IE6*/
}
div#colorpicker div#hexBox, div#colorpicker div#bgBox
{
    border: 1px solid #999;
    font: normal 9px verdana;
    height: 16px;
    margin-bottom: 4px;
}
div#colorpicker div#hexBox
{
    width: 60px;
    padding-left: 3px;
    color: Black;
    line-height: 16px;
}
div#colorpicker div#bgBox
{
    width: 110px;
    margin-left: 4px;
    clear: right;
}

div.transChooser
{
    background:  transparent url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "transChooser.gif")');
}     
span.colorChooser
{
    width: 37px;
    height: 20px;
    background:   transparent url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "colorChooser.gif")');
    margin-left: 1px;
    margin-bottom: 4px;
    position: relative;
    display: inline-block;
    overflow: visible;
    vertical-align: middle;
    z-index:1;
}     
 
 .AdminAddInformation {
    background-color:transparent; 
    width: 100%;
}
div.header1 { 
    cursor:default; 
}
    .form-grid-tbody td {
    padding: 4px !important;
    }

    span.successmsg {  
    margin-left: 350px;
    color: #fff !important;
}
.margin-left8 {
    margin-left: 16%;
}

</style>
<script src="@Url.Content("~/Scripts/mcColorPicker.js")" type="text/javascript"></script>

<div class="tempclass">
</div>
<div id="content-box" class="manage-space">
    @model Emerge.Models.MarketingContentModel
    @*@using (Ajax.BeginForm("SaveSettings", "Control", new AjaxOptions { OnSuccess = "GetAddUpdateResult" }))*@
    <div class="padding">
        <div id="element-box">
            @*<div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>*@
            <div>
                @Html.Partial("ContentManagement")
                @*<div style="text-align: center; padding-bottom: 2%;">
                    <div id="divSettinngMsg" style="display: none">
                    </div>
                </div>*@
                <div id="element-box" class="margint10">
                    <div class="m" style="padding-bottom:0px;">
                        <div id="toolbar-box">
                            <div class="">
                                <div class="toolbar" id="toolbar">
                                    <table class="toolbar">
                                        <tr>
                                            <td>
                                            </td>
                                            <td>
                                                @*<img src="@Url.Content("~/Content/themes/base/images/addNew.png")" onclick="return callsubmitbtn()" style="border: 0px solid white;
                                                cursor: pointer; background-color: #f2f7fb;" title="Add New" />*@ @*<input type="submit" onclick="return AddNew();" id="submitbtn" value="Add New"
                                                       style="border: 0px solid white;  cursor: pointer; background-color: #f2f7fb;"
                                                       class="btn btn-default margint5" title="Add New" />*@ @*<img class="imgCommon" src="@Url.Content("~/Content/themes/base/images/icon-32-back.png")" title="Back to locations"
                                                     onclick="history.back();" alt="Back" />*@
                                                <button onclick="history.back();" title="Back to locations" class="btn btn-default margint5">
                                                    Back
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                           
                                <div class="header icon-48-menumgr heading-style">
                                    <img class="image-position" src="../Content/themes/base/images/ControlPanel/images/header/new-feature.png" />
                                    NEW FEATURES             
                                    @Html.Raw(Model.Message)                                      
                                </div>                               
                            </div>
                            
                        </div>
                        <div class="clr">
                        </div>
                        <table cellpadding="0" cellspacing="0" width="100%" class="AdminAddInformation">
                            <tr>
                                <td>
                                    <table cellspacing="0" cellpadding="0" width="100%" class="form-grid-head" style="text-align: center;">
                                        <tr>
                                            <td style="width: 220px; text-align: left;">
                                                Title Image
                                            </td>
                                            <td style="width: 100px; text-align: left;">
                                                Title
                                            </td>
                                            <td style="width: 80px;">
                                                View
                                            </td>
                                            <td style="width: 200px; text-align: left;">
                                                Description
                                            </td>
                                            <td style="width: 220px; text-align: left; padding-left: 6px !important;">
                                                Upload Image/Video
                                            </td>
                                            <td style="width: 70px;">
                                                View
                                            </td>
                                            <td style="width: 70px;">
                                                Views
                                            </td>
                                            <td style="width: 90px;">
                                                Active
                                            </td>
                                            <td style="width: 180px;">
                                                Action
                                            </td>
                                            <td style="width: 75px;">
                                                Preview
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="ReportLeft" style="padding: 5px;">
                                        @for (int i = 0; i < Model.ObjFeature.Count; i++)
                                        {
                                            string color = "#f5f5f5";
                                            if (i % 2 == 0)
                                            {
                                                color = "white";
                                            }
                                            <div style="background-color:@color">
                                                <form method="post" action="UpdateFeature" enctype="multipart/form-data" id="form">
                                                <table cellspacing="0" cellpadding="0" width="100%" class="form-grid-tbody">
                                                    <tr style="height: 25px;">
                                                        <td style="width: 220px;">
                                                            <div style="width: 190px; overflow: hidden;">
                                                                <input type="file" id="File_@i" name="titleImage" /></div>
                                                        </td>
                                                        <td style="width: 100px;">
                                                            @if (File.Exists(Request.PhysicalApplicationPath + "Resources/Upload/FeatureFiles/" + Model.ObjFeature.ElementAt(i).UploadedTitleImage))
                                                            {

                                                                <input type="text" id="Title_@i" style="width:100%; background-color:Gray;" name="Title" class="k-textbox" required validationmessage="Please enter title" value="@Model.ObjFeature.ElementAt(i).Title" />
                                                                <span></span> }
                                                            else
                                                            {<input type="text" id="Title_@i" style="width:100%" name="Title" class="k-textbox" required validationmessage="Please enter title" value="@Model.ObjFeature.ElementAt(i).Title" />
                                                                <span></span>   }
                                                        </td>
                                                        @{string filepath1 = Model.ObjFeature.ElementAt(i).UploadedTitleImage + "_" + Model.ObjFeature.ElementAt(i).Title;
                                                          if (File.Exists(Request.PhysicalApplicationPath + "Resources/Upload/FeatureFiles/" + Model.ObjFeature.ElementAt(i).UploadedTitleImage))
                                                          {
                                                            <td style="width: 80px; text-align: center;">
                                                                <a title="View" id="aDownload1" style="width:100%" href="DownloadFeaturedTitleImage/?FPathTitle=@filepath1">
                                                                    <img alt="View" src="../Content/themes/base/images/view-new.png" title="Preview"
                                                                        style="cursor: pointer;">
                                                                </a>
                                                            </td>
                                                          }
                                                          else
                                                          {
                                                            <td style="width: 80px; text-align: center;">
                                                                <a title="View" id="aDownload111" style="width:100%; visibility:hidden" href="DownloadFeaturedTitleImage/?FPathTitle=@filepath1">
                                                                    <img alt="View" src="../Content/themes/base/images/view-new.png" title="Preview"
                                                                        style="cursor: pointer;">
                                                                </a>
                                                            </td>
                                                          }
                                                        }
                                                        <td width="200px">
                                                            <input type="text" id="Description_@i" style="width:100%" name="description" class="k-textbox" required validationmessage="*" value="@Model.ObjFeature.ElementAt(i).Description" />
                                                        </td>
                                                        <td style="width: 220px;">
                                                            <div style="width: 200px; overflow: hidden;">
                                                                <input type="file" id="File_@i" name="fileupl" /></div>
                                                        </td>
                                                        @{string filepath = Model.ObjFeature.ElementAt(i).UploadedFile + "_" + Model.ObjFeature.ElementAt(i).Title;
                                                          if (File.Exists(Request.PhysicalApplicationPath + "Resources/Upload/FeatureFiles/" + Model.ObjFeature.ElementAt(i).UploadedFile))
                                                          {
                                                            <td style="width: 70px; text-align: center;">
                                                                <a title="View" id="aDownload" style="width:100%" href="DownloadFeaturedFile/?FPathTitle=@filepath">
                                                                    <img alt="View" src="../Content/themes/base/images/view-new.png" title="Preview"
                                                                        style="cursor: pointer;">
                                                                </a>
                                                            </td>
                                                          }
                                                          else
                                                          {
                                                            <td style="width: 70px; text-align: center;">
                                                                <a title="View" id="aDownload1" style="width:100%; visibility:hidden" href="DownloadFeaturedFile/?FPathTitle=@filepath">
                                                                    <img alt="View" src="../Content/themes/base/images/view-new.png" title="Preview"
                                                                        style="cursor: pointer;">
                                                                </a>
                                                            </td>
                                                          }
                                                        }
                                                        <td style="width: 70px; text-align: center;">
                                                            @Model.ObjFeature.ElementAt(i).ViewCount
                                                        </td>
                                                        <td style="width: 90px; text-align: center;">
                                                            @*<input type="checkbox" name="Enabled" checked="@Model.ObjFeature.ElementAt(i).IsEnabled" />*@
                                                            @{
                                                          int counter = 7989 + i;
                                                                <input id="@counter" name="Enabled" class="css-checkbox chk-style" type="checkbox" checked="@Model.ObjFeature.ElementAt(i).IsEnabled"><label for="@counter" class="css-label"></label>
                                                            }
                                                            <input type="hidden" name="FeatureId" value="@Model.ObjFeature.ElementAt(i).FeatureId" />
                                                            <input type="hidden" name="FilePath" value="@Model.ObjFeature.ElementAt(i).UploadedFile" />
                                                            <input type="hidden" name="ImageFilePath" value="@Model.ObjFeature.ElementAt(i).UploadedTitleImage" />
                                                        </td>
                                                        <td style="width: 180px">
                                                            <table>
                                                                <tr>
                                                                    <td style="padding-left: 67px !important;">
                                                                        @*<input id="Edit_@i" onclick="return CheckEditValidation(this.id);" type="submit" value="Edit" title="Edit" class="EditDel" style="cursor:pointer;" />*@
                                                                        <input id="EditF_@i" type="submit" onclick="CheckEditValidation(this.id);" value="" title="Save" class="EditForm" style="cursor: pointer; border: none; height: 21px; width: 21px;">
                                                                    </td>
                                                                    <td>
                                                                        @*<input type="button" onclick="return DeleteFeature(@Model.ObjFeature.ElementAt(i).FeatureId)" value="Delete" title="Delete" class="EditDel" style="cursor:pointer;" />*@
                                                                        <input id="DeleteF_@i" onclick="return DeleteFeature(@Model.ObjFeature.ElementAt(i).FeatureId)" value="" title="Delete" class="DeleteForm" style="cursor: pointer; border: none; height: 21px; width: 21px;" />
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        <td style="width: 75px; text-align: center;">
                                                            <img style="cursor:pointer;" title="Preview" onclick="Preview(@Model.ObjFeature.ElementAt(i).FeatureId)" src="@Url.Content("~/Content/themes/base/images/view-new.png")" alt="View" />
                                                        </td>
                                                    </tr>
                                                </table>
                                                </form>
                                            </div>
                                        }
                                        <form method="post" action="AddFeature" enctype="multipart/form-data" id="forms">
                                        <table id="tblValidate" cellspacing="0" cellpadding="0" width="100%" class="form-grid-tbody">
                                            <tr>
                                                <td style="width: 220px;">
                                                    <div style="width: 190px; overflow: hidden;">
                                                        <input id="AddFileImageUpload" type="file" name="AddTitleImageUpload" required validationmessage="Please upload Title Image"
                                                            style="width: 100%" /></div>
                                                </td>
                                                <td style="width: 90px;">
                                                    <input id="AddTitle" type="text" style="margin-left: -1px; width: 109%;" name="Title" class="k-textbox"
                                                        required validationmessage="Please enter title" value="" />
                                                </td>
                                                <td style="width: 87px; text-align: center;">
                                                </td>
                                                <td style="width: 164px; padding:6px;">
                                                    <input id="AddDescription" type="text" style="width: 108%; margin-left:-5px;" name="description" class="k-textbox"
                                                        required validationmessage="Please enter description" value="" />
                                                </td>
                                                <td style="width: 220px;">
                                                    <div style="width: 200px; overflow: hidden;">
                                                        <input id="AddFileUpload" type="file" name="fileupload" required validationmessage="Please upload file"
                                                            style="width: 100%; margin-left: 9px;" /></div>
                                                </td>
                                                <td style="width: 70px; text-align: center;">
                                                </td>
                                                <td style="width: 70px; text-align: center;">
                                                </td>
                                                <td style="width: 90px; text-align: center;">
                                                    @*<input name="Enabled" type="checkbox" checked="checked" style="width: 100%" />*@
                                                    <input id="799" name="Enabled" class="css-checkbox chk-style" type="checkbox" style="width: 90%"><label
                                                        for="799" class="css-label" style="margin-left: 7px;"></label>
                                                </td>
                                                <td style="width: 180px; text-align: center;">
                                                </td>
                                                <td style="width: 75px; text-align: center;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @*<input type="submit" onclick="return AddNew();" id="submitbtn" value="Add New" style="border: 0px solid white;
                                                        cursor: pointer; background-color: #f2f7fb; border: 1px solid #C5C5C5;" class="btn btn-default margint5"
                                                        title="Add New" />*@
                                                    <img src="@Url.Content("~/Content/themes/base/images/add-new.png")" onclick="return callsubmitbtn()" style="border: 0px solid white;
                                                cursor: pointer; background-color: #f2f7fb;" title="Add New" />
                                                            <input type="submit" onclick="return CheckValidation();" id="submitbtn" value="123"
                                                                   style="border: 0px solid white; display: none; cursor: pointer; background-color: #f2f7fb;"
                                                                   class="AddNew" title="Add New" />
                                                </td>
                                            </tr>
                                        </table>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="">
                        <div class="clr">
                        </div>
                    </div>
                    <div class="">
                        <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                            <div class="m" style="padding-bottom:0px;">
                                <div class=" header icon-48-user heading-style">
                                <img class="image-position" src="../Content/themes/base/images/ControlPanel/images/header/login-page.png" />
                                Login Page
                            </div>
                                <div id="DivUsers" class="expand">
                                    <table width="100%">
                                        <tr id="radiobuttons">
                                            <td align="left" style="padding: 5px;" class="margint10">
                                                <div style="display: none">
                                                    <form method="post" action="AddLoginPageLogo" enctype="multipart/form-data" id="AddLoginPageLogo">
                                                    <div style="float: left">
                                                        Upload Logo Image : &nbsp;&nbsp;
                                                        <input type="file" id="LoginLogImage" name="SelectedFile" />
                                                    </div>
                                                    <div style="float: right">
                                                        <input type="submit" value="Upload" onclick="return CheckFileExt('LoginLogImage')" />
                                                    </div>
                                                    </form>
                                                    <form method="post" action="AddLoginPageBack" enctype="multipart/form-data" id="AddLoginPageBack">
                                                    <div style="float: left">
                                                        Background:
                                                        <input type="radio" name="LoginPage" value="ImageUpload" class="selctone">Image
                                                        <input type="radio" name="LoginPage" value="ColorSelection" class="selctone">Color
                                                    </div>
                                                    <div id="LogImage" style="margin-left: 30px; display: none; float: left; width: 84%;
                                                        padding-left: 26px;">
                                                        Upload Background Image :
                                                        <input type="file" id="LoginBackImg" name="SelectedFile" />
                                                        <div style="float: left; margin-left: 30%;">
                                                            <input type="submit" value="Save" onclick="return CheckFileExt('LoginBackImg')" />
                                                        </div>
                                                    </div>
                                                    <div id="SelectColor" style="display: none; margin-left: 30px; float: left; width: 84%;">
                                                        <table>
                                                            <tr>
                                                                <td style="width: 14%">
                                                                    Select Background Color :
                                                                </td>
                                                                <td align="left">
                                                                    <div id="LoadingLogoColorPicker" style="width: 144px;">
                                                                        <input id="LogoColorList" type="text" class="color" style="width: 100px" name="Color" />
                                                                    </div>
                                                                </td>
                                                                <td style="width: 55%">
                                                                </td>
                                                                <td>
                                                                </td>
                                                                <td align="right">
                                                                    <div style="float: right; margin-left: 75%;">
                                                                        <input type="submit" value="Save" />
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    </form>
                                                </div>
                                                @*  @using (Ajax.BeginForm("AddLoginPageBackGroungImage", "control", new AjaxOptions { OnSuccess = "" }, new { id = "AddLoginPageBackGroungImage" }))
                                                    {                               *@
                                                <form method="post" action="AddLoginPageBackGroungImage" enctype="multipart/form-data"
                                                id="AddLoginPageBackGroungImage">
                                                <div id="LoginImage" style="font-size: 14px; margin-top: 20px;">
                                                    <div class="my-row" style="margin-left: 30px;">
                                                        <div class="col-sm-2">
                                                            Upload Background Image :</div>
                                                        <div class="col-sm-10" style="margin-left: -22px;">
                                                            <input type="file" id="LoginBackgroundImg" name="SelectedFile" /></div>
                                                    </div>
                                                    <div class="my-row">
                                                        <div class="col-sm-2" style="padding-left: 68px; margin-top: 5px;">
                                                            Background Position :</div>
                                                        <div class="col-sm-10">
                                                            <div class="form-horizontal">
                                                                <div class="form-group" style="margin: 0;">
                                                                    <div class="col-sm-2" style="width: 11.6667%;">
                                                                        <label style="margin-left: 4px;">
                                                                            Horizontal Position</label></div>
                                                                    <div class="col-sm-3" style="padding-left: 20px;">
                                                                        <select id="horizonPosition" name="horizonPosition" class="form-control">
                                                                            <option value="left">Left</option>
                                                                            <option value="left">Left</option>
                                                                            <option value="Center">Center</option>
                                                                            <option value="right">right</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-sm-2" style="text-align: right; padding-right: 25px;">
                                                                        <label>
                                                                            Vertical Position</label></div>
                                                                    <div class="col-sm-3">
                                                                        <select id="verticalPosition" name="verticalPosition" class="form-control">
                                                                            <option value="top">top</option>
                                                                            <option value="Center">Center</option>
                                                                            <option value="bottom">bottom</option>
                                                                        </select>
                                                                    </div>
                                                                    <input type="submit" value="Save" class="btn btn-default pull-left "
                                                                        onclick="return CheckFileExtforBG('LoginBackgroundImg')" style="margin-left: 3%;" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                </div>                               
                            </div>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                        <div class="m" style="padding-bottom:0px;">
                            <div class=" header icon-48-categories heading-style">
                            <img class="image-position" src="../Content/themes/base/images/ControlPanel/images/header/loading-page.png" />
                            Loading Page
                        </div>
                            <div id="DivLoadingPage" class="expand">
                                <form method="post" action="AddLoadingImage" enctype="multipart/form-data" id="AddLoginPageLogo">
                                <table cellpadding="0" cellspacing="0" width="100%" class="AdminAddInformation">
                                    <tr id="selctoneOptions">
                                        <td align="left" height="50px" style="padding: 16px;">
                                            <div style="float: left; font-size: 14px;">
                                                <span class="pull-left">Background:</span>
                                                <input type="radio" name="Loading" value="ImageUpload" class="selctoneOption pull-left"
                                                    style="margin: 5px 5px 0 5px;" />
                                                <span class="pull-left">Image</span>
                                                <input type="radio" name="Loading" value="ColorSelection" class="selctoneOption pull-left"
                                                    style="margin: 5px 5px 0 5px;" />
                                                <span class="pull-left">Color</span>
                                            </div>
                                            <div id="UploadLoadinImage" style="display: none; width: 100%">
                                                <div style="float: left; margin-left: 3%;">
                                                    Upload Loading Image:
                                                    <input type="file" id="UploadLoadinImageSelect" name="SelectedLoadingImg" />
                                                </div>
                                                <div style="float: right;">
                                                    <input type="submit" value="Save" onclick="return CheckFileExt('UploadLoadinImageSelect')" class="btn btn-default pull-left margin-left8" />
                                                </div>
                                            </div>
                                            <div id="SelectLodingColor" style="display: none;">
                                                <div style="float: left; margin-left: 3%;">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                Select Color : 
                                                            </td>
                                                            <td>
                                                                <div id="LoadingImgColorPicker" style="width: 144px;padding-left:5px;">
                                                                    <input id="LoadingImgColor" type="text" class="color" style="width: 100px;" name="Color" />
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div style="float: right">
                                                    <input type="submit" value="Save" class="btn btn-default pull-left margin-left8" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <div id="divMSG" style="display: none">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="3">
                                            <div id="gvContents">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                </form>
                            </div>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                    <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                        <div class="m" style="padding-bottom:0px;">
                            <div class=" header icon-48-module heading-style">
                            <img class="image-position" src="../Content/themes/base/images/ControlPanel/images/header/module.png" />
                            Modules
                        </div>
                            <div id="DivUsers" class="expand">
                                <table cellpadding="0" cellspacing="0" width="100%" class="AdminAddInformation">
                                    <tr>
                                        <td align="center">
                                            <div id="divMSGformodule">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <table style="font-size: 13px; margin-top: 10px;width:99%;">
                                                <tr>
                                                    <td width="300" style="padding: 5px;">
                                                        <div id="divMSG3" class="select-tool" style="padding-bottom: 10px; font-size: 14px;
                                                            padding-left: 8px;">
                                                            <div class="pull-left" style="margin: 5px 10px 0 0;">
                                                                Select Module:</div>
                                                            <select style="font-size: 14px;" id="ModuleList" name="ModuleList" required validationmessage="Please select Module"
                                                                class="k-dropdown pull-left">
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td width="104" style="font-size: 14px;">
                                                        <div class=" pull-left" style="margin: -5px 5px 0 16px;">
                                                            Select Color:
                                                        </div>
                                                    </td>
                                                    <td width="230">
                                                        <div id="PickerContainerDiv">
                                                            <input id="ColorList" type="text" class="color" style="width: 169px; padding: 5px;
                                                                border-radius: 4px; margin-right: 5px;" />
                                                        </div>
                                                    </td>
                                                    <td style="width: 100px; text-align: right; font-size: 14px;">
                                                        IsEnable:
                                                    </td>
                                                    <td>
                                                        <div id="PickerContainerDiv" style="width: 144px; margin-left: 10px;">
                                                            <input name="is_enable" id="is_enable" class="css-checkbox chk-style" type="checkbox"
                                                                checked="checked"><label for="is_enable" class="css-label"></label>
                                                            @*<input type="checkbox" name="is_enable" id="is_enable" checked="checked" style="margin-left: 15%;" />*@
                                                        </div>
                                                    </td>
                                                    <td style="text-align:right;">
                                                    <div>
                                                        <input type="submit" class="btn btn-default" value="Save" onclick=" SaveModuleInfo();" />
                                                      </div>
                                                    </td>
                                                </tr>
                                            </table>
                                            @*<select id="ColorList" name="Color" style="width: 140px">
                                                        <option value="-1">Select a Color:</option>
                                                        <option value="Red" class="w" style="background-color: Red">Red </option>
                                                        <option value="Orange" style="background-color: Orange">Orange </option>
                                                        <option value="#a5a5a4" style="background-color: #a5a5a4">Gray </option>
                                                        <option value="Green" class="w" style="background-color: Green">Green </option>
                                                        <option value="Blue" class="w" style="background-color: Blue">Blue </option>
                                                        <option value="Purple" style="background-color: Purple">Purple </option>
                                                        <option value="Pink" style="background-color: Pink">Pink </option>
                                                        <option value="Brown" class="w" style="background-color: Brown">Brown </option>
                                                        <option value="Black" class="w" style="background-color: Black">Black </option>
                                                        <option value="Silver" style="background-color: Silver">Silver </option>
                                                        <option value="White" style="background-color: White">White </option>
                                                    </select>*@ @*<select id="ColorList" name="ColorList" required validationmessage="Please select Color" class="k-dropdown"></select>*@
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td align="center" colspan="3">
                                            <div id="example" class="k-content1" style="margin-top: 15px;">
                                                <textarea id="editorContents" rows="10" cols="30"></textarea>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="myforms" style="background-color: #fafafa; display: none;">
                                                <table width="99.9%">
                                                    <tr>
                                                        <td colspan="4">
                                                        </td>
                                                    </tr>
                                                    @for (int i = 0; i <= Model.RowCounts; i++)
                                                    {
                                                        <tr id="trImages" visible="true">
                                                            @for (int j = 0; j < 4; j++)
                                                            {
                                                                int r = i * 4 + j;
                                                                <td align="center" width="25%">
                                                                    @if (r < Model.TotalCounts)
                                                                    {
                                                                        if (Model.Collection.ElementAt(r).Path.Contains("pdf"))
                                                                        {
                                                                        <a href="DownloadMyForms/?FPathTitle=@Model.Collection.ElementAt(r).Path">
                                                                            <img id="imgDisclaimerForm" title="@Model.Collection.ElementAt(r).Title" src="@Url.Content(" ~ />Content/themes/base/Images/pdf.png")"
                                                                                             alt="@Model.Collection.ElementAt(r).Title" />
                                                                        </a>
                                                                        }
                                                                        else
                                                                        {
                                                                        <a href="DownloadMyForms/?FPathTitle=@Model.Collection.ElementAt(r).Path">
                                                                            <img id="imgDisclaimerForm" title="@Model.Collection.ElementAt(r).Title" src="@Url.Content(" ~ />Content/themes/base/Images/doc.png")"
                                                                                             alt="@Model.Collection.ElementAt(r).Title" />
                                                                        </a>
                                                                        }
                                                                    }
                                                                </td> }
                                                        </tr>
                                                        <tr id="trLinks" visible="true">
                                                            @{int Cal2 = 1; ;}
                                                            @for (int k = 0; k < 4; k++)
                                                            {
                                                                int s = i * 4 + k;
                                                                <td align="center" style="text-align: center;">
                                                                    @if (s < Model.TotalCounts)
                                                                    {  <div class="div_main">
                                                                                <a title="@Model.Collection.ElementAt(s).Title" href="DownloadMyForms/?FPathTitle=@Model.Collection.ElementAt(s).Path"
                                                                                   style="color: #000000;">@Model.Collection.ElementAt(s).Title</a>
                                                                                <img id="ImgDescription-@s" name="@Model.Collection.ElementAt(s).Description" name2="@Model.Collection.ElementAt(s).Title" class="simpleTooltip2 tempclass_@Cal2" src="@Url.Content(Emerge.Common.ApplicationPath.GetApplicationPath() + " content />themes/base/images/drugtesting4help.png")" alt="Description" style="height: 16px; width: 16px; position:relative; top:2px; left:5px; ">
                                                                            </div>
                                                                    }
                                                                </td>
                                                                    Cal2++;
                                                            }
                                                        </tr>
                                                        <tr id="trSpace_@i" visible="true">
                                                            <td colspan="4" height="10px">
                                                            </td>
                                                        </tr>
                                                    }
                                                    <tr id="trPdf" visible="false">
                                                        <td colspan="4">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div id="featuresmkt" style="background-color: #fafafa; display: none; margin-top: 5%;">
                                                <div style="width: 100%;" id="features">
                                                    @try
                                                    {
                                                        <table width="100%" class="AdminAddInformation" style="background-color: White;">
                                                            <tr>
                                                                <td>
                                                                    <table cellspacing="0" cellpadding="0" width="100%" style="height: 30px; font-weight: bold;
                                                                        margin-bottom: 5%;" class="Center_ImgMVC1">
                                                                        <tr style="display: none;">
                                                                            <td style="width: 15%;">
                                                                                Title
                                                                            </td>
                                                                            <td style="width: 12%;">
                                                                                <label style="margin: 5%;">
                                                                                    Description
                                                                                </label>
                                                                            </td>
                                                                        </tr>
                                                                        @{int i = 0;}
                                                                        @foreach (var item in Collection)
                                                                        {

                                                                            string color = "#f5f5f5";
                                                                            if (i % 2 == 0)
                                                                            {
                                                                                color = "white";
                                                                            }
                                                                            i++;
                                                                            <tr style="background-color:@color;border:1px solid black;" onmouseover="this.style.backgroundColor='#aaaaaa';" onmouseout="this.style.backgroundColor='@color';" onclick="Preview(@item.FeatureId)">
                                                                                @{string filepath = item.UploadedFile + "_" + item.Title;
                                                                                  if (File.Exists(Request.PhysicalApplicationPath + "Resources/Upload/FeatureFiles/" + item.UploadedFile))
                                                                                  {

                                                                                    <td style="width: 10%; height: 50px; padding: 12px !important;">
                                                                                        <img width="90px" height="auto;" src="/Resources/Upload/FeatureFiles/@item.UploadedFile" />
                                                                                    </td>

                                                                                  }
                                                                                  else
                                                                                  {

                                                                                    <td style="width: 10%; height: 50px; padding: 12px !important;">
                                                                                        <img width="90px" height="auto;" src="/Resources/Upload/FeatureFiles/@item.UploadedFile" />
                                                                                    </td>

                                                                                  }
                                                                                }
                                                                                <td style="float: left; padding-top: 12px !important;">
                                                                                    <ul style="list-style-type: none;">
                                                                                        @if (File.Exists(Request.PhysicalApplicationPath + "Resources/Upload/FeatureFiles/" + item.UploadedTitleImage))
                                                                                        {



                                                                                            <li>
                                                                                                <label style="font-family: Arial; color: #1d53a9; font-size: 17px; font-weight: inherit;">@item.Title</label>
                                                                                            </li>


                                                                                        }
                                                                                        else
                                                                                        {

                                                                                            <li>
                                                                                                <label style="font-family: Arial; color: #1d53a9; font-size: 17px; font-weight: inherit;">@item.Title</label>
                                                                                            </li>
                                                                                        }
                                                                                        <li>
                                                                                            <label style="font-family: Arial; font-weight: normal;">@item.Description</label>
                                                                                            <li>
                                                                                    </ul>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    }
                                                    catch { }
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                    </tr>
                                </table>
                            </div>
                            <div class="clr">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation">
                        <tr>
                            <td align="center">
                                <div id="divSettinngMsg" style="display: none">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="BlackHeader">

                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="50%">

                                        </td>
                                        <td align="right" width="44%">
                                        </td>
                                        <td align="center">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                @Html.Raw(Model.Message)
                            </td>
                        </tr>*@ @*  <tr>
                            <td align="left" colspan="3">
                                <div id="gvFeatures">
                                </div>
                            </td>
                        </tr> </table>*@ @*   <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation">
                                <tr>
                                    <td class="BlackHeader">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td width="50%">
                                                    Login Page
                                                </td>
                                                <td align="right" width="44%">
                                                </td>
                                                <td align="center">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                            </table>*@ @*  <table width="100%">
                                <tr>
                                    <td width="100%" class="BlackHeader">
                                        <table cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td>
                                                    Home Page Editor
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            @using (Html.BeginForm("SaveSettings", "Control"))
                            {
                                <table width="100%">
                                    <tr>
                                        <td>
                                            <input class="imgbtnClasspnl" id="imgbtnSave" type="submit" value="" style="border: 0px solid white;"
                                                title="Save settings" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" width="100%" align="left">
                                            @Html.TextAreaFor(m => m.GeneralSettingModel.PageContents, new { @id = "edrPageContents", style = "height:420px; width:100%" })
                                        </td>
                                    </tr>
                                </table>
                            }*@
            <div class="clr">
            </div>
        </div>
    </div>
    <div class="clr">
    </div>
</div>
</div> @* <div id="divPreview" style="height: 480px; width: 840px;">
        <table>
            <tr>
                <td style="width: 290px; vertical-align: top; padding-left: 10px; padding-top: 10px;">
                    <div style="margin: 0; text-align: left;">
                        <div style="margin: 0; width: 96%; text-align: left;"> 
                            <div id="lblFeatureTitleImage" style="width: 200px; height: 50px;">
                          
                            </div>
                        </div>
                        <br />
                        <br />
                        <label id="LblDesc">
                        </label>
                    </div>
                </td>
                <td style="width: 435px;">
                    <div style="border: #dadada 0px solid; margin: 0; padding: 0; width: 535px; text-align: center;"
                        id="divImgFile">
                    </div>
                </td>
            </tr>
        </table>
    </div>*@ @*  <div id="divPreview" style="height: 580px; width: 840px;">*@
<div>
    <div id="divPreviews" style="height: 690px; width: 810px; display: none;">
        <table class="divpreview" style="margin-top: 3%; width: 100%;">
            <tr>
                <td>
                    <center>
                        <div style="margin-top: 3%;">
                            <div style="height: 40px;">
                                <label id="lblFTitles" style="font-size: 25px; color: #706e70;">
                                </label>
                                <div id="lblFeatureTitleImage">
                                </div>
                            </div>
                        </div>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                        <div id="divImgFile" style="padding-top: 1%; padding-bottom: 2%; margin-top: 1%;
                            height: 350px;">
                            <div id="VideoDiv1" style="width: 100%; height: 100%; display: none;">
                                <object id="VideoTag1" type="application/x-shockwave-flash" data="" style="width: 80%;
                                    height: 350px; margin: 0px 5%;">
                                    <param name="allowfullscreen" value="false" />
                                    <param name="allowscriptaccess" value="always" />
                                    <param name="wmode" value="opaque" />
                                    <param name="quality" value="high" />
                                    <param name="menu" value="false" />
                                </object>
                            </div>
                            <div id="ImageDiv1" style="width: 100%; height: 100%; display: none;">
                            </div>
                        </div>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                        <div style="margin-top: 2%;">
                            <label id="LblDesc" style="font-size: 18px; color: #706e70;">
                            </label>
                        </div>
                    </center>
                </td>
            </tr>
        </table>
        <div style="width: 100%;">
            <div style="float: right;">
            </div>
        </div>
        <div style="width: 100%;">
            <center>
                <div style="margin-top: 6%;">
                    <img type="button" src="@Url.Content("~/Content/themes/base/images/green_button_new.png")"  onclick="close_popup_alerts();" /></div>
            </center>
        </div>
    </div>
</div>
<style type="text/css">
    .t-editor .t-html
    {
        width: 66px;
        background-image: url("../Content/themes/base/images/add_html.png");
    }
</style>
<script type="text/javascript">




 $(document).ready(function() {

  function OnPageload() {
         document.getElementById("PickerContainerDiv").innerHTML = '<input type="text" id="cinput21" class="color" value="#00aa00" style="width:100px"  />';
         document.getElementById("LoadingImgColorPicker").innerHTML = '<input type="text" id="cinputtwoColorPicker" class="color" value="#00aa00" style="width:100px"  />';
          document.getElementById("LoadingLogoColorPicker").innerHTML = '<input type="text" id="LogoColorPicker" class="color" value="#00aa00" style="width:100px"  />';
         MC.ColorPicker.reload();
     }
     
      var data1 = [
                        { text: "Home", value: "1" },
                        { text: "News", value: "2" },
                        { text: "Products", value: "3" },
                        { text: "Features", value: "4" },
                        { text: "Explore", value: "5" },
                        { text: "Compliance", value: "6" },
                        { text: "Forms", value: "7" },
                        { text: "Privacy", value: "8" },
                        { text: "Contact", value: "9" },
                        { text: "Calender", value: "10" }

                    ];


 $("#ModuleList").kendoDropDownList({
            dataTextField: "text",
            dataValueField: "value",
            optionLabel: "--Select Module--",
          dataSource: data1,
          change: GetModuleData
         });


  $("#radiobuttons .selctone").change(function () {
            var selectedvalue = $(this).attr("value");
            if(selectedvalue == "ImageUpload")
            {
            document.getElementById("LogImage").style.display='block';
            document.getElementById("SelectColor").style.display='none';
            }
            else
            {
              document.getElementById("SelectColor").style.display='block';
               document.getElementById("LogImage").style.display='none';
            }
        });
       $("#selctoneOptions .selctoneOption").change(function () {
            var selectedvalue = $(this).attr("value");
           
            if(selectedvalue == "ImageUpload")
            {
            document.getElementById("UploadLoadinImage").style.display='block';
            document.getElementById("SelectLodingColor").style.display='none';
            }
            else
            {
              document.getElementById("SelectLodingColor").style.display='block';
               document.getElementById("UploadLoadinImage").style.display='none';
            }
        });
       
        });

        function GetModuleData()
        {
        var SelectedModuleId= document.getElementById("ModuleList").value;
         var editor = $("#editorContents").data("kendoEditor");
         editor.value(" ");
         $.post('@Url.Action("GetModuleContents", "Control")', {SelectedModuleId:SelectedModuleId }, function (Message) {
         document.getElementById("ColorList").value= Message.ModuleColor;
          var editor = $("#editorContents").data("kendoEditor");
         editor.paste(Message.Contents);
        });
        }

        function callsubmitbtn()
        {
      
        $("#submitbtn").click();
        }
        function CheckFileExt(fileControlId)
        {
          var selectedDocument = document.getElementById(fileControlId).value;
         if (selectedDocument != "") {
                var SelectedFileValue = selectedDocument.split(".");
                var ext = SelectedFileValue[1].toLowerCase();

                if (ext == "png" || ext == "jpg" || ext == "bmp") {
                    return true;
                }
                else {
                    alert("Please Select PNG,JPG,OR BMP Image ");
                    document.getElementById(fileControlId).value='';
                    return false;
                }
            }
            else if (selectedDocument == "") {
                alert("Plesae Select File");
                return false;
            }
        
        }

        function CheckFileExtforBG(fileControlId)
        {
          var selectedDocument = document.getElementById(fileControlId).value;
         if (selectedDocument != "") {
                var SelectedFileValue = selectedDocument.split(".");
                var ext = SelectedFileValue[1].toLowerCase();

                if (ext == "png" || ext == "jpg" || ext == "bmp") {
                    return true;
                }
                else {
                    alert("Please Select PNG,JPG,OR BMP Image ");
                    document.getElementById(fileControlId).value='';
                    return false;
                }
            }
        }

   function SaveloginLogoSetting()
{

   var LogoColorList= document.getElementById("LogoColorList").value;
   var imageHeight= document.getElementById("imageHeight").value;
   var LoginLogImage = document.getElementById("LoginLogImage").value;
   $.post('@Url.Action("SaveloginLogoSettingInfo", "Control")', {LogoColorList:LogoColorList, imageHeight:imageHeight,LoginLogImage:LoginLogImage }, function (Message) {
       });
}

        function SaveModuleInfo()
        {
     
        var SelectedModuleId= document.getElementById("ModuleList").value;
        var SelectedModuleContents = document.getElementById("editorContents").value;
        var SelectdColor = document.getElementById("ColorList").value;
        var IsEnable=$("#is_enable").attr("checked");
     
        var checkboxvalue="";
          if(IsEnable=="checked")
          {
          
          checkboxvalue=true;
          }
         else
          {
        
         
         checkboxvalue=false;
          }
       if(SelectedModuleId == "" || SelectedModuleId == "null")
        {
            alert("Select Module")
          return false;
        }
        else
        {
        
        
         $.post('@Url.Action("SaveModuleContents", "Control")', {SelectedModuleId:SelectedModuleId, SelectedModuleContents:SelectedModuleContents,SelectdColor:SelectdColor,IsEnable:checkboxvalue }, function (Message) {
       
        //window.location.href='MarketingTools';
        var strSuccess="";
        if(Message.result=="1")
        {
            strSuccess = "<span class='successmsg' style='margin-top:10px;'>Content Added Successfully</span>";
                     
          $("#divMSGformodule").html(strSuccess);
      
        
        }
      else{
      
        strSuccess = "<span class='errormsg'>error is occured while updating content</span>";
      
     $("#divMSGformodule").html(strSuccess);
      
      }
       });
     
       return true
        }
       
}
        
 $("#editorContents").kendoEditor({
     encoded: false,
     
    tools: [
         "bold",
         "italic",
         "underline",
         "strikethrough",
         "fontName",
         "fontSize",
         "foreColor",
         "backColor",
         "justifyLeft",
         "justifyCenter",
         "justifyRight",
         "justifyFull",
         "insertUnorderedList",
         "insertOrderedList",
         "indent",
         "outdent",
         "formatBlock"
        
     ]
    });

  $('Input,text').bind('invalid', function (e) {
            e.preventDefault();
            $(e.target).attr('validity')
        });

function CheckEditValidation(id)
  {
    var no=id.split('_')[1]; 
   var Title=document.getElementById("Title_"+no).value;   
   var Description=document.getElementById("Description_"+no).value;      
   return  DisplayMessage(Title,Description,1);
}

function CheckValidation()
{  var AddFileUpload= document.getElementById("AddFileUpload").value;
 var AddFileImageUpload= document.getElementById("AddFileImageUpload").value;

if(AddFileUpload == "")
{
     
       var validator = $("#tblValidate").kendoValidator().data("kendoValidator");
        if (validator.validate()) {
            return true;
        } else {
           return false;
        }
         
  }
        else
{    
if(AddFileImageUpload != "")
{
//document.getElementById("AddTitle").required = false;
 document.getElementById("AddDescription").required = false;
}

 document.getElementById("AddFileImageUpload").required = false;

    
return true;
}

}

function DisplayMessage(Title,Description,docFileLength)
{
 var Msg='';
    if(Title=='')
    {
        Msg="Please enter title";  
     }   
     if(Description=='')
    {
        Msg+="\nPlease enter description";
    }    
   
    if(docFileLength==0)
    {        Msg+="\nPlease upload file";
    }
     if(Msg=='')
    {
        return true;
    }
    else
    {
       alert(Msg);
       return false;
    }
}


   $(document).ready(function () {
        var PageEditor = $("#edrPageContents").kendoEditor().data("kendoEditor");
    });

 $(document).ready(function () {
      $("#gvContents").kendoGrid({
        height: 250,
        columns: [
            { field: "ContentTitle", title:"Title", width: "200px" },     
            { field: "ContentComment", title:"Promo Line"},         
            { field: "IsCommentEnabled", title: "Active", width: "100px", template: '<input type="checkbox" class="css-checkbox chk-style" #=IsCommentEnabled == true ? "checked=true" : "" # id="IsCommentEnabled_#=ContentId#" ><label for="IsCommentEnabled_#=ContentId#" class="css-label"></label>' },
            { command: ["edit", "destroy"], title: "Action", width: "210px" }            
       ],
        pageable: true,
        editable: "inline", 
        toolbar: ["create"], 
        dataSource: {
         error:function(e){
                        var ResponseData=JSON.parse(e.responseText); 
                         $('#divMSG').html(ResponseData.Message);
                          $('#divMSG').show();
                         
                          var grid = $("#gvContents").data("kendoGrid");
                         grid.dataSource.read();
                         grid.refresh();
                        },

            schema: {
                model: { 
                    id: "ContentId",
                    fields: {
                     ContentTitle: {  editable: true,validation: { required: {message: "Required"}}},    
                     ContentComment: {  editable: true,validation: { required: {message: "Required"}}},                     
                     IsCommentEnabled: { editable: true,type: "boolean" }
                  }
                }
            },
                            batch: true,            
                            transport: {
                                        create: {
                                url: "@Url.Action("AddContent", "Control")", 
                                type: "POST"
               
                            },
                                read: {
                                    url: "@Url.Action("LoadContents", "Control")",
                                    type: "POST" 
                                   
                                },
                                 update: {
                                    url: "@Url.Action("UpdateContentById", "Control")",
                                    type: "POST" 
                                   
                                },
                                 destroy: {
                                    url: "@Url.Action("DeleteContentById", "Control")",
                                    type: "POST" 
                                   
                                },
                                                  parameterMap: function(data, operation) {
                                                    if (operation != "read") {                 
                                                        var result = {};
                                                        for (var i = 0; i < data.models.length; i++) {
                                                            var product = data.models[i];

                                                            for (var member in product) {
                                                                result["ObjModel[" + i + "]." + member] = product[member];
                                                            }
                                                       }
                                                       return result;
                                                   }
                                                }
                              
                              
                            }
                            
    }
        
        });
});


</script>
<script type="text/javascript">


    //    $(document).ready(function () {
    //        $("#files").kendoUpload();
    //    });
    //    $(document).ready(function () {


    //        try {
    //            GetInPuts();
    //        } catch (e) {

    //        }
    //    });

    //    function GetInPuts() {

    //        var GVFeatures = document.getElementById('gvFeatures');
    //        var FileUploadElements = GVFeatures.getElementsByTagName("input");

    //        var CountFileUpload = FileUploadElements.length;

    //        //        alert("input");

    //        for (i = 0; i < CountFileUpload; i++) {
    //            if (FileUploadElements[i].type == "file") {

    //                if (FileUploadElements[i].id.indexOf('fpUploadFeature_') != -1) {

    //                    var FileUpload = document.getElementById(FileUploadElements[i].id).id;

    //                    MakeKendo(FileUpload);

    //                }
    //            }
    //        }
    //    }
    //    function MakeKendo(fp) {

    //        $(document).ready(function () {
    //            $('#' + fp).kendoUpload();
    //        });
    //    }

    function GetFileName(fpID) {

        var filename = document.getElementById(fpID).value;

        // alert(filename);

        // var upload = $('#' + fpID).data("kendoUpload");    

        HDId = fpID.split('_');

        //  var hdUploadFeature = "hdUploadFeature_" + HDId[1];

        //   document.getElementById(hdUploadFeature).value = filename;

        //        alert(document.getElementById(hdUploadFeature).id);
        //        alert(document.getElementById(hdUploadFeature).value);

    }

    function AddNew() {
        CheckValidation(); callsubmitbtn();

    }
    function GetAddUpdateResult(Result) {

        if (Result != null) {
            $('#divSettinngMsg').html(Result.Message);
            $('#divSettinngMsg').show();

        }
    }
</script>
<script type="text/javascript">


$(document).ready(function () {  

 if (jQuery.browser.msie) {
        $("#emerge-logo001").css("margin-top", "3px");
    }

    $("#gvFeatures").kendoGrid({
        height: 550,
                    columns: [
                     { field: "Title", width: "180px" },                  
                         { field: "Description" },         
                         { field: "ViewFile", title:"View File" , width: "80px", template : '<a id="aDownload" href="DownloadFeaturedFile/?FPathTitle=#=ViewFile#_#=Title#"><img alt="View" src="/Content/themes/base/images/view-new.png"  title="Preview" style="cursor:pointer;"/></a>' },            
                          { field: "UploadedFile",title:"Upload Image/Video" , width: "250px",template:' <form method="post"> <div><input type="file" /></div></form>'},
                          { field: "ViewCount",title:"Views", width: "60px" },
                          { field: "IsEnabled", width: "80px", title: "Active" }, 
                         
                         { command: ["edit", "destroy"], title: "Action", width: "210px" }
                       
                    ],
                    pageable: true,
                     editable: "inline",   
                   toolbar: ["create"], 
                    dataBound: function() {
                          
          },
                   dataSource:
                  { 
                    error:function(e){
                        var ResponseData=JSON.parse(e.responseText); 
                         $('#divFeatureMSG').html(ResponseData.Message);
                          $('#divFeatureMSG').show();
                         
                          var grid = $("#gvFeatures").data("kendoGrid");
                         grid.dataSource.read();
                         grid.refresh();
                        },
                        schema: {
                                    model: { 
                                        id: "FeatureId",
                                        fields: {
                                         Title: {  editable: true,validation: { required: true },width:170 },                 
                                            Description: {  editable: true,validation: { required: true } },
                                            ViewFile: {   editable: false},
                                            UploadedFile: { editable: false,validation: { required: true } },
                                            ViewCount: {   editable: false },
                                            IsEnabled: {  editable: true,type: "boolean" }
                        
                                      }
                                }
                        },
                   batch: true,
          
                    transport: {

                                    read: {
                                        url: "@Url.Action("LoadFeatures", "Control")", 
                                        type: "POST" 
                                    },
                                      create: {
                                        url: "@Url.Action("AddFeature", "Control")", 
                                        type: "POST"               
                                    },
                                    update: {

                                        url:"@Url.Action("SaveResult", "Control")", 
                                        type: "POST"
                                    },
                                  
                                      parameterMap: function(data, operation) {
                                        if (operation != "read") {
                       
                                            var result = {};

                                            for (var i = 0; i < data.models.length; i++) {
                                                var products = data.models[i];

                                                for (var members in products) {
                                                    result["ObjModel[" + i + "]." + members] = products[members];
                                                }
                                           }
                                           return result;
                                       }
                                  }
                         }
        }
    });
});


function DeleteFeature(FeatureId)
{

    if(confirm("Are you sure to delete?"))
    {
       $.post('@Url.Action("DeleteFeature", "Control")', {FeatureId:FeatureId  }, function (Message) {
       window.location.href='MarketingTools?Status='+Message;
       });
    }
    else
    {
    return false;
    }
}

function Preview(FeatureId)
{  
  $.post('@Url.Action("LoadFeaturePreview", "Control")', {FeatureId:FeatureId  }, function (ObjtblFeature) {
     
    $("#divPreviews").css("display","block");
        $("#divPreviews").kendoWindow({
                    draggable: true,
                    modal: true,
                    resizable: true
                   }).data("kendoWindow");
      
       
        if(ObjtblFeature.UploadedTitleImage!="" && ObjtblFeature.UploadedTitleImage != null)
        { 
        $("table[class=divpreview]").removeAttr('style');
        $("table[class=divpreview]").attr('style','width: 100%;');
         document.getElementById('lblFTitles').innerHTML="";
        document.getElementById('lblFeatureTitleImage').innerHTML = '<img src="'+ObjtblFeature.UploadedTitleImage+'"\>';
        }
        else
        {
        $("table[class=divpreview]").removeAttr('style');
        $("table[class=divpreview]").attr('style','margin-top:2%;width: 100%;');
        document.getElementById('lblFeatureTitleImage').innerHTML="";
        document.getElementById('lblFTitles').innerHTML = ObjtblFeature.Title;
        }
        document.getElementById("LblDesc").innerHTML = ObjtblFeature.Description;      
        var UploadedFile=ObjtblFeature.UploadedFile;
        var Ext=UploadedFile.split('.')[1];
        var FilePath="../Resources/Upload/FeatureFiles/" + ObjtblFeature.UploadedFile;

         var divImgFile = $("#divImgFile");
        if (Ext == "flv" || Ext == "swf")
        {
             
              var temp1 = $("#VideoTag1");
              temp1[0].data= FilePath;
               $("#VideoDiv1").css("display","block");
              $("#ImageDiv1").css("display","none");
}
        else
        {              
             $("#VideoDiv1").css("display","none");
             $("#ImageDiv1").css("display","block");
             $("#ImageDiv1").html('<img src="'+ObjtblFeature.UploadedFile+'" />'); 
        }

        var kendoWindow = $("#divPreviews").data("kendoWindow");
        var windowTitle = kendoWindow.title("Preview");
 
       //  $('div[class="k-window-titlebar k-header"]').replaceWith('<div class=k-window-titlebar k-header style=width:100%;background-color:#d70302;height:25px;border-bottom:#d70302;><div style="float:left;margin-top:6px;margin-left:1%;"><span class=newfature>New Feature</span></div><div style=float:right;><span class=newfature>powered by</span></div><div><img height=31px; src=../Content/themes/base/Images/emerge-logo-img-small01.png /></div></div>');
         $('div[class="k-window-titlebar k-header"]').replaceWith('<div class=k-window-titlebar k-header style="width:100.3%;margin-left:-1px;background-color:#d70302;height:23px;border-bottom:#d70302;"><div style="float:left;margin-left:1%; margin-top:2px"><span class="newfature">New Feature</span></div><div style="float:right;margin-right:3%;"><span style="margin-top:3px" class="newfature">powered by</span><img height=17px; id="emerge-logo001" style="margin-top:5px;margin-left:2%;" src="../Content/themes/base/Images/emerge-logo-img-small01.png" /> </div></div>');
   

     $("#divPreviews").data("kendoWindow").center();
     $("#divPreviews").data("kendoWindow").open();
     });
}
function close_popup_alerts() {
$("#divPreviews").data("kendoWindow").close();
     
 }

 $("#ModuleList").on("change", function (e) {
 if($("#ModuleList option:selected").text().trim()=="Forms")
 {
$("#myforms").css("display","block");
 
 }
 else
 {
 
 $("#myforms").css("display","none");
 }

 if($("#ModuleList option:selected").text().trim()=="Features")
 {
$("#featuresmkt").css("display","block");
 
 }
 else
 {
 
 $("#featuresmkt").css("display","none");
 }
 });

 
    $(document).ready(function () {
               var ToolTip = setInterval(function () {
               if (document.readyState == "complete") {
               $('.simpleTooltip2').hover(function () {
               var title = $(this).attr('name2'); var name = $(this).attr('name');
               $('<table id="Table2" cellpadding="0" class="HelpTable tooltipret" cellspacing="0" width="530px"><tr><td align="left" style="height:20px;width:10px;" class="HelpHeader"><p align=\"justify\" class=\"header\">' + title + '</p></td></tr><tr><td style="height:20px;" class="HelpNormal" align="left" ><p align=\"justify\" class=\"desc\">' + name + '</p></td></tr></td></tr></table>')
               .appendTo('#toolbar').fadeIn('slow'); }, function () {
               $('.tooltipret').remove(); }).mousemove(function (e) {
               if ($(this).hasClass("tempclass_4") || $(this).hasClass("tempclass_3")) {
               var mousex = e.pageX - 540; var mousey = e.pageY - 60;}
               else {  var mousex = e.pageX + 20; var mousey = e.pageY - 60;  }
               $('.tooltipret').css({ top: mousey, left: mousex })
               $(".tooltipret").css("display:block;"); });
               clearInterval(ToolTip);
            }
        }, 10);
    });
  
</script>
@*<script type="text/javascript">
    var htmlSourcePopup;
    function viewSource(e) {
        e.stopPropagation();
        e.preventDefault();

        var editor = $('#GeneralSettingModel_PageContents').data('tEditor');
        var html = editor.value();

        if (!htmlSourcePopup) {
            htmlSourcePopup =
                    $('<div  class="html-view">' +
                          '<div style="width:1100px !important; height:400px" ><textarea style="width:1094px !important; height:400px"></textarea></div>' +
                          '<div class="t-button-wrapper">' +
                              '<button id="htmlCancel" class="t-button t-state-default">Cancel</button>' +
                              '<button id="htmlUpdate" class="t-button t-state-default">Update</button>' +
                          '</div>' +
                      '</div>')
                    .css('display', 'none')
                  .tWindow({
                      title: '<span id="SetPopUpMainHeader">Type or Paste the Contents</span>',
                      modal: true,
                      resizable: false,
                      draggable: true,
                      width: 1100,
                      onLoad: function () {
                          var $popup = $(this);
                          $popup.find('.textarea')
                                    .css('width', function () {
                                        return 1100 - (this.offsetWidth - $(this).width());
                                    })
                                    .focus()
                                  .end()
                                  .find('#htmlCancel')
                                    .click(function () {
                                        htmlSourcePopup.close();
                                    })
                                  .end()
                                  .find('#htmlUpdate')
                                    .click(function () {
                                        var value = $popup.find('textarea').val();
                                        editor.value(value);
                                        htmlSourcePopup.close();
                                    });
                      },
                      onClose: function () {
                          editor.focus();
                      },
                      effects: $.telerik.fx.toggle.defaults()
                  })
                .data('tWindow');
        }

        $(htmlSourcePopup.element).find('textarea').text(html);
        htmlSourcePopup.center().open();
    }
</script>*@ @*<script src="@Url.Content("~/Scripts/2011.2.712/telerik.common.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/2011.2.712/telerik.editor.min.js")" type="text/javascript"></script>

@(Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Combined(true).Compress(true)))*@