﻿@model Emerge.Models.NCR1Backupfeaturemodel
@{
    ViewBag.Title = "NCR1 Backupfeature";
    
}
<style type="text/css">
    .k-input[type="text"] {
        height: 25px;
    }

    input[type="submit"] {
        border: 1px solid #C5C5C5;
    }

    .table_Main {
        margin-bottom: -15%;
        width: 100%;
    }

    .center-application {
        width: 100%;
        margin-top: -15px;
    }
</style>
<div id="content-box">
    <div class="padding">
        <div id="toolbar-box">
            <div class="" style="margin-top: 38px; width: 100%;">
                <div class="toolbar" id="toolbar" style="vertical-align: top">
                </div>
                <table width="100%" style="background-color: #fff;">
                    <tr>
                        <td>
                            <div class="header" style="padding: 0px 0px 0px 4px; width: 100%;">
                                <i class="ncrbackup"></i> NCR1 Backup Feature On/Off
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="clr">
                </div>

                <div id="element-box" style="background-color:#fff;">
                    <div class="" style="height: 350px;">

                        @Html.Partial("ProductManagement")

                        @using (Ajax.BeginForm("UpdateBackupstatus", "Control", new AjaxOptions { OnSuccess = "GetResults" }))
                        {
                            <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation" style="display: block; background-color: #fff;">
                                <tr>
                                    <td>
                                        <div style="margin-bottom: 10px;">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <span style="margin-right: 10px;">Backup Feature</span>

                                                    </td>
                                                    <td></td>
                                                    <td style="width: 30px">                                                        
                                                        @Html.CheckBoxFor(m => m.updatestatus)
                                                        @*<input type="checkbox" data-val="true" data-val-required="The updatestatus field is required." id="updatestatus" name="updatestatus" value="true" checked="@Model.updatestatus" class="css-checkbox">
                                                        <label class="css-label" for="updatestatus"></label>*@
                                                    </td>
                                                    <td></td>
                                                    <td style="width: 150px">
                                                        <input type="submit" value="Update Status" id="btnupdate" class="btn btn-default" />

                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td id="divMSG"></td>
                                                </tr>

                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
</div>

<script>

    function GetResults(Result) {
        if (Result != null) {
            $("#divMSG").css('display', 'block');
            $("#divMSG").html(Result.Message);
            $("#divMSG").addClass(Result.Css);
        }
    }



</script>

