﻿@model Emerge.Models.EmailSystemTemplatesModel
@{
    ViewBag.Title = "System Templates";
    <link href="@Url.Content(" ~ />Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(" ~ />Content/2011.2.712/telerik.windows7.min.css")" rel="stylesheet" type="text/css" />
}
<style>

    #tabsDemo1 a {
        background: transparent none repeat scroll 0 0 !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #666 !important;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px !important;
        padding: 9px 15px !important;
    }

    #tabsDemo1 > li:nth-child(n+2) a {
        margin-left: -7px !important;
    }
    .ReportLeft #form:nth-child(1) .system-tpl-data .col-md-6 {
        margin-bottom: 35px;
    }

    .ReportLeft #form:nth-child(1n+2) .system-tpl-data .col-md-6 {
        margin-bottom: 35px;
        margin-top: 35px;
    }

    .ReportLeft form:nth-child(1n+2) .system-tpl .margint11 {
        margin-top: 45px !important;
    }

    .ReportLeft form:nth-child(1) .system-tpl .margint11 {
        margin-top: 10px;
    }

    .system-tpl-data .col-md-6.system-style2 {
        margin-right: 0;
        width: 47%;
    }

    .system-tpl-data {
        border-bottom: 1px solid #ccc;
        margin: auto;
        width: 94%;
    }

    .system-tpl {
        float: left;
    }

    .system-tpl-data .left-portion-style1 {
        margin-left: 12px;
    }

    label {
        font-size: 14px;
    }

    .text-label {
        text-align: right;
        padding-right: 9px;
    }

    .input-place {
        height: 41px;
        padding: 4px;
        margin-top: -5px;
    }

    input[type="text"] {
        font-size: 14px !important;
        width: 330px;
        border: 1px solid #D6D6D6;
        padding: 10px;
    }

    .margint-1 {
        margin-top: -1px;
    }

    .btn-position {
        float: right;
        margin-right: 82px;
        margin-top: -7px;
    }

    .successmsg {
        color:#fff !important;
        /*padding: 0px 5px 0px 20px;
        border: 0px none;
        margin-top: 10px;
        margin-bottom: 10px;*/
    }
</style>
<div id="content-box" class="cntbx-style">
    <div class="padding">

        @*<div class="tabs_wrapperc">
            <!-- Original tabs START -->
            <div class="bckimage1loc">
                <div class="original_tabsloc">
                    <ul>
                        <li id="liReport" class="liReport">
                            <a id="lnkEmailTemplate" href="EmailTemplate" title="Email Templates">
                                Email Templates<span id="spanET"></span>
                            </a>
                        </li>
                        <li id="liPackage" class="liPackage active">
                            <a id="lnkSystemTemplate" href="NewSystemTemplates" title="System Templates">
                                System Templates<span id="spanST"></span>
                            </a>
                        </li>
                        <li id="liProduct" class="liProduct">
                            <a id="lnkMarketingTool" href="MarketingTools" title="Marketing Tools">
                                Marketing Tools<span id="spanMT"></span>
                            </a>
                        </li>
                        <li id="liNewsletters" class="liNewsletters">
                            <a id="lnkNewsletters" href="Newsletters" title="Newsletters">
                                Newsletters<span id="spanNL"></span>
                            </a>
                        </li>
                        <li id="liReviewStatusLog" class="liReviewStatusLog">
                            <a id="lnkReviewStatusLogs" href="ReviewStatusLog" title="Review Status Log">
                                Review Status Log<span id="spanReviewStatus"></span>
                            </a>
                        </li>
                        <li id="liForms" class="liForms"><a id="lnkForms" href="Forms" title="Forms">Forms<span id="spanFM"></span></a></li>


                    </ul>
                </div>
                <!-- Original tabs END -->
            </div>
            <div class="original_tabs_contentloc">
                <div class="innercontent">
        *@


        <div id="element-box">
            @*<div class="t">
                    <div class="t">
                        <div class="t">
                        </div>
                    </div>
                </div>*@
            <div class="">
                @Html.Partial("ContentManagement")

                <div id="element-box" class="margint10">

                    <div class="m">
                        <div class="toolbar" id="toolbar">
                            <table class="toolbar">
                                <tr id="TrBtnUpdate" runat="server">
                                    <td>
                                        @*<img alt="All Bookmarks" class="imgCommon" src="@Url.Content("~/Content/themes/base/images/bookmarks.png")"
                                            title="All Bookmarks" onclick="func_bookmark();" />*@
                                        <button onclick="func_bookmark();" class="btn btn-default margint5">Codes </button>
                                        <div id="Div_bookmark" style="z-index: 999;">
                                            <table border="0" id="tableBookmark" class="width300" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td colspan="2" class="center-txt">
                                                        List of all Bookmarks
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %ApplicantName%
                                                    </td>
                                                    <td>
                                                        ApplicantName
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %BillingContact%
                                                    </td>
                                                    <td>
                                                        BillingContact
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %BillingEmail%
                                                    </td>
                                                    <td>
                                                        BillingEmail
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %BillingPhone%
                                                    </td>
                                                    <td>
                                                        BillingPhone
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %CompanyName%
                                                    </td>
                                                    <td>
                                                        CompanyName
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %CompanyAddress%
                                                    </td>
                                                    <td>
                                                        CompanyAddress
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %CompanyAddress2%
                                                    </td>
                                                    <td>
                                                        CompanyAddress2
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %CompanyCity%
                                                    </td>
                                                    <td>
                                                        CompanyCity
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %CompanyState%
                                                    </td>
                                                    <td>
                                                        CompanyState
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %CompanyZipcode%
                                                    </td>
                                                    <td>
                                                        CompanyZipcode
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %EmergeLogo%
                                                    </td>
                                                    <td>
                                                        EmergeLogo
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %EmergeIcon%
                                                    </td>
                                                    <td>
                                                        EmergeIcon
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %EmergeBacksideLogo%
                                                    </td>
                                                    <td>
                                                        EmergeBacksideLogo
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %EmergeOfficeLogo%
                                                    </td>
                                                    <td>
                                                        EmergeOfficeLogo
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %EmergeEditLogo%
                                                    </td>
                                                    <td>
                                                        EmergeOfficeLogo
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %EmergeEditIcon%
                                                    </td>
                                                    <td>
                                                        EmergeEditIcon
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %EmergeAssistIcon%
                                                    </td>
                                                    <td>
                                                        EmergeAssistIcon
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %EmergeAssistComment%
                                                    </td>
                                                    <td>
                                                        EmergeAssistComment
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %EmergeAssistSubject%
                                                    </td>
                                                    <td>
                                                        EmergeAssistSubject
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %EmergeReviewComment%
                                                    </td>
                                                    <td>
                                                        EmergeReviewComment
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %EmergeReviewSubject%
                                                    </td>
                                                    <td>
                                                        EmergeReviewSubject
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %LocationPhone%
                                                    </td>
                                                    <td>
                                                        LocationPhone
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %LocationCity%
                                                    </td>
                                                    <td>
                                                        LocationCity
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %LiveRunnerLogo%
                                                    </td>
                                                    <td>
                                                        LiveRunnerLogo
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %LiveRunnerIcon%
                                                    </td>
                                                    <td>
                                                        LiveRunnerIcon
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %LocationState%
                                                    </td>
                                                    <td>
                                                        LocationState
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %LoginLink%
                                                    </td>
                                                    <td>
                                                        LoginLink
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %MainContact%
                                                    </td>
                                                    <td>
                                                        MainContact
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %MainEmail%
                                                    </td>
                                                    <td>
                                                        MainEmail
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %MainPhone%
                                                    </td>
                                                    <td>
                                                        MainPhone
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %OrderNumber%
                                                    </td>
                                                    <td>
                                                        OrderNumber
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %OrderQuantity%
                                                    </td>
                                                    <td>
                                                        OrderQuantity
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %ProductName%
                                                    </td>
                                                    <td>
                                                        ProductName
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %ReportName%
                                                    </td>
                                                    <td>
                                                        ReportName
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %ReportCode%
                                                    </td>
                                                    <td>
                                                        ReportCode
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %ReportDescription%
                                                    </td>
                                                    <td>
                                                        ReportDescription
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %PackageName%
                                                    </td>
                                                    <td>
                                                        PackageName
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %ProductType%
                                                    </td>
                                                    <td>
                                                        ProductType
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %ReportPrice%
                                                    </td>
                                                    <td>
                                                        ReportPrice
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %Subject%
                                                    </td>
                                                    <td>
                                                        Subject
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %Suggestion%
                                                    </td>
                                                    <td>
                                                        Suggestion
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %TotalPrice%
                                                    </td>
                                                    <td>
                                                        TotalPrice
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %UnitPrice%
                                                    </td>
                                                    <td>
                                                        UnitPrice
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %UsaintelLogo%
                                                    </td>
                                                    <td>
                                                        UsaintelLogo
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %UsaintelIcon%
                                                    </td>
                                                    <td>
                                                        UsaintelIcon
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %UserPicture%
                                                    </td>
                                                    <td>
                                                        UserPicture
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %UserFirstName%
                                                    </td>
                                                    <td>
                                                        UserFirstName
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %UserLastName%
                                                    </td>
                                                    <td>
                                                        UserLastName
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %UserEmail%
                                                    </td>
                                                    <td>
                                                        UserEmail
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %UserPassword%
                                                    </td>
                                                    <td>
                                                        UserPassword
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %UserLocation%
                                                    </td>
                                                    <td>
                                                        UserLocation
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %UserCompany%
                                                    </td>
                                                    <td>
                                                        UserCompany
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %OrderType%
                                                    </td>
                                                    <td>
                                                        OrderType
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %DOB%
                                                    </td>
                                                    <td>
                                                        DOB
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %SSN%
                                                    </td>
                                                    <td>
                                                        SSN
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        %DLNumber%
                                                    </td>
                                                    <td>
                                                        DL Number
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                    <td>
                                        <input class="imgbtnClasspnl" id="imgbtnSave" type="submit" value="" style="display: none" />
                                    </td>
                                    <td>
                                        @*<img class="imgCommon" src="@Url.Content("~/Content/themes/base/images/icon-32-back.png")" title="Back to locations"
                                            onclick="history.back();" />*@
                                        <button onclick="history.back();" title="Back to locations" class="btn btn-default margint5">Back </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="header icon-48-categories heading-style">
                            <img class="image-position" src="../Content/themes/base/images/ControlPanel/images/header/system-email-template.png" /> System Email Templates
                        </div>
                        <div style="text-align: center; margin-top: -50px; ">
                                    <div style="text-align: center;">@Html.Raw(Model.Message)</div>
                        </div>
                        <div class="">
                            <div id="DivSystemEmailTemplates" class="expand">                                
                                <div class="mt">
                                    <div id="DivUsers" class="expand">
                                        <div style="text-align: center;">
                                        </div>
                                        <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation">
                                            <tr>
                                                <td>

                                                    <div class="ReportLeft">
                                                        @for (int i = 0; i < Model.SystemTemplatesList.Count; i++)
                                                        {
                                                            string color = "#f5f5f5";
                                                            if (i % 2 == 0)
                                                            {
                                                                color = "#fff";
                                                            }

                                                            <form method="post" action="UpdateNewSystemTemplate" enctype="multipart/form-data" id="form" style="background-color:@color" onload="GetDuration()">
                                                                <div class="system-tpl">
                                                                    <div class="system-tpl-data">
                                                                        <div class="col-md-6 margint11">
                                                                            <div class="left-portion-style1">
                                                                                <div class="form-inline form-cnt form-right-field1">
                                                                                    <label class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-0 text-label">Template Title :</label>
                                                                                    <input class="input-place" type="text" id="TemplateTitle_@i" name="TemplateTitle" value="@Model.SystemTemplatesList.ElementAt(i).TemplateName" />
                                                                                </div>
                                                                                <div class="form-inline form-cnt form-right-field1">
                                                                                    <label class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-0 text-label">Header :</label>
                                                                                    <input class="input-place" type="text" id="TemplateHeader_@i" name="TemplateHeader" value="@Model.SystemTemplatesList.ElementAt(i).TemplateSubject" />

                                                                                </div>

                                                                                <div class="form-inline form-cnt form-right-field1">
                                                                                    <label class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-0 text-label margint-1">Template Go To : </label>
                                                                                    @if (Model.SystemTemplatesList.ElementAt(i).TemplateType == 3)
                                                                                    {
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="UserRadioBtn" name="Role" value="User" checked style="margin-right:4px;">User</label>
                                                                                        </div>
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="AdminRadioBtn" name="Role" value="Admin" style="margin-right:4px;">Admin</label>
                                                                                        </div>
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="ApplicantRadioBtn" name="Role" value="Applicant" style="margin-right:4px;">Applicant</label>
                                                                                        </div>
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="AlertRadioBtn" name="Role" value="Alert" style="margin-right:4px;">Alert</label>
                                                                                        </div>
                                                                                    }
                                                                                    @if (Model.SystemTemplatesList.ElementAt(i).TemplateType == 0)
                                                                                    {
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="UserRadioBtn" name="Role" value="User" style="margin-right:4px;">User</label>
                                                                                        </div>
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="AdminRadioBtn" name="Role" value="Admin" checked style="margin-right:4px;">Admin</label>
                                                                                        </div>
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="ApplicantRadioBtn" name="Role" value="Applicant" style="margin-right:4px;">Applicant</label>
                                                                                        </div>
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="AlertRadioBtn" name="Role" value="Alert" style="margin-right:4px;">Alert</label>
                                                                                        </div>
                                                                                    }
                                                                                    @if (Model.SystemTemplatesList.ElementAt(i).TemplateType == 4)
                                                                                    {
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="UserRadioBtn" name="Role" value="User" style="margin-right:4px;">User</label>
                                                                                        </div>
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="AdminRadioBtn" name="Role" value="Admin" style="margin-right:4px;">Admin</label>
                                                                                        </div>
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="ApplicantRadioBtn" name="Role" value="Applicant" checked style="margin-right:4px;">Applicant</label>
                                                                                        </div>
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="AlertRadioBtn" name="Role" value="Alert" style="margin-right:4px;">Alert</label>
                                                                                        </div>
                                                                                    }
                                                                                    @if (Model.SystemTemplatesList.ElementAt(i).TemplateType == 1 || Model.SystemTemplatesList.ElementAt(i).TemplateType == 2)
                                                                                    {
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="UserRadioBtn" name="Role" value="User" style="margin-right:4px;">User</label>
                                                                                        </div>
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="AdminRadioBtn" name="Role" value="Admin" style="margin-right:4px;">Admin</label>
                                                                                        </div>
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="ApplicantRadioBtn" name="Role" value="Applicant" style="margin-right:4px;">Applicant</label>
                                                                                        </div>
                                                                                        <div style="margin-right:5px;" class="radio">
                                                                                            <label><input type="radio" id="AlertRadioBtn" name="Role" value="Alert" checked style="margin-right:4px;">Alert</label>
                                                                                        </div>
                                                                                    }
                                                                                </div>

                                                                                <div style="margin-top:40px;" class="form-inline form-cnt form-right-field1">
                                                                                    <label class="col-md-3 col-md-offset-0 col-sm-6 col-sm-offset-0 text-label margint-1">My Preference : </label>
                                                                                    @{

                                                                                    int counter = 7988 + i;
                                                                                    if (Model.SystemTemplatesList.ElementAt(i).IsNotificationTemplate)
                                                                                    {

                                                                                        @*<input type="checkbox" name="IsNotificationTemplate_@Model.SystemTemplatesList.ElementAt(i).pkTemplateId" checked="checked" />*@
                                                                                        <input id="@counter" class="css-checkbox chk-style margint5" type="checkbox" name="IsNotificationTemplate_@Model.SystemTemplatesList.ElementAt(i).pkTemplateId"><label for="@counter" class="css-label"></label>
                                                                                    }
                                                                                    else
                                                                                    {

                                                                                        @*<input type="checkbox" name="IsNotificationTemplate_@Model.SystemTemplatesList.ElementAt(i).pkTemplateId" />*@
                                                                                        <input id="@counter" class="css-checkbox chk-style margint5" type="checkbox" name="IsNotificationTemplate_@Model.SystemTemplatesList.ElementAt(i).pkTemplateId"><label for="@counter" class="css-label"></label>
                                                                                    }
                                                                                    }
                                                                                    @*<button type="button" id="BtnEdit_@i" title="Update" onclick="Return UpdateSystemTemplate(@Model.SystemTemplatesList.ElementAt(i).pkTemplateId)" class="btn btn-primary btn-position">Update</button>*@

                                                                                    @*<input style="float:right; margin-right:100px;" type="submit" id="BtnEdit_@i" class="EditDel btn btn-primary col-md-6" value="Update" onclick="Return UpdateSystemTemplate(@Model.SystemTemplatesList.ElementAt(i).pkTemplateId)" />*@

                                                                                </div>

                                                                                <div style="margin-top:40px;" class="form-inline form-cnt form-right-field1">
                                                                                    <input type="submit" id="BtnEdit_@i" title="Update" onclick="Return UpdateSystemTemplate(@Model.SystemTemplatesList.ElementAt(i).pkTemplateId)" value="Update" class="btn btn-default  btn-position" style="float: left; margin-left: 140px;">


                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-6 system-style2">
                                                                            <div class="form-inline form-cnt">

                                                                                <textarea id="TextEditor_@i" name='TemplateBodyMessage' cols="32" style="height: 288px; ">
                                                                                    @Model.SystemTemplatesList.ElementAt(i).TemplateContent

                                                                                </textarea>
                                                                                <input type="hidden" name='pkTemplateId' value="@Model.SystemTemplatesList.ElementAt(i).pkTemplateId" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- <table cellspacing="2" cellpadding="2">
                                                                     <tr>
                                                                         <td style="width: 14%;">
                                                                             <input type="text" id="TemplateTitle_@i" name="TemplateTitle" style="width: 90%; padding: 8px; margin-left: 5px;" value="@Model.SystemTemplatesList.ElementAt(i).TemplateName" />
                                                                         </td>
                                                                         <td style="width: 14%; text-align: center;">
                                                                             <input type="text" id="TemplateHeader_@i" name="TemplateHeader" style="width: 90%; padding: 8px; margin-left: 5px;" value="@Model.SystemTemplatesList.ElementAt(i).TemplateSubject" />
                                                                         </td>
                                                                         <td style="width: 40%;">
                                                                             <textarea id="TextEditor_@i" name='TemplateBodyMessage' rows="10" cols="30" style="width: 90%; height: 160px; margin:5px 0 5px 10px;">
                                                                                 @Model.SystemTemplatesList.ElementAt(i).TemplateContent

                                                                             </textarea>
                                                                             <input type="hidden" name='pkTemplateId' value="@Model.SystemTemplatesList.ElementAt(i).pkTemplateId" />
                                                                         </td>
                                                                         <td style="width: 14%; text-align: left; padding-left: 54px;">
                                                                             @if (Model.SystemTemplatesList.ElementAt(i).TemplateType == 3)
                                                                             {
                                                                             <input type="radio" id="UserRadioBtn" name="Role" value="User" style="margin-left: 3px"><label>User</label> ;
                                                                             <input type="radio" id="AdminRadioBtn" name="Role" value="Admin" style="margin-left: 3px"><label>Admin</label> ;
                                                                             <input type="radio" id="ApplicantRadioBtn" name="Role" value="Applicant" checked="checked"
                                                                                    style="margin-left: 3px"> <label>Applicant</label> ;
                                                                             <input type="radio" id="AlertRadioBtn" name="Role" value="Alert" style="margin-left: 3px"><label>Alert</label> ;

                                                                             }
                                                                             @if (Model.SystemTemplatesList.ElementAt(i).TemplateType == 0)
                                                                             {
                                                                             <input type="radio" id="UserRadioBtn" name="Role" value="User" checked="checked"
                                                                                    style="margin-left: 3px"><label>User</label><br /> ;
                                                                             <input type="radio" id="AdminRadioBtn" name="Role" value="Admin" style="margin-left: 3px"><label>Admin</label> <br /> ;
                                                                             <input type="radio" id="ApplicantRadioBtn" name="Role" value="Applicant" style="margin-left: 3px"> <label>Applicant</label><br /> ;
                                                                             <input type="radio" id="AlertRadioBtn" name="Role" value="Alert" style="margin-left: 3px"><label>Alert</label> ;
                                                                             }
                                                                             @if (Model.SystemTemplatesList.ElementAt(i).TemplateType == 4)
                                                                             {
                                                                             <input type="radio" id="UserRadioBtn" name="Role" value="User"><label>User</label> ;
                                                                             <input type="radio" id="AdminRadioBtn" name="Role" value="Admin" checked="checked"><label>Admin</label> ;
                                                                             <input type="radio" id="ApplicantRadioBtn" name="Role" value="Applicant"> <label>Applicant</label> ;
                                                                             <input type="radio" id="AlertRadioBtn" name="Role" value="Alert"><label>Alert</label> ;
                                                                             }
                                                                             @if (Model.SystemTemplatesList.ElementAt(i).TemplateType == 1 || Model.SystemTemplatesList.ElementAt(i).TemplateType == 2)
                                                                             {
                                                                             <input type="radio" id="UserRadioBtn" name="Role" value="User"><label>User</label> ;
                                                                             <input type="radio" id="AdminRadioBtn" name="Role" value="Admin"><label>Admin</label> ;
                                                                             <input type="radio" id="ApplicantRadioBtn" name="Role" value="Applicant"> <label>Applicant</label> ;
                                                                             <input type="radio" id="AlertRadioBtn" name="Role" value="Alert" checked="checked"><label>Alert</label> ;
                                                                             }
                                                                         </td>
                                                                         <td style="width: 8%; text-align: center">
                                                                             @if (Model.SystemTemplatesList.ElementAt(i).IsNotificationTemplate)
                                                                             {
                                                                             <input type="checkbox" name="IsNotificationTemplate_@Model.SystemTemplatesList.ElementAt(i).pkTemplateId" checked="checked" />
                                                                             }
                                                                             else
                                                                             {
                                                                             <input type="checkbox" name="IsNotificationTemplate_@Model.SystemTemplatesList.ElementAt(i).pkTemplateId" />
                                                                             }
                                                                         </td>
                                                                         <td style="width: 10%; text-align: center;">
                                                                             <input type="submit" id="BtnEdit_@i" class="EditDel" value="Update" onclick="Return UpdateSystemTemplate(@Model.SystemTemplatesList.ElementAt(i).pkTemplateId)" />
                                                                         </td>
                                                                     </tr>
                                                                 </table> -->
                                                            </form>
                                                            if (i == Model.SystemTemplatesList.Count - 1)
                                                            {
                                                                <script>
                                                                    for (var i = 0; i < @Model.SystemTemplatesList.Count; i++) {

                                                                        $("#TextEditor_" + i).kendoEditor({
                                                                            encoded: true,
                                                                            tools: ["bold",
                                                                                    "italic",
                                                                                    "underline"]
                                                                        });
                                                                    }
                                                                </script>

                                                            }
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="clr">
                                    </div>
                                </div>
                            </div>
                            <div class="clr">
                            </div>
                        </div>
                        <div class="clr">
                        </div>
                    </div>

                </div>
                <div class="clr">
                </div>
                @*<div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                        <div class="t">
                            <div class="t">
                                <div class="t">
                                </div>
                            </div>
                        </div>


                        <div class="b">
                            <div class="b">
                                <div class="b">
                                </div>
                            </div>
                        </div>
                    </div>*@

                <div class="clr">
                </div>
            </div>

        </div>
        @*
                    </div>
                </div>
                <!-- Original tabs END -->
            </div>*@

        <div class="clr">
        </div>
    </div>
</div>

<div id="divLoading" class="progress" style="font-weight: normal; font-size: 12px;
    text-align: left; display: none">
    Processing...
</div>
@Html.Telerik().ScriptRegistrar().DefaultGroup(group => group
              .Add("~/Scripts/2011.2.712/telerik.common.min.js")
               .Add("~/Scripts/2011.2.712/telerik.editor.min.js")
             .Compress(true))
@(Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Combined(true).Compress(true)))
<link href="@Url.Content(" ~ />Content/2011.2.712/telerik.default.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(" ~ />Content/kendo.common.min.css")" rel="stylesheet"
      type="text/css" />
<script src="@Url.Content(" ~ />Scripts/KendoJS/kendo.all.min.js")" type="text/javascript"></script>
<style type="text/css">
    .example {
        height: 100px;
        width: 350px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .EditDel {
        height: 24px;
        width: 75px;
        padding: 0 7px 1px;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        background-color: #e6e6e6;
        background-image: url("../Content/textures/highlight.png");
        background-position: 0 center;
        background-position-y: center;
    }

    .editor1 {
    }

    .editor_Content {
        max-height: 200px;
        overflow-y: auto;
    }

    .t-editor .t-html {
        width: 66px;
        background-image: url("../Content/themes/base/images/add_html.png");
    }

    .k-editor {
        width: 100% !important;
        margin: 8px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function(){
        $(".k-editor").css({"height":"330px"});


    });
    function UpdateSystemTemplate(pkTemplateId) {

    }
    var htmlSourcePopup;
    function viewSource(e) {
        e.stopPropagation();
        e.preventDefault();

        var editor = $('#TemplateContent').data('tEditor');
        var html = editor.value();

        if (!htmlSourcePopup) {
            htmlSourcePopup =
                    $('<div  class="html-view">' +
                          '<div style="width:1100px !important; height:400px" ><textarea style="width:1094px !important; height:400px"></textarea></div>' +
                          '<div class="t-button-wrapper">' +
                              '<button id="htmlCancel" class="t-button t-state-default">Cancel</button>' +
                              '<button id="htmlUpdate" class="t-button t-state-default">Update</button>' +
                          '</div>' +
                      '</div>')
                    .css('display', 'none')
                  .tWindow({
                      title: '<span id="SetPopUpMainHeader">Type or Paste the Contents</span>',
                      modal: true,
                      resizable: false,
                      draggable: true,
                      width: 1100,
                      onLoad: function () {
                          var $popup = $(this);
                          $popup.find('.textarea')
                                    .css('width', function () {
                                        return 1100 - (this.offsetWidth - $(this).width());
                                    })
                                    .focus()
                                  .end()
                                  .find('#htmlCancel')
                                    .click(function () {
                                        htmlSourcePopup.close();
                                    })
                                  .end()
                                  .find('#htmlUpdate')
                                    .click(function () {
                                        var value = $popup.find('textarea').val();
                                        editor.value(value);
                                        htmlSourcePopup.close();
                                    });
                      },
                      onClose: function () {
                          editor.focus();
                      },
                      effects: $.telerik.fx.toggle.defaults()
                  })
                .data('tWindow');
        }

        $(htmlSourcePopup.element).find('textarea').text(html);
        htmlSourcePopup.center().open();
    }
</script>
<script type="text/javascript">
    //    $(document).ready(function () {
    //        var PageEditor = $("#TemplateContent").kendoEditor().data("kendoEditor");
    //    });

    function func_bookmark() {
        var v = document.getElementById('Div_bookmark');
        if (v != null) {
            $(v).toggle('slow');

        }
    }

    var TemplateSubject = document.getElementById("TemplateSubject");

    var IsEnabled = document.getElementById("IsEnabled");
    var divEnabled = document.getElementById("divEnabled");
    var lnkLoadDefaultContents = document.getElementById("lnkLoadDefaultContents");
    var TemplateName = document.getElementById("TemplateName");
    var divMSG = document.getElementById("divMSG");

    function GetTemplateContents(IsDefaultContent) {

        divMSG.style.display = "none";
        // If IsDefaultContent = 0 then load Template Contents, if IsDefaultContent = 1 then load Default Template Contents
        var TemplateValue = GetCurrentSelectedValue();

        if (TemplateValue != "0") {

            lnkLoadDefaultContents.style.cursor = "pointer";
            TemplateName.value = GetCurrentSelectedText();

            $.post('@Url.Action("GetTemplateContents", "Control")', { pkTemplateId: TemplateValue, IsSystemTemplate: "true" }, function (Result) {

                if (Result != null) {
                    TemplateSubject.value = Result.TempSub;
                    var PageEditor1 = $('#TemplateContent').data('tEditor');
                    // var PageEditor1 = $("#TemplateContent").data("kendoEditor");
                    if (IsDefaultContent == 0) {
                        PageEditor1.value(Result.TempCont);
                    }
                    else {
                        alert(Result.DefaultContent);
                        PageEditor1.value(Result.DefaultContent);
                    }

                    if (Result.IsTemplateEnabled == true) {

                        IsEnabled.checked = true;
                    }
                    else {
                        IsEnabled.checked = false;
                    }
                    if (TemplateValue == "41") {
                        divEnabled.style.display = "block";
                    }
                    else {
                        divEnabled.style.display = "none";
                    }

                }
                else {
                    TemplateName.value = "";
                    lnkLoadDefaultContents.style.cursor = "text";
                    ClearTextbox();
                    divEnabled.style.display = "none";

                }
            });
        }
        else {
            TemplateName.value = "";
            lnkLoadDefaultContents.style.cursor = "text";
            ClearTextbox();
            divEnabled.style.display = "none";

        }
    }
    function GetAddUpdateResult(Result) {

        divEnabled.style.display = "none";

        if (Result != null) {

            divMSG.style.display = "block";

            divMSG.innerHTML = Result.Message;

            ddlLoadTemplate(Result.Templates);

            if (Result.StatusAddUpdate != "") {

                ClearTextbox();
            }
            else {
            }
        }
    }
    function ddlLoadTemplate(Collection) {
        var ddlTemplateName = $('#ddlTemplateName');
        ddlTemplateName.empty();

        $.each(Collection, function (index, coll1) {
            ddlTemplateName.append(
            $('<option/>').attr('value', coll1.pkTemplateId)
              .text(coll1.TemplateName)
          );
        });
    }

    function ClearTextbox() {
        // var PageEditor1 = $("#TemplateContent").data("kendoEditor");
        var PageEditor1 = $('#TemplateContent').data('tEditor');
        TemplateSubject.value = "";
        PageEditor1.value("");
    }
    function GetCurrentSelectedValue() {

        var ddlTemplateNameId = document.getElementById("ddlTemplateName");
        var num = ddlTemplateNameId.selectedIndex;
        var SystemTemplatevalue = ddlTemplateNameId.options[num].value;
        return SystemTemplatevalue;
    }
    function GetCurrentSelectedText() {

        var ddlTemplateNameId = document.getElementById("ddlTemplateName");
        var num = ddlTemplateNameId.selectedIndex;
        var SystemTemplatetext = ddlTemplateNameId.options[num].text;
        return SystemTemplatetext;
    }

</script>
<style type="text/css">
    div.header1 {
        cursor: default;
    }

    .AdminAddInformation {
        background-color: #fff !important;
    }
</style>
