﻿@model Emerge.Models.EmailSystemTemplatesModel
@{
    ViewBag.Title = "Newsletters";
      <link href="@Url.Content("~/Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.2.712/telerik.windows7.min.css")" rel="stylesheet" type="text/css" />
    
}
<style>

    #tabsDemo1 a {
        background: transparent none repeat scroll 0 0 !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #666 !important;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px !important;
        padding: 9px 15px !important;
    }

    #tabsDemo1 > li:nth-child(n+2) a {
        margin-left: -7px !important;
    }
.special-button 
{
background:#adadad url('../Content/2011.2.712/Default/sprite.png') repeat-x 0 -752px;
margin: 0;
padding: 2px 6px;
border-width: 1px;
border-style: solid;
font-family: inherit;
font-size: 100%;
line-height: 1.435;
text-align: center;
cursor: pointer;
-webkit-border-radius: 3px;
border-radius: 3px;
}

    #Window.t-widget.t-window {
        z-index: 2147483647;
    }

    .t-overlay {
        z-index: 2147483647 !important;
    }
.special-button:hover {
background-position: 0 -624px;
background-color: #C9C9C9;
}

    label {
        font-size:14px;
    }

    .text-label {
        text-align: right;
        padding-right: 9px;
    }
</style>
<div style="margin-left: 200px;">

 @{  Html.Telerik().Window()
        .Name("Window")
        .Title("Send Email")
        .Content(@<text>
                  <div id="DivPreviewPop">   
                 <table width="100%" border="0" style="width: 750px;">       
        <tr>
            <td valign="top" align="center" width="100%">
                <input type="hidden" id="HFRow" name="HFRow" />
                <div id="divPreviewTemplateContent">
                </div>
            </td>
        </tr>
    </table>  
 </div>
        
        </text>)
        .Width(765)
        .Height(580)
        .Draggable(true)
        .Modal(true)
        .Visible(false)
        .Render();
    }
<div id="DivPreviewPop1" style="border-color: Black; border-width: 0px; border-style: solid;
    overflow-y: scroll; height: 460px; display: none;" runat="server">
   
</div> 
</div>
@using (Ajax.BeginForm("SendEmail", "Control", new AjaxOptions { OnSuccess = "GetResult", LoadingElementId = "DivLoading" }))
{
   
    @Html.Hidden("App_Path", @Emerge.Common.ApplicationPath.GetApplicationPath())
    <div id="content-box" class="cntbx-style">
        <div class="padding">

            <div id="element-box" class="margint10">
                <div>
                    @Html.Partial("ContentManagement")
                    <div class="m margint10">
                        <div class="toolbar" id="toolbar">
                            <table class="toolbar">
                                <tr id="TrBtnUpdate" runat="server">
                                    <td>
                                        @*<img class="imgCommon" src="@Url.Content("~/Content/themes/base/images/Preview.png")" title="Preview"
                                             onclick="return PreviewContent();" alt="Preview" style="cursor: pointer" />*@
                                        <button onclick="return PreviewContent();" class="btn btn-default" title="Preview">Preview </button>
                                    </td>
                                    <td>
                                        @*<input class="imgbtnSendEmail imgCommon" id="imgbtnSave" type="submit" value="" style="border:none; height:45px !important;" />*@
                                        <button id="imgbtnSave" type="submit" class="btn btn-default" title="Send">Send </button>
                                        
                                     </td>
                                    <td>
                                        @*<img class="imgCommon" src="@Url.Content("~/Content/themes/base/images/icon-32-back.png")" title="Back to locations"
                                             onclick="history.back();" />*@
                                        <button onclick="history.back();" class="btn btn-default" title="Back to locations">Back </button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                       
                        <div class="header icon-48-categories heading-style">
                            <img class="image-position" src="../Content/themes/base/images/ControlPanel/images/header/newsletter.png" /> Newsletters
                        </div>
                        <div class="clr">
                        </div>
						<div id="element-box" style="margin-top: 10px; padding-top: 1px;">

                                       
                                        <div class="">
                                            
                                                <div id="DivNewsletters" class="expand">
                                                <div style="text-align:center;  padding-bottom:2%;">
                                                 <div id="divMSG" style="display: none"></div></div>

								<div class="ModalPopupTable">

                                    <div class="col-md-6">
                                        <div class="left-portion-style">
                                            <div class="form-inline form-cnt errormes margin-top40">
                                                <label class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-0 text-label"><span class="star">*</span>Select Company:</label>
                                                @Html.DropDownListFor(m => m.pkCompanyId, new SelectList(Model.lstCompanyList, "pkCompanyId", "CompanyName"), new { style = "width:300px;", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.pkCompanyId)
                                            </div>
                                            <div class="form-inline form-cnt errormes">
                                                <label class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-0 text-label"><span class="star">*</span>Select User :</label>
                                               @Html.DropDownListFor(model => Model.UserType, new SelectList(Model.DicUserType, "key", "value"), new { style = "width:300px;", @class = "form-control" })
                                            </div>
                                            <div class="form-inline form-cnt errormes">
                                                <label class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-0 text-label"><span class="star">*</span>Select Template :</label>
                                                @Html.DropDownListFor(m => m.ddlTemplateSubject, new SelectList(Model.EmailTemplatesList, "pkTemplateId", "TemplateSubject"), new { onchange = "GetTemplateContents();", style = "width:300px;", @class = "form-control" })
                                                                    @Html.ValidationMessageFor(m => m.ddlTemplateSubject)
                                                                    @Html.HiddenFor(m => m.TemplateType)
                                            </div>
                                            <div class="form-inline form-cnt errormes">
                                                <label class="col-md-3 col-md-offset-1 col-sm-6 col-sm-offset-0 text-label"><span class="star">*</span>Subject :</label>
                                               @Html.TextBoxFor(m => m.TemplateSubject, new { style = "width:300px; ", @class = "form-control" })
                                                                    @Html.ValidationMessageFor(m => m.TemplateSubject)
                                            </div>
											
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        @{ Html.Telerik().EditorFor(model => model.TemplateContent)
                                                                    .HtmlAttributes(new { style = "width:91%;height:300px; margin:auto;" })
                                                                     .FileBrowser(t => t.Browse("Browse", "ImageBrowser")
                                                                      .Thumbnail("Thumbnail", "ImageBrowser")
                                                                      .Upload("Upload", "ImageBrowser")
                                                                      .DeleteFile("DeleteFile", "ImageBrowser")
                                                                      .DeleteDirectory("DeleteDirectory", "ImageBrowser")
                                                                      .CreateDirectory("CreateDirectory", "ImageBrowser")).Encode(false)
                                                                    .Value(@<text>
                                                                                                                                </text>)
                                                                                      //.StyleSheets(styleSheets => styleSheets.Add("~/Content/style.min.css"))
                                                                    .Tools(tools => tools


                                                                        .Separator()
                                                                          .Clear()
                                                           .Bold().Italic().Underline().Strikethrough().Separator()

                                                           .FontColor().BackColor().Separator()
                                                           .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull().Separator()
                                                           .InsertUnorderedList().InsertOrderedList().Separator()
                                                           .Indent().Outdent().Separator()
                                                           .CreateLink().Unlink().Separator()
                                                           .InsertImage()
                                                           .FormatBlock()
                                                           .Styles(styles => styles
                                                               .Add("Highlight", "highlight")
                                                               .Add("Code block", "code")
                                                           )
                                                            .Custom(settings => settings.HtmlAttributes(new { @class = "t-html", onclick = "viewSource(event)" }))
                                                                    )
                                                                    .Render();
                                                                                }
                                                                                
                                                                                
                                                                               @*  @Html.TextAreaFor(m => m.TemplateContent, new { style = "height:420px; width:850px" })*@
                                    </div>
                                </div>			 
                                


                                            </div>
                                            <div class="clr">
                                            </div>
                                        </div>
                                     
</div>
                    </div>




            @*        <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation">
                        <tr>
                            <td class="BlackHeader">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="50%">
                                            Newsletters
                                        </td>
                                        <td align="right" width="44%">
                                        </td>
                                        <td align="center">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                               
                            </td>
                        </tr>
                        <tr>
                            <td>
                           
                            </td>
                        </tr>
                    </table>*@
                    <div class="clr">

                    </div>
                    
                </div>
             
             
            </div>
         
        </div>
    </div>  
}
<div id="divLoading"  class="progress" style="font-weight: normal; font-size: 12px;
    text-align: left; display: none">
    Processing...
</div>

   <link href="@Url.Content("~/Content/2011.2.712/telerik.default.min.css")" rel="stylesheet" type="text/css" />

    @Html.Telerik().ScriptRegistrar().DefaultGroup(group => group

              .Add("~/Scripts/2011.2.712/telerik.common.min.js")
               .Add("~/Scripts/2011.2.712/telerik.editor.min.js")
               .Compress(true))


<style type="text/css">
    .t-editor .t-html
    {
        width: 66px;
        background-image: url("../Content/themes/base/images/add_html.png");
    }
</style>
<script type="text/javascript">
  function PreviewContent() {
       
            if ($('#TemplateSubject').val() != '') {

                var TemplateEditor = $("#TemplateContent").data('tEditor');
                var NewTitle = $('#TemplateSubject').val();
                $('#divPreviewTemplateContent').html(TemplateEditor.value());
                $('#Window').data('tWindow').content($('#resultChartTop').html());
                $('#Window').data('tWindow').title(NewTitle);
                $('#Window').data('tWindow').center().open();

                return true;
            }
            else {
                alert('Please Select Template.');
                return false;
            }

        }
       
   
</script>
<script type="text/javascript">

    var htmlSourcePopup;
    function viewSource(e) {
        e.stopPropagation();
        e.preventDefault();

        var editor = $('#TemplateContent').data('tEditor');
        var html = editor.value();

        if (!htmlSourcePopup) {
            htmlSourcePopup =
                    $('<div  class="html-view">' +
                          '<div style="width:1100px !important; height:400px" ><textarea style="width:1094px !important; height:400px"></textarea></div>' +
                          '<div class="t-button-wrapper">' +
                              '<button id="htmlCancel" class="t-button t-state-default">Cancel</button>' +
                              '<button id="htmlUpdate" class="t-button t-state-default">Update</button>' +
                          '</div>' +
                      '</div>')
                    .css('display', 'none')
                  .tWindow({
                      title: '<span id="SetPopUpMainHeader">Type or Paste the Contents</span>',
                      modal: true,
                      resizable: false,
                      draggable: true,
                      width: 1100,
                      onLoad: function () {
                          var $popup = $(this);
                          $popup.find('.textarea')
                                    .css('width', function () {
                                        return 1100 - (this.offsetWidth - $(this).width());
                                    })
                                    .focus()
                                  .end()
                                  .find('#htmlCancel')
                                    .click(function () {
                                        htmlSourcePopup.close();
                                    })
                                  .end()
                                  .find('#htmlUpdate')
                                    .click(function () {
                                        var value = $popup.find('textarea').val();
                                        editor.value(value);
                                        htmlSourcePopup.close();
                                    });
                      },
                      onClose: function () {
                          editor.focus();
                      },
                      effects: $.telerik.fx.toggle.defaults()
                  })
                .data('tWindow');
        }

        $(htmlSourcePopup.element).find('textarea').text(html);
        htmlSourcePopup.center().open();
    }
</script>
<script type="text/javascript">
  

    var TemplateSubject = document.getElementById("TemplateSubject");
    var divMSG = document.getElementById("divMSG");
    var TemplateType = document.getElementById("TemplateType");
    var divLoading = document.getElementById("divLoading");

    function GetTemplateContents() {


        divMSG.style.display = "none";
        var TemplateValue = GetCurrentSelectedValue();

        if (TemplateValue != "0") {
            divLoading.style.display = "block";

            $.post('@Url.Action("GetNewsletterTemplateContents", "Control")', { pkTemplateId: TemplateValue, IsSystemTemplate: "false" }, function (Result) {



                if (Result != null) {
                    divLoading.style.display = "none";
                    TemplateSubject.value = Result.TempSub;
                    TemplateType.value = Result.TemplateType;

                   // var PageEditor1 = $("#TemplateContent").data("kendoEditor");
                    var PageEditor1 = $('#TemplateContent').data('tEditor');
                    PageEditor1.value(Result.TempCont);


                }
                else {
                    ClearTextbox();
                    divLoading.style.display = "none";

                }
            });

        }
        else {

            ClearTextbox();
            //imgbtnDelete.style.display = "none";
            divLoading.style.display = "none";
        }
    }
    function GetResult(Result) {
        if (Result != null) {
            divMSG.style.display = "block";
            divMSG.innerHTML = Result.Message;

        }
    }
    function ClearTextbox() {
       // var PageEditor1 = $("#TemplateContent").data("kendoEditor");
        var PageEditor1 = $('#TemplateContent').data('tEditor');

        TemplateSubject.value = "";
        PageEditor1.value("");
    }

    function GetCurrentSelectedValue() {

        var EmailTemplateID = document.getElementById("ddlTemplateSubject");
        var num = EmailTemplateID.selectedIndex;
        var EmailTemplatevalue = EmailTemplateID.options[num].value;
        return EmailTemplatevalue;
    }
    var readyCheckInterval = setInterval(function () {
        if (document.readyState == "complete") {
            if ($("#t-editor-image-url").is(':visible')) {
                $('button.t-dialog-insert.t-button').after("<button class='special-button t-button'>Insert</button>");
                $('button.t-dialog-insert.t-button').attr("style", "visibility:hidden");
                $('button.special-button.t-button').click(function (e) {
                    var str = $("#App_Path").val();
                    $("#t-editor-image-url").val(str + $("#t-editor-image-url").val().slice(1));
                    $('button.t-dialog-insert.t-button').click();

                });
                clearInterval(readyCheckInterval);
            }
        }
    }, 10);
</script>
 @(Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Combined(true).Compress(true)))


   @* <link href="@Url.Content("~/Content/kendo.common.min.css")" rel="stylesheet"
    type="text/css" />
    <script src="@Url.Content("~/Scripts/KendoJS/kendo.all.min.js")" type="text/javascript"></script>*@


    <style type="text/css">
        div.header1 { 
    cursor:default; 
}
    </style>