﻿@model Emerge.Models.PackagesModel
@{
    ViewBag.Title = "Packages List";

}
<style type="text/css">
    #gvPackageList .k-pager-wrap.k-grid-pager {
        margin-top: 1px !important;
    }
    .center-application 
    {
        width: 100% !important;
    }
    /*span.k-delete {
        background: url("../../Content/themes/base/images/delete_small.jpg") center center;
    }

    .k-grid .k-button-icontext .k-icon {
        margin: 0;
        vertical-align: middle;
        min-width: 21px;
        width: 21px;
        height: 27px;
    }

    .k-grid tbody .k-button {
        min-width: 21px;
        width: 21px;
        border: 0px;
        background-color: transparent;
    }*/
</style>

<div id="content-box" style="margin-top: 52px; margin-bottom: 40px;">
    <div class="padding">
        <div id="toolbar-box">
            <div>
                <div class="toolbar" id="toolbar">
                    <table class="toolbar">
                        <tr>
                            <td>

                                <button title="Back to locations" class="btn btn-default" type="button" onclick="history.back();" style="margin-right:5px; margin-top:4px;">Back</button>

                            </td>
                            <td>
                                @*<img alt="Add New Package" class="imgCommon" src="../Content/themes/base/images/ControlPanel/images/toolbar/icon-32-add.png"
                                    title="Add New Package" onclick="AddUpdatePackages(-1);" />*@

                                <button title="Add New Package" class="btn btn-default" type="button" onclick="AddUpdatePackages(-1);" style="margin-right:5px; margin-top:4px;">New</button>
                            </td>
                            <td>
                                <button title="Delete Package" class="btn btn-default" type="button" onclick="return UserConfirmationBeforeDelete();" style=" margin-top:4px;">Delete</button>

                                @*<img alt="Delete Package" class="imgCommon" src="../Content/themes/base/images/ControlPanel/images/toolbar/icon-32-delete.png"
                                    title="Delete Package" onclick="return UserConfirmationBeforeDelete();" />*@
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="header icon-48-categories" style="padding: 0px 0px 0px 4px; width: 100%; margin-bottom: 0px;">
                    <i class="packages"></i> Packages
                </div>

            </div>
        </div>
        <div class="clr">
        </div>

        <div id="element-box" style="background-color:#FFF;">
            @Html.Partial("ProductManagement")
            <table cellpadding="0" cellspacing="0" width="100%" border="0">
                <tr>
                    <td align="center">
                        <div id="divMSG" style="display: none">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div id="gvPackageList">
                        </div>
                    </td>
                </tr>
            </table>
            <div class="clr">
            </div>
        </div>
    </div>
    <div class="clr">
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#gvPackageList").kendoGrid({
            height: 600,
            columns: [
                { field: "RowNumber", title: "#", width: "30px" },
                { field: "IsPublic", title: "Global", width: "50px", template: '<input type="checkbox" #=IsPublic == true ? "checked=true" : "" #  id="IsPublic_#=pkPackageId#"  onchange="ChangeStatusById(this.id);" />' },
                { field: "IsEnabled", title: "Active", width: "50px", template: '<input type="checkbox" #=IsEnabled == true ? "checked=true" : "" #  id="IsEnabled_#=pkPackageId#" onchange="ChangeStatusById(this.id);" />' },
                { field: "IsDefault", title: "Default", width: "50px", template: '<input type="checkbox" #=IsDefault == true ? "checked=true" : "" #  id="IsDefault_#=pkPackageId#" onchange="ChangeStatusById(this.id);" />' },
                //{ field: "IsPublic", title: "Global", width: "50px", template: '<input class="css-checkbox" type="checkbox" #=IsPublic == true ? "checked=true" : "" #  id="IsPublic_#=pkPackageId#"  onchange="ChangeStatusById(this.id);" /><label class="css-label"></label>' },
                //{ field: "IsEnabled", title: "Active", width: "50px", template: '<input class="css-checkbox" type="checkbox" #=IsEnabled == true ? "checked=true" : "" #  id="IsEnabled_#=pkPackageId#" onchange="ChangeStatusById(this.id);" /><label class="css-label"></label>' },
                //{ field: "IsDefault", title: "Default", width: "50px", template: '<input class="css-checkbox" type="checkbox" #=IsDefault == true ? "checked=true" : "" #  id="IsDefault_#=pkPackageId#" onchange="ChangeStatusById(this.id);" /><label class="css-label"></label>' },
                { field: "PackageName", title: "Package", width: "180px" },
                 { field: "PackageDisplayName", title: "Appear As", width: "180px" },
                  { field: "PackageCode", title: "Code", width: "100px" },
                   { field: "PackageDescription", title: "Notes", width: "200px" },
                    { field: "IsEnabled", title: "Status", width: "50px" },

                  //   { command: ["destroy"], title: "Action", width: "100px" }  ,

            {
                field: "pkPackageId", title: "Action", width: 100,
                template: "<input type='IMAGE' SRC='../Content/themes/base/images/edit.png' id='image1' value='#=pkPackageId#' style='width:21px; height:20px' onclick='AddUpdatePackages(this.value)'  /> <input onclick='DeletePackage(this.value)' type='IMAGE' SRC='../Content/themes/base/images/delete.png' id='image1' value='#=pkPackageId#' style='width:21px; height:23px' />"
            }


            ],
            pageable: true,
            editable: true,
            //toolbar: ["create"],
            dataBound: function () {
                var gridRows = $("#gvPackageList tbody tr");
                var takeGrid = $("#gvPackageList").data("kendoGrid");

                for (i = 0; i < gridRows.length; i++) {
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var StatusImage = '';
                    var IsEnabled = dataItem.IsEnabled;


                    if (IsEnabled == true) {
                        StatusImage = "<img src=\"../Content/themes/base/images/status.png\"  alt=\"Active\" />";
                    }
                    else {
                        StatusImage = "<img src=\"../Content/themes/base/images/cross.png\" alt=\"InActive\" />";
                    }
                    row.cells[8].innerHTML = StatusImage;
                }

                //                                    var innerContent = $(".k-grid-delete").html().replace("Delete", "");
                //                                    $(".k-grid-delete").html(innerContent);

            },

            dataSource: {

                error: function (e) {
                    var ResponseData = JSON.parse(e.responseText);
                    $('#divMSG').html(ResponseData.Message);
                    $('#divMSG').show();

                    var grid = $("#gvPackageList").data("kendoGrid");
                    grid.dataSource.read();
                    grid.refresh();
                },
                schema: {
                    model: {
                        id: "pkPackageId",
                        fields: {
                            RowNumber: { editable: false },
                            IsPublic: { editable: false },
                            IsEnabled: { editable: false },
                            IsDefault: { editable: false },
                            PackageName: { editable: false },
                            PackageDisplayName: { editable: false },
                            PackageCode: { editable: false },
                            PackageDescription: { editable: false },
                            IsEnabled: { editable: false }
                        }
                    }

                },
                batch: true,
                transport: {

                    read: {
                        url: "@Url.Action("GetPackages", "Control")",
                        type: "POST"

                    },


                    parameterMap: function (data, operation) {
                        if (operation != "read") {
                            var result = {};
                            for (var i = 0; i < data.models.length; i++) {
                                var product = data.models[i];

                                for (var member in product) {
                                    result["ObjModel[" + i + "]." + member] = product[member];
                                }
                            }
                            return result;
                        }
                    }



                }
            }

        });
    });




</script>
<script type="text/javascript">

    function AddUpdatePackages(pkPackageId) {

        if (pkPackageId != '-1') {
            self.location = 'ManagePackages?_a=' + pkPackageId;
        }
        else {
            self.location = 'ManagePackages';
        }

    }
    function DeletePackage(pkPackageId) {
        if (confirm("Are you sure want to delete this package") == true) {

            $.post('@Url.Action("DeletePackageById", "Control")', { PackageId: pkPackageId }, function (Result) {

                if (Result != null) {
                    if (Result.Message != "") {

                        $('#divMSG').html(Result.Message);
                        $('#divMSG').show();

                        var grid = $("#gvPackageList").data("kendoGrid");
                        grid.dataSource.read();
                        grid.refresh();

                    }
                    else {


                    }
                }
            });
            return true;
        }
        else {
            return false;
        }

    }


    function ChangeStatusById(chkId) {

        var currentChkBox = document.getElementById(chkId);

        IdStatusValues = chkId.split('_');

        var type = IdStatusValues[0];
        var pkid = IdStatusValues[1];

        var typeprop = '';

        if (type == "IsPublic") {
            typeprop = 'Global';
        }
        if (type == "IsEnabled") {
            typeprop = 'Active';
        }
        if (type == "IsDefault") {
            typeprop = 'Default';
        }

        $.post('@Url.Action("ChangePackageStatus", "Control")', { packageId: pkid, Packagetype: typeprop, Value: currentChkBox.checked }, function (Result) {

            if (Result != null) {
                if (Result.Message != "") {

                    $('#divMSG').html(Result.Message);
                    $('#divMSG').show();

                    var grid = $("#gvPackageList").data("kendoGrid");
                    grid.dataSource.read();
                    grid.refresh();

                }
                else {


                }
            }
        });
    }
    // var enabledColl = [];

    var enabledColl = '';

    function ValidateGV() {
        var gridRows = $("#gvPackageList tbody tr");
        var takeGrid = $("#gvPackageList").data("kendoGrid");
        var count = 0;
        for (i = 0; i < gridRows.length; i++) {

            var dataItem = takeGrid.dataItem(gridRows[i]);
            var row = gridRows[i];
            var StatusImage = '';
            var IsEnabled = dataItem.IsEnabled;
            var pkPackageId = dataItem.pkPackageId;

            if (IsEnabled == true) {

                enabledColl = enabledColl + pkPackageId + "_";
                count = 1;
            }
        }
        if (count <= 0) {
            alert('Please Select Atleast One Package');
            return false;
        }

        return true;
    }

    function UserConfirmationBeforeDelete() {

        if (ValidateGV()) {
            if (confirm('Are you sure to delete package(s) ?') == true) {


                var PkIds = enabledColl;

                $.post('@Url.Action("PackageDeleteStatus", "Control")', { PackagesIds: PkIds }, function (Result) {

                    if (Result != null) {
                        if (Result.Message != "") {

                            $('#divMSG').html(Result.Message);
                            $('#divMSG').show();

                            var grid = $("#gvPackageList").data("kendoGrid");
                            grid.dataSource.read();
                            grid.refresh();

                        }
                        else {


                        }
                    }
                });
                return true;
            }
        }
        else {
            return false;
        }
    }
</script>
