﻿@model Emerge.Models.AdminSearchModel
<div style="padding: 0px 0px 0px 0px; width: 100%">
    <div style="float: right; width: 39%; text-align: right; line-height: 30px; padding-right: 8px;
        vertical-align: bottom">
        @Html.HiddenFor(m => m.DrugTestingReportType) @Html.HiddenFor(m => m.lnkDrugTesting)
        <a id="anDrugTesting" class="btn btn-default" style=" float: right; margin-top: -58px; display: inline-block; margin-left: -80px;" onclick="GetArchiveResults();">
        </a>
    </div>
</div>
<table border="0" style="width: 100%">
    <tr>
        <td align="center">
            <div id="divMSGDrugTesting">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="DrugTestingOrders">
            </div>
        </td>
    </tr>
</table>
<div id="DivDrugTestPop" style="border-color: Black; border-width: 0px; border-style: solid;
    overflow-x: hidden; display: none;" runat="server">
    @using (Ajax.BeginForm("SaveDrugTestOrderByOrderId", "Control", new AjaxOptions { OnSuccess = "GetAddUpdateResult", LoadingElementId = "DivLoading" }))
    {
        <table width="100%" border="0" style="height: 250px;">
            <tr>
                <td valign="top" align="center">
                    <div style="height: 279px; overflow: auto; overflow-x: hidden;">
                        <table width="600px">
                            <tr>
                                <td align="center">
                                    <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="border-width: 1px;
                                        border-style: solid; border-color: black; background-color: white;">
                                        <tbody>
                                            <tr>
                                                <td colspan="2" align="center">
                                                </td>
                                            </tr>
                                            <tr style="height: 18px;">
                                                <td style="background-color: #0078d1; width: 60%;">
                                                    <br />
                                                </td>
                                                <td style="background-color: #4e4e4e; color: white;">
                                                    <br />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top" colspan="2">
                                                    <table cellspacing="3" cellpadding="5" border="0" width="100%">
                                                        <tbody style="font-family: arial; font-size: 15px;">
                                                            <tr>
                                                                <td align="center" colspan="2" style="height: 40px;">
                                                                    <span style="font-size: 12pt; font-weight: bold;">Please review and confirm your order
                                                                        details listed below.</span>
                                                                </td>
                                                            </tr>
                                                            <tr style="background-color: white;">
                                                                <td align="right" width="25%" valign="top">
                                                                    <span style="font-weight: bold;">Product Name&nbsp;:</span>
                                                                </td>
                                                                <td align="left" valign="top" style="padding-left: 1px;">
                                                                    <select runat="server" id="ddlProductList" name="ddlProductList" onchange="GetUnitPrice(this.value)">
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr style="background-color: white;">
                                                                <td align="right" valign="top">
                                                                    <span style="font-weight: bold;">Unit Price&nbsp;:</span>
                                                                </td>
                                                                <td align="left" valign="top" style="padding-left: 1px;">
                                                                    <div>
                                                                        <div style="float: left;">
                                                                            <input type="text" id="txtUnitPrice" name="txtUnitPrice" value='' onblur="validationunit()"
                                                                                onkeypress="validationunit()" style="width: 100px;" onchange="GetTotal();" />
                                                                            <input type="checkbox" id="chkApplyToCompanyPricing" name="chkApplyToCompanyPricing"
                                                                                value="0" />
                                                                        </div>
                                                                        <div style="float: left;" class="divuvmsg">
                                                                            <span class="uvmsg" style="float: left; color: Red; position: absolute;font-size:12px;"></span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr style="background-color: white;">
                                                                <td align="right" valign="top">
                                                                    <span style="font-weight: bold;">Quantity&nbsp;:</span>
                                                                </td>
                                                                <td align="left" valign="top" style="padding-left: 1px;">
                                                                    <select id="ddlQuantity" name="ddlQuantity" onchange="GetTotal();">
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr style="background-color: white;">
                                                                <td align="right" valign="top" style="">
                                                                    <span style="font-weight: bold;">Shiping Cost&nbsp;:</span>
                                                                </td>
                                                                <td align="left" valign="top" style="padding-left: 1px;">
                                                                    <div style="float: left;">
                                                                        <input type="text" id="shipingcost" onchange="GetTotal();" name="shipingcost" onblur="validationshiping()"
                                                                            onkeypress="validationshiping()" />
                                                                    </div>
                                                                    <div style="float: left;" class="divuvmsgshp">
                                                                        <span class="uvmsgshp" style="float: left; color: Red; position: absolute;font-size:12px;"></span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr style="background-color: white;">
                                                                <td align="right" valign="top" style="">
                                                                    <span style="font-weight: bold;">Total Price&nbsp;:</span>
                                                                </td>
                                                                <td align="left" valign="top" style="padding-left: 1px;">
                                                                    <span id='lblTotalPrice'></span>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style="height: 18px;">
                                                <td style="background-color: #0078d1; width: 60%;">
                                                    <br />
                                                    <input type="hidden" id="pkOrderId" name="pkOrderId" />
                                                    <input type="hidden" id="pkOrderDetailId" name="pkOrderDetailId" />
                                                    <input type="hidden" id="fkCompanyId" name="fkCompanyId" />
                                                    <input type="hidden" id='hdnLocationId' name='hdnLocationId' />
                                                </td>
                                                <td align="right" style="background-color: #4e4e4e; color: white;">
                                                    <br />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td valign="top" align="center" style="vertical-align: middle; height: 20px;">
                 
                   
                    <img  id="submitbuttondrug" src="@Url.Content("~/content/themes/base/images/save_order.png")" />
                    <input type="submit" id="imgbtnSave" class="btnSaveDrug"  value="" style="display:none;" />
                </td>
            </tr>
        </table>
    }
</div>
<input type="hidden" id="checkval" />
<input type="hidden" id="checkval2" />
<div id="divLoading" class="progress" style="font-weight: normal; font-size: 12px;
    text-align: left; display: none">
    Processing...
</div>
<script type="text/javascript">



    function GetUnitPrice(id) {
        var pkOrderDetailId = document.getElementById("pkOrderDetailId").value;
        var hdnLocationId = document.getElementById("hdnLocationId").value;
        var pkOrderId = document.getElementById("pkOrderId").value;
        $('#txtUnitPrice').val('');
        $('#ddlQuantity').val('');
        $('#lblTotalPrice').html('');
        $.post('@Url.Action("GetUnitPriceByProductName", "Control")', { ProductId: id, pkOrderDetailId: pkOrderDetailId, fkLocationId: hdnLocationId, OrderId: pkOrderId }, function (Result) {
            if (Result != null) {

                $('#txtUnitPrice').val(Result.ReportAmount);
                $('#lblTotalPrice').html(Result.TotalAmount);
                //  $('#pkOrderId').val(orderId);
                //  $('#pkOrderDetailId').val(Result.PkOrderDetailId);
                //  $('#fkCompanyId').val(Result.fkCompanyId);

                if (Result.CollProducts != null) {

                    //  BindDropDownProducts(Result.CollProducts, Result.ProductApplicationID);
                }
                if (Result.CollQuantity != null) {

                    BindDropDownQuantity(Result.CollQuantity, Result.CurrentQuantity);
                }
            }
        });

    }
    var lnkDrugTesting = document.getElementById('lnkDrugTesting').value;
    var DrugTestingReportType = document.getElementById('DrugTestingReportType').value;
    if (lnkDrugTesting != '') {
        $('#anDrugTesting').html(lnkDrugTesting);
    }
    else {
        $('#anDrugTesting').html('Archive');
    }

    $(document).ready(function () {
        $("#DivDrugTestPop").hide();
        $("#DrugTestingOrders").kendoGrid({
            sortable: true,

            dataSource: {
                type: "json",
                serverPaging: true,
                //serverSorting: true,
                pageSize: 15,
                transport: { read: {
                    url: '@Url.Action("DrugTestingOrdersBind", "Control")',
                    Type: "Post",
                    data: { ReportType: DrugTestingReportType }
                }

                },

                schema: { data: "Products", total: "TotalCount",
                    model: {
                        fields: {
                            OrderDt: { type: "date" }
                        }
                    }
                }
            },
            height: 235,
            scrollable: {
                virtual: true
            },
            sortable: true,
            columns: [
               { field: "ApplicantName+FirstName+LastName", title: "Applicant Name", width: "13%" },
               { field: "OrderNo", title: "Order No", width: "135px", template: "# if(!IsDrugTestingOrder){#<a class='clsorder' href='ViewReports?_OId=#=OrderId#'>#=OrderNo#</a> #}else{#<a class='clsorder' href='ViewDrugTestingReports?_OId=#=OrderId#'>#=OrderNo#</a> #}#" },
               { field: "ReportIncludes", title: "Data Sources", width: "9%" },
               { field: "CompanyName", title: "Company Name", width: "10%", sortable: false },
              { field: "Location", title: "Location", width: "8.5%" },
              { field: "UserEmail", title: "User", width: "17%" },
              { field: "OrderDt", title: "Order Date", width: "9%", format: "{0:MM/dd/yyyy HH:mm:ss}" },
              { field: "OrderStatusDisplay", title: "Status", width: "7%" },

             { field: "OrderId", title: "Actions", width: "17%", sortable: false,
             template: '<div style="text-align:center; width:100%"><div style="float: left ;text-align:left; width:15%"><input type="IMAGE" SRC="../Content/themes/base/images/edit.png" style="height:20px; margin-top:6px;" value="#=fkLocationId#"   id="#=OrderId#" onclick="UpdateDrugTestingOrder(this.id,this.value)" /></div><div style="float: left ;text-align:center; width:40%">#if(OrderStatusDisplay!="Completed"){#<input type="button" class="btn btn-default" value="Complete" id="#=OrderId#" onclick="CompleteOrderByOrderId(this.id)" />#}#</div><div style="float: right ;text-align:right; width:35%;margin-left:3%;"><input type="button" class="btn btn-default" value="Cancel" id="#=OrderId#" onclick="return CancelOrderByOrderId(this.id)"  /></div></div>'
             }
                     ],
            editable: "inline",


            dataBound: function () {

                var gridRows = $("#DrugTestingOrders tbody tr");
                var takeGrid = $("#DrugTestingOrders").data("kendoGrid");

                for (i = 0; i < gridRows.length; i++) {
                    var ApplicantName = '';
                    var StatusImagedt = '';
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var color = '';
                    var OrderStatusDisplay = dataItem.OrderStatusDisplay;
                    var FirstName = dataItem.FirstName;
                    var LastName = dataItem.LastName;
                    if (FirstName != '' && LastName != '') {
                        ApplicantName = LastName.trim().charAt(0).toUpperCase() + LastName.trim().slice(1).toLowerCase() + ", " + FirstName.trim().charAt(0).toUpperCase() + FirstName.trim().slice(1).toLowerCase();
                    }
                    else {
                        ApplicantName = LastName.trim().charAt(0).toUpperCase() + LastName.trim().slice(1).toLowerCase() + " " + FirstName.trim().charAt(0).toUpperCase() + FirstName.trim().slice(1).toLowerCase();

                    }
                    row.cells[0].innerHTML = ApplicantName;

                    if (OrderStatusDisplay == "In Review") {
                        StatusImagedt = "<div class='centeralign'><span class='InReview'>In Review</span></div>";


                    }

                    if (OrderStatusDisplay == "Pending") {


                        StatusImagedt = "<div class='centeralign'><span class='Pending' >Pending</span></div>";


                    }

                    if (OrderStatusDisplay == "Incomplete") {


                        StatusImagedt = "<div class='centeralign'><span class='InComplete'>Incomplete</span></div>";


                    }

                    if (OrderStatusDisplay == "Completed") {


                        StatusImagedt = "<div class='centeralign'><span class='Completed'>Complete</span></div>";


                    }

                    row.cells[7].innerHTML = StatusImagedt;
                    GridEffect("DrugTestingOrders", dataItem)
                }
            }
        })//.find("th").addClass("centeralign");
    });







    function GetArchiveResults() {
        $.post('@Url.Action("GetArchiveForDrugTesting", "Control")', { ReportType: $('#DrugTestingReportType').val() }, function (Result) {

            if (Result != null) {
                $('#DrugTestingReportType').val(Result.Type);
                $('#lnkDrugTesting').val(Result.ArchiveLink);


                $('#anDrugTesting').html(Result.ArchiveLink);


                var grid = $("#DrugTestingOrders").data("kendoGrid");
                grid.dataSource.read({ ReportType: $('#DrugTestingReportType').val() });
                grid.refresh();
            }

        });
    }

</script>
<style>
    .centeralign
    {
        text-align: center;
    }
</style>
<script type="text/javascript">



    var divMSGDrugTesting = document.getElementById("divMSGDrugTesting");

    function UpdateDrugTestingOrder(orderId, LocationId) {

        $('#hdnLocationId').val(LocationId);
        divMSGDrugTesting.style.display = "none"; divMSGDrugTesting.style.value = "";

        $.post('@Url.Action("GetDrugTestDetailsByOrderId", "Control")', { OrderId: orderId, fkLocationId: LocationId }, function (Result) {

            if (Result != null) {

                $('#txtUnitPrice').val(Result.ReportAmount);
                $('#lblTotalPrice').html(Result.TotalAmount);
                $('#pkOrderId').val(orderId);
                $('#pkOrderDetailId').val(Result.PkOrderDetailId);
                $('#fkCompanyId').val(Result.fkCompanyId);
                $('#shipingcost').val(Result.Shipingcost);


                if (Result.CollProducts != null) {

                    BindDropDownProducts(Result.CollProducts, Result.ProductApplicationID);
                }
                if (Result.CollQuantity != null) {

                    BindDropDownQuantity(Result.CollQuantity, Result.CurrentQuantity);
                }
                GetTotal();
            }
        });
        document.getElementById("DivDrugTestPop").style.visibility = "visible";
        document.getElementById("DivDrugTestPop").style.display = "block";
        var windowOpen = $("#DivDrugTestPop").kendoWindow({
            actions: ["Close"],
            draggable: true,
            modal: true,
            resizable: true,
            title: "Edit Order",
            height: "335px",
            width: "660px"

        }).data("kendoWindow");

        windowOpen.center();
        windowOpen.open();
       
        $("#DivDrugTestPop").find(".divuvmsgshp").css("visibility", "hidden");
        $("#DivDrugTestPop").find(".divuvmsg").css("visibility", "hidden");
        
    }

    function BindDropDownProducts(Collection, ProductApplicationID) {
        var ddlProductList = $('#ddlProductList');
        ddlProductList.empty();

        $.each(Collection, function (index, coll1) {
            ddlProductList.append(
            $('<option/>').attr('value', coll1.pkProductApplicationId)
              .text(coll1.ProductDisplayName)
          );
        });
        $('#ddlProductList').val(ProductApplicationID);

    }
    function BindDropDownQuantity(Collection, CurrentQuantity) {
        var ddlQuantity = $('#ddlQuantity');
        ddlQuantity.empty();

        $.each(Collection, function (index, coll1) {
            ddlQuantity.append(
            $('<option/>').attr('value', coll1.Value)
              .text(coll1.Text)
          );
        });
        $('#ddlQuantity').val(CurrentQuantity);
    }

    function GetTotal() {

        var ddlQuantity = document.getElementById('ddlQuantity');

        if (ddlQuantity != null) {

            var DDLQuantityIndex = ddlQuantity.selectedIndex;
            var ddlQuantityVALUE = ddlQuantity.options[DDLQuantityIndex].value;

            var txtUnitPrice = document.getElementById('txtUnitPrice');
            var shipingcost = document.getElementById('shipingcost');

            var lblTotalPrice = document.getElementById('lblTotalPrice');


            var Total = Number(ddlQuantityVALUE) * Number(txtUnitPrice.value);
            lblTotalPrice.innerHTML = "$" + (Number(Total) + Number(shipingcost.value));
        }
    }

    function GetAddUpdateResult(Result) {

        if (Result != null) {

            var grid = $("#DrugTestingOrders").data("kendoGrid");
            grid.dataSource.read();
            grid.refresh();

            $("#DivDrugTestPop").data("kendoWindow").close();

            divMSGDrugTesting.style.display = "block";
            divMSGDrugTesting.innerHTML = Result.Message;
        }
    }

    function CompleteOrderByOrderId(orderid) {
        if (confirm("Do you want to complete the report order?")) {
            $.post('@Url.Action("CompleteDrugTestingOrderByOrderId", "Control")', { OrderId: orderid }, function (data) {
                if (data.result == 1) {
                    divMSGDrugTesting.style.display = "none";
                    var DataSoursegrid = $("#DrugTestingOrders").data("kendoGrid");
                    DataSoursegrid.dataSource.read();
                    DataSoursegrid.refresh();
                }
            });
        }
    }

    function CancelOrderByOrderId(orderid) {
        if (confirm("Are You Sure You Want To Cancel?")) {
            divMSGDrugTesting.style.display = "none";
            $.post('@Url.Action("CancelDrugTestingOrderByOrderId", "Control")', { OrderId: orderid }, function (data) {
                var DataSoursegrid = $("#DrugTestingOrders").data("kendoGrid");
                DataSoursegrid.dataSource.read();
                DataSoursegrid.refresh();
            });
        }
        else {
            return false;
        }


    }

  
    function validationunit() {

        var regexp = /^\d{1,3}(\.\d{0,2})?$/;

        if (document.getElementById("txtUnitPrice").value.search(regexp) == -1) {
            $("#DivDrugTestPop").find(".divuvmsg").css("visibility", "visible");
            $(".uvmsg").html('Upto 2 decimal places allowed');
            $("#checkval").val("1");


        }
        else {
            $("#DivDrugTestPop").find(".divuvmsg").css("visibility", "hidden");
            $(".uvmsg").html('');
            $("#checkval").val("");

        }

    }

    function validationshiping() {

        var regexp = /^\d{1,3}(\.\d{0,2})?$/;

        if (document.getElementById("shipingcost").value.search(regexp) == -1) {
            $("#DivDrugTestPop").find(".divuvmsgshp").css("visibility", "visible");

            $(".uvmsgshp").html('Upto 2 decimal places allowed');
            $("#checkval2").val("1");

        }
        else {
            $("#DivDrugTestPop").find(".divuvmsgshp").css("visibility", "hidden");
            $(".uvmsgshp").html('');
            $("#checkval2").val("");

        }

    }


    $(".btnSaveDrug").mouseover(function () {

        validationunit();
        validationshiping();

    });

    $("#DivDrugTestPop").mouseover(function () {

        validationunit();
        validationshiping();

    });


//    $(document).mouseover(function () {

//        validationunit();
//        validationshiping();

//    });


    $('#submitbuttondrug').click(function (e) {
        if ($("#checkval").val() == "" && $("#checkval").val() != "1" && $("#checkval2").val() == "" && $("#checkval2").val() != "1")
    {
        $('#imgbtnSave').click();
    }

    });


</script>
