﻿@{
    ViewBag.Title = "613 Notice Export";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style type="text/css">
    .k-input[type="text"] {
        height: 25px;
    }

    input[type="submit"] {
        border: 1px solid #C5C5C5;
    }

    .table_Main {
        margin-bottom: -15%;
        width: 100%;
    }

    .center-application {
        width: 100%;
        margin-top: -15px;
    }
</style>
<div id="content-box">
    <div class="padding">
        <div id="toolbar-box">
            <div class="" style="margin-top: 38px; width: 100%;">
                <div class="toolbar" id="toolbar" style="vertical-align: top">
                </div>
                <table width="100%" style="background-color: #fff;">
                    <tr>
                        <td>
                            <div class="header" style="padding: 0px 0px 0px 4px; width: 100%;">
                                <i class="ncrbackup"></i> 613 Notice Log export
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="clr">
                </div>

                <div id="element-box" style="background-color:#fff;">

                    @Html.Partial("ProductManagement")
                    <div class="" style="background-color: rgb(255, 255, 255);">
                        @using (Html.BeginForm("ExportData", "Control", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation" style="display: block;background-color: transparent !important;margin-bottom:8px;">
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <td style="padding-left:19px;">From Date:</td>
                                                <td><input name="DateFrom" readonly class="form-control valid" style="margin-left:29px;" id="DateFrom" maxlength="10" onblur="ValidFromDate();" onkeypress="return DOBcheck(event);" onkeydown="javascript: MaskDOB(this, event);" /></td>
                                                <td style="padding-left:57px;">To Date:</td>
                                                <td>
                                                <td><input name="DateTo" readonly class="form-control valid" style="margin-left:29px;" id="DateTo" maxlength="10" onblur="ValidFromDate();" onkeypress="return DOBcheck(event);" onkeydown="javascript: MaskDOB(this, event);" /></td>

                                                <td style="padding-left:67px;">
                                                    <input type="checkbox" name="mail" id="NoticeMail"> 613 Notice Mail Log
                                                    <input type="checkbox" name="pdf" style="margin-left:10px;" id="NoticePdf"> 613 Notice PDF Log
                                                </td>
                                                <td>
                                                    <input type="submit" name="Export" id="Export" value="Export" class="btn-default" style="margin-left:29px;" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    //Javascript function for Validate From Date
    function ValidFromDate() {
        debugger;
        var enterdDate = document.getElementById('DateFrom').value;
        if (enterdDate == '') {
            return true;
        }
        else {
            if (enterdDate.length < 10) {
                alert("Invalid From Date");
                return false;
            }
            else {
                var Datefilled = enterdDate.split("/");
                if (Datefilled.length > 2) {
                    var CurrntDate = new Date();
                    var TodayDate = parseInt(CurrntDate.getMonth() + 1) + "/" + CurrntDate.getDate() + "/" + CurrntDate.getFullYear();
                    var newDatefilled = new Date(Datefilled[2], parseInt(Datefilled[1]) - 1, Datefilled[0]);
                    var dtDatefilled = Date.parse(newDatefilled); var dtToday = Date.parse(TodayDate)
                    if (dtDatefilled > dtToday || Datefilled[2] < 1900 || Datefilled[0] > 12 || Datefilled[1] > 31) {
                        alert("Invalid From Date");
                        return false;
                    }
                }
                else {
                    alert("Invalid From Date");
                    return false;
                }
            }
        }
    }

    //Javascript function for Validate To Date
    function ValidToDate() {
        var enterdDate = document.getElementById('DateTo').value;
        if (enterdDate == '') {
            return true;
        }
        else {
            if (enterdDate.length < 10) {
                alert("Invalid To Date");
                return false;
            }
            else {
                var Datefilled = enterdDate.split("/");
                if (Datefilled.length > 2) {
                    var CurrntDate = new Date();
                    var TodayDate = parseInt(CurrntDate.getMonth() + 1) + "/" + CurrntDate.getDate() + "/" + CurrntDate.getFullYear();
                    var newDatefilled = new Date(Datefilled[2], parseInt(Datefilled[1]) - 1, Datefilled[0]);
                    var dtDatefilled = Date.parse(newDatefilled); var dtToday = Date.parse(TodayDate)
                    if (dtDatefilled > dtToday || Datefilled[2] < 1900 || Datefilled[0] > 12 || Datefilled[1] > 31) {
                        alert("Invalid To Date");
                        return false;
                    }
                }
                else {
                    alert("Invalid To Date");
                    return false;
                }
            }
        }
    }

    //Date picker function for From Date
    $(function () { $("#DateFrom").datepicker(); });

    //Date picker function for To Date
    $(function () { $("#DateTo").datepicker(); });

    //Validate check box
    $(document).ready(function () {
        $('#NoticeMail').click(function () {
            debugger;
            if ($("#NoticePdf").attr("checked")) {
                alert("613 Notice Pdf option already selected.");
                $('#NoticeMail').removeAttr('checked');
            }
        });
        $('#NoticePdf').click(function () {
            debugger;
            if ($("#NoticeMail").attr("checked")) {
                alert("613 Notice Email option already selected.");
                $('#NoticePdf').removeAttr('checked');
            }
        });
    });

</script>
<script src="~/Scripts/jquery-ui-1.8.11.js"></script>