﻿@model Emerge.Models.AdminSearchModel
<div style="padding: 0px 0px 0px 0px; width: 100%">
    
    <div style="float: right; width: 39%; text-align: right; line-height: 30px; padding-right: 8px;
        vertical-align: bottom">
        @Html.HiddenFor(m => m.HelpWithOrdersReportType) @Html.HiddenFor(m => m.lnkHelpWithOrders)
        <a id="anHelpOrders" class="btn btn-default" style=" float: right; margin-top: -58px; display: inline-block;  margin-left: -76px;" onclick="GetArchiveHelpWithOrders();">
        </a>
    </div>
</div>
<table border="0" style="width: 100%">
    <tr>
        <td align="center">
            <div id="divMSGHelpOrders">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="HelpWithOrders">
            </div>
        </td>
    </tr>
</table>



<script type="text/javascript">
    var lnkHelpWithOrders = document.getElementById('lnkHelpWithOrders').value;
    var HelpWithOrdersReportType = document.getElementById('HelpWithOrdersReportType').value;
    if (lnkHelpWithOrders != '') {
        $('#anHelpOrders').html(lnkHelpWithOrders);
    }
    else {
        $('#anHelpOrders').html('Archive');
    }


    function GetArchiveHelpWithOrders() {
        $.post('@Url.Action("GetArchiveForHelpWithOrders", "Control")', { ReportType: $('#HelpWithOrdersReportType').val() }, function (Result) {

            if (Result != null) {
                $('#HelpWithOrdersReportType').val(Result.Type);
                $('#lnkHelpWithOrders').val(Result.ArchiveLink);


                $('#anHelpOrders').html(Result.ArchiveLink);


                var grid = $("#HelpWithOrders").data("kendoGrid");
                grid.dataSource.read({ ReportType: $('#HelpWithOrdersReportType').val() });
                grid.refresh();
            }

        });
    }
    function UpdateHelpWithOrdersByOrderId(orderid) {
        $.post('@Url.Action("UpdateHelpWithOrders", "Control")', { OrderId: orderid }, function (data) { });
        var DataSoursegrid = $("#HelpWithOrders").data("kendoGrid");
        DataSoursegrid.dataSource.read();
        DataSoursegrid.refresh();
    }

    $(document).ready(function () {
        $("#HelpWithOrders").kendoGrid({
            sortable: true,
            dataSource: {
                type: "json",
                serverPaging: true,
                //serverSorting: true,
                pageSize: 15,
                transport: {
                    read: {
                        url: '@Url.Action("HelpWithOrdersBind", "Control")',
                        Type: "Post",
                        data: { ReportType: HelpWithOrdersReportType }
                    }

                },
                schema: { data: "Products", total: "TotalCount",
                    model: {
                        fields: {
                            OrderDt: { type: "date" }
                        }
                    }
                }

            },
            height: 200,
            scrollable: {
                virtual: true
            },
            sortable: true,
            columns: [
               { field: "ApplicantName+FirstName+LastName", title: "Applicant Name", width: "11%" },
               { field: "OrderNo", title: "Order No", width: "135px", template: "# if(!IsDrugTestingOrder){#<a class='clsorder' href='ViewReports?_OId=#=OrderId#'>#=OrderNo#</a> #}else{#<a class='clsorder' href='ViewDrugTestingReports?_OId=#=OrderId#'>#=OrderNo#</a> #}#" },
               { field: "ReportIncludes", title: "Data Sources", width: "9%" },
               { field: "CompanyName", title: "Company Name", width: "10%", sortable: false },
              { field: "Location", title: "Location", width: "8.5%" },
              { field: "UserEmail", title: "User", width: "17.5%" },
              { field: "OrderDt", title: "Order Date", format: "{0:MM/dd/yyyy HH:mm:ss}", width: "8.5%" },
              { field: "OrderStatusDisplay", title: "Status", width: "9%" },
              { field: "AllHelpComments", title: "Comments", width: "7%", sortable: false },
              { field: "OrderId", title: "Action", width: "9.5%", sortable: false, template: "<input type='button' class='btn btn-default' id='#=OrderId#' onclick='UpdateHelpWithOrdersByOrderId(this.id)' value='Complete' />" }
                     ],
            editable: "inline",


            dataBound: function () {
                var gridHeaderRows = $("#HelpWithOrders tbody th");
                var gridRows = $("#HelpWithOrders tbody tr");
                var takeGrid = $("#HelpWithOrders").data("kendoGrid");
                var length = gridRows.length;



                for (i = 0; i < length; i++) {
                    var ApplicantName = '';
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var OrderStatusDisplay = dataItem.OrderStatusDisplay;
                    var FirstName = dataItem.FirstName;
                    var StatusImageHp = '';
                    var LastName = dataItem.LastName;
                    var AllHelpComments = dataItem.AllHelpComments;
                    var AllHelpComments = AllHelpComments.replace(/\"/g, "&quot;");
                    if (FirstName != '' && LastName != '') {
                        ApplicantName = LastName.trim().charAt(0).toUpperCase() + LastName.trim().slice(1).toLowerCase() + ", " + FirstName.trim().charAt(0).toUpperCase() + FirstName.trim().slice(1).toLowerCase();
                    }
                    else {
                        ApplicantName = LastName.trim().charAt(0).toUpperCase() + LastName.trim().slice(1).toLowerCase() + " " + FirstName.trim().charAt(0).toUpperCase() + FirstName.trim().slice(1).toLowerCase();

                    }
                    var passvalue = "'" + AllHelpComments + "'" + "," + "'" + 0 + "'";
                    row.cells[8].innerHTML = "<div><img src=\"../Content/themes/base/images/drugtesting4help.png\" height=\"26px\"  style=\"cursor:pointer\"  onmouseout=\"exit();\"  onmouseover=\"showEMBox(" + passvalue + ");\" /></div>";

                    row.cells[0].innerHTML = ApplicantName;

                    if (OrderStatusDisplay != null) {

                        StatusImageHp = "<span class='st_helwithorders'>Help w/ Order</span>";
                        row.cells[7].innerHTML = StatusImageHp;
                        //                        if (OrderStatusDisplay == "In Review") {
                        //                            StatusImageHp = "<span class='InReview'>In Review</span>";

                        //                        }

                        //                        if (OrderStatusDisplay == "Pending") {
                        //                            StatusImageHp = "<span class='Pending' >Pending</span>";
                        //                        }

                        //                        if (OrderStatusDisplay == "Incomplete") {
                        //                            StatusImageHp = "<span class='InComplete'>Incomplete</span>";
                        //                        }

                        //                        if (OrderStatusDisplay == "Completed") {
                        //                            StatusImageHp = "<span class='Completed'>Complete</span>";
                        //                        }




                    }
                    // row.cells[7].innerHTML = StatusImageHp;
                    GridEffect("HelpWithOrders", dataItem)
                }
            }

        })//.find("th").addClass("centeralign");


    });



















</script>
<style>.centeralign
    {
        text-align: center;
    }</style>