﻿@model Emerge.Models.PackagesModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<style type="text/css">
    td.alt_column {
        background-color: transparent !important;
        font-family: segoeui !important;
        font-size: 14px !important;
        padding-top: 3px !important;
    }
    .custom-Package-header {
        background-color: #0078bd !important;
        height: 27px;
        font-family: segoeui !important;
        color: #fff;
        font-weight: bold;
        font-size: 14px !important;
        padding-left:3px;
    }
    span.infomessage {
    background-position: left !important;
    background-repeat: no-repeat;
    font-size: 13px !important;
    background-image: url('../Content/themes/base/images/infomessage.png');
    color: #fff !important;
    background-color: transparent !important;
}

.imgbtnClasspnlSavetoall
{ border: 0px;
    padding: 1px 1px 1px 1px;
    background-color: transparent;
    background-image: url('../content/themes/base/images/savetoallPackage.png');
    background-repeat: no-repeat;
    float: right;
    margin-bottom: 3px;
    height: 33px;
    background-size: 50%;
    width: 33px;
    margin-top: 10px;   
    margin-left:13px; 
}
</style>


@using (Ajax.BeginForm("SaveCustomPackages", "Control", new AjaxOptions { OnBegin = "PkgMustTwo", OnSuccess = "GetAddUpdateResult", LoadingElementId = "DivLoading" }, new { id = "frmCustom" }))
{
    <div id="Div1" style="border-color: Black; border-width: 0px; border-style: solid;
        overflow-y: scroll; height: 480px; display: block;" runat="server">
        <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation">
            <tr>
                <td class="custom-Package-header" colspan="2">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td colspan="3">
                                Custom Package
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <table width="96%">
                        <tr>
                            <td></td>
                            <td align="right">
                                <input class="imgbtnClasspnl" id="imgbtnSave" type="submit" value="" style="display: none;" />
                                <img alt="Save" src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/savepackage.png")" style="margin-top:12px;cursor: pointer;"  id="img_btn_Save"  onclick="return savetiered();" />
                                <input id="btnSubmittoall" type="button" onclick="SetHiddenValues();" style="color: transparent; float: right; margin-bottom: 3px; height: 50px; width: 72px;" class="imgbtnClasspnlSavetoall" />
                                <input type="hidden" name="btnHiddensubmittoall" id="btnHiddensubmittoall" value="0" />
                            </td>
                        </tr>
                        <tr>
                            <td class="alt_column" width="170px">
                                Global ?
                            </td>
                            <td align="left">
                                &nbsp;@Html.CheckBoxFor(m => m.IsPublic)
                        </tr>
                        <tr>
                            <td class="alt_column" width="170px">
                                Active ?
                            </td>
                            <td align="left">                                
                                &nbsp;@Html.CheckBoxFor(m => m.IsEnabled)
                            </td>
                        </tr>
                        <tr>
                            <td class="alt_column" width="170px">
                                Company Enable ?
                            </td>
                            <td align="left">
                                &nbsp;@Html.CheckBoxFor(m => m.IsEnableCompanyPackage)
                            </td>
                        </tr>
                         <tr>
                            <td class="alt_column" width="170px">
                               Display Package Name :
                            </td>
                            <td align="left">                               
                                &nbsp;@Html.CheckBoxFor(m=>m.IsPackageNamedisplay)
                            </td>
                        </tr>
                        <tr>
                            <td class="alt_column">
                                @*Set As Default*@
                                IsVisible :
                            </td>
                            <td align="left">
                                &nbsp;@Html.CheckBoxFor(m => m.IsDefault)
                            </td>
                        </tr>
                        <tr>
                            <td class="alt_column">
                                7-Year Filter :
                            </td>
                            <td align="left">
                                &nbsp;@Html.CheckBoxFor(m => m.is7YearFilterpackage)
                            </td>
                        </tr>
                        <tr>
                            <td class="alt_column">
                                10-Year Filter :
                            </td>
                            <td align="left">
                                &nbsp;@Html.CheckBoxFor(m => m.is10YearFilterpackage)
                            </td>
                        </tr>
                        <tr>
                            <td class="alt_column">
                                <span class="RequiredFieldsIndicator">*</span>Package Name :
                            </td>
                            <td align="left">
                                &nbsp;&nbsp;@Html.TextBoxFor(m => m.PackageName, new { style = "width:200px;", maxlength = 15 })
                                @Html.ValidationMessageFor(m => m.PackageName)
                                @Html.HiddenFor(m => m.QueryStringPackageId)
                                @Html.HiddenFor(m => m.CompanyId)
                                @Html.HiddenFor(m => m.LocationId)
                            </td>
                        </tr>
                        <tr>
                            <td class="alt_column">
                                <span class="RequiredFieldsIndicator">*</span>Package Display Name :
                            </td>
                            <td align="left">
                                &nbsp;&nbsp;@Html.TextBoxFor(m => m.PackageDisplayName, new { style = "width:200px;", maxlength = 15 })
                                @Html.ValidationMessageFor(m => m.PackageDisplayName)
                            </td>
                        </tr>
                        <tr>
                            <td width="170px" class="alt_column">
                                <span class="RequiredFieldsIndicator">*</span>Package Code :
                            </td>
                            <td align="left">
                                &nbsp;&nbsp;@Html.TextBoxFor(m => m.PackageCode, new { style = "width:200px;", maxlength = 5 })
                                @Html.ValidationMessageFor(m => m.PackageCode)
                            </td>
                        </tr>
                        <tr>
                            <td width="170px" class="alt_column">
                                <span class="RequiredFieldsIndicator">*</span>Package Price :
                            </td>
                            <td align="left">
                                <span style="font-size: 16px; border-bottom: 1px solid #D6D6D6">
                                    &nbsp;$</span> @Html.TextBoxFor(m => m.PackagePrice, new { style = "width:190px;" })
                                @Html.ValidationMessageFor(m => m.PackagePrice)
                            </td>
                        </tr>
                        <tr>
                            <td class="alt_column" valign="top">
                                Description :
                            </td>
                            <td align="left">
                                @Html.TextAreaFor(m => m.PackageDescription, new { style = "width:300px; height:80px;margin-top:5px;margin-left:5px;" })
                                @Html.ValidationMessageFor(m => m.PackageDescription)
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="custom-Package-header" colspan="2">
                    <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                Data Sources
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="left" width="45%">
                    <table id="tblReports" cellpadding="0" cellspacing="0" width="80%">
                        <tr style="height: 20px;">
                            <th align="left" valign="top">
                                @*<input type="checkbox" id="chkSelectAll" onclick="SelectUnSelectGV(this.checked);" class="css-checkbox" />
                                <label class="css-label" for="chkSelectAll"></label>*@
                                <input type="checkbox" id="chkSelectAll" onclick="SelectUnSelectGV(this.checked);" />
                            </th>
                            <th align="left" valign="top">
                                Product
                            </th>
                            <th align="left" valign="top">
                                Code
                            </th>
                        </tr>
                        @for (int iProd = 0; iProd < Model.lstProductsByPackageId.Count; iProd++)
                        {
                            int id = iProd + 1;
                                   
                            <tr>
                                <td style="padding: 0px" width="3%" class="alt_column">
                                    <input type="hidden" name="hd_ProductApplicationId_@id.ToString()" id="hd_ProductApplicationId_@id.ToString()" value="@Model.lstProductsByPackageId.ElementAt(iProd).pkProductApplicationId" />
                                    <input type="hidden" name="hd_PackageReportId_@id.ToString()" id="hd_PackageReportId_@id.ToString()" value="@Model.lstProductsByPackageId.ElementAt(iProd).PackageReportId" />
                                    <input type="hidden" name="hd_ProductPerApplicationIsEnabled_@id.ToString()" id="hd_ProductPerApplicationIsEnabled_@id.ToString()" value="@Model.lstProductsByPackageId.ElementAt(iProd).ProductPerApplicationIsEnabled.ToString()" />
                                    <input type="checkbox" name="chkReport_@id.ToString()"  id="chkReport_@id.ToString()" class="clsproductselected" />
                                </td>
                                <td align="left" width="80%" style="font-family: segoeui;font-size:13px;">
                                    <input type="hidden" id="hdProductDisplayName_@id.ToString()" name="hdProductDisplayName_@id.ToString()" value="@Model.lstProductsByPackageId.ElementAt(iProd).ProductDisplayName" />
                                    @Model.lstProductsByPackageId.ElementAt(iProd).ProductDisplayName
                                </td>
                                <td align="left" style="font-family: segoeui;font-size:13px;">
                                    <input type="hidden" id="hdProductCode_@id.ToString()" name="hdProductCode_@id.ToString()" value="@Model.lstProductsByPackageId.ElementAt(iProd).ProductCode" />
                                    @Model.lstProductsByPackageId.ElementAt(iProd).ProductCode
                                </td>
                            </tr>
                        }
                    </table>
                </td>
                <td valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td>
                                <div>
                                    <div style="float: left; width: 15%;">
                                        <input id="BtnTiered" type="button" value="Tiered" onclick="TieredInitialization();" style="display:none;"/>
                                    </div>
                                    <div style="float: right; width: 80%; margin-left: 0%; margin-top: 5px;">
                                        <span style="color: Red; visibility: hidden; width: 99%; margin-left: 6%;" id="tier2priceval">
                                            Please enter Tier 2 Price.</span>
                                            <span style="color: Red; visibility: hidden; width: 99%; margin-left: 6%;" id="tier3priceval">
                                            Please enter Tier 3 Price.</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="100%">
                                <div id="divTiered" style="display: block; border: 1px solid gray;">
                                    <table cellpadding="3" cellspacing="3" width="100%" class="AdminAddInformation" style="height:248px;">
                                        <tr >
                                            <td class="alt_column" width="120px">
                                                Tiered ?
                                            </td>
                                            <td>
                                                &nbsp;@Html.CheckBoxFor(m => m.chkTiered)

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column" width="120px">
                                                Host :
                                            </td>
                                            <td>
                                                &nbsp;@Html.DropDownListFor(m => m.ddlTieredHost, new SelectList(Model.TieredHostList, "key", "value"), new { onchange = "ddlCheck(this.id,this.value, 1);", style = "width:285px;" })
                                                @Html.HiddenFor(m => m.TieredHost)
                                            </td>
                                        </tr>
                                        <tr style="display:none;">
                                            <td class="alt_column" width="120px">
                                                Host Price<span class="validprice" style="color: Red; visibility: hidden;">*</span>:
                                            </td>
                                            <td>
                                                 &nbsp;@Html.TextBoxFor(m => m.HostPrice, new { @onkeypress = "checkDec(this);", @style = "width:95%;", @value = "0.00" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column" width="120px">
                                                Tier 2 :
                                            </td>
                                            <td>
                                                 &nbsp;@Html.DropDownListFor(m => m.ddlTiered2, new SelectList(Model.Tiered2List, "key", "value"), new { onchange = "ddlCheck(this.id,this.value, 2);", style = "width:285px;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column" width="120px">
                                                Tier 2 Price<span class="validprice" style="color: Red; visibility: hidden;">*</span>:
                                            </td>
                                            <td>
                                                &nbsp;@Html.TextBoxFor(m => m.Tier2Price, new { @id = "Tier2Price", @name = "Tier2Price", @onkeypress = "checkDec(this);", @style = "width:95%;" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="alt_column" width="120px">
                                                Tier 3 :
                                            </td>
                                            <td>
                                                &nbsp;@Html.DropDownListFor(m => m.ddlTiered3, new SelectList(Model.Tiered3List, "key", "value"), new { onchange = "ddlCheck(this.id,this.value, 4);", style = "width:285px;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column" width="120px">
                                                Tier 3 Price<span class="validprice" style="color: Red; visibility: hidden;">*</span>:
                                            </td>
                                            <td>
                                                 &nbsp;@Html.TextBoxFor(m => m.Tier3Price, new { @id = "Tier3Price", @name = "Tier3Price", @onkeypress = "checkDec(this);", @style = "width:95%;" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="alt_column" width="120px">
                                                Optional :
                                            </td>
                                            <td>
                                                 &nbsp;@Html.DropDownListFor(m => m.ddlTiredOptional, new SelectList(Model.TieredOptionalList, "key", "value"), new { onchange = "ddlCheck(this.id,this.value, 3);", style = "width:285px;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column" width="120px">
                                                Optional Price<span class="validOptionalprice" style="color: Red; visibility: hidden;">*</span>:
                                            </td>
                                            <td>
                                                 &nbsp;@Html.TextBoxFor(m => m.OptionalPrice, new { @onkeypress = "checkDec(this);", @style = "width:95%;" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column" width="120px">
                                                TimeFrame :
                                            </td>
                                            <td>
                                                 &nbsp;@Html.DropDownListFor(m => m.ddlTimeFrame, new SelectList(Model.TimeFrameList, "key", "value"), new { style = "width:105px;" })
                                                Year(s)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column" width="120px">
                                                Automatic :
                                            </td>
                                            <td align="left">
                                                
                                                &nbsp;@Html.CheckBoxFor(m => m.IsAutomaticRun)
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    
   
}




<div id="divLoading" class="progress" style="font-weight: normal; font-size: 12px;
    text-align: left; display: none">
    Processing...
</div>
<script type="text/javascript">



    ProductsInitialization();       // on databound

    EmptyPackagePrice();


    function EmptyPackagePrice() {
        if (document.getElementById('PackagePrice').value == 0) {
            document.getElementById('PackagePrice').value = '';
        }
    }

    function savetiered() {
        if (document.getElementById('chkTiered').checked) {
            validateTieredPackage();
        }
        else {
            $("#imgbtnSave").click();
            $("#tier2priceval").css("visibility", "hidden");
            $("#tier3priceval").css("visibility", "hidden");
        }
    }

    function validateTieredPackage() {
        var ddloptional = document.getElementById('ddlTiredOptional');

        if (ddloptional.value != '-1') {
            if ($("#Tier2Price").val().trim() == "" && $("#OptionalPrice").val() == "") {
                $("#tier2priceval").html("Please enter Tier2 Price and Optional Price.");
                $("#tier2priceval").css("visibility", "visible");
            }
            else if ($("#Tier2Price").val().trim() == "") {
                $("#tier2priceval").html("Please enter  Tier2 Price.");
                $("#tier2priceval").css("visibility", "visible");
            }
            else if ($("#OptionalPrice").val() == "") {
                $("#tier2priceval").html("Please enter Optional Price.");
                $("#tier2priceval").css("visibility", "visible");
            }
            else if ($("#Tier2Price").val().trim() == "" && $("#OptionalPrice").val() == "") {
                $("#tier2priceval").html("Please enter Tier2 Price and Optional Price.");
                $("#tier2priceval").css("visibility", "visible");
            }
            //            else if ($("#HostPrice").val().trim() == "") {
            //                $("#tier2priceval").html("Please enter Host Price.");
            //                $("#tier2priceval").css("visibility", "visible");
            //            }
            else if ($("#Tier2Price").val() == "") {
                $("#tier2priceval").html("Please enter Tier 2 Price.");
                $("#tier2priceval").css("visibility", "visible");
            }
            else if ($("#OptionalPrice").val() == "") {
                $("#tier2priceval").html("Please enter Optional Price.");
                $("#tier2priceval").css("visibility", "visible");
            }
            else {
                $("#imgbtnSave").click();
                $("#tier2priceval").css("visibility", "hidden");
            }
        }
        else {
            if ($("#Tier2Price").val().trim() == "") {
                $("#tier2priceval").html("Please enter Tier2 Price.");
                $("#tier2priceval").css("visibility", "visible");
            }
            //            else if ($("#HostPrice").val().trim() == "") {
            //                $("#tier2priceval").html("Please enter Host Price.");
            //                $("#tier2priceval").css("visibility", "visible");
            //            }
            else if ($("#Tier2Price").val() == "") {
                $("#tier2priceval").html("Please enter Tier 2 Price.");
                $("#tier2priceval").css("visibility", "visible");
            }
            else {
                $("#imgbtnSave").click();
                $("#tier2priceval").css("visibility", "hidden");
            }
        }
    }

    var CheckInterval = setInterval(function () {
        if ($("#chkTiered").is(':visible')) {
            if ($("#chkTiered").val() == "true") {
                $(".validprice").css("visibility", "visible");
                $(".validOptionalprice").css("visibility", "visible");
                clearInterval(CheckInterval);
            }
        }
    }, 1000);
    $('#chkTiered').click(function (e) {
        var modelchk = 1;
        if (this.checked == true) {
            $(".validprice").css("visibility", "visible");
            $(".validOptionalprice").css("visibility", "visible");
            $(".clsproductselected").each(function (e) {
                if (this.checked == true) {
                    var GetId = $(this).attr("id");
                    var tempNumber = GetId.split("_");
                    var Number = tempNumber[1];
                    var CreateId = "#hdProductCode_" + Number;
                    if ($(CreateId).val() == "PS") { modelchk = 2; }
                }
            });
        }
        else {
            $(".validprice").css("visibility", "hidden");
            $(".validOptionalprice").css("visibility", "hidden");
            modelchk = 2;
        }
        if (modelchk == 1) { $(this).attr('checked', false); alert("Please Select People Search from the Product Code list."); }
    });

    $(".clsproductselected").click(function (e) {
        if (this.checked == false) {
            var GetId = $(this).attr("id");
            var tempNumber = GetId.split("_");
            var Number = tempNumber[1];
            var CreateId = "#hdProductCode_" + Number;
            if ($(CreateId).val() == "PS") { $("#chkTiered").attr('checked', false); }
        }
    });


    function PkgMustTwo() {
        var count = 0;
        var ret = false;
        var GV = document.getElementById('tblReports');
        if (GV != null) {
            var rwlen = GV.rows.length - 1;

            for (i = 1; i <= rwlen; i++) {

                var GVChkID = '';
                GVChkID = 'chkReport_' + i;

                if (document.getElementById(GVChkID).checked == true) {
                    count++;
                    if (count > 1) {
                        ret = true;
                        break;
                    }
                    else {
                        ret = false;
                    }
                }
            }

        }
        if (!ret) {
            alert('Package must include a minimum of two products');
        }

        return ret;
    }


    function SelectUnSelectGV(val) {
        var GV = document.getElementById('tblReports');
        if (GV != null) {
            var rwlen = GV.rows.length;
            for (i = 1; i < rwlen; i++) {
                var GVChkID = '';
                GVChkID = 'chkReport_' + i;
                document.getElementById(GVChkID).checked = val;
            }
        }
        if (val == false) { $("#chkTiered").attr('checked', false); }
    }
    function ProductsInitialization() {
        var GV = document.getElementById('tblReports');

        if (GV != null) {
            var rwlen = GV.rows.length;

            for (i = 1; i < rwlen; i++) {

                var GVChkID = ''; var hd_PackageReportId = ''; var hd_ProductPerApplicationIsEnabled = '';

                GVChkID = 'chkReport_' + i;
                hd_PackageReportId = 'hd_PackageReportId_' + i;
                hd_ProductPerApplicationIsEnabled = 'hd_ProductPerApplicationIsEnabled_' + i;


                var hdPackageReportId = document.getElementById(hd_PackageReportId);
                var chkReportId = document.getElementById(GVChkID);
                var ProductPerApplicationIsEnabledID = document.getElementById(hd_ProductPerApplicationIsEnabled);

                if (hdPackageReportId.value != 0) {
                    if (chkReportId != null) {
                        chkReportId.checked = true;
                    }
                }
                if (ProductPerApplicationIsEnabledID.value == 'True') {
                    chkReportId.disabled = false;
                }
                else {
                    chkReportId.disabled = true;
                }


            }
        }
    }
    var divMSG = document.getElementById('divMSG1');

    function GetAddUpdateResult(Result) {
        if (Result != null) {
            divMSG.style.display = "block";
            divMSG.innerHTML = Result.Message;
            var window = $("#divManageCustomPackages").data("kendoWindow");
            window.close();
            var grid = $("#CustomPackages").data("kendoGrid");
            grid.dataSource.read();
            grid.refresh();
        }
    }

    function ddlCheck(id, val, no) {
        if (val != -1) {
            //alert(id + ' ' + val + ' ' + no);
            var ddlhost = document.getElementById('ddlTieredHost');
            var ddltiered = document.getElementById('ddlTiered2');
            var ddltiered3 = document.getElementById('ddlTiered3');
            var ddloptional = document.getElementById('ddlTiredOptional');
            var currentDLL = document.getElementById(id);

            if (ddlhost != null && ddltiered != null && ddloptional != null && currentDLL != null && ddltiered3 != null) {
                if (no == 1) {
                    if (val == ddltiered.value || val == ddloptional.value) {
                        alert('already selected!'); currentDLL.selectedIndex = 0;
                    }
                    else {
                        SetTieredHost();
                    }
                }
                else if (no == 2) {
                    if (val == ddlhost.value || val == ddloptional.value || val == ddltiered3.value) {
                        alert('already selected!'); currentDLL.selectedIndex = 0;
                    }
                }
                else if (no == 3) {
                    if (val == ddltiered.value || val == ddlhost.value || val == ddltiered3.value) {
                        alert('already selected!'); currentDLL.selectedIndex = 0;
                    }
                }
                else if (no == 4) {
                    if (val == ddltiered.value || val == ddlhost.value) {
                        alert('already selected!'); currentDLL.selectedIndex = 0;
                    }
                }
            }
        }
        if (document.getElementById('ddlTiredOptional').value != '-1')
        { $(".validOptionalprice").css("visibility", "visible"); }
        else { $(".validOptionalprice").css("visibility", "hidden"); }
    }

    function SetTieredHost() {
        var selObj = document.getElementById("ddlTieredHost");
        var setTieredHost = document.getElementById("TieredHost");
        var num = selObj.selectedIndex;
        var value = selObj.options[num].text;
        var TieredHostArr = value.split('-');
        if (TieredHostArr.length > 0) {
            setTieredHost.value = TieredHostArr[1].replace(" ", "");
        }
    }

    function TieredInitialization() {
        var GV = document.getElementById('tblReports');

        if (GV != null) {
            var rwlen = GV.rows.length;
            $("#Tier2Price").val("");

            var ddlTieredHost = $('#ddlTieredHost');
            ddlTieredHost.empty();
            ddlTieredHost.append(
                        $('<option/>')
                            .attr('value', -1)
                            .text("--"));
            var ddlTiered2 = $('#ddlTiered2');
            ddlTiered2.empty();
            ddlTiered2.append(
                        $('<option/>')
                            .attr('value', -1)
                            .text("--"));
            var ddlTiredOptional = $('#ddlTiredOptional');
            ddlTiredOptional.empty();
            ddlTiredOptional.append(
                        $('<option/>')
                            .attr('value', -1)
                            .text("--"));

            for (i = 1; i < rwlen; i++) {
                var GVChkID = '';
                GVChkID = 'chkReport_' + i;
                var chkReportId = document.getElementById(GVChkID);

                if (chkReportId.checked == true) {

                    var hd_PackageReportId = '';
                    var hd_ProductApplicationId = '';
                    var hdProductDisplayName = '';
                    var hdProductCode = '';

                    hd_PackageReportId = 'hd_PackageReportId_' + i;
                    hd_ProductApplicationId = 'hd_ProductApplicationId_' + i;
                    hdProductDisplayName = 'hdProductDisplayName_' + i;
                    hdProductCode = 'hdProductCode_' + i;
                    var hdPackageReportId = document.getElementById(hd_PackageReportId);
                    var ProductPerApplicationID = document.getElementById(hd_ProductApplicationId).value;
                    var ProductDisplayName = document.getElementById(hdProductDisplayName).value;
                    var ProductCode = document.getElementById(hdProductCode).value;

                    ddlTieredHost.append(
                        $('<option/>')
                            .attr('value', ProductPerApplicationID)
                            .text(ProductDisplayName + " - " + ProductCode));

                    ddlTiered2.append(
                        $('<option/>')
                            .attr('value', ProductPerApplicationID)
                            .text(ProductDisplayName + " - " + ProductCode));

                    ddlTiredOptional.append(
                        $('<option/>')
                            .attr('value', ProductPerApplicationID)
                            .text(ProductDisplayName + " - " + ProductCode));
                }
            }
        }
    }

    var typingTimer;
    var doneTypingInterval = 1000;
    $('#Tier2Price').keyup(function () {
        var ex = /^[0-9]+\.?[0-9]*$/;
        if (ex.test(this.value) == false) {
            this.value = this.value.replace(/[A-Za-z$-]/g, "");
        }
        clearTimeout(typingTimer);

        if ($('#Tier2Price').val) {
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
        }
    });

    function doneTyping() {
        $("#tier2priceval").css("visibility", "hidden");
    }

    function checkDec(el) {
        var ex = /^[0-9]+\.?[0-9]*$/;
        if (ex.test(el.value) == false) {
            el.value = el.value.substring(0, el.value.length - 1);
        }
    }

    $('#is7YearFilterpackage').click(function () {
        if ($(this).is(":checked")) {
            $('#is10YearFilterpackage').removeAttr("checked");
        }
    });
    $('#is10YearFilterpackage').click(function () {
        if ($(this).is(":checked")) {
            $('#is7YearFilterpackage').removeAttr("checked");
        }
    });

    function SetHiddenValues() {
        $('#btnHiddensubmittoall').val(1);
        $('#imgbtnSave').click();
    }
</script>
