﻿@model Emerge.Models.AdminSearchModel
<style type="text/css">
    .RowStyle
    {
        color: Black;
        text-decoration: none;
        vertical-align: top; /* height: 20px;*/
    }
    .RowStyle:hover
    {
        color: Black;
        text-decoration: none;
        vertical-align: top;
        height: 20px;
        cursor: pointer;
    }
     
    .k-scrollbar-vertical 
    {
        top: 0;
        right: 0;
        width: 17px;
        height:100%;
        copyhistory:no;
        overflow-y:scroll;
        overflow-x:hidden;
        overflow:scroll;
        screenX:150;screenY:150;
        top:150;left:150;
    }
    
</style>
<div style="padding: 0px 0px 0px 0px; width: 100%">
    <div class="header1" style="width: 60%; float: left">
       
    </div>
    <div style="float: right; width: 39%; text-align: right; line-height: 30px; padding-right: 8px;
        vertical-align: bottom">
    </div>
</div>
<table border="0" style="width: 100%">
    <tr>
        <td align="center">
            <div id="divMSGWatchlist">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="WatchListReport">
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#WatchListReport").kendoGrid({
            sortable: true,

            dataSource: {
                type: "json",
                serverPaging: true,
                serverSorting: true,
                pageSize: 50,
                transport: {
                    read: {
                        url: '@Url.Action("WatchListReportBind", "Control")',
                        dataType: "json",
                        async: true
                    }

                },

                schema: { data: "Products", total: "TotalCount",
                    model: {
                        fields: {
                            OrderDt: { type: "date" }
                        }
                    }
                }

            },
            height: 410,
            scrollable: {
                virtual: true
            },
            sortable: true,
            columns: [
                { field: "ApplicantName+FirstName+LastName", title: "Applicant Name", width: "15%" },
                { field: "OrderNo", title: "Order No", width: "10%", template: "# if(!IsDrugTestingOrder){#<a class='clsorder' href='ViewReportReview?_OId=#=OrderId#'>#=OrderNo#</a> #}else{#<a class='clsorder' href='ViewDrugTestingReports?_OId=#=OrderId#'>#=OrderNo#</a> #}#" },
                { field: "ReportIncludes", title: "Data Sources", width: "10%" },
                { field: "CompanyName", title: "Company Name", width: "15%", sortable: false },
                { field: "Location", title: "Location", width: "8%" },
                { field: "UserEmail", title: "User", width: "12%" },
                { field: "OrderDt", title: "Order Date", width: "12%", format: "{0:MM/dd/yyyy HH:mm:ss}" },
            //  { field: "UserEmail", title: "Action", width: "7.5%", sortable: false, template: "#  <input type='button'  id='#=OrderNo#' onclick='UpdateReportReviewStatus(this.id)' value='Complete' /> #" },
                {field: "OrderId", title: "Action", width: "8%", sortable: false, template: "<input type='button'  id='#=OrderId#' onclick='UpdateReportWatchListStatus(this.id)' value='Complete' />" },
                { field: "OrderStatusDisplay", title: "Status", width: "7%" }
              //{ field: "OrderNo", title: "Log", width: 45, template: "<div class='k-grid .centeralign'><img  style='display:none;' id='img_#=OrderId#'  src='../Content/themes/base/images/smallloader.gif'/> <input  onclick='OpenNewReportLog(this.id);' type='IMAGE'  id='#=OrderId#'  SRC='../Content/themes/base/images/ErrorlogSmall.png' /></div>" },
            

           ],
            editable: "inline",
            dataBound: function () {
                var gridHeaderRows = $("#WatchListReport tbody th");
                var gridRows = $("#WatchListReport tbody tr");
                var takeGrid = $("#WatchListReport").data("kendoGrid");
                var length = gridRows.length;



                for (i = 0; i < length; i++) {
                    var ApplicantName = '';
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var OrderStatusDisplay = dataItem.OrderStatusDisplay;
                    var FirstName = dataItem.FirstName;
                    var LastName = dataItem.LastName;
                    var StatusImagePr = '';
                    if (FirstName != '' && LastName != '') {
                        ApplicantName = LastName.trim().charAt(0).toUpperCase() + LastName.trim().slice(1).toLowerCase() + ", " + FirstName.trim().charAt(0).toUpperCase() + FirstName.trim().slice(1).toLowerCase();
                    }
                    else {
                        ApplicantName = LastName.trim().charAt(0).toUpperCase() + LastName.trim().slice(1).toLowerCase() + " " + FirstName.trim().charAt(0).toUpperCase() + FirstName.trim().slice(1).toLowerCase();

                    }
                    row.cells[0].innerHTML = ApplicantName;

                    if (OrderStatusDisplay != null) {



                        if (OrderStatusDisplay == "In Review") {
                            StatusImagePr = "<div class='k-grid .centeralign'><span class='InReview'>In Review</span></div>";


                        }

                        if (OrderStatusDisplay == "Pending") {


                            StatusImagePr = "<div class='k-grid .centeralign'><span class='Pending' >Pending</span></div>";


                        }

                        if (OrderStatusDisplay == "Incomplete") {


                            StatusImagePr = "<div class='k-grid .centeralign'><span class='InComplete'>Incomplete</span></div>";


                        }

                        if (OrderStatusDisplay == "Completed") {


                            StatusImagePr = "<div class='k-grid .centeralign'><span class='Completed'>Complete</span></div>";


                        }
                        if (OrderStatusDisplay == "Complete *") {


                            StatusImagePr = "<div class='k-grid .centeralign'><span class='Completed'>Complete *</span></div>";


                        }



                    }

                    row.cells[8].innerHTML = StatusImagePr;
                    GridEffect("WatchListReport", dataItem)


                }
            }

        }).find("th").addClass("centeralign");
    });

    function UpdateReportWatchListStatus(orderid)
    {
        $.post('@Url.Action("UpdateWatchListStatus", "Control")', { OrderId: orderid }, function (data) { });
        var DataSoursegrid = $("#WatchListReport").data("kendoGrid");
        DataSoursegrid.dataSource.read();
        DataSoursegrid.refresh();
    }

</script>
