﻿@model Emerge.Models.AdminSearchModel
<style type="text/css">
    .textarea
    {
        width: 100%;
    }
    .centeralign
    {
        text-align: center;
    }
    
    
    
     .k-scrollbar-vertical {
top: 0;
right: 0;
width: 17px;
height:100%;
copyhistory:no;
overflow-y:scroll;
overflow-x:hidden;
overflow:scroll;
 screenX:150;screenY:150;
 top:150;left:150;
 resizable=yes;
 
}




</style>
<div id="popwindow">
    <table cellpadding="0" cellspacing="0" width="100%" border="0" style="padding: 10px 15px 10px 15px;">
        <tr>
            <td align="left" style="font-weight: bold">
            </td>
        </tr>
        <tr>
            <td align="left">
                <textarea class="textarea" id="include" rows="5" cols="3"></textarea>
                <label style="color: Red;" id="validation">
                </label>
            </td>
        </tr>
        <tr>
            <td align="right">
                <input type="button" class="btn btn-primary" style="margin-top: 3px;" value="Update" onclick="updateordernote()" />
            </td>
        </tr>
    </table>
</div>
<label id="OrderNolabel" style="display: none">
</label>
<label id="UserEmaillabel" style="display: none">
</label>
<label id="ReportIncludeslabel" style="display: none">
</label>
<label id="ApplicantNamelabel" style="display: none">
</label>
<table border="0" style="width: 100%">
    <tr>
        <td align="center">
            <div id="divInfUpdMSG">
            </div>
        </td>
    </tr>
    <tr>
        <td align="center">
        
            <div id="PartialPendingReportsForAdmin">
            </div>
            
        </td>
    </tr>
</table>
<script type="text/javascript">

    var divInfUpdMSG = document.getElementById("divInfUpdMSG");
    var Order = '';

    function editpendingadmin(Detail) {

        divInfUpdMSG.style.display = "none"; divInfUpdMSG.style.value = "";

        var array = Detail.split('_');
        Order = array[0];

        document.getElementById("include").value = array[1];
        document.getElementById("OrderNolabel").value = array[2];
        document.getElementById("UserEmaillabel").value = array[3];
        document.getElementById("ReportIncludeslabel").value = array[4];
        document.getElementById("ApplicantNamelabel").value = array[5];

        $('#popwindow').show();
        $("#popwindow").kendoWindow({
            title: "Enter Order Note",
            height: 185,
            width: 400,
            scrollable: false,
            visible: false

        }).data("kendoWindow");
        $("#popwindow").kendoWindow();
        $("#popwindow").data("kendoWindow").center();
        $("#popwindow").data("kendoWindow").open();
    }

    function updateordernote() {
        var OrderNoteByOrder = document.getElementById("include").value;
        var OrderNo = document.getElementById("OrderNolabel").value;
        var UserEmail = document.getElementById("UserEmaillabel").value;
        var ApplicantName = document.getElementById("ApplicantNamelabel").value;
        var ReportCodes = document.getElementById("ReportIncludeslabel").value;
        if (document.getElementById("include").value == "") {
            document.getElementById("validation").innerHTML = "Please Enter Order Note";

        }

        else {
            $.post('@Url.Action("SendEmails", "Control")', { OrderNo: OrderNo, hfApplicantName: ApplicantName, hfReportCodes: ReportCodes, hfUserEmail: UserEmail, hfOrderNote: OrderNoteByOrder }, function (data1) { });


            $.post('@Url.Action("UpdatePendingReportsForAdminCompleteReview", "Control")', { OrderId: Order, OrderNoteByOrder: OrderNoteByOrder }, function (data) {
                if (data.InfUpdateMessage != "") {
                    $("#divInfUpdMSG").show();
                    $("#divInfUpdMSG").html(data.InfUpdateMessage);
                }

            });

            var DataSoursegrid = $("#PartialPendingReportsForAdmin").data("kendoGrid");
            DataSoursegrid.dataSource.read();
            DataSoursegrid.refresh();
            Order = '';
            $("#popwindow").data("kendoWindow").close();
        }
    }


    $(document).ready(function () {
        $('#popwindow').hide();
        $("#PartialPendingReportsForAdmin").kendoGrid({
            sortable: true,

            dataSource: {
                type: "json",
                serverPaging: true,
                //serverSorting: true,
                pageSize: 15,
                transport: { read: { url: '@Url.Action("PartialPendingReportsForAdminBind", "Control")', dataType: "json", async: true }
                },

                schema: { data: "Products", total: "TotalCount",
                    model: {
                        fields: {
                            OrderDt: { type: "date" }
                        }
                    }
                }

            },
            height: 237,
            scrollable: {
                virtual: true
            },
            sortable: true,
            columns: [
               { field: "ApplicantName+FirstName+LastName", title: "Applicant Name", width: "12%" },
               { field: "OrderNo", title: "Order No", width: "135px", template: "# if(!IsDrugTestingOrder){#<a class='clsorder' href='ViewReports?_OId=#=OrderId#'>#=OrderNo#</a> #}else{#<a class='clsorder' href='ViewDrugTestingReports?_OId=#=OrderId#'>#=OrderNo#</a> #}#" },
               { field: "ReportIncludes", title: "Data Sources", width: "15.5%" },
            { field: "CompanyName", title: "Company Name", width: "12%", sortable: false },
              { field: "Location", title: "Location", width: "12%" },
              { field: "UserEmail", title: "User", width: "17.5%" },
              { field: "OrderDt", title: "Order Date", format: "{0:MM/dd/yyyy HH:mm:ss}", width: "9%" },
              { field: "OrderStatusDisplay", title: "Status", width: "7%", template: "<div>#= OrderStatusDisplay #</div>" },
              { field: "OrderId", title: "Update", width: "7%", sortable: false, template: "<div>#if(PendingOrderUpdateNote!=''){#<input type='IMAGE' src='../Content/themes/base/images/update_icon_colored.png' id='#=OrderId#_#=PendingOrderUpdateNote#_#=OrderNo#_#=UserEmail#_#=ReportIncludes#_#=ApplicantName#'   onclick='editpendingadmin(this.id);return false;'/>#}else{#<input type='IMAGE' src='../Content/themes/base/images/update_icon.png' id='#=OrderId#_#=PendingOrderUpdateNote#_#=OrderNo#_#=UserEmail#_#=ReportIncludes#_#=ApplicantName#'  onclick='editpendingadmin(this.id);return false;'/>#}#</div>" }
             ],
            editable: "inline",


            dataBound: function () {
                var gridHeaderRows = $("#PartialPendingReportsForAdmin tbody th");
                var gridRows = $("#PartialPendingReportsForAdmin tbody tr");
                var takeGrid = $("#PartialPendingReportsForAdmin").data("kendoGrid");
                var length = gridRows.length;

           

                for (i = 0; i < length; i++) {
                    var ApplicantName = '';
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var PendingOrderUpdateNote = dataItem.PendingOrderUpdateNote;
                    var StatusImageAd = '';
                    var OrderStatusDisplay = dataItem.OrderStatusDisplay;
                    var FirstName = dataItem.FirstName;
                    var LastName = dataItem.LastName;
                    if (FirstName != '' && LastName != '') {
                        ApplicantName = LastName.trim().charAt(0).toUpperCase() + LastName.trim().slice(1).toLowerCase() + ", " + FirstName.trim().charAt(0).toUpperCase() + FirstName.trim().slice(1).toLowerCase();
                    }
                    else {
                        ApplicantName = LastName.trim().charAt(0).toUpperCase() + LastName.trim().slice(1).toLowerCase() + " " + FirstName.trim().charAt(0).toUpperCase() + FirstName.trim().slice(1).toLowerCase();

                    }
                    row.cells[0].innerHTML = ApplicantName;
                    if (OrderStatusDisplay != null) {

                        if (OrderStatusDisplay == "In Review") {
                            StatusImageAd = "<span class='InReview'>In Review</span>";


                        }

                        if (OrderStatusDisplay == "Pending") {


                            StatusImageAd = "<div class='centeralign'><span class='Pending' >Pending</span></div>";


                        }

                        if (OrderStatusDisplay == "Incomplete") {


                            StatusImageAd = "<div class='centeralign'><span class='InComplete'>Incomplete</span><div>";


                        }

                        if (OrderStatusDisplay == "Completed") {


                            StatusImageAd = "<div class='centeralign'><span class='Completed'>Complete</span><div>";


                        }

                    }
                    row.cells[7].innerHTML = StatusImageAd;
                    GridEffect("PartialPendingReportsForAdmin", dataItem)
                }
            }

        })//.find("th").addClass("centeralign");
    });


            
            
</script>
