﻿@model Emerge.Models.AdminSearchModel
@{
    ViewBag.Title = "PartialNotice613";
}
<style>
    .PendingPrint
    {
    }
    .Sent
    {
        color: Red;
    }.ArchiveLink {
    color: #0B55C4;
    font-size: 13px;
    font-weight: bold;
    margin-top: 0;
    text-decoration: underline;
}
</style>
<table border="0" style="width: 100%; margin-top: -0.5%">
    <tr>
        <td>
            <div class="header1" style="width: 300px; float: left">
            </div>
            <div id="msgNotice613">
                <input type="hidden" id="checkedId" value="" />
                <input type="hidden" id="checkedOrderId" value="" />
                <input type="hidden" id="HitStatus" value="False" />
            </div>
            <div style="float: right; margin-top: -2%;">
                <div style=" float: left; text-align: right; line-height: 30px; padding-right: 8px; vertical-align: bottom; width: 80px; margin-left: -20px !important; ">
                    <button type="button" id="PrintPendinglink" class="btn btn-default" style="display: block; float: right; margin-top: -38px; " onclick="GetArchiveResultsForNotice();">
                    </button>
                </div>
                <div style=" float: right; text-align: right; line-height: 30px; padding-right: 8px; vertical-align: bottom; ">
                    <a href='EditPDFfile/?pkOrderDetailId=0&Status=ToAll&fkOrderId=0'
                        id='PrintAllbtn' onclick='RefreshPageAfterDownLoad()' class="btn btn-default" style="display: block; float: right; margin-top: -38px;">
                        Print All</a> 
                    <a href='javascript:void(0)'
                        id='PrintSelected' onclick='checkCheckedIdValue()' class="btn btn-default" style="display: block; float: right; margin-top: -38px;">
                        Print </a>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" style="width: 100%">
            <div id="kendoGridRecord">
            </div>
        </td>
    </tr>
</table>
<div id="PopUpUserNotice" style="visibility: hidden; display: none;">
    <span><b>Download 613 Notice of Applicant(s).</b></span><br />
    <div style="margin-left: 100px; margin-right: 0px; margin-top: 10px; margin-bottom: 0px">
        <a title="View" id="aDownloadfile" href="DownloadCompanyCommonPDF" onclick="DownloadCompanyDocumentsPDF()">
            <img id="img613Notice" title="Download 613 Notice" src="@Url.Content("~/Content/themes/base/Images/pdf.png")"
                                    alt="Download 613 Notice" /></a>
    </div>
</div>
<script>
    $('#PrintPendinglink').html('Archive');

    $(document).ready(function () {
        var HitStatus = document.getElementById('HitStatus').value;
        var selectList = '<span style="width:500px;text-align:right;float:right;">    Page Size: <select onchange="ChangePageSize(this.value);" style="width:50px;" id="mySelect"><option>25</option><option>50</option><option>100</option></select></span>';
        $("#kendoGridRecord").kendoGrid({
            sortable: true,

            dataSource: {
                type: "json",
                serverPaging: true,
                //serverSorting: true,
                pageSize: 20,
                transport: { read: {
                    url: '@Url.Action("GetReportforAdminNotice", "Control")',
                    Type: "Post",
                    data: { ReportType: HitStatus }
                }

                },

                schema: { data: "Products", total: "TotalCount",
                    model: {
                        fields: {
                            OrderDt: { type: "date" }
                        }
                    }
                }
            },
            height: 370,
            scrollable: {
                virtual: true
            },
            sortable: true,
            columns: [
                    //{ field: "IsNoticeEmail", title: "<input id='chk' type='checkbox' onclick='selectunselect()' # />", width: "5%", template: '<input id="#=fkOrderId#" class="chkunchk" type="checkbox" /> ', sortable: false },
                    { field: "IsNoticeEmail", title: "<input id='chk' type='checkbox' class='css-checkbox chk-head-style' onclick='selectunselect();'><label for='chk' class='css-label'></label>", width: "5%", template: '<input id="#=fkOrderId#" class="chkunchk css-checkbox" type="checkbox" ><label for="#=fkOrderId#" class="css-label"></label> ', sortable: false },
                    { field: "ApplicantName", title: "Applicant Name", width: "13%" },
                    { field: "OrderNo", title: "Order No    ", width: "13%", template: "<a class='clsorder' href='ViewReports?_OId=#=fkOrderId#'>#=OrderNo#</a> " },
                    { field: "ReportIncludes", title: "Data Sources", width: "13%" },
                    { field: "CompanyName", title: "Company Name", width: "13%", sortable: false },
                    { field: "Location", title: " Applicant Address", width: "13%" },

                     { field: "UserEmail", title: "Applicant Email", width: "10%" },
                       { field: "fkOrderId", title: "Status     ", width: "10%", sortable: false
                           // template: " if(IsNoticeEmail =='true'){#<a href='ViewReports?_OId=#=fkOrderId#'>Sent</a>#}else{# <a href='ViewReports?_OId=#=fkOrderId#'>Print</a>#}"
                       },
                   { field: "fkOrderId", title: "Actions    ", width: "20%", sortable: false
                       // template: " if(IsNoticeEmail =='true'){#<a href='ViewReports?_OId=#=fkOrderId#'>Sent</a>#}else{# <a href='ViewReports?_OId=#=fkOrderId#'>Print</a>#}"
                   }
            ],
            editable: "inline",


            dataBound: function () {
                //debugger
                var gridRows = $("#kendoGridRecord tbody tr");
                var takeGrid = $("#kendoGridRecord").data("kendoGrid");
                var length = gridRows.length;
                if (length == 0 || length == null) {
                    document.getElementById("PrintAllbtn").style.display = 'none';
                    document.getElementById("PrintSelected").style.display = 'none';
                    document.getElementById("chk").style.display = 'none';
                }
                else {
                    document.getElementById("PrintAllbtn").style.display = 'block';
                    document.getElementById("chk").style.display = 'block';
                }

                for (var i = 0; i < length; i++) {

                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var pkOrderDetailId = dataItem.pkOrderDetailId;
                    var IsNoticeEmail1 = dataItem.IsNoticeEmail;
                    var Location1 = dataItem.Location;
                  
                    if (IsNoticeEmail1 == true) {
                        document.getElementById("PrintAllbtn").style.display = 'none';
                        document.getElementById("PrintSelected").style.display = 'block';
                    }
                    else {
                        document.getElementById("PrintSelected").style.display = 'none';
                        document.getElementById("PrintAllbtn").style.display = 'block';
                    }
                    var fkOrderId = dataItem.fkOrderId;

                   

                    if (IsNoticeEmail1 == true) {
                        // Archive Section
                        document.getElementById("chk").style.display = 'block';
                        //row.cells[0].innerHTML = "<input id=" + pkOrderDetailId + " name=" + fkOrderId + " class='chkunchk' type='checkbox' onclick='Send613Notice()' />";
                        row.cells[0].innerHTML = "<input id=" + pkOrderDetailId + " name=" + fkOrderId + " class='chkunchk css-checkbox' type='checkbox' onclick='Send613Notice()' /><label for=" + pkOrderDetailId + " class='css-label'></label>";

                        if (Location1 == null) {row.cells[5].innerHTML = "Not Avaliable";}
                        
                        row.cells[7].innerHTML = "<span style='color:Red' >Sent</span> ";

                        //   row.cells[8].innerHTML = "<a id='" + pkOrderDetailId + "' name='" + fkOrderId + "' style='text-decoration: none;border:2px;border-color:#000000;' class='PendingPrint' href='EditPDFfile/?pkOrderDetailId=" + pkOrderDetailId + "&Status=ToOne" + "&fkOrderId=" + fkOrderId + "' onclick='RefreshPage(this)'>Print</a> &nbsp; &nbsp; &nbsp<a style='text-decoration: none;' id='View_" + pkOrderDetailId + "' name='" + fkOrderId + "' class='hdnView' href='DownLoadPdfforSent/?pkOrderDetailId=" + pkOrderDetailId + "&Status=ToOne" + "&fkOrderId=" + fkOrderId + "' onclick='RefreshPage(this)'>View</a>";
                        row.cells[8].innerHTML = "<a style='text-decoration: none;' id='View_" + pkOrderDetailId + "' name='" + fkOrderId + "' class='hdnView' href='DownLoadPdfforSent/?pkOrderDetailId=" + pkOrderDetailId + "&Status=ToOne" + "&fkOrderId=" + fkOrderId + "' onclick='RefreshPageAfterDownLoad()'>Print</a> &nbsp; &nbsp; &nbsp<a style='text-decoration: none;' id='View_" + pkOrderDetailId + "' name='" + fkOrderId + "' class='hdnView' href='DownLoadPdfforSent/?pkOrderDetailId=" + pkOrderDetailId + "&Status=ToOne" + "&fkOrderId=" + fkOrderId + "' onclick='RefreshPageAfterDownLoad()'>View</a>";

                        $('#kendoGridRecord div.k-grid-header-wrap th:nth-child(1), #kendoGridRecord div.k-grid-content td:nth-child(1)').css("display", "block");
                    }
                    else {
                        // Main 613  Section
                        document.getElementById("chk").style.display = 'none';
                        //row.cells[0].innerHTML = "<input id=" + pkOrderDetailId + " class='chkunchk' name=" + fkOrderId + " type='checkbox' onclick='Send613Notice()' />";
                        row.cells[0].innerHTML = "<span style='float:right;'>" + (i + 1) + "</span> ";
                        if (Location1 == null) { row.cells[5].innerHTML = "Not Avaliable"; }
                       
                        row.cells[7].innerHTML = "<span style='color:Red' >Print</span> ";
                        row.cells[8].innerHTML = "<a id='" + pkOrderDetailId + "' name='" + fkOrderId + "' style='color:#000000;text-decoration: none;border:2px;border-color:#000000;' class='PendingPrint' href='EditPDFfile/?pkOrderDetailId=" + pkOrderDetailId + "&Status=ToOne" + "&fkOrderId=" + fkOrderId + "' onclick='RefreshPageAfterDownLoad()'>Print</a> &nbsp; &nbsp; &nbsp;<a  id='" + pkOrderDetailId + "' name='" + fkOrderId + "' style='color:#000000;text-decoration: none;' class='hdnView' href='DownLoadPdfforSent/?pkOrderDetailId=" + pkOrderDetailId + "&Status=ToView" + "&fkOrderId=" + fkOrderId + "' >View &nbsp; &nbsp; &nbsp;</a>   <input style='margin-left:-10px;' type='button' class='btnComplete' id='Completed_" + fkOrderId + "' name='" + pkOrderDetailId + "' value='Complete'  onclick='Complete613Notice(this)'/> ";

                        // $('#kendoGridRecord div.k-grid-header-wrap th:nth-child(1), #kendoGridRecord div.k-grid-content td:nth-child(1)').css("display", "none");

                    }
                    GridEffect("kendoGridRecord", dataItem)
                }


            }

        });

    });


   
    function selectunselect() {
        document.getElementById("PrintAllbtn").href = "EditPDFfile/?pkOrderDetailId=0&Status=ToAll&fkOrderId=0";
        $("#kendoGridRecord .chkunchk").each(function () {
            if (document.getElementById("chk").checked) {
                $(this).prop("checked", true);

            }
            else {
                $(this).prop("checked", false);
                $("#checkedId").val("");
                $("#checkedOrderId").val("");
            }
        });
    }

    function Complete613Notice(attr) {
        $.post('@Url.Action("Complete613Notice", "Control")', { pkOrderDetailId: attr.name }, function (data) {
            if (data.Success == 1) {
                var grid = $("#kendoGridRecord").data("kendoGrid");
                grid.dataSource.read({ ReportType: $('#HitStatus').val() });
                grid.refresh();
            }
        });
    }

    function View613Notice(attr) {
        alert(attr.name);

        $("a[class=hdnView]").href;
    }

    function RefreshPage23(check) {

        var pkOrderDetailId = check.id;
        var fkOrderId = check.name;
        var status = true;

        $.post('@Url.Action("DownLoadPdfforSent", "Control")', { Status: status, pkOrderDetailId: pkOrderDetailId, fkOrderId: fkOrderId }, function (data) {
        });

    }


//    function RefreshPage() {

//        alert("ok");
//        setTimeout("RefreshGrid()", 25000); //or other value
//    }

    
    function SendEmail(e) {
        var pkOrderDetailId = e.id;
        var fkOrderId = e.name;


        var status = "ToOne";
        $.post('@Url.Action("EditPDFfile", "Control")', { Status: status, pkOrderDetailId: pkOrderDetailId, fkOrderId: fkOrderId }, function (data) {

            if (data.result != null) {
                var grid = $("#kendoGridRecord").data("kendoGrid");
                grid.dataSource.read({ ReportType: $('#HitStatus').val() });
                grid.refresh();

                document.getElementById("PopUpUserNotice").style.visibility = "visible";
                document.getElementById("PopUpUserNotice").style.display = "block";

                var windowOpen = $("#PopUpUserNotice").kendoWindow({
                    actions: ["Close"],
                    draggable: true,
                    modal: true,
                    resizable: true,
                    title: "Printing Agreement",
                    height: "170px",
                    width: "600px"

                }).data("kendoWindow");

                windowOpen.center();
                windowOpen.open();
            }

        });

    }


    function SendEmailToAll() {
        var pkOrderDetailId = "";
        var fkOrderId = "";
        $("#kendoGridRecord .PendingPrint").each(function () {
            pkOrderDetailId = pkOrderDetailId + ',' + this.id;
            fkOrderId = fkOrderId + ',' + this.name;

        });
        var status = "ToAll";
        $.post('@Url.Action("EditPDFfile", "Control")', { Status: status, pkOrderDetailId: pkOrderDetailId, fkOrderId: fkOrderId }, function (data) {
            if (data.result != null) {

                var grid = $("#kendoGridRecord").data("kendoGrid");
                grid.dataSource.read({ ReportType: $('#HitStatus').val() });
                grid.refresh();

                document.getElementById("PopUpUserNotice").style.visibility = "visible";
                document.getElementById("PopUpUserNotice").style.display = "block";

                var windowOpen = $("#PopUpUserNotice").kendoWindow({
                    actions: ["Close"],
                    draggable: true,
                    modal: true,
                    resizable: true,
                    title: "Printing Agreement",
                    height: "170px",
                    width: "600px"

                }).data("kendoWindow");

                windowOpen.center();
                windowOpen.open();
            }

        });

    }

    function Send613Notice() {
       // var Selectedcount = 0;
        var listpkOrderDetailId = "";
        var listfkOrderId = "";
        $("#kendoGridRecord .chkunchk").each(function () {

            if ($(this).attr("checked") == 'checked') {
                //Selectedcount++;
                listpkOrderDetailId += this.id + "_";
                listfkOrderId += this.name + "_";
            }
        });
        $("#checkedId").val(listpkOrderDetailId);
        $("#checkedOrderId").val(listfkOrderId);
        //        if (Selectedcount == 0) {
        //            document.getElementById("PrintAllbtn").href = "EditPDFfile/?pkOrderDetailId=Guid.Empty&Status=ToAll&fkOrderId=Guid.Empty";
        //        }
        //        else {
        //            document.getElementById("PrintAllbtn").href = "EditPDFfile/?pkOrderDetailId=" + listpkOrderDetailId + "&Status=" + Selectedcount + "&fkOrderId=" + listfkOrderId;
        //        }

    }

    function RefreshGrid() {
        var grid = $("#kendoGridRecord").data("kendoGrid");
        grid.dataSource.read({ ReportType: $('#HitStatus').val() });
        grid.refresh();
    }


    function checkCheckedIdValue() {
        if ($("#chk").attr("checked") == 'checked') {
            document.getElementById("PrintSelected").href = "DownLoadPdfforSent/?pkOrderDetailId=0&Status=ToAll&fkOrderId=0";
            return true;
         }
        else {
            if ($("#checkedId").val() != "") {
                document.getElementById("PrintSelected").href = "DownLoadPdfforSent/?pkOrderDetailId=" + $("#checkedId").val() + "&Status=ToSelected&fkOrderId=" + $("#checkedOrderId").val();
                RefreshPageAfterDownLoad();
                return true;
            }
            else {
                alert("Please Select Atleast one record");
                return false;
            } 
        }
    }

    function RefreshPageAfterDownLoad() {
        setTimeout("RefreshGrid()", 25000);
    }

    function GetArchiveResultsForNotice() {
        var HitStatus = document.getElementById('HitStatus').value;

        if (HitStatus == "False" || HitStatus == "false") {

            $('#PrintPendinglink').html('613 Notice');
            document.getElementById('HitStatus').value = "true";
        }
        else if (HitStatus == "true") {

            $('#PrintPendinglink').html('Archive');
            document.getElementById('HitStatus').value = "false";
        }
        var grid = $("#kendoGridRecord").data("kendoGrid");
        grid.dataSource.read({ ReportType: $('#HitStatus').val() });
        grid.refresh();
    }



</script>
