﻿@model Emerge.Models.AdminSearchModel
<style type="text/css">
 .CountinueBtn
    {
        background-image: url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "BtnCountinue.jpg")');
        height:23px;
        width:75px;
    }
    .RowStyle
    {
        color: Black;
        text-decoration: none;
        vertical-align: top;
        height: 20px;
    }
    .RowStyle:hover
    {
        color: Black;
        text-decoration: none;
        vertical-align: top;
        height: 20px;
        cursor: pointer;
    }
    .successmsg {
        color: #fff;
    }

</style>
<div id="divMSG" style="display: block; width: 57%; margin-top: -50px; float: right;">
            </div>
<table cellpadding="0" cellspacing="0" width="100%" style="margin-top:0.6%;">
    <tr>
        <td align="center">@Html.HiddenFor(m => m.strResultNewAccounts)
            @*<div id="divMSG">
            </div>*@
        </td>
    </tr>
    <tr>
        <td align="center">
            <div id="NewAccounts">
            </div>
        </td>
    </tr>
</table>
<div id="DivNewAccount" style="visibility: hidden;display:block;">
    @using (Html.BeginForm("SaveDocumentDetails", "Control", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table width="100%" border="0" style="background-color: #ffffff;display:block" 
            cellpadding="5">
          
            <tr>
                <td align="left" colspan="2" style="font-weight: bold">
                    Please upload the company User Agreement to get started. The User Agreement must
                    be signed and completed properly and must be in PDF format.
                </td>
            </tr>
            <tr>
                <td align="right" style="width: 30%;">
                    <span style="margin-right: 5px;">Document Title</span>
                </td>
                <td align="left" style="width: 70%;">
                    <div>
                    <input type="text" value="User Agreement" class="form-control valid" name="txtDocumentTitle" id="txtDocumentTitle" style="margin-top:5px; height:25px;" />
                    <input type="hidden" name="hdCompanyId" id="hdCompanyId" />
                        </div>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <span style="margin-right: 5px;">Document</span>
                </td>
                <td align="left">
                    <div>
                    <input name="Document" id="Document" type="file" style="margin-top: 5px;" />                    
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left" colspan="2">
                    <input type="submit" value="Continue" style="margin-top:5px;"  class="btn btn-primary"  onclick="return CheckFileExt()"/>
                </td>
            </tr>
        
        </table>
    }
</div>
<script type="text/javascript">
    GetNewAccountsResult();
    function GetNewAccountsResult() {

        var divMSG = document.getElementById('divMSG');
        var strResultNewAccounts = document.getElementById('strResultNewAccounts');

        if (strResultNewAccounts != 'null' || strResultNewAccounts.value != '') {
            divMSG.style.display = "block";
            divMSG.innerHTML = strResultNewAccounts.value;
        }
    }

    function CheckFileExt() {
        var selectedDocument = document.getElementById("Document").value;
        var txtDocumentTitle = document.getElementById("txtDocumentTitle").value;
      
        if (txtDocumentTitle != "") {
            if (selectedDocument != "") {
                var SelectedFileValue = selectedDocument.split(".");
                var ext = SelectedFileValue[1].toLowerCase();

                if (ext == "pdf") {
                    return true;
                }
                else {
                    alert("Please Select PDF Documents");
                    return false;
                }
            }
            else if (selectedDocument == "") {
                alert("Plesae Select File");
                return false;
            }
        }
        else if (txtDocumentTitle == "") {
            alert("Plesae Select Title");
            return false;
        }
       
    }
    function UpdateNewAccount(CompanyId) {

        document.getElementById("DivNewAccount").style.visibility = "visible";
        document.getElementById("DivNewAccount").style.display = "block";

        var windowOpen = $("#DivNewAccount").kendoWindow({
            actions: ["Close"],
            draggable: true,
            modal: true,
            resizable: true,
            title: "New Company User Agreement",
            height: "180px",
            width: "600px"

        }).data("kendoWindow");

        windowOpen.center();
        windowOpen.open();


        var txtDocumentTitle = document.getElementById('txtDocumentTitle');
        txtDocumentTitle.value = '';

        var hdCompanyId = document.getElementById('hdCompanyId');
        hdCompanyId.value = CompanyId;


    }   

</script>
<script type="text/javascript">
    $("#DivNewAccount").hide();
    $(document).ready(function () {
     
        $("#NewAccounts").kendoGrid({
            sortable: true,

            dataSource: {
                type: "json",
                serverPaging: true,
                //serverSorting: true,
                pageSize: 10,
                transport: { read: { url: '@Url.Action("NewAccountsBind", "Control")', dataType: "json", async: true }
                },
                schema: { data: "Products", total: "TotalCount",
                    model: {
                        fields: {
                            
                        }
                    }
                }
            },
            height: 190,
            scrollable: {
                virtual: true
            },
            sortable: true,
            columns: [
               { field: "RowNo", title: "#", sortable: false, width: "3%" },
               { field: "CompanyName", title: "Company", width: "10%" },
               { field: "City", title: "Location", width: "10%" },
               { field: "CompanyType", title: "Company Type", width: "12%" },
              { field: "MainContactPersonName", title: "Main Contact", width: "11%" },
              { field: "PhoneNo1", title: "Company #", width: "10%", sortable: false },
              { field: "TotalLocations", title: "# of Locations", width: "8%" },
              { field: "TotalUsers", title: "# of Users", width: "8%" },
              { field: "Isenabled", title: "Active", width: "5%" },
              { field: "StatusText", title: "Status", sortable: false, width: "10%" },
              { field: "SaleRepInitial", title: "Rep", sortable: false, width: "4%" },
               { field: "pkCompanyId", title: "Action", sortable: false, width: "9%", template: '<input type="button" class="btn btn-default" value="New Account" id="#=pkCompanyId#" onclick=UpdateNewAccount(this.id) style="width:100px"  />' }
             ],
            editable: "inline",

            edit: function () {
                var curr_container = this._editContainer; //selects the current edit container

                //sets the text of the "Update" button
                var innerContentCancel = $(curr_container).find(".k-grid-update").html().replace("Update", "");
                $(curr_container).find(".k-grid-update").html(innerContentCancel);
                //sets the text of the "Cancel" button
                var innerContentCancel = $(curr_container).find(".k-grid-cancel").html().replace("Cancel", "");
                $(curr_container).find(".k-grid-cancel").html(innerContentCancel);
            },
            dataBound: function () {
                var gridHeaderRows = $("#NewAccounts tbody th");
                var gridRows = $("#NewAccounts tbody tr");
                var takeGrid = $("#NewAccounts").data("kendoGrid");
                var length = gridRows.length;

                for (i = 0; i < length; i++) {

                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];


                    var StatusText = dataItem.StatusText;
                    var StatusImage = '';
                    var ActiveImage = '';
                    var Isenabled = dataItem.Isenabled;


                    if (StatusText == "AgreementIn") {

                        StatusImage = "<img src=\"../Content/themes/base/images/emerge-office-milestone-4-on.png\" />";
                    }

                    row.cells[9].innerHTML = StatusImage;

                    if (Isenabled == true) {
                        ActiveImage = "<img src=\"../Content/themes/base/images/status.png\" />";
                    }
                    if (Isenabled == false) {

                        ActiveImage = "<img src=\"../Content/themes/base/images/cross.png\" />";
                    }
                    row.cells[8].innerHTML = ActiveImage;

                    GridEffect("NewAccounts", dataItem)

                }
            }

        })//.find("th").addClass("centeralign");
    });


</script>
