﻿<table width="100%">
    <tr id="tr_Menu">
        <td colspan="2" class="menu_seperator" valign="bottom">
            <table width="100%" cellpadding="0" cellspacing="0" style="padding: 0px 0px 0px 0px;
                height: 35px;">
                <tr>
                   @* <td align="right" style="width: 9px; height: 36px;">
                        <div class="left_BorderImg">
                        </div>
                    </td>*@
                    <td>
                        <div style="margin-top:9px;">
                            <ul class="manage-tabs" id="tabsDemo1" style="width:100%; font-size:14px;">
                                <li id="liBillingReport" runat="server">
                                    <a href="../Control/Billing" title="Billing Report">Billing Report<span id="spanBR" runat="server"></span></a>
                                    @* <asp:LinkButton ID="lnkBillingReport" runat="server" ToolTip="" OnClick="lnkBillingReport_Click">
                    Billing Report<span id="spanBR" runat="server"></span></asp:LinkButton>*@
                                </li>
                                <li id="liBillingStatement" runat="server">
                                    <a href="../Control/BillingStatements" title="Billing Statement">Billing Statement<span id="spanBS" runat="server"></span></a>
                                    @*  <asp:LinkButton ID="lnkBillingStatement" runat="server" ToolTip="Billing Statement"
                    OnClick="lnkBillingStatement_Click">
                    Billing Statement<span id="spanBS" runat="server"></span>*@
                                </li>
                                <li id="liVendorReport" runat="server">
                                    <a href="../Control/VendorReport" title="Vendor Report">Vendor Report<span id="spanVR" runat="server"></span></a>
                                    @* <asp:LinkButton ID="lnkVendorReport" runat="server" ToolTip="Vendor Report"
                    onclick="lnkVendorReport_Click">
                    Vendor Report<span id="spanVR" runat="server"></span></asp:LinkButton>*@
                                </li>
                            </ul>
                        </div>
                    </td>
                  @*  <td align="left" style="width: 9px; height: 36px;">
                        <div class="right_BorderImg">
                        </div>
                    </td>*@
                </tr>
            </table>
        </td>
    </tr>
</table>

<script type="text/javascript">
    BillingTab_Selection();
    function BillingTab_Selection() {
        debugger;
        var liBillingReport = document.getElementById('liBillingReport');
        var liBillingStatement = document.getElementById('liBillingStatement');
        var liVendorReport = document.getElementById('liVendorReport');

        var loc = window.location.href.toLowerCase();

       
         if (loc.indexOf("control/billingstatements") != -1) {
            $(liBillingStatement).addClass('current');
        }
        else if (loc.indexOf("control/billing") != -1) {
            $(liBillingReport).addClass('current');
        }
        else if (loc.indexOf("control/vendorreport") != -1) {
            $(liVendorReport).addClass('current');
        }
       
         $("#lnkMenuBilling").addClass('active');
    }
</script>