﻿@model Emerge.Models.AdminSearchModel
<style type="text/css">
    .RowStyle
    {
        color: Black;
        text-decoration: none;
        vertical-align: top; /* height: 20px;*/
    }
    .RowStyle:hover
    {
        color: Black;
        text-decoration: none;
        vertical-align: top;
        height: 20px;
        cursor: pointer;
    }
    
    .k-scrollbar-vertical 
    {
        top: 0;
        right: 0;
        width: 17px;
        height:100%;
        copyhistory:no;
        overflow-y:scroll;
        overflow-x:hidden;
        overflow:scroll;
        screenX:150;
        screenY:150;
        top:150;
        left:150;
    }

</style>
<div style="padding: 0px 0px 0px 0px; width: 100%">
   <div style="font-size: 14px; width: 30%; color: rgb(47, 43, 43); text-align: left; float: left; margin: 0px 0px 10px;">
       Showing 
       <span align="center" style="font-size: 16px; width: 60px; font-weight: bold; color: #0078bd;">
       <label id="ShowTotal"> 0 </label>
       </span> 
       records
   </div>
    <div style="float: right; width: 39%; text-align: right; line-height: 30px; padding-right: 8px;
        vertical-align: bottom">
        @Html.HiddenFor(m => m.EmergeReviewReportType) @Html.HiddenFor(m => m.lnkEmergeReview)
        <a id="anEmergeReview" class="btn btn-default" style=" float: right; margin-top: -58px; display: inline-block;  margin-left: -80px;" onclick="GetArchiveEmergeReview();">
        </a>
    </div>
</div>
<table border="0" style="width: 100%">
    <tr>
        <td align="center">
            <div id="divMSGPendingReviewReport">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="PendingReviewReport">
            </div>
        </td>
    </tr>
</table>
<div id="divSavedReportLog" style="position: fixed; display: none; top: 10%; background-color: white;
    border: 1px solid black;z-index:1;">
</div>
<script type="text/javascript">
    var lnkEmergeReview = document.getElementById('lnkEmergeReview').value;
    var EmergeReviewReportType = document.getElementById('EmergeReviewReportType').value;
    if (lnkEmergeReview != '') {
        $('#anEmergeReview').html(lnkEmergeReview);
    }
    else {
        $('#anEmergeReview').html('Archive');
    }
    function GetArchiveEmergeReview() {
        $.post('@Url.Action("GetArchiveForEmergeReview", "Control")', { ReportType: $('#EmergeReviewReportType').val() }, function (Result) {

            if (Result != null) {
                $('#EmergeReviewReportType').val(Result.Type);
                $('#lnkEmergeReview').val(Result.ArchiveLink);


                $('#anEmergeReview').html(Result.ArchiveLink);


                var grid = $("#PendingReviewReport").data("kendoGrid");
                // grid.dataSource.page(1);
                grid.dataSource.read({ ReportType: $('#EmergeReviewReportType').val() });
                grid.refresh();
            }

        });
    }
    function UpdateReportReviewStatus(orderid) {

        $.post('@Url.Action("UpdateReviewReport", "Control")', { OrderId: orderid }, function (data) { });
        var DataSoursegrid = $("#PendingReviewReport").data("kendoGrid");
        DataSoursegrid.dataSource.read();
        DataSoursegrid.refresh();

    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        
            
        
        $("#PendingReviewReport").kendoGrid({
            sortable: true,

            dataSource: {
                type: "json",
                serverPaging: true,
                //serverSorting: true,
                pageSize: 50,
                transport: {
                    read: {
                        url: '@Url.Action("PendingReviewReportBind", "Control")',
                        dataType: "json",
                        async: true,
                        data: { ReportType: EmergeReviewReportType }
                    }

                },

                schema: { data: "Products", total: "TotalCount",
                    model: {
                        fields: {
                            OrderDt: { type: "date" }
                        }
                    }
                }

            },
            height: 385,
            scrollable: {
                virtual: true
            },
            sortable: true,
            columns: [

           { field: "ApplicantName+FirstName+LastName", title: "Applicant Name", width: "12%" },
               { field: "OrderNo", title: "Order No", width: "135px", template: "# if(!IsDrugTestingOrder){#<a href='ViewReportReview?_OId=#=OrderId#' class='clsorder'>#=OrderNo#</a> #}else{#<a class='clsorder' href='ViewDrugTestingReports?_OId=#=OrderId#'>#=OrderNo#</a> #}#" },
               { field: "ReportIncludes", title: "Data Sources", width: "9.5%" },
            { field: "CompanyName", title: "Company Name", width: "11%", sortable: false },
              { field: "Location", title: "Location", width: "9%" },
              { field: "UserEmail", title: "User", width: "20%" },
              { field: "OrderDt", title: "Order Date", width: "10%", format: "{0:MM/dd/yyyy HH:mm:ss}" },
              { field: "OrderStatusDisplay", title: "Status", width: "7%" },
              { field: "OrderNo", title: "Log", width: 45, template: "<div class='k-grid'><img  style='display:none;' id='img_#=OrderId#'  src='../Content/themes/base/images/smallloader.gif'/> <input  onclick='OpenNewReportLog(this.id);' type='IMAGE'  id='#=OrderId#'  SRC='../Content/themes/base/images/ErrorlogSmall.png' /></div>" },
              { field: "OrderId", title: "Action", width: "10.5%", sortable: false, template: "#if(OrderStatusDisplay!='Completed'){#<input type='button' class='btn btn-default'  id='#=OrderId#' onclick='UpdateReportReviewStatus(this.id)' value='Complete' />#}#" }

           ],
            editable: "inline",
            dataBound: function () {
                var gridHeaderRows = $("#PendingReviewReport tbody th");
                var gridRows = $("#PendingReviewReport tbody tr");
                var takeGrid = $("#PendingReviewReport").data("kendoGrid");
                var takeTotal = this.dataSource.total();
                $("#ShowTotal").html(takeTotal);
                var length = gridRows.length;



                for (i = 0; i < length; i++) {
                    var ApplicantName = '';
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var OrderStatusDisplay = dataItem.OrderStatusDisplay;
                    var FirstName = dataItem.FirstName;
                    var LastName = dataItem.LastName;
                    var StatusImagePr='';
                    if (FirstName != '' && LastName != '') {
                        ApplicantName = LastName.trim().charAt(0).toUpperCase() + LastName.trim().slice(1).toLowerCase() + ", " + FirstName.trim().charAt(0).toUpperCase() + FirstName.trim().slice(1).toLowerCase();
                    }
                    else {
                        ApplicantName = LastName.trim().charAt(0).toUpperCase() + LastName.trim().slice(1).toLowerCase() + " " + FirstName.trim().charAt(0).toUpperCase() + FirstName.trim().slice(1).toLowerCase();

                    }
                    row.cells[0].innerHTML = ApplicantName;

                    if (OrderStatusDisplay != null) {



                        if (OrderStatusDisplay == "In Review") {
                            StatusImagePr = "<div class='k-grid .centeralign'><span class='InReview'>In Review</span></div>";


                        }

                        if (OrderStatusDisplay == "Pending") {


                            StatusImagePr = "<div class='k-grid .centeralign'><span class='Pending' >Pending</span></div>";


                        }

                        if (OrderStatusDisplay == "Incomplete") {


                            StatusImagePr = "<div class='k-grid .centeralign'><span class='InComplete'>Incomplete</span></div>";


                        }

                        if (OrderStatusDisplay == "Completed") {


                            StatusImagePr = "<div class='k-grid .centeralign'><span class='Completed'>Complete</span></div>";


                        }



                    }

                    row.cells[7].innerHTML = StatusImagePr;
                    GridEffect("PendingReviewReport", dataItem)


                }
            }

        })//.find("th").addClass("centeralign");
    });


    function OpenNewReportLog(OrderId) {
        window.open('../Corporate/NewReportLog?OrderId=' + OrderId + '', 'OrderDetails', 'height=600,width=800,toolbar=no,scrollbars=yes,location=no,resizable=yes');
//        document.getElementById(OrderId).style.display = 'none';
//        document.getElementById('img_' + OrderId).style.display = 'block';

//        $.post("../Corporate/NewReportLog", { OrderId: OrderId }, function (data) {
//            var width = (screen.width) - 820;
//            var leftspace = width / 2;

//            $("#divSavedReportLog").css("left", leftspace + 'px');
//            $("#divSavedReportLog").html(data);
//            $("#divSavedReportLog").css("display", "block");

//            document.getElementById('img_' + OrderId).style.display = 'none';
//            document.getElementById(OrderId).style.display = 'block';
//        });

    }

    function HideDiv() {
        $("#divSavedReportLog").css("display", "none");
    }
</script>
