﻿@model Emerge.Models.AdminSearchModel
@using (Html.BeginForm("SaveAdminConsentReview", "Control", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
{ 
    <script src="../../Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
  
    <table width="100%" border="0" style="height: 220px;">
        <tr>
            <td valign="top" align="center">
                <table width="600px" cellpadding="2">
                    <tr>
                        <td align="left">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                <tr>
                                    <td align="left" style="width: 15%">
                                        <b>Report Type</b>
                                    </td>
                                    <td align="left" style="width: 28%">
                                        <b>State/County/Jurisdiction</b>
                                    </td>
                                    <td align="left" style="width: 57%">
                                        <b>Upload Document</b>
                                    </td>
                                </tr>
                            </table>
                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                @if (Model.CollGetConsentInforByOrderId != null)
                                {
                                    for (int i = 0; i < Model.CollGetConsentInforByOrderId.Count; i++)
                                    {
                                    <tr>
                                        <td align="left" style="width: 15%">
                                            @Model.CollGetConsentInforByOrderId.ElementAt(i).ProductCode
                                            <input type="hidden" id="ProductCode" name="ProductCode" value="@Model.CollGetConsentInforByOrderId.ElementAt(i).ProductCode"/>
                                            <input type="hidden" id="pkOrderDetailId" name="pkOrderDetailId" value="@Model.CollGetConsentInforByOrderId.ElementAt(i).pkOrderDetailId"/>
                                        </td>
                                        <td align="left" style="width: 28%">
                                            @Model.CollGetConsentInforByOrderId.ElementAt(i).ConsentState
                                            <input type="hidden" id="ConsentState" name="ConsentState" value="@Model.CollGetConsentInforByOrderId.ElementAt(i).ConsentState"/>
                                        </td>
                                        <td align="left" style="width: 57%">
                                            <input type="hidden" id="ConsentFilename" name="ConsentFilename" value="@Model.CollGetConsentInforByOrderId.ElementAt(i).ConsentFilename"/>
                                            @if (Model.CollGetConsentInforByOrderId.ElementAt(i).ConsentFilename != "")
                                            {
                                                <a id="aDownload" href="Download_FeaturedFile/?FPathTitle=@Model.CollGetConsentInforByOrderId.ElementAt(i).ConsentFilename">
                                                    Download</a>
                                                
                                                
                                            }
                                            else
                                            {
                                                
                                                <input type="file" id="@i+@Model.CollGetConsentInforByOrderId.Count" name="fileUploadctrl" style="margin-top: 5px; float:left;" onchange="valid(this.id)"/>
                                                @Html.HiddenFor(model => model.fileUpload[i], new { id = "hdnFile" + @i })
                                                <div style="color: Red; margin-top:1px;" id="message">@Html.ValidationMessageFor(model => model.fileUpload[i], "Please Select File.")</div>

                                                
                                                <label id="@i+label" style="color: Red;">
                                                </label>
                                               
                                            }
                                        </td>
                                    </tr>
                                    }

                                } <label id="totalcount" style="display: none">@Model.CollGetConsentInforByOrderId.Count</label>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top" align="center">
                <input type="submit" value="Continue" class="btn btn-primary valid" onclick="validationmessage()"/>
            </td>
        </tr>
    </table>

}
<script type="text/javascript">


    document.getElementById("message").style.visibility = "hidden";
   function valid(id) {
        document.getElementById("message").style.visibility = "hidden";
        var hdnid = id.split('+');
       document.getElementById("totalcount").value = hdnid[1];
       var br = "hdnFile" + hdnid[0];
       document.getElementById(br).value = document.getElementById(id).value;


    }

    function validationmessage() {
            document.getElementById("message").innerHTML = "Please Select File.";
            document.getElementById("message").style.visibility = "visible";
      }


</script>
