﻿
 


                                    
                                    <div id="AdminConsentReview">
                                </div>
                               


<style type="text/css">
   
   

   
   
    .RowStyle
    {
        color: Black;
        text-decoration: none;
        vertical-align: top;
        height: 20px;
    }
    .RowStyle:hover
    {
        color: Black;
        text-decoration: none;
        vertical-align: top;
        height: 20px;
        cursor: pointer;
    }
    .ratingStar
    {
        font-size: 0pt;
        width: 13px;
        height: 12px;
        margin: 0px;
        padding: 0px;
        cursor: pointer;
        display: block;
        background-repeat: no-repeat;
    }
    
    .filledRatingStar
    {
        background-image: url(../Resources/Images/FilledStar.png);
    }
    
    .emptyRatingStar
    {
        background-image: url(../Resources/Images/EmptyStar.png);
    }
    
    .savedRatingStar
    {
        background-image: url(../Resources/Images/SavedStar.png);
    }
    </style>
<script>

function Update(orderid)
{



    $.post('@Url.Action("UpdateCompleteReview", "Control")', { OrderId: orderid }, function (data) { });
    var DataSoursegrid = $("#AdminConsentReview").data("kendoGrid");
    DataSoursegrid.dataSource.read();
    DataSoursegrid.refresh();

}


    $(document).ready(function () {

        $("#AdminConsentReview").kendoGrid({
            sortable: true,
            
            dataSource: {
                type: "json",
                serverPaging: true,
                serverSorting: true,

                pageSize: 15,
                transport: { read: { url: '@Url.Action("AdminConsentReviewBind", "Control")', dataType: "json", async: true }

                },
                schema: { data: "Products", total: "TotalCount",
                    model: {
                        fields: {
                            OrderDt: { type: "date" }
                        }
                    }
                }

            },

            height: 205,
            scrollable: {
                virtual: true
            },
            sortable: true,
            columns: [

           { field: "ApplicantName", title: "Applicant Name", width: "12%" },
               { field: "OrderNo", title: "Order No", width: "11%" },
               { field: "ReportIncludes", title: "Data Sources", width: "14%" },
            { field: "CompanyName", title: "Company Name", width: "10%", sortable: false },
              { field: "Location", title: "Location", width: "10%" },
              { field: "UserEmail", title: "UserEmail", width: "12%" },
              { field: "OrderDt", title: "Order Date", width: "10%", format: "{0:MM/dd/yyyy HH:mm:ss}" },
              { field: "OrderStatusDisplay", title: "Status", width: "8%" },
              { field: "OrderId", title: "Docs", width: "5%", sortable: false, template: '<a href="">Docs</a>' },
              { field: "OrderId", title: "Action", width: "8%", sortable: false, template: '<input type="button"  id="#=OrderId#" onclick="Update(this.id)" value="Complete" />' }


           ],
            editable: "inline",

            edit: function () {
                var curr_container = this._editContainer; //selects the current edit container

                //sets the text of the "Update" button
                var innerContentCancel = $(curr_container).find(".k-grid-update").html().replace("Update", "");
                $(curr_container).find(".k-grid-update").html(innerContentCancel);
                //sets the text of the "Cancel" button
                var innerContentCancel = $(curr_container).find(".k-grid-cancel").html().replace("Cancel", "");
                $(curr_container).find(".k-grid-cancel").html(innerContentCancel);
            },
            dataBound: function () {
                var gridHeaderRows = $("#AdminConsentReview tbody th");
                var gridRows = $("#AdminConsentReview tbody tr");
                var takeGrid = $("#AdminConsentReview").data("kendoGrid");
                var length = gridRows.length;



                for (i = 0; i < length; i++) {

                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var OrderStatusDisplay = dataItem.OrderStatusDisplay;


                    if (OrderStatusDisplay != null) {
                        if (OrderStatusDisplay == "In Review" || OrderStatusDisplay == "Pending" || OrderStatusDisplay == "Incomplete") {

                            row.cells[7].style.color = 'red';

                        }
                        else {

                            row.cells[7].style.color = 'black';


                        }

                    }
                    else {

                        row.cells[7].innerHTML = '';

                    }




                }


            }

        });


    });
























</script>