﻿@model Emerge.Models.AdminSearchModel
<style type="text/css">
    .RowStyle
    {
        color: Black;
        text-decoration: none;
        vertical-align: top;
        height: 20px;
    }
    .RowStyle:hover
    {
        color: Black;
        text-decoration: none;
        vertical-align: top;
        height: 20px;
        cursor: pointer;
    }
  
</style>
<div style="padding: 0px 0px 10px 0px; width: 100%">
    
    <div style="float: right; width: 39%; text-align: right; line-height: 30px; padding-right: 8px;
        vertical-align: bottom">
        @Html.HiddenFor(m => m.AdminConsentReportType) @Html.HiddenFor(m => m.lnkAdminConsent)
        <button id="anAdminConsent" class="btn btn-default" style=" float: right; margin-top: -51px;  display: inline-block;  margin-left: -80px;" onclick="GetArchiveAdminConsent();" type="submit">
        </button>
    </div>
</div>

<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td align="center">@Html.HiddenFor(m => m.strResultAdminConsent)
            <div id="divMSGAdminConsent">
            </div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <div id="GRAdminConsent">
            </div>
        </td>
    </tr>
</table>


<div id="divAdminConsentReports" style="display: none;">
</div>


<script type="text/javascript">

    var lnkAdminConsent = document.getElementById('lnkAdminConsent').value;
    var AdminConsentReportType = document.getElementById('AdminConsentReportType').value;
    if (lnkAdminConsent != '') {
        $('#anAdminConsent').html(lnkAdminConsent);
    }
    else {
        $('#anAdminConsent').html('Archive');
    }

    function GetArchiveAdminConsent() {
        $.post('@Url.Action("GetArchiveForAdminConsent", "Control")', { ReportType: $('#AdminConsentReportType').val() }, function (Result) {

            if (Result != null) {
                $('#AdminConsentReportType').val(Result.Type);
                $('#lnkAdminConsent').val(Result.ArchiveLink);


                $('#anAdminConsent').html(Result.ArchiveLink);


                var grid = $("#GRAdminConsent").data("kendoGrid");
                grid.dataSource.read({ ReportType: $('#AdminConsentReportType').val() });
                grid.refresh();
            }

        });
    }


    
    GetAdminConsentResult();
    
    function GetAdminConsentResult() {

        var divMSGAdminConsent = document.getElementById('divMSGAdminConsent');
        var strResultAdminConsent = document.getElementById('strResultAdminConsent');

        if (strResultAdminConsent != 'null' || strResultAdminConsent.value != '') {
            divMSGAdminConsent.style.display = "block";
            divMSGAdminConsent.innerHTML = strResultAdminConsent.value;
        }
    }

    function UpdateAdminConsentReview(orderid) {
   
        $.post('@Url.Action("UpdateCompleteReview", "Control")', { OrderId: orderid }, function (data) { });
        var DataSoursegrid = $("#GRAdminConsent").data("kendoGrid");
        DataSoursegrid.dataSource.read();
        DataSoursegrid.refresh();

    }



       var divMSGAdminConsent = document.getElementById("divMSGAdminConsent");

   function GetAdminConsentByOrderId(orderid) {
            divMSGAdminConsent.style.display = "none"; divMSGAdminConsent.style.value = "";

            $("#divAdminConsentReports").load("../Control/PartialReviewData?_o=" + orderid);

//            $("#divAdminConsentReports").load('../Control/PartialGetAdminConsentDetails', { OrderId: orderid }, function (data) {

//        });


        document.getElementById("divAdminConsentReports").style.visibility = "visible";
        document.getElementById("divAdminConsentReports").style.display = "block";
        $("#divAdminConsentReports").show();
        $("#divAdminConsentReports").kendoWindow({
            title: "Upload Consent Form",
            scrollable: false,
            height: 212,
            width: 591
        }).data("kendoWindow");
        $("#divAdminConsentReports").kendoWindow();

        $("#divAdminConsentReports").kendoWindow();

        $("#divAdminConsentReports").data("kendoWindow").center();
        $("#divAdminConsentReports").data("kendoWindow").open();

    }

    $(document).ready(function () {

        $("#GRAdminConsent").kendoGrid({
            sortable: true,

            dataSource: {
                type: "json",
                serverPaging: true,
                //serverSorting: true,

                pageSize: 15,
                transport: {
                    read: {
                        url: '@Url.Action("AdminConsentReviewBind", "Control")',
                        dataType: "json",
                        async: true,
                        data: { ReportType: AdminConsentReportType }
                 }

                },
                schema: { data: "Products", total: "TotalCount",
                    model: {
                        fields: {
                            OrderDt: { type: "date" }
                        }
                    }
                }

            },

            height: 220,
            scrollable: {
                virtual: true
            },
            sortable: true,
            columns: [

           { field: "ApplicantName+FirstName+LastName", title: "Applicant Name", width: "12%" },
               { field: "OrderNo", title: "Order No", width: "135px", template: "# if(!IsDrugTestingOrder){#<a href='ViewReports?_OId=#=OrderId#' class='clsorder'>#=OrderNo#</a> #}else{#<a class='clsorder' href='ViewDrugTestingReports?_OId=#=OrderId#'>#=OrderNo#</a> #}#" },
               { field: "ReportIncludes", title: "Data Sources", width: "9%" },
            { field: "CompanyName", title: "Company Name", width: "10%", sortable: false },
              { field: "Location", title: "Location", width: "9.5%" },
              { field: "UserEmail", title: "User", width: "17.5%" },
              { field: "OrderDt", title: "Order Date", width: "9.5%", format: "{0:MM/dd/yyyy HH:mm:ss}" },
              { field: "OrderStatusDisplay", title: "Status", width: "7%" },
              { field: "OrderId", title: "Docs", width: "5%", sortable: false, template: "<div><a id='#=OrderId#'  onclick='GetAdminConsentByOrderId(this.id);return false;'>Docs</a></div>" },
              { field: "OrderId", title: "Action", width: "11.5%", sortable: false, template: "<div>#if(OrderStatusDisplay!='Completed'){#<input type='button' class='btn btn-default'  id='#=OrderId#' onclick='UpdateAdminConsentReview(this.id)' value='Complete' />#}#</div>" }


           ],
            editable: "inline",
              dataBound: function () {
                  var gridHeaderRows = $("#GRAdminConsent tbody th");
                  var gridRows = $("#GRAdminConsent tbody tr");
                  var takeGrid = $("#GRAdminConsent").data("kendoGrid");
                var length = gridRows.length;



                for (i = 0; i < length; i++) {
                    var ApplicantName = '';
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var OrderStatusDisplay = dataItem.OrderStatusDisplay;
                    var FirstName = dataItem.FirstName;
                    var LastName = dataItem.LastName;
                    var StatusImageAdm='';
                    if (FirstName != '' && LastName != '') {
                        ApplicantName = LastName.trim().charAt(0).toUpperCase() + LastName.trim().slice(1).toLowerCase() + ", " + FirstName.trim().charAt(0).toUpperCase() + FirstName.trim().slice(1).toLowerCase();
                    }
                    else {
                        ApplicantName = LastName.trim().charAt(0).toUpperCase() + LastName.trim().slice(1).toLowerCase() + " " + FirstName.trim().charAt(0).toUpperCase() + FirstName.trim().slice(1).toLowerCase();

                    }
                    row.cells[0].innerHTML = ApplicantName;
                    if (OrderStatusDisplay != null) {
                     if (OrderStatusDisplay == "In Review") {
                            StatusImageAdm = "<span class='InReview'>In Review</span>";


                        }

                        if (OrderStatusDisplay == "Pending") {


                            StatusImageAdm = "<span class='Pending' >Pending</span>";


                        }

                        if (OrderStatusDisplay == "Incomplete") {


                            StatusImageAdm = "<span class='InComplete'>Incomplete</span>";


                        }

                        if (OrderStatusDisplay == "Completed") {


                            StatusImageAdm = "<span class='Completed'>Complete</span>";


                        }



                    }

                    row.cells[7].innerHTML = StatusImageAdm;
                    GridEffect("GRAdminConsent", dataItem)
                }
                //$("tr").css("text-align", "center");
                //$("tr").addClass("centeralign");
            }

        })//.find("th").addClass("centeralign");


    });
























</script>
