﻿@model Emerge.Models.AdminSearchModel
@{
    ViewBag.Title = "PartialBatchOrders";
}

<style>
.processed
{
    background-color: Green;
    border-radius: 3px 3px 3px 3px;
    color: white;
    padding: 1px 4px;
    }

</style>
<table border="0" style="width: 100%">
    <tr>
        <td align="center">
            <div id="divMSGHelpOrders">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="BatchOrdersGrid12">
            </div>
        </td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        $("#BatchOrdersGrid12").kendoGrid({
            sortable: true,
            dataSource: {
                type: "json",
                serverPaging: true,
                //serverSorting: true,
                pageSize: 15,
                transport: {
                    read: {
                        url: '@Url.Action("GetBatchOrders", "Control")',
                        Type: "Post"

                    }

                },
                schema: { data: "Products", total: "TotalCount",
                    model: {
                        fields: {
                            CreateDate: { type: "date" }
                        }
                    }
                }

            },
            height: 215,
            scrollable: {
                virtual: true
            },
            sortable: true,
            columns: [
            { field: "CompanyName", title: "Company Name", width: "20%" },
              { field: "UserEmail", title: "User", width: "25%" },
              { field: "DataSource", title: "Data Source", width: "21%" },
              { field: "CreateDate", title: "Submit Date", width: "14%", format: "{0:MM/dd/yyyy HH:mm:ss}" },
              { field: "IsProcessed", title: "Status", width: "20%", template: "# if(!IsProcessed){#<div> <span class='Pending' >Un Processed</span></div> #}else{#<div'> <span class='processed' >Processed</span></div>#}#" },
              { field: "UplodedBatchFileName", title: "Uploaded File", width: "20%", template: "# if(UplodedBatchFileName!=''){#<div><a  href='DownloadBatchFile/?BatchFileName=#=UplodedBatchFileName#'>Download</a></div>#}else{#<div class='centeralign'>Not Available</div>#}#" }
               ],


            dataBound: function () {
                var gridHeaderRows = $("#BatchOrdersGrid12 tbody th");
                var gridRows = $("#BatchOrdersGrid12 tbody tr");
                var takeGrid = $("#BatchOrdersGrid12").data("kendoGrid");
                var length = gridRows.length;
              for (i = 0; i < length; i++) {
                  var dataItem = takeGrid.dataItem(gridRows[i]);
                  GridEffect("BatchOrdersGrid12", dataItem)
                
                 }




            }

        })//.find("th").addClass("centeralign");


    });



</script>