﻿<table border="0" style="width: 100%">
    <tr>
        <td align="center">
            <div id="divMSGIncompleteReports">
            </div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <div id="IncompleteReports">
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">




    $(document).ready(function () {
        $("#IncompleteReports").kendoGrid({
            sortable: true,

            dataSource: {
                type: "json",
                serverPaging: true,
                //serverSorting: true,
                pageSize: 15,
                transport: { read: { url: '@Url.Action("IncompleteReportsBind", "Control")', dataType: "json", async: true }


                },



                schema: { data: "Products", total: "TotalCount",
                    model: {
                        fields: {
                            OrderDt: { type: "date" }
                        }
                    }
                }

            },
            height: 187,
            scrollable: {
                virtual: true
            },
            sortable: true,
            columns: [
               { field: "ApplicantName+FirstName+LastName", title: "Applicant Name", width: "13%" },
               { field: "OrderNo", title: "Order No", width: "135px", template: "# if(!IsDrugTestingOrder){#<a class='clsorder' href='ViewReports?_OId=#=OrderId#'>#=OrderNo#</a> #}else{#<a class='clsorder' href='ViewDrugTestingReports?_OId=#=OrderId#'>#=OrderNo#</a> #}#" },
               { field: "ReportIncludes", title: "Data Sources", width: "18%" },
            { field: "CompanyName", title: "Company Name", width: "13%", sortable: false },
              { field: "Location", title: "Location", width: "12%" },
              { field: "UserEmail", title: "User", width: "19.5%" },
              { field: "OrderDt", title: "Order Date", format: "{0:MM/dd/yyyy HH:mm:ss}", width: "9%" },
              { field: "OrderStatusDisplay", title: "Status", width: "7%" }

                     ],
            editable: "inline",
                dataBound: function () {
                var gridHeaderRows = $("#IncompleteReports tbody th");
                var gridRows = $("#IncompleteReports tbody tr");
                var takeGrid = $("#IncompleteReports").data("kendoGrid");
                var length = gridRows.length;



                for (i = 0; i < length; i++) {
                    var ApplicantName = '';
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var OrderStatusDisplay = dataItem.OrderStatusDisplay;
                    var FirstName = dataItem.FirstName;
                    var LastName = dataItem.LastName;
                    var StatusImageIn = '';
                    if (FirstName != '' && LastName != '') {
                        ApplicantName = LastName.trim().charAt(0).toUpperCase() + LastName.trim().slice(1).toLowerCase() + ", " + FirstName.trim().charAt(0).toUpperCase() + FirstName.trim().slice(1).toLowerCase();
                    }
                    else {
                        ApplicantName = LastName.trim().charAt(0).toUpperCase() + LastName.trim().slice(1).toLowerCase() + " " + FirstName.trim().charAt(0).toUpperCase() + FirstName.trim().slice(1).toLowerCase();

                    }
                    row.cells[0].innerHTML= ApplicantName;
                  

                    if (OrderStatusDisplay != null) {
                      
                            if (OrderStatusDisplay == "In Review")
                         {
                             StatusImageIn = "<div class='k-grid .centeralign'><span class='InReview'>In Review</span></div>"; 
                           

                        }

                        if (OrderStatusDisplay == "Pending")
                        {


                            StatusImageIn = "<div class='k-grid .centeralign'><span class='Pending' >Pending</span></div>"; 
                        
                        
                        }

                        if (OrderStatusDisplay == "Incomplete") {


                            StatusImageIn = "<div class='k-grid .centeralign'><span class='InComplete'>Incomplete</span></div>";


                        }
                        if (OrderStatusDisplay == "Completed") {


                            StatusImageIn = "<div class='k-grid .centeralign'><span class='Completed'>Complete</span></div>";


                        }

                        
                    }
                    row.cells[7].innerHTML = StatusImageIn;
                    GridEffect("IncompleteReports", dataItem)
                }
            }

        })//.find("th").addClass("centeralign");

    });



</script>
