﻿


<div id="DivComments" style="background-color: White;">
    <table style="background-color: white;" width="100%" border="0" style="height: 220px;"
        id="Table3" runat="server">
        <tr>
            <td>
                <table width="100%" cellpadding="2">
                    <tr>
                        <td align="left" width="22%">
                            <b>Company</b>
                        </td>
                        <td align="left" width="5%">
                            <b>:</b>
                        </td>
                        <td align="left" width="73%">
                            <label id="Companylabel">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" width="22%">
                            <b>Surveyor</b>
                        </td>
                        <td align="left" width="5%">
                            <b>:</b>
                        </td>
                        <td align="left" width="73%">
                            <label id="Surveyor">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" width="22%">
                            <b>Rating</b>
                        </td>
                        <td align="left" width="5%">
                            <b>:</b>
                        </td>
                        <td align="left" width="73%">
                            <div id="example-2">
                            </div>
                            <span id="example-rating-2" style="display: none"></span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" width="22%">
                            <b>Comments</b>
                            <label>
                            </label>
                        </td>
                        <td align="left" colspan="2">
                            <b>:</b>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="3">
                            <textarea class="textarea" id="includecomments"></textarea>&nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" align="center" colspan="3">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                            <label id="companyid" style="visibility: hidden">
                            </label>
                            <input type="button" class="btn btn-primary" value="Update" onclick="UpdateClient_Click()" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<table border="0" style="width: 100%">
 
    <tr>
        <td align="center">
            <div id="divUpdMSG" style="display: none">
            </div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <div id="Quality">
            </div>
        </td>
    </tr>
</table>
<style>
    .jquery-ratings-star
    {
        font-size: 0pt;
        width: 13px;
        height: 12px;
        background-image: url('../Content/themes/base/images/EmptyStar.png');
        margin: 0px;
        padding: 0px;
        cursor: pointer;
        display: block;
        background-repeat: no-repeat;
        float: left;
    }
    
    .jquery-ratings-full
    {
        background-image: url('../Content/themes/base/images/FilledStar.png');
    }
    
    
    
    
    .ratings_over
    {
        background-image: url('../Content/themes/base/images/SavedStar.png');
    }
    
    
    
    .RowStyle
    {
        color: Black;
        text-decoration: none;
        vertical-align: top;
        height: 20px;
    }
    .RowStyle:hover
    {
        color: Black;
        text-decoration: none;
        vertical-align: top;
        height: 20px;
        cursor: pointer;
    }
    .centeralign
    {
        text-align: center;
    }
    
    .textarea
    {
        width: 100%;
    }
</style>
<script type="text/javascript">



    function UpdateClient_Click() {
        var Surveyor = document.getElementById("Surveyor").innerHTML;
        var Companylabel = document.getElementById("Companylabel").innerHTML
        var CompanyId = document.getElementById("companyid").innerHTML;
        var Rating = document.getElementById("example-rating-2").innerHTML;
        var Comments = document.getElementById("includecomments").value;
        $.post('@Url.Action("UpdateClient_Click", "Control")', { CompanyId: CompanyId, Surveyor: Surveyor, Rating: Rating, Comment: Comments, CompanyName: Companylabel }, function (data) {
            if (data.UpdateMessage != "") {
                $("#divUpdMSG").show();
                $("#divUpdMSG").html(data.UpdateMessage);
            }
        });



        document.getElementById("includecomments").value = "";

        var grid = $("#Quality").data("kendoGrid");
        grid.dataSource.read();
        grid.refresh();

        $("#DivComments").data("kendoWindow").close();



    }




    function UpdateStatus(Companyname) {
       
       
        var arr = Companyname.split(',');

        $.post('@Url.Action("UpdateQuality", "Control")', {}, function (data) {
            document.getElementById("Surveyor").innerHTML = data.Name;

        });
        document.getElementById("Companylabel").innerHTML = arr[0];
        document.getElementById("companyid").innerHTML = arr[1];


        $(".jquery-ratings-full").removeClass("jquery-ratings-full");

        $("#DivComments").show();
        $("#DivComments").kendoWindow({
            title: "Quality Control Survey",
            scrollable: false

        }).data("kendoWindow");
        $("#DivComments").kendoWindow();

        $("#DivComments").kendoWindow();

        $("#DivComments").data("kendoWindow").center();
        $("#DivComments").data("kendoWindow").open();
    }

    $(document).ready(function () {
        $('#example-2').ratings(5).bind('ratingchanged', function (event, data) {
            $('#example-rating-2').text(data.rating);


        });
    });


    jQuery.fn.ratings = function (stars, initialRating) {
        var elements = this;

        return this.each(function () {
            if (!initialRating)
                initialRating = 0;
            var containerElement = this;
            var container = jQuery(this);
            var starsCollection = Array();
            containerElement.rating = initialRating;
            container.css('overflow', 'auto');
            for (var starIdx = 0; starIdx < stars; starIdx++) {
                var starElement = document.createElement('div');
                var star = jQuery(starElement);
                starElement.rating = starIdx + 1;
                star.addClass('jquery-ratings-star');
                if (starIdx < initialRating) {

                    star.addClass('jquery-ratings-full');



                }
                container.append(star);
                starsCollection.push(star);
                star.click(function () {
                    for (var index = 0; index < this.rating; index++) {

                        starsCollection[index].addClass('ratings_over');
                        var id = this.rating;
                        setTimeout(function () {

                            for (var index1 = 0; index1 < id; index1++) {

                                starsCollection[index1].removeClass('ratings_over');
                                starsCollection[index1].addClass('jquery-ratings-full');
                            }
                        }, 1000)
                    }
                    for (var index = this.rating; index < stars; index++) {

                        starsCollection[index].removeClass('ratings_over');
                        starsCollection[index].removeClass('jquery-ratings-full');
                    }

                    containerElement.rating = this.rating;

                    elements.triggerHandler("ratingchanged", { rating: this.rating });


                });

                star.mouseenter(function () {


                    for (var index = 0; index < this.rating; index++) {

                        starsCollection[index].addClass('jquery-ratings-full');
                    }
                    for (var index = this.rating; index < stars; index++) {

                        starsCollection[index].removeClass('jquery-ratings-full');
                    }
                });

                container.mouseleave(function () {

                    for (var index = 0; index < containerElement.rating; index++) {
                        starsCollection[index].addClass('jquery-ratings-full');
                    }

                    for (var index = containerElement.rating; index < stars; index++) {
                        starsCollection[index].removeClass('jquery-ratings-full');
                    }
                });
            }
        });
    };




    $(document).ready(function () {

        $("#DivComments").hide();
        $("#Quality").kendoGrid({
            sortable: true,


            dataSource: {
                type: "json",
                serverPaging: true,
                //serverSorting: true,
                pageSize: 15,
                transport: { read: { url: '@Url.Action("QualityBind", "Control")', dataType: "json", async: true }


                },



                schema: { data: "Products", total: "TotalCount",
                    model: {
                        fields: {
                            NewAccountCreatedDate: { type: "date" }
                        }
                    }
                }

            },
            height: 240,
            scrollable: {
                virtual: true
            },
            sortable: true,
            columns: [

           { field: "CompanyAccountNumber", title: "Account #", width: "6.5%" },
               { field: "CompanyName", title: "Company Name", width: "10.5%" },
               { field: "City", title: "City", width: "8.5%" },
            { field: "StateCode", title: "State", width: "4%" },
              { field: "MainContactPersonName", title: "Main Contact", width: "9%" },
              { field: "PhoneNo1", title: "Phone Number", width: "10%", sortable: false },
              { field: "MainEmailId", title: "Email", width: "19%" },
              { field: "NewAccountCreatedDate", title: "Start Date", width: "8.5%", format: "{0:MM/dd/yyyy HH:mm:ss}" },
              { field: "SalesRepName", title: "Account Manager", width: "9.5%" },
                { field: "LeadStatusText", title: "Account Status", width: "8.5%", template: "<div>#=LeadStatusText#</div>" },
             { field: "LeadStatusText", title: "Action", sortable: false, width: "6.5%", template: '<div><input type="button"  value="Update" class="btn btn-default" id="#=CompanyName#,#=pkCompanyId#" onclick="UpdateStatus(this.id)"  /></div>' }

           ],
            editable: "inline",
            dataBound: function () {

                var gridHeaderRows = $("#Quality tbody th");
                var gridRows = $("#Quality tbody tr");
                var takeGrid = $("#Quality").data("kendoGrid");
                var length = gridRows.length;



                for (i = 0; i < length; i++) {

                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var LeadStatusText = dataItem.LeadStatusText;
                    var StatusImage = '';



                    if (LeadStatusText == "Active") {

                        StatusImage = "<div ><span class='st_active' > ACTIVE </span></div>";
                    }
                    else {
                        StatusImage = "<div><span class='st_inactive' > IN ACTIVE </span></div>";
                    }
                    row.cells[9].innerHTML = StatusImage;
                    GridEffect("Quality", dataItem)
                }


            }


        })//.find("th").addClass("centeralign");


    });


      
</script>
<script type="text/javascript">


</script>
