﻿@{
    ViewBag.Title = "Penal Codes";
}
<style type="text/css">
    .k-input[type="text"] {
        height: 25px;
    }
    .k-focusable input[type="radio"]{
        margin-left: 8px;
        margin-right: 0px;
        vertical-align: -2px;
    }

    .k-pager-wrap.k-grid-pager {
        margin-top: 1px !important;
    }
    .k-btn {
        background: rgba(0, 0, 0, 0) url("../Content/themes/base/images/delete.png") no-repeat scroll center center;
        display: block;
        height: 20px;
    }
    .ddlField1 {
        /*border: 1px solid #A7D2E4;*/
        padding-bottom: 2px;
        margin: 0px;
        padding-left: 3px;
        padding-right: 3px;
        background: url(../Content/themes/base/images/TextBox_Background.png) repeat-x 0px 0px;
        height: 22px;
        padding-top: 2px;
        width: 172px;
    }

    .center-application {
        width: 100% !important;
    }
</style>
@using (Ajax.BeginForm("SavePenalCodes", "Control", new AjaxOptions { OnBegin = "onBegin", OnComplete = "onComplete", OnSuccess = "GetResults" }))
{
    <div id="content-box" style="margin-top: 51px; margin-bottom: 24px;">
        <div class="padding">
            <div id="toolbar-box" style="background-color: #fff;">
                <div class="toolbar" id="toolbar" style="vertical-align:top; padding:0px;">
                    <table style="width: 100%">
                        <tr>
                            <td>
                                <input class="btn btn-default margint5" type="submit" value="Save" id="btnSave" onclick="return CheckValidations();" style="float: right; margin: 15px 8px;">
                            </td>
                            @*<td align="right">
                                <div style="margin-right: 15px">
                                <input class="imgbtnClasspnl" type="submit" value="" id="btnSave" onclick="return CheckValidations();" />
                                input type="image" alt="Save" src="../../Content/themes/base/images/ControlPanel/images/toolbar/save_button.png" title="Save" id="imgSave" onclick="return saveall();" />
                                </div>
                               </td>*@
                        </tr>
                    </table>
                </div>
                <div class="header" style="padding: 4px; width: 100%; margin-bottom:0px;">
                    <i class="billing-info"></i> Penal Codes
                </div>
            </div>
            <div class="clr">
            </div>
            <div id="element-box" style="background-color: #fff;">
                @Html.Partial("ProductManagement")
                <table cellpadding="5" cellspacing="5" style="width: 100%; background-color: #fff;" class="AdminAddInformation">
                    @*<tr>
                        <td class="BlackHeader">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="50%">Penal Codes
                                    </td>
                                    <td align="right" width="44%"></td>
                                    <td align="center"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>*@
                    <tr>
                        <td align="left">
                            <div class="width38" style="width:70%;">
                              <div style="float:left; line-height:29px;" > Choose Location :</div>
                              
                                <div class="form-group" style="float:left;margin-left:5px;">
                                 <select id="divfilterList" onchange="InfoPenalCodeLocation(this);" class="form-control valid"
                                        style="width: 198px;">
                                        <option value="5" selected="selected" id="5">California,Los angeles</option>
                                        <option value="34" id="34">South Carolina</option>
                                    </select>
                                </div>
                            </div>
                        </td>
                        <td align="center">
                            <div id="divMSG" style="display: block; float: left; margin-top: -17px; margin-left: -110px;">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" colspan="3">
                            <div class="m" id="gridPenalCodes">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="clr">
            </div>
        </div>
    </div>
    <div id="divLoading">
    </div>
}
<script type="text/javascript">
    var divMSG = document.getElementById("divMSG");
    function GetResults(Result) {
        if (Result != null) {

            divMSG.style.display = "block";
            divMSG.innerHTML = Result.Message;

            var grid = $("#gridPenalCodes").data("kendoGrid");
            grid.dataSource.read();
            grid.refresh();
        }
    }
</script>
<script type="text/javascript">
    function onBegin() {
        $("#divLoading").html('<image src="./Content/Default/loading-image.gif" alt="Loading, please wait" />');
    }
    function onComplete() {
        $("#divLoading").html("");
    }

</script>



<script type="text/javascript">

    function InfoPenalCodeLocation(Id) {
        var selectedOption = $('#divfilterList').val();
        $.post('@Url.Action("GetPenalCode", "Control")', { fkStateId: selectedOption }, function (data) {
            var grid = $("#gridPenalCodes").data("kendoGrid").dataSource.data(data);
            //grid.dataSource.read();
            //grid.refresh();
        });
        return true;

    }




    function MyRadiotest(nameis, idis) {
        var my_array = idis.split("_");
        if (my_array[0] == 'norange') {
            document.getElementById('norange_' + my_array[1]).checked = false;
            document.getElementById('numeric_' + my_array[1]).checked = false;
            document.getElementById('alphabet_' + my_array[1]).checked = false;
            document.getElementById('norange_' + my_array[1]).checked = true;
            document.getElementById('PenalCode_From_' + my_array[1]).disabled = true;
            document.getElementById('PenalCode_To_' + my_array[1]).disabled = true;
            document.getElementById('PenalCode_' + my_array[1]).disabled = false;

        }
        if (my_array[0] == 'numeric') {
            document.getElementById('norange_' + my_array[1]).checked = false;
            document.getElementById('numeric_' + my_array[1]).checked = false;
            document.getElementById('alphabet_' + my_array[1]).checked = false;
            document.getElementById('numeric_' + my_array[1]).checked = true;
            document.getElementById('PenalCode_From_' + my_array[1]).disabled = false;
            document.getElementById('PenalCode_To_' + my_array[1]).disabled = false;
            document.getElementById('PenalCode_' + my_array[1]).disabled = true;
        }
        if (my_array[0] == 'alphabet') {
            document.getElementById('norange_' + my_array[1]).checked = false;
            document.getElementById('numeric_' + my_array[1]).checked = false;
            document.getElementById('alphabet_' + my_array[1]).checked = false;
            document.getElementById('alphabet_' + my_array[1]).checked = true;
            document.getElementById('PenalCode_From_' + my_array[1]).disabled = false;
            document.getElementById('PenalCode_To_' + my_array[1]).disabled = false;
            document.getElementById('PenalCode_' + my_array[1]).disabled = false;
        }

    }

    function deletePenalCode(Id) {
        if (confirm("Are you sure you want to delete this record?")) {
            $.post('@Url.Action("DeletePenalCode", "Control")', { pkPenalCodeId: Id }, function (data) {
                if (data != null) {

                    divMSG.style.display = "block";
                    divMSG.innerHTML = data.Message;

                    var grid = $("#gridPenalCodes").data("kendoGrid");
                    grid.dataSource.read();
                    grid.refresh();

                }
            });
            return true;
        }
        else {
            return false;
        }
    }
    function CheckValidations() {
        //  var grid = $("#gridPenalCodes").data("kendoGrid");
        //grid.refresh();



        var selectedOption = $('#divfilterList').val();
        //  deletePenalCode1(selectedOption);

        // function deletePenalCode1(selectedOption)
        // {

        $.post('@Url.Action("DeletePenalCode1", "Control")', { pkPenalCodeId1: selectedOption }, function (data) {
            if (data != null) {

            }
        }, 1);


        // }


    }
    function saveall() {
        var grid = $("#gridPenalCodes").data("kendoGrid");
        grid.saveChanges();
        grid.dataSource.read();
        grid.refresh();
    }
    var radioBtns = '<form id="#=pkPenalCodeId#"><input type="radio" name="range" value="0" /> No Range<input type="radio" name="range" value="1" /> Numeric<input type="radio" name="range" value="2" /> Alphabet</form>';
    var SaveFlag = false;
    $("#gridPenalCodes").kendoGrid({
        height: 700,
        pageable: true,
        sortable: false,
        serverPaging: true,
        columns: [  //{ field: "pkPenalCodeId", title: "", template: '<input type="hidden" name="hdnall_#=pkPenalCodeId#" value="#=pkPenalCodeId#" />' },
                    { field: "", title: "Range Type", width: "50px", template: '<input id="norange_#=pkPenalCodeId#" type="radio" #=IsNoRange ? "checked=true" : "" # name="norange_#=pkPenalCodeId#"  onclick="MyRadiotest(this.name,this.id)" > No Range</input><input id="numeric_#=pkPenalCodeId#" type="radio" #=IsNumeric ? "checked=true" : "" # name="numeric_#=pkPenalCodeId#" onclick="MyRadiotest(this.name,this.id)" > Numeric</input><input id="alphabet_#=pkPenalCodeId#" type="radio" #=IsAlphabet ? "checked=true" : "" # name="alphabet_#=pkPenalCodeId#" onclick="MyRadiotest(this.name,this.id)" > Alphabet</input>', sortable: false, width: "260px" },
        //{ field: "IsNumeric", title: "Numeric", width: "50px", template: '<input type="radio" #=IsNumeric ? "checked=true" : "" # name="range#=pkPenalCodeId#" ></input>', sortable:false, width: "70px" },
        //{ field: "IsAlphabet", title: "Alphabet", width: "50px", template: '<input type="radio" #=IsAlphabet ? "checked=true" : "" # name="range#=pkPenalCodeId#" ></input>', sortable:false, width: "70px" },
        //{ field: "IsNoRange", title: "No Range", width: "50px", sortable:false, width: "75px" },
        //{ field: "IsNumeric", title: "Numeric", width: "50px", sortable:false, width: "75px" },
        //{ field: "IsAlphabet", title: "Alphabet", width: "50px", sortable:false, width: "70px" },
                    { field: "PenalCode", title: "Penal Code", template: '<input type="text" id="PenalCode_#=pkPenalCodeId#" name="PenalCode_#=pkPenalCodeId#" class="k-textbox"  required validationmessage="Required"  value="#=PenalCode#" style="width: 80px" /><input type="hidden" name="hdnall_#=pkPenalCodeId#" value="#=pkPenalCodeId#" />', width: "80px" },
                    { field: "PenalTitle", title: "Penal Title", template: '<input type="text" name="PenalTitle_#=pkPenalCodeId#" value="#=PenalTitle#" class="k-textbox"  required validationmessage="Required" style="width: 250px" />', width: "250px" },
                    { field: "PenalDescription", title: "Description", template: '<input type="text" name="PenalDescription_#=pkPenalCodeId#" value="#=PenalDescription#" class="k-textbox"  required validationmessage="Required" style="width: 300px" />', width: "300px" },
                    { field: "PenalCode_From", title: "Range From", template: '<input type="text" id="PenalCode_From_#=pkPenalCodeId#" name="PenalCode_From_#=pkPenalCodeId#" value="#=PenalCode_From#" class="k-textbox" style="width: 80px" />', width: "100px" },
                    { field: "PenalCode_To", title: "Range To", template: '<input type="text" id="PenalCode_To_#=pkPenalCodeId#" name="PenalCode_To_#=pkPenalCodeId#" value="#=PenalCode_To#" class="k-textbox"   style="width: 80px" />', width: "100px" },
                    { field: "pkPenalCodeId", title: "Delete", width: "50px", template: '<a class="k-btn"  id="btndel" onclick="return deletePenalCode(#=pkPenalCodeId#);" ></a>' }],
        editable: true,
        toolbar: ["create", "cancel"], // specify toolbar commands "create", "save", "cancel"

        dataBound: function (e) {

        },
        dataSource: {
            schema: {
                model: { // define the model of the data source. Required for validation and property types.
                    id: "pkPenalCodeId",
                    fields: {
                        pkPenalCodeId: { editable: false, nullable: false },
                        fkStateId: { editable: false, nullable: false },
                        ProductCode: { editable: false, nullable: false },
                        PenalCodeRangeType: { editable: false },
                        PenalCode: { editable: true, validation: { required: { message: "Required" } } },
                        PenalTitle: { editable: true, validation: { required: { message: "Required" } } },
                        PenalDescription: { editable: true, validation: { required: { message: "Required" } } },
                        PenalCode_From: { editable: true },
                        PenalCode_To: { editable: true },
                        IsNumeric: { type: "boolean", editable: true },
                        IsNoRange: { type: "boolean", editable: true },
                        IsAlphabet: { type: "boolean", editable: true }
                    }
                }
            },
            error: function (e) {
                var xhr = e.xhr;
                var statusCode = e.status;
                var errorThrown = e.errorThrown;
                if (statusCode = "500") {
                    SaveFlag = false;
                    alert("There is error while saving your records.");
                }
            },
            batch: true,
            transport: {
                create: {
                    url: '@Url.Action("AddPenalCode", "Control")',
                    type: "POST"
                },
                read: {
                    url: '@Url.Action("GetPenalCode", "Control")',
                    type: "POST"

                },
                update: {
                    url: '@Url.Action("UpdatePenalCode", "Control")',
                    type: "POST"
                },
                destroy: {
                    url: '@Url.Action("DeletePenalCode", "Control")',
                    type: "POST"
                },
                parameterMap: function (data, operation) {
                    if (operation != "read") {

                        var result = {};

                        for (var i = 0; i < data.models.length; i++) {
                            var penalcode = data.models[i];

                            for (var member in penalcode) {
                                result["penalcodes[" + i + "]." + member] = penalcode[member];
                            }
                        }

                        return result;
                    }
                    else if (operation == "read") {
                        return { fkStateId: $('#divfilterList').val() }
                    }
                }
            }
        }
    });



    $("#gridPenalCodes").delegate(".details-button", "click", function (e) {
        var grid = $("#gridPenalCodes").data("kendoGrid");
        var newrowdata = grid.dataItem($(this).closest("tr"));
        alert(newrowdata.pkPenalCodeId);
    });
</script>
