﻿@model Emerge.Models.AdCompanyModel1
@{
    ViewBag.Title = "Company Price";
}
<style>
    #divMSG1 .successmsg {
        color: #fff !important;
    }

    #dvMsg .successmsg {
        color: green !important;
    }

    #kendoGrid .tbCompanyPrice {
        width: 50px;
        background-color: #ffffaa;
    }

    #kendoGrid .tbDefaultPrice {
        width: 50px;
    }

    .k-grid-header .k-header {
        font-weight: normal !important;
        font-size: 14px !important;
    }

    .offbtnclass {
    }

    .onbtnclass {
    }

    .nav > li > a:hover, .nav > li > a:focus {
        color: #fff !important;
    }

    .simpleTooltip3 {
        font-family: inherit;
        font-size: 13px;
    }

    .main {
        font-size: 14px;
        width: 100%;
        /*background-color: #f2f7fb;*/
    }
    /*---- 04-11-2015-----*/
    .green-input,
    .grey-input,
    .red-input {
        width: 147.5px;
        float: left;
        margin: 12px 7px;
        text-align: left;
    }

    .fill-green,
    .fill-grey,
    .fill-red {
        padding: 6px 7px !important;
    }

    .green-input,
    .grey-input,
    .input-group .form-control,
    .red-input {
        text-align: left;
    }

    .green-input {
        border: 1px solid #5db21f;
        height: 25px;
    }

    .fill-green,
    .green-btn-area {
        border-radius: 0;
        height: 25px;
    }

    .fill-green {
        background-color: #5db21f;
    }

    .green-btn-area {
        font-size: 12px;
        color: #4b9714;
    }

    .red-input {
        border: 1px solid #d53a2c;
        height: 25px;
    }

    .fill-red,
    .red-btn-area {
        border-radius: 0;
        height: 25px;
    }

    .fill-red {
        background-color: #d53a2c;
    }

    .red-btn-area {
        font-size: 12px;
        color: #d53a2c;
    }

    .grey-input {
        border: 1px solid #9d9d9d;
        height: 25px;
    }

    .fill-grey,
    .grey-btn-area {
        border-radius: 0;
        height: 25px;
    }

    .fill-grey {
        background-color: #9d9d9d;
    }

    .grey-btn-area {
        font-size: 12px;
        color: #9d9d9d;
    }

    .add_newBtn {
        margin: 15px 0px;
        /*background: transparent linear-gradient(to bottom, #FBFBFB 0%, #E3E1E1 100%) repeat scroll 0% 0% !important;
    width: 120px;
    text-align: center;
    padding: 10px;
    border: 1px solid #A4A4A4;
    border-radius: 5px;*/
    }

    .k-detail-row:hover {
        background: transparent none repeat scroll 0 0 !important;
    }

    #divMainTemplete .btnComplete, .k-alt > td > div div:nth-child(2) input, .k-focusable td > div div:nth-child(2) input {
        border: medium none;
        border-radius: 3px;
        color: #666;
    }
</style>

<div class="buttons-bar" style="margin-top: 58px;">
    <img id="imgApplicant15" class="plus-minus" src="~/Content/themes/base/images/mastercard.jpg" alt="expand" style="width: 48px; height: 30px; margin-left: 15px; margin-top: 12px; float: left">

    <div>
        @if (ViewBag.CompanyId != 0)
        {
            var cityNAME = Model.City;
            if (Model.City == "-3")
            {
                cityNAME = Model.CityName;
            }

            <div style="float: left; margin-left: 12px; margin-top: 15px; font-size: 17px; font-weight: bold;">@Model.CompanyName&#32;&#91;@cityNAME&#44;@Model.State_Code&#93;</div>
        }
        else
        {
            <div>
                Company
            </div>

        }
    </div>
    <div class="horiz-ch-menu hori-btns">
        <ul>
            @*<li>
                @if (ViewBag.CompanyId != 0)
                {
                <a href="../Control/AddCompanyLocation?_c=@ViewBag.CompanyId" class="btn btn-default" style="width: 85px;margin-top: -30px; ">Save</a>
                "<img id="imgApplicant13" class="plus-minus" src="/Content/themes/base/images/arrowexpand.png" alt="expand" style="margin-top: -5px;">&nbsp;Location</a>
                }
                else
                {
                <a href="../Control/AddCompanyLocation" class="btn btn-default" style="width: 85px; margin-top: -30px;">Save</a>
                @*<img id="imgApplicant14" class="plus-minus" src="/Content/themes/base/images/arrowexpand.png" alt="expand" style="margin-top: -5px;">&nbsp;Location</a>

                }
                </li>*@
            <li>
                <button class="btn btn-default" type="button" title="Save" onclick="GetResult();" id="btnSave" style="width: 74px; margin-top: -35px;">Save</button>
            </li>
            <li>
                <button class="btn btn-default" type="button" title="Save to All" onclick="SetValues();" id="SavetoAll" style="width: 90px; margin-top: -35px;">Save to All</button>
            </li>
            <li>

                <a href="../Control/GetAllCompanies" class="btn btn-danger" style="width: 74px; margin-top: -37px; height: 35px; line-height: 5px; color: #fff !important;">
                    Cancel
                </a>
            </li>


        </ul>
    </div>
</div>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <div style="height: 1px;">
    </div>
    <tr>
        <td width="25%" valign="top">
            <div style="width: 100%; height: 100%; overflow: hidden; margin-top: 10px;">
                <div id="content-box1">
                    <div class="padding1">
                        <div id="toolbar-box">
                            @*                            <div class="t">
                                <div class="t">
                                <div class="t">
                                </div>
                                </div>
                                </div>*@
                            <div class="m m_padd0">
                                <div class="header1" style="padding: 15px; padding: 10px 0px; margin: 0px 10px; border-bottom: 1px solid rgb(221, 221, 221);">
                                    <img src="@Url.Content("~/Content/themes/base/images/call-log-icon.png")" alt="" style="border: none; height: 20px; width: 18px;" />
                                    <span style="color: #010102">Call Log</span>
                                </div>
                                <div class="" id="Div3">
                                    <table width="100%">
                                        <tr>
                                            <td width="100%" style="padding: 0px 10px;">
                                                @* @Html.TextAreaFor(n => n.TxtCallLog, new { @style = "height: 60px; width: 98%;" })*@
                                                <div class="col-sm-6">
                                                    <div class="input-group" style="margin: 12px 5px 12px 0px;">
                                                        <input type="hidden" value="@ViewBag.Status" id="hdnleadstatus" />
                                                        <input type="hidden" value="@ViewBag.MilestoneStatus" id="CurrentMileStoneStatus" />
                                                        @if (ViewBag.IsActive == 1)
                                                        {
                                                            <img id="imgbtn_6" alt="" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-5-on.png")" style="float:left; width:100%;" onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" />

                                                        }
                                                        else if (ViewBag.IsActive == 2)
                                                        {
                                                            <img id="imgbtn_6" alt="" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")" style="float:left; width:100%;" onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" />

                                                        }
                                                        else
                                                        {
                                                            <img id="imgbtn_6" alt="" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-off.png")" style="float:left; width:100%;" onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" />

                                                        }
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-group" style="margin: 12px 0px 12px 5px;">
                                                        <img id="imgbtn_7" alt="" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-off.png")" style="float:left; width:100%;" onclick="ShowReasionWindow(this.id);" onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" />
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="input-group" style="margin: 12px 5px 12px 0px;">
                                                        <img id="imgbtn_8" class="offbtnclass" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-off.png")" style="float:left; width:100%;" onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" onclick="UpdateStatus(this.id);" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="input-group" style="margin: 12px 0px 12px 5px;">
                                                        <img id="imgbtn_9" class="offbtnclass" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-off.png")" style="float:left; width:100%;" onmouseover="ImgOver(this.id)" onmouseout="ImgOut(this.id)" onclick="UpdateStatus(this.id);" />
                                                    </div>
                                                </div>
                                                <div style="float: left;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td align="center"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>

                                                <table style="height: auto;" class="form-grid-head" cellpadding="2" cellspacing="2" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 50%;">
                                                                Date
                                                            </td>

                                                            <td style="width: 50%; text-align: left;">
                                                                Rep
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <table width="100%" class="align-boxes" style="border: 0px solid #ffffff; background-color: #ffffff; padding: 0 0 0 10px;">
                                                    @if (Model.CollGetCommentsForLeadResult != null)
                                                    {
                                                        for (int i = 0; i < Model.CollGetCommentsForLeadResult.Count; i++)
                                                        {
                                                            string Date = "f";
                                                            string Time = Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate.Date.ToString("hh:MM");
                                                            string Space = " ";
                                                            string Date_disp = Date;
                                                            <tr style="background-color: #ffffff">
                                                                <td style="padding-left: 10px; width: 147.5px; height: 20px;" align="left">

                                                                    <span id="LblDate-@i">@Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate.ToString("MM/dd/yyyy, hh:mm tt").Replace(",", " ")</span>
                                                                    <label style="margin-left: 3px">
                                                                        @Model.CollGetCommentsForLeadResult.ElementAt(i).FirstName.Substring(0, 1).ToUpper()@Model.CollGetCommentsForLeadResult.ElementAt(i).LastName.Substring(0, 1).ToUpper()
                                                                    </label>

                                                                </td>
                                                                <td style="width: 147.5px; height: 25px;" align="left">
                                                                    @{int a;
                                                                    if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#').Count() < 2) { a = 0; } else { a = 1; }
                                                                    //string z = Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[a];
                                                                    switch (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[a])
                                                                    {

                                                                        case "1":

                                                                            <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                                <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-1-on.png")" class="simple_Tooltip1" style="width:100%;" title="File Started" alt="File Started" />
                                                                                @*<input class="form-control grey-btn-area" id="inputGroupSuccess6" aria-describedby="inputGroupSuccess3Status" value="File Started" type="button">*@
                                                                            </div>
                                                                            break;

                                                                        case "2":
                                                                        <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-2-on.png")" class="simple_Tooltip1" style="width:100%;" title="Proposal Out" alt="Proposal Out" />
                                                                            @*<input class="form-control grey-btn-area" id="inputGroupSuccess5" aria-describedby="inputGroupSuccess3Status" value="Proposal Out" type="button">*@
                                                                        </div>
                                                                            break;

                                                                        case "3":
                                                                        <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-3-on.png")" class="simple_Tooltip1" style="width:100%;" title="Agreement Out" alt="Agreement Out" />
                                                                            @*<input class="form-control grey-btn-area" id="inputGroupSuccess4" aria-describedby="inputGroupSuccess3Status" value="Agreement Out" type="button">*@
                                                                        </div>
                                                                            break;

                                                                        case "4":
                                                                        <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-4-on.png")" class="simple_Tooltip1" style="width:100%;" title="Agreement In" alt="Agreement In" />
                                                                            @*<input class="form-control grey-btn-area" id="inputGroupSuccess8" aria-describedby="inputGroupSuccess3Status" value="Agreement In" type="button">*@
                                                                        </div>
                                                                            break;

                                                                        case "5":
                                                                        <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-5-on.png")" class="simple_Tooltip1" style="width:100%;" title="Activated" alt="Activated" />
                                                                            @*<input class="form-control grey-btn-area" id="inputGroupSuccess9" aria-describedby="inputGroupSuccess3Status" value="Activated" type="button">*@
                                                                        </div>
                                                                            break;

                                                                        case "10":
                                                                        <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                            <img src="@Url.Content("~/Content/themes/base/images/demo_scheduled.png")" class="simple_Tooltip1" style="width:100%;" title="Demo Scheduled[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].AsDateTime().Date.ToString("dd/MM/yyyy hh:MM tt"),@Model.CompanyName,@Model.MainPhone]" alt="" onclick="ShowDemoSchedule()" />
                                                                            <input type="hidden" id="hdnDemosendid" value="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" />
                                                                        </div>
                                                                            break;

                                                                        case "11":
                                                                        <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                            <img src="@Url.Content("~/Content/themes/base/images/document_sent.png")" class="simple_Tooltip1" style="width:100%;" onclick="DocumentSentf(this.id)" id="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" title="Document Sent[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].Remove(0, 2)]" alt="" />
                                                                            @*<input class="form-control grey-btn-area simple_Tooltip1" onclick="DocumentSentf(this.id)" id="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" title="Document Sent[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].Remove(0, 2)]" type="button">*@
                                                                        </div>
                                                                            break;

                                                                        case "12":
                                                                        <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                            <img src="@Url.Content("~/Content/themes/base/images/QualityControlSurvey.png")" class="simple_Tooltip1" style="width:100%;" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2]" alt="Quality Control Survey" />
                                                                            @*<input class="form-control grey-btn-area simple_Tooltip1" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2]" value="Quality Control Survey" type="button">*@
                                                                        </div>
                                                                            break;

                                                                        case "13":
                                                                        <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                            <img src="@Url.Content("~/Content/themes/base/images/Demo_Completed.png")" class="simple_Tooltip1" style="width:100%;" title="Demo Completed" alt="Demo Completed" />
                                                                            @*<input class="form-control grey-btn-area simple_Tooltip1" id="inputGroupSuccess10" aria-describedby="inputGroupSuccess3Status" value="Demo Completed" type="button">*@
                                                                        </div>
                                                                            break;

                                                                        case "6":
                                                                        <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")" class="simple_Tooltip1" style="width:100%;" title="Account Inactive" alt="Account Inactive" />
                                                                            @*<input class="form-control grey-btn-area simple_Tooltip1" id="inputGroupSuccess7" aria-describedby="inputGroupSuccess3Status" value="Account Inactive" type="button">*@
                                                                        </div>
                                                                            break;

                                                                        case "7":
                                                                        <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-on.png")" class="simple_Tooltip1" style="width:100%;" title="Locked" alt="Locked" />
                                                                            @*<input class="form-control grey-btn-area simple_Tooltip1" id="inputGroupSuccess11" aria-describedby="inputGroupSuccess3Status" value="Locked" type="button">*@
                                                                        </div>
                                                                            break;

                                                                        case "8":
                                                                        <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-on.png")" class="simple_Tooltip1" style="width:100%;" title="Past Due" alt="Past Due" />
                                                                            @*<input class="form-control grey-btn-area simple_Tooltip1" id="inputGroupSuccess12" aria-describedby="inputGroupSuccess3Status" value="Past Due" type="button">*@
                                                                        </div>
                                                                            break;

                                                                        case "9":
                                                                        <div class="input-group" style="margin: 10px 0px 10px 5px;">
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-on.png")" class="simple_Tooltip1" style="width:100%;" title="In Collections" alt="In Collections" />
                                                                            @*<input class="form-control grey-btn-area simple_Tooltip1" id="inputGroupSuccess13" aria-describedby="inputGroupSuccess3Status" value="In Collections" type="button">*@
                                                                        </div>
                                                                            break;

                                                                        default:
                                                                            break;
                                                                    }
                                                                    }
                                                                </td>
                                                            </tr>

                                                            <tr style="background-color: #ffffff">
                                                                <td colspan="2" style="text-align: left; font-size: 10px">
                                                                    @if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments != null)
                                                                    {

                                                                        string[] stringSeparators = new string[] { "##" };
                                                                        if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Contains("##"))
                                                                        {

                                                                        }
                                                                        else
                                                                        {
                                                                            <div style="padding: 10px; font-size: 10px">
                                                                                <label class="simpleTooltip3" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")">@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")</label>
                                                                            </div>
                                                                        }

                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    }

                                                </table>

                                                <div class="call_logtextarea" style="padding: 10px 0px; border-top: 1px solid rgb(221, 221, 221); margin-left: 10px; margin-right: 10px;">
                                                    @Html.TextAreaFor(n => n.TxtCallLog, new { @style = "height: 60px; width: 100%;" })
                                                </div>
                                                <div style="margin-right: 10px; float: right;">
                                                    <label style="color: Red;margin-right:4px;" id="validation"></label>
                                                    <input type="button" value="Submit" onclick="SaveCallLog()" style="background: rgb(0, 120, 189) none repeat scroll 0% 0%; color: rgb(255, 255, 255); height: 35px; width: 70px; border-radius: 5px; border: 0px none; margin-bottom: 15px;" />
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <script type="text/javascript">
                                    function ImgOver(imgId) {


                                        var img = document.getElementById(imgId);
                                        var currntistone = imgId.split("_")[1];
                                        var hdnleadstatus = document.getElementById("CurrentMileStoneStatus").value;

                                        if (hdnleadstatus != currntistone) {

                                            if (document.getElementById(imgId).src.indexOf("milestone-5-on") == -1 && document.getElementById(imgId).src.indexOf("milestone-6-on") == -1) {
                                                if (img != null) {
                                                    //alert(img.src);
                                                    var path = img.src;
                                                    path = path.replace('off.png', 'on.png')
                                                    img.src = path;
                                                }
                                                return false;
                                            }

                                        }
                                    }
                                    function ImgOut(imgId) {
                                        var hdnleadstatus = document.getElementById("CurrentMileStoneStatus").value;
                                        var currntistone = imgId.split("_")[1];

                                        if ((hdnleadstatus != currntistone)) {
                                            if (document.getElementById(imgId).src.indexOf("milestone-5-on") == -1 && document.getElementById(imgId).src.indexOf("milestone-6-on") == -1) {
                                                var img = document.getElementById(imgId);
                                                if (img != null) {
                                                    var path = img.src;
                                                    path = path.replace('on.png', 'off.png')
                                                    img.src = path;
                                                }
                                                SetCurrentCompanyStatus(hdnleadstatus);
                                                return false;
                                            }

                                        }

                                    }


                                    function SetCurrentCompanyStatus(CompanyStatus) {
                                        if (CompanyStatus == 7) {
                                            //locked
                                            var IconLockedSrc = document.getElementById("imgbtn_7").src;
                                            var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                                            document.getElementById("imgbtn_7").src = NewIconLockedSrc;
                                        }

                                        if (CompanyStatus == 6) {

                                            //active
                                            var IconActivatedSrc = document.getElementById("imgbtn_6").src;

                                            var NewIconActivated = '';
                                            if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {
                                                NewIconActivated = IconActivatedSrc.replace("6-off.", "5-on.");
                                            }
                                            else if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {

                                                NewIconActivated = IconActivatedSrc.replace("6-off.", "6-on.");
                                            }
                                            else {
                                                NewIconActivated = IconActivatedSrc.replace("5-off.", "5-on.");
                                            }
                                            document.getElementById("imgbtn_6").src = NewIconActivated;
                                        }
                                        else if (CompanyStatus == 8) {
                                            // pASTDUE
                                            var IconPastDueSrc = document.getElementById("imgbtn_8").src;
                                            var NewIconPastDueSrc = IconPastDueSrc.replace("off.", "on.");
                                            document.getElementById("imgbtn_8").src = NewIconPastDueSrc;
                                            //                                                                            var IconLockedSrc = document.getElementById("imgbtn_7").src;
                                            //                                                                            var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                                            //                                                                            document.getElementById("imgbtn_7").src = NewIconLockedSrc;
                                        }
                                        else if (CompanyStatus == 9) {
                                            //InCollection
                                            var IconInCollectionSrc = document.getElementById("imgbtn_9").src;
                                            var NewIconInCollectionSrc = IconInCollectionSrc.replace("off.", "on.");
                                            document.getElementById("imgbtn_9").src = NewIconInCollectionSrc;
                                            //                                                                            var IconLockedSrc = document.getElementById("imgbtn_7").src;
                                            //                                                                            var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                                            //                                                                            document.getElementById("imgbtn_7").src = NewIconLockedSrc;
                                        }
                                        else if (CompanyStatus == 10) {
                                            // iNACTIVE

                                            var IconActivatedSrc = document.getElementById("imgbtn_6").src;
                                            var NewIconActivated = '';
                                            if (IconActivatedSrc.indexOf("milestone-1-off") != -1) {
                                                NewIconActivated = IconActivatedSrc.replace("1-off.", "6-on.");
                                            }
                                            else if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {
                                                NewIconActivated = IconActivatedSrc.replace("6-off.", "6-on.");
                                            }
                                            else {
                                                NewIconActivated = IconActivatedSrc.replace("5-off.", "6-on.");
                                            }

                                            document.getElementById("imgbtn_6").src = NewIconActivated;
                                        }

                                    }

                                </script>
                                <div class="clr">
                                </div>
                            </div>
                            @*<div class="b">
                                <div class="rightBottomRptHdrBorder">
                                </div>
                                <div class="leftBottomRptHdrBorder">
                                </div>
                                </div>*@
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>

            </div>
        </td>

        <td width="75%" valign="top">
            <div style="width: 100%; height: 100%; overflow: hidden;">
                <div id="content-box">
                    <div class="padding">

                        <div class="clr">
                        </div>
                        <div class="clr">
                        </div>
                        <div class="clr">
                        </div>
                        <div style="width: 100%; text-align: center;">
                            <div id="dvMsg" style="text-align: center;">
                                @Html.Raw(@ViewBag.Message)
                            </div>
                        </div>
                        <div id="element-box">

                        </div>
                        <div class="">
                            <div class="main" style="background-color: #fff;">
                                <div id="element-boxloction" style="margin-bottom: 40px;">
                                    @*<div class="t">
                                        <div class="t">
                                        <div class="t">
                                        </div>
                                        </div>
                                        </div>*@
                                    <div class="fixed-margin">
                                        @*<div class="Center_ImgMVC" style="padding: 0px 0px 10px 0px; width: 100%; height: 17px;
                                            padding-top: 3px;">*@
                                        <div id="tabstrip">
                                            <ul class="nav nav-tabs" id="Mytab">
                                                <li id="liProfile"><a id="lnkProfile" href="AddCompanies?Id1=@Model.ObjCompLocationId" title="Profile ">Profile<span id="spanPL"></span></a> </li>
                                                <li id="liLocation"><a id="lnkLocation" href="LocationByCompanyId?Id1=@Model.ObjCompLocationId" title="Location">Location<span id="spanET"></span></a> </li>
                                                <li id="liUsers"><a id="lnkUsers" href="UsersByCompanyId?Id1=@Model.ObjCompLocationId" title="Users">Users<span id="spanST"></span></a></li>
                                                <li id="liPricing" class="active"><a id="lnkPricing" href="PriceByCompanyId?Id1=@Model.ObjCompLocationId" title="Pricing">Pricing <span id="spanMT"></span></a></li>
                                                <li id="liPreferences"><a id="lnkPreferences" href="ReferenceByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">Preferences<span id="spanpre"></span></a></li>
                                                <li id="liDocuments"><a id="lnkDocuments" href="DocumentsByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">Documents<span id="spandd"></span></a></li>
                                                <li id="liAPI"><a id="lnkAPI" href="APIByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">API<span id="spanapi"></span></a></li>
                                                <li id="liSales"><a id="lnkSales" href="SalesByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">Sales<span id="spansale"></span></a></li>
                                                <li id="liInvoice"><a id="lnkInvoice" href="InvoiceByCompanyId?Id1=@Model.ObjCompLocationId" title="Preferences">Invoice<span id="spaninvo"></span></a></li>
                                            </ul>
                                        </div>
                                        @*</div>*@

                                        <div id="DatasourcesDiv" class="expand blue-trip" style="margin-top: 10px;">
                                            <div style="width: 100%">
                                                <div id="divMSGCredential" style="width: 100%; text-align: center;">
                                                </div>
                                                <div style="width: 100%; font-weight: bold; font-size: 13px; background-color: #ffffaa; float: left; margin-bottom: 10px; padding: 10px;">
                                                    <div style="width: 82%; float: left;">
                                                        Global Credentials copies the home location's credentials and pricing structure
                                                        to all other locations.
                                                    </div>
                                                    <div style="width: 15%; float: left; text-align: center;">
                                                        Global Credentials
                                                    </div>
                                                    <div style="width: 3%; float: left;">
                                                        <input id="IsGlobalCredential" name="IsGlobalCredential" data-val="true" data-val-required="The IsGlobalCredential field is required." class="css-checkbox chk-style" type="checkbox" onclick="EnableDisableGlobalCredential();" style="display: block;" checked="@Model.IsGlobalCredential" />
                                                        <label for="IsGlobalCredential" class="css-label"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="width: 100%">

                                                <div id="Packages" style="width: 100%; float: left; margin-bottom: 10px; border: 1px solid #ccc;">
                                                    <div class="header" style="margin-bottom: 2px;">
                                                        <font color="white">Universal Packages</font>
                                                    </div>
                                                    @*<span><b>Universal Packages</b></span><br />*@
                                                    @*<br />*@
                                                    @if (Model.IsEdit)
                                                    {
                                                        <div id="UniversalPackages" style="border-bottom-style: solid; margin: 5px;">
                                                        </div>
                                                    }
                                                    @*<br />*@
                                                    <div class="header" style="margin-bottom: 0px; float:left; margin-top: 15px; width:100%;">
                                                        <font color="white">Custom Packages</font>
                                                    </div>
                                                    @*<span><b>Custom Packages</b></span>*@
                                                    @if (Model.IsEdit)
                                                    {
                                                        <div id="divMSG1" style="width: 25%;position: absolute; margin-top: 32px; margin-bottom: 19px; font-size: 12px; padding-bottom: 5px; display: block; text-align: right; margin-left: 300px;">
                                                        </div>

                                                        <div id="CustomPackages" style="margin: 5px 5px 0px; float:left; width:99%;">
                                                        </div>
                                                    }
                                                    @if (Model.IsEdit)
                                                    {
                                                        <div id="AddNew" class="add_newBtn" style="margin: 5px; float:left;">
                                                            <img src="@Url.Content("~/Content/themes/base/images/add-new.png")" onclick="AddNewPackage()"
                                                                 id="AddCustomPackages" style="margin-right:10px; cursor: pointer;" />
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div id="AddNew" class="add_newBtn" style="display: none">
                                                            <img src="@Url.Content("~/Content/themes/base/images/add-new.png")" onclick="AddNewPackage()"
                                                                 id="AddCustomPackages" style="margin-right:10px; cursor: pointer;" />
                                                        </div>
                                                    }

                                                </div>
                                            </div>
                                            <br />
                                            <div id="kendoGrid" style="width: 100%; float: left">
                                            </div>
                                        </div>
                                        <div class="clr">
                                        </div>
                                    </div>
                                    <div class="b">
                                        <div class="b">
                                            <div class="b">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <input type="hidden" id="hdCompanyId" value="@ViewBag.CompanyId" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </td>
    </tr>
</table>

<div id="popupReasionContainer" style="display: none;">
    <div id="popupReasion">
        <table border="0" id="tableReason" style="width: 300px;" cellpadding="0" cellspacing="0">
            <tr>
                <td></td>
            </tr>
            <tr>
                <td width="100%">
                    <table width="100%" cellpadding="0" style="text-align: left;" cellspacing="0">
                        <tr>
                            <td align="right">
                                Reason :
                            </td>
                            <td align="left">
                                @Html.TextBox("txtReasion", "Reason for Testing")
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="center">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <input type="button" value="Save" onclick="LockCompany();" />
                                        </td>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
@Html.HiddenFor(m => m.IsEdit)
@Html.HiddenFor(m => m.pkCompanyId)
@Html.HiddenFor(m => m.MainEmail)
@Html.HiddenFor(m => m.ObjCompLocationId, new { id = "hdnComplocationidName" })
<div id="divManageCustomPackages">
</div>
<script>

    $(document).ready(function () {

        if ("@Model.IsEdit" == "True" || "@Model.IsEdit" == true) {
            Pageload();
        }

        function Pageload() {

            //document.getElementById("tdAdmin").style.display = 'none';

            $("#popupReasion").kendoWindow();
            $("#popupReasion").data("kendoWindow").close();

            if ("@ViewBag.Status" == "8") {
                $("#imgbtn_8").prop("src", "../Content/themes/base/Images/emerge-office-milestone-8-on.png");
                $("#imgbtn_8").prop("class", "onbtnclass");

            }
            else if ("@ViewBag.Status" == "9") {

                $("#imgbtn_9").prop("src", "../Content/themes/base/Images/emerge-office-milestone-9-on.png");
                $("#imgbtn_9").prop("class", "onbtnclass");
            }
            /****lock/unlock****/
            if ("@ViewBag.IsEnabled" == "False") {
                $("#imgbtn_7").prop("src", "../Content/themes/base/Images/emerge-office-milestone-7-on.png");
            }

        }

    });


    var TotalModifiedGridCount = 0;
    var Counter = 0;
    function GetResult() {



        $("[data-role='grid']").each(function () {

            counter++;
        });

        $("[data-role='grid']").each(function () {

            TotalModifiedGridCount++;
            if ($(this).attr("id").indexOf("dvid_") != -1 || $(this).attr("id").indexOf("UniversalPackages") != -1 || $(this).attr("id").indexOf("dvesc_") != -1) {


                $(this).data("kendoGrid").dataSource.sync();
            }
        });
        setTimeout("RefreshPagewithId()", 5000);
        submitAll = "0";
    }





    function changeBackground() {
        var Ids = $('#hdUpdatePricesId').val().split(',');
        for (var i = 1; i < Ids.length; i++) {
            if (Ids[i] != '') {
                $("#" + Ids[i]).css("background-color", "#ffffff");
            }
        }
    }


    function RefreshPagewithId() {



        var pkCompanyId = document.getElementById("pkCompanyId").value;
        window.location.href = window.location.href + '&_ac=1'

    }


    function waitForjQuery() {
        if (typeof jQuery != 'undefined') {

            $('#dvid_10').find('.k-focusable').find('tr').each(function () {
                var ch = $(this).find('td').eq(1).html();

            });
        } else {
            window.setTimeout(function () { waitForjQuery(); }, 1000);
        }
    }


    $('#dvid_10').load(function () {

    });



    function HideEscreensProducts() {



        $('#dvid_10').find("input[type='checkbox']").css('display', 'none');
        $('#dvid_10').find('.imgAutoReview').css('display', 'none');



        $('#dvid_10').find('.k-focusable').find('tr').each(function () {

            var ch = $(this).find('td').eq(2).html();

            if (ch == "ESS") {

                $(this).find('td').eq(0).find("input[type='checkbox']").css('display', 'block');
                $(this).find('td').eq(3).css('display', 'none');
            }
        });


    }





    function hideShowLinkDiv(common, type) {

        if (type == 1) {
            $("#divPrice_" + common).css("display", "block");
            $("#divLinkPrice_" + common).css("display", "none");
            $("#ImageLinked_" + common).attr('src', '@Url.Content("~/Content/themes/base/images/link-icon.png")');
            //            $("#txtProductLinkedPrice_" + common).val("");
            //            $("#txtProductPrice_" + common).val("");

        }
        else if (type == 2) {
            $("#divPrice_" + common).css("display", "none");
            $("#divLinkPrice_" + common).css("display", "block");
            //$("#txtProductLinkedPrice_" + common).val("");
            $("#txtProductLinkedPrice_" + common).attr('disabled', 'disabled');
            $("#txtProductPrice_" + common).css("background-color", "#ffffaa");
            //$("#txtProductPrice_" + common).val("");
        }
        else if (type == 3) {
            $("#divPrice_" + common).css("display", "none");
            $("#divLinkPrice_" + common).css("display", "block");
            $("#txtProductLinkedPrice_" + common).attr('disabled', 'disabled');
            // $("#ImageLinked_" + common).attr('src', '@Url.Content("~/Content/themes/base/images/link-break-icon.png")');

        }
        else if (type == 4) {
            $("#divPrice_" + common).css("display", "block");
            $("#divLinkPrice_" + common).css("display", "none");
            // $("#ImageLinked_" + common).attr('src', '@Url.Content("~/Content/themes/base/images/link-break-icon.png")');

        }
        else if (type == 5) {
            $("#divPrice_" + common).css("display", "block");
            $("#divLinkPrice_" + common).css("display", "none");
        }
        else if (type == 6) {
            $("#divPrice_" + common).css("display", "block");
            $("#divLinkPrice_" + common).css("display", "none");
            $("#ImageLinked_" + common).attr('src', '@Url.Content("~/Content/themes/base/images/link-icon.png")');
        }
        else if (type == 7) {
            //            $("#txtProductLinkedPrice_" + common).val("");
            //            $("#txtProductPrice_" + common).val("");
            $("#txtProductPrice_" + common).css("background-color", "#ffffaa");
        }
    }




    $("#kendoGrid").kendoGrid({

        sortable: true,
        scrollable: false,
        navigatable: true,
        columns: [
        //            "CategoryName"
        { field: "CategoryName", width: 55, template: '<b>#=CategoryName#</b>' }
        ],

        editable: true, // enable editing
        //     dataBound: onDataBound,
        detailInit: detailInit,
        dataBound: function () {
            $("a.k-plus").trigger("click");
        },

        // specify toolbar commands
        dataSource: {
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            schema: {
                model: { // define the model of the data source. Required for validation and property types.
                    id: "pkReportCategoryId",
                    fields: {
                        pkReportCategoryId: { editable: false },
                        CategoryName: { editable: false }
                    }
                }
            },

            batch: true,
            transport: {

                read: {
                    url: '@Url.Action("GetCategoryList", "Control")',
                    type: "POST"
                }

            }

        }
    });


    var submittoAll = "0";
    function detailInit(e) {
        var LocId = "@ViewBag.LocationId";
        newid = e.data.pkReportCategoryId;



        $("<div/>").attr("id", "dvid_" + newid).appendTo(e.detailCell).kendoGrid({
            sortable: true,
            scrollable: false,
            navigatable: true,
            columns: [

                { field: "IsDefault", sortable: false, title: " ", width: 55, template: '<input class="chkDefault" type="checkbox" #= IsDefault ? "checked=checked" : "" #  >' },
                { field: "ProductDisplayName", title: "Appear AS", width: 120 },
                  { field: "ProductCode", title: "Code", width: 50 },
                    { field: "CompanyPrice", title: "Price", template: "<div style='float:left;'></div><div style='width: 73px;float:left' id='divPrice_#= Index#" + newid + "'>$<input type='text' id='txtProductPrice_#= Index#" + newid + "' class='tbCompanyPrice' value=\"#= kendo.toString(CompanyPrice,'0.00') #\" /> </div> <div style='width: 73px;float:left; display: none;' id='divLinkPrice_#= Index#" + newid + "'>$<input id='txtProductLinkedPrice_#= Index#" + newid + "' type='text' class='tbDefaultPrice' value='#= kendo.toString(CompanyPrice,'0.00') #' /> </div><input type='hidden' id='hfProductCode_#= Index#" + newid + "' value='#= ProductCode#'> <input type='hidden' id='HidLinkedReportId#= Index#" + newid + "' value='#= LinkedReportId#'>", width: 70 },
                    { field: "ReportsLinked", sortable: false, title: '<img src="@Url.Content("~/Content/themes/base/images/link-icon.png")"/  style="height:20px"  title="Link/Unlink Price" ', template: '#if(ProductCode == "PS" || ProductCode == "CCR1" || ProductCode == "NCR1" || ProductCode == "EEI" || ProductCode == "EMV" || ProductCode == "EMV"){ if(LinkedReportId!=null){ # <img id="ImageLinked_#= Index#' + newid + '" #if( IsEdit){# onclick="UpdateLinkPrice(\'#= pkProductApplicationId #\',\'@ViewBag.CompanyId\');" #}else{# onclick="savelinkprice(this.id);" #}# src="@Url.Content("~/Content/themes/base/images/link-icon.png")" style="height:20px"> #} else {# <img  id="ImageLinked_#= Index#' + newid + '" #if( IsEdit){# onclick="UpdateLinkPrice(\'#= pkProductApplicationId #\',\'@ViewBag.CompanyId\');" #}else{# onclick="savelinkprice(this.id);" #}# src="@Url.Content("~/Content/themes/base/images/link-break-icon.png")" style="height:20px"> #}}#', width: 50 },
            //{ field: "ReportsLinked", template: '#if(ProductCode == "PS" || ProductCode == "CCR1" || ProductCode == "NCR1" || ProductCode == "EEI" || ProductCode == "EMV" || ProductCode == "EMV"){ if(LinkedReportId!=null){ # <img onclick="UpdateLinkPrice(\'#= pkProductApplicationId #\',\'@ViewBag.CompanyId\');" src="@Url.Content("~/Content/themes/base/images/link-icon.png")" style="height:20px"> #} else {# <img onclick="UpdateLinkPrice(\'#= pkProductApplicationId #\',\'@ViewBag.CompanyId\');" src="@Url.Content("~/Content/themes/base/images/link-break-icon.png")" style="height:20px"> #}}#', width: 50 },
                     { field: "IsLiveRunnerLocation", sortable: false, width: 20, title: '<img src="@Url.Content("~/Content/themes/base/images/LiveRunnerSmallLogo.png")"/  id="LiveRunnerImage" style="height:20px"  title="Is Live Runner" ', template: '#  if (ProductCode == "CCR1" || ProductCode == "CCR2" || ProductCode == "SCR") {# <input class="chkLiveRunner" type="checkbox" #=IsLiveRunnerLocation ? "checked=checked" : "" #  ></input>#} #' },
                  { field: "AutoReviewStatusForLocation", sortable: false, title: '<img src="@Url.Content("~/Content/themes/base/images/emerge-review-button-small.png")"/ style="height:20px"  title="Enable/Disable Review" ', width: 20, template: '#  if (AutoReviewStatusForLocation == "0" || AutoReviewStatusForLocation == null ){#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/0.bmp")" /> #} else if(AutoReviewStatusForLocation=="1"){#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/1.bmp")" /> #} else{#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/2.bmp")" /> #} #' }//,
            // { field: "", sortable: false, title: "Action", width: 55, template: '<input id="btnCopyToall" value="Save to all" type="button"></input>' }, //#= IsDefault ? "checked=checked" : "" #
            ],

            editable: true,
            //detailInit: detailInit1,
            dataBound: function (e) {



                var gridId = this.table.parent().attr("id");
                this.expandRow(this.tbody.find("tr.k-master-row"));
                var takeTotal = this.dataSource.total();
                //                this.tbody.find("tr td:first").each(function () {
                //                    $(this).on("click", function (e) {
                //                        return false;
                //                    });
                //                });



                var txtncr = '';
                var txtedv = '';
                var txtecr = '';
                for (i = 0; i < takeTotal; i++) {
                    var Index = this._data[i].Index;
                    var CategoryId = this._data[i].CategoryId;

                    var ProductCode = this._data[i].ProductCode;
                    //alert(ProductCode);

                    if (ProductCode == "ESS") {

                        HideEscreensProducts();
                    }



                    if ("@Model.IsEdit" == "False") {

                        alert(23);

                        //                    if (ProductCode != null) {
                        //alert("@Model.IsEdit");
                        if (ProductCode.toLowerCase() == "ps") {
                            alert(2);

                            $("#hdnPSreportId").val($("#hdnPSreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            if (typeof (this._data[i].pkProductApplicationId) != 'undefined') {
                                $("#hdnPSProdId").val(this._data[i].pkProductApplicationId);
                            }
                            hideShowLinkDiv((Index + "" + CategoryId), 1);
                        }
                        else if (ProductCode.toLowerCase() == "ps2") {
                            $("#hdnPSreportId").val($("#hdnPSreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            hideShowLinkDiv((Index + "" + CategoryId), 2);
                        }




                        else if (ProductCode.toLowerCase() == "ncr1") {
                            $("#hdnNCRreportId").val($("#hdnNCRreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            if (typeof (this._data[i].pkProductApplicationId) != 'undefined') {
                                $("#hdnNCRProdId").val(this._data[i].pkProductApplicationId);
                            }
                            hideShowLinkDiv((Index + "" + CategoryId), 1);

                        }
                        else if (ProductCode.toLowerCase() == "ncr2") {
                            $("#hdnNCRreportId").val($("#hdnNCRreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            hideShowLinkDiv((Index + "" + CategoryId), 2);
                        }
                        else if (ProductCode.toLowerCase() == "ncr3") {
                            $("#hdnNCRreportId").val($("#hdnNCRreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            hideShowLinkDiv((Index + "" + CategoryId), 2);
                        }
                        else if (ProductCode.toLowerCase() == "ncr4") {
                            $("#hdnNCRreportId").val($("#hdnNCRreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            hideShowLinkDiv((Index + "" + CategoryId), 2);
                        }
                        else if (ProductCode.toLowerCase() == "ncr+") {
                            $("#hdnNCRreportId").val($("#hdnNCRreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            hideShowLinkDiv((Index + "" + CategoryId), 2);
                        }
                        else if (ProductCode.toLowerCase() == "ccr1") {
                            $("#hdnCCRreportId").val($("#hdnCCRreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            if (typeof (this._data[i].pkProductApplicationId) != 'undefined') {
                                $("#hdnCCRProdId").val(this._data[i].pkProductApplicationId);
                            }
                            hideShowLinkDiv((Index + "" + CategoryId), 1);
                        }
                        else if (ProductCode.toLowerCase() == "ccr2") {
                            $("#hdnCCRreportId").val($("#hdnCCRreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            hideShowLinkDiv((Index + "" + CategoryId), 2);
                        }
                        else if (ProductCode.toLowerCase() == "rcx") {
                            $("#hdnCCRreportId").val($("#hdnCCRreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            hideShowLinkDiv((Index + "" + CategoryId), 2);

                        }
                        else if (ProductCode.toLowerCase() == "eei") {
                            $("#hdnEEIreportId").val($("#hdnEEIreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            if (typeof (this._data[i].pkProductApplicationId) != 'undefined') {
                                $("#hdnEEIProdId").val(this._data[i].pkProductApplicationId);
                            }
                            hideShowLinkDiv((Index + "" + CategoryId), 1);
                        }
                        else if (ProductCode.toLowerCase() == "ecr") {
                            $("#hdnEEIreportId").val($("#hdnEEIreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            hideShowLinkDiv((Index + "" + CategoryId), 2);
                        }
                        else if (ProductCode.toLowerCase() == "emv") {
                            $("#hdnEMVreportId").val($("#hdnEMVreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            if (typeof (this._data[i].pkProductApplicationId) != 'undefined') {
                                $("#hdnEMVProdId").val(this._data[i].pkProductApplicationId);
                            }
                            hideShowLinkDiv((Index + "" + CategoryId), 1);
                        }
                        else if (ProductCode.toLowerCase() == "edv") {
                            $("#hdnEMVreportId").val($("#hdnEMVreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            hideShowLinkDiv((Index + "" + CategoryId), 2);
                        }
                        else if (ProductCode.toLowerCase() == "prv") {
                            $("#hdnEMVreportId").val($("#hdnEMVreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            hideShowLinkDiv((Index + "" + CategoryId), 2);
                        }
                        else if (ProductCode.toLowerCase() == "plv") {
                            $("#hdnEMVreportId").val($("#hdnEMVreportId").val() + "_" + "HidLinkedReportId" + Index + CategoryId);
                            hideShowLinkDiv((Index + "" + CategoryId), 2);
                        }
                        else {
                            //hideShowLinkDiv((Index + "" + CategoryId), 7);
                        }

                    }
                    else {
                        if (this._data[i].LinkedReportId != null) {
                            if (ProductCode.toLowerCase() == "ps" || ProductCode.toLowerCase() == "ncr1" || ProductCode.toLowerCase() == "ccr1" || ProductCode.toLowerCase() == "emv" || ProductCode.toLowerCase() == "eei") {

                                // alert(3);

                                hideShowLinkDiv((Index + "" + CategoryId), 6);
                                if (ProductCode.toLowerCase() == "ps") {
                                    $("#hdnPSreportId").val(parseFloat(this._data[i].CompanyPrice).toFixed(2));
                                }
                                if (ProductCode.toLowerCase() == "ncr1") {
                                    $("#hdnNCRreportId").val(parseFloat(this._data[i].CompanyPrice).toFixed(2));
                                }
                                if (ProductCode.toLowerCase() == "ccr1") {
                                    $("#hdnCCRreportId").val(parseFloat(this._data[i].CompanyPrice).toFixed(2));
                                }
                                if (ProductCode.toLowerCase() == "eei") {
                                    $("#hdnEEIreportId").val(parseFloat(this._data[i].CompanyPrice).toFixed(2));
                                }
                                if (ProductCode.toLowerCase() == "emv") {
                                    $("#hdnEMVreportId").val(parseFloat(this._data[i].CompanyPrice).toFixed(2));
                                }
                            }
                            else {
                                hideShowLinkDiv((Index + "" + CategoryId), 3);
                                if (ProductCode.toLowerCase() == "ps2") {
                                    $("#txtProductLinkedPrice_" + Index + CategoryId).val(parseFloat($("#hdnPSreportId").val()).toFixed(2));
                                }
                                if (ProductCode.toLowerCase() == "ncr2" || ProductCode.toLowerCase() == "ncr3" || ProductCode.toLowerCase() == "ncr4" || ProductCode.toLowerCase() == "ncr+") {
                                    if (ProductCode.toLowerCase() == "ncr+") {
                                        txtncr = "#txtProductLinkedPrice_" + Index + CategoryId;
                                    }
                                    else {
                                        $("#txtProductLinkedPrice_" + Index + CategoryId).val(parseFloat($("#hdnNCRreportId").val()).toFixed(2));
                                    }
                                }
                                if (ProductCode.toLowerCase() == "ccr2" || ProductCode.toLowerCase() == "rcx") {
                                    $("#txtProductLinkedPrice_" + Index + CategoryId).val(parseFloat($("#hdnCCRreportId").val()).toFixed(2));
                                }
                                if (ProductCode.toLowerCase() == "ecr") {
                                    txtecr = "#txtProductLinkedPrice_" + Index + CategoryId;
                                }
                                if (ProductCode.toLowerCase() == "edv" || ProductCode.toLowerCase() == "prv" || ProductCode.toLowerCase() == "plv") {
                                    if (ProductCode.toLowerCase() == "edv") {
                                        txtedv = "#txtProductLinkedPrice_" + Index + CategoryId;
                                    }
                                    else {
                                        $("#txtProductLinkedPrice_" + Index + CategoryId).val(parseFloat($("#hdnEMVreportId").val()).toFixed(2));
                                    }
                                }
                                if (txtncr != '' && $("#hdnNCRreportId").val() != '') {
                                    $(txtncr).val(parseFloat($("#hdnNCRreportId").val()).toFixed(2));
                                }
                                if (txtecr != '' && $("#hdnEEIreportId").val() != '') {
                                    $(txtecr).val(parseFloat($("#hdnEEIreportId").val()).toFixed(2));
                                }
                                if (txtedv != '' && $("#hdnEMVreportId").val() != '') {
                                    $(txtedv).val(parseFloat($("#hdnEMVreportId").val()).toFixed(2));
                                }
                            }
                        }
                        else {
                            if (ProductCode.toLowerCase() == "ps" || ProductCode.toLowerCase() == "ncr1" || ProductCode.toLowerCase() == "ccr1" || ProductCode.toLowerCase() == "emv" || ProductCode.toLowerCase() == "eei") {


                                hideShowLinkDiv((Index + "" + CategoryId), 4);
                            }
                            else {
                                hideShowLinkDiv((Index + "" + CategoryId), 5);
                            }
                        }
                        if (this._data[i].IsDefaultPrice != null) {
                            if (this._data[i].IsDefaultPrice) {
                                $("#txtProductPrice_" + Index + CategoryId).css("background-color", "#ffffaa");
                            }
                            else {
                                $("#txtProductPrice_" + Index + CategoryId).css("background-color", "#ffffff");
                            }
                        }
                        else {
                            $("#txtProductPrice_" + Index + CategoryId).css("background-color", "#ffffaa");
                        }
                    }
                }

                $(".chkDefault").on("click", function (e) {
                    var row = $(e.target).closest("tr");
                    var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                    if (model) {
                        model.set('IsDefault', this.checked);
                        submittoAll = model;
                    }
                });



                $(".chkLiveRunner").on("click", function (e) {
                    var row = $(e.target).closest("tr");
                    var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                    submittoAll = model;
                    //model.set("IsLiveRunnerLocation", this.cheked);
                    model.set('IsLiveRunnerLocation', ($(row).find('input[class=chkLiveRunner]')).is(':checked'));  //INT-254
                });

                $(".imgAutoReview").on("click", function (e) {

                    var row = $(e.target).closest("tr");
                    var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                    submittoAll = model;

                    var imgArr = $(this).attr("src").split('/');
                    var img = imgArr[parseInt(imgArr.length) - 1];
                    //alert(img)
                    if (img == "0.bmp") {
                        $(this).prop('src', "../Content/themes/base/images/CheckBox/1.bmp");
                        model.set("AutoReviewStatusForLocation", "1");

                    }
                    else if (img == "1.bmp") {
                        $(this).prop("src", "../Content/themes/base/images/CheckBox/2.bmp");
                        model.set("AutoReviewStatusForLocation", "2");
                    }
                    else if (img == "2.bmp") {
                        $(this).prop("src", "../Content/themes/base/images/CheckBox/0.bmp");
                        model.set("AutoReviewStatusForLocation", "0");
                    }

                });

                $(".tbCompanyPrice").on("change", function (e) {

                    var common = $(this).attr("id").split('_')[1];
                    var row = $(e.target).closest("tr");
                    var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                    if ($(this).val() == '') {
                        model.set("IsDefaultPrice", true);
                    }
                    else {
                        var Price = parseFloat($(this).val());
                        model.set("IsDefaultPrice", false);
                        model.set("CompanyPrice", Price);
                        $("#hdUpdatePricesId").val($("#hdUpdatePricesId").val() + "," + ("txtProductPrice_" + common));
                        changeBackground();
                    }
                    submittoAll = model;
                });
            },
            scrollable: false,
            navigatable: true,
            dataSource: {

                batch: true,
                schema: {
                    model: { // define the model of the data source. Required for validation and property types.
                        id: "pkProductId",
                        fields: {
                            IsDefault: { type: "boolean", nullable: true },
                            pkProductId: { editable: false, type: "string", nullable: true },
                            ProductDisplayName: { editable: false, type: "string", nullable: true },
                            ProductCode: { editable: false, type: "string", nullable: true },
                            CompanyPrice: { editable: true, type: "number", nullable: true },
                            ReportsLinked: { editable: false, type: "string", nullable: true },
                            IsLiveRunnerLocation: { type: "boolean", nullable: true },
                            AutoReviewStatusForLocation: { type: "string", nullable: false }
                        }
                    }
                },
                transport: {

                    read: {

                        url: '@Url.Action("GetReportByCategoryId", "Control", new { CompanyId = @ViewBag.CompanyId })',
                        data: { pkCategoryId: newid, LocationId: LocId },
                        type: "Post"
                    },
                    update: {
                        url: '@Url.Action("UpdateSubReport", "Control", new { GlobalCredential = @Model.IsGlobalCredential })',
                        type: "POST",

                        complete: function (jqXHR, textStatus) {
                            if (counter < TotalModifiedGridCount) counter++;
                            else {
                                var grid = $("#kendoGrid").data("kendoGrid");
                                grid.dataSource.read();
                                grid.refresh();
                            }
                        }
                    },
                    parameterMap: function (options, operation) {
                        if (operation != "read") {
                            var result = {};
                            models = submittoAll;
                            for (var i = 0; i < options.models.length; i++) {
                                var products = options.models[i];
                                for (var member in products) {
                                    result["Detail[" + i + "]." + member] = products[member];
                                }
                            }
                            return result;
                        }
                        else {
                            return options;
                        }
                    }
                }
            }
        });
    }


    $('#btnCopyToall').live("click", function () {
        var r = confirm("Do want to copy all location!");
        if (r == true) {
            var parent = $(this).parent().parent();
            var indexVal = $(parent).find('.tbCompanyPrice').attr("id");
            var arrIndex = indexVal.split('_');
            indexVal = arrIndex[1];
            var hiddenval = 'hfProductCode_' + indexVal;
            var ProductCode = $(parent).find('input[id=' + hiddenval + ']').val();
            var CompanyPrice = $(parent).find('.tbCompanyPrice').val();
            var ReviewsSRC = $(parent).find('.imgAutoReview').attr('src');
            var arrSRC = ((ReviewsSRC.split('/'))[7]).split('.');

            var IsLiveRunnerLocation = false;
            if (($(parent).find('input[class=chkLiveRunner]')).is(':checked')) {
                IsLiveRunnerLocation = true;
            }

            var IsdefaultVal = false;
            if ($(parent).find('.chkDefault').is(':checked')) {
                IsdefaultVal = true;
            }
            $.post('@Url.Action("UpdateSubReportToallLocation", "Control")', { ProductCode: ProductCode, GlobalCredential: '@Model.IsGlobalCredential', IsDefault: IsdefaultVal, CompanyPrice: CompanyPrice, Reviews: arrSRC[0], IsLiveRunnerLocation: IsLiveRunnerLocation }, function (data) {
                alert("Record has been saved.");
                RefreshPagewithId();

            });
        }
    });







    $("#kendoGrid table thead").hide();

    function UpdateLinkPrice(PID, CID) {


        $.post('@Url.Action("UpdateLinkPrice", "Control")', { ProductApplicationId: PID, CompanyId: CID }, function (data) {
            $("[data-role='grid']").each(function () {
                //if ($(this).attr("id").indexOf("dvid_") != -1) {
                //SaveDataSourse($(this).attr("id"));
                //}
                counter++;
            });
            $("[data-role='grid']").each(function () {

                TotalModifiedGridCount++;
                $(this).data("kendoGrid").dataSource.sync();
            });
            var DataSoursegrid = $("#kendoGrid").data("kendoGrid");
            DataSoursegrid.saveChanges();
            DataSoursegrid.dataSource.read();
            DataSoursegrid.refresh();
        });
    }

    var universalPackageModel = null;

    $("#UniversalPackages").kendoGrid({
        sortable: true,
        pageable: false,
        scrollable: false,
        navigatable: true,
        columns: [
            {
                field: "IsEnableUniversalPackage", title: " ", editable: true, template: '<input class="chkIsDefault" type="checkbox" #=IsEnableUniversalPackage == true ? "checked=true" : "" # id="IsDefault_#=pkPackageId#"  />'
            },
              { field: "PackageDisplayName", title: "Packages", width: 200, editable: false },
              { field: "PackageCode", title: "Code", width: 150, editable: false },
              { field: "include", title: "DataSources", width: 220, editable: false },
                { field: "PackagePrice", title: "Price", editable: true },

             { field: "", title: "Action", sortable: false, width: 100, style: "font-weight:none !important", template: '<label><label>' },





        ],
        editable: true,
        dataBound: function () {

            var takeTotal = this.dataSource.total();

            var gridHeaderRows = $("#UniversalPackages tbody th");
            var gridRows = $("#UniversalPackages tbody tr");
            var takeGrid = $("#UniversalPackages").data("kendoGrid");
            var length = gridRows.length;

            $(".chkIsDefault").on("click", function (e) {
                var row = $(e.target).closest("tr");
                var model = $("#UniversalPackages").data("kendoGrid").dataItem(row);
                model.set("IsEnableUniversalPackage", this.checked);
                universalPackageModel = model;
            });

            for (i = 0; i < length; i++) {

                var dataItem = takeGrid.dataItem(gridRows[i]);
                var row = gridRows[i];
                var categaryname = dataItem.PackageDisplayName;
                var ProductCode = dataItem.PackageCode;
                var Price = dataItem.PackagePrice;
                var IsDefault = dataItem.IsDefault;
                var include = dataItem.include;
                var categaryID = dataItem.pkPackageId;
                var IsEnableUniversalPackage = dataItem.IsEnableUniversalPackage;



            }
        },

        // toolbar: ["save"],
        dataSource: {
            serverPaging: false,
            serverSorting: false,
            serverFiltering: false,

            schema: {
                model: {
                    id: "pkPackageId",
                    fields: {
                        IsEnableUniversalPackage: { type: "boolean", editable: true, nullable: true },
                        PackageAccessId: { editable: false, nullable: true, editable: false, type: "string" },
                        pkPackageId: { editable: false, nullable: true, editable: false, type: "int" },
                        include: { nullable: true, editable: false, type: "string" },
                        PackageDisplayName: { editable: false, nullable: true, editable: false, type: "string" },
                        PackagePrice: { editable: false, nullable: true, editable: true, type: "string" }
                    }
                }
            },
            batch: true,
            change: function (e) {
                //alert(e);
            },
            transport: {
                create: {
                    url: '@Url.Action("Create", "Control")',
                    type: "POST"
                },
                read: {
                    url: '@Url.Action("GetAllPackageRecords", "Control", new { CompanyId = @ViewBag.CompanyId })',
                    type: "POST"
                },
                update: {
                    url: '../Control/UpdateUniversalPackages',
                    type: "POST",
                    complete: function (jqXHR, textStatus) {
                        if (counter < TotalModifiedGridCount) counter++;
                        else {
                            var grid = $("#UniversalPackages").data("kendoGrid");
                            grid.dataSource.read();
                            grid.refresh();
                        }
                    }
                },
                destroy: {
                    url: '@Url.Action("Destroy", "Control")',
                    type: "POST"
                }
                    , parameterMap: function (data, operation) {

                        if (operation != "read") {

                            var result = {};

                            for (var i = 0; i < data.models.length; i++) {
                                var product = data.models[i];

                                for (var member in product) {
                                    result["products[" + i + "]." + member] = product[member];
                                }
                            }
                            return result;
                        }
                    }
            }

        }

    });



    var compId = "@ViewBag.CompanyId";

    $("#CustomPackages").kendoGrid({
        sortable: true,
        pageable: false,
        scrollable: false,
        navigatable: true,
        columns: [
              {
                  field: "IsDefault", title: ' ', sortable: false, template: '<input class="chkDefault" type="checkbox" #= IsDefault ? "checked=checked" : "" # onclick="Savepack(#=pkPackageId#,this);" ></input>'
                  //field: "IsDefault", title: ' ', sortable: false, width: 150, template: '<input class="css-checkbox" type="checkbox" #= IsDefault ? "checked=checked" : "" # onclick="Savepack(#=pkPackageId#,this);" ></input> <label class="css-label"></label>'
              },
              { field: "PackageDisplayName", title: "Packages", width: 200 },
              { field: "PackageCode", title: "Code", width: 150 },
              { field: "include", title: "DataSources", width: 220 },
              { field: "PackagePrice", title: "Price" },
              { field: "pkPackageId", sortable: false, title: "Action", width: 100, template: '<input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/edit.png")" id="image1" title="Edit" value="#=pkPackageId#" style="width:15; height:18px" onclick="EditPackage(this.value)" /> <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/delete.png")" id="image1" value="#=pkPackageId#" onclick="return Deletecustom(this.value);" style="width:15px; height:18px" />' },
        ],

        editable: true,
        editable: "inline",
        editable: "popup",
        // enable editing
        dataBound: function () {
            var takeTotal = this.dataSource.total();

            var gridHeaderRows = $("#CustomPackages tbody th");
            var gridRows = $("#CustomPackages tbody tr");
            var takeGrid = $("#CustomPackages").data("kendoGrid");
            var length = gridRows.length;
            //   alert(length);


            for (i = 0; i < length; i++) {
                // alert(i);
                var dataItem = takeGrid.dataItem(gridRows[i]);
                var row = gridRows[i];
                var categaryname = dataItem.PackageDisplayName;
                var ProductCode = dataItem.PackageCode;
                var Price = dataItem.PackagePrice;
                var include = dataItem.include;
                //   alert(ProductCode);
                var categaryID = dataItem.pkPackageId;
                var IsDefault = dataItem.IsDefault;
                GridEffect("CustomPackages", dataItem)

            }
        },

        dataSource: {
            serverPaging: false,
            serverSorting: true,
            serverFiltering: true,

            schema: {
                model: {
                    id: "pkPackageId",
                    fields: {
                        pkPackageId: { editable: false, nullable: true },
                        PackageAccessIdIsDefault: { type: "boolean", editable: false },
                        Include: { editable: false, nullable: true },
                        PackageDisplayName: { type: "string", editable: false },
                        PackageCode: { type: "string", editable: false },
                        PackagePrice: { type: "number", editable: true, required: true },
                        Include: { type: "boolean", editable: false },
                        IsDefault: { type: "boolean", editable: false }
                    }
                }
            },
            batch: true,
            change: function (e) {



            },
            transport: {
                read: {
                    //url: 'Url.Action("GetCustomPackages", "Control", new { LocationId = ViewBag.LocationId })',
                    url: '../Control/GetCustomPackages?LocationId=@ViewBag.LocationId&CompanyId=' + $("#pkCompanyId").val(),
                    type: "POST"
                },
                update: {
                    url: '@Url.Action("UpdateDataSource", "Control")',
                    type: "POST"
                },
                parameterMap: function (data, operation) {

                    if (operation != "read") {

                        var result = {};

                        for (var i = 0; i < data.models.length; i++) {
                            var product = data.models[i];

                            for (var member in product) {
                                result["products[" + i + "]." + member] = product[member];
                            }
                        }
                        return result;
                    }

                }

            }

        }

    });


    function EnableDisableGlobalCredential() {
        var PkCompanyId = $("#hdCompanyId").val();
        var FkLocationId = $("#hdnComplocationidName").val();
        var IsGlobalCredential = "0";
        if ($("#IsGlobalCredential").attr("checked") == 'checked') {
            IsGlobalCredential = "1";
        }
        $.post('@Url.Action("EnableDisableGlobalCredential", "Control")', { pkCompanyId: PkCompanyId, fkLocationid: FkLocationId, isGlobalCredential: IsGlobalCredential }, function (data) {
            var divMSG = document.getElementById("divMSGCredential");
            if (data != null || data != "") {
                divMSG.style.display = "block";
                divMSG.innerHTML = data.Msg;
            }
        });
    }

    function AddNewPackage() {
        var PkCompanyId = $("#hdCompanyId").val();
        var PkLocationId = $("#hdnComplocationidName").val();

        var pkPackageId = -1;

        $("#divManageCustomPackages").load('@Url.Action("PartialAddEditCustomPackages", "Control")', { _a: pkPackageId, _companyid: PkCompanyId, _locationid: PkLocationId });
        var window = $("#divManageCustomPackages").kendoWindow({
            modal: true,
            height: "530px",
            width: "800px"
        }).data("kendoWindow");
        window.center();
        window.open();

    }



    function tets() {
        setTimeout(function () {
            
        }, 5000);
    }


    function EditPackage(pkPackageId) {
        var PkCompanyId = $("#hdCompanyId").val();
        var PkLocationId = $("#hdnComplocationidName").val();
        //  alert("Package Edit Successfully");

        tets();
        $("#divManageCustomPackages").load('@Url.Action("PartialAddEditCustomPackages", "Control")', { _a: pkPackageId, _companyid: PkCompanyId, _locationid: PkLocationId });
        var window = $("#divManageCustomPackages").kendoWindow({
            modal: true,
            height: "530px",
            width: "800px"
        }).data("kendoWindow");
        window.center();
        window.open();
    }

</script>
<script>



    function ShowReasionWindow(id) {

        $("popupReasionContainer").show();
        $("#popupReasion").data("kendoWindow").center();
        $("#popupReasion").data("kendoWindow").open();
    }

    function UpdateStatus(id) {
        $("#imgLoader").show();

        var idd = id;
        var st = id.split("_")[1];
        var cmpId = "@ViewBag.CompanyId";
        var cName = "@Model.CompanyName";
        var emailId = "@Model.MainEmail";
        var enable = "@Model.IsEnabled";
        var img = $("#" + id).attr("src");
        cName = cName.replace("&#39;", "");
        var currentclass = $("#" + id).attr("class");
        //alert(id + "st" + st + "cmpId" + cmpId + "cName" + cName + "emailId" + emailId + "enable" + enable + "img" + img);

        if (currentclass == "offbtnclass") {


            $.post('@Url.Action("UpdateCompanyStatus", "Control")', { IsEnable: "false", Status: st, CompanyId: cmpId, CompanyName: cName, EmailId: emailId, ButtonId: st }, function (data) {
                $("#dvMsg").html(data.Msg);
                $("#dvMsg").addClass(data.css);
                location.reload();

            });

        }
        else {

            $.post('@Url.Action("UpdateCompanyStatus", "Control")', { IsEnable: "true", Status: "0", CompanyId: cmpId, CompanyName: cName, EmailId: emailId, ButtonId: st }, function (data) {
                $("#dvMsg").html(data.Msg);
                $("#dvMsg").addClass(data.css);
                location.reload();

            });
        }
    }




    function LockCompany() {
        $("#imgLoader").show();

        if ($("#txtReasion").val() == "") {
            $("#vldReasion").show();
            return false;
        }
        var cmpId = "@ViewBag.CompanyId";
        var cName = "@Model.CompanyName";
        cName = cName.replace("&#39;", "'");
        var emailId = "@Model.MainEmail";
        var enable = "@Model.IsEnabled";
        var img = $("#imgbtn_7").attr("src");
        //alert(id + "st" + st + "cmpId" + cmpId + "cName" + cName + "emailId" + emailId + "enable" + enable + "img" + img);
        if (img.indexOf("-off.png") != -1) {

            $.post('@Url.Action("SetLock", "Control")', { IsEnable: "false", Reason: $("#txtReasion").val(), CompanyId: cmpId, CompanyName: cName, EmailId: emailId }, function (data) {
                $("#dvMsg").html(data.Msg);
                $("#dvMsg").addClass(data.css);
                if (data.rslt == "1") {
                    $("#imgbtn_7").prop("src", "../Content/themes/base/Images/emerge-office-milestone-7-on.png");
                    $("#popupReasion").data("kendoWindow").close();
                }
                $("#imgLoader").hide();

            });

        }
        else {
            //  alert("-on");
            $.post('@Url.Action("SetLock", "Control")', { IsEnable: "true", Reason: $("#txtReasion").val(), CompanyId: cmpId, CompanyName: cName, EmailId: emailId }, function (data) {
                $("#dvMsg").html(data.Msg);
                $("#dvMsg").addClass(data.css);
                if (data.rslt == "1") {
                    $("#imgbtn_7").prop("src", "../Content/themes/base/Images/emerge-office-milestone-7-off.png");
                    $("#popupReasion").data("kendoWindow").close();
                }
                $("#imgLoader").hide();

            });
        }
    }


    /****kendo windo***/
    $("#popupReasion").kendoWindow();
    //$("#popupReasion").data("kendoWindow").close();


    // call log

    function SaveCallLog() {
        if (document.getElementById("TxtCallLog").value == "") {
            document.getElementById("validation").innerHTML = "Please Enter Text.";

        }
        else {

            var Comment = document.getElementById("TxtCallLog").value;
            var pkcompanyid = $("#pkCompanyId").val();
            $.post('@Url.Action("SaveCallLogo", "Control")', { Comment: Comment, pkcompanyid: pkcompanyid }, function (data) {

                if (data.Message != "") {
                    if ('@ViewBag.LocationId' != null) {
                        self.location = "LocationByCompanyId?Id1=" + '@ViewBag.locationid';

                    }
                    else {
                        location.href = "../Control/AddCompanies";
                    }
                }
            });
        }
    }
    function Savepack(packId, ischecked) {
        var checked = $(ischecked).attr('checked');
        var isvisible = false;
        if (checked == "checked") {
            isvisible = true;
        }
        $.post('@Url.Action("SavePackagevisibility", "Control")', { packId: packId, isvisible: isvisible }, function (data) {
            //do nothing.
        });
    }
    function SetValues() {
        if (submittoAll != 0) {
            (submittoAll).set("MonthlySaving", 1);
        }
        if (universalPackageModel != 0) {
            (universalPackageModel).set("PackageDescription", 1);
        }
        $('#btnSave').click();
    }

    function Deletecustom(pkPackageId) {
        if (confirm('Are you sure you want to delete this package?')) {
            $.post('@Url.Action("DeleteCustomPackageByIds", "Control")', { Ids: pkPackageId }, function (json) {

                if (json == 1) {
                    $("#divMSG1").css("display", "Block");
                    $("#divMSG1").html("<span class=\"successmsg\">Package successfully deleted.</span>");
                    var grid = $("#CustomPackages").data("kendoGrid");
                    grid.dataSource.read();
                    grid.refresh();
                }
                else {
                    $("#divMSG1").css("display", "Block");
                    $("#divMSG1").html("<span class=\"errormsg\">Error occured while deleting Package.</span>");
                }
            });
            return true;
        }
        else {
            return false;
        }
    }
</script>
