﻿@model Emerge.Models.LocationModel
@{
    ViewBag.Title = "Company Price";
    
    <link href="@Url.Content("~/Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.2.712/telerik.windows7.min.css")" rel="stylesheet" type="text/css" />
}
<style type="text/css">
    div.header1
    {
        cursor: default;
    }
    
    input
    {
        margin-right: 10px;
    }
    .k-dropdown
    {
        margin-right: 10px;
        width: 224px;
        float: left;
    }
    .k-invalid-msg, .k-textbox
    {
        float: left;
    }
    .k-scrollbar-vertical
    {
        top: 0;
        right: 0;
        width: 17px;
        height: 98.9%;
        overflow-y: scroll;
        overflow-x: hidden;
        overflow: scroll;
    }
    
    #kendoGrid .tbCompanyPrice
    {
        width: 50px;
    }
    #kendoGrid .tbDefaultPrice
    {
        width: 50px;
    }
    .k-detail-row:hover {
    background: transparent none repeat scroll 0 0 !important;
}
span.successmsg {
    color: #fff !important;
}
</style>

<div class="buttons-bar" style="margin-top: 58px;">
        <img id="imgApplicant15" class="plus-minus" src="~/Content/themes/base/images/mastercard.jpg" alt="expand" style="width: 48px; height: 30px; margin-left: 15px; margin-top: 12px; float: left">
        <div>
            @if (Model.IsEdit)
            {
                <div style="float: left; margin-left: 12px; margin-top: 15px; font-size: 17px; font-weight: bold;">@Model.CompanyName&#32;&#91;@Model.CityName&#44;@Model.State_Code&#93;</div>
                     }
            else
            { 
                <div style="float: left; margin-left: 6px; margin-top: 16px; font-weight: bold;">Company</div>
                      
                     }
        </div>

        <div class="horiz-ch-menu hori-btns">
            <ul>
                <li>                    
                    
                      @if (Model.IsGlobalCredential != true)
                      {
                      <input class="btn btn-default" id="imgbtnSaveMain" type="submit" value="Save" style="margin-top: -36px;" title="Update Location" onclick="SubmitChanges();" />
                      }
                            
                </li>
                <li>
                     <button class="btn btn-danger" type="button" title="Cancel" id="imgCancel" style="width: 74px; margin-top: -36px;" onclick="CancelUpdate();">Cancel</button>
                        @*<img class="imgCommon" alt="" src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/cancel_button.png")" title="Cancel" onclick="CancelUpdate();" id="imgCancel" />*@

                </li>
            </ul>                                   
        </div>
    </div>
<div id="content-box">
 <div class="padding" style="margin-bottom:40px;">
  <div id="element-box" style="padding-top: 1px; background-color:#fff;">
    @*<div class="m">
          <div class="plus_btn" onclick="ExpdnColps613Notice()"  ></div>
    </div>*@
        @*<div class="Center_ImgMVC" style="padding: 0px 0px 10px 0px; width: 100%; height: 17px;
            padding-top: 3px;">*@
            <div id="tabstrip">
                <ul class="nav nav-tabs" id="Mytab">
                    <li id="liLocation"><a id="lnkLocation" href="AddCompanyLocation?lid=@Model.LocationId" title="Location">
                        Location<span id="spanET"></span></a> </li>
                    <li id="liUsers"><a id="lnkUsers" href="GetUsersUnderLocation?pkLocationId=@Model.LocationId" title="Users">
                        Users<span id="spanST"></span></a></li>
                    <li id="liPricing" class="active"><a id="lnkPricing" href="PricebyLocationId?pkLocationId=@Model.LocationId" title="Pricing">
                        Pricing <span id="spanMT"></span></a></li>
                    <li id="liPreferences"><a id="lnkPreferences" href="RefernceCodeByLocation?pkLocationId=@Model.LocationId" title="Preferences">
                        Preferences<span id="spanNL"></span></a></li>
                </ul>
            </div>
        @*</div>*@
      <div id="DivLocation" class="expand  blue-trip" style="margin-top: 10px;">
          <div id="Packages" style="width: 100%; float: left;  margin-bottom:10px; border: 1px solid #ccc;">
              @if (Model.IsEdit)
                {
                  <div class="header" style="margin-bottom: 2px;">
                      <font><b>Universal Packages</b></font>
                  </div>

                  <div id="UniversalPackages" style="border-bottom-style: solid; margin:5px;">
                  </div>
                }
              @if (Model.IsEdit)
                {
                  <div class="header" style="margin-bottom: -8px; margin-top: 15px;">
                      <font><b>Custom Packages</b></font>
                  </div>
                  <div style="width: 100%; text-align: center;margin-top: -41px;">
                  <div id="divMSG1" style="display: none;">
                  </div>
                  </div>                  
                  <div id="CustomPackages" style="margin: 50px 5px 0px">
                  </div>
                }
              @if (Model.IsEdit)
                {
                  <div id="AddNew" style="margin: 5px 5px -10px;">
                      <img alt="" src="@Url.Content("~/Content/themes/base/images/add-new.png")" onclick="AddNewPackage()"
                           id="AddCustomPackages" style="cursor:pointer;" />
                  </div><br />
                }
                else
                {
                }
          </div>
          @if (Model.IsEdit)
            {
              <div id="kendoGrid" style="width: 100%; float: left;" data-role="grid" tabindex="0">
              </div>
            }
            else
            {
              <div style="">
                  <h4>
                      <span class="infomessage">Please Add Location First </span>
                  </h4>
              </div>
            }
      </div>
        <div class="clr">
        </div>
   </div>
  </div>
</div>
<input type="hidden" value="@Model.LocationId" id="hdnlocationid" />
<input type="hidden" value="@Model.pkCompanyId" id="hdPkCompanyId" />
<div id="divManageCustomPackages">
</div>
<script>

    var TotalModifiedGridCount = 0;
    var Counter = 0;

    function CancelUpdate() {

        self.location = "GetAllLocations";

    }

    function SubmitChanges() {

        $("[data-role='grid']").each(function () {
            counter++;
        });
        $("[data-role='grid']").each(function () {
            TotalModifiedGridCount++;
            if ($(this).attr("id").indexOf("dvid_") != -1 || $(this).attr("id").indexOf("UniversalPackages") != -1) {
                $(this).data("kendoGrid").dataSource.sync();
            }
        });
        //         var divMSG = document.getElementById("divMSG");
        //         divMSG.style.display = "block";
        //         divMSG.innerHTML = Result.strResult;
        //  window.location.href = '../Control/AddCompanyLocation?lid=' + result.Id + '&_al=' + result.Action;


    }


    $(document).ready(function () {

        $("#kendoGrid").kendoGrid({
            sortable: true,
            scrollable: false,
            navigatable: true,
            columns: [
        "CategoryName"
            ],
            editable: true,
            detailInit: detailInit,
            dataBound: function () {
                $("a.k-plus").trigger("click");
            },
            dataSource: {
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                schema: {
                    model: { // define the model of the data source. Required for validation and property types.
                        id: "pkReportCategoryId",
                        fields: {
                            pkReportCategoryId: { editable: false },
                            CategoryName: { editable: false }
                        }
                    }
                },
                batch: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetCategoryList", "Control")',
                        type: "POST"
                    }
                }
            }
        });

        function detailInit(e) {
            newid = e.data.pkReportCategoryId;
            var CompanyId = '@ViewBag.CompanyId';
            var hdnlocationid = document.getElementById("hdnlocationid").value;
            if ("@Model.IsGlobalCredential" == "True" || "@Model.IsGlobalCredential" == true) {
                $("<div/>").attr("id", "dvid_" + newid).appendTo(e.detailCell).kendoGrid({
                    sortable: true,
                    scrollable: false,
                    navigatable: true,
                    columns: [
                        { field: "IsDefault", sortable: false, title: "Default", width: 55, template: '<input class="chkDefault" type="checkbox" #= IsDefault ? "checked=checked" : "" # disabled="disabled" ></input>' },
                        { field: "ProductDisplayName", sortable: false, title: "Appear AS", width: 120 },
                        { field: "ProductCode", sortable: false, title: "Code", width: 50 },
                        { field: "CompanyPrice", sortable: false, title: "Price", width: 50 },
                        { field: "IsLiveRunnerLocation", sortable: false, width: 20, title: '<img src="@Url.Content("~/Content/themes/base/images/LiveRunnerSmallLogo.png")"/  id="LiveRunnerImage" style="height:20px" title="Is Live Runner"', template: '#  if (ProductCode == "CCR1" || ProductCode == "CCR2" || ProductCode == "SCR") {# <input class="chkLiveRunner" type="checkbox" #=IsLiveRunnerLocation ? "checked=checked" : "" # disabled="disabled" ></input>#} #' },
                        { field: "AutoReviewStatusForLocation", sortable: false, title: '<img src="@Url.Content("~/Content/themes/base/images/emerge-review-button-small.png")"/ style="height:20px" title="Enable/Disable Review"', width: 20, template: '#  if (AutoReviewStatusForLocation == "0" || AutoReviewStatusForLocation == null ){#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/0.bmp")" disabled="disabled" /> #} else if(AutoReviewStatusForLocation=="1"){#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/1.bmp")" disabled="disabled" /> #} else{#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/2.bmp")" disabled="disabled" /> #} #' },
                    ],

                    editable: false,
                    dataBound: function (e) {
                        var gridId = this.table.parent().attr("id");
                        this.expandRow(this.tbody.find("tr.k-master-row"));
                        var takeTotal = this.dataSource.total();
                        this.tbody.find("tr td").each(function () {
                            $(this).on("click", function (e) {
                                return false;
                            });
                        });
                        for (i = 0; i < takeTotal; i++) {
                            var ProductCode = this._data[i].ProductCode;
                        }

                        $(".chkDefault").on("click", function (e) {

                            var row = $(e.target).closest("tr");
                            var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                            model.set("IsDefault", this.checked);
                        });

                        $(".chkLiveRunner").on("click", function (e) {

                            var row = $(e.target).closest("tr");
                            var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                            model.set("IsLiveRunnerLocation", this.checked);
                        });

                        //                    $(".imgAutoReview").on("click", function (e) {

                        //                        var row = $(e.target).closest("tr");
                        //                        var model = $("#" + gridId).data("kendoGrid").dataItem(row);

                        //                        var imgArr = $(this).attr("src").split('/');
                        //                        var img = imgArr[parseInt(imgArr.length) - 1];
                        //                        if (img == "0.bmp") {
                        //                            $(this).prop('src', "../Content/themes/base/images/CheckBox/1.bmp");
                        //                            model.set("AutoReviewStatusForLocation", "1");

                        //                        }
                        //                        else if (img == "1.bmp") {
                        //                            $(this).prop("src", "../Content/themes/base/images/CheckBox/2.bmp");
                        //                            model.set("AutoReviewStatusForLocation", "2");
                        //                        }
                        //                        else if (img == "2.bmp") {
                        //                            $(this).prop("src", "../Content/themes/base/images/CheckBox/0.bmp");
                        //                            model.set("AutoReviewStatusForLocation", "0");
                        //                        }
                        //                    });
                    },
                    scrollable: false,
                    navigatable: true,
                    dataSource: {
                        batch: true,
                        schema: {
                            model: {
                                id: "pkProductId",
                                fields: {
                                    IsDefault: { type: "boolean", nullable: true },
                                    ProductAccessId: {},
                                    pkProductId: { editable: false, type: "string", nullable: true },
                                    ProductDisplayName: { editable: false, type: "string", nullable: true },
                                    ProductCode: { editable: false, type: "string", nullable: true },
                                    CompanyPrice: { editable: true, type: "number", nullable: true },
                                    ReportsLinked: { editable: false, type: "string", nullable: true },
                                    IsLiveRunnerLocation: { type: "boolean", editable: true, nullable: true },
                                    AutoReviewStatusForLocation: { type: "string", nullable: false }
                                }
                            }
                        },
                        transport: {
                            read: {
                                url: '@Url.Action("GetReportsByLocationId", "Control", new { LocationId = ViewBag.locationid })',
                                data: { CategoryId: newid, CompanyId: CompanyId },
                                type: "Post"
                            },
                            update: {
                                url: '@Url.Action("UpdateReportperLocation", "Control", new { CID = ViewBag.CompanyId, LocationId = ViewBag.locationid })',
                                type: "POST",
                                complete: function (jqXHR, textStatus) {
                                    if (counter < TotalModifiedGridCount) counter++;
                                    else {
                                        var grid = $("#kendoGrid").data("kendoGrid");
                                        grid.dataSource.read();
                                        grid.refresh();
                                    }
                                }
                            },
                            parameterMap: function (options, operation) {
                                if (operation != "read") {
                                    var result = {};
                                    for (var i = 0; i < options.models.length; i++) {
                                        var products = options.models[i];
                                        for (var member in products) {
                                            result["Detail[" + i + "]." + member] = products[member];
                                        }
                                    }
                                    return result;
                                }
                                else {
                                    return options;
                                }
                            }

                        }

                    }

                });
            }
            else {
                $("<div/>").attr("id", "dvid_" + newid).appendTo(e.detailCell).kendoGrid({
                    sortable: true,
                    scrollable: false,
                    navigatable: true,
                    columns: [
                        { field: "IsDefault", sortable: false, title: "Default", width: 55, template: '<input class="chkDefault" type="checkbox" #= IsDefault ? "checked=checked" : "" #  ></input>' },
                            //field: "IsDefault", sortable: false, title: "Default", width: 55, template: '<input class="css-checkbox" type="checkbox" #= IsDefault ? "checked=checked" : "" #  ></input> <label class="css-label></label>"' },
                        { field: "ProductDisplayName", sortable: false, title: "Appear AS", width: 120 },
                        { field: "ProductCode", sortable: false, title: "Code", width: 50 },
                        { field: "CompanyPrice", title: "Price", width: 70, template: "<div style='float:left;'></div><div style='width: 73px;float:left' id='divPrice_#= Index#" + newid + "'>$<input type='text' id='txtProductPrice_#= Index#" + newid + "' class='tbCompanyPrice' value=\"#= kendo.toString(CompanyPrice,'0.00') #\" /> </div>" },
                        { field: "IsLiveRunnerLocation", sortable: false, width: 20, title: '<img src="@Url.Content("~/Content/themes/base/images/LiveRunnerSmallLogo.png")"/  id="LiveRunnerImage" style="height:20px" title="Is Live Runner"', template: '#  if (ProductCode == "CCR1" || ProductCode == "CCR2" || ProductCode == "SCR") {# <input class="chkLiveRunner" type="checkbox" #=IsLiveRunnerLocation ? "checked=checked" : "" #  ></input>#} #' },
                        { field: "AutoReviewStatusForLocation", sortable: false, title: '<img src="@Url.Content("~/Content/themes/base/images/emerge-review-button-small.png")"/ style="height:20px" title="Enable/Disable Review"', width: 20, template: '#  if (AutoReviewStatusForLocation == "0" || AutoReviewStatusForLocation == null ){#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/0.bmp")" /> #} else if(AutoReviewStatusForLocation=="1"){#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/1.bmp")" /> #} else{#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/2.bmp")" /> #} #' },
                    ],

                    editable: true,
                    dataBound: function (e) {
                        var gridId = this.table.parent().attr("id");
                        this.expandRow(this.tbody.find("tr.k-master-row"));
                        var takeTotal = this.dataSource.total();
                        this.tbody.find("tr td").each(function () {
                            $(this).on("click", function (e) {
                                return false;
                            });
                        });
                        for (i = 0; i < takeTotal; i++) {
                            var ProductCode = this._data[i].ProductCode;
                        }

                        $(".chkDefault").on("click", function (e) {

                            var row = $(e.target).closest("tr");
                            var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                            model.set("IsDefault", this.checked);
                        });

                        $(".chkLiveRunner").on("click", function (e) {

                            var row = $(e.target).closest("tr");
                            var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                            model.set("IsLiveRunnerLocation", this.checked);
                        });

                        $(".imgAutoReview").on("click", function (e) {

                            var row = $(e.target).closest("tr");
                            var model = $("#" + gridId).data("kendoGrid").dataItem(row);

                            var imgArr = $(this).attr("src").split('/');
                            var img = imgArr[parseInt(imgArr.length) - 1];
                            if (img == "0.bmp") {
                                $(this).prop('src', "../Content/themes/base/images/CheckBox/1.bmp");
                                model.set("AutoReviewStatusForLocation", "1");

                            }
                            else if (img == "1.bmp") {
                                $(this).prop("src", "../Content/themes/base/images/CheckBox/2.bmp");
                                model.set("AutoReviewStatusForLocation", "2");
                            }
                            else if (img == "2.bmp") {
                                $(this).prop("src", "../Content/themes/base/images/CheckBox/0.bmp");
                                model.set("AutoReviewStatusForLocation", "0");
                            }
                        });

                        $(".tbCompanyPrice").on("change", function (e) {
                            var common = $(this).attr("id").split('_')[1];
                            var row = $(e.target).closest("tr");
                            var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                            if ($(this).val() == '') {
                                model.set("IsDefaultPrice", true);
                            }
                            else {
                                var Price = parseFloat($(this).val());
                                model.set("IsDefaultPrice", false);
                                model.set("CompanyPrice", Price);
                            }
                        });
                    },
                    scrollable: false,
                    navigatable: true,
                    dataSource: {
                        batch: true,
                        schema: {
                            model: {
                                id: "pkProductId",
                                fields: {
                                    IsDefault: { type: "boolean", nullable: true },
                                    ProductAccessId: {},
                                    pkProductId: { editable: false, type: "string", nullable: true },
                                    ProductDisplayName: { editable: false, type: "string", nullable: true },
                                    ProductCode: { editable: false, type: "string", nullable: true },
                                    CompanyPrice: { editable: true, type: "number", nullable: true },
                                    ReportsLinked: { editable: false, type: "string", nullable: true },
                                    IsLiveRunnerLocation: { type: "boolean", editable: true, nullable: true },
                                    AutoReviewStatusForLocation: { type: "string", nullable: false }
                                }
                            }
                        },
                        transport: {
                            read: {
                                url: '@Url.Action("GetReportsByLocationId", "Control", new { LocationId = @Model.LocationId })',
                                data: { CategoryId: newid, CompanyId: CompanyId },
                                type: "Post"
                            },
                            update: {
                                url: '@Url.Action("UpdateReportperLocation", "Control", new { CID = @Model.pkCompanyId, LocationId = @Model.LocationId })',
                                type: "POST",
                                complete: function (jqXHR, textStatus) {
                                    if (counter < TotalModifiedGridCount) counter++;
                                    else {
                                        var grid = $("#kendoGrid").data("kendoGrid");
                                        grid.dataSource.read();
                                        grid.refresh();
                                    }
                                }
                            },
                            parameterMap: function (options, operation) {
                                if (operation != "read") {
                                    var result = {};
                                    for (var i = 0; i < options.models.length; i++) {
                                        var products = options.models[i];
                                        for (var member in products) {
                                            result["Detail[" + i + "]." + member] = products[member];
                                        }
                                    }
                                    return result;
                                }
                                else {
                                    return options;
                                }
                            }

                        }

                    }

                });
            }
        }



        if ("@Model.IsGlobalCredential" == "True") {
            $("#UniversalPackages").kendoGrid({
                sortable: true,
                pageable: false,
                scrollable: false,
                navigatable: true,
                columns: [
            { field: "IsEnableUniversalPackage", title: " ", sortable: false, width: 230, template: '<input class="chkIsDefault" type="checkbox" #=IsEnableUniversalPackage == true ? "checked=true" : "" # id="IsDefault_#=pkPackageId#" disabled="disabled" />' },
                //field: "IsEnableUniversalPackage", title: " ", sortable: false, width: 210, template: '<input class="css-checkbox" type="checkbox" #=IsEnableUniversalPackage == true ? "checked=true" : "" # id="IsDefault_#=pkPackageId#" disabled="disabled" /> <label class="css-label"></label>' },
            { field: "PackageDisplayName", sortable: false, sortable: false, title: "Packages", width: 210, editable: false },
            { field: "PackageCode", sortable: false, title: "Code", width: 210, editable: false },
            { field: "include", sortable: false, title: "DataSources", width: 210, editable: false },
            { field: "PackagePrice", sortable: false, title: "Price" }
                ],
                editable: false,
                dataBound: function () {
                    var takeTotal = this.dataSource.total();

                    var gridHeaderRows = $("#UniversalPackages tbody th");
                    var gridRows = $("#UniversalPackages tbody tr");
                    var takeGrid = $("#UniversalPackages").data("kendoGrid");
                    var length = gridRows.length;

                    $(".chkIsDefault").on("click", function (e) {
                        var row = $(e.target).closest("tr");
                        var model = $("#UniversalPackages").data("kendoGrid").dataItem(row);
                        model.set("IsEnableUniversalPackage", this.checked);
                    });

                    for (i = 0; i < length; i++) {

                        var dataItem = takeGrid.dataItem(gridRows[i]);
                        var row = gridRows[i];
                        var categaryname = dataItem.PackageDisplayName;
                        var ProductCode = dataItem.PackageCode;
                        var Price = dataItem.PackagePrice;
                        var IsDefault = dataItem.IsDefault;
                        var include = dataItem.include;
                        var categaryID = dataItem.pkPackageId;

                    }
                },
                dataSource: {
                    serverPaging: false,
                    serverSorting: false,
                    serverFiltering: false,

                    schema: {
                        model: { id: "pkPackageId",
                            fields: {
                                IsEnableUniversalPackage: { type: "boolean", editable: true, nullable: true },
                                PackageAccessId: { editable: false, nullable: true, editable: false, type: "string" },
                                pkPackageId: { editable: false, nullable: true, editable: false, type: "int" },
                                PackageCode: { type: "string", editable: false },
                                include: { nullable: true, editable: false, type: "string" },
                                PackageDisplayName: { editable: false, nullable: true, type: "string" },
                                PackagePrice: { editable: false, nullable: true, type: "string" }
                            }
                        }
                    },
                    batch: true,
                    change: function (e) {
                    },
                    transport: {
                        read: {
                            url: '@Url.Action("GetAllPackageRecords", "Control", new { CompanyId = @ViewData["PkCompanyId"] })',
                            type: "POST"
                        },
                        update: {
                            url: '../Control/UpdateUniversalPackages',
                            type: "POST",
                            complete: function (jqXHR, textStatus) {
                                if (counter < TotalModifiedGridCount) counter++;
                                else {
                                    var grid = $("#UniversalPackages").data("kendoGrid");
                                    grid.dataSource.read();
                                    grid.refresh();
                                }
                            }
                        },
                        parameterMap: function (data, operation) {

                            if (operation != "read") {

                                var result = {};

                                for (var i = 0; i < data.models.length; i++) {
                                    var product = data.models[i];

                                    for (var member in product) {
                                        result["products[" + i + "]." + member] = product[member];
                                    }
                                }
                                return result;
                            }
                        }
                    }
                }
            });
        }
        else {
            $("#UniversalPackages").kendoGrid({
                sortable: true,
                pageable: false,
                scrollable: false,
                navigatable: true,
                columns: [
            { field: "IsEnableUniversalPackage", title: " ", width:230, sortable: false, template: '<input class="chkIsDefault" type="checkbox" #=IsEnableUniversalPackage == true ? "checked=true" : "" # id="IsDefault_#=pkPackageId#"  />' },
                //field: "IsEnableUniversalPackage", title: " ", width:230, sortable: false, template: '<input class="css-checkbox" type="checkbox" #=IsEnableUniversalPackage == true ? "checked=true" : "" # id="IsDefault_#=pkPackageId#"  /> <label class="css-label"> </label>' },
            { field: "PackageDisplayName", sortable: false, sortable: false, title: "Packages", width: 150, editable: false },
            { field: "PackageCode", sortable: false, title: "Code", width: 50, editable: false },
            { field: "include", sortable: false, title: "DataSources", width: 170, editable: false },
            { field: "PackagePrice", sortable: false, title: "Price" }
                ],
                editable: true,
                dataBound: function () {
                    var takeTotal = this.dataSource.total();

                    var gridHeaderRows = $("#UniversalPackages tbody th");
                    var gridRows = $("#UniversalPackages tbody tr");
                    var takeGrid = $("#UniversalPackages").data("kendoGrid");
                    var length = gridRows.length;

                    $(".chkIsDefault").on("click", function (e) {
                        var row = $(e.target).closest("tr");
                        var model = $("#UniversalPackages").data("kendoGrid").dataItem(row);
                        model.set("IsEnableUniversalPackage", this.checked);
                    });

                    for (i = 0; i < length; i++) {

                        var dataItem = takeGrid.dataItem(gridRows[i]);
                        var row = gridRows[i];
                        var categaryname = dataItem.PackageDisplayName;
                        var ProductCode = dataItem.PackageCode;
                        var Price = dataItem.PackagePrice;
                        var IsDefault = dataItem.IsDefault;
                        var include = dataItem.include;
                        var categaryID = dataItem.pkPackageId;

                    }
                },
                dataSource: {
                    serverPaging: false,
                    serverSorting: false,
                    serverFiltering: false,

                    schema: {
                        model: { id: "pkPackageId",
                            fields: {
                                IsEnableUniversalPackage: { type: "boolean", editable: true, nullable: true },
                                PackageAccessId: { editable: false, nullable: true, editable: false, type: "string" },
                                pkPackageId: { editable: false, nullable: true, editable: false, type: "int" },
                                PackageCode: { type: "string", editable: false },
                                include: { nullable: true, editable: false, type: "string" },
                                PackageDisplayName: { editable: false, nullable: true, type: "string" },
                                PackagePrice: { editable: false, nullable: true, type: "string" }
                            }
                        }
                    },
                    batch: true,
                    change: function (e) {
                    },
                    transport: {
                        read: {
                            url: '@Url.Action("GetAllPackageRecords", "Control", new { CompanyId = @ViewData["PkCompanyId"] })',
                            type: "POST"
                        },
                        update: {
                            url: '../Control/UpdateUniversalPackages',
                            type: "POST",
                            complete: function (jqXHR, textStatus) {
                                if (counter < TotalModifiedGridCount) counter++;
                                else {
                                    var grid = $("#UniversalPackages").data("kendoGrid");
                                    grid.dataSource.read();
                                    grid.refresh();
                                }
                            }
                        },
                        parameterMap: function (data, operation) {

                            if (operation != "read") {

                                var result = {};

                                for (var i = 0; i < data.models.length; i++) {
                                    var product = data.models[i];

                                    for (var member in product) {
                                        result["products[" + i + "]." + member] = product[member];
                                    }
                                }
                                return result;
                            }
                        }
                    }
                }
            });
        }
    });

        $(document).ready(function () {

            if ("@Model.IsGlobalCredential" == "True") {
                $("#CustomPackages").kendoGrid({
                    sortable: true,
                    pageable: false,
                    scrollable: false,
                    navigatable: true,
                    columns: [
              { field: "IsDefault", sortable: false, title: " ", width:210, template: '<input type="checkbox" #=IsDefault == true ? "checked=true" : "" # id="IsDefault_Product#=pkPackageId#" disabled="disabled" ></input>' },
                //field: "IsDefault", sortable: false, title: " ", width: 210, template: '<input class="css-checkbox" type="checkbox" #=IsDefault == true ? "checked=true" : "" # id="IsDefault_Product#=pkPackageId#" disabled="disabled" > <label class="css-label"></label>' },
              { field: "PackageDisplayName", sortable: false, title: "Packages", width: 210 },
              { field: "PackageCode", sortable: false, title: "Code", width: 210 },
              { field: "include", sortable: false, title: "DataSources", width: 210 },
              { field: "PackagePrice", sortable: false, title: "Price", width:210 },
              { field: "pkPackageId", sortable: false, title: "Action", width: 100, template: '<input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/edit.png")" id="image1" value="#=pkPackageId#" style="width:15; height:18px" title="Edit" disabled="disabled" onclick="EditPackage(this.value); return false;" /> <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/delete.png")" id="image1" title="Delete" disabled="disabled" value="#=pkPackageId#" onclick="return Deletecustom(this.value);" style="width:15px; height:18px" />' },
              ],

                    editable: false,
                    dataBound: function () {
                        var takeTotal = this.dataSource.total();

                        var gridHeaderRows = $("#CustomPackages tbody th");
                        var gridRows = $("#CustomPackages tbody tr");
                        var takeGrid = $("#CustomPackages").data("kendoGrid");
                        var length = gridRows.length;


                        for (i = 0; i < length; i++) {
                            var dataItem = takeGrid.dataItem(gridRows[i]);
                            var row = gridRows[i];
                            var categaryname = dataItem.PackageDisplayName;
                            var ProductCode = dataItem.PackageCode;
                            var Price = dataItem.PackagePrice;
                            var include = dataItem.include;
                            var categaryID = dataItem.pkPackageId;
                            var IsDefault = dataItem.IsDefault;
                            GridEffect("CustomPackages", dataItem)

                        }
                    },
                    dataSource: {
                        serverPaging: false,
                        serverSorting: true,
                        serverFiltering: true,
                        schema: {
                            model: { id: "pkPackageId",
                                fields: {
                                    pkPackageId: { editable: false, nullable: true },
                                    PackageAccessIdIsDefault: { type: "boolean", editable: false },
                                    Include: { editable: false, nullable: true },
                                    PackageDisplayName: { type: "string", editable: false },
                                    PackageCode: { type: "string", editable: false },
                                    PackagePrice: { type: "number", editable: true, required: true },
                                    Include: { type: "boolean", editable: false },
                                    IsDefault: { type: "boolean", editable: false }
                                }
                            }
                        },
                        batch: true,
                        change: function (e) {
                        },
                        transport: {
                            read: {
                                url: '../Control/GetCustomPackages?LocationId=@ViewBag.locationid&CompanyId=' + $("#hdPkCompanyId").val(),
                                type: "POST"
                            },
                            update: {
                                url: '@Url.Action("UpdateDataSource", "Control")',
                                type: "POST"
                            },
                            parameterMap: function (data, operation) {

                                if (operation != "read") {

                                    var result = {};

                                    for (var i = 0; i < data.models.length; i++) {
                                        var product = data.models[i];

                                        for (var member in product) {
                                            result["products[" + i + "]." + member] = product[member];
                                        }
                                    }
                                    return result;
                                }

                            }

                        }

                    }

                });
            }
            else {
                $("#CustomPackages").kendoGrid({
                    sortable: true,
                    pageable: false,
                    scrollable: false,
                    navigatable: true,
                    columns: [
              { //field: "IsDefault", sortable: false, title: " ", template: '<input class="chkDefault" type="checkbox" #= IsDefault ? "checked=checked" : "" # onclick="Savepack(#=pkPackageId#,this);" ></input>' },
                  field: "IsDefault", sortable: false, title: " ", width: 210, template: '<input class="chkDefault" type="checkbox" #= IsDefault ? "checked=checked" : "" # onclick="Savepack(#=pkPackageId#,this);" ></input>'
              },
              { field: "PackageDisplayName", sortable: false, title: "Packages", width: 150 },
              { field: "PackageCode", sortable: false, title: "Code", width: 50 },
              { field: "include", sortable: false, title: "DataSources", width: 170 },
              { field: "PackagePrice", sortable: false, title: "Price" },
              { field: "pkPackageId", sortable: false, title: "Action", width: 100, template: '<input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/edit.png")" id="image1" value="#=pkPackageId#" style="width:15; height:18px" title="Edit" onclick="EditPackage(this.value); return false;" /> <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/delete.png")" id="image1" title="Delete" value="#=pkPackageId#" onclick="return Deletecustom(this.value);" style="width:15px; height:18px" />' },
              ],

                    editable: true,
                    dataBound: function () {
                        var takeTotal = this.dataSource.total();

                        var gridHeaderRows = $("#CustomPackages tbody th");
                        var gridRows = $("#CustomPackages tbody tr");
                        var takeGrid = $("#CustomPackages").data("kendoGrid");
                        var length = gridRows.length;


                        for (i = 0; i < length; i++) {
                            var dataItem = takeGrid.dataItem(gridRows[i]);
                            var row = gridRows[i];
                            var categaryname = dataItem.PackageDisplayName;
                            var ProductCode = dataItem.PackageCode;
                            var Price = dataItem.PackagePrice;
                            var include = dataItem.include;
                            var categaryID = dataItem.pkPackageId;
                            var IsDefault = dataItem.IsDefault;
                            GridEffect("CustomPackages", dataItem)
                        }
                    },
                    dataSource: {
                        serverPaging: false,
                        serverSorting: true,
                        serverFiltering: true,
                        schema: {
                            model: { id: "pkPackageId",
                                fields: {
                                    pkPackageId: { editable: false, nullable: true },
                                    PackageAccessIdIsDefault: { type: "boolean", editable: false },
                                    Include: { editable: false, nullable: true },
                                    PackageDisplayName: { type: "string", editable: false },
                                    PackageCode: { type: "string", editable: false },
                                    PackagePrice: { type: "number", editable: true, required: true },
                                    Include: { type: "boolean", editable: false },
                                    IsDefault: { type: "boolean", editable: false }
                                }
                            }
                        },
                        batch: true,
                        change: function (e) {
                        },
                        transport: {
                            read: {
                                url: '../Control/GetCustomPackages?LocationId=@ViewBag.locationid&CompanyId=' + $("#hdPkCompanyId").val(),
                                type: "POST"
                            },
                            update: {
                                url: '@Url.Action("UpdateDataSource", "Control")',
                                type: "POST"
                            },
                            parameterMap: function (data, operation) {

                                if (operation != "read") {

                                    var result = {};

                                    for (var i = 0; i < data.models.length; i++) {
                                        var product = data.models[i];

                                        for (var member in product) {
                                            result["products[" + i + "]." + member] = product[member];
                                        }
                                    }
                                    return result;
                                }

                            }

                        }

                    }

                });
            }

        });


    function AddNewPackage() {
        var PkCompanyId = $("#hdPkCompanyId").val();
        var PkLocationId = '@ViewBag.locationid';

        var pkPackageId = -1;

        $("#divManageCustomPackages").load('@Url.Action("PartialAddEditCustomPackages", "Control")', { _a: pkPackageId, _companyid: PkCompanyId, _locationid: PkLocationId });
        var window = $("#divManageCustomPackages").kendoWindow({
            modal: true,
            height: "530px",
            width: "800px"
        }).data("kendoWindow");
        window.center();
        window.open();

    }


    function EditPackage(pkPackageId) {
        var PkCompanyId = $("#hdPkCompanyId").val();
        var PkLocationId = '@ViewBag.locationid';

        $("#divManageCustomPackages").load('@Url.Action("PartialAddEditCustomPackages", "Control")', { _a: pkPackageId, _companyid: PkCompanyId, _locationid: PkLocationId }, function () {
            var window = $("#divManageCustomPackages").kendoWindow({
                modal: true,
                height: "530px",
                width: "800px"
            }).data("kendoWindow");
            window.center();
            window.open();
        });

    }

    function Savepack(packId, ischecked) {
        var checked = $(ischecked).attr('checked');
        var isvisible = false;
        if (checked == "checked") {
            isvisible = true;
        }
        $.post('@Url.Action("SavePackagevisibility", "Control")', { packId: packId, isvisible: isvisible }, function (data) {
            //do nothing.
        });
    }
    function Deletecustom(pkPackageId) {
        if (confirm('Are you sure you want to delete this package?')) {
            $.post('@Url.Action("DeleteCustomPackageByIds", "Control")', { Ids: pkPackageId }, function (json) {

                if (json == 1) {
                    $("#divMSG1").css("display", "Block");
                    $("#divMSG1").html("<span class=\"successmsg\">Package successfully deleted.</span>");
                    var grid = $("#CustomPackages").data("kendoGrid");
                    grid.dataSource.read();
                    grid.refresh();
                }
                else {
                    $("#divMSG1").css("display", "Block");
                    $("#divMSG1").html("<span class=\"errormsg\">Error occured while deleting Package.</span>");
                }
            });
            return true;
        }
        else {
            return false;
        }
    }
</script>
