﻿<table width="100%">
    <tr id="tr_Menu">
        <td colspan="2" class="menu_seperator" valign="bottom">
            <table width="100%" cellpadding="0" cellspacing="0" style="padding: 0px 0px 0px 0px; height: 35px;">
                <tr>
                    @*<td align="right" style="width: 9px; height: 36px;">
                            <div class="left_BorderImg">
                            </div>
                        </td>*@
                    <td valign="bottom" style="background-color:#fff;">
                        <div class="fixed-margin">
                            <div class="center-application">
                                <ul class="nav nav-tabs" id="myTab" style="margin-bottom: 10px;">
                                    <li id="liReport"><a id="lnkReport" title="Reports" href="../Control/ManageReports">Report</a></li>
                                    <li id="liPackage" class=""><a id="lnkPackage" title="Packages" href="../Control/PackagesList">Packages</a></li>
                                    <li id="liProduct" class=""><a id="lnkProduct" title="Products" href="../Control/ManageProducts">Products </a></li>
                                    <li id="liPenalCode" class=""><a id="lnkPenalCode" data-toggle="tab1" title="PenalCodes" href="../Control/PenalCodes">Penal Codes </a></li>


                                    <li id="liFilter" class=""><a id="lnkFilter" data-toggle="tab1" title="Filters" href="../Control/Filters">Filters </a></li>
                                    <li id="liGlobleFilter" class=""><a id="lnkGlobleFilter" data-toggle="tab1" title="Globle Filters" href="../Control/GlobleFilter">Globle Filters </a></li>

                                    <li id="liSSNComplainceReviews" class=""><a id="lnkSSNComplainceReviews" data-toggle="tab1" title="SSN Complaince Reviews" href="../Control/SSNComplainceReviews">SSN Complaince Reviews </a></li>
                                    <li id="liNCR1backup" class=""><a id="lnkNCR1backup" data-toggle="tab1" title="NCR1 Backup" href="../Control/NCR1Backupfeature">NCR1 Backup</a></li>
                                    <li id="li613Notice" class=""><a id="lnk613Notice" data-toggle="tab1" title="613 Notice" href="../Control/Partial613NoticeExport">613 Notice</a></li> @*INT 250*@


                                </ul>
                            </div>
                        </div>
                    </td>
                   
                </tr>
            </table>
        </td>
    </tr>
</table>
<script type="text/javascript">
    Tab_Selection();

    function Tab_Selection() {

        var liReport = document.getElementById('liReport');
        var liPackage = document.getElementById('liPackage');
        var liProduct = document.getElementById('liProduct');
        var liPenalCode = document.getElementById('liPenalCode');
        var liFilter = document.getElementById('liFilter');
        var liGlobleFilter = document.getElementById('liGlobleFilter');

        var liSSNComplainceReviews = document.getElementById('liSSNComplainceReviews'); // int 23
        var liNCR1backup = document.getElementById('liNCR1backup'); //ND-5
        var li613Notice = document.getElementById('li613Notice'); //INT-250
        var loc = window.location.href;


        if (loc.indexOf("ManageReports") != -1) {
            $(liReport).addClass('active');
        }
        if ((loc.indexOf("PackagesList") != -1) || (loc.indexOf("ManagePackages") != -1)) {
            $(liPackage).addClass('active');
        }
        if (loc.indexOf("ManageProducts") != -1) {
            $(liProduct).addClass('active');
        }
        if (loc.indexOf("PenalCodes") != -1) {
            $(liPenalCode).addClass('active');
        }

        if (loc.indexOf("Filters") != -1) {
            $(liFilter).addClass('active');
        }

        //INT-250
        if (loc.indexOf("Partial613NoticeExport") != -1) {
            $(li613Notice).addClass('active');
        }
        if (loc.lastIndexOf("GlobleFilter") != -1) {

            if (loc.lastIndexOf("UpdateGlobleFilters") != -1) {
                $(liGlobleFilter).addClass('active');
                $(liFilter).removeClass('active');
            }
            else {

                
                $(liGlobleFilter).addClass('active');
            }

        }


        if (loc.lastIndexOf("SSNComplainceReviews") != -1) {
            $(liSSNComplainceReviews).addClass('active');
            $(liGlobleFilter).removeClass('active');
        }



        //ND-5 highlight active tab
        if (loc.indexOf("NCR1Backupfeature") != -1) {
            $(liNCR1backup).addClass('active');
        }

        $("#lnkMenuProducts").addClass('active');

    }


</script>
