﻿@model Emerge.Models.LocationModel
@{
    ViewBag.Title = "Reference Codes";
    
    <link href="@Url.Content("~/Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.2.712/telerik.windows7.min.css")" rel="stylesheet" type="text/css" />
}
<style type="text/css">
    div.header1
    {
        cursor: default;
    }
    
    input
    {
        margin-right: 10px;
    }
    .k-dropdown
    {
        margin-right: 10px;
        width: 224px;
        float: left;
    }
    .k-invalid-msg, .k-textbox
    {
        float: left;
    }
    .k-scrollbar-vertical
    {
        top: 0;
        right: 0;
        width: 17px;
        height: 98.9%;
        overflow-y: scroll;
        overflow-x: hidden;
        overflow: scroll;
    }
    
    #kendoGrid .tbCompanyPrice
    {
        width: 50px;
    }
    #kendoGrid .tbDefaultPrice
    {
        width: 50px;
    }
</style>

<div class="buttons-bar" style="margin-top: 58px;">
        <img id="imgApplicant15" class="plus-minus" src="~/Content/themes/base/images/mastercard.jpg" alt="expand" style="width: 48px; height: 30px; margin-left: 15px; margin-top: 12px; float: left">
        <div>
            @if (Model.IsEdit)
            {
                <div style="float: left; margin-left: 12px; margin-top: 15px; font-size: 17px; font-weight: bold;">@Model.CompanyName&#32;&#91;@Model.CityName&#44;@Model.State_Code&#93;</div>
                     }
            else
            { 
                <div style="float: left; margin-left: 6px; margin-top: 16px; font-weight: bold;">Company</div>
                      
                     }
        </div>

        <div class="horiz-ch-menu hori-btns">
            <ul>
                <li>
                     <button class="btn btn-danger" type="button" title="Cancel" id="imgCancel" style="width: 74px; margin-top: -36px;" onclick="CancelUpdate();">Cancel</button>
                        @*<img class="imgCommon" alt="" src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/cancel_button.png")" title="Cancel" onclick="CancelUpdate();" id="imgCancel" />*@

                </li>
            </ul>                                   
        </div>
    </div>

@*<div id="content-box">
    <div class="padding">
    </div>
    <div id="toolbar-box">
        <div class="t">
            <div class="t">
                <div class="t">
                </div>
            </div>
        </div>
        <div class="m">
            <div class="toolbar" id="toolbar" style="vertical-align: top">
                <table class="toolbar">
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            <img class="imgCommon" alt="" src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/cancel_button.png")" title="Cancel" onclick="CancelUpdate();" id="imgCancel" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="header icon-48-categories" style="padding: 0px 0px 0px 55px; width: 40%;">
                @if (Model.IsEdit)
                {
                    <div>
                        @Model.CompanyName&#32;&#91;@Model.CityName&#44;@Model.State_Code&#93;</div>
                }
                else
                { 
                    <div>
                        Company</div>
                               
                }
            </div>
            <div class="clr">
            </div>
        </div>
        <div class="b">
            <div class="b">
                <div class="b">
                </div>
            </div>
        </div>
    </div>
</div>*@

<div id="content-box">
 <div class="padding" style="margin-bottom:40px;"> 
  <div id="element-box" style="background-color:#fff;">
    @* <div class="m">
         <div class="plus_btn" onclick="ExpdnColps613Notice()"  ></div>
    </div>
    <div class="m">
        <div class="Center_ImgMVC" style="padding: 0px 0px 10px 0px; width: 100%; height: 17px;
            padding-top: 3px;">*@
            <div id="tabstrip">
                <ul class="nav nav-tabs" id="Mytab">
                    <li id="liLocation"><a id="lnkLocation" href="AddCompanyLocation?lid=@Model.LocationId" title="Location">
                        Location<span id="spanET"></span></a> </li>
                    <li id="liUsers"><a id="lnkUsers" href="GetUsersUnderLocation?pkLocationId=@Model.LocationId" title="Users">
                        Users<span id="spanST"></span></a></li>
                    <li id="liPricing"><a id="lnkPricing" href="PricebyLocationId?pkLocationId=@Model.LocationId" title="Pricing">
                        Pricing <span id="spanMT"></span></a></li>
                    <li id="liPreferences" class="active"><a id="lnkPreferences" href="RefernceCodeByLocation?pkLocationId=@Model.LocationId" title="Preferences">
                        Preferences<span id="spanNL"></span></a></li>
                </ul>
            </div>
        @*</div>*@
        <div id="DivLocation" class="expand" style="margin-top: 0px;">
            <div id="element-box" style="background-color:#fff;">
                @*<div class="m">
                      <div class="plus_btn" onclick="ExpdnColps613Notice()"  ></div>
                </div>*@
                    <div id="DivUsers" class="expand">
                        <div class="usersgridblock">
                            <div id="ConfermMsgDiv" style="display: none; visibility: hidden;">
                                <h4>
                                    <span class="infomessage">Currently There is No Reference For This Company</span>
                                </h4>
                            </div>
                            @if (Model.IsEdit)
                            {
                                <div id="GridReferenceCode" style="margin-top: 10px;">
                                </div>
                            }
                            else
                            {
                                <div style="">
                                    <h4>
                                        <span class="infomessage" id="confirmMsgSpan">Please Add Location First </span>
                                    </h4>
                                </div>
                            }
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                    <div class="clr">
                    </div>
            </div>
        </div>
        <div class="clr">
        </div>
   </div>
  </div>
 </div>
<script>

    function CancelUpdate() {

        self.location = "GetAllLocations";

    }
    $("#GridReferenceCode").kendoGrid({
        sortable: true,
        pageable: true,
        scrollable: false,
        navigatable: true,
        columns: [
            { field: "ReferenceCode", title: "Reference Code", width: "20%", sortable: false },
            { field: "ReferenceNote", title: "Notes", width: "60%", sortable: false },
            { command: ["edit", "destroy"], title: "Action", width: "20%" }
           ],
        editable: "inline",
        toolbar: ["create"],
        dataBound: function () {
            var takeTotal = this.dataSource.total();
            if (takeTotal == 0) {
                document.getElementById("ConfermMsgDiv").style.visibility = "visible";
                document.getElementById("ConfermMsgDiv").style.display = "block";
            }
        },

        dataSource: {
            page: 1,
            pageSize: 25,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            schema: {
                model: { id: "pkReferenceCodeId",
                    fields: {
                        pkReferenceCodeId: { editable: false },
                        ReferenceCode: { nullable: false, validation: { required: true} },
                        ReferenceNote: { nullable: false, validation: { required: true} }
                    }
                }
            },
            batch: true,
            transport: {
                create: {
                    url: '@Url.Action("Add_ReferenceCode", "Control", new { CompanyId = @ViewData["PkCompanyId"] })',
                    type: "POST",
                    
                    complete: function (jqXhr, textStatus) {

                        if (textStatus == 'success') {
                            $("#ConfermMsgDiv").hide();
                            alert("Records Saved Successfully");

                        }
                    }

                },
                read: {
                    url: '@Url.Action("Get_ReferenceNote", "Control", new { CompanyId = @ViewData["PkCompanyId"] })',
                    type: "POST"
                },
                update: {
                    url: '@Url.Action("Update_ReferenceCode", "Control")',
                    type: "POST",
                    complete: function (jqXhr, textStatus) {
                        if (textStatus == 'success') {
                            $("#ConfermMsgDiv").hide();
                           alert("Records Saved Successfully");
                             }
                    }
                },
                destroy: {
                    url: '@Url.Action("Delete_ReferenceCode", "Control", new { CompanyId = @ViewData["PkCompanyId"] })',
                    type: "POST",
                    complete: function (jqXhr, textStatus) {

                        if (textStatus == 'success') {
                            alert("Records Deleted Successfully");

                        }
                    }

                },
                parameterMap: function (data, operation) {

                    if (operation != "read") {

                        var result = {};

                        for (var i = 0; i < data.models.length; i++) {
                            var refcode = data.models[i];

                            for (var member in refcode) {
                                result["referencecodes[" + i + "]." + member] = refcode[member];
                            }
                        }
                        return result;
                    }

                }

            }

        }

    });


    function onRequestEnd(e) {
        alert("ok");
        if (e.type == "update" && !e.response.Errors) {
            alert("Update record is successfull");
        }

        if (e.type == "create" && !e.response.Errors) {
            alert("Create record is successfull");
        }
    }


</script>
