﻿@model Emerge.Models.ReportCommentModel
@{
    ViewBag.Title = "Report Comments";
    <link href="@Url.Content("~/Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.2.712/telerik.windows7.min.css")" rel="stylesheet" type="text/css" />

}
<style type="text/css">
    #tabsDemo1 a {
        background: transparent none repeat scroll 0 0 !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #666 !important;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px !important;
        padding: 9px 15px !important;
    }

    #tabsDemo1 > li:nth-child(n+2) a {
        margin-left: -7px !important;
    }
    .w
    {
        color: #FFFFFF;
    }
    .k-input[type="text"]
    {
        height: 25px;
        width: 96%;
    }
    .selctone
    {
    }
    .selctoneOption
    {
    }
    .ReportLeft
    {
        border-left: 1px solid #C5C5C5;
        border-right: 1px solid #C5C5C5;
        border-bottom: 1px solid #C5C5C5;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .AddNew
    {
        width: 71px;
        background-image: url("../Content/themes/base/images/addNew.png");
    }
    input[type="submit"]
    {
        border: 1px solid #C5C5C5;
    }
    .EditDel
    {
        height: 24px;
        width: 75px;
        padding: 0 7px 1px;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        background-color: #e6e6e6;
        background-image: url("../Content/textures/highlight.png");
        background-position: 0 center;
        background-position-y: center;
    }
    .k-colorpicker-popup .k-item div {
    float:left;
    width:12px;
    height:12px;
    }
    .power_by
    {
    float:right;
    margin-top:6px;
    }
    .newfature
    {
     float:left;
     font-family:arial;
     font-size:16px;
     color:#fff;
    margin-top:.1%;
    font-weight:bold;
    
    }
div#colorpicker
{
    width: 191px;
    height: 164px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom:0;
    padding-right:0;
    position: absolute;
    top: 22px;
    left: 0px;
    background-color: #EEE;
    border: 1px solid #BBB;
    display: none;
    z-index: 200;
}
div#colorpicker div
{
    float: left;
    padding:0;
}
div#colorpicker div.clear
{
    float: none;
    clear: both;
    border: 0;
    overflow:hidden;
    height:0;
    font-size:0;
}
        
div#colorpicker div#colorContainer
{
    float: left;
    border:0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}
div#colorContainer div
{
    border:0;
    border-top: solid 1px black;
    border-left: solid 1px black;
    width:9px;
    height:9px;
    overflow:hidden;/*for IE6*/
}
div#colorpicker div#hexBox, div#colorpicker div#bgBox
{
    border: 1px solid #999;
    font: normal 9px verdana;
    height: 16px;
    margin-bottom: 4px;
}
div#colorpicker div#hexBox
{
    width: 60px;
    padding-left: 3px;
    color: Black;
    line-height: 16px;
}
div#colorpicker div#bgBox
{
    width: 110px;
    margin-left: 4px;
    clear: right;
}

div.transChooser
{
    background:  transparent url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "transChooser.gif")');
}     
span.colorChooser
{
    width: 37px;
    height: 20px;
    background:   transparent url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "colorChooser.gif")');
    margin-left: 1px;
    margin-bottom: 4px;
    position: relative;
    display: inline-block;
    overflow: visible;
    vertical-align: middle;
    z-index:1;
}     
 
 .AdminAddInformation {
    background-color:transparent; 
    width: 100%;
}
div.header1 { 
    cursor:default; 
}
 .divAjaxLoader
    {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: lightgrey;
        z-index: 9000;
        text-align: center;
    }

 #divProgressBar
    {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: lightgrey;
        z-index: 9000;
        text-align: center;
    }

 #divProgressBar-image
    {
        position: absolute;
        top: 300px;
        left: 610px;
        z-index: 9001;        
    }   
    .successmsg
    {
        color:#fff !important;
    }
</style>
<div id="content-box">
    <div class="padding">
        <div id="toolbar-box">
        </div>
        <div class="clr">
        </div>
        <div id="element-box" style="margin-top: 50px;">
            <div class="">
                @Html.Partial("ContentManagement")
                <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                    <div class="m">
                        <div class="header" style="padding: 0px 0px 0px 55px;">
                            <img class="image-position" src="../Content/themes/base/images/ControlPanel/images/header/line-number.png">
                            Line Number
                        </div>
                        <div style="padding-left: 23px; width: 100% !important; overflow-y: scroll; height: 145px !important;">
                            <table id="tblLine" cellspacing="2" cellpadding="2">
                                @for (int i = 0; i < Model.LineNumberDataSource.Count; i++)
                                {
                                    string color = "#f5f5f5";
                                    if (i % 2 == 0)
                                    {
                                        color = "white";
                                    }
                                    <tr>
                                        <td style="width: 2%; margin-left: 20px;">
                                            @{
                                    if (Model.LineNumberDataSource.ElementAt(i).IsVisible)
                                    {
                                                <input type="checkbox" class="css-checkbox chk-style" id="@Model.LineNumberDataSource.ElementAt(i).pkLineId" name="@Model.LineNumberDataSource.ElementAt(i).pkLineId" checked="checked" />
                                                <label for="@Model.LineNumberDataSource.ElementAt(i).pkLineId" class="css-label">
                                                </label>
                                    }
                                    else
                                    {
                                                <input type="checkbox" class="css-checkbox chk-style" id="@Model.LineNumberDataSource.ElementAt(i).pkLineId" name="@Model.LineNumberDataSource.ElementAt(i).pkLineId" />
                                                <label for="@Model.LineNumberDataSource.ElementAt(i).pkLineId" class="css-label">
                                                </label>
                                    }
                                            }
                                        </td>
                                        <td>
                                            <span>@Model.LineNumberDataSource.ElementAt(i).LineName</span>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <img src="@Url.Content("~/Content/themes/base/images/add-new.png")" id="imgAddLine" style="margin-top: 8px;margin-left:21px; border: 0px solid white; cursor: pointer; background-color: #f2f7fb;" title="Add New Line" />
                    </div>
                </div>
                <div id="element-box" style="margin-top: 10px; padding-top: 1px; margin-bottom: 40px;">
                    <div class="m">                        
                        <div class="header icon-48-categories" style="padding: 0px 0px 0px 55px;">
                            <img class="image-position" src="../Content/themes/base/images/ControlPanel/images/header/report-comments.png">
                            Report Comments
                        </div>
                        <div style="width: 100%; text-align: center; margin-bottom: 25px;">
                        <div style="text-align: center; width: 100%; margin-bottom: 10px">@Html.Raw(Model.Message)</div></div>
                        <table cellpadding="0" cellspacing="0" width="100%" class="AdminAddInformation" style="margin-top: -18px !important;">
                            <tr>
                                <td>
                                    <table cellspacing="2" cellpadding="2" width="100%" style="height: 30px;" class="form-grid-head">
                                        <tr>
                                            <td style="width:30%;">
                                                Button Text
                                            </td>
                                            <td style="width: 50%;">
                                                Comments
                                            </td>
                                            <td style="padding-left: 0%;">
                                                Line No.
                                            </td>
                                            <td>
                                                Action
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div class="ReportLeft" style="padding: 5px;y-overflow:scroll;">
                            @for (int i = 0; i < Model.Rows.Count; i++)
                            {
                                string color = "#f5f5f5";
                                if (i % 2 == 0)
                                {
                                    color = "white";
                                }
                                <div id="divid_@i" style="background-color:@color;">
                                    @*<form method="post" action="UpdateReportComments" enctype="multipart/form-data" id="form">*@
                                    <table cellspacing="2" cellpadding="2" border="0" width="100%" id="tblMain">
                                        <tr>
                                            <td style="width: 30%; text-align:left;vertical-align:top;padding-top:3px;">
                                                <input type="hidden" id='hdnmain_@i' value="@Model.Rows.ElementAt(i).pkReportCommentsId" />                                                
                                                <input type="text" id="Btext_@i" style="width: 98%; margin-left: 3px;" name="BtnText" class="k-textbox" required validationmessage="Please enter Text" value="@Model.Rows.ElementAt(i).ButtonTitle" readonly="readonly" />
                                            </td>
                                            <td style="width: 50%;text-align: left;padding-top:5px;">
                                               <textarea  class="k-textbox" id="Comments_@i" style="margin-left:3px;width:98%;vertical-align:top;" rows="3" cols="300" readonly="readonly">@Model.Rows.ElementAt(i).Comments</textarea>
                                            </td>
                                            <td style="width: 11%; text-align:left;vertical-align:top;padding-top:3px;">
                                                <select id="ddlLine_@i" style="width: 100px; height: 28px; border-radius: 3px;" disabled="disabled" >
                                                    @foreach (var ch in ViewData["Lineno"] as IEnumerable<SelectListItem>)
                                                    {
                                                        if (Convert.ToInt32(ch.Value) == @Model.Rows.ElementAt(i).pkLineId)
                                                        {
                                                        <option value=@ch.Value selected="selected">@ch.Text</option>
                                                        }
                                                        else
                                                        {
                                                        <option value=@ch.Value>@ch.Text</option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                            <td style="text-align:right;vertical-align:top;padding-top:3px;">
                                                <div>
                                                    <table id="tblEdit">
                                                        <tr id="@i">
                                                            <td>
                                                                <input type="hidden" id='hdn_@i' name="ReportCommentsId" value="@Model.Rows.ElementAt(i).pkReportCommentsId" />
                                                                @*<input id="Edit_@i" type="button" value="Edit" title="Edit" onclick="EnableEdit(this.id);" class="EditDel" style="cursor:pointer; margin-right:5px;" />*@
                                                                <input type="image" src="/Content/themes/base/images/edit.png" id="Edit_@i" title="Edit" value="Edit" style="width:15; height:18px" onclick="EnableEdit(this.id);" />

                                                            </td>
                                                            <td>
                                                                @*<input id="Save_@i" type="button" onclick="UpdateCommentsText(this.id);" value="Save" title="Save" class="EditDel" style="cursor: pointer; display: none; margin-right: 5px" />*@
                                                                <input type="image" src="/Content/themes/base/images/Save.png" id="Save_@i" onclick="UpdateCommentsText(this.id);" value="Save" title="Save" style="width:15px; height:18px;display: none;" />
                                                            </td>
                                                            <td>
                                                                @*<input id="Cancel_@i" type="button" value="Cancel" onclick="CancelEdit(this.id);" title="Cancel" class="EditDel" style="cursor: pointer; display: none; margin-right: 5px;" />*@
                                                                <input type="image" src="/Content/themes/base/images/Cancel.png" id="Cancel_@i" value="Cancel" title="Cancel" onclick="CancelEdit(this.id);" style="width:15px; height:18px;display: none;" />
                                                            </td>
                                                            <td>
                                                                @*<input type="button" onclick="return DeleteReviewLog(@Model.Rows.ElementAt(i).pkReportCommentsId)" value="Delete" title="Delete" class="EditDel" style="cursor: pointer; margin-right: 5px;" />*@
                                                                <input type="image" src="/Content/themes/base/images/delete.png"  value="Delete" title="Delete" onclick="return DeleteReviewLog(@Model.Rows.ElementAt(i).pkReportCommentsId)" style="width:15px; height:18px" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    @*</form>*@
                                </div>
                            }
                        </div>
                        <div id="divAdd" style="display: none;">
                            <table id="tblValidate" cellspacing="2" cellpadding="2" width="100%;">
                                <tr>
                                     <td style="width: 30%; text-align:left;vertical-align:top;padding-top:5px;">
                                        <input type="text" class="k-textbox" id="txtBtnText" style="width: 98%; margin-left: 5px;" />
                                    </td>
                                   <td style="width: 50%;text-align: left;padding-top:5px;">
                                        <textarea id="txtCommentBox" class="k-textbox" style="margin-left:5px;width:97%;vertical-align:top;" rows="3" cols="300"></textarea>
                                    </td>
                                     <td style="width: 11%; text-align:left;vertical-align:top;padding-top:3px;">
                                        @Html.DropDownList("ddlLine", ViewData["Lineno"] as IEnumerable<SelectListItem>, new { @style = "width: 100px; height: 28px; border-radius: 3px; margin-left: -3px;margin-top: 3px;" })
                                    </td>
                                      <td style="vertical-align:top;padding-top:6px;">
                                    <input type="image" src="/Content/themes/base/images/Save.png" id="btnAddNew" onclick="SaveCommentsValues();" value="Save" title="Save" style="width:15px; height:18px;"/>
                                    <input type="image" src="/Content/themes/base/images/Cancel.png" id="btnCancelDiv" value="Cancel" title="Cancel" onclick="CancelDiv(this.id);" style="width:15px; height:18px;"/>                                       
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <img src="@Url.Content("~/Content/themes/base/images/add-new.png")" id="imgAddNew" onclick="return AddCommentsTest()" style="border: 0px solid white; margin-left: 6px;  margin-top: 17px; cursor: pointer; background-color: #f2f7fb;" title="Add New" />
                        <span class="successmsg" id="Colonmsg" style="display: none; text-align: center;
                            margin-top: -23px; margin-bottom: 28px;"></span>
                    </div>                  
                </div>
            </div>            
        </div>
        <div class="clr">
        </div>
    </div>
</div>
<div id="divProgressBar" style="display: none;">
    <img id="divProgressBar-image" src="../Content/Default/loading-image.gif" alt="Loading..." />
</div>
<script src="@Url.Content("~/Scripts/Pages/ReportComments.js")" type="text/javascript"></script>
