﻿@model Emerge.Models.MarketingContentModel
@{
    ViewBag.Title = "Review Log Status";
    <link href="@Url.Content("~/Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.2.712/telerik.windows7.min.css")" rel="stylesheet" type="text/css" />
    
}
<style type="text/css">
    #tabsDemo1 a {
        background: transparent none repeat scroll 0 0 !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #666 !important;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px !important;
        padding: 9px 15px !important;
    }

    #tabsDemo1 > li:nth-child(n+2) a {
        margin-left: -7px !important;
    }
    .w
    {
        color: #FFFFFF;
    }
    .k-input[type="text"]
    {
        height: 25px;
        width: 96%;
    }
    .selctone
    {
    }
    .selctoneOption
    {
    }
    .ReportLeft
    {
        border-left: 1px solid #C5C5C5;
        border-right: 1px solid #C5C5C5;
        border-bottom: 1px solid #C5C5C5;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .AddNew
    {
        width: 71px;
        background-image: url("../Content/themes/base/images/add-new.png");
    }
    input[type="submit"]
    {
        border: 1px solid #C5C5C5;
    }
    .EditDel
    {
        height: 24px;
        width: 75px;
        padding: 0 7px 1px;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        background-color: #e6e6e6;
        background-image: url("../Content/textures/highlight.png");
        background-position: 0 center;
        background-position-y: center;
    }
    .k-colorpicker-popup .k-item div {
    float:left;
    width:12px;
    height:12px;
    }
    .power_by
    {
    float:right;
    margin-top:6px;
    }
    .newfature
    {
     float:left;
     font-family:arial;
     font-size:16px;
     color:#fff;
    margin-top:.1%;
    font-weight:bold;
    
    }
div#colorpicker
{
    width: 191px;
    height: 164px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom:0;
    padding-right:0;
    position: absolute;
    top: 22px;
    left: 0px;
    background-color: #EEE;
    border: 1px solid #BBB;
    display: none;
    z-index: 200;
}
div#colorpicker div
{
    float: left;
    padding:0;
}
div#colorpicker div.clear
{
    float: none;
    clear: both;
    border: 0;
    overflow:hidden;
    height:0;
    font-size:0;
}
        
div#colorpicker div#colorContainer
{
    float: left;
    border:0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
}
div#colorContainer div
{
    border:0;
    border-top: solid 1px black;
    border-left: solid 1px black;
    width:9px;
    height:9px;
    overflow:hidden;/*for IE6*/
}
div#colorpicker div#hexBox, div#colorpicker div#bgBox
{
    border: 1px solid #999;
    font: normal 9px verdana;
    height: 16px;
    margin-bottom: 4px;
}
div#colorpicker div#hexBox
{
    width: 60px;
    padding-left: 3px;
    color: Black;
    line-height: 16px;
}
div#colorpicker div#bgBox
{
    width: 110px;
    margin-left: 4px;
    clear: right;
}

div.transChooser
{
    background:  transparent url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "transChooser.gif")');
}     
span.colorChooser
{
    width: 37px;
    height: 20px;
    background:   transparent url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "colorChooser.gif")');
    margin-left: 1px;
    margin-bottom: 4px;
    position: relative;
    display: inline-block;
    overflow: visible;
    vertical-align: middle;
    z-index:1;
}     
 
 .AdminAddInformation {
    background-color:transparent; 
    width: 100%;
}
div.header1 { 
    cursor:default; 
}
    
      .DeleteForm
    {   
        background-image: url("../Content/themes/base/images/delete.png");        
        width: 21px;
        height: 21px;
        background-position: center top;
    }
    .EditForm
    {   
        background-image: url("../Content/themes/base/images/edit.png");        
        width: 21px;
        height: 21px;
        background-position: center top;
    }
    .successmsg {
        color:#fff !important;
}

span.errormsg {
    background-color: transparent !important;
    color: #fff !important;
    font-size: 12px !important;
    border: none !important;
    margin-top: 5px !important;
}

</style>
<div id="content-box" class="cntbx-style">
    <div class="padding">
        <div id="toolbar-box">
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            @*<div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>*@
            <div class="">
                @Html.Partial("ContentManagement")
                <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                    @*<div class="t">
                        <div class="t">
                            <div class="t">
                            </div>
                        </div>
                    </div>*@
                    <div class="m">
                        <div class="toolbar" id="toolbar">
                            <table class="toolbar">
                                <tr id="TrBtnUpdate" runat="server">
                                    <td>
                                        @*<img class="imgbtnsend" src="@url.content("~/content/themes/base/images/preview.png")" title="preview"
                                            onclick="return previewcontent();" alt="preview" style="cursor: pointer" />*@
                                    </td>
                                    <td>
                                        @*<input class="imgbtnSendEmail" id="imgbtnSave" type="submit" value="" />*@
                                    </td>
                                    <td>
                                        @*<img class="imgCommon" src="@Url.Content("~/Content/themes/base/images/icon-32-back.png")" title="Back to locations"
                                             onclick="history.back();" />*@
                                        <button onclick="history.back();" class="btn btn-default" style="margin-top:2px;" title="Back to locations">Back </button>

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="header icon-48-categories heading-style">
                            <img class="image-position" src="../Content/themes/base/images/ControlPanel/images/header/review-status-log.png">
                            Review Status Log
                        </div>
						<div class="">
                        <div style="margin-bottom: 64px; margin-top: -52px; text-align: center;">@Html.Raw(Model.Message)</div>
                        <table cellpadding="0" cellspacing="0" width="100%" class="AdminAddInformation">
                            <tr>
                                <td>
                                    <table cellspacing="2" cellpadding="2" width="100%" style="height: 30px; font-weight: bold;"
                                           class="form-grid-head">
                                        <tr>
                                            <td style="width:20%; padding-left:55px">
                                                &nbsp &nbsp  &nbsp &nbsp Log Title
                                            </td>
                                            <td style="width:55%; padding-left:266px;">
                                                &nbsp  Descrption
                                            </td>
                                            <td style="width: 15%; padding-left: 52px">
                                                Action
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <div class="ReportLeft">
                            @for (int i = 0; i < Model.objtblCustomMsg.Count; i++)
                            {
                                string color = "#f5f5f5";
                                if (i % 2 == 0)
                                {
                                    color = "white";
                                }
                                <div id="divid_@i" style="background-color:@color">
                                    <form method="post" action="UpdateLogMessage" enctype="multipart/form-data" id="form">
                                        <table cellspacing="2" cellpadding="2" width="100%">
                                            <tr>
                                                <td style="width: 20%">
                                                    <input type="text" id="Title_@i" style="width:90%; margin:8px;" name="LogTitle" class="k-textbox" required validationmessage="Please enter title" value="@Model.objtblCustomMsg.ElementAt(i).LogTitle" />
                                                </td>
                                                <td style="width: 55%">
                                                    <input type="text" id="Descrption_@i" style="width:90%; margin:8px;" name="LogDescrption" class="k-textbox" required validationmessage="Please enter title" value="@Model.objtblCustomMsg.ElementAt(i).Descrption" />
                                                </td>
                                                <td style="width: 11%">
                                                    <input type="hidden" name="pkLogId" value="@Model.objtblCustomMsg.ElementAt(i).pkLogId" />
                                                    <input id="Edit_@i" onclick="return CheckEditValidation(this.id);" title="Save" type="image" src="../Content/themes/base/images/edit.png" class="" style="cursor: pointer; border: none; height: 21px; width: 21px;" />

                                                    @*<input id="Edit_@i" onclick="return CheckEditValidation(this.id);" type="submit" value="Edit" title="Edit" class="EditDel" style="cursor:pointer;" />*@
                                                    <input id="Delete_@i" onclick="return DeleteReviewLog(@Model.objtblCustomMsg.ElementAt(i).pkLogId)"  title="Delete" type="image" src="../Content/themes/base/images/delete.png" class="" style="cursor: pointer; border: none; height: 21px; width: 21px;" />

                                                    
                                                     @*<input type="button" onclick="return DeleteReviewLog(@Model.objtblCustomMsg.ElementAt(i).pkLogId)" value="Delete" title="Delete" class="EditDel" style="cursor:pointer;" />*@
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            }
                            <form method="post" action="AddReviewLogMsg" enctype="multipart/form-data" id="forms">
                                <table id="tblValidate" cellspacing="2" cellpadding="2" width="100%">
                                    <tr>
                                        <td style="width: 20%">
                                            <input type="text" class="k-textbox" id="txtCustomMessagesTitle"  required="required" name="txtCustomMessagesTitle" style="width:90%; margin:8px;" />
                                            
                                        </td>
                                        <td style="width: 55%">
                                            <input type="text" class="k-textbox" id="txtDescrption"  required="required" name="txtDescrption" style="width:90%; margin:8px;" />
                                        </td>
                                        <td style="width: 11%">
                                            <img src="@Url.Content("~/Content/themes/base/images/add-new.png")" alt="" onclick="return callsubmitbtn()" style="border: 0px solid white;
                                                cursor: pointer; background-color: #f2f7fb; height:30px;" title="Add New" />
                                            <input type="submit" id="submitbtn" value="123"
                                                   style="border: 0px solid white; display: none; cursor: pointer; background-color: #f2f7fb;"
                                                   class="AddNew" title="Add New" />
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>

        </div>
        <div class="clr">
        </div>
    </div>
</div>
<script type="text/javascript">


    function callsubmitbtn() {

        $("#submitbtn").click();
    }

    function DeleteReviewLog(pkLogId) {

        if (confirm("Are you sure to delete?")) {
            $.post('@Url.Action("DeleteReviewStatusLog", "Control")', { pkLogId: pkLogId }, function (Message) {
                window.location.href = 'ReviewStatusLog?Status=' + Message;
            });
        }
        else {
            return false;
        }
    }


</script>