﻿@model Emerge.Models.SSNComplainceReviewsModel

@{
    ViewBag.Title = "SSN Complaince Reviews Update";
}




<style type="text/css">
     .center-application {
        width: 100%;
        margin-top: -15px;
    }

    .t_tempcls {
        display: none !important;
    }

    .k-input[type="text"] {
        height: 25px;
    }

    input[type="submit"] {
        border: 1px solid #C5C5C5;
    }

    .table_Main {
        margin-bottom: -15%;
        width: 100%;
    }

    .savebtn:hover {
        border: 0px;
        cursor: pointer;
        background-color: #ccc;
    }

    .backbtn:hover {
        border: 0px;
        cursor: pointer;
        background-color: #ccc;
    }

    .ui-multiselect {
        padding: 2px 0 2px 4px;
        text-align: left;
    }

        .ui-multiselect span.ui-icon {
            float: right;
        }

    .ui-multiselect-single .ui-multiselect-checkboxes input {
        position: absolute !important;
        top: auto !important;
        left: -9999px;
    }

    .ui-multiselect-single .ui-multiselect-checkboxes label {
        padding: 5px !important;
    }

    .ui-multiselect-header {
        margin-bottom: 3px;
        padding: 3px 0 3px 4px;
    }

        .ui-multiselect-header ul {
            font-size: 12px;
        }

            .ui-multiselect-header ul li {
                float: left;
                padding: 0 10px 0 0;
            }

        .ui-multiselect-header a {
            text-decoration: none;
        }

            .ui-multiselect-header a:hover {
                text-decoration: underline;
            }

        .ui-multiselect-header span.ui-icon {
            float: left;
        }

        .ui-multiselect-header li.ui-multiselect-close {
            float: right;
            text-align: right;
            padding-right: 0;
        }

    .ui-multiselect-menu {
        display: none;
        padding: 3px;
        position: absolute;
        z-index: 10000;
    }

    .ui-multiselect-checkboxes {
        position: relative /* fixes bug in IE6/7 */;
        overflow-y: scroll;
    }

        .ui-multiselect-checkboxes label {
            cursor: default;
            display: block;
            border: 1px solid transparent;
            padding: 3px 1px;
        }

            .ui-multiselect-checkboxes label input {
                position: relative;
                top: 1px;
            }

        .ui-multiselect-checkboxes li {
            clear: both;
            font-size: 13px;
            padding-right: 3px;
        }

            .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {
                text-align: center;
                font-weight: bold;
                border-bottom: 1px solid;
            }

                .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a {
                    display: block;
                    padding: 3px;
                    margin: 1px 0;
                    text-decoration: none;
                }

         .main-box {
            width: 100%;
        }

        /* remove label borders in IE6 because IE6 does not support transparency */
        * html .ui-multiselect-checkboxes label {
            border: none;
        }
</style>
<script src="@Url.Content("~/Scripts/ui_widget_multiselect.js?V1")" type="text/javascript"></script>
@using (Ajax.BeginForm("SSNComplainceReviews_Update_GloableFilters", "Control", new AjaxOptions { OnSuccess = "GetResultsUpdateFilter" }))
{
    <div id="filterform">
        <div id="content-box">
            <div class="padding">
                <div id="toolbar-box" style="margin-top: 52px; background-color:#fff;">
                        <div class="toolbar" id="toolbar" style="vertical-align: top">
                            <table style="width: 100%">
                              <tr>
                                <td>
                                    <div>                                        
                                        <input class="btn btn-default margint5" type="submit" value="Save" id="sbmtbtn" onclick="return Check_Validations();" style="float: right; margin: 10px 5px;">
                                        <input class="btn btn-default margint5" type="submit" value="Back" onclick="BackToFilterPage();" style="float: right; margin: 10px">
                                   </div>
                                  </td>
                              </tr>
                             </table>
                        </div>
                    <div
                        <div class="header" style="padding: 0px 0px 0px 4px; width: 100%; margin-bottom:10px;">
                          <div class="update" style="float: left; width: 450px;"> <i class="ssncomplain"></i>Edit SSN Complaince Reviews</div>
                                    </div>
                       <div style="text-align: left; margin:-60px auto auto 600px">  <div id="divMSG"  style="color:#fff;"></div></div>
                        @*<table width="100%">
                            <tr>
                                <td width="100%">
                                    
                                </td>
                                <td id="divMSG" width="35%"></td>
                                <td align="right" width="19%">
                                    <div style="margin-right: 15px">
                                        <img src="@Url.Content("~/content/themes/base/images/icon-32-back.png")" class="backbtn" onclick="BackToFilterPage()" />
                                    </div>
                                </td>
                                <td align="right">
                                    <div style="margin-right: 15px">
                                        <img src="@Url.Content("~/content/themes/base/images/save_button.png")" class="savebtn" onclick="return Check_Validations();" />
                                        <input type="submit" style="display: none;" id="sbmtbtn" onclick="CheckValidations();" />

                                    </div>
                                </td>
                            </tr>
                        </table>*@
                        <div class="clr">
                        </div>
                </div>
                <div class="clr">
                </div>

                @*<div id="divMSG" style="text-align: center; margin-bottom: 0.7%;">
                    </div>*@
                @Html.Partial("ProductManagement")
                <div id="element-box" style="background-color:#fff;">                                                                                                       
                            <div class="main-box">
                                <div id="DivLocation" class="expand" style="margin-top: 10px;">
                                    <table width="100%">                               
                                        <tr>
                                            <td style="text-align:right">
                                            <span style="margin-right:5px;">SSN Complaince Number :</span>
                                            </td>
                                            <td align="left" style="width:85%;">
                                                
                                                @Html.TextBoxFor(m => m.DocketNumber, new { style = "width:15%;", @class="form-control", maxlength = "11", onblur = "ValidSsn();", onkeypress = "return SSNcheck(event);", onkeydown = "javascript: MaskSSN(this.value,event);" })
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td style="text-align:right">
                                             <span style="margin-right:5px;">Is Enabled :</span>
                                            </td>
                                            <td align="left" style="width:85%;">                                                
                                                <input type="hidden" id="hdnEnabled" name="Enabled_Chk" />
                                                @*@Html.CheckBoxFor(m => m.IsEnable)*@
                                                <input type="checkbox" data-val="true" data-val-required="The IsEnable field is required." id="IsEnable" name="IsEnable" value="true" checked="@Model.IsEnable" class="css-checkbox">
                                                <label class="css-label" for="IsEnable"></label>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="clr">
                                </div>
                            </div>
                        @Html.HiddenFor(m => m.GlobleFilterId)
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">

    function ValidateSsn(source, arguments) {
        debugger;
        var expression = /^[0-9]{3}[\- ]?[0-9]{2}[\- ]?[0-9]{4}$/; if (!expression.test(arguments.Value)) { arguments.IsValid = false; }
        else { arguments.IsValid = true; }
    }
    function MaskSSN(str, event) {
        debugger;
        var keyvalue = (event.keyCode) ? event.keyCode : event.charCode;
        if (keyvalue != 8 && keyvalue != 9) {
            if (str.length == 3) { document.getElementById('DocketNumber').value += "-" }
            if (str.length == 6) { document.getElementById('DocketNumber').value += "-" }
            if (str.length > 10) { document.getElementById('DocketNumber').value = document.getElementById('Social').value.substring(0, 11); }
        }
    }
    function SSNcheck(e) {
        debugger;
        var keyvalue = (e.keyCode) ? e.keyCode : e.charCode;

        if (keyvalue == 8 || keyvalue == 9) {
            return true;
        }
        if (keyvalue > 47 && keyvalue < 58 && keyvalue != 46) {
            return true;
        } else {
            return false;
        }
    }
    function CheckValidations() {
        var validator = $("#filterform").kendoValidator().data("kendoValidator");
        if (validator.validate()) { return true; } else { return false; }
    }
    function Check_Validations() {
        var Enabled = $("#IsEnable").attr("checked");
        if (Enabled == "checked") { $("#hdnEnabled").val(true); }
        if (Enabled != "checked") { $("#hdnEnabled").val(false); }
        $("#sbmtbtn").click();
    }
    var divMSG = document.getElementById("divMSG");
    function GetResultsUpdateFilter(Result) {
        if (Result != null) {
            $("#divMSG").css('display', 'block');
            $("#divMSG").html(Result.Msg);
            $("#divMSG").addClass(Result.css);
            location.reload();
        }
    }

    function BackToFilterPage() {
        window.location = "SSNComplainceReviews";
    }
</script>
