﻿@model Emerge.Models.SSNComplainceReviewsModel
@{
    ViewBag.Title = "SSNComplainceReviews";
}
@{
    int counter = 0;
}


<style type="text/css">
    .btnAddNewGlobleFilter{background-size: 100% 100%;
    height: 34px !important;
    margin-left: 15px;
    }
    .k-input[type="text"] {
        height: 25px;
    }

    input[type="submit"] {
        border: none;
    }

    .table_Main {
        margin-bottom: -15%;
        width: 100%;
    }

    .btnAddNewGlobleFilter {
        background-image: url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "add-new.png")');
        background-repeat: no-repeat;
        width: 115px;
        height: 40px;
        }
    .center-application {
    width: 100%;
    margin-top: -15px;
}

</style>

<div id="content-box">
    <div class="padding">
        <div id="toolbar-box">
            <div class="">
                <div class="toolbar" id="toolbar" style="vertical-align: top">
                </div>
                <table width="100%" style="background-color:#fff;">
                    <tr>
                        <td width="100%">
                            <div class="header" style="padding: 4px; width: 100%; margin-top: 38px;">
                                <i class="ssncomplain"></i> SSN Complaince Reviews:
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="clr">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="element-box" style="margin-top: -10px;">
            <div class="">
                @Html.Partial("ProductManagement")

                @using (Ajax.BeginForm("SSNComplainceReviews_AddGlobleFilters", "Control", new AjaxOptions { OnBegin = "CheckValidation", OnSuccess = "GetResults" }))
                {
                    <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation" style="display: block; background-color:#fff;">
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <span style="margin-right:15px;">SSN Complaince Reviews</span> 
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.DocketNumber, new { style = "width:200px;", maxlength = "11", @class="form-control", onblur = "ValidSsn();", onkeypress = "return SSNcheck(event);", onkeydown = "javascript: MaskSSN(this.value,event);" })
                                        </td>
                                        <td>
                                            <input type="submit" value="" id="btnAddGlobleFilter" class="btnAddNewGlobleFilter" style="margin-left:15px;" />
                                        </td>
                                        <td></td>
                                        <td id="divMSG" style="margin-left:20px !important;"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                }
                <table border="0" style="width: 100%; background-color:#fff;">
                    <tr>
                        <td align="center">
                            <div id="divUpdMSG" style="display: none">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <div id="filters" style="margin-top: 10px; margin-bottom:35px;">
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="clr">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
</div>

<script>
    function ValidateSsn(source, arguments) {
        debugger;
        var expression = /^[0-9]{3}[\- ]?[0-9]{2}[\- ]?[0-9]{4}$/; if (!expression.test(arguments.Value)) { arguments.IsValid = false; }
        else { arguments.IsValid = true; }
    }
    function MaskSSN(str, event) {
        debugger;
        var keyvalue = (event.keyCode) ? event.keyCode : event.charCode;
        if (keyvalue != 8 && keyvalue != 9) {
            if (str.length == 3) { document.getElementById('DocketNumber').value += "-" }
            if (str.length == 6) { document.getElementById('DocketNumber').value += "-" }
            if (str.length > 10) { document.getElementById('DocketNumber').value = document.getElementById('Social').value.substring(0, 11); }
        }
    }
    function SSNcheck(e) {
        debugger;
        var keyvalue = (e.keyCode) ? e.keyCode : e.charCode;

        if (keyvalue == 8 || keyvalue == 9) {
            return true;
        }
        if (keyvalue > 47 && keyvalue < 58 && keyvalue != 46) {
            return true;
        } else {
            return false;
        }
    }
    function GetResults(Result) {
        if (Result != null) {
            $("#divMSG").css('display', 'block');
            $("#divMSG").html(Result.Message);
            $("#divMSG").addClass(Result.Css);
            $("#DocketNumber").empty();
            $("#Source").empty();
            location.reload();
            $("#DocketNumber").empty();
            $("#Source").empty();
        }
    }



    $("#DivComments").hide();
    $("#filters").kendoGrid({
        sortable: true,


        dataSource: {
            type: "json",
            serverPaging: true,
            serverSorting: true,
            pageSize: 15,
            transport: {
                read: { url: '@Url.Action("SSNComplainceReviews_BindGlobleFilter", "Control")', dataType: "json", async: true }
            },
            schema: {
                data: "FilterValue", total: "TotalCount",
                model: {
                    fields: {
                        NewAccountCreatedDate: { type: "date" }
                    }
                }
            }

        },
        height: 405,
        scrollable: {
            virtual: true
        },
        sortable: true,
        columns: [
        // { field: "FilterName", title: "Filter Name", width: "6%" },
        // { field: "ReportType", title: "S.No", width: "6%" },
         { field: "Keywords", title: "SSN Number", width: "25%" },
        { //field: "IsEnable", title: "Enabled", width: "10%", template: '<input class="chkDefault"  disabled="disabled" type="checkbox" #= IsEnable ? "checked=checked" : "" #  ></input>' },
           field: "IsEnable", title: "Enabled", width: "10%", template: '<input class="css-checkbox"  disabled="disabled" type="checkbox" #= IsEnable ? "checked=checked" : "" #  ></input><label class="css-label"></label>' },
         { field: "GlobleFilterId", title: "Action", width: "10%", template: "<input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/edit.png")' + " id='imgEdit_#=GlobleFilterId#' style='width:15; height:18px' title='Edit' onclick='UpdateFilter(\"#=GlobleFilterId#\")'  />  <input type='IMAGE' SRC=" + '@Url.Content("~/Content/themes/base/images/deleterow.png")' + " id='imgDelete_#=GlobleFilterId#' style='width:15; height:18px' title='Delete' onclick='DeleteGlobleFilter(\"#=GlobleFilterId#\")'  /> " },
        ],
        editable: "inline",
        dataBound: function () {

            var gridHeaderRows = $("#filters tbody th");
            var gridRows = $("#filters tbody tr");
            var takeGrid = $("#filters").data("kendoGrid");
            var length = gridRows.length;
            for (i = 0; i < length; i++) {

                var dataItem = takeGrid.dataItem(gridRows[i]);
                var row = gridRows[i];
                var Report_Type = dataItem.ReportType;
                //var Coundition2 = dataItem.IsEnable;
                var Coundition1 = dataItem.Keywords;
                var ReportType = Report_Type.replace(/,/g, ', ')
                row.cells[0].innerHTML = ReportType;
                row.cells[1].innerHTML = Coundition1;
                //row.cells[3].innerHTML = Coundition2;
                GridEffect("filters", dataItem)
            }
        }

    }).find("th").addClass("centeralign");













    function UpdateFilter(filterid) {
        self.location = "SSNComplainceReviews_UpdateGlobleFilters?_a=" + filterid;
        //self.location = "SSNComplainceReviews_Update_GloableFilters";
    }

    function DeleteGlobleFilter(filterid) {
        $.post("../Control/SSNComplainceReviews_DeleteGlobleFilters", { GloblefilterId: filterid }, function (Result) {
            if (Result != null) {
                $("#divMSG").css('display', 'block');
                $("#divMSG").html(Result.Msg);
                $("#divMSG").addClass(Result.css);
                location.reload();

            }
        });
    }

    function CheckValidation() {
        var ret = false;
        if ($("#Source").val() == "" && $("#DocketNumber").val() == "" && $("#DeliveryAddress").val() == "") {
            alert("Please enter at least one field");
            ret = false;
        }
        else {
            ret = true;
        }
        return ret;
    }

</script>
