@model Emerge.Models.PenalCodeModel
@{
    ViewBag.Title = "Filters";
}

<style type="text/css">
    #DivLocation td {
        float: left;
        margin-bottom: 5px;
    }
    /*#DivLocation input#TimeFrameIn, #DivLocation input#TimeFrameFrom {
        border: 1px solid #ccc;
        border-radius: 3px;
        height: 29px;
        width: 220px !important;
    }*/
        #DivLocation tr td:nth-child(1){width:175px;padding-right:10px;}
         .t_tempcls {
            display: none !important;
        }

    .k-input[type="text"] {
        height: 25px;
    }

    input[type="submit"] {
        border: 1px solid #C5C5C5;
    }

    .table_Main {
        margin-bottom: -15%;
        width: 100%;
    }

    .savebtn:hover {
        border: 0px;
        cursor: pointer;
        background-color: #ccc;
    }

    .ui-multiselect {
        padding: 2px 0 2px 4px;
        text-align: left;
    }

        .ui-multiselect span.ui-icon {
            float: right;
        }

    .ui-multiselect-single .ui-multiselect-checkboxes input {
        position: absolute !important;
        top: auto !important;
        left: -9999px;
    }

    .ui-multiselect-single .ui-multiselect-checkboxes label {
        padding: 5px !important;
    }

    .ui-multiselect-header {
        margin-bottom: 3px;
        padding: 3px 0 3px 4px;
    }

        .ui-multiselect-header ul {
            font-size: 12px;
        }

            .ui-multiselect-header ul li {
                float: left;
                padding: 0 10px 0 0;
            }

        .ui-multiselect-header a {
            text-decoration: none;
        }

            .ui-multiselect-header a:hover {
                text-decoration: underline;
            }

        .ui-multiselect-header span.ui-icon {
            float: left;
        }

        .ui-multiselect-header li.ui-multiselect-close {
            float: right;
            text-align: right;
            padding-right: 0;
        }

    .ui-multiselect-menu {
        display: none;
        padding: 3px;
        position: absolute;
        z-index: 10000;
    }

    .ui-multiselect-checkboxes {
        position: relative /* fixes bug in IE6/7 */;
        overflow-y: scroll;
    }

        .ui-multiselect-checkboxes label {
            cursor: default;
            display: block;
            border: 1px solid transparent;
            padding: 3px 1px;
        }

            .ui-multiselect-checkboxes label input {
                position: relative;
                top: 1px;
            }

        .ui-multiselect-checkboxes li {
            clear: both;
            font-size: 13px;
            padding-right: 3px;
        }

            .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {
                text-align: center;
                font-weight: bold;
                border-bottom: 1px solid;
            }

            .ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a {
                display: block;
                padding: 3px;
                margin: 1px 0;
                text-decoration: none;
            }
            
            .center-application {
                width: 100%;
                margin-top: -20px;
            }
            .main-box {
                width: 100%;
            }
            .alt_column {
                background-color: #fff !important;
            }

        /* remove label borders in IE6 because IE6 does not support transparency */
        * html .ui-multiselect-checkboxes label {
            border: none;
        }
        #divMSG .successmsg {
    color: #fff;
}
</style>
@*<script src="@Url.Content("~/Scripts/ui_widget_multiselect.js?V1")" type="text/javascript"></script>*@
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="@Url.Content("~/Scripts/ui_widget_multiselect.js?V23112015")" type="text/javascript"></script>
@using (Ajax.BeginForm("Update_Filters", "Control", new AjaxOptions { OnSuccess = "GetResultsUpdateFilter" }))
{
    <div id="filterform">
        <div id="content-box">
            <div class="padding">
                <div id="toolbar-box" style="margin-top: 52px; background-color: #fff;">
                    <div class="toolbar" id="toolbar" style="vertical-align: top">
                        <table style="width: 100%">
                            <tr>
                                <td>
                                    <div>
                                        <input class="btn btn-default margint5" type="submit" value="Save" id="sbmtbtn" onclick="return Check_Validations();" style="float: right; margin: 10px 5px;">
                                        <input class="btn btn-default margint5" type="submit" value="Back" onclick="BackToFilterPage();" style="float: right; margin: 10px">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="header" style="padding: 0px 0px 0px 4px; width: 100%; margin-bottom: 12px;">
                      <div class="update" style="float: left; width: 450px;">  <i class="filter"></i>Filters</div>
                    </div>
                   <div style="margin: -60px auto auto 8px ! important; float: left; text-align: center; width: 100%;"> <div id="divMSG" style="text-align: center; margin-bottom: 0.7%;"></div></div>
                    @*<table width="100%">
                        <tr>
                            <td width="100%">
                                <div class="header" style="padding: 0px 0px 0px 55px; width: 100%">
                                    Filters
                                </div>
                            </td>
                            <td align="right">
                                <div style="margin-right: 15px">
                                   <img src="@Url.Content("~/content/themes/base/images/save_button.png")" class="savebtn"  onclick="return Check_Validations();" />
                                   <input type="submit" style="display:none;"  id="sbmtbtn"   onclick="CheckValidations();"    />
                                 
                                </div>
                            </td>
                        </tr>
                    </table>*@
                    <div class="clr">
                    </div>
                </div>
                <div class="clr">
                </div>
                
                @Html.Partial("ProductManagement")
                <div id="element-box" style="background-color: #fff;">
                    <div class="main-box expand">                        
                        <div id="DivLocation" class="expand" style="margin-top: 8px;">
                            <table width="100%">
                                <tr>
                                    <td align="center"></td>
                                </tr>
                                <tr>
                                    <td class="alt_column" width="15%">Filter Name :
                                    </td>
                                    <td align="left" width="85%">

                                        <input type="text" id="FilterName" name="FilterName" class="k-textbox" value="@Model.FilterName" readonly="readonly" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">Report Types :
                                    </td>
                                    <td align="left">

                                        <input type="text" id="ReportType" name="ReportType" class="k-textbox" value="@Model.ReportType"  style="display:none;"/>
                                        @Html.Raw(Model.DataSourceDropdown)
                                        <input type="text" id="reportval" name="reportval" class="k-textbox" style="display: none;" required validationmessage="Please Select ReportTypes." />

                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">States :
                                    </td>
                                    <td align="left">
                                        @Html.Raw(Model.StateDropdown)

                                    </td>
                                </tr>
                                @*
                                    <tr>
                                        <td class="alt_column">
                                            Counties :
                                        </td>
                                           <td align="left">
                                        @Html.Raw(Model.CountyDropdown)
                                        </td>
                                    </tr>*@
                            </table>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
                <div id="element-box" style="margin-top: 10px; padding-top: 1px; background-color: #fff;">
                    <div class="main-box expand">
                        <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                            If
                        </div>
                        <div id="DivLocation" class="expand">
                            <table width="96%">
                                <tr>
                                    <td class="alt_column" width="15%">Keywords :
                                    </td>
                                    <td align="left" width="85%">
                                        @if (Model.FilterId == 1 || Model.FilterId == 3 || Model.FilterId == 4 || Model.FilterId == 5)
                                        {
                                            <textarea style="height: 60px; width: 220px;" cols="20" rows="2" id="Key_words" name="Key_words" class="NoteTextBoxStyle" class="k-textbox" required validationmessage="Please enter Keywords."> @Model.Key_words</textarea>
                                        }
                                        else
                                        { 
                                            <textarea style="height: 60px; width: 550px;" cols="20" rows="2" id="Key_words" name="Key_words" class="NoteTextBoxStyle" disabled="disabled" class="k-textbox"> @Model.Key_words</textarea>
                                        
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column" width="15%">Year :
                                    </td>
                                    <td align="left" width="85%">
                                        @if (Model.FilterId == 1)
                                        {
                                            <input type="text" id="Year" name="Year" class="k-textbox" value="@Model.Year" onkeypress = "validate(event)" required validationmessage="Please enter Year Count." />
                                        }
                                        else
                                        { 
                                            <input type="text" id="Year" name="Year" class="k-textbox" value="@Model.Year" disabled="disabled" onkeypress = "validate(event)" />
                                        
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column" width="15%">Count :
                                    </td>
                                    <td align="left" width="85%">

                                        @if (Model.FilterId == 2)
                                        {
                                            <input type="text" id="Count" name="Count" class="k-textbox" value="@Model.Count" onkeypress = "validate(event)" required validationmessage="Please enter Count."/>
                                        }
                                        else
                                        { 
                                        
                                            <input type="text" id="Count" name="Count" class="k-textbox" value="@Model.Count" disabled="disabled" onkeypress = "validate(event)" />
                                        }
                                    </td>
                                </tr>

                                <tr>
                                    <td class="alt_column" width="15%">Count Max :
                                    </td>
                                    <td align="left" width="85%">
                                        @if (Model.FilterId == 2)
                                        {
                                            <input type="text" id="CountMax" name="CountMax" class="k-textbox" value="@Model.CountMax" onkeypress = "validate(event)"/>
                                        }
                                        else
                                        { 
                                            <input type="text" id="CountMax" name="CountMax" class="k-textbox" value="@Model.CountMax" disabled="disabled" onkeypress = "validate(event)"/>
                                        }
                                    </td>
                                </tr>

                                <tr>
                                    <td class="alt_column" width="15%">Count Min :
                                    </td>
                                    <td align="left" width="85%">
                                        @if (Model.FilterId == 2)
                                        {
                                            <input type="text" id="CountMin" name="CountMin" class="k-textbox" value="@Model.CountMin" onkeypress = "validate(event)"/>
                                        }
                                        else
                                        { 
                                         
                                            <input type="text" id="CountMin" name="CountMin" class="k-textbox" value="@Model.CountMin" disabled="disabled" onkeypress = "validate(event)"/>
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">TimeFrame From:
                                    </td>
                                    <td align="left">
                                        @if (Model.FilterId == 1)
                                        {
                                            <input id="TimeFrameFrom" value="@Model.TimeFrameFrom" name="TimeFrameFrom" style="width:220px;" />
                                        }
                                        else
                                        { 
                                            <input id="TimeFrameFrom" value="@Model.TimeFrameFrom" name="TimeFrameFrom" disabled="disabled" style="width:220px;" />
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">TimeFrame In :
                                    </td>
                                    <td align="left">

                                        @if (Model.FilterId == 1)
                                        {
                                            <input id="TimeFrameIn" value="@Model.TimeFrameIn" name="TimeFrameIn" style="width:220px;" />
                                        }
                                        else
                                        { 
                                            <input id="TimeFrameIn" value="@Model.TimeFrameIn" name="TimeFrameIn" disabled="disabled" style="width:220px;" />
                                          
                                        }
                                        <span id="valmessage" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg t_tempcls"><span class="k-icon k-warning"></span>From Date cannot be after To In!.</span>
                                        <span id="val_message" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg t_tempcls"><span class="k-icon k-warning"></span>Please First enter TimeFrame From.</span>
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
                <div id="element-box" style="margin-top: 10px; padding-top: 1px; background-color: #fff;">
                    <div class="main-box expand">
                        <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                            Then
                        </div>
                        <div id="DivLocation" class="expand">
                            <table width="96%">
                                @*<tr>
                                        <td class="alt_column" width="15%">
                                            Send to Watchlist :
                                        </td>
                                        <td align="left" width="85%">
                                        @Html.CheckBoxFor(m => m.IsWatchList, new { @name = "IsWatchList" }) </td>
                                    </tr>*@
                                <tr>
                                    <td class="alt_column" width="15%">Send to Emerge Review :&nbsp;
                                    </td>
                                    <td align="left" width="85%">
                                        @*@Html.CheckBoxFor(m => m.IsEmergeReview, new { @name = "IsEmergeReview" }) *@
                                        <input type="checkbox" data-val="true" data-val-required="The IsEmergeReview field is required." id="IsEmergeReview" name="IsEmergeReview" value="true" checked="@Model.IsEmergeReview" class="css-checkbox">
                                        <label class="css-label" for="IsEmergeReview"></label>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="alt_column">Remove Record :&nbsp;
                                    </td>
                                    <td align="left">
                                        @*@Html.CheckBoxFor(m => m.IsRemoveCharges, new { @name = "IsRemoveCharges" })*@
                                        <input type="checkbox" data-val="true" data-val-required="The IsRemoveCharges field is required." id="IsRemoveCharges" name="IsRemoveCharges" value="true" checked="@Model.IsRemoveCharges" class="css-checkbox">
                                        <label class="css-label" for="IsRemoveCharges"></label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
                <div id="element-box" style="margin-top: 10px; margin-bottom:35px; padding-top: 1px; background-color: #fff;">
                    <div class="main-box expand">
                        <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                            Applies To
                        </div>
                        <div id="DivLocation" class="expand">
                            <table width="96%">
                                <tr>
                                    <td class="alt_column" width="15%">Users :&nbsp;
                                    </td>
                                    <td align="left" width="85%">
                                        <input type="hidden" value="@Model.UserType" id="user_type"  />
                                        @{  List<SelectListItem> listUsers = new List<SelectListItem>();
                                            listUsers.Add(new SelectListItem { Text = "Select", Value = "" });
                                            listUsers.Add(new SelectListItem { Text = "All Users", Value = "1" });
                                            listUsers.Add(new SelectListItem { Text = "Admin Only", Value = "2" });
                                            listUsers.Add(new SelectListItem { Text = "Customers Only", Value = "3" });
                                            @Html.DropDownListFor(x => x.Filter_Users, listUsers, new { @class = " ", @style = "width:220px;", @name = "Filter_Users" });
                                        }

                                        <input type="text" id="usertype" name="usertype" class="k-textbox" style="display: none;" required validationmessage="Please Select User Type." />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">Packages :&nbsp;
                                    </td>
                                    <td align="left">
                                        @*@Html.CheckBoxFor(m => m.Packages, new { @name = "Packages" })*@
                                        <input type="checkbox" data-val="true" data-val-required="The Packages field is required." id="Packages" name="Packages" value="true" checked="@Model.Packages" class="css-checkbox">
                                        <label class="css-label" for="Packages"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">Is Enabled :&nbsp;
                                    </td>
                                    <td align="left">
                                        @*@Html.CheckBoxFor(m => m.Enabled, new { @name = "Enabled" })*@
                                        <input type="checkbox" data-val="true" data-val-required="The Enabled field is required." id="Enabled" name="Enabled" value="true" checked="@Model.Enabled" class="css-checkbox">
                                        <label class="css-label" for="Enabled"></label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.FilterId, new { @id = "hdFilterId", @name = "FilterId" })
        <input type="hidden" id="hdnIsWatchList" name="Watch_List" />
        <input type="hidden" id="hdnIsEmergeReview" name="Emerge_Review" />
        <input type="hidden" id="hdnIsRemoveCharges" name="Remove_Charges" />
        <input type="hidden" id="hdnPackages" name="Packages_Chk" />
        <input type="hidden" id="hdnEnabled" name="Enabled_Chk" />
    </div>
}
<script type="text/javascript">

    $("#DataSorces").multiselect({
        selectedText: "# Report(s) selected",
        noneSelectedText: "Select Report",
        minWidth: 200
    });
    $("#StateDD").multiselect({
        selectedText: "# State(s) selected",
        noneSelectedText: "Select States",
        minWidth: 200
    });
    $("#CountyDD").multiselect({
        selectedText: "# County(s) selected",
        noneSelectedText: "Select County",
        minWidth: 200
    });
    $("#TimeFrameFrom").kendoDatePicker();
    $("#TimeFrameIn").kendoDatePicker();
    $("#Filter_Users").kendoDropDownList().data("kendoDropDownList");
    var pkId = $("#user_type").val();
    var ddlpkc = $("#Filter_Users").data("kendoDropDownList");
    ddlpkc.value(pkId);

    function Check_Validations() {
        var flag = 1;
        var t_flag = 1;
        var IsWatchList = $("#IsWatchList").attr("checked");
        var Packages = $("#Packages").attr("checked");
        var Enabled = $("#Enabled").attr("checked");
        var IsEmergeReview = $("#IsEmergeReview").attr("checked");
        var IsRemoveCharges = $("#IsRemoveCharges").attr("checked");
        if (Enabled == "checked") { $("#hdnEnabled").val(true); }
        if (Enabled != "checked") { $("#hdnEnabled").val(false); }
        if (IsRemoveCharges == "checked") { $("#hdnIsRemoveCharges").val(true); }
        if (IsRemoveCharges != "checked") { $("#hdnIsRemoveCharges").val(false); }
        if (Packages == "checked") { $("#hdnPackages").val(true); }
        if (Packages != "checked") { $("#hdnPackages").val(false); }
        if (IsEmergeReview == "checked") { $("#hdnIsEmergeReview").val(true); }
        if (IsEmergeReview != "checked") { $("#hdnIsEmergeReview").val(false); }
        if (IsWatchList == "checked") { $("#hdnIsWatchList").val(true); }
        if (IsWatchList != "checked") { $("#hdnIsWatchList").val(false); }
        var Selected = $("#DataSorces").val();
        var SelectedUser = $("#Filter_Users").val();
        var from = new Date($("#TimeFrameFrom").val());
        var to = new Date($("#TimeFrameIn").val());
        if (from != "" && to != "") {
            if (Date.parse(from) > Date.parse(to)) { flag = 2; $("#valmessage").removeClass("t_tempcls"); }
            else { $("#valmessage").addClass("t_tempcls"); }
        }
        if (flag == 2) { $("#TimeFrameIn").val(""); }
        $("#reportval").val(Selected);
        $("#usertype").val(SelectedUser);
        if (from == "" && to != "") { t_flag = 2; }
        if (t_flag == 2) { $("#TimeFrameIn").val(""); $("#val_message").removeClass("t_tempcls"); }

        else { $("#val_message").addClass("t_tempcls"); }



        if (flag != 2) { if (t_flag != 2) { $("#sbmtbtn").click(); } }
    }
    function validate(evt) { var theEvent = evt || window.event; var key = theEvent.keyCode || theEvent.which; var keychar = String.fromCharCode(key); var keycheck = /[0-9]|\-/; if (!(key == 8 || key == 27 || key == 46 || key == 37 || key == 39)) { if (!keycheck.test(keychar)) { theEvent.returnValue = false; if (theEvent.preventDefault) theEvent.preventDefault(); } } }
    function CheckValidations() {
        var validator = $("#filterform").kendoValidator().data("kendoValidator");
        if (validator.validate()) { return true; } else { return false; }
    }
    var divMSG = document.getElementById("divMSG");
    function GetResultsUpdateFilter(Result) {
        if (Result != null) {
            divMSG.style.display = "block";
            divMSG.innerHTML = Result.Message;
        }
    }



</script>
