﻿@{
    ViewBag.Title = "Vendor Report";
}
<style type="text/css">
    #tabsDemo1 a {
        background: transparent none repeat scroll 0 0 !important;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        color: #666 !important;
        font-size: 14px;
        font-weight: normal;
        line-height: 20px !important;
        padding: 9px 15px !important;
    }

    #tabsDemo1 > li:nth-child(n+2) a {
        margin-left: -7px !important;
    }
</style>
<div id="content-box" >
    <div class="padding">
        <div id="toolbar-box" style="margin-top:50px;">
           @Html.Partial("PartialBillingMenu")
         
            <div class="">
                <div style="padding: 0px 0px 0px 0px;">
                    @{Html.RenderAction("PartialVendorDeopdownsData", "Common");}
                </div>
                <div class="clr">
                </div>
            </div>
            
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
           
            <div id="test" class="m" style="margin-bottom:38px;">
                <div id="divbillpdf">
                    <div id="PartialContent">
                        @Html.Partial("PartialVendorReport")
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>
            
        </div>
        <div class="clr">
        </div>
    </div>
</div>
<script type="text/javascript">
    function loadReport() {
        $("#dvLoader").css("display", "block");
        if ('@Session["Admin"]' == null) {
            location.href = '../Default/LogOut';
        }
        $('#PartialContent').load('@Url.Action("PartialVendorReport", "Control")', {

            Month: $("#ddlMonth").val(),
            Year: $("#ddlYear").val(),
            VendorId: $("#ddlVendors").val(),
            ReportType: $("#ddlReportType").val()
        },
        function (responseText, textStatus, XMLHttpRequest) {
            if (textStatus == "success") {
                $("#dvLoader").css("display", "none");
                //alert("hi");
            }
            if (textStatus == "error") {
              //  alert("error");
            }
        });
    }
</script>
