﻿@{
    ViewBag.Title = "View Drug Testing Reports";
}
<style type="text/css">
    .Theme
    {
        background-color: #dadada;
    }
</style>
<link href="@Url.Content("~/Content/CSS/Report.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/CSS/Report_Style.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript">
   // document.getElementById('tdAdmin').style.display = 'none';
</script>
@Html.Partial("../Common/PartialViewDrugTestingReports")
