﻿@{
    ViewBag.Title = "View eScreen Report";
}
<script type="text/javascript">
   // document.getElementById('tdAdmin').style.display = 'none';
   
</script>

@model Emerge.Models.ViewEscreenReportModel

<div id="content-box">
    <div class="padding" style="margin-top: 50px;">
        <div id="toolbar-box">
            <div class="t">
                <div class="rightTopRptHdrBorder">
                </div>
                <div class="leftTopRptHdrBorder">
                </div>
            </div>
            <div class="m">
                <div style="padding: 0px 0px 0px 0px;">
                    <table border="0" width="100%">
                        <tr>
                            <td>
                                <iframe id="iframe" frameborder="0" src="@Model.SchedReturnURL" style="width: 100%; height: 560px;"></iframe>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="b">
                <div class="rightBottomRptHdrBorder">
                </div>
                <div class="leftBottomRptHdrBorder">
                </div>
            </div>
        </div>
    </div>
</div>

