﻿@charset "UTF-8";
/*!
 * Custom CSS v1
 *
 * Copyright 2014 Intelifi,
 * Licensed under Emerge 4.0
 * 
 * Designed and built by Chetu Inc. ---------> March, 2014.
 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .drugTestToolContainer {
        width: 100% !important;
    }

    .table-border {
        width: 100% !important;
    }





    .divider {
        width: 98% !important;
    }

    .msg-ch {
        padding-left: 38px !important;
    }
}

.acount1 {
    font-size: 20px;
}

.beginSearch {
    margin-left: 11px;
}

.successmsg {
    margin-top: 25px;
    padding: 0px 5px 0px 20px;
    border: 0px;
    margin-top: 27px;
}

a, button, div, input {
    outline-width: 0 !important;
}


.navbar-nav > li > a {
    padding-top: 7px;
}

.select-block select {
    height: 34px;
    float: left;
    margin-right: 5px !important;
}

.top-header {
    background-color: #f5f5f5;
    *background-color: #ededed;
    background-image: -moz-linear-gradient(top, #ffffff, #ededed);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ededed));
    background-image: -webkit-linear-gradient(top, #ffffff, #ededed);
    background-image: -o-linear-gradient(top, #ffffff, #ededed);
    background-image: linear-gradient(to bottom, #ffffff, #ededed);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffededed', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    height: 65px;
    border-bottom: 1px solid #bababa;
    width: 100%;
    position: relative;
    box-shadow: 4px 5px 18px #ccc;
    -moz-box-shadow: 4px 5px 18px #ccc;
    -webkit-box-shadow: 4px 5px 18px #ccc;
}

.navbar-text {
    margin: 0;
}

a.ch-profile {
    padding-top: 8px !important;
}

.top-header h6 {
    margin: 0;
    line-height: 15px;
    padding: 0;
}

.left-company-name {
    width: 165px;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.right-margin10 {
    margin-right: 10px;
}

.top-header .navbar-text {
    line-height: 14px;
    font-size: 12px;
}

.top-padding5 {
    padding-top: 5px;
}

.remove-border-radius-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 !important;
}

.right-section-ch {
    float: right;
    margin-top: 7px;
}

    .right-section-ch ul li {
        display: inline-block;
        margin-left: 10px;
    }

        .right-section-ch ul li ul li {
            margin-left: 00px;
        }

        .right-section-ch ul li ul.dropdown-menu {
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            min-width: 140px !important;
            border-top-left-radius: 0 !important;
            -moz-border-top-left-radius: 0 !important;
            -webkit-border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            -moz-border-top-right-radius: 0 !important;
            -webkit-border-top-right-radius: 0 !important;
            margin-top: -11px;
        }

    .right-section-ch .navbar, .right-section-ch .nav {
        margin-right: 00px;
    }

.ch-button {
    float: left;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    margin-top: 0px !important;
    line-height: 27px;
    padding: 9px 12px 10px 12px;
}

.contorl-header {
    height: 41px !important;
}

.color-btn-ch {
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    background-repeat: repeat-x;
    border: 1px solid #bababa;
    *border: 0;
}

.search-ch-icon {
    background-image: url(../img/search.png);
    background-position: 4px 20px;
    height: 49px;
    width: 25px;
    display: block;
    background-repeat: no-repeat;
    text-align: center;
    margin: -10px 0 0 0px !important;
}

.dateselection {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 20px;
    line-height: 1.42857;
    padding: 0px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 50%;
}


/*.search-ch-icon { ND-2
	background-image:url(../img/search.png);
	background-position:1px 4px;
	height:31px;
	width:30px;
	display:block;
	background-repeat:no-repeat;
	text-align:center;
	margin:8px 0 0 10px !important;
	
}*/
.ch-modi .btn-default {
    padding: 0 !important;
}

.search-ch-icon:hover {
    background-image: url(../img/search-b.png);
    background-position: 4px 20px;
    background-repeat: no-repeat;
}

.ch-profile {
    background-color: #f5f5f5;
    *background-color: #e7e7e7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #e7e7e7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #e7e7e7);
    background-image: -o-linear-gradient(top, #f5f5f5, #e7e7e7);
    background-image: linear-gradient(to bottom, #f5f5f5, #e7e7e7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5ff', endColorstr='#ffe7e7e7', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #bababa;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    min-width: 120px;
}

    .ch-profile span {
        float: left;
        display: block;
        width: 37px;
        position: relative;
        left: -15px;
        top: -9px;
        height: 41px;
        /*background:url(../img/man.png) -8px 0;*/
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
    }

        /*.ch-profile span img {
    width: 100%;
    border-left: 3px;
    margin-top: 2px;
}*/

 .ch-profile span img {
    width: auto;
    margin-top: 5px !important;
    margin-left: 5px;
    height: 31px;
}

.ch-message {
    background-color: #f5f5f5;
    *background-color: #e7e7e7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #e7e7e7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #e7e7e7);
    background-image: -o-linear-gradient(top, #f5f5f5, #e7e7e7);
    background-image: linear-gradient(to bottom, #f5f5f5, #e7e7e7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5ff', endColorstr='#ffe7e7e7', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #bababa;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 80px;
    padding-bottom: 7px !important;
}

.nav .dropdown a:hover {
    border-radius: 4px !important;
}

.msg-ch {
    /*background: url(../img/glyphicons-halflings.png) -74px 23px !important;*/
    background: url(../img/bell1.png) no-repeat 0 0;
    width: 30px;
    height: 30px;
    display: inline-block;
    padding-left: 52px !important;
    margin-left:20px;
}

.counter-ch {
    width: 23px;
    height: 21px;
    padding: 1px 2px 0 0;
    display: inline-block;
    float: right;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #db4437;
    color: #fff !important;
    font-size: 12px;
    text-shadow: none;
    text-align: center;
    -webkit-box-shadow: inset 0 1px 1px rgba(130, 130, 130, 1), 1px 1px 1px rgba(190, 190, 190, 1);
    -moz-box-shadow: inset 0 1px 1px rgba(130, 130, 130, 1), 1px 1px 1px rgba(190, 190, 190, 1);
    box-shadow: inset 0 1px 1px rgba(130, 130, 130, 1), 1px 1px 1px rgba(190, 190, 190, 1);
}

.right-section-ch .navbar .nav > li > .dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

.right-section-ch .navbar .nav > li > .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
}

.dropdown-menu > li {
    width: 100%;
    border-bottom: 1px solid #bababa;
}

    .dropdown-menu > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13px;
    }

.main-menu-bar {
    min-height: 51px;
    border-bottom: 1px solid #bababa;
    width: 100%;
    background-color: #f5f5f5;
    *background-color: #ededed;
    background: url("../Img/pattern1.png") repeat-x;
    /*background-image: -moz-linear-gradient(top, #ffffff, #ededed);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ededed));
    background-image: -webkit-linear-gradient(top, #ffffff, #ededed);
    background-image: -o-linear-gradient(top, #ffffff, #ededed);
    background-image: linear-gradient(to bottom, #ffffff, #ededed);*/
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffededed', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.other-menu-hori {
    height: 56px;
}

.left-ch-menu {
    width: 17.7%;
    padding-left: 1%;
    float: left;
    background: #f3f3f3;
    min-height: 51px;
}

.horiz-ch-menu {
    /*background: url(../img/repeater-right-horiz.png);*/
    width: 82%;
    float: left;
}

    .horiz-ch-menu ul {
        margin: 0;
        
        padding: 0;
        list-style: none;
        font-size: 14px;
    }

        .horiz-ch-menu ul li {
            display: inline;
            margin: 0 1.5%;
            line-height: 50px;
        }

            .horiz-ch-menu ul li a.active {
                border-bottom: 2px solid #027ec5;
            }


            .horiz-ch-menu ul li a {
                color: #575656;
                font-weight: bold;
                padding: 15px 3px;
                text-decoration: none;
            }

                .horiz-ch-menu ul li a:hover {
                    color: #1f1f1f;
                }

.active-horiz-ch-menu {
    color: #0078bd !important;
}

.left-ch-menu ul {
    font-size: 16px;
    font-weight: bold;
    color: #424242;
    width: 100%;
}

.left-ch-menu .dropdown.open .dropdown-toggle {
    color: #555555;
    background: none !important;
}

.left-ch-menu li a span {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: url(../img/report-arrow.png) no-repeat center bottom !important;
    margin-left: 8px;
}



.left-ch-menu .dropdown-menu {
    min-width: 220px;
    border-top-left-radius: 0 !important;
    -moz-border-top-left-radius: 0 !important;
    -webkit-border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    -moz-border-top-right-radius: 0 !important;
    -webkit-border-top-right-radius: 0 !important;
}

.nav > li {
    margin-left: 10px;
}

.ch-padding-remover {
    padding-top: 8px !important;
}

.top-margin-ch {
    margin-top: 130px;
    margin-left: 1%;
    border: 1px solid #bababa;
    padding: 0;
}

    .top-margin-ch ul li {
        margin-left: 0;
    }

.ch-right-report {
    margin-left: 5%;
    margin-top: 130px;
    width: 75%;
    float: left;
}

.accordion {
    padding: 1% 1% 0 1%;
}

.ch-border-btm-white {
    border-bottom: 1px solid #fff;
}

.placeholder input[type=text] {
    border-radius: 4px;
    color: #666;
    border: 1px solid #b1b1b1;
    padding: 4px;
    background-color: #fffedc;
}

.blue-btn {
    background: #4484f3;
    border: 1px solid #3572d7;
    padding: 8px 15%;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    float: left;
}

.wdth20 .blue-btn {
    float: right;
}

.filters-ch {
    background: #0078bd;
    min-height: 100px;
    width: 100%;
    /*margin-top:117px;*/
    margin-top: 10px;
    padding: 10px 25px 10px !important;
}

    .filters-ch ul {
        margin: 10px 0 10px 0px;
        padding: 0;
        list-style: none;
    }

        .filters-ch ul li {
            display: inline-block;
            margin: 0px;
        }

            .filters-ch ul li select {
                border: 1px solid #c1c1c1;
                border-radius: 4px;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                padding: 3px;
                width: 200px;
                margin: 10px;
            }

.filter-links-btn {
    padding-right: 1%;
}

    .filter-links-btn ul {
        float: right;
    }

        .filter-links-btn ul li span {
            font-size: 25px;
            color: #fff;
            font-weight: lighter;
        }

    .filter-links-btn a {
        float: left;
        color: #FFF;
        text-transform: uppercase;
        text-decoration: none;
        margin-top: 10px;
    }

        .filter-links-btn a:hover {
            color: #faf79a;
        }

.filters-ch .contorl-header {
    /*ND-2*/
    width: 73.3%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border: 0 !important;
    height: 33px !important;
}

.filters-ch .ch-button {
    padding: 5px 12px 6px !important;
}

.filters-ch .filter-search {
    height: 33px;
}

    .filters-ch .filter-search .search-ch-icon {
        background-image: url(../img/search.png);
        background-position: 4px 13px;
    }

        .filters-ch .filter-search .search-ch-icon:hover {
            background-image: url(../img/search-b.png);
            background-position: 4px 13px;
        }

.filters-ch .navbar-form {
    padding: 0 !important;
}

.filter-search-ch li {
    width: 30.4%;
}
/* JUST TO ADD THE PARENT CLASS */
.ch-modi .dropdown-menu {
    margin-top: -9px !important;
}

.ch-modi .navbar-right {
    margin-top: 10px !important;
    margin-right: 0px;
}

.ch-modi .margin0 {
    margin: 0 !important;
}

.hori-btns {
    float: right !important;
    width: auto;
    padding-right: 1%;
    margin-top: 16px;
}

    .hori-btns ul li {
        margin: 0 0 0 5px !important;
    }

.footer {
    height: 35px;
    background: #0078bd;
    color: #fff;
    border: 1px solid #005888;
    width: 76%;
    margin: 10px 0 0 10px;
    float: left;
    position: fixed;
    bottom: 0;
    z-index: 99999;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

    .footer ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-left: 11%;
    }

        .footer ul li {
            float: left;
            width: 22%;
            line-height: 35px;
        }

            .footer ul li a {
                color: #fff !important;
                text-decoration: none;
            }

.chat {
    height: 35px;
    background: #0078bd;
    color: #fff;
    border: 1px solid #005888;
    width: 20%;
    margin: 10px 2% 0 1%;
    float: left;
    border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9990;
}

    .chat p {
        margin: 2.5% 0 0 5%;
    }

.footer-icon {
   
    background-repeat: no-repeat;
    width: 30px;
    height: 29px;
    display: block;
    float: left;
}

.compliance {
    background: url(../img/all_icon_file.png) no-repeat;
    background-position: -173px -2px;
}

.help {
    background: url(../img/all_icon_file.png) no-repeat;
    background-position: -65px -2px;
}

.email {
    background: url(../img/all_icon_file.png) no-repeat;
    background-position: -103px -2px;
}

.phone {
    background: url(../img/all_icon_file.png) no-repeat;
    background-position: -204px -2px;
}

.chat-icon {
    background: url(../img/all_icon_file.png) no-repeat;
    background-position: -140px -6px;
}


.k-focusable tr:nth-child(even) {
    background-color: white;
}

.k-focusable tr:nth-child(odd) {
    background-color: #f5f9ff;
}

.blue-trip .k-focusable .k-master-row, .blue-trip .k-focusable .k-master-row:hover{
    background-color: #0078bd !important;
}
.blue-trip .k-focusable .k-master-row .k-icon.k-plus {
color:#fff !important;
}
.k-focusable tr td {
    /*border: 0;
    border-bottom: 1px solid #c1c1c1;*/
    padding: 10px 5px;
    font-size: 14px;
    line-height: 1em;
    color: #575656;
    background-color: transparent !important;
}

.k-master-row td:nth-child(2) {
    color: #fff;
}

div.k-grid-header .k-header {
    border: 0;
    padding: 10px;
    font-size: 14px;
    color: #575656;
    font-weight: normal;
}

.alert-circle {
    width: 24px;
    height: 24px;
    line-height: normal;
    padding: 0;
    display: inline-block;
    float: right;
    border-radius: 20px;
    background-color: #db4437;
    color: #fff !important;
    font-size: 11px;
    text-shadow: none;
    text-align: center;
    box-shadow: none;
    border: none;
}

    .alert-circle p {
        padding: 4px 0 0 0;
        margin: 0;
        display: block;
        text-align: center;
    }

.top-btn {
    padding-top: 10px;
}

    .top-btn ul li {
        float: left;
        display: inline-block;
    }

        .top-btn ul li button {
            float: left;
            display: inline-block;
        }

        .top-btn ul li a {
            font-weight: normal;
        }

.filters-ch ul.search-block-1 {
    padding: 0;
    margin: 0;
    width: 100%;
}

.filters-ch .search-block-1 li {
    display: inline-block;
    width: 306px;
    margin-right: -26px;
}

.filters-ch ul.search-block-2 {
    padding: 0;
    margin: 0;
    width: 100%;
    clear: both;
}

.filters-ch .search-block-2 li {
    display: inline-block;
    width: 200px;
    margin-right: 5px;
    float: left;
}

    .filters-ch .search-block-2 li select {
        margin: 5px 0;
    }

.row-print table td {
    padding: 10px 3px;
}

    .row-print table td td {
        padding: 0 3px;
    }

.table-border {
    width: 100% !important;
    height: 45px;
    cursor: pointer;
    border: 1px solid #cdc3b7;
    margin-top: 6px;
    background-color: #ededed;
    border-top-right-radius: 5px;
    background-image: url("../Content/textures/highlight.png");
    background-position: 0 center;
    background-position-y: center;
    border-radius: 6px;
    line-height: 40px;
    padding-left: 2%;
    color: #575656;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
}

.border-none {
    border: none !important;
}

.background-none {
    background: none !important;
}

.table_block {
    margin: 0 !important;
    table-layout: fixed;
    font-size: 14px;
}

.align-top {
    vertical-align: top;
}

/*MILESTONES*/

.milestone {
    width: 110px;
    height: 25px;
    background-color: #FFF;
    margin-bottom: 0 !important;
    text-align: center;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
    font-size: 10px;
}

.red {
    border: 1px solid #DB4437;
    border-left: 15px solid #DB4437;
}

.green {
    border: 1px solid #7bd900;
    border-left: 15px solid #7bd900;
}

.blue {
    border: 1px solid #2b47d3;
    border-left: 15px solid #2b47d3;
}

.default-grey {
    border: 1px solid #b1b1b1;
    border-left: 15px solid #b1b1b1;
}

.orange {
    border: 1px solid #ff9524;
    border-left: 15px solid #ff9524;
}

.purple {
    border: 1px solid #990099;
    border-left: 15px solid #990099;
}
/*MILESTONES CSS ENDS*/
.radio-btns, .fixed-margin {
    /*margin-top:117px !important;*/
    margin-top: 0px !important;
    padding-top: 10px;
}

.fixed-margin-rv {
    margin-top: 190px !important;
    padding-top: 10px;
}

.admin-fixed-margin {
    margin-top: 168px;
    padding-top: 10px;
}

.radio-btns ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .radio-btns ul li {
        display: inline-block;
        margin: 10px;
    }

.center-application {
    width: 98%;
    margin: 0 auto;
}

.row {
    border-bottom: 1px solid #c1c1c1 !important;
    padding: 15px 0;
}

    .row div {
        word-wrap: break-word;
    }

    .row:hover {
        background-color: #fffedc;
    }

.ch-right-report .row:hover {
    background-color: transparent !important;
}

.height-fixer-ch {
    height: 35px;
}

.col-lg-2 p {
    display: table-cell;
    padding: 0 10px 0 0;
}

.orange-color {
    color: #F90;
    font-weight: bold;
}

.active > a {
    background: none repeat scroll 0 0 #0078BD !important;
    color: #FFFFFF !important;
    border-radius: 0px !important;
    border: 1px solid 0078BD !important;
}

ul.nav-tabs li a {
    color: #575656;
}

.small-header {
    background-color: #0078bd;
    color: #fff;
    height: 30px;
    line-height: 25px;
    width: 100%;
    padding: 0 0 0 0;
    margin: 5px auto 0;
}

    .small-header:hover {
        background: #0078bd;
    }

    .small-header > span {
        padding: 10px;
    }

.col-lg-ch1 {
    padding-left: 0;
}

li.dropdown a:hover {
    color: #fff !important;
}

li.dropdown a.ch-padding-remover:hover {
    color: #424242 !important;
}

.help-col-md4 {
    text-align: right;
    padding-right: 2%;
}

.fright .DivSelectyze {
    margin-left: 15px;
}

.record-row {
    width: 100%;
    padding: 10px 0;
}

.buttons-bar {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #efefef;
}

label.css-label {
    margin: 0;
}

@media (min-width: 992px) {
    .form-group .col-md-8 {
        width: 45%;
    }
}


/*----------***----//////////////--****--------------***-------------- ends CHETU CLASSES MODIFIED -----------***----------***---/////////--***--------------*/


/*************************************************** Left Menu with ICONS ****************************************************************/


#leftMenu .accordion-group {
    margin-bottom: 0px;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

#leftMenu .accordion-heading {
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid #bababa; /* inner stroke */
    background-color: #f4f4f4; /* layer fill content */
    list-style-type: none;
    margin-bottom: 1px;
}

    #leftMenu .accordion-heading a {
        color: #575656; /* text color */
        font-size: 13px;
        text-decoration: none;
    }

        #leftMenu .accordion-heading a:hover {
            color: #262626;
        }

    #leftMenu .accordion-heading .active {
        width: 182px;
        height: 34px;
        border: 1px solid #5b5b5b; /* inner stroke */
        background-color: #353535; /* layer fill content */
        background-image: -moz-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
        background-image: -o-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
        background-image: -webkit-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
        background-image: linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    }

.ch-full-click {
    display: block;
    height: 34px;
    width: 99%;
}

.accordion-inner a {
    height: 40px;
    line-height: 40px;
    background: url(../img/arrow-right.png) no-repeat #fff;
    background-position: 20px 13px;
    border-bottom: 1px solid #e9e9e9;
    padding-left: 30px;
    width: auto;
    display: block;
    font-size: 13px;
}
/* ICONS */
.icon-pak {
    height: 20px;
    line-height: 20px;
    width: 25px;
    vertical-align: text-top;
    display: inline-block;
    background: url(../img/glyphicons-halflings.png) 26px -2px;
    margin-left: 2%;
}

.icon-ppl {
    height: 20px;
    line-height: 20px;
    width: 25px;
    vertical-align: text-top;
    display: inline-block;
    background: url(../img/glyphicons-halflings.png) 29px 81px;
    margin-left: 2%;
}

.icon-rep {
    height: 20px;
    line-height: 20px;
    width: 25px;
    vertical-align: text-top;
    display: inline-block;
    background: url(../img/glyphicons-halflings.png) 26px 54px;
    margin-left: 2%;
}

.icon-dmv {
    height: 20px;
    line-height: 20px;
    width: 25px;
    vertical-align: text-top;
    display: inline-block;
    background: url(../img/glyphicons-halflings.png) 28px -128px;
    margin-left: 2%;
}

.icon-ver {
    height: 20px;
    line-height: 20px;
    width: 25px;
    vertical-align: text-top;
    display: inline-block;
    background: url(../img/glyphicons-halflings.png) 25px 22px;
    margin-left: 2%;
}

.icon-busi {
    height: 20px;
    line-height: 20px;
    width: 25px;
    vertical-align: text-top;
    display: inline-block;
    background: url(../img/glyphicons-halflings.png) 28px -98px;
    margin-left: 2%;
}

.icon-scrn {
    height: 20px;
    line-height: 20px;
    width: 25px;
    vertical-align: text-top;
    display: inline-block;
    background: url(../img/glyphicons-halflings.png) 29px -70px;
    margin-left: 2%;
}

.icon-drug {
    height: 20px;
    line-height: 20px;
    width: 25px;
    vertical-align: text-top;
    display: inline-block;
    background: url(../img/glyphicons-halflings.png) 29px -35px;
    margin-left: 2%;
}
/* ICONS ENDS */


/*************************************************** ENDS Left Menu with ICONS ****************************************************************/



/******************************************************** Right Accordian **********************************************************************/


.ch-right-report #leftMenu .accordion-group {
    margin-bottom: 0px;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.ch-right-report #leftMenu .accordion-heading {
    height: 45px;
    line-height: 45px;
    border: 1px solid #bababa; /* inner stroke */
    background-color: #f4f4f4; /* layer fill content */
    list-style-type: none;
    margin-top: 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #f5f5f5;
    *background-color: #e7e7e7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #e7e7e7);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #e7e7e7);
    background-image: -o-linear-gradient(top, #f5f5f5, #e7e7e7);
    background-image: linear-gradient(to bottom, #f5f5f5, #e7e7e7);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#e7e7e7', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.top-header .dropdown-toggle.ch-profile:focus {
    border: 1px solid #bababa;
    border-radius: 5px !important;
}
    .ch-right-report #leftMenu .accordion-heading a {
        color: #575656; /* text color */
        font-size: 14px;
        text-decoration: none;
        font-weight: bold;
        padding-left: 2%;
        height: 100%;
    }

        .ch-right-report #leftMenu .accordion-heading a:hover {
            color: #262626;
        }

#leftMenu .accordion-heading .active {
    width: 182px;
    height: 34px;
    border: 1px solid #5b5b5b; /* inner stroke */
    background-color: #353535; /* layer fill content */
    background-image: -moz-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -o-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
    background-image: linear-gradient(90deg, #4b4b4b 0%, #555 100%); /* gradient overlay */
}

.ch-right-report .ch-full-click {
    display: block;
    height: 34px;
    width: 99%;
}

.ch-right-report .accordion-inner a {
    height: 40px;
    line-height: 40px;
    background: url(../img/arrow-right.png) no-repeat #fff;
    background-position: 20px 13px;
    border-bottom: 1px solid #e9e9e9;
    padding-left: 30px;
    width: 100%;
    display: block;
    font-size: 13px;
}

.ch-right-report .accordion {
    padding: 0;
}

.ch-full-click span.min {
    display: block;
    float: right;
}

.collapsed span.min {
    display: none !important;
    float: right;
}

.ch-full-click span.plus {
    display: none;
    float: right;
}

.collapsed span.plus {
    display: block !important;
    float: right;
}
/******************************************************** ENDS Right Accordian **********************************************************************/

/****************************************************** Starts Report View **********************************************************/

.rv-width-70 {
    width: 70%;
    float: left;
    border: 1px solid #C1C1C1;
}

.rv-width-30 {
    width: 29%;
    float: right;
    border: 1px solid red;
}

.rv-header {
    height: 80px;
    background: #0078bd;
    margin-bottom: 10px;
    font-size: 22px;
    color: #fff;
    margin-left: 0px;
}

    .rv-header p {
        line-height: 75px;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
    }

        .rv-header p span {
            float: right;
            margin-right: 3.5%;
        }

.ppl-srch {
    background: url("../img/all_icon_file.png") no-repeat scroll 5px -81px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 55px;
}

.ucrs {
    background: url("../img/all_icon_file.png") no-repeat scroll -54px -81px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 55px;
}

.manul-county {
    background: url("../img/all_icon_file.png") no-repeat scroll -113px -81px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 55px;
}

.summry-row {
    width: 95%;
    margin: 0 auto 15px;
    height: 50px;
}

.txt-sumry {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-left: 1.2px;
}

.txt-detials {
    float: right;
    margin-right: 1.2%;
}

    .txt-detials ul {
        margin: 0 0 0 5px;
        padding: 0;
        float: left;
        list-style-type: none;
    }

        .txt-detials ul li {
            text-align: left;
        }

.ppl-serch-detials {
    width: 100%;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

    .ppl-serch-detials ul {
        text-transform: uppercase;
        float: left;
        color: #575656;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

.name, .county {
    width: 36%;
    border: #036 solid 0px;
}

.date {
    width: 28%;
    border: 0px solid #000;
}

.ppl-serch-detials ul li {
    padding-left: 17%;
}

.ppl-serch-detials ul.date li {
    padding-left: 20%;
}

.ppl-serch-detials ul li:first-child {
    background-color: #f1f1f1;
    border: 1px solid #f0f0f0;
    border-left: 0;
    border-right: 0;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 32px;
    line-height: 32px;
}

.countr {
    background: #E2E2E2;
    border: 1px solid #C1C1C1;
    border-radius: 50%;
    display: block;
    float: left;
    font-size: 12px;
    height: 30px;
    line-height: 27px;
    margin: 0 5px 0 -39px;
    text-align: center;
    width: 30px;
}

.rv-width-70 .main-box {
    border: 0px;
}

.ppl-serch-detials2 {
    width: 100%;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

    .ppl-serch-detials2 ul {
        text-transform: uppercase;
        float: left;
        color: #575656;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

        .ppl-serch-detials2 ul li {
            padding-left: 3%;
        }

    .ppl-serch-detials2 span {
        background: #0078bd;
        border: 1px solid #005e94;
        border-radius: 50%;
        display: block;
        float: left;
        font-size: 12px;
        height: 25px;
        line-height: 25px;
        margin: 0 0 0 20px;
        text-align: center;
        width: 25px;
        color: #fff;
    }

    .ppl-serch-detials2 .date {
        width: 11%;
        border: 0px solid #000;
    }



.ucrs-details {
    width: 100%;
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

    .ucrs-details ul {
        text-transform: uppercase;
        float: left;
        color: #575656;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

        .ucrs-details ul li {
            padding-left: 3%;
        }

    .ucrs-details span {
        background: #0078bd;
        border: 1px solid #005e94;
        border-radius: 50%;
        display: block;
        float: left;
        font-size: 12px;
        height: 25px;
        line-height: 25px;
        margin: 0 0 0 20px;
        text-align: center;
        width: 25px;
        color: #fff;
    }

.action-btns {
    list-style-type: none !important;
}

    .action-btns li {
        text-align: center;
    }

        .action-btns li:first-child {
            text-align: left;
        }

.ucrs-details .action-btns {
    width: 16%;
    border: 0px solid #000;
    float: right;
    margin-right: .7%;
}

.ucrs-details ul li {
    margin-bottom: 10px;
}

.ucrs-user {
    width: 53%;
    border: #036 solid 0px;
    text-align: right;
}

.other-details ul {
    width: 45%;
    list-style-type: none;
    float: left;
}

    .other-details ul li {
        width: 100%;
        margin: 5px 0;
    }

        .other-details ul li div {
            float: left;
            width: 50%;
            line-height: 20px;
        }

.btn-rv {
    display: block;
    height: 25px !important;
    width: 120px !important;
    border-radius: 0 !important;
    color: #fff !important;
    border: none !important;
}

.rv-yellow {
    background: #d8d100 !important;
}

.rv-green {
    background: #7bd900 !important;
}

.rv-red {
    background: #DB4437 !important;
}

.rv-grey {
    background: #b1b1b1 !important;
}

.rv-blue {
    background: #2b47d3 !important;
}




.disclaimer {
    padding: 1%;
    margin: 15px 0 35px;
}
/****************************************************** Ends  Report  View **********************************************************/

/****************************************************** New Report **********************************************************/

.applicant-info {
    float: left; /*border:1px solid #000;*/
    margin: 10px 1%;
}

    .applicant-info ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

.wdth80 {
    width: 80%;
    float: left;
    margin-left: 1.2%;
    margin-top: 15px;
}

.wdth20 {
    width: 16%;
    float: right;
    margin-top: 15px;
    margin-right: 1.2%;
}

.wdth80 ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
}
/****************************************************** Grid ********************************************************/

.grid-holder-ch {
    width: 98%;
    margin: 0 auto;
}

    .grid-holder-ch ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 13px;
    }

.grid-header-ch {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); /* IE6-9 */
    width: 98%;
    border: 1px solid #c1c1c1 !important;
    font-weight: bold;
    font-size: 12px;
}

.grid-greyrow-ch {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); /* IE6-9 */
    width: 100%;
    border: 1px solid #c1c1c1 !important;
    font-weight: bold;
    font-size: 12px;
    height: 51px;
    margin: 10px auto 15px;
}

.numbers-ch {
    float: left;
}

.pages-ch {
    float: right;
    margin: 9px 9px 0 0;
}

.numbers-ch ul {
    margin: 10px 0 0 5px;
    padding: 0;
    list-style-type: none;
}

    .numbers-ch ul li {
        background: #dbdbdb;
        border: 1px solid #c1c1c1;
        display: inline-block;
        padding: 5px 10px;
        color: #575656;
        margin: 0 5px;
        cursor: pointer;
    }

        .numbers-ch ul li.active {
            background: #0078bd;
            border: 1px solid #00588B;
            color: #fff;
        }

.grid-holder-ch ul li {
    border-bottom: 1px solid #c1c1c1;
    padding: 15px 10px;
}

.alter-color {
    background: #f5f9ff;
}

.grid-control-ch {
    width: auto;
    padding: 10px .5% !important;
    margin: 0;
}
/************************************ Account Profile Page **********************************************/


.main-box {
    border: 1px solid #c1c1c1;
    width: 98.3%;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.header {
    height: 67px;
    padding: 5px 10px;
    background: #0078bd;
    line-height: 55px;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

.profile {
    background: url("../img/all_icon_file.png") no-repeat scroll 0 -28px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 55px;
}

.account {
    background: url("../img/all_icon_file.png") no-repeat scroll -57px -30px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 55px;
}

.location {
    background: url("../img/all_icon_file.png") no-repeat scroll -107px -30px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 55px;
}

.information {
    background: url("../img/all_icon_file.png") no-repeat scroll -258px -30px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 55px;
}

.restriction {
    background: url("../img/all_icon_file.png") no-repeat scroll -157px -30px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 55px;
}

.right-header-section {
    float: right;
    margin-right: 15px;
}

    .right-header-section a {
        color: #FFF;
    }

        .right-header-section a:hover {
            color: #fffedc;
        }

        .right-header-section a span {
            font-size: 14px;
        }

.width20 {
    float: left;
    width: 20%;
    padding-left: 1%;
}

.width38 {
    float: left;
    width: 38%;
    padding-left: 1%;
}

.image-area {
    width: 70%;
    margin: 0 auto;
}

.browse-image {
    width: 189px;
    height: 140px;
    border: 1px solid #c1c1c1;
}

.browse-btn-profile {
    width: 183px;
    border: 1px solid #c1c1c1;
    background: #fafafa;
    margin-top: 5px;
    padding: 3px;
}

.width38 .form-control {
    width: 95%;
    box-sizing: border-box;
}

.margin-left4 {
    margin-left: 4%;
}

.margin-left8 {
    margin-left: 8%;
}

.note-btm {
    margin-bottom: 10px;
    display: block;
    padding: 0 1%;
}

.form-group .DivSelectyze {
    width: 88%;
}

.form-group .css3 .UlSelectize {
    width: 90%;
}

#tooltip {
    z-index: 9999999;
}

.k-window {
    z-index: 99999999999 !important;
}

.k-link:link, .k-link:visited {
    font-size: 14px;
font-family: inherit !important;
color: #2e2e2e !important;
font-weight:normal;
}

/************************************ Account Preference Page **********************************************/

.reference {
    background: url("../img/all_icon_file.png") no-repeat scroll -207px -30px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 55px;
}

.default {
    background: url("../img/all_icon_file.png") no-repeat scroll -257px -30px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 55px;
}

.notification {
    background: url("../img/all_icon_file.png") no-repeat scroll -307px -30px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 55px;
}

.archives {
    background: url("../img/all_icon_file.png") no-repeat scroll -353px -30px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 55px;
}

.user {
    background: url("../img/all_icon_file.png") no-repeat scroll -400px -30px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 55px;
}

.forms {
    background: url("../img/all_icon_file.png") no-repeat scroll -450px -30px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 55px;
}

input[type="image"] {
    margin-right: 10px !important;
}



/******************************************************* CSS for Mozilla Firefox Only *************************************************************/

@-moz-document url-prefix() {
}

/******************************************************* CSS for Chrome and Safari Both *************************************************************/
@media screen and (-webkit-min-device-pixel-ratio:0) {
}



/************************************ BROWSER SPECIFIC CSS CLASSES START HERE **************************************/

@-moz-document url-prefix() {

    .contorl-header {
        height: 41px !important;
    }

    .form-group .DivSelectyze {
        width: 80%;
    }

    .ch-message {
        width: 80px;
    }

    .ch-modi .navbar-right {
        margin-right: 0;
    }

    .ch-modi a.ch-profile:hover {
        color: #0078bd !important;
    }
    /*.padding-right {padding-right:0;}*/
    .browse-btn-profile {
        width: 189px;
    }

    .form-group .css3 .UlSelectize {
        width: 98%;
    }

    .css3 .UlSelectize {
        top: 23px !important;
    }

    .ppl-serch-detials ul li:first-child {
        height: 43px;
        margin-bottom: 5px;
    }

    .countr {
        line-height: 28px;
    }
}
/*________________________________________________________________________________________________________________________________________*/
/*CSS for Opera (.opera)*/
.opera .example {
    /*PUT YOUR PROPERTIES HERE*/
}

/*________________________________________________________________________________________________________________________________________*/
/*CSS for Safari (.webkit)*/
.webkit .example {
    /*PUT YOUR PROPERTIES HERE*/
}

/*________________________________________________________________________________________________________________________________________*/
/*CSS for Chrome(.chrome)*/
.chrome .example {
    /*PUT YOUR PROPERTIES HERE*/
}

/*JUST For TEST for CHETU NOT USED IN INTELIFI APP 1087*/
.example {
    width: 100px;
    height: 100px;
    display: none; /*<<<<<<<<<<<<<<<<<<<<<<<<<<< REMOVE*/
    /* ADD THIS DIV >>>>>>>>>>>>>>>>>>>>>>>>>____>   <div class="example"> </div>*/
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .contorl-header {
        height: 41px !important;
    }
}

/********************************** BROWSER SPECIFIC CSS CLASSES ENDS HERE **************************************/


.api {
    background: url("../img/api.png") no-repeat 0 3px;
    width: 25px;
    height: 25px;
    border: 0px;
}

    .api:hover {
        background: url("../img/h-api.png") no-repeat 0 3px;
    }

.delete {
    background: url("../img/delete.png") no-repeat 0 3px;
    width: 25px;
    height: 25px;
    border: 0px;
}

    .delete:hover {
        background: url("../img/h-delete.png") no-repeat 0 3px;
    }

.call {
    background: url("../img/call.png") no-repeat 5px 3px;
    width: 25px;
    height: 25px;
    border: 0px;
}

    .call:hover {
        background: url("../img/h-call.png") no-repeat 5px 3px;
    }

.edit {
    background: url("../img/edit.png") no-repeat 0 2px;
    width: 25px;
    height: 25px;
    border: 0px;
}

    .edit:hover {
        background: url("../img/h-edit.png") no-repeat 0 2px;
    }


#content-box .Report_Sub_info_right {
    text-align: left;
    color: #575656;
    font-weight: normal;
    padding: 4px 10px 4px 0px;
    font-family: segoeui;
    font-size: 14px;
    vertical-align: top;
    
}


#content-box .Report_Sub_info_left
 {
    text-align: left;
    color: #575656;
    font-weight: normal;
    padding: 4px 10px 4px 0px;
    font-family: segoeui;
    font-size: 14px;
    vertical-align: top;
    font-weight:bold;
    
}

#content-box .Report_Header {
    color: #575656;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 8px 8px 0px;
    font-family: segoeui;
    text-align: left;
}

.tabbed-box {
    border: 1px solid #c1c1c1;
    padding: 15px 40px 0px 40px;
}

#content-box .Center_ImgMVC {
    background-image: none;
    background-color: #0078bd;
    border-radius: 0;
    height: 62px;
}

#content-box #tabsDemo1 a {
      /*font-weight: normal;
    font-size: 14px;
    padding: 7px 8px;
    background: none;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 32px;*/
    color: #575656;
}

#content-box #tabsDemo1 li.current a {
    font-weight: normal;
    font-size: 14px;
    padding: 10px 17px;
    background: none;
    background-color: #fff;
    /*border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;*/
    height: 40px;
    color: #0b55c4;
}

#content-box #tabsDemo1 a span {
    display: none;
}

.scroll-div {
    overflow-y: auto;
    position: fixed;
    box-sizing: border-box;
    top: 60px;
    bottom: 0;
    width: 100%;
}


#tabsDemo1 a {
    font-weight: normal;
    font-size: 14px;
    padding: 7px 8px;
    background: none;
    background-color: #ededed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 32px;
    color: #fff;
}






/********************************** 12-9-2015 **************************************/


.table-header-block {
    margin-bottom: 5px;
}

    .table-header-block tr:first-child {
        background: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%) !important;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ededed));
        background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%);
        background: -o-linear-gradient(top, #ffffff 0%, #ededed 100%);
        background: -ms-linear-gradient(top, #ffffff 0%, #ededed 100%);
        background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
        width: 98%;
        border: 1px solid #c1c1c1 !important;
        font-weight: bold;
        font-size: 12px;
        width: auto;
        padding: 10px .5% !important;
        margin: 0 !important;
        color: #575656;
    }

        .table-header-block tr:first-child td {
            padding: 7px .7% !important;
            font-weight: normal;
            color: #575656;
        }

.table-repeat-block tr:nth-child(even) {
    background: #f5f9ff;
}

.table-repeat-block tr:nth-child(odd) {
    background: #fff;
}

.table-repeat-block > tbody > tr:hover {
    background: #fffedc;
}

.table-inner-block tr td {
    padding: 14px .5% !important;
    margin: 0 !important;
    border-bottom: 1px solid #c1c1c1;
    font-size: 14px;
}

form .formcontrol-newpage-ddl {
    padding: 0 4px;
}

.white-bg {
    background: #fff;
}

#radiobotton table input {
    margin-right: 7px;
}

div#toolbar-box.white-bg {
    padding-top: 15px;
    background: #fff;
}

.k-grid-header {
    background: #ffffff !important;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)) !important;
    background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%) !important;
    background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%) !important;
    background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%) !important;
    background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    width: 100%;
    border: 1px solid #bababa !important;
    font-weight: bold;
    font-size: 12px;
}

#element-box .k-grid-header .k-header {
    padding: 10px 5px;
    border-style: none;
    font-size: 14px;
    font-family: inherit !important;
    color: #2e2e2e;
    font-weight: normal;
}
#element-box.second .k-grid-header .k-header{padding:10px;}
#element-box.second .k-grid .k-button, .k-edit-form .k-button{margin-left:0;}
.k-focusable tr:nth-child(odd):hover, .k-focusable tr:nth-child(even):hover {
    background-color: rgb(255, 255, 221);
}

.manage-alert {
    margin: 0 10px;
    font-size: 14px;
}

table .k-state-focused {
    background: transparent;
}

.filters-ch label {
    color: #fff;
    font-size: 12px;
    margin-top: 4px;
    padding-bottom: 2px;
    padding-left: 2px;
    font-weight: bold;
    display: block;
}

.show-record {
    padding: 10px 15px 5px 15px;
}

    .show-record span {
        color: #0078bd;
        font-weight: bold;
        font-size: 14px;
    }

.navbar-nav > li > a.report-head {
    padding-top: 8px !important;
    font-size: 20px;
    font-weight: bold;
    color: #575454 !important;
}

    .navbar-nav > li > a.report-head:hover {
        color: #000 !important;
    }

.Product {
    width: 50%;
    color: black;
    border-bottom-color: #E0E0E0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    cursor: pointer;
    font-size: 12px;
    background: #fff;
}

    .Product a {
        background: #fff url("../img/arrow-right.png") no-repeat scroll 20px 12px;
        width: auto;
        padding: 10px 15px 10px 30px;
        font-size: 13px;
        color: #818080;
        display: block !important;
        position: relative;
    }

        .Product a img {
            position: absolute;
            right: 10px;
            top: 14px;
        }

    .Product:hover a {
        color: #2A6496;
        text-decoration: underline !important;
    }

select.yellow-select {
    height: 27px;
    margin-top: 5px;
}

.formcontrol-newpage {
    height: 27px;
    margin-top: 5px;
}

.chat_mini {
    float: right;
    padding: 6px 20px;
    font-size: 35px;
    line-height: 0;
}

.k-numeric .k-link, .k-numeric .k-state-active {
    padding: 0px 8px !important;
    line-height: 22px !important;
    vertical-align: top;
    background-color: #dbdbdb;
    margin: 2px 2px 5px 2px;
    display: inline-block;
    border: 1px solid #bababa !important;
}


.k-numeric .k-state-active, .k-numeric .k-state-hover {
    padding: 0px 9px !important;
    line-height: 24px !important;
    background-color: #0078bd !important;
    color: #fff;
    margin: 2px 2px 5px 2px;
    border-radius: 0px !important;
}

#ShowallGrid {
    border: 0px;
}

}

.pad-15 {
    padding: 15px;
}

.k-grid-header .k-header {
    padding: 10px 5px;
    background: #ffffff !important;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) !important;
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)) !important;
    background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%) !important;
    background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%) !important;
    background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%) !important;
    background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}

.k-grid-pager {
    border: 1px solid #bababa !important;
    margin-top: 10px !important;
}
/*#UserImage {
        margin-top: 15px;
}*/
.search-heading td {
    font-weight: bold;
    height: 42px;
    line-height: 35px;
    background: #fff;
}

.search-heading .countr {
    margin: 0;
}

.people-search1, people-search {
    background: #fff;
}

.people-search-wrap {
    background-color: #fff;
    /*margin-left: -11px;
    margin-right: -27px;*/
    padding: 10px;
}

.people-search-wrap_ncr1 {
    background-color: #fff;
  
}


.people-search-wrap_fcr {
    background-color: #fff;
    margin-left: 3px;
    margin-right: -8px;
 
}

    .people-search-wrap .ppl-serch-detials ul li:first-child {
        font-weight: bold;
        height: 42px;
        line-height: 35px;
        background: #f9f9f9 !important;
    }

.people-search td {
    padding: 5px;
    vertical-align: top;
    font-size: 15px;
}

.people-search_fcr td {
    padding: 5px;
    vertical-align: top;
    font-size: 14px;
}


.people-search .up_unique {
    display: block;
    font-size: 14px;
}

.people-search .up_unique, .people-search .countystate, .people-search .ultimatecls {
    font-size: 14px;
    color: #666;
}

.people-search .countr {
    float: none;
    display: inline-block;
}
/*span.blue-no {
    background: #0078bd;
    border: 1px solid #005e94;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    margin: 0 0 0 20px;
    text-align: center;
    width: 25px;
    color: #fff;
}
*/

span.blue-no {
    background: #0078bd;
    border: none;
    border-radius: 20px;
    display: inline-block;
    font-size: 11px;
    height: 26px;
    line-height: normal;
    margin: 0 0 0 20px;
    text-align: center;
    width: 26px;
    color: #fff;
}

span.red-no {
    background: #DB4437;
    border: none !important;
    border-radius: 20px;
    display: inline-block;
    font-size: 11px;
    height: 26px;
    line-height: normal;
    margin: 0 0 0 20px;
    text-align: center;
    width: 26px;
    color: #fff;
}

span.blue-no span {
    display: block;
    padding-top: 5px;
}

span.blue-no p,
span.red-no p {
    margin: 0;
    padding: 4px 0 0 0;
    display: block;
}

@-moz-document url-prefix() {
    span.blue-no p,
    span.red-no p {
        margin: 0;
        padding: 6px 0 0 0;
        display: block;
    }
}

tr.sparater-td td {
    border-bottom: 1px solid #c1c1c1;
    background: #fff;
}

tr.sparater-td:last-child td {
    border-bottom: 0px solid #c1c1c1;
}

.people-search .PS_SSN_DEATH_TOP {
    text-decoration: none;
    color: black;
}


.PS_SSN_DEATH_TOP_scr {
    text-decoration: none;
    color: black;
    padding-left: 1.5%;
}

.people-search1 .txt-detials {
    float: right;
    margin-right: 1.2%;
    font-size: 15px;
}

.people-search1 .summry-row {
    height: auto;
    padding-bottom: 10px;
    margin-bottom: 0;
}

#MainReprtSection .main-box {
    margin-bottom: 0;
    padding-bottom: 0;
}

.user-bg {
    background-color: #ececec;
    padding-top: 10px;
}

    .user-bg.ucrs-details span {
        background-color: #DB4437;
        border: 1px solid #fff;
    }




/*Sunder Style*/

.sectionsummary.reco-search {
    text-align: center;
    padding-bottom: 20px;
}

.people-search-wrap table.reporttable thead th {
    background: none;
    color: #000;
}

.people-search-wrap table.reporttable tbody td {
    font-size: 14px;
}

    .people-search-wrap table.reporttable tbody td b {
        font-weight: normal;
    }

.mn-hd {
    font-size: 15px;
    font-weight: bold;
    color: #666666;
}

.reporttable tr.sparater-td > td {
    border-top: 1px solid #C1C1C1;
    border-bottom: 0px;
}

.people-search-wrap table.reporttable thead th {
    text-transform: none;
}

table.reporttable .countr {
    display: inline-block;
    float: none;
}

.reporttable .summry-row {
    margin-bottom: 0;
}
/*.source-tb td
{
    text-align:left !important;
 }*/


.seperator-td {
    border-bottom: 1px solid #c1c1c1;
    background: #fff;
}


.reporttable {
    color: #575656;
    font-family: segoeui !important;
}

.width_10 {
    width: 10%;
}

.width_30 {
    width: 10%;
}

.width_15 {
    width: 15%;
}

.width_35 {
    width: 35%;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

tr.bg-gray td {
    background: #F7F5F5 !important;
}





.table.reporttable tbody td.begin2 {
    background-color: #0078bd;
    border-left: .09em solid #c2c2c2;
    text-align: center;
    vertical-align: top;
    padding: 0;
    padding-top: 10px;
}



.other-details.usc-table ul:first-child {
    padding-left: 59px;
}

    .other-details.usc-table ul:first-child li div:first-child {
        padding-right: 15px;
        width: 70px;
        text-align: right;
    }

.other-details.usc-table ul:nth-child(2) li div:first-child {
    padding-right: 15px;
    text-align: right;
    width: 40%;
}

.other-details.usc-table ul:nth-child(2) li div:nth-child(2) {
    width: 60%;
}

    .other-details.usc-table ul:nth-child(2) li div:nth-child(2) div {
        width: auto;
    }

.ucrs-details.usc-head ul.col1 li > div:first-child {
    float: left;
    padding-right: 15px;
}

.ucrs-user.col2 li::after {
    clear: both;
    display: block;
    content: "";
}

.ucrs-details.usc-head ul.col2 {
    margin-left: 1%;
}

    .ucrs-details.usc-head ul.col2 li > div:first-child {
        float: left;
        width: 30%;
        text-align: right;
        padding-right: 15px;
    }

    .ucrs-details.usc-head ul.col2 li > div:nth-child(2) {
        text-align: left;
    }

.manage-table .col2 td:first-child,
.reporttable tr td .col2 table tr td:first-child {
    width: 230px;
}

.reporttable tr.sparater-td.manage-table > td {
    border-top: 1px solid #C1C1C1;
    border-bottom: 0px;
}

    .reporttable tr.sparater-td.manage-table > td table tr td {
        border: 0;
        font-size: 14px;
        font-family: segoeui !important;
    }

.source-tb tr td:first-child {
    text-align: right;
    width: 28%;
}

.reporttable tr td .col2 table tr td:first-child {
    text-align: right;
}

.sparater-td.manage-table td:nth-child(2) table tr td:first-child {
    text-align: right;
    width: 150px;
}

.dob ul li {
    font-size: 14px;
    font-family: segoeui !important;
    font-weight: normal;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}




.text-center {
    text-align: center;
}


.people-search-wrap td {
    padding: 2px 5px;
    font-size: 14px;
}

.emerge_div {
    background-color: #fff;
    padding: 10px;
    margin-left: -12px;
    margin-right: -24px;
}

.width_10 {
    width: 10%;
}

.width_30 {
    width: 10%;
}

.width_15 {
    width: 15%;
}

.width_25 {
    width: 25%;
}

.width_45 {
    width: 45%;
}

.pad-bot10 {
    padding-bottom: 10px;
}

tr.sparater-td td table td {
    border-bottom: 0px none;
}

.search-block-new li {
    float: left;
    display: block;
}

form select.formcontrol-newpage-ddl {
    margin-top: 5px;
}

.width20px {
    width: 20px;
}

.vetical-align {
    vertical-align: middle;
}

div.sectionsummary h3 {
    font-size: 14px !important;
    color: #9b0000;
    margin: 0;
    line-height: 26px !important;
    font-weight: normal;
}

.width_50px {
    width: 50px;
}

.capname[style] {
    font-size: 16px;
}

.width_150 {
    width: 150px !important;
}

.ucrs-details.usc-head {
    border: 1px solid #c1c1c1;
    padding: 15px;
}

.other-details.usc-table {
    padding: 0px 15px;
}

.horiz-ch-menu ul li a span {
    display: inline-block;
    height: 25px;
    width: 25px;
    background: url(../img/report-arrow.png) no-repeat center bottom !important;
    margin-left: 10px;
}

.bdr {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
}

.manage-space {
    margin-bottom: 40px;
    margin-top: 60px;
}

.Center_ImgMVC tbody tr td {
    color: #fff;
}

.manage-tabs {
    border-bottom: 2px solid #0078bd;
    background-color:#fff;
}

.form-grid-head {
    border-top: 1px solid rgb(196, 196, 196);
border-bottom: 1px solid rgb(196, 196, 196);
border-right: 0;
border-left: 0;
}

    .form-grid-head td {
        padding: 10px;
        font-size: 14px;
        color: #6f6f6f;
        background: #fefefe;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #fefefe 0%, #eeeeee 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fefefe 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fefefe 0%,#eeeeee 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #fefefe 0%,#eeeeee 100%); /* IE10+ */
        background: linear-gradient(to bottom, #fefefe 0%,#eeeeee 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */
    }

.form-grid-tbody td {
    padding: 10px;
    font-size: 14px;
    color: #6f6f6f;
}

    .form-grid-tbody td td {
        padding: 0px 10px;
        font-size: 14px;
        color: #6f6f6f;
    }

.form-grid-tbody tr {
    border-bottom: 1px solid #bbbbbb;
}

    .form-grid-tbody tr tr {
        border-bottom: none;
    }

.form-grid-tbody .k-textbox {
    padding: 5px;
}

.margin-top25 {
    margin-top: 25px;
}



.company-btn .k-dropdown {
    box-shadow: none;
    width:240px;
    height:32px;
}

    .company-btn .k-dropdown .k-state-default {
        background-color: #fff;
    height: 32px;
        padding-top: 3px;
    width:100%;
    }

.company-btn .k-dropdown .k-autocomplete .k-input, .company-btn .k-dropdown .k-picker-wrap .k-input,  .company-btn .k-dropdown .k-numeric-wrap .k-input,  .company-btn .k-dropdown .k-dropdown-wrap .k-input,  .company-btn .k-dropdown .k-selectbox .k-input {
    min-height: 1.8em;
    line-height: 1.8em;
    padding: 2px 0px 0px 5px;
    text-indent: 4px;
    border: 0px none;
    margin: 0px;
    text-align: left;
}
.company-btn > .k-dropdown:last-child {
    margin-left: -5px;
    margin-right: 0px;
    padding-right: 0px;
    box-sizing: border-box;
}

.company-btn .k-dropdown-wrap .k-select {
    padding: 8px 10px 5px 10px;
    background: #eee;
    border-left: 1px solid #C5C5C5;
}

.k-list-container {
    background: #ffffff !important;
}

.k-state-selected, 
.k-list > .k-state-selected, 
.k-list > .k-state-focused, 
.k-panelbar .k-state-selected, 
.k-button:active, 
.k-ghost-splitbar-vertical, 
.k-ghost-splitbar-horizontal, 
.k-draghandle.k-state-selected:hover {
    color: #FFF;
    background-image:none;

    background-color: #0094ff !important;
    border: 0px none !important;
}
 .k-splitbar-horizontal-hover:hover, .k-splitbar-vertical-hover:hover, .k-list > .k-state-hover,  .k-marquee {
    color: #FFFFFF !important;
    background-image:none;
    background-color: #0094ff !important;
    border-color: #0094ff !important;

}
#element-box #CompanyGrid .k-grid-header .k-header {
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
}

    #element-box #CompanyGrid .k-grid-header .k-header:first-child {
        border-left: 1px solid #bababa;
    }

    #element-box #CompanyGrid .k-grid-header .k-header:last-child {
        border-right: 1px solid #bababa;
    }

.k-pager-wrap.k-grid-pager {
    padding-top: 10px;
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
}

.showing {
    font-family: segoeui;
    font-size: 14px;
    font-weight: normal;
}

    .showing span {
        font-size: 14px;
        width: 60px;
        font-weight: bold;
        color:#0078bd;
    }

.my-row {
    margin-bottom: 10px;
}

    .my-row:after {
        content: "";
        display: block;
        clear: both;
    }

#DivUsers #example.k-content1 table {
    width: 100% !important;
}

.select-tool .k-widget .k-dropdown-wrap {
    background: #fff;
}

.select-tool .k-dropdown-wrap .k-input {
    padding: 5px;
}

#PickerContainerDiv span.colorChooser {
    width: 50px;
    height: 29px;
    background: transparent url('/Content/themes/base/images/colorChooser.gif');
    margin-left: 1px;
    margin-bottom: 4px;
    position: relative;
    display: inline-block;
    overflow: visible;
    vertical-align: middle;
    z-index: 1;
    background-size: 100% 100%;
}



.formcontrol-newpageTrackingNotes {
    width: 100%;
    border-radius: 4px;
    color: #666;
    border: 1px solid #b1b1b1;
    padding: 4px;
    font-size: 14px;
}



.In Review_1 {
    background-color: purple;
    color: white;
    padding: 1px 4px;
    border-radius: 3px;
}

.track-info label {
    display: block;
}

.track-info > div {
    padding-right: 15px;
}

.track-info .formcontrol-newpage-ddl {
    width: 100%;
}

#Table1 .k-widget .k-dropdown-wrap {
    background: #fff;
    background-color: #fff;
}

.ncr1-xslt .file-name {
    float: left;
    margin-top: 3px;
}

.ncr1-xslt span.red-no, .ncr1-xslt span.blue-no {
    margin: 0 0 0 10px;
}

.ncr1-xslt .col1 .last-box {
    float: left;
    width: 61%;
}


.dob-block {
    width: 190px !important;
    float: left;
    margin-left: -40px;
}

/*add for additional report tab*/
/*#content-box #tabsDemo1 a {
    font-weight: normal;
    font-size: 14px;
    padding: 10px 17px;
    background: none;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 40px;
    color: #575656;
}*/


.reporttable_ccr1 {
    background-color: #F7F5F5;
    width: 100%;
    font-size: 13px;
}

.reporttable_scr_liverunner {
    background-color: #EAE9E9;
    width: 100%;
    font-size: 13px;
}

.reporttable_ncr1_liverunner {
    background-color: #EAE9E9;
    width: 100%;
    font-size: 13px;
}



.header-ccr1 {
    height: 30px;
    padding: 5px 10px;
    background: #EAE9E9;
    line-height: 23px;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
}

.header-er {
    height: 30px;
    padding: 5px 10px;
    background: #EAE9E9;
    line-height: 23px;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
}








.font-size-scr {
    font-weight: bold;
    font-size: 14px;
}

.header-scr {
    height: 30px;
    padding: 5px 10px;
    background: #EAE9E9;
    line-height: 23px;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
}

.header-scr-liverunner {
    height: 30px;
    padding: 5px 10px;
    background: #EAE9E9 !important;
    line-height: 23px;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
}

.reporttable_scr_liverunner {
    width: 100%;
}


.scr-bold-color {
    font-weight: bold;
}

.table.reporttable tbody td {
}


.ncr_header_data {
    height: 30px;
    padding: 5px 10px;
    background: #EAE9E9 !important;
    line-height: 23px;
    color: #232323;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;

}

.fcr_header_data {
    height: 30px;
    padding: 5px 10px;
    background: #EAE9E9 !important;
    line-height: 23px;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
}

#packages .table-repeat-block > table:nth-child(odd) tr td {
    background: #f5f9ff;
}

.main-box table tr td table.reporttable tbody td {
    background-color: #fff;
}

.borderDiv {
    border:1px solid #c1c1c1;
}

.main-box table.reporttable tfoot td {
    background-image: none;
    background: #fff;
}

h4 {
    font-size: 14px;
}


.font-14 {
    font-size:14px;
}


table.reporttable tbody td {
   
    font-size: 14px;
    font-family: segoeui;
    
}

#tabsDemo2 a {
    font-weight: normal;
    font-size: 12px;
    padding: 7px 8px;
    background:#fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 32px;
    color: #0078bd !important;
}

/*#tabsDemo2 a:hover {
    background-color: #db2428;
    color: #fff;
}*/

#tabsDemo2 #spanPackage {
display:none;
}
/*----- 28-10-15-----*/
 .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000 !important;
}
 /*------- NEW CSS 29-10-15----------*/
    .margint10 {
        margin-top: 10px !important;
    }

    .cntbx-style {
        margin-bottom: 40px !important;
        margin-top: 60px !important;
    }

    .width300 {
        width: 300px !important;
    }

    .center-txt {
        text-align: center !important;
    }

    .heading-style {
        padding: 5px 0px 0px 55px !important;
        margin: 0 !important;
    }
    .left-portion-style   {
        border: 1px solid #ccc; 
        margin-left: 30px; 
        width: 90%; 
        height: 300px;
    }
   .left-portion-style1   {
        border: 1px solid #ccc; 
        margin-left: 30px; 
        width: 90%; 
        height: 330px;
    }
    .form-cnt   {
        margin:10px; 
        width:100%; 
        clear:both;
    }
    .form-right-field   {
         margin-bottom:20px;
    }
     .form-right-field1   {
         margin-bottom:30px;
             margin-top: 30px;
    }
     .bottom-div-cnt    {
         width:80%; 
         float:right; 
         margin-top:30px;
     }
#tabstrip #Mytab li a {
    border: 0px none;
    line-height: 19px;
}
div#toolbar-box div.m.m_padd0 {
    padding:0px !important;
}
#CompanyGrid .k-focusable tbody .k-master-row td {
    background-color: transparent !important;
}
.k-grid-content .k-focusable tbody td {
    background-color: transparent !important;
}

.input-group input[type="button"] {
    margin:0px;
}
.buttons-bar .martp0 {
margin-top:0px;
}

#tabstrip .nav > li > a:hover, #tabstrip .nav > li > a:focus {
    color: #FFF !important;
}

#tabstrip .nav > li {
    margin-left: 0;
}

.ch-modi #txtSearch {
    margin-right:0;
}

	 .margint65	{
		 margin-top:65px;
	 }
     .image-position    {
             margin-left: -41px;
    margin-right: 5px;
    margin-top: -7px;
     }	
      .margint5 {
        margin-top: 5px;
    }
	 @media only screen and (max-width:1200px)	{
		

	.margint65	{
		 margin-top:0;
	 }
	 }
    @media only screen and (max-width:850px)    {
         .form-right-field   {
         margin-bottom:0;
    }
         .form-right-field1  {
         margin-bottom:0;
         margin-top:0;
    }
         .bottom-div-cnt    {
         width:95%; 
         float:right; 
         margin-top:0px;
     }
	 
    }

    .margin-top40 {
    margin-top: 40px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 2px !important;
    }
.horiz-ch-menu .dropdown-menu{padding-bottom:0px !important;}

   /*11-17-2015*/
  .horiz-ch-menu.hori-btns .company-edit-save {
    margin-top: -37px !important;
    padding: 6px 12px 9px !important;
    width: 74px;margin-top: -35px
}
    .company-edit-save:hover {
    color: #0078bd;
}
    .company-user, .company-location
    {
        font-weight:normal !important;
    }
    .company-user .plus-icon, .company-location .plus-icon, .user-btn .plus-icon{
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -178px -104px;
    display: block;
    float: left;
    height: 17px;
    margin: -7px -5px 0 10px;
    width: 17px;
}
    .location-btn .plus-icon {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -178px -104px;
    display: block;
    float: left;
    height: 17px;
    margin: -6px -3px 0 8px;
    width: 17px;
}
   .billing-info {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -206px -90px;
    display: block;
    float: left;
    height: 45px;
    margin: 8px 19px 0 24px;
    width: 35px;
}
   .k-widget .k-dropdown-wrap, .k-widget .k-picker-wrap, .k-widget .k-numeric-wrap, .k-autocomplete.k-header, .k-autocomplete.k-state-focused, div.k-dropdown-wrap.k-state-active, .k-dropdown-wrap.k-state-focused, .k-dropdown-wrap.k-state-focused:hover, div.k-picker-wrap.k-state-active, .k-picker-wrap.k-state-focused, .k-picker-wrap.k-state-focused:hover, span.k-numeric-wrap.k-state-active, .k-numeric-wrap.k-state-focused, .k-numeric-wrap.k-state-focused:hover {
       height: 32px;
    padding-top: 5px;
}
   .k-picker-wrap .k-select, .k-numeric-wrap .k-select, .k-dropdown-wrap .k-select {
    padding: 6px 3px !important;
}
   .btn.btn-danger.comp-cancel {
    font-weight: normal;
    padding: 12px 13px;
}
/*.align-boxes tr td:nth-child(1) span, .align-boxes tr td:nth-child(1) label {
    color: #666 !important;
}
   #Div3 span#LblDate-0, #Div3 label {
    color: #666 !important;
    font-size: 12px;
    word-spacing: 0px;
    margin-top: -2px !important;
    word-spacing: -1px;
}*/
   .infomessage {
    width: 100%;
    padding: 10px 5px 10px 20px !important;
}
   .k-numeric .k-state-active, .k-numeric .k-state-hover {
    border: none !important;
    /*border-radius: 4px !important;*/
    line-height: 20px;
    padding: 0 4px;
}
   .k-grid .k-button, .k-edit-form .k-button {
    margin: 0.3em 0.2em !important;
}
.add_newBtn.add-btn {
    margin-top: 25px;
    padding: 0 3px 9px;
}
.k-border{
    border: 1px solid #ccc !important;
    border-radius: 5px;
}
.third-party {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -257px -38px;
    display: block;
    float: left;
    height: 38px;
    margin: 4px 10px;
    width: 55px;
}
.third-text {
    display: block;
    padding-top: 5px;
}
.locationtextbox, .textboxunderapi, .textbox {
    margin-left: 8px;
}
.OpenInvoices {
    background: #cdffa8 none repeat scroll 0 0 !important;
    border: 1px solid #52a614;
    margin-top: 6px !important;
}
.successmsg {
    background-color: transparent !important;
    background-position: left center;
    background-repeat: no-repeat;
    border: 1px solid #106110;
    color: #52a614;
    display: inline-block;
    font-size: 15px !important;
    font-weight: normal !important;
    margin-top: 0px !important;
    padding: 5px 5px 5px 20px;
    border:none; 
}
#dvOpenInvoices > div {
    margin-left: 33px !important;
}
#btnSave:hover, #SavetoAll:hover, #imgdisable:hover {
    color: #0078bd;
}
#btnSave {
    padding: 6px 15px 9px !important;
}
#SavetoAll {
    height: 37px;
    padding-bottom: 7px;
}
#imgdisable {
    height: 38px;
    margin-top: -35px;
    padding-bottom: 9px;
}
label.iPhoneCheckLabelOn span {
    color: #fff;
    display: block;
    font-size: 11px;
    font-weight: normal;
    margin-top: 1px !important;
    padding-left: 12px;
    text-shadow: 0 0 0 #fff;
}
label.iPhoneCheckLabelOff span {
    color: #000;
    display: block;
    font-size: 11px;
    font-weight: normal;
    margin-top: 1px;
    padding-right: 8px;
    text-shadow: 0 0 0 #fff;
}
.salessnapshotblock > div > div:nth-child(1) {
    color: #666;
    float: left;
    font-size: 13px;
    font-weight: normal !important;
    margin-left: 16px;
    margin-top: 12px !important;
    padding-top: 10px !important;
}
#lblSalesTotal > span {
    color: #82e601 !important;
}
.m.m_padd0 .input-group .input-group-addon {
    border: medium none;
}
.add_newBtn.add-img {
    background: transparent none repeat scroll 0 0 !important;
    border: medium none !important;
    margin: 9px 0 5px -10px !important;
}
.add-img1 {
    padding-left: 12px !important;
}
#IsReportEmailActivated {
    margin-top: 12px !important;
}
#element-box .m .header table.toolbar {
    border-collapse: collapse;
    display: block;
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    width: 1321px;
}
#Div3 td .col-sm-6 div {
    width: 97%;
}
#ReportEmailNotification.form-control.valid {
    float: left;
    margin-right: 2px;
}
label.css-label {
    margin-top: 0px;
}
/*sales-tab-start*/

.on_off .iPhoneCheckContainer {
    border-radius: 3px;
    height: 31px;
    margin-left: 8px;
    margin-top: 17px;
    width: 117px !important;
}
.on_off .iPhoneCheckHandle {
    float: right;
    height: 38px !important;
    margin-top: 5px;
    width: 61px !important;
}
label.iPhoneCheckLabelOn {
    background: rgba(0, 0, 0, 0) url("../Content/themes/base/images/on.png?1284697268") no-repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    left: 0;
    padding-top: 4px !important; 
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
label.iPhoneCheckLabelOff {
    background: rgba(0, 0, 0, 0) url("../Content/themes/base/images/off.png?1284697268") no-repeat scroll right 0;
    border-radius: 3px;
    color: #8b8b8b;
    right: 0;
    text-align: right;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}
/*sales-tab-end*/

/*tab -alingment of archive*/
/*.Center_ImgMVC .menu_seperator ul {
    float: left !important;
    margin-top: -6px !important;
}*/
.Center_ImgMVC div ul#tabsDemo3 .AdditionalReport a {
    background: #fff none repeat scroll 0 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: block;
    font-size: 12px !important;
    font-weight: normal;
    height: 33px;
    margin-right: 0;
    margin-top: -2px;
    padding: 8px 15px !important;
    text-align: center;
    width: 100% !important;
}
/*.menu_seperator #liReport > a {
    padding-top: 5px !important;
}*/
/*.Center_ImgMVC div #tabsDemo2 {
    margin-top: -4px !important;
}*/
.Center_ImgMVC div #tabsDemo3:empty{display:none !important;}
.Center_ImgMVC div ul:nth-child(1) .current a
{
    padding:5px 17px !important;
    line-height: 25px;
}
.Center_ImgMVC div ul:nth-child(3) .current a
{
    margin-top:-5px;
}
/*.Center_ImgMVC .menu_seperator td div ul li > a {
    display: block;
    font-size: 12px !important;
    font-weight: bold !important;
    height: 28px !important;
    margin-top: 3px !important;
    padding: 2px 15px 0 !important;
}*/
.Center_ImgMVC div ul .current a {
    background-position: 0 0 !important;
    color: #0078bd !important;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
}

#tabsDemo3 .AdditionalReport {
    float: left;
    list-style-type: none;
}
.Center_ImgMVC ul {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    float: left;
    height: 34px;
    margin-bottom: 0;
    margin-right: 0px;
    width:auto;
    padding-bottom: 4px;
    padding-left: 0;
    padding-top: 4px;
    text-align: center;
}
.tabAdditionalReprt, .spanAdditional{background-image:none !important;}

.main-menu-bar .horiz-ch-menu.hori-btns {
        margin-top: 0px !important;
    }
/*.Center_ImgMVC div ul:nth-child(2) #liReport.current > a {
    color: #fff !important;
    display: block;
    font-size: 12px !important;
    font-weight: bold !important;
    margin-top: -4px;
    padding: 9px !important;
    text-align: center;
    width: 100%;
}*/
.Center_ImgMVC .AdditionalReport a:hover, .Center_ImgMVC .AdditionalReport a:focus, .Center_ImgMVC .AdditionalReport a:active{text-decoration:none; color:#000;}
/*.Center_ImgMVC div ul:nth-child(1) .AdditionalReport a {
    color: #0078bd !important;
    display: block;
    font-size: 12px !important;
    font-weight: bold;
    margin-right: 0;
    margin-top: 5px;
    padding: 0 !important;
    text-align: center;
    width: 100% !important;
}*/
.Center_ImgMVC div ul:nth-child(2) .AdditionalReport a{color:#0078bd !important;}

#tabsDemo3 .AdditionalReport {
    float: left;
    list-style-type: none;
    width: 100%;
}
.Center_ImgMVC ul:nth-child(1) .current a {
    font-size: 12px !important;
    font-weight: bold !important;
    margin-top: -4px;
    padding-top: 6px !important;
}
/*tab -alingment of archive end*/


#DivLocation .k-grid.k-widget {
    height: auto !important;
}

/*Add Css for Email template popup*/

.html-view.t-widget.t-window{
    bottom: 5px;
    display: block;
    left: 120px;
    margin-bottom: 20px;
    margin-top: 0px !important;
    position: absolute;
    top: 23px;
    visibility: visible;
    z-index: 9999999;
    height:397px;
}
.t-widget.t-window.t-imagebrowser{
    display: block;
    left: 296.5px;
    position: absolute;
    top: 0;
    z-index: 9999999;
}
.t-widget.t-window.t-imagebrowser .t-floatwrap .t-search-wrap input.t-input {
    padding-left: 0;
    padding-right: 0;
    width: 146px !important;
}
.t-widget.t-combobox.t-dropdown-wrap.t-search-wrap > label {
    margin-top: -1px !important;
}
.t-reset.t-floats.t-tiles {
    height: 300px;
}
#tblValidate tr:last-child {
    border: medium none !important;
}

.align-boxes tr td:nth-child(n+2) div {
    float: right;
    margin-right: 9px !important;
    width: 90% !important;
}

.k-grid td {
    border-style: none !important;
    /*border-width: 0px 0px 0px 1px;*/
}
/*Emerge Review Status Log*/ 
.ReviewStatusLog #trMessageDropdown2 #TxtReviewSttausLog2 {
    display: none;
}
.ReviewStatusLog .BlackHeader{width:750px !important;}

/*Emerge Review kimage*/ 
#NCR1_0_b tr td div:nth-child(5) {
    padding-left: 14px !important;
}
/*Admin Search Icon*/

.container-fluid.admin-search-icon {
    padding: 0;
}
.admin-dash-icons > .nav.nav-tabs{border-bottom:0px;}
.admin-dash-icons > .nav > li > a{ border:none;}
.admin-dash-icons > .nav > li > a:hover, .nav > li > a:focus, .admin-dash-icons > .nav > li.active a{ background-color: transparent !important; border:none;}
.admin-dash-icons > .nav.nav-tabs > li {
    margin-left: 0;
    text-align: center;
    width: 20%;
     height: 100px;
    margin: 20px 0 40px;
}
.admin-dash-icons .tab-content {
    margin: 0 15px;
}

/*Admin-top section*/
.syst-notify.col-sm-6{
    background: transparent none repeat scroll 0 0 !important;
    border: medium none !important;
    float: left;
    margin-top: 14px !important;
}
.admin-textbox {background:transparent !important;}
.syst-notify .header{
    background: transparent none repeat scroll 0 0;
    color: #000;
    font-size: 12px;
    height: 30px;
    line-height: 23px;
    margin-bottom: 2px;
    text-transform: none;
}
.admin-textbox .header {
    background: transparent none repeat scroll 0 0;
    color: #000;
    font-size: 12px;
    height: 30px;
    line-height: 29px;
    margin-bottom: 9px;
    text-transform: none;
}
.syst-notify .m, .admin-textbox .m {
    border: medium none;
    background:transparent !important;
    margin-bottom:0px;
    padding-bottom: 0px !important;
}
.container-fluid.admin {
    background: #fdfcfc;
    border-bottom: 1px solid #bababa;
    
}
.admin-textbox select {
    color: #999 !important;
    font-size: 13px;
    padding-bottom: 4px;
}

/*.Center_ImgMVC #tabsDemo1 a {
    padding: 5px !important;
}*/
.k-window-titlebar .k-state-hover {
    padding: 0 !important;
}
.company-btn .k-select {
    height: 30px;
}
.k-master-row div {
    color: #666;
}
.k-detail-row:hover {
    background: transparent none repeat scroll 0 0 !important;
}

/*admin icon heading*/
.admin-dash-icons .nav.nav-tabs > li a span {
    color: #666;
    display: block;
    font-size: 12px;
}
.admin-dash-icons .nav.nav-tabs > li a img {
    height: 90px;
    margin-bottom: 7px;
}
.admin-dash-icons .nav.nav-tabs > li:nth-child(1) a img {
    padding-left: 12px;
}
.admin-dash-icons .nav.nav-tabs > li:nth-child(3) a img {
    padding-left: 7px;
}
.admin-dash-icons .nav.nav-tabs > li:nth-child(7) a span {
    display: block;
    margin-left: -21px !important;
}


/*Status Sign for admin*/
/*.k-alt img, .k-focusable img {
    height: 16px;
}*/
.k-focusable td:nth-child(6) img {
    height: 10px !important;
    margin-left: 3px;
    width: 13px;
}
.k-alt.k-master-row #mainimage, .k-master-row #mainimage, .k-master-row input#mainimage2 {
    height: 16px;
}

.center-application #myTab li a:hover, .center-application #myTab li a:focus {
    color: #fff !important;
}
.center-application #myTab li a:hover, .center-application #myTab li a:focus {
    background: #0078bd none repeat scroll 0 0 !important;
    padding:10px 15px;    
    margin-top:1px;
}
#tr_Menu .menu_seperator .center-application ul li a {
    border: medium none !important;
    height: 40px !important;
    margin-left: -1px !important;
    padding: 10px 17px;
}
.center-application #myTab li:nth-child(1) a, .center-application #myTab li:nth-child(1) a:focus{
    margin-top: 1px !important;
    padding-top: 11px !important;
}
.center-application #myTab li:nth-child(1) {
    margin-left: 0px !important;
}
#tabstrip #Mytab > li a:focus {
    background: #0078bd none repeat scroll 0 0 !important;
}

.align-boxes span, .align-boxes label {
    font-size: 12px;
}
.input-group.grey-input, .input-group.grey-input {
    margin-top: 18px;
}
/*Product Management*/

#tr_Menu .menu_seperator .center-application ul li:nth-child(1) {
    margin-left: 1px !important;
}
#tr_Menu .menu_seperator .center-application ul li:nth-child(1) a {
    border-bottom: 0 none;
}
#tr_Menu .menu_seperator .center-application ul li {
    margin-left: -3px !important;
}
.center-application .active > a {
    border: medium none !important;
    height: 40px !important;
    margin: 1px !important;
    padding: 10px 15px !important;
}

.packages {
    background:rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -4px -145px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 55px;
}
.products {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -166px -28px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 40px;
}
.filter {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -391px -83px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 50px;
}
.glbfilter {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -333px -82px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 51px;
}
.editGlbfilter{
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -327px -197px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 51px;
}

.ssncomplain {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -409px -29px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 42px;
}
.ncrbackup {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -76px -139px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 54px;
}

/*Admin Dashboard Heading Icons*/
.newaccount {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -9px -206px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 59px;
}
.manureport {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -328px -144px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 36px;
}
.emerge{
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -376px -144px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 53px;
}
.noticeper {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -149px -203px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 53px;
}
.quality {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -84px -203px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 54px;
}
.helporder {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -214px -146px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 41px;
}
.pendingreport {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -271px -144px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 43px;
}
.incompletereport {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -276px -199px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 45px;
}
.drugtest {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -441px -145px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 46px;
}
.batchorder {
    background: rgba(0, 0, 0, 0) url("../img/all_icon_file.png") no-repeat scroll -214px -202px;
    display: block;
    float: left;
    height: 58px;
    margin: 2px 10px 0;
    width: 49px;
}


#divMainTemplete .btnComplete, .k-alt > td > div div:nth-child(2) input, .k-focusable td > div div:nth-child(2) input {
    /*background: #6cc525 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #fff;
    /*padding: 4px 9px 6px 7px !important;*/
}
#divMainTemplete .btnUpdate {
    /*border:none;
    border-radius: 3px;
    color: #fff;
    padding: 4px 9px 5px 10px !important;
    text-align: center !important;
    background:#b6c1c6;*/
}
.st_helwithorders {
    font-size: 12px;
     padding-bottom: 5px !important;
}
#divMainTemplete {
    height: auto !important;
    width: 98%;
}
.manualreport, .newacc, .emergerev, .noticesec, .qualityc, .helpodr, .batchodr, .pendingsreport, .incompleterpt, .drugtesting{ height: 0;
    opacity: 0;}

.top-header .dropdown-toggle.ch-profile:focus {
    border: 1px solid #bababa;
    border-radius: 5px !important;
}
/*Error Message for Content Management page*/
.errormes .field-validation-error > span {
    float: left;
    text-align: center;
    width: 100%;
}

.custom-Package-header {
    background-color: #0078bd !important;
    color: #fff;
    font-family: segoeui !important;
    font-size: 14px !important;
    font-weight: bold;
    height: 27px;
    padding-left: 3px;
}
.align-package-label {
    padding-right: 10px;
    text-align: right;
}
/*Archive tab btn*/
.Center_ImgMVC ul li a {
    display: inline-block;
    font-size: 13px !important;
    height: 34px !important;
    line-height: 11px;
    margin:-1px 0 0 !important;
    padding: 11px 15px !important;
    position: relative;
    color:#0078bd !important;
    background:#fff !important;
}
.Center_ImgMVC ul li a label {
    margin-top: 0 !important;
}
/*.Center_ImgMVC ul:nth-child(4) {
    margin-top: 1px !important;
}*/

.GriddataFinal .GridHeader > th {
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 10px 0;
    text-align: center !important;
}

#gvOpenInvoice.GriddataFinal td {
    border: 1px solid #ccc;
    font-size: 13px;
    padding: 5px 0;
    text-align: center !important;
}
.left-ch-menu .dropdown-menu, .horiz-ch-menu ul.dropdown-menu  {
    padding-bottom: 0 !important;
    padding-top:0px !important;
}
.top-header .ch-modi.open .dropdown-menu {
    padding: 0 !important;
}

.mainclass_drop {
    width:220px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    background-color: #e9e9e9;
    height: 32px;
    padding: 5px 22px 2px 2px;
    color: #2e2e2e;
}
.mainclass_drop option {
    background-color: #fff;
}
.mainclass-button {
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    background-color: #e9e9e9;
    line-height: 1;
    padding: 8px 20px;
    font-weight: 600;
    color: #2e2e2e;
    font-size: 13px;
}
.mainclass_drop:hover {
    background-color: #a99f9a;
    border-color: #a99f9a;
}

.padding-td > td {
    padding: 11px 0;
    width: 21% !important;
    float: left;
}

#zenbox_container {
   top: 23% !important;
}
.Center_ImgMVC #tabsDemo1 > .current a, .Center_ImgMVC #tabsDemo2 > .current a {
    border: 1px solid #ccc;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    height: 32px !important;
}
.top-header .dropdown-menu.margin0 {
    padding: 0;
}
#NewAccounts .k-focusable tbody tr td:nth-child(9) img {
    height: 16px !important;
    padding: 0 10px;
}
#NewAccounts .k-focusable tbody tr td:nth-child(10) img {
    height: 25px !important;
    width: 100%;
}
.navbar-fixed-top .left-ch-menu {
    background: transparent none repeat scroll 0 0 !important;
}
@media screen and (min-width:0\0) {
   #UserImage{width:87px !important; margin-left:-11px;}
  .right-header-section{margin: -57px 10px 0px 0px !important}
               
}
 
