.DivSelectyze {
	position:relative;
	width:199px;
	float:left;
}

.DivSelectyze .selectyzeValue {
	position:relative;
	z-index:10;
	display:block;
	text-decoration:none;
 
}

.DivSelectyze ul {list-style:none;}
.DivSelectyze .UlSelectize {
	position:absolute;
	z-index:9999;
	display:none;
	margin:10px 0 0;
}

.DivSelectyze li a {
	display:block;
	text-decoration:none;
}

.optgroupTitle {
	display:block;
}



/*----------------------------------
 You can add your own theme below !!
 To add your theme, be sure to have 5 CSS elements :
 
 .your_theme .selectyzeValue {} 		-> Appearance of your select element
 .your_theme .UlSelectize {} 			-> Appearance of the dropdown list
 .your_theme li a {} 					-> Appearance of the items into the dropdown list
 .your_theme li a:hover {} 				-> items on hover
 .your_theme .optgroupTitle {} 			-> Appearance of the optgroup label !! only if you have <optgroup> element into your list 
----------------------------------*/

@font-face {
font-family: segoeui;
src: url('font/segoeui.ttf'),
url('font/segoeui.eot'); /* IE9 */
}
	.css3 .selectyzeValue {
		font:14px/22px ;
		font-family:segoeui;
		color:#575656;
		min-width:105px;
		height:33px;
		background:url('bg_css3.png') no-repeat right center #fff;
		padding: 0 5px 0 19px;
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border:1px solid #c1c1c1;
		border-right:none;
		line-height:31px;
		font-weight:normal;
	}

	.css3 .UlSelectize {
		top:25px;
		left:4px;
		min-width:170px;
		background-color:#fff;
		padding:0 5px 0 15px;
		min-height:50px;
		max-height:150px;
		border:1px solid #c1c1c1;
		border-top:none;
	}
.css3 li { display:block !important;}
	.css3 li a {
		font:12px/20px;
		font-family:segoeui;
		color:#575656;
		padding:0;
		margin:0;
		height:25px;
		font-weight:normal;
	}

	.css3 li a:hover {
		color:#0078bd;
		
	}
	 
	
/*******************************/
/** menu CSS END **/
/*******************************/


/*CHECKBOXES CSS STARTS FROM HERE */

input[type=checkbox].css-checkbox {
							position: absolute; 
							overflow: hidden; 
							clip: rect(0 0 0 0); 
							height:1px; 
							width:1px; 
							margin:-1px; 
							padding:0;
							border:0;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:20px;
							height:15px; 
							display:inline-block;
							line-height:15px;
							background-repeat:no-repeat;
							background-position: 0 0;
							 
							vertical-align:middle;
							cursor:pointer;
						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -15px;
						}
						
						  .css-label{ background-image:url(../img/checkOX.png); }