﻿@{
    ViewBag.Title = "Admin Alerts";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}

<style>
.k-grid .centeralign
{
    text-align: center;
}

</style>

    <div id="content-box">
        <div class="padding">
            <div id="toolbar-box">
                <div class="t">
                    <div class="rightTopRptHdrBorder">
                    </div>
                    <div class="leftTopRptHdrBorder">
                    </div>
                </div>
                <div class="m">
                    <div id="Div1" class="toolbar">
                    </div>
                    <div class="header icon-48-categories" style="padding: 0px 0px 0px 55px; width: 60%">
                        Alerts
                    </div>
                    <div class="clr">
                    </div>
                </div>
                <div class="b">
                    <div class="rightBottomRptHdrBorder">
                    </div>
                    <div class="leftBottomRptHdrBorder">
                    </div>
                </div>
            </div>
            <div class="clr">
            </div>
            <div id="element-box">
                <div class="t">
                    <div class="rightTopRptHdrBorder">
                    </div>
                    <div class="leftTopRptHdrBorder">
                    </div>
                </div>
                <div class="m" style="margin-bottom: 1px;">
                    <table width="100%">
                        <tr>
                            <td>
                                <div id="tAdminAlerts"></div>
                            </td>
                        </tr>
                    </table>
                    <div class="clr">
                    </div>
                </div>
                <div class="b">
                    <div class="rightBottomRptHdrBorder">
                    </div>
                    <div class="leftBottomRptHdrBorder">
                    </div>
                </div>
            </div>
            <div class="clr">
            </div>
        </div>
    </div>

   

<script type="text/javascript">


    $(document).ready(function () {
        $("#tAdminAlerts").kendoGrid({
            sortable: true,

            dataSource: {
                type: "json",
                serverPaging: true,
                serverSorting: true,
                pageSize: 15,
                transport: {
                    read: {
                        url: '@Url.Action("AlertsBinding", "Office")',
                        Type: "Post"

                    }

                },
                schema: { data: "Products", total: "TotalCount",
                    model: {
                        fields: {
                            CreatedDate: { type: "date" }
                        }
                    }
                }

            },
            height: 230,
            scrollable: {
                virtual: true
            },
            sortable: true,
            columns: [
               { field: "CompanyName", title: "Company Name", width: "25%" },
               { field: "LeadComments", title: "Alert", width: "50%" },
               { field: "CreatedDate", title: "Date", width: "25%", format: "{0:dd/MM/yy, hh:mm tt}" }

             ],
            editable: "inline",


            dataBound: function () {
                var gridHeaderRows = $("#tAdminAlerts tbody th");
                var gridRows = $("#tAdminAlerts tbody tr");
                var takeGrid = $("#tAdminAlerts").data("kendoGrid");
                var length = gridRows.length;



                for (i = 0; i < length; i++) {

                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var LeadComments = dataItem.LeadComments.split('##');
                    var StatusText = '';
                   
                    var LeadComments1 = LeadComments[1];
                    var LeadComments2 = LeadComments[2];

                  


                       if (LeadComments1 == "5") {
                          StatusText = "Account Active";
                         
                       }
                       else if (LeadComments1 == "12") {
                           StatusText =  "Quality Control Survey Completed";
                           
                       }
                       else if (LeadComments1 == "13") {
                           StatusText = "Demo Completed";
                          
                       }
                       else if (LeadComments1 == "6") {
                           StatusText = "Account Inactive";
                          
                       }
                       else if (LeadComments1 == "7") {
                           StatusText =  "Account Locked";
                          
                       }
                       else if (LeadComments1 == "8") {
                          StatusText =  "Account Past Due";
                          
                       }
                       else if (LeadComments1 == "9") {
                          StatusText = "Account In Collections";
                           
                       }
                       

                        row.cells[1].innerHTML = StatusText;
                        GridEffect("tAdminAlerts", dataItem)
                }
            }

        }).find("th").addClass("centeralign");


    });



</script>