﻿@{
    ViewBag.Title = "Sales Report";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}

<div id="content-box">
    <div id="padding" class="padding">
        <div id="toolbar-box">
            <div class="t" id="top">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
                <div style="padding: 0px 0px 0px 0px;">
                    @{Html.RenderAction("PartialSalesDropDownsData", "Common");}
                    <div>
                        <div style="float: left;">

                            &nbsp; 
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("../Common/PartialSalesReports")
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout('loadReport()', 2000);
        //loadOpenInvoices();
    });

    if ($("#hdPageFor").val() != null && $("#hdPageFor").val() != '') {
        if ($("#hdCompany").val() != '') {
            $("#ddlCompany").val($("#hdCompany").val());
            $("#ddlCompany").attr("disabled", true);
            $("#ddlSalesRep").attr("disabled", true);
            $("#ddlUsers").attr("disabled", true);
            $("#ddlCompanyReferenceNo").attr("disabled", true);
            $("#ddlLocation").attr("disabled", true);
        }
    }
</script>
