﻿@{
    ViewBag.Title = "Admin Search";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}
<style>
.plus_btn
        {
            background-image: url('../../content/themes/base/images/plus_symbol.png');
            background-repeat: no-repeat;
             background-position:right;
               width:50px !important;
             height:34px; 
        }
        
         .expand
    {
        }
        .colapse
        {
            }
</style>
<script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/KendoJS/kendo.web.js")" type="text/javascript"></script>

<div id="content-box">
    <div class="padding">
        <div class="clr">
        </div>
        <div id="element-box" style="margin-top: 10px; padding-top: 1px; margin-bottom: 1px;">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
                <div class="header1" style="padding: 0px 0px 0px 0px; margin-bottom: 1px; width: 60%">
                   <input type="hidden" value="2" id="flag2" />
                </div>
               @*  <div class="plus_btn" width="39px" height="34px" onclick="ExpandAndCollapse()"  ></div>*@
                 <input type="hidden" id="hdnCompleteDemo" value="@ViewBag.DemomContensofficeDiv"  />
                 <div class="header1" style="padding: 0px 0px 0px 0px; margin-bottom: 1px; width: 60%" onclick="ExpandAndCollapse()">Demos</div>
                <div id="DemomContensofficeDiv"  class="expand">
                
                @Html.Partial("PartialCompleteDemo")
                   @Html.Partial("PartialCalendar")</div>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="element-box" style="margin-top: 10px; padding-top: 2px;">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
               
               @* <div class="plus_btn" width="39px" height="34px" onclick="ExpandAndCollapseQuality()"  ></div>*@
                 <div class="header1" style="padding: 0px 0px 0px 0px; width: 60%" onclick="ExpandAndCollapseQuality()" >
                    Quality Control Survey <input type="hidden" id="hdnQualityContentoffice" value="@ViewBag.QualityContentsofficeDiv" />
                </div>
                <div id="QualityContentsofficeDiv" class="expand">
                
                @Html.Partial("PartialQualityControlOffice")</div>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div class="clr">
        </div>
    </div>
</div>
<script>
    
    function ExpandAndCollapse() {


        var flag = document.getElementById("DemomContensofficeDiv").className;
        var SectionId = "DemomContensofficeDiv";

        if (flag == "expand") {
            $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "true" }, function (NotificationResult) {
                $("#DemomContensofficeDiv").slideDown(200, "linear", "SaveSlideChages");
                $("#DemomContensofficeDiv").addClass("colapse").removeClass("expand");
            });


        }
        else if (flag == "colapse") {
            $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "false" }, function (NotificationResult) {
                $("#DemomContensofficeDiv").slideUp(200, "linear", "SaveSlideChages");
                $("#DemomContensofficeDiv").addClass("expand").removeClass("colapse");
            });

        }
        
    }


    function onpageload() {
        var flag = document.getElementById("hdnQualityContentoffice").value;

        if (flag == "expand") {
            $("#QualityContentofficeDiv").slideDown(200, "linear", "SaveSlideChages");
            $("#QualityContentofficeDiv").addClass("colapse").removeClass("expand");

        }
        else if (flag == "colapse") {

            $("#QualityContentofficeDiv").slideUp(200, "linear", "SaveSlideChages");
            $("#QualityContentofficeDiv").addClass("expand").removeClass("colapse");

        }

        var hdnCompleteDemo = document.getElementById("hdnCompleteDemo").value;
        //alert(hdnCompleteDemo);
        if (hdnCompleteDemo == "expand") {
            $("#DemomContensofficeDiv").slideDown(200, "linear", "SaveSlideChages");
            $("#DemomContensofficeDiv").addClass("colapse").removeClass("expand");

        }
        else if (hdnCompleteDemo == "colapse") {
        
            $("#DemomContensofficeDiv").slideUp(200, "linear", "SaveSlideChages");
            $("#DemomContensofficeDiv").addClass("expand").removeClass("colapse");

        }
    }
    onpageload();

   
    function ExpandAndCollapseQuality() {
        var flag = document.getElementById("QualityContentsofficeDiv").className;
        var SectionId = "QualityContentsofficeDiv";

        if (flag == "expand") {
            $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "true" }, function (NotificationResult) {
                $("#QualityContentsofficeDiv").slideDown(200, "linear", "SaveSlideChages");
                $("#QualityContentsofficeDiv").addClass("colapse").removeClass("expand");
            });


        }
        else if (flag == "colapse") {
            $.post('@Url.Action("SaveColapseStatus", "Control")', { SectionId: SectionId, Status: "false" }, function (NotificationResult) {
                $("#QualityContentsofficeDiv").slideUp(200, "linear", "SaveSlideChages");
                $("#QualityContentsofficeDiv").addClass("expand").removeClass("colapse");
            });

        }
    }

</script>