﻿
<script src="@Url.Content("~/Scripts/gen_validatorv4.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Admin Clients";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}

<style type="text/css">
    
     .st_inactive
    {
        background-color: #7c7b7b;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
       
    }
    .st_active
    {
        background-color: #059a02;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_locked
    {
        background-color: #ff6600;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_pastdue
    {
        background-color: #990099;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_incollections
    {
        background-color: #000000;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    
    .chk-head-style
    {
    }
    .chk-style
    {
    }
    .k-grid .centeralign
    {
        text-align: center;
    }
     .ReportLeft
    {
        z-index: 2000;
        top: -26.5em;
        width: auto;
        border-top: 1px solid #94c0d2;
        border-left: 1px solid #94c0d2;
        border-right: 1px solid #94c0d2;
        border-bottom: 1px solid #94c0d2;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
       margin-left: -100px;
      
           
    }
    .displaycls{ display:none!important;}
</style>

<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "EMEdit.js")" type="text/javascript"></script>
<script type="text/javascript" src="../../Scripts/KendoJS/kendo.datepicker.min.js"></script>
<script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/KendoJS/kendo.chart.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/iphone-style-checkboxes.js")" type="text/javascript"></script>


 <script type="text/javascript" src="https://www.google.com/jsapi"></script>

<div id="content-box" >
 
    @*@using (Ajax.BeginForm("SaveSettings", "Control", new AjaxOptions { OnSuccess = "GetAddUpdateResult" }))*@
    <div class="padding" >
        <div id="toolbar-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                     <div id="popupCall">
            
            </div>
                    </div>
                </div>
            </div>
            <div class="m">
                <div class="toolbar" id="toolbar">
                    <table class="toolbar">
                        <tr>
                            <td>
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="header icon-48-categories" style="padding: 0px 0px 0px 55px; width: 60%">
                   Clients
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
               
                
                <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation" >
                <tr style="width:100%">
                <td>
                Showing <span align="center" style="font-size: 16px; width: 60px; font-weight: bold;
                                                    color: #0b55c4;">
                                                    <label id="lblTotalRecords">
                                                      
                                                    </label>
                                                </span>records
                      </td>
                                                <td align="left">

                </td>
                </tr>
                    <tr>
                        <td>
                            
                            <div id="AdminClientsGrid">
                            </div>
                        </td>
                    </tr>
                </table>
           
               
               
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
</div>

<script type="text/javascript">


    //Start tool tip for graph
    var offsetx = 10; var offsety = 20; var counter = 0; function newelement(newid) {
        if (document.createElement) {
            var el = document.createElement('div'); el.id = newid; with (el.style) { display = 'none'; position = 'absolute'; }
            el.innerHTML = '&nbsp;'; document.body.appendChild(el);
        }
    }
    var ie5 = (document.getElementById && document.all); var ns6 = (document.getElementById && !document.all); var ua = navigator.userAgent.toLowerCase(); var isapple = (ua.indexOf('applewebkit') != -1 ? 1 : 0); function getmouseposition1(e) { if (document.getElementById) { var iebody = (document.compatMode && document.compatMode != 'BackCompat') ? document.documentElement : document.body; pagex = (isapple == 1 ? 0 : (ie5) ? iebody.scrollLeft : window.pageXOffset); pagey = (isapple == 1 ? 0 : (ie5) ? iebody.scrollTop : window.pageYOffset); if (window.pageYOffset != 0 && pagey == 0) { pagey = window.pageYOffset; } mousex = (ie5) ? event.x : (ns6) ? clientX = e.clientX : false; mousey = (ie5) ? event.clientY : (ns6) ? clientY = e.clientY : false; var lixlpixel_tooltip = document.getElementById('tooltip'); lixlpixel_tooltip.style.left = (mousex + pagex + offsetx1) + 'px'; lixlpixel_tooltip.style.top = (mousey + pagey + offsety) + 'px'; } }
    var ie5 = (document.getElementById && document.all); var ns6 = (document.getElementById && !document.all); var ua = navigator.userAgent.toLowerCase(); var isapple = (ua.indexOf('applewebkit') != -1 ? 1 : 0); function getmouseposition(e) { if (document.getElementById) { var iebody = (document.compatMode && document.compatMode != 'BackCompat') ? document.documentElement : document.body; pagex = (isapple == 1 ? 0 : (ie5) ? iebody.scrollLeft : window.pageXOffset); pagey = (isapple == 1 ? 0 : (ie5) ? iebody.scrollTop : window.pageYOffset); if (window.pageYOffset != 0 && pagey == 0) { pagey = window.pageYOffset; } mousex = (ie5) ? event.x : (ns6) ? clientX = e.clientX : false; mousey = (ie5) ? event.clientY : (ns6) ? clientY = e.clientY : false; var lixlpixel_tooltip = document.getElementById('tooltip'); lixlpixel_tooltip.style.left = (mousex + pagex + offsetx) + 'px'; lixlpixel_tooltip.style.top = (mousey + pagey + offsety) + 'px'; lixlpixel_tooltip.style.marginleft = '-450px'; } }
    function poptooltip(tip, poptitle) { var title = (poptitle == '' || poptitle == null) ? 'Sale Chart' : poptitle; if (!document.getElementById('tooltip')) newelement('tooltip'); var lixlpixel_tooltip = document.getElementById('tooltip'); var tableStru = "<table id='Table2' cellpadding='0' style='border:1px solid #0b55c4;' cellspacing='0' width='250px'>"; tableStru += "<tr>"; tableStru += "<td align='left' style='height:20px;width:10px;' class='HelpHeader'>"; tableStru += title + "</td>"; tableStru += "</tr>"; tableStru += "<tr>"; tableStru += "<td style='height:20px;' class='HelpNormal' align='left' ><p>"; tableStru += tip.toString().replace(/#1#/g, '&#39;'); tableStru += "</p></td></tr>"; tableStru += "</td></tr></table>"; lixlpixel_tooltip.innerHTML = tableStru; lixlpixel_tooltip.style.display = 'block'; lixlpixel_tooltip.style.zIndex = 100002; document.onmousemove = getmouseposition1; }
    function exit() {
        $("div[id=tooltip]").addClass("displaycls");
        try {

            if (document.getElementById('tooltip') != null) {
                document.getElementById('tooltip').style.display = 'none';
            }
        } catch (e) {

        }
    }


    //end tool tip for graph

    function GetGraph(PkCompanyId) {
        $("div[id=tooltip]").removeClass("displaycls");
        poptooltip('<img alt="loader" src=@Url.Content("~/Content/themes/base/images/smallloader.gif")  />')

        $.post('@Url.Action("LoadGraph", "Office")', { pkCompanyId: PkCompanyId }, function (data) {

            poptooltip('<img id="ImageGraph1" src="' + data.imgBigImage + '"  class="ReportLeft" onmouseout="exit();" />');



            //for ND-26 show volume and sales on hover
            var gridRows = $("#AdminClientsGrid tbody tr");
            for (var r = 0, n = gridRows.length; r < n; r++) {
                for (var c = 0, m = gridRows[r].cells.length; c < m; c++) {
                    if (c == 11) {
                        var cid = gridRows[r].cells[c].getElementsByTagName("input")[0].value;
                        if (cid == PkCompanyId) {


                            gridRows[r].cells[9].innerHTML = data.lblsales1;
                            gridRows[r].cells[10].innerHTML = data.lblvolum1;
                        }
                    }
                }
            }
            //--------------ND-26-------------------




        });


    }


    //    function OpenCallLog(CompanyId) {
    //   

    //    $("#popupCall").load("../Common/LoadCallLog", { PageType: "1", pkCompanyId: CompanyId }, function () {

    //        $("#ddlCLCompany").val(CompanyId);
    //            OpenWindow_CallLog();
    //        });




    //        $.post('Url.Action("setProfileCallLogCompany", "Common")', { CallLogCompanyId: CompanyId }, function (data) {
    //            if (data != null) {
    //            
    //                $("#divLog").load("../Common/LoadCallLog", { PageType: "", pkCompanyId: CompanyId }, function () {
    //                });
    //            }
    //        });

    //   }

    function OpenCallLog(CompanyId) {
        var window = $("#CallLog").kendoWindow({}).data("kendoWindow");
        if (typeof window != 'undefined') {
            window.close();
            window.element.remove();
            window.destroy();
        }
        var Pagetype = "Clients_1";
        $.post('@Url.Action("setProfileCallLogCompany", "Common")', { CallLogCompanyId: CompanyId }, function (data) {
            if (data != null) {
                $("#divLog").load("../Common/LoadCallLog", { PageType: Pagetype, pkCompanyId: CompanyId }, function () {
                });
            }
        });

    }


    function changeGridPageSize(val) {
        var ds = $("#AdminClientsGrid").data("kendoGrid").dataSource;
        var newPageSize = parseInt(val);
        ds.pageSize(newPageSize);
    }


    function EditClient(Id) {
        window.location.href = 'EditClient?Id=' + Id

    }

    var selectList = '<span style="width:500px;text-align:right;float:right;">    Page Size: <select onchange="changeGridPageSize(this.value);" style="width:50px;" id="mySelect"><option>25</option><option>50</option><option>100</option></select></span>';

    $("#AdminClientsGrid").kendoGrid({

        filterable: true,
        pageable: true,
        scrollable: false,
        navigatable: true,
        sortable: true,
        columns: [
           { field: "CompanyAccountNumber", title: "<div class='centeralign'>Account # </div>", width: 10, filterable: false },
        // { field: "CompanyName", title: " <div class='centeralign'>Company Name</div>", width: 20,filterable: { extra: false,  operators: { string: { contains: "Contains",startswith: "Starts with",endswith: "Ends with" }} } },                                                                            //<input type="checkbox" id="#=pkCompanyUserId#" class="chkunchk" "checked=checked" : "" />  <input id="#=pkCompanyUserId#" class="chkunchk" type="checkbox" />
            {field: "CompanyName", title: " <div class='centeralign'>Company Name</div>", width: "11%", filterable: { extra: false, operators: { string: { contains: "Contains", startswith: "Starts with", endswith: "Ends with"}}} },                                                                            //<input type="checkbox" id="#=pkCompanyUserId#" class="chkunchk" "checked=checked" : "" />  <input id="#=pkCompanyUserId#" class="chkunchk" type="checkbox" />
            {field: "City", title: "<div class='centeralign'>City</div>", width: 30, filterable: false },
            { field: "StateCode", title: " <div class='centeralign'>State</div>", width: 30, filterable: false },
            { field: "MainContactPersonName", title: " <div class='centeralign'>Main Contact</div>", width: 30, filterable: { extra: false, operators: { string: { contains: "Contains", startswith: "Starts with", endswith: "Ends with"}}} },
           { field: "PhoneNo1", title: " <div class='centeralign'>Phone No</div>", width: 50, sortable: false, filterable: false },
            { field: "MainEmailId", title: " <div class='centeralign'>Email</div>", width: 20, filterable: { extra: false, operators: { string: { contains: "Contains", startswith: "Starts with", endswith: "Ends with"}}} },
             { field: "CompanyType", title: " <div class='centeralign'>Company Type</div>", width: 30, filterable: false },
            { field: "SalesManagerName", title: " <div class='centeralign'>Acccount Manager</div>", width: 30, filterable: false },
        { field: "CurrentSale", title: " <div class='centeralign'>Sales</div>", width: 50, format: "{0:c}", filterable: false }, // previous code and update for ND-26 
        //      {field: "TotalSale", title: " <div class='centeralign'>Sales</div>", width: 50, format: "{0:c}", filterable: false },
        {field: "CurrentVolume", title: " <div class='centeralign'>Volume</div>", width: 50, filterable: false }, //Previous code and update for ND-26
        //    {field: "TotalVolume", title: " <div class='centeralign'>Volume</div>", width: 50, filterable: false },
              {field: "pkCompanyId", title: "<div class='centeralign'>Snap Shot </div>", width: 50, filterable: false, sortable: false, template: '<input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/chart_line.png")" style="width:20px;height:20px" value=#=pkCompanyId# onmouseover="GetGraph(this.value);" onmouseout="exit();" />' },
                { field: "LeadStatusText", title: "<div class='centeralign'>Account Status</div>", width: 25, filterable: false },
                    { field: "pkCompanyId", title: " <div class='centeralign'>Action</div> ", width: 30, filterable: false, sortable: false, template: "<input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/edit.png")' + " id=\"image1\" Title='Edit' value=\"#=pkLocationId#\" style=\"width:15; height:18px\" onclick=\"EditClient(this.value)\" /> <input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/call-log-icon.png")' + " value=\"#=pkCompanyId#\" onmouseover=\"CallLogRollOver('Call Log','#=pkCompanyId#');\" onmouseout=\"exit();\" style=\"width:15px; height:18px\" Title='CallLogo' onclick=\"OpenCallLog(this.value)\" />" }
           ],
        editable: false,

        dataBound: function () {
            var takeTotal = this.dataSource.total();
            $("#lblTotalRecords").html(takeTotal);

            //  document.getElementById("kendoGrid").style.visibility = "visible";
            //document.getElementById("norecord").style.display = 'none';
            var gridRows = $("#AdminClientsGrid tbody tr");
            var takeGrid = $("#AdminClientsGrid").data("kendoGrid");
            var length = gridRows.length;

            for (i = 0; i < length; i++) {

                var dataItem = takeGrid.dataItem(gridRows[i]);
                var row = gridRows[i];
                var Status = dataItem.LeadStatusText
                var pkcompanyid = dataItem.pkCompanyId;
                // row.cells[10].style.color = 'black';
                //                row.cells[10].style.border = 'solid 1px #94c0d2';


                if (Status == 'InActive') {
                    // row.cells[12].innerHTML = '<img src= "@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")"  Title="Account InActive"/>'
                    row.cells[12].innerHTML = '<span class="st_inactive" > IN ACTIVE </span>';
                }
                else if (Status == "Active") {

                    // alert("active");
                    row.cells[12].innerHTML = '<span class="st_active" > ACTIVE </span>'
                }
                else if (Status == "Locked") {


                    row.cells[12].innerHTML = '<span class="st_locked" > LOCKED </span>'
                }
                else if (Status == "InCollections") {
                    row.cells[12].innerHTML = '<span class="st_incollections" > INCOLLECTION </span>'
                }
                else if (Status == "PastDue") {
                    row.cells[12].innerHTML = '<span class="st_pastdue" > PAST DUE </span>'
                }
                else {
                    row.cells[12].style.background = '#969DD5';
                }
                GridEffect("AdminClientsGrid", dataItem)


            }
        },

        // specify toolbar commands
        dataSource: {
            page: 1,
            pageSize: 25,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,

            schema: {
                data: "Reclist",
                total: "TotalRec"
            },

            batch: true,
            transport: {

                read: {
                    url: '@Url.Action("GetAdminClients", "Office")',
                    // data: { pkid: id, stats: Status },
                    type: "POST"
                },

                parameterMap: function (options) {
                    var data = options;
                    if (options.filter) {
                        var filters = options.filter.filters;
                        for (var i = 0; i < filters.length; i++) {
                            data["filters[" + i + "].Field"] = filters[i].field;
                            data["filters[" + i + "].Operator"] = filters[i].operator;
                            data["filters[" + i + "].Value"] = filters[i].value;
                        }
                    }
                    if (options.sort) {
                        for (var i = 0; i < options.sort.length; i++) {
                            data["sort[" + i + "].Field"] = options.sort[i].field;
                            data["sort[" + i + "].Dir"] = options.sort[i].dir;
                        }
                    }
                    return data;
                }

            }

        }

    });

    $(".k-grid-pager").append(selectList);
</script>