﻿@model Emerge.Models.ClientsModel
@{
    ViewBag.Title = "Client Billing";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}
<link href="~/Content/style.css" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/iphone-style-checkboxes.js")" type="text/javascript"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<style>

.documents{
height: auto;

 width:100%;
  overflow: hidden;

}
   
   
   .simpleTooltip3
    {
       font-family:inherit;
        font-size:13px;
        }

div.header1 { 
    cursor:default; 
}

   
   
   
    .RoundBorder
    {
        border: 1px solid #94c0d2;
        border-radius: 5px;
        padding: 2px;
    }
    .alt_column
    {
        background-color: #d5dbd8;
    }
    

     .jquery-ratings-star 
 {
      font-size: 0pt;
 width: 13px;
  height: 12px;
  background-image: url('@Url.Content("~/Content/themes/base/images/EmptyStar.png")');
 margin: 0px;
  padding: 0px;
     cursor: pointer;
        display: block;
        background-repeat: no-repeat;
  float: left;
 
}

.jquery-ratings-full {
  background-image: url('@Url.Content("~/Content/themes/base/images/FilledStar.png")');
}
    
  
 .tool_tip_1
    {
       
        background-color: #f5f6fa;
        position: absolute;
        z-index: 1000000;
        max-width: 300px;
        -webkit-box-shadow: 0 0 5px #aaa;
        font-size: 12px;
        border-radius: 3px;
        border: 1px solid #767676;
        padding: 4px;
        font-color: #575757;
        font: Arial;
        box-shadow: 0 0 5px #aaa;
    }
  
    .ratings_over {  
       background-image: url('@Url.Content("~/Content/themes/base/images/SavedStar.png")');  
      
    }  
</style>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td width="20%" valign="top">
            <div style="width: 100%; height: 100%; overflow: hidden;">
                <div id="content-box1">
                    <div class="padding1">
                        <div id="toolbar-box">
                            <div class="t">
                                <div class="t">
                                    <div class="t">
                                    </div>
                                </div>
                            </div>
                            <div class="m">
                                <div class="header1" style="padding: 10px 0px 0px 0px;">
                                    <img src="@Url.Content("~/Content/themes/base/images/call-log-icon.png")" alt="" style="border: none; height: 20px; width: 18px;" />
                                    Call Log
                                </div>
                                <div class="" id="Div3">
                                    <table width="100%">
                                        <tr>
                                            <td width="95%">
                                                <textarea id="TxtCallLog" style="height: 60px; width: 98%;" cols="20" rows="2" name="TxtCallLog"></textarea>
                                                <br />
                                                <input type="button" value="Submit" onclick="SaveCallLog()" /><label style="color: Red;"
                                                    id="validation">
                                                </label>
                                                <div style="float: left;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td align="center">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid #cdcdcd;">
                                                <table class="BlackHeader" width="100%">
                                                    <tr>
                                                        <td align="left" width="100%">
                                                            &nbsp; &nbsp;Date <span style="margin-left: 72px">Rep</span>
                                                        </td>
                                                    </tr>
                                                    <table width="100%" style="border: 0px solid #ffffff; background-color: #ffffff;
                                                        padding: 0 0 0 10px;">
                                                        @if (Model.CollGetCommentsForLeadResult != null)
                                                        {
                                                            for (int i = 0; i < Model.CollGetCommentsForLeadResult.Count; i++)
                                                            {
                                                                string Date = Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate.Date.ToString("dd/MM/yyyy").Replace(" ", "");
                                                                string Time = Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate.Date.ToString("hh:MM tt");
                                                                string Space = " ";
                                                                string Date_disp = Date + Space + Time;
                                                            <tr style="background-color: #f5f5f5">
                                                                <td width="60%" height="20px;" align="left">
                                                                    <div style="width: 100%; height: 100%; overflow: hidden;">
                                                                        <label style="margin-right: 7px">
                                                                            @Date_disp
                                                                        </label>
                                                                        <label>
                                                                            @Model.CollGetCommentsForLeadResult.ElementAt(i).FirstName.Substring(0, 1).ToUpper()@Model.CollGetCommentsForLeadResult.ElementAt(i).LastName.Substring(0, 1).ToUpper()</label>
                                                                    </div>
                                                                </td>
                                                                <td width="40%" height="20px;" align="left">
                                                                    <div style="width: 100%; height: 100%; overflow: hidden;">
                                                                        @{int a;
                                                                          if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#').Count() < 2) { a = 0; } else { a = 1; }

                                                                          switch (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[a])
                                                                          {
                                                                              case "1":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-1-on.png")" class="simple_Tooltip1" title="File Started" alt="File Started" style="height:30px;" />
                                                                                 break;
                                                                              case "2":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-2-on.png")" class="simple_Tooltip1" title="Proposal Out" alt="Proposal Out" style="height:30px;" />
                                                                                 break;
                                                                              case "3":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-3-on.png")" class="simple_Tooltip1" title="Agreement Out" alt="Agreement Out" style="height:30px;"/>
                                                                                 break;
                                                                              case "4":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-4-on.png")" class="simple_Tooltip1" title="Agreement In" alt="Agreement In" style="height:30px;"/>
                                                                                 break;
                                                                              case "5":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-5-on.png")" class="simple_Tooltip1" title="Activated" alt="Activated" style="height:30px;"/>
                                                                                 break;
                                                                              case "10":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/demo_scheduled.png")" class="simple_Tooltip1" title="Demo Scheduled[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].AsDateTime().Date.ToString("dd/MM/yyyy hh:MM tt"),@Model.CompanyName,@Model.MainPhone]" alt=""  onclick="ShowDemoSchedule()" style="height:30px;"/>
                                                                            <input type="hidden" id="hdnDemosendid"  value="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" />                                                                         break;

                                                                              case "11":
               
                                                                            <img src="@Url.Content("~/Content/themes/base/images/document_sent.png")" class="simple_Tooltip1" onclick="DocumentSentf(this.id)" id="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" title="Document Sent[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].Remove(0, 2)]" alt="" style="height:30px;"/>
                                                                                                                                                                                                                                                                                                                                   break;


                                                                              case "12":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/QualityControlSurvey.png")" class="simple_Tooltip1" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2]" alt="Quality Control Survey" style="height:30px;"/>
                                                                                                                                                                                       break;
                                                                              case "13":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/Demo_Completed.png")" class="simple_Tooltip1" title="Demo Completed" alt="Demo Completed" style="height:30px;"/>
                                                                                 break;

                                                                              case "6":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")" class="simple_Tooltip1" title="Account Inactive" alt="Account Inactive" style="height:30px;"/>
                                                                                 break;
                                                                              case "7":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-on.png")" class="simple_Tooltip1" title="Locked" alt="Locked" style="height:30px;" />
                                                                                 break;
                                                                              case "8":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-on.png")" class="simple_Tooltip1" title="Past Due" alt="Past Due" style="height:30px;"/>
                                                                                 break;

                                                                              case "9":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-on.png")" class="simple_Tooltip1" title="In Collections" alt="In Collections" style="height:30px;"/>
                                                                                 break;
                                                                              default:



                                                                                 break;
                                                                          }
                                                                        }
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr style="background-color: #e0eef5; min-height: 60px;">
                                                                <td colspan="2" align="left" style="">
                                                                    @if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments != null)
                                                                    {

                                                                        string[] stringSeparators = new string[] { "##" };
                                                                        if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Contains("##"))
                                                                        {



                                                                        }
                                                                        else
                                                                        {
                                                                        <div style="padding: 5px">
                                                                            <label class="simpleTooltip3" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")">@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")</label></div>
                                                                        }

                                                                    }
                                                                </td>
                                                            </tr>
                                                            }
                                                        }
                                                    </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="clr">
                                </div>
                            </div>
                            <div class="b">
                                <div class="rightBottomRptHdrBorder">
                                </div>
                                <div class="leftBottomRptHdrBorder">
                                </div>
                            </div>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>
        </td>
        <td width="80%" valign="top">
            <div style="width: 100%; height: 100%; overflow: hidden;">
                <div id="content-box">
                    <div class="padding">
                        <div id="toolbar-box">
                            <div class="t">
                                <div class="t">
                                    <div class="t">
                                    </div>
                                </div>
                            </div>
                            <div class="m" style="height: 70px; margin-bottom: 1px;">
                                <div id="toolbar" class="toolbar">
                                    <div id="updSave">
                                        <table class="toolbar">
                                            <tr>
                                                <td>
                                                    <table id="tbl1" cellspacing="2" cellpadding="5" border="0" style="padding: 5px 0;
                                                        height: 20px; color: White; font-size: 13px; font-weight: bold;">
                                                        <tr>
                                                            <td style="border: 0px solid Gray;">
                                                                @if (ViewBag.IsActive == 1)
                                                                { 
                                                                    <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-5-on.png")" title="Active" style="border-width: 0px; height:26px;" />
                                            
                                                                }
                                                                else if (ViewBag.IsActive == 2)
                                                                { 
                                                                    <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")" title="Account Inactive" style="border-width: 0px; height:26px;" />
                                            
                                                                }
                                                                else
                                                                { 
                                                                    <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-off.png")" title="Account Inactive" style="border-width: 0px; height:26px;" />
                                            
                                                                }
                                                            </td>
                                                            <td style="border: 0px solid Gray;">
                                                                @if (ViewBag.IsEnabled == false)
                                                                {  <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-on.png")"  id="Locked" title="Locked" style="border-width: 0px; height:26px;"/>       }
                                                                else
                                                                { <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-off.png")"  id="Locked" title="Locked" style="border-width: 0px; height:26px;" /> }
                                                            </td>
                                                            <td style="border: 0px solid Gray;">
                                                                @if (ViewBag.Status == 8)
                                                                {  <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-on.png")" id="Past" title="Past Due" style="border-width: 0px; height:26px;"  /> }
                                                                else
                                                                { <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-off.png")" id="Past" title="Past Due" style="border-width: 0px; height:26px;"  />  }
                                                            </td>
                                                            <td style="border: 0px solid Gray;">
                                                                @if (ViewBag.Status == 9)
                                                                {  <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-on.png")" id="Collection" title="In Collections" style="border-width: 0px; height:26px;"  /> }
                                                                else
                                                                {  <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-off.png")" id="Collection" title="In Collections" style="border-width: 0px; height:26px;"  /> }
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/cancel_button.png")" class="imgbtnClasspnl" title="Cancel" style="height:45px;width:41px;" onclick=goto() />
                                                    <input type="hidden" id="bck" value="@ViewBag.bck" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="header icon-48-categories" style="padding: 5px 0px 0px 55px; width: 45%;">
                                    @if (ViewData["PkCompanyId"] != null)
                                    {
                                        <div>
                                            @Model.CompanyName&#32;&#91;@Model.CityName&#44;@ViewBag.State_Code&#93;</div>
                                    }
                                    else
                                    { 
                                        <div>
                                            Company</div>
                               
                                    }
                                </div>
                            </div>
                            <div class="b">
                                <div class="rightBottomRptHdrBorder">
                                </div>
                                <div class="leftBottomRptHdrBorder">
                                </div>
                            </div>
                        </div>
                        <div class="clr">
                        </div>
                        <div style="text-align: center">
                            <div id="updLabel">
                            </div>
                        </div>
                        <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                            <div class="t">
                                <div class="t">
                                    <div class="t">
                                    </div>
                                </div>
                            </div>
                            <div class="m">
                            </div>
                            <div class="m">
                             <div style="padding: 0px 0px 10px 0px; width: 100%; height: 17px;
                                                                padding-top: 3px;" class="Center_ImgMVC">
                                <ul id="tabslocation">
                                    <li id="liCompanyInfo"><a id="lnkCompanyInfo" href="EditClient?Id=@ViewBag.LocationId" title="Company Info">
                                        Company Info<span id="spanET"></span></a> </li>
                                    <li id="liBilling" class="current"><a id="lnkBilling" href="ClientBillingStatus?Id=@ViewBag.LocationId" title="Billing">
                                        Billing<span id="spanST"></span></a></li>
                                    <li id="liDataSources" ><a id="lnkDataSources" href="ClientDataSourceInfo?Id=@ViewBag.LocationId" title="Data Sources">
                                        Data Sources <span id="spanMT"></span></a></li>
                                </ul>
                                </div>
                                <br />
                               <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                                   Sales Snapshot
                                </div>
                               <div id="DivSalesSnapshot" class="expand">   
                                                 <table width="96%">
                                                    <tr style="display: none;">
                                                    </tr>
                                                    <tr>
                                                        <td align="center" colspan="2">
                                                            <table cellpadding="0" cellspacing="0" width="100%">
                                                                <tr>
                                                                    <td align="left">
                                                                        <table border="0" style="padding-right: 5px;" cellpadding="0" cellspacing="5">
                                                                            <tr>
                                                                                <td align="left">
                                                                                    <b>Mode :</b>
                                                                                </td>
                                                                                <td align="left">
                                                                                    <table>
                                                                                        <tr class="on_off" onclick="ChangeGraphImage();">
                                                                                            <td>
                                                                                                <input type="checkbox" id="on_off" />
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <div id="divSales" style="display: block; text-align: center;">
                                                                            <div>
                                                                                @Html.Raw(ViewBag.ChartImg)
                                                                            </div>
                                                                            <div id="Saleschart_div" style="clear: both;">
                                                                            </div>
                                                                        </div>
                                                                        <div id="divVolume" style="display: none; text-align: center;">
                                                                            <div>
                                                                                @Html.Raw(ViewData["VolumeChartImg"].ToString())
                                                                            </div>
                                                                            <div id="Volumechart_div">
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        &nbsp;
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span id="lblSalesTotal" style="color: black; display: block; font-weight: bold;"
                                                                            runat="server">@Html.Raw(ViewBag.SalesTotal)</span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <span id="lblVolumeTotal" style="color: black; display: none; font-weight: bold;"
                                                                            runat="server">@Html.Raw(ViewBag.VolumeSalesTotal)</span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>


                                <div class="clr">
                                </div>
                            </div>
                            <div class="b">
                                <div class="b">
                                    <div class="b">
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                      <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                                        <div class="t">
                                            <div class="t">
                                                <div class="t">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m">
         
                                        </div>
                                        <div class="m">
                                            <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%"  >
                                                    Open Invoices
                                            </div>
                                                <div id="DivOpenInvoices" class="expand">   
                                                 <div>
                                                    <div style="width: 100%;height: 100%;" id="dvOpenInvoices">
                                                    @{Html.RenderAction("GetOpenInvoice", "Control", new { CompanyId = ViewBag.CompanyId });}
                                                 </div>
                                                </div>
                                            </div>
                                            <div class="clr">
                                            </div>
                                        </div>
                                        <div class="b">
                                            <div class="b">
                                                <div class="b">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                     <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                                        <div class="t">
                                            <div class="t">
                                                <div class="t">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m">
         
                                        </div>
                                        <div class="m">
                                            <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%"  >
                                                    Billing Information
                                            </div>
                                                <div id="DivBillingInformation" class="expand">   
                                                  <table width="96%">
                                                <tr style="display: none;">
                                                    <td class="alt_column" width="170px">
                                                    </td>
                                                    <td align="left">
                                                        <input id="ctl00_ContentPlaceHolder1_ckbisEnable" type="checkbox" checked="checked"
                                                            name="ctl00$ContentPlaceHolder1$ckbisEnable">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="alt_column">
                                                        <span class="RequiredFieldsIndicator">*</span> Billing Contact :
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.BillingContact, new { @id = "BillingContact", @name = "BillingContact", @class = "k-textbox" })
                                                        @Html.ValidationMessageFor(cn => cn.BillingContact)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="alt_column" width="170px">
                                                        <span class="RequiredFieldsIndicator">*</span> Billing Email :
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.BillingEmail, new { @id = "BillingEmail", @name = "BillingEmail", @class = "k-textbox" })
                                                        @Html.ValidationMessageFor(cn => cn.BillingEmail)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="alt_column" width="170px">
                                                        <span class="RequiredFieldsIndicator">*</span> Billing Phone :
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.BillingPhone, new { @id = "BillingPhone", @name = "BillingPhone", @class = "k-textbox" })
                                                        @Html.ValidationMessageFor(cn => cn.BillingPhone)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="alt_column" width="170px">
                                                        <span class="RequiredFieldsIndicator"></span>Billing Fax :
                                                    </td>
                                                    <td align="left">
                                                        @Html.TextBoxFor(m => m.FaxNumber2, new { @id = "FaxNumber2", @name = "FaxNumber2", @class = "k-textbox" })
                                                        @Html.ValidationMessageFor(cn => cn.FaxNumber2)
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="alt_column">
                                                        <span class="RequiredFieldsIndicator">*</span> Payment Term :
                                                    </td>
                                                    <td align="left">
                                                        @{
                                                            List<SelectListItem> list7 = new List<SelectListItem>();
                                                            list7.Add(new SelectListItem { Value = "0", Text = "Due on Receipt" });
                                                            list7.Add(new SelectListItem { Value = "15", Text = "net10" });
                                                            list7.Add(new SelectListItem { Value = "30", Text = "net30" });
                                                            list7.Add(new SelectListItem { Value = "45", Text = "net45" });
                                                            list7.Add(new SelectListItem { Value = "60", Text = "net60" });
                                                                                                                    
                                                                                                             
                                                            @Html.DropDownListFor(x => x.Priority2, list7, new { style = "width:227px" });
                                                        }
                                                        @Html.ValidationMessageFor(cn => cn.Priority2)
                                                        @Html.HiddenFor(m => m.Priority2, new { id = "hdnaccountmanagerId" })
                                                        @Html.HiddenFor(m => m.Priority02, new { id = "hdnfullname" })
                                                    </td>
                                                </tr>
                                            </table>
                                            </div>
                                            <div class="clr">
                                            </div>
                                        </div>
                                        <div class="b">
                                            <div class="b">
                                                <div class="b">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                       <div class="clr">
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>
        </td>
    </tr>
</table>
<script>

    $(document).ready(function () {
        document.getElementById("tdAdmin").style.display = 'none';
    });
    function ChangeGraphImage() {
        if ($('#on_off').is(':checked')) {
            document.getElementById("divSales").style.display = 'block';
            document.getElementById("divVolume").style.display = 'none';
            document.getElementById("lblSalesTotal").style.display = 'block';
            document.getElementById("lblVolumeTotal").style.display = 'none';
        }
        else {
            document.getElementById("divSales").style.display = 'none';
            document.getElementById("divVolume").style.display = 'block';
            document.getElementById("lblSalesTotal").style.display = 'none';
            document.getElementById("lblVolumeTotal").style.display = 'block';
        }

    }

    Pageload();
    function Pageload() {

        $('.on_off :checkbox').prop("checked", "checked");
        $('.on_off :checkbox').iphoneStyle({ checkedLabel: 'SALES', uncheckedLabel: 'VOLUME' });


    } $("#Priority2").kendoDropDownList({});


    var ready_State_CheckInterval = setInterval(function () {
        if ($(".simple_Tooltip1").is(':visible')) {
            clearInterval(ready_State_CheckInterval);
            var body = document.getElementsByTagName('body')[0];
            $('.simple_Tooltip1').hover(function () {
                $('.simple_Tooltip1').click();
                var title = $(this).attr('title');
                $(this).data('tipText', title).removeAttr('title');
                $(this).attr('title', '');
                $('<p class="tool_tip_1"></p>')
               .text(title)
              .appendTo(body)
              .fadeIn('slow');

            }, function () {
                $(this).attr('title', $(this).data('tipText'));
                $(".tool_tip_1").each(function () {
                    $(this).remove();
                });
                $('.simple_Tooltip1').click();

            }).mousemove(function (e) {
                $('.simple_Tooltip1').click();
                var mousex = e.pageX + 10;
                var mousey = e.pageY + 10;
                $('.tool_tip_1')
        .css({ top: mousey, left: mousex })
            });


        }

    }, 200);
 

</script>
