﻿
@model Emerge.Models.ClientsModel
@{
    ViewBag.Title = "Client Data Source";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}
<link href="~/Content/style.css" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/iphone-style-checkboxes.js")" type="text/javascript"></script>
<style>

.documents{
height: auto;

 width:100%;
  overflow: hidden;

}
   
   
   .simpleTooltip3
    {
       font-family:inherit;
        font-size:13px;
        }

div.header1 { 
    cursor:default; 
}

   
   
   
    .RoundBorder
    {
        border: 1px solid #94c0d2;
        border-radius: 5px;
        padding: 2px;
    }
    .alt_column
    {
        background-color: #d5dbd8;
    }
    

     .jquery-ratings-star 
 {
      font-size: 0pt;
 width: 13px;
  height: 12px;
  background-image: url('@Url.Content("~/Content/themes/base/images/EmptyStar.png")');
 margin: 0px;
  padding: 0px;
     cursor: pointer;
        display: block;
        background-repeat: no-repeat;
  float: left;
 
}

.jquery-ratings-full {
  background-image: url('@Url.Content("~/Content/themes/base/images/FilledStar.png")');
}
    
  
 .tool_tip_1
    {
       
        background-color: #f5f6fa;
        position: absolute;
        z-index: 1000000;
        max-width: 300px;
        -webkit-box-shadow: 0 0 5px #aaa;
        font-size: 12px;
        border-radius: 3px;
        border: 1px solid #767676;
        padding: 4px;
        font-color: #575757;
        font: Arial;
        box-shadow: 0 0 5px #aaa;
    }
  
    .ratings_over {  
       background-image: url('@Url.Content("~/Content/themes/base/images/SavedStar.png")');  
      
    }  
</style>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td width="20%" valign="top">
            <div style="width: 100%; height: 100%; overflow: hidden;">
                
                <div id="content-box1">
                    <div class="padding1">
                        <div id="toolbar-box">
                            <div class="t">
                                <div class="t">
                                    <div class="t">
                                    </div>
                                </div>
                            </div>
                            <div class="m">
                                <div class="header1" style="padding: 10px 0px 0px 0px;">
                                    <img src="@Url.Content("~/Content/themes/base/images/call-log-icon.png")" alt="" style="border: none; height: 20px; width: 18px;" />
                                    Call Log
                                </div>
                                <div class="" id="Div3">
                                    <table width="100%">
                                        <tr>
                                            <td width="95%">
                                                <textarea id="TxtCallLog" style="height: 60px; width: 98%;" cols="20" rows="2" name="TxtCallLog"></textarea>
                                                <br />
                                                <input type="button" value="Submit" onclick="SaveCallLog()" /><label style="color: Red;"
                                                    id="validation">
                                                </label>
                                                <div style="float: left;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td align="center">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid #cdcdcd;">
                                                <table class="BlackHeader" width="100%">
                                                    <tr>
                                                         <td align="left" width="100%">
                                                                    &nbsp; &nbsp;Date <span style="margin-left: 72px">Rep</span>
                                                                </td>
                                                    </tr>
                                                    <table width="100%" style="border: 0px solid #ffffff; background-color: #ffffff;
                                                        padding: 0 0 0 10px;">
                                                        @if (Model.CollGetCommentsForLeadResult != null)
                                                        {
                                                            for (int i = 0; i < Model.CollGetCommentsForLeadResult.Count; i++)
                                                            {
                                                                string Date = Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate.Date.ToString("dd/MM/yyyy").Replace(" ", "");
                                                                string Time = Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate.Date.ToString("hh:MM tt");
                                                                string Space = " ";
                                                                string Date_disp = Date + Space + Time;
                                                            <tr style="background-color: #f5f5f5">
                                                                <td width="60%" height="20px;" align="left">
                                                                    <div style="width: 100%; height: 100%; overflow: hidden;">
                                                                  <label style="margin-right: 7px">
                                                                          @Date_disp
                                                                          </label>
                                                                           <label>
                                                                            @Model.CollGetCommentsForLeadResult.ElementAt(i).FirstName.Substring(0, 1).ToUpper()@Model.CollGetCommentsForLeadResult.ElementAt(i).LastName.Substring(0, 1).ToUpper()</label>
                                                                    
                                                                    </div>
                                                                </td>
                                                               
                                                                <td width="40%" height="20px;" align="left">
                                                                    <div style="width: 100%; height: 100%; overflow: hidden;">
                                                                        @{int a;
                                                                          if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#').Count() < 2) { a = 0; } else { a = 1; }

                                                                          switch (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[a])
                                                                          {
                                                                              case "1":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-1-on.png")" class="simple_Tooltip1" title="File Started" alt="File Started" style="height:30px;"/>
                                                                                 break; 
                                                                              case "2":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-2-on.png")" class="simple_Tooltip1" title="Proposal Out" alt="Proposal Out" style="height:30px;"/>
                                                                                 break;
                                                                              case "3":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-3-on.png")" class="simple_Tooltip1" title="Agreement Out" alt="Agreement Out" style="height:30px;" />
                                                                                 break;
                                                                              case "4":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-4-on.png")" class="simple_Tooltip1" title="Agreement In" alt="Agreement In" style="height:30px;"/>
                                                                                 break;
                                                                              case "5":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-5-on.png")" class="simple_Tooltip1" title="Activated" alt="Activated" style="height:30px;"/>
                                                                                 break;
                                                                              case "10":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/demo_scheduled.png")" class="simple_Tooltip1" title="Demo Scheduled[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].AsDateTime().Date.ToString("dd/MM/yyyy hh:MM tt"),@Model.CompanyName,@Model.MainPhone]" alt=""  onclick="ShowDemoSchedule()" style="height:30px;"/>
                                                                            <input type="hidden" id="hdnDemosendid"  value="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" />                                                                         break;

                                                                              case "11":
               
                                                                            <img src="@Url.Content("~/Content/themes/base/images/document_sent.png")" class="simple_Tooltip1" onclick="DocumentSentf(this.id)" id="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" title="Document Sent[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].Remove(0, 2)]" alt="" style="height:30px;"/>
                                                                                                                                                                                                                                                                                                           break;


                                                                              case "12":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/QualityControlSurvey.png")" class="simple_Tooltip1" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2]" alt="Quality Control Survey" style="height:30px;"/>
                                                                                                                                                                break;
                                                                              case "13":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/Demo_Completed.png")" class="simple_Tooltip1" title="Demo Completed" alt="Demo Completed" style="height:30px;"/>
                                                                                 break;

                                                                              case "6":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")" class="simple_Tooltip1" title="Account Inactive" alt="Account Inactive" style="height:30px;"/>
                                                                                 break;
                                                                              case "7":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-on.png")" class="simple_Tooltip1" title="Locked" alt="Locked" style="height:30px;"/>
                                                                                 break;
                                                                              case "8":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-on.png")" class="simple_Tooltip1" title="Past Due" alt="Past Due" style="height:30px;"/>
                                                                                 break;

                                                                              case "9":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-on.png")" class="simple_Tooltip1" title="In Collections" alt="In Collections" style="height:30px;"/>
                                                                                 break;
                                                                              default:

                                                                                 

                                                                                 break;
                                                                          }
                                                                        }
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr style="background-color: #e0eef5; min-height: 60px;">
                                                                    <td colspan="2" align="left" style="">
                                                                        @if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments != null)
                                                                        {

                                                                            string[] stringSeparators = new string[] { "##" };
                                                                            if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Contains("##"))
                                                                            {



                                                                            }
                                                                            else
                                                                            {
                                                                            <div style="padding: 5px">
                                                                                <label class="simpleTooltip3" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")">@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")</label></div>
                                                                            }

                                                                        }
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="clr">
                                </div>
                            </div>
                            <div class="b">
                                <div class="rightBottomRptHdrBorder">
                                </div>
                                <div class="leftBottomRptHdrBorder">
                                </div>
                            </div>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>
        </td>
        <td width="80%" valign="top">
            <div style="width: 100%; height: 100%; overflow: hidden;">
               
                <div id="content-box">
                    <div class="padding">
                        <div id="toolbar-box">
                            <div class="t">
                                <div class="t">
                                    <div class="t">
                                    </div>
                                </div>
                            </div>
                            <div class="m" style="height: 70px; margin-bottom: 1px;">
                                <div id="toolbar" class="toolbar">
                                    <div id="updSave">
                                        <table class="toolbar">
                                            <tr>
                                                <td>
                                                    <table id="tbl1" cellspacing="2" cellpadding="5" border="0" style="padding: 5px 0;
                                                        height: 20px; color: White; font-size: 13px; font-weight: bold;">
                                                        <tr>
                                                       
                                                             <td style="border: 0px solid Gray;">
                                                                @if (ViewBag.IsActive == 1)
                                                                { 
                                                                   <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-5-on.png")" title="Active" style="border-width: 0px; height:26px;" />
                                            
                                                                }
                                                                else if (ViewBag.IsActive == 2)
                                                                { 
                                                                     <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")" title="Account Inactive" style="border-width: 0px; height:26px;" />
                                            
                                                                }
                                                                else
                                                                { 
                                                                     <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-off.png")" title="Account Inactive" style="border-width: 0px; height:26px;" />
                                            
                                                                }
                                                            </td>
                                                            <td style="border: 0px solid Gray;">
                                                             

                                                            @if (ViewBag.IsEnabled == false)
                                                            {  <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-on.png")"  id="Locked" title="Locked" style="border-width: 0px; height:26px;"/>       }
                                                            else
                                                            { <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-off.png")"  id="Locked" title="Locked" style="border-width: 0px; height:26px;" /> }
                                                            </td>
                                                            <td style="border: 0px solid Gray;">
                                                             @if (ViewBag.Status == 8)
                                                             {  <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-on.png")" id="Past" title="Past Due" style="border-width: 0px; height:26px;"  /> }
                                                             else
                                                             { <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-off.png")" id="Past" title="Past Due" style="border-width: 0px; height:26px;"  />  }
                                                            </td>
                                                            <td style="border: 0px solid Gray;">
                                                            @if (ViewBag.Status == 9)
                                                            {  <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-on.png")" id="Collection" title="In Collections" style="border-width: 0px; height:26px;"  /> }
                                                            else
                                                            {  <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-off.png")" id="Collection" title="In Collections" style="border-width: 0px; height:26px;"  /> }
                                                           
                                                           
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/cancel_button.png")" class="imgbtnClasspnl" title="Cancel" style="height:45px;width:41px;" onclick=goto() />
                                                    <input type="hidden" id="bck" value="@ViewBag.bck" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="header icon-48-categories" style="padding: 5px 0px 0px 55px; width: 45%;">
                                    @if (ViewData["PkCompanyId"] != null)
                                    {
                               <div> @Model.CompanyName&#32;&#91;@Model.CityName&#44;@ViewBag.State_Code&#93;</div>
                                    }
                                    else
                                    { 
                               <div>Company</div>
                               
                                    }      
                                </div>
                            </div>
                            <div class="b">
                                <div class="rightBottomRptHdrBorder">
                                </div>
                                <div class="leftBottomRptHdrBorder">
                                </div>
                            </div>
                        </div>
                        <div class="clr">
                        </div>
                        <div style="text-align:center"> 
                        <div id="updLabel"></div></div>

  

     

       

    

       <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                                        <div class="t">
                                            <div class="t">
                                                <div class="t">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m">
         
                                        </div>
                                        <div class="m">
                                        <div style="padding: 0px 0px 10px 0px; width: 100%; height: 17px;
                                                                padding-top: 3px;" class="Center_ImgMVC">
                                          <ul id="tabslocation">
                                        <li id="liCompanyInfo" ><a id="lnkCompanyInfo" href="EditClient?Id=@ViewBag.LocationId" title="Company Info">
                                            Company Info<span id="spanET"></span></a> </li>
                                        <li id="liBilling"><a id="lnkBilling" href="ClientBillingStatus?Id=@ViewBag.LocationId" title="Billing">
                                            Billing<span id="spanST"></span></a></li>
                                        <li id="liDataSources" class="current"><a id="lnkDataSources" href="ClientDataSourceInfo?Id=@ViewBag.LocationId" title="Data Sources">
                                            Data Sources <span id="spanMT"></span></a></li>
                                    </ul>
                                    </div>
                                    <br />
                                    
                                     <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                                  Data Sources
                                </div>
                                                <div id="DivUsers" class="expand">   
                                                  <div style="width: 100%; margin-top: 10px; margin-left: 17px; margin-right: 19px">
                                                <div id="kendoGrid" style="width: 48%; float: left">
                                                </div>
                                                <div id="Packages" style="width: 48%; float: left; margin-left: 10px">
                                                    <div style="height: 25px">
                                                        <span><b>Universal Packages</b></span>
                                                    </div>
                                                    <div id="UniversalPackages" style="border-bottom-style: solid;margin-bottom: 15px">
                                                    </div>
                                                    <div style="height: 25px">
                                                        <span><b>CustomPackages</b></span>
                                                    </div>
                                                    <div id="divMSG1" style="display: none">
                                                    </div>
                                                    <div id="CustomPackages" style="margin-top: 3px">
                                                    </div>
                                                    @Html.HiddenFor(m => m.pkCompanyId)
                                                </div>
                                            </div>
                                            </div>
                                            <div class="clr">
                                            </div>
                                        </div>
                                        <div class="b">
                                            <div class="b">
                                                <div class="b">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

          <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                                        <div class="t">
                                            <div class="t">
                                                <div class="t">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m">
         
                                        </div>
                                        <div class="m">
                                            <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%"  >
                                                    Documents
                                            </div>
                                                <div id="DivDocuments" class="expand">   
                                                     <div class="documents">
                                 <div style="width:96%" >
                                 @if (Model.IsEdit == true)
                                 {
                                     for (int i = 0; i < @Model.CompnayDocList.Count; i++)
                                     {
                                         string color = "#eaf4f9";
                                         if (i % 2 == 0)
                                         {
                                             color = "white";

                                         }






                                         string filepath = Model.CompnayDocList.ElementAt(i).DocumentName + "_" + Model.CompnayDocList.ElementAt(i).DocumentTitle;
                                         if (File.Exists(Request.PhysicalApplicationPath + "Resources/Upload/CompanyPDF/" + Model.CompnayDocList.ElementAt(i).DocumentName))
                                         {
                                              <div style="width:14%; text-align: left;padding: 10px;float:left">
                                                                             <div align="center">  
                                                                               <a href="Download_CompanyDocumentsFile/?FPathTitle=@filepath"><img src="@Url.Content("~/Content/themes/base/images/pdf.png")"   /></a> <br />@Model.CompnayDocList.ElementAt(i).DocumentTitle<br />
                                                                                <span style="margin-left: 2%">@Model.CompnayDocList.ElementAt(i).CreatedDate.Date.ToString("MMM dd yyyy")<br />
                                                                                    <span style="margin-left: 5%; color: #006fe9"></span>
                                                                            </div></div>
                                                                                                        @*<a title="View" id="aDownload" href=>
                                                                                                            View</a>*@
                                         }
                                         else
                                         { 
                                     
                                     
                                      <div style="width:14%; text-align: left;padding: 10px;float:left">
                                                                             <div align="center">  
                                                                                <img src="@Url.Content("~/Content/themes/base/images/pdf.png")"  onclick="NotFoundFile()" /><br />@Model.CompnayDocList.ElementAt(i).DocumentTitle<br />
                                                                                <span style="margin-left: 2%">@Model.CompnayDocList.ElementAt(i).CreatedDate.Date.ToString("MMM dd yyyy")<br />
                                                                                    <span style="margin-left: 5%; color: #006fe9"></span>
                                                                            </div></div>
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                         }







                                     }





                                 }
                                 
                                 
                                 
                                 </div>
  </div>

                                            </div>
                                            <div class="clr">
                                            </div>
                                        </div>
                                        <div class="b">
                                            <div class="b">
                                                <div class="b">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

       







                       
                        <div class="clr">
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>
        </td>
    </tr>
</table>
<script>

    $(document).ready(function () {
        document.getElementById("tdAdmin").style.display = 'none';  
    });

</script>
<script>

    $("#kendoGrid").kendoGrid({

        sortable: true,
        scrollable: false,
        navigatable: true,
        columns: [
        //            "CategoryName"
            {field: "CategoryName", width: 55, template: '<b>#=CategoryName#</b>' }
        ],

        editable: true, // enable editing
        //     dataBound: onDataBound,
        detailInit: detailInit,
        dataBound: function () {
            $("a.k-plus").trigger("click");
        },

        // specify toolbar commands
        dataSource: {
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            schema: {
                model: { // define the model of the data source. Required for validation and property types.
                    id: "pkReportCategoryId",
                    fields: {
                        pkReportCategoryId: { editable: false },
                        CategoryName: { editable: false }


                    }
                }
            },

            batch: true,
            transport: {

                read: {
                    url: '@Url.Action("GetCategory_List", "Office")',
                    type: "POST"
                }

            }

        }
    });


    function detailInit(e) {
        var LocId = "@ViewBag.LocationId";
        newid = e.data.pkReportCategoryId;

        $("<div/>").attr("id", "dvid_" + newid).appendTo(e.detailCell).kendoGrid({
            sortable: true,
            scrollable: false,
            navigatable: true,
            columns: [
                { field: "IsDefaultPrice", title: "Default", width: 55, template: '<input class="chkDefault" type="checkbox" disabled="disabled" #=IsDefaultPrice ? "checked=checked" : "" #  ></input>' },
                 { field: "ProductDisplayName", title: "Appear AS", width: 120 },
                  { field: "ProductCode", title: "Code", width: 50 },
                    { field: "CompanyPrice", title: "Price", width: 50 },
                        { field: "ReportsLinked", sortable: false, title: '<img src="@Url.Content("~/Content/themes/base/images/link-icon.png")"/  style="height:20px"  title="Link/Unlink Price" ', template: '#if(ProductCode == "PS" || ProductCode == "CCR1" || ProductCode == "NCR1" || ProductCode == "EEI" || ProductCode == "EMV" || ProductCode == "EMV"){ if(LinkedReportId!=null){ # <img id="ImageLinked_#= Index#' + newid + '" #if( IsEdit){# onclick="UpdateLinkPrice(\'#= pkProductApplicationId #\',\'@ViewBag.CompanyId\');" #}else{# onclick="savelinkprice(this.id);" #}# src="@Url.Content("~/Content/themes/base/images/link-icon.png")" style="height:20px"> #} else {# <img  id="ImageLinked_#= Index#' + newid + '" #if( IsEdit){# onclick="UpdateLinkPrice(\'#= pkProductApplicationId #\',\'@ViewBag.CompanyId\');" #}else{# onclick="savelinkprice(this.id);" #}# src="@Url.Content("~/Content/themes/base/images/link-break-icon.png")" style="height:20px"> #}}#', width: 50 },
                     { field: "IsLiveRunnerProduct", width: 20, title: '<img src="@Url.Content("~/Content/themes/base/images/LiveRunnerSmallLogo.png")"/  id="LiveRunnerImage" title="Is Live Runner" style="height:20px"', template: '#  if (ProductCode == "CCR1" || ProductCode == "CCR2" || ProductCode == "SCR") {# <input class="chkLiveRunner" type="checkbox" disabled="disabled" #=IsLiveRunnerProduct ? "checked=checked" : "" #  ></input>#} #' },
            //{ field: "AutoReviewStatusForLocation", title: '<img src="@Url.Content("~/Content/themes/base/images/emerge-review-button-small.png")"/ style="height:20px"', width: 20, template: '<img class="imgAutoReview" id="img_#=pkProductId#" src="@Url.Content("~/Content/themes/base/images/CheckBox/0.bmp")" />' },
                  {field: "AutoReviewStatusForLocation", sortable: false, title: '<img src="@Url.Content("~/Content/themes/base/images/emerge-review-button-small.png")"/ style="height:20px" title="Enable/Disable Review"', width: 20, template: '#  if (AutoReviewStatusForLocation == "0" || AutoReviewStatusForLocation == null ){#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/0.bmp")" /> #} else if(AutoReviewStatusForLocation=="1"){#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/1.bmp")" /> #} else{#<img  class="imgAutoReview" src="@Url.Content("~/Content/themes/base/images/CheckBox/2.bmp")" /> #} #' },
                     ],

            editable: true,

            dataBound: function (e) {
                var gridId = this.table.parent().attr("id");

                this.expandRow(this.tbody.find("tr.k-master-row"));
                var takeTotal = this.dataSource.total();
                for (i = 0; i < takeTotal; i++) {
                    var ProductCode = this._data[i].ProductCode;
                }

                $(".chkDefault").on("click", function (e) {

                    var row = $(e.target).closest("tr");
                    var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                    model.set("IsDefaultPrice", this.checked);
                    //alert(gridId);
                });

                $(".chkLiveRunner").on("click", function (e) {

                    var row = $(e.target).closest("tr");
                    var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                    model.set("IsLiveRunnerProduct", this.checked);
                });

                $(".imgAutoReview").on("click", function (e) {

                    var row = $(e.target).closest("tr");
                    var model = $("#" + gridId).data("kendoGrid").dataItem(row);

                    var imgArr = $(this).attr("src").split('/');
                    var img = imgArr[parseInt(imgArr.length) - 1];
                    //alert(img)
                    if (img == "0.bmp") {
                        $(this).prop('src', "../Content/themes/base/images/CheckBox/1.bmp");
                        model.set("AutoReviewStatusForLocation", "1");

                    }
                    else if (img == "1.bmp") {
                        $(this).prop("src", "../Content/themes/base/images/CheckBox/2.bmp");
                        model.set("AutoReviewStatusForLocation", "2");
                    }
                    else if (img == "2.bmp") {
                        $(this).prop("src", "../Content/themes/base/images/CheckBox/0.bmp");
                        model.set("AutoReviewStatusForLocation", "0");
                    }
                });


            },
            scrollable: false,
            navigatable: true,
            dataSource: {

                batch: true,
                schema: {
                    model: { // define the model of the data source. Required for validation and property types.
                        id: "pkProductId",
                        fields: {
                            IsDefaultPrice: { type: "boolean", nullable: true, editable: false },
                            pkProductId: { editable: false, type: "string", nullable: true },
                            ProductDisplayName: { editable: false, type: "string", nullable: true },
                            ProductCode: { editable: false, type: "string", nullable: true },
                            CompanyPrice: { editable: true, type: "number", nullable: true, editable: false },
                            ReportsLinked: { editable: false, type: "string", nullable: true },
                            IsLiveRunnerProduct: { type: "boolean", nullable: true, editable: false },
                            AutoReviewStatusForLocation: { type: "string", nullable: false }
                        }
                    }
                },
                transport: {

                    read: {

                        url: '@Url.Action("GetReportBy_CategoryId", "Office", new { CompanyId = ViewData["PkCompanyId"] })',
                        data: { pkCategoryId: newid, LocationId: LocId },
                        type: "Post"
                    },

                    parameterMap: function (options, operation) {
                        if (operation != "read") {
                            //
                            var result = {};
                            for (var i = 0; i < options.models.length; i++) {
                                var products = options.models[i];
                                for (var member in products) {
                                    result["Detail[" + i + "]." + member] = products[member];
                                }
                            }
                            return result;
                        }
                        else {
                            return options;
                        }
                    }


                }

            }

        });


    }





    $("#UniversalPackages").kendoGrid({
        sortable: true,

        scrollable: false,
        navigatable: true,
        columns: [
                       { field: "PackageDisplayName", title: "Packages", width: 150, editable: false },
              { field: "PackageCode", title: "Code", width: 50, editable: false },
              { field: "include", title: "DataSources", width: 170, editable: false },
                { field: "PackagePrice", title: "Price", editable: false },

             { field: "", title: "Action", width: 100, template: '<label><label>' }





              ],
        editable: true,
        dataBound: function () {

            var takeTotal = this.dataSource.total();

            var gridHeaderRows = $("#UniversalPackages tbody th");
            var gridRows = $("#UniversalPackages tbody tr");
            var takeGrid = $("#UniversalPackages").data("kendoGrid");
            var length = gridRows.length;

            $(".chkIsDefault").on("click", function (e) {
                var row = $(e.target).closest("tr");
                var model = $("#UniversalPackages").data("kendoGrid").dataItem(row);
                model.set("IsEnableUniversalPackage", this.checked);
            });

            for (i = 0; i < length; i++) {

                var dataItem = takeGrid.dataItem(gridRows[i]);
                var row = gridRows[i];
                var categaryname = dataItem.PackageDisplayName;
                var ProductCode = dataItem.PackageCode;
                var Price = dataItem.PackagePrice;
                var IsDefault = dataItem.IsDefault;
                var include = dataItem.include;
                var categaryID = dataItem.pkPackageId;
                var IsEnableUniversalPackage = dataItem.IsEnableUniversalPackage;



            }
        },


        dataSource: {
            serverPaging: false,
            serverSorting: false,
            serverFiltering: false,

            schema: {
                model: { id: "pkPackageId",
                    fields: {
                        IsEnableUniversalPackage: { type: "boolean", editable: true, nullable: true },
                        PackageAccessId: { editable: false, nullable: true, editable: false, type: "string" },
                        pkPackageId: { editable: false, nullable: true, editable: false, type: "int" },
                        include: { nullable: true, editable: false, type: "string" },
                        PackageDisplayName: { editable: false, nullable: true, editable: false, type: "string" },
                        PackageCode: { editable: false, nullable: true, editable: false, type: "int" },
                        PackagePrice: { editable: false, nullable: true, type: "string" }
                    }
                }
            },
            batch: true,
            change: function (e) {

            },
            transport: {

                read: {
                    url: '@Url.Action("GetAllPackageRecords", "Office", new { CompanyId = @ViewData["PkCompanyId"] })',
                    type: "POST"
                },

                destroy: {
                    url: '@Url.Action("Destroy", "Office")',
                    type: "POST"
                }
                    , parameterMap: function (data, operation) {

                        if (operation != "read") {

                            var result = {};

                            for (var i = 0; i < data.models.length; i++) {
                                var product = data.models[i];

                                for (var member in product) {
                                    result["products[" + i + "]." + member] = product[member];
                                }
                            }
                            return result;
                        }
                    }
            }

        }

    });



    var compId = "@ViewBag.CompanyId";
    $("#CustomPackages").kendoGrid({
        sortable: true,

        scrollable: false,
        navigatable: true,
        columns: [
              { field: "IsDefault", template: '<input type="checkbox" disabled="disabled" #=IsDefault == true ? "checked=true" : "" # id="IsDefault_Product#=pkPackageId#" >' },
              { field: "PackageDisplayName", title: "Packages", width: 150 },
              { field: "PackageCode", title: "Code", width: 50 },
              { field: "include", title: "DataSources", width: 170 },
              { field: "PackagePrice", title: "Price" },
              { field: "pkPackageId", title: "Action", width: 100, template: '<input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/edit.png")" id="image1" value="#=pkPackageId#" style="width:15; height:18px" " /> <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/delete.png")" id="image1" value="#=pkPackageId#" style="width:15px; height:18px" />' },
              ],

        editable: true,
        editable: "inline",
        editable: "popup",
        // enable editing
        dataBound: function () {
            var takeTotal = this.dataSource.total();

            var gridHeaderRows = $("#ProductPackages tbody th");
            var gridRows = $("#ProductPackages tbody tr");
            var takeGrid = $("#ProductPackages").data("kendoGrid");
            var length = gridRows.length;
            //   alert(length);


            for (i = 0; i < length; i++) {
                // alert(i);
                var dataItem = takeGrid.dataItem(gridRows[i]);
                var row = gridRows[i];
                var categaryname = dataItem.PackageDisplayName;
                var ProductCode = dataItem.PackageCode;
                var Price = dataItem.PackagePrice;
                var include = dataItem.include;
                //   alert(ProductCode);
                var categaryID = dataItem.pkPackageId;
                var IsDefault = dataItem.IsDefault;


            }
        },

        dataSource: {
            page: 1,
            pageSize: 4,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,

            schema: {
                model: { id: "pkPackageId",
                    fields: {
                        pkPackageId: { editable: false, nullable: true },
                        PackageAccessIdIsDefault: { type: "boolean", editable: false },
                        Include: { editable: false, nullable: true },
                        PackageDisplayName: { type: "string", editable: false },
                        PackageCode: { type: "string", editable: false },
                        PackagePrice: { type: "number", editable: true, required: true },
                        Include: { type: "boolean", editable: false },
                        IsDefault: { type: "boolean", editable: false }
                    }
                }
            },
            batch: true,
            change: function (e) {



            },
            transport: {
                read: {

                    url: '../Office/GetCustomPackages?LocationId=@ViewBag.LocationId&CompanyId=' + $("#pkCompanyId").val(),
                    type: "POST"
                },
                update: {
                    url: '@Url.Action("UpdateDataSource", "Office")',
                    type: "POST"
                },
                parameterMap: function (data, operation) {

                    if (operation != "read") {

                        var result = {};

                        for (var i = 0; i < data.models.length; i++) {
                            var product = data.models[i];

                            for (var member in product) {
                                result["products[" + i + "]." + member] = product[member];
                            }
                        }
                        return result;
                    }

                }

            }

        }

    });

    var ready_State_CheckInterval = setInterval(function () {
        if ($(".simple_Tooltip1").is(':visible')) {
            clearInterval(ready_State_CheckInterval);
            var body = document.getElementsByTagName('body')[0];
            $('.simple_Tooltip1').hover(function () {
                $('.simple_Tooltip1').click();
                var title = $(this).attr('title');
                $(this).data('tipText', title).removeAttr('title');
                $(this).attr('title', '');
                $('<p class="tool_tip_1"></p>')
               .text(title)
              .appendTo(body)
              .fadeIn('slow');

            }, function () {
                $(this).attr('title', $(this).data('tipText'));
                $(".tool_tip_1").each(function () {
                    $(this).remove();
                });
                $('.simple_Tooltip1').click();

            }).mousemove(function (e) {
                $('.simple_Tooltip1').click();
                var mousex = e.pageX + 10;
                var mousey = e.pageY + 10;
                $('.tool_tip_1')
        .css({ top: mousey, left: mousex })
            });


        }

    }, 200);
 

</script>
