﻿<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "EMEdit.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/gen_validatorv4.js")" type="text/javascript"></script>
@model Emerge.Models.ClientsModel
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}
<style>
 .cls_divw { float:left;width:13%;height:100%;margin-right:1%; }
 .cls_divwt { float:left;width:16%;height:100%; }
 .cls_btnrs { width:100%; }
 .choosecrt { float:left;width:73%;height:100%;margin-left:2%;}
 .cls_main { width:100%;height:auto;}
 .cls_pt { width:100%; }
 .cls_search { float:left;width:13%;height:100%;; margin-right:10px;}
 .cls_show {  float:left;width:12%;margin-top:1%;}
 .cls_top { margin-top: 22.8%;}
 .displaycls{ display:none!important;}
 #tabsDemo1 .current a {color:#0b55c4 !important;}
</style>
<script type="text/javascript" src="../../Scripts/KendoJS/kendo.datepicker.min.js"></script>
@*<script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/KendoJS/kendo.chart.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/iphone-style-checkboxes.js")" type="text/javascript"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<div id="content-box" style="width: 100%">
    <input type="hidden" value="@ViewBag.UserIds"  id="hdnMangerID"/>
    <div class="padding">
        <div id="toolbar-box">
            <div class="t" style="width: 100%">
                <div class="rightTopRptHdrBorder">
                </div>
                <div class="leftTopRptHdrBorder">
                </div>
            </div>
            <div class="m">
                <div id="popupCall">
                </div>
                <div class="toolbar" id="Div1">
                    <input type="image" alt="Save" src="@Url.Content("~/Content/themes/base/images/icon_Move_Lead.png")" id="MoveLead" title="Move Lead"  style="display:none" />
                    <input type="image" alt="Save" src="@Url.Content("~/Content/themes/base/images/icon_Transfer_Lead.png")" id="TransferLead" title="Transfer Lead" onclick="PreviousPage();" style="display:none" />
                </div>
                <div style="float: right; width: 85%; margin-right: 10px;">
                    <div class="cls_search">
                        <table width="100%" cellspacing="0" cellpadding="1" border="0" style="border-collapse: collapse;
                            font-family: arial; font-size: 12px;">
                            <tr>
                                <td>
                                    <br />
                                    <div>
                                        <table border="0" width="100%">
                                            <tr>
                                                <td>
                                                    <div class="cls_pt">
                                                        <div style="float: left; width: 75%;">
                                                            @Html.TextBoxFor(model => Model.Keyword, new { @class = "textField1", @placeholder = "Search...", onkeypress = "Button_Click(event)", style = "width:100%;height:16px;" })
                                                        </div>
                                                        <div style="float: right; margin-left: 4%; width: 11%;">
                                                            <img src="@Url.Content("~/Content/themes/base/images/searchSmall.png")" title="Search" alt="Search"
                                                                                        style="cursor: pointer; margin-left:1px"" onclick="BindClientsGrid(0,'AllReports');" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <div style="height: 4px;">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table width="85%" cellspacing="0" cellpadding="1" border="0" style="border-collapse: collapse;
                            font-family: arial; font-size: 12px;">
                            <tr>
                                <td>
                                    <div>
                                        <div style="width: 100%;">
                                            <div class="cls_divw">
                                                <div class="cls_pt">
                                                    Account Status</div>
                                                <div class="cls_pt">
                                                    @{
                                                        List<SelectListItem> list = new List<SelectListItem>();
                                                        list.Add(new SelectListItem { Text = "Select", Value = "SelectStatus" });
                                                        list.Add(new SelectListItem { Text = "Active", Value = "Active" });
                                                        list.Add(new SelectListItem { Text = "InActive", Value = "InActive" });
                                                        list.Add(new SelectListItem { Text = "Locked", Value = "Locked" });
                                                        list.Add(new SelectListItem { Text = "PastDue", Value = "PastDue" });
                                                        list.Add(new SelectListItem { Text = "InCollection", Value = "InCollection" });

                                                        @Html.DropDownListFor(m => m.statustype, list, new { style = "width:100%;", onchange = "BindClientsGrid(0,'AllReports')" });
                                                    }
                                                </div>
                                            </div>
                                            <div class="cls_divw">
                                                <div class="cls_pt">
                                                    Account Date
                                                </div>
                                                <div class="cls_pt">
                                                    @{
                                                        List<SelectListItem> list4 = new List<SelectListItem>();
                                                        list4.Add(new SelectListItem { Text = "--All--", Value = "0" });
                                                        list4.Add(new SelectListItem { Text = "Today", Value = "1" });
                                                        list4.Add(new SelectListItem { Text = "This Month", Value = "2" });
                                                        list4.Add(new SelectListItem { Text = "Last Month", Value = "3" });
                                                        list4.Add(new SelectListItem { Text = "Specific Month", Value = "4" });
                                                        list4.Add(new SelectListItem { Text = "Specific Date", Value = "5" });
                                                        list4.Add(new SelectListItem { Text = "Specific Date Range", Value = "6" });

                                                        @Html.DropDownListFor(m => m.Accountdate, list4, new { style = "width:100%;", onchange = "BindClientsGrid(1,'AllReports')" });
                                                    }
                                                </div>
                                                <div id="trMonth" style="width: 100%; display: none;">
                                                    <div style="margin-top: 1%; width: 100%; float: left;">
                                                        <div class="textFieldWrapper1">
                                                            @Html.DropDownListFor(x => x.Month, new SelectList(new List<object> 
                                                       {                                                                       
                                                              new{value="January",text="1"},
                                                              new{value="February",text="2"},
                                                              new{value="March",text="3"},
                                                              new{value="April",text="4"},
                                                              new{value="May",text="5"},
                                                              new{value="June",text="6"},
                                                              new{value="July",text="7"},
                                                              new{value="August",text="8"},
                                                              new{value="September",text="9"},
                                                              new{value="October",text="10"},
                                                              new{value="November",text="11"},
                                                              new{value="December",text="12"}                                                              
                                                       }, "text", "value"
                                                                              ), new { @class = "ddlFieldMonth" })
                                                        </div>
                                                    </div>
                                                    <div style="margin-top: 1%; width: 100%; float: left;">
                                                        <div class="textFieldWrapper1" style="margin-top: 1.5%;">
                                                            @Html.DropDownListFor(model => Model.Year, new SelectList(new List<object> 
                                                       {                                                                       
                                                              new{value="2007",text="2007"},
                                                              new{value="2008",text="2008"},
                                                              new{value="2009",text="2009"},
                                                              new{value="2010",text="2010"},
                                                              new{value="2011",text="2011"},
                                                              new{value="2012",text="2012"},
                                                              new{value="2013",text="2012"},
                                                                                                                        
                                                       }, "text", "value"
                                                                              ), new { @class = "ddlFieldMonth" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="trSpecificDate" style="width: 100%; display: none;">
                                                    <div style="margin-top: 1.5%;">
                                                        @Html.TextBoxFor(m => m.txtSpecificDate2)
                                                    </div>
                                                </div>
                                                <div id="trSpecificDateRange" style="width: 100%; display: none;">
                                                    <div class="textFieldWrapper1" style="margin-top: 1.5%;">
                                                        @Html.TextBoxFor(m => m.txtSpecificFrom, new { style = "width:100px" })
                                                    </div>
                                                    <div class="textFieldWrapper1" style="margin-top: 1.5%;">
                                                        @Html.TextBoxFor(m => m.txtSpecificTo, new { style = "width:100px" })
                                                    </div>
                                                </div>
                                                <div id="trSearch" style="width: 100%; display: none;">
                                                    <input type="button" value="Search" onclick="BindClientsGrid(-1,'AllReports')" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cls_divw">
                                            <div class="cls_pt">
                                                Company Type</div>
                                            <div class="cls_pt">
                                                @{
                                                    List<SelectListItem> list2 = new List<SelectListItem>();
                                                    list2.Add(new SelectListItem { Text = "Select", Value = "" });
                                                    list2.Add(new SelectListItem { Text = "Value", Value = "1" });

                                                    @Html.DropDownListFor(x => x.pkCompanyTypeId, list2, new { style = "width:100%;", onchange = "BindClientsGrid(0,'AllReports')" });
                                                }
                                                @Html.ValidationMessageFor(cn => cn.pkCompanyTypeId)
                                                @Html.HiddenFor(m => m.pkCompanyTypeId, new { id = "hdnComanytypeId" })
                                                @Html.HiddenFor(m => m.CompanyType, new { id = "hdnComapnyName" })
                                            </div>
                                        </div>
                                        <div class="cls_divw">
                                            <div class="cls_pt">
                                                Sales</div>
                                            <div class="cls_pt">
                                                <select id="Sales" style="width: 100%;" onchange="showMonths();">
                                                    <option value="0">--All--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="cls_divw">
                                            <div class="cls_pt">
                                                Volume</div>
                                            <div class="cls_pt">
                                                <select id="Volume" style="width: 100%;" onchange="showMonths();">
                                                    <option value="0">--All--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="cls_divw">
                                            <div class="cls_pt">
                                                Account Manager</div>
                                            <div class="cls_pt">
                                                @Html.DropDownList("fkUserId", (ViewData["Salesmanager"] as IEnumerable<SelectListItem>), new { style = "width:100%;", onchange = "BindClientsGrid(0,'AllReports')" })
                                            </div>
                                        </div>
                                        <div class="cls_divwt">
                                            <div style="width: 100%; float: left;">
                                                <span style="visibility: hidden;">ResetGrid</span></div>
                                            <div class="cls_btnrs">
                                                <img src="@Url.Content("~/Content/themes/base/images/Reset all filters.png")" title="Search"
                                                                                            alt="Search" style="cursor: pointer" onclick="ResetGrid();" />
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="header icon-48-categories" style="padding: 0px 0px 0px 55px; width: 10%">
                    Clients
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="rightBottomRptHdrBorder">
                </div>
                <div class="leftBottomRptHdrBorder">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            <div class="t">
                <div class="rightTopRptHdrBorder">
                </div>
                <div class="leftTopRptHdrBorder">
                </div>
            </div>
            <div class="m">
                <table align="center" border="0" style="width: 100%">
                    <tr>
                        <td style="vertical-align: top;">
                            <table border="0" style="border-collapse: collapse; width: 100%">
                                <tr>
                                    <td>
                                        <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation">
                                            <tr id="trPaging" runat="server">
                                                <td>
                                                    <div class="cls_show">
                                                        Showing <span align="center" style="font-size: 16px; width: 60px; font-weight: bold;
                                                            color: #0b55c4;">
                                                            <label id="lblTotalRecords">
                                                            </label>
                                                        </span>records
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" class="fontstyle" colspan="2">
                                        <span class="tool"><span class="tip"></span></span>
                                        <div id="kendoGrid" style="width: 100%">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="rightBottomRptHdrBorder">
                </div>
                <div class="leftBottomRptHdrBorder">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
</div>
<div class="container">
</div>
<style>
    .st_inactive
    {
        background-color: #7c7b7b;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_active
    {
        background-color: #059a02;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_locked
    {
        background-color: #ff6600;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_pastdue
    {
        background-color: #990099;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_incollections
    {
        background-color: #000000;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .chk-head-style
    {
    }
    .chk-style
    {
    }
    .k-grid .centeralign
    {
        text-align: center;
    }
    .recentreviewlist
    {
        font-size: 12px;
        overflow: hidden;
        vertical-align: middle;
    }
    .textField1
    {
        border-bottom: #b8b8b8 1px solid;
        border-left: #b8b8b8 1px solid;
        padding-bottom: 3px;
        margin: 0px;
        padding-left: 5px;
        padding-right: 5px;
        background: url(../Content/themes/base/images/TextBox_Background.png) repeat-x 0px 0px;
        height: 17px;
        border-top: #b8b8b8 1px solid;
        border-right: #b8b8b8 1px solid;
        padding-top: 3px;
        width: 150px;
        float: left;
    }
    
    .textField1
    {
        border-bottom: #b8b8b8 1px solid;
        border-left: #b8b8b8 1px solid;
        padding-bottom: 3px;
        margin: 0px;
        padding-left: 5px;
        padding-right: 5px;
        background: url(../Content/themes/base/images/TextBox_Background.png) repeat-x 0px 0px;
        height: 100px;
        border-top: #b8b8b8 1px solid;
        border-right: #b8b8b8 1px solid;
        padding-top: 3px;
        width: 150px;
        float: left;
    }
    .ddlFieldMonth
    {
        border-bottom: #b8b8b8 1px solid;
        border-left: #b8b8b8 1px solid;
        padding-bottom: 3px;
        margin: 0px;
        padding-left: 5px;
        padding-right: 5px;
        background: url(../Content/themes/base/images/TextBox_Background.png) repeat-x 0px 0px;
        height: 24px;
        border-top: #b8b8b8 1px solid;
        border-right: #b8b8b8 1px solid;
        padding-top: 3px;
        width: 110px;
        float: left;
    }
    .GraphImage
    {
    }
    
    
    span.tool span.tip
    {
        display: none; /* so is this */
    }
    
    
    
    span.tool:hover span.tip
    {
        display: block;
        z-index: 100;
        position: absolute;
        top: -26.5em;
        left: 0;
        margin-left: -450px;
        width: auto;
        padding: 10px;
        border: 1px solid #000;
        background-color: #fff;
        font: normal 0.9em/1.2em arial, helvetica, sans-serif;
        text-align: left; /*   color: #000;*/
    }
    .tdRightPanel
    {
        z-index: 100;
        position: absolute;
        top: -26.5em;
        left: 0;
        margin-left: -450px;
        width: auto;
        padding: 10px;
        border: 1px solid #000;
        background-color: #fff;
        font: normal 0.9em/1.2em arial, helvetica, sans-serif;
        text-align: left;
        text-align: left;
    }
    .ReportLeft
    {
        z-index: 2000;
        top: -26.5em;
        width: auto;
        border-top: 1px solid #94c0d2;
        border-left: 1px solid #94c0d2;
        border-right: 1px solid #94c0d2;
        border-bottom: 1px solid #94c0d2;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        margin-left: -100px;
    }
    #content span.tool::after
    {
        padding-left: 10px; /* content: url(/img/bubble.gif);*/
    }
    .graphchartimg
    {
    }
    .smallloaderimg
    {
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {
        $("#txtSpecificDate2").kendoDatePicker();
        $("#txtSpecificFrom").kendoDatePicker();
        $("#txtSpecificTo").kendoDatePicker();

    });

</script>
<script id="tMyDatabase" type="text/x-kendo-template">
    <div style="font-weight:bolder; margin-left: 0px;"><a> #= CompanyName # </a></div>
   
   
</script>
<script type="text/javascript">

    //Start tool tip for graph
    var offsetx = 10; var offsety = 20; var counter = 0; function newelement(newid) {
        if (document.createElement) {
            var el = document.createElement('div'); el.id = newid; with (el.style) { display = 'none'; position = 'absolute'; }
            el.innerHTML = '&nbsp;'; document.body.appendChild(el);
        }
    }
    var ie5 = (document.getElementById && document.all); var ns6 = (document.getElementById && !document.all); var ua = navigator.userAgent.toLowerCase(); var isapple = (ua.indexOf('applewebkit') != -1 ? 1 : 0); function getmouseposition1(e) { if (document.getElementById) { var iebody = (document.compatMode && document.compatMode != 'BackCompat') ? document.documentElement : document.body; pagex = (isapple == 1 ? 0 : (ie5) ? iebody.scrollLeft : window.pageXOffset); pagey = (isapple == 1 ? 0 : (ie5) ? iebody.scrollTop : window.pageYOffset); if (window.pageYOffset != 0 && pagey == 0) { pagey = window.pageYOffset; } mousex = (ie5) ? event.x : (ns6) ? clientX = e.clientX : false; mousey = (ie5) ? event.clientY : (ns6) ? clientY = e.clientY : false; var lixlpixel_tooltip = document.getElementById('tooltip'); lixlpixel_tooltip.style.left = (mousex + pagex + offsetx1) + 'px'; lixlpixel_tooltip.style.top = (mousey + pagey + offsety) + 'px'; } }
    var ie5 = (document.getElementById && document.all); var ns6 = (document.getElementById && !document.all); var ua = navigator.userAgent.toLowerCase(); var isapple = (ua.indexOf('applewebkit') != -1 ? 1 : 0); function getmouseposition(e) { if (document.getElementById) { var iebody = (document.compatMode && document.compatMode != 'BackCompat') ? document.documentElement : document.body; pagex = (isapple == 1 ? 0 : (ie5) ? iebody.scrollLeft : window.pageXOffset); pagey = (isapple == 1 ? 0 : (ie5) ? iebody.scrollTop : window.pageYOffset); if (window.pageYOffset != 0 && pagey == 0) { pagey = window.pageYOffset; } mousex = (ie5) ? event.x : (ns6) ? clientX = e.clientX : false; mousey = (ie5) ? event.clientY : (ns6) ? clientY = e.clientY : false; var lixlpixel_tooltip = document.getElementById('tooltip'); lixlpixel_tooltip.style.left = (mousex + pagex + offsetx) + 'px'; lixlpixel_tooltip.style.top = (mousey + pagey + offsety) + 'px'; lixlpixel_tooltip.style.marginleft = '-450px'; } }










    function poptooltip(tip, poptitle) {

        var title = (poptitle == '' || poptitle == null) ? 'Sale Chart' : poptitle; if (!document.getElementById('tooltip')) newelement('tooltip'); var lixlpixel_tooltip = document.getElementById('tooltip'); var tableStru = "<table id='Table2' cellpadding='0' style='border:1px solid #0b55c4;' cellspacing='0' width='250px'>"; tableStru += "<tr>"; tableStru += "<td align='left' style='height:20px;width:10px;' class='HelpHeader'>"; tableStru += title + "</td>"; tableStru += "</tr>"; tableStru += "<tr>"; tableStru += "<td style='height:20px;' class='HelpNormal' align='left' ><p>"; tableStru += tip.toString().replace(/#1#/g, '&#39;'); tableStru += "</p></td></tr>"; tableStru += "</td></tr></table>"; lixlpixel_tooltip.innerHTML = tableStru; lixlpixel_tooltip.style.display = 'block'; lixlpixel_tooltip.style.zIndex = 100002; document.onmousemove = getmouseposition1;


    }




    function exit() {
        $("div[id=tooltip]").addClass("displaycls");
        try {

            if (document.getElementById('tooltip') != null) {
                document.getElementById('tooltip').style.display = 'none';
            }
        } catch (e) {

        }
    }


    //end tool tip for graph




    //     function OpenCallLog(CompanyId) {

    //         var Pagetype = "Clients_1";
    //         $("#popupCall").load("../Common/LoadCallLog", { PageType: Pagetype, pkCompanyId: CompanyId }, function () {

    //             $("#ddlCLCompany").val(CompanyId);
    //             OpenWindow_CallLog();
    //         });
    //     }



    var calllogarray = [];
    var Previousid = "test";
    function OpenCallLog(CompanyId) {
        if (Previousid != CompanyId) {
            IsOpenPOPUP = "false";
        }
        if (IsOpenPOPUP == "false") {
            Previousid = CompanyId;
            IsOpenPOPUP = "true";
            var window = $("#CallLog").kendoWindow({}).data("kendoWindow");
            if (typeof window != 'undefined') {

                window.close();
                window.element.remove();
                window.destroy();
            }

            var Pagetype = "Clients_1";
            $.post('@Url.Action("setProfileCallLogCompany", "Common")', { CallLogCompanyId: CompanyId }, function (data) {
                if (data != null) {
                    $("#divLog").load("../Common/LoadCallLog", { PageType: Pagetype, pkCompanyId: CompanyId }, function () {
                    });
                }
            });
        }

    }




    // $("#CallLog").kendoWindow({
    //     close: function (e) {
    //         alert("ok");
    //         IsOpenPOPUP = "false";
    //     }
    // });
    function GetGraph(PkCompanyId) {
        // alert(PkCompanyId);

        $("div[id=tooltip]").removeClass("displaycls");
        poptooltip('<img alt="loader" src=@Url.Content("~/Content/themes/base/images/smallloader.gif")  />')

        $.post('@Url.Action("LoadGraph", "Office")', { pkCompanyId: PkCompanyId }, function (data) {

            $("#Table2").css("display", "block");

            poptooltip('<img id="ImageGraph1" src="' + data.imgBigImage + '"  class="ReportLeft"  onmouseout="exit();" />');

            //for ND-26 show volume and sales on hover
            // alert("Total volume:" + data.lblVolume + " Total Sales:" + data.lblSales);
            var gridRows = $("#kendoGrid tbody tr");
            //var row = gridRows[2];

            for (var r = 0, n = gridRows.length; r < n; r++) {
                for (var c = 0, m = gridRows[r].cells.length; c < m; c++) {
                    if (c == 11) {
                        var cid = gridRows[r].cells[c].getElementsByTagName("input")[0].value;
                        if (cid == PkCompanyId) {
                            gridRows[r].cells[9].innerHTML = data.lblSales;
                            gridRows[r].cells[10].innerHTML = data.lblVolume;
                        }
                    }
                }
            }
            //--------------ND-26-------------------

        });



    }






    function EditClient(Id) {

        window.location.href = 'EditClient?Id=' + Id
    }


    $("#fkUserId").kendoDropDownList();

    //            $("#fkUserId").kendoDropDownList({
    //                optionLabel: "Select Manger",
    //                dataTextField: "FullName",
    //                dataValueField: "fkUserId",

    //                dataSource: {

    //                    transport: {
    //                        read: {
    //                            url: '@Url.Action("GetManagerList", "Control")',
    //                            type: 'POST'
    //                        }
    //                    }

    //                },

    //                change: function (e) {

    ////                    document.getElementById("hdnaccountmanagerId").value = this.value();
    ////                    document.getElementById("hdnfullname").value = this.text();


    //                }
    //            });
    $("#statustype").kendoDropDownList({});
    $("#Accountdate").kendoDropDownList({});
    $("#Volume").kendoDropDownList({});
    $("#Sales").kendoDropDownList({});
    $("#ddlPageSize1").kendoDropDownList({});



    $("#pkCompanyTypeId").kendoDropDownList({
        optionLabel: "--All--",
        dataTextField: "CompanyType",
        dataValueField: "pkCompanyTypeId",

        dataSource: {

            transport: {
                read: {
                    url: '@Url.Action("GetCmpnyType", "Office")',
                    type: 'POST'

                }
            }

        },
        change: function (e) {

            //                    document.getElementById("hdnCompanyId").value = this.value();
            //                    document.getElementById("hdnCompanyName").value = this.text();


        }

    });
    var selectList = '<span style="width:500px;text-align:right;float:right;">    Page Size: <select onchange="changeGridPageSize(this.value);" style="width:50px;" id="mySelect"><option>25</option><option>50</option><option>100</option></select></span>';

    $("#kendoGrid").kendoGrid({
        filterable: true,
        pageable: true,
        scrollable: false,
        navigatable: true,
        sortable: true,

        columns: [
           { field: "CompanyAccountNumber", title: " <div class='centeralign'>Account #</div>", width: "4%", filterable: false },
           { field: "CompanyName", title: " <div class='centeralign'>Company Name</div>", width: "11%", filterable: { extra: false, operators: { string: { contains: "Contains", startswith: "Starts with", endswith: "Ends with"}}} },                                                                            //<input type="checkbox" id="#=pkCompanyUserId#" class="chkunchk" "checked=checked" : "" />  <input id="#=pkCompanyUserId#" class="chkunchk" type="checkbox" />
           {field: "City", title: " <div class='centeralign'>City</div>", width: "7%", filterable: false },
           { field: "StateCode", title: " <div class='centeralign'>State</div>", width: "3%", filterable: false },
           { field: "MainContactPersonName", title: " <div class='centeralign'>Main Contact</div>", width: "7%", filterable: { extra: false, operators: { string: { contains: "Contains", startswith: "Starts with", endswith: "Ends with"}}} },
           { field: "PhoneNo1", title: " <div class='centeralign'>Phone No</div>", width: "7%", filterable: { extra: false, operators: { string: { contains: "Contains", startswith: "Starts with", endswith: "Ends with"}}} },
           { field: "MainEmailId", title: " <div class='centeralign'>Email</div>", width: "11%", filterable: { extra: false, operators: { string: { contains: "Contains", startswith: "Starts with", endswith: "Ends with"}}} },
           { field: "CompanyType", title: " <div class='centeralign'>Company Type</div>", width: "7%", filterable: false },
           { field: "SalesManagerName", title: " <div class='centeralign'>Account Manager</div>", width: "7%", filterable: false },
        { field: "CurrentSale", title: " <div class='centeralign'>Sales</div>", width: "7%", format: "{0:C0} %", filterable: false }, //previous code commented for updated fro the ND-26
        //   {field: "TotalSale", title: " <div class='centeralign'>Sales</div>", width: "7%", format: "{0:C0} %", filterable: false },
        {field: "CurrentVolume", title: " <div class='centeralign'>Volume</div>", width: "7%", filterable: false }, //previous code commented for updated fro the ND-26
        //   {field: "TotalVolume", title: " <div class='centeralign'>Volume</div>", width: "7%", filterable: false },
           {field: "pkCompanyId", title: " <div class='centeralign'>Graph</div>", width: "4%", sortable: false, filterable: false, template: '<input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/chart_line.png")" style="width:20px;height:20px" class="graphchartimg" value=#=pkCompanyId# onmouseover="GetGraph(this.value);" onmouseout="exit();"  onclick=\"GetGraph(this.value)\"  /> <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/smallloader.gif")" class="smallloaderimg" style="width:20px;height:20px; display:none" id="smallloader" value=#=pkCompanyId#  />' },
           { field: "LeadStatusText", title: " <div class='centeralign'>Account Status</div>", width: "9%", filterable: false },
           { field: "pkCompanyId", title: " <div class='centeralign'>Action</div>", width: "8%", sortable: false, filterable: false, template: "<input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/edit.png")' + " id=\"image1\" Title='Edit' value=\"#=pkLocationId#\" style=\"width:15; height:18px\"  onclick=\"EditClient(this.value)\" /> <input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/call-log-icon.png")' + "  value='#=pkCompanyId#' onmouseover=\"CallLogRollOver('Call Log','#=pkCompanyId#');\" onmouseout=\"exit();\" style=\"width:15px; height:18px\" onclick=\"OpenCallLog(this.value)\" />" }
           ],
        editable: false,

        dataBound: function () {
            var takeTotal = this.dataSource.total();
            $("#lblTotalRecords").html(takeTotal);
            if (takeTotal == 0) {
                //  document.getElementById("kendoGrid").style.visibility = "hidden";
                //  document.getElementById("norecord").style.display = 'block';

            }
            else {
                //  document.getElementById("kendoGrid").style.visibility = "visible";
                //  document.getElementById("norecord").style.display = 'none';
                var gridRows = $("#kendoGrid tbody tr");
                var takeGrid = $("#kendoGrid").data("kendoGrid");
                var length = gridRows.length;

                for (i = 0; i < length; i++) {

                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var pkcompanyid = dataItem.pkCompanyId;
                    //                    var TotalSale = dataItem.TotalSale;
                    //                    var TotalVolume = dataItem.TotalVolume;

                    var CurrentVolume = dataItem.CurrentVolume;
                    var CurrentSale = dataItem.CurrentSale;
                    var PreviousVolume = dataItem.PreviousVolume;
                    var PreviousSale = dataItem.PreviousSale;
                    //                    var PreviousVolume = dataItem.PreVolume;
                    //                    var PreviousSale = dataItem.PreSale;
                    var Status = dataItem.LeadStatusText;
                    var VolumePercentage = 0;
                    var SalePercentage = 0;
                    debugger;

                    if (PreviousVolume > 0) {
                        VolumePercentage = ((CurrentVolume - PreviousVolume) / PreviousVolume) * 100;
                        if (VolumePercentage > 0) {
                            row.cells[10].innerHTML = CurrentVolume + "&nbsp;(<span style='color: green;'>" + VolumePercentage.toFixed(2) + "%</span>)";
                        }
                        else {
                            row.cells[10].innerHTML = CurrentVolume + "&nbsp;(<span style='color: red;'>" + VolumePercentage.toFixed(2) + "%</span>)";
                        }
                    }
                    else {
                        row.cells[10].innerHTML = CurrentVolume + "&nbsp;(<span style='color: red;'>" + VolumePercentage.toFixed(2) + "%</span>)";
                    }

                    if (PreviousSale > 0) {
                        SalePercentage = ((CurrentSale - PreviousSale) / PreviousSale) * 100
                        if (SalePercentage > 0) {
                            row.cells[9].innerHTML = "$" + CurrentSale + "&nbsp;(<span style='color: green;'>" + SalePercentage.toFixed(2) + "%</span>)";
                        }
                        else {
                            row.cells[9].innerHTML = "$" + CurrentSale + "&nbsp;(<span style='color: red;'>" + SalePercentage.toFixed(2) + "%</span>)";
                        }
                    }
                    else {
                        row.cells[9].innerHTML = "$" + CurrentSale + "&nbsp;(<span style='color: red;'>" + SalePercentage.toFixed(2) + "%</span>)";
                    }

                    if (Status == 'InActive') {
                        // row.cells[12].innerHTML = '<img src= "@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")"  Title="Account InActive"/>'
                        row.cells[12].innerHTML = '<span class="st_inactive" > IN ACTIVE </span>';
                    }
                    else if (Status == "Active") {

                        // alert("active");
                        row.cells[12].innerHTML = '<span class="st_active" > ACTIVE </span>'
                    }
                    else if (Status == "Locked") {


                        row.cells[12].innerHTML = '<span class="st_locked" > LOCKED </span>'
                    }
                    else if (Status == "InCollections") {
                        row.cells[12].innerHTML = '<span class="st_incollections" > INCOLLECTION </span>'
                    }
                    else if (Status == "PastDue") {
                        row.cells[12].innerHTML = '<span class="st_pastdue" > PAST DUE </span>'
                    }
                    else {
                        row.cells[12].style.background = '#969DD5';
                    }
                    GridEffect("kendoGrid", dataItem)
                }




            }
        },

        // specify toolbar commands
        dataSource: {
            page: 1,
            pageSize: 25,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,

            schema: {
                data: "Reclist",
                total: "TotalRec"
            },

            batch: true,
            transport: {

                read: {
                    url: '@Url.Action("GetAllClients", "Office")',
                    data: { Keyword: $('#Keyword').val() },
                    type: "POST"

                },

                parameterMap: function (options) {
                    var data = options;
                    if (options.filter) {
                        var filters = options.filter.filters;
                        for (var i = 0; i < filters.length; i++) {
                            data["filters[" + i + "].Field"] = filters[i].field;
                            data["filters[" + i + "].Operator"] = filters[i].operator;
                            data["filters[" + i + "].Value"] = filters[i].value;
                        }
                    }
                    if (options.sort) {
                        for (var i = 0; i < options.sort.length; i++) {
                            data["sort[" + i + "].Field"] = options.sort[i].field;
                            data["sort[" + i + "].Dir"] = options.sort[i].dir;
                        }
                    }
                    return data;
                }

            }

        }

    });
    $(".k-grid-pager").append(selectList);
        
</script>
<script type="text/x-kendo-template" id="filtertemplate">
                <div class="toolbar">
                    <label class="companytype-label" for="companytype">Company Type:</label>
                    <input type="search" id="companytype" ></input>
                    
                </div>
</script>
<script type="text/javascript">


    function changeGridPageSize(val) {
        var ds = $("#kendoGrid").data("kendoGrid").dataSource;
        var newPageSize = parseInt(val);
        ds.pageSize(newPageSize);
    }
    function BindClientsGrid(ChangedCompany, Report) {

        var pkCompanyTypeId = $('#pkCompanyTypeId').val();

        var LeadStatusText = $('#statustype').val();
        var fkSalesManagerId = $('#fkUserId').val();
        var Accountdate = $('#Accountdate').val();

        var trSpecificDate = document.getElementById("trSpecificDate");
        var txtSpecificDate = $('#txtSpecificDate2').val();
        var trSearch = document.getElementById("trSearch");
        var Month = $('#Month').val();
        var Year = $('#Year').val();


        var txtSpecificFrom = $('#txtSpecificFrom').val();
        var txtSpecificTo = $('#txtSpecificTo').val();
        var trSpecificDateRange = document.getElementById("trSpecificDateRange");



        var trMonth = document.getElementById("trMonth");

        var Keyword = $('#Keyword').val();



        trMonth.style.display = 'none';
        trSearch.style.display = 'none';
        trSpecificDate.style.display = 'none';
        trSpecificDateRange.style.display = 'none';

        if (Accountdate < 4) {


            FilterGrid(LeadStatusText, pkCompanyTypeId, fkSalesManagerId, Keyword, txtSpecificDate, Accountdate, Month, Year, txtSpecificFrom, txtSpecificTo);
        }
        else {
            if (Accountdate == 4) {
                trMonth.style.display = 'block';
                trSearch.style.display = 'block';

            }
            else if (Accountdate == 5) {
                trSpecificDate.style.display = 'block';
                trSearch.style.display = 'block';
            }
            else if (Accountdate == 6) {
                trSpecificDateRange.style.display = 'block';
                trSearch.style.display = 'block';
            }
            if (ChangedCompany == -1) {

                FilterGrid(LeadStatusText, pkCompanyTypeId, fkSalesManagerId, Keyword, txtSpecificDate, Accountdate, Month, Year, txtSpecificFrom, txtSpecificTo);
            }
        }

    }


    function FilterGrid(LeadStatusText, pkCompanyTypeId, fkSalesManagerId, Keyword, txtSpecificDate, Accountdate, Month, Year, txtSpecificFrom, txtSpecificTo) {

        var grid = $("#kendoGrid").data("kendoGrid");
        grid.dataSource.filter([

                          { field: "Accountdate", operator: "eq", value: Accountdate },
                           { field: "fkCompanyTypeId", operator: "eq", value: pkCompanyTypeId },
                           { field: "LeadStatusText", operator: "eq", value: LeadStatusText },
                           { field: "fkSalesManagerId", operator: "eq", value: fkSalesManagerId },
                           { field: "Keyword", operator: "eq", value: Keyword },
                           { field: "CreatedDate", operator: "eq", value: txtSpecificDate },
                            { field: "Month", operator: "eq", value: Month },
                             { field: "Year", operator: "eq", value: Year },
                             { field: "txtSpecificFrom", operator: "eq", value: txtSpecificFrom },
                             { field: "txtSpecificTo", operator: "eq", value: txtSpecificTo }


                         ]);


    }

    function ResetGrid() {

        var pkCompanyTypeId = $('#pkCompanyTypeId').val();

        var LeadStatusText = $('#statustype').val();
        var fkSalesManagerId = $('#fkUserId').val();
        $('#Keyword').val("");

        $("#pkCompanyTypeId").val("").data("kendoDropDownList").text("--All--");
        $("#statustype").val("").data("kendoDropDownList").text("--All--");
        $("#fkUserId").val("").data("kendoDropDownList").text("--All--");
        $("#Accountdate").val("").data("kendoDropDownList").text("--All--");



        var grid = $("#kendoGrid").data("kendoGrid");

        grid.dataSource.filter([{ field: "pkCompanyTypeId", operator: "", value: -5}]);


    }
    function Button_Click(e) {


        BindClientsGrid(0, 'AllReports');

    }
</script>
