﻿@model Emerge.Models.LoginModel
@{
    ViewBag.Title = "emerge";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.blueopal.min.css")" rel="stylesheet"
    type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet"
    type="text/css" />
    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js")" type="text/javascript"></script>
  
}
<style type="text/css">



    img {
border:none;
outline:none;
}
.menuBgsetting
{
 background-color: #a6a6a6;
  height: 28px;
        width: 97%;
}

    .menusetting
    {
        margin-top:10px;
        font-size: 11px;
        font-weight:bold;
    }

    #SettingWheeldiv
    {
        background-color: #E1E1E1;
        border: 2px solid gray;
        display: none;
        height: 47px;
        margin-left: -0px;
        overflow: auto;
        padding: 10px;
        position: absolute;
        width: 120px;
    }

    #SettingWheeldiv3
    {
        background-color: #E1E1E1;
        border: 2px solid gray;
        display: none;
         height:47px;
        margin-left: -0px;
        overflow: auto;
        padding: 10px;
        position: absolute;
        width: 120px;
    }

    #SettingWheeldiv2
    {
        background-color: #E1E1E1;
        border: 2px solid gray;
        display: none;
        height: 47px;
        margin-left: -0px;
        overflow: auto;
        padding: 10px;
        position: absolute;
        width: 120px;
    }

    .tdRightPanel
    {
        z-index: 100;
        position: absolute;
        top: -26.5em;
        left: 0;
        margin-left: -450px;
        width: auto;
        padding: 10px;
        border: 1px solid #000;
        background-color: #fff;
        font: normal 0.9em/1.2em arial, helvetica, sans-serif;
        text-align: left;
        text-align: left;
    }

    .ReportLeft
    {
        z-index: 2000;
        top: -26.5em;
        width: auto;
        border-top: 1px solid #94c0d2;
        border-left: 1px solid #94c0d2;
        border-right: 1px solid #94c0d2;
        border-bottom: 1px solid #94c0d2;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        margin-left: -100px;
    }

  
    .loginMenu
    {
        color:White;
        text-decoration:none;
    }

    .text
    {
        color: #c5bcbd;
        font-size: 12px;
    }

    .text_rem
    {
        color: white;
        font-size: 12px;
        text-decoration: none;
        border:none;
        
    }

    .back
    {
        background-image: url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "top_strip.jpg")');
        background-repeat: repeat-x;
        height: 290px;
    }

    .back1
     {
        background-color: @Html.Raw(ViewBag.loginbackcolor);
        background-repeat: no-repeat;
       @* background-image: url('@Html.Raw(ViewBag.loginbackImg)');*@
        background-image: url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "setting-big-img.png")');
        background-position: top right;
    }

    .back_logo
    {
        background-image: url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "emerge_IndexLogo.jpg")');
        background-repeat: no-repeat;
    }

    input[type="password"]
    {
        height: 20px;
        width: 165px;
        border-top: solid 1px Black;
        border-bottom: solid 1px Black;
        border-left: solid 1px Black;
        border-right: solid 1px Black;
    }

    input[type="text"]
    {
        height: 20px;
        width: 165px;
        border-top: solid 1px Black;
        border-bottom: solid 1px Black;
        border-left: solid 1px Black;
        border-right: solid 1px Black;
    }

    input[type="text"]:Hover
    {
        height: 20px;
    }

    #divCopyright
    {
        float: left;
        padding-left: 25px;
        padding-top: 10px;
        color: #b0b0b0;
        font-size: 11px;
    }

    #divLinks
    {
        float: right;
        padding-top: 10px;
        padding-right: 30px;
        color: #b0b0b0;
        font-size: 11px;
    }

    #divLinks a
    {
        color: #b0b0b0;
        font-size: 11px;
        text-decoration: none;
    }

    .sec_text
    {
        color: #5e5e5e;
        font-size: 11px;
    }

    #divCenter
    {
        background-image: url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "Loginbg_strip.gif")');
        background-repeat: repeat-x;
        height: 390px;
        background-position: bottom;
    }

    #float_left
    {
        color: #848484;
        font-family: Arial;
        font-size: 13px;
        position: absolute;
        text-align: justify;
    }
    
    #float_right
    {
        float: right;
        width: 40%;
        padding: 30px;
    }

    #home_welcome_msg
    {
        color: #666666;
        font-weight: bold;
        font-size: 14px;
    }

    .loadingBgColorImg
    {
        background-color: @Html.Raw(ViewBag.loadingbgColor);
        background-repeat: repeat;
        background-image:url('@Html.Raw(ViewBag.loadingbgImg)');
    }

    #tab_strip
    {
    }

    #tab_strip ul
    {
        float:left;
        margin-top:15px;
        margin-left:15px;
        margin-right:15px;
        padding:0;
        border:none;
    }

    #tab_strip ul li 
    {
       float:left;
       list-style-type:none;
       margin-right:35px;
       margin-bottom:15px;
       outline:none;
       border:none;
       background-color: #a6a6a6;
    }

    #tab_strip ul li a 
    {
        color: #FFFFFF;
        font-family: Arial;
        font-size: 12px;
        font-weight:bold;
        padding-top:15px;
        border:none;
         padding-bottom:15.4px;
         padding-right:10px;
          padding-left:10px;
          outline:none;
        text-decoration: none;
        
    }
    .libgcolor
    {
    background-color: #a6a6a6;
    }

    .placeholder {
  color:#a9a9b8;
  }
   .bodycolor
  {
   background-color: #a5a5a4;
  
  }
   li
   {
   
   outline:none;
   border:none;
   
   }
</style>
<div style="background-color: #eef3fa; margin-bottom: 0px; height: 100%">
    <div id="Loadingimg"  style=" width:100%;  height:760px; background:@Html.Raw(ViewBag.loadingbgColor); display:none; "  >
        <div style=" margin-left:250px; margin-right:250px; height:100%; background-color:@Html.Raw(ViewBag.loadingbgColor);">
            <div style="height: 32%">
            </div>
            <div style="width: 100%;">
                @if (@Model.UserFistLastName != null)
                {
                    <center>
                        <div style="width: 100%;">
                            <center>
                                <span id="OldUserWelCome" style="font-size: 22px; color: #c4c4c4">Welcome Back @Model.UserFistLastName
                                    <br />
                                    <br />
                                    <br />
                                </span>
                            </center>
                        </div>
                    </center>
                }
                else
                { <center>
                    <div style="width: 100%;">
                        <center>
                            <span id="OldUserWelCome1" style="font-size: 22px; margin-left: 0%; color: #c4c4c4">
                                <div id="CurrentUserName" style="">
                                </div>
                                <br />
                                <br />
                            </span>
                        </center>
                    </div>
                </center>
                }
                <center>
                    <div style="width: 100%;">
                        <span id="NewUserWelCome" style="font-size: 22px; display: none; color: #c4c4c4">
                            <div id="CurrentUserName" style="">
                            </div>
                            <br />
                            <br />
                        </span><span>
                            <img src="@Url.Content("~/Content/themes/base/images/RollingGear.gif")" /></span>
                        <br />
                        <br />
                        <span>
                            <img src="@Url.Content("~/Content/themes/base/images/LoadingAfterLogin.png")"  style="width: 125px;"/></span>
                </center>
            </div>
           
        </div>
    </div>
</div>
<div id="Outermaindiv" style="background-color: #eef3fa; margin-bottom: 0px; height: 100%">
    <table class="Outernewmaindiv" cellpadding="0" cellspacing="0" border="0" width="100%"
        style="margin-bottom: 0px">
        <tr>
            <td class="back1" width="100%">
                <div id="pnlDefault">
                    @using (Ajax.BeginForm("../Office/Login", "", new AjaxOptions { OnSuccess = "getResult", OnBegin = "getLoadingImg()" }, new { id = "frmLogin" }))
                    {
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td width="48%" style="padding-left: 50px">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tr>
                                            <td colspan="3" style="padding-top: 153px">
                                                &nbsp;<input type="hidden" value="@Html.Raw(ViewBag.loginbackcolor)" id="loginBgColor" />
                                                <input type="hidden" value="@Html.Raw(ViewBag.loadingbgColor)" id="hdnLoadingColor" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 2px">
                                            </td>
                                            <td align="left" class="text" style="width: 65px">
                                                @if (File.Exists(Request.PhysicalApplicationPath + "Resources/Upload/Images/" + Model.UserImage))
                                                {
                                   
                                                    <span id="UserImgtd">
                                                        <img  src="@Url.Content("~/Resources/Upload/Images/" + Model.UserImage + "")"  height='75px' width='65px' />
                                                    </span>
                                                }
                                                else
                                                {
                                                    if (@Model.UserName != null)
                                                    {
                                                    <span id="UserImgtd">
                                                        <img src="@Url.Content("~/Content/themes/base/images/NotAvail.png")"  height='75px' width='65px' /></span>
                                                    }
                                                    else
                                                    {
                                                    }
                                                }
                                            </td>
                                            <td align="left" class="text" style="margin-left: 20px; width: 26%">
                                                @if (@Model.UserName == null)
                                                {
@* <span  style=" margin-left:20px;">   @Html.TextBoxFor(x => x.UserName, new { tabindex = "1" })</span><br />*@
                                                }
                                                else
                                                {
                                                    <span id="OldUserlogin" style="margin-left: 10px; display: block; font-size: 20px;
                                                        font-weight: bold; color: #464645;">
                                                        @Model.UserFistLastName</span>
                                                                             
                                                }
                                                <span id="CompanyInfo" style="margin-left: 10px; font-size: 14px; font-weight: bold;
                                                    color: #464645">@Model.CompanyName
                                                    <br />
                                                </span>
                                                @if (@Model.UserName != null)
                                                {
                                                    <span id="rememberme1" style="margin-left: 10px; font-size: medium; color: White">@Html.CheckBoxFor(x => x.RemeberMe, new { style = "vertical-align: middle;" })
                                                        <span class="text_rem" style="font-family: Arial; color: White; font-size: 16px;
                                                            font-style: normal">remember me </span></span>
                                                }
                                            </td>
                                            <td id="tdTakeMeTo" visible="false" align="left" class="text" style="">
                                                @if (@Model.UserName != null)
                                                {
                                                   
                                                    <div id="NewUserChange2" style="display: block; margin-left: 1%; padding-bottom: 13px;
                                                        width: 140px; border: none;">
                                                        <a href="javascript:void(0);" class="text_rem" onclick="ShowTwoOptionDiv2();">
                                                            <img  id="NewUserChange2SettingWheel" src="@Url.Content("~/Content/themes/base/images/black-setting-icon.png")"  style="padding-top:3px;padding-left:6px;" onmouseover="ShowTwoOptionDiv2()" />
                                                            <div id="SettingWheeldiv2" style="background-color: #3a3a3a; border: none; border-top-style: none">
                                                                <div class="text_rem1" style="color: #ffffff; font-weight: bold; font-size: 15px;
                                                                    padding-bottom: 7px" onclick="showPopUp();" title=" Forgot Pasword">
                                                                    forgot password
                                                                </div>
                                                                <div class="text_rem1" style="color: #ffffff; font-weight: bold; font-size: 15px;
                                                                    padding-bottom: 4px; display: none;" onclick="ContactSupport();" title="Contact Support">
                                                                    contact support
                                                                </div>
                                                                <div class="text_rem1" style="color: #ffffff; font-weight: bold; font-size: 15px;"
                                                                    onclick="LoginWithNewUser();" title=" New User">
                                                                    new user
                                                                </div>
                                                            </div>
                                                            <br />
                                                        </a>
                                                    </div>
                                                }
@*  <asp:Label ID="lblTakeMeTo" runat="server" Text="Take Me To" Visible="false" />*@
                                            </td>
                                        </tr>
                                        <tr style="height: 30px; margin-bottom: 20px">
                                            <td style="width: 2px">
                                            </td>
                                            <td align="left" colspan="2">
                                                @if (@Model.UserName == null)
                                                {
                                                    <span id="NewUserlogin1" style="display: block;">@Html.TextBoxFor(x => x.UserName, new { tabindex = "1", @placeholder = " email", @Style = "Width:86%; height:30px;  font-variant:normal; font-size:13px;  font-weight:bold; border-color:#8b8b8b; background-color:#e1e1e1;padding:0em .2em;" })
                                                        <br />
                                                    </span> 
                                                }
                                                <span id="NewUserlogin" style="display: none;">@Html.TextBoxFor(x => x.UserName, new { tabindex = "1", @placeholder = " email", @Style = "Width:86%; height:30px; font-size:13px;  font-variant:normal; font-weight:bold; border-color:#8b8b8b; background-color:#e1e1e1;padding:0em .2em;" })
                                                    <br />
                                                </span>
                                            </td>
                                            <td align="left" class="empty">
                                                @if (@Model.UserName == null)
                                                {
                                                  
                                                    <span id="NewUserChangeSpan" style="display: block; width: 140px; padding-bottom: 13px;
                                                        margin-left: 1%;"><a href="javascript:void(0);" class="text_rem" onclick="ShowTwoOptionDiv()">
                                                            <img id="NewUserImgSettingWheel1" src="@Url.Content("~/Content/themes/base/images/black-setting-icon.png")" style="padding-top:3px;padding-left:6px;"   onmouseover="ShowTwoOptionDiv()"/>
                                                            <div id="SettingWheeldiv" style="background-color: #3a3a3a; border: none;">
                                                                <div class="text_rem1" style="color: #ffffff; font-weight: bold; font-size: 15px;
                                                                    padding-bottom: 7px" onclick="showPopUp();" title=" Forgot Pasword">
                                                                    forgot password
                                                                </div>
                                                                <div class="text_rem1" style="color: #ffffff; font-weight: bold; font-size: 15px;
                                                                    padding-bottom: 4px; display: none;" onclick="ContactSupport();" title="Contact Support">
                                                                    contact support
                                                                </div>
                                                                <div class="text_rem1" style="color: #ffffff; font-weight: bold; font-size: 15px;"
                                                                    onclick="LoginWithNewUser();" title=" New User">
                                                                    new user
                                                                </div>
                                                            </div>
                                                            <br />
                                                        </a></span>
                                                }
                                              
                                                <span id="NewUserChangeOption" style="display: none; width: 140px; padding-bottom: 13px;
                                                    margin-left: 1%;">
                                                    <div class="text_rem" onclick="ShowTwoOptionDiv3()">
                                                        <img  id="NewUserImgSettingWheel2" src="@Url.Content("~/Content/themes/base/images/black-setting-icon.png")"  style="padding-top:3px; padding-left:6px;"  onmouseover="ShowTwoOptionDiv3()"/>
                                                        <div id="SettingWheeldiv3" style="background-color: #3a3a3a; border: none;">
                                                            <div class="text_rem1" style="color: #ffffff; font-weight: bold; font-size: 15px;
                                                                padding-bottom: 7px" onclick="showPopUp();" title=" Forgot Pasword">
                                                                forgot password
                                                            </div>
                                                            <div class="text_rem1" style="color: #ffffff; font-weight: bold; font-size: 15px;
                                                                padding-bottom: 4px; display: none;" onclick="ContactSupport();" title=" New User">
                                                                contact support
                                                            </div>
                                                            <div class="text_rem1" style="color: #ffffff; font-weight: bold; font-size: 15px;"
                                                                onclick="LoginWithNewUser();" title=" New User">
                                                                new user
                                                            </div>
                                                        </div>
                                                        <br />
                                                    </div>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 2px">
                                            </td>
                                            <td colspan="3">
                                                <span style="background-color: White; margin-left: 1px;">@Html.ValidationMessageFor(x => x.UserName)
                                                </span>
                                                <div style="height: 3px;">
                                                    <input type="hidden" value="@Html.Raw(ViewBag.loginbackcolor)" id="loginBgColor" /></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width: 2px">
                                            </td>
                                            <td align="left" class="chrome" colspan="2">
                                                @Html.PasswordFor(x => x.Password, new { tabindex = "1", value = ViewBag.Password, style = "Width:86%; height:30px; font-size:13px; font-weight:bold; background-color:#e1e1e1;border-color:#8b8b8b;padding:0em .2em;", @placeholder = " password", })
                                            </td>
                                            <td id="tdDDLDefaultPage" align="left" width="180px" style="padding-right: 10px;">
                                                @* @Html.DropDownListFor(x => x.DefaultPage, Model.listDefaultPages)*@
                                            </td>
                                            <td align="left">
                                            </td>
                                        </tr>
                                        <tr style="height: 23px">
                                            <td colspan="3">
                                                <span style="background-color: White; margin-left: 5px">
                                                    @Html.ValidationMessageFor(x => x.Password)</span> &nbsp;
                                            </td>
                                        </tr>
                                        <tr style="margin-top: 15px">
                                            <td style="width: 2px">
                                            </td>
                                            <td align="left" colspan="0">
                                                <input type="submit" height="35px"   width="73px" style="background-image: Url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "loginbtn.png")');
                                                    background-repeat: no-repeat; background-color: transparent; border: medium none;
                                                    color: transparent; height: 35px; width: 98px;cursor:pointer;" />
                                            </td>
                                            <td colspan="2">
                                                @if (@Model.UserName == null)
                                                {
                                                    <span id="rememberme2" style="margin-left: 10px; font-size: medium; color: White;">@Html.CheckBoxFor(x => x.RemeberMe, new { style = "vertical-align: middle;" })
                                                        <span class="text_rem">remember me </span></span>
                                                }
                                                else
                                                {


                                                }
                                                <span id="rememberme3" style="margin-left: 10px; font-size: medium; color: White;
                                                    display: none">@Html.CheckBoxFor(x => x.RemeberMe, new { style = "vertical-align: middle;" })
                                                    <span class="text_rem">remember me </span></span>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                </td>
                                <td width="20%">
                                </td>
                                <td width="48%" style="padding-right: 36px">
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tr>
                                            <td align="right" style="padding-top: 20px">
                                                <img src="@Url.Content("~/Content/themes/base/images/emerge-logo-img.png")" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="color: #3a3a3a; font-family: Arial; font-size: 16px; font-weight: bold;
                                                padding-top: 10px">
                                                A New Standard in Background Screening Software
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="color: #ffffff; font-family: Arial; font-size: 16px; font-weight: bold">
                                                now celebrating 3 generations of superior technology
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="right" style="padding-top: 41%">
                                                @if (File.Exists(Request.PhysicalApplicationPath + ViewBag.logoImagePath))
                                                {
                                                    
                                                    <div style="height: 100%; width: 100%;">
                                                        <img src="@Html.Raw(ViewBag.logoImagePath)" height="60px" width="40px" />
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div style="height: 100%; width: 100%;">
                                                        <img src="@Url.Content("~/Content/themes/base/images/LoginLogoImg.png")"  height="60px" width="40px" />
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 10px" colspan="2">
                                </td>
                            </tr>
                        </table>
                    }
                </div>
            </td>
        </tr>
        <tr style="height: 30px;">
            <td id="tab_strip" width="100%" class="menuBgsetting" style="height: 30px;">
                <ul style="height: 30px; background-color: #a6a6a6; margin-bottom: 0px; padding-bottom: 0px;">
                    <li style="width: 0%"></li>
                    <li id="News_2_li" style="width: 2%; display: none;"><a id="News_2_btn" href="#"
                        class="libgcolor" onmouseout="SetPreviousColor(this)" onclick="GetPageContents(this)"
                        onmouseover="ChangebgColor(this)">NEWS</a></li>
                    <li id="Calender_10_li" style="width: 5%; display: none;"><a id="Calender_10_btn"
                        href="#" onmouseout="SetPreviousColor(this)" onclick="GetPageContents(this)"
                        class="libgcolor" onmouseover="ChangebgColor(this)">CALENDER</a></li>
                    <li id="Product_3_li" style="width: 5%; display: none;"><a id="Product_3_btn" href="#"
                        onmouseout="SetPreviousColor(this)" onclick="GetPageContents(this)" class="libgcolor"
                        onmouseover="ChangebgColor(this)">PRODUCTS</a></li>
                    <li id="Features_4_li" style="width: 5%; display: none;"><a id="Features_4_btn" href="#"
                        onclick="GetPageContents(this)" onmouseout="SetPreviousColor(this)" class="libgcolor"
                        onmouseover="ChangebgColor(this)">FEATURES</a></li>
                    <li id="Explore_5_li" style="width: 5%; display: none;"><a id="Explore_5_btn" href="#"
                        onclick="GetPageContents(this)" onmouseout="SetPreviousColor(this)" class="libgcolor"
                        onmouseover="ChangebgColor(this)">EXPLORE</a></li>
                    <li id="Compliance_6_li" style="width: 7%; display: none;"><a id="Compliance_6_btn"
                        href="#" onclick="GetPageContents(this)" onmouseout="SetPreviousColor(this)"
                        class="libgcolor" onmouseover="ChangebgColor(this)">COMPLIANCE</a></li>
                    <li id="Forms_7_li" style="width: 5%"><a id="Forms_7_btn" href="#" onclick="GetPageContents(this)"
                        class="libgcolor" onmouseout="SetPreviousColor(this)" onmouseover="ChangebgColor(this)">
                        FORMS</a></li>
                    <li id="Privacy_8_li" style="width: 7%"><a id="Privacy_8_btn" href="#" onclick="GetPageContents(this)"
                        onmouseout="SetPreviousColor(this)" class="libgcolor" onmouseover="ChangebgColor(this)">
                        PRIVACY</a></li>
                    <li id="Contact_9_li" style="width: 9%"><a id="Contact_9_btn" href="#" onclick="GetPageContents(this)"
                        onmouseout="SetPreviousColor(this)" class="libgcolor" onmouseover="ChangebgColor(this)">
                        CONTACT</a></li>
                    <li id="Home_1_li" style="width: 5%"><a id="Home_1_btn" href="#" onclick="GetPageContents(this)"
                        onmouseout="SetPreviousColor(this)" class="libgcolor" onmouseover="ChangebgColor(this)">
                        HOME</a></li>
                </ul>
                @Html.Partial("../Common/PartialForgetPassword")
            </td>
        </tr>
        <tr style="padding-bottom: 10px">
            <td>
                <div id="tab_Data" style="min-height: 310px; background-color: #a5a5a4;">
                    <br />
                    <div style="margin-left: 100px; margin-top: 40px;">
                        <div id="tab_Data_span" style="margin-right: 15%">
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</div>
<script type="text/javascript">

    function ContactSupport() {
        window.location.href = "mailto:support@intelifi.com";
    }




    $(document).ready(function () {
        if ($.browser.webkit) {
            $("td[class=chrome]").removeAttr("colspan");
            $("td[class=chrome]").attr("colspan", "3");
            $("input[name=Password]").removeAttr("style");
            $("input[name=Password]").attr("style", "Width:51%; height:30px; font-size:13px; font-weight:bold; background-color:#e1e1e1;border-color:#8b8b8b;padding:0em .2em;");




        }



    });

    $(function () {
        if ($.browser.webkit) {

            var readyStateCheckInterval = setInterval(function () {
                if (document.readyState == "complete") {
                    if ($("input[name=UserName]").is(':visible')) {

                        $("input[name=Password]").css({ 'width': (($("input[name=UserName]").width())) + 'px' });
                        clearInterval(readyStateCheckInterval);
                    }
                }
            }, 10);

        }
    });

    var Commomnid = 0;
    function OnloadCompete() {

        document.getElementById("tab_Data_span").innerHTML = '  ';
    }
    OnloadCompete();
    function ShowTwoOptionDiv3() {
//        var NewUserImgSettingWheel2 = document.getElementById("NewUserImgSettingWheel2").src;

//        if (NewUserImgSettingWheel2.indexOf("black") > -1) {

//            var NewPath = NewUserImgSettingWheel2.replace("black", "white");
//            document.getElementById("NewUserImgSettingWheel2").src = NewPath;
//        }
//        else {

//            var NewPath = NewUserImgSettingWheel2.replace("white", "black");
//            document.getElementById("NewUserImgSettingWheel2").src = NewPath;
//        }


//        var bgcolor = document.getElementById("NewUserChangeOption").style.backgroundColor;
//        var loginBgColor = document.getElementById("loginBgColor").value;

//        if (bgcolor == "rgb(58, 58, 58)") {
//            document.getElementById("NewUserChangeOption").style.backgroundColor = loginBgColor;
//        }
//        else {
//            document.getElementById("NewUserChangeOption").style.backgroundColor = "#3a3a3a"
//        }

//        $('#SettingWheeldiv3').toggle();
    }

    function ShowTwoOptionDiv2() {
//        var ImgsettingWheel = document.getElementById("NewUserChange2SettingWheel").src;
//        if (ImgsettingWheel.indexOf("black") > -1) {

//            var NewPath = ImgsettingWheel.replace("black", "white");
//            document.getElementById("NewUserChange2SettingWheel").src = NewPath;
//        }
//        else {

//            var NewPath = ImgsettingWheel.replace("white", "black");
//            document.getElementById("NewUserChange2SettingWheel").src = NewPath;
//        }


//        var bgcolor = document.getElementById("NewUserChange2").style.backgroundColor;
//        var loginBgColor = document.getElementById("loginBgColor").value;

//        if (bgcolor == "rgb(58, 58, 58)") {
//            document.getElementById("NewUserChange2").style.backgroundColor = loginBgColor;
//        }
//        else {
//            document.getElementById("NewUserChange2").style.backgroundColor = "#3a3a3a"
//        }

//        $('#SettingWheeldiv2').toggle();
    }
    function ShowTwoOptionDiv() {
//        var NewUserImgSettingWheel1 = document.getElementById("NewUserImgSettingWheel1").src;

//        if (NewUserImgSettingWheel1.indexOf("black") > -1) {

//            var NewPath = NewUserImgSettingWheel1.replace("black", "white");
//            document.getElementById("NewUserImgSettingWheel1").src = NewPath;
//        }
//        else {

//            var NewPath = NewUserImgSettingWheel1.replace("white", "black");
//            document.getElementById("NewUserImgSettingWheel1").src = NewPath;
//        }

//        var bgcolor = document.getElementById("NewUserChangeSpan").style.backgroundColor;
//        var loginBgColor = document.getElementById("loginBgColor").value;

//        if (bgcolor == "rgb(58, 58, 58)") {
//            document.getElementById("NewUserChangeSpan").style.backgroundColor = loginBgColor;
//        }
//        else {
//            document.getElementById("NewUserChangeSpan").style.backgroundColor = "#3a3a3a"
//        }


//        $('#SettingWheeldiv').toggle();

    }
    function hideTwoOptionDiv3() {

        $('#SettingWheeldiv3').toggle();

    }

    function hideTwoOptionDiv2() {

        $('#SettingWheeldiv2').toggle();

    }
    function hideTwoOptionDiv() {

        $('#SettingWheeldiv').toggle();

    }



    function getLoadingImg() {
        var hdnLoadingColor = document.getElementById("hdnLoadingColor").value;

        document.body.style.backgroundColor = hdnLoadingColor;
        document.getElementById("Loadingimg").style.display = 'block';
        document.getElementById("Outermaindiv").style.display = 'none';

    }

    function ChangebgColor(e) {

        var btnId = e.id;
        var Controlid = btnId.split('_')[1];
        $(".libgcolor").css("background-color", "#a6a6a6");
        $("#tab_strip ul li a").css("color", "#FFFFFF");
        document.getElementById(btnId).style.color = '#a6a6a6';
        $(".libgcolor").attr("onmouseout", "SetPreviousColor(this)");
        if (Controlid == 1) {
            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.HomeColor)';

        }
        if (Controlid == 2) {

            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.NewsColor)';


        }
        if (Controlid == 3) {

            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.ProductsColor)';

        }
        if (Controlid == 4) {

            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.FeaturesColor)';

        }


        if (Controlid == 5) {

            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.ExploreColor)';


        }
        if (Controlid == 6) {

            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.ComplianceColor)';

        }
        if (Controlid == 7) {

            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.FormsColor)';
        }
        if (Controlid == 8) {

            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.PrivacyColor)';
        }
        if (Controlid == 9) {

            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.ContactColor)';
        }
        if (Controlid == 10) {

            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.CalenderColor)';
        }



    }





    function SetPreviousColor(e) {
        if (Commomnid == "0") {
            var btnId = e.id;
            var Controlid = btnId.split('_')[1];
            document.getElementById(btnId).style.color = '#FFFFFF';
            document.getElementById(btnId).style.backgroundColor = "#a6a6a6";
        }
        else {

            var btnId = e.id;
            var Controlid = btnId.split('_')[1];

            document.getElementById(btnId).style.color = '#FFFFFF';
            document.getElementById(btnId).style.backgroundColor = "#a6a6a6";

            var NewId = Commomnid.split('_')[1];
            if (NewId == 1) {
                document.getElementById(Commomnid).style.color = '#a6a6a6';
                document.getElementById(Commomnid).style.backgroundColor = '@Html.Raw(ViewBag.HomeColor)';
            }

            if (NewId == 2) {
                document.getElementById(Commomnid).style.color = '#a6a6a6';
                document.getElementById(Commomnid).style.backgroundColor = '@Html.Raw(ViewBag.NewsColor)';
            }
            if (NewId == 3) {
                document.getElementById(Commomnid).style.color = '#a6a6a6';
                document.getElementById(Commomnid).style.backgroundColor = '@Html.Raw(ViewBag.ProductsColor)';
            }
            if (NewId == 4) {
                document.getElementById(Commomnid).style.color = '#a6a6a6';
                document.getElementById(Commomnid).style.backgroundColor = '@Html.Raw(ViewBag.FeaturesColor)';
            }
            if (NewId == 5) {
                document.getElementById(Commomnid).style.color = '#a6a6a6';
                document.getElementById(Commomnid).style.backgroundColor = '@Html.Raw(ViewBag.ExploreColor)';
            }
            if (NewId == 6) {
                document.getElementById(Commomnid).style.color = '#a6a6a6';
                document.getElementById(Commomnid).style.backgroundColor = '@Html.Raw(ViewBag.ComplianceColor)';
            }
            if (NewId == 7) {
                document.getElementById(Commomnid).style.color = '#a6a6a6';
                document.getElementById(Commomnid).style.backgroundColor = '@Html.Raw(ViewBag.FormsColor)';
            }
            if (NewId == 8) {
                document.getElementById(Commomnid).style.color = '#a6a6a6';
                document.getElementById(Commomnid).style.backgroundColor = '@Html.Raw(ViewBag.PrivacyColor)';
            }
            if (NewId == 9) {
                document.getElementById(Commomnid).style.color = '#a6a6a6';
                document.getElementById(Commomnid).style.backgroundColor = '@Html.Raw(ViewBag.ContactColor)';
            }
            if (NewId == 10) {
                document.getElementById(Commomnid).style.color = '#a6a6a6';
                document.getElementById(Commomnid).style.backgroundColor = '@Html.Raw(ViewBag.CalenderColor)';
            }

        }




    }

    function GetPageContents(e) {

        var btnId = e.id;

        Commomnid = btnId;
        var Controlid = btnId.split('_')[1];
        $(".libgcolor").css("background-color", "#a6a6a6");
        $("#tab_strip ul li a").css("color", "#FFFFFF");
        $(".libgcolor").removeAttr("onmouseout");

        //  $(".libgcolor").removeAttr("onmouseover");
        document.getElementById(btnId).style.color = '#a6a6a6';
        if (Controlid == 1) {
            document.getElementById("tab_Data_span").innerHTML = '@Html.Raw(@Server.HtmlDecode(@ViewBag.HomeContents))';
            document.getElementById("tab_Data").style.backgroundColor = '@Html.Raw(ViewBag.HomeColor)';
            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.HomeColor)';
            $('div[id=Outermaindiv]').css("background-color", '@Html.Raw(ViewBag.HomeColor)');
            $('body').removeClass("bodycolor");
            document.body.style.backgroundColor = '@Html.Raw(ViewBag.HomeColor)';
            window.location.href = "http://www.intelifi.com/";


        }
        if (Controlid == 2) {


            document.getElementById("tab_Data_span").innerHTML = '@Html.Raw(@Server.HtmlDecode(@ViewBag.NewsContents))';
            document.getElementById("tab_Data").style.backgroundColor = '@Html.Raw(ViewBag.NewsColor)';
            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.NewsColor)';
            $('div[id=Outermaindiv]').css("background-color", '@Html.Raw(ViewBag.NewsColor)');
            $('body').removeClass("bodycolor");

            document.body.style.backgroundColor = '@Html.Raw(ViewBag.NewsColor)';

        }
        if (Controlid == 3) {

            document.getElementById("tab_Data_span").innerHTML = '@Html.Raw(@Server.HtmlDecode(@ViewBag.ProductsContents))';
            document.getElementById("tab_Data").style.backgroundColor = '@Html.Raw(ViewBag.ProductsColor)';
            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.ProductsColor)';
            $('div[id=Outermaindiv]').css("background-color", '@Html.Raw(ViewBag.ProductsColor)');
            $('body').removeClass("bodycolor");
            document.body.style.backgroundColor = '@Html.Raw(ViewBag.ProductsColor)';

        }
        if (Controlid == 4) {


            document.getElementById("tab_Data_span").innerHTML = '@Html.Raw(@Server.HtmlDecode(@ViewBag.FeaturesContents))';
            document.getElementById("tab_Data").style.backgroundColor = '@Html.Raw(ViewBag.FeaturesColor)';
            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.FeaturesColor)';
            $('body').removeClass("bodycolor");
            document.body.style.backgroundColor = '@Html.Raw(ViewBag.FeaturesColor)';

        }


        if (Controlid == 5) {


            document.getElementById("tab_Data_span").innerHTML = '@Html.Raw(@Server.HtmlDecode(@ViewBag.ExploreContents))';
            document.getElementById("tab_Data").style.backgroundColor = '@Html.Raw(ViewBag.ExploreColor)';
            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.ExploreColor)';
            $('div[id=Outermaindiv]').css("background-color", '@Html.Raw(ViewBag.ExploreColor)');
            $('body').removeClass("bodycolor");
            document.body.style.backgroundColor = '@Html.Raw(ViewBag.ExploreColor)';


        }
        if (Controlid == 6) {

            document.getElementById("tab_Data_span").innerHTML = '@Html.Raw(@Server.HtmlDecode(@ViewBag.ComplianceContents))';
            document.getElementById("tab_Data").style.backgroundColor = '@Html.Raw(ViewBag.ComplianceColor)';
            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.ComplianceColor)';

            $('div[id=Outermaindiv]').css("background-color", '@Html.Raw(ViewBag.ComplianceColor)');
            $('body').removeClass("bodycolor");
            document.body.style.backgroundColor = '@Html.Raw(ViewBag.ComplianceColor)';

        }
        if (Controlid == 7) {

            document.getElementById("tab_Data_span").innerHTML = '@Html.Raw(@Server.HtmlDecode(@ViewBag.FormsContents))';
            document.getElementById("tab_Data").style.backgroundColor = '@Html.Raw(ViewBag.FormsColor)';
            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.FormsColor)';
            $('div[id=Outermaindiv]').css("background-color", '@Html.Raw(ViewBag.FormsColor)');
            $('body').removeClass("bodycolor");
            document.body.style.backgroundColor = '@Html.Raw(ViewBag.FormsColor)';
        }
        if (Controlid == 8) {

            document.getElementById("tab_Data_span").innerHTML = '@Html.Raw(@Server.HtmlDecode(@ViewBag.PrivacyContents))';
            document.getElementById("tab_Data").style.backgroundColor = '@Html.Raw(ViewBag.PrivacyColor)';
            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.PrivacyColor)';
            $('div[id=Outermaindiv]').css("background-color", '@Html.Raw(ViewBag.PrivacyColor)');

            $('body').removeClass("bodycolor");
            document.body.style.backgroundColor = '@Html.Raw(ViewBag.PrivacyColor)';
        }
        if (Controlid == 9) {

            document.getElementById("tab_Data_span").innerHTML = '@Html.Raw(@Server.HtmlDecode(@ViewBag.ContactContents))';
            document.getElementById("tab_Data").style.backgroundColor = '@Html.Raw(ViewBag.ContactColor)';
            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.ContactColor)';
            $('div[id=Outermaindiv]').css("background-color", '@Html.Raw(ViewBag.ContactColor)');
            $('body').removeClass("bodycolor");
            document.body.style.backgroundColor = '@Html.Raw(ViewBag.ContactColor)';
        }
        if (Controlid == 10) {


            document.getElementById("tab_Data_span").innerHTML = '@Html.Raw(@Server.HtmlDecode(@ViewBag.CalenderContents))';
            document.getElementById("tab_Data").style.backgroundColor = '@Html.Raw(ViewBag.CalenderColor)';
            document.getElementById(btnId).style.backgroundColor = '@Html.Raw(ViewBag.CalenderColor)';
            $('body').removeClass("bodycolor");
            document.body.style.backgroundColor = '@Html.Raw(ViewBag.CalenderColor)';
        }


    }



    function LoginWithNewUser() {
        document.getElementById("Password").value = "";
        document.getElementById("UserName").value = "";
        document.getElementById("UserImgtd").style.display = 'none';
        document.getElementById("OldUserWelCome").style.display = 'none';
        document.getElementById("NewUserWelCome").style.display = 'block';
        document.getElementById("rememberme1").style.display = 'none';
        document.getElementById("rememberme3").style.display = 'block';
        document.getElementById("NewUserChangeOption").style.display = 'block';
        document.getElementById("CompanyInfo").style.display = 'none';
        document.getElementById("NewUserlogin").style.display = 'block';
        document.getElementById("OldUserlogin").style.display = 'none';
        document.getElementById("NewUserChange2").style.display = 'none';
        if ($.browser.webkit) {

            var readyStateCheckInterval = setInterval(function () {
                if (document.readyState == "complete") {
                    if ($("input[name=UserName]").is(':visible')) {

                        $("input[name=Password]").css({ 'width': (($("input[name=UserName]").width())) + 'px' });
                        clearInterval(readyStateCheckInterval);
                    }
                }
            }, 10);


        }
        //   newfun();
        document.getElementById("oldUserChange").style.display = 'none';


    }


    $("#frgetPopUp").kendoWindow({ title: "Password Recovery" }).data("kendoWindow");
    $("#frgetPopUp").data("kendoWindow").close();
    function showPopUp() {
        $("#dvPopupContainer").show();
        $("#frgetPopUp").data("kendoWindow").center();
        $("#frgetPopUp").data("kendoWindow").open();
    }
    function cancel() {
        $("#frgetPopUp").data("kendoWindow").close();
    }
    function getResult(result) {
        
        //        alert(result.Sts);
        //        alert(result.PageUrl);
        if (result.Sts == "IsLogged") {
            Alreadylogged();
        }
        else if (result.Sts == "Success") {
            document.getElementById("CurrentUserName").innerHTML = "Welcome back " + result.Retunusername;
            var loc = window.location.href.toLowerCase();
            if (loc.indexOf("office/") != -1) {
            location.href = "RedirectToPage?Email=" + $("#UserName").val() + "&Page=" + result.PageUrl;
            }
            else {
              location.href = "Office/RedirectToPage?Email=" + $("#UserName").val() + "&Page=" + result.PageUrl;
            }
        }
        else if (result.Sts == "InvlidUser") {

            ForInvlidUser();
        }
        else if (result.Sts == "IsLocked") {
            IsLocked();
        }
        else if (result.Sts == "IsUserDeactivated") {
            IsUserDeactivated();
        }
        else if (result.Sts == "IsCompanyDeactivated") {
            IsCompanyDeactivated();
        }
        else if (result.Sts == "IsLocationDeactivated") {
            IsLocationDeactivated();
        }
        else {
            ForInvlidUser();
        }

    }

    function checkCapsLock(e) {

        var myKeyCode = 0;
        var myShiftKey = false;
        var myMsg = 'Caps Lock is On.\n\nTo prevent entering your password incorrectly,\nyou should press Caps Lock to turn it off.';
        alert(e.keyCode);
        // Internet Explorer 4+
        if (document.all) {

            myKeyCode = e.keyCode;
            myShiftKey = e.shiftKey;

            // Netscape 4
        } else if (document.layers) {
            myKeyCode = e.which;
            myShiftKey = (myKeyCode == 16) ? true : false;

            // Netscape 6
        } else if (document.getElementById) {
            myKeyCode = e.which;
            myShiftKey = (myKeyCode == 16) ? true : false;

        }

        // Upper case letters are seen without depressing the Shift key, therefore Caps Lock is on
        if ((myKeyCode >= 65 && myKeyCode <= 90) && !myShiftKey) {
            alert(myMsg);

            // Lower case letters are seen while depressing the Shift key, therefore Caps Lock is on
        } else if ((myKeyCode >= 97 && myKeyCode <= 122) && myShiftKey) {
            alert(myMsg);

        }
    }
    $(function () {
        $('#Loadingimg').css({ 'height': (($(document).height())) + 'px' });
        $('#Loadingimg').css({ 'width': (($(document).width())) + 'px' });

        $(window).resize(function () {
            $('#Loadingimg').css({ 'height': (($(document).height())) + 'px' });
            $('#Loadingimg').css({ 'width': (($(document).width())) + 'px' });
        });
    });
    function ForInvlidUser() {

        document.getElementById("Loadingimg").style.display = 'none';
        document.getElementById("Outermaindiv").style.display = 'block';
        alert('Username or Password is Invalid');

        return false;
    }
    function Alreadylogged() {
        document.getElementById("Loadingimg").style.display = 'none';
        document.getElementById("Outermaindiv").style.display = 'block';
        alert('Already Logged In');
        return false;
    }
    function IsLocked() {
        document.getElementById("Loadingimg").style.display = 'none';
        document.getElementById("Outermaindiv").style.display = 'block';
        alert('Is LockedOut Please,try after sometime');
        return false;
    }
    function IsUserDeactivated() {
        document.getElementById("Loadingimg").style.display = 'none';
        document.getElementById("Outermaindiv").style.display = 'block';
        alert('Your account has been temporarily deactivated. Please contact our support team for help. 888.409.1819');
        return false;
    }
    function IsCompanyDeactivated() {
        document.getElementById("Loadingimg").style.display = 'none';
        document.getElementById("Outermaindiv").style.display = 'block';
        alert('Your Company has been temporarily deactivated. Please contact our support team for help. 888.409.1819');
        return false;
    }
    function IsLocationDeactivated() {
        document.getElementById("Loadingimg").style.display = 'none';
        document.getElementById("Outermaindiv").style.display = 'block';
        alert('Your Location has been temporarily deactivated. Please contact our support team for help. 888.409.1819');
        return false;
    }
    function ForSubmitForm() {
        var objBtnLoginId = document.getElementById('ctl00_ContentPlaceHolder1_ModalWindow1_btnSubmit');


        if (window.event.keyCode == 13) {

            objBtnLoginId.click();
            window.event.cancel = true;
            event.returnValue = false;
        }
    }

    $(function () {
        $('body').addClass("bodycolor");
        $('div[id=Outermaindiv]').css("background-color", '#a5a5a4');
        if (jQuery.browser.msie) {
            var input = document.createElement("input");
            if (('placeholder' in input) == false) {

                $('[placeholder]').each(function () {

                    var i = $(this);

                    if (i.val() == '' || i.val() == i.attr('placeholder')) {
                        if (this.type == 'password') {
                            i.addClass('password');
                            this.type = 'text';
                        }

                        i.addClass('placeholder').val(i.attr('placeholder'));

                    }







                });


            }
        }
    });

    function newfun() {
        if (jQuery.browser.msie) {
            var input = document.createElement("input");
            if (('placeholder' in input) == false) {

                $('[placeholder]').each(function () {

                    var i = $(this);
                    if (i.val() == '' || i.val() == i.attr('placeholder')) {
                        if (this.type == 'password') {
                            i.addClass('password');
                            this.type = 'text';
                        }
                        i.addClass('placeholder').val(i.attr('placeholder'));

                    }



                });


            }
        }

    }

    $(function () {

        if (jQuery.browser.msie) {

            var input = document.createElement("input");
            if (('placeholder' in input) == false) {

                $('[placeholder]').focus(function () {

                    var i = $(this);
                    if (i.val() == '' || i.val() == i.attr('placeholder')) {
                        i.val('').removeClass('placeholder');
                        if (i.hasClass('password')) {
                            i.removeClass('password');
                            this.type = 'password';

                        }
                    }
                }).blur(function () {

                    var i = $(this);
                    if (i.val() == '' || i.val() == i.attr('placeholder')) {
                        if (this.type == 'password') {
                            i.addClass('password');
                            this.type = 'text';
                        }
                        i.addClass('placeholder').val(i.attr('placeholder'));

                    }

                }).blur().parents('form').submit(function () {
                    $(this).find('[placeholder]').each(function () {
                        var i = $(this);
                        if (i.val() == '' || i.val() == i.attr('placeholder')) {
                            i.val('');
                        }
                    })
                });
            }


        }
    });



    $(window).resize(function () {

        if ($.browser.webkit) {

            var readyStateCheckInterval = setInterval(function () {
                if (document.readyState == "complete") {
                    if ($("input[name=UserName]").is(':visible')) {


                        $("input[name=Password]").css({ 'width': (($("input[name=UserName]").width())) + 'px' });
                        clearInterval(readyStateCheckInterval);
                    }
                }
            }, 10);


        }
    });




    $('#tdTakeMeTo').mouseenter(function () {
        if ($("#NewUserChange2SettingWheel").is(':visible')) {
            $("#NewUserChange2").css("display", "block");
            $("#NewUserChange2").css("visibility", "visible");
            document.getElementById("NewUserChange2").style.backgroundColor = "#3a3a3a";
            $("#SettingWheeldiv2").css("display", "block");
            $("#SettingWheeldiv2").css("visibility", "visible");
            var img = document.getElementById("NewUserChange2SettingWheel");
            var path = img.src;
            path = path.replace('black-setting-icon.png', 'white-setting-icon.png');
            img.src = path;
        }

    });

    $('#tdTakeMeTo').mouseleave(function () {
        
        if ($("#NewUserChange2SettingWheel").is(':visible')) {
            $("#SettingWheeldiv2").css("visibility", "hidden");
            $("#NewUserChange2").css("visibility", "hidden");
            $("#NewUserChange2SettingWheel").css("visibility", "visible");
            var img = document.getElementById("NewUserChange2SettingWheel");
            var path = img.src;
            path = path.replace('white-setting-icon.png', 'black-setting-icon.png');
            img.src = path;
        }
    });


    $('.empty').mouseenter(function () {
        if ($("#NewUserImgSettingWheel2").is(':visible')) {
            $("#NewUserChangeOption").css("display", "block");
            $("#NewUserChangeOption").css("visibility", "visible");
            document.getElementById("NewUserChangeOption").style.backgroundColor = "#3a3a3a";
            $("#SettingWheeldiv3").css("display", "block");
            $("#SettingWheeldiv3").css("visibility", "visible");
            var img = document.getElementById("NewUserImgSettingWheel2");
            var path = img.src;
            path = path.replace('black-setting-icon.png', 'white-setting-icon.png');
            img.src = path;
        }
        if ($("#NewUserImgSettingWheel1").is(':visible')) {
            $("#NewUserChangeSpan").css("display", "block");
            $("#NewUserChangeSpan").css("visibility", "visible");
            document.getElementById("NewUserChangeSpan").style.backgroundColor = "#3a3a3a";
            $("#SettingWheeldiv").css("display", "block");
            $("#SettingWheeldiv").css("visibility", "visible");
            var img = document.getElementById("NewUserImgSettingWheel1");
            var path = img.src;
            path = path.replace('black-setting-icon.png', 'white-setting-icon.png');
            img.src = path;
        }
    });

    $('.empty').mouseleave(function () {
        if ($("#NewUserImgSettingWheel2").is(':visible')) {
            $("#SettingWheeldiv3").css("visibility", "hidden");
            $("#NewUserChangeOption").css("visibility", "hidden");
            $("#NewUserImgSettingWheel2").css("visibility", "visible");
            var img = document.getElementById("NewUserImgSettingWheel2");
            var path = img.src;
            path = path.replace('white-setting-icon.png', 'black-setting-icon.png');
            img.src = path;
        }
        if ($("#NewUserImgSettingWheel1").is(':visible')) {
           $("#SettingWheeldiv").css("visibility", "hidden");
            $("#NewUserChangeSpan").css("visibility", "hidden");
            $("#NewUserImgSettingWheel1").css("visibility", "visible");
            var img = document.getElementById("NewUserImgSettingWheel1");
            var path = img.src;
            path = path.replace('white-setting-icon.png', 'black-setting-icon.png');
            img.src = path;
            }
  });



            






</script>
