﻿@model Emerge.Models.ClientsModel
@{
    ViewBag.Title = "Edit Client";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}
<link href="~/Content/style.css" rel="stylesheet" type="text/css" />

<style>

.documents{
height: auto;

 width:100%;
  overflow: hidden;

}
   
   
   .simpleTooltip3
    {
       font-family:inherit;
        font-size:13px;
        }

div.header1 { 
    cursor:default; 
}

   
   
   
    .RoundBorder
    {
        border: 1px solid #94c0d2;
        border-radius: 5px;
        padding: 2px;
    }
    .alt_column
    {
        background-color: #d5dbd8;
    }
    

     .jquery-ratings-star 
 {
      font-size: 0pt;
 width: 13px;
  height: 12px;
  background-image: url('@Url.Content("~/Content/themes/base/images/EmptyStar.png")');
 margin: 0px;
  padding: 0px;
     cursor: pointer;
        display: block;
        background-repeat: no-repeat;
  float: left;
 
}

.jquery-ratings-full {
  background-image: url('@Url.Content("~/Content/themes/base/images/FilledStar.png")');
}
    
  
 .tool_tip_1
    {
       
        background-color: #f5f6fa;
        position: absolute;
        z-index: 1000000;
        max-width: 300px;
        -webkit-box-shadow: 0 0 5px #aaa;
        font-size: 12px;
        border-radius: 3px;
        border: 1px solid #767676;
        padding: 4px;
        font-color: #575757;
        font: Arial;
        box-shadow: 0 0 5px #aaa;
    }
  
    .ratings_over {  
       background-image: url('@Url.Content("~/Content/themes/base/images/SavedStar.png")');  
      
    }  
</style>
<div id="DemoPopUp" style="visibility: hidden; display: none">
    <div style="margin-left: 50px; margin-top: 15px">
        <span style="color: Red">*</span> Select Contact
    </div>
    <div style="margin-left: 50px; margin-top: 10px">
        <select id="Contact">
        </select>
    </div>
    <div style="margin-top: 20px">
    </div>
    <table border="0" cellpadding="0" cellspacing="0" width="635px" align="center" class="form_main_tbl">
        <tr style="margin-top: 10px">
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
        <tr style="margin-top: 25px">
            <td style="margin-top: 25px">
            </td>
        </tr>
        <tr id="addtrainee1" style="margin-top: 100px">
            <td>
                <table cellspacing="2" cellpadding="5" width="750px" style="height: 30px; font-weight: bold;"
                    class="Center_ImgMVC" align="center ">
                    <tr>
                        <td style="width: 50px; text-align: center">
                            <span style="width: 90%">First Name</span>
                        </td>
                        <td style="width: 50px; text-align: center">
                            <span style="width: 90%">Last Name</span>
                        </td>
                        <td style="width: 50px; text-align: center">
                            <span style="width: 90%">Title</span>
                        </td>
                        <td style="width: 50px; text-align: center">
                            <span style="width: 90%">Phone No</span>
                        </td>
                        <td style="width: 50px; text-align: center">
                            <span style="width: 90%">Ext</span>
                        </td>
                        <td style="width: 50px; text-align: center">
                            <span style="width: 90%">Email</span>
                        </td>
                        <td style="width: 50px; text-align: center">
                            <span style="width: 90%">Action</span>
                        </td>
                        <td style="width: 50px">
                            <input type="hidden" id="ddhdnvalue" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
        </tr>
    </table>
    <div id="onload">
        <label id="popupcontents">
        </label>
    </div>
    <div style="margin-top: 5px">
    </div>
    <div style="margin-top: 2px">
        <table>
            <tr style="height: 2px">
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td style="width: 100px;">
                            </td>
                            <td style="width: 100px; text-align: left">
                                <span style='color: red;'>*</span>Date
                            </td>
                            <td style="width: 100px">
                            </td>
                            <td style="width: 150px">
                            </td>
                            <td style="width: 200px">
                                <span style='color: red;'>*</span>Time
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="height: 2px">
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td style="width: 100px;">
                            </td>
                            <td style="width: 100px; text-align: left">
                                <input id="ScheduleDate" value="10/10/2011" style="width: 150px;" />
                            </td>
                            <td style="width: 100px">
                            </td>
                            <td style="width: 100px">
                            </td>
                            <td style="width: 200px">
                                <input id="ScheduleTime" value="1" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div style="margin-left: 45px">
            <table style="width: 700px">
                <tr>
                    <td style="text-align: left">
                        <h3>
                            Comments</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea style="height: 60px; width: 700px;" cols="20" rows="2" id="TraineeComments"
                            name="UserNote" class="NoteTextBoxStyle">Model.UserNote</textarea>
                    </td>
                </tr>
            </table>
            <table style="width: 650px">
                <tr>
                    <td style="width: 230px">
                    </td>
                    <td style="width: 200px">
                        <input type="button" id="Sendbtn" onclick="Savetrainees()" value="Send" class="Editbtn"
                            style="cursor: pointer; border: 1px solid #94c0d2" />
                    </td>
                    <td style="width: 100px">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td width="20%" valign="top">
            <div style="width: 100%; height: 100%; overflow: hidden;">
                <div id="content-box1">
                    <div class="padding1">
                        <div id="toolbar-box">
                            <div class="t">
                                <div class="t">
                                    <div class="t">
                                    </div>
                                </div>
                            </div>
                            <div class="m">
                                <div class="header1" style="padding: 10px 0px 0px 0px;">
                                    <img src="@Url.Content("~/Content/themes/base/images/call-log-icon.png")" alt="" style="border: none; height: 20px; width: 18px;" />
                                    Call Log
                                </div>
                                <div class="" id="Div3">
                                    <table width="100%">
                                        <tr>
                                            <td width="95%">
                                                <textarea id="TxtCallLog" style="height: 60px; width: 98%;" cols="20" rows="2" name="TxtCallLog"></textarea>
                                                <br />
                                                <input type="button" value="Submit" onclick="SaveCallLog()" /><label style="color: Red;"
                                                    id="validation">
                                                </label>
                                                <div style="float: left;">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td align="center">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="border: 1px solid #cdcdcd;">
                                                <table class="BlackHeader" width="100%">
                                                    <tr>
                                                        <td align="left" width="100%">
                                                            &nbsp; &nbsp;Date <span style="margin-left: 72px">Rep</span>
                                                        </td>
                                                    </tr>
                                                    <table width="100%" style="border: 0px solid #ffffff; background-color: #ffffff;
                                                        padding: 0 0 0 10px;">
                                                        @if (Model.CollGetCommentsForLeadResult != null)
                                                        {
                                                            for (int i = 0; i < Model.CollGetCommentsForLeadResult.Count; i++)
                                                            {
                                                                string Date = Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate.Date.ToString("MM/dd/yyyy").Replace(" ", "");
                                                                string Time = Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate.Date.ToString("hh:MM tt");
                                                                string Space = " ";
                                                                string Date_disp = Date + Space + Time;
                                                            <tr style="background-color: #f5f5f5">
                                                                <td width="60%" height="20px;" align="left">
                                                                    <div style="width: 100%; height: 100%; overflow: hidden;">
                                                                        <label style="margin-right: 7px">
                                                                            @Date_disp
                                                                        </label>
                                                                        <label>
                                                                            @Model.CollGetCommentsForLeadResult.ElementAt(i).FirstName.Substring(0, 1).ToUpper()@Model.CollGetCommentsForLeadResult.ElementAt(i).LastName.Substring(0, 1).ToUpper()</label>
                                                                    </div>
                                                                </td>
                                                                <td width="40%" height="20px;" align="left">
                                                                    <div style="width: 100%; height: 100%; overflow: hidden;">
                                                                        @{int a;
                                                                          if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#').Count() < 2) { a = 0; } else { a = 1; }

                                                                          switch (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[a])
                                                                          {
                                                                              case "1":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-1-on.png")" class="simple_Tooltip1" title="File Started" alt="File Started" style="height:30px;" />
                                                                                 break;
                                                                              case "2":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-2-on.png")" class="simple_Tooltip1" title="Proposal Out" alt="Proposal Out" style="height:30px;" />
                                                                                 break;
                                                                              case "3":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-3-on.png")" class="simple_Tooltip1" title="Agreement Out" alt="Agreement Out" style="height:30px;"/>
                                                                                 break;
                                                                              case "4":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-4-on.png")" class="simple_Tooltip1" title="Agreement In" alt="Agreement In" style="height:30px;" />
                                                                                 break;
                                                                              case "5":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-5-on.png")" class="simple_Tooltip1" title="Activated" alt="Activated" style="height:30px;" />
                                                                                 break;
                                                                              case "10":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/demo_scheduled.png")" class="simple_Tooltip1" title="Demo Scheduled[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].AsDateTime().Date.ToString("MM/dd/yyyy hh:MM tt"),@Model.CompanyName,@Model.MainPhone]" alt=""  onclick="ShowDemoSchedule()" style="height:30px;"/>
                                                                            <input type="hidden" id="hdnDemosendid"  value="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" />                                                                         break;

                                                                              case "11":
               
                                                                            <img src="@Url.Content("~/Content/themes/base/images/document_sent.png")" class="simple_Tooltip1" onclick="DocumentSentf(this.id)" id="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" title="Document Sent[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].Remove(0, 2)]" alt="" style="height:30px;"/>
                                                                                                                                                                                                                                                                                                                                   break;


                                                                              case "12":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/QualityControlSurvey.png")" class="simple_Tooltip1" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2]" alt="Quality Control Survey" style="height:30px;" />
                                                                                                                                                                                       break;
                                                                              case "13":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/Demo_Completed.png")" class="simple_Tooltip1" title="Demo Completed" alt="Demo Completed" style="height:30px;"/>
                                                                                 break;

                                                                              case "6":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")" class="simple_Tooltip1" title="Account Inactive" alt="Account Inactive" style="height:30px;"/>
                                                                                 break;
                                                                              case "7":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-on.png")" class="simple_Tooltip1" title="Locked" alt="Locked" style="height:30px;"/>
                                                                                 break;
                                                                              case "8":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-on.png")" class="simple_Tooltip1" title="Past Due" alt="Past Due" style="height:30px;" />
                                                                                 break;

                                                                              case "9":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-on.png")" class="simple_Tooltip1" title="In Collections" alt="In Collections" style="height:30px;" />
                                                                                 break;
                                                                              default:



                                                                                 break;
                                                                          }
                                                                        }
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr style="background-color: #e0eef5; min-height: 60px;">
                                                                <td colspan="2" align="left" style="">
                                                                    @if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments != null)
                                                                    {

                                                                        string[] stringSeparators = new string[] { "##" };
                                                                        if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Contains("##"))
                                                                        {



                                                                        }
                                                                        else
                                                                        {
                                                                        <div style="padding: 5px">
                                                                            <label class="simpleTooltip3" title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")">@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")</label></div>
                                                                        }

                                                                    }
                                                                </td>
                                                            </tr>
                                                            }
                                                        }
                                                    </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="clr">
                                </div>
                            </div>
                            <div class="b">
                                <div class="rightBottomRptHdrBorder">
                                </div>
                                <div class="leftBottomRptHdrBorder">
                                </div>
                            </div>
                        </div>
                        <div class="clr">
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>
        </td>
        <td width="80%" valign="top">
            <div style="width: 100%; height: 100%; overflow: hidden;">
                <div id="content-box">
                    <div class="padding">
                        <div id="toolbar-box">
                            <div class="t">
                                <div class="t">
                                    <div class="t">
                                    </div>
                                </div>
                            </div>
                            <div class="m" style="height: 70px; margin-bottom: 1px;">
                                <div id="toolbar" class="toolbar">
                                    <div id="updSave">
                                        <table class="toolbar">
                                            <tr>
                                                <td>
                                                    <table id="tbl1" cellspacing="2" cellpadding="5" border="0" style="padding: 5px 0;
                                                        height: 20px; color: White; font-size: 13px; font-weight: bold;">
                                                        <tr>
                                                            <td style="border: 0px solid Gray;">
                                                             @Html.HiddenFor(m => m.pkCompanyId)
                                                                @if (ViewBag.IsActive == 1)
                                                                { 
                                                                    <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-5-on.png")" title="Active" style="border-width: 0px; height:26px;" />
                                            
                                                                }
                                                                else if (ViewBag.IsActive == 2)
                                                                { 
                                                                    <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")" title="Account Inactive" style="border-width: 0px; height:26px;" />
                                            
                                                                }
                                                                else
                                                                { 
                                                                    <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-off.png")" title="Account Inactive" style="border-width: 0px; height:26px;" />
                                            
                                                                }
                                                            </td>
                                                            <td style="border: 0px solid Gray;">
                                                                @if (ViewBag.IsEnabled == false)
                                                                {  <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-on.png")"  id="Locked" title="Locked" style="border-width: 0px; height:26px;"/>       }
                                                                else
                                                                { <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-off.png")"  id="Locked" title="Locked" style="border-width: 0px; height:26px;" /> }
                                                            </td>
                                                            <td style="border: 0px solid Gray;">
                                                                @if (ViewBag.Status == 8)
                                                                {  <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-on.png")" id="Past" title="Past Due" style="border-width: 0px; height:26px;"  /> }
                                                                else
                                                                { <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-off.png")" id="Past" title="Past Due" style="border-width: 0px; height:26px;"  />  }
                                                            </td>
                                                            <td style="border: 0px solid Gray;">
                                                                @if (ViewBag.Status == 9)
                                                                {  <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-on.png")" id="Collection" title="In Collections" style="border-width: 0px; height:26px;"  /> }
                                                                else
                                                                {  <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-off.png")" id="Collection" title="In Collections" style="border-width: 0px; height:26px;"  /> }
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/cancel_button.png")" class="imgbtnClasspnl" title="Cancel" style="height:45px;width:41px;" onclick=goto() />
                                                    <input type="hidden" id="bck" value="@ViewBag.bck" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="header icon-48-categories" style="padding: 5px 0px 0px 55px; width: 45%;">
                                    @if (ViewData["PkCompanyId"] != null)
                                    {
                                        <div>
                                            @Model.CompanyName&#32;&#91;@Model.CityName&#44;@ViewBag.State_Code&#93;</div>
                                    }
                                    else
                                    { 
                                        <div>
                                            Company</div>
                               
                                    }
                                </div>
                            </div>
                            <div class="b">
                                <div class="rightBottomRptHdrBorder">
                                </div>
                                <div class="leftBottomRptHdrBorder">
                                </div>
                            </div>
                        </div>
                        <div class="clr">
                        </div>
                        <div style="text-align: center">
                            <div id="updLabel">
                            </div>
                        </div>
                        @if (Model.IsEdit == true)
                        {
                            
                            
      @*                          <div class="tabs_wrapperc">
	<!-- Original tabs START -->
    <div class="bckimage1loc">
	<div class="original_tabsloc">
		<ul>
		
          <li id="liCompanyInfo" class="liCompanyInfo active"><a id="lnkCompanyInfo" href="EditClient?Id=@ViewBag.LocationId" title="Company Info">
                                            Company Info<span id="spanET"></span></a> </li>
                                        <li id="liBilling" class="liBilling"><a id="lnkBilling" href="ClientBillingStatus?Id=@ViewBag.LocationId" title="Billing">
                                            Billing<span id="spanST"></span></a></li>
                                        <li id="liDataSources" class="liDataSources"><a id="lnkDataSources" href="ClientDataSourceInfo?Id=@ViewBag.LocationId" title="Data Sources">
                                            Data Sources <span id="spanMT"></span></a></li>
	
		</ul>
	</div>
    <!-- Original tabs END -->
    </div>
	<div class="original_tabs_contentloc">
    <div class="innercontent">*@
		   
                              <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                            <div class="t">
                                <div class="t">
                                    <div class="t">
                                    </div>
                                </div>
                            </div>
                            <div class="m">
                            </div>
                            <div class="m">
                           <div style="padding: 0px 0px 10px 0px; width: 100%; height: 17px;
                                                                padding-top: 3px;" class="Center_ImgMVC">
                                <ul id="tabslocation">
                                        <li id="liCompanyInfo" class="current"><a id="lnkCompanyInfo" href="EditClient?Id=@ViewBag.LocationId" title="Company Info">
                                            Company Info<span id="spanET"></span></a> </li>
                                        <li id="liBilling"><a id="lnkBilling" href="ClientBillingStatus?Id=@ViewBag.LocationId" title="Billing">
                                            Billing<span id="spanST"></span></a></li>
                                        <li id="liDataSources"><a id="lnkDataSources" href="ClientDataSourceInfo?Id=@ViewBag.LocationId" title="Data Sources">
                                            Data Sources <span id="spanMT"></span></a></li>
                                    </ul>
                                    </div>
                                    <br />
                                     <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                                    Company Info
                                </div>
                                <div id="Div CompanyInformation" class="expand">
                                    <table width="96%">
                                        <tr style="display: none;">
                                            <td class="alt_column" width="170px">
                                            </td>
                                            <td align="left">
                                                <input id="ctl00_ContentPlaceHolder1_ckbisEnable" type="checkbox" checked="checked"
                                                    name="ctl00$ContentPlaceHolder1$ckbisEnable">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column">
                                                <span class="RequiredFieldsIndicator">*</span> Company Name :
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(m => m.CompanyName, new { @id = "CompanyName", @name = "CompanyName", @class = "k-textbox" })
                                                @Html.ValidationMessageFor(cn => cn.CompanyName)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column" width="170px">
                                                <span class="RequiredFieldsIndicator">*</span> Company Type :
                                            </td>
                                            <td align="left">
                                                @{List<SelectListItem> list = new List<SelectListItem>();
                                                  list.Add(new SelectListItem { Text = "Select", Value = "" });

                                                    @Html.DropDownListFor(x => x.pkCompanyTypeId, list, new { style = "width:227px" });
                                                }
                                                @Html.ValidationMessageFor(cn => cn.pkCompanyTypeId)
                                                @Html.HiddenFor(m => m.pkCompanyTypeId, new { id = "hdnCompanyId" })
                                                @Html.HiddenFor(m => m.CompanyType, new { id = "hdnCompanyName" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column" width="170px">
                                                <span class="RequiredFieldsIndicator">*</span> Permissible Purpose : :
                                            </td>
                                            <td align="left">
                                                <select id="pkPermissibleId" name="pkPermissibleId"  style="width:227px"  required validationmessage="Please Select Permissible Purpose"  class="k-dropdown" value="@Model.pkPermissibleId" disabled="disabled">
                                                </select>
                                                <span class="k-invalid-msg" data-for="pkPermissibleId"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column" width="170px">
                                                <span class="RequiredFieldsIndicator">*</span> Account Number :
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(model => model.CompanyAccountNumber, new { @class = "k-textbox", @id = "CompanyAccountNumber", @ReadOnly = "True" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column">
                                                <span class="RequiredFieldsIndicator">*</span> Account Manager :
                                            </td>
                                            <td align="left">
                                                @{
                                                                                                                                      List<SelectListItem> list2 = new List<SelectListItem>();
                                                                                                                                      list2.Add(new SelectListItem { Text = "Select", Value = "" });

                                                    @Html.DropDownListFor(x => x.fkUserId, list2, new { style = "width:227px" });
                                                }
                                                @Html.ValidationMessageFor(cn => cn.fkUserId)
                                                @Html.HiddenFor(m => m.fkUserId, new { id = "hdnaccountmanagerId" })
                                                @Html.HiddenFor(m => m.FullName, new { id = "hdnfullname" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column">
                                                <span class="RequiredFieldsIndicator">*</span> Sales Associate :
                                            </td>
                                            <td align="left">
                                                @{
                                                                                                                                      List<SelectListItem> list3 = new List<SelectListItem>();
                                                                                                                                      list2.Add(new SelectListItem { Text = "Select", Value = "" });

                                                    @Html.DropDownListFor(x => x.fkSalesAssociateId, list3, new { style = "width:227px" });
                                                }
                                                @Html.ValidationMessageFor(cn => cn.fkSalesAssociateId)
                                                @Html.HiddenFor(m => m.fkSalesAssociateId, new { id = "hdnSalesAssociateId" })
                                                @Html.HiddenFor(m => m.FullName, new { id = "hdnSalesAssociatename" })
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="clr">
                                </div>
                            </div>
                            <div class="b">
                                <div class="b">
                                    <div class="b">
                                    </div>
                                </div>
                            </div>
                        </div>
       
                    
                             <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                            <div class="t">
                                <div class="t">
                                    <div class="t">
                                    </div>
                                </div>
                            </div>
                            <div class="m">
                            </div>
                            <div class="m">
                                <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                                    Location Access Code
                                </div>
                                <div id="DivLocationAccessCode" class="expand">
                                    <table width="96%">
                                        <tr style="display: none;">
                                            <td class="alt_column" width="170px">
                                            </td>
                                            <td align="left">
                                                <input id="ctl00_ContentPlaceHolder1_ckbisEnable" type="checkbox" checked="checked"
                                                    name="ctl00$ContentPlaceHolder1$ckbisEnable">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column">
                                                <span class="RequiredFieldsIndicator">*</span> Address1:
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(m => m.Address1, new { @id = "Address1", @name = "Address1", @class = "k-textbox" })
                                                @Html.ValidationMessageFor(cn => cn.Address1)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column" width="170px">
                                                Address2 :
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(m => m.Address2, new { @id = "Address2", @name = "Address2", @class = "k-textbox" })
                                                @Html.ValidationMessageFor(cn => cn.Address1)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column" width="170px">
                                                <span class="RequiredFieldsIndicator">*</span> State :
                                            </td>
                                            <td align="left">
                                                @Html.HiddenFor(m => m.fkStateId, new { id = "hdnfkStateId" })
                                                <select id="Statedrop" name="fkStateId" class="k-dropdown"  value="@Model.fkStateId"  style="width:227px">
                                                </select>
                                                <span class="k-invalid-msg" data-for="pkStateId"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column">
                                                <span class="RequiredFieldsIndicator">*</span> City :
                                            </td>
                                            <td align="left">
                                                <input type="hidden" id="city_id_hdn" value="@ViewBag.City_id" />
                                                @Html.HiddenFor(m => m.CityName, new { id = "hdnCityName" })
                                             
                                                <select id="CityName" name="CityName" class="k-dropdown" value="@Model.CityName" style="width:227px">
                                                </select><span class="k-invalid-msg" data-for="CityName"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column">
                                                <span class="RequiredFieldsIndicator">*</span> Zipcode :
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(m => m.ZipCod, new { @id = "ZipCod", @name = "ZipCod", @class = "k-textbox" })
                                                @Html.ValidationMessageFor(cn => cn.ZipCod)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column">
                                                <span class="RequiredFieldsIndicator">*</span> Main Contact :
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(m => m.MainContact, new { @id = "MainContact", @name = "MainContact", @class = "k-textbox" })
                                                @Html.ValidationMessageFor(cn => cn.MainContact)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column">
                                                <span class="RequiredFieldsIndicator">*</span> Main Email :
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(m => m.MainEmail, new { @id = "MainEmail", @name = "MainEmail", @class = "k-textbox" })
                                                @Html.ValidationMessageFor(cn => cn.MainEmail)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column">
                                                <span class="RequiredFieldsIndicator">*</span> Main Phone :
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(m => m.MainPhone, new { @id = "MainPhone", @name = "MainPhone", @class = "k-textbox" })
                                                @Html.ValidationMessageFor(cn => cn.MainPhone)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="alt_column">
                                                Main Fax :
                                            </td>
                                            <td align="left">
                                                @Html.TextBoxFor(m => m.MainFaxNumber, new { @id = "MainFaxNumber", @name = "MainFaxNumber", @class = "k-textbox" })
                                                @Html.ValidationMessageFor(cn => cn.MainFaxNumber)
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="clr">
                                </div>
                            </div>
                            <div class="b">
                                <div class="b">
                                    <div class="b">
                                    </div>
                                </div>
                            </div>
                        </div>
                            
       
                            <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                                <div class="t">
                                    <div class="t">
                                        <div class="t">
                                        </div>
                                    </div>
                                </div>
                                <div class="m">
                                </div>
                                <div class="m">
                                    <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                                        Company Review
                                    </div>
                                    <div id="DivCompanyReview" class="expand">
                                        <table width="96%">
                                            <tr>
                                                <td class="alt_column" width="170px">
                                                    Rating :
                                                </td>
                                                <td align="left" width="190px">
                                                    <div id="example-2">
                                                    </div>
                                                    <span id="example-rating-2" style="display: none"></span>
                                                    <input type="text" id="Rating" readonly="readonly" name="Rating"  value="@Model.Rating" style="border-bottom-style:none; border-left-style:none; border-right-style:none; border-top-style:none;display:none"  />
                                                </td>
                                                <td class="alt_column" width="170px">
                                                    Member Since :
                                                </td>
                                                <td align="left">
                                                    <span class="stylereadonly">@Model.MemberSince</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="alt_column" width="170px">
                                                    Last Review :
                                                </td>
                                                <td align="left" width="190px">
                                                    <span class="stylereadonly">@Model.LastReview</span>
                                                </td>
                                                <td class="alt_column" width="170px">
                                                    First Report :
                                                </td>
                                                <td align="left">
                                                    <span class="stylereadonly">@Model.FirstReview</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="alt_column" width="170px">
                                                    Review :
                                                </td>
                                                <td align="left" colspan="3">
                                                    @Html.TextAreaFor(m => m.Review, new { @id = "Review", @name = "Review", @class = "k-textbox", @style = "width:500px; height:30px" })
                                                    <label>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="alt_column" width="170px">
                                                    Company Note :
                                                </td>
                                                <td align="left" colspan="3">
                                                    @Html.TextAreaFor(m => m.CompanyNote, new { @id = "CompanyNote", @name = "CompanyNote", @class = "k-textbox", @style = "width:500px; height:30px" })
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="clr">
                                    </div>
                                </div>
                                <div class="b">
                                    <div class="b">
                                        <div class="b">
                                        </div>
                                    </div>
                                </div>
                            </div> 
         @* </div>
	</div>
	<!-- Original tabs END -->
</div>
             *@               
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
       
                        }
                     
                       
                    
           
              
                      
                        <div class="clr">
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>
        </td>
    </tr>
</table>
<div class="b">
    <div class="b">
        <div class="b">
        </div>
    </div>
</div>
<div class="clr">
</div>
<div class="clr">
</div>
<div id="DocumentSentPop">
    <table width="100%" border="0" style="height: 220px;">
        <tr>
            <td valign="top" align="center">
                <table width="600px" cellpadding="2">
                    <tr>
                        <td align="center">
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="width: 99%">
                            <table border="0" style="width: 100%;">
                                <tr>
                                    <td>
                                        <div>
                                            <table id="GVDocumentSent" cellspacing="0" border="0" style="border-collapse: collapse;">
                                                <tr>
                                                    <th scope="col">
                                                        &nbsp;
                                                    </th>
                                                    <th scope="col">
                                                        &nbsp;
                                                    </th>
                                                    <th scope="col">
                                                        &nbsp;
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td align="left" style="width: 30px;">
                                                    </td>
                                                    <td align="left" style="width: 350px;">
                                                        <label id="DocumentSentheading">
                                                        </label>
                                                    </td>
                                                    <td align="left" style="width: 150px;">
                                                        <label id="anchor">
                                                        </label>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <textarea id="txtbindComment" style="width: 95%;" cols="20" rows="2" name="txtbindComment"></textarea>
                            <br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div class="clr">
</div>
<div class="clr">
</div>


<script type="text/javascript">
     $("#DocumentSentPop").hide();
    function NotFound() {
        alert("File not found.");
   }

  

   function  NotFoundFile() {
        alert("File not found.");
   }
 $("#Contact").kendoDropDownList({
       optionLabel: "Select Contact",
       dataTextField: "Text",
       dataValueField: "Value",

       dataSource: {

           transport: {
               read: {
                   url: '@Url.Action("GetContactNamelist", "office")',
                   type: 'POST'


               }
           }
       },

       
   });

 $("#ScheduleDate").kendoDatePicker();



   var data1 = [
                        { text: "5:00", value: "5:00" },
                        { text: "6:00", value: "6:00" },
                        { text: "7:00", value: "7:00" },
                       { text: "8:00", value: "8:00" },
                        { text: "9:00", value: "9:00" },
                        { text: "10:00", value: "10:00" },
                        { text: "11:00", value: "11:00" },
                       { text: "12:00", value: "12:00" },
                        { text: "1:00", value: "1:00" },
                        { text: "2:00", value: "2:00" },
                        { text: "3:00", value: "3:00" },
                       { text: "4:00", value: "4:00" },
                       { text: "5:00", value: "5:00" }

                    ];

   $("#ScheduleTime").kendoDropDownList({
       dataTextField: "text",
       dataValueField: "value",
       dataSource: data1

   });



   function ShowDemoSchedule() {

       var DemoScheduleId = document.getElementById("hdnDemosendid").value;
       
       $.post('@Url.Action("BindDemoschedulepopup", "office")', { DemoScheduleId: DemoScheduleId }, function (data) {
        
           document.getElementById("ScheduleDate").value = data.date;
           document.getElementById("TraineeComments").value = data.Comments;
           document.getElementById("ScheduleTime").value = data.time;

           document.getElementById("popupcontents").innerHTML = data.label;


       });
       $("#DemoPopUp").show();
       
       document.getElementById("DemoPopUp").style.visibility = "visible";
       document.getElementById("DemoPopUp").style.display = "block";
       document.getElementById("Sendbtn").style.display = "none";
       var windowOpen1 = $("#DemoPopUp").kendoWindow({
           actions: ["Close"],

           height: "550px",
           title: "Schedule Demo",


           width: "820px"


       }).data("kendoWindow");


       windowOpen1.center();
       windowOpen1.open();
   
   }
   
    function DocumentSentf(documentsentid) {

        $.post('@Url.Action("BindDocumentsentFields", "Office")', { DocumentsentId: documentsentid }, function (data) {

            document.getElementById("txtbindComment").value = data.Comment;
            document.getElementById("DocumentSentheading").innerHTML = data.Doc;
            document.getElementById("anchor").innerHTML = data.label;

        });

        $("#DocumentSentPop").show();
        document.getElementById("DocumentSentPop").style.visibility = "visible";
       document.getElementById("DocumentSentPop").style.display = "block";
        $("#DocumentSentPop").kendoWindow({
            title: "Send Documents",
            scrollable: false,
            height: 220,
            width: 670
        }).data("kendoWindow");

        $("#DocumentSentPop").data("kendoWindow").center();
        $("#DocumentSentPop").data("kendoWindow").open();

    }


    function SaveCallLog() {
        if (document.getElementById("TxtCallLog").value == "") {
            document.getElementById("validation").innerHTML = "Please Enter Text.";

        }
        else {

            var Comment = document.getElementById("TxtCallLog").value;
            var pkcompanyid = $("#pkCompanyId").val();
            $.post('@Url.Action("SaveCallLogo", "Office")', { Comment: Comment, pkcompanyid: pkcompanyid }, function (data) {

                if (data.Message != "") {
                    if ('@ViewBag.LocationId' != null) {
                        self.location = "EditClient?Id=" + '@ViewBag.LocationId' + "&bck=" + '@ViewBag.bck';
                    }
                    else {
                          location.href = "../Office/EditClient";
                         }
                }



            });




        }


    }


    function goto() {

        if (document.getElementById("bck").value == "c") {
            location.href = "../Office/Clients";

        }
        else if (document.getElementById("bck").value == "ac") {
            location.href = "../Office/AdminClients";

        }
        else if (document.getElementById("bck").value == "mc") {
            location.href = "../Office/MyClients";

        }
        else
        {
         location.href = "../Office/Clients";
        
        }
    }



    function over(imgId) {
        var img = document.getElementById(imgId);
        if (img != null) {

            var path = img.src;
            path = path.replace('off.png', 'on.png')
            img.src = path;
        }
        return false;
    }
    function out(imgId) {
        var img = document.getElementById(imgId);
        if (img != null) {
            var path = img.src;
            path = path.replace('on.png', 'off.png');
            img.src = path;
        }
        return false;
    }


    function CheckEditValidation() {
        var no = id.split('_')[1];

        var Title = document.getElementById("Title_" + no).value;

        return DisplayMessage(Title, 1);
    }

    function DeleteDocuments(pkDocumentsId) {

        if (confirm("Are you sure to delete Documents?")) {
            $.post('@Url.Action("DeleteDocuments", "Control")', { pkDocumentsId: pkDocumentsId }, function (data) {
                window.location.href = '../Control/AddCompanies?Id1=' + data.Id1 + "&Status=" + data.Status;
            });
        }
        else {
            return false;
        }

    }

    function DisplayMessage(Title, docFileLength) {
        var Msg = '';
        if (Title == '') {
            Msg = "Please enter title";
        }


        if (docFileLength == 0) {
            Msg += "\nPlease upload file";
        }
        if (Msg == '') {
            return true;
        }
        else {
            alert(Msg);
            return false;
        }
    }


    $(document).ready(function () {
        $("#Statedrop").kendoDropDownList({
            optionLabel: "Select",
            dataTextField: "StateName",
            dataValueField: "pkStateId",

            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetStateslistdrop", "Office")',
                        type: "POST"
                    }
                }
            },
            change: function (e) {
                $("#hdnfkStateId").val(this.value());

                $("#CityName").css("display", "block");
                var value = this.value();
                $("#CityName").kendoDropDownList({
                    optionLabel: "Select",
                    dataTextField: "Text",
                    dataValueField: "Value",
                    dataSource: {
                        serverFiltering: true,
                        transport: {
                            read: {
                                url: '@Url.Action("GetCitieslist", "Office")',
                                data: { fkStateId: value },
                                type: "POST"
                            }
                        }
                    },
                    change: function (e) {
                        document.getElementById("hdnCityName").value = this.text();
                        var city2 = $("hdnCityName").val();
                        var ddcitylist2 = $("#CityName").data("kendoDropDownList");
                        ddcitylist2.Text(city2);

                    }
                });
                var CityId = $("#city_id_hdn").val();
        if(CityId!="0")
       {
        var Citydropdownlist = $("#CityName").data("kendoDropDownList");
        Citydropdownlist.value(CityId);
       }
            }
        });
        var pkStateId = $("#hdnfkStateId").val();
        var Statedropdownlist = $("#Statedrop").data("kendoDropDownList");
        Statedropdownlist.value(pkStateId);
 });


    $(document).ready(function () {
        var fkStateId = $("#hdnfkStateId").val();
        $("#CityName").css("display", "block");
        $("#CityName").kendoDropDownList({
            optionLabel: "Select",
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource:
                 {
                     serverFiltering: true,
                     transport: {
                         read: {
                             url: '@Url.Action("GetCitieslist", "Office")',
                             data: { fkStateId: fkStateId },
                             type: "POST"
                         }
                     }
                 },
            change: function (e) {
                document.getElementById("hdnCityName").value = this.text();

            }
        });
        var CityId = $("#city_id_hdn").val();
        if(CityId!="0")
       {
        var Citydropdownlist = $("#CityName").data("kendoDropDownList");
        Citydropdownlist.value(CityId);
       }

    });

    $(document).ready(function () {
        $("#pkCompanyTypeId").kendoDropDownList({
            optionLabel: "Select",
            dataTextField: "CompanyType",
            dataValueField: "pkCompanyTypeId",

            dataSource: {

                transport: {
                    read: {
                        url: '@Url.Action("GetCmpnyTypeDrop", "Office")',
                        type: 'POST'

                    }
                }

            },
            change: function (e) {

                document.getElementById("hdnCompanyId").value = this.value();
                document.getElementById("hdnCompanyName").value = this.text();


            }

        });

        var CompanyId = $("#hdnCompanyId").val();

        var CompanyTypeId = $("#pkCompanyTypeId").data("kendoDropDownList");
        CompanyTypeId.value(CompanyId);

    });
    
    $(document).ready(function () {
        $("#pkPermissibleId").kendoDropDownList({
        optionLabel: "Select",
        dataTextField: "PermissiblePurpose",
        dataValueField: "pkPermissibleId",

        dataSource: {

            transport: {
                read: {
                    url: '@Url.Action("Getpermissiblepurpose", "Office")',
                    type: 'POST'

                    }
                }

            }
        });

        var ddlpkPermissibleId = $("#pkPermissibleId").data("kendoDropDownList");
        ddlpkPermissibleId.value("@Model.pkPermissibleId");

    });

    $(document).ready(function () {
        $("#fkUserId").kendoDropDownList({
            optionLabel: "Select Manger",
            dataTextField: "FullName",
            dataValueField: "fkUserId",

            dataSource: {

                transport: {
                    read: {
                        url: '@Url.Action("GetManagerListDrop", "Office")',
                        type: 'POST'


                    }
                }
            },

            change: function (e) {

                document.getElementById("hdnaccountmanagerId").value = this.value();
                document.getElementById("hdnfullname").value = this.text();


            }
        });
        var accountmanagerId = $("#hdnaccountmanagerId").val();

        var managerId = $("#fkUserId").data("kendoDropDownList");
        managerId.value(accountmanagerId);

    });

    
        $(document).ready(function () {
        $("#fkSalesAssociateId").kendoDropDownList({
            optionLabel: "Select",
            dataTextField: "FullName",
            dataValueField: "fkUserId",

            dataSource: {

                transport: {
                    read: {
                        url: '@Url.Action("GetSalesAssociateList", "Office")',
                        type: 'POST'


                    }
                }
            },

            change: function (e) {

                document.getElementById("hdnSalesAssociateId").value = this.value();
                document.getElementById("hdnSalesAssociatename").value = this.text();


            }
        });
        var SalesAssociateId = $("#hdnSalesAssociateId").val();
        var ddl = $("#fkSalesAssociateId").data("kendoDropDownList");
        ddl.value(SalesAssociateId);
    });


    $(document).ready(function () {
        $('#example-2').ratings(5).bind('ratingchanged', function (event, data) {
            $('#example-rating-2').text(data.rating);


        });
    });


    jQuery.fn.ratings = function (stars, initialRating) {
        var elements = this;

        return this.each(function () {
            if (!initialRating)
                initialRating = parseInt($("#Rating").val());
            var containerElement = this;
            var container = jQuery(this);
            var starsCollection = Array();
            containerElement.rating = initialRating;
            container.css('overflow', 'auto');
            for (var starIdx = 0; starIdx < stars; starIdx++) {
                var starElement = document.createElement('div');
                var star = jQuery(starElement);
                starElement.rating = starIdx + 1;
                star.addClass('jquery-ratings-star');
                if (starIdx < initialRating) {

                    star.addClass('jquery-ratings-full');



                }
                container.append(star);
                starsCollection.push(star);
                star.click(function () {
                    $("#Rating").val(this.rating);
                    for (var index = 0; index < this.rating; index++) {

                        starsCollection[index].addClass('ratings_over');
                        var id = this.rating;
                        setTimeout(function () {

                            for (var index1 = 0; index1 < id; index1++) {

                                starsCollection[index1].removeClass('ratings_over');
                                starsCollection[index1].addClass('jquery-ratings-full');
                            }
                        }, 1000)
                    }
                    for (var index = this.rating; index < stars; index++) {
                        starsCollection[index].removeClass('ratings_over');
                        starsCollection[index].removeClass('jquery-ratings-full');
                    }

                    containerElement.rating = this.rating;

                    elements.triggerHandler("ratingchanged", { rating: this.rating });


                });

                star.mouseenter(function () {


                    for (var index = 0; index < this.rating; index++) {

                        starsCollection[index].addClass('jquery-ratings-full');
                    }
                    for (var index = this.rating; index < stars; index++) {

                        starsCollection[index].removeClass('jquery-ratings-full');
                    }
                });

                container.mouseleave(function () {

                    for (var index = 0; index < containerElement.rating; index++) {
                        starsCollection[index].addClass('jquery-ratings-full');
                    }

                    for (var index = containerElement.rating; index < stars; index++) {
                        starsCollection[index].removeClass('jquery-ratings-full');
                    }
                });
            }
        });
    };



      var ready_State_CheckInterval = setInterval(function () {
            if ($(".simple_Tooltip1").is(':visible')) {
                clearInterval(ready_State_CheckInterval);
                var body = document.getElementsByTagName('body')[0];
                $('.simple_Tooltip1').hover(function () {
                    $('.simple_Tooltip1').click();
                    var title = $(this).attr('title');
                    $(this).data('tipText', title).removeAttr('title');
                    $(this).attr('title', '');
                    $('<p class="tool_tip_1"></p>')
               .text(title)
              .appendTo(body)
              .fadeIn('slow');

                }, function () {
                    $(this).attr('title', $(this).data('tipText'));
                    $(".tool_tip_1").each(function () {
                        $(this).remove();
                    });
                    $('.simple_Tooltip1').click();

                }).mousemove(function (e) {
                    $('.simple_Tooltip1').click();
                    var mousex = e.pageX + 10;
                    var mousey = e.pageY + 10;
                    $('.tool_tip_1')
        .css({ top: mousey, left: mousex })
                });


            }

        }, 200);
 


</script>
