﻿@model Emerge.Models.JunosModel
@{
    ViewBag.Title = "Juno";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}
<style type="text/css">
    .RoundBorder
    {
        border: 1px solid #94c0d2;
        border-radius: 5px;
        padding: 2px;
    }
    .imgbtnJunoUpdate {
    background-color: transparent;
    background-image: url("../content/themes/base/images/validate-juno.png");
    background-repeat: no-repeat;
    height: 35px;
    padding: 1px;
    width: 110px;
}
.st_agreementin
    {
        background-color: #2c55ee;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
       
    }
</style>
<div style="height: 1px">
</div>
<div id="content-box">
    <div class="padding">
        <div id="toolbar-box">
            <div class="t">
                <div class="rightTopRptHdrBorder">
                </div>
                <div class="leftTopRptHdrBorder">
                </div>
            </div>
            <div class="m">
                <div class="toolbar" id="Div1">
                    <table class="toolbar">
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Content/themes/base/images/icon_Move_Lead.png")" id="Move_Lead"  onclick="PopUpDiv_Move()" title="Move Lead" alt="Move Lead"/>
                                <div id="Div_Move">
                                    <div id="CloseDiv_Move" style="background-color: #fbfbfb; width: 16px; height: 16px;
                                        float: right;">
                                        <img src="@Url.Content("~/Content/themes/base/images/publish_x.png")" />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <img src="@Url.Content("~/Content/themes/base/images/upload-juno-new.png")" onclick="PopUp()" title="Upload Juno" alt="Upload Juno" />
                                <div id="DivUpload" style="visibility: hidden; display: none;">
                                <div id="PartialContent">
                                </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="padding: 0px 0px 0px 15px; width: 60%">
                    <img src="@Url.Content("~/Content/themes/base/images/juno-logo.png")"   />
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="rightBottomRptHdrBorder">
                </div>
                <div class="leftBottomRptHdrBorder">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            <div class="t">
                <div class="rightTopRptHdrBorder">
                </div>
                <div class="leftTopRptHdrBorder">
                </div>
            </div>
            <div class="m" id="refresh">
                <div>
                <div style="margin-left:15%;">Showing <span align="center" style="font-size: 16px; width: 60px; font-weight: bold;
                                                                    color: #0b55c4;">
                                                                    <label id="lblTotalRecords">
                                                                    </label>
                                                                </span>records</div>
                    <table border="0" align="center" style="width: 100%">
                     <tr align="center"><td style="width:200px"></td><td></td></tr>
                                    
                        <tr>
                            <td style="width: 13%; vertical-align: top;">
                                <span style="font-weight: bold; color: #0b55c4;">Folders</span>
                                <br />
                                <table class="RoundBorder" width="100%" style="font-size: 12px;">

                                    <tr>
                                        <td>
                                            <a name='anchorfolder' id="trAllJunos" onclick='BindClientsGrid(0)' style="color:Red; cursor:pointer">All Junos @Model.AllJunos
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a name='anchorfolder' id="trProspects" onclick='BindClientsGrid(11)' style='cursor: pointer;'>
                                                New Prospects
                                                @Model.NewProspects</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a name='anchorfolder' id="trLeads" onclick='BindClientsGrid(1)' style='cursor: pointer;'>
                                                Added Leads
                                                @Model.AddedLeads</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a name='anchorfolder' id="trBack" onclick='BindClientsGrid(12)' style='cursor: pointer;'>
                                                Call Back
                                                @Model.CallBack</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a name='anchorfolder' id="trInterested" onclick='BindClientsGrid(13)' style='cursor: pointer;'>
                                                Not Interested
                                                @Model.NotInterested</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a name='anchorfolder' id="trBad" onclick='BindClientsGrid(14)' style='cursor: pointer;'>
                                                Bad Leads
                                                @Model.BadLeads</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width: 1%">
                            </td>
                           
                            <td style="vertical-align: top;">
                                <div id="msgbox" align="center" colspan="2" style="display: none">
                                </div>
                                <div id="gridjunos">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="rightBottomRptHdrBorder">
                </div>
                <div class="leftBottomRptHdrBorder">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
</div>
<div id="MoveDiv">
    <table border="0" id="tableMove" style="width: 300px;" cellpadding="0" cellspacing="0">
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td width="100%">
                <table width="100%" cellpadding="0" style="text-align: left;" cellspacing="0">
                    <tr>
                        <td align="right">
                            Move To :
                        </td>
                        <td align="left">
                            <select id="dropdown1">
                                <option>--Select Folder--</option>
                                <option>New Prospects</option>
                                <option>Call Back</option>
                                <option>Not Interested</option>
                                <option>Bad Leads</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td align="left">
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td align="center">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <input type="button" value="Move" onclick="chkind()" />
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div id="DivUploadJuno" style="visibility: hidden; display: none;">
    <table cellpadding="2" cellspacing="0" width="100%" border="0">
        <tr>
            <td colspan="2" style="padding: 5px;">
                <div>
                    <div style="float: left;">
                        <label id="lblStep">
                            Step : 1)</label>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" valign="top" align="center">
                <label id="lblMessage" style="color: Red;">
                </label>
            </td>
        </tr>
        <tr>
            <td valign="middle">
            @using (Ajax.BeginForm("ValidateJuno", "Office", new AjaxOptions { OnSuccess = "BatchResult" }, new { id = "form1" }))
            { 
                <div id="divStep1" style="min-height: 180px;">
                    <table cellpadding="2" cellspacing="0" border="0" width="100%" style="padding: 0px">
                        <tr>
                            <td>
                                <br />
                            </td>
                            <td>
                                <br />
                            </td>
                            <td align="right">
                            <a id="downloadSample" href="DownloadSample">
                                <img id="ImglnkSample" src="@Url.Content("~/Content/themes/base/images/SampleCsvJuno.jpg")"
                                    alt=""  /></a>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" style="padding-top: 2px;" valign="top">
                                Please choose your file.
                            </td>
                            <td align="left" valign="top">
                                <input id="Junofile" name="Junofile" type="file" />
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <span style="color: Gray; font-size: 12px;">.csv,.xls,.xlsx are allowed.</span>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td align="left" valign="middle">
                                <input type="button" id="btnShowHeader" value="Continue" onclick="SelectSheet();"
                                    style="display: none;" />
                                <img  id="imgloader" style="display:none;" alt="" src="@Url.Content("~/Content/themes/base/images/ajax-loader1.gif")" />
                            </td>
                            <td>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="divStep2" style="overflow-y: scroll; min-height: 180px; display: none;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" style="height: 150px;" valign="middle">
                                <table cellpadding="2" cellspacing="0" border="0">
                                    <tr>
                                        <td align="center" colspan="2">
                                           <input type="checkbox" id="chkIsJunoHeaders" name="chkIsJunoHeaders" /> This data file has headers on the first row?
                                        </td>
                                    </tr>
                                    <tr id="trChooseSheet">
                                        <td align="left" style="width: 50%">
                                            Choose a sheet
                                        </td>
                                        <td align="left" style="width: 50%">
                                            <select id="ddlExcelSheets" width="150px" name="ddlExcelSheets">
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" colspan="2">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <input type="button" id="btnContinueUploadStep2" value="Continue" onclick="GetColumns()" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="divStep3" style="min-height: 180px; display: none;">
                <div id="tickets">
                    <table id="tblMap">
                        <tr>
                            <td width="170px" class="alt_column">
                                <span class="RequiredFieldsIndicator">*</span>Company Name :
                            </td>
                            <td width="418px" align="left">
                                <select id="ddlcompanyName" name="ddlcompanyName" width="150px"  onchange="headerChoose(this.value, this.id);">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="170px" class="alt_column">
                                <span class="RequiredFieldsIndicator">*</span>State :
                            </td>
                            <td width="418px" align="left">
                                <select id="ddlState" name="ddlState" width="150px" onchange="headerChoose(this.value, this.id);">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="170px" class="alt_column">
                                <span class="RequiredFieldsIndicator">*</span>City :
                            </td>
                            <td width="418px" align="left">
                                <select id="ddlCity" name="ddlCity" width="150px" onchange="headerChoose(this.value, this.id);">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="170px" class="alt_column">
                                Zip :
                            </td>
                            <td width="418px" align="left">
                                <select id="ddlZip" name="ddlZip" width="150px" onchange="headerChoose(this.value, this.id);">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="170px" class="alt_column">
                                Address :
                            </td>
                            <td width="418px" align="left">
                                <select id="ddlAddress" name="ddlAddress" width="150px" onchange="headerChoose(this.value, this.id);">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="170px" class="alt_column">
                                Main Contact :
                            </td>
                            <td width="418px" align="left">
                                <select id="ddlMainContact" name="ddlMainContact" width="150px" onchange="headerChoose(this.value, this.id);">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="170px" class="alt_column">
                                Main Email :
                            </td>
                            <td width="418px" align="left">
                                <select id="ddlMainEmail" name="ddlMainEmail" width="150px" onchange="headerChoose(this.value, this.id);">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="170px" class="alt_column">
                                <span class="RequiredFieldsIndicator">*</span>Main Phone :
                            </td>
                            <td width="418px" align="left">
                                <select id="ddlMainPhone" name="ddlMainPhone" width="150px" onchange="headerChoose(this.value, this.id);">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <hr />
                            </td>
                        </tr>
                        <tr>
                            <td width="170px" class="alt_column">
                                <span class="RequiredFieldsIndicator">*</span>Company Type :
                            </td>
                            <td width="418px" align="left">
                                <select id="ddlcompanyType" name="ddlcompanyType" width="150px">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td width="170px" class="alt_column">
                                <span class="RequiredFieldsIndicator">*</span>Lead Source :
                            </td>
                            <td width="418px" align="left">
                                <input type="text" id="TxtLeadSource" name="TxtLeadSource" />
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2">
                                <input type="submit" class="imgbtnJunoUpdate" onclick="return imgbtnJunoValidate();" value="" />
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
                <div id="divStep4" style="overflow-y: scroll; height: 220px; width: 100%; display: none;">
                    <table cellpadding="2" cellspacing="0" width="100%" border="0">
                        <tr>
                            <td align="left" style="display: none;" colspan="1">
                            </td>
                            <td valign="middle" style="display: none;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label id="lblGrid">
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; float: right;">
                                <input type="button" id="FinalContinue" style="display: none;" value="Continue" onclick="ShowResultMessage()" />
                                <input type="button" id="btnStep2Back" style="display: none;" value="Back" onclick="BatchStep2Back();" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="divStep5" style="min-height: 220px; display: none;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="height: 150px;" valign="middle" align="center">
                                <span style="color: Green;">Thank you! your all Juno Prospects are saved successfully.</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                        </tr>
                    </table>
                </div>
            }
            </td>
        </tr>
         <tr>
            <td  colspan="2" align="right" style="float:right;">
                <input type="button" id="btnBack" style="display: none;" value="Back" onclick="BatchBack();" />
            </td>
        </tr>
    </table>
<input type="hidden" id="hidHeaderChoose" value="false" />
</div>
<input type="hidden" value="@Model.Message" id="MESSAGE"/>
<script type="text/javascript">

    function CheckValidations() {
        var validator = $("#tickets").kendoValidator().data("kendoValidator");

        if (validator.validate()) {
            return true;
        } else {
            return false;
        }
    }

    function PopUp() {
  window.location.href = '../office/JunoUpload';
//        document.getElementById("DivUploadJuno").style.visibility = "visible";
//        document.getElementById("DivUploadJuno").style.display = "block";

//        var windowOpen = $("#DivUploadJuno").kendoWindow({
//            actions: ["Close"],
//            draggable: true,
//            modal: true,
//            resizable: true,
//            title: "Upload Juno",
//            height: "350px",
//            width: "665px"

//        }).data("kendoWindow");

//        windowOpen.center();
//        windowOpen.open();
    }

    $("#Junofile").kendoUpload({
        async: {
            saveUrl: "../Office/UploadJuno",
            autoUpload: true,
           
        },
        multiple: false,
        success: onSuccess,
        select: onSelect
      
    });


    function onSuccess(Msg) {
        document.getElementById("lblStep").innerHTML = 'Step 2';
        document.getElementById("btnShowHeader").style.display = 'block';
    }

    function onSelect(e) {

        var Extension = e.files[0].extension;
     if (Extension == ".csv" || Extension == ".xls" || Extension == ".xlsx") {
          $(".k-upload-files.k-reset").find("li").remove();
            return true;
        }
        else {
            alert("Only .csv or .xls or .xlsx files are allowed to upload.")
            e.preventDefault();
        }
    }

    function SelectSheet() {

        document.getElementById("imgloader").style.display = 'block';

        $.post('@Url.Action("btnShowHeader", "Office")', function (SheetNames) {

            document.getElementById("divStep1").style.display = 'none';
            document.getElementById("divStep3").style.display = 'none';
            document.getElementById("divStep2").style.display = 'block';


            if (SheetNames != "") {
                document.getElementById("trChooseSheet").style.display = 'block';
                var ddlExcelSheets = $('#ddlExcelSheets');
                ddlExcelSheets.empty();

                var SheetList = SheetNames.split(',');

                for (var i = 0; i < SheetList.length; i++) {

                    ddlExcelSheets.append(
                    $('<option/>')
                        .attr('value', SheetList[i])
                        .text(SheetList[i])
                );
                }
            }
            else {

                document.getElementById("trChooseSheet").style.display = 'none';
            }
        });
    }

    function GetColumns() {
        document.getElementById("imgloader").style.display = 'block';
        var chkIsJunoHeaders = document.getElementById("chkIsJunoHeaders").checked;
        $.post('@Url.Action("GetFileColumns", "Office")', { SheetName: $('#ddlExcelSheets').val(), chkIsBatchHeaders: chkIsJunoHeaders }, function (Result) {

            if (Result.Status == 0) {
                document.getElementById("lblMessage").innerHTML = "No Header found in uploaded file.";
                document.getElementById("btnBack").style.display = 'block';
            }
            else if (Result.Status == -1) {
                document.getElementById("lblMessage").innerHTML = "No record found in uploaded file.";
                document.getElementById("btnBack").style.display = 'block';
            }
            else {
                document.getElementById("lblStep").innerHTML = 'Step 3) Juno Mapping';
                document.getElementById("lblMessage").innerHTML = '';
                document.getElementById("divStep1").style.display = 'none';
                document.getElementById("divStep2").style.display = 'none';
                document.getElementById("divStep3").style.display = 'block';
                for (var i = 0; i < Result.ControlList.length; i++) {

                    var ddlControl = $('#' + Result.ControlList[i]);
                    ddlControl.empty();
                    ddlControl.append(
                        $('<option/>')
                            .attr('value', -1)
                            .text("--"));

                    for (var j = 0; j < Result.FileColumns.length; j++) {
                        ddlControl.append(
                        $('<option/>')
                            .attr('value', j)
                            .text(Result.FileColumns[j]));
                    }
                }
                var ddlcompanyType = $('#ddlcompanyType');
                ddlcompanyType.empty();
                ddlcompanyType.append(
                        $('<option/>')
                            .attr('value', -1)
                            .text("--"));
                $.each(Result.lstCompanyType, function (index, coll1) {
                    ddlcompanyType.append(
                    $('<option/>').attr('value', coll1.Value)
                      .text(coll1.Text)
                  );
                });
            }
        });
    }

    function BatchBack() {
        document.getElementById("divStep1").style.display = 'block';
        document.getElementById("divStep2").style.display = 'none';
        document.getElementById("divStep3").style.display = 'none';
        document.getElementById("btnBack").style.display = 'none';
        document.getElementById("imgloader").style.display = 'none';
        document.getElementById("lblMessage").innerHTML = '';
        document.getElementById("divStep4").style.display = 'none';
        document.getElementById("divStep5").style.display = 'none';

    }

    function BatchStep2Back() {
        document.getElementById("divStep1").style.display = 'none';
        document.getElementById("divStep2").style.display = 'block';
        document.getElementById("divStep3").style.display = 'none';
        document.getElementById("lblMessage").innerHTML = '';
        document.getElementById("divStep4").style.display = 'none';
        document.getElementById("divStep5").style.display = 'none';
        document.getElementById("btnBack").style.display = 'none';
    }

    function headerChoose(selectVal, ID) {//alert(selectVal);
        var hdn = document.getElementById('hidHeaderChoose');
        var ddl = document.getElementById(ID);
        var isflag = true;
        // alert(hdn.value);
        if (selectVal != -1) {

            var ids = hdn.value.split('#');
            if (ids.length > 0) {
                for (j = 0; j < ids.length; j++) {
                    //alert(ids[j]);
                    var prevDdl = document.getElementById(ids[j]);
                    if (prevDdl != null) {
                        if (ids[j] != ID) {
                            var strUser = prevDdl.options[prevDdl.selectedIndex].value;
                            if (strUser == selectVal) {
                                alert('already selected');
                                ddl.selectedIndex = 0;
                                var SelectedProducts = hdn.value;
                                document.getElementById(ID).value = SelectedProducts.replace('#' + ID, "");
                                isflag = false;
                            }
                        }
                    }
                }
            }
            if (isflag) {
                if (hdn.value.indexOf(ID) == -1) {
                    hdn.value = hdn.value + '#' + ID;
                }
            }
        }
        else {
            if (hdn.value.indexOf(ID) > 0) {
                var SelectedProducts = hdn.value;
                document.getElementById(ID).value = SelectedProducts.replace('#' + ID, "");
            }
        }
    }

    function imgbtnJunoValidate() {
        var validator = $("#tickets").kendoValidator().data("kendoValidator");

        if (validator.validate()) {
            var chkIsJunoHeaders = document.getElementById("chkIsJunoHeaders");
            var ddlcompanyName = document.getElementById('ddlcompanyName');
            var ddlState = document.getElementById('ddlState');
            var ddlCity = document.getElementById('ddlCity');
            var ddlZip = document.getElementById('ddlZip');
            var ddlAddress = document.getElementById('ddlAddress');
            var ddlMainContact = document.getElementById('ddlMainContact');
            var ddlMainEmail = document.getElementById('ddlMainEmail');
            var ddlMainPhone = document.getElementById('ddlMainPhone');
            var ddlcompanyType = document.getElementById('ddlcompanyType');
            var TxtLeadSource = document.getElementById('TxtLeadSource');

            if (chkIsJunoHeaders != null && ddlcompanyName != null && ddlState != null && ddlCity != null && ddlZip != null && ddlAddress != null && ddlMainEmail != null && ddlMainPhone != null && ddlcompanyType != null && TxtLeadSource != null) {

                var ddlcompanyNameIndex = ddlcompanyName.selectedIndex;
                var ddlcompanyNameVALUE = ddlcompanyName.options[ddlcompanyNameIndex].value;
                var ddlStateIndex = ddlState.selectedIndex;
                var ddlStateVALUE = ddlState.options[ddlStateIndex].value;
                var ddlCityIndex = ddlCity.selectedIndex;
                var ddlCityVALUE = ddlCity.options[ddlCityIndex].value;
                var ddlZipIndex = ddlZip.selectedIndex;
                var ddlZipVALUE = ddlZip.options[ddlZipIndex].value;
                var ddlAddressIndex = ddlAddress.selectedIndex;
                var ddlAddressVALUE = ddlAddress.options[ddlAddressIndex].value;
                var ddlMainContactIndex = ddlMainContact.selectedIndex;
                var ddlMainContactVALUE = ddlMainContact.options[ddlMainContactIndex].value;
                var ddlMainEmailIndex = ddlMainEmail.selectedIndex;
                var ddlMainEmailVALUE = ddlMainEmail.options[ddlMainEmailIndex].value;
                var ddlMainPhoneIndex = ddlMainPhone.selectedIndex;
                var ddlMainPhoneVALUE = ddlMainPhone.options[ddlMainPhoneIndex].value;
                var ddlcompanyTypeIndex = ddlcompanyType.selectedIndex;
                var ddlcompanyTypeVALUE = ddlcompanyType.options[ddlcompanyTypeIndex].value;
                var TxtLeadSourceVALUE = document.getElementById('TxtLeadSource').value;
                var chkIsJunoHeadersVALUE = document.getElementById("chkIsJunoHeaders").checked;
                if (ddlcompanyNameVALUE != "-1" && ddlStateVALUE != "-1" && ddlCityVALUE != "-1" && ddlMainPhoneVALUE != "-1" && ddlcompanyTypeVALUE != "-1" && TxtLeadSourceVALUE!="") {
                    return true;
                } else {
                    alert("Please select required fields.");
                    return false;
                }
            }
        } else {
            return false;
        }
       
    }
    
    function BatchResult(Result) {
        document.getElementById("lblStep").innerHTML = 'Step 4) Preview';


        document.getElementById("divStep1").style.display = 'none';
        document.getElementById("divStep2").style.display = 'none';
        document.getElementById("divStep3").style.display = 'none';
        document.getElementById("divStep4").style.display = 'block';
        document.getElementById("divStep5").style.display = 'none';
        document.getElementById("btnBack").style.display = 'none';

        if (Result.CountInvalid > 0) {

            document.getElementById("btnStep2Back").style.display = 'block';
            document.getElementById("FinalContinue").style.display = 'none';
            document.getElementById("lblMessage").innerHTML = "Please correct Invalid Cell data or fill required field data and upload again.";

        }
        else {
            document.getElementById("btnStep2Back").style.display = 'none';
            document.getElementById("lblMessage").innerHTML = "";
            document.getElementById("FinalContinue").style.display = 'block';
        }
        document.getElementById("lblGrid").innerHTML = Result.grid;

        $("#divPop").css("display", "block");

    }

    function ShowResultMessage() {
        $.post('@Url.Action("InsertJuno", "Office")', $('#form1').serialize(), function (data) {
            document.getElementById("lblStep").innerHTML = 'Step 5)';
            document.getElementById("divStep1").style.display = 'none';
            document.getElementById("divStep2").style.display = 'none';
            document.getElementById("divStep3").style.display = 'none';
            document.getElementById("divStep4").style.display = 'none';
            document.getElementById("btnBack").style.display = 'none';
            if (data != null) {
                if (data.status == "-1") {
                    document.getElementById("lblMessage").innerHTML = data.messresult;
                }
                else {
                    document.getElementById("divStep5").style.display = 'block';
                }

            }
        }, 'html');

    }
</script>
<script type="text/javascript">
     var pkCompanyIds = '';
    $(document).ready(function () {
    $("#MoveDiv").hide();
        $("#DivUploadJuno").hide();
       
       
$("#gridjunos").kendoGrid({
        sortable: true,
        pageable: true,
        scrollable: false,
        navigatable: true,
      
        
        columns: [
            { field: "pkCompanyId", width: 300, title: "<input id='chk' type='checkbox' onclick='tickUntick(this.checked)' # />", width: "2%", template: '<input type="checkbox" id="#=pkCompanyId#" class="chkunchk" />',sortable: false },
            { field: "CompanyName", title: "Company Name", width: "8%" ,sortable: false,},
            { field: "CompanyType", title: "Company Type", width: "18%",sortable: false,},
            { field: "LeadSource", title: "Lead Source", width: "12%" ,sortable: false,},
            { field: "City", title: "City", width: "5%",sortable: false, },
            { field: "StateName", title: "State", width: "5%",sortable: false,},
            { field: "MainContactPersonName", title: "Main Contact", width: "5%",sortable: false,},
            { field: "MainEmailId", title: "Main Email", width: "5%",sortable: false,},
            { field: "PhoneNo1", title: "Phone #", width: "15%",sortable: false,},
            { field: "CreatedDate", title: "Upload Date", width: "15%", format: "{0:dd/MM/yy, hh:mm tt}",sortable: false, },
            { field: "LeadStatus", title: "Status", width: "12%",sortable: false},           
            { field: "pkCompanyId", title: "Action", width: "5%", template: '# if (LeadStatus=="13") {#<input type="IMAGE" SRC= "@Url.Content("~/Content/themes/base/images/recycle-small.png")" id="#=pkCompanyId#" onclick="UpdateLeadStatus(this.id)" title="Recycle" />#} #',sortable: false}
           
            ],



        editable: false,
         dataBound: function () {
          var takeTotal = this.dataSource.total();
                       $("#lblTotalRecords").html(takeTotal);
         var gridHeaderRows = $("#gridjunos tbody th");
         var gridRows = $("#gridjunos tbody tr");
         var takeGrid = $("#gridjunos").data("kendoGrid");

         var length = gridRows.length;
         for (i = 0; i < length; i++) {
         var dataItem = takeGrid.dataItem(gridRows[i]);
         var row = gridRows[i];
         var LeadStatus = dataItem.LeadStatus;
         var StatusImage = '';
         var RecycleImage = '';

         if (LeadStatus == 1){
        
         row.cells[10].innerHTML ='<span class="st_filestarted" >File-Started</span>';
         }
         else if (LeadStatus == 2)
         {
         row.cells[10].innerHTML = '<span class="st_proposalout" >Proposal-Out</span>';
         }
         else if (LeadStatus == 3)
         {
          row.cells[10].innerHTML = '<span class="st_agreementout" >Agreement-Out</span>';
         }
         else if (LeadStatus == 4)
         {
        row.cells[10].innerHTML = '<span class="st_agreementin" >Agreement-In</span>';
         }
         else if (LeadStatus == 11)
         {
          row.cells[10].innerHTML = '<span class="st_newprospectus" >New Prospectus</span>';
         }
         else if (LeadStatus == 12)
         {
          row.cells[10].innerHTML = '<span class="st_callback" >Call-Back</span>';
         }
         else if (LeadStatus == 13)
         {
        
         row.cells[10].innerHTML ='<span class="st_notinterested" >Not-Interested</span>';
         }
         else if (LeadStatus == 14)
         {
          row.cells[10].innerHTML = '<span class="st_badlead" >Bad-Lead</span>';
          
         }

          GridEffect("gridjunos", dataItem)


          }
    
        },

    dataSource: {
            page: 1,
            pageSize: 10,

            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,
            schema: {  data: "Reclist", total: "TotalRec",
             model: {
                       fields: {
                            CreatedDate: { type: "date" }
                        }
                    }
                },
          

            batch: true,
            transport: {

                read: {
                    url: '@Url.Action("JunosListBind", "Office")',

                    type: "POST"

                },

                  parameterMap: function (options) {
                            var data = options;
                            if (options.filter) {
                                var filters = options.filter.filters;
                                for (var i = 0; i < filters.length; i++) {
                                    data["filters[" + i + "].Field"] = filters[i].field;
                                    data["filters[" + i + "].Operator"] = filters[i].operator;
                                    data["filters[" + i + "].Value"] = filters[i].value;
                                }
                            }
                            if (options.sort) {
                                for (var i = 0; i < options.sort.length; i++) {
                                    data["sort[" + i + "].Field"] = options.sort[i].field;
                                    data["sort[" + i + "].Dir"] = options.sort[i].dir;
                                }
                            }
                            return data;
                        }



               
            }

        }

    });
      });



function tickUntick(t) {
 if (t == true){$('.chkunchk').each(function(){ this.checked = true; });}
 else{$('.chkunchk').each(function(){ this.checked = false; });}
}


function chkind(){
    var dropdown1 = document.getElementById('dropdown1');
    if(dropdown1.selectedIndex==1){LeadStatus=11};if(dropdown1.selectedIndex==2){LeadStatus=12};if(dropdown1.selectedIndex==3){LeadStatus=13};if(dropdown1.selectedIndex==4){LeadStatus=14};
       $.post('@Url.Action("Move_Click", "Office")', { Status: LeadStatus,CompanyId:pkCompanyIds}, function (data) {
     location.href="../Office/Junos";
       
        });
   pkCompanyIds = '';




    }



function PopUpDiv_Move()
{


        $("#gridjunos .chkunchk").each(function () {
            if ($(this).attr("checked") == 'checked') {

                var pkCompanyId = $(this).attr("id");

                pkCompanyIds =pkCompanyIds + "#" + pkCompanyId;
            }

        });
        if (pkCompanyIds == '') {
            alert("Please select at least one Lead");
        }
        else{
         $("#MoveDiv").show();
        $("#MoveDiv").kendoWindow({
            height: "135px",
          
            scrollable: false

        }).data("kendoWindow");
        $("#MoveDiv").kendoWindow();

        $("#MoveDiv").kendoWindow();

        $("#MoveDiv").data("kendoWindow").center();
        $("#MoveDiv").data("kendoWindow").open();
   
         
      }


}
 
 function BindClientsGrid(LeadStatusText) {

  FilterGrid(LeadStatusText);

  }


   function FilterGrid(LeadStatusText) {
        $("#msgbox").hide();
        if (LeadStatusText == 13) {
            if (document.getElementById("MESSAGE").value!= "") { 
                $("#msgbox").show();$("#msgbox").html(document.getElementById("MESSAGE").value); 
            } 
        }
        if (LeadStatusText == 12) {
            if (document.getElementById("MESSAGE").value!= "") { 
                $("#msgbox").show();$("#msgbox").html(document.getElementById("MESSAGE").value.replace("6","3")); 
            } 
        }
        if(LeadStatusText==0){
            $("#trAllJunos").css('font-weight','bold'); 
        } 
        else{
            $("#trAllJunos").css('font-weight','normal');
        }
        if(LeadStatusText==11){
            $("#trProspects").css('font-weight','bold');
        } 
        else{
            $("#trProspects").css('font-weight','normal');
        }
        if(LeadStatusText==1){
            $("#Move_Lead").css('display','none');
            $("#trLeads").css('font-weight','bold');
        } 
        else{
            $("#Move_Lead").css('display','block');
            $("#trLeads").css('font-weight','normal');
        }
        if(LeadStatusText==12){
            $("#trBack").css('font-weight','bold');
        } 
        else{
            $("#trBack").css('font-weight','normal');
        }
        if(LeadStatusText==13){
            $("#trInterested").css('font-weight','bold');
        } 
        else{
            $("#trInterested").css('font-weight','normal');
        }
        if(LeadStatusText==14){
            $("#trBad").css('font-weight','bold');
        } 
        else{
            $("#trBad").css('font-weight','normal');
        }
        var grid = $("#gridjunos").data("kendoGrid");
        grid.dataSource.filter([{ field: "LeadStatusText", operator: "eq", value: LeadStatusText },]);
    }




function UpdateLeadStatus(CompanyId)
{
    $.post('@Url.Action("LeadStatusUpdate", "Office")', {CompanyId: CompanyId }, function (data) { 
      if (data.UpdateMessage!= "") { 
            $("#msgbox").show();
            $("#msgbox").html(data.UpdateMessage);
         } 
      });
    var grid = $("#gridjunos").data("kendoGrid");
    grid.dataSource.read();
    grid.refresh();
}




</script>
