﻿@{
    ViewBag.Title = "Juno Upload";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}

@*@model Emerge.Models.AddEditLeadsModel*@

<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "EMEdit.js")" type="text/javascript"></script>
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "tooltip.js")" type="text/javascript"></script>
<link href="../../Content/style.scss" rel="stylesheet" type="text/css" />
<link href="~/Content/style.css" rel="stylesheet" type="text/css" />
<link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700' rel='stylesheet' type='text/css'>
<style>
 select {
    border: 1px solid #D6D6D6;
    height: 21px;
    width: 220px;
}
  input
    {
        margin-right: 10px;
    }
   @* .k-dropdown
    {
        margin-right: 10px;
        width: 224px;
        float: left;
    }*@
    .k-invalid-msg, .k-textbox
    {
        float: left;
    }
  .ConnectDel
    {
        height: 24px;
        width: 75px;
        padding: 0 7px 1px;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        background-color: #e6e6e6;
        background-image: url("../Content/textures/highlight.png");
        background-position: 0 center;
        background-position-y: center;
    }
.NoteTextBoxStyle
{
    height: 18px;
    border-color: #7F9DB9;
    border-width: 1px;
    border-style: solid;
    background-color: #ffffe1;
}
.selectedcheckbox
{}
.CallLogoblackstrip {
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    height: 27px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 4px 0 0 10px;
    width: 99%;
}
.Editbtn
    {
        height: 24px;
        width: 75px;
        padding: 0 7px 1px;
        border: 1px solid #94c0d2;
        border-radius: 5px;
        background-color: #daecf4;
        background-image: url("../Content/textures/highlight.png");
        background-position: 0 center;
        background-position-y: center;
    }
    
    .EditDel
    {
        height: 24px;
        width: 75px;
        padding: 0 7px 1px;
        border: 1px solid #94c0d2;
        border-radius: 5px;
        background-color: #daecf4;
        background-image: url("../Content/textures/highlight.png");
        background-position: 0 center;
        background-position-y: center;
    }
.AddNew
    {
        width: 87px;
        background-image: url("../Content/themes/base/images/addTrainee.png");
    }
.Successmsg
{
    font-size: 12px;
    font-weight: bold;
    color: #4F8A10;
   
    float: left;
    width: 99.5%;
    background-color: #F4F4F4;
    background-position: 7px 3px;
    background-repeat: no-repeat;
    font-family: Tahoma;
    font-size: 11px;
    margin: -15px 0 0 -13px;
    padding: 5px 5px 5px 30px;
}
.disableprice
{
 display:none;
}
     .BlackHeader
        {
            margin-bottom: 10px;
            margin-top: 10px;
            width: 99%;
            height: 27px;
            color: #fff;
            font-weight: bold;
            font-size: 13px;
            background-image: "@Url.Content("~/Content/themes/base/images/strip_black.jpg")";
            background-repeat: repeat-x;
            padding: 4px 0px 0px 10px;
        }
.lines
        {
            float: left;
            margin-bottom: 1px;
            width: 100%;
            height: 26px;
        /*   background-color: #f2f7fb;
        */
             margin-top: 3px;
        }
         .label
        {
            float: left;
            height: 26px;
            width: 17%;
          /*  background-color: #f2f7fb;*/
        }
        
        .displaysuccessmsg
{
    font-size: 11px;
    background-position: left;
    background-repeat: no-repeat;
    border: solid 1px #106110;
    color: #3D993D;
    font-weight: bold;
    display: inline-block;
    background-color: #E7FBE7;
    background-image: url('../Content/themes/base/images/tick.png');
    padding: 5px 5px 5px 20px;
}
        .nullgridvalue
        {
            background-color: #e7fbe7;
            border-bottom-color: #529052;
            border-bottom-style: solid;
            border-left-color: #529052;
            border-left-style: solid;
            border-right-color: #529052;
            border-right-style: solid;
            border-top-color: #529052;
            border-top-style: solid;
        }
        .labelunder
        {
            height: 20px;
            width: 78%;
            padding-top: 8px;
            float: right;
            text-align: right;
            background-color: #d5dbd8;
        }
        .textboxunder1
        {
            margin-top: 5px;
            margin-left: 3px;
            height: 22px;
            width: 90%;
            background-color: #f2f7fb;
        }
        
        
        .textboxunder
        {
            
            height: 22px;
            width: 70%;

            
        }
        
        
        .textbox
        {
        
            margin-top: 0px;
            margin-left: 3px;
            width: 70%;
            float: left;
            height: 22px;
            /*background-color: #f2f7fb;*/
        }
        .k-textarea1 {
    padding: 0.4em 0.2em;
    width:400px;
    background-color: #ffffe1;
    
}
.chkDefault{
}
.datetimeformat
{
font-size:12px;font-family:Lucida Grande,Arial,Helvetica,sans-serif;

}
  #divAjaxLoader {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 9000;
        text-align: center;
    }

    #divAjaxLoader-image {
        position: absolute;
        top: 300px;
        left: 610px;
        z-index: 9001;
    }
     #divAjaxLoader1 {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: center;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 9000;
        text-align: center;
    }

    #divAjaxLoader1-image {
        position: absolute;
        top: 200px;
        left: 610px;
        z-index: 9001;
    }

  #kendoGrid .tbCompanyPrice { width:50px;}
</style>
<script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/KendoJS/kendo.web.js")" type="text/javascript"></script>


    @using (Ajax.BeginForm("ValidateJuno1", "office", new AjaxOptions { OnSuccess = "BatchResult" }, new { id = "form1" }))
    { 
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="background-color: #ffffff">
            <tr>
                
                <td width="100%" valign="top">
                    <div id="content-box">
                        <div>
                            @*@using (Ajax.BeginForm("SaveSettings", "Control", new AjaxOptions { OnSuccess = "GetAddUpdateResult" }))*@
                            <div class="padding">
                                <div id="toolbar-box">
                                    <div class="t">
                                        <div class="t">
                                            <div class="t">
                                                <div id="popupCall">
                                                </div>
                                            </div>
                                          
                                        </div>
                                    </div>
                                    <div class="m">
                                        <div class="toolbar" id="toolbar">
                                            
                                        </div>
                                        <div class="header icon-48-categories" style="padding: 0px 0px 0px 55px; height: 40px;
                                            width: 60%; float: left;">
                                            Juno Upload
                                        </div>
                                        <div id="JunoUpload" style="float: right; padding: 8px 10px 0px 0px;">
                                            <img id="inpusub1"  style="cursor: pointer;
                        border: 0;" onclick="return ShowBatch();" title="Upload Juno" src="@Url.Content("~/Content/themes/base/images/upload-juno.png")"/>
                                        </div>
                                         <div id="ValidateJunoDiv" style="float: right; padding: 8px 10px 0px 0px; display: none">
                                           <input type="submit" class="imgbtnJunoUpdate" onclick="return imgbtnJunoValidate();" value="" style=" cursor:pointer;" />
                                           
                                        </div>
                                       
                                        <div class="clr">
                                         <input type="checkbox" id="chkIsJunoHeaders" name="chkIsJunoHeaders23"  style="display:none"/>
                                        </div>
                                    </div>
                                    <div class="b">
                                        <div class="b">
                                            <div class="b">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clr">
                                </div>
                                <div id="element-box">
                                
                                    <div class=" ">
                                        <div id="divMSG" style="text-align: center; display: none;">
                                            @*<span class="Successmsg">@Model.strMessage </span>*@
                                        </div>
                                        <div id="displaymsg" style="display: none; width: 100%; height: 25px; text-align: center;">
                                            <div id="displaymsg1" class="displaysuccessmsg">
                                            </div>
                                        </div>
                                        <div class="elementbox" style="margin-top: 10px; padding-top: 1px;">
                                            <div class="t">
                                                <div class="t">
                                                    <div class="t">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m">
                                            </div>
                                            <div class="m">
                                                <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                                                    Company Information
                                                </div>
                                                <div id="DivCompanyInformation" class="expand">
                                                    

                                                    <div class="lines">
                                                        <div class="label">
                                                            <div class="labelunder">
                                                                <span style='color: red;'>*</span>Company Name :</div>
                                                        </div>
                                                        <div class="textbox">
                                                            <div class="textboxunder">                                                                
                                                                <select id="ddlcompanyName" name="ddlcompanyName"  style="width:227px"  required validationmessage="Please Select Company Name" onchange="headerChoose(this.value, this.id);">
                                                                  <option value='-1'>--</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="lines">
                                                        <div class="label">
                                                            <div class="labelunder">
                                                                Company Url:</div>
                                                        </div>
                                                        <div class="textbox">
                                                            <div class="textboxunder">                                                                
                                                                <select id="ddlCompanyUrl" name="ddlCompanyUrl"  style="width:227px"  required validationmessage="Please Select Company Name" onchange="headerChoose(this.value, this.id);">
                                                                  <option value='-1'>--</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="lines">
                                                        <div class="label">
                                                            <div class="labelunder">
                                                                <span style='color: red;'>*</span>Company Type :</div>
                                                        </div>
                                                        <div class="textbox">
                                                            <div class="textboxunder">
                                                                <select id="ddlCompanyType" name="ddlCompanyType"  style="width:227px"  required validationmessage="Please Select Company Type" >
                                                                  <option value='-1'>--</option>
                                                                </select>
                                                              </div>
                                                        </div>
                                                    </div>
                                                    <div class="lines">
                                                        <div class="label">
                                                            <div class="labelunder">
                                                              @*  <span style='color: red;'>*</span>*@Lead Number :</div>
                                                        </div>
                                                        <div class="textbox">
                                                            <div class="textboxunder">
                                                                <select id="ddlLeadNumber" name="ddlLeadNumber"  style="width:227px"  required validationmessage="Please Select Lead Number" onchange="headerChoose(this.value, this.id);" disabled="disabled">
                                                                  <option value='-1'>--</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="lines">
                                                        <div class="label">
                                                            <div class="labelunder">
                                                                <span style='color: red;'>*</span>Lead Source :</div>
                                                        </div>
                                                        <div class="textbox">
                                                            <div class="textboxunder">
                                                                <select id="ddlLeadSource" name="ddlLeadSource"  style="width:227px"  required validationmessage="Please Select Lead Source" onchange="headerChoose(this.value, this.id);" >
                                                                   <option value='-1'>--</option>
                                                                </select>

                                                             
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clr">
                                                    </div>
                                                    <div class="lines">
                                                        <div class="label">
                                                            <div class="labelunder">
                                                                Account Manager :</div>
                                                        </div>
                                                        <div class="textbox">
                                                            <div class="textboxunder">
                                                            <select id="ddlAccountManager" name="ddlAccountManager"  style="width:227px" onchange="headerChoose(this.value, this.id);"  >
                                                              <option value='-1'>--</option>
                                                                </select>
                                                              </div>
                                                        </div>
                                                    </div>
                                                    <div class="clr">
                                                    </div>
                                                    <div class="lines">
                                                        <div class="label">
                                                            <div class="labelunder">
                                                                Sales Associate :</div>
                                                        </div>
                                                        <div class="textbox">
                                                            <div class="textboxunder">
                                                                <select id="ddlSalesAssociate" name="ddlSalesAssociate"  style="width:227px" onchange="headerChoose(this.value, this.id);">
                                                                  <option value='-1'>--</option>
                                                                </select>
                                                               </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clr">
                                                </div>
                                            </div>
                                            <div class="b">
                                                <div class="b">
                                                    <div class="b">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementbox" style="margin-top: 10px; padding-top: 1px;">
                                            <div class="t">
                                                <div class="t">
                                                    <div class="t">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m">
                                            </div>
                                            <div class="m">
                                                <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                                                    Address Information
                                                </div>
                                                <div id="DivUsers" class="expand">
                                                    <div id="dvcontrol2">
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Address1 :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                     <select id="ddlAddress1" name="ddlAddress1"  style="width:227px" onchange="headerChoose(this.value, this.id);" >
                                                                       <option value='-1'>--</option>
                                                                </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Address2 :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                    <select id="ddlAddress2" name="ddlAddress2"  style="width:227px" onchange="headerChoose(this.value, this.id);" >
                                                                      <option value='-1'>--</option>
                                                                      </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    <span style='color: red;'>*</span>State :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                 <select id="ddlState" name="ddlState"  style="width:227px"  required validationmessage="Please Select State" onchange="headerChoose(this.value, this.id);" >
                                                                   <option value='-1'>--</option>
                                                                    </select>
                                                               
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    City :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                    <select id="ddlCity" name="ddlCity"  style="width:227px"  onchange="headerChoose(this.value, this.id);">
                                                                      <option value='-1'>--</option>
                                                                    </select>
                                                                  </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Zip Code :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                    <select id="ddlZip" name="ddlZip"  style="width:227px"  onchange="headerChoose(this.value, this.id);">
                                                                      <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clr">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clr">
                                                </div>
                                            </div>
                                            <div class="b">
                                                <div class="b">
                                                    <div class="b">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementbox" style="margin-top: 10px; padding-top: 1px;">
                                            <div class="t">
                                                <div class="t">
                                                    <div class="t">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m">
                                            </div>
                                            <div class="m">
                                                <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                                                    Contact Information
                                                </div>
                                                <div id="DivUsers" class="expand">
                                                    <div id="dvcontrol3">
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    <span style='color: red;'>*</span>Main Contact :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">

                                                                    <select id="ddlMainContact" name="ddlMainContact"  style="width:227px"  required validationmessage="Please Select Main Contact" onchange="headerChoose(this.value, this.id);" >
                                                                      <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Main Title :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">

                                                                    <select id="ddlMainTitle" name="ddlMainTitle"  style="width:227px"  required validationmessage="Please Select Main Contact" onchange="headerChoose(this.value, this.id);" >
                                                                      <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    <span style='color: red;'>*</span>Main Email :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                     <select id="ddlMainEmail" name="ddlMainEmail"  style="width:227px"  required validationmessage="Please Select Email" onchange="headerChoose(this.value, this.id);" >
                                                                       <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    <span style='color: red;'>*</span>Main Phone :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                    <select id="ddlMainPhone" name="ddlMainPhone"  style="width:227px"  required validationmessage="Please Select Main Phone" onchange="headerChoose(this.value, this.id);" >
                                                                      <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Main Phone Ext:</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                    <select id="ddlMainPhoneExt" name="ddlMainPhoneExt"  style="width:227px"  required validationmessage="Please Select Main Phone" onchange="headerChoose(this.value, this.id);" >
                                                                      <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Main Fax :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                   <select id="ddlMainFaxNumber" name="ddlMainFaxNumber"  style="width:227px" onchange="headerChoose(this.value, this.id);">  
                                                                   <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                      
                                                    </div>
                                                </div>
                                                <div class="clr">
                                                </div>
                                            </div>
                                            <div class="b">
                                                <div class="b">
                                                    <div class="b">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementbox" style="margin-top: 10px; padding-top: 1px;">
                                            <div class="t">
                                                <div class="t">
                                                    <div class="t">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m">
                                            </div>
                                            <div class="m">
                                                <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                                                   Secondary Contact Information
                                                </div>
                                                <div id="DivUsers" class="expand">
                                                    <div >
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Secondary Contact :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">

                                                                    <select id="ddlSecondaryContact" name="ddlSecondaryContact"  style="width:227px"  required validationmessage="Please Select Secondary Contact" onchange="headerChoose(this.value, this.id);" >
                                                                      <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines" style="display:none;">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Secondary Title :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">

                                                                    <select id="ddlSecondaryTitle" name="ddlSecondaryTitle"  style="width:227px"  required validationmessage="Please Select Secondary Contact" onchange="headerChoose(this.value, this.id);" >
                                                                      <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                   Secondary Email :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                     <select id="ddlSecondaryEmail" name="ddlSecondaryEmail"  style="width:227px"  required validationmessage="Please Select Email" onchange="headerChoose(this.value, this.id);" >
                                                                       <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                   Secondary Phone :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                    <select id="ddlSecondaryPhone" name="ddlSecondaryPhone"  style="width:227px"  required validationmessage="Please Select Secondary Phone" onchange="headerChoose(this.value, this.id);" >
                                                                      <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Secondary Phone Ext:</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                    <select id="ddlSecondaryPhoneExt" name="ddlSecondaryPhoneExt"  style="width:227px"  required validationmessage="Please Select Secondary Phone" onchange="headerChoose(this.value, this.id);" >
                                                                      <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Secondary Fax :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                   <select id="ddlSecondaryFaxNumber" name="ddlSecondaryFaxNumber"  style="width:227px" onchange="headerChoose(this.value, this.id);">  
                                                                   <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>                                                       
                                                    </div>
                                                </div>
                                                <div class="clr">
                                                </div>
                                            </div>
                                            <div class="b">
                                                <div class="b">
                                                    <div class="b">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementbox" style="margin-top: 10px; padding-top: 1px;">
                                            <div class="t">
                                                <div class="t">
                                                    <div class="t">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="m">
                                            </div>
                                            <div class="m">
                                                <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%">
                                                    Additional Information
                                                </div>
                                                <div id="DivUsers" class="expand">
                                                    <div>
                                                       <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Monthly Volume :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                <select id="ddlMonthlyVolume" name="ddlMonthlyVolume"  style="width:227px" onchange="headerChoose(this.value, this.id);">    
                                                                <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Number of Location :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                <select id="ddlNumberOfLocation" name="ddlNumberOfLocation"  style="width:227px" onchange="headerChoose(this.value, this.id);">    
                                                                <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Number of Employees:</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                <select id="ddlNumberOfEmployee" name="ddlNumberOfEmployee"  style="width:227px" onchange="headerChoose(this.value, this.id);">    
                                                                <option value='-1'>--</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Current Provider :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                <select id="ddlCurrentProvider" name="ddlCurrentProvider"  style="width:227px" onchange="headerChoose(this.value, this.id);">    
                                                                <option value='-1'>--</option>
                                                                    </select>
                                                              
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Priority 1 :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
 
                                                                     <select id="ddlPriority1" name="ddlPriority1"  style="width:227px" onchange="headerChoose(this.value, this.id);">    
                                                                     <option value='-1'>--</option>
                                                                    </select>
                                                      </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Priority 2 :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                <select id="ddlPriority2" name="ddlPriority2"  style="width:227px" onchange="headerChoose(this.value, this.id);">  
                                                                <option value='-1'>--</option>
                                                                    </select>
                                         
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                            <div class="label">
                                                                <div class="labelunder">
                                                                    Priority 3 :</div>
                                                            </div>
                                                            <div class="textbox">
                                                                <div class="textboxunder">
                                                                <select id="ddlPriority3" name="ddlPriority3"  style="width:227px" onchange="headerChoose(this.value, this.id);">  
                                                                <option value='-1'>--</option>
                                                                    </select>
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="lines">
                                                        <div class="label" >
                                                            <div class="labelunder" style="text-align: right">
                                                                Lead Note :</div>
                                                        </div>
                                                        <div class="textbox">
                                                            <div class="textboxunder">
                                                             
                                                                 <select id="ddlLeadNote" name="ddlLeadNote"  style="width:227px"  onchange="headerChoose(this.value, this.id);" >
                                                                   <option value='-1'>--</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>


                                                        <div class="clr">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clr">
                                                </div>
                                            </div>
                                            <div class="b">
                                                <div class="b">
                                                    <div class="b">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                       </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    }

@*//ND-23*@
<div id="DivUploadJuno" style="display: none; overflow:scroll; width: 100%;">
       
    <table cellpadding="2" cellspacing="0" style="width:100%; height:100%"; border="0">

        <tr style="width:95%; height:12%; vertical-align:middle; margin-top:0%; align-items:center" id="step1">
            <td colspan="2">

                @*<div class="checkout-wrap">*@
                    <ul class="checkout-bar" >

                        <li class="active"></li>

                        <li class="Next"></li>

                        <li class=""></li>

                        <li class=""></li>

                    </ul>             
            </td>


             <td align="right" style="vertical-align:bottom;"><a id="downloadSample" href="DownloadSample1" onclick="">
                                <img id="ImglnkSample" src="@Url.Content("~/Content/themes/base/images/SampleCsvJuno.jpg")"
                                    alt=""  /></a> </td>
        </tr>  
        <tr style="width:95%; height:12%; vertical-align:middle; display:none; margin-top:0%" align-items:"center" id="step2">
                       
             <td style="width:90%"> <ul class="checkout-bar" >

                        <li class="visited"></li>

                        <li class="active"></li>

                        <li class="next"></li>

                        <li class=""></li>

                    </ul>
                            </td>
            <td align="right" style="vertical-align:bottom;"><a id="downloadSample" href="DownloadSample1" onclick="">
                                <img id="ImglnkSample" src="@Url.Content("~/Content/themes/base/images/SampleCsvJuno.jpg")"
                                    alt=""  /></a> </td>
                        </tr>   
         
         <tr style="width:95%; height:12%; vertical-align:middle; display:none; margin-top:0%;"  align-items:"center" id="step3">
                        <td style="width:90%"> <ul class="checkout-bar" >

                        <li class="visited"></li>

                        <li class="visited"></li>

                        <li class="active"></li>

                        <li class="next"></li>

                    </ul>
                            </td>
             <td align="right" style="vertical-align:bottom;"><a id="downloadSample" href="DownloadSample1" onclick="">
                                <img id="ImglnkSample" src="@Url.Content("~/Content/themes/base/images/SampleCsvJuno.jpg")"
                                    alt=""  /></a> </td>
                        </tr>
         <tr style="width:100%; height:8%; vertical-align:middle; display:none; margin-top:0%;" id="step4">
                        
             <td style="width:90%"> <ul class="checkout-bar" >

                        <li class="visited"></li>

                        <li class="visited"></li>

                        <li class="visited"></li>

                        <li class="active"></li>

                    </ul>
                            </td>
             <td  align:"bottom"><a id="downloadSample" href="DownloadSample1" onclick="">
                                <img id="ImglnkSample" src="@Url.Content("~/Content/themes/base/images/SampleCsvJuno.jpg")"
                                    alt=""  /></a> </td>
                        </tr>  
        
        <tr><br /></tr>
       <tr style="width:95%; height:90% ">
            <td valign="middle">              
                <div id="divStep1" style="min-height: 180px;">
                    <table cellpadding="2" cellspacing="0" border="0" width="100%" style="padding: 0px">

                        <tr>

                            <td style="width: 30%">
                                <br />
                            </td>

                            <td style="width: 30%">
                                <br />
                            </td>





                            <td align="left" style="width: 30%"></td>
                        </tr>
                        <tr>


                             <td style="width: 30%">
                                <br />
                            </td>


                            <td align="right" style="padding-top: 2px; width: 55px; vertical-align:top;" >Please choose your file.
                            </td>

                            <td align="left"style="width: 30px">
                                <input id="Junofile" name="Junofile" type="file" /> 
                            </td>
                                                     
                        </tr>

                        <tr>
                            <td style="width: 20%"></td>
                            <td style="width: 20%"></td>
                            <td style="width: 30%; vertical-align:top;"><span style="color: Gray; font-size: 12px;">.csv,.xls,.xlsx are allowed.</span> </td>
<td style="width: 30%"></td>
                        </tr>
                        <tr>


                            <td>&nbsp;
                            </td>
                             <td style="width: 30%"></td>                           
                            <td align="left" valign="middle">
                                <input type="button" id="btnShowHeader" value="Continue" onclick="SelectSheet();"
                                    style="display: none;" />
                                <img  id="imgloader" style="display:none;" alt="" src="@Url.Content("~/Content/themes/base/images/ajax-loader1.gif")" />
                            </td>


                            <td></td>
                        </tr>
                    </table>
                </div>

                <div id="divStep2" display: none;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">

                        <tr style="height:5%">
                            <td align="center" style="height: 10%;" valign="middle">
                                <table cellpadding="2" cellspacing="0" border="0">
                                    <tr>
                                        <td align="center" colspan="2">
                                            <input type="checkbox" id="chkIsJunoHeaders1" name="chkIsJunoHeaders1" />
                                            This data file has headers on the first row?
                                        </td>
                                    </tr>
                                    <tr id="trChooseSheet">


                                        <td align="left" style="width: 50%">Choose a sheet
                                        </td>
                                        <td align="left" style="width: 50%">
                                            <select id="ddlExcelSheets" width="150px" name="ddlExcelSheets">
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" colspan="2">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <input type="button" id="btnContinueUploadStep2" value="Continue" onclick="GetColumns()" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="divStep3" style="min-height: 180px; display: none; ">

                </div>
                <div id="divStep4" style=" height: 275px; width: 780px; display: none;">
                    <table  style="height:100%;  width:100%" cellpadding="2" cellspacing="0" " border="0">
                        <tr>
                            <td align="left" style="display: none;" colspan="1"></td>

                            <td valign="middle" style="display: none;"></td>

                        </tr>

                        <tr><br /></tr>
                       <tr style="width:95%; height:5% ">
            <td colspan="2" style="vertical-align:bottom;" align="center">
                 <label id="lblMessage" style="color: Red;">   </label>

            </td>
        </tr>
                        </tr>
                       
                        <tr style="margin-top:20%">
                            <td>
                                <label id="lblGrid">
                                </label>
                                 <div id="divAjaxLoader1" style="display: none;">
        <img id="divAjaxLoader1-image" src="../Content/Default/loading-image.gif" alt="Loading..." />
    </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; float: right;">
                                <input type="button" id="FinalContinue" style="display: none;" value="Continue" onclick="ShowResultMessage()" />
                                <input type="button" id="btnStep2Back" style="display: none;" value="Back" onclick="BatchStep2Back();" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="divStep5" style="min-height: 220px; display: none;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="width:20%"></td>
                            <td style="height:50px; width:50%" valign="top" align="center">
                                <span id="junoSaveSpan" style="color: Green;">All Juno Prospects are saved successfully.</span>
                            </td>
                            <td style="width:20%"><br /></td>
                        </tr>
                        
                        <tr>


                            <td style="width:20%"></td>                            
                            <td style="width:50%;" align="center">
                             <img id="Imgjunologo" src="@Url.Content("~/Content/themes/base/images/Juno-logo.png")"
                                    alt=""  /> </td>
                            <td style="width:20%"><br /></td>
                        </tr>
                        <tr style="height:5%;">
                            <td style="width:20%"></td> 
                           <td style="width:50%;" align="center">
                            <td style="width:20%"></td> 
                        </tr>
                        <tr>
                            <td style="width:20%"></td>   
                                                     
                            <td style="width:50%;" align="center">
                            <button id="btnCloseUploadStep2" onclick="CloseUploadStep2();" class="ConnectDel" style="cursor:default;"><b>Close</b></button>
                           @* <input type="button" id="btnCloseUploadStep2" value="Close" onclick="CloseUploadStep2()" />*@
                            <td style="width:20%"><br /></td>
                        </tr>
                    </table>
                </div>
               
            </td>
        </tr>

        <tr>
            <td colspan="2" align="right" style="float: right;">
                <input type="button" id="btnBack" style="display: none;" value="Back" onclick="BatchBack();" />
            </td>
        </tr>
    </table>
    <input type="hidden" id="hidHeaderChoose" value="false" />
</div>

@*//ND-23*@
 <div id="divAjaxLoader" style="display: none;">
        <img id="divAjaxLoader-image" src="../Content/Default/loading-image.gif" alt="Loading..." />
    </div>

<style type="text/css">
    div.header1
    {
        cursor: default;
    }

    select
    {
        border: 1px solid #D6D6D6;
        height: 21px;
        width: 220px;
    }

    div.k-window
    {
        zoom: 0 !important;
    }

    .imgbtnJunoUpdate
    {
        background-color: transparent;
        background-image: url("../content/themes/base/images/validate-juno.png");
        background-repeat: no-repeat;
        height: 35px;
        padding: 1px;
        width: 110px;
    }
</style>



<script>
    function CloseUploadStep2() {
        //ND-23
        $("#DivUploadJuno").data("kendoWindow").close();
        location.reload();
    }

    function ShowBatch() {
        //ND-23
        document.getElementById("DivUploadJuno").style.visibility = "visible";
        document.getElementById("DivUploadJuno").style.display = "block";
        document.getElementById("step4").style.display = 'none';
        document.getElementById("imgloader").style.display = 'none';
        document.getElementById("divStep1").style.display = 'block';
        document.getElementById("divStep2").style.display = 'none';
        document.getElementById("divStep3").style.display = 'none';
        document.getElementById("divStep4").style.display = 'none';
        document.getElementById("divStep5").style.display = 'none';

        var windowOpen = $("#DivUploadJuno").kendoWindow({
            actions: ["Close"],
            draggable: true,
            modal: true,
            resizable: false,
            title: "Upload Juno",
            height: "400px",
            width: "800px"
            //  zoom:"0"

        }).data("kendoWindow");

        windowOpen.center();
        windowOpen.open();



    }

    $("#Junofile").kendoUpload({
        async: {
            saveUrl: "../Office/UploadJuno",
            autoUpload: true,

        },
        multiple: false,
        success: onSuccess,
        select: onSelect

    });


    function onSuccess(Msg) {
        document.getElementById("btnShowHeader").style.display = 'block';//ND-23
    }

    function onSelect(e) {

        var Extension = e.files[0].extension;
        if (Extension == ".csv" || Extension == ".xls" || Extension == ".xlsx") {
            $(".k-upload-files.k-reset").find("li").remove();
            return true;
        }
        else {
            alert("Only .csv or .xls or .xlsx files are allowed to upload.")
            e.preventDefault();
        }
    }

    function SelectSheet() {

        document.getElementById("imgloader").style.display = 'block';//ND-23
        $.post('@Url.Action("btnShowHeader", "Office")', function (SheetNames) {
            document.getElementById("divStep1").style.display = 'none';
            document.getElementById("step1").style.display = 'none';
            document.getElementById("step2").style.display = 'block';
            document.getElementById("divStep3").style.display = 'none';
            document.getElementById("divStep2").style.display = 'block';
            if (SheetNames != "") {
                document.getElementById("trChooseSheet").style.display = 'block';
                var ddlExcelSheets = $('#ddlExcelSheets');
                ddlExcelSheets.empty();
                var SheetList = SheetNames.split(',');
                for (var i = 0; i < SheetList.length; i++) {
                    ddlExcelSheets.append(
                        $('<option/>')
                            .attr('value', SheetList[i])
                            .text(SheetList[i])
                    );
                }
            }
            else {
                document.getElementById("trChooseSheet").style.display = 'none';
            }
        });
    }

    function GetColumns() {
        document.getElementById("imgloader").style.display = 'block';//ND-23
        var chkIsJunoHeaders1 = document.getElementById("chkIsJunoHeaders1").checked;
        document.getElementById("step3").style.display = 'block';
        document.getElementById("step2").style.display = 'none';

        document.getElementById("chkIsJunoHeaders").checked = document.getElementById("chkIsJunoHeaders1").checked;
        $.post('@Url.Action("GetFileColumns1", "Office")', { SheetName: $('#ddlExcelSheets').val(), chkIsBatchHeaders: chkIsJunoHeaders1 }, function (Result) {

            if (Result.Status == 0) {
                document.getElementById("lblMessage").innerHTML = "No Header found in uploaded file.";
                document.getElementById("btnBack").style.display = 'block';
            }
            else if (Result.Status == -1) {
                document.getElementById("lblMessage").innerHTML = "No record found in uploaded file.";
                document.getElementById("btnBack").style.display = 'block';
            }
            else {
                document.getElementById("JunoUpload").style.display = 'none';
                document.getElementById("ValidateJunoDiv").style.display = 'block';
                for (var i = 0; i < Result.ControlList.length; i++) {

                    var ddlControl = $('#' + Result.ControlList[i]);
                    ddlControl.empty();
                    ddlControl.append(
                        $('<option/>')
                            .attr('value', -1)
                            .text("--"));

                    for (var j = 0; j < Result.FileColumns.length; j++) {
                        ddlControl.append(
                        $('<option/>')
                            .attr('value', j)
                            .text(Result.FileColumns[j]));
                    }
                }
                var ddlcompanyType = $('#ddlCompanyType');
                ddlcompanyType.empty();
                ddlcompanyType.append(
                        $('<option/>')
                            .attr('value', -1)
                            .text("--"));
                $.each(Result.lstCompanyType, function (index, coll1) {
                    ddlcompanyType.append(
                    $('<option/>').attr('value', coll1.Value)
                      .text(coll1.Text)
                  );
                });
                $("#DivUploadJuno").data("kendoWindow").close();
            }
        });
    }


    function headerChoose(selectVal, ID) {//alert(selectVal);
        var hdn = document.getElementById('hidHeaderChoose');
        var ddl = document.getElementById(ID);
        var isflag = true;
        // alert(hdn.value);
        if (selectVal != -1) {

            var ids = hdn.value.split('#');
            if (ids.length > 0) {
                for (j = 0; j < ids.length; j++) {
                    //alert(ids[j]);
                    var prevDdl = document.getElementById(ids[j]);
                    if (prevDdl != null) {
                        if (ids[j] != ID) {
                            var strUser = prevDdl.options[prevDdl.selectedIndex].value;
                            if (strUser == selectVal) {
                                alert('already selected');
                                ddl.selectedIndex = 0;
                                var SelectedProducts = hdn.value;
                                document.getElementById(ID).value = SelectedProducts.replace('#' + ID, "");
                                isflag = false;
                            }
                        }
                    }
                }
            }
            if (isflag) {
                if (hdn.value.indexOf(ID) == -1) {
                    hdn.value = hdn.value + '#' + ID;
                }
            }
        }
        else {
            if (hdn.value.indexOf(ID) > 0) {
                var SelectedProducts = hdn.value;
                document.getElementById(ID).value = SelectedProducts.replace('#' + ID, "");
            }
        }
    }


    function imgbtnJunoValidate() {
        var chkIsJunoHeaders = document.getElementById('chkIsJunoHeaders');
        var ddlcompanyName = document.getElementById('ddlcompanyName');
        var ddlCompanyType = document.getElementById('ddlCompanyType');
        // var ddlLeadNumber = document.getElementById('ddlLeadNumber');
        var ddlLeadSource = document.getElementById('ddlLeadSource');
        var ddlAddress = document.getElementById('ddlAddress');
        var ddlState = document.getElementById('ddlState');
        var ddlMainEmail = document.getElementById('ddlMainEmail');
        var ddlMainPhone = document.getElementById('ddlMainPhone');
        var ddlMainContact = document.getElementById('ddlMainContact');
        //var ddlCity = document.getElementById('ddlCity');ddlCity.value == -1 || 


        if (ddlcompanyName.value == -1 || ddlCompanyType.value == -1 || ddlLeadSource.value == -1 || ddlState.value == -1 || ddlMainEmail.value == -1 || ddlMainPhone.value == -1 || ddlMainContact.value == -1) {
            alert("Please Enter Required Field!");
            return false;
        }

        $('#divAjaxLoader').css("display", "block");//ND-23

    }

    function BatchResult(Result) {
        $('#divAjaxLoader').css("display", "none");//ND-23
        document.getElementById("divStep1").style.display = 'none';
        document.getElementById("divStep2").style.display = 'none';
        document.getElementById("divStep3").style.display = 'none';
        document.getElementById("divStep4").style.display = 'block';
        document.getElementById("divStep5").style.display = 'none';
        document.getElementById("btnBack").style.display = 'none';
        document.getElementById("lblGrid").innerHTML = Result.grid;
        $("#DivUploadJuno").data("kendoWindow").center().open();

        if (Result.CountInvalid > 0) {

            document.getElementById("btnStep2Back").style.display = 'block';
            document.getElementById("FinalContinue").style.display = 'none';
            document.getElementById("lblMessage").innerHTML = "Please correct Invalid Cell data or fill required field data and upload again.";

        }
        else {
            document.getElementById("btnStep2Back").style.display = 'none';
            document.getElementById("lblMessage").innerHTML = "";
            document.getElementById("FinalContinue").style.display = 'block';
        }

        //  $("#divPop").css("display", "block");
    }

    function ShowResultMessage() {
        $('#divAjaxLoader1').css("display", "block");//ND-23
        $.post('@Url.Action("InsertJuno1", "Office")', $('#form1').serialize(), function (data) {
            document.getElementById("divStep1").style.display = 'none';
            document.getElementById("step3").style.display = 'none';
            document.getElementById("step4").style.display = 'block';
            document.getElementById("divStep2").style.display = 'none';
            document.getElementById("divStep3").style.display = 'none';
            document.getElementById("divStep4").style.display = 'none';
            document.getElementById("btnBack").style.display = 'none';
            document.getElementById("divStep5").style.display = 'block';
            if (data != null) {
                if (data.status == -1) {
                    $("#junoSaveSpan").html(data.messresult);
                    $("#junoSaveSpan").css("color", "red");
                    //document.getElementById("lblMessage").innerHTML = data.messresult;
                }
                else {
                    //document.getElementById("divStep5").style.display = 'block';
                    $("#junoSaveSpan").html(data.messresult);
                    $("#junoSaveSpan").css("Color", "green");
                }
                document.getElementById("JunoUpload").style.display = 'block';
                document.getElementById("ValidateJunoDiv").style.display = 'none';
            }
        });
    }

    function BatchBack() {
        //ND-23
        document.getElementById("divStep1").style.display = 'block';
        document.getElementById("divStep2").style.display = 'none';
        document.getElementById("divStep3").style.display = 'none';
        document.getElementById("btnBack").style.display = 'none';
        document.getElementById("imgloader").style.display = 'none';
        document.getElementById("lblMessage").innerHTML = '';
        document.getElementById("divStep4").style.display = 'none';
        document.getElementById("divStep5").style.display = 'none';
    }

    function BatchStep2Back() {
        //ND-23
        document.getElementById("divStep1").style.display = 'none';
        document.getElementById("divStep2").style.display = 'block';
        document.getElementById("divStep3").style.display = 'none';
        document.getElementById("lblMessage").innerHTML = '';
        document.getElementById("divStep4").style.display = 'none';
        document.getElementById("divStep5").style.display = 'none';
        document.getElementById("btnBack").style.display = 'block';
    }
</script>
