﻿@model Emerge.Models.ClientsModel

@{
    ViewBag.Title = "Leads";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "EMEdit.js")" type="text/javascript"></script>
<style type="text/css">
    .chk-head-style {
    }

    .chk-style {
    }

    .k-grid .centeralign {
        text-align: center;
    }

    .textField1 {
        border-bottom: #b8b8b8 1px solid;
        border-left: #b8b8b8 1px solid;
        padding-bottom: 3px;
        margin: 0px;
        padding-left: 5px;
        padding-right: 5px;
        background: url(../Content/themes/base/images/TextBox_Background.png) repeat-x 0px 0px;
        height: 100px;
        border-top: #b8b8b8 1px solid;
        border-right: #b8b8b8 1px solid;
        padding-top: 3px;
        width: 150px;
        float: left;
    }

    .st_filestarted {
        background-color: #b4b4b3;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }

    .st_proposalout {
        background-color: #e5b228;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }

    .st_agreementout {
        background-color: #d62f37;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }

    .st_agreementin {
        background-color: #2c55ee;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }

    .st_accountactive {
        background-color: #2c55ee;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }

    .folderclass {
    }

    div.toolbar {
        float: right;
        margin: 0 20px 0 0;
        padding: 0;
        text-align: right;
    }

    #content-box .padding {
        padding: 0.5%;
        width: 99%;
    }

    .cls_divw {
        float: left;
        width: 13%;
        height: 100%;
        margin-right: 1%;
    }

    .cls_divwt {
        float: left;
        width: 16%;
        height: 100%;
    }

    .cls_btnrs {
        width: 100%;
        margin-top: 10%;
    }

    .choosecrt {
        float: left;
        width: 67%;
        height: 100%;
        margin-left: 1%;
    }

    .cls_main {
        width: 100%;
        height: auto;
    }

    .cls_pt {
        width: 100%;
    }

    .cls_search {
        float: left;
        width: 13%;
        height: 100%;
    }

    .cls_show {
        float: left;
        width: 10%;
        margin-top: 4%;
    }

    .exportcsv {
        float: left;
        width: 8%;
        margin-top: 4%;
        margin-left: 1%;
        text-align: right;
    }


    #divAjaxLoader {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: fixed;
        display: block;
        opacity: 0.7;
        background-color: #fff;
        z-index: 9000;
        text-align: center;
    }

    #divAjaxLoader-image {
        position: absolute;
        top: 300px;
        left: 610px;
        z-index: 9001;
    }

    #tabsDemo1 .current a {
        color: #0b55c4 !important;
    }
</style>
<div id="content-box">
    <div class="padding">
        <div id="toolbar-box">
            <div class="t">
                <div class="rightTopRptHdrBorder">
                </div>
                <div class="leftTopRptHdrBorder">
                </div>
            </div>
            <div class="m">
                <div id="popupCall">
                </div>
                <div class="toolbar" id="Div1">
                    @* @{Html.RenderAction("LoadCallLog", "Common", new { PageType="1"});}*@
                    <table class="toolbar">
                        <tr>
                            <td>
                                <input type="submit" id="imgbtnRunJuno" style="color: transparent; background-color: transparent; border: 0px; height: 48px; width: 61px; background-image: url('@Url.Content("~/Content/themes/base/images/juno-run.png")');" title="Run Juno" onclick="RunJuno();" />
                                <div id="DivRunJuno" style="display: none;">
                                    @{Html.RenderPartial("../Office/PartialRunJuno");}
                                </div>
                            </td>
                            <td>
                                <input type="submit" class="imgbtnClasspnl" id="imgbtnAdd"
                                       style="color: transparent; background-color: transparent; border: 0px; background-image: url('@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-add.png")'); "
                                       title="Add New Lead" onclick="CreateNew();" />
                            </td>
                            <td style="display: none">
                                <input type="submit" class="imgbtnClasspnl" id="imgbtnEnable" style="color: transparent; background-color: transparent; border: 0px; background-image: url('@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-publish.png")');" />


                            </td>
                            <td style="display: none">
                                <input type="submit" class="imgbtnClasspnl" id="imgbtnDisable" style="color: transparent; background-color: transparent; border: 0px; background-image: url('@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-publish_delete.png")'); " />
                            </td>
                            <td>
                                <input type="submit" class="imgbtnClasspnl" id="imgbtnMove" style="color: transparent; background-color: transparent; border: 0px; background-image: url('@Url.Content("~/Content/themes/base/images/icon_Move_Lead.png")');" title="Move Lead" onclick="ShowPopUp('move');" />
                                <div id="popup_MoveContainer" style="display: none;">
                                    <div id="popup_Move">
                                        <table width="100%" cellpadding="1" style="text-align: left;" cellspacing="1">
                                            <tr>
                                                <td align="right">
                                                    Move To :
                                                </td>
                                                <td align="left">
                                                    <select id="ddPopuplLeadType">
                                                        <option value='-1'>---Select Folder---</option>
                                                        <option value='1'>New Leads</option>
                                                        <option value='2'>Hot Leads</option>
                                                        <option value='3'>Cold Leads</option>
                                                        <option value='4'>Dead Leads</option>
                                                        <option value='0'>Active Leads</option>
                                                        @*Ticket #128: Add three folders to Emerge Office menu*@
                                                        <option value='8'>Pending Demos</option>
                                                        <option value='9'>Pending Agreements</option>
                                                        <option value='10'>Deep Freeze</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td align="left"></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td align="left">
                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                            <td>
                                                                <input type="button" value="Move" id="btnPopupMove" onclick="MoveLeads();" />
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="submit" class="imgbtnClasspnl" id="imgbtnTransfer" title="Transfer Lead"
                                       style="color: transparent; background-color: transparent; border: 0px; background-image: url('@Url.Content("~/Content/themes/base/images/icon_Transfer_Lead.png")')" onclick="ShowPopUp('transfer');" />
                                <div id="PopupTransferContainer" style="display: none; ">
                                    <div id="PopupTransfer">
                                        <table border="0" id="tableTransfer" style="width: 340px;" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td width="100%">
                                                    <table width="100%" cellpadding="0" style="text-align: left;" cellspacing="0">
                                                        <tr style="display: none">
                                                            <td align="right">
                                                                Sales Associate :
                                                            </td>
                                                            <td align="left">
                                                                @* <asp:DropDownList ID="ddlSalesAssociate" runat="server" Width="170px">
                                                                    </asp:DropDownList>*@
                                                                @Html.DropDownList("ddlSalesAssociate", (ViewData["SalesRep"] as IEnumerable<SelectListItem>))
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td align="left">
                                                                @*   <asp:CompareValidator ID="cmpSalesrep" runat="server" ControlToValidate="ddlSalesAssociate"
                                                                    Display="Dynamic" Operator="NotEqual" SetFocusOnError="True" ErrorMessage="Select Sales Associate."
                                                                    ValidationGroup="TransferLead" ValueToCompare="-1"></asp:CompareValidator>*@
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right">
                                                                Account Manager :
                                                            </td>
                                                            <td align="left">
                                                                @Html.DropDownList("ddlSalesManager", (ViewData["Salesmanager"] as IEnumerable<SelectListItem>))
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td align="left">
                                                                @*   <asp:CompareValidator ID="cmpddlsalesmanager" runat="server" ControlToValidate="ddlSalesManager"
                                                                    Display="Dynamic" Operator="NotEqual" SetFocusOnError="True" ErrorMessage="Select Sales Manager."
                                                                    ValidationGroup="TransferLead" ValueToCompare="-1"></asp:CompareValidator>*@
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td align="center">
                                                                <table border="0" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td>
                                                                            <input type="button" value="Transfer" id="btnPopupTransfer" onclick="TransferLeads();" />
                                                                        </td>
                                                                        <td></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="submit" class="imgbtnClasspnl" id="imgbtnDelete" title="Delete Lead"
                                       style="color: transparent; background-color: transparent; border: 0px; background-image: url('@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-delete.png")')" onclick="DeleteMultiple();" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="float: right; width: 68%">
                    <table width="16%" cellspacing="0" cellpadding="1" border="0" style="border-collapse: collapse;
                        font-family: arial; font-size: 12px; float: left">
                        <tr>
                            <td>
                                <div>
                                    <br />
                                    <table border="0" width="100%">
                                        <tr>
                                            <td>
                                                <div class="cls_pt">
                                                    <div style="float: left;">
                                                        @Html.TextBoxFor(model => Model.txtOpenSearch, new { @class = "textField1", @placeholder = "Search...", onkeypress = "ButtonLead_click(event);", style = "width:100px;height:16px;" })
                                                    </div>
                                                    <div style="float: left; margin-left: 1%;">
                                                        <img src="@Url.Content("~/Content/themes/base/images/searchSmall.png")" title="Search" alt="Search" id="btnSearch"
                                                             style="cursor: pointer; margin-left:1px" onclick="BindLeadsGrid(0);" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div style="height: 4px;">
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table width="84%" cellspacing="0" cellpadding="1" border="0" style="border-collapse: collapse;
                        font-family: arial; font-size: 12px; float: right">
                        <tr>
                            <td>
                                <div>
                                    <table border="0" width="100%" style="">
                                        <tr>
                                            <td>
                                                <div style="width: 100%;">

                                                    <div class="cls_divw">
                                                        <div class="cls_pt">
                                                            Next Step
                                                        </div>
                                                        <div class="cls_pt">
                                                            @Html.DropDownList("ddlLeadNextStep", (ViewData["LeadNextStep"] as List<SelectListItem>), new { style = "width:100%;", onchange = "BindLeadsGrid(0);" })
                                                        </div>
                                                    </div>

                                                    <div class="cls_divw">
                                                        <div class="cls_pt">
                                                            Folders
                                                        </div>
                                                        <div class="cls_pt">
                                                            <div class='container' style="margin-top: 0.9%;">
                                                            </div>
                                                            <div id="lblFolders" style="display: none;">
                                                                @{ int a1 = ViewBag.HiddenLeadType;

                                                                 switch (a1)
                                                                 {
                                                                     case 0:
                                                                        <select id="ddfolders" style="width: 100%;" onchange="onchanged()">
                                                                            <option id="AllLeads" onclick="BindLeadsGrid(0);">All Leads @ViewBag.AllLead </option>
                                                                            <option id="ActiveLeads" onclick="BindLeadsGrid(0);">Active Leads @ViewBag.ActiveLeads</option>
                                                                            <option id="NewLeads" onclick="BindLeadsGrid(1);">New Leads @ViewBag.NewLead </option>
                                                                            <option id="HotLeads" onclick="BindLeadsGrid(2);">Hot Leads @ViewBag.HotLead</option>
                                                                            <option id="ColdLeads" onclick="BindLeadsGrid(3);">Cold Leads @ViewBag.ColdLead</option>
                                                                            <option id="DeadLeads" onclick="BindLeadsGrid(4);">Dead Leads @ViewBag.DeadLead</option>
                                                                            @* Ticket #128: Add three folders to Emerge Office menu*@
                                                                            <option id="pendingDemos" onclick="BindLeadsGrid(8);">Pending Demos @ViewBag.pendingDemos</option>
                                                                            <option id="pendingAgreements" onclick="BindLeadsGrid(9);">Pending Agreements @ViewBag.pendingAgreements</option>
                                                                            <option id="deepFreeze" onclick="BindLeadsGrid(10);">Deep Freeze @ViewBag.deepFreeze</option>
                                                                        </select>
                                                                         break;
                                                                     case 1:
                                                                    <select id="ddfolders" style="width: 100%;" onchange="onchanged()">
                                                                        <option id="NewLeads" onclick="BindLeadsGrid(1);">New Leads @ViewBag.NewLead </option>
                                                                        <option id="ActiveLeads" onclick="BindLeadsGrid(0);">Active Leads @ViewBag.ActiveLeads</option>
                                                                        <option id="AllLeads" onclick="BindLeadsGrid(0);">All Leads @ViewBag.AllLead </option>
                                                                        <option id="HotLeads" onclick="BindLeadsGrid(2);">Hot Leads @ViewBag.HotLead</option>
                                                                        <option id="ColdLeads" onclick="BindLeadsGrid(3);">Cold Leads @ViewBag.ColdLead</option>
                                                                        <option id="DeadLeads" onclick="BindLeadsGrid(4);">Dead Leads @ViewBag.DeadLead</option>
                                                                        @* Ticket #128: Add three folders to Emerge Office menu*@
                                                                        <option id="pendingDemos" onclick="BindLeadsGrid(8);">Pending Demos @ViewBag.pendingDemos</option>
                                                                        <option id="pendingAgreements" onclick="BindLeadsGrid(9);">Pending Agreements @ViewBag.pendingAgreements</option>
                                                                        <option id="deepFreeze" onclick="BindLeadsGrid(10);">Deep Freeze @ViewBag.deepFreeze</option>
                                                                    </select>
                                                                         break;
                                                                     case 2:
                                                                    <select id="ddfolders" style="width: 100%;" onchange="onchanged()">
                                                                        <option id="HotLeads" onclick="BindLeadsGrid(2);">Hot Leads @ViewBag.HotLead</option>
                                                                        <option id="ActiveLeads" onclick="BindLeadsGrid(0);">Active Leads @ViewBag.ActiveLeads</option>
                                                                        <option id="AllLeads" onclick="BindLeadsGrid(0);">All Leads @ViewBag.AllLead </option>
                                                                        <option id="NewLeads" onclick="BindLeadsGrid(1);">New Leads @ViewBag.NewLead </option>
                                                                        <option id="ColdLeads" onclick="BindLeadsGrid(3);">Cold Leads @ViewBag.ColdLead</option>
                                                                        <option id="DeadLeads" onclick="BindLeadsGrid(4);">Dead Leads @ViewBag.DeadLead</option>
                                                                        @* Ticket #128: Add three folders to Emerge Office menu*@
                                                                        <option id="pendingDemos" onclick="BindLeadsGrid(8);">Pending Demos @ViewBag.pendingDemos</option>
                                                                        <option id="pendingAgreements" onclick="BindLeadsGrid(9);">Pending Agreements @ViewBag.pendingAgreements</option>
                                                                        <option id="deepFreeze" onclick="BindLeadsGrid(10);">Deep Freeze @ViewBag.deepFreeze</option>
                                                                    </select>
                                                                         break;
                                                                     case 3:
                                                                    <select id="ddfolders" style="width: 100%;" onchange="onchanged()">
                                                                        <option id="ColdLeads" onclick="BindLeadsGrid(3);">Cold Leads @ViewBag.ColdLead</option>
                                                                        <option id="ActiveLeads" onclick="BindLeadsGrid(0);">Active Leads @ViewBag.ActiveLeads</option>
                                                                        <option id="AllLeads" onclick="BindLeadsGrid(0);">All Leads @ViewBag.AllLead </option>
                                                                        <option id="NewLeads" onclick="BindLeadsGrid(1);">New Leads @ViewBag.NewLead </option>
                                                                        <option id="HotLeads" onclick="BindLeadsGrid(2);">Hot Leads @ViewBag.HotLead</option>
                                                                        <option id="DeadLeads" onclick="BindLeadsGrid(4);">Dead Leads @ViewBag.DeadLead</option>
                                                                        @* Ticket #128: Add three folders to Emerge Office menu*@
                                                                        <option id="pendingDemos" onclick="BindLeadsGrid(8);">Pending Demos @ViewBag.pendingDemos</option>
                                                                        <option id="pendingAgreements" onclick="BindLeadsGrid(9);">Pending Agreements @ViewBag.pendingAgreements</option>
                                                                        <option id="deepFreeze" onclick="BindLeadsGrid(10);">Deep Freeze @ViewBag.deepFreeze</option>
                                                                    </select>
                                                                         break;
                                                                     case 4:
                                                                    <select id="ddfolders" style="width: 100%;" onchange="onchanged()">
                                                                        <option id="DeadLeads" onclick="BindLeadsGrid(4);">Dead Leads @ViewBag.DeadLead</option>
                                                                        <option id="ActiveLeads" onclick="BindLeadsGrid(0);">Active Leads @ViewBag.ActiveLeads</option>
                                                                        <option id="AllLeads" onclick="BindLeadsGrid(0);">All Leads @ViewBag.AllLead </option>
                                                                        <option id="NewLeads" onclick="BindLeadsGrid(1);">New Leads @ViewBag.NewLead </option>
                                                                        <option id="HotLeads" onclick="BindLeadsGrid(2);">Hot Leads @ViewBag.HotLead</option>
                                                                        <option id="ColdLeads" onclick="BindLeadsGrid(3);">Cold Leads @ViewBag.ColdLead</option>
                                                                        @* Ticket #128: Add three folders to Emerge Office menu*@
                                                                        <option id="pendingDemos" onclick="BindLeadsGrid(8);">Pending Demos @ViewBag.pendingDemos</option>
                                                                        <option id="pendingAgreements" onclick="BindLeadsGrid(9);">Pending Agreements @ViewBag.pendingAgreements</option>
                                                                        <option id="deepFreeze" onclick="BindLeadsGrid(10);">Deep Freeze @ViewBag.deepFreeze</option>
                                                                    </select>
                                                                         break;

                                                                     default:
                                                                    <select id="ddfolders" style="width: 100%;" onchange="onchanged()">
                                                                        <option id="ActiveLeads" onclick="BindLeadsGrid(0);">Active Leads @ViewBag.ActiveLeads</option>
                                                                        <option id="AllLeads" onclick="BindLeadsGrid(0);">All Leads @ViewBag.AllLead </option>
                                                                        <option id="NewLeads" onclick="BindLeadsGrid(1);">New Leads @ViewBag.NewLead </option>
                                                                        <option id="HotLeads" onclick="BindLeadsGrid(2);">Hot Leads @ViewBag.HotLead</option>
                                                                        <option id="ColdLeads" onclick="BindLeadsGrid(3);">Cold Leads @ViewBag.ColdLead</option>
                                                                        <option id="DeadLeads" onclick="BindLeadsGrid(4);">Dead Leads @ViewBag.DeadLead</option>
                                                                        @* Ticket #128: Add three folders to Emerge Office menu*@
                                                                        <option id="pendingDemos" onclick="BindLeadsGrid(8);">Pending Demos @ViewBag.pendingDemos</option>
                                                                        <option id="pendingAgreements" onclick="BindLeadsGrid(9);">Pending Agreements @ViewBag.pendingAgreements</option>
                                                                        <option id="deepFreeze" onclick="BindLeadsGrid(10);">Deep Freeze @ViewBag.deepFreeze</option>
                                                                    </select>

                                                                         break;
                                                                 }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="cls_divw">
                                                        <div class="cls_pt">
                                                            Lead Status
                                                        </div>
                                                        <div class="cls_pt">
                                                            @Html.DropDownList("ddlLeadStaus", (ViewData["LeadStatusListData"] as List<SelectListItem>), new { style = "width:100%;", onchange = "BindLeadsGrid(0);" })
                                                        </div>
                                                    </div>
                                                    <div class="cls_divw">
                                                        <div class="cls_pt">
                                                            Lead Date
                                                        </div>
                                                        <div class="cls_pt">
                                                            @Html.DropDownList("ddlOrderDate", (ViewData["leadDateList"] as List<SelectListItem>), new { style = "width:100%;", onchange = "BindLeadsGrid(0);" })
                                                        </div>
                                                        <div id="divSpecificMonth" style="width: 100%; display: none;">
                                                            <div style="margin-top: 1%; width: 100%; float: left;">
                                                                <div class="textFieldWrapper1">
                                                                    <select id="ddlSpecificMonth" style="width: 100px">
                                                                        <option value="">Month </option>
                                                                        <option value="1">January </option>
                                                                        <option value="2">February </option>
                                                                        <option value="3">March </option>
                                                                        <option value="4">April </option>
                                                                        <option value="5">May </option>
                                                                        <option value="6">June </option>
                                                                        <option value="7">July </option>
                                                                        <option value="8">August </option>
                                                                        <option value="9">September </option>
                                                                        <option value="10">October </option>
                                                                        <option value="11">November </option>
                                                                        <option value="12">December </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div style="margin-top: 1%; width: 100%; float: left;">
                                                                <div class="textFieldWrapper1" style="margin-top: 1.5%;">
                                                                    <select id="ddlYear" style="width: 100px">
                                                                        <option value="">Year </option>
                                                                        <option value="2008">2008</option>
                                                                        <option value="2009">2009</option>
                                                                        <option value="2010">2010</option>
                                                                        <option value="2011">2011</option>
                                                                        <option value="2012">2012</option>
                                                                        <option value="2013">2013</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div style="margin-top: 1%; width: 100%; float: left;">
                                                                <input type="button" value="Search" id="btnSearchSpecificMonth" onclick="BindLeadsGrid(-1);" />
                                                            </div>
                                                        </div>
                                                        <div id="divSpecificDate" style="width: 100%; display: none;">
                                                            <div style="margin-top: 1.5%; width: 100%; float: left;">
                                                                <input type="text" id="txtSpecificDate" style="width: 110px;" />
                                                            </div>
                                                            <div style="margin-top: 1%; width: 100%; float: left;">
                                                                <input type="button" value="Search" id="btnSearchSpecificMonth1" onclick="BindLeadsGrid(0);" />
                                                            </div>
                                                        </div>
                                                        <div id="divDateRange" style="width: 100%; display: none;">
                                                            <div class="textFieldWrapper1" style="margin-top: 1.5%;">
                                                                @Html.TextBoxFor(n => n.txtSpecificFrom, new { @id = "txtFromRange", @Style = "width: 110px;" })
                                                            </div>
                                                            <div class="textFieldWrapper1" style="margin-top: 1.5%;">
                                                                @Html.TextBoxFor(n => n.txtSpecificTo, new { @id = "txtToRange", @Style = "width: 110px;" })
                                                            </div>
                                                            <div style="margin-top: 1%; width: 100%; float: left;">
                                                                <input type="button" value="Search" id="btnSearchSpecificMonth2" onclick="BindLeadsGrid(-1);" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cls_divw">
                                                    <div sclass="cls_pt">
                                                        Lead Source
                                                    </div>
                                                    <div class="cls_pt">
                                                        @Html.DropDownList("ddlLeadSource", (ViewData["LeadSource"] as List<SelectListItem>), new { style = "width:100%;", onchange = "BindLeadsGrid(0);" })
                                                    </div>
                                                </div>
                                                <div class="cls_divw">
                                                    <div class="cls_pt">
                                                        Company Type
                                                    </div>
                                                    <div class="cls_pt">
                                                        @Html.DropDownList("ddlcompanyType", (ViewData["CompanyTypes"] as IEnumerable<SelectListItem>), new { style = "width:100%;", onchange = "BindLeadsGrid(0);" })
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="cls_divw" style="display: none;">
                                                    <div class="cls_pt">
                                                        Sales Associate
                                                    </div>
                                                    <div class="cls_pt">
                                                        @Html.DropDownList("ddlSalesReps", (ViewData["SalesRep"] as IEnumerable<SelectListItem>), new { style = "width:100%;", onchange = "BindLeadsGrid(0);" })
                                                    </div>
                                                </div>
                                                <div class="cls_divw">
                                                    <div class="cls_pt">
                                                        Account Manager
                                                    </div>
                                                    <div class="cls_pt">
                                                        @Html.DropDownList("ddlAccountManager", (ViewData["Salesmanager"] as IEnumerable<SelectListItem>), new { style = "width:100%;", onchange = "BindLeadsGrid(0);" })
                                                    </div>
                                                </div>
                                                <div class="cls_divw">
                                                    <div class="cls_pt">
                                                        Sales Associate
                                                    </div>
                                                    <div class="cls_pt">
                                                        @Html.DropDownList("ddlSalesAssosiate", (ViewData["listSalesAssosiate"] as IEnumerable<SelectListItem>), new { style = "width:100%;", onchange = "BindLeadsGrid(0);" })
                                                    </div>
                                                </div>

                                                <div class="cls_divwt">
                                                    <div class="cls_btnrs">
                                                        <img src="@Url.Content("~/Content/themes/base/images/Reset all filters.png")" title="Reset All Filter" alt="Search" style="cursor: pointer;" onclick="EmptyGrid();" />
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="header icon-48-categories" style="padding: 0px 0px 0px 55px; width: 2%">
                    Leads
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="rightBottomRptHdrBorder">
                </div>
                <div class="leftBottomRptHdrBorder">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            <div class="t">
                <div class="rightTopRptHdrBorder">
                </div>
                <div class="leftTopRptHdrBorder">
                </div>
            </div>
            <div class="m" style="overflow:scroll;">
                <table align="center" border="0" style="width: 100%">
                    <tr>
                        <td style="vertical-align: top;">
                            <table border="0" style="border-collapse: collapse; width: 100%">
                                <tr>
                                    <td>
                                        <input type="hidden" id="_FilterValues" value="@ViewBag.FilterValues" />
                                        <input type="hidden" id="PageSize" value="@ViewBag.PageSize" />
                                        <input type="hidden" id="PageNo" value="@ViewBag.PageNo" />
                                        <input type="hidden" id="HiddenLeadType" value="@ViewBag.HiddenLeadType" />
                                        <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation">
                                            <tr id="trPaging" runat="server">
                                                <td>
                                                    <div style="width: 9%; float: left">
                                                        Showing <span align="center" style="font-size: 16px; width: 60px; font-weight: bold;
                                                            color: #0b55c4;">
                                                            <label id="lblTotalRecords">
                                                            </label>
                                                        </span>records
                                                    </div>
                                                    <div style="float: right">
                                                        @if (Model.IsAdmin)
                                                        {
                                                            <span align="center" style="font-size: 16px; width: 100%; font-weight: bold; color: #0b55c4;">
                                                                @*<a href='#' id='export2' onclick="CheckPassword()">Export to CSV</a>*@
                                                                <a href='ExportLeadInfotoCSV' id='export2'>Export to CSV</a>
                                                            </span>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" class="fontstyle" colspan="2">
                                                    @*<div id="kendoPager" class="k-pager-wrap k-grid-pager" style="text-align: left;">
                                                        </div>*@
                                                    <div id="LeadsGrid">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr id="trPaging1" runat="server">
                                                <td align="left">
                                                    <table border="0" bgcolor="#f0f0f0">
                                                        <tr>
                                                            <td runat="server" id="tdTotalRec1"></td>
                                                            <td align="left" id="tdNavigation1" runat="server"></td>
                                                            <td align="left" id="tdPagingOption1" runat="server">
                                                                @*   Go To Page :
                                                                    <select id="ddlPaging1">
                                                                        <option>Select</option>
                                                                    </select>*@
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="rightBottomRptHdrBorder">
                </div>
                <div class="leftBottomRptHdrBorder">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
</div>
<input type="hidden" value="@ViewBag.PwdToExportLeadCsv" id="hdnPwdToExport" />
<div id="ExportToCSVpopUp" style="visibility: hidden; display: none;">
    <table width="100%" border="0" style="background-color: #ffffff; display: block"
           cellpadding="5">
        <tr>
            <td align="center" colspan="3" style="font-weight: bold"></td>
        </tr>
        <tr>
            <td align="right" style="width: 44%;">
                <b>Please Enter Password :</b>
            </td>
            <td align="left" style="width: 56%;">
                <input type="password" name="txtDocumentName" id="UserPassword" />
            </td>
            <td></td>
        </tr>
        <tr>
            <td align="right">
                <b></b>
            </td>
            <td align="left"></td>
        </tr>
        <tr>
            <td align="center" colspan="3">
                <span align="center" style="font-size: 16px; width: 60px; font-weight: bold; color: #0b55c4;">
                    <a href='ExportLeadInfotoCSV' id='export23' onclick='return CheckUserPassword()'>Submit</a>
                </span>
            </td>
        </tr>
    </table>
</div>
<input id="callogchkd" type="hidden" />

<div id="divAjaxLoader" style="display:none;">
    <img id="divAjaxLoader-image" src="../Content/Default/loading-image.gif" alt="Loading..." />
</div>


<script type="text/javascript">

    $("#txtOpenSearch").autocomplete({
        source: function (request, response) {
            $.getJSON('@Url.Action("GetTop10RecordforAutoComplete", "Office")', { searchText: request.term }, function (data) {
                response(data);
            });
        },
        minLength: 2
    });



    /*function CheckUserPassword()
    {
    var UserPwd =document.getElementById("UserPassword").value;
    var PwdSetByAdmin= document.getElementById("hdnPwdToExport").value;

    if(UserPwd == PwdSetByAdmin)
    {
    $("#ExportToCSVpopUp").data("kendoWindow").close();
    return true;


    }
    else
    {
    alert("Wrong Password");
    return false;

    }
    }*/


    function CheckUserPassword() {
        $("#ExportToCSVpopUp").data("kendoWindow").close();
        return true;
    }

    function CheckPassword() {
        document.getElementById("ExportToCSVpopUp").style.visibility = "visible";
        document.getElementById("ExportToCSVpopUp").style.display = "block";

        var windowOpen = $("#ExportToCSVpopUp").kendoWindow({
            actions: ["Close"],
            draggable: true,
            modal: true,
            resizable: true,
            title: "Export to CSV",
            height: "140px",
            width: "420px"

        }).data("kendoWindow");

        windowOpen.center();
        windowOpen.open();

        return false;
    }


    function EditLead(pklocationId) {
        window.location.href = 'AddEditLeads?_a=' + pklocationId;
    }

    var dropdownlist = $(document.getElementById("lblFolders").innerHTML).appendTo($('.container')).kendoDropDownList({}).data("kendoDropDownList");
    function onchanged() {
        var value = $("#lblFolders").find('select[id=ddfolders]');
        value.removeAttr('onchange');
        var arrar = $("#ddfolders").val().split("(");
        switch (arrar[0].trim()) {
            case 'All Leads':

                $('option[id=AllLeads]').click();
                break
            case 'New Leads':

                $('option[id=NewLeads]').click();
                break
            case 'Hot Leads':

                $('option[id=HotLeads]').click();
                break
            case 'Cold Leads':

                $('option[id=ColdLeads]').click();
                break
            case 'Dead Leads':

                $('option[id=DeadLeads]').click();
                break
            case 'Active Leads':
                $('option[id=ActiveLeads]').click();
                break
                //Ticket #128: Add three folders to Emerge Office menu
            case 'Pending Demos':
                $('option[id=pendingDemos]').click();
                break
            case 'Pending Agreements':
                $('option[id=pendingAgreements]').click();
                break
            case 'Deep Freeze':
                $('option[id=deepFreeze]').click();
                break

        }

    }



    $("#txtSpecificDate").kendoDatePicker();
    $("#txtFromRange").kendoDatePicker();
    $("#txtToRange").kendoDatePicker();
    $("#ddlLeadStaus").kendoDropDownList({});

    $("#ddlLeadNextStep").kendoDropDownList({});
    $("#ddlSalesAssosiate").kendoDropDownList({});

    $("#ddlOrderDate").kendoDropDownList({});
    $("#ddlLeadSource").kendoDropDownList({});
    $("#ddlcompanyType").kendoDropDownList({});
    $("#ddlSalesReps").kendoDropDownList({});
    $("#ddlAccountManager").kendoDropDownList({});
    $("#popup_Move").kendoWindow();
    $("#popup_Move").data("kendoWindow").close();
    $("#PopupTransfer").kendoWindow();
    $("#PopupTransfer").data("kendoWindow").close();
    //alert($("#ddlLeadNextStep").val());
    //alert($("#ddlSalesAssosiate").val());
    var dataSource = new kendo.data.DataSource({
        batch: true,
        transport: {
            read: {
                url: "@Url.Action("GetLeads", "Office")",
                data: {
                    txtOpenSearch: $('#txtOpenSearch').val(), companyType: $('#ddlcompanyType').val(), SalesRepId1: $("#ddlSalesReps").val(),
                    SalesManagerId1: $("#ddlAccountManager").val(), LeadSource: $("#ddlLeadSource").val(), LeadStatus: $("#ddlLeadStaus").val(),
                    LeadType: $("#HiddenLeadType").val(), pkOrderDateId: $("#ddlOrderDate").val(), ToDate: $("#txtToRange").val(), FromDate: $("#txtFromRange").val(),
                    LeadNextStep: $("#ddlLeadNextStep").val(), SalesAssosiate: $("#ddlSalesAssosiate").val()
                },
                type: "POST"
            },
            parameterMap: function (options) {
                var data = options;
                if (options.filter) {
                    var filters = options.filter.filters;
                    for (var i = 0; i < filters.length; i++) {
                        data["filters[" + i + "].Field"] = filters[i].field;
                        data["filters[" + i + "].Operator"] = filters[i].operator;
                        data["filters[" + i + "].Value"] = filters[i].value;
                    }
                }
                if (options.sort) {
                    for (var i = 0; i < options.sort.length; i++) {
                        data["sort[" + i + "].Field"] = options.sort[i].field;
                        data["sort[" + i + "].Dir"] = options.sort[i].dir;
                    }
                }
                return data;
            }
        },
        schema: {
            data: "Products", total: function (e) {
                total = e.TotalCount;
                return total;
            },
            model: {
                fields: {
                    CreatedDate: { type: "date" },
                    ApptDate: { type: "date" }
                }
            }
        },
        pageSize: $("#PageSize").val(), //set page size
        page: $("#PageNo").val(),
        // pageSize: 25, //set page size
        serverPaging: true, //enable server paging
        serverSorting: true,
        serverFiltering: true
    });

    $(document).ready(function () {


        $("#kendoPager").kendoPager({
            dataSource: dataSource
        });


        var selectList = '<span style="width:500px;text-align:right;float:right;">    Page Size: <select style="width:50px;" onchange="changeGridPageSize(this.value);" id="mySelect"><option>25</option><option>50</option><option>100</option></select></span>';
        $(function () {
            var desiredValue = $("#PageSize").val();
            var el = document.getElementById("mySelect");
            for (var i = 0; i < el.options.length; i++) {
                if (el.options[i].value == desiredValue) { el.selectedIndex = i; break; }
            }
        });

        var divTotal = '<div id="divTotal" ></div>';


        $("#LeadsGrid").kendoGrid({
            dataSource: dataSource,
            //            height: 520,
            pageable: true,
            filterable: true,
            pageSize: 35,
            sortable: true,
            pageable: true,
            scrollable: false,

            columns: [
                             {
                                 field: "LeadNumber",
                                 title: "<div class='centeralign'><input type='checkbox' id='chkLead_head' class='chk-head-style' onclick='CheckedAll();' /></div>",
                                 template: "<div class='centeralign'><input type='checkbox' id='chkLead_#=pkCompanyId#'  class='chk-style' /></div>",
                                 sortable: false,
                                 filterable: false,
                                 width: "3%"
                             },
                            {
                                field: "CreatedDate",
                                sortable: true,
                                title: " <div class='centeralign'>Last Update</div>",
                                filterable: false,
                                width: "6%",
                                format: "{0:MM/dd/yyyy}"
                            },
                            {
                                field: "ApptDate",
                                sortable: true,
                                title: " <div class='centeralign'>Appt Date</div>",
                                filterable: false,
                                width: "6%",
                                format: "{0:MM/dd/yyyy}"
                            },

                            {
                                field: "NextStep",
                                sortable: true,
                                title: " <div class='centeralign'>Next Step</div>",
                                filterable: false,
                                width: "6%"
                            },
                            {
                                field: "CompanyName",
                                title: "<div class='centeralign'>Company Name</div>",
                                sortable: true,
                                filterable: false,
                                width: "9%",

                                filterable: {
                                    extra: false, //do not show extra filters
                                    operators: { // redefine the string operators
                                        string: {
                                            contains: "Contains",
                                            startswith: "Starts with",
                                            endswith: "Ends with"
                                        }
                                    }
                                }

                            },
                            {
                                field: "MonthlyVolume",
                                title: "<div class='centeralign'>Volume</div>",
                                filterable: false,
                                width: "7%"
                            },
                            {
                                field: "StateCode",
                                title: "  <div class='centeralign'>State</div>",
                                filterable: false,
                                width: "3%",
                                template: '<div class="centeralign">#= StateCode #</div>'
                            },
                            {
                                field: "MainContactPersonName",
                                title: " <div class='centeralign'>Main Contact</div>",
                                filterable: false,
                                width: "7%",


                                filterable: {
                                    extra: false, //do not show extra filters
                                    operators: { // redefine the string operators
                                        string: {
                                            contains: "Contains",
                                            startswith: "Starts with",
                                            endswith: "Ends with"
                                        }
                                    }
                                }
                            },
                            {
                                field: "PhoneNo1",
                                title: " <div class='centeralign'>Phone Number</div>",
                                filterable: false,
                                sortable: false,
                                width: "12%",

                                filterable: {
                                    extra: false, //do not show extra filters
                                    operators: { // redefine the string operators
                                        string: {
                                            contains: "Contains",
                                            startswith: "Starts with",
                                            endswith: "Ends with"
                                        }
                                    }
                                }

                            },
                            {
                                field: "MainEmailId",
                                title: " <div class='centeralign'>Email</div>",
                                filterable: false,
                                width: "6%",

                                filterable: {
                                    extra: false, //do not show extra filters
                                    operators: { // redefine the string operators
                                        string: {
                                            contains: "Contains",
                                            startswith: "Starts with",
                                            endswith: "Ends with"
                                        }
                                    }
                                }


                                // template: '<div class="centeralign">#= MainEmailId #</div>'
                            },
                            {
                                field: "CompanyType",
                                title: " <div class='centeralign'>Company Type</div>",
                                filterable: false,
                                width: "9%"
                            },
                            {
                                field: "LeadSource+LeadSourceId",
                                title: " <div class='centeralign'>Lead Source</div>",
                                filterable: false,
                                width: "7%"
                            },
                            {
                                field: "SalesManagerName",
                                title: " <div class='centeralign'>Account Manager</div>",
                                filterable: false,
                                width: "9%"

                            },
                            {
                                field: "SalesRepName",
                                title: " <div class='centeralign'>Sales Associate</div>",
                                filterable: false,
                                width: "9%"

                            },
                            {
                                field: "LeadStatus",
                                title: " <div class='centeralign'>Lead Status</div>",
                                template: '# if(LeadStatus==1){# <span class="st_filestarted" >File-Started</span> #}else if(LeadStatus==2){# <span class="st_proposalout" >Proposal-Out</span> #}else if(LeadStatus==3){# <span class="st_agreementout" >Agreement-Out</span> #}else if(LeadStatus==4){# <span class="st_agreementin" >Agreement-In</span> #}else if(LeadStatus==5){# <span class="st_accountactive" >Account-Active</span> #}# ',
                                filterable: false,
                                width: "10%"
                            },
                            //  {field: "pkReportCategoryId+pkCompanyId", title: " <div class='centeralign'>Action</div>", width:"12%", sortable:false, filterable: false, template: "<input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/edit.png")' + " id=\"image1\" value=\"#=pkLocationId#\" style=\"width:15; height:18px\" Title='Edit' onclick=\"AddUpdateLead(this.value)\" /> <input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/call-log-icon.png")' + " value=\"#=pkCompanyId#\" onmouseover=\"CallLogRollOver('Call Log','#=pkCompanyId#');\" onmouseout=\"exit();\" style=\"width:15px; height:18px\" Title='CallLogo' onclick=\"Call(this.value)\" /> <input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/delete.png")' + " value=\"#=pkCompanyId#\"  style=\"width:15px; height:18px\" Title='Delete' onclick=\"DeleteLead(this.value)\" />" }
                            {
                                field: "pkReportCategoryId+pkCompanyId", title: " <div class='centeralign'>Action</div>", width: "8%", sortable: false, filterable: false, template: "<div style='width:79px;'><div style='text-align:center; width:100%'><div style='float: left; width=25%; padding:2px;align=center;'><input type='IMAGE' SRC=\"../Content/themes/base/images/edit.png\" id='image1' Title='Edit' value='#=pkLocationId#' style='width:15px; height:18px' onclick='AddUpdateLead(this.value)'  /></div><div style='float: left ;padding:2px;width=5%; align=center;'><input onclick='OpenCallLog(this.value)' type='IMAGE' SRC=\"../Content/themes/base/images/call-log-icon.png\" onmouseover=\"CallLogRollOver('Call Log','#=pkCompanyId#');\" onmouseout=\"exit();\"  id='imgCall' value='#=pkCompanyId#' style='width:10px; height:18px' /></div><div style='float: left ;padding:2px;width=5%; align=center;'><input onclick='DeleteLead(this.value)' type='IMAGE' SRC=\"../Content/themes/base/images/delete.png\" id='image1' value='#=pkCompanyId#' Title='Delete' style='width:15px; height:18px' /></div></div></div>"
                                //                                template:  '<div style="text-align:center; width:100%"><div style="float: left; width=33%; padding:2px;align=center;"><input type="IMAGE" SRC=\"../Content/themes/base/images/edit.png\" id="image1" value="#=pkLocationId#" style="width:21px; height:20px" onclick="AddUpdateLead(this.value)"  /></div><div style="float: left ;padding:2px;width=33%; align=center;"><input onclick="Call(this.value)" type="IMAGE" SRC=\"../Content/themes/base/images/call-log-icon.png\" id="imgCall" value="#=pkCompanyId#" style="width:21px; height:23px" /></div><div style="float: right ;padding:2px;width=31%; align=center;"><input onclick="DeleteLead(this.value)" type="IMAGE" SRC=\"../Content/themes/base/images/delete.png\" id="image1" value="#=pkCompanyId#" style="width:21px; height:23px" /></div></div>'

                            }
                    //  { command: ["<img src='../../Content/themes/base/Images/emerge-office-milestone-1-on.png' />","edit","destroy"], title: "&nbsp;", width: "100px" }

            ],

            dataBound: function () {
                var takeTotal = this.dataSource.total();
                $("#lblTotalRecords").html(takeTotal);
                var gridHeaderRows = $("#LeadsGrid tbody th");
                var gridRows = $("#LeadsGrid tbody tr");

                var takeGrid = $("#LeadsGrid").data("kendoGrid");
                var length = gridRows.length;
                for (i = 0; i < length; i++) {
                    var AccountManager = '';
                    var SalesRepName = '';
                    var MonthlyVolume = '';
                    var StatusLead = '';
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var AccountManagervar = dataItem.SalesManagerName;
                    var SalesRepNamevar = dataItem.SalesRepName;
                    var MonthlyVolumevar = dataItem.MonthlyVolume;
                    var LeadSourceId = dataItem.LeadSourceId;
                    var apptDateValue = dataItem.ApptDate;
                    var nextstepValue = dataItem.NextStep;
                    if (String(apptDateValue).indexOf('1900') > -1) {
                        row.cells[2].innerHTML = "";
                    }
                    if (nextstepValue == "-1") {
                        row.cells[3].innerHTML = "";
                    }
                    if (LeadSourceId != null) {
                        switch (LeadSourceId.trim()) {
                            case '1': StatusLead = "<div class='centeralign'>Outbound Call</div>"; break
                            case '2': StatusLead = "<div class='centeralign'>Inbound Call</div>"; break
                            case '3': StatusLead = "<div class='centeralign'>Inbound Email</div>"; break
                            case '4': StatusLead = "<div class='centeralign'>Live Transfer</div>"; break
                            case '5': StatusLead = "<div class='centeralign'>Referral</div>"; break
                            case '6': StatusLead = "<div class='centeralign'>Tradeshow</div>"; break
                            case '7': StatusLead = "<div class='centeralign'>Friend or Family</div>"; break
                        }
                    }



                    row.cells[9].innerHTML = StatusLead;


                    if (AccountManagervar == null) {
                        row.cells[10].innerHTML = AccountManager;
                    }
                    if (SalesRepNamevar == null) {
                        row.cells[11].innerHTML = SalesRepName;
                    }
                    if (MonthlyVolumevar == null) {
                        row.cells[3].innerHTML = MonthlyVolume;

                    }

                    GridEffect("LeadsGrid", dataItem)

                }

            }
        });
        $("#LeadsGrid .k-grid-pager").append(selectList);
    });

    function Button_Click(e) {


        BindLeadsGrid(0);

    }

    function CheckedAll() {
        $("#LeadsGrid .chk-style").each(function () {
            if (document.getElementById("chkLead_head").checked) {
                $(this).prop("checked", true);
            }
            else {
                $(this).prop("checked", false);
            }
        });
    }

    function AddUpdateLead(value) {
        // alert(value);
        location.href = '../Office/AddEditLeads?_a=' + value + '&bck=l';
    }
    function CreateNew() {
        location.href = '../Office/AddEditLeads?bck=l';
    }
    function DeleteLead(value) {
        if (confirm('Are you sure to delete Lead?')) {
            $.post("../Office/DeleteLead", { pkCompanyId: value }, function (data) {
                var grid = $("#LeadsGrid").data("kendoGrid");
                grid.dataSource.read();
                grid.refresh();
            });
        }
    }
    function Call(value) {
        //alert(value);
        $("#popupCall").load("../Common/LoadCallLog", { PageType: "1", pkCompanyId: value }, function () {
            $("#ddlCLCompany").val(value);
            OpenWindow_CallLog();
        });

    }

    function OpenCallLog(CompanyId) {
        var window = $("#CallLog").kendoWindow({}).data("kendoWindow");
        if (typeof window != 'undefined') {

            window.close();
            window.element.remove();
            window.destroy();
        }

        $.post('@Url.Action("setProfileCallLogCompany", "Common")', { CallLogCompanyId: CompanyId }, function (data) {
            if (data != null) {
                $("#divLog").load("../Common/LoadCallLog", { PageType: "1", pkCompanyId: CompanyId }, function () {
                });
            }
        });

    }







    function changeGridPageSize(value) {
        // alert(value);
        $("#ddlPageSize1").val(value);
        $("#ddlPageSize").val(value);
        $("#PageSize").val(value);
        var grid = $("#LeadsGrid").data("kendoGrid");
        grid.dataSource.pageSize(value);
        grid.refresh();

    }

    function showMonths() {

        if ($("#ddlOrderDate").val() == '0') {
            $("#divMain").hide();
        }
        else {
            $("#divMain").show();
        }
    }

    function EmptyGrid() {
        var txtOpenSearch = $('#txtOpenSearch');
        var ddlLeadStaus = $('#ddlLeadStaus');
        var ddlOrderDate = $('#ddlOrderDate');
        var ddlSpecificMonth = $('#ddlSpecificMonth');
        var ddlYear = $('#ddlYear');
        var ddlcompanyType = $('#ddlcompanyType');
        var ddlSalesReps = $('#ddlSalesReps');
        var ddlAccountManager = $('#ddlAccountManager');
        var ddlLeadSource = $('#ddlLeadSource');

        txtOpenSearch.val('');
        ddlLeadStaus.val('0');
        ddlOrderDate.val('0');
        ddlSpecificMonth.val('');
        ddlYear.val('');
        ddlcompanyType.val('-1');
        ddlSalesReps.val('00000000-0000-0000-0000-000000000000');
        ddlAccountManager.val('00000000-0000-0000-0000-000000000000');
        ddlLeadSource.val('');

        var grid = $("#LeadsGrid").data("kendoGrid");
        grid.dataSource.filter([{ field: "pkCompanyTypeId", operator: "", value: -5 }]);


        location.reload();
    }

    function BindLeadsGrid(LeadType) {

        debugger;

        $(".folderclass").css('font-weight', 'normal');
        $("#folderId_" + LeadType).css('font-weight', 'bold');
        var value = $("#lblFolders").find('select[id=ddfolders]');
        var arrar = $("#ddfolders").val().split("(");
        LeadType = 0;
        switch (arrar[0].trim()) {
            case 'All Leads': LeadType = 0; break
            case 'New Leads': LeadType = 1; break
            case 'Hot Leads': LeadType = 2; break
            case 'Cold Leads': LeadType = 3; break
            case 'Dead Leads': LeadType = 4; break
            case 'Active Leads': LeadType = "7"; break
                //Ticket #128: Add three folders to Emerge Office menu
            case 'Pending Demos': LeadType = 8; break
            case 'Pending Agreements': LeadType = 9; break
            case 'Deep Freeze': LeadType = 10; break
        }

        var txtOpenSearch = $('#txtOpenSearch');
        var txtopen = "";
        if ($('#txtOpenSearch').val().indexOf("(") > 0) {

            var arraytxtopen = txtOpenSearch.val().split('(');
            txtopen = arraytxtopen[0].trim();
        }
        else {
            txtopen = $('#txtOpenSearch').val();

        }


        var ddlLeadStaus = $('#ddlLeadStaus');
        var ddlOrderDate = $('#ddlOrderDate');
        var ddlOrderDateValue = $('#ddlOrderDate').val();
        var txtSpecificDate = $('#txtSpecificDate').val();
        var txtFromRange = $('#txtFromRange').val();
        var txtToRange = $('#txtToRange').val();
        var ddlSpecificMonth = $('#ddlSpecificMonth');
        var ddlYear = $('#ddlYear').val();
        var ddlcompanyType = $('#ddlcompanyType');
        var ddlSalesReps = $('#ddlSalesReps');
        var ddlAccountManager = $('#ddlAccountManager');
        var ddlLeadSource = $('#ddlLeadSource');


        var ddlLeadNextStep = $('#ddlLeadNextStep').val();
        var ddlSalesAssosiate = $("#ddlSalesAssosiate").val();




        document.getElementById("divSpecificMonth").style.display = 'none';
        document.getElementById("divSpecificDate").style.display = 'none';
        document.getElementById("divDateRange").style.display = 'none';

        if (ddlOrderDateValue < 4) {
            //  FilterGrid(ddlOrderDate.val(), ddlcompanyType.val(), ddlLeadStaus.val(), ddlAccountManager.val(), txtOpenSearch.val(), ddlSpecificMonth.val(),ddlYear,ddlLeadSource.val(),ddlSalesReps.val(),txtSpecificDate,txtFromRange,txtToRange,LeadType);
        }
        else if (ddlOrderDateValue == 4) { document.getElementById("divSpecificMonth").style.display = 'block'; }
        else if (ddlOrderDateValue == 5) { document.getElementById("divSpecificDate").style.display = 'block'; }
        else if (ddlOrderDateValue == 6) { document.getElementById("divDateRange").style.display = 'block'; }
        FilterGrid(ddlOrderDate.val(), ddlcompanyType.val(), ddlLeadStaus.val(), ddlAccountManager.val(), txtopen, ddlSpecificMonth.val(), ddlYear, ddlLeadSource.val(), ddlSalesReps.val(), txtSpecificDate, txtFromRange, txtToRange, LeadType, ddlLeadNextStep, ddlSalesAssosiate);
    }

    function FilterGrid(OrderDate, companyType, LeadStaus, AccountManager, Keyword, SpecificMonth, ddlYear, LeadSource, SalesReps, txtSpecificDate, txtFromRange, txtToRange, LeadType, ddlLeadNextStep, ddlSalesAssosiate) {

        //alert(ddlSalesAssosiate);
        //alert(ddlLeadNextStep);
        var grid = $("#LeadsGrid").data("kendoGrid");
        // alert(grid);
        // consol.log(grid);
        grid.dataSource.filter([

                     { field: "OrderDate", operator: "", value: OrderDate },
                     { field: "CompanyType", operator: "", value: companyType },
                     { field: "LeadStaus", operator: "", value: LeadStaus },
                     { field: "SalesRepName", operator: "", value: AccountManager },
                     { field: "Keyword", operator: "", value: Keyword },
                     { field: "Month", operator: "", value: SpecificMonth },
                     { field: "ddlYear", operator: "", value: ddlYear },
                     { field: "LeadSource", operator: "", value: LeadSource },
                     { field: "SalesReps", operator: "", value: SalesReps },
                     { field: "txtSpecificDate", operator: "", value: txtSpecificDate },
                     { field: "txtFromRange", operator: "", value: txtFromRange },
                     { field: "txtToRange", operator: "", value: txtToRange },
                     { field: "LeadType", operator: "", value: LeadType },
        { field: "LeadNextStep", operator: "", value: ddlLeadNextStep },
        { field: "SalesAssosiate", operator: "", value: ddlSalesAssosiate }

        ]
                            );

    }




    function ShowPopUp(action) {
        var Ids = '';
        $("#LeadsGrid .chk-style").each(function () {
            if ($(this).prop("checked")) {
                Ids = Ids + ($(this).prop("id")).split('_')[1] + ",";
            }
        });
        if (Ids == '') {
            alert("Please select at least one Lead!");
        }
        else {
            if (action == 'move') {
                $("#popup_MoveContainer").show();
                $("#popup_Move").data("kendoWindow").title("Move Lead");
                $("#popup_Move").data("kendoWindow").center();
                $("#popup_Move").data("kendoWindow").open();
            }
            else if (action == 'transfer') {
                $("#PopupTransferContainer").show();
                $("#PopupTransfer").data("kendoWindow").title("Transfer Lead");
                $("#PopupTransfer").data("kendoWindow").center();
                $("#PopupTransfer").data("kendoWindow").open();
            }
        }
    }

    function MoveLeads() {
        var Ids = '';
        $("#LeadsGrid .chk-style").each(function () {
            if ($(this).prop("checked")) {
                Ids = Ids + ($(this).prop("id")).split('_')[1] + ",";
            }
        });
        if ($("#ddPopuplLeadType").val() == '-1') {
            alert("Select Move Folder!");
        }
        else {
            $.ajax({
                url: "../Office/MoveLeads",
                type: "post",
                dataType: "json",
                data: { pkIds: Ids, LeadType: $("#ddPopuplLeadType").val() },
                error: function () { },
                beforeSend: function () {
                    $('#divAjaxLoader').css("display", "block");
                    $("#popup_Move").data("kendoWindow").close();
                },
                complete: function () {
                    $('#divAjaxLoader').css("display", "none");
                },
                success: function (data) {
                    var value = $("#lblFolders").find('select[id=ddfolders]');
                    var arrar = $("#ddfolders").val().split("(");

                    switch (arrar[0].trim()) {
                        case 'All Leads': document.getElementById("lblFolders").innerHTML = "<select id=\"ddfolders\" style=\"width: 98px;\" onchange=\"onchanged()\"><option id=\"AllLeads\" onclick=\"BindLeadsGrid(0);\">All Leads" + data.all_lead + "</option><option id=\"ActiveLeads\" onclick=\"BindLeadsGrid(0);\">Active Leads" + data.Active_Leads + "</option><option id=\"NewLeads\" onclick=\"BindLeadsGrid(1);\">New Leads" + data.new_lead + "</option><option id=\"HotLeads\" onclick=\"BindLeadsGrid(2);\">Hot Leads" + data.hot_lead + "</option><option id=\"ColdLeads\" onclick=\"BindLeadsGrid(3);\">Cold Leads" + data.cold_lead + "</option><option id=\"DeadLeads\" onclick=\"BindLeadsGrid(4);\">Dead Leads" + data.dede_lead + "</option><option id=\"pendingDemos\" onclick=\"BindLeadsGrid(8);\">Pending Demos" + data.pending_Demos + "</option><option id=\"pendingAgreements\" onclick=\"BindLeadsGrid(9);\">Pending Agreements" + data.pending_Agreements + "</option><option id=\"deepFreeze\" onclick=\"BindLeadsGrid(10);\">Deep Freeze" + data.deep_Freeze + "</option></select>"; break
                        case 'New Leads': document.getElementById("lblFolders").innerHTML = "<select id=\"ddfolders\" style=\"width: 98px;\" onchange=\"onchanged()\"><option id=\"NewLeads\" onclick=\"BindLeadsGrid(1);\">New Leads" + data.new_lead + "</option><option id=\"ActiveLeads\" onclick=\"BindLeadsGrid(0);\">Active Leads" + data.Active_Leads + "</option><option id=\"AllLeads\" onclick=\"BindLeadsGrid(0);\">All Leads" + data.all_lead + "</option><option id=\"HotLeads\" onclick=\"BindLeadsGrid(2);\">Hot Leads" + data.hot_lead + "</option><option id=\"ColdLeads\" onclick=\"BindLeadsGrid(3);\">Cold Leads" + data.cold_lead + "</option><option id=\"DeadLeads\" onclick=\"BindLeadsGrid(4);\">Dead Leads" + data.dede_lead + "</option><option id=\"pendingDemos\" onclick=\"BindLeadsGrid(8);\">Pending Demos" + data.pending_Demos + "</option><option id=\"pendingAgreements\" onclick=\"BindLeadsGrid(9);\">Pending Agreements" + data.pending_Agreements + "</option><option id=\"deepFreeze\" onclick=\"BindLeadsGrid(10);\">Deep Freeze" + data.deep_Freeze + "</option></select>"; break
                        case 'Hot Leads': document.getElementById("lblFolders").innerHTML = "<select id=\"ddfolders\" style=\"width: 98px;\" onchange=\"onchanged()\"><option id=\"HotLeads\" onclick=\"BindLeadsGrid(2);\">Hot Leads" + data.hot_lead + "</option><option id=\"ActiveLeads\" onclick=\"BindLeadsGrid(0);\">Active Leads" + data.Active_Leads + "</option><option id=\"AllLeads\" onclick=\"BindLeadsGrid(0);\">All Leads" + data.all_lead + "</option><option id=\"NewLeads\" onclick=\"BindLeadsGrid(1);\">New Leads" + data.new_lead + "</option><option id=\"ColdLeads\" onclick=\"BindLeadsGrid(3);\">Cold Leads" + data.cold_lead + "</option><option id=\"DeadLeads\" onclick=\"BindLeadsGrid(4);\">Dead Leads" + data.dede_lead + "</option><option id=\"pendingDemos\" onclick=\"BindLeadsGrid(8);\">Pending Demos" + data.pending_Demos + "</option><option id=\"pendingAgreements\" onclick=\"BindLeadsGrid(9);\">Pending Agreements" + data.pending_Agreements + "</option><option id=\"deepFreeze\" onclick=\"BindLeadsGrid(10);\">Deep Freeze" + data.deep_Freeze + "</option></select>"; break
                        case 'Cold Leads': document.getElementById("lblFolders").innerHTML = "<select id=\"ddfolders\" style=\"width: 98px;\" onchange=\"onchanged()\"><option id=\"ColdLeads\" onclick=\"BindLeadsGrid(3);\">Cold Leads" + data.cold_lead + "</option><option id=\"ActiveLeads\" onclick=\"BindLeadsGrid(0);\">Active Leads" + data.Active_Leads + "</option><option id=\"AllLeads\" onclick=\"BindLeadsGrid(0);\">All Leads" + data.all_lead + "</option><option id=\"NewLeads\" onclick=\"BindLeadsGrid(1);\">New Leads" + data.new_lead + "</option><option id=\"HotLeads\" onclick=\"BindLeadsGrid(2);\">Hot Leads" + data.hot_lead + "</option><option id=\"DeadLeads\" onclick=\"BindLeadsGrid(4);\">Dead Leads" + data.dede_lead + "</option><option id=\"pendingDemos\" onclick=\"BindLeadsGrid(8);\">Pending Demos" + data.pending_Demos + "</option><option id=\"pendingAgreements\" onclick=\"BindLeadsGrid(9);\">Pending Agreements" + data.pending_Agreements + "</option><option id=\"deepFreeze\" onclick=\"BindLeadsGrid(10);\">Deep Freeze" + data.deep_Freeze + "</option></select>"; break
                        case 'Dead Leads': document.getElementById("lblFolders").innerHTML = "<select id=\"ddfolders\" style=\"width: 98px;\" onchange=\"onchanged()\"><option id=\"DeadLeads\" onclick=\"BindLeadsGrid(4);\">Dead Leads" + data.dede_lead + "</option><option id=\"ActiveLeads\" onclick=\"BindLeadsGrid(0);\">Active Leads" + data.Active_Leads + "</option><option id=\"AllLeads\" onclick=\"BindLeadsGrid(0);\">All Leads" + data.all_lead + "</option><option id=\"NewLeads\" onclick=\"BindLeadsGrid(1);\">New Leads" + data.new_lead + "</option><option id=\"HotLeads\" onclick=\"BindLeadsGrid(2);\">Hot Leads" + data.hot_lead + "</option><option id=\"ColdLeads\" onclick=\"BindLeadsGrid(3);\">Cold Leads" + data.cold_lead + "</option><option id=\"pendingDemos\" onclick=\"BindLeadsGrid(8);\">Pending Demos" + data.pending_Demos + "</option><option id=\"pendingAgreements\" onclick=\"BindLeadsGrid(9);\">Pending Agreements" + data.pending_Agreements + "</option><option id=\"deepFreeze\" onclick=\"BindLeadsGrid(10);\">Deep Freeze" + data.deep_Freeze + "</option></select>"; break
                        case 'Active Leads': document.getElementById("lblFolders").innerHTML = "<select id=\"ddfolders\" style=\"width: 98px;\" onchange=\"onchanged()\"><option id=\"ActiveLeads\" onclick=\"BindLeadsGrid(0);\">Active Leads" + data.Active_Leads + "</option><option id=\"AllLeads\" onclick=\"BindLeadsGrid(0);\">All Leads" + data.all_lead + "</option><option id=\"NewLeads\" onclick=\"BindLeadsGrid(1);\">New Leads" + data.new_lead + "</option><option id=\"HotLeads\" onclick=\"BindLeadsGrid(2);\">Hot Leads" + data.hot_lead + "</option><option id=\"ColdLeads\" onclick=\"BindLeadsGrid(3);\">Cold Leads" + data.cold_lead + "</option><option id=\"DeadLeads\" onclick=\"BindLeadsGrid(4);\">Dead Leads" + data.dede_lead + "</option><option id=\"pendingDemos\" onclick=\"BindLeadsGrid(8);\">Pending Demos" + data.pending_Demos + "</option><option id=\"pendingAgreements\" onclick=\"BindLeadsGrid(9);\">Pending Agreements" + data.pending_Agreements + "</option><option id=\"deepFreeze\" onclick=\"BindLeadsGrid(10);\">Deep Freeze" + data.deep_Freeze + "</option></select>"; break
                            //Ticket #128: Add three folders to Emerge Office menu
                        case 'Pending Demos': document.getElementById("lblFolders").innerHTML = "<select id=\"ddfolders\" style=\"width: 98px;\" onchange=\"onchanged()\"><option id=\"ActiveLeads\" onclick=\"BindLeadsGrid(0);\">Active Leads" + data.Active_Leads + "</option><option id=\"AllLeads\" onclick=\"BindLeadsGrid(0);\">All Leads" + data.all_lead + "</option><option id=\"NewLeads\" onclick=\"BindLeadsGrid(1);\">New Leads" + data.new_lead + "</option><option id=\"HotLeads\" onclick=\"BindLeadsGrid(2);\">Hot Leads" + data.hot_lead + "</option><option id=\"ColdLeads\" onclick=\"BindLeadsGrid(3);\">Cold Leads" + data.cold_lead + "</option><option id=\"DeadLeads\" onclick=\"BindLeadsGrid(4);\">Dead Leads" + data.dede_lead + "</option><option id=\"pendingDemos\" onclick=\"BindLeadsGrid(8);\">Pending Demos" + data.pending_Demos + "</option><option id=\"pendingAgreements\" onclick=\"BindLeadsGrid(9);\">Pending Agreements" + data.pending_Agreements + "</option><option id=\"deepFreeze\" onclick=\"BindLeadsGrid(10);\">Deep Freeze" + data.deep_Freeze + "</option></select>"; break
                        case 'Pending Agreements': document.getElementById("lblFolders").innerHTML = "<select id=\"ddfolders\" style=\"width: 98px;\" onchange=\"onchanged()\"><option id=\"ActiveLeads\" onclick=\"BindLeadsGrid(0);\">Active Leads" + data.Active_Leads + "</option><option id=\"AllLeads\" onclick=\"BindLeadsGrid(0);\">All Leads" + data.all_lead + "</option><option id=\"NewLeads\" onclick=\"BindLeadsGrid(1);\">New Leads" + data.new_lead + "</option><option id=\"HotLeads\" onclick=\"BindLeadsGrid(2);\">Hot Leads" + data.hot_lead + "</option><option id=\"ColdLeads\" onclick=\"BindLeadsGrid(3);\">Cold Leads" + data.cold_lead + "</option><option id=\"DeadLeads\" onclick=\"BindLeadsGrid(4);\">Dead Leads" + data.dede_lead + "</option><option id=\"pendingDemos\" onclick=\"BindLeadsGrid(8);\">Pending Demos" + data.pending_Demos + "</option><option id=\"pendingAgreements\" onclick=\"BindLeadsGrid(9);\">Pending Agreements" + data.pending_Agreements + "</option><option id=\"deepFreeze\" onclick=\"BindLeadsGrid(10);\">Deep Freeze" + data.deep_Freeze + "</option></select>"; break
                        case 'Deep Freeze': document.getElementById("lblFolders").innerHTML = "<select id=\"ddfolders\" style=\"width: 98px;\" onchange=\"onchanged()\"><option id=\"ActiveLeads\" onclick=\"BindLeadsGrid(0);\">Active Leads" + data.Active_Leads + "</option><option id=\"AllLeads\" onclick=\"BindLeadsGrid(0);\">All Leads" + data.all_lead + "</option><option id=\"NewLeads\" onclick=\"BindLeadsGrid(1);\">New Leads" + data.new_lead + "</option><option id=\"HotLeads\" onclick=\"BindLeadsGrid(2);\">Hot Leads" + data.hot_lead + "</option><option id=\"ColdLeads\" onclick=\"BindLeadsGrid(3);\">Cold Leads" + data.cold_lead + "</option><option id=\"DeadLeads\" onclick=\"BindLeadsGrid(4);\">Dead Leads" + data.dede_lead + "</option><option id=\"pendingDemos\" onclick=\"BindLeadsGrid(8);\">Pending Demos" + data.pending_Demos + "</option><option id=\"pendingAgreements\" onclick=\"BindLeadsGrid(9);\">Pending Agreements" + data.pending_Agreements + "</option><option id=\"deepFreeze\" onclick=\"BindLeadsGrid(10);\">Deep Freeze" + data.deep_Freeze + "</option></select>"; break

                    }



                    $('.container').html('');
                    var dropdownlist = $(document.getElementById("lblFolders").innerHTML).appendTo($('.container')).kendoDropDownList({}).data("kendoDropDownList");
                    var grid = $("#LeadsGrid").data("kendoGrid");
                    grid.dataSource.read();
                    grid.refresh();

                }
            });

        }

    }
    function TransferLeads() {
        var Ids = '';
        $("#LeadsGrid .chk-style").each(function () {
            if ($(this).prop("checked")) {
                Ids = Ids + ($(this).prop("id")).split('_')[1] + ",";
            }
        });
        if ($("#ddlSalesManager").val() == '00000000-0000-0000-0000-000000000000') {
            alert("Select Account Manager!");
        }
        else {
            $.post("../Office/TransferLeads", { pkIds: Ids, SalesManager: $("#ddlSalesManager").val() }, function (data) {
                var grid = $("#LeadsGrid").data("kendoGrid");
                grid.dataSource.read();
                grid.refresh();
                $("#PopupTransfer").data("kendoWindow").close();
            });
        }

    }



    function DeleteMultiple() {
        var Ids = '';
        $("#LeadsGrid .chk-style").each(function () {
            if ($(this).prop("checked")) {
                Ids = Ids + ($(this).prop("id")).split('_')[1] + ",";
            }
        });
        if (Ids == '') {
            alert("Please select at least one Lead!");
        }
        else {
            if (confirm('Are you sure to delete Lead(s) ?')) {
                $.post("../Office/DeleteBatchLeads", { pkIds: Ids }, function (data) {
                    var grid = $("#LeadsGrid").data("kendoGrid");
                    grid.dataSource.read();
                    grid.refresh();
                    $("#PopupTransfer").data("kendoWindow").close();
                });
            }
        }

    }

    function ButtonLead_click(e) {

        var evt = e ? e : window.event;

        if (evt.keyCode == 13) {
            BindLeadsGrid(0);
            return false;
        }
    }
    $("#img3").click(function (e) {
        $("#callogchkd").val("");
    });

    $("#imgCall").click(function (e) {

        $("#callogchkd").val("1");
    });




</script>
