﻿@model Emerge.Models.ManageDocumentsModel
@{
    ViewBag.Title = "Admin Documents";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
    <link href="@Url.Content("~/Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.2.712/telerik.windows7.min.css")" rel="stylesheet" type="text/css" />
}

<div id="content-box">
 
    
    <div class="padding">
        <div id="toolbar-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
                <div class="toolbar" id="toolbar">
                    <table class="toolbar">
                        <tr>
                            <td>
                            </td>
                            <td>
                                <img class="imgCommon" src="@Url.Content("~/Content/themes/base/images/icon-32-back.png")" title="Back to locations"
                                        onclick="history.back();" alt="Back" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="header icon-48-categories" style="padding: 0px 0px 0px 55px; width: 60%">
                    Documents
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>


        <div style="text-align:center;"> @Html.Raw(Model.Message)
                            <div id="divSettinngMsg" style="display: none">
                            </div>
        </div>
           <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                                        <div class="t">
                                            <div class="t">
                                                <div class="t">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m">
         
                                        </div>
                                        <div class="m">
                                            @*<div class="header1" style="padding: 0px 0px 10px 0px; width: 60%"  >
                                                    Documents
                                            </div>*@
                                                <div id="DivDocuments" class="expand">   
                                                   <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation">
                    <tr>
                        <td>
                            <table cellspacing="2" cellpadding="2" width="100%" style="height: 30px; font-weight: bold;"
                                class="Center_ImgMVC">
                                <tr>
                                    <td style="width: 15%; text-align:left;">
                                        Title
                                    </td>
                                   
                                    <td style="width: 130px; text-align: center;">
                                        View Documents
                                    </td>
                                    <td style="width: 250px; text-align: center;">
                                        Documents
                                    </td>

                                    <td style="width: 100px; text-align: center;">
                                        
                                    </td>
                                    <td style="width: 230px; text-align: left;">
                                    Action
                                    </td>
                                   
                                </tr>
                            </table>
                            <div class="ReportLeft">

                             @for (int i = 0; i < Model.ObjOfficeDocuments.Count; i++)
                             {
                                 string color = "#f5f5f5";
                                 if (i % 2 == 0)
                                 {
                                     color = "white";
                                 }
                                    <div style="background-color:@color">
                                        <form method="post" action="UpdateDocuments" enctype="multipart/form-data" id="form">
                                        <table cellspacing="2" cellpadding="2" width="100%">
                                            <tr style="height: 25px;">
                                                <td style="width: 15%;">
                                                    <input type="text" id="Title_@i" style="width:100%" name="Title" class="k-textbox"  required validationMessage="Please enter title" value="@Model.ObjOfficeDocuments.ElementAt(i).DocumentTitle"/>
                                                    <span></span>
                                                </td>
                                               <td  style="width: 130px; text-align: center;">
                                                @{string filepath = Model.ObjOfficeDocuments.ElementAt(i).DocumentPath + "_" + Model.ObjOfficeDocuments.ElementAt(i).DocumentTitle;
                                                  if (File.Exists(Request.PhysicalApplicationPath + "Resources/Upload/OfficeDocuments/" + Model.ObjOfficeDocuments.ElementAt(i).DocumentPath))
                                                  {
                                                        <a title="View" id="aDownload" href="DownloadDocumentsFile/?FPathTitle=@filepath">View</a>
                                                  }
                                                    }
                                                   </td> 
                                                <td style="width: 250px">
                                                    <input type="file" id="File_" name="fileupl" />
                                                </td>
                                               
                                                <td style="width: 20px; text-align: center;">

                                                 <input type="hidden" name="pkDocumentId" value="@Model.ObjOfficeDocuments.ElementAt(i).pkDocumentId" />
                                                    <input type="hidden" name="DocumentPath" value="@Model.ObjOfficeDocuments.ElementAt(i).DocumentPath" />
                                                  
                                                </td>
                                                <td style="width: 230px; text-align: center;">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <input  id="Edit_@i" onclick="return CheckEditValidation(this.id);" type="submit" value="Edit" title="Edit" class="Editbtn" style="cursor:pointer; border:1px solid #c5c5c5" />
                                                            </td>
                                                            <td>
                                                            <input type="button" onclick="return DeleteDocuments(this.id)" id="@Model.ObjOfficeDocuments.ElementAt(i).pkDocumentId"  value="Delete" title="Delete" class="EditDel" style="cursor:pointer; "/>
                                                          @*  <input type="button" onclick="return DeleteDoocuments(@Model.ObjOfficeDocuments.ElementAt(i).pkDocumentId)" value="Delete" title="Delete" class="EditDel" style="cursor:pointer;"/>*@
                                                           
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                
                                            </tr>
                                        </table>
                                        </form>
                                        
                                        
                                    </div>
                             }
                                <form method="post" action="AddDocuments" enctype="multipart/form-data" id="forms">
                                <table id="tblValidate" cellspacing="2" cellpadding="2" width="100%">
                                    <tr style="height: 25px;">
                                                <td style="width: 15%;">
                                                    <input type="text" id="Title_" style="width:100%" name="Title" class="k-textbox"  required validationMessage="Please enter title" value=""/>
                                                    <span></span>
                                                </td>
                                               
                                                <td style="width: 130px; text-align: center;">
                                                   
                                                </td>
                                                <td style="width: 250px">
                                                    <input id="AddFileUpload" required type="file" name="fileupload" validationmessage="Please upload file"/>
                                                </td>
                                             
                                                <td style="width: 20px; text-align: center;">
                                                  
                                                </td>
                                                 
                                                 <td style="width: 230px; text-align: center;">
                                                  </td>
                                            </tr>
                                    <tr>
                                       <td>
                                           
                                            <input type="submit" onclick="return CheckValidation();" value="" style="border: 0px solid white;cursor:pointer;background-color:#f2f7fb;"
                                                class="AddNew" title="Add New" />
                                        </td>
                                    </tr>
                                </table>
                                </form>
                            </div>
                        </td>
                    </tr>
                </table>
                                            </div>
                                            <div class="clr">
                                            </div>
                                        </div>
                                        <div class="b">
                                            <div class="b">
                                                <div class="b">
                                                </div>
                                            </div>
                                        </div>
                                    </div>




      @*  <div id="element-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
               
                <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation">
                    <tr>
                        <td align="center">
                         
                        </td>
                    </tr>
                    <tr>
                        <td class="BlackHeader">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="50%">
                                       Documents
                                    </td>
                                    <td align="right" width="44%">
                                    </td>
                                    <td align="center">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                        
                        </td>
                    </tr>
                    
                </table>
             
           
               
               
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>*@
        <div class="clr">
        </div>
    </div>
</div>

<style>

.AddNew
    {
        width: 71px;
        background-image: url("../Content/themes/base/images/addNew.png");
    }
    
    .Editbtn
    {
        height: 24px;
        width: 75px;
        padding: 0 7px 1px;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        background-color:#e6e6e6;
        background-image: url("../Content/textures/highlight.png");
        background-position: 0 center;
        background-position-y: center;
    }
    
    .EditDel
    {
        height: 24px;
        width: 75px;
        padding: 0 7px 1px;
        border: 1px solid #c5c5c5;
        border-radius: 5px;
        background-color: #e6e6e6;
        background-image: url("../Content/textures/highlight.png");
        background-position: 0 center;
        background-position-y: center;
    }
     input[type="submit"]
    {
        border: 1px solid #C5C5C5;
    }
        .ReportLeft
    {
        border-left: 1px solid #C5C5C5;
        border-right: 1px solid #C5C5C5;
        border-bottom: 1px solid #C5C5C5;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
</style>
<script type="text/javascript">

    function DeleteDocuments(pkDocumentsId) {

        if (confirm("Are you sure you want to delete this Document?")) {
            $.post('@Url.Action("DeleteDocuments", "Office")', { pkDocumentsId: pkDocumentsId }, function (Message) {
                window.location.href = 'ManageDocuments?Status=' + Message;
            });
        }
        else {
            return false;
        }

    }

    function CheckEditValidation(id) {
       
        var no = id.split('_')[1];
       
        var Title = document.getElementById("Title_"+no).value;
      
        return DisplayMessage(Title, 1);


    }



    function CheckValidation() {
        var validator = $("#tblValidate").kendoValidator().data("kendoValidator");
        if (validator.validate()) {
            return true;
        } else {
            return false;
        }
    }


    function DisplayMessage(Title,docFileLength) {
        var Msg = '';
        if (Title == '') {
            Msg = "Please enter title";
        }
       

        if (docFileLength == 0) {
            Msg += "\nPlease upload file";
        }
        if (Msg == '') {
            return true;
        }
        else {
          //  alert(Msg);
            return false;
        }
    }




</script>



<style type="text/css">
div.header1 { 
    cursor:default; 
}


.AdminAddInformation {
    background-color: transparent;
    width: 100%;
}
 </style>