﻿@model Emerge.Models.UsersModel
@{
    ViewBag.Title = "My Profile";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}
<style type="text/css">
    input
    {
        margin-right: 10px;
    }
    .k-dropdown
    {
        margin-right: 10px;
        width: 224px;
        float: left;
    }
    .k-invalid-msg, .k-textbox
    {
        float: left;
    }
    


div.header1 { 
    cursor:default; 
}
</style>
<div id="content-box">
 @using (Html.BeginForm("SaveOfficeUserDetailsById", "Office", FormMethod.Post, new { enctype = "multipart/form-data", id = "formAccount" }))
 {
    <div class="padding">
        <div id="toolbar-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
                <div class="toolbar" id="toolbar">
                    <table class="toolbar">
                        <tr>
                            <td>
                             <img alt="Save" src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/save_button.png")"
                                   id="imgbtnSave" title="Save User info"  onclick="return CheckValidations();" />
                                     <input type="submit" id="newimgbtnSave" style="display:none;" />
                            </td>
                            <td>
                                <a href="UsersList">
                                    <img class="imgCommon" src="../Content/themes/base/images/ControlPanel/images/toolbar/cancel_button.png"
                                        title="Cancel" /></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="header icon-48-user" style="padding: 0px 0px 0px 55px; width: 40%">
                    <label id="user_name"></label>
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div style="text-align:center;">
           @Html.HiddenFor(m => m.strResult)@Html.HiddenFor(m => m.pkCompanyUserId)
                            <div id="divMSG">
                            </div>
        </div>

           <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                                        <div class="t">
                                            <div class="t">
                                                <div class="t">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m">
         
                                        </div>
                                        <div class="m">
                                            <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%"  >
                                                    My Profile
                                            </div>
                                                <div id="DivUsers" class="expand">  
                                                  <table border="0" width="100%">
                                <tr id="trUserImage">
                                    <td colspan="2" align="left" >
                                        <img src= "@Model.ViewImage" alt="User Image" title="User Image"width="60px" height="68px"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column"  width="125px">
                                        User Note :
                                    </td>
                                    <td align="left">
                                        <textarea style="height: 60px; width: 550px;" cols="20" rows="2" id="UserNote" name="UserNote"
                                            class="NoteTextBoxStyle">@Model.UserNote</textarea>
                                    </td>
                                </tr>
                                @if (@Model.LastLoginByUser != null)
                                {
                                    <tr id="trLastLogin">
                                        <td class="alt_column">
                                            Last Login
                                        </td>
                                        <td align="left">
                                            @Model.LastLoginByUser
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                }
                                <tr id="trEnable" style="display:none">
                                    <td class="alt_column">
                                        Enabled ?
                                    </td>
                                    <td align="left">
                                        @Html.CheckBoxFor(m => m.IsEnabled)
                                    </td>
                                </tr>
                                <tr id="trSignedFCRA" style="display:none">
                                    <td class="alt_column" width="170px">
                                        Signed FCRA ?
                                    </td>
                                    <td align="left">
                                    @Html.CheckBoxFor(m => m.IsSignedFcra)
                                      
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">
                                        User Image :
                                    </td>
                                    <td align="left">
                                        @Html.TextBoxFor(m => m.UserImage, new { type = "file" })
                                        @Html.HiddenFor(m => m.OldUserImage)                                     
                                        @*<asp:regularexpressionvalidator id="revfuUserImage" runat="server" display="Dynamic"
                                            errormessage="Only .jpg,.gif,.png,.jpeg are allowed." controltovalidate="fuUserImage"
                                            validationexpression="^.+\.((jpg)|(gif)|(jpeg)|(png)|(JPG)|(PNG)|(GIF)|(JPEG))$"
                                            validationgroup="UserRegistration"></asp:regularexpressionvalidator>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">
                                        <span class="RequiredFieldsIndicator">*</span>First Name :
                                    </td>
                                    <td align="left">
                                        <input type="text" id="FirstName" name="FirstName" class="k-textbox" value="@Model.FirstName" required validationmessage="Please enter First Name"  />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">
                                        <span class="RequiredFieldsIndicator">*</span>Last Name :
                                    </td>
                                    <td align="left">
                                      <input type="text" id="LastName" name="LastName" class="k-textbox" value="@Model.LastName" required validationMessage="Please enter Last Name" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">
                                        <span class="RequiredFieldsIndicator">*</span>Email / User Name :
                                    </td>
                                    <td align="left">
                                          @Html.HiddenFor(m => m.OldUserEmail)@Html.HiddenFor(m => m.CurrentUserEmail)
                                            @Html.HiddenFor(m => m.fkUserId)@Html.HiddenFor(m => m.OldUserPassword)
                                            @Html.HiddenFor(m => m.Initials)
                                            <input type="email" id="UserEmail" name="UserEmail" class="k-textbox" placeholder="e.g. myname@example.net"  style="width:220px"
                                              required validationmessage="Please enter Email" required data-email-msg="Email format is not valid" value="@Model.UserEmail" />
                                      
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">
                                        <span class="RequiredFieldsIndicator">*</span>Password :
                                    </td>
                                    <td align="left">
                                      <input type="text" id="UserPassword" name="UserPassword" class="k-textbox" value="@Model.UserPassword"  required pattern="^\S{1}(?:.){4,}\S$" validationMessage="Password length must be greater than 6."   />
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">
                                        <span class="RequiredFieldsIndicator">*</span>State :
                                    </td>
                                    <td align="left">
                                        @Html.HiddenFor(m => m.fkStateId, new { id = "hdfkStateId" })
                                            <select id="fkStateId" name="fkStateId" required validationmessage="Please select State" 
                                                class="k-dropdown" value="@Model.fkStateId">
                                            </select>
                                            <span class="k-invalid-msg" data-for="fkStateId"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">
                                        County :
                                    </td>
                                    <td align="left">
                                        @Html.HiddenFor(m => m.fkCountyId, new { id = "hdfkCountyId" })
                                        <select id="fkCountyId" name="fkCountyId"  class="k-dropdown" value="@Model.fkCountyId"  style="width:224px">
                                        </select>
                                      
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">
                                        Address1 :
                                    </td>
                                    <td align="left">
                                        <input type="text" id="UserAddressLine1" name="UserAddressLine1" class="k-textbox" value="@Model.UserAddressLine1"  />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">
                                        Address2 :
                                    </td>
                                    <td align="left">
                                     <input type="text" id="UserAddressLine2" name="UserAddressLine2" class="k-textbox" value="@Model.UserAddressLine2" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">
                                        Zip Code :
                                    </td>
                                    <td align="left">
                                      <input type="text" id="ZipCode" name="ZipCode" class="k-textbox" value="@Model.ZipCode" pattern="\d{5}" validationmessage="Please enter valid Zip Code"/>
                                        @*  <asp:customvalidator id="CustomValidator1" runat="server" display="Dynamic" setfocusonerror="true"
                                            validationgroup="UserRegistration" clientvalidationfunction="ValidateZip" errormessage="Enter Valid Zip Code."
                                            controltovalidate="txtZipCode">
                                                    </asp:customvalidator>*@
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">
                                        Phone No :
                                    </td>
                                    <td align="left">
                                     <input type="text" id="PhoneNo" name="PhoneNo" class="k-textbox" value="@Model.PhoneNo"  pattern="((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}" validationmessage="Please enter valid Phone No"  onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                                     
                                    </td>
                                </tr>
                            </table> 
                                            </div>
                                            <div class="clr">
                                            </div>
                                        </div>
                                        <div class="b">
                                            <div class="b">
                                                <div class="b">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

           <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                                        <div class="t">
                                            <div class="t">
                                                <div class="t">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m">
         
                                        </div>
                                        <div class="m">
                                            <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%"  >
                                                    Location
                                            </div>
                                                <div id="DivLocation" class="expand">   
                                                 <table width="100%">
                                <tr>
                                    <td width="125px" class="alt_column">
                                        <span class="RequiredFieldsIndicator">*</span>Company :
                                    </td>
                                    <td align="left">
                                         @Html.HiddenFor(m => m.PkCompanyId, new { id = "hdPkCompanyId" })
                                            <select id="PkCompanyId" name="PkCompanyId"  style="width:224px" disabled="disabled"  class="k-dropdown" value="@Model.PkCompanyId">
                                            </select>
                                          
                                    </td>
                                </tr>
                                <tr>
                                    <td class="alt_column">
                                        <span class="RequiredFieldsIndicator">*</span>Location :
                                    </td>
                                    <td align="left">
                                      @Html.HiddenFor(m => m.fkLocationId, new { id = "hdfkLocationId" })
                                            <select id="fkLocationId" name="fkLocationId"  style="width:224px" disabled="disabled"  class="k-dropdown" value="@Model.fkLocationId">
                                            </select>
                                           
                                    </td>
                                </tr>
                            </table>
                                            </div>
                                            <div class="clr">
                                            </div>
                                        </div>
                                        <div class="b">
                                            <div class="b">
                                                <div class="b">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

           <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                                        <div class="t">
                                            <div class="t">
                                                <div class="t">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m">
         
                                        </div>
                                        <div class="m">
                                            <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%"  >
                                                    Restrictions 
                                            </div>
                                                <div id="DivRestrictions" class="expand">  
                                                 <table width="100%">
                                <tr>
                                    <td width="125px" class="alt_column">
                                        <span class="RequiredFieldsIndicator">*</span>Status :
                                    </td>
                                    <td align="left">
                                         @Html.HiddenFor(m => m.RoleId, new { id = "hdRoleId" })@Html.HiddenFor(m => m.Selected_RoleName)
                                            <select id="RoleId" name="RoleId" disabled="disabled"  style="width:224px"  class="k-dropdown" value="@Model.RoleId">
                                            </select>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div  id="trManager" @(Model.trManagerVisible == true ? "style=display:block" : "style=display:none")>
                                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                <tr>
                                                    <td class="alt_column">
                                                        <span class="RequiredFieldsIndicator">*</span>Sales Manager :
                                                    </td>
                                                    <td align="left">@Html.HiddenFor(m => m.ManagerUserId, new { id = "hdManagerUserId" })
                                                        <select id="ManagerUserId" name="ManagerUserId"  value="@Model.ManagerUserId" @(Model.ddlManagersEnabled == "false" ? "disabled=disabled" : "")  class="k-dropdown">
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table> 
                                            </div>
                                            <div class="clr">
                                            </div>
                                        </div>
                                        <div class="b">
                                            <div class="b">
                                                <div class="b">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


     @*      <div id="element-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div  id="tickets" class="m">
                <table cellpadding="3" cellspacing="3" class="AdminAddInformation">
                    <tr>
                        <td colspan="3" align="center">
                         
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center">
                          
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="BlackHeader1">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        Location
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center">
                           
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="BlackHeader">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        Restrictions
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center">
                           
                        </td>
                    </tr>
                </table>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>*@


        <div class="clr">
        </div>
    </div>
 }
</div>
<script type="text/javascript">

    function CheckValidations() {
        $("#newimgbtnSave").click();
        var validator = $("#tickets").kendoValidator().data("kendoValidator");


        if (validator.validate()) {
            return true;
        } else {
            return false;
        }

    }
    GetResult();
    function GetResult() {

        var divMSG = document.getElementById('divMSG');
        var strResult = document.getElementById('strResult');
       
        if (strResult != 'null' || strResult.value != '') {
            divMSG.style.display = "block";
            divMSG.innerHTML = strResult.value;
        }
    }
</script>
<script type="text/javascript">

    $(document).ready(function () {
        document.getElementById("user_name").innerHTML = document.getElementById("FirstName").value.toUpperCase() + " " + document.getElementById("LastName").value.toUpperCase(); 
        $("#fkStateId").kendoDropDownList({

            dataTextField: "StateName",
            dataValueField: "pkStateId",
            optionLabel: "Select",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("BindStateKendo", "Corporate")',
                        type: "POST"
                    }
                }
            },
            change: function (e) {
                $("#hdfkStateId").val(this.value());

                var stateid = this.value();
                $("#fkCountyId").css("display", "block");
                $("#fkCountyId").kendoDropDownList({
                    optionLabel: "Select",
                    dataTextField: "CountyName",
                    dataValueField: "pkCountyId",

                    dataSource: {
                        serverFiltering: true,

                        transport: {
                            read: {
                                url: '@Url.Action("GetCountiesByStateId", "Corporate")',
                                data: { StateId: stateid },
                                type: "POST"
                            }
                        }
                    },
                    change: function (e) {
                        $("#hdfkCountyId").val(this.value());
                    }

                });
            }
        });
        var fkStateId = $("#hdfkStateId").val();
        var ddlState = $("#fkStateId").data("kendoDropDownList");
        ddlState.value(fkStateId);


    });

    $(document).ready(function () {
        var fkStateId = $("#hdfkStateId").val();

        $("#fkCountyId").css("display", "block");
        $("#fkCountyId").kendoDropDownList({
            dataTextField: "CountyName",
            dataValueField: "pkCountyId",
            optionLabel: "Select",
            dataSource: {
                serverFiltering: true,

                transport: {
                    read: {
                        url: '@Url.Action("GetCountiesByStateId", "Corporate")',
                        data: { StateId: fkStateId },
                        type: "POST"
                    }
                }
            },
            change: function (e) {
                $("#hdfkCountyId").val(this.value());

            }
        });
        var fkCountyId = $("#hdfkCountyId").val();
        var ddlCounty = $("#fkCountyId").data("kendoDropDownList");
        ddlCounty.value(fkCountyId);
    });



    $(document).ready(function () {
        $("#PkCompanyId").kendoDropDownList({
            dataTextField: "CompanyName",
            dataValueField: "pkCompanyId",

            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("BindCompanyKendo", "Corporate")',
                        type: "POST"
                    }
                }
            },
            change: function (e) {

                $("#hdPkCompanyId").val(this.value());

                var companyid = this.value();

                $("#fkLocationId").css("display", "block");

                $("#fkLocationId").kendoDropDownList({

                    dataTextField: "City",
                    dataValueField: "pkLocationId",

                    dataSource: {
                        serverFiltering: true,

                        transport: {
                            read: {
                                url: '@Url.Action("BindLocationsByCompanyId", "Corporate")',
                                data: { CompanyId: companyid },
                                type: "POST"
                            }
                        }
                    },
                    change: function (e) {
                        $("#hdfkLocationId").val(this.value());

                    }
                });
            }
        });
        var PkCompanyId = $("#hdPkCompanyId").val();
        var ddlCompany = $("#PkCompanyId").data("kendoDropDownList");
        ddlCompany.value(PkCompanyId);

    });
    $(document).ready(function () {
        var PkCompanyId = $("#hdPkCompanyId").val();
        $("#fkLocationId").css("display", "block");

        $("#fkLocationId").kendoDropDownList({

            dataTextField: "City",
            dataValueField: "pkLocationId",
            dataSource: {
                serverFiltering: true,

                transport: {
                    read: {
                        url: '@Url.Action("BindLocationsByCompanyId", "Corporate")',
                        data: { CompanyId: PkCompanyId },
                        type: "POST"
                    }
                }
            },
            change: function (e) {
                $("#hdfkLocationId").val(this.value());

            }
        });
        var fkLocationId = $("#hdfkLocationId").val();
        var ddlLocation = $("#fkLocationId").data("kendoDropDownList");
        ddlLocation.value(fkLocationId);
    });


    $(document).ready(function () {
        var Selected_RoleName = $("#Selected_RoleName").val();
        $("#RoleId").kendoDropDownList({
            dataTextField: "Description",
            dataValueField: "RoleId",
          
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("BindStatus4View", "Office")',
                        data: { RoleName: Selected_RoleName },
                        type: "POST"
                    }   
                }
            },
            change: function (e) {
            
                $("#hdRoleId").val(this.value());

            }
        });
      
        var RoleId = $("#hdRoleId").val();
        var ddlStatus = $("#RoleId").data("kendoDropDownList");
        ddlStatus.value(RoleId);
    });

    $(document).ready(function () {
        $("#ManagerUserId").kendoDropDownList({
            dataTextField: "FullName",
            dataValueField: "UserId",

            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("LoadManagers", "Office")',
                        type: "POST"
                    }
                }
            },
            change: function (e) {
                $("#hdManagerUserId").val(this.value());

            }
        });
        var ManagerUserId = $("#hdManagerUserId").val();
        var ddl = $("#ManagerUserId").data("kendoDropDownList");
        ddl.value(ManagerUserId);
    });
   
</script>
