﻿@{
    ViewBag.Title = "My Clients";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}

<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "EMEdit.js")" type="text/javascript"></script>
<script type="text/javascript" src="../../Scripts/KendoJS/kendo.datepicker.min.js"></script>
<script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/KendoJS/kendo.chart.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/iphone-style-checkboxes.js")" type="text/javascript"></script>


 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
 <style type="text/css">
   .st_inactive
    {
        background-color: #7c7b7b;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
       
    }
    .st_active
    {
        background-color: #059a02;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_locked
    {
        background-color: #ff6600;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_pastdue
    {
        background-color: #990099;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_incollections
    {
        background-color: #000000;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .chk-head-style
    {
    }
    .chk-style
    {
    }
    .k-grid .centeralign
    {
        text-align: center;
    }
     .ReportLeft
    {
        z-index: 2000;
        top: -26.5em;
        width: auto;
        border-top: 1px solid #94c0d2;
        border-left: 1px solid #94c0d2;
        border-right: 1px solid #94c0d2;
        border-bottom: 1px solid #94c0d2;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
       margin-left: -100px;
      
           
    }
</style>
<div id="content-box" >
     <div class="padding" >
        <div id="toolbar-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                     <div id="popupCall">
            
            </div>
                    </div>
                </div>
            </div>
            <div class="m">
                <div class="toolbar" id="toolbar">
                    <table class="toolbar">
                        <tr>
                            <td>
                            </td>
                            <td>
                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="header icon-48-categories" style="padding: 0px 0px 0px 55px; width: 60%">
                   Clients
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
               
                
                <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation" >
                <tr style="width:100%">
                <td>
                Showing <span align="center" style="font-size: 16px; width: 60px; font-weight: bold;
                                                    color: #0b55c4;">
                                                    <label id="lblTotalRecords">
                                                      
                                                    </label>
                                                </span>records
                      </td>
                                                <td align="left">

                </td>
                </tr>
                    <tr>
                        <td>
                            
                            <div id="MyClientsGrid">
                            </div>
                        </td>
                    </tr>
                </table>
           
               
               
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
</div>

<script type="text/javascript">


    function GetGraph(PkCompanyId) {


        tooltip('<img alt="loader" src=@Url.Content("~/Content/themes/base/images/ajax-loader3.gif")  />');

        $.post('@Url.Action("LoadGraph", "Office")', { pkCompanyId: PkCompanyId }, function (data) {

            tooltip('<img id="ImageGraph1" src="' + data.imgBigImage + '"  class="ReportLeft" />');

        });



    }


    function OpenCallLog(CompanyId) {


        $("#popupCall").load("../Common/LoadCallLog", { PageType: "1", pkCompanyId: CompanyId }, function () {

            $("#ddlCLCompany").val(CompanyId);
            OpenWindow_CallLog();
        });

    }

    function changeGridPageSize(val) {
        var ds = $("#MyClientsGrid").data("kendoGrid").dataSource;
        var newPageSize = parseInt(val);
        ds.pageSize(newPageSize);
    }


    function EditClient(Id) {
        window.location.href = 'EditClient?Id=' + Id

    }



    var selectList = '<span style="width:500px;text-align:right;float:right;">    Page Size: <select onchange="changeGridPageSize(this.value);" style="width:50px;" id="mySelect"><option>25</option><option>50</option><option>100</option></select></span>';

    $("#MyClientsGrid").kendoGrid({

        pageable: true,
        scrollable: false,
        navigatable: true,
        sortable:true,
        columns: [
           { field: "CompanyAccountNumber", title: " <div class='centeralign'>Account #</div>", width: 10 },
            { field: "CompanyName", title: " <div class='centeralign'>Company Name</div>", width: 20 },                                                                            //<input type="checkbox" id="#=pkCompanyUserId#" class="chkunchk" "checked=checked" : "" />  <input id="#=pkCompanyUserId#" class="chkunchk" type="checkbox" />
            {field: "City", title: " <div class='centeralign'>City</div>", width: 30 },
            { field: "StateCode", title: " <div class='centeralign'>State</div>", width: 30 },
            { field: "MainContactPersonName", title: " <div class='centeralign'>Main Contact</div>", width: 30 },
           { field: "PhoneNo1", title: " <div class='centeralign'>Phone No</div>", width: 50, sortable: false },
            { field: "MainEmailId", title: " <div class='centeralign'>Email</div>", width: 20 },
             { field: "CompanyType", title: " <div class='centeralign'>Company Type</div>", width: 30 },
            { field: "SalesManagerName", title: " <div class='centeralign'>Acccount Manager</div>", width: 30 },
              { field: "Sales", title: " <div class='centeralign'>Sales</div>", width: 50, format: "{0:c}" },
             { field: "Volume", title: " <div class='centeralign'>Volume</div>", width: 50 },
            //  { field: "pkCompanyId", title: "Snap Shot", width: 50, template: '<input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/chart_line.png")" style="width:20px;height:20px" value=#=pkCompanyId# onmouseover="GetGraph(this.value);" onmouseout="exit();" />' },
//                {field: "LeadStatusText", title: " <div class='centeralign'>Account Status</div>", width: 25 },
                    {field: "pkCompanyId", title: " <div class='centeralign'>Account Status</div>", width: 30, sortable: false, template: "<input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/edit.png")' + " id=\"image1\" value=\"#=pkLocationId#\" style=\"width:15; height:18px\" Title='Edit' onclick=\"EditClient(this.value)\" /> <input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/call-log-icon.png")' + " value=\"#=pkCompanyId#\" onmouseover=\"CallLogRollOver('Call Log','#=pkCompanyId#');\" onmouseout=\"exit();\" style=\"width:15px; height:18px\" Title='CallLogo' onclick=\"OpenCallLog(this.value)\" />" }
           ],
        editable: false,

        dataBound: function () {
            var takeTotal = this.dataSource.total();
            $("#lblTotalRecords").html(takeTotal);

            //  document.getElementById("kendoGrid").style.visibility = "visible";
            //document.getElementById("norecord").style.display = 'none';
            var gridRows = $("#MyClientsGrid tbody tr");
            var takeGrid = $("#MyClientsGrid").data("kendoGrid");
            var length = gridRows.length;
           


            for (i = 0; i < length; i++) {

                var dataItem = takeGrid.dataItem(gridRows[i]);
                var row = gridRows[i];
                var Status = dataItem.LeadStatusText

                if (Status == 'InActive') {
                    // row.cells[12].innerHTML = '<img src= "@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")"  Title="Account InActive"/>'
                    row.cells[11].innerHTML = '<span class="st_inactive" > IN ACTIVE </span>';
                }
                else if (Status == "Active") {

                    // alert("active");
                    row.cells[11].innerHTML = '<span class="st_active" > ACTIVE </span>'
                }
                else if (Status == "Locked") {


                    row.cells[11].innerHTML = '<span class="st_locked" > LOCKED </span>'
                }
                else if (Status == "InCollections") {
                    row.cells[11].innerHTML = '<span class="st_incollections" > INCOLLECTION </span>'
                }
                else if (Status == "PastDue") {
                    row.cells[11].innerHTML = '<span class="st_pastdue" > PAST DUE </span>'
                }
                else {
                    row.cells[11].style.background = '#969DD5';
                }

                GridEffect("MyClientsGrid", dataItem)
            }
        },

        // specify toolbar commands
        dataSource: {
            page: 1,
            pageSize: 25,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,

            schema: {
                data: "Reclist",
                total: "TotalRec",
                model: {
                    fields: {
                        Sales: { type: "number" }
                    }
                }
            },

            batch: true,
            transport: {

                read: {
                    url: '@Url.Action("GetClientsByCurrentUserId", "Office")',
                    // data: { pkid: id, stats: Status },
                    type: "POST"
                },

                parameterMap: function (options) {
                    var data = options;
                    if (options.filter) {
                        var filters = options.filter.filters;
                        for (var i = 0; i < filters.length; i++) {
                            data["filters[" + i + "].Field"] = filters[i].field;
                            data["filters[" + i + "].Operator"] = filters[i].operator;
                            data["filters[" + i + "].Value"] = filters[i].value;
                        }
                    }
                    if (options.sort) {
                        for (var i = 0; i < options.sort.length; i++) {
                            data["sort[" + i + "].Field"] = options.sort[i].field;
                            data["sort[" + i + "].Dir"] = options.sort[i].dir;
                        }
                    }
                    return data;
                }

            }

        }

    });


    $(".k-grid-pager").append(selectList);







</script>