﻿@{
    ViewBag.Title = "My Leads";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}

<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "EMEdit.js")" type="text/javascript"></script>
<script type="text/javascript" src="../../Scripts/KendoJS/kendo.datepicker.min.js"></script>
<script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/KendoJS/kendo.chart.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/iphone-style-checkboxes.js")" type="text/javascript"></script>
 <style type="text/css">
    .chk-head-style
    {
    }
    .chk-style
    {
    }
    .k-grid .centeralign
    {
        text-align: center;
    }
</style>
<div id="content-box" style="width:100%">
 
    @*@using (Ajax.BeginForm("SaveSettings", "Control", new AjaxOptions { OnSuccess = "GetAddUpdateResult" }))*@
    <div class="padding">
        <div id="toolbar-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
                <div class="toolbar" id="toolbar">
                    <table class="toolbar">
                        <tr>
                            <td>
                            </td>
                            <td>
                                <div id="popupCall"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="header icon-48-categories" style="padding: 0px 0px 0px 55px; width: 60%">
                   Leads
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
               
                
                <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation" >
                <tr>
                <td>
                Showing <span align="center" style="font-size: 16px; width: 60px; font-weight: bold;
                                                    color: #0b55c4;">
                                                    <label id="lblTotalRecords">
                                                      
                                                    </label>
                                                </span>records
                      </td>
                                                <td align="left">

                </td>
                </tr>
                    <tr>
                        <td>
                            
                            <div id="AdminLeadsGrid">
                            </div>
                        </td>
                    </tr>
                </table>
           
               
               
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
</div>




<script type="text/javascript">

    var selectList = '<span style="width:500px;text-align:right;float:right;">    Page Size: <select onchange="changeGridPageSize(this.value);" style="width:50px;" id="mySelect"><option>25</option><option>50</option><option>100</option></select></span>';

    $("#AdminLeadsGrid").kendoGrid({

        pageable: true,
        scrollable: false,
        navigatable: true,
        columns: [
        // { field: "LeadNumber", title: "<input type='checkbox' id='chkLead_head' class='chk-head-style' onclick='CheckedAll();' />",template: "<input type='checkbox' id='chkLead_#=pkCompanyId#'  class='chk-style' />",sortable: false,filterable: false,width: "2%"},
                            {field: "CreatedDate", sortable: true, title: "<div class='centeralign'>Last Update</div>", filterable: false, width: "5%", format: "{0:MM/dd/yyyy}" },
                            { field: "CompanyName", title: " <div class='centeralign'>Company Name</div>", sortable: true, filterable: false, width: "10%" },
                            { field: "MonthlyVolume", title: "<div class='centeralign'>Volume</div>", filterable: false, width: "7%" },
                            { field: "City", title: " <div class='centeralign'>City</div>", filterable: false, width: "5%" },
                            { field: "StateCode", title: " <div class='centeralign'>State</div>", filterable: false, width: "3%" },
                            { field: "MainContactPersonName", title: " <div class='centeralign'>Main Contact</div>", filterable: false, width: "8%" },
                            { field: "PhoneNo1", title: " <div class='centeralign'>Phone Number</div>", filterable: false, width: "8%" },
                            { field: "MainEmailId", title: " <div class='centeralign'>Email</div>", filterable: false, width: "11%" },
                            { field: "CompanyType", title: " <div class='centeralign'>Company Type</div>", filterable: false, width: "0%" },
                            { field: "LeadSource+LeadSourceId", title: "<div class='centeralign'>Lead Source</div>", filterable: false, width: "7%" },
                            { field: "SalesManagerName", title: " <div class='centeralign'>Account Manager</div>", filterable: false, width: "10%" },
                            { field: "SalesRepName", title: "<div class='centeralign'>Sales Associate</div>", filterable: false, width: "2%" },
                            { field: "LeadStatus", title: " <div class='centeralign'>Lead Status</div>", template: '# if(LeadStatus==1){ # <img src="@Url.Content("~/Content/themes/base/Images/emerge-office-milestone-1-on.png")" Title="File Started" /> #}else if(LeadStatus==2){# <img src="@Url.Content("~/Content/themes/base/Images/emerge-office-milestone-2-on.png")" Title="Proposal Out" /> #}else if(LeadStatus==3){# <img src="@Url.Content("~/Content/themes/base/Images/emerge-office-milestone-3-on.png")"  Title="Agreement Out"/> #}else if(LeadStatus==4){# <img src="@Url.Content("~/Content/themes/base/Images/emerge-office-milestone-4-on.png")" Title="Agreement In" /> #}else if(LeadStatus==5){# <img src="@Url.Content("~/Content/themes/base/Images/emerge-office-milestone-5-on.png")" Title="Account Active" /> #}# ', filterable: false, width: "8%" },
        //  { field: "pkReportCategoryId", title: "Action", width: 150, filterable: false, template: "<input type='IMAGE' SRC='../../Content/themes/base/images/edit.png' id='image1' value='#=pkLocationId#' style='width:15px; height:18px' onclick='AddUpdateLead(this.value)'  /> <input onclick='Call(this.value)' type='IMAGE' SRC='../../Content/themes/base/images/call-log-icon.png' id='imgCall' value='#=pkCompanyId#' style='width:15px; height:18px' /> <input onclick='DeleteLead(this.value)' type='IMAGE' SRC='../../Content/themes/base/images/delete.png' id='image1' value='#=pkCompanyId#' style='width:15px; height:18px' />" },
                            {field: "pkCompanyId", title: " <div class='centeralign'>Action</div>", width: 30, template: "<input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/edit.png")' + " id=\"image1\" value=\"#=pkLocationId#\" style=\"width:15; height:18px\" Title='Edit' onclick=\"AddUpdateLead(this.value)\" /> <input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/call-log-icon.png")' + " value=\"#=pkCompanyId#\" onmouseover=\"CallLogRollOver('Call Log','#=pkCompanyId#');\" onmouseout=\"exit();\" style=\"width:15px; height:18px\" Title='CallLogo' onclick=\"OpenCallLog(this.value)\" /> <input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/delete.png")' + " value=\"#=pkCompanyId#\"  style=\"width:15px; height:18px\" Title='Delete' onclick=\"DeleteLead(this.value)\" />" }
        //  { command: ["<img src='../../Content/themes/base/Images/emerge-office-milestone-1-on.png' />","edit","destroy"], title: "&nbsp;", width: "100px" }

                        ],
        editable: false,

        dataBound: function () {
            var takeTotal = this.dataSource.total();
            $("#lblTotalRecords").html(takeTotal);
            var gridHeaderRows = $("#AdminLeadsGrid tbody th");
            var gridRows = $("#AdminLeadsGrid tbody tr");
            var takeGrid = $("#AdminLeadsGrid").data("kendoGrid");
            var length = gridRows.length;
            for (i = 0; i < length; i++) {
                var StatusLead = '';
                var AccountManager = '';
                var SalesRepName = '';
                var MonthlyVolume = '';
                var dataItem = takeGrid.dataItem(gridRows[i]);
                var row = gridRows[i];
                var AccountManagervar = dataItem.SalesManagerName;
                var SalesRepNamevar = dataItem.SalesRepName;
                var MonthlyVolumevar = dataItem.MonthlyVolume;
                var LeadSourceId = dataItem.LeadSourceId;
                if (AccountManagervar == null) {
                    row.cells[10].innerHTML = AccountManager;
                }
                if (SalesRepNamevar == null) {
                    row.cells[11].innerHTML = SalesRepName;
                }
                if (MonthlyVolumevar == null) {
                    row.cells[2].innerHTML = MonthlyVolume;

                }
                if (LeadSourceId != null) {
                    switch (LeadSourceId.trim()) {
                        case '1': StatusLead = "<div class='centeralign'>Outbound Call</div>"; break
                        case '2': StatusLead = "<div class='centeralign'>Inbound Call</div>"; break
                        case '3': StatusLead = "<div class='centeralign'>Inbound Email</div>"; break
                        case '4': StatusLead = "<div class='centeralign'>Live Transfer</div>"; break
                        case '5': StatusLead = "<div class='centeralign'>Referral</div>"; break
                        case '6': StatusLead = "<div class='centeralign'>Tradeshow</div>"; break
                        case '7': StatusLead = "<div class='centeralign'>Friend or Family</div>"; break
                    }
                }
                row.cells[9].innerHTML = StatusLead;


                GridEffect("AdminLeadsGrid", dataItem)


            }
        },

        // specify toolbar commands
        dataSource: {
            page: 1,
            pageSize: 25,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,

            schema: {
                data: "Products", total: function (e) {
                    total = e.TotalCount;
                    return total;
                },
                model: {
                    fields: {
                        CreatedDate: { type: "date" }
                    }
                }
            },

            batch: true,
            transport: {

                read: {
                    url: '@Url.Action("GetAllClientsByCurrentUserId", "Office")',
                    // data: { pkid: id, stats: Status },
                    type: "POST"
                },

                parameterMap: function (options) {
                    var data = options;
                    if (options.filter) {
                        var filters = options.filter.filters;
                        for (var i = 0; i < filters.length; i++) {
                            data["filters[" + i + "].Field"] = filters[i].field;
                            data["filters[" + i + "].Operator"] = filters[i].operator;
                            data["filters[" + i + "].Value"] = filters[i].value;
                        }
                    }
                    if (options.sort) {
                        for (var i = 0; i < options.sort.length; i++) {
                            data["sort[" + i + "].Field"] = options.sort[i].field;
                            data["sort[" + i + "].Dir"] = options.sort[i].dir;
                        }
                    }
                    return data;
                }

            }

        }

    });

    $(".k-grid-pager").append(selectList);



    function AddUpdateLead(value) {
        // alert(value);
        location.href = '../Office/AddEditLeads?_a=' + value + '&bck=l';
    }



    function DeleteLead(value) {


        if (confirm('Are you sure to delete Lead?')) {
            $.post("../Office/DeleteLead", { pkCompanyId: value }, function (data) {
                var grid = $("#AdminLeadsGrid").data("kendoGrid");
                grid.dataSource.read();
                grid.refresh();
            });
        }

    }

    function OpenCallLog(CompanyId) {
   

    $("#popupCall").load("../Common/LoadCallLog", { PageType: "1", pkCompanyId: CompanyId }, function () {

        $("#ddlCLCompany").val(CompanyId);
            OpenWindow_CallLog();
        });
        }
</script>