﻿<style>
    #full-year .ui-datepicker-inline {
        width: 100% !important;
        padding: 0 !important;
        margin-bottom: 15px !important;
    }
    /*change by PK*/
    /*.ui-datepicker-calendar td.ui-datepicker-today a {
        
        background:red;
    }*/
   
    td.ui-datepicker-today {
    background: #dff6e4;
}


    td.ui-state-highlight {
        /*background: #d42e32;*/
        background: #939393 !important;
        /*border: 1px solid #b5b4b4 !important;*/
        color: #fff !important;
    }

        /*td.ui-state-highlight:hover {
            background: #808080;
        }*/

        td.ui-state-highlight .ui-state-default {
            background: #FFFFFF !important;
            font-weight: bold !important;
            /*border: 1px solid #676767 !important;*/
        }

    .ui-widget-header {
        background: #e3e3e3;
        /*border: 1px solid #aca9a9;*/
        color: #000;
    }

    .ui-datepicker-prev, .ui-datepicker-next {
        display: none;
    }
    /*By PK*/
    .ui-state-default
    {
        color :#000 !important;
    }
</style>

<script type="text/javascript" src="~/Scripts/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="~/Scripts/js/jquery-ui-1.11.1.js"></script>		
<script type="text/javascript" src="~/Scripts/js/jquery-ui.multidatespicker.js"></script>	

<script type="text/javascript">
		<!--
    var latestMDPver = $.ui.multiDatesPicker.version;
    var lastMDPupdate = '2014-09-19';

    $(function () {
        // Version //
        //$('title').append(' v' + latestMDPver);
        $('.mdp-version').text('v' + latestMDPver);
        $('#mdp-title').attr('title', 'last update: ' + lastMDPupdate);

        // Documentation //
        $('i:contains(type)').attr('title', '[Optional] accepted values are: "allowed" [default]; "disabled".');
        $('i:contains(format)').attr('title', '[Optional] accepted values are: "string" [default]; "object".');
        $('#how-to h4').each(function () {
            var a = $(this).closest('li').attr('id');
            $(this).wrap('<' + 'a href="#' + a + '"></' + 'a>');
        });
        $('#demos .demo').each(function () {
            var id = $(this).find('.box').attr('id') + '-demo';
            $(this).attr('id', id)
                .find('h3').wrapInner('<' + 'a href="#' + id + '"></' + 'a>');
        });

        // Run Demos
        $('.demo .code').each(function () {
            eval($(this).attr('title', 'NEW: edit this code and test it!').text());
            this.contentEditable = false;
        }).focus(function () {
            if (!$(this).next().hasClass('test'))
                $(this)
                    .after('<button class="test">test</button>')
                    .next('.test').click(function () {
                        $(this).closest('.demo').find('.hasDatepicker').multiDatesPicker('destroy').attr('readonly', 'readonly');
                        eval($(this).prev().text());
                        $(this).remove();
                    });
        });
    });
                        
</script>
<div class="demo full-row" aria-disabled="true">
                        <div id="full-year" class="box">
                        </div>
                        <div class="code-box" style="visibility: hidden">
                        </div>
                    </div>     
<script>
   
    $.get("../Office/Dates", function (data) {
        addCalender(data.dates);
    });

    function addCalender(dates) {
        var today = new Date();
        //var month = today.getMonth();
        var y = today.getFullYear();
        $('#full-year').multiDatesPicker({
            addDates: dates,
            numberOfMonths: [1, 3],
            defaultDate: today.setDate(today.getMonth(), today.getDate())
        });

    }
</script>