﻿<style>
.milestone_badlead
{
    background-color: #000000;
    border-width: 0;
    color: #FFFFFF;
    padding: 0 2px;
    text-align: center;
    }
    .milestone_notinterest
{
    background-color: #d62f37;
    border-width: 0;
    color: #FFFFFF;
    padding: 0 2px;
    text-align: center;
    }
    .milestone_callback
{
    background-color: #e5b228;
    border-width: 0;
    color: #FFFFFF;
    padding: 0 2px;
    text-align: center;
    }
    .milestone_addnew
{
    background-color:#059a02;
    border-width: 0;
    color: #FFFFFF;
    padding: 0 2px;
    text-align: center;
    }

</style>


<div style="display: block; visibility: hidden;max-height:532px;" id="RunJunowindow">
    <table border="0" style="width: 100%">
        <tr>
            <td align="center">
              <div id="leadmsgbox" style="display: none">

</div>
            </td>
        </tr>
        <tr>
            <td align="center">
                <div id="RunJunogridUnique">
                </div>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">

    function RunJuno() {
        $.ajax('@Url.Action("PartialRunJunoUnique", "Office")', { cache: false, success: function (data) {
            $("#RunJunogridUnique").html(data);
            $("#leadmsgbox").hide();

            document.getElementById("RunJunowindow").style.visibility = "visible";
            var windowOpen = $("#RunJunowindow").kendoWindow({
                actions: ["Close"],
                draggable: true,
                scrollable: false,
                modal: true,
                resizable: true,
                title: "Juno",
                width: "1370px"

            }).data("kendoWindow");
            windowOpen.center();
            windowOpen.open();
         } });
   
    }
    
  


</script>
