﻿ 
 @{ Layout = null;
   
  }

<div id="RunJunogrid" style="min-height:450px">
 </div>
<script type="text/javascript">
    $(document).ready(function () {
        var dictlead = []; // create an empty array
        $("#RunJunogrid").kendoGrid({
            sortable: false,
            pageable: false,
            scrollable: false,
            navigatable: true,
            filterable: false,
            columns: [{ field: "RowNo", title: "#", width: "3%" },
                      { field: "CompanyName", title: "Company Name", width: "10%" },
                      { field: "CompanyType", title: "Company Type", width: "9%" },
                      { field: "LeadSource", title: "Lead Source", width: "5%" },
                      { field: "City", title: "City", width: "6%" },
                      { field: "StateName", title: "State", width: "2%" },
                      { field: "MainContactPersonName", title: "Main Contact", width: "10%" },
                      { field: "MainEmailId", title: "Email", width: "7%" },
                      { field: "PhoneNo1", title: "Phone Number", width: "5%", sortable: false },
                      { field: "CreatedDate", title: "Upload Date", width: "11%", format: "{0:dd/MM/yy, hh:mm tt}" }, 
                      { field: "LeadStatusText+pkLocationId+pkCompanyId",title: "Action",sortable: false,width: "47%",template: '<div style="text-align:center; width:100%"><div style="float: left; width=25%; padding:2px;align=center;"><input type="button" class="milestone_addnew" title="Add Juno" alt="Add Lead" value="Add Lead" onclick=addlead(this.id,this.name) id="#=pkLocationId#"  name="#=pkCompanyId#" style="width:64px;border-width:0px;"  /></div><div style="float: left ;padding:2px;width=25%; align=center;"><input type="button" class="milestone_callback" title="Call Back" value="Call Back" alt="Call Back" id="#=pkCompanyId#" onclick="CallBackLead(this.id,12)" style="border-width:0px;"  /></div><div style="float: left ;padding:2px;width=25%; align=center;"><input type="button" class="milestone_notinterest" value="Not Interested" title="Not Interested" id="#=pkCompanyId#" onclick="CallBackLead(this.id,13)" alt="Not Interested" style="border-width:0px;" /></div><div style="float:left;width=25%;padding:2px; align=center;"><input type="button" value="Bad Lead"  id="#=pkCompanyId#" onclick="CallBackLead(this.id,14)" class="milestone_badlead" title="Bad Lead" alt="Bad Lead" style="border-width:0px;" /></div></div>'
                     }],
            editable: false,
            dataBound: function () {
                var gridHeaderRows = $("#RunJunogrid tbody th");
                var gridRows = $("#RunJunogrid tbody tr");
                var takeGrid = $("#RunJunogrid").data("kendoGrid");
                var length = gridRows.length;
                for (i = 0; i < length; i++) {
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    GridEffect("RunJunogrid", dataItem)
                    var CompanyId = dataItem.pkCompanyId;
                    var LeadStatus_Text = dataItem.LeadStatusText;
                    var Report = "";
                    switch (LeadStatus_Text) {
                        case 'New Prospect':
                            Report = "11";
                            break
                        case 'Call Back':
                            Report = "12";
                            break
                        case 'Not Interested':
                            Report = "13";
                            break
                        case 'Bad Lead':
                            Report = "14";
                            break
                    }
                    dictlead.push({
                        pkCompanyId: CompanyId,
                        LeadStatus: Report
                    });
                }
                IntervalCheck(dictlead);
            },
            dataSource: {
                page: 1,
                pageSize: 10,
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                schema: {
                    data: "Juno",
                    total: "TotalCount",
                    model: {
                        fields: {
                            CreatedDate: {
                                type: "date"
                            }
                        }
                    }
                },
                batch: true,
                transport: {
                    read: {
                        url: '@Url.Action("GetJunoforRun", "Office")',
                        type: "POST"
                    },
                    parameterMap: function (options) {
                        var data = options;
                        if (options.filter) {
                            var filters = options.filter.filters;
                            for (var i = 0; i < filters.length; i++) {
                                data["filters[" + i + "].Field"] = filters[i].field;
                                data["filters[" + i + "].Operator"] = filters[i].operator;
                                data["filters[" + i + "].Value"] = filters[i].value;
                            }
                        }
                        if (options.sort) {
                            for (var i = 0; i < options.sort.length; i++) {
                                data["sort[" + i + "].Field"] = options.sort[i].field;
                                data["sort[" + i + "].Dir"] = options.sort[i].dir;
                            }
                        }
                        return data;
                    }
                }
            }
        });
    });


    function UpdateInterval(dict) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("UpdateInterval", "Office")',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            data: {
                CompanyId: dict
            },
            success: function (data) {

            }
        });
    }

    function addlead(locationid, companyid) {
        var url = "AddEditLeads?_j=" + locationid;
        window.open(url, 'google', 'height=600,width=1200,toolbar=no,scrollbars=yes,location=no,resizable=yes');
    }

    function CallBackLead(pkCompanyId, Lead_Status) {
        $.post('@Url.Action("UpdateCallBack", "Office")', {
            Lead_Status: Lead_Status,
            pkCompanyId: pkCompanyId
        }, function (data) {
            if (data.UpdateMessage != "") {
                $("#leadmsgbox").show().fadeOut(3000, function () { });
                $("#leadmsgbox").html(data.UpdateMessage);
                var grid = $("#RunJunogrid").data("kendoGrid");
                grid.dataSource.read();
                grid.refresh();
            }
        });
    }


    function IntervalCheck(dictlead) {
        var readyJunoInterval = setInterval(function () {
            if ($("#RunJunogrid").is(':visible')) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CheckJunoStatus", "Office")',
                    data: JSON.stringify({
                        JunoList: dictlead
                    }),
                    contentType: 'application/json',
                    success: function (data) {
                        var recordsarray = data.List;
                        for (var i = 0; i < recordsarray.length; i++) {
                            var CompanyId = recordsarray[i].pkCompanyId
                            $("#RunJunogrid").find(".milestone_addnew").each(function () {
                                var Id = $(this).attr("name");
                                if (CompanyId == Id) {
                                    var tr = $(this).closest("tr").remove();
                                    UpdateJunoItervals(CompanyId)
                                }
                            });
                        }
                    }
                });
            }

        }, 30000);

    }

    function UpdateJunoItervals(CompanyId) {
        var dict = []; // create an empty array
        dict.push(CompanyId);
        $.ajax({
            type: 'GET',
            url: '@Url.Action("UpdateInterval", "Office")',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            traditional: true,
            data: {
                CompanyId: dict
            }
        });
    }
</script>