﻿<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "EMEdit.js")" type="text/javascript"></script>
<table border="0" style="width: 100%">
    <tr>
        <td align="center">
        </td>
    </tr>
    <tr>
        <td align="center">
            <div id="QualityControlOffice" style="width: 100%;">
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(document).ready(function () {


        $("#QualityControlOffice").kendoGrid({
            sortable: true,
            dataSource: {
                type: "json",
                serverPaging: true,
                serverSorting: true,
                pageSize: 15,
                transport: { read: { url: '@Url.Action("QualityOfficeBind", "Office")', dataType: "json", async: true }
                },
                schema: { data: "Products", total: "TotalCount",
                    model: {
                        fields: {
                            NewAccountCreatedDate: { type: "date" }
                        }
                    }
                }

            },
            height: 205,
            scrollable: {
                virtual: true
            },
            sortable: true,
            columns: [

           { field: "CompanyAccountNumber", title: "Account #", width: "5%" },
           { field: "CompanyName", title: "Company Name", width: "9%" },
           { field: "City", title: "City", width: "6%" },
           { field: "StateCode", title: "State", width: "4%" },
           { field: "MainContactPersonName", title: "Main Contact", width: "8%" },
           { field: "PhoneNo1", title: "Phone Number", width: "8%", sortable: false },
           { field: "MainEmailId", title: "Email", width: "11%" },
           { field: "NewAccountCreatedDate", title: "Start Date", width: "9%", format: "{0:dd/MM/yy, hh:mm tt}" },
           { field: "SalesRepName", title: "Account Manager", width: "9%", sortable: false },
           { field: "Rating", title: "Rating", width: "6%", sortable: false, template: " <div id='example-2'></div><span id='example-rating-2' style='display: none'></span>" },
           { field: "Comments", title: "Review", width: "5%", sortable: false, template: "<div class='centeralign'><img src=\"../Content/themes/base/images/PDescription.png\" height=\"26px\"  onmouseover=\"tooltipLiveRunner1('Comments','#=Comments#');\" onmouseout=\"exit();\" style=\"cursor:pointer\"  onmouseout=\"exit();\" /></div>" },
           { field: "LeadStatusText", title: "Account Status", width: "11%" },
           { field: "LeadStatusText", title: "Action", sortable: false, width: "9%", template: '<input type="button"  value="Acknowledged" onclick="SendAck()" />' }

           ],
            editable: "inline",
            dataBound: function () {
                var gridHeaderRows = $("#QualityControlOffice tbody th");
                var gridRows = $("#QualityControlOffice tbody tr");
                var takeGrid = $("#QualityControlOffice").data("kendoGrid");
                var length = gridRows.length;
                for (i = 0; i < length; i++) {
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    var row = gridRows[i];
                    var LeadStatusText = dataItem.LeadStatusText;
                    var StatusImage = '';
                    var RatingImage = '';
                    var Rating = dataItem.Rating;
                    if (Rating != null) {
                        if (Rating == '1') { RatingImage = "<img src=\"../Content/themes/base/images/rating_1.jpg\" />"; } if (Rating == '2') { RatingImage = "<img src=\"../Content/themes/base/images/rating_2.jpg\" />"; } if (Rating == '3') { RatingImage = "<img src=\"../Content/themes/base/images/rating_3.jpg\" />"; } if (Rating == '4') { RatingImage = "<img src=\"../Content/themes/base/images/rating_4.jpg\" />"; } if (Rating == '5') { RatingImage = "<img src=\"../Content/themes/base/images/rating_5.jpg\" />"; }
                    }
                    row.cells[9].innerHTML = RatingImage;
                    if (LeadStatusText == "Active") {
                        StatusImage = "<div class='centeralign'><span class='st_active' > ACTIVE </span></div>";
                    }
                    if (LeadStatusText == "InActive") {
                        StatusImage = "<div class='centeralign'><span class='st_inactive' > IN ACTIVE </span></div>";
                    }
                    if (LeadStatusText == "Locked") {
                        StatusImage = "<div class='centeralign'><span class='st_locked' > LOCKED </span></div>";
                    }
                    if (LeadStatusText == "PastDue") {
                        StatusImage = "<div class='centeralign'><span class='st_pastdue' > PAST DUE </span></div>";
                    }
                    if (LeadStatusText == "InCollections") {
                        StatusImage = "<div class='centeralign'><span class='st_incollections' > INCOLLECTION </span></div>";
                    }
                    row.cells[11].innerHTML = StatusImage;
                    GridEffect("QualityControlOffice", dataItem)
                }


            }


        }).find("th").addClass("centeralign");


       

    });

   
    function SendAck()
    {
   
    window.location.href = window.location.href; 
    }
</script>
<style>
 .st_inactive
    {
        background-color: #7c7b7b;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
       
    }
    .st_active
    {
        background-color: #059a02;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_locked
    {
        background-color: #ff6600;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_pastdue
    {
        background-color: #990099;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .st_incollections
    {
        background-color: #000000;
        color: white;
        padding: 1px 5px;
        border-radius: 3px;
    }
    .centeralign
    {
        text-align: center;
    }
</style>