﻿@model Emerge.Models.OfficeModel
<style type="text/css">
    .k-grid .centeralign
    {
        text-align: center;
    }
    .traineeStatus
    {
        }
</style>
@*@using (Html.BeginForm("UpdateDemoPopUp", "Office", FormMethod.Post, new { id = "frmUpdate" }))
{ *@

                            <div id="DivCompleteDemo" style="background-color: White;visibility: hidden; display: none">
                                @using (Html.BeginForm("UpdateDemoPopUp", "Office", FormMethod.Post, new { id = "frmUpdate" }))
                                {  
                                    <table width="500px" cellpadding="2">
                                        <tr>
                                            <input type="hidden" id="PhoneNo1s" name="PhoneNo1s" />
                                          
                                           <input type="hidden" id="CompanyNames" name="CompanyNames" />
                                            
                                              <input type="hidden"  id="MainEmailIds" name="MainEmailIds" />
                                    
                                              <input type="hidden"  id="DemoDateTimes" name="DemoDateTimes" />
                                             
                                           
                                             <input type="hidden"  id="MainContactPersonNames" name="MainContactPersonNames" />
                                           
                                            <td align="center" colspan="2">
                                                <label>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="width: 82%">
                                                <label id="FirstNames">
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" colspan="2">
                                                <b>Comments:</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" colspan="2">
                                                <textarea name="comments" id="comments" style="width: 491px; height: 48px;"></textarea>
                                            </td>
                                        </tr>
                                        <tr style="width:200px;">
                                            <td align="left" colspan="0" style="width:auto;height:18px">
                                                <input type="button" value="Completed" name="btncompleted" id="btncompleted" onclick="" style="background-color:green;border:solid 1px white; color:white;width:80px; border-radius: 3px;padding: 1px 5px; align-items:center;margin-right: 6px;"/>                                           
                                                <input type="button" value="Pending" name="btnPending" id="btnPending" onclick="" style="background-color:#FF4500;border:solid 1px white; color:white;width:80px; border-radius: 3px;padding: 1px 5px; align-items:center;margin-right: 6px;"/>
                                                <input  type="button" value="Reschedule" name="btnReschedule" id="btnReschedule" onclick="" style="background-color:#cccc00;border:solid 1px white;color:white;width:80px; border-radius: 3px;padding: 1px 5px; align-items:center; margin-right: 6px;" />
                                                <input type="button" value="Cancelled" name="btnCancelled" id="btnCancelled" onclick="" style="background-color:black;border:solid 1px white; color:white;width:80px; border-radius: 3px;padding: 1px 5px; align-items:center; margin-right: 80px;"/>
                                                <input type="submit" value="Submit" name="btn" id="btn" onclick="return ValidateComments();" />
                                                <input type="hidden" id="hfDemoStatus" name="DemoStatus" value="" />
                                                 </td>
                                          
                                        </tr>
                                    </table>
                                }
                            </div>
                       
<table border="0" style="width: 100%">
    <tr>
        <td align="center">
        <div id="divMSGCompleteDemo">
           
            </div>
            <div id="laodingimg" style=" display: none">
            <img src="../../Content/themes/base/images/smallloader.gif" alt="Loader" /></div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <div id="CompleteDemo">
            </div>
        </td>
    </tr>
</table>

@*}*@
<script type="text/javascript">



    $("#btncompleted").click(function () {

        $("#hfDemoStatus").val("1");
    }
    );

    $("#btnPending").click(function () {

        $("#hfDemoStatus").val("2");
    }
    );

    $("#btnReschedule").click(function () {

        $("#hfDemoStatus").val("3");
    }
    );

    $("#btnCancelled").click(function () {
        $("#hfDemoStatus").val("4");
    }
    );

    $(function () {

        $('#frmUpdate').submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                beforeSend: function () {



                    $("#laodingimg").show();

                },

                complete: function () {



                    $("#laodingimg").hide();

                },        

                success: function (result) {
                    debugger;
                    if (result.Message != 'null') {
                        var divMSGCompleteDemo = document.getElementById('divMSGCompleteDemo');
                        divMSGCompleteDemo.style.display = "block";                        
                        divMSGCompleteDemo.innerHTML = result.Message;
                        var grid = $("#CompleteDemo").data("kendoGrid");
                        grid.dataSource.read();
                        grid.refresh();
                    }
                }
            });

            return false;
        });
    });


    function ValidateComments() {
        
        //$(".traineeStatus").each(function (e) {
        //    var chkstatus = this.checked;
        //    if (chkstatus == true)
        //    {
        //        var comments = document.getElementById("comments").value;
        //        if (comments != "") {
        //            alert("true");
        //            $("#DivCompleteDemo").data("kendoWindow").close();                                
        //            return true;
        //        }
        //        else {
        //            alert("please Add Comments");
        //            return false;
        //        }
        //    }
        //    else
        //    {
        //        alert("please Select Trainee");
        //        return false;
        //    }
        //});

        var comments = document.getElementById("comments").value;
        //var status = document.getElementById("comments").value;
        if ($("#hfDemoStatus").val() == "") {
            alert("please select status");
            return false;
        }
        if (comments != "" && $("#hfDemoStatus").val() != "") {
            //alert("true");
            $("#DivCompleteDemo").data("kendoWindow").close();
            return true;
        }
        else {
            alert("please Add Comments and select status");
            return false;
        }



        if ($("#hfDemoStatus").val() == "")
        {
            alert("please select status");
            return false;
        }
        function openpopup() {

            var popper = window.open('popup.htm', '_blank', 'width=400,height=400');
            popper.focus();
        }
    }
    function CompleteDemo(CompanyId) {
      
        var divMSGCompleteDemo = document.getElementById('divMSGCompleteDemo');
        divMSGCompleteDemo.style.display = "none";
        var array = CompanyId.split('+');
        var pkDemoScheduleId = array[0];
        var pkCompanyId = array[1];
        document.getElementById("comments").value = null;
        document.getElementById("CompanyNames").value = array[2];
        document.getElementById("MainEmailIds").value = array[3];
        document.getElementById("DemoDateTimes").value = array[4];
        document.getElementById("MainContactPersonNames").value = array[5];
        document.getElementById("PhoneNo1s").value = array[7];
        $.post('@Url.Action("CompleteDemoPopUp", "Office")', { DemoScheduleId: pkDemoScheduleId, CompanyId: pkCompanyId }, function (Result) {
        document.getElementById("FirstNames").innerHTML = Result.label;
        });

        document.getElementById("DivCompleteDemo").style.visibility = "visible";
        document.getElementById("DivCompleteDemo").style.display = "block";
        $("#DivCompleteDemo").show();
        $("#DivCompleteDemo").kendoWindow({
            title: "Trainee List",
            scrollable: false

        }).data("kendoWindow");
        $("#DivCompleteDemo").kendoWindow();

        $("#DivCompleteDemo").kendoWindow();

        $("#DivCompleteDemo").data("kendoWindow").center();
        $("#DivCompleteDemo").data("kendoWindow").open();

    }

    var today = new Date();// chnage by pk
    var currentdate = ((today.getDate() + 1) <= 9) ? "0" + today.getDate() : today.getDate(); //(today.getDate()<= 9 ? "0" +(today.getDate());
    var crmonth = ((today.getMonth() + 1) <= 9) ? "0" + (today.getMonth() + 1) : (today.getMonth() + 1);    
    var todaydate = currentdate + "/" + crmonth + "/" + today.getFullYear();

    $(document).ready(function () {
        $("#DivCompleteDemo").hide();
        debugger
        $("#CompleteDemo").kendoGrid({
            sortable: true,
            dataSource: {
                type: "json",
                serverPaging: true,
                serverSorting: true,
                pageSize: 15,
                transport: { read: { url: '@Url.Action("CompleteDemoBind", "Office")', dataType: "json", async: true }
                },
                schema: { data: "Products", total: "TotalCount",
                    model: {
                        fields: {
                            DemoDateTime: { type: "date" }
                        }
                    }
                }

            },
            height: 205,
            scrollable: {
                virtual: true
            },
            sortable: true,
            columns: [

           { field: "CompanyName", title: "Company Name", width: "15%", sortable: false, template: "<div class='centeralign'>#=CompanyName#</div>" },
           { field: "DemoDateTime", title: "Demo Date", sortable: true, width: "15%", template: '#if(kendo.toString(DemoDateTime, "dd/MM/yyyy")==todaydate){#<div class="centeralign" style="color:red">#= kendo.toString(DemoDateTime, "dd/MM/yy, hh:mm tt") #</div>#}else{#<div class="centeralign" style="color:black">#= kendo.toString(DemoDateTime, "dd/MM/yy, hh:mm tt") #</div>#}#' },//change by pk
           { field: "MainContactPersonName", title: "Main Contact", sortable: false, width: "15%", template: "<div class='centeralign'>#= MainContactPersonName.trim().charAt(0).toUpperCase() + MainContactPersonName.trim().slice(1).toLowerCase() #</div>" },
           { field: "MainEmailId", title: "Main Email", width: "15%", sortable: false, template: "<div class='centeralign'>#= MainEmailId #</div>" },
           { field: "PhoneNo1", title: "Phone number", width: "15%", sortable: false, template: "<div class='centeralign'>#= PhoneNo1 #</div>" },
           {
               field: "DemoStatus",

               title: "Status",
               width: "15%",
               sortable: false,
               template: '# if(DemoStatus==1){#<center> <span class="statuscompleted"  >Completed</span></center> #}else if(DemoStatus==2 || DemoStatus==0){# <center><span class="statuspending" >Pending</span></center> #}else if(DemoStatus==3){# <center><span class="statusrescheduled" >Rescheduled</span></center> #}else if(DemoStatus==4){# <center><span class="statuscancelled" >Cancelled</span></center> #}# ',
           },
           { field: "pkDemoScheduleId+fkCompanyId", title: "Action", sortable: false, width: "8%", template: "<div class='centeralign'><input type='button' id='#=pkDemoScheduleId#+#=fkCompanyId#+#=CompanyName#+#=MainEmailId#+#=DemoDateTime#+#=MainContactPersonName#+#=PhoneNo1#' value='Complete' onclick='CompleteDemo(this.id)'  /></div>" },

           ],


            editable: "inline",
            dataBound: function () {
                debugger
                var gridHeaderRows = $("#CompleteDemo tbody th");
                var gridRows = $("#CompleteDemo tbody tr");
                var takeGrid = $("#CompleteDemo").data("kendoGrid");
               
                var length = gridRows.length;
                for (i = 0; i < length; i++) {
                    var dataItem = takeGrid.dataItem(gridRows[i]);
                    GridEffect("CompleteDemo", dataItem)

                }



            }


        }).find("th").addClass("centeralign");


    });

</script>
