﻿@model Emerge.Models.AddEditLeadsModel
@{
    ViewBag.Title = "Print Lead";

    Layout = null;
    
}

 <link href="@Url.Content("~/favicon.gif")" rel="shortcut icon" type="image/x-icon" />
  @*  <link href="@Url.Content(CommonPaths.ContentPath + "CompressedCombined(Admin).css")" rel="stylesheet" type="text/css" />*@
    @*<script src="../../Scripts/KendoJS/kendo.popup.min.js" type="text/javascript"></script>*@
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    
   <link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
     <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
      <script src="@Url.Content("~/Scripts/EmergeOffice.js")" type="text/javascript"></script>
      <link href="../../Content/CompressedCombined(Admin).css" rel="stylesheet" type="text/css" />
      <link href="../../Content/CSS/Office.css" type="text/css" rel="Stylesheet" />
       <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet"
    type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet"
    type="text/css" />
    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js")" type="text/javascript"></script>
   
    <script type="text/javascript">
      
    </script>
    <style type="text/css">
        .Report_Combined_Info
        {
            color: #000;
            padding: 0px;
            font-family: Lucida Grande,Arial,Helvetica,sans-serif;
            text-align: left;
        }
        .Report_Header
        {
            color: #000;
            font-size: 12px;
            font-weight: bold;
            padding: 0px;
            font-family: Lucida Grande,Arial,Helvetica,sans-serif;
            text-align: left;
        }
        .Report_Sub_info_left
        {
            text-align: left;
            color: #000;
            font-size: 10px;
            font-weight: bold;
            padding: 0px;
            font-family: Lucida Grande,Arial,Helvetica,sans-serif;
            vertical-align: top;
        }
        .Report_Sub_info_middle
        {
        }
        .Report_Sub_info_right
        {
            text-align: left;
            color: #000;
            font-size: 10px;
            font-weight: normal;
            padding: 0 0px;
            font-family: Lucida Grande,Arial,Helvetica,sans-serif;
            text-transform: capitalize;
        }
        .Report_Sub_info
        {
            text-align: left;
            color: #000;
            font-size: 10px;
            font-weight: normal;
            padding: 0px;
            font-family: Lucida Grande,Arial,Helvetica,sans-serif;
            text-transform: capitalize;
            border-bottom:solid 1px #000000;
        }
        .Report_Sub_infolbl
        {
            text-align: right;
            color: #000;
            font-size: 10px;
            font-weight: normal;
            padding: 0px;
            font-family: Lucida Grande,Arial,Helvetica,sans-serif;
            text-transform: capitalize;
            border-bottom:solid 1px #000000;
        }
    </style>

    <form id="form1" runat="server">
    <asp:ScriptManager runat="server" ID="scrp">
    </asp:ScriptManager>
    <div style="width: 100%;">
        <div id="firstinfo" style="width: 100%">
            <table class="fnt" cellpadding="0" cellspacing="0" style="width: 100%">
                <tr>
                    <td style="width: 54%">
                        <b>
                             @Model.CompanyName </b>
                    </td>
                    <td style="width: 30%; text-align: right">
                        <b>Lead #&nbsp; @Model.LeadNumber</b>
                    </td>
                    <td style="width: 2%;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <hr style="color: Black; border: 2px solid #000; margin-top: 2px; margin-bottom: 4px;" />
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 100%; height: 5px;">
        </div>
        <div id="leadinfo" style="width: 100%">
            <table id="tblsummary" style="border-collapse: collapse;" border="2" cellpadding="0"
                cellspacing="0" width="95%" align="center">
                <tr>
                    <td class="Align_Center" align="center">
                        <table cellpadding="0" cellspacing="0" style="margin: 0px" width="100%" class="Report_Combined_Info">
                            <tr>
                                <td width="31%" valign="top">
                                    <table cellpadding="1" cellspacing="1" style="margin: 0px" width="100%">
                                        <tr>
                                            <td colspan="3" class="Report_Header" align="left">
                                                <b>Lead Information</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left" style="width: 50%" align="left">
                                                Lead Number
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                            </td>
                                            <td class="Report_Sub_info_right" align="left">
                                              @Model.LeadNumber
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left" align="left">
                                                Lead Source
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                            </td>
                                            <td class="Report_Sub_info_right" align="left">
                                                @Model.LeadSource
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left" align="left">
                                                Company Type
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                               
                                            </td>
                                            <td class="Report_Sub_info_right" align="left">
                                               @Model.CompanyType
                                                           
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left" align="left">
                                                Sales Associate
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                             
                                            </td>
                                            <td class="Report_Sub_info_right" align="left">
                                               <asp:Label ID="lblSalesAssociate" runat="server">NA</asp:Label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left" align="left">
                                                Sales Manager
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                               
                                            </td>
                                            <td class="Report_Sub_info_right" align="left">
                                                @Model.FullName
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="31%" valign="top">
                                    <table cellpadding="2" cellspacing="2" style="margin: 0px" width="100%">
                                        <tr>
                                            <td class="Report_Header" colspan="3" align="left">
                                                <b>Company Information</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left" style="width: 50%" align="left">
                                                Company Name
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                            </td>
                                            <td class="Report_Sub_info_right" align="left">
                                               @Model.CompanyName 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left" align="left">
                                                Address1
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                            </td>
                                            <td class="Report_Sub_info_right" align="left">
                                                 @Model.Address1"
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left" align="left">
                                                Address2
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                            </td>
                                            <td class="Report_Sub_info_right" align="left">
                                               @Model.Address2
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left" align="left">
                                                City, ST
                                            </td>
                                            <td class="Report_Sub_info_right">
                                                 @ViewBag.City
                                            </td>
                                            <td class="Report_Sub_info_right" align="left">
                                              @Model.StateName
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left" align="left">
                                                Zipcode
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                            </td>
                                            <td class="Report_Sub_info_right" align="left">
                                                @Model.ZipCod
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="38%" valign="top">
                                    <table cellpadding="2" cellspacing="2" style="margin: 0px" width="100%">
                                        <tr>
                                            <td class="Report_Header" colspan="3" align="left">
                                                <b>Contact Information</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left" style="width: 40%" align="left">
                                                Main Contact
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                            </td>
                                            <td class="Report_Sub_info_right" align="left">
                                                 @Model.MainContact
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left" align="left">
                                                Main Email
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                            </td>
                                            <td class="Report_Sub_info_right" align="left">
                                              @Model.MainEmail
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left" align="left">
                                                Main Phone
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                            </td>
                                            <td class="Report_Sub_info_right" align="left">
                                                 @Model.MainPhone
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 100%; height: 3px;">
        </div>
        <div id="additionalinfo" style="width: 100%;">
            <table style="border-collapse: collapse;" border="2" cellpadding="0" cellspacing="0"
                width="95%" align="center">
                <tr>
                    <td class="Align_Center" align="center">
                        <table cellpadding="0" cellspacing="0" style="margin: 0px" width="100%" class="Report_Combined_Info">
                            <tr>
                                <td width="40%" valign="top">
                                    <table cellpadding="1" cellspacing="1" style="margin: 0px" width="100%">
                                        <tr>
                                            <td class="Report_Header" colspan="3">
                                                <b>Additional Information</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left" style="width: 36%">
                                                Number of locations
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                            </td>
                                            <td class="Report_Sub_info_right" colspan="2">
                                             @Model.NumberOfLocation
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left">
                                                Current Provider
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                            </td>
                                            <td class="Report_Sub_info_right" colspan="2">
                                           @Model.CurrentProvider
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left">
                                                Priority1
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                            </td>
                                            <td class="Report_Sub_info_right">
                                               @Model.Priority1
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left">
                                                Priority2
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                            </td>
                                            <td class="Report_Sub_info_right">
                                                @Model.Priority2
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_left">
                                                Priority3
                                            </td>
                                            <td class="Report_Sub_info_middle">
                                            </td>
                                            <td class="Report_Sub_info_right">
                                                @Model.Priority3
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="58%" valign="top">
                                    <table cellpadding="2" cellspacing="2" style="margin: 0px" width="100%">
                                        <tr>
                                            <td class="Report_Header" align="left">
                                                <b>Lead Note</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="Report_Sub_info_right" align="left">
                                                 @Model.CompanyNote
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 100%; height: 3px;">
        </div>
        <div id="Div1" style="width: 100%;">
            <table style="border-collapse: collapse;" border="2" cellpadding="0" cellspacing="0"
                width="95%" align="center">
                <tr>
                    <td>
                       
                    </td>
                </tr>
                <tr>
                    <td align="left">
                         <div id="kendoGrid" style="width: 80%">
                                  
                             </div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 100%; height: 5px;">
        </div>
        <div id="calllog" style="width: 100%">
            <table id="Table1" style="border-collapse: collapse;" border="2" cellpadding="0"
                cellspacing="0" width="95%" align="center">
                <tr>
                    <td class="Align_Center" align="center">
                         <div class="m">
                                    <div class="header1" style="padding: 10px 0px 0px 0px;">
                                        <img src="@Url.Content("~/Content/themes/base/images/call-log-icon.png")" alt="" style="border: none; height: 20px; width: 18px;" />
                                        Call Log
                                    </div>
                                    <div class="" id="Div3">
                                        <table width="100%">
                                            <tr>
                                                
                                            </tr>
                                            <tr>
                                                <td style="border: 1px solid #cdcdcd;">
                                                    <table class="BlackHeader" width="100%" style="padding: 0px 0 0 0px;">
                                                        <tr>
                                                            <td width="45%" align="left">
                                                              &nbsp;&nbsp;  Date
                                                            </td>
                                                            <td width="15%" align="left">
                                                                Rep
                                                            </td>
                                                            <td width="40%" align="left">
                                                                Entry &nbsp;
                                                            </td>
                                                        </tr>
                                                        </table>
                                                        <table width="100%" style="border: 0px solid #cdcdcd; padding: 0 0 0 10px;">
                                                            @if (Model.CollGetCommentsForLeadResult != null)
                                                            {
                                                                for (int i = 0; i < Model.CollGetCommentsForLeadResult.Count; i++)
                                                                {
                                                                <tr style="background-color: White">
                                                                    <td width="45%" align="left">
                                                                        <label>
                                                                        
                                                                            @Model.CollGetCommentsForLeadResult.ElementAt(i).CreatedDate</label>
                                                                    </td>
                                                                    <td width="15%" align="left" style="padding-left: 1px">
                                                                        <label>
                                                                            @Model.CollGetCommentsForLeadResult.ElementAt(i).FirstName.Substring(0, 1).ToUpper()@Model.CollGetCommentsForLeadResult.ElementAt(i).LastName.Substring(0, 1).ToUpper()</label>
                                                                    </td>
                                                                    <td width="40%" align="left">
                                                                        @{int a;
                                                                          if (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#').Count() < 2) { a = 0; } else { a = 1; }

                                                                          switch (Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[a])
                                                                          {
                                                                              case "1":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-1-on.png")"  title="File Started" alt="File Started" />
                                                                                 break;  // Always break each case
                                                                              case "2":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-2-on.png")"  title="Proposal Out" alt="Proposal Out" />
                                                                                 break;
                                                                              case "3":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-3-on.png")"  title="Agreement Out" alt="Agreement Out" />
                                                                                 break;
                                                                              case "4":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-4-on.png")"  title="Agreement In" alt="Agreement In" />
                                                                                 break;
                                                                              case "5":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-5-on.png")"  title="Activated" alt="Activated" />
                                                                                 break;
                                                                              case "10":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/demo_scheduled.png")"  onclick="DemoSchedule(this.id)"  id="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]"  title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2]" alt="" style=" cursor:pointer"  />
                                                               
                                                                                                                                                                                                                                                                                                break;

                                                                              case "11":
               
                                                                            <img src="@Url.Content("~/Content/themes/base/images/document_sent.png")" onclick="ShowDocuments()"  title="Document Sent[@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].Remove(0, 2),@Model.CompanyName,@Model.MainPhone]" alt="" />
                                                                            <input type="hidden" id="hdnDemosendid"  value="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[3]" />                                                                                            
                                                                                                                       break;

                                                                              case "12":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/QualityControlSurvey.png")"  title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2]" alt="Quality Control Survey" />
                                                                                                                                                                break;
                                                                              case "13":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/Demo_Completed.png")"  title="Demo Completed" alt="Demo Completed" />
                                                                                 break;

                                                                              case "6":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-6-on.png")"  title="Account Inactive" alt="Account Inactive" />
                                                                                 break;
                                                                              case "7":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-on.png")" title="Locked" alt="Locked" />
                                                                                 break;
                                                                              case "8":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-on.png")"  title="Past Due" alt="Past Due" />
                                                                                 break;

                                                                              case "9":
                                                                            <img src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-on.png")"  title="In Collections" alt="In Collections" />
                                                                                 break;
                                                                              default:

                                                                                 if (@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Length > 15)
                                                                                 { 
                                                                    
                                                                            @Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Substring(0, 15)<label>...</label>
                                                                 
                                                                    
                                                                    
                                                                                 }
                                                                                 else
                                                                                 { 
                                                                    
                                                                    
                                                                    
                                                                     
                                                                    
                                                                            <label  title="@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")">@Model.CollGetCommentsForLeadResult.ElementAt(i).LeadComments.Replace("##", "")</label>
                                                                    
                                                                   
                                                                                 }

                                                                                 break;
                                                                          }
                                                                        }
                                                                    </td>
                                                                </tr>
                                                                }
                                                            }
                                                        </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="clr">
                                    </div>
                                </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </form>
    <title>View Lead</title>
    <script>
    var maintotal=0;

        $("#pkCompanyTypeId").kendoDropDownList({
            optionLabel: "Select",
            dataTextField: "CompanyType",
            dataValueField: "pkCompanyTypeId",

            dataSource: {

                transport: {
                    read: {
                        url: '@Url.Action("GetCmpnyType", "Control")',
                        type: 'POST'

                    }
                }

            }
            
            

        });



        $("#kendoGrid").kendoGrid({

            sortable: true,
            scrollable: false,
            navigatable: true,
            columns: [
            //            "CategoryName"
            {field: "CategoryName", width: 300, template: '<b>#=CategoryName#</b>' }
        ],

            editable: true, // enable editing
            //     dataBound: onDataBound,
            detailInit: detailInit,
            dataBound: function () {
                $("a.k-plus").trigger("click");
                maintotal = this.dataSource.total();  
               

            },

            // specify toolbar commands
            dataSource: {
                serverPaging: true,
                serverSorting: true,
                serverFiltering: true,
                schema: {
                    


                    model: { // define the model of the data source. Required for validation and property types.
                        id: "pkReportCategoryId",
                        fields: {
                            pkReportCategoryId: { editable: false },
                            CategoryName: { editable: false }


                        }
                    }
                },

                batch: true,
                transport: {

                    read: {
                        url: '@Url.Action("GetCategoryList", "office")',
                        type: "POST"
                    }

                }

            }
        });


        function detailInit(e) {
            //var LocId = "ViewBag.LocationId";
            // var LocId = ViewBag.LocationId;
            newid = e.data.pkReportCategoryId;
           // maintot = e.dataSource.total();  
            
            //  alert(newpkid);

            // alert(newpkid);
           
            $("<div/>").attr("id", "dvid_" + newid).appendTo(e.detailCell).kendoGrid({
                sortable: true,
                scrollable: false,
                navigatable: true,
                columns: [
                { field: "IsDefault", title: "Default", width: 100, template: '<input class="chkDefault" type="checkbox" #=IsDefault ? "checked=checked" : "" #  ></input>' },
                 { field: "ProductDisplayName", title: "Product", width: 200 },
                  { field: "ProductCode", title: "Code", width: 50 },
                //  { field: "pkProductId", title: "Description", template: "<input type=\"IMAGE\" tooltip=\"description\" SRC=" + '@Url.Content("~/Content/themes/base/images/PDescription.png")' + " value=\"#=pkProductId#\" onmouseover=\"tooltipLiveRunner1('#=ProductName#','#=ProductDescription#');\" onmouseout=\"exit()\" onclick=\"UpdateDescription('#=pkProductId#','#=ProductName#')\" />" },
                //  { field: "pkProductId", title: "Sample", template: "<input type=\"IMAGE\" tooltip=\"description\" SRC=" + '@Url.Content("~/Content/themes/base/images/PSample.png")' + " value=\"#=pkProductId#\" onclick=\"ShowSampleReport('#=ProductCode#','#=ProductDisplayName#');\" />" },
                // { field: "pkProductId", title: "Coverge", template: "<input type=\"IMAGE\" SRC=" + '@Url.Content("~/Content/themes/base/images/PCoverage.png")' + " id=\"imgCoverage_#=pkProductId#\" value=\"#=pkProductId#\" onclick=\"UploadCoveragePDF('#=ProductName#','#=ProductCode#','#=pkProductId#','#=CoveragePDFPath#')\"  />" },
                // { field: "CompanyPrice", title: "Monthly Volume", width: 80 },
                        {field: "CompanyPrice", title: "Price", width: 50 }, // template: "<input type='text' id='txtProductPrice_#= Index#" + newid + "' class='tbCompanyPrice' value='#= CompanyPrice #' />" 
                //        {field: "ProductCode", template: '#  if (ProductCode == "CCR1" || ProductCode == "CCR2" || ProductCode == "SCR" || ProductCode == "MVR" || ProductCode =="WCV" ||  ProductCode =="RCX") {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/icon-finance.png")" id="mainimage" title="#=ProductCode#" value="#=ProductCode#" onclick="StateFee(this.value)"/> #} #', title: "Fees", width: 50 },

                     ],

                editable: true,

                dataBound: function (e) {
                    var gridId = this.table.parent().attr("id");
                    this.expandRow(this.tbody.find("tr.k-master-row"));
                    var takeTotal = this.dataSource.total();



                    if ("@ViewBag.Username" == "admin") {


                    }



                    var txtncr = '';
                    var txtedv = '';
                    var txtecr = '';
                    //   alert(takeTotal);
                    for (i = 0; i <= takeTotal; i++) {

                      
                       
                       
                            ProductCode = this._data[i].CompanyPrice;

                            if ("@Model.IsEdit" == "False") {

                                var price1 = this._data[i].CompanyPrice;

                                $("#Kendogrid .tbCompanyPrice").each(function () {

                                    // var price = $(this).attr("id");
                                    //alert(price);
                                });
                            }
                            else {
                                // var price = this._data[i].CompanyPrice;

                                $(".tbCompanyPrice").each(function () {
                                    // alert("price");
                                    $(this).attr("value");

                                });


                            }
                        

                    }
                    $(".chkDefault").on("click", function (e) {

                        var row = $(e.target).closest("tr");
                        var model = $("#" + gridId).data("kendoGrid").dataItem(row);
                        model.set("IsDefault", this.checked);
                        //alert(gridId);
                    });




                },
                dataSource: {
                    batch: true,
                    schema: {





                        model: { // define the model of the data source. Required for validation and property types.
                            id: "pkProductId",
                            fields: {
                                IsDefaultPrice: { type: "boolean", nullable: true },
                                pkProductId: { editable: false, type: "string", nullable: true },
                                ProductDisplayName: { editable: false, type: "string", nullable: true },
                                ProductCode: { editable: false, type: "string", nullable: true },
                                CompanyPrice: { editable: true, type: "number", nullable: true },
                                ReportsLinked: { editable: false, type: "string", nullable: true },
                                IsLiveRunnerProduct: { type: "boolean", nullable: true },
                                AutoReviewStatusForLocation: { type: "number", nullable: true }
                            }
                        }
                    },
                    transport: {

                        read: {

                            url: '@Url.Action("GetReportForprintByCategoryId", "office")',
                            data: { pkCategoryId: newid },
                            type: "Post"
                        },

                        parameterMap: function (options, operation) {
                            if (operation != "read") {
                                //
                                var result = {};
                                for (var i = 0; i < options.models.length; i++) {
                                    var products = options.models[i];
                                    for (var member in products) {
                                        result["Detail[" + i + "]." + member] = products[member];
                                    }
                                }
                                return result;
                            }
                            else {
                                return options;
                            }
                        }


                    }
                },
                scrollable: false,
                navigatable: true


            });

           
        }

        printlead();

        function printlead()
         {
           
            setTimeout("printandclose()", 3000);
        }

        function printandclose() {
       
            window.print();
            setTimeout("closeme()", 5000);
        }
        function closeme() {
            window.close();
        }


    
    
    
    
    </script>