﻿@model Emerge.Models.EmailSystemTemplatesModel
@{
    ViewBag.Title = "System Templates";
    <link href="@Url.Content("~/Content/2011.2.712/telerik.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/2011.2.712/telerik.windows7.min.css")" rel="stylesheet" type="text/css" />
}
@using (Ajax.BeginForm("AddUpdateTemplate", "Office", new AjaxOptions { OnSuccess = "GetAddUpdateResult", LoadingElementId = "DivLoading" }))
{
    <div id="content-box">
        <div class="padding">
            <div id="toolbar-box">
                <div class="t">
                    <div class="t">
                        <div class="t">
                        </div>
                    </div>
                </div>
                <div class="m">
                    <div class="toolbar" id="toolbar">
                        <table class="toolbar">
                            <tr id="TrBtnUpdate" runat="server">
                                <td>
                                    <img alt="All Bookmarks" class="imgCommon" src="@Url.Content("~/Content/themes/base/images/bookmarks.png")"
                                        title="All Bookmarks" onclick="func_bookmark();" />
                                    <div id="Div_bookmark">
                                        <table border="0" id="tableBookmark" style="width: 300px;" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td colspan="2" style="text-align: center;">
                                                    List of all Bookmarks
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %ApplicantName%
                                                </td>
                                                <td>
                                                    ApplicantName
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %BillingContact%
                                                </td>
                                                <td>
                                                    BillingContact
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %BillingEmail%
                                                </td>
                                                <td>
                                                    BillingEmail
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %BillingPhone%
                                                </td>
                                                <td>
                                                    BillingPhone
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %CompanyName%
                                                </td>
                                                <td>
                                                    CompanyName
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %CompanyAddress%
                                                </td>
                                                <td>
                                                    CompanyAddress
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %CompanyAddress2%
                                                </td>
                                                <td>
                                                    CompanyAddress2
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %CompanyCity%
                                                </td>
                                                <td>
                                                    CompanyCity
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %CompanyState%
                                                </td>
                                                <td>
                                                    CompanyState
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %CompanyZipcode%
                                                </td>
                                                <td>
                                                    CompanyZipcode
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %EmergeLogo%
                                                </td>
                                                <td>
                                                    EmergeLogo
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %EmergeIcon%
                                                </td>
                                                <td>
                                                    EmergeIcon
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %EmergeBacksideLogo%
                                                </td>
                                                <td>
                                                    EmergeBacksideLogo
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %EmergeOfficeLogo%
                                                </td>
                                                <td>
                                                    EmergeOfficeLogo
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %EmergeEditLogo%
                                                </td>
                                                <td>
                                                    EmergeOfficeLogo
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %EmergeEditIcon%
                                                </td>
                                                <td>
                                                    EmergeEditIcon
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %EmergeAssistIcon%
                                                </td>
                                                <td>
                                                    EmergeAssistIcon
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %EmergeAssistComment%
                                                </td>
                                                <td>
                                                    EmergeAssistComment
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %EmergeAssistSubject%
                                                </td>
                                                <td>
                                                    EmergeAssistSubject
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %EmergeReviewComment%
                                                </td>
                                                <td>
                                                    EmergeReviewComment
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %EmergeReviewSubject%
                                                </td>
                                                <td>
                                                    EmergeReviewSubject
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %LocationPhone%
                                                </td>
                                                <td>
                                                    LocationPhone
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %LocationCity%
                                                </td>
                                                <td>
                                                    LocationCity
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %LiveRunnerLogo%
                                                </td>
                                                <td>
                                                    LiveRunnerLogo
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %LiveRunnerIcon%
                                                </td>
                                                <td>
                                                    LiveRunnerIcon
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %LocationState%
                                                </td>
                                                <td>
                                                    LocationState
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %LoginLink%
                                                </td>
                                                <td>
                                                    LoginLink
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %MainContact%
                                                </td>
                                                <td>
                                                    MainContact
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %MainEmail%
                                                </td>
                                                <td>
                                                    MainEmail
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %MainPhone%
                                                </td>
                                                <td>
                                                    MainPhone
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %OrderNumber%
                                                </td>
                                                <td>
                                                    OrderNumber
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %OrderQuantity%
                                                </td>
                                                <td>
                                                    OrderQuantity
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %ProductName%
                                                </td>
                                                <td>
                                                    ProductName
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %ReportName%
                                                </td>
                                                <td>
                                                    ReportName
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %ReportCode%
                                                </td>
                                                <td>
                                                    ReportCode
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %ReportDescription%
                                                </td>
                                                <td>
                                                    ReportDescription
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %PackageName%
                                                </td>
                                                <td>
                                                    PackageName
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %ProductType%
                                                </td>
                                                <td>
                                                    ProductType
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %ReportPrice%
                                                </td>
                                                <td>
                                                    ReportPrice
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %Subject%
                                                </td>
                                                <td>
                                                    Subject
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %Suggestion%
                                                </td>
                                                <td>
                                                    Suggestion
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %TotalPrice%
                                                </td>
                                                <td>
                                                    TotalPrice
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %UnitPrice%
                                                </td>
                                                <td>
                                                    UnitPrice
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %UsaintelLogo%
                                                </td>
                                                <td>
                                                    UsaintelLogo
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %UsaintelIcon%
                                                </td>
                                                <td>
                                                    UsaintelIcon
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %UserPicture%
                                                </td>
                                                <td>
                                                    UserPicture
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %UserFirstName%
                                                </td>
                                                <td>
                                                    UserFirstName
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %UserLastName%
                                                </td>
                                                <td>
                                                    UserLastName
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %UserEmail%
                                                </td>
                                                <td>
                                                    UserEmail
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %UserPassword%
                                                </td>
                                                <td>
                                                    UserPassword
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %UserLocation%
                                                </td>
                                                <td>
                                                    UserLocation
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %UserCompany%
                                                </td>
                                                <td>
                                                    UserCompany
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %OrderType%
                                                </td>
                                                <td>
                                                    OrderType
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %DOB%
                                                </td>
                                                <td>
                                                    DOB
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %SSN%
                                                </td>
                                                <td>
                                                    SSN
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    %DLNumber%
                                                </td>
                                                <td>
                                                    DL Number
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td>
                                    <input class="imgbtnClasspnl" id="imgbtnSave" type="submit" value="" />
                                    @*  <asp:imagebutton class="imgbtnSend" runat="server" id="imgbtnSave" imageurl="~/Resources/Images/ControlPanel/images/toolbar/save_button.png"
                                    tooltip="Update Template" onclick="imgbtnSave_Click" validationgroup="UpdatePageMgt" />*@
                                </td>
                                <td>
                                    <img class="imgCommon" src="@Url.Content("~/Content/themes/base/images/icon-32-back.png")" title="Back to locations"
                                        onclick="history.back();" />
                                    @* <asp:imagebutton class="imgbtnClasspnl" tooltip="Back to locations" runat="server"
                                    id="imgBtnBack" onclientclick="history.back();" imageurl="~/Resources/Images/ControlPanel/images/toolbar/icon-32-back.png" />*@
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="header icon-48-categories" style="padding: 0px 0px 0px 55px; width: 60%;">
                        System Templates
                    </div>
                    <div class="clr">
                    </div>
                </div>
                <div class="b">
                    <div class="b">
                        <div class="b">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr">
            </div>


               <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                                        <div class="t">
                                            <div class="t">
                                                <div class="t">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m">
         
                                        </div>
                                        <div class="m">
                                            @*<div class="header1" style="padding: 0px 0px 10px 0px; width: 60%"  >
                                                    System Templates
                                            </div>*@
                                                <div id="DivSystemTemplates" class="expand">
                                                <div style="text-align:center; padding-bottom:2%;">
                                                  <div id="divMSG" style="display: none"></div>
                                                  </div>
                                 <table align="center" border="0" cellspacing="3" cellpadding="0" width="100%">
                                    <tr>
                                        <td align="right" width="40%">
                                            <span class="star">*</span>Select Template :
                                        </td>
                                        <td align="left">
                                            @Html.DropDownListFor(m => m.ddlTemplateName, new SelectList(Model.SystemTemplatesList, "pkTemplateId", "TemplateName"), new { onchange = "GetTemplateContents(0);", style = "width:285px;" })
                                            @Html.ValidationMessageFor(m => m.ddlTemplateName)
                                           
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="width: 45%">
                                            <span class="star">*</span>Template Name:
                                        </td>
                                        <td align="left">
                                            @Html.TextBoxFor(m => m.TemplateName, new { style = "width:280px;" })
                                            @Html.ValidationMessageFor(m => m.TemplateName)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right">
                                            <span class="star">*</span>Subject :
                                        </td>
                                        <td align="left">
                                            @Html.TextBoxFor(m => m.TemplateSubject, new { style = "width:280px;" })
                                            @Html.ValidationMessageFor(m => m.TemplateSubject)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div style="display: none" id="divEnabled">
                                                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                    <tr>
                                                        <td align="right" width="40%">
                                                            Enabled :
                                                        </td>
                                                        <td align="left">
                                                            @Html.CheckBoxFor(m => m.IsEnabled)
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr valign="top">
                                        <td align="right">
                                            <span class="star">*</span>Type or Paste Contents Below :
                                        </td>
                                        <td align="center">
                                            <span style="color: Green">Click <b style="color: Green; cursor: text"><a id="lnkLoadDefaultContents"
                                                title="Click here to Get the Default Contents" class="LinkBtn_LeftMenu" onclick="GetTemplateContents(1);">
                                                here</a></b> to load Default Contents</span> &nbsp;&nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center">
                                            <table width="100%">
                                                <tr>
                                                    <td align="center">
                                                        @{ Html.Telerik().EditorFor(model => model.TemplateContent)
                        .HtmlAttributes(new { style = "width:80%;height:400px;" })
                         .FileBrowser(t => t.Browse("Browse", "ImageBrowser")
                          .Thumbnail("Thumbnail", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                          .DeleteFile("DeleteFile", "ImageBrowser")
                          .DeleteDirectory("DeleteDirectory", "ImageBrowser")
                          .CreateDirectory("CreateDirectory", "ImageBrowser")).Encode(false)
                        .Value(@<text>
                                                            </text>)
                                                               //.StyleSheets(styleSheets => styleSheets.Add("~/Content/style.min.css"))
                        .Tools(tools => tools


                            .Separator()
                              .Clear()
               .Bold().Italic().Underline().Strikethrough().Separator()

               .FontColor().BackColor().Separator()
               .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull().Separator()
               .InsertUnorderedList().InsertOrderedList().Separator()
               .Indent().Outdent().Separator()
               .CreateLink().Unlink().Separator()
               .InsertImage()
               .FormatBlock()
               .Styles(styles => styles
                   .Add("Highlight", "highlight")
                   .Add("Code block", "code")
               )
                .Custom(settings => settings.HtmlAttributes(new { @class = "t-html", onclick = "viewSource(event)" }))
                        )
                        .Render();
                                                        }
                                                        @*  @Html.TextAreaFor(m => m.TemplateContent, new { style = "height:420px; width:800px" })*@
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                                </div>
                                            <div class="clr">
                                            </div>
                                        </div>
                                        <div class="b">
                                            <div class="b">
                                                <div class="b">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

            @*<div id="element-box">
                <div class="t">
                    <div class="t">
                        <div class="t">
                        </div>
                    </div>
                </div>
                <div class="m">
                    <table cellpadding="5" cellspacing="5" width="100%" class="AdminAddInformation">
                        <tr>
                            <td class="BlackHeader">
                                <table cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="50%">
                                            System Templates
                                        </td>
                                        <td align="right" width="44%">
                                        </td>
                                        <td align="center">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                              
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                             
                            </td>
                        </tr>
                    </table>
                    <div class="clr">
                    </div>
                </div>
                <div class="b">
                    <div class="b">
                        <div class="b">
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="clr">
            </div>
        </div>
    </div>
     
}
<div id="divLoading" class="progress" style="font-weight: normal; font-size: 12px;
    text-align: left; display: none">
    Processing...
</div>
@Html.Telerik().ScriptRegistrar().DefaultGroup(group => group
              .Add("~/Scripts/2011.2.712/telerik.common.min.js")
               .Add("~/Scripts/2011.2.712/telerik.editor.min.js")
             .Compress(true))
@(Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Combined(true).Compress(true)))
<link href="@Url.Content("~/Content/2011.2.712/telerik.default.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/kendo.common.min.css")" rel="stylesheet"
    type="text/css" />
<script src="@Url.Content("~/Scripts/KendoJS/kendo.all.min.js")" type="text/javascript"></script>
<style type="text/css">
    .t-editor .t-html
    {
        width: 66px;
        background-image: url("../Content/themes/base/images/add_html.png");
    }
</style>
<script type="text/javascript">
    var htmlSourcePopup;
    function viewSource(e) {
        e.stopPropagation();
        e.preventDefault();

        var editor = $('#TemplateContent').data('tEditor');
        var html = editor.value();

        if (!htmlSourcePopup) {
            htmlSourcePopup =
                    $('<div  class="html-view">' +
                          '<div style="width:1100px !important; height:400px" ><textarea style="width:1094px !important; height:400px"></textarea></div>' +
                          '<div class="t-button-wrapper">' +
                              '<button id="htmlCancel" class="t-button t-state-default">Cancel</button>' +
                              '<button id="htmlUpdate" class="t-button t-state-default">Update</button>' +
                          '</div>' +
                      '</div>')
                    .css('display', 'none')
                  .tWindow({
                      title: '<span id="SetPopUpMainHeader">Type or Paste the Contents</span>',
                      modal: true,
                      resizable: false,
                      draggable: true,
                      width: 1100,
                      onLoad: function () {
                          var $popup = $(this);
                          $popup.find('.textarea')
                                    .css('width', function () {
                                        return 1100 - (this.offsetWidth - $(this).width());
                                    })
                                    .focus()
                                  .end()
                                  .find('#htmlCancel')
                                    .click(function () {
                                        htmlSourcePopup.close();
                                    })
                                  .end()
                                  .find('#htmlUpdate')
                                    .click(function () {
                                        var value = $popup.find('textarea').val();
                                        editor.value(value);
                                        htmlSourcePopup.close();
                                    });
                      },
                      onClose: function () {
                          editor.focus();
                      },
                      effects: $.telerik.fx.toggle.defaults()
                  })
                .data('tWindow');
        }

        $(htmlSourcePopup.element).find('textarea').text(html);
        htmlSourcePopup.center().open();
    }
</script>
<script type="text/javascript">
    //    $(document).ready(function () {
    //        var PageEditor = $("#TemplateContent").kendoEditor().data("kendoEditor");
    //    });

    function func_bookmark() {
        var v = document.getElementById('Div_bookmark');
        if (v != null) {
            $(v).toggle('slow');

        }
    }

    var TemplateSubject = document.getElementById("TemplateSubject");

    var IsEnabled = document.getElementById("IsEnabled");
    var divEnabled = document.getElementById("divEnabled");
    var lnkLoadDefaultContents = document.getElementById("lnkLoadDefaultContents");
    var TemplateName = document.getElementById("TemplateName");
    var divMSG = document.getElementById("divMSG");

    function GetTemplateContents(IsDefaultContent) {
       
        divMSG.style.display = "none";
        // If IsDefaultContent = 0 then load Template Contents, if IsDefaultContent = 1 then load Default Template Contents
        var TemplateValue = GetCurrentSelectedValue();

      
        if (TemplateValue != "0") {

            lnkLoadDefaultContents.style.cursor = "pointer";
           // TemplateName.value = GetCurrentSelectedText();

            $.post('@Url.Action("GetTemplateContents", "Office")', { pkTemplateId: TemplateValue }, function (Result) {

                if (Result != null) {
                 
                    TemplateName.value = Result.TempName;
                    TemplateSubject.value = Result.TempSub;
                    var PageEditor1 = $('#TemplateContent').data('tEditor');
                    // var PageEditor1 = $("#TemplateContent").data("kendoEditor");
                    if (IsDefaultContent == 0) {
                        PageEditor1.value(Result.TempCont);
                    }
                    else {
                        PageEditor1.value(Result.DefaultContent);
                    }

                    if (Result.IsTemplateEnabled == true) {

                        IsEnabled.checked = true;
                    }
                    else {
                        IsEnabled.checked = false;
                    }
                    if (TemplateValue == "41") {
                        divEnabled.style.display = "block";
                    }
                    else {
                        divEnabled.style.display = "none";
                    }

                }
                else {
                    TemplateName.value = "";
                    lnkLoadDefaultContents.style.cursor = "text";
                    ClearTextbox();
                    divEnabled.style.display = "none";

                }
            });
        }
        else {
            TemplateName.value = "";
            lnkLoadDefaultContents.style.cursor = "text";
            ClearTextbox();
            divEnabled.style.display = "none";

        }
    }
    function GetAddUpdateResult(Result) {

        divEnabled.style.display = "none";

        if (Result != null) {

            divMSG.style.display = "block";

            divMSG.innerHTML = Result.Message;

            ddlLoadTemplate(Result.Templates);

            if (Result.StatusAddUpdate != "") {

                ClearTextbox();
            }
            else {
            }
        }
    }
    function ddlLoadTemplate(Collection) {
        var ddlTemplateName = $('#ddlTemplateName');
        ddlTemplateName.empty();

        $.each(Collection, function (index, coll1) {
            ddlTemplateName.append(
            $('<option/>').attr('value', coll1.pkTemplateId)
              .text(coll1.TemplateName)
          );
        });
    }

    function ClearTextbox() {
        // var PageEditor1 = $("#TemplateContent").data("kendoEditor");
        var PageEditor1 = $('#TemplateContent').data('tEditor');
        TemplateSubject.value = "";
        TemplateName.value = "";
        PageEditor1.value("");
    }
    function GetCurrentSelectedValue() {

        var ddlTemplateNameId = document.getElementById("ddlTemplateName");
        var num = ddlTemplateNameId.selectedIndex;
        var SystemTemplatevalue = ddlTemplateNameId.options[num].value;
        return SystemTemplatevalue;
    }
    function GetCurrentSelectedText() {

        var ddlTemplateNameId = document.getElementById("ddlTemplateName");
        var num = ddlTemplateNameId.selectedIndex;
        var SystemTemplatetext = ddlTemplateNameId.options[num].text;
        return SystemTemplatetext;
    }
    
</script>


<style type="text/css">
    


div.header1 { 
    cursor:default; 
}
</style>
