﻿
@{
    ViewBag.Title = "Users List";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}
<style>
.k-grid .centeralign
{
    text-align: center;
}

</style>
<div style="height: 1px">
</div>
<div id="content-box">
    <div class="padding">
        <div id="toolbar-box" style="margin-bottom:8px;" >
            <div class="t">
               <div class="rightTopRptHdrBorder">
                </div>
                <div class="leftTopRptHdrBorder">
                </div>
            </div>
            <div class="m" style="height:60px;"  >
                <div class="toolbar" id="toolbar">
                    <table class="toolbar">
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-add.png")"  title="Add New User" alt="Add" onclick="Add_User()" />
                            </td>
                            <td>
                                <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-publish.png")"
          title="Enable User" alt="Enable"  onclick="EnableUser()"  class="chkunchk" />
                            </td>
                            <td>
                                <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-publish_delete.png")"
            onclick="DisableUser()" 
title="Disable User" alt="Disable" class="chkunchk" />
                            </td>
                            <td>
                                <img src="@Url.Content("~/Content/themes/base/images/ControlPanel/images/toolbar/icon-32-delete.png")" onclick="DeleteUser()" title="Delete User" alt="Delete" class="chkunchk" />
                            </td>
                            <td>
                               
                                 <img class="imgCommon" src="../Content/themes/base/images/icon-32-back.png" title="Back"
                                    onclick="history.back();" alt="Back" />
                </div>
                </td> </tr> </table>
            </div>
             
            <div class="header icon-48-user" style="padding: 0px 0px 0px 55px;margin-bottom:1px; width: 60%">
                Users
            </div>
           
           
        </div>
       <div class="b">
            <div class="b">
                <div class="b">
                </div>
            </div>
        </div>  
    </div>
    <div class="clr">
    </div>
    <div style="height:2px;margin:2px;"></div>
    <div id="element-box" >
        <div class="t">
            <div class="t">
                <div class="t">
                </div>
            </div>
        </div>
        <div class="m">
            <table width="100%">
                <tr>
                    <td style="width: 40%" align="left">
                        Showing <span align="center" style="font-size: 16px; width: 60px; font-weight: bold;
                            color: #0b55c4;">
                            <label id="lblTotalRecords">
                            
                            </label>
                        </span>records
                    </td>
                    <td style="width: 20%" align="center">
                        <div id="divMSG" style="display: none">
                        </div>
                    </td>
                    <td align="right" style="width: 40%">
                        <span align="center" style="font-size: 16px; width: 60px; font-weight: bold;
                            color: #0b55c4;"> <a href='#' id='export2' onclick="CheckPassword()" >Export to CSV</a>
                                </span>
                    </td>
                </tr>
                <tr>
                    <td class="fontstyle" align="left" colspan="3">
                        <div id="grid">
                        </div>
                    </td>
                </tr>
            </table>
            <div class="clr">
            </div>
        </div>
        <div class="b">
            <div class="b">
                <div class="b">
                </div>
            </div>
        </div>
    </div>
     <input type="hidden" id="Company_Id" value="@ViewData["CompanyId"]" />
    <div class="clr">
    </div>
</div>



 <input type="hidden" value="@ViewBag.PwdToExportCsv" id="hdnPwdToExport" />
<div id="ExportToCSVpopUp" style="visibility: hidden; display: none;">
     <table width="100%" border="0" style="background-color: #ffffff; display: block"
            cellpadding="5">
            <tr>
                <td align="center" colspan="3" style="font-weight: bold">
                   
                </td>
            </tr>
            <tr>
                <td align="right" style="width: 44%;">
                    <b>Please Enter Password :</b>
                </td>
                <td align="left" style="width: 56%;">
                   
                    <input type="password"  name="txtDocumentName" id="UserPassword" />
                </td>
                <td></td>
            </tr>
            <tr>
                <td align="right">
                    <b></b>
                </td>
                <td align="left">
                   
                </td>
            </tr>
            <tr>
                <td align="center" colspan="3">
                   
                  <span align="center" style="font-size: 16px; width: 60px; font-weight: bold;
                                color: #0b55c4;">  <a href='ExportOfficeUsersInfoToCSV' id='export23' onclick='return CheckUserPassword()'  >Submit</a></span>
                </td>
            </tr>
        </table>
   
</div>
<script type="text/javascript">

function CheckUserPassword()
{
var UserPwd =document.getElementById("UserPassword").value;
var PwdSetByAdmin= document.getElementById("hdnPwdToExport").value;

if(UserPwd == PwdSetByAdmin)
{
$("#ExportToCSVpopUp").data("kendoWindow").close();
return true;

 
}
else
{
alert("Wrong Password");
return false;

}
}

function CheckPassword()
{
       document.getElementById("ExportToCSVpopUp").style.visibility = "visible";
        document.getElementById("ExportToCSVpopUp").style.display = "block";

        var windowOpen = $("#ExportToCSVpopUp").kendoWindow({
            actions: ["Close"],
            draggable: true,
            modal: true,
            resizable: true,
            title: "Export to CSV",
            height: "140px",
            width: "420px"

        }).data("kendoWindow");

        windowOpen.center();
        windowOpen.open();
       
      return false;
}




var selectList = '<span style="width:500px;text-align:right;float:right;">    Records Per Page: <select onchange="ChangePageSize(this.value);" style="width:50px;" id="mySelect"><option>25</option><option>50</option><option>75</option><option>100</option></select></span>';
    $("#grid").kendoGrid({
        sortable: true,
        pageable: true,
        scrollable: false,
        navigatable: true,

         filterable: true,     
        columns: [
            { field: "fkUserId", width: 300, filterable: false, title: "<input id='chk' type='checkbox' onclick='tickUntick(this.checked)' # />", width: "2%", template: '<input type="checkbox" id="#=fkUserId#" class="chkunchk" />',sortable: false, },
            { field: "FirstName", title: "Name", width: "13%" ,  template:'<label>#=FirstName#<label> <label>#=LastName#<label>',filterable: {extra: false, operators: { string: {contains: "Contains",startswith: "Starts with",endswith: "Ends with"}}}},
            { field: "UserName", title: "Email/UserName", width: "18%",filterable: {extra: false, operators: { string: {contains: "Contains",startswith: "Starts with",endswith: "Ends with"}}}},
            { field: "UserDisplayRole", title: "User Type", width: "12%", filterable: false},
            { field: "CompanyName", title: "Company", width: "15%" ,filterable: {extra: false, operators: { string: {contains: "Contains",startswith: "Starts with",endswith: "Ends with"}}}},
            { field: "City+IsHome", title: "Location", width: "15%", template: '<div style="text-align:center;"><div style="float: left ;text-align:left; width:80%">#=City#</div><div style="float: right ;text-align:center; width:18%"># if (IsHome) {# <input type="IMAGE" title="Home Location" style="cursor:default" SRC="@Url.Content("~/Content/themes/base/images/Home.png")" /> #}#</div></div>',filterable: {extra: false, operators: { string: {contains: "Contains",startswith: "Starts with",endswith: "Ends with"}}}},
            { field: "IsEnabledUser", title: "Status", width: "4%", template: '<div class="centeralign"># if (IsEnabledUser==true) {# <input type="IMAGE"  title="Active" SRC="@Url.Content("~/Content/themes/base/images/tick.png")" id="mainimage" value="#=IsEnabledUser#"/> #} else {# <input type="IMAGE" SRC="@Url.Content("~/Content/themes/base/images/publish_x.png")"  title="InActive" id="mainimage2" value="#=IsEnabledUser#"/> #} #</div>', filterable: false },
            { field: "fkUserId+pkCompanyUserId", title: "Action", width: "5%",sortable:false,template: '<div class="centeralign"><div style="float:left"><input type="IMAGE" SRC="../Content/themes/base/images/edit.png"  style="width:21px; height:20px" id="#=fkUserId#" title="Edit" onclick="UpdateUser(this.id)" /></div><div style="width:1px;"></div><div style="float:right">#if("@Session["LoggedUser"]"!="SalesManager" && UserDisplayRole=="Sales Manager" ){#<input type="IMAGE" SRC="../Content/themes/base/images/delete.png"  id="#=pkCompanyUserId#" title="Delete" onclick="DeleteUser1(this.id)" />#}if("@Session["LoggedUser"]"!="SalesManager" && UserDisplayRole!="Sales Manager" ){#<input type="IMAGE" SRC="../Content/themes/base/images/delete.png" id="#=pkCompanyUserId#"  title="Delete" onclick="DeleteUser2(this.id)" />#}#</div></div>' , filterable: false },
           
            ],




        editable: false,
         dataBound: function () {
            var takeTotal = this.dataSource.total();
            $("#lblTotalRecords").html(takeTotal);
            var gridHeaderRows = $("#grid tbody th");
            var gridRows = $("#grid tbody tr");
            var takeGrid = $("#grid").data("kendoGrid");
            var length = gridRows.length;
            for (i = 0; i < length; i++) {
               
                var dataItem = takeGrid.dataItem(gridRows[i]);
                GridEffect("grid", dataItem)

                }
          },
            dataSource: {
            page: 1,
            pageSize: 25,

            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,

            schema: {
                data: "Reclist",
                total: "TotalRec"
            },

            batch: true,
            transport: {

                read: {
                    url: '@Url.Action("UsersListBind", "Office")',

                    type: "POST"

                },
                parameterMap: function (options) {
                    var data = options;
                    if (options.filter) {
                        var filters = options.filter.filters;
                        for (var i = 0; i < filters.length; i++) {
                            data["filters[" + i + "].Field"] = filters[i].field;
                            data["filters[" + i + "].Operator"] = filters[i].operator;
                            data["filters[" + i + "].Value"] = filters[i].value;
                        }
                    }
                    if (options.sort) {
                        for (var i = 0; i < options.sort.length; i++) {
                            data["sort[" + i + "].Field"] = options.sort[i].field;
                            data["sort[" + i + "].Dir"] = options.sort[i].dir;
                        }
                    }
                    return data;
                }



            }

        }

    });
    $(".k-grid-pager").append(selectList);
    
    $(".k-grid").find("th").addClass("centeralign");
     function ChangePageSize(val)
          {
                var ds = $("#grid").data("kendoGrid").dataSource;
                var newPageSize = parseInt(val);
                    ds.pageSize(newPageSize);
            }



function EnableUser() {
        var fkUserIds = '';
        $("#grid .chkunchk").each(function () {
            if ($(this).attr("checked") == 'checked') {

                var fkUserId = $(this).attr("id");

                fkUserIds =fkUserIds + "#" + fkUserId;
            }

        });
        if (fkUserIds == '') {
            alert("Please select atleast one User");
        }
        else{
       $.post('@Url.Action("UpdateEnableOfficeUser", "Office")', { UserId: fkUserIds }, function (data) { });
     
       var OfficeuserGrid = $("#grid").data("kendoGrid");
        OfficeuserGrid.dataSource.read();
        OfficeuserGrid.refresh();
        }
        
      
    }

    function DisableUser()
   {
   
    var fkUserIds = '';
        $("#grid .chkunchk").each(function () {
            if ($(this).attr("checked") == 'checked') {

                var fkUserId = $(this).attr("id");

                fkUserIds =fkUserIds + "#" + fkUserId;
            }

        });
        if (fkUserIds == '') {
            alert("Please select atleast one User");
        }
        else{
       $.post('@Url.Action("UpdateDisableOfficeUser", "Office")', { UserId: fkUserIds }, function (data) { });
       var OfficeuserGrid= $("#grid").data("kendoGrid");
       OfficeuserGrid.dataSource.read();
       OfficeuserGrid.refresh();
        }
   
   }


   
  function DeleteUser() {
        var fkUserIds = '';
        $("#grid .chkunchk").each(function () {
            if ($(this).attr("checked") == 'checked') {

                var fkUserId = $(this).attr("id");

                fkUserIds =fkUserIds + "#" + fkUserId;
            }

        });
        if (fkUserIds == '') {
            alert("Please select atleast one User");
        }
        else{
         if (confirm('Are you sure to delete User(s) ?')) {
       
       $.post('@Url.Action("DeleteSelectedOfficeUser", "Office")', { UserId: fkUserIds }, function (data) { });
   
        var OfficeuserGrid= $("#grid").data("kendoGrid");
       OfficeuserGrid.dataSource.read();
        OfficeuserGrid.refresh();
        }
      }
    }




function Add_User() {
 
   if (document.getElementById("Company_Id").value!=0)
        {
      var sCompanyId=document.getElementById("Company_Id").value;
      self.location = "UserAccount?_c="+ sCompanyId;
         
        }
        else
        {
             self.location = "UserAccount?_an=an";
        }
    
   
    }

 function tickUntick(t) {
 if (t == true) { $('.chkunchk').each(function(){ this.checked = true; }); }
 else{ $('.chkunchk').each(function(){ this.checked = false; }); }
  }

   





 function DeleteUser1(pkCompanyUserId)
  {
  
  if (confirm('Are you really want to delete this Sales Manager?')) {  $.post('@Url.Action("DeleteUserRecord", "Office")', { CompanyserId: pkCompanyUserId }, function (data) { });
     var OfficeuserGrid = $("#grid").data("kendoGrid");
         OfficeuserGrid.dataSource.read();
         OfficeuserGrid.refresh();
         
         }
}

function DeleteUser2(pkCompanyUserId)
  {
 
   if (confirm('Are you sure you want to delete this Record?')) {
   
   $.post('@Url.Action("DeleteUserRecord", "Office")', { CompanyserId: pkCompanyUserId }, function (data) { });
     var OfficeuserGrid = $("#grid").data("kendoGrid");
         OfficeuserGrid.dataSource.read();
         OfficeuserGrid.refresh();
   
   }
  

}
  
function UpdateUser(fkUserId)
{
var sCompanyId=document.getElementById("Company_Id").value;
 self.location = "UserAccount?_a=" + fkUserId + "&_c=" + sCompanyId;

}
    


 

</script>





