﻿@model Emerge.Models.UsersModel
@{
    ViewBag.Title = "User Account";
    Layout = "~/Views/Shared/_OfficeLayout.cshtml";
}
<style type="text/css">
    input
    {
        margin-right: 10px;
    }
    .k-dropdown
    {
        margin-right: 10px;
        width: 224px;
        float: left;
    }
    .k-invalid-msg, .k-textbox
    {
        float: left;
    }
    
    


div.header1 { 
    cursor:default; 
}
</style>
<div id="content-box">
 @using (Html.BeginForm("SaveOfficeUserAccountInfoInDB", "Office", FormMethod.Post, new { enctype = "multipart/form-data", id = "formAccount" }))
 {
    <div class="padding">
        <div id="toolbar-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
                <div class="toolbar" id="toolbar">
                    <table class="toolbar">
                        <tr>
                            <td>
                                <input class="imgbtnClasspnl" id="imgbtnSave" type="submit" value="" title="Save User info"
                                    onclick="return CheckValidations();" />
                            </td>
                            <td>
                                <a href="UsersList">
                                    <img class="imgCommon" src="../Content/themes/base/images/ControlPanel/images/toolbar/cancel_button.png"
                                        title="Cancel" /></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="header icon-48-user" style="padding: 0px 0px 0px 55px; width: 40%">
                    Add/Edit User
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="DivHidden">
         @Html.HiddenFor(m => m.strResult)@Html.HiddenFor(m => m.pkCompanyUserId)@Html.HiddenFor(m => m.QueryStringUserId)
                          @Html.HiddenFor(m => m.SelectedCompanyName)  
                           @Html.HiddenFor(m => m.fkLocationId)
                             @Html.HiddenFor(m => m.PkCompanyId)
                               @Html.HiddenFor(m => m.fkStateId)
                                @Html.HiddenFor(m => m.fkCountyId)
        </div>
        <div style="text-align:center;">
         <div id="divMSG">
                            </div>
        </div>

           <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
                                        <div class="t">
                                            <div class="t">
                                                <div class="t">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m">
         
                                        </div>
                                        <div class="m">
                                            <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%"  >
                                                    User
                                            </div>
                                                <div id="DivUsers" class="expand">   
                             
                             <table border="0" width="96%">
                                <tr id="trUserImage">
                                    <td colspan="2" align="left">
                                      <img src= "@Model.ViewImage" alt="User Image" title="User Image"width="60px" height="68px"/>
                                 
                                    </td>
                                </tr>
                                <tr>
                                    <td width="18%" class="alt_column">
                                        User Note :
                                    </td>
                                    <td align="left">
                                         <textarea style="height: 60px; width: 550px;" cols="20" rows="2" id="UserNote" name="UserNote"
                                            class="NoteTextBoxStyle">@Model.UserNote</textarea>
                                    </td>
                                </tr>
                               @if (@Model.LastLoginByUser != null)
                               {
                                    <tr id="trLastLogin">
                                        <td class="alt_column">
                                            Last Login
                                        </td>
                                        <td align="left">
                                            @Model.LastLoginByUser
                                        </td>
                                    </tr>
                               }
                               else
                               {
                               }
                                <tr id="trEnable" runat="server">
                                    <td width="18%" class="alt_column">
                                        Enabled ?
                                    </td>
                                    <td align="left">
                                     @Html.CheckBoxFor(m => m.IsEnabled)
                                    </td>
                                </tr>
                                <tr style="display: none" id="trSignedFCRA" runat="server">
                                    <td width="18%" class="alt_column">
                                        Signed FCRA ?
                                    </td>
                                    <td align="left">
                                       @Html.CheckBoxFor(m => m.IsSignedFcra)
                                    </td>
                                </tr>
                                <tr>
                                    <td width="18%" class="alt_column">
                                        User Image :
                                    </td>
                                    <td align="left">
                                        @Html.TextBoxFor(m => m.UserImage, new { type = "file" })
                                        @Html.HiddenFor(m => m.OldUserImage)
                                    </td>
                                </tr>
                                <tr>
                                    <td width="18%" class="alt_column">
                                        <span class="RequiredFieldsIndicator">*</span>First Name :
                                    </td>
                                    <td align="left">
                                        <input type="text" id="FirstName" name="FirstName" class="k-textbox" value="@Model.FirstName" required validationmessage="Please enter First Name"  />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="18%" class="alt_column">
                                        <span class="RequiredFieldsIndicator">*</span>Last Name :
                                    </td>
                                    <td align="left">
                                        <input type="text" id="LastName" name="LastName" class="k-textbox" value="@Model.LastName" required validationMessage="Please enter Last Name" />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="18%" class="alt_column">
                                        <span class="RequiredFieldsIndicator">*</span>Initials :
                                    </td>
                                    <td align="left">
                                        <input type="text" id="Initials" name="Initials" class="k-textbox" value="@Model.Initials" required validationMessage="Please enter Initials" onkeyup="return Upper(event,this)" />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="18%" class="alt_column">
                                        <span class="RequiredFieldsIndicator">*</span>Email / User Name :
                                    </td>
                                    <td align="left">
                                        @Html.HiddenFor(m => m.OldUserEmail)@Html.HiddenFor(m => m.CurrentUserEmail)
                                        @Html.HiddenFor(m => m.fkUserId)@Html.HiddenFor(m => m.OldUserPassword)
                                        <input type="email" id="UserEmail" name="UserEmail" class="k-textbox" placeholder="e.g. myname@example.net"  style="width:220px"
                                              required validationmessage="Please enter Email" required data-email-msg="Email format is not valid" value="@Model.UserEmail" />
                                    </td>
                                </tr>
                                <tr>
                                    <td width="18%" class="alt_column">
                                        <span class="RequiredFieldsIndicator">*</span>Password :
                                    </td>
                                    <td align="left">
                                        <input type="text" id="UserPassword" name="UserPassword" class="k-textbox" value="@Model.UserPassword"  required pattern="^\S{1}(?:.){4,}\S$" validationMessage="Password length must be greater than 6."/>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="18%" class="alt_column">
                                        Phone No :
                                    </td>
                                    <td align="left">
                                        <input type="text" id="PhoneNo" name="PhoneNo" class="k-textbox" value="@Model.PhoneNo"  pattern="((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}" validationmessage="Please enter valid Phone No"   onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);" />
                                    </td>
                                </tr>
                            </table>
                                            </div>
                                            <div class="clr">
                                            </div>
                                        </div>
                                        <div class="b">
                                            <div class="b">
                                                <div class="b">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

           <div id="element-box" style="margin-top: 10px; padding-top: 1px;">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
         
            </div>
            <div class="m">
                <div class="header1" style="padding: 0px 0px 10px 0px; width: 60%"  >
                        Restrictions
                </div>
                    <div id="DivRestrictions" class="expand">   
                        <table width="96%">
                                <tr>
                                    <td width="18%" class="alt_column">
                                        <span class="RequiredFieldsIndicator">*</span>Status :
                                    </td>
                                    <td align="left">
                                       @Html.HiddenFor(m => m.RoleId, new { id = "hdRoleId" })@Html.HiddenFor(m => m.Selected_RoleName)@Html.HiddenFor(m => m.Description)
                                            <select id="RoleId" name="RoleId"  style="width:224px"  class="k-dropdown" value="@Model.RoleId">
                                            </select>
                                      
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div  id="trManager" @(Model.trManagerVisible == true ? "style=display:block" : "style=display:none")>
                                            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                                <tr>
                                                    <td width="18%" class="alt_column">
                                                        <span class="RequiredFieldsIndicator">*</span>Account Manager :
                                                    </td>
                                                    <td align="left">
                                                        @Html.HiddenFor(m => m.ManagerUserId, new { id = "hdManagerUserId" })
                                                        <select id="ManagerUserId" name="ManagerUserId"  value="@Model.ManagerUserId" @(Model.ddlManagersEnabled == "false" ? "disabled=disabled" : "")  class="k-dropdown">
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div> 
        <div class="clr">
        </div>
    </div>
 }
</div>
<script type="text/javascript">

    function CheckValidations() {
      
        var validator = $("#tickets").kendoValidator().data("kendoValidator");

     
        if (validator.validate()) {
            return true;
        } else {
            return false;
        }

    }
    GetResult();
    function GetResult() {

        var divMSG = document.getElementById('divMSG');
        var strResult = document.getElementById('strResult');

        if (strResult != 'null' || strResult.value != '') {
            divMSG.style.display = "block";
            divMSG.innerHTML = strResult.value;
        }
    }
    function Upper(e, r) {

        r.value = r.value.toUpperCase();

    } 
</script>
<script type="text/javascript">


    $(document).ready(function () {

        $("#RoleId").kendoDropDownList({
            dataTextField: "Description",
            dataValueField: "RoleId",

            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("BindStatusForOfficeUserAccount", "Office")',
                        type: "POST"
                    }
                }
            },
            change: function (e) {
                $("#hdRoleId").val(this.value());
                $("#Description").val(this.text());
                var trManager = document.getElementById('trManager');
                var ManagerUserId = document.getElementById('ManagerUserId');
                if (this.value() == '65d1e085-eb17-4f29-96d0-247b0c1ee872') {
                    if (trManager != null && ManagerUserId != null) {
                        trManager.style.display = "block";
                    }
                }
                else {
                    if (trManager != null && ManagerUserId != null) {
                        trManager.style.display = "none";
                    }
                }
            },
            select: function (e) {
                $("#hdRoleId").val(this.value());
                $("#Description").val(this.text());
            }
        });

        var RoleId = $("#hdRoleId").val();
        var ddlStatus = $("#RoleId").data("kendoDropDownList");
        ddlStatus.value(RoleId);

        var RoleDescription = $("#Description").val();
        ddlStatus.text(RoleDescription);
    
    });

    $('#FirstName').blur(function () {
        var dropdownlist = $("#RoleId").data("kendoDropDownList");
        dropdownlist.trigger("change");
    });


    


    $(document).ready(function () {
        $("#ManagerUserId").kendoDropDownList({
            dataTextField: "FullName",
            dataValueField: "UserId",

            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: '@Url.Action("LoadManagers", "Office")',
                        type: "POST"
                    }
                }
            },
            change: function (e) {
                $("#hdManagerUserId").val(this.value());

            }
        });
        var ManagerUserId = $("#hdManagerUserId").val();
        var ddl = $("#ManagerUserId").data("kendoDropDownList");
        ddl.value(ManagerUserId);
    });


   
</script>