﻿<style>
    .newfature { color: #FFFFFF;float: left; font-family: arial;font-size: 16px;margin-top: 9.8%;font-weight: bold;}
.spacediv{ width: 100%; background-color: white; height:16%;}
.altspacediv{ width: 100%; background-color: white; height:8%;}
</style>
@model Emerge.Models.LoginModel
@if (Model.IsOpenFeature == true)
{  <input type="hidden" id="featureexist" value= "@Model.IsOpenFeature" />
    <div style="width: 100%; background-color: #d70302; height: 38px;">
        <div style="float: left; margin-left: 1%;">
            <span class="newfature">New Feature</span>
        </div>
        <div style="float: right; margin-right: 3%;">
            <div style="float: left">
                <div style="float: left">
                    <span class="newfature">powered by</span></div>
                <div style="float: left">
                    <img height=17px; style=margin-top:12px;margin-left:17%; src="@Url.Content("~/Content/themes/base/images/emerge-logo-img-small01.png")">
                </div>
            </div>
        </div>
    </div>
    <div class="spacediv" id="margindiv">
    </div>
    <div id="DivNewFeature" style="display: block; width: 100%; height: 620px; background-color: white;">
        <div style="float: left; width: 20%;">
            <div style="float: left; margin-left: 25%;">
                <div style="margin-top: 333%">
                    <input type="hidden" value="1" id="newfeature" />
                    <img id="imgbackward" src="@Url.Content("~/Content/themes/base/images/backward.png")" alt="" onclick="previousimage()"
                        width="60px" />
                </div>
            </div>
        </div>
        <div style="float: left; width: 60%;">
            <div id="MiddileNewFeatureDiv" style="margin: 0 auto; float: left; width: 100%;">
                <div style="margin: 0 auto;">
                    <div style="width: 650px; height: 477px; background-color: white; margin: 0 auto;">
                        <div id="feature" style="margin: 0 auto;">
                            <div id="newft" style="margin: 0 auto;">
                            </div>
                        </div>
                        <div id="slideOut" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="float: left; width: 20%;">
            <div style="float: right; margin-right: 25%;">
                <div style="margin-top: 333%">
                    <img id="imgforward" src="@Url.Content("~/Content/themes/base/images/forward.png")" alt="" onclick="nextimage()"
                        width="60px" />
                </div>
            </div>
        </div>
    </div>
    <div id="checklist" style="display: block; background-color: white;">
    </div>
    <script>
        $(function () {
            if (jQuery.browser.msie) {
                $("#DivNewFeature").attr("style", "display: block; width: 100.9%; height: 620px; background-color: white;position:fixed;");
            }
            $.ajax('@Url.Action("PartialCurrentFeaturenew", "Common")', { cache: false, success: function (data) { $("#newft").html(data); } });
        });
        




           var readyStateCheckInterval = setInterval(function () {
            if (document.readyState == "complete") {
                

                   if ($("#anotherDiv").height() > "797") {

                 $("#margindiv").addClass("spacediv").removeClass("altspacediv");

             }

             if ($("#anotherDiv").height() <= "797") {
                 $("#margindiv").addClass("altspacediv").removeClass("spacediv");


             }
                    clearInterval(readyStateCheckInterval);
                
            }
        }, 10);


    </script>
}
else
{ <input type="hidden" id="featureexist" value= "@Model.IsOpenFeature" /> }