﻿@using (Ajax.BeginForm("../Control/UpdateStateFee", "", new AjaxOptions { OnSuccess = "getResult" }, new { id = "frmStateCountyFee" }))
{
    if (string.IsNullOrEmpty(ViewBag.Page))
    {
    <div class="padding">
        <div id="toolbar-box">
            @*<div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>*@
            <div class="m">
                <div class="toolbar" id="toolbar">
                    <table class="toolbar">
                        <tr>
                            <td>
                                @* <input class="imgbtnClasspnl" title="Save fee" type="submit" style="background-image: url('../../Content/themes/base/images/ControlPanel/images/toolbar/save_button.png');color: transparent;
                                    border-bottom-width: 0px; background-color: transparent;" />*@
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="header icon-48-user" style="padding: 0px 0px 0px 55px;">
                    <span id="lblHeadr" style="color:#fff;">@ViewBag.Heading</span>
                </div>
                <div class="clr">
                </div>
            </div>
            @*<div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>*@
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            @*<div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>*@
            <div class="m">
                <center>
                    <table class="AdminAddInformation">
                        <tr>
                            <td align="center">
                                <div id="dvMsg">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                @if (ViewBag.Type == "1")
                                {
                                    <table width="100%" border="0" class="tbl_layout" cellspacing="0" style="width: 30%;">
                                        <tr class="ProductsTd">
                                            <th align="left" width="50%">
                                                <span style="margin-left: 30px;"> State Name </span>
                                            </th>
                                            <th align="right" width="50%" style="text-align: right;">
                                                <span style="margin-right: 30px;"> Fees </span>
                                            </th>
                                        </tr>
                                        @if (ViewData["FeeData"] != null)
                                        {
                                            if ((ViewData["FeeData"] as List<Emerge.Services.clsStateFee>).Count > 0)
                                            {
                                                foreach (var i in (ViewData["FeeData"] as List<Emerge.Services.clsStateFee>))
                                                {
                                            <tr>                                                
                                                <td width="50%" align="left">
                                                   <span style="margin-left: 30px;"> @i.StateName </span>
                                                </td>
                                                <td width="50%" align="right">
                                                   <span style="margin-right: 30px;"> @i.AdditionalFee </span>
                                                </td>
                                            </tr>
                                                }
                                            }
                                        }
                                    </table>
                                }
                                else if (ViewBag.Type == "2")
                                {
                                    <table width="100%" border="0" class="tbl_layout" style="width: 30%;">
                                        <tr class="ProductsTd">
                                            <th align="left" width="50%">
                                                <span style="margin-left: 30px;"> State Name </span>
                                            </th>
                                            <th align="right" width="50%" style="text-align: right;">
                                                <span style="margin-right: 30px;"> Fees </span>
                                            </th>
                                        </tr>
                                        @if (ViewData["FeeData"] != null)
                                        {
                                            if ((ViewData["FeeData"] as List<Emerge.Services.clsStateFee>).Count > 0)
                                            {
                                                foreach (var i in (ViewData["FeeData"] as List<Emerge.Services.clsStateFee>))
                                                {
                               
                                            <tr>
                                                <td width="50%" align="left">
                                                   <span style="margin-left: 30px;"> @i.StateName </span>
                                                </td>
                                                <td width="50%" align="right">
                                                   <span style="margin-right: 30px;"> @i.AdditionalFee </span>
                                                </td>
                                            </tr>
                                                }
                                            }
                                        }
                                    </table>
                                }
                            </td>
                        </tr>
                    </table>
                </center>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
    }
    else
    {
    <div class="padding">
        <div id="toolbar-box">
            @*<div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>*@
            <div class="m" style="margin-top: 47px; border: medium none ! important;">
                <div class="toolbar" id="toolbar">
                    <table class="toolbar">
                        <tr>
                            <td>
                                <input class="btn btn-default" value="Save" title="Save fee" type="submit" style="margin-top: 2px;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="header icon-48-user" style="padding: 5px 0px 0px 55px; color:#fff;">
                    <span id="Header" style="color:#fff;">@ViewBag.Heading</span>
                </div>
                <div class="clr">
                </div>
            </div>
            @*<div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>*@
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            @*<div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>*@
            <div class="m">
                <center>
                    <table class="AdminAddInformation" style="width: 70%;">
                        <tr>
                            <td align="center">
                                <div id="dvMsg">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                @if (ViewBag.Type == "1")
                                {
                                    <input type="hidden" name="hdType" value="@ViewBag.Type" />
                                    <table width="100%" border="0" class="tbl_layout" cellspacing="0">
                                        <tr class="ProductsTd">
                                            <td align="left" width="20%">
                                                &nbsp;State Name
                                            </td>
                                            <td align="left" width="24%">
                                                &nbsp;Fees
                                            </td>
                                            <td align="center" id="thLiveRunner" runat="server" style="padding-left: 10px;">
                                                <img src="@Url.Content("~/Content/themes/base/images/LiveRunnerSmallLogo.png")" title="Is Live Runner"
                                                    alt="Live Runner Logo" />
                                            </td>
                                            <td align="left" id="thRcxFee" runat="server">
                                                 Fees
                                            </td>
                                            <td align="center" id="thConsentForm" runat="server">
                                                Consent Form
                                            </td>
                                             <td align="center" id="thdisclaimer" runat="server">
                                                Disclaimer Data
                                            </td>
                                             <td align="center" id="thIsEnabled" runat="server">
                                                Active
                                            </td>
                                        </tr>
                                        @if (ViewData["FeeData"] != null)
                                        {
                                            if ((ViewData["FeeData"] as List<Emerge.Services.clsStateFee>).Count > 0)
                                            {
                                                List<Emerge.Services.clsStateFee> Obj = (ViewData["FeeData"] as List<Emerge.Services.clsStateFee>);
                                                for (var i = 0; i < Obj.Count; i++)
                                                {
                            
                                            <tr>
                                                <td width="20%" align="left">
                                                    @Obj.ElementAt(i).StateName
                                                    <input name="fkProductId_@i" type="hidden" value="@Obj.ElementAt(i).fkProductId" />
                                                    <input name="pkStateFeeId_@i" type="hidden" value="@Obj.ElementAt(i).pkStateFeeId" />
                                                    <input name="pkStateId_@i" type="hidden" value="@Obj.ElementAt(i).pkStateId" />
                                                </td>
                                                <td width="24%" align="left">
                                                    <input type="text" name="txtLiveRunnerFees_@i" value="@Obj.ElementAt(i).LiveRunnerFees"  style="width: 80px;" />
                                                </td>
                                                <td align="center" id="tdLiveRunner" runat="server" style="padding-left: 10px;">
                                                    @if (Obj.ElementAt(i).IsStateLiveRunner)
                                                    {
                                                        <input type="checkbox" name="chkIsLiveRunnerState_@i" checked="checked" />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="chkIsLiveRunnerState_@i"  />
                                                    }
                                                </td>
                                                <td align="left" id="tdRcxFee" runat="server">
                                                    <table width="76">
                                                        <tr>
                                                            <td width="63px">
                                                                <input type="text" name="txtRcxFees_@i" value="@Obj.ElementAt(i).AdditionalFee"  style="width: 80px;" />
                                                            </td>
                                                            <td width="13px">
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td align="center" runat="server" style="padding-left: 10px;">
                                                    @if (Obj.ElementAt(i).IsConsent)
                                                    {
                                                        <input type="checkbox" name="chkConsentForm_@i" checked="checked" />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="chkConsentForm_@i"  />
                                                    }
                                                </td>
                                                 <td align="center" runat="server" style="padding-left: 10px;">
                                                 <input type="text" name="DisclaimerData_@i" value="@Obj.ElementAt(i).DisclaimerData"  style="width: 400px;" />
                                                 </td>
                                                 <td align="center" runat="server" style="padding-left: 10px;">
                                                    @if (Obj.ElementAt(i).IsEnabled)
                                                    {
                                                        <input type="checkbox" name="chkIsEnabled_@i" checked="checked" />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="chkIsEnabled_@i"  />
                                                    }
                                                </td>
                                            </tr>
                                                }
                                            }
                                        }
                                    </table>
                                
                                }
                                else if (ViewBag.Type == "2")
                                {
                                    <input type="hidden" name="hdType" value="@ViewBag.Type" />
                                    <table width="100%" border="0" class="tbl_layout">
                                        <tr class="ProductsTd">
                                            <th align="left" width="25%">
                                                &nbsp;State Name
                                            </th>
                                            <th align="left" width="25%">
                                                &nbsp;Fees
                                            </th>
                                            <th align="center" id="thConsentForm" runat="server" width="25%">
                                                Consent Form
                                            </th>
                                             <th align="center" id="thDisclaimer" runat="server" width="25%">
                                                Disclaimer Data
                                            </th>
                                        </tr>
                                        @if (ViewData["FeeData"] != null)
                                        {
                                            if ((ViewData["FeeData"] as List<Emerge.Services.clsStateFee>).Count > 0)
                                            {
                                                List<Emerge.Services.clsStateFee> Obj = (ViewData["FeeData"] as List<Emerge.Services.clsStateFee>);
                                                for (var i = 0; i < Obj.Count; i++)
                                                {
                               
                                            <tr>
                                                <td width="25%" align="left">
                                                    @Obj.ElementAt(i).StateName
                                                    <input name="pkStateId_@i" type="hidden" value="@Obj.ElementAt(i).pkStateId" />
                                                    <input name="fkProductId_@i" type="hidden" value="@Obj.ElementAt(i).fkProductId" />
                                                    <input name="pkStateFeeId_@i" type="hidden" value="@Obj.ElementAt(i).pkStateFeeId" />
                                                </td>
                                                <td width="25%" align="left">
                                                    <input type="text" name="txtMVRFee_@i" value="@Obj.ElementAt(i).AdditionalFee"  style="width: 80px;" />
                                                </td>
                                                <td width="25%" align="center" name="tdConsentForm" runat="server">
                                                    @if (Obj.ElementAt(i).IsConsent)
                                                    {
                                                        <input type="checkbox" name="chkConsentForm_@i" checked="checked" />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="chkConsentForm_@i"  />
                                                    }
                                                </td>
                                                <td width="25%" align="center" name="tdDisclaimer" runat="server">
                                                 <input type="text" name="DisclaimerData_@i" value="@Obj.ElementAt(i).DisclaimerData"  style="width: 400px" />
                                                </td>
                                            </tr>
                                                }
                                            }
                                        }
                                    </table>
                                
                                }
                                else if (ViewBag.Type == "3")
                                {
                                    <input type="hidden" name="hdType" value="@ViewBag.Type" />
                                    <table width="100%" border="0" class="tbl_layout">
                                        <tr>
                                            <th align="left" width="30%" class="ProductsTd">
                                                &nbsp;State Name
                                            </th>
                                            <th align="center" id="thConsentForm" runat="server" width="30%" class="ProductsTd">
                                                Consent Form
                                            </th>
                                            <th align="center" id="thDisclaimer" runat="server" width="40%" class="ProductsTd">
                                                Disclaimer Data
                                            </th>
                                        </tr>
                                        @if (ViewData["FeeData"] != null)
                                        {
                                            if ((ViewData["FeeData"] as List<Emerge.Services.clsStateFee>).Count > 0)
                                            {
                                                List<Emerge.Services.clsStateFee> Obj = (ViewData["FeeData"] as List<Emerge.Services.clsStateFee>);
                                                for (var i = 0; i < Obj.Count; i++)
                                                {
                               
                                            <tr>
                                                <td width="30%" align="left">
                                                    @Obj.ElementAt(i).StateName
                                                    <input name="pkStateId_@i" type="hidden" value="@Obj.ElementAt(i).pkStateId" />
                                                    <input name="fkProductId_@i" type="hidden" value="@Obj.ElementAt(i).fkProductId" />
                                                    <input name="pkStateFeeId_@i" type="hidden" value="@Obj.ElementAt(i).pkStateFeeId" />
                                                </td>
                                                <td width="30%" align="center" id="tdConsentForm" runat="server">
                                                    @if (Obj.ElementAt(i).IsConsent)
                                                    {
                                                        <input type="checkbox" name="chkConsentForm_@i" checked="checked" />
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="chkConsentForm_@i"  />
                                                    }
                                                </td>
                                                  <td width="40%" align="center" id="tdDisclaimer" runat="server">
                                                  <input type="text" name="DisclaimerData_@i" value="@Obj.ElementAt(i).DisclaimerData"  style="width: 400px" />
                                                  </td>
                                            </tr>
                                                }
                                            }
                                        }
                                    </table>
                                }
                            </td>
                        </tr>
                    </table>
                </center>
                <div class="clr">
                </div>
            </div>
            @*<div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>*@
        </div>
        <div class="clr">
        </div>
    </div>
    }
}
<script type="text/javascript">
    function getResult(result) {
        $("#dvMsg").html(result.Msg);
        $("#dvMsg").addClass(result.css);
    }
</script>
