﻿<div style="border-color: Black; border-width: 0px; border-style: solid; overflow-x: hidden;
    display: block; visibility: visible;" id="EmergeEditwindow">
    <table width="100%" border="0" style="height: 320px; display: block;" id="Table3">
        <tbody>
            <tr>
                <td align="left" style="height: 2px; display: none;">
                    <b><span class="text"><span id="lblEMHeader">
                        </span></span></b>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" cellpadding="2">
                        <tbody>
                            <tr>
                                <td align="left" colspan="2">
                                    Make a suggestion on how to improve this section of Emerge.
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    From:
                                </td>
                                <td align="left">
                                    <span id="lblFrom"></span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    To:
                                </td>
                                <td>
                                    <span id="lblTo"></span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Subject:
                                </td>
                                <td>
                                    <span id="lblEMSubject"></span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Suggestions:
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    &nbsp;
                                </td>
                                <td>
                                    <textarea style="height: 100px; width: 240px;" id="txtSuggestions" cols="20" rows="2"
                                        name="txtSuggestions"></textarea>&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" colspan="2" height="25px">
                                    <div style="margin-left: 80px">
                                        <span style="color: Red; display: none;" id="spnReqSugg">Please input
                                            your suggestions</span>
                                        <input type="hidden" id="EmailContent" />
                                        <input type="hidden" id="Company" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td align="right">
                                        <img  id="btnSuggestions" onclick="return SendEmail();" src="@Url.Content("~/Content/themes/base/images/email-send-icon.png")" alt="Send" title="Send" style="cursor:pointer" />
                                        <img id="imgSugLoader" src="@Url.Content("~/Content/themes/base/images/beginsearchbtn_clicked.gif")" alt="loader" style="display: none;" />
                                    @*<input type="submit" id="btnSendEMEditMail" value="Send" onclick="return SendEmail();" />*@
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" height="260px" style="display: none; font-size: 14px; vertical-align: top"
        id="EMEditMsgTable">
        <tbody>
            <tr bgcolor="#cccccc">
                <td align="left" width="365px" height="26px">
                    Message :
                </td>
            </tr>
            <tr>
                <td height="50px">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle">
                    <span style="display: inline-block; " id="lblEMEditMsg"></span>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input type="button" id="btnOk" onclick="CloseEMPopUp();"  value="OK" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function GetEmergeEditEmailTemplate(Header) {
        $.post('@Url.Action("GetEmergeEditEmailTemplate", "Common")', function (result) {
            clearMessage();
            $("#lblEMHeader").html(Header);
            $("#lblFrom").html(result.From);
            $("#lblTo").html(result.To);
            $("#lblEMSubject").html(Header);
            $("#Company").val(result.Cmp);
            $("#EmailContent").val(result.EContent);
            document.getElementById("EmergeEditwindow").style.visibility = "visible";
            var windowOpen = $("#EmergeEditwindow").kendoWindow({
                actions: ["Close"],
                draggable: true,
                height: "350px",
                modal: true,
                resizable: true,
                title: Header,
                width: "410px"
            }).data("kendoWindow");
            windowOpen.center();
            windowOpen.open();
            $("#imgSugLoader").css("display", "none");
            $("#btnSuggestions").css("display", "block");
            $(".k-widget").css("zoom", "1");
        });
    }

    function SendEmail() {
        var spnReqSugg = document.getElementById("spnReqSugg");
        var txtSuggestions = document.getElementById("txtSuggestions").value;
        if (txtSuggestions != '') {
            document.getElementById("imgSugLoader").style.display = 'block';
            document.getElementById("btnSuggestions").style.display = 'none';
            $.post('@Url.Action("SendEmail", "Common")', { Company: $("#Company").val(), MailFrom: $("#lblFrom").html(), Subject: $("#lblEMSubject").html(), EContent: $("#EmailContent").val(), Suggestion: $("#txtSuggestions").val() }, function (result) {

                $("#Table3").css('display', 'none');
                $("#EMEditMsgTable").css('display', 'block');
                $("#lblEMEditMsg").html(result.Msg);
                $("#lblEMEditMsg").addClass(result.Css);
            });
            spnReqSugg.style.display = "none";
            return true;
        }
        else {
            spnReqSugg.style.display = "block";
            return false;
        }
    }

    function CloseEMPopUp() {
        // alert("");
        //$("#EMEditMsgTable").hide();
        //$("#DivEM").hide();
        $("#EmergeEditwindow").data("kendoWindow").close();
        clearMessage();
        return false;
    }

    function clearMessage() {
        $("#Table3").css('display', 'block');
        $("#EMEditMsgTable").css('display', 'none');
        $("#spnReqSugg").css('display', 'none');
        $("#lblEMHeader").html('');
        $("#lblFrom").html('');
        $("#lblTo").html('');
        $("#lblEMSubject").html('');
        $("#Company").val('');
        $("#EmailContent").val('');
        $("#txtSuggestions").val('');
        $("#lblEMEditMsg").html('');
        $("#lblEMEditMsg").removeClass("successmsg");
        $("#lblEMEditMsg").removeClass("errormsg");
    }
</script>
