﻿<div style="border-color: Black; border-width: 0px; border-style: solid; overflow-x: hidden;
    display: block; visibility: hidden;" id="EmergeEditwindowLayout">
    <table width="100%" border="0" style="height: 320px; display: block;" id="Table3Layout">
        <tbody>
            <tr bgcolor="#cccccc">
                <td align="left" height="26px">
                    <b><span class="text"><span id="lblEMHeaderLayout">
                        </span></span></b>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" cellpadding="2">
                        <tbody>
                            <tr>
                                <td align="left" colspan="2" style="margin-top: 16px;">
                                    Make a suggestion on how to improve this section of Emerge.
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    From:
                                </td>
                                <td align="left">
                                    <span id="lblFromLayout"></span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    To:
                                </td>
                                <td>
                                    <span id="lblToLayout"></span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    Subject:
                                </td>
                                <td>
                                    <span id="lblEMSubjectLayout"></span>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    Suggestions:
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top">
                                    &nbsp;
                                </td>
                                <td>
                                    <textarea style="height: 100px; width: 240px;" id="txtSuggestionsLayout" cols="20" rows="2"
                                        name="txtSuggestionsLayout"></textarea>&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" colspan="2" height="25px">
                                    <div style="margin-left: 80px">
                                        <span style="color: Red; display: none;" id="spnReqSuggLayout">Please input
                                            your suggestions</span>
                                        <input type="hidden" id="EmailContentLayout" />
                                        <input type="hidden" id="CompanyLayout" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td align="right">
                                    <img  id="btnSuggestionsLayout" onclick="return SendEmailLayout();" src="@Url.Content("~/Content/themes/base/images/email-send-icon.png")" alt="Send" title="Send" style="cursor:pointer" />
                                    <img id="imgSugLoaderLayout" src="@Url.Content("~/Content/themes/base/images/beginsearchbtn_clicked.gif")" alt="loading" style="display: none;" />
                                    @*<input type="submit" id="btnSendEMEditMailLayout" value="Send" style="cursor:pointer;" onclick="return SendEmail()Layout;" />*@
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" height="260px" style="display: none; font-size: 14px; vertical-align: top"
        id="EMEditMsgTableLayout">
        <tbody>
            <tr bgcolor="#cccccc">
                <td align="left" width="365px" height="26px">
                    Message :
                </td>
            </tr>
            <tr>
                <td height="50px">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td align="center" valign="middle">
                    <span style="display: inline-block; height: 30px;" id="lblEMEditMsgLayout"></span>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input type="submit" id="btnOkLayout" onclick="CloseEMPopUpLayout();return false;"
                        value="OK" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    function GetEmergeEditEmailTemplateLayout(Header) {
        $.post('@Url.Action("GetEmergeEditEmailTemplate", "Common")', function (result) {
            clearMessageLayout();
            $("#lblEMHeaderLayout").html(Header);
            $("#lblFromLayout").html(result.From);
            $("#lblToLayout").html(result.To);
            $("#lblEMSubjectLayout").html(Header);
            $("#CompanyLayout").val(result.Cmp);
            $("#EmailContentLayout").val(result.EContent);
            document.getElementById("EmergeEditwindowLayout").style.visibility = "visible";
            var windowOpenLayout = $("#EmergeEditwindowLayout").kendoWindow({
                actions: ["Close"],
                draggable: true,
                height: "350px",
                modal: true,
                resizable: true,
                title: "Emerge Edit",
                width: "410px"
            }).data("kendoWindow");
            windowOpenLayout.center();
            windowOpenLayout.open();
        });


        $(".k-window-action").css("padding", "0px");
        $(".k-window-titlebar").css("height", "30px");
        $("#popupEmail").css("margin-top", "15px");
    }

    function SendEmailLayout() {
        var spnReqSuggLayout = document.getElementById("spnReqSuggLayout");
        var txtSuggestionsLayout = document.getElementById("txtSuggestionsLayout").value;
        if (txtSuggestionsLayout != '') {
            document.getElementById("imgSugLoaderLayout").style.display = 'block';
            document.getElementById("btnSuggestionsLayout").style.display = 'none';
            $.post('@Url.Action("SendEmail", "Common")', { Company: $("#CompanyLayout").val(), MailFrom: $("#lblFromLayout").html(), Subject: $("#lblEMSubjectLayout").html(), EContent: $("#EmailContentLayout").val(), Suggestion: $("#txtSuggestionsLayout").val() }, function (result) {

                $("#Table3Layout").css('display', 'none');
                $("#EMEditMsgTableLayout").css('display', 'block');
                $("#lblEMEditMsgLayout").html(result.Msg);
                $("#lblEMEditMsgLayout").addClass(result.Css);
            });
            spnReqSuggLayout.style.display = "none";
            return true;
        }
        else {
            spnReqSuggLayout.style.display = "block";
            return false;
        }
    }

    function CloseEMPopUpLayout() {
        $("#EmergeEditwindowLayout").data("kendoWindow").close();
        clearMessageLayout();
        return false;
    }

    function clearMessageLayout() {
        $("#Table3Layout").css('display', 'block');
        $("#EMEditMsgTableLayout").css('display', 'none');
        $("#spnReqSuggLayout").css('display', 'none');
        $("#lblEMHeaderLayout").html('');
        $("#lblFromLayout").html('');
        $("#lblToLayout").html('');
        $("#lblEMSubjectLayout").html('');
        $("#CompanyLayout").val('');
        $("#EmailContentLayout").val('');
        $("#txtSuggestionsLayout").val('');
        $("#lblEMEditMsgLayout").html('');
        $("#lblEMEditMsgLayout").removeClass("successmsg");
        $("#lblEMEditMsgLayout").removeClass("errormsg");
    }
</script>