﻿@model Emerge.Models.UsersModel
@using Emerge.Common;
@using (Html.BeginForm("SaveMyProfileDetailsById", "Corporate", FormMethod.Post, new { enctype = "multipart/form-data", id = "formAccount" }))
{
    // New Design
    <style>
        .scroll-div
        {
            margin-bottom: 30px;
        }
        .main-box
        {
            border: 1px solid #c1c1c1;
            width: 100% !important;
            margin-top: 15px;
            padding-bottom: 15px !important;
            margin-bottom: 0 !important;
        }
        .margin-bottom-20
        {
            margin-bottom: 20px !important;
        }
        input[type="password"]
        {
            height: 34px !important;
        }
        
        .successmsg
        {
            color: #fff !important;
        }
    </style>
    <div class="center-application fixed-margin margin-bottom-20">
        <div class="main-box" style="margin-top: 54px;">
            <div class="header">
                <table style="width: 100%">
                    <tr>
                        <td style="width: 40%; text-align: left;">
                            <i class="profile"></i><font color="white">My PROFILE</font>
                        </td>
                        <td style="width: 40%; text-align: left;">
                            <div id="divMSG" style='text-align: left; font-size: 12px; padding-bottom: 5px;'>@Html.HiddenFor(m => m.strResult)
                            </div>
                        </td>
                        <td style="width: 10%; text-align: center;">
                            @*<input type="button" value="Emerge Edit" id="EmergeEdits" onclick="EmergeEdit();" class="btn btn-default" data-toggle="modal" data-target="#myModal"/>*@
                        </td>
                        <td style="width: 10%; text-align: right; padding-right: 10px;">
                            @*<img id="img1" src="@Url.Content("~/Content/themes/base/Images/EMEditWhell.png")" style="border: none;
                                   cursor: pointer;" onmouseover="showEMBox('Emerge Edit | My Profile')" onmouseout="exit()"
                            alt="" onclick="GetEmergeEditEmailTemplate('Emerge Edit | My Profile');" />*@
                            <button type="submit" id="Saveprofile" onclick=" return CheckValidations();" class="btn btn-default saveprofile"
                                style="margin-top: -8px;" data-toggle="modal" data-target="#myModal">
                                Save
                            </button>
                            @*<button type="submit" id="img1" onmouseover="showEMBox('Emerge Edit | My Profile')" onmouseout="exit()" onclick="GetEmergeEditEmailTemplate('Emerge Edit | My Profile');" class="btn btn-default" data-toggle="modal" data-target="#myModal">Edit </button>*@
                        </td>
                    </tr>
                </table>
                <div class="clear-sm">
                </div>
            </div>
            <div class="clearfix">
            </div>
            <div class="pull-left" style="width: 270px;">
                <div class="image-area">
                    @Html.HiddenFor(m => m.OldUserImage)
                    <img src="@Model.ViewImage" alt="User Image" title="User Image" width="100%" height="150px" />
                </div>
                <div style="overflow: hidden; margin-left: 38px; border: 1px solid #ccc; width: 200px;
                    padding: 5px; margin-top: 10px;">@Html.TextBoxFor(m => m.UserImage, new { type = "file" })</div>
            </div>
            <div class="width38">
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">
                        <span class="star">*</span><span style="font-size: 14px;">First Name :</span></label>
                    <div class="col-md-6">
                        <input id="FirstName" name="FirstName" type="text" value="@Model.FirstName" placeholder=" " class="form-control">
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">
                        <span class="star">*</span><span style="font-size: 14px;">Last Name :</span></label>
                    <div class="col-md-6">
                        <input id="LastName" name="LastName" type="text" value="@Model.LastName" placeholder=" " class="form-control">
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">
                        <span class="star">*</span><span style="font-size: 14px;">State : </span>
                    </label>
                    <div class="col-md-6">
                        @Html.HiddenFor(m => m.fkStateId, new { id = "hdfkStateId" })
                        <select id="fkStateId" name="fkStateId" onchange="bindcounty();" value="@Model.fkStateId" class="form-control" validationmessage="Please select State">
                        </select>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="form-group" style="display: none;">
                    <label class="col-md-4 control-label help-col-md4" for="name">
                        <span style="font-size: 14px;">County :</span></label>
                    <div class="col-md-6">
                        <select id="fkCountyId" class="form-control" value="@Model.fkCountyId" name="fkCountyId">
                        </select>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">
                        <span style="font-size: 14px;">Taleo User Key :</span></label>
                    <div class="col-md-6">
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 100%">
                                    <input id=" taleoapikey" name="TaleoApiKey" type="text" disabled="disabled" value="@Model.TaleoApiKey" placeholder=" " class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 10px">
                                    <button type="button" id="btnLinkedInJoinIntelifi1" title="Genrate Taleo Access Key"
                                        onclick="TaleoWebApiKeyGenrate()" class="btn btn-primary">
                                        Regenerate</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="width38 pull-right">
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">
                        <span style="font-size: 14px;">Address 1 :</span></label>
                    <div class="col-md-6">
                        <input id="UserAddressLine1" name="UserAddressLine1" type="text" value="@Model.UserAddressLine1" placeholder=" " class="form-control">
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">
                        <span style="font-size: 14px;">Address 2 :</span></label>
                    <div class="col-md-6">
                        <input id="UserAddressLine2" name="UserAddressLine2" type="text" value="@Model.UserAddressLine2" placeholder=" " class="form-control">
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">
                        <span style="font-size: 14px;">Zipcode :</span></label>
                    <div class="col-md-6">
                        <input id="ZipCode" name="ZipCode" type="text" value="@Model.ZipCode" placeholder=" " class="form-control">
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">
                        <span style="font-size: 14px;">Phone Number :</span></label>
                    <div class="col-md-6">
                        <input id="PhoneNo" name="PhoneNo" type="text" value="@Model.PhoneNo" placeholder=" " class="form-control" pattern="((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}" validationmessage="Please enter valid Phone No" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);"/>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
        <div class="main-box">
            <div class="header">
                <i class="account"></i><font color="white">Account Details</font>
            </div>
            <div class="clearfix">
            </div>
            <div style="width: 50%;">
                <div class="form-group">
                    @Html.HiddenFor(m => m.OldUserEmail)@Html.HiddenFor(m => m.pkCompanyUserId)
                    <label class="col-md-3 control-label help-col-md4" for="name">
                        <span class="star">*</span><span style="font-size: 14px;">E-Mail :</span></label>
                    <div class="col-md-9">
                        <input id="UserEmail" name="UserEmail" value="@Model.UserEmail" type="text" placeholder=" " class="form-control col-md-6">
                        <div style="line-height: 30px; margin-left: 3px;" class="col-md-6">
                            Valid e-mail address required.</div>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label help-col-md4" for="name">
                        <span class="star">*</span><span style="font-size: 14px;">Password :</span></label>
                    <div class="col-md-6">
                        @Html.HiddenFor(m => m.fkUserId)
                        @Html.HiddenFor(m => m.OldUserPassword)
                        <input id="UserPassword" onmouseout="CheckPasswordLength();" name="UserPassword" value="@Model.UserPassword" type="password" placeholder=" " class="form-control" required pattern="^\S{1}(?:.){4,}\S$" validationmessage="Password length must be greater than 6.">
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label help-col-md4" for="name">
                        <span class="star">*</span><span style="font-size: 14px;">Retype Password :</span></label>
                    <div class="col-md-6">
                        <input id="RetypeUserPassword" onmouseout="matchpassword();" value="@Model.RetypeUserPassword" name="RetypeUserPassword" type="password" placeholder=" " class="form-control" required pattern="^\S{1}(?:.){4,}\S$" validationmessage="Password length must be greater than 6.">
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
            <span class="note-btm" style="margin-left: 2%; font-size: 14px;"><strong>Note</strong>:
                You have the option to change your e-mail. If you change your e-mail you will be
                logged off and will need to log back in with new e-mail.
                <div class="clearfix">
                </div>
            </span>
            <div class="clearfix">
            </div>
        </div>
        <div class="main-box">
            <div class="header">
                <i class="location"></i><font color="white">Location</font>
            </div>
            <div class="clearfix">
            </div>
            <div class="width38">
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">
                        <span style="font-size: 14px; padding-right: 13px;">Company :</span></label>
                    <div class="col-md-6" style="width: 315px; margin-left: -9px;">
                        @Html.HiddenFor(m => m.PkCompanyId, new { id = "hdPkCompanyId", })
                        @Html.DropDownListFor(m => m.PkCompanyId, Model.ListCompany_Id, new { @class = "form-control", @disabled = "disabled", @name = "PkCompanyId", @validationmessage = "Please select Company", @required = "", @onchange = "bindlocation()" })
                        @*<script type="text/javascript"> Binddropdown(); function Binddropdown() { $("#PkCompanyId").kendoDropDownList({}); var PkCompanyId = $("#hdPkCompanyId").val(); if (PkCompanyId != 0) { var ddlCompany = $("#PkCompanyId").data("kendoDropDownList"); ddlCompany.value(PkCompanyId); } }</script>*@
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="width38 pull-left" style="margin-left: 180px;">
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">
                        <span style="font-size: 14px;">Location :</span></label>
                    <div class="col-md-6" style="width: 315px;">
                        @Html.HiddenFor(m => m.fkLocationId, new { id = "hdfkLocationId" })
                        <select id="fkLocationId" disabled="disabled" value="@Model.fkLocationId" name="fkLocationId" class="form-control" style="width: 100%;">
                        </select>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
        <div class="main-box">
            <div class="header">
                <i class="restriction"></i><font color="white">Restrictions</font>
            </div>
            <div class="clearfix">
            </div>
            <div class="width38">
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">
                        <span style="font-size: 14px;">Status :</span></label>
                    <div class="col-md-6" style="width: 315px;">
                        @Html.HiddenFor(m => m.RoleId, new { id = "hdRoleId" })
                        <select id="RoleId" name="RoleId" value="@Model.RoleId" disabled="disabled" class="form-control">
                        </select>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <div id="DivEM" style="display: none">
        @{Html.RenderPartial("../Common/PartialEmergeEdit");}
    </div>
}
<script type="text/javascript" src="~/Design2/js/jquery.js"></script>
<script type="text/javascript" src="~/Design2/js/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="~/Design2/jquery/jquery-select-menu.js"></script>
<script type="text/javascript" src="~/Design2/jquery/Selectyze.jquery.js"></script>
<link href="@Url.Content("~/Design2/Css/main-bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design2/Css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design2/Css/Selectyze.jquery.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Design2/Js/bootstrap-dropdown.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Design2/Js/bootstrap-min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Design2/Js/a-doc.js")" type="text/javascript"></script>
<script src="~/Design2/js/css_browser_selector.js" type="text/javascript"></script>
<link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
<link href="@Url.Content(CommonPaths.ContentPath + "CompressedCombined(Admin).css?v=2")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Json2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=19")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-online-1.6.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet" type="text/css" />
<link href="//assets.zendesk.com/external/zenbox/v2.6/zenbox.css" rel="stylesheet"
    type="text/css" />
<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<script type="text/javascript">

    function CheckValidations() {
        var fname = $("#FirstName").val();
        var State = $("#fkStateId").val();
        var Lname = $("#LastName").val();
        var pwd = $("#UserPassword").val();
        CheckPasswordLength();
        var RetypeUserPassword = $("#RetypeUserPassword").val();

        if (fname == "" || Lname == "" || State == "" || pwd == "" || RetypeUserPassword == "") {
            alert("Please fill the required fields");
            return false;
        }
        else if ($('#UserPassword').val() != $('#RetypeUserPassword').val()) {
            alert("Password do not match.");
            return false;
        }
        else {
            return true;
        }
    }
    function matchpassword() {
        if ($('#UserPassword').val() != $('#RetypeUserPassword').val()) {
            alert("Password do not match.");
        }

    }
    function CheckPasswordLength() {
        var UserPassword = $("#UserPassword").val();
        if (UserPassword.length < 6) {
            alert("Password Length should be greater than 6");
            return false;
        }
    }

    function ValidatePhone() {
        var PhoneNo = $("#PhoneNo").val();
        if (PhoneNo.length < 14) {
            alert("Please enter phone number in correct format  (xxx) xxx-xxxx) ");
            return false;
        }
    }
    // GetResult();

    function GetResult() {

        var divMSG = document.getElementById('divMSG');
        var strResult = document.getElementById('strResult');

        if (strResult != 'null' || strResult.value != '') {
            divMSG.style.display = "block";
            divMSG.innerHTML = strResult.value;
        }
    }

    bindStateDropdownList();
    //$(document).ready(function () {
    function bindStateDropdownList(){

        //bind State values in dropdownlist
        $.ajax({
            type: "post",
            url: '@Url.Action("BindStateKendo", "Corporate")',
            data: {},
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data, function (key, value) {
                    $('#fkStateId').append($("<option></option>").val(value.pkStateId).html(value.StateName));
                });
                selecstate();
            },
            error: function (err) {
            }
        });

        function selecstate() {
            var stateid = $("#hdfkStateId").val();
            $('select[id^="fkStateId"] option[value="' + stateid + '"]').attr("selected", "selected");
        }


        var stateid = $("#hdfkStateId").val();
        $.ajax({
            type: "post",
            data: { 'StateId': stateid },
            url: '@Url.Action("GetCountiesByStateId", "Corporate")',
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    $('#fkCountyId').append($("<option></option>").val(value.pkCountyId).html(value.CountyName));
                });
            },
            error: function (err) {

                console.log(err);
            }

        });

        //Location State values in dropdownlist
        var Pkcompanyid = $("#hdPkCompanyId").val(); // document.getElementById('PkCompanyId');
        $("#fkCountyId").css("display", "block");
        $.ajax({
            type: "post",
            data: { 'Companyid': Pkcompanyid },
            url: '@Url.Action("BindLocationsByCompanyId", "Corporate")',
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    $('#fkLocationId').append($("<option></option>").val(value.pkLocationId).html(value.City));
                });
                var locationid = $("#hdfkLocationId").val();
                $('select[id^="fkLocationId"] option[value="' + locationid + '"]').attr("selected", "selected");
            },
            error: function (err) {
            }

        });


        //roles State values in dropdownlist
        $.ajax({
            type: "post",
            data: {},
            url: '@Url.Action("BindStatusKendo", "Corporate")',
            dataType: "json",

            success: function (data) {
                $.each(data, function (key, value) {
                    $('#RoleId').append($("<option></option>").val(value.RoleId).html(value.Description));
                });
                var roleid = $("#hdRoleId").val();
                $('select[id^="RoleId"] option[value="' + roleid + '"]').attr("selected", "selected");
            },
            error: function (err) {
            }

        });



    }
    //});



    function bindcounty() {
        $('#fkCountyId').empty();

        var fkStateId = $('#fkStateId option:selected').val();
        $('#hdfkStateId').val(fkStateId);
        $.ajax({
            type: "post",
            data: { 'StateId': fkStateId },
            url: '@Url.Action("GetCountiesByStateId", "Corporate")',
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    $('#fkCountyId').append($("<option></option>").val(value.pkCountyId).html(value.CountyName));
                });
            },
            error: function (err) {

                console.log(err);
            }

        });
    }



    function bindroles() {
        $('#RoleId').empty();
        $.ajax({
            type: "post",
            data: {},
            url: '@Url.Action("BindStatusKendo", "Corporate")',
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    $('#RoleId').append($("<option></option>").val(value.RoleId).html(value.Description));
                });
            },
            error: function (err) {

                console.log(err);
            }

        });
    }

    function bindlocation() {

        $('#fkLocationId').empty();
        var Pkcompanyid = $("#PkCompanyId").val(); // document.getElementById('PkCompanyId');
        $("#fkCountyId").css("display", "block");
        $.ajax({
            type: "post",
            data: { 'Companyid': Pkcompanyid },
            url: '@Url.Action("BindLocationsByCompanyId", "Corporate")',
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    $('#fkLocationId').append($("<option></option>").val(value.pkLocationId).html(value.City));
                });
            },
            error: function (err) {

                console.log(err);
            }

        });
    }


    function TaleoWebApiKeyGenrate() {

        var UserEmail = $("#UserEmail").val();
        $.post('@Url.Action("TaleoWebApiKeyGenrate", "Corporate")', { UserEmail: UserEmail }, function (data) {
            if (data.Fname != null) {


            }
        })

    }

</script>
