<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js")" type="text/javascript"></script>
@model Emerge.Models.NewReportModel


<table id="tblDrugTestingList" cellpadding="2" width="100%" cellspacing="0" style=" padding:5px; border-left: 0px solid #cdc3b7;
    border-right: 0px solid #cdc3b7; border-bottom: 0px solid #cdc3b7;">
    <tr style="background:#f1f1f1 none repeat scroll 0 0; border-bottom:6px solid #fff; border-top:4px solid #fff; line-height:27px;">
        <th scope="col">
            &nbsp;
        </th>
        <th align="left" valign="top" style="width: 50%; color: rgb(102, 102, 102); font-family: segoeui;" scope="col">
            Name
        </th>
        <th align="left" valign="top" style="width: 50%; color: rgb(102, 102, 102); font-family: segoeui;" scope="col">
            Price
        </th>
        <th align="left" valign="top" style="width: 50%; color: rgb(102, 102, 102); font-family: segoeui;" scope="col">
            Qty
        </th>
        <th scope="col">
            &nbsp;
        </th>
    </tr>
    @for (int i = 0; i < Model.DrugTestingList.Count; i++)
    {
        string ProductImagePath = Server.MapPath("~/Resources/Upload/Images/ProductImages/" + Model.DrugTestingList.ElementAt(i).ProductImage);
        <tr style="width: 100%">
            <td align="center" valign="middle" style="width: auto; vertical-align:top;">
                @if (System.IO.File.Exists(ProductImagePath))
                {
                    string ImageUrl = Emerge.Common.ApplicationPath.GetApplicationPath() + "Resources/Upload/Images/ProductImages/" + Model.DrugTestingList.ElementAt(i).ProductImage;



                    //System.Drawing.Image ImgProduct = System.Drawing.Image.FromFile(ProductImagePath);
                    //int ImgWidth = 0, ImgHeight = 0; if (ImgProduct != null) { ImgWidth = ImgProduct.Width;
                    //ImgHeight = ImgProduct.Height; } ImgWidth = (ImgWidth > 250) ? 250 : ImgWidth;
                    //ImgHeight = (ImgHeight > 250) ? 250 : ImgHeight;
                    //string sImg = "<img src='" + ImageUrl + "'width='" + ImgWidth + "px' height='" + ImgHeight + "px' />"; sImg = sImg.Replace("'","\\'");


                    string sImg = "<img src='" + ImageUrl + "'width='" + "'250'" + "px' height='" + "'250'" + "px' />"; 
                    sImg = sImg.Replace("'", "\\'");






                    <img style="height: 30px; width: 30px; border-width: 0px; cursor: pointer; border: 1px solid #999;"
                         alt="" src="../Resources/Upload/Images/ProductImages/@Model.DrugTestingList.ElementAt(i).ProductImage" id="imgDrugTesting-@i" onmouseout="exit();" onmouseover="ShowImagesInToolTip('@sImg');" />
                }
                else
                {
                    <img style="height: 30px; width: 30px; border-width: 0px; cursor: pointer; border: 1px solid black;" alt="No image" src="@Url.Content("~/Content/themes/base/images/no_image.jpg")"
                         title="No image available for this product." id="imgDrugTesting-@i" />

                }
            </td>
            <td align="left" valign="top" style="float: left; width: 80%;">
                <span class="DrugTestLabels" id="lblProductDisplayName-@i" style="font-family: segoeui; display: block; font-size: 11px; padding-left: 3px; line-height: 11px !important; word-wrap: break-word; ">
                    @if (@Model.DrugTestingList.ElementAt(i).ProductDisplayName.Length > 31)
                    {
                        @Model.DrugTestingList.ElementAt(i).ProductDisplayName.Substring(0, 31)
                    }
                    else
                    {
                        @Model.DrugTestingList.ElementAt(i).ProductDisplayName
                    }
                </span>
                <span class="DrugTestLabels" id="lblProductAppId-@i" style="display:none;">@Model.DrugTestingList.ElementAt(i).pkProductApplicationId</span>
                <span class="DrugTestLabels" id="lblProductCode-@i" style="display:none;">@Model.DrugTestingList.ElementAt(i).ProductCode</span>
            </td>
            @*<td align="center" valign="top" style="float: left; width: 5%;">
                    <img style="height: 16px; width: 16px; border-width: 0px; cursor: pointer;" alt="Description"
                        src="@Url.Content("~/Content/themes/base/images/drugtesting4help.png")" onmouseout="exit();" onmouseover="tooltip('@Model.DrugTestingList.ElementAt(i).LongDescription.Trim().Replace("'", "\\'")', 'DRUG TESTING KIT');" id="ImgDescription-@i" />
                </td>*@
            <td align="left" valign="top" style="width: 10%; padding-left: 5px !important; padding-right: 4px; font-size:11px;">
                $<span class="DrugTestLabels" id="lblPrice-@i">@Model.DrugTestingList.ElementAt(i).CompanyPrice</span><br />
                <img style="height: 16px; width: 16px; border-width: 0px; cursor: pointer;" alt="Description"
                     src="@Url.Content("~/Content/themes/base/images/drugtesting4help.png")" onmouseout="exit();" onmouseover="tooltip('@Model.DrugTestingList.ElementAt(i).LongDescription.Trim().Replace("'", "\\'")', 'DRUG TESTING KIT');" id="ImgDescription-@i" />
            </td>
            <td align="right" valign="top" style=" width: 81%;">
                @if (@Model.DrugTestingList.ElementAt(i).DrugTestQty != null)
                {
                    string sDrugTestQty = Model.DrugTestingList.ElementAt(i).DrugTestQty;
                    string[] arrdelim = { "," };
                    string[] arrSplit = sDrugTestQty.Split(arrdelim, StringSplitOptions.RemoveEmptyEntries);
                    <select style="width:50px; border: 1px solid rgb(204, 204, 204); border-radius: 2px; font-size:11px;" id="ddlQty-@i">
                        @for (int iRow = 0; iRow < arrSplit.Count(); iRow++)
                        {
                            <option value="@arrSplit[iRow]">@arrSplit[iRow]</option>
                        }
                    </select>
                }
                else
                {
                    <select style="width: 50px;" id="ddlQty-@i"></select>
                }
                <br />
                <span style="display: none;" id="lblRow-@i">@i</span>
                <input type="image" style="border-width: 0px; margin: 5px 0px 2px !important; width: 53px; height: 13px;" alt="Order Now" src="@Url.Content("~/Content/themes/base/images/orderbutton.png")" title="Order Now" id="btnDrugTestOrder-@i" onclick="return ordernowbtnsettings(this.id);" />
                <img style="height: 22px; width: 22px; border-width: 0px; display: none;" alt="Processing"
                     src="@Url.Content("~/Content/themes/base/images/beginsearchbtn_clicked.gif")" title="Processing" id="ImgProcess-@i" />
            </td>
            <td align="center" valign="top" style="width: 10%;">
                @*<span style="display: none;" id="lblRow-@i">@i</span>
                    <input type="image" style="border-width: 0px; padding-left: 3px; width: 53px; height: 13px;" alt="Order Now" src="@Url.Content("~/Content/themes/base/images/orderbutton.png")" title="Order Now" id="btnDrugTestOrder-@i" onclick="return ordernowbtnsettings(this.id);" />
                    <img style="height: 22px; width: 22px; border-width: 0px; display: none;" alt="Processing"
                        src="@Url.Content("~/Content/themes/base/images/beginsearchbtn_clicked.gif")" title="Processing" id="ImgProcess-@i" />*@
            </td>
        </tr>
        <tr style="height:10px;">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    }
    <tr style="height: 25px;">
        <td colspan="6">
            <span class="DrugTestNote">NOTE: For all other custom orders, please contact Support</span>
        </td>
    </tr>

</table>


<script type="text/javascript">


    //    $("#drugpopupwindow").kendoWindow({ modal: true, height: "330px" });
    //    $("#drugpopupwindow").data("kendoWindow").close();

    function ordernowbtnsettings(val) {

        $("#drugpopupwindow").kendoWindow({ modal: true, height: "auto" });
        $("#drugpopupwindow").data("kendoWindow").close();
        var commonid = val.split('-')[1];
        var qty = $("#ddlQty-" + commonid).val();
        var productname = $("#lblProductDisplayName-" + commonid).html();
        var unitprice = $("#lblPrice-" + commonid).html();
        var productappid = $("#lblProductAppId-" + commonid).html();
        var productcode = $("#lblProductCode-" + commonid).html();
        $("#spnproductname").html(productname);
        $("#spnqty").html(qty);
        $("#spnProductAppId").html(productappid);
        $("#spnProductCode").html(productcode);
        $("#spnunitprice").html(unitprice);
        totalprice = parseFloat(unitprice * qty);
        $("#spntotalprice").html("$" + totalprice.toFixed(2));
        document.getElementById(val).style.display = 'none';
        val = val.replace('btnDrugTestOrder', 'ImgProcess');
        document.getElementById(val).style.display = '';
        $("#divdrug").html("");
        $("#tbldrug").css("display", "block");
        //$("#divdrug").css("height", "0px");
        $("#btnSubmiDrugTestOrder").css("display", "block");
        $("#drugpopupwindow").data("kendoWindow").center();
        $("#drugpopupwindow").data("kendoWindow").open();
        $("#drugpopupwindow").data("kendoWindow").title("Review Your Order");
        document.getElementById(val).style.display = 'none';
        val = val.replace('ImgProcess', 'btnDrugTestOrder');
        document.getElementById(val).style.display = '';
        SetShipToAddressDetails();
        $("#ShiptoAddress").addClass("ShiptoAddress");
        return false;
    }

    //To Set Default Location address of the selected company.
    //This functionality is used for Ship to address.

    function SetShipToAddressDetails() {
        $.post('@Url.Action("GetShipToAddress", "CommonNewReport")', { pkLocationId: $("#hdnpkLocationId").val(), pkCompanyUserId: $("#hdnpkCompanyUserId").val() }, function (result) {

            $("#txtCompanyName").val(result.ShipAddress.CompanyName);
            $("#txtAddress1").val(result.ShipAddress.Address1);
            $("#txtAddress2").val(result.ShipAddress.Address2);
            $("#txtStateCode").val(result.ShipAddress.StateCode);
            $("#txtCity").val(result.ShipAddress.City);
            $("#txtZipCode").val(result.ShipAddress.ZipCode);
        });
    }

    function PlaceDrugTestOrder(val) {
        var ShipToAddress = $("#txtCompanyName").val() + "_" + $("#txtAddress1").val() + "_" + $("#txtAddress2").val() + "_" + $("#txtStateCode").val() + "_" + $("#txtCity").val() + "_" + $("#txtZipCode").val();
        document.getElementById(val).style.display = 'none';
        val = val.replace('btnSubmiDrugTestOrder', 'ImgProcessOrder');
        document.getElementById(val).style.display = '';
        $.post('@Url.Action("SendMailForProductOrdered", "CommonNewReport")', { productcode: $("#spnProductCode").html(), productname: $("#spnproductname").html(), productAppid: $("#spnProductAppId").html(), qty: $("#spnqty").html(), unitprice: $("#spnunitprice").html(), pkCompanyUserId: $("#hdnpkCompanyUserId").val(), pkLocationId: $("#hdnpkLocationId").val(), shipToAddress: ShipToAddress }, function (result) {
            document.getElementById(val).style.display = 'none';
            $("#divdrug").html(result.Msg);
        });
        return false;
    }





</script>
