﻿@model Emerge.Models.LoginModel
<div id="dvPopupContainer" style="margin-left: 300px;display:none;">
    <div id="frgetPopUp">
        @using (Ajax.BeginForm("../Common/ForgetPassword", "", new AjaxOptions { OnSuccess = "ForgetPwdResult" }, new { id = "frmForgetPwd" }))
        {
            <div id="divmPop" runat="server" style="border-color: Black; border-width: 1px; border-style: solid;
                overflow:visible; width: 500px;height:167px;">
                <table class="ModalPopupTable" width="100%" cellpadding="0" cellspacing="0" border="0" style="height:167px;">
                    @*<tr>
                        <td class="forget_Header" colspan="3" align="center">
                            Password Recovery
                        </td>
                    </tr>*@
                    <tr>
                        <td colspan="3" align="center">
                            <div id="dvMsgForgtPass">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td class="forget_Text" align="center">
                            Please enter your email address to recover your password
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table width="100%">
                                <tr>
                                    <td width="37%" class="style1" align="right">
                                        Email Address :
                                    </td>
                                    <td align="left" class="style2">
                                        @Html.TextBoxFor(x => x.Email)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td align="left">
                                        @Html.ValidationMessageFor(x => x.Email)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td align="left">
                                        <table>
                                            <tr>
                                                <td align="left">
                                                    <table class="RoundRedButton" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="btnLeft">
                                                                    &nbsp;
                                                                </td>
                                                                <td class="btnCenter">
                                                                    <input style="background-color: transparent;" value="Submit" type="submit">
                                                                </td>
                                                                <td class="btnRight">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td align="left">
                                                    <table class="RoundRedButton" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="btnLeft">
                                                                    &nbsp;
                                                                </td>
                                                                <td class="btnCenter">
                                                                    <input style="background-color: transparent;" value="Cancel" type="submit" onclick="cancel();">
                                                                </td>
                                                                <td class="btnRight">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            }
    </div>
</div>


<script type="text/javascript">
   function ForgetPwdResult(result) {
        $("#dvMsgForgtPass").html(result.Msg);
        $("#dvMsgForgtPass").addClass(result.css);
    }
    </script>