﻿@model Emerge.Models.SystemNotificationModel

@if (Model.SystemNotificationStatus == true)
{
    <div style="border: 0px solid rgb(214, 214, 214); float: left; line-height: 13px; text-align: justify; width: 65%; font-size: 10px !important; height: 53px; overflow: hidden;">
        <b> @Model.SystemNotificationTitle</b>&nbsp;&nbsp;@Model.SystemNotificationContent</div>
}
else
{


}
