﻿@*@using (Ajax.BeginForm("../Corporate/SendEmail", "", new AjaxOptions { OnSuccess = "ClosePopUp" }, new { id = "myAjaxform1" }))
{*@

<style>
.SubmittBtn
    {
        background-image: url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "BtnSubmittImg.jpg")');
        height:23px;
        width:66px;
    }

</style>
    <div id="ResultMsg">
    </div>
<table width="100%" border="0" style="display:none;"> @*display none because it show this content on IE 11 but it doesn't show on crome and mozilla*@
   @* <tr bgcolor="#cccccc">
        <td align="left" height="26px" colspan="3">
            <b><span id="lblPopHeader" class="text"></span></b>
        </td>
    </tr>*@
    <tr>
        <td>
            &nbsp;
        </td>
        <td>
            <table width="100%" cellpadding="2">
                <tr>
                    <td align="left">
                        From:
                    </td>
                    <td align="left">
                        <input type="text" id="MailFrom" style="background-color: transparent; border-width: 0px;" />
                        <input type="hidden" id="Company" /> <input type="hidden" id="hdTitle" />
                        <input type="hidden" id="EmailContent" />
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        To:
                    </td>
                    <td>
                        <input type="text" id="Mailto" style="background-color: transparent; border-width: 0px;" />
                    </td>
                </tr>
                <tr>
                    <td align="left">
                        Subject:
                    </td>
                    <td>
                        <input type="text" id="Subject" style="background-color: transparent; border-width: 0px;" />
                    </td>
                </tr>
                <tr>
                    <td valign="top" align="left">
                        Message:
                    </td>
                    <td>
                        <textarea id="txtMessage" style="width: 230px; height: 80px;" rows="3" cols="15"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td align="left" style="height:25px">
                        <input type="submit" value=" " onclick="SendEmailForProductPackage();" class="SubmittBtn"/>
                        &nbsp;
                        <input type="button" value="Cancel" onclick="return ClosePopUp();" />
                    </td>
                </tr>
            </table>
        </td>
        <td>
            &nbsp;
        </td>
    </tr>
</table>
@*}*@
<script type="text/javascript">
    function GetEmailTemplate(PDisplayName) {
        $.post('@Url.Action("GetEmailTemplate", "Corporate")', { ReportName: PDisplayName }, function (result) {
            clearMessage();
            $("#ActiveReportwindow").data("kendoWindow").open();
            $("#ActiveReportwindow").data("kendoWindow").center();
            $("#ActiveReportwindow").data("kendoWindow").title(result.Header);
            $("#hdTitle").val(result.Header); 
            $("#MailFrom").val(result.From);
            $("#Mailto").val(result.To);
            $("#Subject").val(result.Subj);
            $("#txtMessage").val(result.Msg);
            $("#Company").val(result.Cmp);
            $("#EmailContent").val(result.EContent);
            //$("#From").val(result.From);
        });
    }

    function SendEmailForProductPackage() {
        $.post('@Url.Action("SendEmail", "Corporate")', { Company: $("#Company").val(), MailFrom: $("#MailFrom").val(), ReportName: $("#hdTitle").val(), Subject: $("#Subject").val(), EContent: $("#EmailContent").val() }, function (result) {
            $("#ResultMsg").html(result.Msg);
            $("#ResultMsg").addClass(result.Css);
        });
    }

    function ClosePopUp() {
        $("#ActiveReportwindow").data("kendoWindow").close();
        return false;
    }
    function clearMessage()
    {
        $("#ResultMsg").html('');
        $("#ResultMsg").removeClass("successmsg");
        $("#ResultMsg").removeClass("errormsg");
    }
</script>
