﻿@model Emerge.Models.NewReportModel
<div id="divRNGPopUp" style="display:none">
   
        <div style="height: 330px; overflow-x: hidden; overflow-y: auto;">
            <table width="100%">
                <tr>
                    <td align="center">@Html.HiddenFor(m => m.SystemNotificationStatus)@Html.HiddenFor(m => m.SystemNotification)@Html.HiddenFor(m => m.ReportNotGeneratingProfile)
                    <div id="divContent"></div>
                
                    </td>
                </tr>
            </table>
        </div>
        <div align="right" style="padding-top: 7px;">
            <input id="btnAcknowledgedrng" type="button" onclick="UpdateProfile();" title="Acknowledged" style="cursor: pointer;"
                value="Acknowledged" />
        </div>   
  
</div>

<script type="text/javascript">
    GetSystemNotification();

    function GetSystemNotification() {


        if (($('#SystemNotificationStatus').val().toLowerCase() == 'true') && ($('#ReportNotGeneratingProfile').val() != '')) {
         
            document.getElementById("divRNGPopUp").style.visibility = "visible";
            document.getElementById("divRNGPopUp").style.display = "block";

            $("#divRNGPopUp").show();

            $("#divContent").html($('#SystemNotification').val());


            var windowReport = $("#divRNGPopUp").kendoWindow({
                actions: ["Close"],
                title: "System Notification",
                modal: true,
                scrollable: false,
                height: "390px",
                width: "690px",
                close: onClose
            }).data("kendoWindow");


            windowReport.center();
            windowReport.open();
           
        }
        else {
           

            document.getElementById("divRNGPopUp").style.visibility = "hidden";
            document.getElementById("divRNGPopUp").style.display = "none";
        }
    }

    function UpdateProfile() {
      
        $("#btnAcknowledgedrng").closest(".k-window-content").data("kendoWindow").close();


        $.post('@Url.Action("UpdateProfileWithReportNotGenerating", "Corporate")', {}, function (Result) {
            self.location = 'NewReport';
         }
        );
    }

    function onClose(e) {
        self.location = 'NewReport';
    }
</script>
