﻿@model Emerge.Models.FeatureModel
<div id="DivNewFeature" style="display: none; width: 900px; height: 500px; visibility: hidden;">
@{Html.RenderAction("LoadFeature", "Common", new { CurrentFeature = 1});}
@*<script type="text/x-kendo-tmpl" id="template">
    <table >
        <tr>
            <td>
                #=Title#
            </td>
            <td align="right">
                #=TotalRec#
            </td>
        </tr>
        <tr>
            <td align="left" height="275px" width="375" valign="top">
                #=Description#
            </td>
            <td height="275px" valign="top">
                <div>
                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                            width="435" height="270">
                            <param name="movie" value="../Resources/Upload/FeatureFiles/#=UploadedFile#" />
                            <param name="quality" value="high" />
                            <param name="play" value="false" />
                            <param name="loop" value="false" />
                            <embed src="../Resources/Upload/FeatureFiles/#=UploadedFile#" width="435"
                                height="270" play="false" loop="false" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
                                type="application/x-shockwave-flash"></embed>
                        </object>
                </div>
            </td>
        </tr>
        <tr>
            <td align="right">
                Powered By
            </td>
            <td>
                <img alt="Emerge" src="../Content/themes/base/Images/emerge_disclaimer.png" />
            </td>
        </tr>
        <tr>
            <td align="right">
                <img alt="" src="../Content/themes/base/Images/prev_newbtn_off.png" onclick="previous()" />
            </td>
            <td>
                <img alt="" src="../Content/themes/base/Images/next_newbtn_off.png" onclick="next()" />
            </td>
        </tr>
    </table>
</script>
<div id="NewFeaturepopup"></div>
</div>*@

<div style="display: none;">
    <div id="divEnlarge" style="height: 480px; width: 840px;">
        <table>
            <tr>
                <td style="width: 830px;">
                    <div style="border: #dadada 0px solid; margin: 0; padding: 0; width: 825px; text-align: center;"
                        id="divImgVidFile">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    document.getElementById("DivNewFeature").style.visibility = "visible";
    document.getElementById("DivNewFeature").style.display = "block";
    var windowOpen = $("#DivNewFeature").kendoWindow({
        draggable: false,
        modal: true,
        resizable: false,
        title: "New Feature",
        height: "500px",
        width: "904px"
    }).data("kendoWindow");
    windowOpen.center();
    windowOpen.open();

    function previous() {
        alert("abc");
    }

    function next() {
        alert("pqr");
    }
//    var dataSource = element.dataSource;

//    grid.wrapper.find(".k-pager")
//    .before('<a href="#" class="k-link prev">Prev</a>')
//    .after('<a href="#" class="k-link next">Next</a>')
//    .delegate("a.prev", "click", function () {
//        dataSource.page(dataSource.page() - 1);
//    })
//    .delegate("a.next", "click", function () {
//        dataSource.page(dataSource.page() + 1);
//    })
//    .delegate(".pagesize input", "change", function () {
//        dataSource.page(parseInt(this.value, 10));
//    })

//    $(document).ready(function () {
//        var element = $("#NewFeaturepopup").kendoGrid({
//            dataSource: {
//                page: 1,
//                pageSize: 1,
//                serverPaging: true,
//                serverSorting: false,
//                serverFiltering: false,
//                schema: {
//                    data: "Reclist",
//                    total: "TotalRec"
//                },
//                batch: true,
//                transport: {
//                    read: {
//                        url: '@Url.Action("GetNewFeatures", "Common")',
//                        type: "POST"
//                    }
//                }
//            },
//            columns: [{ field: "Title", title: "<img src=\"../Content/themes/base/Images/icon-newfeature-org.png\" style=\"border: none; margin: 0px 0px -8px 0px; height: 20px; width: 45px;\" alt=\"\" /> New Feature", filterable: false, width: 50, template: kendo.template($("#template").html()) }
//            ],
//            height: 475,
//            scrollable: false
//        }); 
//    });
</script>

