@model Emerge.Models.NewReportModel
<div id="divFCRAPopUp" style="display: none">
    @Html.HiddenFor(m => m.FCRAStatus)
    <div id="scrollable_div"  style="height: 300px; border-color: Black; border-width: 1px; background-color: #eeeeee; border-style: solid; overflow-x: hidden; overflow-y: auto;" onscroll="scollPos();">
        <table width="100%" id="htmltblpnlpopPDF" style="display: none;" border="0" cellpadding="0"
            cellspacing="0">
            <tr>
                <td valign="middle" align="left" style="background-color: #eeeeee; padding-left: 5px;
                    height: 320px;">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td valign="middle">
                                Please download the CRA's Notice thank you.
                            </td>
                            <td>
                                <a id="downloadFCRA" href="DownloadFCRA" onclick="return closefcra();">
                                <img id="ImglnkFcra" src="@Url.Content("~/Content/themes/base/images/DownloadIcon2.png")"
                                    alt=""  /></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table width="100%" id="htmltblpnlpop">
            <tr>
                <td align="left">
                <p style="font-size:18; text-align:left"> <b>
                All Users of Consumer Reports must Comply With All Applicable Regulations, including
                 regulation promulgated after this notice was prescribed in 2004. Information about 
                 applicable regulation currently in effect can be found at  the consumer Financial 
                 Protection Bureau's website www.consumerfinance.gov/learnmore.</b>
                </p>

              <h3 style="text-align:center">  <p style="text-align:center">NOTICE TO USER OF CONSUMER  REPORTS:<br />
                OBLIGATION OF USERS UNDER FCRA </p></h3>

                
                   
                    <p>
                       
                        
                        The Fair Credit Reporting Act (FCRA), 15 U.S.C. 1681 Ð 1681y, requires that this
                        notice be provided to inform users of consumer reports of their legal obligations.
                        State law may impose additional requirements. The text of the FCRA is set forth
                        in full at the Bureau's consumer Financial Protection's Website at 
                        www.consumerfinance.gov/learnmore. At the end of this document is a list of United 
                        States Code citations for the FCRA. Other Information about user duties is also  
                        available at the CommissionÕs Web site. Users must consult the relevant provisions 
                        of the FCRA for details about their obligations under the FCRA.
                    </p>
                    <p>
                        The first section of this summary sets forth the responsibilities imposed by the
                        FCRA on all users of consumer reports. The subsequent sections discuss the duties
                        of users of reports that contain specific types of information, or that are used
                        for certain purposes, and the legal consequences of violations. If you are a furnisher
                        of information to a consumer reporting agency (CRA), you have additional obligations
                        and will receive a separate notice from the CRA describing your duties as a furnisher.
                    </p>
                    <p>
                        I. OBLIGATIONS OF ALL USERS OF CONSUMER REPORTS
                        <br />
                        A. Users Must Have a Permissible Purpose
                        <br />
                        Congress has limited the use of consumer reports to protect consumersÕ privacy.
                        All users must have a permissible purpose under the FCRA to obtain a consumer report.
                        Section 604 contains a list of the permissible purposes under the law. These are:
                        * As ordered by a court or a federal grand jury subpoena. Section 604(a)(1) <br />
                        * As instructed by the consumer in writing. Section 604(a)(2) 
                        * For the extension of credit as a result of an application from a consumer
                          or the review or collection of a consumerÕs account. Section 604(a)(3)(A) <br />
                        * For employment purposes, including hiring and promotion decisions, where
                         the consumer has given written permission. Sections 604(a)(3)(B) and 604(b).<br />
                        * For the underwriting of insurance as a result of an application from a consumer. 
                        Section 604(a)(3)(C) <br />
                        * When there is a legitimate business need, in connection with a business transaction
                          that is initiated by the consumer. Section 604(a)(3)(F)(i) 
                        * To review a consumerÕs account to determine whether the consumer continues to meet 
                        the terms of the account.Section 604(a)(3)(F)(ii) <br />
                        * To determine a consumerÕs eligibility for a license or other benefit granted by
                         a governmental instrumentality required by law to consider an applicantÕs financial
                         responsibility or status. Section 604(a)(3)(D) <br />
                        * For use by a potential investor or servicer, or current insurer, in a valuation 
                         or assessment of the credit or prepayment risks associated with an existing credit
                          obligation. Section 604(a)(3)(E)  <br />
                        * For use by state and local officials in connection with the determination of child support
                        payments, or modifications and enforcement thereof. Section 604(a)(4) and 604(a)(5) <br />
                       
                        In addition, creditors and insurers may obtain certain consumer report information
                        for the purpose of making "prescreened" unsolicited offers of credit or insurance.
                        Section 604(c). The particular obligations of users of "prescreened" information
                        are described in Section VII below.
                        <br />
                        B. Users Must Provide Certifications
                        <br />
                        Section 604(f) prohibits any person from obtaining a consumer report from a consumer
                        reporting agency (CRA) unless the person has certified to the CRA the permissible
                        purpose(s) for which the report is being obtained and certifies that the report
                        will not be used for any other purpose.
                        <br />
                        C. Users Must Notify Consumers When Adverse Actions Are Taken
                        <br />
                        The term "adverse action" is defined very broadly by Section 603. "Adverse actions"
                        include all business, credit, and employment actions affecting consumers that can
                        be considered to have a negative impact as defined by Section 603(k) of the FCRA
                        - such as denying or canceling credit or insurance or denying employment or promotion.
                        No adverse action occurs in a credit transaction where the creditor makes a counteroffer
                        that is accepted by the consumer.
                        <br />
                        1. Adverse Actions Based on Information Obtained From a CRA
                        <br />
                        If a user takes any type of adverse action as defined by the FCRA that is based
                        at least in part on information contained in a consumer report, Section 615(a) requires
                        the user to notify the consumer. The notification may be done in writing, orally,
                        or by electronic means. It must include the following:<br /> 
                        * The name, address, and telephone number of the CRA (including a toll-free telephone 
                        number, if it is a nationwide CRA) that provided the report. <br /> 
                        * A statement that the CRA did not make the adverse decision and is not able
                         to explain why the decision was made. <br />
                        * A statement setting forth the consumerÕs right to obtain a free disclosure 
                          of the consumerÕs  file from the CRA if the consumer makes a request within 
                          60 days.
                        * A statement  setting forth the consumerÕs right to dispute directly with
                         the CRA the accuracy or completeness of any information provide by the CRA.
                        <br />
                        2. Adverse Actions Based on Information Obtained From Third Parties Who Are Not
                        Consumer Reporting Agencies
                        <br />
                        If a person denies (or increases the charge for) credit for personal, family, or
                        household purposes based either wholly or partly upon information from a person
                        other than a CRA, and the information is the type of consumer information covered
                        by the FCRA, Section 615(b)(1) requires that the user clearly and accurately disclose
                        to the consumer his or her right to be told the nature of the information that was
                        relied upon if the consumer makes a written request within 60 days of notification.
                        The user must provide the disclosure within a reasonable period of time following
                        the consumerÕs written request.
                        <br />
                        3. Adverse Actions Based on Information Obtained From Affiliates
                        <br />
                        If a person takes an adverse action involving insurance, employment, or a credit
                        transaction initiated by the consumer, based on information of the type covered
                        by the FCRA, and this information was obtained from an entity affiliated with the
                        user of the information by common ownership or control, Section 615(b)(2) requires
                        the user to notify the consumer of the adverse action. The notice must inform the
                        consumer that he or she may obtain a disclosure of the nature of the information
                        relied upon by making a written request within 60 days of receiving the adverse
                        action notice. If the consumer makes such a request, the user must disclose the
                        nature of the information not later than 30 days after receiving the request. If
                        consumer report information is shared among affiliates and then used for an adverse
                        action, the user must make an adverse action disclosure as set forth in I.C.1 above.
                        <br />
                        D. Users Have Obligations When Fraud and Active Duty Military Alerts are in Files
                        <br />
                        When a consumer has placed a fraud alert, including one relating to identity theft,
                        or an active duty military alert with a nationwide consumer reporting agency as
                        defined in Section 603(p) and resellers, Section 605A(h) imposes limitations on
                        users of reports obtained from the consumer reporting agency in certain circumstances,
                        including the establishment of a new credit plan and the issuance of additional
                        credit cards. For initial fraud alerts and active duty alerts, the user must have
                        reasonable policies and procedures in place to form a belief that the user knows
                        the identity of the applicant or contact the consumer at a telephone number specified
                        by the consumer; in the case of extended fraud alerts, the user must contact the
                        consumer in accordance with the contact information provided in the consumerÕs alert.
                        <br />
                        E. Users Have Obligations When Notified of an Address Discrepancy
                        <br />
                        Section 605(h) requires nationwide CRAs, as defined in Section 603(p), to notify
                        users that request reports when the address for a consumer provided by the user
                        in requesting the report is substantially different from the addresses in the consumerÕs
                        file. When this occurs, users must comply with regulations specifying the procedures
                        to be followed, which will be issued by the The Consumer Financial   Protection Bureau 
                        and the banking and credit union regulators.<br />
                         The Consumer Financial   Protection Bureau' will be Available at website  www.consumerfinance.gov/learnmore.
                        <br />
                        F. Users have Obligations When Disposing of Records
                        <br />
                        Section 628 requires that all users of consumer report information have in place
                        procedures to properly dispose of records containing this information. The Consumer Financial 
                       Protection Bureau's, the Securities and Exchange Commission, and the banking and credit
                        union regulators have issued regulations covering disposal. The Consumer Financial 
                         Protection Bureau's regulations may be found at www.consumerfinance.gov/learnmore.
                        <br />
                        II. CREDITORS MUST MAKE ADDITIONAL DISCLOSURES
                        <br />
                        If a person uses a consumer report in connection with an application for, or a grant,
                        extension, or provision of, credit to a consumer on material terms that are materially
                        less favorable than the most favorable term available to a substantial proportion
                        of consumers from or through that person, based in whole or in part on a consumer
                        report, the person must provide a risk-based pricing notice to the consumer in accordance
                        with regulations  prescribed by the The Consumer Financial Protection Bureau's .
                        <br />
                        Section 609(g) requires a disclosure by all persons that make or arrange loans secured
                        by residential real property (one to four units) and that use credit scores. These
                        persons must provide credit scores and other information about credit scores to
                        applicants, including the disclosure set forth in Section 609(g)(1)(D) ("Notice
                        to the Home Loan Applicant").
                        <br />
                        III. OBLIGATIONS OF USERS WHEN CONSUMER REPORTS ARE OBTAINED FOR EMPLOYMENT PURPOSES.
                        <br />
                        A. Employment Other Than in the Trucking Industry
                        <br />
                        If information from a CRA is used for employment purposed, the user has specific
                        duties, which are set forth in Section 604(b) of the FCRA. The user must:<br />
                       * Make a clear and conspicuous written disclosure to the consumer before the report is
                        obtained, in a document that consists solely of the disclosure, that a consumer
                        report may be obtained.
                       * Obtain from the consumer prior written authorization. Authorization to access reports
                        during the term of employment may be obtained at  the time of employment. <br /> 
                       * Certify to the CRA that the above steps have been followed, that the information being
                        obtained will not be used in violation of any federal or state equal opportunity law
                         or regulation, and that, if any adverse action is to be taken based on the consumer 
                         report, a copy of the report and a summary of the consumerÕs rights will be provided
                          to the consumer.<br />
                        * Before taking an adverse
                        action, the user must provide a copy of the report to the consumer as well as the
                        summary of consumerÕs rights. (The user should receive this summary from the CRA.)
                        A Section 615(a) adverse action notice should be sent after the adverse action is
                        taken.
                        <br />
                        An adverse action notice also is required in employment situations if credit information
                        (other than transactions and experience data) obtained from an affiliate is used
                        to deny employment. Section 615(b)(2)
                        <br />
                        The procedures for investigative consumer reports and employee misconduct investigations
                        are set forth below.
                        <br />
                        B. Employment in the Trucking Industry
                        <br />
                        Special rules apply for truck drivers where the only interaction between the consumer
                        and the potential employer is by mail, telephone, or computer. In the case, the
                        consumer may provide consent orally or electronically, and an adverse action may
                        be made orally, in writing, or electronically. The consumer may obtain a copy of
                        any report relied upon by the trucking company by contacting the company.
                        <br />
                        IV. OBLIGATIONS WHEN INVESTIGATIVE CONSUMER REPORTS ARE USED.
                        <br />
                        Investigative consumer reports are a special type of consumer report in which information
                        about a consumerÕs character, general reputation, personal characteristics, and
                        mode of living is obtained through personal interviews by an entity or person that
                        is a consumer reporting agency. Consumers who are the subjects of such reports are
                        given special rights under the FCRA. If a user intends to obtain an investigative
                        consumer report, Section 606 requires the following:<br />
                         * The user must disclose to the consumer that an investigative consumer report 
                         may be obtained. This must be done in a written disclosure that is mailed, or 
                         otherwise delivered, to the consumer at some time before or not later than three
                          days after the date on which the report was first requested. The disclosure must 
                          include a statement informing the consumer  of his or her right to request additional 
                          disclosures of the nature and scope of the investigation as described below, 
                          and the summary of consumer rights required by Section 609 of the FCRA. 
                          (The summary of consumer rights will be provided by the CRA that conducts the
                           investigation.)<br />
                         * The user must certify to the CRA that the disclosures set forth above have been made
                          and that the user will make the disclosure described below.
                         * Upon the written request of a consumer made within a reasonable
                        period of time after the disclosures required above, the user must make a complete
                        disclosure of the nature and scope of the investigation. This must be made in a
                        written statement that is mailed, or otherwise delivered, to the consumer no later
                        than five days after the date on which the request was received from the consumer
                        or the report was first requested, whichever is later in time.
                        <br />
                        V. SPECIAL PROCEDURES FOR EMPLOYEE INVESTIGATIONS
                        <br />
                        Section 603(x) provides special procedures for investigations of suspected misconduct
                        by an employee or for compliance with Federal, state or local laws and regulations
                        or the rules of a self-regulatory organization, and compliance with written policies
                        of the employer. These investigations are not treated as consumer reports so long
                        as the employer or its agent complies with the procedures set forth in Section 603(x),
                        and a summary describing the nature and scope of the inquiry is made to the employee
                        if an adverse action is taken based on the investigation.
                        <br />
                        VI. OBLIGATIONS OF USERS OF MEDICAL INFORMATION
                        <br />
                        Section 604(g) limits the use of medical information obtained from consumer reporting
                        agencies (other than payment information that appears in a coded form that does
                        not identify the medical provider). If the information is to be used for an insurance
                        transaction, the consumer must give consent to the user of the report or the information
                        must be coded. If the report is to be used for employment purposes - or in connection
                        with a credit transaction (except as provided in regulations issued by the banking
                        and credit union regulators) Ð the consumer must provide specific written consent
                        and the medical information must be relevant. Any user who receives medical information
                        shall not disclose the information to any other person (except where necessary to
                        carry out the purpose for which the information was disclosed, or as permitted by
                        statute, regulation, or order).
                        <br />
                        VII. OBLIGATIONS OF USERS OF "PRESCREENED" LISTS
                        <br/>
                        The FCRA permits creditors and insurers to obtain limited consumer report information
                        for use in connection with unsolicited offers of credit or insurance under certain
                        circumstances. Sections 603(l), 604(c), 604(e) and 614(d). This practice is known
                        as "prescreening" and typically involves obtaining from a CRA a list of consumers
                        who meet certain pre-established criteria. If any person intends to use prescreened
                        lists, that person must (1) before the offer is made, establish the criteria that
                        will be relied upon to make the offer and to grant credit or insurance, and (2)
                        maintain such criteria on file for a three-year period beginning on the date on
                        which the offer is made to each consumer. In addition, any user must provide with
                        each written solicitation a clear and conspicuous statement that:<br />
                      * Information contained in a consumerÕs CRA file was used in connection with the transaction.<br />
                      * The consumer received the offer because he or she satisfied the criteria for credit
                        worthiness or insurability used to screen for the offer. <br />
                         * Credit or insurance may  not be extended if, after the consumer responds, 
                         it is determined that the consumer does not meet the criteria used for screening 
                         or any applicable criteria bearing   on credit worthiness or insurability, 
                         or the consumer does not furnish required   collateral. 
                       * The consumer may prohibit the use of information in his or her file
                        in connection with future prescreened offers of credit or insurance by contacting
                        the notification system established by the CRA that provided the report. The statement
                        must include the address and toll-free telephone number of the appropriate notification
                        system.
                        <br/>
                        In addition, once the Consumer Financial Bureau has established the format,
                        type size, and manner of the disclosure required by Section 615(D), With Which users
                         must  Comply. The Regulation is 12 CFR 1022.54.
                       
                        <br/>
                        VIII. OBLIGATIONS OF RESELLERS
                        <br/>
                      <b>A.  Disclosure and Certification Requirements </b>   <br /> 
                        Section 607(e) requires any person who obtains a consumer report for resale to take 
                        the following steps:<br />
                         * Disclose the identity of the end-user to the source CRA. <br />
                         * Identity to the source CRA each  permissible purpose for which the report
                          will be furnished to the end-user. <br /> 
                          * Establish  and follow reasonable procedures to ensure that reports are
                          resold only for permissible purposes, including procedures to obtain:<br />
                           1).the identity of all end-users. <br />
                           2). certifications from all users of each purpose for which reports will be used; and <br />
                           3) certifications that reports will not be used for any purpose other than the
                        purpose(s) specified to the reseller. Resellers must make reasonable efforts to
                        verify this information before selling the report.
                        <br/>
                        B. Reinvestigations by Resellers
                        <br/>
                        Under Section 611(f), if a consumer disputes the accuracy or completeness of information
                        in a report prepared by a reseller, the reseller must determine whether this is
                        a result of an action or omission on its part and, if so, correct or delete the
                        information. If not, the reseller must send the dispute to the source CRA for reinvestigation.
                        When any CRA notifies the reseller of the results of an investigation, the reseller
                        must immediately convey the information to the consumer.
                        <br/>
                        C. Fraud Alerts and Resellers
                        <br/>
                        Section 605A(f) requires resellers who receive fraud alerts or active duty alerts
                        from another consumer reporting agency to include these in their reports.
                        <br/>
                        IX. LIABILITY FOR VIOLATIONS OF THE FCRA
                        <br/>
                        Failure to comply with the FCRA can result in state government or federal government
                        enforcement actions, as well as private lawsuits. Sections 616, 617, and 621. In
                        addition, any person who knowingly and willfully obtains a consumer report under
                        false pretenses may face criminal prosecution. Section 619.
                        <br/>
                        The Consumer Financial Protection Bureau's WebSite, website www.consumerfinance.gov/learnmore,
                         has more information about FCRA
                         
                        <br/>
                        Citations for FCRA sections in the U.S. Code, 15 U.S.C. ¤ 1681 et seq.:
                        <br/>
                         Section 602 15 U.S.C. 1681 
                        <br/>
                        Section 603 15 U.S.C. 1681a
                        <br/>
                         Section 604 15 U.S.C. 1681b
                        <br/>
                        Section 605 15 U.S.C. 1681c
                        <br/>
                        Section 605A 15 U.S.C. 1681c-1
                        <br/>
                        Section 605B 15 U.S.C. 1681c-2
                        <br/>
                        Section 606 15 U.S.C. 1681d
                        <br/>
                        Section 607 15 U.S.C. 1681e
                        <br/>
                        Section 608 15 U.S.C. 1681f
                          <br/>
                        Section 609 15 U.S.C. 1681g
                        <br/>
                        Section 610 15 U.S.C. 1681h
                        <br/>
                         Section 611 15 U.S.C. 1681i
                        <br/>
                        Section 612 15 U.S.C. 1681j
                        <br/>
                        Section 613 15 U.S.C. 1681k
                        <br/>
                         Section 614 15 U.S.C. 1681l
                        <br/>
                        Section 615 15 U.S.C. 1681m
                        <br/>
                        Section 616 15 U.S.C. 1681n
                        <br/>
                        Section 617 15 U.S.C. 1681o
                        <br/>
                         Section 618 15 U.S.C. 1681p
                        <br/>
                        Section 619 15 U.S.C. 1681q
                        <br/>
                        Section 620 15 U.S.C. 1681r
                        <br/>
                       Section 621 15 U.S.C. 1681s
                        <br/>
                        Section 622 15 U.S.C. 1681s-1
                        <br/>
                        Section 623 15 U.S.C. 1681s-2
                        <br/>
                       Section 624 15 U.S.C. 1681t
                        <br/>
                        Section 625 15 U.S.C. 1681u
                        <br/>
                         Section 626 15 U.S.C. 1681v
                        <br/>
                        Section 627 15 U.S.C. 1681w
                        <br/>
                        Section 628 15 U.S.C. 1681x
                        <br/>
                        Section 629 15 U.S.C. 1681y
                        <br/>
                    </p>
                    <p>Clicking on Acknowledge will direct you to the Forms Page. Please review and download all applicable compliance forms for use.  </p>
                </td>
            </tr>
        </table>
    </div>
       <div align="left"  style="margin-top:10px"><span style="font-size:16; font-weight:bold; margin-top:10px" >Clicking on Acknowledge will direct you to the Forms Page. Please review and download all applicable compliance forms for use. </span>
    <div align="right" style="padding-top: 7px;">
 
        <input id="btnDecline" type="button" onclick="DeclineandLogoff();" style="cursor: pointer;" value="Decline and Logoff" class="btn btn-primary" />
        &nbsp;
        <input id="btnAcknowledged" type="button" onclick="ClickAkg(this.id); return false;" title="Acknowledged" class="btn btn-primary" style="cursor: pointer;" value="Acknowledged" />
    </div>
</div>
<script type="text/javascript">
    GetFCRAAgreement();

    function GetFCRAAgreement() {


        if (($('#FCRAStatus').val().toLowerCase() != 'true')) {
        
            document.getElementById("divFCRAPopUp").style.visibility = "visible";
            document.getElementById("divFCRAPopUp").style.display = "block";

            $("#divFCRAPopUp").show();

            var pnlpopPDF = document.getElementById('htmltblpnlpopPDF');
            var pnlpop = document.getElementById('htmltblpnlpop');
            if (pnlpopPDF != null && pnlpop != null) {
                pnlpopPDF.style.display = 'none';
                pnlpop.style.display = 'block';
            }

            var windowReport = $("#divFCRAPopUp").kendoWindow({
                actions: {},
                title: "FCRA  Agreement",
                modal: true,
                scrollable: false,
                height: "430px",
                width: "755px"
            }).data("kendoWindow");


            windowReport.center();
            windowReport.open();
$.noConflict();
jQuery( document ).ready(function( $ ) {
// Code that uses jQuery's $ can follow here.
});
// Code that uses other library's $ can follow here.

        }
        else {


            document.getElementById("divFCRAPopUp").style.visibility = "hidden";
            document.getElementById("divFCRAPopUp").style.display = "none";
        }
    }

    function DeclineandLogoff() {
        location.href = '../Default';
    }

    var flag = "";
    function scollPos() {
       
        var div = $('#scrollable_div');
        if (div[0].scrollHeight - div.scrollTop() == div.height()) {
     
            $("#btnAcknowledged").attr('disabled', false);
            flag = "1";
        
        }
        else {

            if (flag != "1") {

                $("#btnAcknowledged").attr('disabled', true);
            }
        }

   }

   $(function () {
       var div = $('#scrollable_div');
       if (div[0].scrollHeight - div.scrollTop() == div.height()) {
           $("#btnAcknowledged").attr('disabled', false);
       }
       else {

           $("#btnAcknowledged").attr('disabled', true);

       }


   });


    function ClickAkg(ID) {

         var div = $('#scrollable_div');
         if (div[0].scrollHeight - div.scrollTop() == div.height()) {
             $.post('@Url.Action("UpdateSignedFCRAStatus", "Corporate")', {}, function (data) {
                 if (data.Result == 1) {
                     window.location.href = '../Corporate/myforms';
                 }
             });
         }

         else {
             return false;
             //alert("Please read all Fcra agreement.");
         
         }

      
//        var pnlpopPDF = document.getElementById('htmltblpnlpopPDF');
//        var pnlpop = document.getElementById('htmltblpnlpop');
//        var btnAkl = document.getElementById(ID);
//        if (pnlpopPDF != null && pnlpop != null && btnAkl != null) {
//            pnlpopPDF.style.display = 'block';
//            pnlpop.style.display = 'none';
//            btnAkl.disabled = true;
//        }
    }

    function closefcra() {
       
        $("#downloadFCRA").closest(".k-window-content").data("kendoWindow").close();
      
        return true;

    }










</script>
