﻿@model Emerge.Models.SearchingModel
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet"
    type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet"
    type="text/css" />
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v1.0")" type="text/javascript"></script>
<style type="text/css">
    .HeaderRow
    {
        background-color: #CCC;
        background-image: url('../Content/textures/highlight.png');
        background-position: 0 center;
        background-position-y: center;
    }
    .TopHeaderRow
    {
        background-color: #429cc4;
        background-image: url('../Content/textures/highlight.png');
        background-position: 0 center;
        background-position-y: center;
    }
    
    #divTieredReponse > table, #divOptionalReponse > table
    {
       @* float: left;*@
        height: auto;
        width: 80%;
    }
    #tieredTable tr, #optionalTable tr, #OptionTbl tr
    {
        @*float: left;*@
        height: auto;
        width: 100%;
    }
    
    #tieredTable td, #optionalTable td, #OptionTbl td
    {
       @* float: left;*@
        width: 20%;
        padding: 0% 0;
    }
    #tieredTable td + td, #optionalTable td + td, #OptionTbl td + td
    {
        width: 20%;
    }
    #tieredTable td + td + td, #optionalTable td + td + td, #OptionTbl td + td + td
    {
        width: 15%;
    }
    #tieredTable td + td + td + td, #optionalTable td + td + td + td, #OptionTbl td + td + td + td
    {
        width: 15%;
        text-align: right;
    }
    #tieredTable td + td + td + td + td, #optionalTable td + td + td + td + td, #OptionTbl td + td + td + td + td
    {
        padding-left: 5%;
        text-align: left;
        width: 11%;
    }
    #tieredTable td + td + td + td + td + td, #optionalTable td + td + td + td + td + td, #OptionTbl td + td + td + td + td + td
    {
        padding-left: 0;
        text-align: right;
        width: 14%;
    }
    
    #tieredTable input, #optionalTable input, #OptionTbl input
    {
        @*float: left;*@
        margin: 3px 3px 0 0;
    }
    #tieredTable span, #optionalTable span, #OptionTbl span
    {
       @* float: left;*@
        margin: 0;
    }
    .subtotalClass
    {
        width: 95%;
    }
    .k-widget.k-window {
  left: 13% !important;
}
</style>
<table align="center" id="Corporate" cellpadding="0" cellspacing="0" border="0" style="width: 100%;
    border-bottom: solid 1px transparent; padding: 0px 2px 0px 2px;;background-color:@Html.Raw(ViewBag.loadingbgColor);">
    <tr id="tr_header">
        <td align="center" colspan="2">
            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="3">
                        <div class="searching_img" id="#search_records">
                            <div align="center">
                                <div id="Loadingimg" style="margin-left: 17%; margin-right: 17%;  background-color: @Html.Raw(ViewBag.loadingbgColor);">
                                    <table class="loadingBgColorImg" cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tr>
                                            <td align="center">
                                                <div style="height: 200px">
                                                </div>
                                                <div id="LoadTitle" style="font-size: 41px; font-weight: bold;">
                                                </div>
                                                <div id="LoadContents" style="height: 180px; width: 100%; text-align: center; color: #000000;
                                                    font-size: 25px; font-weight: bold; font-family: Arial; margin-top: 20px">
                                                    <div id="search_records" style="text-align: center; padding-top: 0px; clear: both;">
                                                    </div>
                                                </div>
                                                <div style="margin-left: 1%">
                                                    @if (@Model.Username != null)
                                                    {
                                                        <span id="OldUserWelCome" style="font-size: 22px; margin-left: 1%; font-weight: bold;
                                                            font-family: Arial; color: #c4c4c4">Generating report for @Model.Username
                                                            <br />
                                                            <br />
                                                            <br />
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span id="OldUserWelCome1" style="font-size: 22px; margin-left: 0%; color: #c4c4c4">
                                                            Generating report
                                                            <br />
                                                            <br />
                                                        </span> 
                                                    }
                                                    <span id="NewUserWelCome" style="font-size: 22px; margin-left: 0%; display: none;
                                                        color: #c4c4c4">Generating report
                                                        <br />
                                                        <br />
                                                    </span><span style="margin-left: 0%">
                                                        <img src="@Url.Content("~/Content/themes/base/images/RollingGear.gif")"   / ></span>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <span style="margin-left: 0%">
                                                        <img src="@Url.Content("~/Content/themes/base/images/emerge-logo-red-img.png")" style="width: 100px;"/></span>
                                                </div>
                                                <div style="min-height: 60px;">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div id="divTiered" style="display: none; overflow-x: scroll; float: right;">
                <table width="100%" style="border: 0px solid black;">
                    <tr id="trHeader">
                        <td align="left">
                            @*<div>*@
                            <table width="100%" border="0">
                                <tr>
                                    <td colspan="2">
                                        <div id="divTieredTopInfo" style="height: 110px; float: left; width: 100%; border-bottom: 1px solid gray;">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top;">
                                        <div id="divTieredReponse" style="overflow: hidden; height: auto; float: left; width: 100%;
                                            border-bottom: 1px solid gray;">
                                        </div>
                                    </td>
                                    <td style="vertical-align: top;">
                                        <div id="divOptionalReponse" style="overflow: hidden; height: auto; border-bottom: 1px solid gray;
                                            float: left; width: 100%;">
                                    </td>
                                </tr>
                            </table>
                            @*</div>*@
                        </td>
                    </tr>
                    <tr id="trtotal">
                        <td align="right">
                            Total: <span id="GrandTotalSpan"></span>
                        </td>
                    </tr>
                    <tr id="trButtons">
                        <td align="center">
                            <div style="padding-top: 10px; padding-bottom: 5px;">
                                <table>
                                    <tr>
                                        <td>
                                            <input type="button" id="btnCancel" onclick="return CancelOrder();" value="Cancel" />
                                        </td>
                                        <td>
                                            <input type="button" style="background-color: Green; color: #ffffff;" id="btnGo"
                                                onclick="return IsCountyChecked(1);" value="Complete Order" />
                                        </td>
                                        <td>
                                            <img id="divAjaxLoaderimage" src="../Content/Default/loading-image.gif" alt="Loading..."
                                                style="display: none;" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr id="trMessage" style="display: none;">
                        <td align="center">
                            <div style="padding-top: 50px">
                                <p id="msgforCCR" style="font-family: Arial; font-size: 16px; display: none">
                                    Your order, which includes Manual County Searches, is being processed. The order
                                    will appear in your Archives shortly. The status of the report will say "Pending"
                                    due to the Manual County Searches, but any instant products included in your order
                                    will be available immediately.
                                </p>
                                <p id="msgforFCR" style="font-family: Arial; font-size: 16px; display: none">
                                    Your order, which includes Federal Criminal Reports, is being processed. The order
                                    will appear in your Archives shortly. The status of the report will say "Pending"
                                    due to the Federal Criminal Reports, but any instant products included in your order
                                    will be available immediately.
                                </p>
                            </div>
                            <div style="padding-top: 10px; padding-bottom: 5px;">
                                <input type="button" id="btnClose" onclick="return CloseOrder();" value="Close" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
<input type="hidden" id="hdDataEntryOnly" />
<input type="hidden" id="hdnOrderId" />
<input type="hidden" id="hdnCounty" value="" />
<input type="hidden" id="hdnState" value="" />
<div id="popupclscontystate" style="display: none;">
    <div id="AutoDiv">
    </div>
    <div style="text-align: right;">
        Total: <span id="GrandTotalSpanAuto">$0.00</span>
    </div>
    <div style="text-align: center; padding-top: 30px;">
        <input type="button" id="btnAutoCancel" onclick="return CancelOrder();" value="Cancel" />
        <input type="button" style="background-color: Green; color: #ffffff;" id="btnAutoGo"
            onclick="return IsCounty_Checked();" value="Complete Order" />
    </div>
</div>
<script type="text/javascript">


$(function(){
    document.body.style.backgroundColor = '@Html.Raw(ViewBag.loadingbgColor)';

    $('.k-widget.k-window').css(
    {
      'width':'1030px',
       'top':'20px'
    }
    );

})



$("#divTiered").kendoWindow({ 
actions: false,
            draggable: true,
            modal: true,
            resizable: false
});




function CloseTiered() {
    var pop =document.getElementById("divTiered").style.display='none';
    var hdnOrderId = document.getElementById('hdnOrderId');
    var hdDataEntryOnly = document.getElementById('hdDataEntryOnly');

if(landingPage=="runreport")
{                       
    window.location = '../RunReport?Suc=1';                        
}
else
{
    if (hdnOrderId != null) {
        if (hdDataEntryOnly != null) {
            if (hdDataEntryOnly.value == 'true') {
               window.location = 'NewReport';
            }
            else {
                window.location = 'ViewReports?_OId=' + hdnOrderId.value + "&RR=2";
            }
        }
        else {
            window.location = 'ViewReports?_OId=' + hdnOrderId.value + "&RR=2";
        }
    }
    else {
        window.location = 'SavedReports';
    }
    return false;
    }
}

var arrRecords;
var arrTitles;   
var i = 0;
   
$.ajax({
cache: false,
    type: "POST",
    url: "@Url.Action("LoadSearchingContent", "CommonNewReport")",
    error: function (responseText) {
    
    StartSearch();
    },
    success: function (responseText) {
    
        arrRecords = responseText.Desription.split('##');
        arrTitles = responseText.Title.split('##');
    StartSearch();
            if(arrRecords.length > 0)
            {
                MakeAnotherCall();
               
        }
    }
});
      
      
var recordsarray = [];
function MakeAnotherCall() {
   var temp = [];  var i = 0;
   var check="";
   var random_var=Math.random()*arrRecords.length;
   var content=arrRecords[(Math.floor((random_var)))];
   var title=arrTitles[(Math.floor((random_var)))];
   for(var i=0; i<recordsarray.length; i++) {
   if (recordsarray[i] == content)  {check="exist";   }   }
   if(check=="exist"){   MakeAnotherCall();}
   else{ recordsarray.push(content);  $('#LoadContents').html(content);
   $('#LoadTitle').html(title); if(recordsarray.length==arrRecords.length)
   { recordsarray = []; }  }
 }

 var isAutomatic = false;
var T2response = '';
var T2OResponse = '';
var sTieredTopInfo = '';
var IsTiered = false;
var ResponseJson = '';
var variableEffect = ''; var IsDataEntryOnly = '';
var counties='';
var states='';
var GrandTotal = 0;

var landingPage='';

function StartSearch() {
	$.ajax({
		type : "POST",
		url : "../CommonNewReport/SaveNewReport",
		data : "{}",
		contentType : "application/json; charset=utf-8",
		dataType : "json",
		error : function (responseText, ab, jh) {
			alert(responseText.status + ' - ' + ab + ' - ' + jh);
		},
		success : function (result) {
			var hdnOrderId = document.getElementById('hdnOrderId');
			if (!result.ReportPage) {
				var val = result.Coll;
				landingPage = result.ReportPage;
                landingreport = result.Goarchive;
				try {
                    try {
						IsDataEntryOnly = val.ObjOrderInfo.IsDataEntry_Enable;
						IsTiered = val.ObjOrderInfo.IsTiered;
						T2response = val.ObjOrderInfo.Tiered2Response;
						T2OResponse = val.ObjOrderInfo.OptionalResponse;
						sTieredTopInfo = val.ObjOrderInfo.TieredTopInfo;
						variableEffect = val.ObjOrderInfo.Variable;
						isAutomatic = val.ObjOrderInfo.IsAutomatic;
						counties = result.counties;
						states = result.states;
						GrandTotal = result.GrandTotal;
						JurisdictionColl = result.JurisdictionColl;
                        
					} catch (e) {}

					if (hdnOrderId != null) {
						hdnOrderId.value = val.ObjOrderInfo.OrderId;
					}

					var hdDataEntryOnly = document.getElementById('hdDataEntryOnly');
					if (hdDataEntryOnly != null) {
						hdDataEntryOnly.value = val.ObjOrderInfo.IsDataEntry_Enable;
					}
					if (val.ObjOrderInfo.IsTiered === true) {
						if (val.ObjOrderInfo.Tiered2Response == '') {

							if (IsDataEntryOnly == true) {
							 if (val.ObjOrderInfo.OrderId == 0) 
									{
						     
					        	       window.location = 'NewReport';
									}
									else
									{
									  window.location = 'ViewReports?_OId=' + val.ObjOrderInfo.OrderId + "&RR=2";
									}
							} else {
								if (val.ObjOrderInfo.OrderId == 0) {
									window.location = 'SavedReports';
								} else {
									window.location = 'ViewReports?_OId=' + val.ObjOrderInfo.OrderId + "&RR=2";
								}
							}
						}
					} else if (IsDataEntryOnly == true) {
                        if (val.ObjOrderInfo.OrderId == 0) 
                        {
						     
					        	window.location = 'NewReport';
                        }
                        else
                        {
                          window.location = 'ViewReports?_OId=' + val.ObjOrderInfo.OrderId + "&RR=2";
                        }
					} else {
						if (val.ObjOrderInfo.OrderId == 0) {
							window.location = 'SavedReports';
						} else {
							var ISeei = val.ObjtblOrder.ReportIncludes; // INT-173
                        var v1=ISeei.indexOf("EEI");
                        var v2= ISeei.indexOf("ECR");
                        if (v1 > -1 || v2 > -1) {
                            window.location = 'ViewReports?_OId=' + val.ObjOrderInfo.OrderId + "&RR=2";
                        }
                       else if (landingreport == true) {
                                    window.location = 'SavedReports';
                                }
                          else {
                                    window.location = 'ViewReports?_OId=' + val.ObjOrderInfo.OrderId + "&RR=2";
                       }
                        
					  }
					}
				} catch (e) {
					window.location = 'SavedReports';
				}
			} else {
				var CountyStateVal = "";
				counties = result.counties;
				hdnOrderId.value = result.OrderNo;
				var countyArr = counties.split("#");
				for (var countyIndex = 0; countyIndex < countyArr.length; countyIndex++) {
					if (countyArr[countyIndex] != "") {
						var _arrC = countyArr[countyIndex].split("_");
						CountyStateVal = CountyStateVal + _arrC[1] + "," + _arrC[2] + "countystate";
					}
				}

				$.ajax({
					type : "POST",
					url : "../CommonNewReport/RunAllCountyPopUp",
					async : false,
					data : {
						OrderId : result.OrderNo,
						CountyState : CountyStateVal
					},
					success : function (resultVal) {
						$("#AutoDiv").html(resultVal.Msg);
						$("#popupclscontystate").css("display", "block");
						$("#popupclscontystate").kendoWindow({
							actions : ["Close"],
							draggable : true,
							modal : false,
							resizable : false,
							title : "Run All Counties",
							width : "875px",
							close : CancelOrder
						}).data("kendoWindow");
						$("#popupclscontystate").data("kendoWindow").center();
						$("#popupclscontystate").data("kendoWindow").open();
					}
				});
			}

		}, //End Success
		complete : function (data) {
           
			dataCollection = $.parseJSON(data.responseText);
			if (!dataCollection.ReportPage) {
				if (IsTiered) {
                	if (!isAutomatic) {
						document.getElementById('divTiered').style.display = 'block';
						$("#divTiered").data("kendoWindow").center();
						$("#divTiered").data("kendoWindow").open();
						$("#divTiered").data("kendoWindow").title("Tier 2 Package Notification");
						
                        if(T2response=='</table>')
                        {
                            document.getElementById('trButtons').style.display = 'none';
							document.getElementById('trtotal').style.display = 'none';
							$("#divTieredTopInfo").css('border-bottom', '0');
							$("#divTieredReponse").css('border-bottom', '0');
							$('#divTieredTopInfo').html("<p style=\"color:red;font-weight:bold;text-align:center;\">No Record Found</p>");
                            $('#divTieredTopInfo').html("<input type='button' id='btnClosepopUp' onclick='return ClosePopUp();' value='Close' />");
							$('.k-widget.k-window').css("wdith", "200px");
							$('.k-widget.k-window').css("margin-left", "100px");
                        }
                        else if (T2response != null && T2response != "") {
							$('#divTieredTopInfo').html(sTieredTopInfo);
							$('#divTieredReponse').html(T2response);
							$("#GrandTotalSpan").html("");
							$("#GrandTotalSpan").html("$" + GrandTotal.toFixed(2));
						}
                       
                         else {
							document.getElementById('trButtons').style.display = 'none';
							document.getElementById('trtotal').style.display = 'none';
							$("#divTieredTopInfo").css('border-bottom', '0');
							$("#divTieredReponse").css('border-bottom', '0');
							$('#divTieredTopInfo').html("<p style=\"color:red;font-weight:bold;text-align:center;\">No Record Found</p>");
                             $('#divTieredTopInfo').html("<input type='button' id='btnClosepopUp' onclick='return ClosePopUp();' value='Close' />");
							$('.k-widget.k-window').css("wdith", "100px");
							$('.k-widget.k-window').css("margin-left", "-50px");

						}
						if (T2OResponse != '') {
							$('#divOptionalReponse').html(T2OResponse);
						} else {
							$('#divOptionalReponse').css('display', 'none');
						}

						ChkSingleSelect("Id");
					} else {

						var JurisdictionDict = [];
						if (JurisdictionColl != "") {
							for (var io = 0; io < JurisdictionColl.length; io++) {
								JurisdictionDict.push({
									pkJurisdictionId : JurisdictionColl[io].pkJurisdictionId,
									Jurisdiction_Name : JurisdictionColl[io].Jurisdiction_Name,
									AdditionalFee : JurisdictionColl[io].AdditionalFee,
									fName : JurisdictionColl[io].fName,
									mName : JurisdictionColl[io].mName,
									lName : JurisdictionColl[io].lName
								})
							}
						}

						var dt = {
							OrderId : hdnOrderId.value,
							Counties : counties,
							States : states,
							JurisdictionList : JurisdictionDict
						};
						$.ajax({
							type : "POST",
							url : "../CommonNewReport/SearchingTieredOrders",
							async : false,
							data : JSON.stringify(dt),
							contentType : "application/json; charset=utf-8",
							dataType : "json",
							error : function (responseText, ab, jh) {

								console.log('Sorry! some error is occured in Tiered process.\n' + responseText.status + ' - ' + ab + ' - ' + jh);
								// window.location = 'SavedReports.aspx';
							},
							success : function (TieredResponse) {
								// console.log(TieredResponse);

								if (landingPage == "runreport") {
									window.location = '../RunReport?Suc=1';
								} else {
									$.each(TieredResponse, function (key, val) {
										if (val == 0) {
											window.location = 'SavedReports';
										} else {
											window.location = 'ViewReports?_OId=' + val + "&RR=2";
										}
									});
								}
							}

						});
					}
				} else {
					if (landingPage == "runreport") {
						window.location = '../RunReport?Suc=1';
						return;
					}
				}
			}
            else
            {
               JurisdictionCollAuto=dataCollection.JurisdictionColl;
               stateAuto=dataCollection.states;
            }
		}

	});
}

var JurisdictionCollAuto=[];
var stateAuto;


function ClosePopUp(){
$("#divTiered").data("kendoWindow").close();
window.location = 'NewReport';
}

function CancelOrder() {

    var hdnOrderId = document.getElementById('hdnOrderId');
    if (hdnOrderId.value == 0) {
        window.location = 'SavedReports';
    }
   else if (landingreport == true) {
             window.location = 'SavedReports';
   }
   else {
        window.location = 'ViewReports?_OId=' + hdnOrderId.value + "&RR=2";
    }
}

function CloseOrder() {
 var COrderId = document.getElementById('hdnOrderId').value;
 
 $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateOrderStatusFcr", "CommonNewReport")',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ OrderId: COrderId }),
            success: function (data) {
              $("#divTiered").data("kendoWindow").close();
              window.location = 'NewReport';
            }
        });

}

function IsCounty_Checked() {
	var ischecked = false;
	var countyString = "#chk_selected#";
	$(".chkunchk").each(function () {
		if ($(this).attr("checked") == "checked") {
			countyString = countyString + $(this).attr("id") + "#";
			ischecked = true;
		}
	});
	if (ischecked) {

		var JurisdictionDict = [];
		if (JurisdictionCollAuto != "") {
			for (var io = 0; io < JurisdictionCollAuto.length; io++) {
				JurisdictionDict.push({
					pkJurisdictionId : JurisdictionCollAuto[io].pkJurisdictionId,
					Jurisdiction_Name : JurisdictionCollAuto[io].Jurisdiction_Name,
					AdditionalFee : JurisdictionCollAuto[io].AdditionalFee,
					fName : JurisdictionCollAuto[io].fName,
					mName : JurisdictionCollAuto[io].mName,
					lName : JurisdictionCollAuto[io].lName
				})
			}
		}
		var dt = {
			OrderId : hdnOrderId.value,
			Counties : countyString,
			States : stateAuto,
			JurisdictionList : JurisdictionDict
		};
		$.ajax({
			type : "POST",
			url : "../CommonNewReport/SearchingTieredOrders",
			data : JSON.stringify(dt),
			contentType : "application/json; charset=utf-8",
			dataType : "json",
			error : function (responseText, ab, jh) {
				alert('Sorry! some error is occured in Tiered process.\n' + responseText.status + ' - ' + ab + ' - ' + jh);
				// window.location = 'SavedReports.aspx';
			},
			success : function (TieredResponse) {
				window.location = 'ViewReports?_OId=' + hdnOrderId.value + "&RR=2";
			}
		});
	} else {
		alert('Please choose atleast one county.');
		return false;
	}
}

function IsCountyChecked(isGo) {
    
    var hdnCounty = document.getElementById('hdnCounty');
    var hdnState = document.getElementById('hdnState');
    var hdnOrderId = document.getElementById('hdnOrderId');
    var div = document.getElementById('divTieredReponse');
    var chk = div.getElementsByTagName('input');
    var len = chk.length;
    var div1 = document.getElementById('divOptionalReponse');
    var chk1 = div1.getElementsByTagName('input');
    var len1 = chk1.length;
    var is1chk = false;
    var is1chk1 = false;
    if (hdnCounty != null) { hdnCounty.value = ''; }

    for (var i = 0; i < len; i++) {
        if (chk[i].type === 'checkbox') {
            if (chk[i].checked) {
                is1chk = true; if (hdnCounty != null) {
              
                 hdnCounty.value = hdnCounty.value + '##' + chk[i].id; }
            }
        }
    }
    hdnState.value = '';
    for (var i = 0; i < len1; i++) {
        if (chk1[i].type === 'checkbox') {
            if (chk1[i].checked) {
                is1chk1 = true; if (hdnState != null) { hdnState.value = hdnState.value + '##' + chk1[i].id; }
            }
        }
    }          
 
    if (hdnState.value === ''&& hdnCounty.value === '' && isGo === 1)
        {
        alert('Please choose atleast one county or state.');
        return false; 
    }
    else
        { 
        var btnGo = document.getElementById('btnGo');
        btnGo.disabled = true;
      var JurisdictionDict=[];
     var CheckboxChecked=''
     var flagcheck=false;
if(JurisdictionColl != "")
{
	var io = 0;
	if (!$("#divTieredReponse").is(":hidden")) {
		$("#divTieredReponse .chkunchk1").each(function () {

			if ($(this).attr("checked")) {
                flagcheck=true;
				if (JurisdictionColl.length - 1 >= io) {
					JurisdictionDict.push({
						pkJurisdictionId : JurisdictionColl[io].pkJurisdictionId,
						Jurisdiction_Name : JurisdictionColl[io].Jurisdiction_Name,
						AdditionalFee : JurisdictionColl[io].AdditionalFee,
						fName : JurisdictionColl[io].fName,
						mName : JurisdictionColl[io].mName,
						lName : JurisdictionColl[io].lName
					})
				}
			}
		io++;
	  });
   }
  if(!flagcheck)
   {
      for(var indexJ=0;indexJ<JurisdictionColl.length;indexJ++)
      {
         JurisdictionDict.push({
						pkJurisdictionId : JurisdictionColl[indexJ].pkJurisdictionId,
						Jurisdiction_Name : JurisdictionColl[indexJ].Jurisdiction_Name,
						AdditionalFee : JurisdictionColl[indexJ].AdditionalFee,
						fName : JurisdictionColl[indexJ].fName,
						mName : JurisdictionColl[indexJ].mName,
						lName : JurisdictionColl[indexJ].lName
					})
      }
   }

}              
var dt = { OrderId: hdnOrderId.value, Counties: hdnCounty.value, States: hdnState.value,JurisdictionList: JurisdictionDict };
        $.ajax({
            type: "POST",
            url: "../CommonNewReport/SearchingTieredOrders",
            data: JSON.stringify(dt),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (responseText, ab, jh) {
                alert('Sorry! some error is occured in Tiered process.\n' + responseText.status + ' - ' + ab + ' - ' + jh);                
            },
            success: function (TieredResponse) {},
            beforeSend: function(){ },
            complete: function (data) {
$('#divAjaxLoaderimage').css("display","block");
                                   $('#btnGo').css("background-color","gray");
                                   $('#btnGo').attr("disabled","disabled");
                                   $('#btnGo').css("color","darkgray");
                                    $('#divAjaxLoaderimage').css("display","none");
                                    //document.getElementById('divTiered').style.display='none';
                                    //$("#divTiered").data("kendoWindow").close();
                                    document.getElementById('trHeader').style.display='none';
                                    document.getElementById('trtotal').style.display='none';
                                    document.getElementById('trButtons').style.display='none';
                                    var kendoWindow = $("#divTiered").data("kendoWindow");
                                    kendoWindow.wrapper.css({
                                        width: 700,
                                        height: 250
                                    });
                                    document.getElementById('trMessage').style.display='block';
                                    if(io>0)
                                    {
                                        document.getElementById('msgforCCR').style.display='none';
                                        document.getElementById('msgforFCR').style.display='block';
                                    }
                                    else
                                    {
                                        document.getElementById('msgforCCR').style.display='block';
                                        document.getElementById('msgforFCR').style.display='none';
                                    }


                                    //Success
                                    if(landingPage=="runreport")
                {                       
                    window.location = '../RunReport?Suc=1';                        
                }
                else
                {
                    $.each(TieredResponse, function (key, val) {
                        document.getElementById('trHeader').style.display='none';
                        document.getElementById('trtotal').style.display='none';
                        document.getElementById('trButtons').style.display='none';
                        var kendoWindow = $("#divTiered").data("kendoWindow");
                       
                        kendoWindow.wrapper.css({
                            width: 700,
                            height: 250

                        });

                        document.getElementById('trMessage').style.display='block';
                       if(io>0)
                       {
                            document.getElementById('msgforCCR').style.display='none';
                            document.getElementById('msgforFCR').style.display='block';
                       }
                       else
                       {
                            document.getElementById('msgforCCR').style.display='block';
                            document.getElementById('msgforFCR').style.display='none';
                       }
                    });
                }



            }
        });
           
        return false;
    }
}

function selectunselectCounty() {

    if(!$("#divTieredReponse").is(':hidden'))
    {
    $("#divTieredReponse .chkunchk").each(function () {
        if (document.getElementById("chk_SelectAllCounty").checked) {
            $(this).prop("checked", true);
        }
        else {
            $(this).prop("checked", false);
        }
    });
    }
    else
    {
     $("#popupclscontystate .chkunchk").each(function () {
        if (document.getElementById("chk_SelectAllCounty").checked) {
            $(this).prop("checked", true);
        }
        else {
            $(this).prop("checked", false);
        }
    });  
    }


     
    ChkSingleSelect("Id");
}


function selectunselectCountyCCRTiered()
{
$("#tieredTable .chkunchk").each(function () {
        if (document.getElementById("chk_SelectAllCountyCCRTiered").checked) {
            $(this).prop("checked", true);
        }
        else {
            $(this).prop("checked", false);
        }
    });
    ChkSingleSelect("Id");
}


function selectunselectCountyCCR() {

    $("#divTieredReponse .chkunchk").each(function () {
        if (document.getElementById("chk_SelectAllCountyCCR1").checked) {
           $(this).prop("checked", true);
        }
        else {
            $(this).prop("checked", false);
        }
    });
    ChkSingleSelect("Id");
}




function selectunselectCountyForFCR() {
    $("#divTieredReponse .chkunchk1").each(function () {
        if (document.getElementById("chk_SelectAllCounty").checked) {
            $(this).prop("checked", true);
        }
        else {
            $(this).prop("checked", false);
        }
    });
    ChkSingleSelect("Id");
}

function selectunselectState() {
    $("#divOptionalReponse .chkunchk").each(function () {
        if (document.getElementById("chk_SelectAllStates").checked) {
            $(this).prop("checked", true);
        }
        else {
            $(this).prop("checked", false);
        }
    });
    ChkSingleSelect("Id");
}


function selectunselectCountySCR() {
    $("#divTieredReponse .chkunchk").each(function () {
        if (document.getElementById("chk_SelectAllStates").checked) {
            $(this).prop("checked", true);
        }
        else {
            $(this).prop("checked", false);
        }
    });
    ChkSingleSelect("Id");
}
function ChkSingleSelect(Id) { 
var TotalAuto=0;
        var GrandTotl = 0;
        var tieredTabletotal = 0;
        var optionalTableTolat = 0;
        $("#tieredTable input:checked").each(function (i, item) {
            var checkBoxId = $(item).attr("Id");
            var spanNum = checkBoxId.split("_")
            var spanId = "subTotal_" + spanNum[spanNum.length - 1];
            var spanHtml = $("#" + spanId).html();
            if (spanHtml != null){
             tieredTabletotal = tieredTabletotal + parseFloat(spanHtml.replace('$', ''));
             }
        });

        $("#tieredTableCCr input:checked").each(function (i, item) {
            var checkBoxId = $(item).attr("Id");
            var spanNum = checkBoxId.split("_")
           
            var spanId = "subTotalCCR_" + spanNum[spanNum.length - 1];
            
            var spanHtml = $("#" + spanId).html();
            if (spanHtml != null){
             tieredTabletotal = tieredTabletotal + parseFloat(spanHtml.replace('$', ''));
             }
        });
        


        //console.log(tieredTabletotal);
        $("#OptionTbl input:checked").each(function (i, item) {
            var checkBoxId = $(item).attr("Id");
            var spanNum = checkBoxId.split("_")
            var spanId = "OptionalSubTotal_" + spanNum[spanNum.length - 1];
            var spanHtml = $("#" + spanId).html();
            if (spanHtml != null){
            optionalTableTolat = optionalTableTolat + parseFloat(spanHtml.replace('$', ''));
        }
        });
   
        GrandTotl = optionalTableTolat + tieredTabletotal;
        $("#GrandTotalSpan").html("");
        $("#GrandTotalSpan").html("$"+GrandTotl.toFixed(2));
       $("#popupclscontystate input:checked").each(function (i, item) {
            var checkBoxId = $(item).attr("Id");
            var spanNum = checkBoxId.split("_")
            var spanId = "subTotal_" + spanNum[spanNum.length - 1];
            var spanHtml = $("#" + spanId).html();
            if (spanHtml != null){
            TotalAuto= TotalAuto+ parseFloat(spanHtml.replace('$', ''));
            }
        
        });

         if(!$("#popupclscontystate").is(':hidden'))
         {
         GrandTotalSpanAuto=TotalAuto;
          $("#GrandTotalSpanAuto").html("");
          $("#GrandTotalSpanAuto").html("$"+GrandTotalSpanAuto.toFixed(2));
         }
    }
    function countyOnChanges(dropDown) {
        var checkBoxRef = $(dropDown).parent().parent().find('input:checkbox');
        var checkBoxIdValue = checkBoxRef.attr("id");
        var selectedCounty = $(dropDown).parent().parent().find('.select_County').find('option:selected').text();
        var checkBoxIdValueSplitValue = checkBoxIdValue.split('_');
        checkBoxIdValueSplitValue[1] = selectedCounty;
        var updatedIds = '';
        for (var i = 0; i < checkBoxIdValueSplitValue.length; i++) {
            updatedIds = updatedIds + checkBoxIdValueSplitValue[i] + '_';
        }
        checkBoxRef.attr("id", updatedIds.substring(0, updatedIds.length - 1));
    }

</script>
