﻿<table width="100%" cellpadding="0" cellspacing="0">
   
    <tr>
        <td align="center">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" class="report-table">
                <tr bgcolor="#bbbbbb" height="28px">
                    <td align="left" width="10%">
                        &nbsp;<b>Active</b>
                    </td>
                    
                    <td align="left" width="20%">
                        <b>Package</b>
                    </td>
                    <td align="left" width="15%">
                        <b>Code</b>
                    </td>
                    <td align="left" width="20%">
                        <b>Product Includes</b>
                    </td>
                    <td align="left" style="text-align:left;">
                        <b>Status</b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>        
        <td class="table-repeat-block">
            @if (ViewData["Packages"] != null)
            {
                if ((ViewData["Packages"] as List<Emerge.Data.Proc_GetPackagesWithProductsResult>).Count > 0)
                {
                    foreach (var i in (ViewData["Packages"] as List<Emerge.Data.Proc_GetPackagesWithProductsResult>))
                    {
                <table cellpadding="2"  width="100%"  class="product_Border report-table-inner">
                    <tr>
                        <td class="package_Border" width="10%">
                            @if (i.PackageAccessId != 0)
                            {
                                <input type="checkbox" checked="checked" disabled="disabled" />
                            }
                            else
                            {
                                <input type="checkbox" disabled="disabled" />
                            }
                        </td>
                       
                        <td align="left" class="package_Border" width="20%">
                            @i.PackageDisplayName
                            @if (i.PackageCode == "PTN")
                            {
                                <img id="imgTired" height="12" width="12" style="border: 0px" alt="Tiered2" src="@Url.Content("~/Content/themes/base/images/Tiered2.png")" />
                            }
                        </td>
                        <td align="left" class="package_Border" width="15%">
                            @i.PackageCode
                        </td>
                        <td class="package_Border" style="vertical-align: top; text-align: left;" width="20%">
                        @if(!string.IsNullOrEmpty(i.Products))
                        {
                            string[] ProductNames = i.Products.Split(',');
                            foreach(var prd in ProductNames)
                            {
                            <span>@prd </span> <br />
                            }
                        }
                            @*@{Html.RenderAction("GetReportsInPackage", "Corporate", new { PackageId = i.pkPackageId.ToString() });}*@
                        </td>
                        <td align="left" class="package_Border">
                            @if (i.PackageAccessId != 0)
                            {
                                <img src="../Design2/img/status.png" style="height: 16px;" alt="" />

                            }
                            else
                            {
                                <a href="javascript:void(0);" onclick="GetEmailTemplate('@i.PackageDisplayName');"><img src="../Content/themes/base/images/activate_package.png" alt="" /></a>

                            }
                        </td>
                    </tr>
                    <tr style="display: none;">
                        <td colspan="4">
                            &nbsp;
                        </td>
                        <td align="left">
                        </td>
                    </tr>
                </table>
                    }
                }
            }
        </td>
    </tr>
</table>
