﻿@model Emerge.Models.MyFormModel
@using Emerge.Common;
@{string[] role = new string[0];}
<style type="text/css">
     .CountinueBtn
    {
        background-image: url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "BtnCountinue.jpg")');
        height: 24px;
        width: 78px;
        background-repeat: no-repeat;
    }

    .formstyle
    {
    text-indent: 0px;
    margin-left: 22px;
    margin-top: -13px;
    }
    .UploadBtn
    {
    background-image: url('@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "addDocBtn.png")');
    width: 128px;
    height: 35px;
    background-position: 0;
    background-repeat: no-repeat;
    border:0;
    text-decoration:none;
    background-color: #FAFAFA;
    }

    .desc {
        font-size: 120%;
        margin: 0% 2% 2% 0%;
    }

    .header {
        font-size: 120%;
        margin: 1% 2% 1% 0%;
    }


    .div_main {
        width: 100%;
        height: 30px;
    }

    .HelpHeader {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        background-color: #cccccc;
        color: #3b55d2;
    }

    .HelpNormal {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bold;
        background-color: #ededed;
        color: #00007D;
    }

    .tooltipret {
        display: none;
        background-color: white;
        position: absolute;
        z-index: 9999;
        max-width: 530px;
        -webkit-box-shadow: 0 0 5px #aaa;
        font-size: 12px;
        border-radius: 1px;
        border: 1px solid #767676;
        padding: 2px;
    }

    .chkdesign {
        width: 80%;
    }
      .main-box {
                   border: 1px solid #c1c1c1;
                   width: 100%;
                   margin-top: 15px;
                   margin-bottom:0 !important;
                   padding-bottom: 15px !important;
               }
               #element-box {
                   margin-bottom: 25px;
               }
               .header {
                margin-bottom: 15px !important;
                margin-top:0 !important;
               }
    #content-box {
    margin-bottom: 49px;
}
    .add-doc{
    margin:15px;
    }

    .main-box {
    width: 100% !important;
    margin-top: 14px;
}

</style>

<div id="content-box" style="padding-top: 40px;">
    <div style="display: none" class="padding">
        <div id="toolbar-box" class="tbox">

            <div>
                <div class="toolbar" id="toolbar" style="vertical-align: top">
                    <table width="100%">
                        <tr>
                            <td width="60%">
                                <div style='float: left'>
                                </div>
                            </td>
                            <td width="20%">
                                @Html.HiddenFor(m => m.Message)
                                <div id="divMSG" style="text-align: center;">
                                </div>
                            </td>

                            <td align="right">
                                <div style="margin-right: 15px; margin-top: 10px;">
                                </div>
                                <div id="DivEM" style="display: none;">
                                    @{Html.RenderPartial("../Common/PartialEmergeEdit");}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="header icon-48-user" style="padding: 0px 0px 0px 0px; margin-bottom: 0;">
                    <tr>
                        <td width="60%">
                            <div style='float: left'>
                                <div class="header icon-48-user" style="padding: 0px 0px 0px 55px; width: 100%">
                                    My Forms
                                </div>
                            </div>
                        </td>
                        <td width="20%">
                            @Html.HiddenFor(m => m.Message)
                            <div id="divMSG" style="text-align: center;">
                            </div>
                        </td>

                        <td align="right">
                            <div style="margin-right: 15px">
                                <img id="img1" src="@Url.Content("~/Content/themes/base/Images/EMEditWhell.png")" style="border: none; cursor:pointer;"
                                     onmouseover="showEMBox('Emerge Edit | My Forms')" onmouseout="exit()" alt=""
                                     onclick="GetEmergeEditEmailTemplate('Emerge Edit | My Forms');" />
                            </div>
                            <div id="DivEM" style="display: none;">
                                @{Html.RenderPartial("../Common/PartialEmergeEdit");}
                            </div>
                        </td>
                    </tr>
                </div>

                <div class="clr">
                </div>
            </div>

        </div>
        <div class="clr">
        </div>
        <div id="element-box" class="tempclass">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m">
                <table width="99.9%">
                    @foreach (var ObjCollectionData in Model.Collection)
                    {
                        <tr id="trImages" visible="true">

                            <td style="background-color: #ECF1F8">

                                <p>
                                    <img style="vertical-align:top;" id="imgForm" title="@ObjCollectionData.Title" src="@Url.Content("~/Content/themes/base/Images/file_upload.png")" alt="@ObjCollectionData.Title" />&nbsp;
                                    <a style="text-decoration:underline;" href="DownloadMyForms/?FPathTitle=@ObjCollectionData.Path">
                                        @ObjCollectionData.Title
                                    </a>

                                </p>
                                <p class="formstyle">
                                    @ObjCollectionData.Description
                                </p>

                            </td>
                        </tr>

                    }
                    <tr id="trPdf" visible="false">
                        <td colspan="4"></td>
                    </tr>
                </table>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
    <div class="center-application fixed-margin">


        <div class="main-box">
            <div class="header"><i class="forms"></i>MY Forms </div>
            <div class="clearfix"></div>
            <div class="center-application" id="gridFormResult">
                <div class="Custom Forms row grid-control-ch grid-header-ch">
                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-4 fonts">Forms </div>
                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-4 fonts">Information </div>
                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 fonts"></div>
                    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2 fonts">Download </div>
                </div>
                @foreach (var ObjCollectionData in Model.Collection)
                {

                    <div class="row grid-control-ch">
                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-4 fonts">@ObjCollectionData.Title </div>


                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-4 fonts">
                            @ObjCollectionData.Description
                        </div>
                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 fonts">
                        </div>


                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2 fonts">
                            <a style="text-decoration:underline;"  target="_blank" href="DownloadMyForms/?FPathTitle=@ObjCollectionData.Path">
                                <input type="image" src="../Design2/Img/download.png" id="@ObjCollectionData.pkformId" style="margin-left:17px;">
                            </a>
                        </div>

                    </div>

                }

            </div>
        </div>


        <div class="fixed-bottom">


            <div class="main-box">
                <div class="header clearfix" style="margin: 0">
                    <i class="forms"></i>Custom Forms

                    <button onclick="UploadCustomForm()" type="button" class="btn btn-default pull-right add-doc">Add Documents</button>

                </div>
                <div class="clearfix"></div>
                <div class="center-application">

                    @if (Session["UserRoles"] != null)
                    {
                        role = (string[])(Session["UserRoles"]);
                        if (role.Contains("CorporateManager"))
                        {

                        }
                    }

                </div>



                @foreach (var ObjCustomFormCollectionData in Model.CustomFormCollection)
                {
                    <div class="row grid-control-ch">
                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-4 fonts">@ObjCustomFormCollectionData.Title </div>


                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-4 fonts">
                            @ObjCustomFormCollectionData.Description
                        </div>
                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 fonts"></div>


                        <div class="col-xs-12 col-sm-1 col-md-1 col-lg-2 fonts">
                            <a style="text-decoration:underline;" href="DownloadMyForms/?FPathTitle=@ObjCustomFormCollectionData.Path">
                                <input type="image" src="../Design2/Img/download.png" id="@ObjCustomFormCollectionData.PkCustomFormId">
                            </a>
                        </div>

                    </div>
                    
                    
                    
@*<div class="row grid-control-ch">
                        <div class="col-lg-12">
                            <p>
                                <img id="imgCustomForm" style="vertical-align:top;" title="@ObjCustomFormCollectionData.Title" src="@Url.Content("~/Content/themes/base/Images/file_upload.png")" alt="@ObjCustomFormCollectionData.Title" />
                                &nbsp;
                                <a style="text-decoration:underline;" href="DownloadCustomForms/?FPathTitle=@ObjCustomFormCollectionData.Path">
                                    @ObjCustomFormCollectionData.Title
                                </a>

                            </p>
                            <p class="formstyle">
                                @ObjCustomFormCollectionData.Description
                            </p>

                        </div>
                    </div>*@

                }
                @*<table width="99.9%" class="">
                        @foreach (var ObjCustomFormCollectionData in Model.CustomFormCollection)
                        {
                            <tr id="trImages1" visible="true">

                                <td style="background-color: #ECF1F8">


                                    <p>
                                        <img id="imgCustomForm" style="vertical-align:top;" title="@ObjCustomFormCollectionData.Title" src="@Url.Content("~/Content/themes/base/Images/file_upload.png")" alt="@ObjCustomFormCollectionData.Title" />
                                        &nbsp;
                                        <a style="text-decoration:underline;" href="DownloadCustomForms/?FPathTitle=@ObjCustomFormCollectionData.Path">
                                            @ObjCustomFormCollectionData.Title
                                        </a>

                                    </p>
                                    <p class="formstyle">
                                        @ObjCustomFormCollectionData.Description
                                    </p>



                                </td>
                            </tr>

                        }
                        <tr id="trPdf" visible="false">
                            <td colspan="4"></td>
                        </tr>
                    </table>*@


            </div>

        </div>



        <div class="clr">
        </div>


    </div>



</div>

<div id="DivCustomForm" style="visibility: hidden; display: none;">
    @using (Html.BeginForm("SaveCustomFormDetails", "Corporate", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table width="100%" border="0" style="background-color: #ffffff; display: block; padding-left: 45px;">
            <tr>
                <td align="left" colspan="2" style="font-weight: bold">Please upload the custom forms. The Custom Forms must be in PDF / Doc format.
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 5px;"></td>
            </tr>
            <tr>
                <td width="32%" style="text-align: right;">Description : 
                </td>
                <td style="text-align: left; padding-left: 2px;">
                    @Html.TextBoxFor(m => m.CustomFormDescription)
                    @Html.ValidationMessageFor(m => m.CustomFormDescription)
                </td>

            </tr>
            <tr>
                <td colspan="2" style="height: 5px;"></td>
            </tr>
            <tr>

                <td style="text-align: right;">Document Title : 
                </td>
                <td style="text-align: left; padding-left: 2px;">
                    <input type="hidden" value="Custom Forms" name="txtDocumentTitle" id="txtDocumentTitle" />
                    <input type="text" value="Custom Forms" name="txtDocumentName" id="txtDocumentName" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 5px;"></td>
            </tr>
            <tr>
                <td style="text-align: right; vertical-align: top;">Upload Document : </td>
                <td style="text-align: left; vertical-align: top; padding-left: 2px;">@Html.TextBoxFor(m => m.PDFfileName, new { type = "file" })
                    @Html.ValidationMessageFor(m => m.PDFfileName)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 5px;"></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" onclick="return checksubmit()" value="Continue" class="btn btn-primary" />
                </td>
            </tr>
        </table>
    }
</div>
<script type="text/javascript" src="~/Design2/js/jquery.js"></script>
<script type="text/javascript" src="~/Design2/js/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="~/Design2/jquery/jquery-select-menu.js"></script>
<script type="text/javascript" src="~/Design2/jquery/Selectyze.jquery.js"></script>

<link href="@Url.Content("~/Design2/Css/main-bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design2/Css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design2/Css/Selectyze.jquery.css")" rel="stylesheet" type="text/css" />


<script src="@Url.Content("~/Design2/Js/bootstrap-dropdown.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Design2/Js/bootstrap-min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Design2/Js/a-doc.js")" type="text/javascript"></script>
<script src="~/Design2/js/css_browser_selector.js" type="text/javascript"></script>





<link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
<link href="@Url.Content(CommonPaths.ContentPath + "CompressedCombined(Admin).css?v=2")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Json2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=19")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-online-1.6.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>


<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet" type="text/css" />




<link href="//assets.zendesk.com/external/zenbox/v2.6/zenbox.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<script type="text/javascript">
    GetResult();

    $(document).ready(function () {

        var ToolTip = setInterval(function () {
            if (document.readyState == "complete") {
                $('.simpleTooltip2').hover(function () {
                    var title = $(this).attr('name2'); var name = $(this).attr('name');
                    $('<table id="Table2" cellpadding="0" class="HelpTable tooltipret" cellspacing="0" width="530px"><tr><td align="left" style="height:20px;width:10px;" class="HelpHeader"><p align=\"justify\" class=\"header\">' + title + '</p></td></tr><tr><td style="height:20px;" class="HelpNormal" align="left" ><p align=\"justify\" class=\"desc\">' + name + '</p></td></tr></td></tr></table>')
                    .appendTo('.tbox').fadeIn('slow');
                }, function () {
                    $('.tooltipret').remove();
                }).mousemove(function (e) {
                    if ($(this).hasClass("tempclass_4") || $(this).hasClass("tempclass_3")) {
                        var mousex = e.pageX - 540; var mousey = e.pageY - 60;
                    }
                    else { var mousex = e.pageX + 20; var mousey = e.pageY - 60; }
                    $('.tooltipret').css({ top: mousey, left: mousex })
                    $(".tooltipret").css("display:block;");
                });
                clearInterval(ToolTip);
            }
        }, 10);


    });


    function tooltipLiveRunner1(productname, productdesc) {
        if (!document.getElementById('tooltip'))
            newelement('tooltip');
        var lixlpixel_tooltip = document.getElementById('tooltip');
        var tableStru = "<table id='Table2' cellpadding='0' style='border:1px solid gray;' class='HelpTable' cellspacing='0' width='250px'>";
        tableStru += "<tr>";
        tableStru += "<td align='left' style='height:20px;width:10px;' class='HelpHeader'>";
        tableStru += productname + "</td>";
        tableStru += "</tr>"; tableStru += "<tr>";
        tableStru += "<td style='height:20px;Background-color:#ffffff;padding:0px 5px 5px 5px;' class='HelpNormal' align='left'><p>";
        tableStru += '<div style="font-size:10px;">' + productdesc + '</div>';
        tableStru += "</p></td></tr>";
        tableStru += "</td></tr></table>";
        lixlpixel_tooltip.innerHTML = tableStru;
        lixlpixel_tooltip.style.display = 'block';
        document.onmousemove = getmouseposition;
    }

    function UploadCustomForm() {



        document.getElementById("DivCustomForm").style.visibility = "visible";
        document.getElementById("DivCustomForm").style.display = "block";

        var windowOpen = $("#DivCustomForm").kendoWindow({
            actions: ["Close"],
            draggable: true,
            modal: true,
            resizable: true,
            title: "Upload Custom Form",
            height: "185px",
            width: "600px"

        }).data("kendoWindow");

        windowOpen.center();
        windowOpen.open();
        $('#txtDocumentName').attr("disabled", true);
        $('#txtDocumentName').val("Custom Form");
    }

    function GetResult() {
        var divMSG = document.getElementById('divMSG');
        var strResult = document.getElementById('Message');
        if (strResult != 'null' || strResult.value != '') {
            divMSG.style.display = "block";
            divMSG.innerHTML = strResult.value;
        }
    }



    function checksubmit() {

        var divCustomFormDescription = document.getElementById('CustomFormDescription').value;

        var divCustomPDFfileName = document.getElementById('PDFfileName').value;

        if (divCustomFormDescription != "" && divCustomPDFfileName != "") {
            return true;
        }
        else {
            alert("Please enter Description and Upload Information");

            return false;

        }

    }



</script>
