﻿<div id="clr_start" class="clr">
</div>
<div id="element-box">
    <div class="t">
        <div class="t">
            <div class="t">
            </div>
        </div>
    </div>
    <div class="m">
        <div id="divbillpdf">
            <div id="PartialContent">
                @Html.Partial("../Common/PartialSalesReport")
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
    <div class="b" id="bottom">
        <div class="b">
            <div class="b">
            </div>
        </div>
    </div>
</div>
<div id="clr_End" class="clr">
</div>
<script type="text/javascript">    
    function loadReport() {
        $("#dvLoader").css("display", "block");
        if('@Session["Admin"]'==null)
        {
        location.href='../Default/LogOut';
        }
       // loadOpenInvoices();
    $('#PartialContent').load('@Url.Action("PartialSalesReport", "Office")', {
            Month: $("#ddlMonth").val(),
            Year: $("#ddlYear").val(),
            ReferenceNo: $("#ddlCompanyReferenceNo").val(),
            CompanyUserId: $("#ddlUsers").val(),
            LocationId: $("#ddlLocation").val(),
            SalesRep: $("#ddlAccountManager").val(),
            CompanyId: $("#ddlCompany").val(),
            Status: $("#ddlStatus").val()
        },
        function (responseText, textStatus, XMLHttpRequest) {
            if (textStatus == "success") {
                $("#dvLoader").css("display", "none");
                //alert("hi");
            }
            if (textStatus == "error") {
               // alert("error");
            }
        });
    }
</script>
