﻿@model Emerge.Models.UsersModel
<style type="text/css">
    input {
        margin-right: 10px;
    }

    .k-dropdown {
        margin-right: 10px;
        width: 224px;
        float: left;
    }

    .successmsg {
        padding: 0 0 0 20px;
        border: 0px;
        color:#fff !important;
    }

    .k-invalid-msg, .k-textbox {
        float: left;
    }
         .main-box {
    border: 1px solid #c1c1c1;
    width: 100%;
    margin-top: 15px;
    padding-bottom: 15px !important;
    margin-bottom:0 !important;
}
.margin-bottom-50
{
    margin-bottom: 50px !important;
    }
    input[type="password"]
    {
         height: 34px !important;
       }
</style>
@using (Html.BeginForm("SaveUserDetailsById", "Corporate", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="center-application fixed-margin margin-bottom-50">
        <div class="main-box" style=" margin-top: 60px;">
            <div class="header" style="">
                <table style="width: 100%">
                    <tr>
                        <td style="width: 40%; text-align: left;"><i class="profile"></i><font color="white">User</font></td>
                        <td style="width: 40%; text-align: left;">
                            <div id="divMSG" style='text-align: left; font-size: 12px; padding-bottom: 5px;'>@Html.HiddenFor(m => m.strResult) </div>
                        </td>
                        <td style="width: 5%; text-align: center; float: right; margin-right: 45px;">
                            <button type="submit" id="Saveprofile" onclick=" return CheckValidations();" class="btn btn-default" style="margin-top:-10px;" data-toggle="modal" data-target="#myModal">Save </button>
                            @*<input type="button" value="Emerge Edit" id="EmergeEdits" onclick="EmergeEdit();" class="btn btn-default" data-toggle="modal" data-target="#myModal"/>*@
                        </td>
                        <td style="width: 6%; text-align: left;">
                            <button type="button" id="Back" onclick="history.back();" class="btn btn-default" data-toggle="modal" style="margin-top: -5px; float: right; margin-right: 10px;" data-target="#myModal">Back </button>
                        </td>
                    </tr>
                </table>
                <div class="clear-sm"></div>
            </div>
            <div class="clearfix"></div>
            <div class="width20">
                <div class="image-area">

                    @Html.HiddenFor(m => m.OldUserImage)
                    <img src="@Model.ViewImage" alt="User Image" title="User Image" width="150px" height="150px" />
                </div>
                <div style="padding-left: 38px;">@Html.TextBoxFor(m => m.UserImage, new { type = "file" })</div>
            </div>

            <div class="width38">
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name"><span class="star">*</span>First Name :</label>
                    <div class="col-md-6">
                        <input id="FirstName" name="FirstName" type="text" value="@Model.FirstName" placeholder=" " class="form-control">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name"><span class="star">*</span>Last Name :</label>
                    <div class="col-md-6">
                        <input id="LastName" name="LastName" type="text" value="@Model.LastName" placeholder=" " class="form-control">
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name"><span class="star">*</span>Email / User Name :</label>
                    <div class="col-md-6">
                        @Html.HiddenFor(m => m.OldUserEmail)@Html.HiddenFor(m => m.pkCompanyUserId)
                        @Html.HiddenFor(m => m.fkUserId)@Html.HiddenFor(m => m.OldUserPassword)
                        <input id="UserEmail" name="UserEmail" type="text" value="@Model.UserEmail" placeholder=" " class="form-control">
                    </div>
                    <div class="clearfix"></div>
                </div>



                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name"><span class="star">*</span>State :</label>
                    <div class="col-md-6">

                        @Html.HiddenFor(m => m.fkStateId, new { id = "hdfkStateId" })
                        <select id="fkStateId" name="fkStateId" onchange="bindcounty();" value="@Model.fkStateId" class="form-control" validationmessage="Please select State"></select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">County :</label>
                    <div class="col-md-6">
                        <select id="fkCountyId" class="form-control" value="@Model.fkCountyId" name="fkCountyId"></select>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="width38 pull-right">
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name"><span class="star">*</span>Password :</label>
                    <div class="col-md-6">
                        <input id="UserPassword" name="UserPassword" type="text" value="@Model.UserPassword" placeholder=" " class="form-control">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">Address 1 :</label>
                    <div class="col-md-6">
                        <input id="UserAddressLine1" name="UserAddressLine1" type="text" value="@Model.UserAddressLine1" placeholder=" " class="form-control">
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">Address 2 :</label>
                    <div class="col-md-6">
                        <input id="UserAddressLine2" name="UserAddressLine2" type="text" value="@Model.UserAddressLine2" placeholder=" " class="form-control">
                    </div>
                    <div class="clearfix"></div>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">Zipcode :</label>
                    <div class="col-md-6">
                        <input id="ZipCode" name="ZipCode" type="text" value="@Model.ZipCode" placeholder=" " class="form-control">
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4" for="name">Phone Number : </label>
                    <div class="col-md-6">
                        <input id="PhoneNo" name="PhoneNo" onmouseout="ValidatePhone();" type="text" value="@Model.PhoneNo" placeholder=" " class="form-control" pattern="((\(\d{3}\) ?)|(\d{3}-))?\d{3}-\d{4}" validationmessage="Please enter valid Phone No" onkeydown="javascript:backspacerDOWN(this,event);" onkeyup="javascript:backspacerUP(this,event);">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>



        <div class="main-box" style="width:100%;">
            <div class="header">
                <i class="location"></i><font color="white">Location</font>

            </div>
            <div class="clearfix"></div>
            <div class="width38">
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4 text-left" for="name">Company :</label>
                    <div class="col-md-6" style="width:310px;">
                        @Html.HiddenFor(m => m.PkCompanyId, new { id = "hdPkCompanyId" })
                        <select id="PkCompanyId" name="PkCompanyId" onchange="bindlocation();" disabled="disabled" required validationmessage="Please select Company" class="form-control" value="@Model.PkCompanyId"></select>
                        @* @{string[] role = new string[0];}
                        @if (Session["UserRoles"] != null)
                        {
                            role = (string[])(Session["UserRoles"]);
                            if (role.Contains("SystemAdmin"))
                            {
                            @Html.HiddenFor(m => m.PkCompanyId, new { id = "hdPkCompanyId" })
                            <select id="PkCompanyId" name="PkCompanyId" required validationmessage="Please select Company"  class="form-control" value="@Model.PkCompanyId" >
                            </select>
                            <span class="k-invalid-msg" data-for="PkCompanyId"></span>
                            }
                            else
                            {
                            @Html.HiddenFor(m => m.PkCompanyId, new { id = "hdPkCompanyId" })
                            <select id="PkCompanyId" name="PkCompanyId" required validationmessage="Please select Company"  class="form-control" value="@Model.PkCompanyId" disabled="disabled" >
                            </select>
                            <span class="k-invalid-msg" data-for="PkCompanyId"></span>
                            }
                        }*@

                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>

            <div class="width38 pull-right">
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4 text-left" for="name">Location :</label>
                    <div class="col-md-6" style="width:310px;">
                        @Html.HiddenFor(m => m.fkLocationId, new { id = "hdfkLocationId" })
                        <select id="fkLocationId" value="@Model.fkLocationId" name="fkLocationId" class="form-control"></select>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>

        <div class="main-box" style="width:100%;">
            <div class="header">
                <i class="restriction"></i><font color="white">Restrictions</font>

            </div>
            <div class="clearfix"></div>
            <div class="width38">
                <div class="form-group">
                    <label class="col-md-4 control-label help-col-md4 text-left" for="name">Status :</label>
                    <div class="col-md-6" style="width:310px;">
                        @Html.HiddenFor(m => m.RoleId, new { id = "hdRoleId" })
                        <select id="RoleId" name="RoleId" value="@Model.RoleId" class="form-control"></select>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>


            <div class="clearfix"></div>
        </div>

    </div>
}
<script type="text/javascript" src="~/Design2/js/jquery.js"></script>
<script type="text/javascript" src="~/Design2/js/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="~/Design2/jquery/jquery-select-menu.js"></script>
<script type="text/javascript" src="~/Design2/jquery/Selectyze.jquery.js"></script>

<link href="@Url.Content("~/Design2/Css/main-bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design2/Css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design2/Css/Selectyze.jquery.css")" rel="stylesheet" type="text/css" />


<script src="@Url.Content("~/Design2/Js/bootstrap-dropdown.js")" type="text/javascript"></script>
@*<script src="@Url.Content("~/Design2/Js/bootstrap-min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Design2/Js/a-doc.js")" type="text/javascript"></script>
<script src="~/Design2/js/css_browser_selector.js" type="text/javascript"></script>





<link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Json2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=19")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-online-1.6.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>


<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet" type="text/css" />




<link href="//assets.zendesk.com/external/zenbox/v2.6/zenbox.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<script type="text/javascript">

    function CheckValidations() {

        $("#hdRoleId").val($('#RoleId option:selected').val());
        $("#hdPkCompanyId").val($('#PkCompanyId option:selected').val());

        var fname = $("#FirstName").val();
        var State = $("#fkStateId").val();
        var Lname = $("#LastName").val();
        var pwd = $("#UserPassword").val();
        CheckPasswordLength();
        ValidatePhone();
        var RetypeUserPassword = $("#RetypeUserPassword").val();

        if (fname == "" || Lname == "" || State == "" || pwd == "") {
            alert("Please fill the required fields");
            return false;
        }
        else {
            return true;
        }
    }

    function CheckPasswordLength() {
        var UserPassword = $("#UserPassword").val();
        if (UserPassword.length < 6) {
            alert("Password Length should be greater than 6");
            return false;
        }
    }

    function ValidatePhone() {
        var PhoneNo = $("#PhoneNo").val();
        if (PhoneNo != '') {
            if (PhoneNo.length < 14) {
                alert("Please enter phone number in correct format  (xxx) xxx-xxxx) ");
                return false;
            }
        }
    }
    GetResult();

    function GetResult() {

        var divMSG = document.getElementById('divMSG');
        var strResult = document.getElementById('strResult');

        if (strResult != 'null' || strResult.value != '') {
            divMSG.style.display = "block";
            divMSG.innerHTML = strResult.value;
        }
    }

</script>
<script type="text/javascript">


    $(document).ready(function () {

        //bind State values in dropdownlist
        $.ajax({
            type: "post",
            url: '@Url.Action("BindStateKendo", "Corporate")',
            data: {},
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $.each(data, function (key, value) {
                    $('#fkStateId').append($("<option></option>").val(value.pkStateId).html(value.StateName));
                });
                selecstate();
            },
            error: function (err) {
            }
        });

        function selecstate() {
            var stateid = $("#hdfkStateId").val();
            $('select[id^="fkStateId"] option[value="' + stateid + '"]').attr("selected", "selected");
        }


        var stateid = $("#hdfkStateId").val();
        $.ajax({
            type: "post",
            data: { 'StateId': stateid },
            url: '@Url.Action("GetCountiesByStateId", "Corporate")',
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    $('#fkCountyId').append($("<option></option>").val(value.pkCountyId).html(value.CountyName));
                });
            },
            error: function (err) {

                console.log(err);
            }

        });

        //Location State values in dropdownlist
        var Pkcompanyid = $("#hdPkCompanyId").val();// document.getElementById('PkCompanyId');
        $("#fkCountyId").css("display", "block");
        $.ajax({
            type: "post",
            data: { 'Companyid': Pkcompanyid },
            url: '@Url.Action("BindLocationsByCompanyId", "Corporate")',
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    $('#fkLocationId').append($("<option></option>").val(value.pkLocationId).html(value.City));
                });
                var locationid = $("#hdfkLocationId").val();
                $('select[id^="fkLocationId"] option[value="' + locationid + '"]').attr("selected", "selected");
            },
            error: function (err) {
            }

        });

        // Bind company
        $.ajax({
            type: "post",
            url: '@Url.Action("BindCompanyKendo", "Corporate")',
            data: {},
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
             
                $.each(data, function (key, value) {
                    $('#PkCompanyId').append($("<option></option>").val(value.pkCompanyId).html(value.CompanyName));
                });
                var companyid = $("#hdPkCompanyId").val();
                $('select[id^="PkCompanyId"] option[value="' + companyid + '"]').attr("selected", "selected");
            },
            error: function (err) {
            }
        });



        //roles State values in dropdownlist
        $.ajax({
            type: "post",
            data: {},
            url: '@Url.Action("BindStatusKendo", "Corporate")',
            dataType: "json",

            success: function (data) {
                $.each(data, function (key, value) {
                    $('#RoleId').append($("<option></option>").val(value.RoleId).html(value.Description));
                });
                var roleid = $("#hdRoleId").val();
                $('select[id^="RoleId"] option[value="' + roleid + '"]').attr("selected", "selected");
            },
            error: function (err) {
            }

        });
    });



    function bindcounty() {
        $('#fkCountyId').empty();
        var fkStateId = $('#fkStateId option:selected').val();
        $('#hdfkStateId').val(fkStateId);
        $.ajax({
            type: "post",
            data: { 'StateId': fkStateId },
            url: '@Url.Action("GetCountiesByStateId", "Corporate")',
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    $('#fkCountyId').append($("<option></option>").val(value.pkCountyId).html(value.CountyName));
                });
            },
            error: function (err) {

                console.log(err);
            }

        });
    }



   @* function bindroles() {
        $('#RoleId').empty();
        $.ajax({
            type: "post",
            data: {},
            url: '@Url.Action("BindStatusKendo", "Corporate")',
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    $('#RoleId').append($("<option></option>").val(value.RoleId).html(value.Description));
                });
            },
            error: function (err) {

                console.log(err);
            }

        });
    }*@

    function bindlocation() {
     
        $('#fkLocationId').empty();
        var Pkcompanyid = $('#PkCompanyId option:selected').val();
        //alert(Pkcompanyid);// document.getElementById('PkCompanyId');
        $("#fkCountyId").css("display", "block");
        $.ajax({
            type: "post",
            data: { 'Companyid': Pkcompanyid },
            url: '@Url.Action("BindLocationsByCompanyId", "Corporate")',
            dataType: "json",
            success: function (data) {
                $.each(data, function (key, value) {
                    $('#fkLocationId').append($("<option></option>").val(value.pkLocationId).html(value.City));
                });
            },
            error: function (err) {

                console.log(err);
            }

        });
    }


    function TaleoWebApiKeyGenrate() {
    
        var UserEmail = $("#UserEmail").val();
        $.post('@Url.Action("TaleoWebApiKeyGenrate", "Corporate")', { UserEmail: UserEmail }, function (data) {
            if (data.Fname != null) {


            }
        })

    }

</script>



@*<script type="text/javascript">
        GetResult();
        function CheckValidations() {
            var validator = $("#tickets").kendoValidator().data("kendoValidator");

            if (validator.validate()) {
                return true;
            } else {
                return false;
            }

        }
        function CheckPasswordLength() {
            var RetypeUserPassword = $("#RetypeUserPassword").val();
            var UserPassword = $("#UserPassword").val();

            if (UserPassword.length < 6 || RetypeUserPassword.length < 6) {
                return false;
            }
        }

        function ValidatePhone() {
            var PhoneNo = $("#PhoneNo").val();
            if (PhoneNo.length < 14) {
                return false;
            }
        }
        function GetResult() {

            var divMSG = document.getElementById('divMSG');
            var strResult = document.getElementById('strResult');

            if (strResult != 'null' || strResult.value != '') {
                divMSG.style.display = "block";
                divMSG.innerHTML = strResult.value;
            }
        }


    </script>
    <script type="text/javascript">

        $(document).ready(function () {

            $("#fkStateId").kendoDropDownList({

                dataTextField: "StateName",
                dataValueField: "pkStateId",
                optionLabel: "Select",
                dataSource: {
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: '@Url.Action("BindStateKendo", "Corporate")',
                            type: "POST"
                        }
                    }
                },
                change: function (e) {
                    $("#hdfkStateId").val(this.value());

                    var stateid = this.value();
                    $("#fkCountyId").css("display", "block");
                    $("#fkCountyId").kendoDropDownList({
                        optionLabel: "Select",
                        dataTextField: "CountyName",
                        dataValueField: "pkCountyId",

                        dataSource: {
                            serverFiltering: true,

                            transport: {
                                read: {
                                    url: '@Url.Action("GetCountiesByStateId", "Corporate")',
                                    data: { StateId: stateid },
                                    type: "POST"
                                }
                            }
                        },
                        change: function (e) {
                            $("#hdfkCountyId").val(this.value());

                        }

                    });
                }
            });
            var fkStateId = $("#hdfkStateId").val();
            var ddlState = $("#fkStateId").data("kendoDropDownList");
            ddlState.value(fkStateId);


        });

        $(document).ready(function () {
            var fkStateId = $("#hdfkStateId").val();

            $("#fkCountyId").css("display", "block");
            $("#fkCountyId").kendoDropDownList({
                dataTextField: "CountyName",
                dataValueField: "pkCountyId",
                optionLabel: "Select",
                dataSource: {
                    serverFiltering: true,

                    transport: {
                        read: {
                            url: '@Url.Action("GetCountiesByStateId", "Corporate")',
                            data: { StateId: fkStateId },
                            type: "POST"
                        }
                    }
                },
                change: function (e) {
                    $("#hdfkCountyId").val(this.value());

                }
            });
            var fkCountyId = $("#hdfkCountyId").val();
            var ddlCounty = $("#fkCountyId").data("kendoDropDownList");
            ddlCounty.value(fkCountyId);
        });



        $(document).ready(function () {
            $("#PkCompanyId").kendoDropDownList({
                dataTextField: "CompanyName",
                dataValueField: "pkCompanyId",
                optionLabel: "Select",
                dataSource: {
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: '@Url.Action("BindCompanyKendo", "Corporate")',
                            type: "POST"
                        }
                    }
                },
                change: function (e) {
                    $("#hdPkCompanyId").val(this.value());

                    var companyid = this.value();

                    $("#fkLocationId").css("display", "block");

                    $("#fkLocationId").kendoDropDownList({

                        dataTextField: "City",
                        dataValueField: "pkLocationId",
                        optionLabel: "Select",
                        dataSource: {
                            serverFiltering: true,

                            transport: {
                                read: {
                                    url: '@Url.Action("BindLocationsByCompanyId", "Corporate")',
                                    data: { CompanyId: companyid },
                                    type: "POST"
                                }
                            }
                        },
                        change: function (e) {
                            $("#hdfkLocationId").val(this.value());

                        }
                    });
                }
            });
            var PkCompanyId = $("#hdPkCompanyId").val();
            var ddlCompany = $("#PkCompanyId").data("kendoDropDownList");
            ddlCompany.value(PkCompanyId);

        });
        $(document).ready(function () {
            var PkCompanyId = $("#hdPkCompanyId").val();
            $("#fkLocationId").css("display", "block");

            $("#fkLocationId").kendoDropDownList({

                dataTextField: "City",
                dataValueField: "pkLocationId",
                optionLabel: "Select",
                dataSource: {
                    serverFiltering: true,

                    transport: {
                        read: {
                            url: '@Url.Action("BindLocationsByCompanyId", "Corporate")',
                            data: { CompanyId: PkCompanyId },
                            type: "POST"
                        }
                    }
                },
                change: function (e) {
                    $("#hdfkLocationId").val(this.value());

                }
            });
            var fkLocationId = $("#hdfkLocationId").val();
            var ddlLocation = $("#fkLocationId").data("kendoDropDownList");
            ddlLocation.value(fkLocationId);
        });


        $(document).ready(function () {
            var companyId = $("#hdPkCompanyId").val();
            $("#RoleId").kendoDropDownList({
                dataTextField: "Description",
                dataValueField: "RoleId",
                optionLabel: "Select",
                dataSource: {
                    serverFiltering: true,
                    transport: {
                        read: {
                            url: '@Url.Action("BindStatusForEditUsers", "Corporate")',
                            data: { PkCompanyId: companyId },
                            type: "POST"
                        }
                    }
                },
                change: function (e) {
                    $("#hdRoleId").val(this.value());

                }
            });
            var RoleId = $("#hdRoleId").val();
            var ddlStatus = $("#RoleId").data("kendoDropDownList");
            ddlStatus.value(RoleId);
        });


    </script>*@
