﻿<link href="@Url.Content("~/Content/CSS/PrintReport.css?v=1")" rel="stylesheet" type="text/css" media="print" />
<link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" media="print" />
@model Emerge.Models.ViewReportModel
<div id="popupEmailContainer" style="display: none;">
    <div id="popupEmail" style="width: 320px;">
        <div id="tabstrip">
            <ul class="tab_ul">
                <li id="liSave" class="k-state-active">Save </li>
                <li id="liPrint">Print </li>
            </ul>
            <div id="dvSave" style="">
                <table cellpadding="0" cellspacing="0" width="99%" id="tblSave">
                    <tr>
                        <td colspan="3">
                            @{
                                string id = (!string.IsNullOrEmpty(Request.QueryString["_OId"])) ? Request.QueryString["_OId"] : string.Empty;



                                string taleoid = (!string.IsNullOrEmpty(Convert.ToString(@ViewBag.TaleoOrderid))) ? Convert.ToString(@ViewBag.TaleoOrderid) : string.Empty;

                                if (@id == string.Empty)
                                {
                                    id = (!string.IsNullOrEmpty(Request.QueryString["_AdditionalOrderId"])) ? Request.QueryString["_AdditionalOrderId"] : string.Empty;
                                }

                                if (@id == string.Empty)
                                {
                                    if (@taleoid == string.Empty)
                                    {


                                    }

                                    else
                                    {
                                        // change for taleo additional report order id is not matched from request string
                                        if (Convert.ToString(@ViewBag.TaleoOrderid) == string.Empty)
                                        {

                                        }
                                        else
                                        {
                                            id = Convert.ToString(@ViewBag.TaleoOrderid);
                                        }
                                    }
                                }


                                <input id="hdOID" type="hidden" value="@id" />

                            }
                            <input id="hdUserName" type="hidden" value="@System.Web.HttpContext.Current.User.Identity.Name" />
                        </td>
                    </tr>
                    <tr>
                        <td align="right" valign="middle" width="20%">
                            <img alt="Save" src="../Content/themes/base/images/save_btn_center.png" style="padding-top: 5px;" />
                            &nbsp;
                        </td>
                        <td align="left">
                            <input type="button" id="btnSaveReport" class="btn btn-primary" value="Save" onclick="return SelectReport('SV');" />
                        </td>
                        <td align="left">
                            <input type="text" id="txtSaveReport" style="width: 142px;" value="@Model.ApplicantName" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <span id="reqtxtSave" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
                                  style="display: none;"><span class="k-icon k-warning"></span>Enter file name</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="dvPrint" style="">
                <table cellpadding="0" cellspacing="0" width="99%" id="tblPrint">
                    <tr></tr>
                    <tr>
                        <td valign="middle" align="right" width="40%">
                            <img alt="Print" src="../Content/themes/base/images/print_btn_center.png" style="padding-top: 5px;" />
                        </td>
                        <td style="width: 20px"></td>
                        <td align="left">
                            <input id="btnPrint" type="button" value="Print" class="btn btn-primary" onclick="printCurrentPage();" />

                        </td>
                        <td align="left">
                            <input type="text" id="txtPrint" style="width: 142px; display: none;" />
                        </td>
                    </tr>
                    <tr></tr>
                </table>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("SaveFile", "Common", FormMethod.Post, new { id = "frmSaveFile" }))
{
    <input id="hdFile" name="hdFile" type="hidden" />
    <input id="hdData" name="hdData" type="hidden" />
}
<script type="text/javascript">

    function myfunction() {
        jQuery.fn.printMe = function (options) {
            // Setup options
            var settings = $.extend({
                // Defaults options.
                path: [],
                title: "",
                head: false
            }, options);

            // Set the properties and run the plugin
            return this.each(function () {

                // Store the object
                var $this = $(this);

                var w = window.open();
                w.document.write("<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">");
                w.document.write("<html>");
                w.document.write("<head>");
                w.document.write("<meta charset='utf-8'>");

                // Add the style sheets
                for (i in settings.path) {
                    w.document.write('<link rel="stylesheet" href="' + settings.path[i] + '">');
                }
                // Close the head
                w.document.write('</head><body>');
                // Add a header when the title not is empty
                if (settings.title != "")
                    w.document.write("<h1>" + settings.title + "<\/h1>");

                // Add a content to print
                w.document.write($this.html());
                w.document.write("<script type=\"text/javascript\">function closeme(){window.close();}setTimeout(closeme,50);window.print();<\/script></body></html>");
                w.document.close();
            });
        }
    }


    $(document).ready(function () {
        jQuery.fn.printMe = function (options) {
            // Setup options
            var settings = $.extend({
                // Defaults options.
                path: [],
                title: "",
                head: false
            }, options);

            // Set the properties and run the plugin
            return this.each(function () {

                // Store the object
                var $this = $(this);

                var w = window.open();
                w.document.write("<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">");
                w.document.write("<html>");
                w.document.write("<head>");
                w.document.write("<meta charset='utf-8'>");

                // Add the style sheets
                for (i in settings.path) {
                    w.document.write('<link rel="stylesheet" href="' + settings.path[i] + '">');
                }
                // Close the head
                w.document.write('</head><body>');
                // Add a header when the title not is empty
                if (settings.title != "")
                    w.document.write("<h1>" + settings.title + "<\/h1>");

                // Add a content to print
                w.document.write($this.html());
                w.document.write("<script type=\"text/javascript\">function closeme(){window.close();}setTimeout(closeme,50);window.print();<\/script></body></html>");
                w.document.close();
            });
        }

    });
    function printCurrentPage() {

        var sp = window.location.href.split('=');

        //alert(sp[0]);
        var OrderStatus = "ViewReports";
        //alert(sp[0].indexOf("ViewReports"));

        if ((sp[0].indexOf("ViewReports")) > -1) {
            OrderStatus = "ViewReports";
        }

        else if ((sp[0].indexOf("UserView_ViewReportReview")) > -1) {
            OrderStatus = "UserView_ViewReportReview";
        }
        else if ((sp[0].indexOf("UserView_ViewReport")) > -1) {
            OrderStatus = "UserView_ViewReport";
        }
        else if ((sp[0].indexOf("ViewReportReview")) > -1) {
            OrderStatus = "ViewReportReview";
        }


        else {
            OrderStatus = "ViewReports";
        }
        //alert(OrderStatus);

        var filename = "";
        var option = "pt";
        window.open('../processprinting.aspx?_o=' + sp[1] + '&sp=' + option + '&OrderStatus=' + OrderStatus + '&fn=' + filename + '   ', 'mywindow', 'location=0,status=0,scrollbars=0,width=600,height=500,left=0,top=0');

    }


    function SelectReport(option) {
        var orderId = '';
        orderId = $("#hdOID").val();
        if (orderId.length > 0) {
            if (option == 'EM') {
                if (validateEmailForm()) {
                    $("#btnSendMail").hide();
                    $("#lblSending").show();
                    $("#imgSending").show();
                    var EmailTo = document.getElementById('txtMailto').value;
                    var CC = document.getElementById('txtCC').value;
                    if (EmailTo != null) {
                        $.post('@Url.Action("SendMailForViewReport", "Common")', { OrderId: orderId, EmailTo: EmailTo, EmailCC: CC, contents: $("#test").html() }, function (result) {
                            $("#btnSendMail").show();
                            $("#lblSending").hide();
                            $("#imgSending").hide();
                            alert(result.Msg);
                        });
                    }
                    else {
                        alert("Please enter Email to address.");
                    }
                }
                else {
                    return false;
                }

            }
            else if (option == 'SV') {
                if ($("#txtSaveReport").val() == '') {
                    result = false;
                    $("#reqtxtSave").show();
                }
                else {
                    $("#reqtxtSave").hide();
                    var FileName = document.getElementById('txtSaveReport').value;
                    $("#hdFile").val(FileName);
                    $("#hdData").val($("#test").html());
                    $("#frmSaveFile").trigger('submit');
                }
            }
            else {

                var FileName = $("#hdOID").val();
                if (option == 'SavedReportPrint') {
                    window.open('../ProcessPrinting.aspx?_O=' + orderId + '&SP=' + option + '&FN=' + FileName + '', 'mywindow', 'location=0,status=0,scrollbars=0,width=200,height=200,left=0,top=0');
                }
                else {

                    $.post('@Url.Action("GetFileForPrint", "Common")', { OID: $("#hdOID").val(), Contents: $("#test").html() }, function (result) {
                        var file = result.File;
                        setInterval(WinPrint(file), 5000);
                    });

                }


            }

        }
        else {
            alert("Please select at least one report.");
        }
        return false;
    }






    function WinPrint(file) {

        var WinPrint = window.open(file, 'mywindow', 'letf=100,top=100,width=100,height=100');
        $("td[class=plus_btn]").css("color", "transparent");
        // WinPrint.print();
    }
    $(function () {
        $("td[class=plus_btn]").css("color", "transparent");


    });

    function Back() {
        location.href = "../Common/RedirectBack?RR=" + $("#hdRR").val() + "&bck=" + $("#hdbck").val()
    }

    function GeneratePdf() {
        $.post('@Url.Action("AdverdeLetterWriteToPdf", "Common")', { OrderId: $("#hdOID").val() }, function (result) {
            window.open("../AdverseCoveragePDF.aspx?Adv=" + result.FileName);
        });
    }

    function printOrderReciept(divName) {
        var printContents = document.getElementById(divName).innerHTML;


        var str = '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns=\"http://www.w3.org/1999/xhtml\"><head> <link href=\"/../../Content/Print.css\" rel=\"stylesheet\" media=\"print\" type=\"text/css\"/></head><body onload="window.print(); window.close();"> ' + printContents + '</div></body></html>';
        return str;
    }
    function validateEmailForm() {
        var result = true;
        if ($("#txtMailto").val() == '') {
            result = false;
            $("#reqEmail").show();
        }
        else {
        }
        return result;
    }
    function isValidEmailAddress(id) {
        var emailAddress = $(id).val();
    }
    function ShowPopup(Type) {
        $("#popupEmailContainer").show();
        $("#popupEmail").kendoWindow();
        $("#popupEmail").kendoWindow({ title: "Save / Print Report" });
        $("#popupEmail").data("kendoWindow").close();
        $("#tabstrip").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            }
        });
        var Ids = '';
        Ids = $("#hdOID").val();
        if (Ids == '') {
            alert("Please select at least one Order!");
        }
        else {
            if (Type == 1) {

            }
            else {
                if (Type == 3) {
                    $("#tabstrip").data("kendoTabStrip").select(0);
                }
                else {
                    $("#tabstrip").data("kendoTabStrip").select(1);
                }

                $("#popupEmail").data("kendoWindow").center();
                $("#popupEmail").data("kendoWindow").open();
                $(".k-widget").css("zoom", "1");

            }
        }
        $(".k-window-action").css("padding", "0px");
        $(".k-window-titlebar").css("height", "30px");
        $("#popupEmail").css("margin-top", "15px");
    }
</script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/MrRio/jsPDF/master/dist/jspdf.min.js"></script>
