﻿@{
    string UserId = "";
    if (ViewData["listAccManager"] != null)
    {
        UserId = (Emerge.Common.Utility.GetUID(HttpContext.Current.User.Identity.Name)).ToString();
        List<SelectListItem> lstSalesUser = (List<SelectListItem>)ViewData["listAccManager"];
        SelectListItem selected = lstSalesUser.Where(x => x.Value == UserId).FirstOrDefault();

        if (selected != null)
        {
            selected.Selected = true;
        }
        ViewData["listAccManager"] = lstSalesUser;
    }
}
<div style="float: left; width: 100%">
    <table border="0" width="100%" style="padding-left: 05px;">
        <tr>
            <td align="right" valign="top">
                <b>Month :&nbsp;</b>
            </td>
            <td align="left" valign="top">
                @Html.DropDownList("ddlMonth", ViewData["listMonth"] as IEnumerable<SelectListItem>, new { @style = "width:220px" })
            </td>
            <td align="right" valign="top">
                <b>Company :&nbsp;</b>
            </td>
            <td align="left" valign="top">
                <select id="ddlCompany" name="ddlCompany" style="width: 220px" class="k-dropdown">
                </select>
                @*@Html.DropDownList("ddlCompany", ViewData["listCompany"] as IEnumerable<SelectListItem>, new { onchange = "GetLocations();" })*@
            </td>
            <td align="right" valign="top">
                <b>Users :&nbsp;</b>
            </td>
            <td align="left" valign="top">
                <select id="ddlUsers" name="ddlUsers" style="width: 220px" class="k-dropdown">
                    <option value="">---All Users---</option>
                </select>
                @*@Html.DropDownList("ddlUsers", ViewData["listUsers"] as IEnumerable<SelectListItem>)*@
            </td>
            <td>
                &nbsp;
            </td>
            <td valign="top" align="right">
                <b>Account Manager :&nbsp;</b>
            </td>
            <td valign="top" align="left">
                @Html.DropDownList("ddlAccountManager", ViewData["listAccManager"] as IEnumerable<SelectListItem>, new { @style = "width:220px" })
            </td>
            @*   <td align="right">
                <table border="0" style="padding-right: 5px;">
                    <tr>
                        <td style="padding-right: 10px; width: 60px;" align="left">
                           <img src="../../Content/themes/base/images/accounthistory.png" alt="" />
                        </td>
                        <td style="padding-right: 10px; width: 60px" align="left" valign="top">
                           <img src="../../Content/themes/base/images/email_small_icon.png" alt="" />
                        </td>
                        <td style="padding-right: 10px; width: 60px" align="left" valign="top">
                          <img src="../../Content/themes/base/images/print_report.png" alt="" />
                        </td>
                        <td align="right">
                           <img src="../../Content/themes/base/images/pdf_report.png" alt="" />
                        </td>
                    </tr>
                </table>
            </td>*@
        </tr>
        <tr>
            <td align="right" valign="top">
                <b>Year :&nbsp;</b>
            </td>
            <td valign="top" align="left">
                @Html.DropDownList("ddlYear", ViewData["listYear"] as IEnumerable<SelectListItem>, new { @style = "width:220px" })
            </td>
            <td align="right" valign="top">
                <b>Locations :&nbsp;</b>
            </td>
            <td align="left" valign="top">
                <select id="ddlLocation" name="ddlLocation" style="width: 220px" class="k-dropdown">
                @* @Html.DropDownList("ddlLocation", ViewData["listLocation"] as IEnumerable<SelectListItem>, new { onchange = "GetCompanyUsers();" })*@
            </td>
            <td align="right" valign="top">
                <b>Status :&nbsp;</b>
            </td>
            <td align="left" valign="top">
                @Html.DropDownList("ddlStatus", ViewData["listAccountStatus"] as IEnumerable<SelectListItem>, new { @style = "width:220px" })
                @Html.DropDownList("ddlCompanyReferenceNo", ViewData["listReferenceNo"] as IEnumerable<SelectListItem>, new { style = "display:none;" })
            </td>
            <td>
            </td>
            <td>
            </td>
            <td valign="top">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <a id="btnGo" href="javascript:void(0);" onclick="loadReport();" style="text-decoration: none;">
                                <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "go_button.png")" alt="" style="border-width: 0px;" /></a>
                        </td>
                        <td style="min-width: 20px;">
                            <di id="dvLoader" style="display: none;">
                                                            <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "ajax-loader3.gif")" />
                                                            </di>
                        </td>
                    </tr>
                </table>
            </td>
            @*   <td align="right" valign="top">
                <div style="display: none;">
                    <table border="0" style="padding-right: 5px;" cellpadding="0" cellspacing="5">
                        <tr>
                            <td align="right">
                                <b>Auto Pay </b>
                                <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "icon_questionmark.gif")" />
                                <b>: </b>
                            </td>
                            <td align="center">
                                <input type="checkbox" id="chkboxToggle" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>*@
        </tr>
    </table>
</div>
<div>
    <div style="float: left;">
        @{
            if (System.Web.HttpContext.Current.Request.Url.AbsoluteUri.ToLower().Contains("/salesreport"))
            {
            <input type="hidden" id="hdPageFor" value="salesreport" />

            }
            else
            {

            }
            <input type="hidden" id="hdPageFor" value="" />

        }
        <input type="hidden" id="hdCompany" value="@(  Session["pkCompanyId"] != null ? Session["pkCompanyId"] : string.Empty)" />
    </div>
</div>
<script type="text/javascript">

    function GetLocations() {
        var CmpId = $("#ddlCompany").val();
        if (CmpId != '') {
            $.post('@Url.Action("../Common/GetLocations")', { CompanyId: CmpId }, function (result) {

                var ddlLocation = $("#ddlLocation");
                ddlLocation.empty();
                $.each(result.Data, function (index, itemData) {
                    ddlLocation.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
            GetReferenceNumbers();
        }
    }
    function GetCompanyUsers() {
        var CmpId = $("#ddlCompany").val();
        var LcId = $("#ddlLocation").val();
        if (CmpId != '') {
            $.post('@Url.Action("../Common/GetCompanyUsers")', { CompanyId: CmpId, LocationId: LcId }, function (result) {

                var ddlUsers = $("#ddlUsers");
                ddlUsers.empty();
                $.each(result.Data, function (index, itemData) {
                    ddlUsers.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
        }
    }

    function GetReferenceNumbers() {
        var CmpId = $("#ddlCompany").val();
        if (CmpId != '') {
            $.post('@Url.Action("../Common/GetReferenceNumbers")', { CompanyId: CmpId }, function (result) {

                var ddlCompanyReferenceNo = $("#ddlCompanyReferenceNo");
                ddlCompanyReferenceNo.empty();
                $.each(result.Data, function (index, itemData) {
                    ddlCompanyReferenceNo.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
        }
    }
    if ($("#hdPageFor").val() != null && $("#hdPageFor").val() != '') {
        if ($("#hdCompany").val() != '') {
            //$("#ddlCompany").attr("disabled", true);
            $("#ddlAccountManager").attr("disabled", true);
            $("#ddlUsers").attr("disabled", true);
            //$("#ddlCompanyReferenceNo").attr("disabled", true);
            $("#ddlLocation").attr("disabled", true);
        }
    }
    $("#ddlMonth").kendoDropDownList();
    $("#ddlYear").kendoDropDownList();


    $("#ddlCompany").kendoDropDownList({
        dataTextField: "Text",
        dataValueField: "Value",
        dataSource: {
            transport: {
                read: {
                    url: '../Common/FillCompanies',
                    type: 'POST'
                }
            }
        },
        change: function (e) {
            var id = this.value();
            BindLocations(id);
            //GetReferences(id);
            $(".k-header").show();
        }
    });

    $("#ddlAccountManager").kendoDropDownList().data("kendoDropDownList");
    $("#ddlUsers").kendoDropDownList().data("kendoDropDownList");
    //$("#ddlCompanyReferenceNo").kendoDropDownList().data("kendoDropDownList");
    $("#ddlLocation").kendoDropDownList().data("kendoDropDownList");
    $("#ddlStatus").kendoDropDownList().data("kendoDropDownList");

    function BindLocations(id) {
        //alert(id);
        $("#ddlLocation").empty();
        $("#ddlUsers").empty();
        $("#ddlLocation").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "../Common/GetLocationsList?CompanyId=" + id,
                        type: 'POST'
                    }
                }
            },
            change: function (e) {
                BindUsers($("#ddlCompany").val(), this.value());
                $(".k-header").show();
            }
        }).data("kendoDropDownList");

    }
    function BindUsers(id, LocId) {
        //alert(id);
        $("#ddlUsers").empty();
        $("#ddlUsers").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "../Common/GetUsers?CompanyId=" + id + "&LocationId=" + LocId,
                        type: 'POST'
                    }
                }
            }
        }).data("kendoDropDownList");
    }
    function GetReferences(id) {
        $("#ddlCompanyReferenceNo").empty();
        $("#ddlCompanyReferenceNo").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "../Common/GetReferences?CompanyId=" + id,
                        type: 'POST'
                    }
                }
            }
        }).data("kendoDropDownList");
    }
    if ('@ViewData["PType"]' == '') {
        BindLocations('@ViewData["CompanyId"]');
    }
    else {
        BindLocations('');
    }
    $(".k-header").show();
    if ($("#hdPageFor").val() != null && $("#hdPageFor").val() != '') {
        if ($("#hdCompany").val() != '') {
            var ddlCompany = $("#ddlCompany").data("kendoDropDownList");
            //ddlCompany.value($("#hdCompany").val());
            //BindLocations($("#hdCompany").val());
            $(".k-header").show();
        }
    }
</script>
