﻿@model Emerge.Models.MyPreferencesModel
<style>
    .main-box {
        border: 1px solid #c1c1c1;
        width: 100% !important;
        margin-top: 18px;
        margin-bottom: 0;
        padding-bottom: 15px !important;
    }

    #element-box {
        margin-bottom: 25px;
    }

    .header {
        margin-bottom: 15px !important;

    }

    .k-focusable tr td {
        background-color: transparent !important;
    }

    .k-numeric .k-link, .k-numeric .k-state-active {
        padding: 0px 8px !important;
        line-height: 22px !important;
        vertical-align: top;
        background-color: #dbdbdb;
        margin: 2px 2px 5px 2px;
        display: inline-block;
        border: 1px solid #bababa !important;
    }


    .k-numeric .k-state-active, .k-numeric .k-state-hover {
        padding: 0px 8px !important;
        line-height: 22px !important;
        background-color: #0078bd !important;
        color: #fff;
        margin: 2px 2px 5px 2px;
        border-radius: 0px !important;
    }

    .successmsg {
        float: right;
        color: #fff !important;
    }
</style>
<div id="content-box" style="padding-top: 36px;">
    <div class="padding">
        <div id="toolbar-box" style="display:none;">
            @*<div class="t">
                    <div class="t">
                        <div class="t">
                        </div>
                    </div>
                </div>*@
            <div>
                <div class="toolbar" id="toolbar" style="vertical-align: top">
                    <table class="toolbar">
                        <tr>
                            <td valign="top">
                                @*<input class="imgbtnClasspnl" id="imgbtnSave" type="submit" value="" />*@

                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                @*<div class="header icon-48-user" style="padding: 0px 0px 0px 55px;">
                        My Preferences
                    </div>*@
                <div class="clr">
                </div>
            </div>
            @*<div class="b">
                    <div class="b">
                        <div class="b">
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="clr">
        </div>
        <div id="element-box" class="second">
            <div id="divMSG" style="display: none; text-align: center; margin-top:15px; width:60%; position: absolute;">
            </div>
            <div class="">
                <div class="main-box">
                    <div class="header">
                        <i class="reference"> </i> Manage Reference Code
                        <div style="margin-right: 10px; float:left;">
                        </div>
                        <div id="DivEM" style="display: none;">
                            @{Html.RenderPartial("../Common/PartialEmergeEdit");}
                        </div>
                        <p class="right-header-section" style="margin: -4px 10px 0px 0px;">
                            <button id="imgSave" onclick="return saveall();"
                                    type="button" class="btn btn-default">
                                Save
                            </button>
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="center-application">
                        <div id="GridReferenceCode">
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                @*START INT-371*@
                <div class="main-box">
                    <div class="header">
                        <i class="reference"> </i> Manage Folders
                        <div style="margin-right: 10px; float:left;">
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="center-application">
                        <div id="GridManageFolders">
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                @*END INT-371*@

                <div class="main-box">
                    <div class="header"> <i class="default"> </i> Default Login Page </div>
                    <div class="clearfix"> </div>
                    <div class="width38">
                        <div class="form-group">
                            <label class="col-md-4 control-label help-col-md4" for="name">Select Default Page: </label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(x => x.DefaultPage, Model.listDefaultPages, new { id = "ddlDefaultPage", @class = "form-control valid", onchange = "SetDefaultPageValue();" })
                                <input type="hidden" id="hdnDefaultPage" value="@Model.DefaultPage.ToString()" />
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>

                    <div class="clearfix"> </div>
                </div>

                <div class="main-box">
                    <div class="header">
                        <i class="notification"> </i> Notifications
                        <p class="right-header-section">  </p>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="center-application">
                        <div id="gridEmailAlerts">
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="main-box">
                    <div class="header"> <i class="archives"> </i> Archives </div>
                    <div class="clearfix"> </div>
                    <div class="width38 ">
                        <div class="form-group">
                            <label class="col-md-2 control-label help-col-md4"> Sort By:</label>
                            @Html.DropDownListFor(x => x.SortColumn, Model.listSortColumn, new { id = "ddlSortColumn", @class = "form-control valid", style = "width:64%", onchange = "SetSortColumnValue();" })
                            <input type="hidden" id="hdnSortColumn" value="@Model.SortColumn.ToString()" />
                        </div>
                    </div>
                    <div class="width38 margin-left8">
                        <div class="form-group">
                            <label class="col-md-6 control-label help-col-md4" for="name"> View numbers of reports per page :</label>
                            <div class="col-md-5">


                                @Html.DropDownListFor(x => x.RecordSize, Model.listRecordSize, new { id = "ddlRecordSize", @class = "form-control valid", style = "width:80px", onchange = "SetRecordSizeValue();" })
                                <input type="hidden" id="hdnRecordSize" value="@Model.RecordSize.ToString()" />


                            </div>
                            <div class="clearfix"> </div>
                        </div>

                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="main-box">
                    <div class="header"> <i class="user"> </i> User </div>
                    <div class="clearfix"> </div>
                    <div class="width38">
                        <div class="form-group">
                            <label class="col-md-4 control-label help-col-md4" for="name" style="margin-left: -25px;"> Data Entry Only : </label>
                            <div class="col-md-8" style="margin-top:6px;">
                                @Html.CheckBoxFor(x => x.IsDataEntryOnly, new { id = "chkDataEntryOnly", onchange = "SetDataEntryOnlyValue();" })

                                <label for="chkDataEntryOnly" id="hdnDataEntryOnly" class="css-label"></label>

                                Enable


                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="clr">
                </div>
            </div>

        </div>
        <div class="clr">
        </div>
    </div>
</div>
<style type="text/css">
</style>
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>


<link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet"
      type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet"
      type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet"
      type="text/css" />
<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/KendoJS/kendo.web.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/gen_validatorv4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=06052015")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Pages/NewReport.js?v=06052015")" type="text/javascript"></script>

<link href="@Url.Content("~/Design2/Css/main-bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design2/Css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Design2/Css/Selectyze.jquery.css")" rel="stylesheet" type="text/css" />


<script src="@Url.Content("~/Design2/Js/jquery.js")" type="text/javascript"></script>

@*<script src="@Url.Content("~/Design2/Js/bootstrap-min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Design2/Js/a-doc.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("res.axd?v=49.0")"></script>


<link href="@Url.Content("~/newfavicon.gif")" rel="shortcut icon" type="image/x-icon" />

<script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=5")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet"
      type="text/css" />

<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet" type="text/css" />

<script src="../../Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ZeroClipboard.js")" type="text/javascript"></script>


<script type="text/javascript">

    function saveall() {
        var DefaultPage = document.getElementById("hdnDefaultPage").value;
        var SortColumn = document.getElementById("hdnSortColumn").value;
        var RecordSize = document.getElementById("hdnRecordSize").value;
        var IsDataEntryOnly = document.getElementById("hdnDataEntryOnly").value;
        $.post('@Url.Action("UpdatePreferences", "Common")', { DefaultPage: DefaultPage, SortColumn: SortColumn, RecordSize: RecordSize, IsDataEntryOnly: IsDataEntryOnly }, function (data) {
            if (data != null) {
                if (data.Message != "") {
                    $('#divMSG').html(data.Message);
                    $('#divMSG').show();

                    var grid = $("#gridEmailAlerts").data("kendoGrid");
                    grid.saveChanges();
                    grid.dataSource.read();
                    grid.refresh();
                }
                else {
                }
            }
        });
    }

    function SetSortColumnValue() {
        var hdnSortColumn = document.getElementById("hdnSortColumn");
        if (hdnSortColumn != null) {
            hdnSortColumn.value = document.getElementById("ddlSortColumn").options[document.getElementById("ddlSortColumn").selectedIndex].value;
        }
    }

    function SetRecordSizeValue() {
        var hdnRecordSize = document.getElementById("hdnRecordSize");
        if (hdnRecordSize != null) {
            hdnRecordSize.value = document.getElementById("ddlRecordSize").options[document.getElementById("ddlRecordSize").selectedIndex].value;
        }
    }

    function SetDefaultPageValue() {
        var hdnDefaultPage = document.getElementById("hdnDefaultPage");
        if (hdnDefaultPage != null) {
            hdnDefaultPage.value = document.getElementById("ddlDefaultPage").options[document.getElementById("ddlDefaultPage").selectedIndex].value;
        }
    }

    function SetDataEntryOnlyValue() {
        var hdnDataEntryOnly = document.getElementById("hdnDataEntryOnly");
        if (hdnDataEntryOnly != null) {
            hdnDataEntryOnly.value = document.getElementById("chkDataEntryOnly").checked;
        }
    }

    $("#GridReferenceCode").kendoGrid({
        sortable: true,
        pageable: true,
        scrollable: false,
        navigatable: true,
        columns: [
            { field: "ReferenceCode", title: "Reference Code", width: "10%", sortable: false },
            { field: "ReferenceNote", title: "Notes", width: "10%", sortable: false },
            { command: ["edit", "destroy"], title: "Action", width: "28%" }
        ],
        editable: "inline",

        toolbar: ["create"],
        dataBound: function () {
            var gridHeaderRows = $("#GridReferenceCode tbody th");
            var gridRows = $("#GridReferenceCode tbody tr");
            var takeGrid = $("#GridReferenceCode").data("kendoGrid");
            var length = gridRows.length;
            for (i = 0; i < length; i++) {
                var dataItem = takeGrid.dataItem(gridRows[i]);
                GridEffect("GridReferenceCode", dataItem)
            }
        },
        dataSource: {
            page: 1,
            pageSize: 4,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,

            schema: {
                model: {
                    id: "pkReferenceCodeId",
                    fields: {
                        pkReferenceCodeId: { editable: false },
                        ReferenceCode: { nullable: false, validation: { required: true } },
                        ReferenceNote: { nullable: false, validation: { required: true } }
                    }
                }
            },
            batch: true,
            transport: {
                create: {
                    url: '@Url.Action("AddReferenceCode", "Common")',
                    type: "POST"
                },
                read: {
                    url: '@Url.Action("GetReferenceCode", "Common")',
                    type: "POST"
                },
                update: {
                    url: '@Url.Action("UpdateReferenceCode", "Common")',
                    type: "POST"
                },
                destroy: {
                    url: '@Url.Action("DeleteReferenceCode", "Common")',
                    type: "POST"
                },
                parameterMap: function (data, operation) {

                    if (operation != "read") {

                        var result = {};

                        for (var i = 0; i < data.models.length; i++) {
                            var refcode = data.models[i];

                            for (var member in refcode) {
                                result["referencecodes[" + i + "]." + member] = refcode[member];
                            }
                        }
                        return result;
                    }

                }

            }

        }

    });

    //START JAVASCRIPT FUNCTION INT-371

    $("#GridManageFolders").kendoGrid({

        

        sortable: true,
        pageable: true,
        scrollable: false,
        navigatable: true,
        columns: [
            { field: "FolderName", title: "Folder Name", width: "10%", sortable: false },
            { field: "FolderDescription", title: "Description", width: "10%", sortable: false },
            { command: ["edit", "destroy"], title: "Action", width: "28%" }
        ],
        editable: "inline",

        toolbar: ["create"],
        dataBound: function () {
            var gridHeaderRows = $("#GridManageFolders tbody th");
            var gridRows = $("#GridManageFolders tbody tr");
            var takeGrid = $("#GridManageFolders").data("kendoGrid");
            var length = gridRows.length;
            for (i = 0; i < length; i++) {
                var dataItem = takeGrid.dataItem(gridRows[i]);
                GridEffect("GridManageFolders", dataItem)
            }
        },
        dataSource: {
            page: 1,
            pageSize: 4,
            serverPaging: true,
            serverSorting: true,
            serverFiltering: true,

            schema: {
                model: {
                    id: "pkManageFolderId",
                    fields: {
                        pkManageFolderId: { editable: false },
                        FolderName: { nullable: false, validation: { required: true } },
                        FolderDescription: { nullable: false, validation: { required: true } }
                    }
                }
            },
            batch: true,

            transport: {
                create: {
                    url: '@Url.Action("AddManageFolder", "Common")',
                    type: "POST"
                    //complete: function (jqXhr, textStatus) {

                    //    if (textStatus == 'success') {
                            
                    //        alert("Records Saved Successfully");

                    //    }
                    //}

                    },
                    read: {
                        url: '@Url.Action("GetManageFolder", "Common")',
                        type: "POST"
                        
                    },
                    update: {
                        url: '@Url.Action("UpdateManageFolder", "Common")',
                        type: "POST"
                    },
                    destroy: {
                        url: '@Url.Action("DeleteManageFolder", "Common")',
                        type: "POST"
                    },

                    parameterMap: function (data, operation) {

                        if (operation != "read") {

                            var result = {};

                            for (var i = 0; i < data.models.length; i++) {
                                var refcode = data.models[i];

                                for (var member in refcode) {
                                    result["managefolder[" + i + "]." + member] = refcode[member];
                                }
                            }
                            return result;
                        }
                    }
                }
            }
        });

    //END JAVASCRIPT FUNCTION INT-371

    $("#gridEmailAlerts").kendoGrid({
        sortable: true,
        pageable: false,
        scrollable: false,
        navigatable: true,
        columns: [
            { field: "TemplateName", title: "Notification", width: "5%", sortable: false, template: '<div style="float:left;">#=TemplateName#</div>' },
            { field: "IsSendEmail", title: "Email", width: "1%", sortable: false, template: '<input class="sendemail" type="checkbox" #=IsSendEmail ? "checked=true" : "" # />' },
            { field: "IsSendAlert", title: "Alert", width: "15%", sortable: false, template: '<input class="sendalert" type="checkbox" #=IsSendAlert ? "checked=true" : "" # />' }
        ],
        editable: true,
        dataBound: function () {
            $(".sendemail").on("click", function (e) {
                var row = $(e.target).closest("tr");
                var model = $("#gridEmailAlerts").data("kendoGrid").dataItem(row);
                model.set("IsSendEmail", this.checked);
            });
            $(".sendalert").on("click", function (e) {
                var row = $(e.target).closest("tr");
                var model = $("#gridEmailAlerts").data("kendoGrid").dataItem(row);
                model.set("IsSendAlert", this.checked);
            });

            var gridHeaderRows = $("#gridEmailAlerts tbody th");
            var gridRows = $("#gridEmailAlerts tbody tr");
            var takeGrid = $("#gridEmailAlerts").data("kendoGrid");
            var length = gridRows.length;
            for (i = 0; i < length; i++) {
                var dataItem = takeGrid.dataItem(gridRows[i]);
                GridEffect("gridEmailAlerts", dataItem)



            }


        },
        dataSource: {
            page: 1,
            pageSize: 11,
            serverPaging: false,
            serverSorting: false,
            serverFiltering: false,

            schema: {
                model: {
                    id: "pkEmailAlertId",
                    fields: {
                        TemplateName: { editable: false, nullable: false },
                        IsSendEmail: { type: "boolean" },
                        IsSendAlert: { type: "boolean" }
                    }
                }
            },
            batch: true,
            transport: {
                read: {
                    url: '@Url.Action("GetNotificationEmailAlert", "Common")',
                    type: "POST"
                },
                update: {
                    url: '@Url.Action("UpdateNotificationEmailAlert", "Common")',
                    type: "POST"
                },
                parameterMap: function (data, operation) {

                    if (operation != "read") {

                        var result = {};

                        for (var i = 0; i < data.models.length; i++) {
                            var emailalert = data.models[i];

                            for (var member in emailalert) {
                                result["emailalerts[" + i + "]." + member] = emailalert[member];
                            }
                        }
                        return result;
                    }

                }

            }

        }

    });
</script>
