﻿<table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;
                    width: 100%; font-family: arial; font-size: 12px; height: 300px;">
                    <tr id="trPaging" runat="server" bgcolor="#c1d0ef">
                        <td align="left" style="font-size: 20px; padding-left: 6px; height: 35px">
                            <img id="img2" alt="juno" src="../Resources/Images/juno-logo.png"" style="border: none; padding-top:1px;" />
                        </td>
                        <td align="center">
                            @*<asp:Label runat="server" ID="lblMessage" Visible="false"></asp:Label>*@
                            <span id="lblMessage"></span>
                        </td>
                        <td align="right">
                            @*<table border="0">
                                <tr>
                                    <td runat="server" id="tdTotalRec">
                                        <asp:Label ID="lblTotalRec" runat="server" />
                                    </td>
                                    <td align="right" id="tdNavigation" runat="server">
                                        <table width="130px">
                                            <tr>
                                                <td align="left" style="display: block;">
                                                    <asp:ImageButton runat="server" Visible="false" ID="btnFirst" ToolTip="" ImageUrl="~/Resources/Images/start_off.gif"
                                                        OnClick="btnFirst_Click" />
                                                    <asp:ImageButton runat="server" ID="btnPrev" ToolTip="" ImageUrl="~/Resources/Images/prev_btn_off.png"
                                                        OnClick="btnPrev_Click" />
                                                    <asp:ImageButton runat="server" ID="btnNext" ToolTip="" ImageUrl="~/Resources/Images/next_btn_off.png"
                                                        OnClick="btnNext_Click" />
                                                    <div style="float: right; width: 8px; padding-top: 7px; padding-right: 5px;">
                                                        <asp:UpdateProgress ID="UProgrssjuno" runat="server" DisplayAfter="0" AssociatedUpdatePanelID="updNewJuno">
                                                            <ProgressTemplate>
                                                                <table border="0" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td align="center">
                                                                            <asp:Image ID="ImgProcess" runat="server" ImageUrl="~/Resources/Images/ajax-loader3.gif"
                                                                                AlternateText="Loading" ToolTip="Loading" />
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </ProgressTemplate>
                                                        </asp:UpdateProgress>
                                                    </div>
                                                    <asp:ImageButton runat="server" Visible="false" ID="btnLast" ToolTip="" ImageUrl="~/Resources/Images/end_off.gif"
                                                        OnClick="btnLast_Click" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="left" id="tdPagingOption" runat="server" style="display: none;">
                                        Go To Page :<asp:DropDownList runat="server" ID="ddlPaging" AutoPostBack="True" OnSelectedIndexChanged="ddlPaging_SelectedIndexChanged">
                                        </asp:DropDownList>
                                    </td>
                                </tr>
                            </table>*@
                        </td>
                        <td align="right" style="display: none; padding-top: 10px; padding-right: 10px;">
                           @* <asp:DropDownList Visible="false" runat="server" ID="ddlPageSize" AutoPostBack="True"
                                OnSelectedIndexChanged="ddlPageSize_SelectedIndexChanged">
                                <asp:ListItem Text="6" Value="6" />
                            </asp:DropDownList>*@
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="3" valign="top">

                     @*       <asp:GridView ID="GvJuno" runat="server" AutoGenerateColumns="false" Width="99.9%"
                                AllowSorting="False" OnRowDataBound="GvJuno_RowDataBound" OnRowCreated="GvJuno_RowCreated"
                                OnSorting="GvJuno_Sorting" OnRowCommand="GvJuno_RowCommand" SkinID="gridviewSkin">
                                <Columns>
                                    <asp:TemplateField HeaderText="#">
                                        <ItemTemplate>
                                            <asp:Label ID="lblCompanyId" runat="server" Text='<%#Eval("pkCompanyId")%>' Visible="false" />
                                            <asp:Label ID="lblJunoStatus" runat="server" Text='<%#Eval("LeadStatus")%>' Visible="false" />
                                            <%#Eval("RowNo")%>
                                        </ItemTemplate>
                                        <ItemStyle HorizontalAlign="Center" />
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Company Name">
                                        <ItemTemplate>
                                            <asp:Label ID="lblCompanyName" runat="server" Text='<%#Eval("CompanyName")%>' />
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Company Type">
                                        <ItemTemplate>
                                            <%#Eval("CompanyType")%>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Lead Source">
                                        <ItemTemplate>
                                            <%#Eval("LeadSource")%>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="City">
                                        <ItemTemplate>
                                            <%#Eval("City")%>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="State">
                                        <ItemTemplate>
                                            <%#Eval("StateName")%>
                                        </ItemTemplate>
                                        <ItemStyle HorizontalAlign="Center" />
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Main Contact">
                                        <ItemTemplate>
                                            <%#Eval("MainContactPersonName")%>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Main Email">
                                        <ItemTemplate>
                                            <asp:Label ID="lblEmail" runat="server" Text='<%#Eval("MainEmailId")%>' />
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Phone #">
                                        <ItemTemplate>
                                            <asp:Label ID="lblMainPhone" runat="server" Text='<%# Eval("PhoneNo1")%>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Upload Date">
                                        <ItemTemplate>
                                            <asp:Label ID="lblUploadDate" runat="server" Text='<%#Getdate(Eval("CreatedDate")) %>'></asp:Label>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                    <asp:TemplateField HeaderText="Action">
                                        <ItemTemplate>
                                            <div style="text-align: center;">
                                                <table width="100%" cellpadding="1" cellspacing="2">
                                                    <tr>
                                                        <td align="center" width="25%">
                                                            <asp:ImageButton ID="imgbtnAdd" runat="server" AlternateText="Add" ToolTip="Add"
                                                                CommandArgument='<%#Eval("pkLocationId") %>' ImageUrl="~/Resources/Images/Add.png"
                                                                Width="23px" Height="22px" CommandName="Add" />
                                                        </td>
                                                        <td align="center" width="25%">
                                                            <asp:ImageButton ID="imgbtncallback" runat="server" AlternateText="CallBack" ToolTip="Call Back"
                                                                CommandArgument='<%#Eval("pkCompanyId") %>' ImageUrl="~/Resources/Images/icon-48-accounthistory.png"
                                                                Width="23px" Height="22px" CommandName="CallBack" />
                                                        </td>
                                                        <td align="center" width="25%">
                                                            <asp:ImageButton ID="imgbtnnotinterest" runat="server" AlternateText="NotInterested" ToolTip="Not Interested"
                                                                CommandArgument='<%#Eval("pkCompanyId") %>' ImageUrl="~/Resources/Images/not-interested.png"
                                                                Width="23px" Height="22px" CommandName="NotInterested" />
                                                        </td>
                                                        <td align="center" width="25%">
                                                            <asp:ImageButton ID="imgbtnbadlead" runat="server" AlternateText="BadLead" ToolTip="Bad Lead"
                                                                CommandArgument='<%#Eval("pkCompanyId") %>' ImageUrl="~/Resources/Images/Incomplete.gif"
                                                                Width="23px" Height="22px" CommandName="BadLead" />
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </ItemTemplate>
                                    </asp:TemplateField>
                                </Columns>
                                <EmptyDataRowStyle HorizontalAlign="Center" />
                                <EmptyDataTemplate>
                                    No Record....
                                </EmptyDataTemplate>
                            </asp:GridView>*@
                        </td>
                    </tr>
                    <tr id="trPaging1" runat="server" style="display: none;">
                        <td align="right" colspan="2">
                            @*<table border="0">
                                <tr>
                                    <td runat="server" id="tdTotalRec1">
                                        <asp:Label ID="lblTotalRec1" runat="server" />
                                    </td>
                                    <td align="center" id="tdNavigation1" runat="server">
                                        <table width="100%">
                                            <tr>
                                                <td align="left" width="20%" style="display: none; padding-bottom: 2px;">
                                                    <asp:ImageButton runat="server" Visible="false" ID="btnFirst1" ToolTip="" ImageUrl="~/Resources/Images/start_off.gif"
                                                        OnClick="btnFirst_Click" />
                                                    <asp:ImageButton runat="server" ID="btnPrev1" ToolTip="" ImageUrl="~/Resources/Images/prev_btn_off.png"
                                                        OnClick="btnPrev_Click" />
                                                    <asp:Label runat="server" ID="lblPagingmsg1"></asp:Label>
                                                    <asp:ImageButton runat="server" ID="btnNext1" ToolTip="" ImageUrl="~/Resources/Images/next_btn_off.png"
                                                        OnClick="btnNext_Click" />
                                                    <asp:ImageButton runat="server" Visible="false" ID="btnLast1" ToolTip="" ImageUrl="~/Resources/Images/end_off.gif"
                                                        OnClick="btnLast_Click" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td align="left" id="tdPagingOption1" runat="server" style="display: none;">
                                        Go To Page :<asp:DropDownList runat="server" ID="ddlPaging1" AutoPostBack="True"
                                            OnSelectedIndexChanged="ddlPaging_SelectedIndexChanged1">
                                        </asp:DropDownList>
                                    </td>
                                </tr>
                            </table>*@
                        </td>
                        <td align="left">
                            <table width="0%">
                                <tr>
                                    <td colspan="3" align="right" style="display: none;">
                                     @*   Records Per Page :<asp:DropDownList runat="server" ID="ddlPageSize1" AutoPostBack="True"
                                            OnSelectedIndexChanged="ddlPageSize_SelectedIndexChanged1">
                                            <asp:ListItem Text="6" Value="6" />
                                        </asp:DropDownList>*@
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

<script type="text/javascript">
$("#popupJuno").kendoWindow();
//$("#popupJuno").data("kendoWindow").close();
 var selectList = '<span style="padding-left:100px;">    Page Size: <select style="width:50px;" id="mySelect"><option>25</option><option>50</option><option>100</option></select></span>';
   var divTotal = '<div id="divTotal" ></div>';


    var dataSource = new kendo.data.DataSource({               
            batch: true,
            transport: {
                read: { url: "@Url.Action("GetNewJunos", "CommonJuno")", type: "POST" },                
                parameterMap: function (options) {                 
                    var data = options;                
                    if (options.filter) {
                        var filters = options.filter.filters;
                        for (var i = 0; i < filters.length; i++) {
                           data["filters[" + i + "].Field"] = filters[i].field;
                           data["filters[" + i + "].Operator"] = filters[i].operator;
                           data["filters[" + i + "].Value"] = filters[i].value;
                        }
                    }
                    if (options.sort) {
                        for (var i = 0; i < options.sort.length; i++) {
                            data["sort[" + i + "].Field"] = options.sort[i].field;
                            data["sort[" + i + "].Dir"] = options.sort[i].dir;
                        }
                    }                    
                    return data;
                }
            },
            schema: { data: "Products", total: function (e) {
                    total = e.TotalCount;                  
                    return total;
                },  
              model: {                        
                        fields: {                          
                            OrderDt: { type: "date" }
                        }
                    }
            },
            pageSize: 25, //set page size
            serverPaging: true, //enable server paging
               serverSorting: true,
             serverFiltering: true
        });

    $(document).ready(function () {
     $("#kendoPager").kendoPager({
                dataSource: dataSource
            });
        $("#LeadsGrid").kendoGrid({
            dataSource: dataSource,
            //height: 520,
            filterable: true,
            sortable: true,
            pageable: true,
            columns: [
                             {
                                 field: "LeadNumber",
                                 title: "<input type='checkbox' id='chkLead_head' class='chk-head-style' onclick='CheckedAll();' />",
                                 template: "<input type='checkbox' id='chkLead_#=pkCompanyId#'  class='chk-style' />",
                                 sortable: false,
                                 filterable: false,
                                 width: "2%"
                             },
                            {
                                field: "LeadNumber",
                                sortable: true,
                                title: "Lead #",
                                filterable: false,
                                width: "5%"
                            },
                            {
                                field: "CompanyName",
                                title: "Company Name",
                                sortable: true,
                                filterable: false,
                                width: "10%"
                            },
                            {
                                field: "City",
                                title: "City",
                                filterable: false,
                                width: "5%"

                            },
                            {
                                field: "StateCode",
                                title: "State",
                                filterable: false,
                                width: "3%"
                            },
                            {
                                field: "MainContactPersonName",
                                title: "Main Contact",
                                filterable: false,
                                width: "8%"
                            },
                            {
                                field: "PhoneNo1",
                                title: "Phone Number",
                                filterable: false,
                                width: "8%"
                            },
                            {
                                field: "MainEmailId",
                                title: "Email",
                                filterable: false,
                                width: "11%"
                            },
                            {
                                field: "CompanyType",
                                title: "Company Type",
                                filterable: false,
                                width: "13%"
                            },
                            {
                                field: "LeadSource",
                                title: "Lead Source",
                                filterable: false,
                                width: "7%"
                            },
                            {
                                field: "SalesRepName",
                                title: "Sales Associate",
                                filterable: false,
                                width: "10%"
                            },
                            {
                                field: "SalesRepName",
                                title: "Account Manager",
                                filterable: false,
                                width: "10%"
                            },
                            {
                                field: "LeadStatus",
                                title: "Lead Status",
                                template: '# if(LeadStatus==1){ # <img src="../../Content/themes/base/Images/emerge-office-milestone-1-on.png" /> #}else if(LeadStatus==2){# <img src="../../Content/themes/base/Images/emerge-office-milestone-2-on.png" /> #}else if(LeadStatus==3){# <img src="../../Content/themes/base/Images/emerge-office-milestone-3-on.png" /> #}else if(LeadStatus==4){# <img src="../../Content/themes/base/Images/emerge-office-milestone-4-on.png" /> #}else if(LeadStatus==5){# <img src="../../Content/themes/base/Images/emerge-office-milestone-5-on.png" /> #}# ',
                                filterable: false,
                                width: "8%"
                            },
                            { field: "pkReportCategoryId", title: "Action", width: 100,  filterable: false,
                                template: "<input type='IMAGE' SRC='../../Content/themes/base/images/edit.png' id='image1' value='#=pkLocationId#' style='width:21px; height:20px' onclick='AddUpdateLead(this.value)'  /> <input onclick='Call(this.value)' type='IMAGE' SRC='../../Content/themes/base/images/call-log-icon.png' id='imgCall' value='#=pkCompanyId#' style='width:21px; height:23px' /> <input onclick='DeleteLead(this.value)' type='IMAGE' SRC='../../Content/themes/base/images/delete.png' id='image1' value='#=pkCompanyId#' style='width:21px; height:23px' />"
                            }
                    //  { command: ["<img src='../../Content/themes/base/Images/emerge-office-milestone-1-on.png' />","edit","destroy"], title: "&nbsp;", width: "100px" }

                        ]
        });
    });

</script>