﻿@using (Ajax.BeginForm("../Control/UpdateStateCountyFee", "", new AjaxOptions { OnSuccess = "getResult" }, new { id = "frmStateCountyFee" }))
{
    if (string.IsNullOrEmpty(ViewBag.Page))
    {
    <div class="padding">
        <div id="toolbar-box">
           
            <div class="m" style="height: 57px; margin-top: 50px;">
                <div class="toolbar" id="toolbar">
                    <table class="toolbar">
                        <tr>
                            <td>
                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="header icon-48-user" style="padding: 0px 0px 0px 55px; background-color:#FAFAFA !important;">
                    County Fee
                </div>
                <div class="clr">
                </div>
            </div>
           
        </div>
        <div class="clr">
        </div>
        <div id="element-box" style="margin-bottom: 44px;">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
            <div class="m" style="padding: 1px 0px 0px !important;">
                <center>
                    <table width="65%" class="AdminAddInformation">
                        <tr>
                            <td colspan="3" align="center">
                                <div id="dvMsg"></div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="35%">
                                <b>Select State :&nbsp;&nbsp;</b>
                            </td>
                            <td align="left" width="25%">
                                <input type="hidden" id="hdPage" value="@ViewBag.Page" />
                                <input type="hidden" id="hdProductCode" name="hdProductCode" value="@ViewBag.ProductCode" />
                                @Html.DropDownList("ddlStates", (ViewData["states"]) as IEnumerable<SelectListItem>, "---Select State---", new { onchange = "GetStateCounty(this);" })
                            </td>
                            <td align="left"></td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <div id="StatesCounty" style="width: 100%;margin-top:7px;">
                                </div>
                            </td>
                        </tr>
                    </table>
                </center>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
    }
    else
    {
    <div class="padding">
        <div id="toolbar-box">
            @*<div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>*@
            <div class="header" style="height:57px; margin-top:58px;">
                <div class="toolbar" id="toolbar" style="margin-top: -10px;">
                    <table class="toolbar">
                        <tr>
                            <td>
                                <input class="btn btn-default" value="Save" title="Save fee" type="submit" style="margin-top: -15px;" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="header" style="padding: 0px 0px 0px 55px; background-color: transparent !important; color: #FFF; line-height: 40px;">
                    County Fee
                </div>
                <div class="clr">
                </div>
            </div>
            @*<div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>*@
        </div>
        <div class="clr">
        </div>
        <div id="element-box" style="margin-bottom: 44px;">
            @*<div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>*@
            <div class="m" style="padding:1px 0px 0px !important;">
                <center>
                    <table width="65%" class="AdminAddInformation">
                        <tr>
                            <td colspan="3" align="center">
                                <div id="dvMsg"></div>
                            </td>
                        </tr>
                        <tr>
                            <td align="right" width="35%">
                                <b>Select State :&nbsp;&nbsp;</b>
                            </td>
                            <td align="left" width="25%">
                                <input type="hidden" id="hdPage" value="@ViewBag.Page" />
                                <input type="hidden" id="hdProductCode" name="hdProductCode" value="@ViewBag.ProductCode" />
                                @Html.DropDownList("ddlStates", (ViewData["states"]) as IEnumerable<SelectListItem>, "---Select State---", new { onchange = "GetStateCounty(this);" })
                            </td>
                            <td align="left"></td>
                        </tr>
                        <tr>
                            <td colspan="3" align="center">
                                <div id="StatesCounty" style="width: 100%;margin-top:7px;">
                                </div>
                            </td>
                        </tr>
                    </table>
                </center>
                <div class="clr">
                </div>
            </div>
            @*<div class="b">
                <div class="b">
                    <div class="b">
                    </div>
                </div>
            </div>*@
        </div>
        <div class="clr">
        </div>
    </div>
    }
}
<script type="text/javascript">
    function GetStateCounty(id) {
        var location2 = window.location.href;
        var PageType1 = "";
        if (location2.indexOf("Control/StateCountyFee") != -1) {
            PageType1 = "ManageReports";
        }
        else {
            PageType1 = "MyReports";
        
        }
        if ($(id).val() != '') {
            $.post('@Url.Action("GetStateCounty", "Corporate")', { StateId: $(id).val(), Page: $("#hdPage").val(), Code: $("#hdProductCode").val(), PageType: PageType1 }, function (result) {
                $("#StatesCounty").html(result.Data);
            });
        }
        else {
            alert("Please select state!");
        }
    }

    function getResult(result) {
        $("#dvMsg").html(result.Msg);
        $("#dvMsg").addClass(result.css);
    }
    //    function ClosePopUp() {
    //        $("#ActiveReportwindow").data("kendoWindow").close();
    //        return false;
    //    }
    //    function clearMessage() {
    //        $("#ResultMsg").html('');
    //        $("#ResultMsg").removeClass("successmsg");
    //        $("#ResultMsg").removeClass("errormsg");
    //    }
</script>
