﻿<style>
    .k-autocomplete, .k-combobox, .k-datepicker, .k-timepicker, .k-datetimepicker, .k-numerictextbox, .k-dropdown, .k-selectbox {
        padding: 0;
    }

    .k-widget, .k-input[type="text"], .k-input[type="number"], .k-textbox, .k-picker-wrap .k-input, .k-button, .k-draghandle {
        font-size: 15px;
    }

    .k-picker-wrap .k-select, .k-numeric-wrap .k-select, .k-dropdown-wrap .k-select {
        background-color: #eaeaea;
        background: -webkit-linear-gradient(#ccc, #eaeaea); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#ccc, #eaeaea); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#ccc, #eaeaea); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#ccc, #eaeaea); /* Standard syntax */
        font-size: 15px;
        width: 38px;
        padding-left: 11px;
        height: 29px;
        border-left: 1px solid #808080;
    }

    .k-arrow-down {
        height: 17px;
    }

    .k-reset {
        font-size: 15px;
    }
    .lable-font-style {
        color: #fff;
        font-size: 14px;
        padding-top: 4px;
    }
</style>
<div style="float: left; width: 100%; padding: 19px; background-color: rgb(0, 120, 189); margin-top: 10px;">
    <table border="0" width="100%" style="padding-left: 05px;">
        <tr>
            <td class="lable-font-style" align="right" valign="top">
                <b>Month :&nbsp;</b>
            </td>
            <td align="left" valign="top">
                @Html.DropDownList("ddlMonth", ViewData["listMonth"] as IEnumerable<SelectListItem>)
            </td>
            <td class="lable-font-style" align="right" valign="top">
                <b>Year :&nbsp;</b>
            </td>
            <td align="left" valign="top">
                @Html.DropDownList("ddlYear", ViewData["listYear"] as IEnumerable<SelectListItem>)
            </td>
            <td class="lable-font-style" align="right" valign="top">
                <b>Vendors :&nbsp;</b>
            </td>
            <td align="left" valign="top">
                @*             <asp:dropdownlist id="ddlVendors" runat="server" width="168px" autopostback="True"
                    onselectedindexchanged="ddlVendors_SelectedIndexChanged" />*@
                @Html.DropDownList("ddlVendors", ViewData["listVendors"] as IEnumerable<SelectListItem>, new { onchange = "GetReportTypes();" })
            </td>
            <td class="lable-font-style" valign="top" align="right">
                <b>Report Type :&nbsp;</b>
            </td>
            <td valign="top" align="left">
                @Html.DropDownList("ddlReportType", ViewData["listReportType"] as IEnumerable<SelectListItem>)
            </td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <button style="padding: 5px; margin-top: -1px; width: 67px;" type="submit" id="btnGo" onclick="loadReport();" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                                GO
                            </button>
                            @*<a id="btnGo" href="javascript:void(0);" onclick="loadReport();" style="text-decoration: none;">
                                <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath+ "go_button.png")" alt="" style="border-width: 0px;" /></a>*@
                        </td>
                        <td style="min-width: 20px;">
                           <di id="dvLoader" style="display: none;">
                                                            <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath+ "ajax-loader3.gif")" />
                                                            </di>
                        </td>
                    </tr>
                </table>
            </td>
        
        </tr>
    </table>
</div>
<script type="text/javascript">

    function GetReportTypes() {
        var VendorId = $("#ddlVendors").val();
        if (VendorId != '') {
            $.post('@Url.Action("../Common/GetReportTypes")', { VId: VendorId }, function (result) {

                var ddlReportType = $("#ddlReportType");
                ddlReportType.empty();
                $.each(result.Data, function (index, itemData) {
                    ddlReportType.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
        }
    }
    $("#ddlMonth").kendoDropDownList();
    $("#ddlYear").kendoDropDownList();
    $("#ddlVendors").kendoDropDownList();
    $("#ddlReportType").kendoDropDownList();
    </script>