﻿<table width="100%" cellpadding="0" cellspacing="0" >
    <tr>
        <td align="center">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" class="report-table">
                <tr bgcolor="#bbbbbb" height="28px">
                    <td align="left" width="11%">
                        &nbsp;<b>Active</b>
                    </td>
                    <td align="left" width="2%">
                    </td>
                    <td align="left" width="20%">
                        <b>Product</b>
                    </td>
                    <td align="left" width="10%">
                        <b>Price</b>
                    </td>
                    <td align="left" width="7%">
                        <b>Code</b>
                    </td>
                    <td align="center" width="8%">
                        <b>Description</b>
                    </td>
                    <td align="center" width="6%">
                       <b>Sample</b>
                    </td>
                    <td align="center" width="5%">
                        <b>@*Coverage*@</b>
                    </td>
                    <td align="center" width="12%" style="min-width: 110px;">
                        <b>Status</b>
                    </td>
                   
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" id="tblMyReports">
                @if (ViewData["DrugTestReports"] != null)
                {
                    if ((ViewData["DrugTestReports"] as List<Emerge.Data.Proc_GetAllReportsByLocationIdResult>).Count > 0)
                    {
                        string CategoryName = string.Empty;
                        foreach (var i in (ViewData["DrugTestReports"] as List<Emerge.Data.Proc_GetAllReportsByLocationIdResult>))
                        {
                            
                            if (CategoryName != i.CategoryName)
                            {

                                CategoryName = i.CategoryName;
                    <tr>
                        <td class="ProductCategoryHeader" style="text-align: left;">
                            @i.CategoryName
                        </td>
                    </tr>
                            }
                           
                    <tr>
                        <td>
                            <table width="100%" border="0"  class="product_Border report-table-inner">
                                <tr>
                                    <td style="text-align: left;">
                                        @if (i.ProductAccessId !=0)
                                        {
                                        <input type="checkbox" disabled="disabled" checked="checked" />
                                        }
                                        else
                                        {
                                           <input type="checkbox" disabled="disabled"/> 
                                        }
                                    </td>
                                    <td align="left" width="2%">
                                        <input type="checkbox" disabled="disabled" checked="checked" style="display: none;" />
                                    </td>
                                    <td align="left" width="26%">@i.ProductDisplayName
                                    </td>
                                    <td align="left" width="12%">@i.CompanyPrice
                                    </td>
                                    <td align="left" width="10%">@i.ProductCode
                                    </td>
                                    @{string pdesc = string.Empty;
                                      if (String.IsNullOrEmpty(i.ProductDescription))
                                      {
                                          pdesc = "N/A";
                                      }
                                      else
                                      {
                                          pdesc = i.ProductDescription;
                                      }
                                    }
                                    <td align="center" width="7%">
                                        <img src="../Design2/img/log.png" alt="" onmouseover="tooltipLiveRunner1('@i.ProductName',' @pdesc');" onmouseout="exit();" />
                                    </td>
                                    <td align="center" width="10%">
                                    @if (File.Exists(Server.MapPath(@"~/Resources/SampleReports/" + i.ProductCode + "_SampleReport.html")))
                                              {
                                        <a href="javascript:void(0)" onclick="SampleReport('@i.ProductCode','@i.ProductDisplayName');">
                                            <img src="../Content/themes/base/images/PSample.png" alt="" /></a>
                                         }
                                         else
                                         {
                                     
                                     
                                     }
                                    </td>
                                    <td align="center" width="5%">
                                     
                                    </td>
                                    <td align="center" width="15%" style="min-width: 110px;">
                                        @if (i.ProductAccessId != 0)
                                        {
                                            <img src="../Design2/img/status.png" style="height: 16px;" alt="" />
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)"  onclick="GetEmailTemplate('@i.ProductDisplayName');" >
                                                <img src="../Content/themes/base/images/activate_report.png" alt="" /></a>
                                        }
                                    </td>
                                  
                                </tr>
                            </table>
                        </td>
                    </tr>
                        

                        }


                        
                    }
                }
            </table>
        </td>
    </tr>
</table>

