﻿@model Emerge.Models.UsersModel
<style type="text/css">
    .k-grid .centeralign {
        text-align: center;
    }

    .div#element-box {
        background: none;
    }

    div#element-box div.t {
        background: none;
    }

    div.m {
        border-left: 0;
        border-right: 0;
        padding: 0;
        background-color: transparent;
    }

    div.t, div.b {
        height: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
        border-bottom-color: transparent;
    }

    div#element-box div.m {
        padding: 0;
    }

    .k-focusable tr td {
        background-color: transparent !important;
    }

    #content-box {
        margin: 15px 0 40px 0;
    }

    .k-numeric .k-link, .k-numeric .k-state-active {
        padding: 0px 8px !important;
        line-height: 22px !important;
        vertical-align: top;
        background-color: #dbdbdb;
        margin: 2px 2px 5px 2px;
        display: inline-block;
        border: 1px solid #bababa !important;
    }


    .k-numeric .k-state-active, .k-numeric .k-state-hover {
        padding: 0px 8px !important;
        line-height: 22px !important;
        background-color: #0078bd !important;
        color: #fff;
        margin: 2px 2px 5px 2px;
        border-radius: 0px !important;
    }

    #gvwEmergeUser .k-grid-header {
        padding-right: 24px !important;
    }

    #gvwEmergeUser .k-focusable tr td {
        padding: 10px 5px !important;
    }

    .k-grid-header .k-header .k-link {
        margin: 0 !important;
        padding: 0 !important;
    }

    #element-box .k-grid-header .k-header {
        padding: 10px 8px !important;
    }
</style>
<div id="content-box" style="padding-top: 37px;">
    <div class="padding">
        <div id="toolbar-box" style="display:none;">

            <div>
                <div class="toolbar" id="toolbar">
                    <table class="toolbar">
                        <tr>
                            <td>
                                @Html.HiddenFor(m => m.PkCompanyId)
                                @Html.HiddenFor(m => m.CurrentUserLocationId)
                                @Html.HiddenFor(m => m.CurrentUserRole)
                                @Html.HiddenFor(m => m.CurrentUserEmail)
                                @Html.Hidden("PageSize")
                                @Html.Hidden("PageNo")

                                @* <asp:imagebutton class="imgbtnClasspnl" tooltip="Back to Users" runat="server" id="imgBtnBack"
                                    imageurl="~/Resources/Images/ControlPanel/images/toolbar/icon-32-back.png" onclick="imgBtnBack_Click"
                                    visible="false" />*@
                            </td>
                            <td>
                                <div style="margin-right: 15px">
                                    <img id="img1" src="@Url.Content("~/Content/themes/base/Images/EMEditWhell.png")" style="border: none;
                                        cursor: pointer;" onmouseover="showEMBox('Emerge Edit | My Users')" onmouseout="exit()"
                                         alt="" onclick="GetEmergeEditEmailTemplate('Emerge Edit | My Users');" />
                                    <div id="DivEM" style="display: none;">
                                        @{Html.RenderPartial("../Common/PartialEmergeEdit");}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="header icon-48-user" style="padding: 0px 0px 0px 55px;">
                    Users
                </div>
                <div class="clr">
                </div>
            </div>
            @*<div class="b">
                    <div class="b">
                        <div class="b">
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            <div class="t">
                <div class="t">
                    <div class="t">
                    </div>
                </div>
            </div>
           


                <div style="margin-right: 10px; float:right;">






                </div>
                <div class="m">
                    <div style="clear: both; ">
                        <table width="100%">
                            <tr>
                                <td align="center">
                                    <div id="divMessageBox">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <div id="gvwEmergeUser" style="border:0">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="clr">
                    </div>
                </div>
                <div class="b">
                    <div class="b">
                        <div class="b">
                        </div>
                    </div>
                </div>
           
            <div class="clr">
            </div>
        </div>
    </div>

    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>


    <link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet"
          type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet"
          type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet"
          type="text/css" />
    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/KendoJS/kendo.web.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/gen_validatorv4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=06052015")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Pages/NewReport.js?v=06052015")" type="text/javascript"></script>

    <link href="@Url.Content("~/Design2/Css/main-bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/Selectyze.jquery.css")" rel="stylesheet" type="text/css" />


    <script src="@Url.Content("~/Design2/Js/jquery.js")" type="text/javascript"></script>

    @*<script src="@Url.Content("~/Design2/Js/bootstrap-min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Design2/Js/a-doc.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("res.axd?v=49.0")"></script>

   
    <link href="@Url.Content("~/newfavicon.gif")" rel="shortcut icon" type="image/x-icon" />

    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=5")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet"
          type="text/css" />

    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet" type="text/css" />

    <script src="../../Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ZeroClipboard.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Design2/Js/a-doc.js")" type="text/javascript"></script>


    <script type="text/javascript">

        var pkCmpId = document.getElementById('PkCompanyId').value;
        var pageSize = $("PageSize").val();

        var pkLocationId = document.getElementById('CurrentUserLocationId').value;
        var RoleName = document.getElementById('CurrentUserRole').value;
        var CurrentUserEmail = document.getElementById('CurrentUserEmail').value;
        var selectList = '<span style="width:500px;text-align:right;float:right;">    Page Size: <select id="ddlPageSize" onchange="ChangePageSize(this.value);" style="width:50px;" id="mySelect"><option value="25">25</option><option value="50">50</option><option  value="75">75</option><option value="100">100</option></select></span>';


        getuserliest();

        function getuserliest()
        {
            $("#PageSize").val(25);
            $("#PageNo").val(1);
            if (RoleName == 'CorporateManager' || RoleName == 'SupportManager' || RoleName == 'SupportTechnician' || RoleName == 'SystemAdmin') {
                $("#gvwEmergeUser").kendoGrid({
                    height: 900,
                    sortable: true,
                    pageable: true,
                    columns:
                        [
                            { field: "Row_Num", title: "#", width: "30px", sortable: false },
                            { field: "FirstName", title: "Name", width: "170px" },
                            { field: "Email", title: "Email", width: "170px" },
                            { field: "RoleName", title: "User Type", width: "150px" },
                            { field: "CompanyName", title: "Company", width: "180px", sortable: false },
                            { field: "City", title: "Location", width: "120px" },
                            { field: "", title: "Status", width: "60px" },
                            { field: "", title: "Action", width: "60px", sortable: false }
                        ],

                    dataBound: function () {

                        var gridRows = $("#gvwEmergeUser tbody tr");
                        var takeGrid = $("#gvwEmergeUser").data("kendoGrid");
                        for (i = 0; i < gridRows.length; i++) {

                            var dataItem = takeGrid.dataItem(gridRows[i]);
                            var row = gridRows[i];
                            var StatusImage = '';
                            var IsEnabled = dataItem.IsEnabledUser;
                            var RoleName = dataItem.RoleName;
                            var pkCompanyUserId = dataItem.pkCompanyUserId;
                            var EditButton = '';
                            if (IsEnabled == true) {
                                StatusImage = "<img src=\"../Design2/Img/status.png\" style=\"height:16px\"  alt=\"Active\" />";
                            }
                            else {
                                StatusImage = "<img src=\"../Content/themes/base/images/cross.png\" style=\"height:16px\" alt=\"InActive\" />";
                            }
                            if (RoleName.replace(" ", "") == "CorporateManager" || RoleName.replace(" ", "") == "SalesAdmin" || RoleName.replace(" ", "") == "SupportManager" || RoleName.replace(" ", "") == "SupportTechnician" || RoleName.replace(" ", "") == "SystemAdmin") {
                                EditButton = '';

                            }
                            else {
                                EditButton = "<input type=\"IMAGE\" SRC=\"../Design2/Img/edit.png\" title=\"Edit\" id=\"image1\" value=" + pkCompanyUserId + "  style=\"width:21px; height:20px\" onclick=\"EditCompanyUser(this.value)\"  />";
                            }

                            row.cells[6].innerHTML = StatusImage;
                            row.cells[7].innerHTML = EditButton;

                            GridEffect("gvwEmergeUser", dataItem)


                        }
                    },
                    dataSource: {
                        schema: {
                            data: "Users",
                            total: function (e) {
                                total = e.TotalCount;
                                return total;

                            },
                            model: {
                                id: "pkCompanyUserId",
                                fields: {

                                }
                            }
                        },
                        batch: true,
                        transport: {
                            read:
                            {
                                url: "@Url.Action("GetUserUnderCorporate", "Corporate")",
                                type: "POST",
                                data: { PkCompanyId: pkCmpId }
                            }
                        },
                        pageSize: $("#PageSize").val(), //set page size
                        page: $("#PageNo").val(),
                        serverPaging: true, //enable server paging                       
                        serverFiltering: true
                    }
                }).find("th").addClass("centeralign");
            }
            if (RoleName == 'BranchManager') {
                $("#gvwEmergeUser").kendoGrid({
                    sortable: true,
                    height: 900,
                    columns:
                        [
                            { field: "FirstName", title: "Name", width: "170px" },
                            { field: "UserName", title: "Email", width: "170px" },
                            { field: "RoleName", title: "User Type", width: "150px" },
                            { field: "CompanyName", title: "Company", width: "180px", sortable: false },
                            { field: "City", title: "Location", width: "120px", sortable: false },
                            { field: "", title: "Status", width: "60px", sortable: false },
                            { field: "", title: "Action", width: "60px", sortable: false }
                        ],
                    pageable: true,
                    dataBound: function () {
                       
                        var gridRows = $("#gvwEmergeUser tbody tr");
                        var takeGrid = $("#gvwEmergeUser").data("kendoGrid");
                        alert(gridRows.length);
                        for (i = 0; i < gridRows.length; i++) {

                            var dataItem = takeGrid.dataItem(gridRows[i]);
                            var row = gridRows[i];
                            var StatusImage = '';
                            var IsEnabled = dataItem.IsEnabledUser;
                            var RoleName = dataItem.RoleName;
                            var Email = dataItem.Email;
                            var pkCompanyUserId = dataItem.pkCompanyUserId;
                            var EditButton = '';

                            if (IsEnabled == true) {
                                StatusImage = "<img src=\"../Design2/Img/status.png\"  alt=\"Active\" />";
                            }
                            else {
                                StatusImage = "<img src=\"../Content/themes/base/images/cross.png\" alt=\"InActive\" />";
                            }
                            if (RoleName.replace(" ", "") == "CorporateManager" || RoleName.replace(" ", "") == "BranchManager" || RoleName.replace(" ", "") == "SystemAdmin") {
                                EditButton = '';

                            }
                            if (CurrentUserEmail.toLowerCase() == Email.toLowerCase()) {
                                EditButton = "<input type=\"IMAGE\" SRC=\"../Content/themes/base/images/edit.png\" id=\"image1\" title=\"Edit\" value=" + pkCompanyUserId + "  style=\"width:21px; height:20px\" onclick=\"EditCompanyUser(this.value)\"  />";
                            }
                            else {
                                EditButton = "<input type=\"IMAGE\" SRC=\"../Content/themes/base/images/edit.png\" id=\"image1\" title=\"Edit\" value=" + pkCompanyUserId + "  style=\"width:21px; height:20px\" onclick=\"EditCompanyUser(this.value)\"  />";
                            }

                            row.cells[5].innerHTML = StatusImage;
                            row.cells[6].innerHTML = EditButton;
                            GridEffect("gvwEmergeUser", dataItem)
                        }
                    },
                    dataSource: {
                        schema: {
                           data: "Users",
                            total: function (e) {
                                total = e.TotalCount;
                                return total;

                            },
                            model: {
                                id: "pkCompanyUserId",
                                fields: {

                                }
                            }
                        },
                        batch: true,
                        transport: {
                            read:
                            {
                                url: "@Url.Action("GetUserUnderBranch", "Corporate")",
                                type: "POST",
                                data: { PkLocation: pkLocationId }
                            }
                        },
                        pageSize: $("#PageSize").val(), //set page size
                        page: $("#PageNo").val(),
                        serverPaging: true, //enable server paging
                        serverSorting: true,
                        serverFiltering: true
                    }
                }).find("th").addClass("centeralign");
            }
            if (RoleName == 'BasicUser' || RoleName == 'ViewOnlyUser') {
                $("#gvwEmergeUser").kendoGrid({
                    sortable: true,
                    height: 900,
                    columns:
                        [
                            { field: "FirstName", title: "Name", width: "170px" },
                            { field: "Email", title: "Email", width: "170px" },
                            { field: "RoleName", title: "User Type", width: "150px" },
                            { field: "CompanyName", title: "Company", width: "180px", sortable: false },
                            { field: "City", title: "Location", width: "120px", sortable: false },
                            { field: "", title: "Status", width: "60px", sortable: false },
                            { field: "", title: "Action", width: "60px", sortable: false }
                        ],
                    pageable: true,
                    dataBound: function () {

                        var gridRows = $("#gvwEmergeUser tbody tr");
                        var takeGrid = $("#gvwEmergeUser").data("kendoGrid");
                        for (i = 0; i < gridRows.length; i++) {

                            var dataItem = takeGrid.dataItem(gridRows[i]);
                            var row = gridRows[i];
                            var StatusImage = '';
                            var IsEnabled = dataItem.IsEnabledUser;
                            var RoleName = dataItem.RoleName;
                            var Email = dataItem.Email;
                            var pkCompanyUserId = dataItem.pkCompanyUserId;
                            var EditButton = '';

                            if (IsEnabled == true) {
                                StatusImage = "<img src=\"../Design2/Img/status.png\"  alt=\"Active\" />";
                            }
                            else {
                                StatusImage = "<img src=\"../Content/themes/base/images/cross.png\" alt=\"InActive\" />";
                            }
                            if (RoleName.replace(" ", "") == "CorporateManager" || RoleName.replace(" ", "") == "BranchManager" || RoleName.replace(" ", "") == "SystemAdmin" || RoleName.replace(" ", "") == "BasicUser") {
                                EditButton = '';

                            }
                            if (CurrentUserEmail.toLowerCase() == Email.toLowerCase()) {
                                EditButton = "<input type=\"IMAGE\" SRC=\"../Content/themes/base/images/edit.png\" id=\"image1\" title=\"Edit\" value=" + pkCompanyUserId + "  style=\"width:21px; height:20px\" onclick=\"EditCompanyUser('MyAccount')\"  />";
                            }

                            row.cells[5].innerHTML = StatusImage;
                            row.cells[6].innerHTML = EditButton;
                            GridEffect("gvwEmergeUser", dataItem)
                        }
                    },
                    dataSource: {
                        schema: {
                            model: {
                                id: "pkCompanyUserId",
                                fields: {

                                }
                            }
                        },
                        batch: true,
                        transport: {
                            read:
                            {
                                url: "@Url.Action("GetUserUnderBranch", "Corporate")",
                                type: "POST",
                                data: { PkLocation: pkLocationId }
                            }
                        },
                        pageSize: $("#PageSize").val(), //set page size
                        page: $("#PageNo").val(),
                        serverPaging: true, //enable server paging
                        serverSorting: true,
                        serverFiltering: true
                    }
                }).find("th").addClass("centeralign");
            }

            $(".k-grid-pager").append(selectList);

            var PageSize = $("#PageSize").val();
            var ddlPageSize = $("#ddlPageSize");
            ddlPageSize.val(PageSize);
        }


        function ChangePageSize(val) {

            var ds = $("#gvwEmergeUser").data("kendoGrid").dataSource;
            var newPageSize = parseInt(val);
            ds.pageSize(newPageSize);
        }

    </script>
    <script type="text/javascript">
        function EditCompanyUser(pkCompanyUserId) {
            if (pkCompanyUserId == 'MyAccount') {
                self.location = 'MyAccount';
            }
            else {
                self.location = 'EditCompanyUser?_a=' + pkCompanyUserId;
            }

        }
    </script>
