﻿@model Emerge.Models.LoginModel
<div id="dvPasswordExpPopupContainer" style="margin-left: 300px; display: none;">
    <div id="passwordexpirePopUp">
        @using (Ajax.BeginForm("../Common/UpdateExpiredPassword", "", new AjaxOptions { OnSuccess = "PwdExpResult" }, new { id = "frmForgetPwd" }))
        {
            <div id="divmPop1" runat="server" style="border-color: Black; border-width: 1px;
                border-style: solid; overflow: visible; width: 500px; height: 167px;">
                <table class="ModalPopupTable" width="100%" cellpadding="0" cellspacing="0" border="0"
                    style="height: 167px;">
                    @*<tr>
                        <td class="forget_Header" colspan="3" align="center">
                            Password Recovery
                        </td>
                    </tr>*@
                    <tr id="trSuccessMessage">
                        <td colspan="3" align="center">
                            <div id="dvMsgForgtPass1">
                            </div>
                        </td>
                    </tr>
                    <tr id="trClose">
                        <td colspan="3" align="center">
                            <table class="RoundRedButton" border="0" cellspacing="0" cellpadding="0">
                                <tbody>
                                    <tr>
                                        <td class="btnLeft">
                                            &nbsp;
                                        </td>
                                        <td class="btnCenter">
                                            <input style="background-color: transparent;" value="Close" type="reset" onclick="cancelpwdexp();">
                                        </td>
                                        <td class="btnRight">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr id="trmessage">
                        <td>
                        </td>
                        <td class="forget_Text1" align="center">
                            Please change your password and use updated password to login into system.
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr id="trValidate">
                        
                        <td align="center" colspan="2">
                            <ul style="text-align:left; list-style-type:circle !important; margin-left:53px;">
                                <li>Password must be a minimum 6 characters.</li>
                                <li>Password include must be one number or one special charecter.</li>
                               
                            </ul>
                        </td>
                        <td>
                        </td>
                    </tr>
                        <td colspan="3">&nbsp;</td>
                        <tr>
                    </tr>
                    <tr id="trbutton">
                        <td colspan="3">
                            <table width="100%">
                                <tr>
                                    <td width="37%" class="style1" align="right">
                                        New Password :
                                    </td>
                                    <td align="left" class="style2">
                                        @Html.PasswordFor(x => x.NewPassword)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td align="left">
                                        @Html.ValidationMessageFor(x => x.NewPassword)
                                    </td>
                                </tr>
                                <tr>
                                    <td width="37%" class="style1" align="right">
                                        Confirm New Password :
                                    </td>
                                    <td align="left" class="style2">
                                        @Html.PasswordFor(x => x.ConfirmNewPassword)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td align="left">
                                        @Html.ValidationMessageFor(x => x.ConfirmNewPassword)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    </td>
                                    <td align="left">
                                        <table>
                                            <tr>
                                                <td align="left">
                                                    <table class="RoundRedButton" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="btnLeft">
                                                                    &nbsp;
                                                                </td>
                                                                <td class="btnCenter">
                                                                    <input style="background-color: transparent;" value="Update" type="submit">
                                                                </td>
                                                                <td class="btnRight">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td align="left">
                                                    <table class="RoundRedButton" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="btnLeft">
                                                                    &nbsp;
                                                                </td>
                                                                <td class="btnCenter">
                                                                    <input style="background-color: transparent;" value="Cancel" type="reset" onclick="cancelpwdexp();">
                                                                </td>
                                                                <td class="btnRight">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    function PwdExpResult(result) {
        $("#dvMsgForgtPass1").html(result.Msg);
        $("#dvMsgForgtPass1").addClass(result.css);
        $("#trbutton").hide();
        $('#trmessage').hide();
        $('#trClose').show();
        $('#trSuccessMessage').show();
        $('#trValidate').hide();
    }
    $(document).ready(function () {
        $('#btnClose').click(function () {
            $("#dvSuccessPasswordMessage").hide();
        });
    });
</script>
