﻿


@model Emerge.Models.ViewReportModel


<div id="content-box">
    <div class="padding">
        <div id="toolbar-box">
            <div class="t">
                <div class="rightTopRptHdrBorder">
                </div>
                <div class="leftTopRptHdrBorder">
                </div>
            </div>
            <div class="m">
                <div style="padding: 0px 0px 0px 0px;">
                    <table border="0" width="100%">
                        <tr>
                            <td width="120px" align="right" class="cls_report">
                                Report Order
                            </td>
                            <td>
                            </td>
                            <td width="90px" align="right">
                            </td>
                            <td width="100px">
                          
                                @Html.Partial("../Common/PartialEmailSavePrintPopup")
                                
                            </td>
                            <td id="rowPrintReport" align="right">
                                <table>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                           @* <img id="imgbtnEmail" src="@Url.Content("~/Content/themes/base/images/email_btn.png")" alt=""
                                                style="cursor: pointer;" onclick="ShowPopup(2);" />*@
                                        </td>
                                        <td>
                                            <img id="imgbtnSave" src="@Url.Content("~/Content/themes/base/images/save_btn.png")" alt="" style="cursor: pointer;"
                                                onclick="ShowPopup(3);" />
                                        
                                        </td>
                                        <td>
                                            <img id="imgbtnPrint" src="@Url.Content("~/Content/themes/base/images/print_btn.png")" alt=""
                                                style="cursor: pointer;" onclick="ShowPopup(4);" />
                                        </td>
                                        <td>
                                            <img id="imgBtnBack" src="@Url.Content("~/Content/themes/base/images/back.png")" alt="" style="cursor: pointer;"
                                                onclick="Back();" />
                                            <input type="hidden" id="hdRR" value="@ViewBag.RR" />
                                            <input type="hidden" id="hdbck" value="@ViewBag.bck" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="clr" align="center">
                    hello
                </div>
                <div align="center">
                </div>
            </div>
            <div class="b">
                <div class="rightBottomRptHdrBorder">
                </div>
                <div class="leftBottomRptHdrBorder">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            <div class="t">
                <div class="rightTopRptHdrBorder">
                </div>
                <div class="leftTopRptHdrBorder">
                </div>
            </div>
            <div class="m" id="test">
                <table cellpadding="2" cellspacing="2" style="margin: 0px" width="100%">
                    <tr id="rowReportAndApplicantInfo">
                        <td style="width: 100%;">
                            <table id="tblsummary" style="border-collapse: collapse;" border="0" cellpadding="0"
                                cellspacing="0" width="95%" align="center">
                                @* <tr>
                                    <td class="Hide_While_Print" width="11" height="11">
                                         <img src="<%=ResolveWebUrl("~/Resources/images/left_top.png") %>" width="11" height="11"
                                                    alt="" />
                                    </td>
                                    <td bgcolor="#dadada" class="Hide_While_Print" style="border-top: 0px solid #cdcdcd;">
                                    </td>
                                    <td width="11" height="11" class="Hide_While_Print">
                                         <img src="<%=ResolveWebUrl("~/Resources/images/right_top.png") %>" width="11" height="11"
                                                    alt="" />
                                    </td>
                                </tr>*@
                                <tr>
                                    <td class="Theme" width="11" height="11" style="border-left: 0px solid #cdcdcd;">
                                    </td>
                                    <td class="Theme" align="center">
                                        <table cellpadding="0" cellspacing="0" style="margin: 0px" width="100%">
                                            <tr>
                                                <td width="33%" valign="top">
                                                    <table cellpadding="2" cellspacing="2" style="margin: 0px" width="100%">
                                                        <tr>
                                                            <td colspan="3" class="Report_Header">
                                                                Report Information
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Report_Sub_info_left" style="width: 35%">
                                                                Order Id
                                                            </td>
                                                            <td class="Report_Sub_info_middle">
                                                            </td>
                                                            <td class="Report_Sub_info_right">
                                                                @Model.OrderNo
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Report_Sub_info_left">
                                                                Search Date
                                                            </td>
                                                            <td class="Report_Sub_info_middle">
                                                            </td>
                                                            <td class="Report_Sub_info_right">
                                                                @Model.OrderDt
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Report_Sub_info_left">
                                                                Report Type
                                                            </td>
                                                            <td class="Report_Sub_info_middle">
                                                            </td>
                                                            <td class="Report_Sub_info_right">
                                                                @Model.ReportType
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="33%" valign="top">
                                                    <table cellpadding="2" cellspacing="2" style="margin: 0px" width="100%">
                                                        <tr>
                                                            <td class="Report_Header" colspan="3">
                                                                Company Information
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Report_Sub_info_left" style="width: 27%">
                                                                Company
                                                            </td>
                                                            <td class="Report_Sub_info_middle">
                                                            </td>
                                                            <td class="Report_Sub_info_right">
                                                                @Html.Raw(Model.CompanyName)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Report_Sub_info_left">
                                                                Location
                                                            </td>
                                                            <td class="Report_Sub_info_middle">
                                                            </td>
                                                            <td class="Report_Sub_info_right">
                                                                @Html.Raw(Model.CompanyLocation)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="Report_Sub_info_left">
                                                                User
                                                            </td>
                                                            <td class="Report_Sub_info_middle">
                                                            </td>
                                                            <td class="Report_Sub_info_right">
                                                                @Html.Raw(Model.CompanyUser)
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="33%" valign="top">
                                                    <table cellpadding="2" cellspacing="2" style="margin: 0px" width="100%">
                                                        <tr style="display: none;">
                                                            <td class="Report_Header" colspan="3">
                                                                Applicant Information
                                                            </td>
                                                        </tr>
                                                        <tr style="display: none;">
                                                            <td class="Report_Sub_info_left" style="width: 50%">
                                                                Applicant Name
                                                            </td>
                                                            <td class="Report_Sub_info_middle">
                                                            </td>
                                                            <td class="Report_Sub_info_right">
                                                                <span id="spApplicantName">@Model.ApplicantName</span>
                                                            </td>
                                                        </tr>
                                                        <tr style="display: none;">
                                                            <td class="Report_Sub_info_left">
                                                                State
                                                            </td>
                                                            <td class="Report_Sub_info_middle">
                                                            </td>
                                                            <td class="Report_Sub_info_right">
                                                                @Model.ApplicantState
                                                            </td>
                                                        </tr>
                                                        <tr style="display: none;">
                                                            <td class="Report_Sub_info_left">
                                                                Date of birth
                                                            </td>
                                                            <td class="Report_Sub_info_middle">
                                                            </td>
                                                            <td class="Report_Sub_info_right">
                                                                @Model.ApplicantDob
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td class="Theme" width="11" height="11" bgcolor="#dadada" style="border-right: 0px solid #cdcdcd;">
                                    </td>
                                </tr>
                                @* <tr>
                                    <td width="11" height="11" class="Hide_While_Print">
                                         <img src="<%=ResolveWebUrl("~/Resources/images/left_bottom.png")%>" width="11" height="11"
                                                    alt="" />
                                    </td>
                                    <td bgcolor="#dadada" style="border-bottom: 0px solid #cdcdcd;" class="Hide_While_Print">
                                    </td>
                                    <td width="11" height="11" class="Hide_While_Print">
                                        <img src="<%=ResolveWebUrl("~/Resources/images/right_bottom.png")%>" width="11" height="11"
                                                    alt="" />
                                    </td>
                                </tr>*@
                            </table>
                        </td>
                    </tr>
                    @if (Model.tdUpdateOrderNote)
                    {
                        <tr>
                            <td id="tdUpdateOrderNote">
                                <table style="border-collapse: collapse;" border="0" cellpadding="0" cellspacing="0"
                                    width="95%" align="center">
                                    <tr>
                                        <td style="color: #000; background-color: #FFFFDD">
                                            <p style="text-align: justify;">
                                                @Html.Raw(Model.PendingOrderNote)
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td style="padding-left: 18px;">
                            @Html.Raw(Model.DrugTestingString)
                        </td>
                    </tr>
                    <tr id="rowReportAndApplicantInfo_another">
                        <td style="width: 100%;">
                            <table style="border-collapse: collapse;" border="0" cellpadding="0" cellspacing="0"
                                width="95%" align="center">
                                <tr>
                                    <td>
                                        <p style="text-align: justify;">
                                            <b>Disclaimer:</b> Information obtained from USAintel and Emerge Solutions is provided
                                            'as is' and should not be the sole determiner in the evaluation of this individual
                                            (Human error in compiling this information is possible). All other factors, references
                                            and current situations should be considered.The information in this report is derived
                                            from records in accordance with the Fair Credit Reporting Act (FCRA, Public Law
                                            91-508, Title VI). This disclaimer includes without limitation, implied warranties
                                            of merchantability and fitness for a particular purpose. USAintel makes no warranty
                                            as to the quality accuracy, completeness, timeliness and validity of the data or
                                            its compliance with applicable law. USAintel is not liable for any claims or damages
                                            arising out of or relating to the use of this data. This information should not
                                            be used in legal proceedings. Furthermore, USAintel policy requires purchasers and
                                            all users of this report to comply with all applicable law (including the FCRA and
                                            GLBA) relating to the access and use of this data while abiding by their obligations,
                                            and remaining in compliance of the FCRA. For technical assistance, please contact
                                            USAintel Support at 888-409-1819.
                                        </p>
                                        <hr />
                                        <table width="100%">
                                            <tr>
                                                <td width="89px">
                                                    <img src="@Url.Content("~/Content/themes/base/images/emerge_disclaimer.png")" alt="" />
                                                </td>
                                                <td width="285px" align="left">
                                                    USAintel | Powered by Emerge
                                                </td>
                                                <td align="right">
                                                    <a id="LinkButton2" class="EMLogo" onmouseover="showEMBox('Emerge Edit | Viewing Reports')"
                                                        onmouseout="exit()" onclick="GetEmergeEditEmailTemplate('Emerge Edit | View Reports'); return false;">
                                                        <img id="img1" src="/Content/themes/base/Images/EMEditWhell.png"
                                                            style="border: none" alt="" /></a>

                                                            <div id="DivEM" style="display: none;">
                                                @{Html.RenderPartial("../Common/PartialEmergeEdit");}</div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="clr">
                </div>
            </div>
            <div class="b">
                <div class="rightBottomRptHdrBorder">
                </div>
                <div class="leftBottomRptHdrBorder">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
    </div>
</div>
<script type="text/javascript">
    function collapse(box) {
        if ($("#" + box + "_b").is(":hidden")) {
            $("#" + box + "_b").slideDown("normal");
            $("#" + box + "_f").slideDown("normal");
        } else {
            $("#" + box + "_b").slideUp("normal");
            $("#" + box + "_f").slideUp("normal");
        }
    }

    function CompleteOrderByOrderId(orderid) {
        if (confirm("Do you want to complete the report order?")) {
            $.post('@Url.Action("CompleteDrugTestingOrderByOrderId", "Control")', { OrderId: orderid }, function (data) {
                if (data.result == 1) {
                    $("#CompleteButtonDiv").html("<span class='Complete'>Complete</span>");
                    alert("Report Order is Complete, Now!");
                    window.location.href = "../Control/AdminSearch"; 
                }
            });
        }

    }

    function EditDrugTestingOrder(orderid)
    {        
        self.location = "EditDrugTestingOrder?_a=" + orderid;
    }
</script>

<style>
.Complete {
    background-color: #6CC525;
    border-radius: 3px 3px 3px 3px;
    color: white;
    padding: 1px 2px;
}

.Pending {
    background-color: #0B55C4;
    border-radius: 3px 3px 3px 3px;
    color: white;
    padding: 1px 4px;
}

.InComplete {
    background-color: #E68C13;
    border-radius: 3px 3px 3px 3px;
    color: white;
    padding: 1px 2px;
}
</style>
