﻿@model Emerge.Models.SavedReportModel
<style type="text/css">
    span.tool
    {
        position: absolute; /* this is key */
        cursor: pointer;
        color: #096FE6;
        text-decoration: underline;
        font-size: 12px;
        font-weight: bold;
        margin-top: -12px;
        margin-left: 5px;
        text-decoration: none;
    }
    
    span.tool span.tip
    {
        display: none; /* so is this */
        text-decoration: none;
    }
    
    /* tooltip will display on :hover event */
    
    span.tool:hover span.tip
    {
        color: #000;
        display: block;
        z-index: 100;
        position: absolute;
        top: 0em;
        left: 0;
        margin-left: -222px;
        width: 200px;
        padding: 10px;
        border: 1px solid #000;
        background-color: #fff;
        font: normal 0.9em/1.2em arial, helvetica, sans-serif;
        text-align: left;
        font-weight: bold;
        text-decoration: none;
    }
    #content span.tool::after
    {
        padding-left: 2px; /* content: url(/img/bubble.gif);*/
    }
    
    .ddlField1
    {
        /*border: 1px solid #A7D2E4;*/
        padding-bottom: 2px;
        margin: 0px;
        padding-left: 3px;
        padding-right: 3px;
        background: url(../Content/themes/base/images/TextBox_Background.png) repeat-x 0px 0px;
        height: 22px;
        padding-top: 2px;
        width: 172px;
    }
    .ddlFieldMonth
    {
        border-bottom: #b8b8b8 1px solid;
        border-left: #b8b8b8 1px solid;
        padding-bottom: 3px;
        margin: 0px;
        padding-left: 5px;
        padding-right: 5px;
        background: url(../Content/themes/base/images/TextBox_Background.png) repeat-x 0px 0px;
        height: 24px;
        border-top: #b8b8b8 1px solid;
        border-right: #b8b8b8 1px solid;
        padding-top: 3px;
        width: 110px;
        float: left;
    }
    .textField1
    {
        border-bottom: #b8b8b8 1px solid;
        border-left: #b8b8b8 1px solid;
        padding-bottom: 3px;
        margin: 0px;
        padding-left: 5px;
        padding-right: 5px;
        background: url(../Content/themes/base/images/TextBox_Background.png) repeat-x 0px 0px;
        height: 17px;
        border-top: #b8b8b8 1px solid;
        border-right: #b8b8b8 1px solid;
        padding-top: 3px;
        width: 150px;
        float: left;
    }
    .textFieldWrapper1
    {
        float: left;
        width: 100%;
    }
    .update-button
    {
        color: Red;
    }
    .chk-head-style
    {
        margin: 0px;
        padding-left: 0px;
    }
    .chk-style
    {
        padding-left: 0px;
        margin: 0px;
    }
    #popupEmail div.k-window-content
    {
        padding: 0px;
    }
    .RoundBorder
    {
        border: 1px solid #cdc3b7;
        border-radius: 5px;
        padding: 2px;
    }
    .k-grid .centeralign
    {
        text-align: center;
    }
    .Completed
    {
        background-color: #6CC525;
        color: white;
        padding: 1px 2px;
        border-radius: 3px;
    }
    .InComplete
    {
        background-color: #E68C13;
        color: white;
        padding: 1px 2px;
        border-radius: 3px;
    }
    .Pending
    {
        background-color: #0b55c4;
        color: white;
        padding: 1px 4px;
        border-radius: 3px;
    }
    .InReview
    {
        background-color: Red;
        color: white;
        padding: 1px 4px;
        border-radius: 3px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
            //document.getElementById('tdAdmin').style.display = 'none';
    });
</script>
<div id="content-box" style="background-color: #ffffff">
    <div class="padding">
        <div id="toolbar-box">
            <div class="t" style="background-color: #ffffff">
                <div class="rightTopRptHdrBorder">
                </div>
                <div class="leftTopRptHdrBorder">
                </div>
            </div>
            <div class="m">
                <div class="reportHeaderImg" style="float: left; margin-left: 10px">
                </div>
                <div class="reportHeader" style="float: left; margin-left: 0px">
                    Reports</div>
                <div class="toolbar">
                    <table align="right" class="toolbar">
                        <tr>
                            <td id="tdMove">
                                <img id="imgbtnMove" src="@Url.Content("~/Content/themes/base/images/move_icon.png")" alt=""
                                    style="cursor: pointer;" onclick="ShowPopup(1);" />
                                <div id="popup_MarkContainer" style="display: none;">
                                    <div id="popup_Mark">
                                        <div id="CloseDiv_Move" style="background-color: #fbfbfb; width: 16px; height: 16px;
                                            float: right;">
                                        </div>
                                        <div>
                                            <table border="0" id="tableMove" style="width: 300px;" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="100%">
                                                        <table width="100%" cellpadding="0" style="text-align: left;" cellspacing="0">
                                                            <tr>
                                                                <td align="right">
                                                                    Mark as :
                                                                </td>
                                                                <td align="left">
                                                                    <select id="ddlMarkAs" style="width: 170px;">
                                                                        <option value="-1">---Select Folder---</option>
                                                                        <option value="1">Read</option>
                                                                        <option value="2">Unread</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                </td>
                                                                <td align="left">
                                                                    <span class="ErrorMessage" id="vldMark" style="display: none; color: red;">Select Folder.</span>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                </td>
                                                                <td align="center">
                                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td>
                                                                                <input type="button" value="Mark" onclick="MarkOrder();" />
                                                                            </td>
                                                                            <td>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <img id="imgbtnSave" src="@Url.Content("~/Content/themes/base/images/save_btn.png")" alt="" style="cursor: pointer;"
                                    onclick="ShowPopup(3);" />
                            </td>
                            <td>
                                <img id="imgbtnPrint" src="@Url.Content("~/Content/themes/base/images/print_btn.png")" alt=""
                                    style="cursor: pointer;" onclick="ShowPopup(4);" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="popupEmailContainer" style="display: none; height: 0px; padding-left: 200px;
                    text-align: center;">
                    <div id="popupEmail" style="width: 320px;">
                        <div id="tabstrip">
                            <ul class="tab_ul">
                                <li id="liSave">Save </li>
                                <li id="liPrint">Print </li>
                            </ul>
                            <div id="dvSave" style="">
                                <table cellpadding="0" cellspacing="0" width="99%" id="tblSave">
                                    <tr>
                                        <td colspan="3">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" valign="middle" width="20%">
                                            <img alt="Save" src="@Url.Content("~/Content/themes/base/images/save_btn_center.png")" style="padding-top: 5px;" />
                                            &nbsp;
                                        </td>
                                        <td align="left">
                                            <input type="button" id="btnSaveReport" class="cls_btn" value="Save" onclick="return SelectReport('SV');" />
                                        </td>
                                        <td align="left">
                                            <input type="text" id="txtSaveReport" style="width: 142px;" value="@ViewBag.UserFullName1" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <span id="reqtxtSave" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
                                                style="display: none;"><span class="k-icon k-warning"></span>Enter file name</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div id="dvPrint" style="">
                                <table cellpadding="0" cellspacing="0" width="99%" id="tblPrint">
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td valign="middle" align="right" width="40%">
                                            <img alt="Print" src="@Url.Content("~/Content/themes/base/images/print_btn_center.png")" style="padding-top: 5px;" />
                                        </td>
                                        <td style="width: 20px">
                                        </td>
                                        <td align="left" style="margin-left: 10px">
                                            <input id="btnPrint" type="button" value="Print" class="cls_btn" onclick="return SelectReport('PT');" />
                                        </td>
                                        <td align="left">
                                            <input type="text" id="txtPrint" style="width: 142px; display: none;" />
                                        </td>
                                    </tr>
                                    <tr>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clr">
                </div>
            </div>
            <div class="b" style="background-color: #ffffff">
                <div class="rightBottomRptHdrBorder">
                </div>
                <div class="leftBottomRptHdrBorder">
                </div>
            </div>
        </div>
        <div class="clr">
        </div>
        <div id="element-box">
            <table align="center" border="0" style="width: 100%">
                <tr>
                    <td style="width: 1%; vertical-align: top; display: none;">
                        <table cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <table class="RoundBorder">
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(m => m.ReportCount)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                Order Date<br />
                                                <div class="textFieldWrapper1">
                                                    @Html.DropDownListFor(model => model.pkOrderDateId, new SelectList(Model.OrderDateColl, "key", "value"), new { @class = "ddlField1", onchange = "BindGrid(0,'AllReports')" })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr id="trMonth" style="display: none;">
                                            <td align="left">
                                                <div class="textFieldWrapper1">
                                                    @Html.DropDownListFor(x => x.Month, new SelectList(new List<object> 
                                                       {                                                                       
                                                              new{value="January",text="1"},
                                                              new{value="February",text="2"},
                                                              new{value="March",text="3"},
                                                              new{value="April",text="4"},
                                                              new{value="May",text="5"},
                                                              new{value="June",text="6"},
                                                              new{value="July",text="7"},
                                                              new{value="August",text="8"},
                                                              new{value="September",text="9"},
                                                              new{value="October",text="10"},
                                                              new{value="November",text="11"},
                                                              new{value="December",text="12"}                                                              
                                                       }, "text", "value"
                                                                              ), new { @class = "ddlFieldMonth" })
                                                </div>
                                                <div class="textFieldWrapper1">
                                                    @Html.DropDownListFor(model => Model.Year, new SelectList(Model.DictYear, "key", "value"), new { @class = "ddlFieldMonth" })
                                                </div>
                                            </td>
                                        </tr>
                                        <tr id="trSpecificDate" style="display: none;">
                                            <td>
                                                @Html.TextBoxFor(m => m.txtSpecificDate)
                                            </td>
                                        </tr>
                                        <tr id="trSpecificDateRange" style="display: none;">
                                            <td>
                                                <div class="textFieldWrapper1">
                                                    @Html.TextBoxFor(m => m.txtSpecificFrom)
                                                </div>
                                                <div class="textFieldWrapper1">
                                                    @Html.TextBoxFor(m => m.txtSpecificTo)
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                        <td>
                                        <label id="msgval" style="color:Red;font-size:92%;"></label>
                                        </td>
                                        </tr>
                                        <tr id="trSearch" style="display: none;">
                                            <td>
                                                <input class="valclass" type="button" value="Search" onclick="BindGrid(-1,'AllReports')" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="vertical-align: top; width: 99%">
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left">
                                    <table style="width: 170px">
                                        <tr>
                                            <td>
                                                Showing <span align="center" style="font-size: 16px; width: 60px; font-weight: bold;
                                                    color: #0b55c4;">
                                                    <label id="lblTotalRecords">
                                                        @Model.TotalRecords
                                                    </label>
                                                </span>records
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td align="right">
                                    @if (Model.UserRoles.Contains("SystemAdmin"))
                                    {
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Content/themes/base/images/hit_green_dot.png")" title="Records Clear" alt="Search" style="cursor: pointer;margin-bottom:-2px;" > <span
                                            style="font-weight: bold">: No records found</span>
                                        <img src="@Url.Content("~/Content/themes/base/images/miss_red_dot.png")" title="Records Matched" alt="Search" style="cursor: pointer;margin-bottom:-2px;" > <span
                                            style="font-weight: bold">: Possible records found</span>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div id="kendoGrid">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="2">
                                    <input id="hdnIncArchive" type="hidden" />
                                    <div id="divArchive" style="display: none;">
                                        <a name='IncompleteArchive' class="IncArchiveLink" id="IncompleteArchive" onclick='BindGrid(0,this.id)'
                                            style='cursor: pointer;'>Archive</a>
                                    </div>
                                    <div id="divBack" style="display: none;">
                                        <a name='IncompleteArchive' class="IncArchiveLink" id="Back" onclick='BindGrid(0,this.id)'
                                            style='cursor: pointer;'>Back</a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr id="trResult" style="background: white;">
                    <td colspan="3">
                        <div id="divSavedReportLogWindow">
                            <div id="divSavedReportLog" style="display: none; background-color: white; border: 1px solid black;">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="clr">
        </div>
    </div>
</div>
@Html.HiddenFor(m => m.Role)
@Html.HiddenFor(m => m.SearchedOntbl)
<input type="hidden" value="@Model.UserRoles" id='UserRoles' />
<a id="lnkAuthform" style="color: #000000; display: none;">rertrt</a>
<input type="hidden" id="fromdate"/>
<input type="hidden" id="todate"/>
@Html.HiddenFor(m => m.PageSize)
@Html.HiddenFor(m => m.PageNo)
<input type="hidden" value="@Model.pkCompanyId" id='pkCompanyId' />
<input type="hidden" value="@Model.LocationId" id='LocationId' />
<input type="hidden" value="@Model.pkCompanyUserId" id='pkCompanyUserId' />
<input type="hidden" value="" id='Keyword' />
<input type="hidden" value="@Model.pkProductApplicationId" id='pkProductApplicationId' />
<input type="hidden" value="false" id='chkIsIncomplete' />
<input type="hidden" value="@Model.pkReferenceCodeId" id='ReferenceCode' />

<link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet"
    type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
<script type="text/javascript">
        

 $("#tabstrip").kendoTabStrip({
                animation: {
                    open: {
                        effects: "fadeIn"
                    }
                }

            });

   var selectList = '<span style="width:500px;text-align:right;float:right;">    Page Size: <select id="ddlPageSize" onchange="ChangePageSize(this.value);" style="width:50px;" id="mySelect"><option value="25">25</option><option value="50">50</option><option  value="75">75</option><option value="100">100</option></select></span>';
   var divTotal = '<div id="divTotal" ></div>';
 
    var dataSource = new kendo.data.DataSource({               
            batch: true,            
            transport: {
                read: { url: "@Url.Action("GetSavedReports", "CommonSavedReport")", type: "POST",
                data: {PkCompanyId:$('#pkCompanyId').val(),LocationId:$('#LocationId').val(),
                      CompanyUserId:$('#pkCompanyUserId').val(),Keyword: $('#Keyword').val(),SearchdOntable:$('#SearchedOntbl').val(), pkProductApplicationId:$('#pkProductApplicationId').val(),
                      ShowIncomplete:$('#chkIsIncomplete').val()
                      },
                       complete: function (Message, textStatus) {                               
                      }                        
                      },                
                parameterMap: function (options) {                 
                    var data = options;                
                    if (options.filter) {
                        var filters = options.filter.filters;
                        for (var i = 0; i < filters.length; i++) {
                           data["filters[" + i + "].Field"] = filters[i].field;
                           data["filters[" + i + "].Operator"] = filters[i].operator;
                           data["filters[" + i + "].Value"] = filters[i].value;
                        }
                    }
                    if (options.sort) {
                        for (var i = 0; i < options.sort.length; i++) {
                            data["sort[" + i + "].Field"] = options.sort[i].field;
                            data["sort[" + i + "].Dir"] = options.sort[i].dir;
                        }
                    }                    
                    return data;
                }
            },
            schema: { data: "Products", total: function (e) {
                    total = e.TotalCount;
                    return total;
                },  
              model: {                        
                        fields: {                          
                            OrderDt: { type: "date" }
                        }
                    }
            },
            pageSize:  $("#PageSize").val(), //set page size
            page:$("#PageNo").val(),
            serverPaging: true, //enable server paging
            serverSorting: true,
            serverFiltering: true
        });

</script>
@*<script src="@Url.Content("~/Scripts/Pages/SavedReport.js?v22")" type="text/javascript" language="javascript"></script>*@
<script type="text/javascript" language="javascript">
    

    function FilterGrid(pkOrderDateId, pkProductApplicationId, pkCompanyId, Keyword, ChangedCompany, LocationId, CompanyUserId,
            Month, Year, txtSpecificDate, txtSpecificFrom, txtSpecificTo, Report, ShowIncomplete, TrackingReferenceCode) {
        var grid = $("#kendoGrid").data("kendoGrid");
        grid.dataSource.filter([
                                    { field: "pkOrderDateId", operator: "", value: pkOrderDateId },
                                    { field: "pkProductApplicationId", operator: "", value: pkProductApplicationId },
                                    { field: "CompanyUserId", operator: "", value: CompanyUserId },
                                    { field: "pkCompanyId", operator: "", value: pkCompanyId },
                                    { field: "LocationId", operator: "", value: LocationId },
                                    { field: "Keyword", operator: "", value: Keyword },
                                    { field: "Month", operator: "", value: Month },
                                    { field: "Year", operator: "", value: Year },
                                    { field: "txtSpecificDate", operator: "", value: txtSpecificDate },
                                    { field: "txtSpecificFrom", operator: "", value: txtSpecificFrom },
                                    { field: "txtSpecificTo", operator: "", value: txtSpecificTo },
                                    { field: "Report", operator: "", value: Report },
                                    { field: "ChangedCompany", operator: "", value: ChangedCompany },
                                    { field: "ShowIncomplete", operator: "", value: ShowIncomplete },
                                    { field: "TrackingReferenceCode", operator: "", value: TrackingReferenceCode }
                            ]
                            );
    }


    function EmptyGrid() {
        var Keyword = $('#Keyword');
        var pkOrderDateId = $('#pkOrderDateId');
        var pkProductApplicationId = $('#pkProductApplicationId');
        var LocationId = $('#LocationId');
        var pkCompanyId = $('#pkCompanyId');
        var CompanyUserId = $('#CompanyUserId');
        var TrackingReferenceCode = $('#pkReferenceCodeId');
        var trMonth = document.getElementById("trMonth");
        var trSpecificDate = document.getElementById("trSpecificDate");
        var trSpecificDateRange = document.getElementById("trSpecificDateRange");
        var trSearch = document.getElementById("trSearch");
        trMonth.style.display = 'none';
        trSearch.style.display = 'none';
        trSpecificDate.style.display = 'none';
        trSpecificDateRange.style.display = 'none';
        var divArchive = document.getElementById("divArchive");
        var divBack = document.getElementById("divBack");
        var hdnIncArchive = $('#hdnIncArchive');
        divArchive.style.display = 'none';
        divBack.style.display = 'none';
        hdnIncArchive.val('');

        Keyword.val('');
        $('input[name=chkIsIncomplete]').attr('checked', false);
        pkOrderDateId.val('0');
        pkProductApplicationId.val(0);
        TrackingReferenceCode.val('-1');
        var Role = $("#Role").val();
        if (Role == 1) { //Admin

            pkCompanyId.val(0);
            LocationId.val(0);
            CompanyUserId.val(0);
            
        }
        else if (Role == 2) { //Corporate
            LocationId.val(0);
            CompanyUserId.val(0);
        }
        else if (Role == 3) { //Branch Manager       
            CompanyUserId.val(0);
        }

        var grid = $("#kendoGrid").data("kendoGrid");

        grid.dataSource.filter([{ field: "pkOrderDateId", operator: "", value: -5}]);
    }

    function Button_Click(e) {
        var evt = e ? e : window.event;
        if (evt.keyCode == 13) {
            BindGrid(0, 'AllReports');
            return false;
        }
    }

    var IsAdmin = $("#Role").val();

    if (IsAdmin == "1") {
        $("#kendoGrid").kendoGrid({
            dataSource: dataSource,
            height: 540,
            sortable: true,
            pageable: true,
            resizable: false,
            columns: [
                            { field: "OrderId", sortable: false, width: 25, title: "<input type='checkbox' id='chkLead_head' class='chk-head-style' onclick='CheckedAll();' />", template: "<div class='centeralign'><input type='checkbox' id='chkLead_#=OrderId#'  class='chk-style' /></div>" },
                            { field: "ApplicantName", title: "Applicant Name", width: 145 },
                            { field: "ApplicantDOB+OrderType+IsSubmitted+OrderStatus", title: "DOB", width: 78, template: "#if(ApplicantDOB!=null){# #=ApplicantDOB#  #}#" },
                            { field: "OrderNo", title: "Order No", width: 123, template: "# if(IsDrugTestingOrder){#<a href='ViewDrugTestingReports?_OId=#=OrderId#' class='clsorder'>#=OrderNo#</a> #}else if(IsEscreenOrder){#<a href='ViewEscreenReport?_OId=#=OrderId#' class='clsorder'>#=OrderNo#</a> #}else{#<a href='ViewReports?_OId=#=OrderId#' class='clsorder'>#=OrderNo#</a> #}#" },
                            { field: "TrackingReferenceCode", title: "Reference", width: 70 },
                            { field: "ReportsWithStatus", title: "Data Sources", width: 95, template: "#if(ReportsWithStatus!=null){# #=ReportsWithStatus#  #}#" },
                            { field: "CompanyName", title: "Company Name", width: 121, template: "<a href='AddCompanies?Id1=#=fkLocationId#' target='_Blank'class='clsorder'>#=CompanyName#</a>" },
                            { field: "Location", title: "Location", width: 85, template: "<a href='AddCompanyLocation?lid=#=fkLocationId#' target='_Blank'class='clsorder'>#=Location#</a>" },
                            { field: "UserEmail", title: "User", width: 150, template: "<a href='AddCompanyUser?_a=#=pkCompanyUserId#&_c=#=pkCompanyId#' target='_Blank'class='clsorder'>#=UserEmail#</a>" },
                            { field: "OrderDt", title: "Order Date", width: 78, format: "{0:MM/dd/yyyy}" },

                             { field: "OrderNo", title: "Update", width: 50,
                                 template: "# if(OrderStatusDisplay=='Pending') { if(PendingOrderUpdateNote!='') {# <span class='tool'><input style='padding-bottom:5px;' id='I_#=OrderId#' type='image' src='../Content/themes/base/images/update_icon.png' /><span class='tip'>#=PendingOrderUpdateNote#</span></span>#} } #"
                             },
                             { field: "OrderNo", title: "Log", width: 40, sortable: false, template: "# if(!IsDrugTestingOrder){#<img  style='display:none;' id='img_#=OrderId#'  src='../Content/themes/base/images/smallloader.gif' > <input  onclick='OpenNewReportLog(this.id);' type='IMAGE'  id='#=OrderId#'  SRC='../Content/themes/base/images/ErrorlogSmall.png'  /> #}#" },
                             { field: "HitStatus", title: "Hit", width: 40, template: "# if(HitStatus==1){#<img  src='../Content/themes/base/images/miss_red_dot.png' style='padding-left: 5px;'/> #}else if(HitStatus==2){#<img  src='../Content/themes/base/images/hit_green_dot.png' style='padding-left: 5px;'/> #} else{}#" },
                             { field: "OrderStatusDisplay", title: "Status ", width: 82 },



                            ],
            dataBound: onDataBound


        }).find("th").addClass("centeralign");
    }
    else {
        $("#kendoGrid").kendoGrid({
            dataSource: dataSource,
            height: 540,
            sortable: true,
            pageable: true,
            columns: [
                        { field: "OrderId", sortable: false, width: 25, title: "<input type='checkbox' id='chkLead_head' class='chk-head-style' onclick='CheckedAll();' />", template: "<input type='checkbox' id='chkLead_#=OrderId#'  class='chk-style' />" },
                        { field: "ApplicantName", title: "Applicant Name", width: 145 },
                        { field: "ApplicantDOB+OrderType+IsSubmitted+OrderStatus", title: "DOB", width: 80, template: "#if(ApplicantDOB!=null){# #=ApplicantDOB#  #}#" },
                        { field: "OrderNo", title: "Order No", width: 130, template: "# if(IsDrugTestingOrder){#<a href='ViewDrugTestingReports?_OId=#=OrderId#' class='clsorder'>#=OrderNo#</a> #}else if(IsEscreenOrder){#<a href='ViewEscreenReport?_OId=#=OrderId#' class='clsorder'>#=OrderNo#</a> #}else{if(OrderStatusDisplay=='In Review') {#<a href='ViewReportReview?_OId=#=OrderId#' class='clsorder'>#=OrderNo#</a> #}else{if(!InReviewed) {#<a href='ViewReports?_OId=#=OrderId#' class='clsorder'>#=OrderNo#</a> #}else{#<a href='ViewReportReview?_OId=#=OrderId#' class='clsorder'>#=OrderNo#</a> #}}}#" },
                        { field: "TrackingReferenceCode", title: "Reference", width: 70 },
                        { field: "ReportIncludes", title: "Data Sources", width: 95, template: "#if(ReportsWithStatus!=null){# #=ReportsWithStatus#  #}#" },
                        { field: "Location", title: "Location", width: 95 },
                        { field: "UserEmail", title: "User", width: 150 },
                        { field: "OrderDt", title: "Order Date", width: 80, format: "{0:MM/dd/yyyy}" },
                        { field: "OrderNo", title: "Update", width: 50,
                            template: "# if(OrderStatusDisplay=='Pending') { if(PendingOrderUpdateNote!='') {# <span class='tool'><input style='padding-bottom:5px;' id='#=OrderId#' type='image' src='../Content/themes/base/images/update_icon.png' /><span class='tip'>#=PendingOrderUpdateNote#</span></span>#} } #"
                        },
                        { field: "HitStatus", title: "Hit", width: 36, template: "# if(HitStatus==1){#<img  src='../Content/themes/base/images/miss_red_dot.png' style='padding-left: 5px;' /> #}else if(HitStatus==2){#<img  src='../Content/themes/base/images/hit_green_dot.png' style='padding-left: 5px;' /> #} else{}#" },
                        { field: "OrderStatusDisplay", title: "Status ", width: 82 },

                        ],
            dataBound: onDataBound


        }).find("th").addClass("centeralign");
    }



    function onDataBound(arg) {

        var OrderNo = '';
        cellno = 13;
        var takeTotal = this.dataSource.total();
        $("#lblTotalRecords").html(takeTotal);
        var gridHeaderRows = $("#kendoGrid tbody th");
        var gridRows = $("#kendoGrid tbody tr");
        var takeGrid = $("#kendoGrid").data("kendoGrid");


        for (i = 0; i < gridRows.length; i++) {
            var dataItem = takeGrid.dataItem(gridRows[i]);
            var row = gridRows[i];
            var Status = dataItem.OrderStatusDisplay;
            var IsSyncpod = dataItem.IsSyncpod;
            var OrderType = dataItem.OrderType;
            var IsSubmitted = dataItem.IsSubmitted;
            var FirstName = dataItem.FirstName;
            var OrderId = dataItem.OrderId;
            var OrderStatus = dataItem.OrderStatus;



            if (FirstName != '') {
                FirstName = FirstName.charAt(0).toUpperCase() + FirstName.substring(1, FirstName.length).toLowerCase();
            }
            var LastName = dataItem.LastName;
            if (LastName != '') {
                LastName = LastName.charAt(0).toUpperCase() + LastName.substring(1, LastName.length).toLowerCase();
            }

            if (LastName != '' && FirstName != '') {
                row.cells[1].innerHTML = LastName + ', ' + FirstName;
            }
            else {
                row.cells[1].innerHTML = LastName + FirstName;
            }
            if (IsSyncpod == true) {

                OrderNo = row.cells[3].innerHTML;
                OrderNo = OrderNo + '<img src="../Content/themes/base/images/syncpod_order_icon.png"/>';
                row.cells[3].innerHTML = OrderNo;
            }
            else if (OrderType == 2 || OrderType == 3) {
                OrderNo = row.cells[3].innerHTML;
                OrderNo = OrderNo + '<img src="../Content/themes/base/images/APIcircle.png" title="API Order" alt="API"/>';
                row.cells[3].innerHTML = OrderNo;
            }
            if ($.browser.webkit) {
                if (IsAdmin != "1") {
                    cellno = 11;
                    row.cells[cellno].style.color = 'white';
                } 
            }
            else {
                try {
                    row.cells[cellno].style.color = 'white';
                } catch (e) {
                    cellno = 11;
                    row.cells[cellno].style.color = 'white';

                }
            }
            row.cells[cellno].style.color = 'white';
            //row.cells[cellno].style.border = 'solid 1px #94c0d2';

            if (dataItem.IsViewed == false) {
                row.cells[0].style.background = '#ffffdd';
            }

            if (IsSubmitted == false && OrderType == 2 && OrderStatus != 2) {

                row.cells[cellno].innerHTML = "<input type='button' id='" + OrderId + "' value='Submit' class='sbmtbtn'  /><input type='button' id='" + OrderId + "' value='Form' class='downloadbtn'  />";


            }
            else {


                if (Status == 'In Review' || Status == 'Pending' || Status == 'Incomplete') {
                    if (Status == 'In Review' || Status == 'Pending') {
                        row.cells[0].style.ffffdd = '#ddffaa';
                        if (Status == 'In Review') {
                            if (IsSubmitted == true) {
                                var image = '<div style="float:left;width:14%;"><img src="../Content/themes/base/images/Order_Form_Icon.png" height="18px" alt="" id="' + OrderId + '" class="downloadbtn" /></div></div>';
                                row.cells[cellno].innerHTML = '<div style="width:100%;"><div style="float:left;width:86%;"><span class="InReview">' + row.cells[cellno].innerHTML + '</span></div>' + image
                            }
                            else { row.cells[cellno].innerHTML = '<span class="InReview">' + row.cells[cellno].innerHTML + '</span>' }
                        }
                        else {

                            if (IsSubmitted == true) {
                                var image = '<div style="float:left;width:14%;"><img src="../Content/themes/base/images/Order_Form_Icon.png" height="18px" alt="" id="' + OrderId + '" class="downloadbtn" /></div></div>';
                                row.cells[cellno].innerHTML = '<div style="width:100%;"><div style="float:left;width:86%;"><span class="Pending">' + row.cells[cellno].innerHTML + '</span></div>' + image
                            }

                            else { row.cells[cellno].innerHTML = '<span class="Pending">' + row.cells[cellno].innerHTML + '</span>' }
                        }
                    }
                    else {
                        if (IsSubmitted == true) {
                            var image = '<div style="float:left;width:14%;"><img src="../Content/themes/base/images/Order_Form_Icon.png" height="18px" alt="" id="' + OrderId + '" class="downloadbtn" /></div></div>';
                            row.cells[cellno].innerHTML = '<div style="width:100%;"><div style="float:left;width:86%;"><span class="InComplete">' + row.cells[cellno].innerHTML + '</span></div>' + image
                        }
                        else { row.cells[cellno].innerHTML = '<span class="InComplete">' + row.cells[cellno].innerHTML + '</span>' }
                    }
                    //row.cells[cellno].style.background = '#0b55c4';
                }
                else {
                    // row.cells[cellno].style.background = '#008000';
                    if (IsSubmitted == true) {
                        var image = '<div style="float:left;width:14%;"><img src="../Content/themes/base/images/Order_Form_Icon.png" height="18px" alt="" id="' + OrderId + '" class="downloadbtn" /></div></div>';
                        row.cells[cellno].innerHTML = '<div style="width:100%;"><div style="float:left;width:86%;"><span class="Completed">' + row.cells[cellno].innerHTML + '</span></div>' + image

                    }
                    else {

                        row.cells[cellno].innerHTML = '<span class="Completed">' + row.cells[cellno].innerHTML + '</span>'
                    }


                }
            }
            GridEffect("kendoGrid", dataItem)
        }
    }
    $("#kendoGrid").delegate(".sbmtbtn", "click", function (e) {
        OpenNewReportLogApi(this.id);
    });
    function ChangePageSize(val) {
        var ds = $("#kendoGrid").data("kendoGrid").dataSource;
        var newPageSize = parseInt(val);
        ds.pageSize(newPageSize);
    }
    function OpenNewReportLogApi(OrderId) {
        window.open('../Corporate/NewReportLogApi?OrderId=' + OrderId + '', 'OrderDetails', 'height=600,width=900,toolbar=no,scrollbars=yes,location=no,resizable=yes');
    }
    function OpenNewReportLog(OrderId) {

        window.open('../Corporate/NewReportLog?OrderId=' + OrderId + '', 'OrderDetails', 'height=600,width=900,toolbar=no,scrollbars=yes,location=no,resizable=yes');

    }

    function HideDiv() {
        $("#divSavedReportLog").css("display", "none");
    }


</script>
<script type="text/javascript" language="javascript">


    $(document).ready(function () {
        $(".k-grid-pager").append(selectList);

        var PageSize = $("#PageSize").val();
        var ddlPageSize = $("#ddlPageSize");
        ddlPageSize.val(PageSize);

    });

    function CheckedAll() {
        $("#kendoGrid .chk-style").each(function () {
            if (document.getElementById("chkLead_head").checked) {
                $(this).prop("checked", true);
            }
            else {
                $(this).prop("checked", false);
            }
        });
    }

    function ShowPopup(Type) {
        var Ids = '';
        $("#kendoGrid .chk-style").each(function () {
            if ($(this).prop("checked")) {
                Ids = Ids + ($(this).prop("id")).split('_')[1] + ",";
            }
        });
        if (Ids == '') {
            alert("Please select at least one Order!");
        }
        else {
            if (Type == 1) {

                $("#popup_Mark").kendoWindow();
                $("#popup_Mark").data("kendoWindow").close();
                $("popup_MarkContainer").show();
                $("#popup_Mark").data("kendoWindow").center();
                $("#popup_Mark").data("kendoWindow").open();
            }
            else {

                $("#popupEmail").kendoWindow({ title: "Report Order" });
                $("#popupEmail").data("kendoWindow").close();
                if (Type == 3) {
                    $("#tabstrip").data("kendoTabStrip").select(0);
                }
                else {
                    $("#tabstrip").data("kendoTabStrip").select(1);
                }
                $("#popupEmailContainer").show();
                $("#popupEmail").data("kendoWindow").center();
                $("#popupEmail").data("kendoWindow").open();
            }
        }
    }

    function MarkOrder() {
        var Ids = '';
        $("#kendoGrid .chk-style").each(function () {
            if ($(this).prop("checked")) {
                Ids = Ids + ($(this).prop("id")).split('_')[1] + ",";
            }
        });
        if ($("#ddlMarkAs").val() == "-1") {
            $("#vldMark").show();
        }
        else {
            $("#vldMark").hide();
            $.post("../Corporate/Mark", { pkIds: Ids, MarkAs: $("#ddlMarkAs").val() }, function (data) {
                var grid = $("#kendoGrid").data("kendoGrid");
                grid.dataSource.read();
                grid.refresh();
                $("#popup_Mark").data("kendoWindow").close();
            });
        }
    }
</script>
<script type="text/javascript" language="javascript">

    function SelectReport(option) {
        var orderId = '';
        $("#kendoGrid .chk-style").each(function () {
            if ($(this).prop("checked")) {
                orderId = orderId + ($(this).prop("id")).split('_')[1] + ",";
            }
        });

        orderId = orderId.slice(0, -1);
        if (orderId.length > 0) {
            if (option == 'EM') {
                $("#btnSendMail").hide();
                $("#lblSending").show();
                $("#imgSending").show();
                var EmailTo = document.getElementById('txtMailto').value;
                var CC = document.getElementById('txtCC').value;
                if (EmailTo != null) {
                    $.ajax({
                        type: "POST",
                        url: "../ProcessPrinting.aspx?_O=" + orderId + "&EM=" + EmailTo + "&cc=" + CC,
                        async: false,
                        error: function (responseText) {
                            alert("Some error occurred while sending email. Please try again later!");
                            $("#btnSendMail").show();
                            $("#lblSending").hide();
                            $("#imgSending").hide();
                        },
                        success: function (responseText) {
                            alert("Email sent successfully!");
                            $("#btnSendMail").show();
                            $("#lblSending").hide();
                            $("#imgSending").hide();
                        }
                    });
                    
                }
                else {
                    alert("Please enter Email to address.");
                }
            }
            else {
                var FileName = $("#txtSaveReport").val();
                if (option == 'SV') {
                    if (FileName == '') {
                        $("#reqtxtSave").show();
                    }
                    else {
                        $("#reqtxtSave").hide();
                        window.open('../ProcessPrinting.aspx?_O=' + orderId + '&SP=' + option + '&FN=' + FileName + '', 'mywindow', 'location=0,status=0,scrollbars=0,width=10,height=10,left=0,top=0');
                    }
                }
                else {

                    window.open('../ProcessPrinting.aspx?_O=' + orderId + '&SP=' + option + '&FN=' + FileName + '', 'mywindow', 'location=0,status=0,scrollbars=0,width=10,height=10,left=0,top=0');
                }
            }
        }
        else {
            alert("Please select at least one report.");
        }
        return false;
    }

    $("#kendoGrid").delegate(".downloadbtn", "click", function (e) {

        $("#lnkAuthform").attr("href", "GenerateAuthorizationform/?OrderId=" + this.id);
        $("a[id=lnkAuthform]")[0].click();

    });


</script>
