<div style="float: left; width: 100%; padding: 0 50px; background-color: #0078bd; margin-top: 1px;">
    <table border="0" width="100%" style="padding-left: 5px;">
        <tr class="padding-td">
            <td align="left" valign="top">
                @Html.DropDownList("ddlMonth", ViewData["listMonth"] as IEnumerable<SelectListItem>, new { @class = "mainclass_drop" })
            </td>
            <td align="left" valign="top">
                <select id="ddlCompany" name="ddlCompany" style="width: 220px" class="k-dropdown"></select>
                @* @Html.DropDownList("ddlCompany", ViewData["listCompany"] as IEnumerable<SelectListItem>, new { onchange = "GetLocations();" })*@
            </td>
            <td align="left" valign="top">
                <select id="ddlUsers" name="ddlUsers" style="width: 220px" class="k-dropdown"></select>
                @*@Html.DropDownList("ddlUsers", ViewData["listUsers"] as IEnumerable<SelectListItem>)*@
            </td>
            <td valign="top" align="left" id="tdddlSalesRep">
                @{string[] UserRoles = new string[0];}
                @if (Session["UserRoles"] != null)
                {
                    UserRoles = (string[])(Session["UserRoles"]);
                    if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                    {


                        @Html.DropDownList("ddlSalesRep", ViewData["listSalesRep"] as IEnumerable<SelectListItem>, new { @style = "width:220px" })


                    }
                }

            </td>
            @*   <td align="right">
                    <table border="0" style="padding-right: 5px;">
                        <tr>
                            <td style="padding-right: 10px; width: 60px;" align="left">
                               <img src="../../Content/themes/base/images/accounthistory.png" alt="" />
                            </td>
                            <td style="padding-right: 10px; width: 60px" align="left" valign="top">
                               <img src="../../Content/themes/base/images/email_small_icon.png" alt="" />
                            </td>
                            <td style="padding-right: 10px; width: 60px" align="left" valign="top">
                              <img src="../../Content/themes/base/images/print_report.png" alt="" />
                            </td>
                            <td align="right">
                               <img src="../../Content/themes/base/images/pdf_report.png" alt="" />
                            </td>
                        </tr>
                    </table>
                </td>*@
        </tr>
        <tr class="padding-td">
            <td valign="top" align="left">
                @Html.DropDownList("ddlYear", ViewData["listYear"] as IEnumerable<SelectListItem>, new { @class = "mainclass_drop" })
            </td>
            <td align="left" valign="top">
                <select id="ddlLocation" name="ddlLocation" style="width: 220px" class="k-dropdown"></select>
                @*@Html.DropDownList("ddlLocation", ViewData["listLocation"] as IEnumerable<SelectListItem>, new { onchange = "GetCompanyUsers();" })*@
            </td>
            <td align="left" valign="top">
                <select id="ddlCompanyReferenceNo" name="ddlCompanyReferenceNo" style="width: 220px"
                        class="k-dropdown">
                    <option value="">---All Reference---</option>
                </select>
                @*  @Html.DropDownList("ddlCompanyReferenceNo", ViewData["listReferenceNo"] as IEnumerable<SelectListItem>)*@
            </td>
            <td valign="top">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <button type="search" onclick="loadReport();" class="mainclass-button" style="font-weight:normal;">Search</button>
                            <!--<a id="btnGo" href="javascript:void(0);" onclick="loadReport();" style="text-decoration: none;">
                                <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "go_button.png")" alt="" style="border-width: 0px;" />
                            </a>-->
                        </td>
                        <td style="min-width: 20px;">
                            <div id="dvLoader" style="display: none;">
                                <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "ajax-loader3.gif")" />
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            @*   <td align="right" valign="top">
                    <div style="display: none;">
                        <table border="0" style="padding-right: 5px;" cellpadding="0" cellspacing="5">
                            <tr>
                                <td align="right">
                                    <b>Auto Pay </b>
                                    <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath + "icon_questionmark.gif")" />
                                    <b>: </b>
                                </td>
                                <td align="center">
                                    <input type="checkbox" id="chkboxToggle" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>*@
        </tr>
    </table>
</div>
<div>
    <div style="float: left;">
        &nbsp;
        @{
            if (System.Web.HttpContext.Current.Request.Url.AbsoluteUri.ToLower().Contains("corporate"))
            {
                <input type="hidden" id="hdPageFor" value="corporate" />

            }
            else
            {

            }
            <input type="hidden" id="hdPageFor" />

        }
        <input type="hidden" id="hdCompany" value="@(HttpContext.Current.Session["pkCompanyId"] != null ? HttpContext.Current.Session["pkCompanyId"] : string.Empty)" />
    </div>
</div>
<script type="text/javascript">

    $("#ddlSalesRep").change(function () {
        if (window.location.pathname.toLowerCase().indexOf("billingstatements") == -1) {
            if (this.value != "" && $('#ddlCompany').data('kendoDropDownList').value() != "") {
                $('#ddlCompany').data('kendoDropDownList').value("");
                $('#ddlLocation').data('kendoDropDownList').value("");
                $('#ddlCompanyReferenceNo').data('kendoDropDownList').value("");
                $("#ddlLocation").data("kendoDropDownList").enable(false);
                $("#ddlCompanyReferenceNo").data("kendoDropDownList").enable(false);
                $("#ddlUsers").data("kendoDropDownList").enable(false);
            }
        }
    });

    function GetLocations() {
        var CmpId = $("#ddlCompany").val();
        if (CmpId != '') {
            $.post('@Url.Action("../Common/GetLocations")', { CompanyId: CmpId }, function (result) {

                var ddlLocation = $("#ddlLocation");
                $("#ddlLocation").empty();
                $("#ddlUsers").empty();
                //                $("#ddlUsers").append($('<option/>', {
                //                    value: '',
                //                    text: '---All Users---'
                //                }));
                // $("#ddlLocation").kendoDropDownList({ dataSourse: result.Data, dataTextField: "Text", dataValueField: "Value" });
                $.each(result.Data, function (index, itemData) {
                    ddlLocation.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
            GetReferenceNumbers();
        }
    }
    function GetCompanyUsers() {
        var CmpId = $("#ddlCompany").val();
        var LcId = $("#ddlLocation").val();
        if (CmpId != '') {
            $.post('@Url.Action("../Common/GetCompanyUsers")', { CompanyId: CmpId, LocationId: LcId }, function (result) {

                var ddlUsers = $("#ddlUsers");
                $("#ddlUsers").empty();
                $.each(result.Data, function (index, itemData) {
                    ddlUsers.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
        }
    }

    function GetReferenceNumbers() {
        var CmpId = $("#ddlCompany").val();
        if (CmpId != '') {
            $.post('@Url.Action("../Common/GetReferenceNumbers")', { CompanyId: CmpId }, function (result) {

                var ddlCompanyReferenceNo = $("#ddlCompanyReferenceNo");
                $("#ddlCompanyReferenceNo").empty();
                $.each(result.Data, function (index, itemData) {
                    ddlCompanyReferenceNo.append($('<option/>', {
                        value: itemData.Value,
                        text: itemData.Text
                    }));
                });
            });
        }
    }


    //alert($("#hdPageFor").val());

    if ($("#hdPageFor").val() != null && $("#hdPageFor").val() != '') {
        if ($("#hdCompany").val() != '') {
            $("#ddlCompany").attr("disabled", true);
            $("#ddlAccountManager").attr("disabled", true);
            $("#ddlUsers").attr("disabled", false);
            $("#ddlCompanyReferenceNo").attr("disabled", false);
            $("#ddlLocation").attr("disabled", false);
            document.getElementById("tdddlSalesRep").style.display = 'none';
            // document.getElementById("tdtextForSaleRep").style.display = 'none';


        }
    }
    //$("#ddlMonth").kendoDropDownList();
    //$("#ddlYear").kendoDropDownList();
    ////$("#ddlLocation").kendoDropDownList();
    //var dataSource = new kendo.data.DataSource({
    //    transport: {
    //        read: {
    //            url: "http://demos.telerik.com/kendo-ui/service/products",
    //            dataType: "jsonp"
    //        }
    //    }
    //});

    // alert(1);
    // alert(@ViewData["PType"]);
    $("#ddlCompany").kendoDropDownList({
        dataTextField: "Text",
        dataValueField: "Value",
        dataSource: {
            transport: {
                read: {
                    url: '../Common/GetCompanies?PType=' + '@ViewData["PType"]',
                    type: 'POST'
                }
            }
        },
        change: function (e) {
            var id = this.value();
            BindLocations(id);
            BindUsers(id, '0');
            GetReferences(id);
            $(".k-header").show();
        }
    });

    $("#ddlSalesRep").kendoDropDownList().data("kendoDropDownList");
    $("#ddlUsers").kendoDropDownList().data("kendoDropDownList");
    $("#ddlCompanyReferenceNo").kendoDropDownList().data("kendoDropDownList");
    $("#ddlLocation").kendoDropDownList().data("kendoDropDownList");

    function BindLocations(id) {

        if (window.location.pathname.toLowerCase().indexOf("billingstatements") == -1) {
            if ($("#ddlSalesRep").val() != "") {
                $('#ddlSalesRep').data('kendoDropDownList').value("");
            }
            $("#ddlLocation").data("kendoDropDownList").enable(true);
            $("#ddlCompanyReferenceNo").data("kendoDropDownList").enable(true);
            $("#ddlUsers").data("kendoDropDownList").enable(true);
        }
        $("#ddlLocation").empty();
        $("#ddlUsers").empty();
        $("#ddlLocation").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "../Common/GetLocationsList?CompanyId=" + id,
                        type: 'POST'
                    }
                }
            },
            change: function (e) {
                BindUsers('@ViewData["CompanyId"]', this.value());
                $(".k-header").show();
            }
        }).data("kendoDropDownList");

    }
    function BindUsers(id, LocId) {
        //alert(id);
        $("#ddlUsers").empty();
        $("#ddlUsers").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "../Common/GetUsers?CompanyId=" + id + "&LocationId=" + LocId,
                        type: 'POST'
                    }
                }
            }
        }).data("kendoDropDownList");
    }
    function GetReferences(id) {
        $("#ddlCompanyReferenceNo").empty();
        $("#ddlCompanyReferenceNo").kendoDropDownList({
            dataTextField: "Text",
            dataValueField: "Value",
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "../Common/GetReferences?CompanyId=" + id,
                        type: 'POST'
                    }
                }
            }
        }).data("kendoDropDownList");
    }
    if ('@ViewData["PType"]' == '') {
        // alert("2");

        BindLocations('@ViewData["CompanyId"]');
    }
    else {
        //alert("3");
        BindLocations('');
    }
    $(".k-header").show();
    if ($("#hdPageFor").val() != '') {
        if ($("#hdCompany").val() != '') {
            var ddlCompany = $("#ddlCompany").data("kendoDropDownList");
            ddlCompany.value($("#hdCompany").val());
            BindLocations($("#hdCompany").val());
            $(".k-header").show();

            if ($("#ddlCompany option").length >= 0 && $("#ddlCompany option").length < 2) {
                GetReferences($("#hdCompany").val());
            }
        }
    }
    @*alert(3);
    alert($("#hdCompany").val());
    // alert(@ViewData["CompanyId"]);
    alert('@ViewData["CompanyId"]');
    alert($("#ddlCompany").val());*@
    var a = 0;
    if ($("#ddlCompany").val() == null) {
        a = '@ViewData["CompanyId"]';
    }
    else {

        a = $("#ddlCompany").val();
    }

    if ($("#hdPageFor").val() == 'corporate') {
        a = $("#hdCompany").val();
    }


    BindUsers(a, '0');
    BindLocations(a);
    $(".k-header").show();
</script>
