﻿@model Emerge.Models.LoginModel
@using Emerge.Common;
<table cellpadding="0" cellspacing="0" style="margin: 0 auto;">
    <tr>
        <td>
            <center>
                <div>
                   @{string UploadedTitleImage = @Model.TitleImage;}
                    @if (Model.TitleImage != " " && Model.TitleImage != "" && Model.TitleImage != null){ <div id="lblFeatureTitleImage" style="padding-top: 10px; font-size: 14px;"> <img  src="@Model.TitleImage"/></div>  }
                    else{  <span style="font-size: 25px; color: #706e70;">@Model.Title</span> }
                </div>
            </center>
        </td>
    </tr>
    <tr>
        <td>
            <center>
                @{string UploadedFile = @Model.UploadedFile;}
                @{string Ext = UploadedFile.Split('.')[1];}
                @if (Ext == "flv" || Ext == "swf")
                {  <div class="videopopup" style="height: 290px; width: 435px; margin:6% auto 0;" onmousedown="enlargeVidImgG(@Model.FeatureId)" >
                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%">
                        <param name="movie" value="@Url.Content("~/Resources/Upload/FeatureFiles/" + Model.UploadedFile + "")" />
                        <param name="quality" value="high" />
                        <param name="play" value="false" />
                        <param name="loop" value="false" />
                        <embed src="@Url.Content("~/Resources/Upload/FeatureFiles/" + Model.UploadedFile + "")" width="100%" height="100%" play="false" loop="false" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash"></embed>
                    </object>
                </div>
                }
                else
                {  <div style="margin-top: 10%;">
                    <img id="ImgFile" src="@Model.UploadedFile" alt="" onclick="enlargeVidImgG(@Model.FeatureId)" />
                  </div>
                }
            </center>
        </td>
    </tr>
    <tr>
        <td>
            <center>
                <div style="padding-top: 15px; font-size: 18px; color: #706e70; margin-top: 7%;">
                    <p align="center">@Model.Description</p>
                </div>
            </center>
        </td>
    </tr>
    <tr>
        <td>
            @if (Model.IsPrevious == false)
            { <img alt="" style="display: none;" src="@Url.Content("~/Content/themes/base/Images/prev_btnnew_off.png")"  /> <input type="hidden" value="@Model.IsPrevious" id="IsPrevious"/> }
            else
            { <img alt=""  style="display:none;" class="previous" src="@Url.Content("~/Content/themes/base/Images/prev_btnnew_on.png")" onclick="previous(@Model.CurrentFeature-1)" /> <input type="hidden" value="@Model.IsPrevious" id="IsPrevious"/> }
            &nbsp;
            @if (Model.IsNext == false)
            { <img alt="" style="display: none;" id="closefeature" src="@Url.Content("~/Content/themes/base/Images/next_btnnew_off.png")" onclick="CloseFeature();" /> <input type="hidden" value="@Model.IsNext" id="isnext"/> }
            else
            { <img alt="" style="display:none;"  class="next" src="@Url.Content("~/Content/themes/base/Images/next_btnnew_on.png")" onclick="next(@Model.CurrentFeature)" /> <input type="hidden" value="@Model.IsNext" id="isnext"/> }
        </td>
    </tr>
</table>
<div style="display: none;" id="div5">
</div>
<script type="text/javascript">
    $(function () { if ($("#poppro").val() != "1") { $("#ImgFile").click(); } });
    $("#div5").toggle(function () {
    $("#anotherDiv").hide("slide", { direction: 'right' }, 3000);
    $("#oneDiv").show("slide", { direction: 'left' }, 3000);
    }, function () {
    $("#anotherDiv").show("slide", { direction: 'right' }, 3000);
    hide("slide", { direction: 'left' }, 3000);
    }).css({ position: 'absolute' });
    function CloseFeature() { $.post('@Url.Action("UpdateViewCount", "Common")', {}, function (Result) { $("#closefeature").closest(".k-window-content").data("kendoWindow").close(); }); }
    function enlargeVidImgG(FeatureId) {
    var body = document.getElementsByTagName('body')[0];
    if (jQuery.browser.msie) {
    document.body.style.overflowX = "hidden";
    document.body.style.overflowY = "hidden";
    $("#DivNewFeature").css({ position: 'absolute' });}
    if (FeatureId != "") {
    $.post('@Url.Action("LoadFeaturePreviewForEnlarge", "Common")', { FeatureId: FeatureId }, function (ObjtblFeature) {
    $("#divEnlarge").kendoWindow();
    var UploadedFile = ObjtblFeature.UploadedFile;
    var Ext = UploadedFile.split('.')[1];
    var FilePath = "./Resources/Upload/FeatureFiles/" + ObjtblFeature.UploadedFile;
    var divImgFile = $("#VidImgFile");
    if (Ext == "flv" || Ext == "swf") {
    var ObjectFile = "<object classid=\"clsid:D27CDB6E-AE6D-11cf-96B8-444553540000\" width=\"100%\" height=\"100%\">";
    var Params = "<param name=\"movie\" value=\'" + FilePath + "\' /><param name=\"quality\" value=\"high\" /><param name=\"play\" value=\"false\" />";
    var Params1 = "<param name=\"loop\" value=\"false\" />";
    var src = "<embed src=\'" + FilePath + "\' width=\"100%\" height=\"100%\" play=\"false\" loop=\"false\" quality=\"high\" pluginspage=\"http://www.macromedia.com/go/getflashplayer\" type=\"application/x-shockwave-flash\"></embed></object>";
    divImgFile.html(ObjectFile + Params + Params1 + src); }
    else { divImgFile.html('<img src="' + ObjtblFeature.UploadedFile + '"/>'); }
    $("#divEnlarge").attr('style', "width: 920px;height:690px; display:block;");
    var kendoWindow = $("#divEnlarge").data("kendoWindow");
    var windowTitle = kendoWindow.title("Preview");
    $("#divEnlarge").data("kendoWindow").center();
    $("#divEnlarge").data("kendoWindow").open();
    if ($("#poppro").val() != "1") { $("#divEnlarge").data("kendoWindow").close();
    $("#poppro").val("1") }}); } }
    function previous(val) {
    $("#poppro").val("1");
    if (val != "0") { val = val - 1; }
    if (jQuery.browser.msie) { $("#DivNewFeature").css({ position: 'absolute' }); }
    else { $("#DivNewFeature").css({ position: 'absolute' }); }
    $.ajax({ cache: false, type: "POST", url: '@Url.Action("LoadFeaturenew", "Common")', data: { CurrentFeature: val, IsNext: false }, success: function (data) {
    $("#feature").html(data);
    $("#checklist").html($("#DivNewFeature").html());}});
    $("#DivNewFeature").hide("slide", { direction: 'right' }, 1000);
    $("#checklist").show("slide", { direction: 'left' }, 1000, function () {
    $("#DivNewFeature").show();
    $("#checklist").html('');});}
    function next(val) {
    $("#poppro").val("1");$("#checklist").removeAttr('style');
    $("#checklist").attr('style', 'display: block; width: 100%; height: 620px;background-color: white;');
    if (jQuery.browser.msie) { $("#DivNewFeature").css({ position: 'absolute' }); }
    else { $("#DivNewFeature").css({ position: 'absolute' }); }
    $.ajax({ cache: false, type: "POST", url: '@Url.Action("LoadFeaturenew", "Common")', data: { CurrentFeature: val, IsNext: true }, success: function (data) {
    $("#feature").html(data); $("#checklist").html($("#DivNewFeature").html()); }});
    $("#DivNewFeature").hide("slide", { direction: 'left' }, 1000);
    $("#checklist").show("slide", { direction: 'right' }, 1000, function () {
    $("#DivNewFeature").show(); $("#checklist").html(''); }); }
    function nextimage() { $("#poppro").val("1"); if ($("#isnext").val() == "value") { $("img[class=next]").click(); }
    else { location.href = "Default/RedirectToPage?Email=" + $("#UserName").val() + "&Page=" + $("#tempresult").val(); } }
    function previousimage() { $("#poppro").val("1"); if ($("#IsPrevious").val() == "value") { $("img[class=previous]").click(); } }
    </script>
