﻿<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td style="padding-left: 200px; height: 0px; display:none;"> @*display none because it show this content on IE 11 but it doesn't show on crome and mozilla*@
            <div id="window">
                <div id="divPopSampleReport" runat="server">
                    <table border="0" cellpadding="0" cellspacing="0" width="635px" align="center" class="form_main_tbl">
                        <tr>
                            <td valign="top">
                                <div style="width: 675px; height: 590px; border: 1px solid #696866; overflow: scroll;
                                    overflow-x: hidden; clear: both;">
                                    <table style="border: 0px solid #696866; background-color: #F0F0F0; margin-left: 0px;"
                                        width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tr>
                                            <td>
                                                <div id="dvSampleReport" style="width: 100%; height: 100%;">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="ActiveReportwindow">
                @{Html.RenderPartial("../Common/PartialActivateReport");}
            </div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" class="report-table">
                <tr bgcolor="#bbbbbb" height="28px">
                    <td align="center" width="11%">
                        &nbsp;<b>Active</b>
                    </td>
                    <td align="left" width="2%">
                    </td>
                    <td align="left" width="20%">
                        <b>Product</b>
                    </td>
                    <td align="left" width="9%">
                        <b>Price</b>
                    </td>
                    <td align="left" width="8%">
                        <b>Code</b>
                    </td>
                    <td align="center" width="8%">
                        <b>Description</b>
                    </td>
                    <td align="left" width="6%">
                        <b>Sample</b>
                    </td>
                    <td align="left" width="5%">
                        <b>Coverage</b>
                    </td>
                    <td align="center" width="12%" style="min-width: 110px;">
                        <b>Status</b>
                    </td>
                    <td align="left" width="5%">
                        <b>Fees</b>
                    </td>
                    <td width="8%" align="center">

                        <b>Emerge Review</b>
                    </td>

                    <td align="center" width="5%">
                        <img src="~/Design2/img/liverunner.png" alt="Live Runner" title="Is Live Runner">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" id="tblMyReports">
                @if (ViewData["Reports"] != null)
                {
                    if ((ViewData["Reports"] as List<Emerge.Data.Proc_GetAllReportsByLocationIdResult>).Count > 0)
                    {
                        string CategoryName = string.Empty;
                        foreach (var i in (ViewData["Reports"] as List<Emerge.Data.Proc_GetAllReportsByLocationIdResult>))
                        {
                            if (CategoryName != i.CategoryName)
                            {

                                CategoryName = i.CategoryName;
                    <tr>
                        <td class="ProductCategoryHeader" style="text-align: left;">
                            @i.CategoryName
                        </td>
                    </tr>
                            }
                           
                    <tr>
                        <td>
                            <table width="100%" border="0" class="product_Border report-table-inner">
                                <tr>
                                    <td style="text-align: center; width:11%;">
                                        @if(i.ProductAccessId !=0)
                                        {
                                            <input type="checkbox" disabled="disabled" checked="checked" />
                                        }
                                        else
                                        {
                                        <input type="checkbox" disabled="disabled" />
                                        }
                                    </td>
                                    <td align="left" width="2%">
                                        <input type="checkbox" disabled="disabled" checked="checked" style="display: none;" />
                                    </td>
                                    <td align="left" width="20%">@i.ProductDisplayName
                                    </td>
                                    <td align="left" width="10%">@i.CompanyPrice
                                    </td>
                                    <td align="left" width="7%">@i.ProductCode
                                    </td>
                                    @{string pdesc = string.Empty;
                                      if (String.IsNullOrEmpty(i.ProductDescription))
                                      {
                                          pdesc = "N/A";
                                      }
                                      else
                                      {
                                          pdesc = i.ProductDescription;
                                      }
                                    }
                                    <td align="center" width="8%">
                                        <img src="../Design2/img/log.png" alt="" onmouseover="tooltipLiveRunner1('@i.ProductName',' @pdesc');" onmouseout="exit();" />
                                    </td>
                                    <td align="left" width="6%">
                                        @if (File.Exists(Server.MapPath(@"~/Resources/SampleReports/" + i.ProductCode + "_SampleReport.html")))
                                        {
                                            <a href="javascript:void(0)" onclick="SampleReport('@i.ProductCode','@i.ProductDisplayName');">
                                                <img src="../Design2/img/sample.png" alt="" />
                                            </a>
                                        }
                                    </td>

                                    <td align="left" width="5%">
                                        @if (!string.IsNullOrEmpty(i.CoveragePDFPath))
                                        {
                                            if (File.Exists(Server.MapPath(@"~/Resources/Upload/CoveragePDF/" + i.CoveragePDFPath)))
                                            {
                                                <a onclick="CoveragePDF('@i.CoveragePDFPath');" style="cursor:pointer">
                                                    <img src="../Content/themes/base/images/PCoverage.png" alt="" />
                                                </a>
                                            }


                                        }
                                    </td>
                                    <td align="center" width="12%" style="min-width: 110px;">
                                        @if (i.ProductAccessId != 0)
                                        {
                                            <img src="../Design2/img/status.png" style="height: 16px;" alt="" />
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" onclick="GetEmailTemplate('@i.ProductDisplayName');">
                                                <img src="../Content/themes/base/images/activate_report.png" alt="" />
                                            </a>
                                        }
                                    </td>
                                    <td align="left" width="5%">
                                        @if (i.IsThirdPartyFee)
                                        {
                                            if (i.ProductCode == "SCR" || i.ProductCode == "MVR")
                                            {
                                                <a href="../Corporate/StateFee?cd=@i.ProductCode">
                                                    <img src="../Design2/img/fees.png" alt="" />
                                                </a>
                                            }
                                            if (i.ProductCode == "CCR1" || i.ProductCode == "CCR2")
                                            {
                                                <a href="../Corporate/StateCountyFee?cd=@i.ProductCode">
                                                    <img src="../Design2/img/fees.png" alt="" />
                                                </a>
                                            }
                                        }
                                        else if (i.ProductCode.ToLower() == "rcx")
                                        {
                                            <a href="../Corporate/StateCountyFee?ShowFee=RCX">
                                                <img src="../Design2/img/fees.png" alt="" />
                                            </a>
                                        }
                                    </td>
                                    <td width="8%" valign="top" style="min-width: 20px;" align="center">
                                        @if (i.AutoReviewStatusForLocation != 0)
                                        {
                                            <input type="checkbox" disabled="disabled" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" disabled="disabled" />
                                        }
                                    </td>
                                    <td align="center" width="5%">
                                        @if (i.IsLiveRunnerProduct)
                                        {
                                            <input type="checkbox" disabled="disabled" @(i.IsLiveRunnerLocation == true ? "checked=checked" : "") />
                                        }
                                        else
                                        {

                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                        

                        }
@*    @{Html.RenderAction("GetProducts", "Corporate", new { CategoryId = i.pkReportCategoryId });}*@

                        
                    }
                }
            </table>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        $("#window").kendoWindow();
        $("#window").data("kendoWindow").close();

        $("#ActiveReportwindow").kendoWindow();
        $("#ActiveReportwindow").data("kendoWindow").close();
    });

    function SampleReport(PDisplayName, PCode) {
        $.post('@Url.Action("ShowSampleReport", "Corporate")', { SampleCode: PCode, ReportName: PDisplayName }, function (result) {
            $("#window").data("kendoWindow").open();
            $("#dvSampleReport").html(result.Data);
            $("#window").data("kendoWindow").center();
            //$(".k-icon k-close").attr("background-color","Red")
        });
    }




    function CoveragePDF(FileName) {
        window.open("../AdverseCoveragePDF.aspx?PDF=" + FileName);
        return false;
    }




  
  

</script>
