﻿@model Emerge.Models.ViewReportModel

<script src="@Url.Content("~/Scripts/gen_validatorv4.js")" type="text/javascript"></script>

<div id="popupAdverseLetterContainer" style="display: none;">
    <div id="popupAdverseLetter" style="width: 320px; margin-top:12px; ">
        <div id="tabstripAdverseLetter">
            <ul class="tab_ul">
                <li id="liAddverseLtrEmail" class="k-state-active">Email </li>
                <li id="liAddverseLtrSave">Save </li>
                <li id="liAddverseLtrPrint">Print </li>
            </ul>
            <div id="dvAddverseLtrEmail" style="">
                <table id="tblAddverseLtrEmail" cellpadding="2" cellspacing="0" width="99%">
                    <tr>
                        <td colspan="3">
                            @{
                                string id = (!string.IsNullOrEmpty(Request.QueryString["_OId"])) ? Request.QueryString["_OId"] : string.Empty;
                        
                                <input id="hdAddverseLtrOID" type="hidden" value="@id" />
                        
                            }
                            <input id="hdAddverseLtrUserName" type="hidden" value="@System.Web.HttpContext.Current.User.Identity.Name" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center" rowspan="2" valign="middle" width="20%">
                            <img alt="Send Email" src="../Content/themes/base/images/email_btn_center.png" />
                            &nbsp;
                        </td>
                        <td align="right" >
                            TO :
                        </td>
                        <td align="left" valign="middle" style="padding-left: 10px;">
                            <input type="text" id="txtAddverseLtrMailto" style="width: 142px; margin-top:10px;margin-bottom:10px;" /><span id="reqAddverseLtrEmail" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" 
                                style="display: none;"><span class="k-icon k-warning"></span>Enter email</span><span id="validAddverseLtrEmail"  class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" style="display: none;"><span class="k-icon k-warning"></span>Enter valid email</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" >
                            CC :
                        </td>
                        <td id="tdCC" align="left" style="display: block; padding-left: 10px;" valign="middle">
                            <input type="text" id="txtAddverseLtrCC" style="width: 142px; margin-bottom:10px;" /><span id="validAddverseLtrCCEmail" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
                                                                                                                       style="display: none;"><span class="k-icon k-warning"></span>enter valid Email</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" colspan="2" >
                            Company Name:
                        </td>
                        <td id="tdComp" align="left" style="display: block; padding-left: 10px;" valign="middle">
                            <input type="text" id="txtAddverseLtrCompanyEmail" style="width: 142px; margin-bottom: 10px;" value="@Model.CompanyNameAdverse" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td align="right">
                            &nbsp;
                        </td>
                        <td align="center">
                            <table>
                                <tr>
                                    <td>
                                        <span id="lblAddverseLtrSending" style="display: none;">Sending </span>
                                    </td>
                                    <td >
                                        <input type="button" style="margin-bottom:10px;margin-left: 84px;" class="btn btn-primary" id="btnAddverseLtrSendMail" value="Send" onclick="return SendAdverseLetter('EM');" />
                                    </td>
                                    <td>
                                        <img id="imgAddverseLtrSending" alt="Send Email" src="../Content/themes/base/images/ajax-loader1.gif"
                                            style="display: none;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="dvAddverseLtrSave" style="">
                <table cellpadding="2" cellspacing="0" width="99%" id="tblSave">
                    <tr>
                        <td colspan="3">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td align="right" colspan="2">
                            Save As :
                        </td>
                        <td id="tdCC" align="left" style="display: block; padding-left: 10px;" valign="middle">
                            <input type="text" id="txtAddverseLtrSave" style="width: 142px; margin-bottom:10px;"; " value="@Model.ApplicantName" />
                            <span id="reqAddverseLtrSave" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg"  style="display: none;"><span class="k-icon k-warning"></span>Enter file name</span>
                        </td>
                    </tr>
                    <tr>
                        <td align="right" colspan="2">
                            Company Name :
                        </td>
                        <td id="tdCompSave" align="left" style="display: block; padding-left: 10px; " valign="middle">
                            <input type="text" id="txtAddverseLtrCompanySave" style="width: 142px; margin-bottom:10px;"" value="@Model.CompanyNameAdverse" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td align="right">
                            &nbsp;
                        </td>
                        <td align="center">
                            <table>
                                <tr>
                                    <td>
                                    </td>
                                    <td>
                                        <input type="button" id="btnAddverseLtrSave" style="margin-bottom:10px;margin-left: 80px;" class="btn btn-primary" value="Save" onclick="return SendAdverseLetter('SV');" />
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="dvAddverseLtrPrint" style="">
                <table cellpadding="0" cellspacing="0" width="99%" id="tblPrint">
                    <tr>
                        <td align="right" colspan="2">
                            Company Name :
                        </td>
                        <td id="tdCompPrint" align="left" style="display: block; padding-left:10px;" valign="middle">
                            <input type="text" id="txtAddverseLtrCompanyPrint" style="width: 142px; margin-bottom:10px; " value="@Model.CompanyNameAdverse" />
                        </td>
                    </tr>
                    <tr>
                        <td valign="middle" align="right" width="40%">
                            <img alt="Print" src="../Content/themes/base/images/print_btn_center.png" style="padding-top: 5px; margin-bottom: 10px;" />
                        </td>
                         <td  style="width:20px"></td>
                        <td align="left">
                            <input id="btnAddverseLtrPrint" type="button" value="Print" class="btn btn-primary" style="margin-left: 98px;" onclick="return SendAdverseLetter('PT');" />
                        </td>
                        <td align="left">
                            <input type="text" id="txtAddverseLtrPrint" style="width: 142px; display: none;" />
                        </td>
                    </tr>
                    <tr>
                       
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("SaveAdverdeLetter", "Common", FormMethod.Post, new { id = "frmAdverseLtrSaveFile" }))
{
<input id="hdAdverseLtrFile" name="hdAdverseLtrFile"  type="hidden" />
<input id="hdAdverseLtrOID" name="hdAdverseLtrOID" type="hidden" />
<input id="hdAdverseLtrCompany" name="hdAdverseLtrCompany" type="hidden" />
    <input id="hdAppname" name="hdAppname" type="hidden" />
}
<script type="text/javascript">


    function SendAdverseLetter(option) {
        
        var orderId = '';
        orderId = $("#hdOID").val();
        if (orderId.length > 0) {
            if (option == 'EM') {
                if (validateAdverseLtrForm()) {
                    $("#btnAddverseLtrSendMail").hide();
                    $("#lblAddverseLtrSending").show();
                    $("#imgAddverseLtrSending").show();
                    var EmailTo = document.getElementById('txtAddverseLtrMailto').value;
                    var CC = document.getElementById('txtAddverseLtrCC').value;
                    if (EmailTo != null) {
                        if ($("#cndpreadv").val() == "1") {
                            var Applicant_Name = document.getElementById("spApplicantName").innerHTML;

                            var FullName = '';
                            var SplitName = Applicant_Name.split(",");
                            if (SplitName.length > 2) {
                                FullName = SplitName[2] + " " + SplitName[1] + " " + SplitName[0];
                            }
                            else {
                                FullName = SplitName[1] + " " + SplitName[0];
                            }
                            var Company_Name = document.getElementById("txtAddverseLtrCompanyEmail").value;



                            $.post('@Url.Action("SendMailWithPreAdverdeLetter", "Common")', { OrderId: orderId, ApplicantName: FullName, EmailTo: EmailTo, EmailCC: CC, EnteredCompany: Company_Name }, function (result) {
                            $("#btnAddverseLtrSendMail").show();
                            $("#lblAddverseLtrSending").hide();
                            $("#imgAddverseLtrSending").hide();
                            alert(result.Msg);

                        });



                    }
                    else {
                        var Company_Name = document.getElementById("txtAddverseLtrCompanyEmail").value;
                        $.post('@Url.Action("SendMailWithAdverdeLetter", "Common")', { OrderId: orderId, EmailTo: EmailTo, EmailCC: CC, EnteredCompany: Company_Name }, function (result) {
                            $("#btnAddverseLtrSendMail").show();
                            $("#lblAddverseLtrSending").hide();
                            $("#imgAddverseLtrSending").hide();
                            alert(result.Msg);





                        });
                    }
                        //                        window.open('ProcessPrinting.aspx?_O=' + orderId + '&SP=' + option + '&EM=' + EmailTo + '&cc=' + CC + '', 'mywindow', 'location=0,status=0,scrollbars=0,width=10,height=10,left=0,top=0');
                }
                else {
                    alert("Please enter Email to address.");
                }
            }
            else {
                    /* Invalid Form */
                return false;
            }

        }
        else {
            if (option == 'SV') {
                if ($("#txtAddverseLtrSave").val() == '') {
                    result = false;
                    $("#reqAddverseLtrSave").show();
                }
                else {
                    var Applicant_Name = document.getElementById("spApplicantName").innerHTML;

                    var FullName = '';
                    var SplitName = Applicant_Name.split(",");
                    if (SplitName.length > 2) {
                        FullName = SplitName[2] + " " + SplitName[1] + " " + SplitName[0];
                    }
                    else {
                        FullName = SplitName[1] + " " + SplitName[0];
                    }
                    $("#reqAddverseLtrSave").hide();
                    var SplitFileName = $("#txtAddverseLtrSave").val().split(",");
                    var FileName = SplitFileName[1] + " " + SplitFileName[0];
                    $("#hdAdverseLtrFile").val(FileName);
                    $("#hdAdverseLtrOID").val(orderId);
                    $("#hdAdverseLtrCompany").val(document.getElementById("txtAddverseLtrCompanySave").value);
                    if ($("#cndpreadv").val() == "1") {

                        $("#hdAppname").val(FullName);

                    }
                    else {

                        $("#hdAppname").val("");

                    }
                    $("#frmAdverseLtrSaveFile").trigger('submit');
                }
            }
            else {

                if ($("#cndpreadv").val() == "1") {
                    var Applicant_Name = document.getElementById("spApplicantName").innerHTML;

                    var FullName = '';
                    var SplitName = Applicant_Name.split(",");
                    if (SplitName.length > 2) {
                        FullName = SplitName[2] + " " + SplitName[1] + " " + SplitName[0];
                    }
                    else {
                        FullName = SplitName[1] + " " + SplitName[0];
                    }
                    var Company_Name = document.getElementById("txtAddverseLtrCompanyPrint").value;

                    $.post('@Url.Action("GenerateConfidentialform", "Common")', { ApplicantName: FullName, EnteredCompany: Company_Name }, function (result) {

                                                    var file = '../Resources/Upload/AdversePDF/' + result.FileName;
                                                    var WinPrint = window.open(file, 'mywindow', 'letf=100,top=100,width=600,height=600');
                                                    WinPrint.print();

                                                });
                                            }
                                            else {
                                                var Company_Name = document.getElementById("txtAddverseLtrCompanyPrint").value;
                                                $.post('@Url.Action("AdverdeLetterWriteToPdf", "Common")', { OrderId: $("#hdOID").val(), EnteredCompany: Company_Name }, function (result) {
                                                    //window.open("../AdverseCoveragePDF.aspx?Adv=" + result.FileName);
                                                    //var prtContent = document.getElementById(strid);
                                                    var file = '../Resources/Upload/AdversePDF/' + result.FileName;
                                                    // alert(file);
                                                    var WinPrint = window.open(file, 'mywindow', 'letf=100,top=100,width=600,height=600');
                                                    WinPrint.print();

                                                });
                                            }




                                        }
                                    }
                                }
                                else {
                                    alert("Please select at least one report.");
                                }
                                return false;
                            }

                            function GeneratePdf() {
                                if ($("#cndpreadv").val() == "1") {

                                    var Applicant_Name = document.getElementById("spApplicantName").innerHTML;

                                    var FullName = '';
                                    var SplitName = Applicant_Name.split(",");
                                    if (SplitName.length > 2) {
                                        FullName = SplitName[2] + " " + SplitName[1] + " " + SplitName[0];
                                    }
                                    else {
                                        FullName = SplitName[1] + " " + SplitName[0];
                                    }
                                    var Company_Name = document.getElementById("txtAddverseLtrCompanyPrint").value;


                                    $.post('@Url.Action("GenerateConfidentialform", "Common")', { ApplicantName: FullName, EnteredCompany: Company_Name }, function (result) {

                window.open("../AdverseCoveragePDF.aspx?Adv=" + result.FileName);

            });

        }
        else {
            var Company_Name = document.getElementById("txtAddverseLtrCompanyPrint").value;
            $.post('@Url.Action("AdverdeLetterWriteToPdf", "Common")', { OrderId: $("#hdOID").val(), EnteredCompany: Company_Name }, function (result) {
            window.open("../AdverseCoveragePDF.aspx?Adv=" + result.FileName);
        });
    }
}

function printAdverseLetter(divName) {
    var printContents = document.getElementById(divName).innerHTML;


    var str = '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns=\"http://www.w3.org/1999/xhtml\"><head> <link href=\"/../../Content/Print.css\" rel=\"stylesheet\" media=\"print\" type=\"text/css\"/></head><body onload="window.print(); window.close();"> ' + printContents + '</div></body></html>';
    return str;
}
function validateAdverseLtrForm() {
    var result = true;
    if ($("#txtAddverseLtrMailto").val() == '') {
        $("#reqAddverseLtrEmail").show();
        result = false;
    }
    else {
        if (!(validateEmail($("#txtAddverseLtrMailto").val()))) {
            $("#validAddverseLtrEmail").show();
            result = false;
        }
        else {
            $("#validAddverseLtrEmail").hide();
            result = true;
        }
        if ($("#txtAddverseLtrCC").val() != '') {
            if (!(validateEmail($("#txtAddverseLtrCC").val()))) {
                $("#validAddverseLtrCCEmail").show();
                result = false;
            }
            else {
                $("#validAddverseLtrCCEmail").hide();
            }
        }
        else {
            $("#validAddverseLtrCCEmail").hide();
        }
        $("#reqAddverseLtrEmail").hide();
    }
    return result;
}


function ShowAdverseLetterPopup() {

    if ($("#cndpreadv").val() == "1") {
        $("#popupAdverseLetter").kendoWindow({ actions: ["Close"], title: "Pre Adverse Letter", close: onClose }).data("kendoWindow");
        $('.k-window-title').replaceWith('<span class="k-window-title" >Pre Adverse Letter</span>');
    }
    else {
        $("#popupAdverseLetter").kendoWindow({ actions: ["Close"], title: "Adverse Letter", close: onClose }).data("kendoWindow");
        $('.k-window-title').replaceWith('<span class="k-window-title">Adverse Letter</span>');
    }
    $("#popupAdverseLetter").data("kendoWindow").close();
    $("#tabstripAdverseLetter").kendoTabStrip({
        animation: {
            open: {
                effects: "fadeIn"

            }
        }

    });
    var Ids = '';
    Ids = $("#hdOID").val();
    if (Ids == '') {
        alert("Please select at least one Order!");
    }
    else {
        $("#popupAdverseLetterContainer").show();
        $("#popupAdverseLetter").data("kendoWindow").center();

        $("#popupAdverseLetter").data("kendoWindow").open();
        $(".k-widget").css("zoom", "1");

    }
    $(".k-window-titlebar").css("height", "33px");
}

function onClose() { $("#txtAddverseLtrMailto").val(""); $("#txtAddverseLtrCC").val(""); }




</script>
