@using Emerge.Common;
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=IE8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
	@*<link href="@Url.Content("~/newfavicon.gif")" rel="shortcut icon" type="image/x-icon" />*@
@*    <link href="@Url.Content(CommonPaths.ContentPath + "CompressedCombined(Admin).css")" rel="stylesheet" type="text/css" />*@
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
<link href="@Url.Content(CommonPaths.ContentPath + "Site.css")" rel="stylesheet" type="text/css" />
     @*   <link href="../../Content/CSS/Control.css" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content(CommonPaths.ContentPath + "Default.css")" rel="stylesheet" type="text/css" />




</head>
<body>
	<div>
 <script src="@Url.Content("~/Scripts/jquery-online-1.6.2.js")" type="text/javascript"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>  

<style>   
/*     CSS rules to use for styling the overlay:      
.chromeFrameOverlayContent      
.chromeFrameOverlayContent iframe     
 .chromeFrameOverlayCloseBar     
 .chromeFrameOverlayUnderlay   */ 
</style>   

<script language="javascript" type="text/javascript">
    // You may want to place these lines inside an onload handler   
    //CFInstall.check({     mode: "overlay",     destination: "http://emerge.intelifi.com"   }); 


    function getInternetExplorerVersion()
    // Returns the version of Internet Explorer or a -1
    // (indicating the use of another browser).
    {
        //console.log(navigator.appName);
        var rv = -1; // Return value assumes failure.
        //alert(navigator.appName);

        if (navigator.appName == 'Microsoft Internet Explorer') {
            //alert('1');
            var ua = navigator.userAgent;
            var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
            if (re.exec(ua) != null)
                rv = parseFloat(RegExp.$1);
        }
        return rv;
    }

    function checkVersion() {
        //console.log(navigator.appName);
        //var msg = "You're not using Internet Explorer.";
        var ver = getInternetExplorerVersion();
        //console.log(ver);
        if (ver > -1) {
            if (ver <= 8.0)
                CFInstall.check({ mode: "overlay", destination: "http://emerge.intelifi.com" });
        }

    }

    checkVersion();

</script>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
