﻿@using Emerge.Common;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content(CommonPaths.ContentPath + "CompressedCombined(Admin).css?v=2")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Json2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=19")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-online-1.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>
    <style type="text/css">
        .k-window {
            padding-top: 0 !important;
        }

        .HeaderRow {
            background-color: #cccccc;
            background-image: url('../Content/textures/highlight.png');
            background-position: 0 center;
            background-position-y: center;
        }

        .TopHeaderRow {
            background-color: #cccccc;
            background-image: url('../Content/textures/highlight.png');
            background-position: 0 center;
            background-position-y: center;
        }

        .chat-dialog {
            pointer-events: all;
        }

        .dialog-container {
            pointer-events: none;
            visibility: visible !important;
        }

        .ImgChatNow {
            background-image: @Url.Content("~/Content/themes/base/Images/ZendeskChatNowIcon.png");
        }
    </style>
    @*<script type="text/javascript"  src="@Url.Content("res.axd?v=49.0")"></script>

     
    
      <script type="text/javascript">


          MangoChatConfig.Literals.Contacts = "Emerge Chat";
          MangoChatConfig.GroupsEnabled = false;
          MangoChatConfig.AvatarsEnabled = true;
          MangoChatConfig.ContactsWindowVisible = true;
          MangoChatConfig.HideOfflineUsers = true;
          MangoChatConfig.DefaultContactsDialogState = 2;
          MangoChatConfig.DefaultChatDialogState = 2;
          MangoChatConfig.MessageRememberCount = "-4"
          MangoChatConfig.TimestampFormat = "hh:mm:ss"
          MangoChatConfig.AvatarClicked = function (userId) {

          };
          //MangoChatConfig.GroupChatEnabled = false;
          //MangoChatConfig.RTLEnabled = true;

          jq(function () {
              mcClient = new MangoChatClient();
              mcClient.start();


          });



    </script>*@
</head>
<body>
    <div style="width: 100%;" id="dvMain">
        <input type="hidden" id="IsHover" value="0" />
        <table cellpadding="0" cellspacing="0" class="table_Main" style="padding: 0px 2px 0px 2px;">
            <tr id="tr_header">
                <td align="center" colspan="2">
                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="HeaderRow" style="height: 15px;">
                            <td colspan="4" align="right">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <div class="menu_seperator_container">
                                                <div class="menu_bartop">
                                                    <ul>
                                                        <li id="lnkComplianceDesk" style="color: #7f8690;"><span id="spanComplianceDesk"
                                                            style="text-decoration: none; color: #363636; padding: 6px;" onclick="GetComplianceDesk();">
                                                            Compliance Desk</span></li>
                                                        <li id="lnkhelpforum" style="color: #7f8690;"><span><a target="_blank" href="http://support.intelifi.com/forums"
                                                            style="text-decoration: none; color: #363636; padding: 5px;">Help Forum</a> </span>
                                                        </li>
                                                        <li class="alerts"><span id="spnAlert" style="color: Red;" onclick="AlertShowHide();">
                                                            <img id="imgALetInfo" src="@Url.Content(CommonPaths.ImagesPath + "infomessagev2.png")" />
                                                            Alerts<div id="divupdown" style="float: right; cursor: pointer; margin-right: 3px;">
                                                                <img id="imgupdown" src="@Url.Content(CommonPaths.ImagesPath + "arrowdown.png")" /></div>
                                                        </span>
                                                            <div id="divalerts" class="divalerts" style="height: 380px; width: 250px; overflow: scroll;
                                                                overflow-x: hidden; background-color: #ffffff">
                                                            </div>
                                                            @{Html.RenderPartial("PartialAlerts");}
                                                        </li>
                                                        @{string[] role = new string[0];}
                                                        @if (Session["UserRoles"] != null)
                                                        {
                                                            role = (string[])(Session["UserRoles"]);
                                                            if (role.Contains("SystemAdmin") || role.Contains("SupportManager") || role.Contains("SupportTechnician"))
                                                            {
                                                            <li>
                                                                <div id="divLog">
                                                                    @{Html.RenderAction("LoadCallLog", "Common");}
                                                                </div>
                                                            </li>
                                                            }
                                                        }
                                                        <li>
                                                            <div style="width: 50px;" align="center">
                                                                <span onclick="script: Zenbox.show();">Chat Support </span>
                                                            </div>
                                                            <div id="DivEMLayout" style="display: none;">
                                                                @{Html.RenderPartial("../Common/PartialActivateRequest");}
                                                            </div>
                                                        </li>
                                                        <li class="chat"><span>Chat</span> </li>
                                                        <li class="support"><span onclick="SupportShowHide();">Support<div style="float: right;
                                                            cursor: pointer; margin-right: 3px;">
                                                            <img id="imgupdown1" src="@Url.Content(CommonPaths.ImagesPath + "arrowdown.png")" /></div>
                                                        </span>
                                                            <ul class="supportUL" id="tblsupportdata">
                                                                <table width="100%" style="border-right: 2px solid #c0c0c0;" cellpadding="0" cellspacing="0"
                                                                    id="tblSupport">
                                                                    @*<tr>
                                                                        <td width="28px" align="left" class="support_btmBorder">
                                                                            <span>CHAT</span>
                                                                        </td>
                                                                        <td class="support_btmBorder">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="28px" class="support_btmBorder" align="center" valign="middle">
                                                                            <img src="@Url.Content(CommonPaths.ImagesPath + "man.gif")" alt="" />
                                                                        </td>
                                                                        <td align="left" class="support_btmBorder">
                                                                        </td>
                                                                    </tr>*@
                                                                    <tr>
                                                                        <td width="28px" align="left" class="support_btmBorder">
                                                                            <span>EMAIL</span>
                                                                        </td>
                                                                        <td class="support_btmBorder">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" class="support_btmBorder" colspan="2">
                                                                            <a style="text-align: center;" href="mailto:support@intelifi.com">SUPPORT@INTELIFI.COM</a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="left" class="support_btmBorder">
                                                                            <span>PHONE</span>
                                                                        </td>
                                                                        <td class="support_btmBorder">
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="height: 23px;">
                                                                        <td>
                                                                        </td>
                                                                        <td align="left" class="tdtxt">
                                                                            888.409.1819
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="left" class="support_btmBorder">
                                                                            <span>Chat</span>
                                                                        </td>
                                                                        <td class="support_btmBorder">
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="height: 23px;">
                                                                        <td>
                                                                        </td>
                                                                        <td align="left" class="tdtxt">
                                                                            <img id="img1" src="@Url.Content("~/Content/themes/base/Images/ZendeskChatNowIcon.png")"  style="border: none; cursor:pointer;"
                                                                    alt="Chat Now" onClick="script: Zenbox.show(); return false;" />
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </ul>
                                                        </li>
                                                        <li class="Logout" style="color: #7f8690"><a href="../Default/LogOut" style="text-decoration: none;
                                                            color: #363636;">Logout</a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        @Html.TextBox("txtSearch", "", new { onkeypress = "MasterSearch_Click(event,this)", style = "width:170px; margin-left:7px;" })
                                                    </td>
                                                    <td align="left" style="width: 30px">
                                                        <a id="MasterSearch" onclick="return CheckSearchData();" style="cursor: pointer">
                                                            <img src="@Url.Content("~/Content/themes/base/images/SearchingImg.png")" alt="Search"  />
                                                        </a>
                                                        <img alt="loader" id="Masterloader" style="display:none;" src="@Url.Content("~/Content/themes/base/images/SearchingImgNew.gif")" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <script src="@Url.Content("~/Scripts/KendoJS/kendo.web.min.js")" type="text/javascript"></script>
                            @Html.Partial("Userinfo")
                            <td width="65%" align="left">
                                @{Html.RenderAction("PartialSystemNotifiication", "Common");}
                            </td>
                            <td align="right" width="15%" valign="bottom">
                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="70%" colspan="2">
                                            </td>
                                            <td>
                                                <table cellspacing="0" cellpadding="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="right">
                                                                <div id="Switch">
                                                                    <table style="height: 70px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="bottom">
                                                                                    <a href="../Corporate/NewReport">
                                                                                        <div class="emergePoweredImg">
                                                                                        </div>
                                                                                    </a>
                                                                                </td>
                                                                                <td valign="middle">
                                                                                    @{string[] UserRole = new string[0];}
                                                                                    @if (Session["UserRoles"] != null)
                                                                                    {
                                                                                        UserRole = (string[])(Session["UserRoles"]);
                                                                                        if (UserRole.Contains("SystemAdmin") || UserRole.Contains("SupportManager") || UserRole.Contains("SupportTechnician"))
                                                                                        {
                                                                                            {
                                                                                        <div style="float: right; display: block;" id="EmergeLogo">
                                                                                            <a href="../Office/Leads">
                                                                                                <img src="@Url.Content(CommonPaths.ImagesPath + "Switch1.png")" id="IgBtnToOffice" name="IgBtnToOffice" /></a>
                                                                                        </div>
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div style="display: none;" id="aOther">
                                                                </div>
                                                                <div style="float: left; width: 315px">
                                                                    <div style="float: left; width: 280px">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="tr_Menu">
                <td colspan="2" class="menu_seperator" valign="bottom">
                    <table width="100%" cellpadding="0" cellspacing="0" style="padding: 0px 0px 0px 0px;
                        height: 35px;">
                        <tr>
                            <td class="Center_ImgMVC" valign="bottom">
                                <div style="width: 280px; padding-left: 5px; float: left; vertical-align: bottom;">
                                    @{string[] rolechk = new string[0];}
                                    @if (Session["UserRoles"] != null)
                                    {
                                        rolechk = (string[])(Session["UserRoles"]);
                                        if (!rolechk.Contains("ViewOnlyUser"))
                                        {
                                            if (!rolechk.Contains("BillingUser"))
                                            {
                                        <ul id="tabsDemo1">
                                            <li id="liNewReport"><a href="../Corporate/NewReport" id="atabspanNwRpt" style="width: 85px">
                                                New Reports<span id="spanNwRpt"></span> </a></li>
                                            <li id="liNewBatch"><a href="../Corporate/NewBatch" onclick="new_batch();" style="margin-left: 3px;
                                                width: 115px">New Batch<span id="spanNwBatch"></span>
                                                <img src="@Url.Content("~/Content/themes/base/images/new_small.png")" alt="New Batch" Style="margin-top: -2px; margin-left: 3px;
                                                            vertical-align: top; height:20px;" />
                                            </a></li>
                                        </ul>
                                            }
                                            else
                                            {
                                        <ul id="tabsDemo1">
                                            @*<li id="liNewReport"><a href="../Corporate/NewReport" id="atabspanNwRpt" style="width: 85px">
                                                New Reports<span id="spanNwRpt"></span> </a></li>
                                            <li id="liNewBatch"><a href="../Corporate/NewBatch" onclick="new_batch();" style="margin-left: 3px;
                                                width: 115px">New Batch<span id="spanNwBatch"></span>
                                                <img src="@Url.Content("~/Content/themes/base/images/new_small.png")" alt="New Batch" Style="margin-top: -2px; margin-left: 3px;
                                                    vertical-align: top; height:20px;" />
                                            </a></li>*@
                                        </ul>
                                            }
                                        }
                                    }
                                </div>
                                <div style="float: right;">
                                    <ul id="tabsDemo">
                                        @{string[] UserRoles = new string[0];}
                                        @if (Session["UserRoles"] != null)
                                        {
                                            UserRoles = (string[])(Session["UserRoles"]);
                                            if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                                            {
                                            <li id="liArchives" style="float: left"><a href="../Control/SavedReports">Archives<span
                                                id="spanArc"></span></a> </li>
                                    
                                            <li style="display: block; float: left" id="liEmergeReviews"><a style="width: 100px;
                                                float: right;" href="../Control/EmergeReviews">Emerge Reviews<span id="spanEmergeRev"></span></a>
                                            </li>
                                    
                                    
                                            }
                                            else
                                            {
                                                if (UserRoles.Contains("DataEntry"))
                                                {
                                            <li id="liArchives" style="float: left"><a href="javascript:void(0);">Archives<span
                                                id="spanArc"></span></a> </li>
                                                }
                                                else
                                                {
                                            <li id="liArchives" style="float: left"><a href="../Corporate/SavedReports">Archives<span
                                                id="spanArc"></span></a> </li>
                                                }
                                            }
                                        }
                                        else
                                        {

                                            MembershipUser objMembership = Membership.GetUser();
                                            if (objMembership != null)
                                            {
                                                UserRoles = Roles.GetRolesForUser(User.Identity.Name);
                                                Session["UserRoles"] = UserRoles;
                                            }
                                            <li id="liArchives" style="float: left"><a href="../Corporate/SavedReports">Archives<span
                                                id="spanArc"></span></a> </li>
                                        }
                                        <li id="liAccount" style="float: left"><a href="../Corporate/MyAccount">My Account<span
                                            id="spanAccount"></span></a> </li>
                                        @if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                                        {
                                            <li id="liAdmin" style="float: left" runat="server"><a href="../Control/AdminSearch">
                                                Admin<span id="spanAdmin"></span></a> </li>
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#fafafa">
                <td colspan="2">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="MainBorder">
                        <tr>
                            @{
                                string path = System.Web.HttpContext.Current.Request.Url.AbsolutePath;
                                string PageName = path.Substring(path.LastIndexOf("/") + 1).Trim();

                                if (!(PageName.ToLower() == "addcompanies"))
                                {
                                <td id="tdAdmin" valign="top" align="left" visible="true" width="10%">
                                    @{Html.RenderAction("GetLeftMenu", "Home");}
                                </td>
                                }
                            }
                            <td id="content">
                                @RenderBody()
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <input type="hidden" id="KeyValueLayout" />
    <input type="hidden" id="AutoCompletebackendvalue" />
    <script type="text/javascript">

        function GetComplianceDesk() {
            var w = 750;
            var h = 550;
            var left = (screen.width / 2) - (w / 2);
            var top = (screen.height / 2) - (h / 2);
            window.open('https://www.hrscreeninghelpdesk.com/embed/reports.aspx?Id=6666', 'ComplianceDesk', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

            //window.open('', 'ComplianceDesk', 'height=600,width=900,toolbar=no,scrollbars=yes,location=no,resizable=yes');
        }

        var isShowAlert = true;
        var isShowSupport = true;

        function Mainsetting() {
            //        document.getElementById("content-box").style.backgroundColor = '#fafafa';
            //        document.getElementsByClassName("m")[0].style.backgroundColor = '#fafafa';
            //        document.getElementsByClassName("t")[0].style.backgroundColor = '#fafafa';
            //        document.getElementsByClassName("b")[0].style.backgroundColor = '#fafafa';
        }
        Mainsetting();

        $("#txtSearch").autocomplete({
            source: function (request, response) {
                var Text = request.term;
                var lenth = Text.length;
                var IsNumber = IsNumeric(Text);
                if ((IsNumber == true) && (lenth == 4 || lenth == 5 || lenth == 6 || lenth == 7 || lenth == 8 || lenth == 9)) {
                    var first3 = Text.substring(0, 3);
                    var Middledigit = '';
                    var lastdigit = '';
                    if (lenth == 4) {
                        Middledigit = Text.substring(3);
                        Text = first3 + "-" + Middledigit;
                    }
                    else if (lenth == 5) {

                        Middledigit = Text.substring(3, 5);

                        Text = first3 + "-" + Middledigit;
                    }
                    else if (lenth == 6 || lenth == 7 || lenth == 8 || lenth == 9) {
                        Middledigit = Text.substring(3, 5);
                        lastdigit = Text.substring(5, lenth)
                        Text = first3 + "-" + Middledigit + "-" + lastdigit;
                    }
                }
                var Element = Text.replace(/,/g, "");
                $.ajax({
                    url: '@Url.Action("AutoCompleteResult", "CommonSavedReport")', type: "POST", dataType: "json",
                    data: { searchText: Element },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.label, value: item.value };
                        }));
                    }
                });

            },
            focus: function (event, ui) {
                $("#txtSearch").val(ui.item.label);
                return false;
            },

            select: function (event, ui) {
                $('#txtSearch').val(ui.item.label);
                document.getElementById("AutoCompletebackendvalue").value = ui.item.value;
                return false;
            },


            minLength: 2

        });

        function IsNumeric(input) {
            var RE = /^-{0,1}\d*\.{0,1}\d+$/;
            return (RE.test(input));
        }



        if (jQuery.browser.msie) {

            $("td[class=img_user]").attr('style', 'width: 9%');
        }



        function new_batch() {
            var liNewBatch = document.getElementById('liNewBatch');
            $(liNewBatch).addClass('current');

        }



        //    $("div[class=divalerts]").mouseout(function () {

        //        var divalerts = document.getElementById('divalerts');

        //        divalerts.style.display = 'none';
        //        temvar = "";
        //    })

        function SupportShowHide() {
            if (isShowSupport) {
                ShowSupport();
            }
            else {
                HideSupport();
            }
        }


        function HideSupport() {
            $("#imgupdown1").attr("src", "../Content/themes/base/images/arrowdown.png");
            var tblsupport = document.getElementById("tblsupportdata");
            tblsupport.style.display = 'none';
            isShowSupport = true;
        }
        function ShowSupport() {
            $("#imgupdown1").attr("src", "../Content/themes/base/images/arrowup.png");
            var tblsupport = document.getElementById("tblsupportdata");
            tblsupport.style.display = 'block';
            isShowSupport = false;
        }

        function AlertShowHide() {
            if (isShowAlert) {
                Show_Alerts();
            }
            else {
                Hide_Alerts();
            }
        }

        function Show_Alerts() {
            $("#imgupdown").attr("src", "../Content/themes/base/images/arrowup.png");
            var divalerts = document.getElementById('divalerts');
            if (divalerts != null) {
                var IsHover = document.getElementById('IsHover');
                if (IsHover.value == 0) {
                    $("#divalerts").html('<img alt="loader" src="../Content/themes/base/images/ajax-loader3.gif" />');
                    // $("#divalerts").load('@Url.Action("LoadAllAlerts", "Home")');
                    $.ajax("../Home/LoadAllAlerts", {
                        cache: false,
                        success: function (data) {
                            $("#divalerts").html(data);
                            //                        if (GlobalVariable) {
                            //                            $.ajax({
                            //                                type: "post",
                            //                                dataType: "json",
                            //                                url: "../Corporate/DuePaymentDetails",
                            //                                data: { companyId: GlobalCompanyId },
                            //                                success: function (Data) {
                            //                                    var trAlert = $('#divresAlert');
                            //                                    trAlert.prepend('<tr class="GridRowtop"><td><table style="border-bottom:1px solid #e5e5e5; width: 100%" class="divalerts_Text"><tbody><tr style="height: 35px;"><td align="center" valign="middle" width="25%" class="prCode"><img alt="" src="/Content/themes/base/Images/invoice_alert.png"></td><td align="left" valign="middle" width="75%" class="prName">Due Payment (' + Data.Result[0] + ')<br>Your Pending Payment is <br> $' + Data.Result[1] + '.  </td></tr></tbody></table></td></tr>');
                            //                                }
                            //                            })

                            //                        }
                        }

                    });
                    IsHover.value = 1;
                    divalerts.style.display = 'block';
                }
                else {
                    divalerts.style.display = 'block';
                }
            }
            isShowAlert = false;
        }

        function Hide_Alerts() {
            $("#imgupdown").attr("src", "../Content/themes/base/images/arrowdown.png");
            var divalerts = document.getElementById('divalerts');
            if (divalerts != null) {
                divalerts.style.display = 'none';
            }
            isShowAlert = true;
        }

        function CheckSearchData() {
            var txtid = document.getElementById('txtSearch');
            var AutoCompletebackendvalue = document.getElementById("AutoCompletebackendvalue");
            if (txtid.value == '') {
                alert('Enter here some text for search order(s)');
                txtid.focus();
                return false;
            }
            else {
                document.getElementById('Masterloader').style.display = 'block';
                document.getElementById('MasterSearch').style.display = 'none';
                var Text = txtid.value;
                var Autocompleteinback = 'NA';

                if (AutoCompletebackendvalue.value != '') {
                    Autocompleteinback = AutoCompletebackendvalue.value;
                }
                var lenth = Text.length;
                var IsNumber = IsNumeric(Text);
                if ((IsNumber == true) && (lenth == 4 || lenth == 5 || lenth == 6 || lenth == 7 || lenth == 8 || lenth == 9)) {
                    var first3 = Text.substring(0, 3);
                    var Middledigit = '';
                    var lastdigit = '';
                    if (lenth == 4) {
                        Middledigit = Text.substring(3);
                        Text = first3 + "-" + Middledigit;
                    }
                    else if (lenth == 5) {

                        Middledigit = Text.substring(3, 5);

                        Text = first3 + "-" + Middledigit;
                    }
                    else if (lenth == 6 || lenth == 7 || lenth == 8 || lenth == 9) {
                        Middledigit = Text.substring(3, 5);
                        lastdigit = Text.substring(5, lenth)
                        Text = first3 + "-" + Middledigit + "-" + lastdigit;
                    }


                }
                window.location.href = 'SavedReports?qryst=' + Text + '&qryst2=' + Autocompleteinback;
            }
        }



        //   document.getElementById("atabspanNwRpt").style.width = "85px";
        function Calllog() {
            //alert(value);
            $("#divLog").load("../Common/LoadCallLog", { PageType: "", pkCompanyId: "" }, function () {
                OpenWindow_CallLog();
            });

        }

        function MasterSearch_Click(e, txtSearch) {
            var evt = e ? e : window.event;
            if (evt.keyCode == 13) {
                CheckSearchData();
                return false;
            }
        }


        MasterTab_Selection();

        function MasterTab_Selection() {
            var liNewReport = document.getElementById('liNewReport');
            var liArchives = document.getElementById('liArchives');
            var liAdmin = document.getElementById('liAdmin');
            var liAccount = document.getElementById('liAccount');
            var liEmergeReviews = document.getElementById('liEmergeReviews');
            var loc = window.location.href.toLowerCase();
            if (loc.indexOf("newreport") != -1) {
                $(liNewReport).addClass('current');

            }
            else if (loc.indexOf("emergereviews") != -1) {

                $(liEmergeReviews).addClass('current');
            }
            else if (loc.indexOf("savedreports") != -1 || loc.indexOf("viewreports") != -1 || loc.indexOf("viewreportreview") != -1 || loc.indexOf("viewdrugtestingreports") != -1) {
                $(liArchives).addClass('current');
            }
            else if (loc.indexOf("addcompanies") != -1 || loc.indexOf("addcompanylocation") != -1 || loc.indexOf("addcompanyuser") != -1
                    || loc.indexOf("control/billing") != -1 || loc.indexOf("adminsearch") != -1 || loc.indexOf("getalllocations") != -1 || loc.indexOf("getallemergeusers") != -1
                    || loc.indexOf("getemergeusers") != -1 || loc.indexOf("getallcompanies") != -1 || loc.indexOf("managereports") != -1 || loc.indexOf("emailtemplate") != -1
                   || loc.indexOf("systemtemplates") != -1 || loc.indexOf("newsletteremail") != -1 || loc.indexOf("managevendors") != -1 || loc.indexOf("marketingtools") != -1 || loc.indexOf("newsletters") != -1
                   || loc.indexOf("packageslist") != -1 || loc.indexOf("manageproducts") != -1 || loc.indexOf("penalcodes") != -1 || loc.indexOf("addcompanies") != -1
                   || loc.indexOf("locationbycompanyid") != -1 || loc.indexOf("usersbycompanyid") != -1 || loc.indexOf("pricebycompanyid") != -1 || loc.indexOf("referencebycompanyid") != -1
                   || loc.indexOf("documentsbycompanyid") != -1 || loc.indexOf("apibycompanyid") != -1 || loc.indexOf("salesbycompanyid") != -1 || loc.indexOf("invoicebycompanyid") != -1
                   || loc.indexOf("getusersunderlocation") != -1 || loc.indexOf("pricebylocationid") != -1 || loc.indexOf("referncecodebylocation") != -1) {
                $(liAdmin).addClass('current');

            }
            if (loc.indexOf("myaccount") != -1 || loc.indexOf("getusers") != -1 || loc.indexOf("accounthistory") != -1 || loc.indexOf("myreports") != -1 || loc.indexOf("mypreferences") != -1 || loc.indexOf("myforms") != -1 || loc.indexOf("corporate/billingstatements") != -1) {
                if (loc.indexOf("getusersunderlocation") == -1) {
                    $(liAccount).addClass('current');
                }

            }
        }

        var color = {};
        function hoverrow(tr_id) { color = $(tr_id).css("background-color"); $(tr_id).contents('td').css({ 'background-color': '#aaaaaa' }); }
        function hoverrowout(tr_id) { $(tr_id).contents('td').css({ 'background-color': color }); }
        function Desc_Row(tr_id) {
            var str = tr_id.innerHTML;
            if (str.indexOf("edit.png") == -1 && str.indexOf("checkbox") == -1 && str.indexOf("k-plus") == -1 && str.indexOf("k-minus") == -1 && str.indexOf("clsorder") == -1 && str.indexOf("ErrorlogSmall.png") == -1 && str.indexOf("Order_Form_Icon.png") == -1 && str.indexOf("button") == -1 && str.indexOf("Docs") == -1 && str.indexOf("update_icon.png") == -1) {
                $(tr_id).parent('tr').find("input[title=Edit]").click();
                $(tr_id).parent('tr').find("a[class=clsorder]")[0].click();

            }
        }

        function GridEffect(grid, dataItem) {
            var GridId = "#" + grid;
            var tr = $(GridId).find("[data-uid='" + dataItem.uid + "']");
            tr.attr("onmouseover", "hoverrow(this);");
            tr.attr("onmouseout", "hoverrowout(this);");
            tr.attr("style", "cursor:pointer;");
            tr.find("td").each(function () { $(this).attr("onclick", "Desc_Row(this);"); });
        }
    </script>
    <link href="//assets.zendesk.com/external/zenbox/v2.6/zenbox.css" rel="stylesheet"
        type="text/css" />
    <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
    <script type="text/javascript">
        if (typeof (Zenbox) !== "undefined") {
            Zenbox.init({
                dropboxID: "20082140",
                url: "https://intelifisupport.zendesk.com",
                tabID: "chat",
                tabColor: "black"
                //,
                //tabImageURL: "https://assets.zendesk.com/external/zenbox/images/"
                //  tabPosition: "Left"
            });
        }
        if ($("#zenbox_tab").length) { $("#zenbox_tab").css("display", "block"); }
        //document.getElementById("zenbox_tab").style.display = 'none';
    </script>
</body>
</html>
