﻿@using Emerge.Common;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- CSS files -->
    <!-- JavaScript files -->
    <script type="text/javascript" src="~/Design2/js/jquery.js"></script>
    <script type="text/javascript" src="~/Design2/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="~/Design2/jquery/jquery-select-menu.js"></script>
    <script type="text/javascript" src="~/Design2/jquery/Selectyze.jquery.js"></script>
    <link href="@Url.Content("~/Design2/Css/main-bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/Selectyze.jquery.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Design2/Js/bootstrap-dropdown.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Design2/Js/bootstrap-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Design2/Js/a-doc.js")" type="text/javascript"></script>
    <script src="~/Design2/js/css_browser_selector.js" type="text/javascript"></script>
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content(CommonPaths.ContentPath + "CompressedCombined(Admin).css?v=2")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <script src="@Url.Content("~/Scripts/Json2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=19")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-online-1.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/KendoJS/kendo.web.min.js?v=2.0")" type="text/javascript"></script>
    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=2.0")" type="text/javascript"></script>
    <link href="//assets.zendesk.com/external/zenbox/v2.6/zenbox.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
    <style type="text/css">
        span.k-icon.k-minimize {
            visibility: hidden;
        }

        div#divVideo {
            margin-top: -5px;
            overflow: visible !important;
        }

        .footer li:nth-child(4) {
            margin-left: -1%;
            position: relative;
            width: 23%;
            z-index: 9 !important;
        }
    </style>
    <script type="text/javascript">
        function Getzendesk() {

            Zenbox.init({
                dropboxID: "20082140",
                url: "https://intelifisupport.zendesk.com",
                tabID: "chat",
                tabColor: "black",
                tabImageURL: "https://assets.zendesk.com/external/zenbox/images/"
                //  tabPosition: "Left"
            });
            $('#zenbox_tab').trigger('click');
            $('#zenbox_tab').css('display', 'none');


        }



        function GetComplianceDesk() {
            var w = 750;
            var h = 550;
            var left = (screen.width / 2) - (w / 2);
            var top = (screen.height / 2) - (h / 2);
            window.open('https://www.hrscreeninghelpdesk.com/embed/reports.aspx?Id=6666', 'ComplianceDesk', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);
            return false;
        }

        var isShowAlert = true;
        var isShowSupport = true;

        function Mainsetting() {
            //        document.getElementById("content-box").style.backgroundColor = '#fafafa';
            //        document.getElementsByClassName("m")[0].style.backgroundColor = '#fafafa';
            //        document.getElementsByClassName("t")[0].style.backgroundColor = '#fafafa';
            //        document.getElementsByClassName("b")[0].style.backgroundColor = '#fafafa';
        }
        Mainsetting();

        $("#txtSearch").autocomplete({
            source: function (request, response) {
                var Text = request.term;
                var lenth = Text.length;
                var IsNumber = IsNumeric(Text);
                if ((IsNumber == true) && (lenth == 4 || lenth == 5 || lenth == 6 || lenth == 7 || lenth == 8 || lenth == 9)) {
                    var first3 = Text.substring(0, 3);
                    var Middledigit = '';
                    var lastdigit = '';
                    if (lenth == 4) {
                        Middledigit = Text.substring(3);
                        Text = first3 + "-" + Middledigit;
                    }
                    else if (lenth == 5) {

                        Middledigit = Text.substring(3, 5);

                        Text = first3 + "-" + Middledigit;
                    }
                    else if (lenth == 6 || lenth == 7 || lenth == 8 || lenth == 9) {
                        Middledigit = Text.substring(3, 5);
                        lastdigit = Text.substring(5, lenth)
                        Text = first3 + "-" + Middledigit + "-" + lastdigit;
                    }
                }
                var Element = Text.replace(/,/g, "");
                $.ajax({
                    url: '@Url.Action("AutoCompleteResult", "CommonSavedReport")', type: "POST", dataType: "json",
                    data: { searchText: Element },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.label, value: item.value };
                        }));
                    }
                });

            },
            focus: function (event, ui) {
                $("#txtSearch").val(ui.item.label);
                return false;
            },

            select: function (event, ui) {
                $('#txtSearch').val(ui.item.label);
                document.getElementById("AutoCompletebackendvalue").value = ui.item.value;
                return false;
            },


            minLength: 2

        });

        function IsNumeric(input) {
            var RE = /^-{0,1}\d*\.{0,1}\d+$/;
            return (RE.test(input));
        }



        if (jQuery.browser.msie) {

            $("td[class=img_user]").attr('style', 'width: 9%');
        }



        function new_batch() {
            var liNewBatch = document.getElementById('liNewBatch');
            $(liNewBatch).addClass('current');

        }



        //    $("div[class=divalerts]").mouseout(function () {

        //        var divalerts = document.getElementById('divalerts');

        //        divalerts.style.display = 'none';
        //        temvar = "";
        //    })

        function SupportShowHide() {
            if (isShowSupport) {
                ShowSupport();
            }
            else {
                HideSupport();
            }
        }


        function HideSupport() {
            $("#imgupdown1").attr("src", "../Content/themes/base/images/arrowdown.png");
            var tblsupport = document.getElementById("tblsupportdata");
            tblsupport.style.display = 'none';
            isShowSupport = true;
        }
        function ShowSupport() {
            $("#imgupdown1").attr("src", "../Content/themes/base/images/arrowup.png");
            var tblsupport = document.getElementById("tblsupportdata");
            tblsupport.style.display = 'block';
            isShowSupport = false;
        }

        function AlertShowHide() {

            if (isShowAlert) {
                Show_Alerts();
            }
            else {

                Show_Alerts();
                //Hide_Alerts();
            }

        }

        function Show_Alerts() {


            $("#imgupdown").attr("src", "../Content/themes/base/images/arrowup.png");
            var divalerts = document.getElementById('divalerts');
            if (divalerts != null) {
                var IsHover = document.getElementById('IsHover');
                if (IsHover.value == 0) {
                    $("#divalerts").html('<img alt="loader" src="../Content/themes/base/images/ajax-loader3.gif" />');
                    // $("#divalerts").load('@Url.Action("LoadAllAlerts", "Home")');
                    $.ajax("../Home/LoadAllAlerts", {
                        cache: false,
                        success: function (data) {
                            $("#divalerts").html(data);
                            //if (GlobalVariable) {
                            //    $.ajax({
                            //        type: "post",
                            //        dataType: "json",
                            //        url: "../Corporate/DuePaymentDetails",
                            //        data: { companyId: GlobalCompanyId },
                            //        success: function (Data) {
                            //            var trAlert = $('#divresAlert');
                            //            trAlert.prepend('<tr class="GridRowtop"><td><table style="border-bottom:1px solid #e5e5e5; width: 100%" class="divalerts_Text"><tbody><tr style="height: 35px;"><td align="center" valign="middle" width="25%" class="prCode"><img alt="" src="/Content/themes/base/Images/invoice_alert.png"></td><td align="left" valign="middle" width="75%" class="prName">Due Payment (' + Data.Result[0] + ')<br>Your Pending Payment is <br> $' + Data.Result[1] + '.  </td></tr></tbody></table></td></tr>');
                            //        }
                            //    })

                            //}
                        }

                    });
                    IsHover.value = 1;
                    divalerts.style.display = 'block';
                }
                else {
                    divalerts.style.display = 'block';
                }
            }
            isShowAlert = false;
        }

        function Hide_Alerts() {
            $("#imgupdown").attr("src", "../Content/themes/base/images/arrowdown.png");
            var divalerts = document.getElementById('divalerts');
            if (divalerts != null) {
                divalerts.style.display = 'none';
            }
            isShowAlert = true;
        }

        function CheckSearchData() {

            var txtid = document.getElementById('txtSearch');
            var AutoCompletebackendvalue = document.getElementById("AutoCompletebackendvalue");
            if (txtid.value == '') {
                alert('Enter here some text for search order(s)');
                txtid.focus();
                return false;
            }
            else {
                // document.getElementById('Masterloader').style.display = 'block';
                //document.getElementById('MasterSearch').style.display = 'none';
                var Text = txtid.value;
                var Autocompleteinback = 'NA';

                if (AutoCompletebackendvalue.value != '') {
                    Autocompleteinback = AutoCompletebackendvalue.value;
                }
                var lenth = Text.length;
                var IsNumber = IsNumeric(Text);
                if ((IsNumber == true) && (lenth == 4 || lenth == 5 || lenth == 6 || lenth == 7 || lenth == 8 || lenth == 9)) {
                    var first3 = Text.substring(0, 3);
                    var Middledigit = '';
                    var lastdigit = '';
                    if (lenth == 4) {
                        Middledigit = Text.substring(3);
                        Text = first3 + "-" + Middledigit;
                    }
                    else if (lenth == 5) {

                        Middledigit = Text.substring(3, 5);

                        Text = first3 + "-" + Middledigit;
                    }
                    else if (lenth == 6 || lenth == 7 || lenth == 8 || lenth == 9) {
                        Middledigit = Text.substring(3, 5);
                        lastdigit = Text.substring(5, lenth)
                        Text = first3 + "-" + Middledigit + "-" + lastdigit;
                    }


                }
                window.location.href = 'SavedReports?qryst=' + Text + '&qryst2=' + Autocompleteinback;
            }
        }



        //   document.getElementById("atabspanNwRpt").style.width = "85px";
        function Calllog() {
            //alert(value);
            $("#divLog").load("../Common/LoadCallLog", { PageType: "", pkCompanyId: "" }, function () {
                OpenWindow_CallLog();
            });

        }

        function MasterSearch_Click(e, txtSearch) {
            var evt = e ? e : window.event;
            if (evt.keyCode == 13) {
                CheckSearchData();
                return false;
            }
        }


        MasterTab_Selection();

        function MasterTab_Selection() {
            var liNewReport = document.getElementById('liNewReport');
            var liArchives = document.getElementById('liArchives');
            var liAdmin = document.getElementById('liAdmin');
            var liAccount = document.getElementById('liAccount');
            var liEmergeReviews = document.getElementById('liEmergeReviews');
            var loc = window.location.href.toLowerCase();
            if (loc.indexOf("newreport") != -1) {
                $(liNewReport).addClass('current');

            }
            else if (loc.indexOf("emergereviews") != -1) {

                $(liEmergeReviews).addClass('current');
            }
            else if (loc.indexOf("savedreports") != -1 || loc.indexOf("viewreports") != -1 || loc.indexOf("viewreportreview") != -1 || loc.indexOf("viewdrugtestingreports") != -1) {
                $(liArchives).addClass('current');
            }
            else if (loc.indexOf("addcompanies") != -1 || loc.indexOf("addcompanylocation") != -1 || loc.indexOf("addcompanyuser") != -1
                    || loc.indexOf("control/billing") != -1 || loc.indexOf("adminsearch") != -1 || loc.indexOf("getalllocations") != -1 || loc.indexOf("getallemergeusers") != -1
                    || loc.indexOf("getemergeusers") != -1 || loc.indexOf("getallcompanies") != -1 || loc.indexOf("managereports") != -1 || loc.indexOf("emailtemplate") != -1
                   || loc.indexOf("systemtemplates") != -1 || loc.indexOf("newsletteremail") != -1 || loc.indexOf("managevendors") != -1 || loc.indexOf("marketingtools") != -1 || loc.indexOf("newsletters") != -1
                   || loc.indexOf("packageslist") != -1 || loc.indexOf("manageproducts") != -1 || loc.indexOf("penalcodes") != -1 || loc.indexOf("addcompanies") != -1
                   || loc.indexOf("locationbycompanyid") != -1 || loc.indexOf("usersbycompanyid") != -1 || loc.indexOf("pricebycompanyid") != -1 || loc.indexOf("referencebycompanyid") != -1
                   || loc.indexOf("documentsbycompanyid") != -1 || loc.indexOf("apibycompanyid") != -1 || loc.indexOf("salesbycompanyid") != -1 || loc.indexOf("invoicebycompanyid") != -1
                   || loc.indexOf("getusersunderlocation") != -1 || loc.indexOf("pricebylocationid") != -1 || loc.indexOf("referncecodebylocation") != -1) {
                $(liAdmin).addClass('current');

            }
            if (loc.indexOf("myaccount") != -1 || loc.indexOf("getusers") != -1 || loc.indexOf("accounthistory") != -1 || loc.indexOf("myreports") != -1 || loc.indexOf("mypreferences") != -1 || loc.indexOf("myforms") != -1 || loc.indexOf("corporate/billingstatements") != -1) {
                if (loc.indexOf("getusersunderlocation") == -1) {
                    $(liAccount).addClass('current');
                }

            }
        }

        var color = {};
        function hoverrow(tr_id) { color = $(tr_id).css("background-color"); $(tr_id).contents('td').css({ 'background-color': '#fffedc' }); }
        function hoverrowout(tr_id) { $(tr_id).contents('td').css({ 'background-color': color }); }
        function Desc_Row(tr_id) {
            var str = tr_id.innerHTML;
            if (str.indexOf("edit.png") == -1 && str.indexOf("checkbox") == -1 && str.indexOf("k-plus") == -1 && str.indexOf("k-minus") == -1 && str.indexOf("clsorder") == -1 && str.indexOf("ErrorlogSmall.png") == -1 && str.indexOf("Order_Form_Icon.png") == -1 && str.indexOf("button") == -1 && str.indexOf("Docs") == -1 && str.indexOf("update_icon.png") == -1) {
                $(tr_id).parent('tr').find("input[title=Edit]").click();
                $(tr_id).parent('tr').find("a[class=clsorder]")[0].click();

            }
        }

        function GridEffect(grid, dataItem) {
            var GridId = "#" + grid;
            var tr = $(GridId).find("[data-uid='" + dataItem.uid + "']");
            tr.attr("onmouseover", "hoverrow(this);");
            tr.attr("onmouseout", "hoverrowout(this);");
            tr.attr("style", "cursor:pointer;");
            tr.find("td").each(function () { $(this).attr("onclick", "Desc_Row(this);"); });
        }

        //To open the embeded youtube links in iframe popup.
        function openVideo(ids) {
            var id = $(ids).attr("id");
            $("#divVideo").show();
            var windowReport = $("#divVideo").kendoWindow({
                actions: ["Minimize"],
                modal: false,
                scrollable: false,
                height: "480px",
                width: "755px"
            }).data("kendoWindow");
            $('.k-window-titlebar.k-header').remove();
            if (id == "imgVideoNewReport1") {//New Report page
                $('#iframeVideo').attr('src', "https://www.youtube.com/embed/EcpynYi_ipw");
                $('#titleMsg').text('Welcome & Navigation Basics');
            }
            else if (id == "imgVideoNewReport2") {//New Report page
                $('#iframeVideo').attr('src', "https://www.youtube.com/embed/M0FUyVZudUY");
                $('#titleMsg').text('Logging in and Running a Report');
            }
            else if (id == "imgVideoNewReport3") {//Archives
                $('#iframeVideo').attr('src', "https://www.youtube.com/embed/1FCGPerByq8");
                $('#titleMsg').text('Archives');
            }
            else if (id == "imgVideoNewReport4") {//View Report or View Report Review
                $('#iframeVideo').attr('src', "https://www.youtube.com/embed/4J0chAZ0Emo");
                $('#titleMsg').text('View Report');
            }
            else if (id == "imgVideoNewReport5") {//For My Profile Page
                $('#iframeVideo').attr('src', "https://www.youtube.com/embed/JnOv62r9aTU");
                $('#titleMsg').text('My Profile');
            }
            else if (id == "imgVideoNewReport6") {//For My Forms
                $('#iframeVideo').attr('src', "https://www.youtube.com/embed/jTAIqAf2svI");
                $('#titleMsg').text('My Forms');
            }


            windowReport.center();
            windowReport.open();

        }

        function closeVideopopup() {
            $('#iframeVideo').attr('src', '');
            var window = $("#divVideo");
            window.data("kendoWindow").close();
        }

        /* $(document).ready(function () {
             $('#closeMyiFrame').on('click', function () {
                 $('#iframeVideo').attr('src', '');
                 var window = $("#divVideo");
                 window.data("kendoWindow").close();
             });
         });*/
    </script>
    <link href="//assets.zendesk.com/external/zenbox/v2.6/zenbox.css" rel="stylesheet"
          type="text/css" />
    <script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
    <script type="text/javascript">
        if (typeof (Zenbox) !== "undefined") {

            Zenbox.init({
                dropboxID: "20082140",
                url: "https://intelifisupport.zendesk.com",
                tabID: "chat",
                tabColor: "black",
                tabImageURL: "https://assets.zendesk.com/external/zenbox/images/"
                //  tabPosition: "Left"
            });
        }
        if ($("#zenbox_tab").length) { $("#zenbox_tab").css("display", "block"); }
        //document.getElementById("zenbox_tab").style.display = 'none';
    </script>
    <script type="text/javascript">
    </script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid top-header">
            <div class="navbar-header" style="width: 55%;">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed"
                        type="button">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
                <div class="top-padding5 ">
                    <div class="fleft right-margin10">
                        <img src="~/Content/themes/base/images/logo_imgSearch.png" width="37" height="44" />
                    </div>
                    @Html.Partial("Userinfo")
                    @{Html.RenderAction("PartialSystemNotifiication", "Common");}
                </div>
            </div>
            <div class="navbar-collapse collapse ch-modi" style="height: 1px; float:right;">
                <ul class="nav navbar-nav navbar-right ">
                    <li>
                        <ul class="nav navbar-nav">
                            <li class="dropdown ">
                                @if (HttpContext.Current.Session["TotalAlerts"] == null)
                                {
                                    Session["countTotalAlerts"] = 1;
                                }
                                else
                                {
                                    Session["countTotalAlerts"] = Convert.ToInt32(HttpContext.Current.Session["TotalAlerts"]);
                                }
                                <a href="#" class="dropdown-toggle ch-message" data-toggle="dropdown" style="padding: 1.5px !important;
                                    width: 40px; height: 41px;">
                                    <span onclick="AlertShowHide();" class="msg-ch" style="margin-left: 3px;
                                        margin-top: 3px;">@*<span class="alert-circle"><p>@Session["countTotalAlerts"]</p></span>*@</span>
                                    </a>
                                    <ul class="dropdown-menu margin0">
                                        <li>
                                            <div id="divalerts" style="overflow-y: scroll; overflow-x: hidden; height: 250px;">
                                                @{Html.RenderPartial("PartialAlerts");}
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <ul class="nav navbar-nav">
                                <li class="dropdown ch-modi" style="height: 41px !important;">
                                    <a href="#" class="dropdown-toggle ch-profile"
                                       data-toggle="dropdown">
                                        <span>
                                            <img src="@HttpContext.Current.Session["UserImagepathforHome"].ToString()" class="img-responsive" />
                                        </span>@HttpContext.Current.Session["UserFullName"].ToString() &nbsp; +
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @if (Session["BillingLockingStatus"] == "0")
                                            {
                                                <a href="#">My Profile </a>

                                            }
                                            else
                                            {
                                                <a href="../Corporate/MyAccount">My Profile </a>

                                            }


                                        </li>

                                        <li>
                                            @if (Session["BillingLockingStatus"] == "0")
                                            {
                                                <a href="#">Account Settings </a>

                                            }
                                            else
                                            {
                                                <a href="../Corporate/AccountHistory">Account Settings </a>
                                            }
                                        </li>
                                        <li><a href="../Default/LogOut">Logout </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="navbar-form navbar-right padding-right">
                        <input type="text" id="txtSearch" name="txtSearch" class="form-control remove-border-radius-right fleft contorl-header"
                               onkeypress="MasterSearch_Click(event,this)" placeholder="Search Application" />
                        <div class="btn btn-default ch-button color-btn-ch">
                            <i onclick="return CheckSearchData();" class="search-ch-icon"></i>
                        </div>
                        <img alt="loader" id="Masterloader" style="display:none;" src="@Url.Content("~/Content/themes/base/images/SearchingImgNew.gif")" />
                    </div>
                </div>
            </div>
            <input type="hidden" id="IsHover" value="0" />
            <div>
                @{var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();}
                @{var ActionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();}
                @{if (controller == "Corporate")
                {
                    if (ActionName.ToLower() == "billingstatements" || ActionName.ToLower() == "myaccount" || ActionName.ToLower() == "myforms" || ActionName.ToLower() == "accounthistory" || ActionName.ToLower() == "myreports" || ActionName.ToLower() == "myaccount" || ActionName.ToLower() == "mypreferences" || ActionName.ToLower() == "getusers" || ActionName.ToLower() == "MyForms" || ActionName.Contains("EditCompanyUser"))
                    {
                        @Html.Partial("_PartialDesign2MenuAccount")
                    }
                    if (ActionName.Contains("ViewReports") || ActionName.Contains("ViewReportReview"))
                    {
                        @Html.Partial("_PartialDesign2MenuViewReport")
                    }
                    if (ActionName.Contains("SavedReports"))
                    {
                        @Html.Partial("_PartialDesign2MenuAcheive")
                    }
                    if (ActionName.Contains("NewReport") || ActionName.ToLower() == "newbatch")
                    {
                        @Html.Partial("_PartialDesign2MenuNewReport")
                    }

                }
                else if (controller == "Control")
                {
                    if (ActionName.Contains("SavedReports") || ActionName.Contains("EmergeReviews"))
                    {
                        @Html.Partial("_PartialDesign2MenuAcheive")
                    }

                    else if (ActionName.Contains("ViewReports") || ActionName.Contains("ViewReportReview"))
                    {
                        @Html.Partial("_PartialDesign2MenuViewReport")
                    }
                    else
                    {

                        @Html.Partial("_PartialDesign2MenuAdminAccount")
                    }

                }}
            </div>
        </div>
        <div class="scroll-div">
            @RenderBody()
        </div>
        <div class="clearfix height-fixer-ch">
        </div>
        <div class="footer">
            <ul>
                <li>
                    <a href="#" onclick="GetComplianceDesk();">
                        <span class="footer-icon compliance">
                        </span>Compliance Desk
                    </a>
                </li>
                <li>
                    <a href="http://support.intelifi.com/forums">
                        <span class="footer-icon help"></span>
                        Help Forum
                    </a>
                </li>
                <li>
                    <a href="mailto:support@intelifi.com">
                        <span class="footer-icon email"></span>Email
                        Support
                    </a>
                </li>
                <li><a href=""><span class="footer-icon phone"></span>888-409-1819 </a></li>
                @{
                    if (controller == "Corporate")
                    {
                        if (ActionName.ToLower() == "newreport")
                        {
                            <li class="youtube-video" style="display: inline-block; font-size: 13px;  margin-left: -22%; padding-left: 14.5%; position: relative; white-space: pre;">Video Tutorial</li>
                            <li style="float: left; width: 5%; margin-left: 7px;">
                                <img id="imgVideoNewReport1" title="Welcome & Navigation Basics" onclick="openVideo(this);"
                                     alt="" src="../Content/themes/base/images/youtubeplay.png" style="height: 28px; margin-top: 3px; margin-left: 7px; float: right;" />
                            </li>
                            <li style="float: left; margin-left: 4px !important; width: 5% !important; height: 35px;">
                                <img id="imgVideoNewReport2" title="Logging in and Running a Report" onclick="openVideo(this);"
                                     alt="" src="../Content/themes/base/images/youtubeplay.png" style="height: 28px;
                        margin-left: 7px; margin-bottom: 5px;" />
                            </li>

                        }

                        if (ActionName.ToLower() == "savedreports")
                        {
                            <li class="youtube-video" style="display: inline-block; font-size: 13px;  margin-left: -18%; padding-left: 15%; position: relative; white-space: pre;">Video Tutorial</li>
                            <li style="float: left; width: 5%; margin-left: 25px;">
                                <img id="imgVideoNewReport3" title="Archives" onclick="openVideo(this);" alt="" src="../Content/themes/base/images/youtubeplay.png"
                                     style="height: 28px; margin-left: 7px; margin-bottom: 5px;" />
                            </li>
                        }
                        if (ActionName.ToLower() == "viewreports" || ActionName.ToLower() == "viewreportreview")
                        {
                            <li class="youtube-video" style="display: inline-block; font-size: 13px;  margin-left: -18%; padding-left: 15%; position: relative; white-space: pre;">Video Tutorial</li>
                            <li style="float: left; width: 5%; margin-left: 25px;">
                                <img id="imgVideoNewReport4" title="View Report" onclick="openVideo(this);" alt=""
                                     src="../Content/themes/base/images/youtubeplay.png" style="height: 28px; margin-left: 7px;
                        margin-bottom: 5px;" />
                            </li>
                        }
                        if (ActionName.ToLower() == "myaccount")
                        {
                            <li class="youtube-video" style="display: inline-block; font-size: 13px;  margin-left: -18%; padding-left: 15%; position: relative; white-space: pre;">Video Tutorial</li>
                            <li style="float: left; width: 5%; margin-left: 25px;">
                                <img id="imgVideoNewReport5" title="My Profile" onclick="openVideo(this);" alt=""
                                     src="../Content/themes/base/images/youtubeplay.png" style="height: 28px; margin-left: 7px;
                        margin-bottom: 5px;" />
                            </li>
                        }
                        if (ActionName.ToLower() == "myforms")
                        {
                            <li class="youtube-video" style="display: inline-block; font-size: 13px;  margin-left: -18%; padding-left: 15%; position: relative; white-space: pre;">Video Tutorial</li>
                            <li style="float: left; width: 5%; margin-left: 25px;">
                                <img id="imgVideoNewReport6" title="My Forms" onclick="openVideo(this);" alt="" src="../Content/themes/base/images/youtubeplay.png"
                                     style="height: 28px; margin-left: 7px; margin-bottom: 5px;" />
                            </li>
                        }
                    }
                }
            </ul>
        </div>
        <div class="chat">
            <p>
                <span onclick="Getzendesk();" class="footer-icon chat-icon"></span><span onclick="Getzendesk();">Chat Support</span><span class="chat_mini">-</span>
            </p>
            @*<div style="width: 50px;" align="center">
                    <span onclick="Getzendesk();">Chat </span>
                </div>*@ @*        <div id="DivEMLayout" style="display: none;">
                    @{Html.RenderPartial("../Common/PartialActivateRequest");}
                </div>*@
            </div>
            <input type="hidden" id="KeyValueLayout" />
            <input type="hidden" id="AutoCompletebackendvalue" />
            <div id="divVideo" style="display: none;margin-top: -24px;overflow: visible !important;">
                <table style="margin-top: -25px;">
                    <tr valign="top" style="line-height:29px;">
                        <td><span id="titleMsg" style="float:left;font-size: 17px;"></span></td>
                        <td><input id="closeMyiFrame" onclick="closeVideopopup();" type="button" style="float: right; position: relative; font-weight: bold; color: rgb(255, 255, 255); background: rgb(255, 0, 0) none repeat scroll 0% 0%; border-radius: 3px; border: medium none;margin-top: 5px;line-height: 20px !important;margin-right: 5px;padding-top: 0px;" value="X" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <iframe id="iframeVideo" width="740" height="420" style="margin-top:5px;" src=""></iframe>
                        </td>
                    </tr>
                </table>
            </div>
        </body>
    </html>
