﻿
@using Emerge.Common;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/newfavicon.gif")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content(CommonPaths.ContentPath + "CompressedCombined(Admin).css?v=2")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=5")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet"
    type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet"
    type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet"
    type="text/css" />
    @*<script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>*@


    <link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet"
    type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
    <style type="text/css">
        .k-window
        {
            padding-top: 0 !important;
        }
        .HeaderRow
        {
            background-color:#cccccc;
             background-image: url('../Content/textures/highlight.png');
            background-position: 0 center;
            background-position-y: center;
        }
        .TopHeaderRow
        {
            background-color: #cccccc;
            background-image: url('../Content/textures/highlight.png');
            background-position: 0 center;
            background-position-y: center;
        }
        
        .chat-dialog {
            pointer-events:all;
        }

        .dialog-container {
            pointer-events:none;
            visibility:visible !important;
        }
    </style>

<script type="text/javascript"  src="@Url.Content("res.axd?v=49.0")"></script>


        <script type="text/javascript">


            MangoChatConfig.Literals.Contacts = "Emerge Chat";
            MangoChatConfig.GroupsEnabled = false;
            MangoChatConfig.AvatarsEnabled = true;
            MangoChatConfig.ContactsWindowVisible = true;
            MangoChatConfig.HideOfflineUsers = true;
            MangoChatConfig.DefaultContactsDialogState = 2;
            MangoChatConfig.DefaultChatDialogState = 2;
            MangoChatConfig.MessageRememberCount = "-4"
            MangoChatConfig.TimestampFormat = "hh:mm:ss"
            MangoChatConfig.AvatarClicked = function (userId) {

            };
            //MangoChatConfig.GroupChatEnabled = false;
            //MangoChatConfig.RTLEnabled = true;

            jq(function () {
                mcClient = new MangoChatClient();
                mcClient.start();


            });

          
          
    </script>
    
      
</head>
<body>
    <div style="width: 100%;" id="dvMain" >
        <input type="hidden" id="IsHover" value="0" />
        <table cellpadding="0" cellspacing="0" class="table_Main" style="padding: 0px 2px 0px 2px;">
            <tr id="tr_header">
                <td align="center" colspan="2" >

                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="HeaderRow" style="height: 15px;">
                         
                            <td colspan="4" align="right">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>              
                                            <div class="menu_seperator_container">
                                                <div class="menu_bartop">
                                                    <ul>
                                                        <li class="alerts">
                                                            <span id="spnAlert" style="color: Red;" onclick="AlertShowHide();">
                                                                <img id="imgALetInfo" src="@Url.Content(CommonPaths.ImagesPath + "infomessagev2.png")" />
                                                                Alerts<div id="divupdown" style="float:right; cursor:pointer; margin-right:3px;"><img id="imgupdown" src="@Url.Content(CommonPaths.ImagesPath + "arrowdown.png")" /></div></span>
                                                                
                                                            <div id="divalerts" class="divalerts" style="height: 380px; width: 250px; overflow: scroll;
                                                                overflow-x: hidden; background-color: #ffffff">
                                                            </div>
                                                            @{Html.RenderPartial("PartialAlerts");}
                                                       </li>
                                                        @{string[] role = new string[0];}
                                                        @if (Session["UserRoles"] != null)
                                                        {
                                                            role = (string[])(Session["UserRoles"]);
                                                            if (role.Contains("SystemAdmin") || role.Contains("SupportManager") || role.Contains("SupportTechnician"))
                                                            {
                                                            <li>
                                                                <div id="divLog">
                                                                    @{Html.RenderAction("LoadCallLog", "Common");}
                                                                </div>
                                                            </li>
                                                            }
                                                        }
                                                        <li>
                                                            <div style="width: 50px; margin-top: 4px;" align="center">
                                                                <img id="img1" src="@Url.Content("~/Content/themes/base/Images/EMEditWhell.png")" style="border: none; cursor:pointer;"
                                                                    alt="" onclick="GetEmergeEditEmailTemplateLayout('Emerge Edit | General Suggestion');" /></div>
                                                            <div id="DivEMLayout" style="display: none;">
                                                                @{Html.RenderPartial("../Common/PartialActivateRequest");}
                                                            </div>
                                                        </li>
                                                        <li class="chat"><span>Chat</span> </li>
                                                       
                                                        <li class="support">
                                                            <span onclick="SupportShowHide();">Support<div style="float:right; cursor:pointer; margin-right:3px;"><img id="imgupdown1" src="@Url.Content(CommonPaths.ImagesPath + "arrowdown.png")" /></div></span>
                                                            <ul class="supportUL" id="tblsupportdata">
                                                                <table width="100%" style="border-right: 2px solid #c0c0c0;" cellpadding="0" cellspacing="0"
                                                                    id="tblSupport">
                                                                    @*<tr>
                                                                        <td width="28px" align="left" class="support_btmBorder">
                                                                            <span>CHAT</span>
                                                                        </td>
                                                                        <td class="support_btmBorder">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="28px" class="support_btmBorder" align="center" valign="middle">
                                                                            <img src="@Url.Content(CommonPaths.ImagesPath + "man.gif")" alt="" />
                                                                        </td>
                                                                        <td align="left" class="support_btmBorder">
                                                                        </td>
                                                                    </tr>*@
                                                                    <tr>
                                                                        <td  width="28px" align="left" class="support_btmBorder">
                                                                            <span>EMAIL</span>
                                                                        </td>
                                                                        <td class="support_btmBorder">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" class="support_btmBorder" colspan="2">
                                                                            <a style="text-align:center;" href="mailto:support@intelifi.com">SUPPORT@INTELIFI.COM</a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="left" class="support_btmBorder">
                                                                            <span>PHONE</span>
                                                                        </td>
                                                                        <td class="support_btmBorder">
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="height: 23px;">
                                                                        <td>
                                                                        </td>
                                                                        <td align="left" class="tdtxt">
                                                                            888.409.1819
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </ul>
                                                        </li>
                                                       
                                                        <li class="Logout" style="color:#7f8690"><a href="../Default/LogOut" style="text-decoration: none; color:#363636;">Logout</a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        @Html.TextBox("txtSearch", "", new { onkeypress = "MasterSearch_Click(event,this)", style = "width:170px; margin-left:7px;" })
                                                    </td>
                                                    <td align="left" style="width: 30px">
                                                        <a id="MasterSearch" onclick="return CheckSearchData();" style="cursor: pointer">
                                                            <img src="@Url.Content("~/Content/themes/base/images/SearchingImg.png")" alt="Search"  />
                                                        </a>
                                                        <img alt="loader" id="Masterloader" style="display:none;" src="@Url.Content("~/Content/themes/base/images/SearchingImgNew.gif")" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <script src="@Url.Content("~/Scripts/KendoJS/kendo.web.min.js")" type="text/javascript"></script>
                            
                           @Html.Partial("Userinfo")
                          
                        <td  width="35%" align="left"> @{Html.RenderAction("PartialSystemNotifiication", "Common");} </td>
                          
                          
                            <td align="right" width="45%" valign="bottom">
                            
                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="70%" colspan="2">
                                               
                                            </td>
                                            <td>
                                                <table cellspacing="0" cellpadding="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="right">
                                                                <div id="Switch">
                                                                    <table style="height: 70px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="bottom">
                                                                                    <a href="../Corporate/NewReport">
                                                                                        <div class="emergePoweredImg">
                                                                                        </div>
                                                                                    </a>
                                                                                </td>
                                                                                <td valign="middle">
                                                                                    @{string[] UserRole =new string[0];}
                                                                                    @if (Session["UserRoles"] != null)
                                                                                    {
                                                                                        UserRole = (string[])(Session["UserRoles"]);
                                                                                        if (UserRole.Contains("SystemAdmin") || UserRole.Contains("SupportManager") || UserRole.Contains("SupportTechnician"))
                                                                                        {
                                                                                            {
                                                                                                <div style="float: right; display: block;" id="EmergeLogo">
                                                                                                    <a href="../Office/Leads"><img src="@Url.Content(CommonPaths.ImagesPath + "Switch1.png")" id="IgBtnToOffice" name="IgBtnToOffice" /></a>
                                                                                                </div>
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div style="display: none;" id="aOther">
                                                                </div>
                                                                <div style="float: left; width: 315px">
                                                                    <div style="float: left; width: 280px">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="tr_Menu">
                <td colspan="2" class="menu_seperator" valign="bottom">
                    <table width="100%" cellpadding="0" cellspacing="0" style="padding: 0px 0px 0px 0px;
                        height: 35px;">
                        <tr>
                            <td class="Center_ImgMVC" valign="bottom">
                                <div style="width: 280px; padding-left: 5px; float: left; vertical-align: bottom;">
                                    <ul id="tabsDemo1">
                                        <li id="liNewReport">
                                            <a href="../Corporate/NewReport" id="atabspanNwRpt" style="width:85px">
                                                New Reports<span id="spanNwRpt"></span>
                                            </a>
                                        </li>
                                       
                                        <li id="liNewBatch">
                                            <a href="../Corporate/NewBatch" onclick="new_batch();" style="margin-left:3px; width:115px">
                                                New Batch<span id="spanNwBatch"></span>
                                                <img src="@Url.Content("~/Content/themes/base/images/new_small.png")" alt="New Batch" Style="margin-top: -2px; margin-left: 3px;
                                                    vertical-align: top; height:20px;" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div style="float: right;">
                                    <ul id="tabsDemo">
                                       @{string[] UserRoles =new string[0];}
                                        @if (Session["UserRoles"] != null)
                                        {
                                            UserRoles = (string[])(Session["UserRoles"]);
                                            if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                                            {
                                            <li id="liArchives"><a href="../Control/SavedReports">Archives<span id="spanArc"></span></a>
                                            </li>
                                            }
                                            else
                                            {
                                                if (UserRoles.Contains("DataEntry"))
                                                {
                                            <li id="liArchives"><a href="javascript:void(0);">Archives<span id="spanArc"></span></a>
                                            </li>
                                                }
                                                else
                                                {
                                            <li id="liArchives"><a href="../Corporate/SavedReports">Archives<span id="spanArc"></span></a>
                                            </li>
                                                }
                                            }
                                        }
                                        else
                                        {

                                            MembershipUser objMembership = Membership.GetUser();
                                            if (objMembership != null)
                                            {
                                                UserRoles = Roles.GetRolesForUser(User.Identity.Name);
                                                Session["UserRoles"] = UserRoles;
                                            }
                                            <li id="liArchives"><a href="../Corporate/SavedReports">Archives<span id="spanArc"></span></a>
                                            </li>
                                        }
                                        <li id="liAccount"><a href="../Corporate/MyAccount">My Account<span id="spanAccount"></span></a>
                                        </li>
                                         @if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                                        {
                                            <li id="liAdmin" runat="server"><a href="../Control/AdminSearch">Admin<span id="spanAdmin"></span></a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#fafafa">
                <td colspan="2">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="MainBorder">
                        <tr>
                            @{
                            string path = System.Web.HttpContext.Current.Request.Url.AbsolutePath;
                            string PageName = path.Substring(path.LastIndexOf("/") + 1).Trim();
                         
                                if (!(PageName.ToLower() == "addcompanies"))
                           {
                            <td id="tdAdmin" valign="top" align="left" visible="true" width="10%">
                                
                                @{Html.RenderAction("GetLeftMenu", "Home");}
                           
                            </td>
                            }
                               }
                            <td id="content">
                                @RenderBody()
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    



 













</body>
</html>
<script type="text/javascript">

    var isShowAlert = true;
    var isShowSupport = true;

    function Mainsetting() {
        document.getElementById("content-box").style.backgroundColor = '#fafafa';
        document.getElementsByClassName("m")[0].style.backgroundColor = '#fafafa';
        document.getElementsByClassName("t")[0].style.backgroundColor = '#fafafa';
        document.getElementsByClassName("b")[0].style.backgroundColor = '#fafafa';
    }
  //  Mainsetting();

    $("#txtSearch").autocomplete({
        source: function (request, response) {
            $.getJSON('@Url.Action("AutoCompleteResult", "CommonSavedReport")', { searchText: request.term }, function (data) {
                response(data);
            });
        },
        minLength: 2
    });





    if (jQuery.browser.msie) {

        $("td[class=img_user]").attr('style', 'width: 9%');
    }



    function new_batch() {
        var liNewBatch = document.getElementById('liNewBatch');
        $(liNewBatch).addClass('current');

    }



    //    $("div[class=divalerts]").mouseout(function () {

    //        var divalerts = document.getElementById('divalerts');

    //        divalerts.style.display = 'none';
    //        temvar = "";
    //    })

    function SupportShowHide() {
        if (isShowSupport) {
            ShowSupport();
        }
        else {
            HideSupport();
        }
    }


    function HideSupport() {
        $("#imgupdown1").attr("src", "../Content/themes/base/images/arrowdown.png");
        var tblsupport = document.getElementById("tblsupportdata");
        tblsupport.style.display = 'none';
        isShowSupport = true;
    }
    function ShowSupport() {
        $("#imgupdown1").attr("src", "../Content/themes/base/images/arrowup.png");
        var tblsupport = document.getElementById("tblsupportdata");
        tblsupport.style.display = 'block';
        isShowSupport = false;
    }

    function AlertShowHide() {
        if (isShowAlert) {
            ShowAlerts();
        }
        else {
            HideAlerts();
        }
    }

    function ShowAlerts() {
        $("#imgupdown").attr("src", "../Content/themes/base/images/arrowup.png");
        var divalerts = document.getElementById('divalerts');
        if (divalerts != null) {
            var IsHover = document.getElementById('IsHover');
            if (IsHover.value == 0) {
                $("#divalerts").html('<img alt="loader" src="../Content/themes/base/images/ajax-loader3.gif" />');
                // $("#divalerts").load('@Url.Action("LoadAllAlerts", "Home")');
                $.ajax("../Home/LoadAllAlerts", {
                    cache: false,
                    success: function (data) {
                        $("#divalerts").html(data);
//                        if (GlobalVariable) {
//                            $.ajax({
//                                type: "post",
//                                dataType: "json",
//                                url: "../Corporate/DuePaymentDetails",
//                                data: { companyId: GlobalCompanyId },
//                                success: function (Data) {
//                                    var trAlert = $('#divresAlert');
//                                    trAlert.prepend('<tr class="GridRowtop"><td><table style="border-bottom:1px solid #e5e5e5; width: 100%" class="divalerts_Text"><tbody><tr style="height: 35px;"><td align="center" valign="middle" width="25%" class="prCode"><img alt="" src="/Content/themes/base/Images/invoice_alert.png"></td><td align="left" valign="middle" width="75%" class="prName">Due Payment (' + Data.Result[0] + ')<br>Your Pending Payment is <br> $' + Data.Result[1] + '.  </td></tr></tbody></table></td></tr>');
//                                }
//                            })

//                        }                        
                    }

                });
                IsHover.value = 1;
                divalerts.style.display = 'block';
            }
            else {
                divalerts.style.display = 'block';
            }
        }
        isShowAlert = false;
    }

    function HideAlerts() {
        $("#imgupdown").attr("src", "../Content/themes/base/images/arrowdown.png");
        var divalerts = document.getElementById('divalerts');
        if (divalerts != null) {
            divalerts.style.display = 'none';
        }
        isShowAlert = true;
    }
    function CheckSearchData() {
        var txtid = document.getElementById('txtSearch');
        if (txtid.value == '') {
            alert('Enter here some text for search order(s)');
            txtid.focus();
            return false;
        }
        else {
            document.getElementById('Masterloader').style.display = 'block';
            document.getElementById('MasterSearch').style.display = 'none';
            window.location.href = 'SavedReports?qryst=' + txtid.value;
        }
    }

    //   document.getElementById("atabspanNwRpt").style.width = "85px";
    function Calllog() {
        //alert(value);
        $("#divLog").load("../Common/LoadCallLog", { PageType: "", pkCompanyId: "" }, function () {
            OpenWindow_CallLog();
        });

    }

    function MasterSearch_Click(e, txtSearch) {
        var evt = e ? e : window.event;
        if (evt.keyCode == 13) {
            CheckSearchData();
            return false;
        }
    }


    MasterTab_Selection();

    function MasterTab_Selection() {
        var liNewReport = document.getElementById('liNewReport');


        var liArchives = document.getElementById('liArchives');
        var liAdmin = document.getElementById('liAdmin');
        var liAccount = document.getElementById('liAccount');

        var loc = window.location.href.toLowerCase();

        if (loc.indexOf("newreport") != -1) {
            $(liNewReport).addClass('current');

        }



        else if (loc.indexOf("savedreports") != -1 || loc.indexOf("viewreports") != -1 || loc.indexOf("viewreportreview") != -1 || loc.indexOf("viewdrugtestingreports") != -1) {
            $(liArchives).addClass('current');
        }
        else if (loc.indexOf("addcompanies") != -1 || loc.indexOf("addcompanylocation") != -1 || loc.indexOf("addcompanyuser") != -1
                || loc.indexOf("control/billing") != -1 || loc.indexOf("adminsearch") != -1 || loc.indexOf("getalllocations") != -1 || loc.indexOf("getallemergeusers") != -1
                || loc.indexOf("getemergeusers") != -1 || loc.indexOf("getallcompanies") != -1 || loc.indexOf("managereports") != -1 || loc.indexOf("emailtemplate") != -1
               || loc.indexOf("systemtemplates") != -1 || loc.indexOf("newsletteremail") != -1 || loc.indexOf("managevendors") != -1 || loc.indexOf("marketingtools") != -1 || loc.indexOf("newsletters") != -1
               || loc.indexOf("packageslist") != -1 || loc.indexOf("manageproducts") != -1 || loc.indexOf("penalcodes") != -1 || loc.indexOf("addcompanies") != -1) {
            $(liAdmin).addClass('current');
        }
        if (loc.indexOf("myaccount") != -1 || loc.indexOf("getusers") != -1 || loc.indexOf("accounthistory") != -1 || loc.indexOf("myreports") != -1 || loc.indexOf("mypreferences") != -1 || loc.indexOf("myforms") != -1 || loc.indexOf("corporate/billingstatements") != -1) {
            $(liAccount).addClass('current');
        }

    } 

</script>
