﻿@using Emerge.Common;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content(CommonPaths.ContentPath + "CompressedCombined(Admin).css")" rel="stylesheet" type="text/css" />
    @*<script src="../../Scripts/KendoJS/kendo.popup.min.js" type="text/javascript"></script>*@
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <link href="@Url.Content(CommonPaths.ContentPath + "Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeOffice.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/CompressedCombined(Admin).css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Office.css")" type="text/css" rel="Stylesheet" />
    <link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet"
    type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet"
    type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet"
    type="text/css" />
    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-online-1.6.2.js")" type="text/javascript"></script>
    <style type="text/css">
        .HeaderRow
        {
            background-color: #cccccc;
            background-image: url('../Content/textures/highlight.png');
            background-position: 0 center;
            background-position-y: center;
        }
        .TopHeaderRow
        {
            background-color: #cccccc;
            background-image: url('../Content/textures/highlight.png');
            background-position: 0 center;
            background-position-y: center;
        }
    </style>
    @* <script type="text/javascript"  src="@Url.Content("res.axd?v=49.0")"></script>
    

      <script type="text/javascript">

          MangoChatConfig.Literals.Contacts = "Emerge Chat";
          MangoChatConfig.GroupsEnabled = false;
          MangoChatConfig.AvatarsEnabled = true;
          MangoChatConfig.ContactsWindowVisible = true;
          MangoChatConfig.HideOfflineUsers = true;
          MangoChatConfig.DefaultContactsDialogState = 2;
          MangoChatConfig.DefaultChatDialogState = 2;
          MangoChatConfig.MessageRememberCount = "-4"


          MangoChatConfig.AvatarClicked = function (userId) {

          };
          //MangoChatConfig.GroupChatEnabled = false;
          //MangoChatConfig.RTLEnabled = true;

          jq(function () {
              mcClient = new MangoChatClient();
              mcClient.start();


          });

          
          
    </script>*@ @* @Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group
            .Add("~/Content/2011.2.712/telerik.common.css")
                    .Add("~/Content/2011.2.712/telerik.windows7.min.css")

    .Compress(true))
    @Html.Telerik().ScriptRegistrar().DefaultGroup(group => group
               .Add("~/Scripts/2011.2.712/telerik.common.min.js")

               .Add("~/Scripts/2011.2.712/telerik.editor.min.js")


       .Compress(true))*@
</head>
<body>
    <div style="width: 100%;">
        <table cellpadding="0" cellspacing="0" class="table_Main" style="padding: 0px 2px 0px 2px;">
            <tr id="tr_header">
                <td align="center" colspan="2">
                    <table border="0" width="100%" cellpadding="0" cellspacing="0">
                        <tr class="HeaderRow" style="height: 15px;">@* bgcolor="#cccccc"*@@* class="TopHeaderRow" *@
                            <td colspan="3" align="right">
                                <table cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <div class="menu_seperator_container">
                                                <div class="menu_bartop">
                                                    <ul>
                                                        <li id="lnkComplianceDesk" style="color: #7f8690;"><span id="spanComplianceDesk"
                                                            style="text-decoration: none; color: #363636; padding: 6px;" onclick="GetComplianceDesk();">
                                                            Compliance Desk</span></li>
                                                        <li id="lnkhelpforum" style="color: #7f8690;"><span><a target="_blank" href="http://support.usaintel.com/forums"
                                                            style="text-decoration: none; color: #363636; padding: 5px;">Help Forum</a> </span>
                                                        </li>
                                                        <li class="alerts"><span id="spnAlert" style="color: Red;" onclick="AlertShowHide();">
                                                            <img id="imgALetInfo" src="@Url.Content(CommonPaths.ImagesPath + "infomessagev2.png")" />
                                                            Alerts<div id="divupdown" style="float: right; cursor: pointer; margin-right: 3px;">
                                                                <img id="imgupdown" src="@Url.Content(CommonPaths.ImagesPath + "arrowdown.png")" /></div>
                                                        </span>
                                                            <div id="divalerts" class="divalerts" style="height: 380px; width: 250px; overflow: scroll;
                                                                overflow-x: hidden; background-color: #f1eeef">
                                                                @{Html.RenderAction("LoadAllAlertsOffice", "Home");}
                                                            </div>
                                                            <div>
                                                                @{Html.RenderPartial("PartialAlerts");}
                                                            </div>
                                                        </li>
                                                        @{string[] role = new string[0];}
                                                        @if (Session["UserRoles"] != null)
                                                        {
                                                            <li>
                                                                <div id="divLog">
                                                                    @{Html.RenderAction("LoadCallLog", "Common");}
                                                                </div>
                                                            </li>
                                                        }
                                                        <li onmouseover="HideSuport()">
                                                            <div style="width: 50px;" align="center">
                                                                <span onclick="script: Zenbox.show();">Chat </span>
                                                            </div>
                                                            <div id="DivEMLayout" style="display: none;">
                                                                @{Html.RenderPartial("../Common/PartialActivateRequest");}
                                                            </div>
                                                        </li>
                                                        <li class="chat"><span>Chat</span> </li>
                                                        <li class="support"><span onclick="ShowSupports();">Support<div style="float: right;
                                                            cursor: pointer; margin-right: 3px;">
                                                            <img id="imgupdown1" src="@Url.Content(CommonPaths.ImagesPath + "arrowdown.png")" /></div>
                                                        </span>
                                                            <ul class="supportUL" id="tblsupportdata">
                                                                <table width="100%" style="border-right: 2px solid #c0c0c0;" cellpadding="0" cellspacing="0"
                                                                    id="tblSupport">
                                                                    @*<tr>
                                                                        <td width="28px" align="left" class="support_btmBorder">
                                                                            <span>CHAT</span>
                                                                        </td>
                                                                        <td class="support_btmBorder">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="28px" class="support_btmBorder" align="center" valign="middle">
                                                                            <img src="@Url.Content(CommonPaths.ImagesPath + "man.gif")" alt="" />
                                                                        </td>
                                                                        <td align="left" class="support_btmBorder">
                                                                        </td>
                                                                    </tr>*@
                                                                    <tr>
                                                                        <td width="28px" align="left" class="support_btmBorder">
                                                                            <span>EMAIL</span>
                                                                        </td>
                                                                        <td class="support_btmBorder">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        @*<td align="left" class="support_btmBorder">
                                                                        </td>*@
                                                                        <td align="center" class="support_btmBorder" colspan="2">
                                                                            <a style="text-align: center;" href="mailto:support@intelifi.com">SUPPORT@INTELIFI.COM</a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="left" class="support_btmBorder">
                                                                            <span>PHONE</span>
                                                                        </td>
                                                                        <td class="support_btmBorder">
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="height: 23px;">
                                                                        <td>
                                                                        </td>
                                                                        <td align="left" class="tdtxt">
                                                                            888.409.1819
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="left" class="support_btmBorder">
                                                                            <span>Chat</span>
                                                                        </td>
                                                                        <td class="support_btmBorder">
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="height: 23px;">
                                                                        <td>
                                                                        </td>
                                                                        <td align="left" class="tdtxt">
                                                                            <img id="img1" src="@Url.Content("~/Content/themes/base/Images/ZendeskChatNowIcon.png")"  style="border: none; cursor:pointer;"
                                                                    alt="Chat Now" onClick="script: Zenbox.show(); return false;" />
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </ul>
                                                        </li>
                                                        <li onmouseover="HideSuport()" class="Logout"><a href="../Office/LogOut" style="text-decoration: none;
                                                            color: #363636;">Logout</a> </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td align="right">
                                                        @Html.TextBox("keyTxtSearch", "", new { onkeypress = "MasterSearch_Click(event,this)", style = "width:170px; margin-left:7px;" })
                                                        @*<input type="text" id="keyTxtSearch" onkeypress = "MasterSearch_Click(event,this)" style="width: 170px; height: 16px"  />
                                                       <asp:TextBox ID="TxtSearch" runat="server" Width="170px" Height="16px" />*@
                                                    </td>
                                                    <td align="left">
                                                        @* <input type="button" id="btnSearch" style="background-image: url('../../Content/themes/base/images/SearchingImg.png');
                                                            color: transparent; border-width: 0px; background-color: transparent;" onclick="CheckSearchData();" />*@
                                                        <a href="#" onclick="CheckSearchData();">
                                                            <img src="@Url.Content(CommonPaths.ImagesPath + "SearchingImg.png")" alt="" />
                                                        </a>@* <asp:ImageButton ID="BtnSearch" runat="server" ImageUrl="~/Resources/I"
                                                                AlternateText="Search" ToolTip="Search" OnClick="BtnSearch_Click" OnClientClick="" />*@
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <script src="@Url.Content(CommonPaths.ScriptPath + "KendoJS/kendo.web.min.js")" type="text/javascript"></script>
                            @Html.Partial("SalesAdminUserinfo")
                            <td align="right" width="48%" valign="bottom">
                                <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="70%" colspan="2">
                                            </td>
                                            <td>
                                                <table cellspacing="0" cellpadding="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td align="right">
                                                                <div id="Switch">
                                                                    <table style="height: 70px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="bottom">
                                                                                    <a href="javascript:void(0);">
                                                                                        <div class="emergePoweredImg">
                                                                                        </div>
                                                                                    </a>
                                                                                </td>
                                                                                <td valign="middle">
                                                                                    @{string[] UserRole = new string[0];}
                                                                                    @if (Session["UserRoles"] != null)
                                                                                    {
                                                                                        UserRole = (string[])(Session["UserRoles"]);
                                                                                        if (UserRole.Contains("SystemAdmin") || UserRole.Contains("SupportManager") || UserRole.Contains("SupportTechnician"))
                                                                                        {
                                                                                            {
                                                                                        <div style="float: right; display: block;" id="EmergeLogo">
                                                                                            <a href="../Corporate/NewReport">
                                                                                                <img src="@Url.Content(CommonPaths.ImagesPath + "Switch2.png")" id="IgBtnToOffice" name="IgBtnToOffice" /></a>
                                                                                        </div>
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div style="display: none;" id="aOther">
                                                                </div>
                                                                <div style="float: left; width: 315px">
                                                                    <div style="float: left; width: 280px">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="tr_Menu">
                <td colspan="2" class="menu_seperator" valign="bottom">
                    <table width="100%" cellpadding="0" cellspacing="0" style="padding: 0px 0px 0px 0px;
                        height: 35px;">
                        <tr>
                            <td align="right" style="width: 9px; height: 36px;">
                                <div class="left_BorderImg_Office">
                                </div>
                            </td>
                            <td class="Center_Img_Office" valign="bottom">
                                @{string[] UserRoles = new string[0];}
                                @if (Session["UserRoles"] != null)
                                {
                                    UserRoles = (string[])(Session["UserRoles"]);
                                }
                                <div style="width: 280px; float: left; margin-top: 2px; vertical-align: bottom;">
                                    <ul id="tabsDemo1">
                                        <li id="liLeads" runat="server"><a href="../Office/Leads" style="width: 50px">Leads<span
                                            id="spanLeads"></span></a> </li>
                                        <li id="liClients" runat="server"><a href="../Office/Clients" style="margin-left: 4px;
                                            width: 50px">Clients<span id="spnClients"></span></a> </li>
                                    </ul>
                                </div>
                                <div style="float: right; margin-top: 2px; vertical-align: bottom;">
                                    <ul id="tabsDemo">
                                        <li id="liAccount" runat="server"><a href="../office/MyAccount">My Account<span id="spanAccount"></span></a>
                                        </li>
                                        @if (UserRoles.Contains("SalesAdmin") || UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                                        {
                                            <li id="liAdmin" runat="server"><a href="../office/AdminSearch">Admin<span id="spanAdmin"></span></a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </td>
                            <td align="left" style="width: 9px; height: 36px;">
                                <div class="right_BorderImg_Office">
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr bgcolor="#fafafa">
                <td colspan="2">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="MainBorder">
                        <tr>
                            @{
                                string path = System.Web.HttpContext.Current.Request.Url.AbsolutePath;
                                string PageName = path.Substring(path.LastIndexOf("/") + 1);
                                if (!(PageName.ToLower() == "clients" || PageName.ToLower() == "leads" || PageName.ToLower() == "junos" || PageName.ToLower() == "editclient" || PageName.ToLower() == "addeditleads"))
                                {
                                <td id="tdAdmin" valign="top" align="left" visible="true" width="10%">
                                    @{Html.RenderAction("GetLeftMenu", "Home");}
                                </td>
                                }
                                
                                    
                           
                                
                            }
                            <td id="content">
                                @RenderBody()
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>@* @(Html.Telerik().ScriptRegistrar().DefaultGroup(group => group.Combined(true).Compress(true)))*@
</body>
</html>
<script type="text/javascript">
    var isShowSupport = true;
    var isShowAlert = true;

    function GetComplianceDesk() {
        var w = 750;
        var h = 550;
        var left = (screen.width / 2) - (w / 2);
        var top = (screen.height / 2) - (h / 2);
        window.open('https://www.hrscreeninghelpdesk.com/embed/reports.aspx?Id=6666', 'ComplianceDesk', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width=' + w + ', height=' + h + ', top=' + top + ', left=' + left);

        //window.open('', 'ComplianceDesk', 'height=600,width=900,toolbar=no,scrollbars=yes,location=no,resizable=yes');
    }


//    $("#keyTxtSearch").autocomplete({
//        source: function (request, response) {
//            $.getJSON('@Url.Action("GetTop10RecordforAutoComplete", "Office")', { searchText: request.term }, function (data) {
//                response(data);
//            });
//        },
//        minLength: 2
//    });
    function HideSuport() {
        var divalerts = document.getElementById("tblsupportdata");
        divalerts.style.display = 'none';
    }
    //    function ShowSupport() {

    //        var divalerts = document.getElementById("tblsupportdata");
    //        divalerts.style.display = 'block';


    //    }

    function ShowSupports() {
        if (isShowSupport) {
            ShowSupport();

        }
        else {
            HideSupport();

        }
    }


    function HideSupport() {
        $("#imgupdown1").attr("src", "../Content/themes/base/images/arrowdown.png");
        var tblsupport = document.getElementById("tblsupportdata");
        tblsupport.style.display = 'none';
        isShowSupport = true;
    }
    function ShowSupport() {
        $("#imgupdown1").attr("src", "../Content/themes/base/images/arrowup.png");
        var tblsupport = document.getElementById("tblsupportdata");
        tblsupport.style.display = 'block';
        isShowSupport = false;
    }



    function AlertShowHide() {
        if (isShowAlert) {
            OfficeShowAlerts();
        }
        else {
            OfficeHideAlerts();
        }
    }

    function OfficeShowAlerts() {

        $("#imgupdown").attr("src", "../Content/themes/base/images/arrowup.png");
        var divalerts = document.getElementById('divalerts');
        if (divalerts != null) {
            divalerts.style.display = 'block';
        }

        isShowAlert = false;
    }

    function OfficeHideAlerts() {
        $("#imgupdown").attr("src", "../Content/themes/base/images/arrowdown.png");
        var divalerts = document.getElementById('divalerts');
        if (divalerts != null) {
            divalerts.style.display = 'none';
        }

        isShowAlert = true;
    }












    function ShowAlerts() {
        var divalerts = document.getElementById('divalerts');
        if (divalerts != null) {
            divalerts.style.display = 'block';
        }
    }



    function HideAlerts() {
        var divalerts = document.getElementById('divalerts');
        if (divalerts != null) {
            divalerts.style.display = 'none';
        }
    }
    function CheckSearchData() {
        var txtid = document.getElementById('keyTxtSearch').value;

        if (txtid == "") {
            alert('Enter here some text for search ');
            txtid.focus();
            return false;
        }
        else {
            $.post('@Url.Action("SearchByCompanyName", "Office")', { CompanyName: txtid }, function (data) {

                if (data.Total > 0) {

                    if (data.RedirectTopage == "LeadPage") {

                        window.location.href = '../Office/Leads?SearchQry=' + txtid;
                    }
                    else {
                        window.location.href = '../Office/Clients?SearchQry=' + txtid;
                    }

                }
                else {
                    alert("Records not Found");
                }

            });
            return true;
        }

    }

    function MasterSearch_Click(e, keyTxtSearch) {
        var evt = e ? e : window.event;
        if (evt.keyCode == 13) {
            CheckSearchData();
            return false;
        }
    }

    Lead_Client();

    function Lead_Client() {
        var liLeads = document.getElementById("liLeads");
        var liClients = document.getElementById("liClients");
        var loc = window.location.href.toLowerCase();

        if (loc.indexOf("clients") != -1 && loc.indexOf("adminclients") == -1 && loc.indexOf("myclients") == -1) {
            $(liClients).addClass('current');
        }
        else if (loc.indexOf('leads') != -1 && loc.indexOf("adminleads") == -1 && loc.indexOf("myleads") == -1) {
            $(liLeads).addClass('current');

        }
        else if (loc.indexOf('addeditleads') != -1) {
            $(liLeads).addClass('current');

        }
    }



    MasterTab_Selection();

    function MasterTab_Selection() {

        var liAdmin = document.getElementById('liAdmin');
        var liAccount = document.getElementById('liAccount');

        // $(liAdmin).addClass('current');

        var loc = window.location.href.toLowerCase();
        if (loc.indexOf("adminclients") != -1 || loc.indexOf("adminleads") != -1 || loc.indexOf("adminsalesreport") != -1 || loc.indexOf("adminalerts") != -1) {
            $(liAdmin).addClass('current');
        }
        else if (loc.indexOf("myaccount") != -1 || loc.indexOf("alerts") != -1 || loc.indexOf("myleads") != -1 || loc.indexOf("myclients") != -1 || loc.indexOf("salesreport") != -1 || loc.indexOf("myaccount") != -1 || loc.indexOf("adminalerts") != -1) {
            $(liAccount).addClass('current');
        }
        else if (loc.indexOf("addeditleads") == -1 && loc.indexOf("leads") == -1 && loc.indexOf("clients") == -1) {
            $(liAdmin).addClass('current');
        }
    }
    var color = {};
    function hoverrow(tr_id) { color = $(tr_id).css("background-color"); $(tr_id).contents('td').css({ 'background-color': '#aaaaaa' }); }
    function hoverrowout(tr_id) { $(tr_id).contents('td').css({ 'background-color': color }); }
    function Desc_Row(tr_id) {
        var str = tr_id.innerHTML;
        if (str.indexOf("edit.png") == -1 && str.indexOf("checkbox") == -1 && str.trim().indexOf("k-plus") == -1 && str.trim().indexOf("k-minus") == -1 && str.trim().indexOf("chart_line.png") == -1) { $(tr_id).parent('tr').find("input[title=Edit]").click(); }
    }
    function GridEffect(grid, dataItem) {
        var GridId = "#" + grid;
        var tr = $(GridId).find("[data-uid='" + dataItem.uid + "']");
        tr.attr("onmouseover", "hoverrow(this);");
        tr.attr("onmouseout", "hoverrowout(this);");
        tr.attr("style", "cursor:pointer;");
        tr.find("td").each(function () { $(this).attr("onclick", "Desc_Row(this);"); });
    }


</script>
<link href="//assets.zendesk.com/external/zenbox/v2.6/zenbox.css" rel="stylesheet"
    type="text/css" />
<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<script type="text/javascript">
    if (typeof (Zenbox) !== "undefined") {
        Zenbox.init({
            dropboxID: "20082140",
            url: "https://intelifisupport.zendesk.com",
            tabID: "chat",
            tabColor: "black"
            //,
            //tabImageURL: "https://assets.zendesk.com/external/zenbox/images/"
            //  tabPosition: "Left"
        });
    }
</script>
<script>
    document.getElementById("zenbox_tab").style.display = 'none';
</script>
