﻿@{
    ViewBag.Title = "View Report";
}
@model Emerge.Models.ViewReportModel
@using System.Xml
@using Lib.Web.Mvc.Html
<link href="@Url.Content("~/Content/CSS/Report.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/CSS/Report_Style.css")" rel="stylesheet" type="text/css" />
@{
    var message = "<p>Between our software, and our vendor&#39s record feeds, there is a programming space where information is sent and received. Here, we have installed a proprietary filtration algorithm of our own called Match Meter.</p> Match Meter scrubs every single record that enters Emerge from our vendors. All criteria within each record is scrubbed and cross-referenced, and assigned a color based on the records relevancy. As a result of Match Meters&#39s response to each record, actions are taken to properly display these records to the user in such a way that is clear and inclusive of all pertinent records. To find out more about Match Meter, please contact our support team.";

}
@{
    string ExistCounty = string.Empty;
    string Last_Name = string.Empty;
    int Order_Id = 0;
    try
    {
        if (string.IsNullOrEmpty(Model.ApplicantName) == false) { var Applicantname = Convert.ToString(Model.ApplicantName).Split(new[] { "," }, StringSplitOptions.None); Last_Name = Applicantname[0]; }
        if (Model.OrderId != 0) { Order_Id = Model.OrderId; }
        ExistCounty = ViewBag.CountyExist;
    }
    catch
    {


    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- CSS files -->

    <link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet"
          type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/gen_validatorv4.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/Design2/Css/main-bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/Selectyze.jquery.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Design2/Js/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Design2/Js/bootstrap-dropdown.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/newfavicon.gif")" rel="shortcut icon" type="image/x-icon" />

    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=2.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=06052015")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Pages/NewReport.js?v=06052015")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=5")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ZeroClipboard.js")" type="text/javascript"></script>


    <style type="text/css">
        #popupEmail div.k-window-content {
            padding: 0px;
        }
    </style>

</head>

<body>

    <div class="main-menu-bar">
        <div class="left-ch-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle report-head" data-toggle="dropdown">Archives <span></span></a>
                    <ul class="dropdown-menu">

                        @{string[] rolechk = new string[0];}
                        @if (Session["UserRoles"] != null)
                        {
                            rolechk = (string[])(Session["UserRoles"]);
                            if (!rolechk.Contains("ViewOnlyUser"))
                            {
                                if (!rolechk.Contains("BillingUser"))
                                {

                                    <li><a href="../Corporate/NewReport">New Report </a></li>
                                    <li><a href="../Corporate/NewBatch">New Batch </a></li>
                                }
                            }
                        }



                        @{string[] UserRoles = new string[0];}
                        @if (Session["UserRoles"] != null)
                        {
                            UserRoles = (string[])(Session["UserRoles"]);
                            if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                            {

                                <li id="liArchives"><a href="../Control/SavedReports">Archives </a></li>
                                <li><a href="../Control/EmergeReviews">Emerge Reviews  </a></li>
                                <li><a href="../Office/Leads">Office </a></li>
                            }
                            else
                            {

                                if (UserRoles.Contains("DataEntry"))
                                {
                                    <li id="liArchives"><a href="javascript:void(0);">Archives </a></li>

                                }
                                else
                                {


                                    <li id="liArchives"><a href="../Corporate/SavedReports">Archives </a></li>

                                }
                            }
                        }
                        else
                        {

                            MembershipUser objMembership = Membership.GetUser();
                            if (objMembership != null)
                            {
                                UserRoles = Roles.GetRolesForUser(User.Identity.Name);
                                Session["UserRoles"] = UserRoles;
                            }
                            <li id="liArchives"><a href="../Corporate/SavedReports">Archives </a></li>
                        }

                        @if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                        {
                            <li id="liAdmin" runat="server">
                                <a href="../Control/AdminSearch">
                                    Admin
                                </a>
                            </li>
                        }
                        <li><a href="../Corporate/MyAccount">My Account </a></li>


                    </ul>
                </li>
            </ul>
        </div>
        <div class="horiz-ch-menu hori-btns">

            <table border="0" width="100%">
                <tr>
                    <td width="120px" align="right" class="cls_report">
                        @*Report Order*@
                    </td>
                    <td></td>
                    <td width="90px" align="right"></td>
                    <td width="100px">
                        @Html.Partial("../Common/PartialEmailSavePrintPopup")
                        @Html.Partial("../Common/PartialAdverseLetterPopup")
                        <input type="hidden" id="cndpreadv" />
                    </td>

                    <td width="90px" align="right"></td>
                    <td width="100px">
                        @Html.Partial("../Common/PartialEmailSavePrintPopup")

                        <input type="hidden" id="cndpreadv" />
                    </td>
                    <td id="rowPrintReport" class="row-print" runat="server" align="right">
                        <table>
                            <tr>
                                <td>
                                    <a href="SavedReports?_bck=1">
                                        <button id="imgBtnBack" type="button" class="btn btn-default">Back</button>
                                        @*<img id="imgBtnBack" src="@Url.Content(Emerge.Common.ApplicationPath.GetApplicationPath() + "Content/themes/base/images/back.png")" alt="" style="cursor: pointer;" />*@
                                    </a>
                                    <input type="hidden" id="hdRR" value="@ViewBag.RR" />
                                    <input type="hidden" id="hdbck" value="@ViewBag.bck" />
                                    <input type="hidden" id="hdnNullDOBAdd4NCR1" value="" />
                                </td>

                                <td>
                                    <button id="imgbtnPrint" onclick="return SelectReport('SavedReportPrint');" type="button" class="btn btn-default">
                                        Summary Page
                                    </button>

                                </td>


                                <td>
                                    <button id="imgbtnPrint" onclick="printCurrentPage();" type="button" class="btn btn-default">Print/Save</button>
                                </td>
                                @*<td>
                                    <button id="imgbtnSave" onclick="ShowPopup(3);" type="button" class="btn btn-primary">Save</button>
                                  
                                </td>*@


                            </tr>
                        </table>
                    </td>
                </tr>
            </table>








        </div>

    </div>
    <div class="other-menu-hori row-print">

        <div style="padding: 0 12px;">
            <table border="0" width="100%">
                <tr>
                    @*<td width="120px" align="right" class="cls_report">
                            Report Order
                        </td>*@
                    @*<td></td>
                        <td width="90px" align="right"></td>
                        <td width="100px">
                            @Html.Partial("../Common/PartialEmailSavePrintPopup")
                            @Html.Partial("../Common/PartialAdverseLetterPopup")
                            <input type="hidden" id="cndpreadv" />
                        </td>*@
                    <td id="rowPrintReport" runat="server" align="right">
                        <table>
                            <tr>
                                @if (Model.IsShowRawData == true)
                                {

                                    <td>
                                        <div id="divChangeStatus" style="display: block;">
                                            <img id="imgHitStatus" src="../Content/themes/base/images/GreenHitStatus.png" style="cursor: pointer;
                                                        padding-left: 5px;" alt="Hit Status" title="Hit Status" />

                                        </div>
                                    </td>
                                    <td>
                                        <button id="ErrorLogIcon" onclick="OpenNewReportLog();" type="button" class="btn btn-default"> Error Log</button>
                                        <button onclick="OpenUserViewReport();" type="button" class="btn btn-default"> User View</button>
                                    </td>


                                }


                                <td>
                                    @if (Model.IsReportStatus == true)
                                    {
                                        <div>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <input type="button" id="btnPass" class="SetPassdisabled" onclick="IsPass();" /><input type="button" id="btnfail" class="SetFaildisabled" onclick="IsFail();" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    }
                                </td>
                                <td>
                                    @*<img id="additionalrpt" title="add additional report" style="cursor:pointer" src="@Url.Content(Emerge.Common.ApplicationPath.GetApplicationPath() + "Content/themes/base/images/additional_reports.png")" alt="Add Additional Report" onclick="AddAdditionalReport();" />*@


                                    <button type="button" id="additionalrpt" class="btn btn-default" onclick="AddAdditionalReport();"> Additional Reports</button>
                                    @if (Model.btnConsentDocsVisible)
                                    {
                                        @*<img id="btnConsentDocs" title="Upload/Download Consent Form" src="@Url.Content(Emerge.Common.ApplicationPath.GetApplicationPath() + "Content/themes/base/images/docs_icon.png")" alt="Upload/Download Consent Form" onclick="ShowDownloadPopUp();" />*@
                                        <button id="btnConsentDocs" type="button" onclick="ShowDownloadPopUp();" class="btn btn-default"> Docs</button>



                                    }
                                </td>
                                <td>
                                    <button id="imgbtnconfidential" type="button" class="btn btn-default"> Pre Adverse Letter</button>
                                </td>
                                <td>
                                    <button id="imgbtnAdverseLetter" type="button" class="btn btn-default"> Adverse Letter</button>                                    
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>
