﻿@{
    ViewBag.Title = "Archive";
}
@using Emerge.Common;

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- CSS files -->

    <link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet"
          type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet"
          type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet"
          type="text/css" />
    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/KendoJS/kendo.web.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/gen_validatorv4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=06052015")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Pages/NewReport.js?v=06052015")" type="text/javascript"></script>

    <link href="@Url.Content("~/Design2/Css/main-bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/Selectyze.jquery.css")" rel="stylesheet" type="text/css" />


    <script src="@Url.Content("~/Design2/Js/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Design2/Js/bootstrap-dropdown.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Design2/Js/bootstrap-min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Design2/Js/a-doc.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("res.axd?v=49.0")"></script>


    <link href="@Url.Content("~/newfavicon.gif")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content(CommonPaths.ContentPath + "CompressedCombined(Admin).css?v=2")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=5")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet"
          type="text/css" />
</head>

<body>
    <div class="main-menu-bar">
        <div class="left-ch-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle ch-padding-remover" data-toggle="dropdown">Archives <span></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Reports </a></li>
                        <li><a href="#">New Report</a></li>
                        <li><a href="#">Account </a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="horiz-ch-menu hori-btns">

            <ul>
                <li>
                    <button type="button" class="btn btn-default">Move</button>
                </li>
                <li>
                    <button type="button" class="btn btn-default">Print </button>
                </li>
                <li>
                    <button type="button" class="btn btn-default">Export to Excel</button>
                </li>
                <li>
                    <button type="button" class="btn btn-primary">Save </button>
                </li>

            </ul>
        </div>
    </div>
</body>
</html>
