﻿@{
    ViewBag.Title = "Archive";
}
@using Emerge.Common;
@model Emerge.Models.SavedReportModel
@using System.Xml
@using Lib.Web.Mvc.Html
<link href="@Url.Content("~/Content/CSS/Report.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/CSS/Report_Style.css")" rel="stylesheet" type="text/css" />
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <style class="text/css">
        #tableMove td {
            font-size: 14px !important;
        }

        a:visited {
            color: #575656 !important;
            /*color: #0B55C4;*/
            text-decoration: none;
        }
    </style>
    <!-- CSS files -->


    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/KendoJS/kendo.web.min.js?v=2.0")" type="text/javascript"></script>
    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=2.0")" type="text/javascript"></script>


    <link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet"
          type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/gen_validatorv4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=06052015")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Pages/NewReport.js?v=06052015")" type="text/javascript"></script>
    <link href="@Url.Content("~/Design2/Css/main-bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/Selectyze.jquery.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Design2/Js/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Design2/Js/bootstrap-dropdown.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Design2/Js/bootstrap-min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Design2/Js/a-doc.js")" type="text/javascript"></script>

    <link href="@Url.Content("~/newfavicon.gif")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content(CommonPaths.ContentPath + "CompressedCombined(Admin).css?v=2")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=5")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" language="javascript">
        function DeleteOrders() {
            var Ids = '';
            $("#kendoGrid .chk-style").each(function () {
                if ($(this).prop("checked")) {
                    Ids = Ids + ($(this).prop("id")).split('_')[1] + ",";
                }
            });
            $.post("../Corporate/DeleteOrders", { pkIds: Ids }, function (data) {
                $("#displaymsg").show();
                $("#displaymsg1").html(data.Msg);
                var grid = $("#kendoGrid").data("kendoGrid");
                grid.dataSource.read();
                grid.refresh();
                $("#displaymsg1").fadeOut(5000);
                $("#popup_Delete").data("kendoWindow").close();
            });
        }

        function CancelDeleteOrder() {
            //window.location = "../Control/SavedReports";
            var grid = $("#kendoGrid").data("kendoGrid");
            grid.dataSource.read();
            grid.refresh();
            $("#popup_Delete").data("kendoWindow").close();
        }

        function MarkOrder() {
            //alert(1);
            var Ids = '';
            $("#kendoGrid .chk-style").each(function () {
                if ($(this).prop("checked")) {
                    Ids = Ids + ($(this).prop("id")).split('_')[1] + ",";
                }
            });
            if ($("#ddlMarkAs").val() == "-1") {
                $("#vldMark").show();
            }
            else {
                $("#vldMark").hide();
                $.post("../Corporate/Mark", { pkIds: Ids, MarkAs: $("#ddlMarkAs").val() }, function (data) {
                    var grid = $("#kendoGrid").data("kendoGrid");
                    grid.dataSource.read();
                    grid.refresh();
                    $("#popup_Mark").data("kendoWindow").close();
                });
            }
        }

        $(document).ready(function () {
            $(".k-grid-pager").append(selectList);
            var PageSize = $("#PageSize").val();
            var ddlPageSize = $("#ddlPageSize");
            ddlPageSize.val(PageSize);
            SetDefaultUser(); // #162
        });

        function SetDefaultUser() {
            if ('@Session["Admin"]' != "SystemAdmin") {
                var userId = $('#hdnpkCompanyUserId').val();
                $("#CompanyUserId option[value=" + userId + "]").attr("selected", true);
            }
        }

        function CheckedAll() {
            $("#kendoGrid .chk-style").each(function () {
                if (document.getElementById("chkLead_head").checked) {
                    $(this).prop("checked", true);
                }
                else {
                    $(this).prop("checked", false);
                }
            });
        }

        function ShowPopup(Type) {
            //GetManageFolder();
            alert(Type);
            var Ids = '';
            $("#kendoGrid .chk-style").each(function () {
                if ($(this).prop("checked")) {
                    Ids = Ids + ($(this).prop("id")).split('_')[2] + ",";
                }
            });
            if (Ids == '') {
                alert("Please select at least one Order!");
            }
            else {
                if (Type == 1) {

                    $("#popup_Mark").kendoWindow();
                    $("#popup_Mark").data("kendoWindow").close();
                    $("popup_MarkContainer").show();
                    $("#popup_Mark").data("kendoWindow").center();
                    $("#popup_Mark").data("kendoWindow").open();

                } //delete orders for ticket #23
                else if (Type == 5) {
                    $("#popup_Delete").kendoWindow({ title: "Delete Orders" });
                    $("#popup_Delete").data("kendoWindow").close();
                    $("#popup_DeleteContainer").show();
                    $("#popup_Delete").data("kendoWindow").center();
                    console.log(Ids.split(",").length);
                    var SplitIds = Ids.split(",");
                    if (SplitIds.length > 2) {
                        $("#ShowMessage").html("");
                        $("#ShowMessage").append("<p style=\"width: 285px;\">Are You sure you want to delete following orders ids:<br/><br/> <span style=\"font-weight: bold;\"> " + Ids + "</span></p>");
                    }
                    else {
                        $("#ShowMessage").html("");
                        $("#ShowMessage").append("<p style=\"width: 285px;\">Are You sure you want to delete this order id: " + SplitIds[0] + "</p>");
                    }
                    $("#popup_Delete").data("kendoWindow").open();

                }
                else {

                    $("#popupEmail").kendoWindow({ title: "Report Order" });
                    $("#popupEmail").data("kendoWindow").close();
                    //                if(Type==2)
                    //                {
                    //                $("#tabstrip").data("kendoTabStrip").select(0);
                    //                }
                    if (Type == 3) {
                        $("#tabstrip").data("kendoTabStrip").select(0);
                    }
                    else {
                        $("#tabstrip").data("kendoTabStrip").select(1);
                    }
                    $("#popupEmailContainer").show();
                    $("#popupEmail").data("kendoWindow").center();
                    $("#popupEmail").data("kendoWindow").open();
                }
            }
        }

        GetManageFolder();
        $("#ddlMarkAs").kendoDropDownList().data("kendoDropDownList");

        function GetManageFolder() {
            $("#ddlMarkAs").empty();
            //alert('Success');
            $.ajax({
                type: "POST",
                asyn: false,
                url: "../Common/GetManageFolders",
                //data: { CompanyId: cmpid },
                data: {},
                error: function () { },
                success: function (result) {
                    var ddlMark = $('#ddlMarkAs');
                    ddlMark.empty();
                    ddlMark.append('<option value="">---Select Folder---</option>');
                    $.each(result, function (index, itemData) {
                        ddlMark.append('<option value="' + itemData.Value + '"> ' + itemData.Text + '</option>');
                    });
                }
            });
        }
    </script>
</head>
<body>
    <div class="main-menu-bar">
        <div class="left-ch-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown ">
                    @{var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();}
                    @{var ActionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();}
                    @{if (controller == "Control")
                    {
                        if (ActionName.Contains("EmergeReviews"))
                        {
                            <a href="#" class="dropdown-toggle report-head" data-toggle="dropdown">Emerge Reviews <span></span></a>
                        }
                        else
                        {
                            <a href="#" class="dropdown-toggle report-head" data-toggle="dropdown">Archives <span></span></a>
                        }
                    }
                    else
                    {
                        <a href="#" class="dropdown-toggle report-head" data-toggle="dropdown">Archives <span></span></a>
                    }
                    }
                    <ul class="dropdown-menu">
                        @{string[] rolechk = new string[0];}
                        @if (Session["UserRoles"] != null)
                        {
                            rolechk = (string[])(Session["UserRoles"]);
                            if (!rolechk.Contains("ViewOnlyUser"))
                            {
                                if (!rolechk.Contains("BillingUser"))
                                {

                                    <li><a href="../Corporate/NewReport">New Report </a></li>
                                    <li><a href="../Corporate/NewBatch">New Batch </a></li>
                                }
                            }
                        }
                        @{string[] UserRoles = new string[0];}
                        @if (Session["UserRoles"] != null)
                        {
                            UserRoles = (string[])(Session["UserRoles"]);
                            if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                            {

                                <li id="liArchives"><a href="../Control/SavedReports">Archives </a></li>
                                <li><a href="../Control/EmergeReviews">Emerge Reviews </a></li>
                                <li><a href="../Office/Leads">Office </a></li>
                            }
                            else
                            {

                                if (UserRoles.Contains("DataEntry"))
                                {
                                    <li id="liArchives"><a href="javascript:void(0);">Archives </a></li>

                                }
                                else
                                {


                                    <li id="liArchives"><a href="../Corporate/SavedReports">Archives </a></li>

                                }
                            }
                        }
                        else
                        {
                            MembershipUser objMembership = Membership.GetUser();
                            if (objMembership != null)
                            {
                                UserRoles = Roles.GetRolesForUser(User.Identity.Name);
                                Session["UserRoles"] = UserRoles;
                            }
                            <li id="liArchives"><a href="../Corporate/SavedReports">Archives </a></li>
                        }
                        @if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                        {
                            <li id="liAdmin" runat="server"><a href="../Control/AdminSearch">Admin </a></li>
                        }
                        <li><a href="../Corporate/MyAccount">My Account </a></li>
                    </ul>
                </li>
            </ul>
        </div>
        @{if (ActionName.Contains("EmergeReviews"))
        {

        }
        else
        {
            <div class="horiz-ch-menu hori-btns top-btn save-archive">
                <ul>
                    <li id="tdMove">
                        @*<img id="imgbtnMove" src="@Url.Content("~/Content/themes/base/images/move_icon.png")" alt=""
                            style="cursor: pointer;" onclick="ShowPopup(1);" />*@
                        <button id="imgbtnMove" type="button" class="btn btn-default" onclick="ShowPopup(1);">
                            Move
                        </button>
                        <div id="popup_MarkContainer" style="display: none;">
                            <div id="popup_Mark">
                                <div id="CloseDiv_Move" style="background-color: #fbfbfb; width: 16px; height: 5px;
                                float: right;">
                                </div>
                                <div>
                                    <table border="0" id="tableMove" style="width: 300px; height: 105px;" cellpadding="0"
                                           cellspacing="0">
                                        @*<tr>
                                                <td></td>
                                            </tr>*@
                                        <tr>
                                            <td width="100%">
                                                <table width="100%" cellpadding="0" style="text-align: left;" cellspacing="0">
                                                    <tr>
                                                        <td align="right">
                                                            Mark as :
                                                        </td>
                                                        <td align="left">
                                                            @*<select id="ddlMarkAs" style="width: 170px;" class="form-control">
                                                                    <option value="-1">---Select Folder---</option>
                                                                    <option value="1">Read</option>
                                                                    <option value="2">Unread</option>
                                                                </select>*@

                                                            <select id="ddlMarkAs" name="ddlMarkAs" style="width: 170px;" class="form-control"></select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td align="left">
                                                            <span class="ErrorMessage" id="vldMark" style="display: none; color: red;">Select Folder.</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td align="center">
                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                <tr>
                                                                    <td>
                                                                        <input type="button" value="Mark" onclick="MarkOrder();" class="btn btn-primary" />
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        @{string[] role = new string[0];}
                        @if (Session["UserRoles"] != null)
                        {
                            role = (string[])(Session["UserRoles"]);
                            if (role.Contains("SystemAdmin"))
                            {
                                <button id="imgbtnDelete" onclick="ShowPopup(5);" type="button" class="btn btn-default">Delete</button>

                            }
                        }
                        <div id="popup_DeleteContainer" style="display: none;">
                            <div id="popup_Delete">
                                <div id="CloseDiv_Delete" style="background-color: #fbfbfb; width: 16px; height: 16px;
                                float: right;">
                                </div>
                                <div>
                                    <table border="0" id="tableDelete" style="width: 300px;" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td id="ShowMessage"></td>
                                        </tr>
                                        <tr>
                                            <td align="right">
                                                <input type="button" id="btnDeleteReport" class="btn btn-primary" value="Delete" onclick="DeleteOrders();" />
                                            </td>
                                            <td align="right">
                                                <input type="button" style="margin-left: 5px;" id="btnCancelReport" class="btn btn-primary" value="Cancel" onclick="CancelDeleteOrder();" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div id="ExportSelectedOrderToCSV" style="margin-top: -19px;" class="btn btn-default">@Html.ActionLink("Export to Excel ", "ExportSelectedOrderToCSV", "CommonSavedReport")</div>
                    </li>
                    <li>

                        <button id="imgbtnPrint" onclick="return SelectReport('SavedReportPrint');" type="button" class="btn btn-default">
                            Print
                        </button>

                        @*<button id="imgbtnPrint" onclick="ShowPopup(4);" type="button" class="btn btn-default">
                            Print
                        </button>*@
                        @*<img id="imgbtnPrint" src="@Url.Content("~/Content/themes/base/images/print_btn.png")" alt=""
                            style="cursor: pointer;" onclick="ShowPopup(4);" />*@
                    </li>
                    <li>
                        @*<img id="imgbtnSave" src="@Url.Content("~/Content/themes/base/images/save_btn.png")" alt="" style="cursor: pointer;"
                            onclick="ShowPopup(3);" />*@
                        <button id="imgbtnSave" type="button" onclick="ShowPopup(3);" class="btn btn-primary">
                            Save
                        </button>
                        <div id="popupEmailContainer" style="display: none; height: 0px; text-align: center;">
                            <div id="popupEmail" style="width: 320px;">
                                <div id="tabstrip">
                                    <ul class="tab_ul">
                                        <li id="liSave">Save </li>
                                        <li id="liPrint">Print </li>
                                    </ul>
                                    <div id="dvSave" style="">
                                        <table cellpadding="0" cellspacing="0" width="99%" id="tblSave">
                                            <tr>
                                                <td colspan="3">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="right" valign="middle" width="20%">
                                                    <img alt="Save" src="@Url.Content("~/Content/themes/base/images/save_btn_center.png")" style="padding-top: 5px;" />
                                                    &nbsp;
                                                </td>
                                                <td align="left">
                                                    <input type="button" id="btnSaveReport" class="cls_btn" value="Save" onclick="return SelectReport('SV');" />
                                                </td>
                                                <td align="left">
                                                    <input type="text" id="txtSaveReport" style="width: 142px;" value="@ViewBag.UserFullName1" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span id="reqtxtSave" class="k-widget k-tooltip k-tooltip-validation k-invalid-msg"
                                                          style="display: none;"><span class="k-icon k-warning"></span>Enter file name</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="dvPrint" style="">
                                        <table cellpadding="0" cellspacing="0" width="99%" id="tblPrint">
                                            <tr></tr>
                                            <tr>
                                                <td valign="middle" align="right" width="40%">
                                                    <img alt="Print" src="@Url.Content("~/Content/themes/base/images/print_btn_center.png")" style="padding-top: 5px;" />
                                                </td>
                                                <td style="width: 20px"></td>
                                                <td align="left" style="margin-left: 10px">
                                                    <input id="btnPrint" type="button" value="Print" class="cls_btn" onclick="return SelectReport('PT');" />
                                                </td>
                                                <td align="left">
                                                    <input type="text" id="txtPrint" style="width: 142px; display: none;" />
                                                </td>
                                            </tr>
                                            <tr></tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        }}
    </div>
</body>
</html>
