﻿@{
    ViewBag.Title = "Admin Account";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- CSS files -->


    


    <style>
        .selected {
            color: black;
        }

        .horiz-ch-menu ul li a.active {
            color: #0078bd;
        }
    </style>
    <script src="@Url.Content("~/Design2/Js/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Design2/Js/bootstrap-dropdown.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Design2/Js/bootstrap-min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Design2/Js/a-doc.js")" type="text/javascript"></script>


    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>


    <link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet"
          type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet"
          type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet"
          type="text/css" />
    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/KendoJS/kendo.web.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/gen_validatorv4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=06052015")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Pages/NewReport.js?v=06052015")" type="text/javascript"></script>

    <link href="@Url.Content("~/Design2/Css/main-bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/Selectyze.jquery.css")" rel="stylesheet" type="text/css" />


    <script src="@Url.Content("~/Design2/Js/jquery.js")" type="text/javascript"></script>

    @*<script src="@Url.Content("~/Design2/Js/bootstrap-min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Design2/Js/a-doc.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("res.axd?v=49.0")"></script>


    <link href="@Url.Content("~/newfavicon.gif")" rel="shortcut icon" type="image/x-icon" />

    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=5")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet"
          type="text/css" />

    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet" type="text/css" />

    <script src="../../Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ZeroClipboard.js")" type="text/javascript"></script>

    



        <script>
            /*$(document).ready(function () {
                $('.horiz-ch-menu a').click(function (e) {
                    $('.horiz-ch-menu a').removeClass('active');
                    $(this).addClass('active');
                });
            });*/

            $(function () {

                var pgurl = window.location.href.substr(window.location.href.lastIndexOf("/") + 1);

                var urlArr = pgurl.split('?');
                $(".horiz-ch-menu ul a").each(function () {
                    var urlToTest = urlArr[0];
                    if (urlToTest.toLowerCase() == "EditCompanyUser".toLowerCase())
                        urlToTest = "GetUsers"

                    if ($(this).attr("href").substr($(this).attr("href").lastIndexOf("/") + 1) == urlToTest || $(this).attr("href") == '')
                        $(this).addClass("active");
                })
            });



    </script>
</head>

<body>
    <div class="main-menu-bar">
        <div class="left-ch-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown ">
                    <a href="javascript:void(0);" class="dropdown-toggle ch-padding-remover acount1 report-head" data-toggle="dropdown" style="margin-left: -20px;" >Admin  <span></span></a>
                    <ul class="dropdown-menu">

                        @{string[] rolechk = new string[0];}
                        @if (Session["UserRoles"] != null)
                        {
                            rolechk = (string[])(Session["UserRoles"]);
                            if (!rolechk.Contains("ViewOnlyUser"))
                            {
                                if (!rolechk.Contains("BillingUser"))
                                {

                        <li><a href="../Corporate/NewReport">New Report </a></li>
                        <li><a href="../Corporate/NewBatch">New Batch </a></li>
                                }
                            }
                        }



                        @{string[] UserRoles = new string[0];}
                        @if (Session["UserRoles"] != null)
                        {
                            UserRoles = (string[])(Session["UserRoles"]);
                            if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                            {

                        <li id="liArchives"><a href="../Control/SavedReports">Archives </a></li>
                        <li><a href="../Control/EmergeReviews">Emerge Reviews  </a></li>
                            <li><a href="../Office/Leads">Office </a></li>
                            }
                            else
                            {

                                if (UserRoles.Contains("DataEntry"))
                                {
                        <li id="liArchives"><a href="javascript:void(0);">Archives </a></li>

                                }
                                else
                                {


                        <li id="liArchives"><a href="../Corporate/SavedReports">Archives </a></li>

                                }
                            }
                        }
                        else
                        {

                            MembershipUser objMembership = Membership.GetUser();
                            if (objMembership != null)
                            {
                                UserRoles = Roles.GetRolesForUser(User.Identity.Name);
                                Session["UserRoles"] = UserRoles;
                            }
                        <li id="liArchives"><a href="../Corporate/SavedReports">Archives </a></li>
                        }

                        @if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                        {
                        <li id="liAdmin" runat="server">
                            <a href="../Control/AdminSearch">
                                Admin
                            </a>
                        </li>
                        }
                        <li><a href="../Corporate/MyAccount">My Account </a></li>
                        

                    </ul>
                </li>
            </ul>
        </div>
        <div class="horiz-ch-menu">
            <ul>
                <li><a href="../Control/AdminSearch">Dasboard </a></li>
                <li><a href="../Control/GetAllCompanies">Companies </a> </li>
                <li><a href="../Control/GetAllLocations">Locations </a> </li>
                <li><a href="../Control/GetEmergeUsers">Users</a> </li>
                <li><a id="lnkMenuContent" href="../Control/EmailTemplate">Content Management </a> </li>
                <li><a id="lnkMenuProducts" href="../Control/ManageReports">Product Management</a> </li>
                <li><a id="lnkMenuBilling" href="../Control/Billing">Billing Management </a> </li>
                <li><a id="lnkMenuVendors" href="../Control/ManageVendors">Vendors</a> </li>
            </ul>

        </div>
        @*<div class="horiz-ch-menu hori-btns">
            <ul>
                <li><a href="../Control/AdminSearch">Dasboard </a></li>
                <li><a href="../Control/GetAllCompanies">Companies </a> </li>
                <li><a href="../Control/GetAllLocations">Locations </a> </li>
                <li><a href="../Control/GetEmergeUsers">Users</a> </li>
                <li><a id="lnkMenuContent" href="../Control/EmailTemplate">Content Management </a> </li>
                <li><a id="lnkMenuProducts" href="../Control/ManageReports">Product Management</a> </li>
                <li><a id="lnkMenuBilling" href="../Control/Billing">Billing Management </a> </li>
                <li><a id="lnkMenuVendors" href="../Control/ManageVendors">Vendors</a> </li>
            </ul>
        </div>*@

    </div>


</body>
</html>
