﻿@{
    ViewBag.Title = "New Report";
}

@using Emerge.Common;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- CSS files -->
    <style>
        .horiz-ch-menu ul li a.active {
            color: #0078bd;
        }
        li.dropdown a.link_clr:hover {
            color: #575656 !important;
        }
    </style>


    <script src="@Url.Content("~/Scripts/gen_validatorv4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=06052015")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Pages/NewReport.js?v=06052015")" type="text/javascript"></script>

    <link href="@Url.Content("~/Design2/Css/main-bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Design2/Css/Selectyze.jquery.css")" rel="stylesheet" type="text/css" />


    <script src="@Url.Content("~/Design2/Js/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Design2/Js/bootstrap-dropdown.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Design2/Js/bootstrap-min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Design2/Js/a-doc.js")" type="text/javascript"></script>





    <link href="@Url.Content("~/Content/ui-lightness/jquery-ui-1.8.2.custom.css")" rel="stylesheet"
          type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.2.custom.min.js")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.default.min.css")" rel="stylesheet"
          type="text/css" />
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "kendo.common.min.css")" rel="stylesheet"
          type="text/css" />
    <script src="@Url.Content(Emerge.Common.CommonPaths.ScriptPath + "kendo.all.min.js?v=1.0")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/KendoJS/kendo.web.min.js")" type="text/javascript"></script>

    <script>
        

        $(function () {

            var pgurl = window.location.href.substr(window.location.href
       .lastIndexOf("/") + 1);
            $(".horiz-ch-menu ul a").each(function () {
                if ($(this).attr("href").substr($(this).attr("href")
       .lastIndexOf("/") + 1) == pgurl || $(this).attr("href") == '')
                    $(this).addClass("active");

            })
        });


    </script>









    <link href="@Url.Content("~/newfavicon.gif")" rel="shortcut icon" type="image/x-icon" />
    <link href="@Url.Content(CommonPaths.ContentPath + "CompressedCombined(Admin).css?v=2")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CSS/Control.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EmergeCompressedJavascript.js?V=5")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/chat.js")" type="text/javascript"></script>
    <link href="@Url.Content(Emerge.Common.CommonPaths.ContentPath + "chat.css")" rel="stylesheet"
          type="text/css" />
</head>

<body>
    <div class="main-menu-bar">
        <div class="left-ch-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle report-head" data-toggle="dropdown">Reports <span></span></a>
                    <ul class="dropdown-menu">

                        @{string[] rolechk = new string[0];}
                        @if (Session["UserRoles"] != null)
                        {
                            rolechk = (string[])(Session["UserRoles"]);
                            if (!rolechk.Contains("ViewOnlyUser"))
                            {
                                if (!rolechk.Contains("BillingUser"))
                                {

                        <li><a href="../Corporate/NewReport">New Report </a></li>
                        <li><a href="../Corporate/NewBatch">New Batch </a></li>
                                }
                            }
                        }



                        @{string[] UserRoles = new string[0];}
                        @if (Session["UserRoles"] != null)
                        {
                            UserRoles = (string[])(Session["UserRoles"]);
                            if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                            {

                        <li id="liArchives"><a href="../Control/SavedReports">Archives </a></li>
                        <li><a href="../Control/EmergeReviews">Emerge Reviews  </a></li>
                            <li><a href="../Office/Leads">Office </a></li>
                            }
                            else
                            {

                                if (UserRoles.Contains("DataEntry"))
                                {
                        <li id="liArchives"><a href="javascript:void(0);">Archives </a></li>

                                }
                                else
                                {


                        <li id="liArchives">
                            <a href="../Corporate/SavedReports">Archives </a>



                        </li>

                                }
                            }
                        }
                        else
                        {

                            MembershipUser objMembership = Membership.GetUser();
                            if (objMembership != null)
                            {
                                UserRoles = Roles.GetRolesForUser(User.Identity.Name);
                                Session["UserRoles"] = UserRoles;
                            }
                        <li id="liArchives"><a href="../Corporate/SavedReports">Archives </a></li>
                        }

                        @if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                        {
                        <li id="liAdmin" runat="server">
                            <a href="../Control/AdminSearch">
                                Admin
                            </a>
                        </li>
                        }
                        <li><a href="../Corporate/MyAccount">My Account </a></li>
                        

                    </ul>
                </li>
            </ul>
        </div>


        <div class="horiz-ch-menu">
            <ul>
                <li><a href="../Corporate/NewReport">New Report </a></li>
                <li><a href="../Corporate/NewBatch">Batch </a></li>

               



                @if (Session["UserRoles"] != null)
                {
                    UserRoles = (string[])(Session["UserRoles"]);
                    if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                    {

                        @*<li id="liArchives" style="float:right;"><a href="../Corporate/SavedReports">Archives </a></li>*@
                       <li  class="dropdown" style="float: right; width: 160px;">
                                                     <a href="#" class="dropdown-toggle report-head link_clr" data-toggle="dropdown" style=" float: right; padding: 0px .5%;">  
                             <span></span>
                         </a>


                                <ul class="dropdown-menu" style="width: 100%; padding: 5px 0px;">
                                    <li style="margin: 0px; border-bottom: 1px solid #bababa; display: block;"><a href="../Corporate/NewReport" style="padding: 5px 20px; font-size: 13px; color: #575656; font-weight: normal; border: none; border-radius: 3px; ">New Report </a></li>
                                    <li style="margin: 0px; border-bottom: 1px solid #bababa; display: block;"><a href="../Corporate/NewBatch" style="padding: 5px 20px; font-size: 13px; color: #575656; font-weight: normal; border-radius: 3px; ">New Batch </a></li>
                                    <li id="liArchives" style="margin: 0px; border-bottom: 1px solid #bababa; display: block;"><a href="../Corporate/SavedReports" style="padding: 5px 20px; font-size: 13px; color: #575656; font-weight: normal; border-radius: 3px; ">Archives </a></li>
                                    <li style="margin: 0px; border-bottom: 1px solid #bababa; display: block;"><a href="../Corporate/MyAccount" style="padding: 5px 20px; font-size: 13px; color: #575656; font-weight: normal; border-radius: 3px;">My Account </a></li>
                                </ul>
                            </li>
                   <li style="float: right; margin-right: -142px; position:relative"><a href="../Corporate/SavedReports">Archives</a></li>



                    }
                    else
                    {

                        if (UserRoles.Contains("DataEntry"))
                        {
                            <li id="liArchives"><a href="javascript:void(0);">Archives </a></li>

                        }
                        else
                        {
                            
                            <li  class="dropdown" style="float: right; width: 160px;">
                                <a href="#" class="dropdown-toggle report-head link_clr" data-toggle="dropdown" style=" float: right; padding: 0px .5%;">                                    
                                    <span></span>
                                </a>
                                <ul class="dropdown-menu" style="width: 100%; padding: 5px 0px;">
                                    <li style="margin: 0px; border-bottom: 1px solid #bababa; display: block;"><a href="../Corporate/NewReport" style="padding: 5px 20px; font-size: 13px; color: #575656; font-weight: normal; border: none; border-radius: 3px; ">New Report </a></li>
                                    <li style="margin: 0px; border-bottom: 1px solid #bababa; display: block;"><a href="../Corporate/NewBatch" style="padding: 5px 20px; font-size: 13px; color: #575656; font-weight: normal; border-radius: 3px; ">New Batch </a></li>
                                    <li id="liArchives" style="margin: 0px; border-bottom: 1px solid #bababa; display: block;"><a href="../Corporate/SavedReports" style="padding: 5px 20px; font-size: 13px; color: #575656; font-weight: normal; border-radius: 3px; ">Archives </a></li>
                                    <li style="margin: 0px; border-bottom: 1px solid #bababa; display: block;"><a href="../Corporate/MyAccount" style="padding: 5px 20px; font-size: 13px; color: #575656; font-weight: normal; border-radius: 3px;">My Account </a></li>
                                </ul>
                            </li>
                            <li style="float: right; margin-right: -142px; position:relative"><a href="../Corporate/SavedReports">Archives</a></li>

                        }
                    }
                }
                else
                {

                    MembershipUser objMembership = Membership.GetUser();
                    if (objMembership != null)
                    {
                        UserRoles = Roles.GetRolesForUser(User.Identity.Name);
                        Session["UserRoles"] = UserRoles;
                    }
                    <li id="liArchives" style="float:right;">
                        <a href="../Corporate/SavedReports">Archives </a>

                    </li>
                }


            </ul>
        </div>


        <div class="horiz-ch-menu hori-btns">
            @{var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();}
            @{var ActionName = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString();}

            @{if (controller == "Corporate")
            {
                if (ActionName.Contains("ViewReports"))
                {

                    <ul>
                        <li>


                            <button id="imgBtnBack" type="button" class="btn btn-default">Back</button>


                            <input type="hidden" id="hdRR" value="@ViewBag.RR" />
                            <input type="hidden" id="hdbck" value="@ViewBag.bck" />
                            <input type="hidden" id="hdnNullDOBAdd4NCR1" value="" />
                        </li>
                        <li>

                            <button id="imgbtnPrint" type="button" onclick="return SelectReport('PT');" class="btn btn-default">Print </button>
                        </li>
                        <li>
                            <button id="imgbtnSave" type="button" onclick="ShowPopup(3);" class="btn btn-primary">Save </button>
                        </li>


                    </ul>


                }

            }}

        </div>
        <div>
            <table>
                <tr>
                    <td width="100px">
                        @*@Html.Partial("../Common/PartialEmailSavePrintPopup")
                            @Html.Partial("../Common/PartialAdverseLetterPopup")*@
                        @*<input type="hidden" id="cndpreadv" />*@
                    </td>
                    <td id="rowPrintReport" runat="server" align="right">
                </tr>

            </table>

        </div>

    </div>

</body>
</html>
