﻿@{
    ViewBag.Title = "Account";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- CSS files -->
    <script src="/Design2/Js/jquery.js" type="text/javascript"></script>
    <script src="/Design2/Js/bootstrap-dropdown.js" type="text/javascript"></script>
    <script src="/Design2/Js/bootstrap-min.js" type="text/javascript"></script>
    <script src="/Design2/Js/a-doc.js" type="text/javascript"></script>


    <script src="/Scripts/kendo.all.min.js?v=1.0" type="text/javascript"></script>


    <link href="/Content/ui-lightness/jquery-ui-1.8.2.custom.css" rel="stylesheet"
          type="text/css" />
    <script src="/Scripts/jquery-ui-1.8.2.custom.min.js" type="text/javascript"></script>
    <link href="/Content/kendo.default.min.css" rel="stylesheet"
          type="text/css" />
    <link href="/Content/kendo.common.min.css" rel="stylesheet"
          type="text/css" />
    <script src="/Scripts/kendo.all.min.js?v=1.0" type="text/javascript"></script>
    <script src="/Scripts/KendoJS/kendo.web.min.js" type="text/javascript"></script>

    <script src="/Scripts/gen_validatorv4.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/Scripts/EmergeCompressedJavascript.js?V=06052015" type="text/javascript"></script>
    <script src="/Scripts/Pages/NewReport.js?v=06052015" type="text/javascript"></script>

    <link href="/Design2/Css/main-bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/Design2/Css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <link href="/Design2/Css/custom.css" rel="stylesheet" type="text/css" />
    <link href="/Design2/Css/Selectyze.jquery.css" rel="stylesheet" type="text/css" />


    <script src="/Design2/Js/jquery.js" type="text/javascript"></script>

    <script src="/Design2/Js/bootstrap-min.js" type="text/javascript"></script>
    <script src="/Design2/Js/a-doc.js" type="text/javascript"></script>
    @*<script type="text/javascript" src="res.axd?v=49.0"></script>*@


    <link href="/newfavicon.gif" rel="shortcut icon" type="image/x-icon" />

    <script type="text/javascript"></script>
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/CSS/Control.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/jquery-1.7.1.js" type="text/javascript"></script>
    <script src="/Scripts/EmergeCompressedJavascript.js?V=5" type="text/javascript"></script>
    <script src="/Scripts/chat.js" type="text/javascript"></script>
    <link href="/Content/chat.css" rel="stylesheet"
          type="text/css" />

    <script src="/Scripts/kendo.all.min.js?v=1.0" type="text/javascript"></script>
    <link href="/Content/kendo.default.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/kendo.common.min.css" rel="stylesheet" type="text/css" />

    <script src="../../Scripts/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="/Scripts/ZeroClipboard.js" type="text/javascript"></script>



    <style>
        .selected {
            color: black;
        }

        .horiz-ch-menu ul li a.active {
            color: #0078bd;
        }
    </style>
    <script>
        /*$(document).ready(function () {
            $('.horiz-ch-menu a').click(function (e) {
                $('.horiz-ch-menu a').removeClass('active');
                $(this).addClass('active');
            });
        });*/

        $(function () {

            var pgurl = window.location.href.substr(window.location.href.lastIndexOf("/") + 1);

            var urlArr = pgurl.split('?');
            $(".horiz-ch-menu ul a").each(function () {
                var urlToTest = urlArr[0];
                if (urlToTest.toLowerCase() == "EditCompanyUser".toLowerCase())
                    urlToTest = "GetUsers"

                if ($(this).attr("href").substr($(this).attr("href").lastIndexOf("/") + 1) == urlToTest || $(this).attr("href") == '')
                    $(this).addClass("active");
            })
        });



    </script>
</head>

<body>
    <div class="main-menu-bar">
        <div class="left-ch-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle ch-padding-remover acount1 report-head" data-toggle="dropdown">Account  <span></span></a>
                    <ul class="dropdown-menu">

                        @{string[] rolechk = new string[0];}
                        @if (Session["UserRoles"] != null)
                        {
                            rolechk = (string[])(Session["UserRoles"]);
                            if (!rolechk.Contains("ViewOnlyUser"))
                            {
                                if (!rolechk.Contains("BillingUser"))
                                {

                                    <li>
                                        @if (Session["BillingLockingStatus"] == "0")
                                        {
                                            <a href="#">New Report </a>

                                        }
                                        else
                                        {

                                            <a href="../Corporate/NewReport">New Report </a>
                                        }


                                    </li>
                                    <li>
                                        @if (Session["BillingLockingStatus"] == "0")
                                        {

                                            <a href="#">New Batch </a>

                                        }
                                        else
                                        {

                                            <a href="../Corporate/NewBatch">New Batch </a>
                                        }


                                    </li>
                                }
                            }
                        }



                        @{string[] UserRoles = new string[0];}
                        @if (Session["UserRoles"] != null)
                        {
                            UserRoles = (string[])(Session["UserRoles"]);
                            if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                            {

                                <li id="liArchives"><a href="../Control/SavedReports">Archives </a></li>
                                <li><a href="../Control/EmergeReviews">Emerge Reviews  </a></li>
                                <li><a href="../Office/Leads">Office </a></li>
                            }
                            else
                            {

                                if (UserRoles.Contains("DataEntry"))
                                {
                                    <li id="liArchives">

                                        @if (Session["BillingLockingStatus"] == "0")
                                        {

                                            <a href="#">Archives </a>

                                        }
                                        else
                                        {
                                            <a href="javascript:void(0);">Archives </a>
                                        }


                                    </li>

                                }
                                else
                                {


                                    <li id="liArchives">
                                        @if (Session["BillingLockingStatus"] == "0")
                                        {

                                            <a href="#">Archives </a>

                                        }
                                        else
                                        {

                                            <a href="../Corporate/SavedReports">Archives </a>

                                        }
                                    </li>

                                }
                            }
                        }
                        else
                        {

                            MembershipUser objMembership = Membership.GetUser();
                            if (objMembership != null)
                            {
                                UserRoles = Roles.GetRolesForUser(User.Identity.Name);
                                Session["UserRoles"] = UserRoles;
                            }
                            <li id="liArchives">

                                @if (Session["BillingLockingStatus"] == "0")
                                {

                                    <a href="#">Archives </a>

                                }
                                else
                                {
                                    <a href="../Corporate/SavedReports">Archives </a>

                                }
                            </li>
                        }

                        @if (UserRoles.Contains("SystemAdmin") || UserRoles.Contains("SupportManager") || UserRoles.Contains("SupportTechnician"))
                        {
                            <li id="liAdmin" runat="server">
                                <a href="../Control/AdminSearch">
                                    Admin
                                </a>
                            </li>
                        }
                        <li>
                            @if (Session["BillingLockingStatus"] == "0")
                            {

                                <a href="#">My Account </a>

                            }
                            else
                            {

                                <a href="../Corporate/MyAccount">My Account </a>
                            }

                        </li>

                    </ul>
                </li>
            </ul>
        </div>
        <div class="horiz-ch-menu">
            <ul>

                <li>
                    @if (Session["BillingLockingStatus"] == "0")
                    {
                        <a href="../Corporate/BillingStatements">My Statement </a>

                    }
                    else
                    {
                        <a href="../Corporate/BillingStatements">My Statement </a>

                    }

                </li>




                <li>
                    @if (Session["BillingLockingStatus"] == "0")
                    {

                        <a href="#" style="display:none;">Account History</a>
                    }
                    else
                    {

                        <a href="../Corporate/AccountHistory" style="display:none;">Account History</a>

                    }
                </li>



                <li>
                    @if (Session["BillingLockingStatus"] == "0")
                    {

                        <a href="#">Reports</a>

                    }
                    else
                    {
                        <a href="../Corporate/MyReports">Reports</a>

                    }
                </li>


                <li>
                    @if (Session["BillingLockingStatus"] == "0")
                    {

                        <a href="#">Profile</a>

                    }
                    else
                    {

                        <a href="../Corporate/MyAccount">Profile</a>

                    }

                </li>
                <li>

                    @if (Session["BillingLockingStatus"] == "0")
                    {

                        <a href="#">Users</a>

                    }
                    else
                    {
                        <a href="../Corporate/GetUsers">Users</a>
                    }


                </li>
                <li>
                    @if (Session["BillingLockingStatus"] == "0")
                    {

                        <a href="#">Preferences</a>

                    }
                    else
                    {

                        <a href="../Corporate/MyPreferences">Preferences</a>
                    }


                </li>
                <li>
                    @if (Session["BillingLockingStatus"] == "0")
                    {
                        <a href="#">Forms</a>

                    }
                    else
                    {
                        <a href="../Corporate/MyForms">Forms</a>

                    }


                </li>
            </ul>
        </div>
    </div>
</body>
</html>
