﻿<table border="0" cellspacing="1" width="170px" id="uControl">
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath +"arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                           <a href="../Corporate/BillingStatements">My Statements</a>
               
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath +"arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                             <a href="../Corporate/AccountHistory" style="display:none;">Account History</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath +"arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                          <a href="../Corporate/MyAccount">My Profile</a>
               
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>