﻿@using Emerge.Common;
        <table width="170px" cellspacing="1" id="uControl" border="0">
<tr>
                <td>
                    <table>
                        <tr>
                            <td width="3px">
                                <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                            </td>
                            <td align="left">
                                  <a href="../Corporate/BillingStatements">My Statements</a>
                           
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="3px">
                             <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                            </td>
                            <td align="left">
                                <a href="../Corporate/AccountHistory" style="display:none;">Account History</a>
                             
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="3px">
                                <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                            </td>
                            <td align="left">
                                  <a href="../Corporate/MyReports">My Reports</a>
                          
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="3px">
                               <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                            </td>
                            <td align="left">
                                  <a href="../Corporate/MyAccount">My Profile</a>
                             
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="3px">
                               <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                            </td>
                            <td align="left">
                                  <a href="../Corporate/GetUsers">My Users</a>
                      
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
         
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="5px">
                              <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                            </td>
                            <td>
                                  <a href="../Corporate/MyPreferences">My Preferences</a>
                            
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="5px">
                               <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                            </td>
                            <td>
                                  <a href="../Corporate/MyForms">My Forms</a>
                             
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    
            