﻿@model Emerge.Models.NewFeatureOpenModel
@using Emerge.Common;
<table cellpadding="0" cellspacing="0">
        <tr bgcolor="#c1d0ef">
            <td align="left" width="50%" valign="middle" style="font-size: 20px; font-weight:bold; padding-left: 10px; height: 35px">
                <div style="float:left; padding-top: 3px;">
                    <img id="img2" src="../Content/themes/base/Images/new_feature.png" alt="" />
                </div>
                <div style="float:left; padding-top: 7px; margin-left:10px;">
                    New Feature 
                </div>     
            </td>
            <td align="right" width="50%; height:100%" valign="middle" style="padding-right: 10px;">
                <div style="font-size: 20px; height:100%; font-weight:bold;">[@Model.CurrentFeature of @Model.Featurecount]</div>
            </td>
        </tr>
        <tr>
         @{string UploadedTitleImage = @Model.TitleImage;}
            <td align="left" width="50%" valign="top">
            
            @if (Model.TitleImage != " " && Model.TitleImage != "")
            {
               <div id="lblFeatureTitleImage"style="float:left; padding-left: 15px; padding-top: 10px;font-size: 14px;">
                      <img src="../Resources/Upload/FeatureFiles/@Model.TitleImage" style="width: 200px; height:50px;"/> </div> 
            }
            else
            {
                      <span style="float:left; padding-left: 15px; padding-top: 10px;font-size: 18px;">@Model.Title</span>
            }
            </td>
            <td align="right" width="50%" valign="top" height="300px" style="padding-top: 15px;" valign="top" rowspan="2">
             @{string UploadedFile=@Model.UploadedFile;}
             
            @{string Ext=UploadedFile.Split('.')[1];}
            @if(Ext== "flv" || Ext == "swf")
            {
                <div style="float:left; height:290px; width:435px;">
                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                            width="100%" height="100%">
                            <param name="movie" value="../Resources/Upload/FeatureFiles/@Model.UploadedFile" />
                            <param name="quality" value="high" />
                            <param name="play" value="false" />
                            <param name="loop" value="false" />
                            <embed src="../Resources/Upload/FeatureFiles/@Model.UploadedFile" width="100%"
                                height="100%" play="false" loop="false" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
                                type="application/x-shockwave-flash"></embed>
                        </object>
                </div>
            }
            else
            {
                
                <div style="float:left;">
                    <img id="ImgFile" src="../Resources/Upload/FeatureFiles/@Model.UploadedFile" alt="" width="435px" height="335px" />
                </div>
            }
            </td>
        </tr>
        <tr>
            <td align="left" height="290px" width="450px" valign="top">
                <div style="float:left; padding-left: 15px; padding-top: 15px;font-size: 14px;">
                    @Model.Description
                </div>
            </td>
           
        </tr>
        <tr>
            <td align="right" colspan="2">
                <img id="enlarge" src="../Content/themes/base/Images/enlarge_new.png" alt="Enlarge" onclick="enlargeVidImg(@Model.FeatureId)" />
            </td>
        </tr>
        <tr>
            <td align="center"valign="middle" colspan="2" style="padding-left:6px;">
                <img alt="Emerge" src="../Content/themes/base/Images/emerge_powered_by.png" />
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" colspan="2">
            @if(Model.IsPrevious==false)
            {
                <img alt="" src="../Content/themes/base/Images/prev_btnnew_off.png" />
            }
            else
            {
                <img alt="" src="../Content/themes/base/Images/prev_btnnew_on.png" onclick="previous(@Model.CurrentFeature-1)" />
            }
            &nbsp;
            @if(Model.IsNext==false)
            {
                <img alt="" id="closefeature" src="../Content/themes/base/Images/next_btnnew_off.png" onclick="CloseFeature();" />
            }
            else
            {
                <img alt="" src="../Content/themes/base/Images/next_btnnew_on.png" onclick="next(@Model.CurrentFeature)" />
            }
            </td>
        </tr>
    </table>
    <div style="display: none;">
    <div id="divEnlarge" style="height: 590px; width: 920px;">
        <table>
            <tr>
                <td style="width: 900px;">
                    <div style="border: #dadada 0px solid; margin: 0; padding: 0; width: 895px; height:560px; text-align: center;"
                        id="VidImgFile">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
    <script type="text/javascript">
        function CloseFeature() {
            $.post('@Url.Action("UpdateViewCount", "Common")', {}, function (Result) {
                $("#closefeature").closest(".k-window-content").data("kendoWindow").close();
                //$("#DivNewFeature").kendoWindow().data("kendoWindow").close();
            });
        }

        function enlargeVidImg(FeatureId) {

            $.post('@Url.Action("LoadFeaturePreview", "Corporate")', { FeatureId: FeatureId }, function (ObjtblFeature) {

                //alert(ObjtblFeature.UploadedFile);
                $("#divEnlarge").kendoWindow();
                var UploadedFile = ObjtblFeature.UploadedFile;
                var Ext = UploadedFile.split('.')[1];


                var FilePath = "../Resources/Upload/FeatureFiles/" + ObjtblFeature.UploadedFile;

                var divImgFile = $("#VidImgFile");
                //alert(divImgFile);
                if (Ext == "flv" || Ext == "swf") {
                    var ObjectFile = "<object classid=\"clsid:D27CDB6E-AE6D-11cf-96B8-444553540000\" width=\"100%\" height=\"100%\">";
                    var Params = "<param name=\"movie\" value=\'" + FilePath + "\' /><param name=\"quality\" value=\"high\" /><param name=\"play\" value=\"false\" />";
                    var Params1 = "<param name=\"loop\" value=\"false\" />";

                    var src = "<embed src=\'" + FilePath + "\' width=\"100%\" height=\"100%\" play=\"false\" loop=\"false\" quality=\"high\" pluginspage=\"http://www.macromedia.com/go/getflashplayer\" type=\"application/x-shockwave-flash\"></embed></object>";

                    divImgFile.html(ObjectFile + Params + Params1 + src);

                }
                else {

                    divImgFile.html('<img src="' + FilePath + '" width=\"885px\" height=\"560px\"/>');
                }

                var kendoWindow = $("#divEnlarge").data("kendoWindow");
                var windowTitle = kendoWindow.title("Preview");

                $("#divEnlarge").data("kendoWindow").center();
                $("#divEnlarge").data("kendoWindow").open();
            });
        }

        function previous(val) {
            $("#feature").load('@Url.Action("LoadFeature", "Common")', { CurrentFeature: val, IsNext: false });
        }

        function next(val) {
            $("#feature").load('@Url.Action("LoadFeature", "Common")', { CurrentFeature: val, IsNext: true });
        }
    </script>