﻿<style>
    .k-window div.k-window-content
    {
        overflow: hidden;
    }
    .officemileston
    {
    }
    .textField1
    {
        border-bottom: #b8b8b8 1px solid;
        border-left: #b8b8b8 1px solid;
        padding-bottom: 3px;
        margin: 0px;
        padding-left: 5px;
        padding-right: 5px;
        background: url(../Content/themes/base/images/TextBox_Background.png) repeat-x 0px 0px;
        height: 17px;
        border-top: #b8b8b8 1px solid;
        border-right: #b8b8b8 1px solid;
        padding-top: 3px;
        width: 150px;
        float: left;
    }
    
    
    .tooltip_1
    {
       
        background-color: #f5f6fa;
        position: absolute;
        z-index: 1000000;
        max-width: 300px;
        -webkit-box-shadow: 0 0 5px #aaa;
        font-size: 12px;
        border-radius: 3px;
        border: 1px solid #767676;
        padding: 4px;
        font-color: #575757;
        font: Arial;
        box-shadow: 0 0 5px #aaa;
    }
    
    
    .ui-menu-item
    {
        z-index: 10000px;
    }
    .ui-autocomplete
    {
        cursor: default;
        position: absolute;
        z-index: 1000000 !important;
    }
</style>
@model Emerge.Models.CallLogModel
@using Emerge.Common;
@if (Model.IsCallLogIcon == true)
{
    if (string.IsNullOrEmpty(ViewBag.PageType))
    {
       
    <div id="divcalllog" style="width: 50px; margin-top: 4px;" align="center">
        <img id="img3" src="@Url.Content(CommonPaths.ImagesPath + "call-log-icon.png")" style="border: none; cursor: pointer;" alt="" onclick="OpenWindow_CallLog();" />
        <input id="hdnIsCallLogOpen" type="hidden" value="@Model.IsCallLogOpen.ToString()" />
    </div>
    }
    <div id="divhdr" style="display: none;">@Html.Raw(Model.CallLogHeader)</div>
    <div id="CallLog" style="display: none; width: 470px">
        <div style="border-color: Black; border-width: 0px; border-style: solid; display: block;">
            <table width="100%" cellspacing="0" border="0" style="height: 370px;">
                <tbody>
                    <tr>
                        <td align="center" valign="top" colspan="2">
                            <table width="100%" cellpadding="2">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div style="float: left;">
                                                @Html.TextBox("ddlCLCompany", "", new { onkeypress = "CallMasterSearch_Click(event,this)", style = "width:392px; height:18px; margin-left:0px; z-index:10000px;", @class = "textField1", @onblur = "UpdateCallLogByCompany()" })
                                                <img src="@Url.Content("~/Content/themes/base/images/searchSmall.png")" title="Search" alt="Search"
                                                        style="cursor: pointer; margin-left:5px" onclick="UpdateCallLogByCompany()"  />
                                                @*<b>Company :&nbsp;</b>
                                                @Html.DropDownListFor(x => x.CallLogCompany, Model.CompanyList, new { id = "ddlCLCompany", style = "width: 200px", onchange = "UpdateCallLogByCompany();" })
                                                <span style="color: Red; display: none;" id="rfvCompany">Required</span>*@
                                                <input id="hdnComapnyStatus" type="hidden" value="@Model.ComapnyStatus.ToString()" />
                                                <input id="hdnCallLogpkCompanyId" type="hidden" value="@Model.CallLogCompany.ToString()" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div style="float: left;">
                                                <div id="milestoneSection">
                                                    @if (Model.PageType != "office")
                                                    {
                                                
                                                        <img id="IconActivated" class="officemileston" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-1-off.png")"  title="File Started" alt="File Started" onclick='UpdateStatusInCallolg(this)' onmouseover="over(this.id)" onmouseout="out(this.id)" />
                                                        <img id="IconLocked" class="officemileston" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-7-off.png")"  title="Locked" alt="Locked" onclick='UpdateStatusInCallolg(this)' onmouseover="over(this.id)" onmouseout="out(this.id)" />
                                                        <img  id="IconPastDue" class="officemileston" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-8-off.png")"  title="Past Due" alt="Past Due" onclick='UpdateStatusInCallolg(this)' onmouseover="over(this.id)" onmouseout="out(this.id)" />
                                                        <img  id="IconInCollection" class="officemileston" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-9-off.png")"  title="InCollection" alt="InCollection" onclick='UpdateStatusInCallolg(this)' onmouseover="over(this.id)" onmouseout="out(this.id)" />
                                                    }
                                                    else
                                                    {
                                                        <img id="IconActivated" class="officemileston" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-1-off.png")"  title="File Started" alt="File Started" onclick='UpdateleadStatusInCallolg(this)' onmouseover="over(this.id)" onmouseout="out(this.id)" />
                                                        <img id="IconPropsalout" class="officemileston" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-2-off.png")"  title="Propsal" alt="Propsal lout" onclick='UpdateleadStatusInCallolg(this)' onmouseover="over(this.id)" onmouseout="out(this.id)" />
                                                        <img  id="IconAgreementOut" class="officemileston" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-3-off.png")"  title="AgreementOut" alt="Past Due" onclick='UpdateleadStatusInCallolg(this)' onmouseover="over(this.id)" onmouseout="out(this.id)" />
                                                        <img  id="IconAgreementIn" class="officemileston" src="@Url.Content("~/Content/themes/base/images/emerge-office-milestone-4-off.png")"  title="AgreementIn" alt="AgreementIn" onclick='UpdateleadStatusInCallolg(this)' onmouseover="over(this.id)" onmouseout="out(this.id)" />
                                               
                                                    
                                                    }
                                                </div>

                                              <script type="text/javascript">
                                                                    function over(imgId) {
                                                                       
                                                                       
                                                                        var img = document.getElementById(imgId);
                                                                        if (img != null) {
                                                                            //alert(img.src);
                                                                            var path = img.src;
                                                                            path = path.replace('off.png', 'on.png')
                                                                            img.src = path;
                                                                        }
                                                                        return false;
                                                                    }
                                                                    function out(imgId) {
                                                                        var hdnComapnyStatus = document.getElementById("hdnComapnyStatus");
                                                                        var CompanyStatus = hdnComapnyStatus.value;
                                                                        
                                                                        
                                                                        var img = document.getElementById(imgId);
                                                                        if (img != null) {
                                                                            //alert(img.src);
                                                                            var path = img.src;
                                                                            path = path.replace('on.png', 'off.png')
                                                                            img.src = path;
                                                                        }
                                                                        SetPreiviousMilestone(CompanyStatus);
                                                                        return false;

                                                                    }


                                                                    function SetPreiviousMilestone(CompanyStatus) {

                                                                        if (CompanyStatus == 2) {
                                                                            //locked
                                                                            var IconIconPropsalout = document.getElementById("IconPropsalout").src;
                                                                            var NewIconPropsaloutSrc = IconIconPropsalout.replace("off.", "on.");
                                                                            document.getElementById("IconPropsalout").src = NewIconPropsaloutSrc;
                                                                        }
                                                                        else if (CompanyStatus == 3) {
                                                                            //locked
                                                                            var IconIconAgreementOutSrc = document.getElementById("IconAgreementOut").src;
                                                                            var NewIconAgreementOutSrc = IconIconAgreementOutSrc.replace("off.", "on.");
                                                                            document.getElementById("IconAgreementOut").src = NewIconAgreementOutSrc;
                                                                            var IconIconPropsalout = document.getElementById("IconPropsalout").src;
                                                                            var NewIconPropsaloutSrc = IconIconPropsalout.replace("off.", "on.");
                                                                            document.getElementById("IconPropsalout").src = NewIconPropsaloutSrc;
                                                                        }
                                                                        else if (CompanyStatus == 4) {
                                                                            var IconIconAgreementOutSrc = document.getElementById("IconAgreementOut").src;
                                                                            var NewIconAgreementOutSrc = IconIconAgreementOutSrc.replace("off.", "on.");
                                                                            document.getElementById("IconAgreementOut").src = NewIconAgreementOutSrc;
                                                                            var IconIconPropsalout = document.getElementById("IconPropsalout").src;
                                                                            var NewIconPropsaloutSrc = IconIconPropsalout.replace("off.", "on.");
                                                                            document.getElementById("IconPropsalout").src = NewIconPropsaloutSrc;
                                                                            var IconIconAgreementInSrc = document.getElementById("IconAgreementIn").src;
                                                                            var NewIconAgreementInSrc = IconIconAgreementInSrc.replace("off.", "on.");
                                                                            document.getElementById("IconAgreementIn").src = NewIconAgreementInSrc;
                                                                        }
                                                                        else if (CompanyStatus == 6) {
                                                                            //active
                                                                            var IconActivatedSrc = document.getElementById("IconActivated").src;

                                                                            var NewIconActivated = '';
                                                                            if (IconActivatedSrc.indexOf("milestone-1-off") != -1) {
                                                                                NewIconActivated = IconActivatedSrc.replace("1-off.", "5-on.");
                                                                            }
                                                                            else if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {
                                                                                NewIconActivated = IconActivatedSrc.replace("6-off.", "5-on.");
                                                                            }
                                                                            else {
                                                                                NewIconActivated = IconActivatedSrc.replace("5-off.", "5-on.");
                                                                            }
                                                                            document.getElementById("IconActivated").src = NewIconActivated;
                                                                        }
                                                                        else if (CompanyStatus == 7) {
                                                                            //locked
                                                                            var IconLockedSrc = document.getElementById("IconLocked").src;
                                                                            var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                                                                            document.getElementById("IconLocked").src = NewIconLockedSrc;
                                                                        }
                                                                        else if (CompanyStatus == 8) {
                                                                            // pASTDUE
                                                                            var IconPastDueSrc = document.getElementById("IconPastDue").src;
                                                                            var NewIconPastDueSrc = IconPastDueSrc.replace("off.", "on.");
                                                                            document.getElementById("IconPastDue").src = NewIconPastDueSrc;
                                                                            var IconLockedSrc = document.getElementById("IconLocked").src;
                                                                            var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                                                                            document.getElementById("IconLocked").src = NewIconLockedSrc;
                                                                        }
                                                                        else if (CompanyStatus == 9) {
                                                                            //InCollection
                                                                            var IconInCollectionSrc = document.getElementById("IconInCollection").src;
                                                                            var NewIconInCollectionSrc = IconInCollectionSrc.replace("off.", "on.");
                                                                            document.getElementById("IconInCollection").src = NewIconInCollectionSrc;
                                                                            var IconLockedSrc = document.getElementById("IconLocked").src;
                                                                            var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                                                                            document.getElementById("IconLocked").src = NewIconLockedSrc;
                                                                        }
                                                                        else if (CompanyStatus == 10) {
                                                                            // iNACTIVE

                                                                            var IconActivatedSrc = document.getElementById("IconActivated").src;
                                                                            var NewIconActivated = '';
                                                                            if (IconActivatedSrc.indexOf("milestone-1-off") != -1) {
                                                                                NewIconActivated = IconActivatedSrc.replace("1-off.", "6-on.");
                                                                            }
                                                                            else if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {
                                                                                NewIconActivated = IconActivatedSrc.replace("6-off.", "6-on.");
                                                                            }
                                                                            else {
                                                                                NewIconActivated = IconActivatedSrc.replace("5-off.", "6-on.");
                                                                            }

                                                                            document.getElementById("IconActivated").src = NewIconActivated;
                                                                        }
                                                                    }



                                                                </script>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <b>Comments :&nbsp;</b><br />
                                            <textarea style="width: 95%;" id="txtComments" cols="20" rows="2" name="txtComments"></textarea><br />
                                            <span style="color: Red; display: none;" id="rfvCallLogComment">Required</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center">
                                            <div style="float: inherit; width: 200px;">
                                                <img id="imgsub" src="@Url.Content(CommonPaths.ImagesPath + "submit.jpg")" style="border: none;" alt="Submit" onclick="return AddComments();" />
                                                <img id="LoaderImg" src="@Url.Content(CommonPaths.ImagesPath + "ajax-loader3.gif")" style=" visibility:hidden; height:18px; border: none;" alt="Loader" title="Processing"  />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="border: 1px solid #cdcdcd;">
                                            <table width="100%" class="BlackHeader">
                                                <tr>
                                                    <td align="left" width="100%">&nbsp; &nbsp;Date <span style=" margin-left:76px">Rep</span></td>
                                                    
                                                </tr>
                                            </table>
                                            <div id="CLComments" style="overflow-y: auto; height: 245px;">
                                                @{Html.RenderAction("LoadCallLogComment", "Common", new { CallLogCompanyId = Model.CallLogCompany });}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
<script type="text/javascript">


    $("#ddlCLCompany").autocomplete({
        source: function (request, response) {
            var CurrentPage = window.location.href;
            var CurrentPage2 = CurrentPage.toString();
            
            var PageType = "main";
            if (CurrentPage2.indexOf("Leads") != -1 || CurrentPage2.indexOf("Leads") != -1) {
                PageType = "office";
            }

            $.getJSON('@Url.Action("CallLogAutoCompleteResult", "Common")', { searchText: request.term, PageType: PageType }, function (data) {

                response(data);
            });
        },
        minLength: 3
    });
    function CallMasterSearch_Click(e, txtSearch) {
        $('.ui-autocomplete').css("visibility", "visible");
        var evt = e ? e : window.event;
        if (evt.keyCode == 13) {
            UpdateCallLogByCompany();
            return false;
        }
    }

    $(document).ready(function () {
        var hdnIsCallLogOpen = document.getElementById("hdnIsCallLogOpen");
        if (hdnIsCallLogOpen != null) {
            var hdnComapnyStatus = document.getElementById("hdnComapnyStatus");
            var CompanyStatus = hdnComapnyStatus.value;
            var hdnSelectedCmpName = document.getElementById("hdnSelectedCmpName").value;
            document.getElementById("ddlCLCompany").value = hdnSelectedCmpName;

            if (hdnComapnyStatus != null) {


                $("#milestoneSection .officemileston").each(function () {

                    var imgscr = this.src;
                    var newsrc = imgscr.replace("on.", "off.");
                    this.src = newsrc;



                })
                var ddlCLCompanyId1 = document.getElementById("ddlCLCompany").value;

                if (ddlCLCompanyId1 != 0 && ddlCLCompanyId1 != "") {

                    ChangeCompanyStausMilstone(CompanyStatus);
                }
                else {

                    document.getElementById("CLComments").innerHTML = '';

                }
            }
        }

        function ChangeCompanyStausMilstone(CompanyStatus) {

            if (CompanyStatus == 2) {
                //locked
                var IconIconPropsalout = document.getElementById("IconPropsalout").src;
                var NewIconPropsaloutSrc = IconIconPropsalout.replace("off.", "on.");
                document.getElementById("IconPropsalout").src = NewIconPropsaloutSrc;
            }
            else if (CompanyStatus == 3) {
                //locked
                var IconIconAgreementOutSrc = document.getElementById("IconAgreementOut").src;
                var NewIconAgreementOutSrc = IconIconAgreementOutSrc.replace("off.", "on.");
                document.getElementById("IconAgreementOut").src = NewIconAgreementOutSrc;
                var IconIconPropsalout = document.getElementById("IconPropsalout").src;
                var NewIconPropsaloutSrc = IconIconPropsalout.replace("off.", "on.");
                document.getElementById("IconPropsalout").src = NewIconPropsaloutSrc;
            }
            else if (CompanyStatus == 4) {
                var IconIconAgreementOutSrc = document.getElementById("IconAgreementOut").src;
                var NewIconAgreementOutSrc = IconIconAgreementOutSrc.replace("off.", "on.");
                document.getElementById("IconAgreementOut").src = NewIconAgreementOutSrc;
                var IconIconPropsalout = document.getElementById("IconPropsalout").src;
                var NewIconPropsaloutSrc = IconIconPropsalout.replace("off.", "on.");
                document.getElementById("IconPropsalout").src = NewIconPropsaloutSrc;
                var IconIconAgreementInSrc = document.getElementById("IconAgreementIn").src;
                var NewIconAgreementInSrc = IconIconAgreementInSrc.replace("off.", "on.");
                document.getElementById("IconAgreementIn").src = NewIconAgreementInSrc;
            }
            else if (CompanyStatus == 6) {
                //active
                var IconActivatedSrc = document.getElementById("IconActivated").src;

                var NewIconActivated = '';
                if (IconActivatedSrc.indexOf("milestone-1-off") != -1) {
                    NewIconActivated = IconActivatedSrc.replace("1-off.", "5-on.");
                }
                else if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {
                    NewIconActivated = IconActivatedSrc.replace("6-off.", "5-on.");
                }
                else {
                    NewIconActivated = IconActivatedSrc.replace("5-off.", "5-on.");
                }
                document.getElementById("IconActivated").src = NewIconActivated;
            }
            else if (CompanyStatus == 7) {
                //locked
                var IconLockedSrc = document.getElementById("IconLocked").src;
                var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                document.getElementById("IconLocked").src = NewIconLockedSrc;
            }
            else if (CompanyStatus == 8) {
                // pASTDUE
                var IconPastDueSrc = document.getElementById("IconPastDue").src;
                var NewIconPastDueSrc = IconPastDueSrc.replace("off.", "on.");
                document.getElementById("IconPastDue").src = NewIconPastDueSrc;
                var IconLockedSrc = document.getElementById("IconLocked").src;
                var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                document.getElementById("IconLocked").src = NewIconLockedSrc;
            }
            else if (CompanyStatus == 9) {
                //InCollection
                var IconInCollectionSrc = document.getElementById("IconInCollection").src;
                var NewIconInCollectionSrc = IconInCollectionSrc.replace("off.", "on.");
                document.getElementById("IconInCollection").src = NewIconInCollectionSrc;
                var IconLockedSrc = document.getElementById("IconLocked").src;
                var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                document.getElementById("IconLocked").src = NewIconLockedSrc;
            }
            else if (CompanyStatus == 10) {
                // iNACTIVE

                var IconActivatedSrc = document.getElementById("IconActivated").src;
                var NewIconActivated = '';
                if (IconActivatedSrc.indexOf("milestone-1-off") != -1) {
                    NewIconActivated = IconActivatedSrc.replace("1-off.", "6-on.");
                }
                else if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {
                    NewIconActivated = IconActivatedSrc.replace("6-off.", "6-on.");
                }
                else {
                    NewIconActivated = IconActivatedSrc.replace("5-off.", "6-on.");
                }

                document.getElementById("IconActivated").src = NewIconActivated;
            }
        }


        //        alert()
        //            $("#milestoneSection .officemileston").each(function () {

        //                var imgscr = this.src;
        //                var newsrc = imgscr.replace("on.", "off.");
        //                this.src = newsrc;


        //            })
        //        }
        if (hdnIsCallLogOpen != null) {

            if (hdnIsCallLogOpen.value == 'True') {
                OpenWindow_CallLog();
            }
        }


        //        $("#ddlCLCompany").kendoDropDownList();
        //        $("#ddlCompanyUsers").kendoDropDownList();

        hovercall();

    });
    // $("#ddlCompanyUsers").kendoDropDownList().data("kendoDropDownList");
    function UpdateStatusInCallolg(e) {
        var ddlCLCompanyId = document.getElementById("ddlCLCompany").value;
        var MilistoneId = e.id;
        var img = e.src;
        var st = img.split("-")[3];
        $("#milestoneSection .officemileston").each(function () {

            var imgscr = this.src;
            var newsrc = imgscr.replace("on.", "off.");
            this.src = newsrc;


        })
        if (ddlCLCompanyId != 0) {
            if (img.indexOf("-off.png") != -1) {
                var CurrentPage = window.location.href;
                var CurrentPage2 = CurrentPage.toString();
                var PageType = "main";
                if (CurrentPage2.indexOf("Leads") != -1 || CurrentPage2.indexOf("Leads") != -1) {
                    PageType = "office";
                }
                $.post('@Url.Action("UpdateCompanyStatusByCallLog", "Common")', { IsEnable: "false", Status: st, CompanyId: ddlCLCompanyId, ButtonId: st, PageType: PageType }, function (data) {
                   
                    $("#CLComments").load('@Url.Action("LoadCallLogComment", "Common")', { CallLogCompanyId: ddlCLCompanyId });
                    var newimgsrc = img.replace("-off.png", "-on.png")
                    document.getElementById(MilistoneId).src = newimgsrc;
                    if (st == 9 || st == 8) {
                        var IconLockedSrc = document.getElementById("IconLocked").src;
                        var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                        document.getElementById("IconLocked").src = NewIconLockedSrc;
                    }




                });

            }
            else {

                var CurrentPage = window.location.href;
                var CurrentPage2 = CurrentPage.toString();
                var PageType = "main";
                if (CurrentPage2.indexOf("Leads") != -1 || CurrentPage2.indexOf("Leads") != -1) {
                    PageType = "office";
                }
                $.post('@Url.Action("UpdateCompanyStatusByCallLog", "Common")', { IsEnable: "false", Status: st, CompanyId: ddlCLCompanyId, ButtonId: st, PageType: PageType }, function (data) {
                    $("#CLComments").load('@Url.Action("LoadCallLogComment", "Common")', { CallLogCompanyId: ddlCLCompanyId });
                    var newimgsrc = img.replace("-on.png", "-off.png")
                    document.getElementById(MilistoneId).src = newimgsrc;
                    if (st == 9 || st == 8) {
                        var IconLockedSrc = document.getElementById("IconLocked").src;
                        var NewIconLockedSrc = IconLockedSrc.replace("on.", "off.");
                        document.getElementById("IconLocked").src = NewIconLockedSrc;
                    }


                });
            }
        }
        else {
            alert("Please Select Company");
        }

    }
    function UpdateleadStatusInCallolg(e) {
        var ddlCLCompanyId = document.getElementById("ddlCLCompany").value;
        var PreviousStatus = document.getElementById("hdnComapnyStatus").value;

        var MilistoneId = e.id;
        var img2 = e.src;
        var img = img2.toString();
        var st = img.split("-")[3];
        var OldImg = '';
        var NewImg = '';
        if (img.indexOf("-off.png") != -1) {
            OldImg = "off.";
            NewImg = "on.";
        }
        else {

            OldImg = "on.";
            NewImg = "off.";
        }
        $("#milestoneSection .officemileston").each(function () {

            var imgscr = this.src;
            var newsrc = imgscr.replace("on.", "off.");
            this.src = newsrc;


        })
        if (ddlCLCompanyId != 0) {
            $.post('@Url.Action("UpdateLeadMilestoneInCallLog", "office")', { CompanyId: ddlCLCompanyId, NewStatus: st, PreviousStatus: PreviousStatus }, function (data) {
                $("#CLComments").load('@Url.Action("LoadCallLogComment", "Common")', { CallLogCompanyId: ddlCLCompanyId });
               
                if (st == 2) {

                    //locked
                    var IconIconPropsalout = document.getElementById("IconPropsalout").src;
                    var NewIconPropsaloutSrc = IconIconPropsalout.replace(OldImg, NewImg);
                    document.getElementById("IconPropsalout").src = NewIconPropsaloutSrc;

                }
                else if (st == 3) {
                    //locked

                    var IconIconAgreementOutSrc = document.getElementById("IconAgreementOut").src;
                    var NewIconAgreementOutSrc = IconIconAgreementOutSrc.replace(OldImg, NewImg);
                    document.getElementById("IconAgreementOut").src = NewIconAgreementOutSrc;
                    var IconIconPropsalout = document.getElementById("IconPropsalout").src;
                    var NewIconPropsaloutSrc = IconIconPropsalout.replace(OldImg, NewImg);
                    document.getElementById("IconPropsalout").src = NewIconPropsaloutSrc;
                }
                else if (st == 4) {
                    var IconIconAgreementOutSrc = document.getElementById("IconAgreementOut").src;
                    var NewIconAgreementOutSrc = IconIconAgreementOutSrc.replace(OldImg, NewImg);
                    document.getElementById("IconAgreementOut").src = NewIconAgreementOutSrc;
                    var IconIconPropsalout = document.getElementById("IconPropsalout").src;
                    var NewIconPropsaloutSrc = IconIconPropsalout.replace(OldImg, NewImg);
                    document.getElementById("IconPropsalout").src = NewIconPropsaloutSrc;
                    var IconIconAgreementInSrc = document.getElementById("IconAgreementIn").src;
                    var NewIconAgreementInSrc = IconIconAgreementInSrc.replace(OldImg, NewImg);
                    document.getElementById("IconAgreementIn").src = NewIconAgreementInSrc;
                }
            });
        }
        else {
            alert("Please Select Lead");
        }

    }

    function OpenWindow_CallLog() {
        document.getElementById("CallLog").style.display = "block";
        var divhdr = document.getElementById("divhdr");
        //var imgCallLogHdr = '<span class="imgCallLog"></span>';
        var windowOpen = $("#CallLog").kendoWindow({
            actions: ["Close"],
            draggable: true,
            height: "480px",
            modal: false,
            resizable: false,
            title: "Call Log",
            width: "470px",
            close: onClose,
            dragstart: onDrastart


        }).data("kendoWindow");
        windowOpen.center();
        windowOpen.open();
        //$('.k-window-title').html(divhdr.innerHTML)
    }

    function onDrastart() {
        $('.ui-autocomplete').css("visibility", "hidden");

    }

    function UpdateCallLogByCompany() {
        var SelectedComany = document.getElementById("ddlCLCompany");
        var CurrentPage = window.location.href;
        var CurrentPage2 = CurrentPage.toString();
        var PageType = "main";
        if (CurrentPage2.indexOf("Leads") != -1 || CurrentPage2.indexOf("Leads") != -1) {
            PageType = "office";
        }

        if (SelectedComany.value != null || SelectedComany.value == " ") {
            var CompanyName = SelectedComany.value;
            //            var CompanyId = document.getElementById("SelectedComany").options[document.getElementById("SelectedComany").selectedIndex].value;
            //            if (CompanyId != 0) {
            //                document.getElementById("rfvCompany").style.display = "none";
            $("#CLComments").load('@Url.Action("LoadUpdatedCallLogComment", "Common")', { CompanyName: CompanyName, PageType: PageType });
            // }

            $.post('@Url.Action("GetCompanyUserByCompanyId", "Common")', { CompanyName: CompanyName, PageType: PageType }, function (result) {


                $("#milestoneSection .officemileston").each(function () {

                    var imgscr = this.src;
                    var newsrc = imgscr.replace("on.", "off.");
                    this.src = newsrc;


                })
                document.getElementById("hdnCallLogpkCompanyId").value = result.pkCompanyId;
                document.getElementById("hdnComapnyStatus").value = result.CompanyStatus;
                if (result.CompanyStatus == -1) {
                    document.getElementById("CLComments").innerHTML = '';
                }
                else if (result.CompanyStatus == 2) {
                    //locked
                    var IconIconPropsalout = document.getElementById("IconPropsalout").src;
                    var NewIconPropsaloutSrc = IconIconPropsalout.replace("off.", "on.");
                    document.getElementById("IconPropsalout").src = NewIconPropsaloutSrc;
                }
                else if (result.CompanyStatus == 3) {
                    //locked
                    var IconIconAgreementOutSrc = document.getElementById("IconAgreementOut").src;
                    var NewIconAgreementOutSrc = IconIconAgreementOutSrc.replace("off.", "on.");
                    document.getElementById("IconAgreementOut").src = NewIconAgreementOutSrc;
                    var IconIconPropsalout = document.getElementById("IconPropsalout").src;
                    var NewIconPropsaloutSrc = IconIconPropsalout.replace("off.", "on.");
                    document.getElementById("IconPropsalout").src = NewIconPropsaloutSrc;
                }
                else if (result.CompanyStatus == 4) {
                    var IconIconAgreementOutSrc = document.getElementById("IconAgreementOut").src;
                    var NewIconAgreementOutSrc = IconIconAgreementOutSrc.replace("off.", "on.");
                    document.getElementById("IconAgreementOut").src = NewIconAgreementOutSrc;
                    var IconIconPropsalout = document.getElementById("IconPropsalout").src;
                    var NewIconPropsaloutSrc = IconIconPropsalout.replace("off.", "on.");
                    document.getElementById("IconPropsalout").src = NewIconPropsaloutSrc;
                    var IconIconAgreementInSrc = document.getElementById("IconAgreementIn").src;
                    var NewIconAgreementInSrc = IconIconAgreementInSrc.replace("off.", "on.");
                    document.getElementById("IconAgreementIn").src = NewIconAgreementInSrc;
                }

                else if (result.CompanyStatus == 6) {
                    //active
                    var IconActivatedSrc = document.getElementById("IconActivated").src;

                    var NewIconActivated = '';
                    if (IconActivatedSrc.indexOf("milestone-1-off") != -1) {
                        NewIconActivated = IconActivatedSrc.replace("1-off.", "5-on.");
                    }
                    else if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {
                        NewIconActivated = IconActivatedSrc.replace("6-off.", "5-on.");
                    }
                    else {
                        NewIconActivated = IconActivatedSrc.replace("5-off.", "5-on.");
                    }
                    document.getElementById("IconActivated").src = NewIconActivated;
                }
                else if (result.CompanyStatus == 7) {
                    //locked
                    var IconLockedSrc = document.getElementById("IconLocked").src;
                    var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                    document.getElementById("IconLocked").src = NewIconLockedSrc;
                }
                else if (result.CompanyStatus == 8) {
                    // pASTDUE
                    var IconPastDueSrc = document.getElementById("IconPastDue").src;
                    var NewIconPastDueSrc = IconPastDueSrc.replace("off.", "on.");
                    document.getElementById("IconPastDue").src = NewIconPastDueSrc;
                    var IconLockedSrc = document.getElementById("IconLocked").src;
                    var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                    document.getElementById("IconLocked").src = NewIconLockedSrc;
                }
                else if (result.CompanyStatus == 9) {
                    //InCollection
                    var IconInCollectionSrc = document.getElementById("IconInCollection").src;
                    var NewIconInCollectionSrc = IconInCollectionSrc.replace("off.", "on.");
                    document.getElementById("IconInCollection").src = NewIconInCollectionSrc;
                    var IconLockedSrc = document.getElementById("IconLocked").src;
                    var NewIconLockedSrc = IconLockedSrc.replace("off.", "on.");
                    document.getElementById("IconLocked").src = NewIconLockedSrc;
                }
                else if (result.CompanyStatus == 10) {
                    // iNACTIVE

                    var IconActivatedSrc = document.getElementById("IconActivated").src;
                    var NewIconActivated = '';
                    if (IconActivatedSrc.indexOf("milestone-1-off") != -1) {
                        NewIconActivated = IconActivatedSrc.replace("1-off.", "6-on.");
                    }
                    else if (IconActivatedSrc.indexOf("milestone-6-off") != -1) {
                        NewIconActivated = IconActivatedSrc.replace("6-off.", "6-on.");
                    }
                    else {
                        NewIconActivated = IconActivatedSrc.replace("5-off.", "6-on.");
                    }

                    document.getElementById("IconActivated").src = NewIconActivated;
                }



            })
        }
        else {
            alert("Please Enter Company Information");
        }

        hovercall();

    }



    function AddComments() {
        var ddlCLCompany = document.getElementById("hdnCallLogpkCompanyId");
        var SelectedMilestone = ' '

        if (ddlCLCompany != null) {
            var CompanyId = ddlCLCompany.value;

            var CompanyName = document.getElementById("ddlCLCompany").value;
            if (CompanyId != 0) {

                var Comments = document.getElementById("txtComments").value;
                if (Comments != '') {
                    document.getElementById("rfvCallLogComment").style.display = "none";

                    var CurrentPage = window.location.href;
                    var CurrentPage2 = CurrentPage.toString();
                    var PageType = "main";
                    if (CurrentPage2.indexOf("Leads") != -1 || CurrentPage2.indexOf("Leads") != -1) {
                        PageType = "office";
                    }
                    $.post('@Url.Action("AddCommentToCallLog", "Common")', { CompanyId: CompanyId, Comments: Comments, SelectedMilestone: SelectedMilestone, PageType: PageType }, function (data) {
                        if (data != null) {
                            if (data.Message != "0") {
                                $("#CLComments").load('@Url.Action("LoadUpdatedCallLogComment", "Common")', { CompanyName: CompanyName, PageType: PageType });
                                $("#txtComments").val('')
                            }
                            else {
                            }
                        }
                    });
                }
                else {
                    document.getElementById("rfvCallLogComment").style.display = "block";
                }
            }
            else {
                // document.getElementById("rfvCompany").style.display = "block";
            }
        }
    }


    function SupportTicket() {

        var ddlpkCompanyId = document.getElementById("ddlCLCompany").value;
        var e = document.getElementById("ddlCLCompany")
        var ddlCompanyUser = document.getElementById("ddlCompanyUsers").value;
        var txtComments = document.getElementById("txtComments").value;
        var CompanyName = e.options[e.selectedIndex].text; ;

        if (ddlpkCompanyId != 0) {

            if (ddlCompanyUser != "-1") {
                if (txtComments != "") {
                    document.getElementById("LoaderImg").style.visibility = "visible";
                    $.post('@Url.Action("SendEmailToSupprtAndUser", "Common")', { ddlpkCompanyId: ddlpkCompanyId, ddlCompanyUser: ddlCompanyUser, txtComments: txtComments, CompanyName: CompanyName }, function (data) {
                        document.getElementById("LoaderImg").style.visibility = "hidden";
                        alert(data.Msg);
                        AddComments();
                    });

                }
                else {
                    alert("Please Add Comments");
                }
            }
            else {

                alert("Select User");

            }
        }
        else {
            alert("Select Company First");
        }

    }
    var IsOpenPOPUP = "false";
    function onClose(e) {
        IsOpenPOPUP = "false";
        $('.ui-autocomplete').css("visibility", "hidden");
        $.post('@Url.Action("setProfileCallLogCompany", "Common")', { CallLogCompanyId: "" }, function (data) {
            if (data != null) {
            }
        });
        if ($("#callogchkd").val() == "1") {
            var window = $("#CallLog").kendoWindow({}).data("kendoWindow");
            window.close();
            window.element.remove();
            window.destroy();
        }
    }

    

    function hovercall() {

        var readyState_CheckInterval = setInterval(function () {
            if ($(".simpleTooltip1").is(':visible')) {
                clearInterval(readyState_CheckInterval);
                var body = document.getElementsByTagName('body')[0];
                var temp = "";
                var i = 0;
                $('.simpleTooltip1').hover(function () {

                    var title = $(this).attr('title');
                    if (title !=null) {
                        $('<p class="tooltip_1"></p>')
               .text(title)
              .appendTo(body)
              .fadeIn('slow');
                    }
                    $(this).attr('title', '');
                    $(this).data('tipText', title).removeAttr('title');

                }, function () {
                    $(this).attr('title', $(this).data('tipText'));
                    $(".tooltip_1").each(function () {
                        $(this).remove();
                    });


                }).mousemove(function (e) {
                    var mousex = e.pageX + 10;
                    var mousey = e.pageY + 10;
                    $('.tooltip_1')
        .css({ top: mousey, left: mousex })
                });


            }

        }, 1500);
    }


</script>
