﻿@using Emerge.Common;
        <table width="170px" cellspacing="1" id="uControl" border="0">
        <tr>
                <td>
                    <table>
                        <tr>
                            <td width="3px">
                                <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                            </td>
                            <td align="left">
                                  <a href="#">My Statements</a>
                           
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="3px">
                             <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                            </td>
                            <td align="left">
                                <a href="#" style="display:none;">Account History</a>
                             
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="3px">
                                <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                            </td>
                            <td align="left">
                                  <a href="#">My Reports</a>
                          
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="3px">
                               <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                            </td>
                            <td align="left">
                                  <a href="#">My Profile</a>
                             
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="3px">
                               <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                            </td>
                            <td align="left">
                                  <a href="#">My Users</a>
                      
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
         
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="5px">
                              <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                            </td>
                            <td>
                                  <a href="#">My Preferences</a>
                            
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td width="5px">
                               <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                            </td>
                            <td>
                                  <a href="#">My Forms</a>
                             
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    
            