﻿<table border="0" cellspacing="1" width="170px" id="uControl">
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath +"arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                            <a href="#">My Statements</a>
               
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="display: none;">
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath +"arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="#" style="display:none;">Account History</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath +"arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                            <a href="#">My Reports</a>
                 
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath +"arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                            <a href="#">My Profile</a>
               
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath +"arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                            <a href="#">My Users</a>
              
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath +"arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                            <a href="#">My Preferences</a>
                 
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath +"arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                      <a href="#">My Forms</a>
                  
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(Emerge.Common.CommonPaths.ImagesPath +"arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                    <a href="#">My References</a>
                      
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>