﻿<style>
    .newfature
    {
        float: left;
        font-family: arial;
        font-size: 16px;
        color: #fff;
        margin-top: .1%;
        font-weight: bold;
    }
</style>
<div style="display: none;">
    <div id="alertpopupwindow">
        <div style="height: auto; overflow: auto; overflow-x: hidden;">
            <table width="700px">
                <tr>
                    <td align="center">
                        <span id="spnbody"></span>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <img type="button" src="@Url.Content("~/Content/themes/base/images/green_button_new.png")"  onclick="close_popup();" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="divFeaturePreview" style="height: 690px; width: 810px;">
        <table style="margin-top: 3%; width: 100%;">
            <tr>
                <td>
                    <center>
                        <div style="margin-top: 2%; height: 40px;">
                            <div>
                                <label id="lblFTitle" style="font-size: 25px; color: #706e70;">
                                </label>
                                <div id="divTitleImage">
                                </div>
                            </div>
                        </div>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                        <div id="divImgvideo" style="margin-top: 2%; height: 350px;">
                            <div id="VideoDiv" style="width: 100%; height: 100%; display: none;">
                                <object id="VideoTag" type="application/x-shockwave-flash" data="" style="width: 80%;
                                    height: 350px; margin: 0px 5%;">
                                    <param name="allowfullscreen" value="false" />
                                    <param name="allowscriptaccess" value="always" />
                                    <param name="wmode" value="opaque" />
                                    <param name="quality" value="high" />
                                    <param name="menu" value="false" />
                                </object>
                            </div>
                            <div id="ImageDiv" onclick="enlargeVidImg()" style="width: 100%; height: 100%; display: none;">
                            </div>
                        </div>
                    </center>
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                        <div style="margin-top: 2%;">
                            <label id="LblDescription" style="font-size: 18px; color: #706e70;">
                            </label>
                        </div>
                    </center>
                </td>
            </tr>
        </table>
        <div style="width: 100%;">
            <div style="float: right;">
                <img id="enlarge" src="@Url.Content("~/Content/themes/base/Images/enlarge_new.png")" alt="Enlarge" onclick="enlargeVidImg()" style="display:none;" />
                <input type="text" id="temptextbox" style="display: none;" />
            </div>
        </div>
        <div style="width: 100%;">
            <center>
                <div style="margin-top: 5%;">
                    <img type="button" src="@Url.Content("~/Content/themes/base/images/green_button_new.png")"  onclick="close_popup_alertss();" /></div>
            </center>
        </div>
    </div>
</div>
<div style="display: none;">
    <div id="divEnlarge" style="height: 700px; width: 920px;">
        <table>
            <tr>
                <td style="width: 900px;">
                    <div style="border: #dadada 0px solid; margin: 0; padding: 0; width: 895px; height: 560px;
                        text-align: center;" id="VidImgFile">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width: 100%;">
                        <center>
                            <div style="margin-top: 5%;">
                                <img type="button" src="@Url.Content("~/Content/themes/base/images/green_button_new.png")"  onclick="close_popup_preview_enlarge();" /></div>
                        </center>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">


    if (jQuery.browser.msie) {
        $("#emerge-logo001").css("margin-top", "3px");
    }

    function ShowAlertspopup(AlertType, AlertTypeId, pkAlertId) {
        debugger;
        //  document.getElementById("temptextbox").value = AlertTypeId;
        if (AlertType == 3) {

            $.post('@Url.Action("RemoveentryfromAlerts", "Home")', { pkAlertId: pkAlertId }, function (Data) { });

            $.post('@Url.Action("LoadFeaturePreview", "Corporate")', { FeatureId: AlertTypeId }, function (ObjtblFeature) {
                $("#divFeaturePreview").kendoWindow({
                    draggable: true,
                    modal: true,
                    resizable: true
                }).data("kendoWindow");
                var UploadedTitleImage = ObjtblFeature.UploadedTitleImage;
                var TitleText = ObjtblFeature.Title;
                if (UploadedTitleImage != "" && UploadedTitleImage != null) {
                    document.getElementById("divTitleImage").innerHTML = ' <img src="' + UploadedTitleImage + '" />'
                }
                else {
                    document.getElementById('lblFTitle').innerHTML = ObjtblFeature.Title;
                }


                document.getElementById("LblDescription").innerHTML = ObjtblFeature.Description;
                var UploadedFile = ObjtblFeature.UploadedFile;
                var Ext = UploadedFile.split('.')[1];

                var FilePath = "../Resources/Upload/FeatureFiles/" + ObjtblFeature.UploadedFile;

                var divImgFile = $("#divImgvideo");
                if (Ext == "flv" || Ext == "swf") {

                    var temp = $("#VideoTag");
                    temp[0].data = FilePath;
                    $("#VideoDiv").css("display", "block");
                    $("#ImageDiv").css("display", "none");
                }
                else {
                    $("#VideoDiv").css("display", "none");
                    $("#ImageDiv").css("display", "block");
                    $("#ImageDiv").html('<img src="' + ObjtblFeature.UploadedFile + '" />');
                }


                var kendoWindow = $("#divFeaturePreview").data("kendoWindow");
                var windowTitle = kendoWindow.title("Feature Preview");
                $('div[class="k-window-titlebar k-header"]').replaceWith('<div class=k-window-titlebar k-header style=width:100.3%;margin-left:-1px;background-color:#d70302;height:23px;;border-bottom:#d70302;><div style=float:left;margin-left:1%;margin-top:2px ><span class=newfature>New Feature</span></div><div style=float:right;margin-right:3%;><span style="margin-top:3px" class="newfature">powered by</span><img height=17px; id="emerge-logo001" style=margin-top:5px;margin-left:2%; src=../Content/themes/base/Images/emerge-logo-img-small01.png /> </div></div>');
                //  $('div[class="k-window-titlebar k-header"]').replaceWith('<div class=k-window-titlebar k-header style=width:100%;background-color:#d70302;height:25px;;border-bottom:#d70302;><div style=float:left><span>New Feature</span></div><div style=float:right><img height=31px; src=../Content/themes/base/Images/poweredby.jpg /> </div></div>');
                $('div[class="k-window-actions k-header"]').attr('style', 'display:none');

                $("#divFeaturePreview").data("kendoWindow").center();
                $("#divFeaturePreview").data("kendoWindow").open();


            });
            var IsHover = document.getElementById('IsHover');
            IsHover.value = 0;
        }
        else if (AlertType == 4) {
            var pkOrderId = AlertTypeId;
            $.post('@Url.Action("RemoveentryfromAlerts", "Home")', { pkAlertId: pkAlertId }, function (Data) {
                window.location = "ViewReports?_OId=" + pkOrderId;
            });
            var IsHover = document.getElementById('IsHover');
            IsHover.value = 0;
        }
        else {
            $.post('@Url.Action("ShowAlertPopUp", "Home")', { AType: AlertType, ATypeId: AlertTypeId, pkAlertId: pkAlertId }, function (Data) {
                $("#spnbody").html(Data.Msgbody);
                var windowOpen = $("#alertpopupwindow").kendoWindow({
                    draggable: true,
                    height: "auto",
                    modal: true,
                    resizable: true,
                    width: "700px"
                }).data("kendoWindow");
                windowOpen.center();
                windowOpen.open();
                $('div[class="k-window-actions k-header"]').attr('style', 'display:none');


                $("#alertpopupwindow").data("kendoWindow").title(Data.Header);

            });




            var IsHover = document.getElementById('IsHover');
            IsHover.value = 0;
        }
    }

    function close_popup_alertss() { $("#divFeaturePreview").data("kendoWindow").close(); }
    function close_popup_preview_enlarge() { $("#divEnlarge").data("kendoWindow").close(); }
    function close_popup() { $("#alertpopupwindow").data("kendoWindow").close(); }
    function enlargeVidImg() {


        $.post('@Url.Action("LoadFeaturePreviewForEnlarge", "Corporate")', { FeatureId: document.getElementById("temptextbox").value }, function (ObjtblFeature) {

            //alert(ObjtblFeature.UploadedFile);
            $("#divEnlarge").kendoWindow();
            var UploadedFile = ObjtblFeature.UploadedFile;
            var Ext = UploadedFile.split('.')[1];


            var FilePath = "../Resources/Upload/FeatureFiles/" + ObjtblFeature.UploadedFile;

            var divImgFile = $("#VidImgFile");
            //alert(divImgFile);
            if (Ext == "flv" || Ext == "swf") {
                var ObjectFile = "<object classid=\"clsid:D27CDB6E-AE6D-11cf-96B8-444553540000\" width=\"100%\" height=\"100%\">";
                var Params = "<param name=\"movie\" value=\'" + FilePath + "\' /><param name=\"quality\" value=\"high\" /><param name=\"play\" value=\"false\" />";
                var Params1 = "<param name=\"loop\" value=\"false\" />";

                var src = "<embed src=\'" + FilePath + "\' width=\"100%\" height=\"100%\" play=\"false\" loop=\"false\" quality=\"high\" pluginspage=\"http://www.macromedia.com/go/getflashplayer\" type=\"application/x-shockwave-flash\"></embed></object>";

                divImgFile.html(ObjectFile + Params + Params1 + src);

            }
            else {

                divImgFile.html('<img src="' + ObjtblFeature.UploadedFile + '"/>');
            }

            var kendoWindow = $("#divEnlarge").data("kendoWindow");
            $('div[class="k-window-titlebar k-header"]').replaceWith('<div class=k-window-titlebar k-header style=width:100.3%;margin-left:-1px;background-color:#d70302;height:23px;;border-bottom:#d70302;><div style=float:left;margin-left:1%;margin-top:2px ><span class=newfature>New Feature</span></div><div style=float:right;margin-right:3%;><span style="margin-top:1px" class="newfature">powered by</span><img height=17px; id="emerge-logo001" style=margin-top:5px;margin-left:2%; src=../Content/themes/base/Images/emerge-logo-img-small01.png /> </div></div>');
            $("#divEnlarge").data("kendoWindow").center();
            $("#divEnlarge").data("kendoWindow").open();
        });
    }
    
</script>
