﻿@using Emerge.Common;
<table border="0" cellspacing="1" width="170px" id="uControl">
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../Corporate/MyAccount">My Profile</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../Corporate/MyReports">My Reports</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                     <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../Corporate/GetUsers">My Users</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../Corporate/MyPreferences">My Preferences</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../Corporate/MyForms">My Forms</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
