﻿@model Emerge.Models.CallLogModel
@using Emerge.Common;
<style>
.simpleTooltip1
{
    margin-right:30px;
    }
    .simpleTooltip2
    {
       font-family:inherit;
        font-size:13px;
        }
</style>
<table cellspacing="0" border="0" style="width: 100%; border-collapse: collapse;"
    id="DLCallLog">
    <tr>
        <td><input type="hidden" id="hdnSelectedCmpName" value="@Model.SelectedComapnyName" />
            <table width="100%" style="border: 0px solid #cdcdcd; padding-left: 10px; color: #000000 ; background-color:">
                @if (Model.CallLogCommentList.Count > 0)
                {
                   
                    for (int i = 0; i < Model.CallLogCommentList.Count; i++)
                    {
                        //string trbgcolor = "#f5f5f5";
                        //if (i % 2 == 0 && trbgcolor != "#e0eef5")
                        //{
                        //    trbgcolor = "#e0eef5";
                        //}
                        
                    <tr style="background-color:#f5f5f5">
                        <td align="left" width="100%">
                            <span  id="LblDate-@i">@Model.CallLogCommentList.ElementAt(i).CreatedDate.ToString("MM/dd/yy, hh:mm tt")</span>
                             <span style=" margin-left:20px"  id="LblRep-@i">@Model.CallLogCommentList.ElementAt(i).FirstName.Substring(0, 1).ToUpper()@Model.CallLogCommentList.ElementAt(i).LastName.Substring(0, 1).ToUpper()</span>
                        </td>
                       
                        @*</tr>
                    <tr style="background-color:#e0eef5; min-height:60px; height:35px;">*@
                   
                        <td align="left" style=" padding-left:10px"  >
                        
                            @if (Model.CallLogCommentList.ElementAt(i).LeadComments != null)
                            {

                                string[] stringSeparators = new string[] { "##" };
                                if (Model.CallLogCommentList.ElementAt(i).LeadComments.Contains("##"))
                                {

                                    string[] StatusArr = Model.CallLogCommentList.ElementAt(i).LeadComments.ToString().Split(stringSeparators, StringSplitOptions.RemoveEmptyEntries);
                                    if (StatusArr.Length > 0)
                                    {
                                        string Status = StatusArr[0];

                                        if (Status == "10")
                                        {
                                <img id="img-@i" class="simpleTooltip1"  src="@Url.Content(CommonPaths.ImagesPath + "demo_scheduled.png")" style="border: none;" alt="" title="@Model.CallLogCommentList.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2]" />
                                        }
                                        else if (Status == "11")
                                        {
                                <img id="img-@i" class="simpleTooltip1" src="@Url.Content(CommonPaths.ImagesPath + "document_sent.png")" style="border: none;" alt="" title="Document Sent[@Model.CallLogCommentList.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2].Remove(0, 2)]"  />
                                        }
                                        else if (Status == "12")
                                        {
                                <img id="img-@i" class="simpleTooltip1" src="@Url.Content(CommonPaths.ImagesPath + "QualityControlSurvey.png")" style="border: none;" alt="" title="@Model.CallLogCommentList.ElementAt(i).LeadComments.Replace("##", "#").Split('#')[2]"/>
                                        }
                                        else if (Status == "13")
                                        {
                                <img id="img-@i" class="simpleTooltip1" src="@Url.Content(CommonPaths.ImagesPath + "Demo_Completed.png")" style="border: none;" alt="" title="Demo Completed" />
                                        }
                                        else
                                        {

                                            switch (Status)
                                            {
                                                case "1":
                                <img id="img-@i" class="simpleTooltip1" src="@Url.Content(CommonPaths.ImagesPath + "emerge-office-milestone-" + Status + "-on.png")" style="border: none;" alt="" title="File Started" alt="File Started" /> 
                                                                        break;
                                                case "2":
                                <img id="img-@i" class="simpleTooltip1" src="@Url.Content(CommonPaths.ImagesPath + "emerge-office-milestone-" + Status + "-on.png")" style="border: none;" alt="" title="Proposal Out" alt="Proposal Out"/> 
                                                                        break;
                                                case "3":
                                <img id="img-@i" class="simpleTooltip1" src="@Url.Content(CommonPaths.ImagesPath + "emerge-office-milestone-" + Status + "-on.png")" style="border: none;" alt=""  title="Agreement Out" alt="Agreement Out" />
                                                                        break;
                                                case "4":
                                <img id="img-@i" class="simpleTooltip1" src="@Url.Content(CommonPaths.ImagesPath + "emerge-office-milestone-" + Status + "-on.png")" style="border: none;" alt=""   title="Agreement In" alt="Agreement In" />
                                                                        break;
                                                case "5":
                                <img id="img-@i" class="simpleTooltip1" src="@Url.Content(CommonPaths.ImagesPath + "emerge-office-milestone-" + Status + "-on.png")" style="border: none;" alt=""   title="Activated" alt="Activated" />
                                                                        break;
                                                case "6":
                                <img id="img-@i" class="simpleTooltip1" src="@Url.Content(CommonPaths.ImagesPath + "emerge-office-milestone-" + Status + "-on.png")" style="border: none;" alt=""   title="Account Inactive" alt="Account Inactive" />
                                                                        break;
                                                case "7":
                                <img id="img-@i" class="simpleTooltip1" src="@Url.Content(CommonPaths.ImagesPath + "emerge-office-milestone-" + Status + "-on.png")" style="border: none;" alt="" title="Locked" alt="Locked" />
                                                                        break;
                                                case "8":
                                <img id="img-@i" class="simpleTooltip1" src="@Url.Content(CommonPaths.ImagesPath + "emerge-office-milestone-" + Status + "-on.png")" style="border: none;" alt=""   title="Past Due" alt="Past Due" />
                                                                        break;

                                                case "9":
                                <img id="img-@i" class="simpleTooltip1" src="@Url.Content(CommonPaths.ImagesPath + "emerge-office-milestone-" + Status + "-on.png")" style="border: none;" alt=""  title="In Collections" alt="In Collections" />
                                                                        break;
                                                default:
                                                                        break;
                                            }



                                        }
                                    }

                                }
                                else
                                {





                                }
                            }
                             
                            </tr> 
                    
                            if (!Model.CallLogCommentList.ElementAt(i).LeadComments.Contains("##"))
                            {
                                //if (trbgcolor == "#e0eef5")
                                //{
                                //    trbgcolor = "#f5f5f5";
                                //}
                          <tr style="background-color:#e0eef5; min-height:60px;">
                       
                      
                        @*</tr>
                    <tr style="background-color:#e0eef5; min-height:60px; height:35px;">*@
                   
                        <td colspan="2" align="left" style=""  >
                        
                            @if (Model.CallLogCommentList.ElementAt(i).LeadComments != null)
                            {

                                string[] stringSeparators = new string[] { "##" };
                                if (Model.CallLogCommentList.ElementAt(i).LeadComments.Contains("##"))
                                {



                                }
                                else
                                {



                                    string retstr = string.Empty;
                                    string titleContent = string.Empty;
                                    retstr = Model.CallLogCommentList.ElementAt(i).LeadComments.ToString();
                                    if (retstr.Length > 15)
                                    {
                                        titleContent = retstr.Substring(0, 15);
                                        titleContent += "...";
                                    }
                                    else
                                    {
                                        titleContent = Model.CallLogCommentList.ElementAt(i).LeadComments.ToString();
                                    }
                              <div style="padding:5px">  <span id="LblEntry-@i" class="simpleTooltip2"  title="@titleContent"  style="cursor:pointer;" >@retstr</span></div>
                              
                                }
                            }
                            </tr> 
                     }
                    
                   
                        
                   
                    }
                }
            </table>
        </td>
    </tr>
</table>

