﻿@model Emerge.Models.NewFeatureOpenModel
@if (Model.IsOpenFeature == true)
{
    <div id="DivNewFeature" style="display: none; width: 900px; height: 500px; visibility: hidden;">
        <div id="feature">
            @{Html.RenderAction("LoadFeature", "Common", new { CurrentFeature = 0, IsNext = true });}
        </div>
    </div>
<script type="text/javascript">
    document.getElementById("DivNewFeature").style.visibility = "visible";
    document.getElementById("DivNewFeature").style.display = "block";
    var windowOpen = $("#DivNewFeature").kendoWindow({
        actions: {},
        draggable: false,
        modal: true,
        resizable: false,
        title: false,
        height: "500px",
        width: "904px"
    }).data("kendoWindow");
    windowOpen.center();
    windowOpen.open();
</script>
}