﻿@using Emerge.Common;
<script>

    $(document).ready(function () {

//        $("#EmailService").click(function (e) {
//            e.preventDefault();
//            var retVal = confirm("Do you want to continue ?");
//            if (retVal == true) {
//                var href = $(this).attr("href");
//             // var  href = "../Invoice/SendInvoiceDaily";
//                alert(href);
//                window.location = href;
//            } else {
//                           }
//        });

    });
   
</script>

<table width="170px" cellspacing="1" id="uControl" border="0">
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../Control/AdminSearch">Dashboard</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../Control/GetAllCompanies">Companies</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../Control/GetAllLocations">Locations</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../Control/GetEmergeUsers">Users</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a id="lnkMenuProducts" href="../Control/ManageReports">Products Management</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="5px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td>
                        <a id="lnkMenuContent" href="../Control/EmailTemplate">Content Management</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="5px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td>
                        <a id="lnkMenuBilling" href="../Control/Billing">Billing Management</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="5px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td>
                        <a id="lnkMenuVendors" href="../Control/ManageVendors">Vendors</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>


     <tr>
        <td>
            <table>
                <tr>
                    <td width="5px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td>
                        <a id="EmailService" href="../Invoice/SendInvoiceDaily" >Email Service<sup>new</sup></a> 
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    @*<tr>
        <td>
            <table>
                <tr>
                    <td width="5px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td>
                        <a id="GetAllChatHistory" href="../Control/GetAllChatHistory">Chat Log</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>*@

</table>
<script type="text/javascript">
    if ('@Session["UserRoles"]' != null) {
        var role = 0;
        if ('@((Session["UserRoles"] as string[]).Contains("SupportManager"))'=='True') {
            role = 1;
        }
        else if ('@((Session["UserRoles"] as string[]).Contains("SupportTechnician"))' == 'True') {
            role = 2;
        }
       // alert(role);

        if (role == 1) {
            //alert("hi1");
            $("#lnkMenuContent").attr("disabled", "disabled");
            $("#lnkMenuBilling").attr("disabled", "disabled");
            $("#lnkMenuVendors").attr("disabled", "disabled");
            $("#lnkMenuContent").click(function (e) {
                e.preventDefault();
            })
            $("#lnkMenuBilling").click(function (e) {
                e.preventDefault();
            })
            $("#lnkMenuVendors").click(function (e) {
                e.preventDefault();
            })
        }
        if (role == 2) {
            //alert("hi2");
            $("#lnkMenuContent").attr("disabled", "disabled");
            $("#lnkMenuBilling").attr("disabled", "disabled");
            $("#lnkMenuVendors").attr("disabled", "disabled");
            $("#lnkMenuProducts").attr("disabled", "disabled");
            $("#lnkMenuContent").click(function (e) { e.preventDefault(); })
            $("#lnkMenuBilling").click(function (e) { e.preventDefault(); })
            $("#lnkMenuVendors").click(function (e) { e.preventDefault(); })
            $("#lnkMenuProducts").click(function (e) { e.preventDefault(); })
        }

    }
</script>
