@using Emerge.Common;
<table border="0" cellspacing="1" width="170px" id="uControl">
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../office/AdminSearch">Dashboard</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../office/AdminClients">Clients</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../office/AdminLeads">Leads</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../office/UsersList">Users</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../office/AdminAlerts">Alerts</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
     <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../office/ManageDocuments">Documents</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
     <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../office/SystemTemplates">Content Management</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
     <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../office/AdminSalesReport">Sales Reports</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr> 
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../office/Juno">Juno</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>





















