﻿@using Emerge.Common;
<table border="0" cellspacing="1" width="170px" id="uControl">
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../office/Alerts">Alerts</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../office/MyLeads">Leads</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../office/MyClients">Clients</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../office/SalesReport">Sales Reports</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../office/MyAccount">My Profile</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td width="3px">
                        <img src="@Url.Content(CommonPaths.ImagesPath + "arrowexpand.gif")" alt="" />
                    </td>
                    <td align="left">
                        <a href="../office/Juno">Juno</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>




















