.czDLGIcon{
	padding-right:10px;
	width:32px;
	height:32px;
	padding-bottom:10px;
	background-repeat:no-repeat;
}

.czDLGText{
	padding-right:20px;
	font-weight:bold;
	padding-bottom:10px;
}

.czDLGBtn{
  margin-right:5px;	
  border: 1px solid #666;
  background-color:#0d0d0d; 
  color:#d59eff;
  font-weight:bold;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: 13px;
  padding: 4px 10px;
  outline: 0;
  -webkit-appearance: none;
  cursor:pointer;
  float:right;
}

.czDLGBtn:hover {
  background-color:#1d1d1d; 
}

.czWarning{
	background-image: url('./warning.png');
}	

.czInformation{
	background-image: url('./dlgIcons/information.png');
}

.czConfirm{
	background-image: url('./dlgIcons/confirm.png');
}

.czError{
	background-image: url('./dlgIcons/error.png');
}
.czStop{
	background-image: url('./dlgIcons/stop.png');
}