/*-------- This section contain compressed Icon.css -------------------*/
body
{
    font-size: 12px;
    font-family:Segoe UI,Helvetica,Garuda,Arial,Sans-Serif;
    background-color: #ffffff;
    margin: 0px;
    color: #232323;
}
.adminHeaderlRgt
{
    background: url(../Content/themes/base/images/EmergeOfficeLogo.jpg) no-repeat;
    width: 172px;
    height: 50px;
}
.HelpHeader{font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:bold;background-color:#cccccc;font-size:10px;color:#3b55d2;padding-left:3px;}
.HelpTable
{
    border: solid 1px #cdc3b7;
}
.icon-16-archive
{
    background-image: url(../Content/themes/base/images/menu/icon-16-archive.png);
}
.icon-16-article
{
    background-image: url(../Content/themes/base/images/menu/icon-16-article.png);
}
.icon-16-category
{
    background-image: url(../Content/themes/base/images/menu/icon-16-category.png);
}
.icon-16-checkin
{
    background-image: url(../Content/themes/base/images/menu/icon-16-checkin.png);
}
.icon-16-component
{
    background-image: url(../Content/themes/base/images/menu/icon-16-component.png);
}
.icon-16-config
{
    background-image: url(../Content/themes/base/images/menu/icon-16-config.png);
}
.icon-16-content
{
    background-image: url(../Content/themes/base/images/menu/icon-16-content.png);
}
.icon-16-cpanel
{
    background-image: url(../Content/themes/base/images/menu/icon-16-cpanel.png);
}
.icon-16-default
{
    background-image: url(../Content/themes/base/images/menu/icon-16-default.png);
}
.icon-16-frontpage
{
    background-image: url(../Content/themes/base/images/menu/icon-16-frontpage.png);
}
.icon-16-help
{
    background-image: url(../Content/themes/base/images/menu/icon-16-help.png);
}
.icon-16-info
{
    background-image: url(../Content/themes/base/images/menu/icon-16-info.png);
}
.icon-16-install
{
    background-image: url(../Content/themes/base/images/menu/icon-16-install.png);
}
.icon-16-language
{
    background-image: url(../Content/themes/base/images/menu/icon-16-language.png);
}
.icon-16-logout
{
    background-image: url(../Content/themes/base/images/menu/icon-16-logout.png);
}
.icon-16-massmail
{
    background-image: url(../Content/themes/base/images/menu/icon-16-massmail.png);
}
.icon-16-media
{
    background-image: url(../Content/themes/base/images/menu/icon-16-media.png);
}
.icon-16-menu
{
    background-image: url(../Content/themes/base/images/menu/icon-16-menu.png);
}
.icon-16-menumgr
{
    background-image: url(../Content/themes/base/images/menu/icon-16-menumgr.png);
}
.icon-16-messages
{
    background-image: url(../Content/themes/base/images/menu/icon-16-messages.png);
}
.icon-16-module
{
    background-image: url(../Content/themes/base/images/menu/icon-16-module.png);
}
.icon-16-plugin
{
    background-image: url(../Content/themes/base/images/menu/icon-16-plugin.png);
}
.icon-16-section
{
    background-image: url(../Content/themes/base/images/menu/icon-16-section.png);
}
.icon-16-static
{
    background-image: url(../Content/themes/base/images/menu/icon-16-static.png);
}
.icon-16-stats
{
    background-image: url(../Content/themes/base/images/menu/icon-16-stats.png);
}
.icon-16-themes
{
    background-image: url(../Content/themes/base/images/menu/icon-16-themes.png);
}
.icon-16-trash
{
    background-image: url(../Content/themes/base/images/menu/icon-16-trash.png);
}
.icon-16-user
{
    background-image: url(../Content/themes/base/images/menu/icon-16-user.png);
}
.icon-32-send
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-send.png);
}
.icon-32-delete
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-delete.png);
}
.icon-32-help
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-help.png);
}
.icon-32-cancel
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-cancel.png);
}
.icon-32-config
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-config.png);
}
.icon-32-apply
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-apply.png);
}
.icon-32-back
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-back.png);
}
.icon-32-forward
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-forward.png);
}
.icon-32-save
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-save.png);
}
.icon-32-edit
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-edit.png);
}
.icon-32-copy
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-copy.png);
}
.icon-32-move
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-move.png);
}
.icon-32-new
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-new.png);
}
.icon-32-upload
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-upload.png);
}
.icon-32-assign
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-publish_tick.png);
}
.icon-32-html
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-html.png);
}
.icon-32-css
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-css.png);
}
.icon-32-menus
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-menu.png);
}
.icon-32-publish
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-publish_tick.png);
}
.icon-32-unpublish
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-publish_delete.png);
}
.icon-32-restore
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-revert.png);
}
.icon-32-trash
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-trash.png);
}
.icon-32-archive
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-archive.png);
}
.icon-32-unarchive
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-unarchive.png);
}
.icon-32-preview
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-preview.png);
}
.icon-32-default
{
    background-image: url(../Content/themes/base/images/toolbar/icon-32-default.png);
}
.icon-48-generic
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-generic.png);
}
.icon-48-checkin
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-checkin.png);
}
.icon-48-cpanel
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-cpanel.png);
}
.icon-48-config
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-config.png);
}
.icon-48-module
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-module.png);
}
.icon-48-menu
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-menu.png);
}
.icon-48-menumgr
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-menumgr.png);
}
.icon-48-trash
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-trash.png);
}
.icon-48-user
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-user.png);
}
.icon-48-inbox
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-inbox.png);
}
.icon-48-msgconfig
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-message_config.png);
}
.icon-48-langmanager
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-language.png);
}
.icon-48-mediamanager
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-media.png);
}
.icon-48-plugin
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-plugin.png);
}
.icon-48-help_header
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-help_header.png);
}
.icon-48-impressions
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-stats.png);
}
.icon-48-browser
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-stats.png);
}
.icon-48-searchtext
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-stats.png);
}
.icon-48-thememanager
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-themes.png);
}
.icon-48-massemail
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-massemail.png);
}
.icon-48-frontpage
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-frontpage.png);
}
.icon-48-sections
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-section.png);
}
.icon-48-addedit
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-article-add.png);
}
.icon-48-article
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-article.png);
}
.icon-48-categories
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-category.png);
}
.icon-48-install
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-extension.png);
}
.icon-48-dbbackup
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-backup.png);
}
.icon-48-dbrestore
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-dbrestore.png);
}
.icon-48-dbquery
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-query.png);
}
.icon-48-systeminfo
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-info.png);
}
.icon-48-massemail
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/icon-48-massmail.png);
}
.icon-48-accounthistory
{
    background-image: url(../Content/themes/base/images/icon-48-accounthistory.png);
}
.icon-48-paymenthistory
{
    background-image: url(../Content/themes/base/images/payment-history_button.png);
}
.icon-48-invoicehistory
{
    background-image: url(../Content/themes/base/images/payinvoice1.jpg);
    width: 30;
    height: 50px;
}


.icon-48-email-template
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/email-template.png);
    background-repeat:no-repeat;
    width:48px; height:48px;
}

.icon-48-email-template
{
    background-image: url(../Content/themes/base/images/ControlPanel/images/header/loading-page.png);
}


/*-------- This section contain compressed genaral.css -------------------*/

.clr
{
    clear: both;
    overflow: hidden;
    height: 0;
}
a, img
{
    padding: 0;
    margin: 0;
}
img
{
    border-style: none;
    border-color: inherit;
    border-width: 0;
}
a:link
{
    text-decoration: none;
}
a:visited
{
    color: #0B55C4;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}
button
{
    font-size: 10px;
}
input.disabled
{
    background-color: #F0F0F0;
}
input.button
{
    cursor: pointer;
}
input:focus, select:focus, textarea:focus
{
}
#border-top.h_green
{
    background: url(../Content/themes/base/images/h_green/j_header_middle.png) repeat-x;
}
#border-top.h_green div
{
    background: url(../Content/themes/base/images/h_green/j_header_right.png) 100% 0 no-repeat;
}
#border-top.h_green div div
{
    background: url(../Content/themes/base/images/h_green/j_header_left.png) no-repeat;
    height: 54px;
}
#border-top.h_teal
{
    background: url(../Content/themes/base/images/h_teal/j_header_middle.png) repeat-x;
}
#border-top.h_teal div
{
    background: url(../Content/themes/base/images/h_teal/j_header_right.png) 100% 0 no-repeat;
}
#border-top.h_teal div div
{
    background: url(../Content/themes/base/images/h_teal/j_header_left.png) no-repeat;
    height: 54px;
}
#border-top.h_cherry
{
    background: url(../Content/themes/base/images/h_cherry/j_header_middle.png) repeat-x;
}
#border-top.h_cherry div
{
    background: url(../Content/themes/base/images/h_cherry/j_header_right.png) 100% 0 no-repeat;
}
#border-top.h_cherry div div
{
    background: url(../Content/themes/base/images/h_cherry/j_header_left.png) no-repeat;
    height: 54px;
}
#border-top .title
{
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    line-height: 44px;
    padding-left: 180px;
}
#border-top .version
{
    display: block;
    float: right;
    color: #fff;
    padding: 25px 5px 0 0;
}
#border-bottom
{
    background: url(../Content/themes/base/images/j_bottom.png) repeat-x;
}
#border-bottom div
{
    background: url(../Content/themes/base/images/j_corner_br.png) 100% 0 no-repeat;
}
#border-bottom div div
{
    background: url(../Content/themes/base/images/j_corner_bl.png) no-repeat;
    height: 11px;
}
#footer .copyright
{
    margin: 10px;
    text-align: center;
}
#header-box
{
    border: 1px solid #ccc;
    background: #f0f0f0;
}
#content-box
{
}
#content-box .padding
{
    padding: 10px 0px 10px 0px;
    width: 98%;
    margin: auto;
}
#content-box1
{
}
#content-box1 .padding1
{
    padding: 10px 0px 10px 10px;
}
#toolbar-box
{
    background: #fbfbfb;
    margin-bottom: 10px;
}

#toolbar-box1
{
    background: #fbfbfb;
    margin-bottom: 10px;
}
#submenu-box
{
    background: #f6f6f6;
    margin-bottom: 10px;
}
#submenu-box .padding
{
    padding: 0px;
}
#module-status
{
    float: right;
}
#module-status span
{
    display: block;
    float: left;
    line-height: 16px;
    padding: 4px 10px 0 22px;
    margin-bottom: 5px;
}
#module-status
{
    background: url(../Content/themes/base/images/mini_icon.png) 3px 5px no-repeat;
}
.legacy-mode
{
    color: #c00;
}
#module-status .preview
{
    background: url(../Content/themes/base/images/menu/icon-16-media.png) 3px 3px no-repeat;
}
#module-status .unread-messages, #module-status .no-unread-messages
{
    background: url(../Content/themes/base/images/menu/icon-16-messages.png) 3px 3px no-repeat;
}
#module-status .unread-messages a
{
    font-weight: bold;
}
#module-status .loggedin-users
{
    background: url(../Content/themes/base/images/menu/icon-16-user.png) 3px 3px no-repeat;
}
#module-status .logout
{
    background: url(../Content/themes/base/images/menu/icon-16-logout.png) 3px 3px no-repeat;
}
span.note
{
    display: block;
    background: #ffd;
    padding: 5px;
    color: #666;
}
.ol-foreground
{
    background-color: #ffe;
}
.ol-background
{
    background-color: #6db03c;
}
.ol-textfont
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #666;
}
.ol-captionfont
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #fff;
    font-weight: bold;
}
.ol-captionfont a
{
    color: #0b5fc6;
    text-decoration: none;
}
.ol-closefont
{
}
#NewAccounts img {
    height: 23px !important;
}
div.header {
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 56px;
    background-repeat: no-repeat;
    margin-left: 0px;
    margin-right:0px;
}
.padding-header
{
    padding-left: 20px;
    padding-right: 20px;
}
div.header1
{
    font-size: 22px;
    font-weight: bold;
    color: #0B55C4;
    margin-left: 5px;
    cursor:pointer;
}
div.header span
{
    color: #666;
}
div.configuration
{
    font-size: 14px;
    font-weight: bold;
    color: #0B55C4;
    line-height: 16px;
    padding-left: 30px;
    margin-left: 10px;
    background-image: url(../Content/themes/base/images/menu/icon-16-config.png);
    background-repeat: no-repeat;
}
div.toolbar
{
    margin: 0 5px 0 0;
    float: right;
    text-align: right;
    padding: 7px;
}
table.toolbar
{
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}
table.toolbar td
{
    padding: 1px 1px 1px 4px;
    text-align: center;
    color: #666;
    height: 48px;
}
table.toolbar td.spacer
{
    width: 10px;
}
table.toolbar td.divider
{
    border-right: 1px solid #eee;
    width: 5px;
}
table.toolbar span
{
    float: none;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    display: block;
}

/*table.toolbar a
{
    display: block;
    float: left;
    white-space: nowrap;
    border: 1px solid #fbfbfb;
    padding: 1px 5px;
    cursor: pointer;
}
table.toolbar a
{
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    color: #0B55C4;
}*/
td#mm_pane
{
    width: 90%;
}
input#mm_subject
{
    width: 200px;
}
textarea#mm_message
{
    width: 100%;
}
.pane-sliders .title
{
    margin: 0;
    padding: 2px;
    color: #666;
    cursor: pointer;
}
.pane-sliders .panel
{
    border: 1px solid #ccc;
    margin-bottom: 3px;
}
.pane-sliders .panel h3
{
    background: #f6f6f6;
    color: #666;
}
.pane-sliders .content
{
    background: #f6f6f6;
}
.pane-sliders .adminlist
{
    border: 0 none;
}
.pane-sliders .adminlist td
{
    border: 0 none;
}
.jpane-toggler span
{
    background: transparent url(../Content/themes/base/images/j_arrow.png) 5px 50% no-repeat;
    padding-left: 20px;
}
.jpane-toggler-down span
{
    background: transparent url(../Content/themes/base/images/j_arrow_down.png) 5px 50% no-repeat;
    padding-left: 20px;
}
.jpane-toggler-down
{
    border-bottom: 1px solid #ccc;
}
dl.tabs
{
    float: left;
    margin: 10px 0 -1px 0;
    z-index: 50;
}
dl.tabs dt
{
    float: left;
    padding: 4px 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left: 3px;
    background: #f0f0f0;
    color: #666;
}
dl.tabs dt.open
{
    background: #F9F9F9;
    border-bottom: 1px solid #F9F9F9;
    z-index: 100;
    color: #000;
}
div.current
{
    clear: both;
    border: 1px solid #ccc;
    padding: 10px 10px;
}
div.current dd
{
    padding: 0;
    margin: 0;
}
#cpanel div.icon
{
    text-align: center;
    margin-right: 5px;
    float: left;
    margin-bottom: 5px;
}
#cpanel div.icon a
{
    display: block;
    float: left;
    border: 1px solid #f0f0f0;
    height: 97px;
    width: 108px;
    color: #666;
    vertical-align: middle;
    text-decoration: none;
}
#cpanel div.icon a:hover
{
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f9f9f9;
    color: #0B55C4;
}
#cpanel img
{
    padding: 10px 0;
    margin: 0 auto;
}
#cpanel span
{
    display: block;
    text-align: center;
}
div.col
{
    float: left;
}
div.width-45
{
    width: 45%;
}
div.width-55
{
    width: 55%;
}
div.width-50
{
    width: 50%;
}
div.width-70
{
    width: 70%;
}
div.width-30
{
    width: 30%;
}
div.width-60
{
    width: 60%;
}
div.width-40
{
    width: 40%;
}
table.admintable td
{
    padding: 3px;
}
table.admintable td.key, table.admintable td.paramlist_key
{
    background-color: #f6f6f6;
    text-align: right;
    width: 140px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}
table.paramlist td.paramlist_description
{
    background-color: #f6f6f6;
    text-align: left;
    width: 170px;
    color: #333;
    font-weight: normal;
    border-bottom: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
}
table.admintable td.key.vtop
{
    vertical-align: top;
}
table.adminform
{
    background-color: #f9f9f9;
    border: solid 1px #d5d5d5;
    width: 100%;
    border-collapse: collapse;
    margin: 8px 0 10px 0;
    margin-bottom: 15px;
    width: 100%;
}
table.adminform.nospace
{
    margin-bottom: 0;
}
table.adminform tr.row0
{
    background-color: #f9f9f9;
}
table.adminform tr.row1
{
    background-color: #eeeeee;
}
table.adminform th
{
    font-size: 11px;
    padding: 6px 2px 4px 4px;
    text-align: left;
    height: 25px;
    color: #000;
    background-repeat: repeat;
}
table.adminform td
{
    padding: 3px;
    text-align: left;
}
table.adminform td.filter
{
    text-align: left;
}
table.adminform td.helpMenu
{
    text-align: right;
}
fieldset.adminform
{
    border: 1px solid #ccc;
    margin: 0 10px 10px 10px;
}
table.adminlist
{
    width: 100%;
    border-spacing: 1px;
    background-color: #e7e7e7;
    color: #666;
}
table.adminlist td, table.adminlist th
{
    padding: 4px;
}
table.adminlist thead th
{
    text-align: center;
    background: #f0f0f0;
    color: #666;
    border-bottom: 1px solid #999;
    border-left: 1px solid #fff;
}
table.adminlist thead a:hover
{
    text-decoration: none;
}
table.adminlist thead th img
{
    vertical-align: middle;
}
table.adminlist tbody th
{
    font-weight: bold;
}
table.adminlist tbody tr
{
    background-color: #fff;
    text-align: left;
}
table.adminlist tbody tr.row1
{
    background: #f9f9f9;
    border-top: 1px solid #fff;
}
table.adminlist tbody tr.row0:hover td, table.adminlist tbody tr.row1:hover td
{
    background-color: #ffd;
}
table.adminlist tbody tr td
{
    height: 25px;
    background: #fff;
    border: 1px solid #fff;
}
table.adminlist tbody tr.row1 td
{
    background: #f9f9f9;
    border-top: 1px solid #FFF;
}
table.adminlist tfoot tr
{
    text-align: center;
    color: #333;
}
table.adminlist tfoot td, table.adminlist tfoot th
{
    background-color: #f3f3f3;
    border-top: 1px solid #999;
    text-align: center;
}
table.adminlist td.order
{
    text-align: center;
    white-space: nowrap;
}
table.adminlist td.order span
{
    float: left;
    display: block;
    width: 20px;
    text-align: center;
}
table.adminlist .pagination
{
    display: table;
    padding: 0;
    margin: 0 auto;
}
.pagination div.limit
{
    float: left;
    height: 22px;
    line-height: 22px;
    margin: 0 10px;
}
.container
{
    clear: both;
    text-decoration: none;
}
* html .container
{
    display: inline-block;
}
table.noshow
{
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}
table.noshow tr
{
    vertical-align: top;
}
table.noshow td
{
}
table.noshow fieldset
{
    margin: 15px 7px 7px 7px;
}
#editor-xtd-buttons
{
    padding: 5px;
}
.button1, .button1 div
{
    height: 1%;
    float: right;
}
.button2-left, .button2-right, .button2-left div, .button2-right div
{
    float: left;
}
.button1
{
    background: url(../Content/themes/base/images/j_button1_left.png) no-repeat;
    white-space: nowrap;
    padding-left: 10px;
    margin-left: 5px;
}
.button1 .next
{
    background: url(../Content/themes/base/images/j_button1_next.png) 100% 0 no-repeat;
}
.button1 a
{
    display: block;
    height: 26px;
    float: left;
    line-height: 26px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    padding: 0 30px 0 6px;
}
.button1 a:hover
{
    text-decoration: none;
    color: #0B55C4;
}
.button2-left a, .button2-right a, .button2-left span, .button2-right span
{
    display: block;
    height: 22px;
    float: left;
    line-height: 22px;
    font-size: 11px;
    color: #333;
    cursor: pointer;
}
.button2-left span, .button2-right span
{
    cursor: default;
    color: #999;
}
.button2-left .page a, .button2-right .page a, .button2-left .page span, .button2-right .page span, .button2-left .blank a, .button2-right .blank a, .button2-left .blank span, .button2-right .blank span
{
    padding: 0 6px;
}
.page span, .blank span
{
    color: #000;
    font-weight: bold;
}
.button2-left a:hover, .button2-right a:hover
{
    text-decoration: none;
    color: #0B55C4;
}
.button2-left a, .button2-left span
{
    padding: 0 24px 0 6px;
}
.button2-right a, .button2-right span
{
    padding: 0 6px 0 24px;
}
.button2-left
{
    background: url(../Content/themes/base/images/j_button2_left.png) no-repeat;
    float: left;
    margin-left: 5px;
}
.button2-right
{
    background: url(../Content/themes/base/images/j_button2_right.png) 100% 0 no-repeat;
    float: left;
    margin-left: 5px;
}
.button2-right .prev
{
    background: url(../Content/themes/base/images/j_button2_prev.png) no-repeat;
}
.button2-right.off .prev
{
    background: url(../Content/themes/base/images/j_button2_prev_off.png) no-repeat;
}
.button2-right .start
{
    background: url(../Content/themes/base/images/j_button2_first.png) no-repeat;
}
.button2-right.off .start
{
    background: url(../Content/themes/base/images/j_button2_first_off.png) no-repeat;
}
.button2-left .page, .button2-left .blank
{
    background: url(../Content/themes/base/images/j_button2_right_cap.png) 100% 0 no-repeat;
}
.button2-left .next
{
    background: url(../Content/themes/base/images/j_button2_next.png) 100% 0 no-repeat;
}
.button2-left.off .next
{
    background: url(../Content/themes/base/images/j_button2_next_off.png) 100% 0 no-repeat;
}
.button2-left .end
{
    background: url(../Content/themes/base/images/j_button2_last.png) 100% 0 no-repeat;
}
.button2-left.off .end
{
    background: url(../Content/themes/base/images/j_button2_last_off.png) 100% 0 no-repeat;
}
.button2-left .image
{
    background: url(../Content/themes/base/images/j_button2_image.png) 100% 0 no-repeat;
}
.button2-left .readmore
{
    background: url(../Content/themes/base/images/j_button2_readmore.png) 100% 0 no-repeat;
}
.button2-left .pagebreak
{
    background: url(../Content/themes/base/images/j_button2_pagebreak.png) 100% 0 no-repeat;
}
.button2-left .blank
{
    background: url(../Content/themes/base/images/j_button2_blank.png) 100% 0 no-repeat;
}
.tool-tip
{
    float: left;
    background: #ffc;
    border: 1px solid #D4D5AA;
    padding: 5px;
    max-width: 200px;
    z-index: 50;
}
.tool-title
{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: bold;
    margin-top: -15px;
    padding-top: 15px;
    padding-bottom: 5px;
    background: url(../Content/themes/base/images/selector-arrow.png) no-repeat;
}
.tool-text
{
    font-size: 100%;
    margin: 0;
}
a img.calendar
{
    width: 16px;
    height: 16px;
    margin-left: 3px;
    background: url(../Content/themes/base/images/calendar.png) no-repeat;
    cursor: pointer;
    vertical-align: middle;
}
#system-message dd.message ul
{
    background: #C3D2E5 url(../Content/themes/base/images/notice-info.png) 4px center no-repeat;
}
#system-message dd.error ul
{
    color: #c00;
    background: #E6C0C0 url(../Content/themes/base/images/notice-alert.png) 4px top no-repeat;
    border-top: 3px solid #DE7A7B;
    border-bottom: 3px solid #DE7A7B;
}
#system-message dd.notice ul
{
    color: #c00;
    background: #EFE7B8 url(../Content/themes/base/images/notice-note.png) 4px top no-repeat;
    border-top: 3px solid #F0DC7E;
    border-bottom: 3px solid #F0DC7E;
}
.imgbtnClasspnl
{
    padding: 1px 1px 1px 1px;
}
.imgbtnClasspnl:hover
{
    background-color: #ccc;
}


/*-------- This section contain compressed controlpanel_menu.css -------------------*/

div#toolbar-box
{
    background: #f7f7f7;
}
div#element-box
{
    background: #fafafa;
    margin-top:0;
}
div#element-box div.section-box div.m
{
    background: #ffffff;
}
div#toolbar-box1
{
    background: #f7f7f7;
}
div#element-box1
{
    background: #fafafa;
}
div#element-box1 div.section-box div.m
{
    background: #ffffff;
}
div.t, div.b
{
    height: 6px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-bottom-color:Red;
    
}
div.t1, div.b1
{
    height: 6px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
div.m
{
    border: 1px solid #ccc;
    border-radius:5px;
    margin-bottom:20px;
    padding: 0 0 20px 0 !important;
    background-color: #fff !important;
    /*background-color:#fafafa !important;*/
}
div.m1
{
    border-left: 1px solid #94c0d2;
    border-right: 1px solid #94c0d2;
    padding: 0 8px;
}
div#toolbar-box div.m
{
    padding: 5px !important;
}
div#element-box div.m
{
    padding:0;
}

div#toolbar-box1 div.m
{
    padding: 0;
}
div#element-box1 div.m
{
    padding: 3px 10px;
}
div#submenu-box div.t
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_border.png) 0 0 repeat-x;
}
div#submenu-box div.t div.t
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_tr_dark.png) 100% 0 no-repeat;
}
div#submenu-box div.t div.t div.t
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_tl_dark.png) 0 0 no-repeat;
}
div#submenu-box div.b
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_border.png) 0 100% repeat-x;
}
div#submenu-box div.b div.b
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_br_dark.png) 100% 0 no-repeat;
}
div#submenu-box div.b div.b div.b
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_bl_dark.png) 0 0 no-repeat;
}
div#toolbar-box, div#element-box div.section-box
{
    background: #fbfbfb;
}
div#toolbar-box1, div#element-box div.section-box
{
    background: #fbfbfb;
}
div#toolbar-box div.t, div#element-box div.section-box div.t
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_border.png) 0 0 repeat-x;
}

div#toolbar-box1 div.t, div#element-box div.section-box div.t
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_border.png) 0 0 repeat-x;
}
div#toolbar-box div.t1, div#element-box div.section-box div.t1
{
    background: url(../Content/themes/base/images/j_border1.png) 0 0 repeat-x;
}

div#toolbar-box1 div.t1, div#element-box div.section-box div.t1
{
    background: url(../Content/themes/base/images/j_border1.png) 0 0 repeat-x;
}

div#toolbar-box div.t div.t, div#element-box div.section-box div.t div.t
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_tr_med.png) 100% 0 no-repeat;
}
div#toolbar-box1 div.t div.t, div#element-box div.section-box div.t div.t
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_tr_med.png) 100% 0 no-repeat;
}

div#toolbar-box div.t div.t div.t, div#element-box div.section-box div.t div.t div.t
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_tl_med.png) 0 0 no-repeat;
}

div#toolbar-box1 div.t div.t div.t, div#element-box div.section-box div.t div.t div.t
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_tl_med.png) 0 0 no-repeat;
}
div#toolbar-box div.b, div#element-box div.section-box div.b
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_border.png) 0 100% repeat-x;
}
div#toolbar-box1 div.b, div#element-box div.section-box div.b
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_border.png) 0 100% repeat-x;
}

div#toolbar-box div.b1, div#element-box div.section-box div.b1
{
    background: url(../Content/themes/base/images/j_border1.png) 0 100% repeat-x;
}

div#toolbar-box1 div.b1, div#element-box div.section-box div.b1
{
    background: url(../Content/themes/base/images/j_border1.png) 0 100% repeat-x;
}

div#toolbar-box div.b div.b, div#element-box div.section-box div.b div.b
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_br_med.png) 100% 0 no-repeat;
}

div#toolbar-box1 div.b div.b, div#element-box div.section-box div.b div.b
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_br_med.png) 100% 0 no-repeat;
}

div#toolbar-box div.b div.b div.b, div#element-box div.section-box div.b div.b div.b
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_bl_med.png) 0 0 no-repeat;
}
div#toolbar-box1 div.b div.b div.b, div#element-box div.section-box div.b div.b div.b
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_bl_med.png) 0 0 no-repeat;
}

div#element-box div.t
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_border.png) 0 0 repeat-x;
}
div#element-box1 div.t
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_border.png) 0 0 repeat-x;
}

div#element-box div.t1
{
    background: url(../Content/themes/base/images/j_border1.png) 0 0 repeat-x;
}

div#element-box1 div.t1
{
    background: url(../Content/themes/base/images/j_border1.png) 0 0 repeat-x;
}

div#element-box div.t div.t
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_tr_light.png) 100% 0 no-repeat;
}

div#element-box1 div.t div.t
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_tr_light.png) 100% 0 no-repeat;
}
div#element-box div.t div.t div.t
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_tl_light.png) 0 0 no-repeat;
}

div#element-box1 div.t div.t div.t
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_tl_light.png) 0 0 no-repeat;
}
div#element-box div.b
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_border.png) 0 100% repeat-x;
}
div#element-box1 div.b
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_border.png) 0 100% repeat-x;
}
div#element-box div.b1
{
    background: url(../Content/themes/base/images/j_border1.png) 0 100% repeat-x;
}
div#element-box1 div.b1
{
    background: url(../Content/themes/base/images/j_border1.png) 0 100% repeat-x;
}

div#element-box div.b div.b
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_br_light.png) 100% 0 no-repeat;
}
div#element-box1 div.b div.b
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_br_light.png) 100% 0 no-repeat;
}

div#element-box div.b div.b div.b
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_bl_light.png) 0 0 no-repeat;
}

div#element-box1 div.b div.b div.b
{
    background: url(../Content/themes/base/images/ControlPanel/images/j_crn_bl_light.png) 0 0 no-repeat;
}

/*-------- This section contain compressed Admin.css -------------------*/





.MainBorder
{  
     border-left: 1px solid  #b9b9b9;
    border-right: 1px solid  #b9b9b9;
    border-bottom: 1px solid  #b9b9b9;
      border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.modalBackground
{
    background-color: #C9C9C8;
    filter: alpha(opacity=75);
    opacity: 0.7;
}
#div_Main
{
    width: 100%;
}
input[type="password"]
{
    height: 16px;
    font-size: 12px;
    border: 1px solid #d6d6d6;
    width:220px;
}
.k-animation-container input[type="text"]
{
    height: 22px;
    font-size: 12px;
    width: 220px;
    border: 1px solid #A7D2E4;
    padding: 2px;
}
input[type="text"]
{
    /*height: 16px;*/
    font-size: 12px;
    width: 220px;
    border: 1px solid #d6d6d6;
}

input[type="text"]:Hover
{
    font-size: 12px;
}
input[type="text"]:focus
{
}
select
{
    height: 21px;
    width: 220px;
    border: 1px solid #d6d6d6;
}
.table_Main
{
    width: 100%;
}
.top
{
    background-color: #eeeeee;
    height: 3px;
}
.AdminAddInformation
{
    width: 100%;
    background-color: #F2F7FB;
}
.BlackHeader
{
    width: 100%;
    height: 27px;
    color: #574646;
    background-color:rgb(197, 197, 197);
    font-weight: bold;
    font-size: 14px;
    /*background-image: url('../Content/themes/base/images/strip_black.jpg');*/
    background-repeat: repeat-x;
    padding: 0px 0px 0px 10px;
}
.TextBoxStyle
{
    width: 175px;
    height: 18px;
    border-color: #7F9DB9;
    border-width: 1px;
    border-style: solid;
}
.NoteTextBoxStyle
{
    height: 18px;
    border-color: #7F9DB9;
    border-width: 1px;
    border-style: solid;
    background-color: #ffffe1;
}
.PhoneNumberTextBox
{
    width: 126px;
}
.Extention
{
    width: 30px;
    text-align: center;
}
.RequiredFieldsIndicator
{
    color: #ff0000;
    padding: 0px 0px 0px 2px;
}
.TdReqFld
{
    color: #ff0000;
    text-align: left;
}
input.error
{
    border: solid 1px Red;
}

.progress
{
    width: 99.9%;
    height: 99.9%;
    position: fixed;
    z-index: 900;
    background-color: Black;
    background-image: url(../Content/themes/base/images/ajax-loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    filter: alpha(opacity=80);
    opacity: .80;
    top: 0px;
    left: 0px;
}
.EMprogress
{
    width: 99.9%;
    height: 99.9%;
    position: fixed;
    z-index: 900;
    background-color: Black;
    background-image: url(../Content/themes/base/images/beginsearchbtn_clicked.gif);
    background-position: center;
    background-repeat: no-repeat;
    filter: alpha(opacity=80);
    opacity: .80;
    top: 0px;
    left: 0px;
}

.tr_top
{
    background-image: url('../Content/themes/base/images/strip_top.jpg');
    background-repeat: repeat-x;
}
.RoundOrangeButton .btnLeft
{
    width: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../Content/themes/base/images/btn-org-leftbg.png");
}
.RoundOrangeButton .btnRight
{
    width: 5px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../Content/themes/base/images/btn-org-rightbg.png");
}
.RoundOrangeButton .btnCenter
{
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    text-align: center;
    background-repeat: repeat-x;
    background-position: center center;
    background-image: url("../Content/themes/base/images/btn-org-middlebg.png");
}
.RoundOrangeButton .btnCenter input
{
    color: #ffffff;
    margin: 0px;
    background-color: Transparent;
    cursor: pointer;
    border-style: none;
    font-weight: bold;
    vertical-align: middle;
}
.AdminStrip
{
    width: 100%;
    background-color: Black;
    height: 6px;
}
.AdminHeader
{
    width: 100%;
}
.MasterLink a
{
    text-decoration: none;
    color: Black;
    font-weight: bold;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
}
.MasterLink a:hover
{
    text-decoration: none;
    color: Black;
    font-weight: bold;
    font-size: 12px;
    color: Red;
    padding: 0px 10px 0px 10px;
}
.alt_column
{
    background-color: #D5DBD8;/*#D5DBD8;*/
    text-align: right;
}
.ValidatorStyle
{
    background-image: url('../Content/themes/base/images/images4.png');
    background-repeat: no-repeat;
    padding: 0px 0px 2px 22px;
    font-size: 11px;
}
.ValidatorStyle1
{
    font-size: 11px;
    color: Red;
}
.logo
{
    padding: 10px 0px 5px 10px;
}
.successmsg
{
    font-size: 11px;
    background-position: left;
    background-repeat: no-repeat;
    border: solid 1px #106110;
    color: #3D993D;
    font-weight: bold;
    display: inline-block;
    background-color: #E7FBE7;
    background-image: url('../Content/themes/base/images/tick.png');
    padding: 5px 5px 5px 20px;
}
.infomessage
{
    background-position: left;
    background-repeat: no-repeat;
    border: solid 1px #FAB414;
    color: #9F4C27;
    font-weight: bold;
    display: inline-block;
    font-size: 11px;
    background-image: url('../Content/themes/base/images/infomessage.png');
    background-color: #FBE3A5;
    padding: 5px 5px 5px 20px;
}
.errormsg
{
    background-position: left;
    background-repeat: no-repeat;
    border: solid 1px #BBBBBB;
    color: #FB0F0C;
    font-weight: bold;
    display: inline-block;
    font-size: 11px;
    background-image: url('../Content/themes/base/images/errormsg.png');
    background-color: #F5F5F5;
    padding: 5px 5px 5px 20px;
}
.prdct_Border
{
    background-color: #f9f9f9;
    border-left: 1px solid #b6b6b6;
    border-right: 1px solid #b6b6b6;
    border-bottom: 1px solid #b6b6b6;
}
.ProductsTd
{
    font-weight: bold;
    background-color: #BBBBBB;
    height: 25px;
}
.ProductCategoryHeader
{
    font-weight: bold;
    background-color: #DDDDDD;
    height: 20px;
    padding-left: 20px;
}
.lblpop_Header
{
    font-size: 14px;
    font-weight: 600;
    height: 25px;
}
.star
{
    color: Red;
    text-align: right;
    vertical-align: top;
}
.btn_Search
{
    background-color: #9F9F9F;
    border: 0px;
    color: #ffffff;
    padding-left: 4px;
    padding-right: 4px;
}
.menu_seperator
{
    text-align: center;
    z-index: 100px;
}
.cls_report
{
    font-size: 16px;
    font-weight: bold;
    color: #0B55C4;
}
.ButtonCss
{
    background-color: Black;
    color: White;
    border: solid 1px black;
}
.grid_lnk
{
    color: #000;
    text-decoration: none;
}
.grid_lnk:hover
{
    color: #000;
    text-decoration: underline;
}
#Footer
{
    background-color: #cccccc;
    text-align: center;
    color: #000;
    font-size: 12px;
    vertical-align: middle;
}
#Footer a
{
    text-decoration: none;
    color: #000;
}
#content
{
    vertical-align: top;
    min-height: 350px;
}
.img_utility1
{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
}
.menu_bartop
{
}
.menu_bartop ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu_bartop li
{
    border-right: 2px solid #c0c0c0;
    float: left;
    cursor:pointer;
}
.menu_bartop li span
{
    color: #363636;
    display: block;
    padding: 6px 0px 5px 0px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}
.menu_bartop li span:hover
{
    background-color: #f1eeef;
    color: #363636;
    font-weight: 600;
}
.menu_bartop li ul
{
    display: none;
    height: auto;
    filter: alpha(opacity=95);
    opacity: 0.95;
    position: absolute;
    border-left: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
}
.menu_bartop li:hover ul
{
    display: none;
}
.menu_bartop li ul a
{
    display: block;
    color: Black;
    text-decoration: none;
    font-size: 10px;
    font-style: normal;
    line-height: 20px;
    padding: 2px 0px 2px 0px;
    text-align: left;
    font-weight: bold;
}
.menu_bartop li.alerts
{
    float: left;
    width: 86px;
}
.menu_bartop li ul.alertsUL
{
    margin-left: -60px;
    width: 146px;
}
.menu_bartop li li.alertsLI
{
    width: 144px;
}
.menu_bartop li.chat
{
    float: left;
    width: 46px;
    display: none;
}
.menu_bartop li ul.chatUL
{
    margin-left: -70px;
    width: 116px;
}
.menu_bartop li li.chatLI
{
    width: 114px;
}
.menu_bartop li.support
{
    float: left;
    width: 82px;
}
.menu_bartop li ul.supportUL
{
    margin-left: -160px;
    width: 242px;
    background-color: #f1eeef;
    z-index: 1;
}
.menu_bartop li.Logout
{
    display: block;
    padding: 6px 0px 5px 0px;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    width: 66px;
}
.menu_bartop li.Logout:hover
{
    background-color: #f1eeef;
}
#tblSupport tr:hover
{
    background-color: #cccccc;
}
#tblSupport span
{
    font-size: 12px;
    font-weight: bold;
    padding-left: 4px;
}
.support_btmBorder
{
    border-bottom: 1px solid #e5e5e5;
    font-size: 10px;
    font-weight: normal;
}
.tdtxt
{
    font-size: 10px;
    font-weight: normal;
}
.menu_bartop li li.supportLI
{
}
.img_utility
{
    float: left;
    padding-top: 8px;
    padding-left: 2px;
}
.img_utility1
{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
}
.img_user
{
    padding-top: 3px;
}
#tabsDemo2
{
    float: left;
    padding-bottom: 0px;
    margin: 0;
    padding-left: 0px;
}
#tabsDemo2 li
{
    display: inline;
}
#tabsDemo2 a
{
    float: left;
    position: relative;
    padding-left: 3px;
    margin-top:2px;
    margin-right: 11px;
    text-decoration: none;
    color: #000;
    height: 27px;
    background: url(../Content/themes/base/images/redBtn.png) 0 0 no-repeat;
    width: auto;
    padding-top: 8px;
    font-weight: bold;
    font-size: 11px;
    top: 0px;
}
#tabsDemo2 a span
{
    position: absolute;
    top: 0;
    left: 100%;
    width: 7px;
    height: 27px;
    background: url(../Content/themes/base/images/redBtn.png) -505px 0 no-repeat;
}
#tabsDemo2 a:active, #tabsDemo2 a:focus, #tabsDemo2 a:hover
{
    color: #0b55c4;
    background-position: 0 -34px;
}
#tabsDemo2 a:active span, #tabsDemo2 a:focus span, #tabsDemo2 a:hover span
{
    background-position: -505px -34px;
}
#tabsDemo2 .current a
{
    color: #0b55c4;
    background-position: 0 -67px;
}
#tabsDemo2 .current a span
{
    background-position: -505px -68px;
}
#tabsDemo1
{
    float: left;
    padding-bottom: 0px;
    margin: 0;
    padding-left: 0px;
}
#tabsDemo1 li
{
    display: inline;
}
#tabsDemo1 a
{
    float: left;
    position: relative;
    padding-left: 3px;
    margin-right: 7px;
    text-decoration: none;
    color: #000;
    height: 19px;
    background: url(../Content/themes/base/images/grey_btnMVC.png) 0 0 no-repeat;
    width: auto;
    padding-top: 8px;
    font-weight: bold;
    font-size: 11px;
    top: 0px;
}
#tabsDemo1 a span
{
    position: absolute;
    top: 0;
    left: 100%;
    width: 7px;
    height: 27px;
    background: url(../Content/themes/base/images/grey_btnMVC.png) -505px 0 no-repeat;
}
#tabsDemo1 a:active, #tabsDemo1 a:focus, #tabsDemo1 a:hover
{
    color: #0b55c4;
    background-position: 0 -34px;
}
#tabsDemo1 a:active span, #tabsDemo1 a:focus span, #tabsDemo1 a:hover span
{
    background-position: -505px -34px;
}

/*
#tabsDemo1 .current a
{
    color: #0b55c4;
    background-position: 0 -67px;
}*/

#tabsDemo1 .current a {
    color: #fff !important;
    background-position: 0 -67px;
    background-color: #0078BD !important;
}

#tabsDemo1 .current a span
{
    background-position: -506px -68px;
}
#tabsDemo
{
    float: right;
    padding-bottom: 0px;
    margin: 0;
}
#tabsDemo li
{
    display: inline;
}
#tabsDemo a
{
    float: left;
    position: relative;
    padding-left: 3px;
    margin-right: 10px;
    text-decoration: none;
    color: #000;
    height: 19px;
    background: url(../Content/themes/base/images/grey_btnMVC.png) 0 0 no-repeat;
    width: 80px;
    padding-top: 8px;
    font-weight: bold;
    font-size: 11px;
}
#tabsDemo a span
{
    position: absolute;
    top: 0;
    left: 100%;
    width: 7px;
    height: 27px;
    background: url(../Content/themes/base/images/grey_btnMVC.png) -505px 0 no-repeat;
}
#tabsDemo a:active, #tabsDemo a:focus, #tabsDemo a:hover
{
    color: #0b55c4;
    background-position: 0 -34px;
}
#tabsDemo a:active span, #tabsDemo a:focus span, #tabsDemo a:hover span
{
    background-position: -505px -34px;
}
#tabsDemo .current a
{
    color: #0b55c4;
    background-position: 0 -67px;
}
#tabsDemo .current a span
{
    background-position: -506px -68px;
}
.lft_Img
{
    background-image: url('../Content/themes/base/images/left_corner.png');
    background-repeat: no-repeat;
    width: 9px;
}
.rgt_Img
{
    background-image: url('../Content/themes/base/images/right_corner.png');
    background-repeat: no-repeat;
    width: 9px;
}
.Center_Img
{
    background-image: url('../Content/themes/base/images/centerbg.png');
    background-repeat: repeat-x;  
    
}
.Center_ImgMVC
{
    /*background-image: url('../Content/themes/base/images/centerbg.png');
    background-repeat: repeat-x;*/
   
    background-color:#cccccc;
    padding: 0px;
    border: 1px solid #979797;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
   
    background-image: url("../Content/textures/highlight.png");
    background-position: 0 center;
    background-position-y: center;
}
.Center_Img_Office
{
    background-image: url('../Content/themes/base/images/salescenterbg.png');
    background-repeat: repeat-x;
}
.left_BorderImg_Office
{
    background: url(../Content/themes/base/images/salesleft_corner.png);
    width: 9px;
    height: 36px;
    float: left;
}
.right_BorderImg_Office
{
    background: url(../Content/themes/base/images/salesright_corner.png);
    width: 9px;
    height: 36px;
    float: right;
}
.cls_btn
{
    width: 43px;
}
.prCode
{
    font-size: 11px;
    font-weight: bold;
}
.prName
{
    font-size: 11px;
    font-weight: normal;
}
.divalerts
{
    position: absolute;
    float: left;
    width: auto;
    height: auto;
    border-left: solid 2px #c0c0c0;
    border-right: solid 2px #c0c0c0;
    border-bottom: solid 2px #c0c0c0;
    display: none;
    z-index: 2;
    margin-left: -166px;
}
.divalerts_Text
{
    text-transform: uppercase;
}
.GridRowtop
{
    background-color: #ffffff;
    height: 20px;
    color: Black;
    text-align: left;
    font-size: 9pt;
    padding-left: 5px;
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;
}
.GridRowtop:hover
{
    height: 20px;
    color: Black;
    text-align: left;
    font-size: 9pt;
    padding-left: 5px;
    background-color: #cccccc;
    cursor: pointer;
}
.fontstyle
{
    text-transform: capitalize;
}
.email
{
    text-transform: lowercase;
}
.lbl_viewreport_bottom
{
    font-size: 12px;
    font-weight: bold;
}
.lbl_viewreport_bottom_alt
{
    font-size: 12px;
}
.MinHeight
{
    height: 300px;
}
#Pending_message
{
    width: 100%;
    font-size: 12px;
    padding-top: 5px;
}
#Pending_Message_Hr
{
    width: 112px;
    text-align: left;
    color: Red;
    border-color: Red;
}
.Pending_Message_Separator
{
    color: black;
}
.Pending_Message_Link a
{
    text-decoration: none;
}
.Pending_Message_Link a:hover
{
    text-decoration: underline;
}

/*------------------jquery.humanity.ui----------------------*/

.ui-helper-hidden
{
    display: none;
}
.ui-helper-hidden-accessible
{
    position: absolute;
    left: -99999999px;
}
.ui-helper-reset
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
.ui-helper-clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.ui-helper-clearfix
{
    display: inline-block;
}
* html .ui-helper-clearfix
{
    height: 1%;
}
.ui-helper-clearfix
{
    display: block;
}
.ui-helper-zfix
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0);
}
.ui-state-disabled
{
    cursor: default !important;
}
.ui-icon
{
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
.ui-widget-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ui-widget
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
}
.ui-widget-content
{
    margin-left: 0px;
    border: 0px solid #e0cfc2;
    background-color: #f7f7f7;
    color: #1e1b1d;
}
.ui-widget-content a
{
    color: #1e1b1d;
}
.ui-widget-header
{
    border: 1px solid #d49768;
    background: #cb842e url(../Content/themes/base/images/tabs/images/ui-bg_glass_25_cb842e_1x400.png) 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;
}
.ui-widget-header a
{
    color: #ffffff;
}
.ui-state-default, .ui-widget-content .ui-state-default
{
    border: 1px solid #cdc3b7;
    background: #ededed url(../Content/themes/base/images/tabs/images/lite_grey.jpg) 50% 50% repeat-x;
    font-weight: normal;
    color: #0B55C4;
    outline: none;
}
.ui-state-default:Hover, .ui-widget-content:Hover .ui-state-default:Hover
{
    border: 1px solid #DCDCDC;
    background: #E4E4E4 url(../Content/themes/base/images/tabs/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #000;
    outline: none;
}
.ui-state-default:focus, .ui-widget-content:focus .ui-state-default:focus
{
    border: 1px solid #e0cfc2;
    background: #f4f0ec url(../Content/themes/base/images/tabs/images/ui-bg_highlight-hard_100_f4f0ec_1x100.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #a46313;
    outline: none;
}
.ui-state-default:active, .ui-widget-content:active .ui-state-default:active
{
    border: 1px solid #e0cfc2;
    background: #eeeeee url(../Content/themes/base/images/tabs/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #000;
    outline: none;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited
{
    color: #3f3731;
    text-decoration: none;
    outline: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus
{
    border: 1px solid #f5ad66;
    background: #f5f0e5 url(../Content/themes/base/images/tabs/images/ui-bg_glass_100_f5f0e5_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #a46313;
    outline: none;
}
.ui-state-hover a, .ui-state-hover a:hover
{
    color: #a46313;
    text-decoration: none;
    outline: none;
}
.ui-state-active, .ui-widget-content .ui-state-active
{
    border: 1px solid #e0cfc2;
    background: #f4f0ec url(../Content/themes/base/images/tabs/images/ui-bg_highlight-hard_100_f4f0ec_1x100.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #b85700;
    outline: none;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
{
    color: #b85700;
    outline: none;
    text-decoration: none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight
{
    border: 1px solid #d9bb73;
    background: #f5f5b5 url(../Content/themes/base/images/tabs/images/ui-bg_highlight-hard_75_f5f5b5_1x100.png) 50% top repeat-x;
    color: #060200;
}
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a
{
    color: #060200;
}
.ui-state-error, .ui-widget-content .ui-state-error
{
    border: 1px solid #f8893f;
    background: #fee4bd url(../Content/themes/base/images/tabs/images/ui-bg_highlight-hard_65_fee4bd_1x100.png) 50% top repeat-x;
    color: #592003;
}
.ui-state-error a, .ui-widget-content .ui-state-error a
{
    color: #592003;
}
.ui-state-error-text, .ui-widget-content .ui-state-error-text
{
    color: #592003;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled
{
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none;
}
.ui-priority-primary, .ui-widget-content .ui-priority-primary
{
    font-weight: bold;
}
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary
{
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal;
}
.ui-icon
{
    width: 16px;
    height: 16px;
    background-image: url(../Content/themes/base/images/tabs/images/ui-icons_c47a23_256x240.png);
}
.ui-widget-content .ui-icon
{
    background-image: url(../Content/themes/base/images/tabs/images/ui-icons_c47a23_256x240.png);
}
.ui-widget-header .ui-icon
{
    background-image: url(../Content/themes/base/images/tabs/images/ui-icons_ffffff_256x240.png);
}
.ui-state-default .ui-icon
{
    background-image: url(../Content/themes/base/images/tabs/images/ui-icons_f08000_256x240.png);
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon
{
    background-image: url(../Content/themes/base/images/tabs/images/ui-icons_f08000_256x240.png);
}
.ui-state-active .ui-icon
{
    background-image: url(../Content/themes/base/images/tabs/images/ui-icons_f35f07_256x240.png);
}
.ui-state-highlight .ui-icon
{
    background-image: url(../Content/themes/base/images/tabs/images/ui-icons_cb672b_256x240.png);
}
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon
{
    background-image: url(../Content/themes/base/images/tabs/images/ui-icons_ff7519_256x240.png);
}
.ui-icon-carat-1-n
{
    background-position: 0 0;
}
.ui-icon-carat-1-ne
{
    background-position: -16px 0;
}
.ui-icon-carat-1-e
{
    background-position: -32px 0;
}
.ui-icon-carat-1-se
{
    background-position: -48px 0;
}
.ui-icon-carat-1-s
{
    background-position: -64px 0;
}
.ui-icon-carat-1-sw
{
    background-position: -80px 0;
}
.ui-icon-carat-1-w
{
    background-position: -96px 0;
}
.ui-icon-carat-1-nw
{
    background-position: -112px 0;
}
.ui-icon-carat-2-n-s
{
    background-position: -128px 0;
}
.ui-icon-carat-2-e-w
{
    background-position: -144px 0;
}
.ui-icon-triangle-1-n
{
    background-position: 0 -16px;
}
.ui-icon-triangle-1-ne
{
    background-position: -16px -16px;
}
.ui-icon-triangle-1-e
{
    background-position: -32px -16px;
}
.ui-icon-triangle-1-se
{
    background-position: -48px -16px;
}
.ui-icon-triangle-1-s
{
    background-position: -64px -16px;
}
.ui-icon-triangle-1-sw
{
    background-position: -80px -16px;
}
.ui-icon-triangle-1-w
{
    background-position: -96px -16px;
}
.ui-icon-triangle-1-nw
{
    background-position: -112px -16px;
}
.ui-icon-triangle-2-n-s
{
    background-position: -128px -16px;
}
.ui-icon-triangle-2-e-w
{
    background-position: -144px -16px;
}
.ui-icon-arrow-1-n
{
    background-position: 0 -32px;
}
.ui-icon-arrow-1-ne
{
    background-position: -16px -32px;
}
.ui-icon-arrow-1-e
{
    background-position: -32px -32px;
}
.ui-icon-arrow-1-se
{
    background-position: -48px -32px;
}
.ui-icon-arrow-1-s
{
    background-position: -64px -32px;
}
.ui-icon-arrow-1-sw
{
    background-position: -80px -32px;
}
.ui-icon-arrow-1-w
{
    background-position: -96px -32px;
}
.ui-icon-arrow-1-nw
{
    background-position: -112px -32px;
}
.ui-icon-arrow-2-n-s
{
    background-position: -128px -32px;
}
.ui-icon-arrow-2-ne-sw
{
    background-position: -144px -32px;
}
.ui-icon-arrow-2-e-w
{
    background-position: -160px -32px;
}
.ui-icon-arrow-2-se-nw
{
    background-position: -176px -32px;
}
.ui-icon-arrowstop-1-n
{
    background-position: -192px -32px;
}
.ui-icon-arrowstop-1-e
{
    background-position: -208px -32px;
}
.ui-icon-arrowstop-1-s
{
    background-position: -224px -32px;
}
.ui-icon-arrowstop-1-w
{
    background-position: -240px -32px;
}
.ui-icon-arrowthick-1-n
{
    background-position: 0 -48px;
}
.ui-icon-arrowthick-1-ne
{
    background-position: -16px -48px;
}
.ui-icon-arrowthick-1-e
{
    background-position: -32px -48px;
}
.ui-icon-arrowthick-1-se
{
    background-position: -48px -48px;
}
.ui-icon-arrowthick-1-s
{
    background-position: -64px -48px;
}
.ui-icon-arrowthick-1-sw
{
    background-position: -80px -48px;
}
.ui-icon-arrowthick-1-w
{
    background-position: -96px -48px;
}
.ui-icon-arrowthick-1-nw
{
    background-position: -112px -48px;
}
.ui-icon-arrowthick-2-n-s
{
    background-position: -128px -48px;
}
.ui-icon-arrowthick-2-ne-sw
{
    background-position: -144px -48px;
}
.ui-icon-arrowthick-2-e-w
{
    background-position: -160px -48px;
}
.ui-icon-arrowthick-2-se-nw
{
    background-position: -176px -48px;
}
.ui-icon-arrowthickstop-1-n
{
    background-position: -192px -48px;
}
.ui-icon-arrowthickstop-1-e
{
    background-position: -208px -48px;
}
.ui-icon-arrowthickstop-1-s
{
    background-position: -224px -48px;
}
.ui-icon-arrowthickstop-1-w
{
    background-position: -240px -48px;
}
.ui-icon-arrowreturnthick-1-w
{
    background-position: 0 -64px;
}
.ui-icon-arrowreturnthick-1-n
{
    background-position: -16px -64px;
}
.ui-icon-arrowreturnthick-1-e
{
    background-position: -32px -64px;
}
.ui-icon-arrowreturnthick-1-s
{
    background-position: -48px -64px;
}
.ui-icon-arrowreturn-1-w
{
    background-position: -64px -64px;
}
.ui-icon-arrowreturn-1-n
{
    background-position: -80px -64px;
}
.ui-icon-arrowreturn-1-e
{
    background-position: -96px -64px;
}
.ui-icon-arrowreturn-1-s
{
    background-position: -112px -64px;
}
.ui-icon-arrowrefresh-1-w
{
    background-position: -128px -64px;
}
.ui-icon-arrowrefresh-1-n
{
    background-position: -144px -64px;
}
.ui-icon-arrowrefresh-1-e
{
    background-position: -160px -64px;
}
.ui-icon-arrowrefresh-1-s
{
    background-position: -176px -64px;
}
.ui-icon-arrow-4
{
    background-position: 0 -80px;
}
.ui-icon-arrow-4-diag
{
    background-position: -16px -80px;
}
.ui-icon-extlink
{
    background-position: -32px -80px;
}
.ui-icon-newwin
{
    background-position: -48px -80px;
}
.ui-icon-refresh
{
    background-position: -64px -80px;
}
.ui-icon-shuffle
{
    background-position: -80px -80px;
}
.ui-icon-transfer-e-w
{
    background-position: -96px -80px;
}
.ui-icon-transferthick-e-w
{
    background-position: -112px -80px;
}
.ui-icon-folder-collapsed
{
    background-position: 0 -96px;
}
.ui-icon-folder-open
{
    background-position: -16px -96px;
}
.ui-icon-document
{
    background-position: -32px -96px;
}
.ui-icon-document-b
{
    background-position: -48px -96px;
}
.ui-icon-note
{
    background-position: -64px -96px;
}
.ui-icon-mail-closed
{
    background-position: -80px -96px;
}
.ui-icon-mail-open
{
    background-position: -96px -96px;
}
.ui-icon-suitcase
{
    background-position: -112px -96px;
}
.ui-icon-comment
{
    background-position: -128px -96px;
}
.ui-icon-person
{
    background-position: -144px -96px;
}
.ui-icon-print
{
    background-position: -160px -96px;
}
.ui-icon-trash
{
    background-position: -176px -96px;
}
.ui-icon-locked
{
    background-position: -192px -96px;
}
.ui-icon-unlocked
{
    background-position: -208px -96px;
}
.ui-icon-bookmark
{
    background-position: -224px -96px;
}
.ui-icon-tag
{
    background-position: -240px -96px;
}
.ui-icon-home
{
    background-position: 0 -112px;
}
.ui-icon-flag
{
    background-position: -16px -112px;
}
.ui-icon-calendar
{
    background-position: -32px -112px;
}
.ui-icon-cart
{
    background-position: -48px -112px;
}
.ui-icon-pencil
{
    background-position: -64px -112px;
}
.ui-icon-clock
{
    background-position: -80px -112px;
}
.ui-icon-disk
{
    background-position: -96px -112px;
}
.ui-icon-calculator
{
    background-position: -112px -112px;
}
.ui-icon-zoomin
{
    background-position: -128px -112px;
}
.ui-icon-zoomout
{
    background-position: -144px -112px;
}
.ui-icon-search
{
    background-position: -160px -112px;
}
.ui-icon-wrench
{
    background-position: -176px -112px;
}
.ui-icon-gear
{
    background-position: -192px -112px;
}
.ui-icon-heart
{
    background-position: -208px -112px;
}
.ui-icon-star
{
    background-position: -224px -112px;
}
.ui-icon-link
{
    background-position: -240px -112px;
}
.ui-icon-cancel
{
    background-position: 0 -128px;
}
.ui-icon-plus
{
    background-position: -16px -128px;
}
.ui-icon-plusthick
{
    background-position: -32px -128px;
}
.ui-icon-minus
{
    background-position: -48px -128px;
}
.ui-icon-minusthick
{
    background-position: -64px -128px;
}
.ui-icon-close
{
    background-position: -80px -128px;
}
.ui-icon-closethick
{
    background-position: -96px -128px;
}
.ui-icon-key
{
    background-position: -112px -128px;
}
.ui-icon-lightbulb
{
    background-position: -128px -128px;
}
.ui-icon-scissors
{
    background-position: -144px -128px;
}
.ui-icon-clipboard
{
    background-position: -160px -128px;
}
.ui-icon-copy
{
    background-position: -176px -128px;
}
.ui-icon-contact
{
    background-position: -192px -128px;
}
.ui-icon-image
{
    background-position: -208px -128px;
}
.ui-icon-video
{
    background-position: -224px -128px;
}
.ui-icon-script
{
    background-position: -240px -128px;
}
.ui-icon-alert
{
    background-position: 0 -144px;
}
.ui-icon-info
{
    background-position: -16px -144px;
}
.ui-icon-notice
{
    background-position: -32px -144px;
}
.ui-icon-help
{
    background-position: -48px -144px;
}
.ui-icon-check
{
    background-position: -64px -144px;
}
.ui-icon-bullet
{
    background-position: -80px -144px;
}
.ui-icon-radio-off
{
    background-position: -96px -144px;
}
.ui-icon-radio-on
{
    background-position: -112px -144px;
}
.ui-icon-pin-w
{
    background-position: -128px -144px;
}
.ui-icon-pin-s
{
    background-position: -144px -144px;
}
.ui-icon-play
{
    background-position: 0 -160px;
}
.ui-icon-pause
{
    background-position: -16px -160px;
}
.ui-icon-seek-next
{
    background-position: -32px -160px;
}
.ui-icon-seek-prev
{
    background-position: -48px -160px;
}
.ui-icon-seek-end
{
    background-position: -64px -160px;
}
.ui-icon-seek-first
{
    background-position: -80px -160px;
}
.ui-icon-stop
{
    background-position: -96px -160px;
}
.ui-icon-eject
{
    background-position: -112px -160px;
}
.ui-icon-volume-off
{
    background-position: -128px -160px;
}
.ui-icon-volume-on
{
    background-position: -144px -160px;
}
.ui-icon-power
{
    background-position: 0 -176px;
}
.ui-icon-signal-diag
{
    background-position: -16px -176px;
}
.ui-icon-signal
{
    background-position: -32px -176px;
}
.ui-icon-battery-0
{
    background-position: -48px -176px;
}
.ui-icon-battery-1
{
    background-position: -64px -176px;
}
.ui-icon-battery-2
{
    background-position: -80px -176px;
}
.ui-icon-battery-3
{
    background-position: -96px -176px;
}
.ui-icon-circle-plus
{
    background-position: 0 -192px;
}
.ui-icon-circle-minus
{
    background-position: -16px -192px;
}
.ui-icon-circle-close
{
    background-position: -32px -192px;
}
.ui-icon-circle-triangle-e
{
    background-position: -48px -192px;
}
.ui-icon-circle-triangle-s
{
    background-position: -64px -192px;
}
.ui-icon-circle-triangle-w
{
    background-position: -80px -192px;
}
.ui-icon-circle-triangle-n
{
    background-position: -96px -192px;
}
.ui-icon-circle-arrow-e
{
    background-position: -112px -192px;
}
.ui-icon-circle-arrow-s
{
    background-position: -128px -192px;
}
.ui-icon-circle-arrow-w
{
    background-position: -144px -192px;
}
.ui-icon-circle-arrow-n
{
    background-position: -160px -192px;
}
.ui-icon-circle-zoomin
{
    background-position: -176px -192px;
}
.ui-icon-circle-zoomout
{
    background-position: -192px -192px;
}
.ui-icon-circle-check
{
    background-position: -208px -192px;
}
.ui-icon-circlesmall-plus
{
    background-position: 0 -208px;
}
.ui-icon-circlesmall-minus
{
    background-position: -16px -208px;
}
.ui-icon-circlesmall-close
{
    background-position: -32px -208px;
}
.ui-icon-squaresmall-plus
{
    background-position: -48px -208px;
}
.ui-icon-squaresmall-minus
{
    background-position: -64px -208px;
}
.ui-icon-squaresmall-close
{
    background-position: -80px -208px;
}
.ui-icon-grip-dotted-vertical
{
    background-position: 0 -224px;
}
.ui-icon-grip-dotted-horizontal
{
    background-position: -16px -224px;
}
.ui-icon-grip-solid-vertical
{
    background-position: -32px -224px;
}
.ui-icon-grip-solid-horizontal
{
    background-position: -48px -224px;
}
.ui-icon-gripsmall-diagonal-se
{
    background-position: -64px -224px;
}
.ui-icon-grip-diagonal-se
{
    background-position: -80px -224px;
}
.ui-corner-tl
{
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
}
.ui-corner-tr
{
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
}
.ui-corner-bl
{
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
}
.ui-corner-br
{
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
}
.ui-corner-top
{
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
}
.ui-corner-bottom
{
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
}
.ui-corner-right
{
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
}
.ui-corner-left
{
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
}
.ui-corner-all
{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.ui-widget-overlay
{
    background: #aaaaaa url(../Content/themes/base/images/tabs/images/ui-bg_flat_75_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
}
.ui-widget-shadow
{
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaaaaa url(../Content/themes/base/images/tabs/images/ui-bg_flat_75_aaaaaa_40x100.png) 50% 50% repeat-x;
    opacity: .30;
    filter: Alpha(Opacity=30);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.ui-accordion .ui-accordion-header
{
    cursor: pointer;
    position: relative;
    margin-top: 1px;
    zoom: 1;
}
.ui-accordion .ui-accordion-li-fix
{
    display: inline;
}
.ui-accordion .ui-accordion-header-active
{
    border-bottom: 0 !important;
}
.ui-accordion .ui-accordion-header a
{
    display: block;
    font-size: 1em;
    padding: .5em .5em .5em 2.2em;
}
.ui-accordion .ui-accordion-header .ui-icon
{
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px;
}
.ui-accordion .ui-accordion-content
{
    padding: 0.5em 1.1em;
    border-top: 0;
    margin-top: -2px;
    position: relative;
    top: 1px;
    margin-bottom: 2px;
    overflow: auto;
    display: none;
}
.ui-accordion .ui-accordion-content-active
{
    display: block;
}
.ui-datepicker
{
    width: 17em;
    padding: .2em .2em 0;
}
.ui-datepicker .ui-datepicker-header
{
    position: relative;
    padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next
{
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover
{
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev
{
    left: 2px;
}
.ui-datepicker .ui-datepicker-next
{
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover
{
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover
{
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span
{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title
{
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select
{
    float: left;
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year
{
    width: 100%;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year
{
    width: 49%;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-year
{
    float: right;
}
.ui-datepicker table
{
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.ui-datepicker th
{
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td
{
    border: 0;
    padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a
{
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane
{
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button
{
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current
{
    float: left;
}
.ui-datepicker.ui-datepicker-multi
{
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group
{
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table
{
    width: 95%;
    margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group
{
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group
{
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group
{
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header
{
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header
{
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane
{
    clear: left;
}
.ui-datepicker-row-break
{
    clear: both;
    width: 100%;
}
.ui-datepicker-rtl
{
    direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev
{
    right: 2px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next
{
    left: 2px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover
{
    right: 1px;
    left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover
{
    left: 1px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane
{
    clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button
{
    float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current
{
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group
{
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header
{
    border-right-width: 0;
    border-left-width: 1px;
}
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header
{
    border-right-width: 0;
    border-left-width: 1px;
}
.ui-datepicker-cover
{
    display: none;
    display: block;
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -4px;
    left: -4px;
    width: 200px;
    height: 200px;
}
.ui-dialog
{
    position: relative;
    padding: .2em;
    width: 300px;
}
.ui-dialog .ui-dialog-titlebar
{
    padding: .5em .3em .3em 1em;
    position: relative;
}
.ui-dialog .ui-dialog-title
{
    float: left;
    margin: .1em 0 .2em;
}
.ui-dialog .ui-dialog-titlebar-close
{
    position: absolute;
    right: .3em;
    top: 50%;
    width: 19px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 18px;
}
.ui-dialog .ui-dialog-titlebar-close span
{
    display: block;
    margin: 1px;
}
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus
{
    padding: 0;
}
.ui-dialog .ui-dialog-content
{
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
    zoom: 1;
}
.ui-dialog .ui-dialog-buttonpane
{
    text-align: left;
    border-width: 1px 0 0 0;
    background-image: none;
    margin: .5em 0 0 0;
    padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane button
{
    float: right;
    margin: .5em .4em .5em 0;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    line-height: 1.4em;
    width: auto;
    overflow: visible;
}
.ui-dialog .ui-resizable-se
{
    width: 14px;
    height: 14px;
    right: 3px;
    bottom: 3px;
}
.ui-draggable .ui-dialog-titlebar
{
    cursor: move;
}
.ui-progressbar
{
    height: 2em;
    text-align: left;
}
.ui-progressbar .ui-progressbar-value
{
    margin: -1px;
    height: 100%;
}
.ui-resizable
{
    position: relative;
}
.ui-resizable-handle
{
    position: absolute;
    font-size: 0.1px;
    z-index: 99999;
    display: block;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle
{
    display: none;
}
.ui-resizable-n
{
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0px;
}
.ui-resizable-s
{
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0px;
}
.ui-resizable-e
{
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0px;
    height: 100%;
}
.ui-resizable-w
{
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0px;
    height: 100%;
}
.ui-resizable-se
{
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw
{
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw
{
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne
{
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}
.ui-slider
{
    position: relative;
    text-align: left;
}
.ui-slider .ui-slider-handle
{
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}
.ui-slider .ui-slider-range
{
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
}
.ui-slider-horizontal
{
    height: .8em;
}
.ui-slider-horizontal .ui-slider-handle
{
    top: -.3em;
    margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range
{
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min
{
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max
{
    right: 0;
}
.ui-slider-vertical
{
    width: .8em;
    height: 100px;
}
.ui-slider-vertical .ui-slider-handle
{
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range
{
    left: 0;
    width: 100%;
}
.ui-slider-vertical .ui-slider-range-min
{
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max
{
    top: 0;
}
.ui-tabs
{
    padding: .2em;
    zoom: 1;
}
.ui-tabs .ui-tabs-nav
{
    list-style: none;
    position: relative;
    padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li
{
    position: relative;
    float: left;
    border-bottom-width: 0 !important;
    margin: 0 .2em -1px 0;
    padding: 0;
}
.ui-tabs .ui-tabs-nav li a
{
    float: left;
    text-decoration: none;
    padding: .5em 1em;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected
{
    padding-bottom: 1px;
    border-bottom-width: 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a
{
    cursor: text;
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a
{
    cursor: pointer;
}
.ui-tabs .ui-tabs-panel
{
    padding: 1em 1.4em;
    display: block;
    border-width: 0;
    background: none;
}
.ui-tabs .ui-tabs-hide
{
    display: none !important;
}


/*-------------------CSS Sprite-----------------------*/

.reportHeader
{
    padding: 0px 0px 0px 0px;
    font-size: 22px;
    font-weight: bold;
    color: #0B55C4;
    line-height: 48px;
    margin-left: 10px;
}
.reportHeaderImg
{
    width: 49px;
    height: 49px;
    float: left;
    padding-right: 5px;
    background: url(../Content/themes/base/images/emerge_sprites.png) no-repeat -466px -104px;
}
.emergePoweredImg
{
    width: 281px;
    height: 49px;
    background: url(../Content/themes/base/images/emerge_sprites.png) no-repeat -3px -350px;
}
.left_BorderImg
{
    background: url(../Content/themes/base/images/emerge_sprites.png) no-repeat -408px -250px;
    width: 9px;
    height: 36px;
    float: left;
}
.right_BorderImg
{
    background: url(../Content/themes/base/images/emerge_sprites.png) no-repeat -505px -250px;
    width: 9px;
    height: 36px;
    float: right;
}
.leftTopRptHdrBorder
{
    background: url(../Content/themes/base/images/emerge_sprites.png) no-repeat -416px -124px;
    height: 6px;
    width: 6px;
}
.rightTopRptHdrBorder
{
    background: url(../Content/themes/base/images/emerge_sprites.png) no-repeat -432px -124px;
    height: 60px;
    width: 6px;
    float: right;
}
.leftBottomRptHdrBorder
{
    background: url(../Content/themes/base/images/emerge_sprites.png) no-repeat -416px -134px;
    height: 6px;
    width: 6px;
}
.rightBottomRptHdrBorder
{
    background: url(../Content/themes/base/images/emerge_sprites.png) no-repeat -432px -134px;
    height: 60px;
    width: 6px;
    float: right;
}
.leftTopRptHdrBorderMVC
{
    background: url(../Content/themes/base/images/emerge_spritesMVC.png) no-repeat -416px -124px;
    height: 6px;
    width: 6px;
}
.rightTopRptHdrBorderMVC
{
    background: url(../Content/themes/base/images/emerge_spritesMVC.png) no-repeat -432px -124px;
    height: 60px;
    width: 6px;
    float: right;
}
.leftBottomRptHdrBorderMVC
{
    background: url(../Content/themes/base/images/emerge_spritesMVC.png) no-repeat -416px -134px;
    height: 6px;
    width: 6px;
}
.rightBottomRptHdrBorderMVC
{
    background: url(../Content/themes/base/images/emerge_spritesMVC.png) no-repeat -432px -134px;
    height: 60px;
    width: 6px;
    float: right;
}
.SearchingIcon
{
    background: url(../Content/themes/base/images/emerge_sprites.png) no-repeat -2px -78px;
    height: 20px;
    width: 2px;
}
.SuccessMsg
{
    border: solid 1px #cccccc;
    margin: 3px 3px 3px 3px;
    padding: 20px 10px 3px 10px;
    background-color: #FCFEC5;
    color: Green;
    font-size: 12px;
}
.warningmsg
{
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../Content/themes/base/images/warning.png');
}
.ErrorMsg
{
    border: solid 1px #cccccc;
    margin: 3px 3px 3px 3px;
    padding: 20px 10px 3px 10px;
    background-color: #FBE3A5;
    color: #9F4C27;
    font-size: 12px;
    vertical-align: middle;
}
#nr_mwEMEdit_RtxtSuggestions
{
    margin-left: 38px;
}
#ctl00_mwEMEdit_RtxtSuggestions
{
    margin-left: 38px;
}
#ctl00_ContentPlaceHolder1_mwEMEdit_RtxtSuggestions
{
    margin-left: 38px;
}
/********Bookmark Div*****************/
#tableBookmark
{
    width: 300px;
    border: 1px solid gray;
}
#tableBookmark td
{
    color: #0b5cc7;
    border: 1px solid gray;
    height: 18px;
    font-size: 11px;
    text-align: left;
}
#Div_bookmark
{
    background-color: #E1E1E1;
    border: 2px solid gray;
    display: none;
    height: 500px;
    margin-left: -310px;
    overflow: auto;
    padding: 10px;
    position: absolute;
    width: 330px;
}
/********Bookmark Div*****************/
/********Transfer Div*****************/
#tableTransfer
{
    width: 300px;
}
#tableTransfer td
{
    color: #0b5cc7;
    height: 18px;
    width: auto;
    font-size: 12px;
    text-align: left;
}
#Div_Transfer
{
    background-color: #fbfbfb;
    border: 2px solid gray;
    display: none;
    height: 160px;
    margin-left: -320px;
    overflow: auto;
    padding: 10px;
    position: absolute;
    width: 335px;
}
/********Transfer Div*****************/
/********Move Div*****************/
#tableMove
{
    width: 280px;
}
#tableMove td
{
    color: #0b5cc7;
    height: 18px;
    width: auto;
    font-size: 12px;
    text-align: left;
}
#Div_Move
{
    background-color: #fbfbfb;
    border: 2px solid gray;
    display: none;
    height: 120px;
    margin-left: -300px;
    overflow: auto;
    padding: 10px;
    position: absolute;
    width: 315px;
}
/********Move Div*****************/
/********Reason Div*****************/
#tableReason
{
    width: 280px;
}
#tableReason td
{
    color: #0b5cc7;
    height: 18px;
    width: auto;
    font-size: 12px;
    text-align: left;
}
#Div_Reason
{
    background-color: #fbfbfb;
    border: 2px solid gray;
    display: none;
    height: 125px;
    margin-left: -240px;
    overflow: auto;
    padding: 10px;
    position: absolute;
    width: 315px;
}
/********Reason Div*****************/
.ReviewedArchive
{
    vertical-align: bottom;
    font-size: 14px;
    color: Gray;
    font-family: Lucida Grande,Arial,Helvetica,sans-serif;
}
.ReviewDisclaimer
{
    /*border:2px solid yellow;*/
    background-color: #a0a0a0; /*#e03625*/
    color: #fff;
}
.ReviewNote
{
    font-size: 11px;
    background-color: #FFFFE1;
    border: 1px solid gray;
    padding: 3px;
    margin-bottom: 5px;
    font-family: arial;
}
textarea
{
    border: 1px solid #d6d6d6;
}
.TextBlack
{
    color: #000000;
}


#uControl
{
    padding-top: 10px;
    padding-left: 5px;
}
.progress
{
    width: 99.9%;
    height: 99.9%;
    position: fixed;
    z-index: 900;
    background-color: Black;
    background-image: url(../Content/themes/base/images/ajax-loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    filter: alpha(opacity=80);
    opacity: .80;
    top: 0px;
    left: 0px;
}

#uControl tr
{
    height: 25px;
}
#uControl tr td a
{
    color: #3366d0;
    text-decoration: none;
}
#uControl tr td a:hover
{
    color: #000;
}
#uControl tr td table
{
    /*width:100%;      border:.5pt solid #ababab;       background-color: #e4e4e4;        padding:0px; */
    width: 100%;    
    background-color: #E4E4E4;
    padding: 0px;
    border: 1px solid #ababab;
    border-radius: 5px;
    background-color: #e4e4e4;  
    background-image: url("../Content/textures/highlight.png");
    background-position: 0 center;
    background-position-y: center;
}
.accordianHeaderSelected
{
    color: #3366d0;
    padding-bottom: 3px;
}
.accordianHeaderSelected:hover
{
    color: #000;
}

.accordiancontent
{
    padding-left: 8px;
    padding-bottom: 0px;
}
.text
{
    font-size: 12px;
    color: #3366d0;
    font-family: Lucida Grande,Arial,Helvetica,sans-serif;
    text-align: justify;
}
.modalBackground
{
    background-color: #C9C9C8;
    filter: alpha(opacity=75);
    opacity: 0.7;
}
/*============= Content Style =============*/


.Content_title
{
    color: #005c73;
    font-size: 11px;
    font-weight: bold;
}

.Content_comment
{
    font: 13px arial;
    margin: 0px;
}

.Content_image
{
    display: none;
}

.Content_writtenby
{
    font-weight: bold;
}
.Content
{
    font: 11px Verdana;
    width: 95%;
}


/* Content Style END */

/************************************Emerge Office***************************************/

.LeadHeader
{
    padding: 0px 0px 0px 0px;
    font-size: 22px;
    font-weight: bold;
    color: #0B55C4;
    line-height: 48px;
    margin-left: 10px;
}
.LeadHeaderImg
{
    width: 49px;
    height: 49px;
    float: left;
    padding-right: 5px;
    background: url(../Content/themes/base/images/emerge_sprites.png) no-repeat -466px -104px;
}
.HelpNormal
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: White;
    font-size: 9px;
    color: #00007D;
    padding: 2px 2px 2px 3px;
}

/************************************Emerge Office***************************************/

.liveRunnerIcon
{
    background-color:Red;
}

#tabslocation a {
    background: url("../Content/themes/base/images/grey_btnMVC.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 19px;
    margin-right: 10px;
    padding-left: 17px;
    padding-right: 15px;
    padding-top: 8px;
    position: relative;
    text-decoration: none;
    top: 0;
    width: auto;
}
#tabslocation li {
    display: inline;
}

#tabslocation .current a span {
    background-position: -506px -68px;
}
#tabslocation a span {
    background: url("../Content/themes/base/images/grey_btnMVC.png") no-repeat scroll -505px 0 transparent;
    height: 27px;
    left: 100%;
    position: absolute;
    top: 0;
    width: 7px;
}
#tabslocation .current a {
    background-position: 0 -67px;
    color: #0B55C4;
}

#tabslocation {
    float: left;
    margin: 0;
    padding-bottom: 0;
    padding-left: 15px;
}

#tabslocation a:active, #tabslocation a:focus, #tabslocation a:hover {
    background-position: 0 -34px;
    color: #0B55C4;
}
#tabslocation a:active span, #tabslocation a:focus span, #tabslocation a:hover span {
    background-position: -505px -34px;
}