﻿.MainBorder{border-left:1px solid #b9b9b9;border-right:1px solid #b9b9b9;border-bottom:1px solid #b9b9b9;}
body{height:100%;background-color:#ffffff;font-size:12px;font-family:Lucida Grande,Arial,Helvetica,sans-serif;margin:0px;}
#ctl00_ContentPlaceHolder1_lblPagingmsg{padding:0px 5px 0px 5px;}
#ctl00_ContentPlaceHolder1_lblPagingmsg1{padding:0px 5px 0px 5px;}
#div_Main{width:100%;}
.top{background-color:#eeeeee;height:5px;}
.successmsg{font-size:11px;background-position:left;background-repeat:no-repeat;border:solid 1px #106110;color:#3D993D;font-weight:bold;display:inline-block;background-color:#E7FBE7;background-image:url('../Content/themes/base/images/successmsg.png');padding:5px 5px 5px 20px;}
.BlackHeader{width:100%;height:27px;color:#fff;font-weight:bold;font-size:13px;padding:0px 0px 0px 10px;background-image:url('../Content/themes/base/images/strip_black.jpg');background-repeat:repeat-x;}
.infomessage{background-position:left;background-repeat:no-repeat;border:solid 1px #FAB414;color:#9F4C27;font-weight:bold;display:inline-block;font-size:11px;background-image:url('../Content/themes/base/images/infomessage.png');background-color:#FBE3A5;padding:5px 5px 5px 20px;}
.errormsg{background-position:left;background-repeat:no-repeat;border:solid 1px #BBBBBB;color:#FB0F0C;font-weight:bold;display:inline-block;font-size:11px;background-image:url('../Content/themes/base/images/errormsg.png');background-color:#F5F5F5;padding:5px 5px 5px 20px;}
.errormsgSMALL{background-position:left;background-repeat:no-repeat;border:solid 1px #BBBBBB;color:#FB0F0C;font-weight:bold;display:inline-block;font-size:11px;background-image:url('../Content/themes/base/images/14x14.png');background-color:#F5F5F5;padding:5px 5px 5px 20px;}
.alt_column{background-color:#D5DBD8;text-align:right;}
.star{color:Red;text-align:right;vertical-align:top;}
.ValidatorStyle{background-image:url('../Content/themes/base/images/exclamation_mark1.gif');background-repeat:no-repeat;padding:0px 0px 0px 0px;font-size:11px;}
.ButtonCss{background-color:Black;color:White;border:solid 1px black;}
.progress{width:99.9%;height:99.9%;position:fixed;z-index:900;background-color:Black;background-image:url(../Content/themes/base/images/ajax-loader.gif);background-position:center;background-repeat:no-repeat;filter:alpha(opacity=80);opacity:.80;top:0px;left:0px;}
.progress_FRS{background-image:url(../Content/themes/base/images/FRS_Loader.gif);background-position:center;background-repeat:no-repeat;width:50px;}
.progress_light{width:99.9%;height:99.9%;position:fixed;z-index:900;background-image:url(../Content/themes/base/images/ajax-loader.gif);background-position:center;background-repeat:no-repeat;top:0px;left:0px;}
.login_div_top{width:100%;background-position:right;text-align:right;}
.login_div_middle{clear:both;background-image:url('../Content/themes/base/images/login_bg.gif');background-repeat:repeat-x;vertical-align:middle;height:108px;}
.login_div_bottom{clear:both;width:100%;}
.login_tr{width:100%;height:160px;}
.login_label{color:#DCDCDC;font-size:12px;font-weight:500;}
.login_button{font:11px Verdana,Arial,Helvetica,sans-serif;color:#fff;text-decoration:none;}
.login_button:hover{font:11px Verdana,Arial,Helvetica,sans-serif;color:#E37401;text-decoration:none;}
.RoundRedButton .btnLeft{width:5px;height:26px;background-repeat:no-repeat;background-position:center center;background-image:url("../Content/themes/base/images/btnRed_leftpart.png");}
.RoundRedButton .btnRight{width:5px;background-repeat:no-repeat;background-position:center center;background-image:url("../Content/themes/base/images/btnRed_right.png");}
.RoundRedButton .btnCenter{padding:0px 0px 2px 0px;margin:0px;vertical-align:middle;text-align:center;background-repeat:repeat-x;background-position:center center;background-image:url("../Content/themes/base/images/btnRed_centerpart.png");}
.RoundRedButton .btnCenter input{color:#ffffff;margin:0px;background-color:Transparent;cursor:pointer;border-style:none;font-weight:bold;vertical-align:middle;}
input[type="password"]{width:220px;height:14px;font-size:12px;border:solid 1px #9198A0;}
input[type="text"]{width:220px;height:14px;font-size:12px;border:solid 1px #D6D6D6;}
input[type="text"]:Hover{height:14px;font-size:12px;}
input[type="text"]:focus{}
select{}
#Corporate select{height:20px;font-size:12px;}
select{width:220px;height:21px;}
ul{list-style-image:none;list-style-position:outside;list-style-type:none;margin:0px;padding:0px;}
.IndividualRpt{background-color:#DCDCDC;color:Black;}
.ForHtLoginBox{height:26px;}
#Corporate .ValCorporate{font-size:10px;}
.tr_top{background-image:url('../Content/themes/base/images/strip_top.jpg');background-repeat:repeat-x;}
.TdReqFld{color:#ff0000;text-align:left;}
.frgtPasslnk{color:#e37401;text-decoration:none;}
.frgtPasslnk:hover{text-decoration:underline;}
.Hinttxt{font-size:10px;color:#9E3A40;}
.forget_Text{font-size:12px;}
.forget_Header{background-image:url('../Content/themes/base/images/tab.png');background-repeat:repeat-x;font-size:14px;font-weight:500;color:#000000;height:23px;}
.ModalBackStrip{background-image:url(../Content/themes/base/images/ModalPopupStrip.gif);background-repeat:repeat-x;height:29px;}
.ModalBackStripText{font-size:16px;font-weight:bold;text-align:left;padding:2px 0px 2px 2px;color:#FFFFFF;}
.LeftTdModelPopup{width:100px;text-align:right;}
.modalBackground{background-color:#C9C9C8;filter:alpha(opacity=75);opacity:0.7;}
.form_main_tbl{border-top:1px solid #AAAAAA;border-bottom:1px solid #AAAAAA;border-left:1px solid #AAAAAA;border-right:1px solid #AAAAAA;}
.ModalPopupTable{border:1px solid #696866;background-color:#F0F0F0;margin-left:0px;}
.Text_AdminModalPopup{font-size:11px;padding-left:3px;text-align:left;}
.img_user{padding:7px;}
.menu_seperator{text-align:center;z-index:100px;}
.cls_report{font-size:16px;font-weight:bold;color:#0B55C4;}
#Footer{background-color:#cccccc;text-align:center;vertical-align:middle;color:#000;font-size:12px;height:25px;}
#Footer a{text-decoration:none;color:#000;}
#content{vertical-align:top;min-height:485px;}
.cls_link{color:#fff;font-size:12px;}
.cls_linkSupport{color:#fff;font-size:9px;font-weight:normal;}
.cls_btn{width:43px;}
.menu_bartop{}
.menu_bartop ul{list-style:none;margin:0;padding:0;}
.menu_bartop li{border-right:2px solid #c0c0c0;float:left;}
.menu_bartop li span{color:#363636;display:block;padding:6px 0px 5px 0px;font-size:13px;text-align:center;text-decoration:none;font-weight:600;}
.menu_bartop li span:hover{background-color:#f1eeef;color:#363636;font-weight:600;}
.menu_bartop li ul{display:none;height:auto;filter:alpha(opacity=95);opacity:0.95;position:absolute;border-left:2px solid #c0c0c0;border-bottom:2px solid #c0c0c0;}
.menu_bartop li:hover ul{display:block;}
.menu_bartop li ul a{display:block;color:Black;text-decoration:none;font-size:10px;font-style:normal;line-height:20px;padding:2px 0px 2px 0px;text-align:left;font-weight:bold;}
.menu_bartop li.alerts{float:left;width:86px;}
.menu_bartop li ul.alertsUL{margin-left:-60px;width:146px;}
.menu_bartop li li.alertsLI{width:144px;}
.menu_bartop li.chat{float:left;width:46px;display:none;}
.menu_bartop li ul.chatUL{margin-left:-70px;width:116px;}
.menu_bartop li li.chatLI{width:114px;}
.menu_bartop li.support{float:left;width:66px;}
.menu_bartop li ul.supportUL{margin-left:-176px;width:242px;background-color:#f1eeef;z-index:1;}
.support_btmBorder{border-bottom:1px solid #e5e5e5;font-size:10px;font-weight:normal;}
.menu_bartop li.Logout{display:block;padding:6px 0px 5px 0px;font-size:13px;text-align:center;font-weight:600;width:66px;}
.menu_bartop li.Logout:hover{background-color:#f1eeef;}
#tblSupport{}
#tblSupport tr:hover{background-color:#cccccc;}
#tblSupport span{font-size:12px;font-weight:bold;padding-left:4px;}
.tdtxt{font-size:10px;font-weight:normal;}
.menu_bartop li li.supportLI{}
.menu_bartop li li:hover{}
.img_utility{float:left;padding-top:1px;padding-left:2px;}
.img_utility1{padding-top:0px;padding-left:0px;padding-right:5px;padding-bottom:0px;}
.divalerts{position:absolute;float:left;width:auto;height:auto;border-left:solid 2px #c0c0c0;border-right:solid 2px #c0c0c0;border-bottom:solid 2px #c0c0c0;display:none;z-index:2;margin-left:-166px;}
.divalerts_Text{text-transform:uppercase;}
.GridRowtop{background-color:#f1eeef;height:20px;color:Black;text-align:left;font-size:9pt;padding-left:5px;cursor:pointer;border-bottom:1px solid #e5e5e5;}
.GridRowtop:hover{height:20px;color:Black;text-align:left;font-size:9pt;padding-left:5px;background-color:#cccccc;cursor:pointer;}
#tabsDemo1{float:left;padding-bottom:-1px;}
#tabsDemo1 li{display:inline;}
#tabsDemo1 a{float:left;position:relative;padding-left:3px;margin-right:7px;text-decoration:none;color:#000;height:19px;background:url(../Content/themes/base/images/grey_btn.png) 0 0 no-repeat;width:80px;padding-top:8px;font-weight:bold;font-size:11px;top:0px;left:0px;}
#tabsDemo1 a span{position:absolute;top:0;left:100%;width:7px;height:27px;background:url(../Content/themes/base/images/grey_btn.png) -505px 0 no-repeat;}
#tabsDemo1 a:active, #tabsDemo1 a:focus, #tabsDemo1 a:hover{color:#0b55c4;background-position:0 -30px;}
#tabsDemo1 a:active span, #tabsDemo1 a:focus span, #tabsDemo1 a:hover span{background-position:-505px -30px;}
#tabsDemo1 .current a{color:#0b55c4;background-position:0 -59px;}
#tabsDemo1 .current a span{background-position:-505px -59px;}
#tabsDemo{float:right;padding-bottom:0px;}
#tabsDemo li{display:inline;}
#tabsDemo a{float:left;position:relative;padding-left:3px;margin-right:10px;text-decoration:none;color:#000;height:19px;background:url(../Content/themes/base/images/grey_btn.png) 0 0 no-repeat;width:80px;padding-top:8px;font-weight:bold;font-size:11px;top:0px;left:0px;}
#tabsDemo a span{position:absolute;top:0;left:100%;width:7px;height:27px;background:url(../Content/themes/base/images/grey_btn.png) -505px 0 no-repeat;}
#tabsDemo a:active, #tabsDemo a:focus, #tabsDemo a:hover{color:#0b55c4;background-position:0 -30px;}
#tabsDemo a:active span, #tabsDemo a:focus span, #tabsDemo a:hover span{background-position:-505px -30px;}
#tabsDemo .current a{color:#0b55c4;background-position:0 -59px;}
#tabsDemo .current a span{background-position:-505px -59px;}
.HelpTable{border:solid 1px #cdc3b7;}
.HelpHeader{font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:bold;background-color:#cccccc;font-size:10px;color:#3b55d2;padding-left:3px;}
.HelpNormal{font-family:Verdana, Arial, Helvetica, sans-serif;font-weight:bold;background-color:#ededed;font-size:9px;color:#00007D;padding:2px 2px 2px 3px;}
.term_Condition{color:#000;font-size:11px;text-decoration:none;}
.term_Condition:hover{text-decoration:underline;}
.lft_Img{background-image:url('../Content/themes/base/images/left_corner.png');background-repeat:no-repeat;width:9px;}
.rgt_Img{background-image:url('../Content/themes/base/images/right_corner.png');background-repeat:no-repeat;width:9px;}
.Center_Img{background-image:url('../Content/themes/base/images/centerbg.png');background-repeat:repeat-x;}
.prCode{font-size:11px;font-weight:bold;}
.prName{font-size:11px;font-weight:normal;}
.ProductCategoryHeader{font-weight:bold;background-color:#f0f0f0;height:20px;padding-left:20px;}
.prdct_Border{background-color:#f9f9f9;border-left:1px solid #b6b6b6;border-right:1px solid #b6b6b6;border-bottom:1px solid #e6e6e6;}
.package_Border{border-top:1px dotted #fff;border-bottom:1px dotted #fff;vertical-align:top;}
.product_Border{border-bottom:1px dotted #e6e6e6;}
.fontstyle{text-transform:capitalize;}
.ModalPopUpBackground{filter:alpha(opacity=20);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";opacity:0.2;}
.td_UserInfo{padding:7px;}
.email{text-transform:lowercase;}
.lbl_viewreport_bottom{font-size:12px;font-weight:bold;}
.lbl_viewreport_bottom_alt{font-size:12px;}
#Pending_message{width:100%;font-size:12px;padding-top:5px;}
#Pending_Message_Hr{width:112px;text-align:left;color:Red;}
.Pending_Message_Separator{color:Red;}
.Pending_Message_Link a{text-decoration:none;}
.Pending_Message_Link a:hover{text-decoration:underline;}
.searching_img{width:100%;padding-top:100px;padding-bottom:20px;}
.searchSample{height:240px;width:300px;float:right;padding:0px 150px 50px 80px;}
.searchSampleImg{background:url('../Content/themes/base/images/emerge_sprites.png') no-repeat 0px -105px;height:240px;width:400px;}
.emergePoweredImg{width:281px;height:49px;background:url(../Content/themes/base/images/emerge_sprites.png) no-repeat -3px -350px;}
.left_BorderImg{background:url(../Content/themes/base/images/emerge_sprites.png) no-repeat -408px -250px;width:9px;height:36px;float:left;}
.right_BorderImg{background:url(../Content/themes/base/images/emerge_sprites.png) no-repeat -505px -250px;width:9px;height:36px;float:right;}
.gearImg{background:url(../Content/themes/base/images/emerge_sprites.png) no-repeat -203px -10px;width:78px;height:73px;}
.logoImg{background:url(../Content/themes/base/images/emerge_sprites_logo.png);width:242px;height:290px;}
.logoImg_red{background:url(../Content/themes/base/images/logo_img_red.png) no-repeat;width:242px;height:290px;}
.adminHeaderlLft{background:url(../Content/themes/base/images/emerge_sprites.png) no-repeat -2px -21px;width:172px;height:44px;}
.leftTopRptHdrBorder{background:url(../Content/themes/base/images/emerge_sprites.png) no-repeat -416px -124px;height:6px;width:6px}
.rightTopRptHdrBorder{background:url(../Content/themes/base/images/emerge_sprites.png) no-repeat -432px -124px;height:60px;width:6px;float:right}
.leftBottomRptHdrBorder{background:url(../Content/themes/base/images/emerge_sprites.png) no-repeat -416px -134px;height:6px;width:6px}
.rightBottomRptHdrBorder{background:url(../Content/themes/base/images/emerge_sprites.png) no-repeat -432px -134px;height:60px;width:6px;float:right}
.reportHeader{padding:0px 0px 0px 0px;font-size:22px;font-weight:bold;color:#0B55C4;line-height:48px;margin-left:10px;}
.reportHeaderImg{width:49px;height:49px;float:left;padding-right:5px;background:url(../Content/themes/base/images/emerge_sprites.png) no-repeat -466px -104px;}
.AdminAddInformation{width:100%;background-color:#F2F7FB;}
.prdct_Border{background-color:#f9f9f9;border-left:1px solid #b6b6b6;border-right:1px solid #b6b6b6;border-bottom:1px solid #b6b6b6;}
.ProductsTd{font-weight:bold;background-color:#BBBBBB;height:25px;}
.ProductCategoryHeader{font-weight:bold;background-color:#DDDDDD;height:20px;padding-left:20px;}
.lblpop_Header{font-size:14px;font-weight:600;height:25px;}
.SuccessMsg{border:solid 1px #cccccc;margin:3px 3px 3px 3px;padding:20px 10px 3px 10px;background-color:#FCFEC5;color:Green;font-size:12px;}
.warningmsg{color:#9F6000;background-color:#FEEFB3;background-image:url('../Content/themes/base/images/warning.png');}
.ErrorMsg{border:solid 1px #cccccc;margin:3px 3px 3px 3px;padding:20px 10px 3px 10px;background-color:#FBE3A5;color:#9F4C27;font-size:12px;vertical-align:middle}
#ctl00_ContentPlaceHolder1_mwEMEdit_RtxtSuggestions{margin-left:38px;}
.EMprogress{width:99.9%;height:99.9%;position:fixed;z-index:900;background-color:Black;background-image:url(../Content/themes/base/images/beginsearchbtn_clicked.gif);background-position:center;background-repeat:no-repeat;filter:alpha(opacity=80);opacity:.80;top:0px;left:0px;}
.ReviewDisclaimer{background-color:#e03625;color:#fff;}