.iPhoneCheckContainer
{
    position: relative;
    height: 32px;
    cursor: pointer;
    overflow: hidden;
    margin-top: 15px;
}
.iPhoneCheckContainer input
{
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}
.iPhoneCheckContainer label
{
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue" , Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden;
}
.iPhoneCheckContainer, .iPhoneCheckContainer label
{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.iPhoneCheckDisabled
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

label.iPhoneCheckLabelOn
{
    color: white;
    background: url('../Content/themes/base/images/on.png?1284697268') no-repeat;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    left: 0;
    padding-top: 5px;
}
label.iPhoneCheckLabelOn span
{
    padding-left: 8px;
}
label.iPhoneCheckLabelOff
{
    color: #8b8b8b;
    background: url('../Content/themes/base/images/off.png?1284697268') no-repeat right 0;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    text-align: right;
    right: 0;
}
label.iPhoneCheckLabelOff span
{
    padding-right: 8px;
}

.iPhoneCheckHandle
{
    display: block;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: url(../Content/themes/base/images/slider_left.png?1284697268) no-repeat;
    padding-left: 3px;
    margin-top:5px;
}

.iPhoneCheckHandleRight
{
    height: 100%;
    width: 100%;
    padding-right: 3px;
    background: url('../Content/themes/base/images/slider_right.png?1284697268') no-repeat right 0;
}

.iPhoneCheckHandleCenter
{
    height: 100%;
    width: 100%;
    background: url('../Content/themes/base/images/slider_center.png?1284697268');
}

.iOSCheckContainer
{
    position: relative;
    height: 27px;
    cursor: pointer;
    overflow: hidden;
}
.iOSCheckContainer input
{
    position: absolute;
    top: 5px;
    left: 30px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}
.iOSCheckContainer label
{
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue" , Arial, Helvetica, sans-serif;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    padding-top: 5px;
    overflow: hidden;
}
.iOSCheckContainer, .iOSCheckContainer label
{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

.iOSCheckDisabled
{
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

label.iOSCheckLabelOn
{
    color: white;
    background: url('../Content/themes/base/images/ios-style-checkboxes/on.png?1284697268') no-repeat;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    left: 0;
    padding-top: 5px;
}
label.iOSCheckLabelOn span
{
    padding-left: 8px;
}
label.iOSCheckLabelOff
{
    color: #8b8b8b;
    background: url('../Content/themes/base/images/ios-style-checkboxes/off.png?1284697268') no-repeat right 0;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
    text-align: right;
    right: 0;
}
label.iOSCheckLabelOff span
{
    padding-right: 8px;
}

.iOSCheckHandle
{
    display: block;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: url('../Content/themes/base/images/ios-style-checkboxes/slider_left.png?1284697268') no-repeat;
    padding-left: 3px;
}

.iOSCheckHandleRight
{
    height: 100%;
    width: 100%;
    padding-right: 3px;
    background: url('../Content/themes/base/images/ios-style-checkboxes/slider_right.png?1284697268') no-repeat right 0;
}

.iOSCheckHandleCenter
{
    height: 100%;
    width: 100%;
    background: url('../Content/themes/base/images/ios-style-checkboxes/slider_center.png?1284697268');
}

@-webkit-keyframes myanimation {
  from {
    left: 0%;
  }
  to {
    left: 10%;
  }
}
h1 {
  text-align: center;
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding: 20px 0;
  color: #777;
}

.checkout-wrap {
  color: #444;
  font-family: 'PT Sans Caption', sans-serif;
  margin: 40px auto;
  max-width: 1200px;
  position: relative;
}

ul.checkout-bar li {
  color: #ccc;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 20px 14px 80px;
  position: relative;
}
ul.checkout-bar li:before {
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  background: #ddd;
  border: 2px solid #FFF;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  left: 20px;
  line-height: 37px;
  height: 35px;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  top: 4px;
  width: 35px;
  z-index: 999;
}
ul.checkout-bar li.active {
  color: #8bc53f;
  font-weight: bold;
}
ul.checkout-bar li.active:before {
  background: #8bc53f;
  z-index: 99999;
}
ul.checkout-bar li.visited {
  background: #ECECEC;
  color: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li.visited:before {
  background: #57aed1;
  z-index: 99999;
}
ul.checkout-bar li:nth-child(1):before {
  content: "1";
}
ul.checkout-bar li:nth-child(2):before {
  content: "2";
}
ul.checkout-bar li:nth-child(3):before {
  content: "3";
}
ul.checkout-bar li:nth-child(4):before {
  content: "4";
}
ul.checkout-bar li:nth-child(5):before {
  content: "5";
}
ul.checkout-bar li:nth-child(6):before {
  content: "6";
}
ul.checkout-bar a {
  color: #57aed1;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

@media all and (min-width: 800px)
{
    .checkout-bar li.active:after
    {
        -webkit-animation: myanimation 3s 0;
        background-size: 35px 35px;
        background-color: #8bc53f;
        background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
        background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
        -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
        box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
        content: "";
        height: 15px;
        width: 130%;
        left: 88%;
        position: absolute;
        top: -50px;
        z-index: 0;
    }

    .checkout-wrap
    {
        margin: 80px auto;
    }

    ul.checkout-bar
    {
        -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
        box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
        background-size: 35px 35px;
        background-color: #EcEcEc;
        background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
        background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
        border-radius: 15px;
        height: 15px;
        margin: 0 auto;
        padding: 0;
        position: absolute;
        width: 80%;
    }

        ul.checkout-bar:before
        {
            background-size: 35px 35px;
            background-color: #57aed1;
            background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
            background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
            -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
            box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            content: " ";
            height: 15px;
            left: 0;
            position: absolute;
            width: 35%;
        }

        ul.checkout-bar li
        {
            display: inline-block;
            margin: 50px 0 0;
            padding: 0;
            text-align: center;
            width: 19%;
        }

            ul.checkout-bar li:before
            {
                height: 45px;
                left: 77%;
                line-height: 45px;
                position: absolute;
                top: -65px;
                width: 45px;
                z-index: 99;
            }

            ul.checkout-bar li.visited
            {
                background: none;
            }

                ul.checkout-bar li.visited:after
                {
                    background-size: 35px 35px;
                    background-color: #57aed1;
                    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
                    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
                    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
                    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
                    content: "";
                    height: 15px;
                    left: 100%;
                    position: absolute;
                    top: -50px;
                    width: 100%;
                    z-index: 99;
                }
}